[2019-11-12 11:59] jknack opened #4297 "SelectorManager: Random close error"
I do see some random close errors generated by SelectorManager.

[code]

Response is generated OK, just sometimes got this error on logs (this is the whole stacktrace).

jetty: 9.4.20
jvm: 1.8.0_222-8u222-b10-1ubuntu1~16.04.1-b10

[2019-11-12 13:24] CraigEwert commented on #2340
When I tested the current code, it was the lack of context that caused problems.

At ServletHolder:1261, inside newInstance(), I see this:

[code]

getServletContext() returns a ContextHandler:StaticContext
When you ask it to createServlet on the held class, it logs a warning and returns null.

Moments later, at ServletHolder:657, it tries to call .init on that null servlet, which fails with NPE.

[2019-11-12 14:15] Bradeskojest opened #4298 "PrintWriter or OutputStream in Handlers is very slow"
We have a code that retrieves from the database in `73ms` (776538 bytes), and then writes it to the `PrintWriter` as in the following [Hello Handler example](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/examples/embedded/src/main/java/org/eclipse/jetty/embedded/HelloHandler.java). It spends `14556ms` int `.write()` function which seems excessive.

Is there anything that I am missing o

[2019-11-12 14:29] joakime commented on #4298
The default servlet `PrintWriter` is blocking behavior with squelched exceptions / errors (you have to use `.checkError()` to see if there is a problem after each usage of `PrintWriter`).  That means each write() call must wait for completion before continuing execution, even if the network / connection / socket is saturated and has to wait to actually write in that moment.

If you switch to using

[2019-11-12 14:44] sbordet commented on #4298
@Bradeskojest very likely it's the client that is slow reading.

[2019-11-12 14:54] Bradeskojest commented on #4298
Hi. Thanks. Im not sure what could be going on.

The DB part is already written in `StringJoiner json = new StringJoiner(",", "[", "]");` at the point I measure the time:

1. DB Query + ResultSet scan + write results into StringJoiner = 73ms
2. String temp = stringJoiner.toString() = 1ms
3. (StringWriter) out.write(temp) blocks for the rest = 14556 - 73 -1 ms
That is the gist of the code. There is

[2019-11-12 15:10] Bradeskojest commented on #4298
@sbordet,
So far it looks like it's the client. iOS = 25s for the same query vs Postman = 0.7s. Looks like it had bad LTE connectivity. Once I switched to the same wifi as Postman, the speed is compare-able.

So the solution would be to use `async HttpServletRequest.getOutputStream()`? Is there anything else that could be done on the Jetty side to not get influenced by slow clients so much?

Thank

[2019-11-12 16:04] #4277 closed

[2019-11-12 16:15] joakime commented on #4248
Opened PR #4299

[2019-11-12 16:23] joakime commented on #4296
Opened PR #4300

[2019-11-12 17:26] sbordet opened #4301 "Demand beforeContent is not forwarded"
`Request.onResponseContentDemanded(...)` wraps the given listener but does not forward the default method `onBeforeContent(...)`.

Also, test cases for when `onBeforeContent(...)` does not demand are missing.

[2019-11-12 20:51] #4287 closed

[2019-11-12 21:38] sbordet commented on #4301
Note that this needs to be resolved for https://github.com/jetty-project/jetty-reactive-httpclient.

[2019-11-12 22:34] sbordet commented on #4301
This issue is also related to #4282, also necessary for the reactive HTTP client.

[2019-11-12 23:03] sbordet commented on #4298
Blocked threads on the server are a scalability issue - many connections make request, they all block, you run out of threads, more requests cannot be handled until the others unblock.

Async I/O will help a great deal with (read: solve) this problem.
The async I/O code is more difficult to write, but well worth it.

On the Jetty side we have async I/O APIs in `HttpOutput`, which you can obtain by

[2019-11-12 23:34] e-hubert opened #4303 "Potential regression related to response state handling/committing after update from 9.4.20 to 9.4.22"
Although we did not face any issues during both automated regression testing (all our integration, stress and performance tests passed) as well as manual testing of our platform services after upgrading from Jetty 9.4.20 to 9.4.22 immediately after the first frontend service instances were put into production, we sporadically faced the following two types of likely closely related issues while ser

[2019-11-12 23:51] janbartel commented on #4156
@ofrias thanks for those docs and the info.  I believe I've worked out what the problem could be, and I'm working on a fix.

[2019-11-13 00:05] joakime commented on #4303
Based on this scant information I think your have 2 issues.

1. The `DefaultServlet` / `ResourceService` one is likely handled by PR #4294
2. The `sendError()` issue is definitely related to #3912 but there's not enough of a stacktrace to make any statement on cause.
    It's saying it's unable to send an error because the response is already completed.
    That could be legitimate, as a result of

[2019-11-13 00:06] joakime commented on #4303
Whoop, never mind, branch `jetty-9.4.x-4161-Write-LifeCycleViolation` has just been merged into mainline `jetty-9.4.x` branch a moment ago.

[2019-11-13 00:12] #4279 closed

[2019-11-13 01:07] e-hubert commented on #4303
Thanks for the quick and valuable response @joakime!

The first issue seems to be by far more important than the second one (sendError), which may indeed also be a wrong usage (I have to verify this in detail). It looks like we call response.sendError(404) in a StripesResolution passed to a Stripes DefaultViewActionBean in an overridden implementation of net.sourceforge.stripes.controller.NameBase

[2019-11-13 02:43] janbartel commented on #4156
Created PR #4304

[2019-11-13 03:24] johnshajiang opened #4305 "Jetty server shall alert fatal no_application_protocol if no client application protocol is supported"
Using Jetty 9.4.22.

Jetty server supports application protocols h2 and http/1.1 only.
openssl s_client -CAfile ca -alpn h3 -connect host:port

In this case, Jetty server alerts warning user_canceled.
But according to RFC 7301 section 3.2, the server shall alert fatal no_application_protocol.

[2019-11-13 03:29] joakime commented on #4305
What version of Java?  (Since ALPN is controlled by Java itself, it's important to know what version of Java you are using, as the behaviors are different on each major JVM)
Are you using standard Java Security, or an alternate one (like BouncyCastle or conscrypt)?

How did you set up your Jetty server?
If standalone, what's your `--list-config` look like.
If embedded, describe your `ServerConnect

[2019-11-13 03:51] joakime commented on #4305
Your version of openssl would also need to be one of the very precise versions that support `no_application_protocol` properly.
It's support comes and goes, and is often broken.
See curl issue tracker and the multiple issues filed (and even reopened) against `no_application_protocol` for the full history of this.

Also, the many industry leaders disagree with that section of RFC 7301.
Most of the

[2019-11-13 03:59] johnshajiang commented on #4305
11.0.5

Standard JSSE provider

[code]

[2019-11-13 04:45] #4138 closed

[2019-11-13 04:58] #4216 closed

[2019-11-13 05:04] gregw commented on #4297
Not much we can say about just that stack trace without more background info.
What kind of requests are you serving? Big? Little? Static? Dynamic?  Async? Blocking? OutputStream? Writer? Known Content-Length? Chunked? HTTP/1.0? HTTP/1.1? HTTP/2?
How does your app expect closes? at the end of a request? Was it due to a timeout? Was it initialised by the client?

[2019-11-13 05:05] gregw opened #4306 "Enable issue robot to auto age issues"
We need a bot to send reminders and/or close old issues.

[2019-11-13 05:07] gregw commented on #2340
Ah - so that would be a bug that we have introduced... which I will now fix!
@olamy we definitely need integration testing that fires up all our embedded examples!

[2019-11-13 05:11] johnshajiang commented on #4305
Just tried Jetty 9.3.28 + JDK 8u231. Jetty server alerted `no_application_protocol`.
And in my testing, JSSE in JDK 11.0.5 alerted `no_application_protocol` for this case.

[2019-11-13 05:17] gregw commented on #2340
@olamy ignore me... we do have tests... but perhaps not good enough ones... looking...

[2019-11-13 05:22] gregw commented on #2340
@CraigEwert I actually think this problem is fixed in the latest releases... however I still might tidy this up a little.

[2019-11-13 06:06] lachlan-roberts commented on #4142
fixed with PR #4182

[2019-11-13 06:06] #4142 closed

[2019-11-13 06:21] gregw commented on #2340
created #4307

[2019-11-13 08:15] sbordet commented on #4305
@johnshajiang with Java 8 you are using Jetty's ALPN boot jar, where we have modified the JDK classes to handle ALPN.

One such [modification](https://github.com/jetty-project/jetty-alpn/blob/alpn-project-8.1.13.v20181017/alpn-boot/src/main/java/sun/security/ssl/ServerHandshaker.java#L900) is that we perform the application protocol selection and if an exception is thrown then `no_application_prot

[2019-11-13 09:30] sbordet commented on #4305
@johnshajiang can you try the code in #4309?

[2019-11-13 09:51] travisspencer opened #4310 "Add support for JWT login to OP from OIDC module"
It has come up among our customers that they wish to authenticate to the OP using a JWT instead of a secret. The new OpenID Connect module should support the possibility to authenticate using an asymmetrically or symmetrically signed JWT. When asymmetric, it should be possible to use RSA, RSA-PSS, or EC. The contents of the JWT should follow https://openid.net/specs/openid-connect-core-1_0.html#Cl

[2019-11-13 13:56] davido commented on #4112
@joakime @sbordet Thanks for your help. We are in process to migrate from Jetty continuation to AsyncContext in this CL: [1]. I also uploaded this diff here if this is easier to review: [2].

[1] https://gerrit-review.googlesource.com/c/gerrit/+/245132
[2] http://paste.openstack.org/show/786038

[2019-11-13 15:52] #3863 closed

[2019-11-13 15:54] #4282 closed

[2019-11-13 15:55] joakime commented on #4301
Opened PR #4302

[2019-11-13 15:57] #2709 closed

[2019-11-13 15:58] joakime commented on #2709
PR #4292 is closed

[2019-11-13 15:58] #4305 closed

[2019-11-13 16:54] #4296 closed

[2019-11-13 17:40] TomaszGaweda opened #4311 "maxFormContentSize Server attributes are not being used with Context"
Hi,

I've upgraded maven-jetty-plugin from 9.4.19.v20190610 to the newest release, however sometimes my queries ended with HTTP 400.

I found out, that this version is the latest version that does not ignore `org.eclipse.jetty.server.Request.maxFormContentSize` attribute. Starting from 9.4.20.v20190813, this attribute is ignored.

My jetty.xml:

[code]

I suspect this PR to broke the behaviour: ht

[2019-11-13 19:03] joakime commented on #4311
[code]

That's the DTD for Jetty 7 and Jetty 8.

Use:

[code]

The settings for "Max Form Content Size" belong to the Context (a deployed webapp).
This configurable setting also only applies to non-multipart form usages.
The "Max Form Content Size" value is also only enforced once one of the `HttpServletRequest.getParameter*()` methods are called.

If the Request is submitted with `Content-Type: m

[2019-11-13 19:04] e-hubert commented on #4303
Unfortunately I had no time to work on a reproduction today, but I just want to add something I missed initially. Internal clients of our affected services running on Jetty accessing Jetty via an http server as a reverse proxy received an identical number of 502 responses as a result of proxy timeouts giving me more evidence it wasn't a second attempt to commit something, but rather a wrong intern

[2019-11-13 20:12] joakime commented on #4303
The current 9.4.23-SNAPSHOT builds on https://oss.sonatype.org/content/repositories/jetty-snapshots are ready for you to test against.

[2019-11-13 20:41] #4236 closed

[2019-11-13 22:20] #4258 closed

[2019-11-13 22:42] #4301 closed

[2019-11-14 00:00] lachlan-roberts commented on #4120
fixed with e3f31a86a2f91f93f3ef1ea6eb19aea3e6f1730f

[2019-11-14 00:00] #4120 closed

[2019-11-14 01:00] #2340 closed

[2019-11-14 01:06] CraigEwert commented on #2340
@gregw Looks good.  How latest are the releases with this fixed? 10ish? Is that released widely yet?

[2019-11-14 01:16] lachlan-roberts opened #4312 "test failure: jetty-run-forked-mojo-it"
https://jenkins.webtide.net/job/jetty.project/job/jetty-9.4.x/1297/testReport/junit/org.eclipse.jetty.maven.its/jetty-run-forked-mojo-it/Parallel_Stage___Build___Test___JDK11___jetty_run_forked_mojo_it/

[2019-11-14 01:32] johnshajiang commented on #4305
Downloaded the src on 9.4.x, and run`mvn install -DskipTests=true`, but it failed at
[code]

[2019-11-14 02:26] olamy commented on #4305
@johnshajiang is it a fresh clone? if not you should use ` mvn ciean install -DskipTests=true `
please provide more details/stacktrace of your failure

[2019-11-14 02:33] gregw commented on #2340
There will be a 9.4.23 release with this fix in the next week

[2019-11-14 04:04] gregw commented on #4257
The jetty server sends a 408 in only two places:
 - in AbstractProxyServlet when the client request returns a TimeoutException
 - in HttpInput when the minDataRate is not achieved.

I think both of these are valid usages

[2019-11-14 04:04] #4257 closed

[2019-11-14 04:13] gregw commented on #4105
We dispatch more, so we should expect more threads.
Performance is better and we have fixed our shrinking and other issues. I think we are good

[2019-11-14 04:13] #4105 closed

[2019-11-14 05:22] #97 closed

[2019-11-14 05:29] gregw commented on #1200
The PathWatcher has never delivered on it's promise of efficient path scanning, primarily because of too many OS differences.   PR #4239 has improved the Path semantics of the Scanner, so we no longer need to switch to the PathWatcher.

[2019-11-14 05:29] #1200 closed

[2019-11-14 05:30] gregw commented on #1901
#4239 has reworked the Scanner

[2019-11-14 05:30] #1901 closed

[2019-11-14 05:30] #2954 closed

[2019-11-14 05:32] gregw commented on #3974
Can this be closed?

[2019-11-14 05:36] lachlan-roberts commented on #3974
@gregw No the test is still disabled, and has not been fixed yet.

[2019-11-14 07:56] johnshajiang commented on #4305
Just tried it again, and no problem raised this time.
Maybe some problem raised when downloaded some dependencies last time.

And this fix works for me, thanks!

[2019-11-14 08:02] sbordet commented on #4305
@johnshajiang thanks for the feedback!

[2019-11-14 10:17] Bradeskojest commented on #4298
Ok, Thank you! Will implement it this way. Closing this issue, since the problem was identified and there is a solution in the comments.

[2019-11-14 10:17] #4298 closed

[2019-11-14 13:30] jknack commented on #4297
Little (14 bytes), I don't set content-length bc Jetty does it in this case.

Issue is generated randomly while using the async version of HttpOutput.sendContent:

[code]

The callback checks for non-null exceptions and log them:

[code]

NOTE: The blocking version `sendContent(data)` doesn't generate this error.

Async or blocking version the response in both cases are received OK by client, just

[2019-11-14 15:42] #4248 closed

[2019-11-14 17:59] sbordet commented on #1743
I like in general the current status of the new implementation behind this issue.

My notes:

1. Make `https` configuration simpler and via `pom.xml` rather than external XML.
Given HTTP/2, it would not be uncommon to want to try HTTP/2 and an external XML file seems too much of a burden.

1. Mixed feelings about `loginServices`, as it seems to me (very) advanced configuration that requires extern

[2019-11-14 18:10] joakime commented on #1743
What do you mean by "plugin" in this context

I agree, overlay is handled better by existing plugins.

Can the proposed Java 11 APIs be used to handle proper Jetty shutdown?
What about graceful shutdown testing?
If the answer isn't a resounding "Yes", then we need `jetty:stop`, as proper (and graceful) shutdown cases are important to many people.

[2019-11-14 18:17] sbordet commented on #1743
I don't think we want graceful shutdown (as in "stop incoming connections + stop incoming requests + wait for all requests to be finished + close connector, selector, pools, server") for the Jetty plugin - it's a dev tool.

AFAIU, we only want a way to stop the forked JVM, which prior to Java 11 could have been difficult for lack of APIs.

[2019-11-14 20:37] jspechts commented on #4279
We checked out and built #4288 and ran our automation test suite against it. We are not seeing the deadlock issue anymore. Thanks for the quick fix!

[2019-11-14 20:52] joakime commented on #4279
Thanks for the followup @jspechts

[2019-11-14 20:54] janbartel opened #4313 "alt-formats build for jetty-documentation does not work"
**10.0.x**

The profile for alt-formats is broken on jetty-10.0.x. Here's the stacktrace:

Downloaded from central: https://repo.maven.apache.org/maven2/org/jruby/jruby-complete/1.7.27/jruby-complete-1.7.27.jar (25 MB at 1.3 MB/s)
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.jruby.util.io.ChannelDescriptor (file:/home/janb/.m2/repository/or

[2019-11-15 00:14] garan82 opened #4314 "Jetty server socket implementation for sync/ack"
**Jetty version**
9.4.18.v20190429

**Java version**
1.8

**Question**
I'm using dropwizard (with jetty) to build rest APIs. I ran into some issue where server has many open sockets, specifically its receives SYNC and sends SYNC_ACK but never got ACK from clients. I want to add more debug log around that logic but couldn't find that implementation in Jetty, can someone please point me to the right

[2019-11-15 00:40] garan82 commented on #4314
Also, is it possible to retrieve all open server sockets in Jetty as well as their states?

[2019-11-15 03:32] lachlan-roberts opened #4315 "Jetty-10 WebSocketSession stopped twice by SessionTracker"
`SessionTracker.doStop()` stops all the active Sessions, this initiates a `SHUTDOWN` close on the session which will call `SessionTracker.onWebSocketSessionClosed()` when it is done and this will also try to stop the Session.

[2019-11-15 07:18] sbordet commented on #4314
@garan82 it's the OS that sends `SYN` and `ACK`, so the JVM and Jetty have no control on that.

If the client sends a `SYN` but not the `ACK`, it's quite likely an attack known as [`SYN` flooding](https://en.wikipedia.org/wiki/SYN_flood).

There is no way to debug further this from Java, you have to rely on network traces or other OS tools.

You can dump all _connected_ sockets and their Jetty sta

[2019-11-15 18:50] lglowania opened #4317 "EventSource does not work with GzipHandler"
**Jetty version**
9.4.22.v20191022
**Java version**
11
**OS type/version**
Ubuntu
**Description**
When you enable gzip-module, the EventSource-mechanism does not work. Chrome and FF simply don't receive events. Hard to find the problem. As they send 'accept-encoding: gzip', i think it should be possible to make it work with gzip? But for now it would be better to make `text/event-stream` default-e

[2019-11-15 21:11] joakime commented on #4317
Interesting.

Have you captured the traffic with Wireshark to see if it's a flush issue or a decompression issue?

[2019-11-15 21:40] lglowania commented on #4317
I tried that now, but my Wireshark-skills are not good enough.

[2019-11-16 00:19] sbordet opened #4318 "Review HTTP/2 DATA frame queueing"
**Jetty version**
10.0.0

**Java version**
11

**Description**
With the resolution of #3951, `HTTP2Stream` now queues `DATA` frames up to the flow control window size, and delivers them to listeners only if there is demand.

Before #3951, `HTTP2Stream` was delivering `DATA` frames to listeners immediately, so the queuing was happening in 2 places: either `HttpInput` for normal HTTP requests, or `H

[2019-11-16 01:38] gregw commented on #4318
Correct, the queueing in HttpInput is only there for H2 so if it is not needed, we can probably substantially simplify HttpInput.

For h1, there is a produce API mechanism that could be adapted to take from a queue?

[2019-11-16 06:21] garan82 commented on #4314
Thank you.

[2019-11-16 06:21] #4314 closed, assigned to nobody

[2019-11-17 14:33] zcs100 commented on #2882
i encounter same question,can i resolve it?

[2019-11-17 14:35] zcs100 commented on #2882
version: 9.4.14
[code]

[2019-11-17 14:44] joakime commented on #2882
@zcs100 we need a reproduction case, as we are unable to reproduce.
Can you provide one?

[2019-11-17 15:02] zcs100 opened #4319 "Inflater has been closed"
**Jetty version**
9.4.14.v20181114
**Java version**
java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

we use websocket implement of jetty. The program is well in period. But the server logged out Exception , Please help us to find a workaround to be able to handle this issue correctly.

[code]

[2019-11-17 16:33] joakime commented on #4319
@zcs100 do you have a reproducer?
This has been reported before, and we have been unable to reproduce.

Also, does this still happen on Jetty `9.4.22.v20191022`?

[2019-11-17 22:31] janbartel commented on #4156
@ofrias I've committed a fix to the jetty-9.4.x branch. Can you build and test with in in your environment?  We'd like to make it part of the soon-to-be-released 9.4.23 version, but I'd like some level of assurance that it's been tested in the field first, if possible.

[2019-11-17 23:00] lachlan-roberts commented on #4319
I don't think this will be able to be reproduced in `9.4.22` because of the use of the `InflaterPool`, another Inflater will just be taken from the pool instead of the NPE. But then if we are receiving frames after the `WebSocketSession` is stopped that is an issue.

[2019-11-18 00:08] gregw opened #4321 "Review Graceful shutdown in jetty-10"
Currently jetty-9 has a number of features associated with stopping and graceful shutdown that are somewhat duplicated/orthogonal/confused:
+ All `LifeCycle` objects have the `stop()` method, but `AbstractLifeCycle` objects have a `setStopTimeout` that imposes a maximum time that `stop()` can execute for, however this is not a cumulative time for aggregated LifeCycles!
+ We have a `Graceful` inter

[2019-11-18 00:10] gregw commented on #4321
@sbordet @janbartel @joakime @lachlan-roberts @olamy have a think about this one.... I'm going to ask for some design review before I commit too much code.   Feel free to riff your thoughts here.

[2019-11-18 01:11] gregw commented on #4321
My current thoughts are that we should:

+ remove the stopTimeout from lifecycle.  Only components such as server/context that can initiate a graceful shutdown should have a timeout.   All stop methods that take time should be made brutal so that graceful should be used if graceful is wanted.
+ make an abstracted available mechanism that can apply to connectors, contexts and threadPool.  This shou

[2019-11-18 01:21] janbartel commented on #4155
The osgi bundles has never included any of the 3rd party dependencies, we assume that you will either already have them installed in your environment, or will install them. I'll close this issue.

[2019-11-18 01:21] #4155 closed

[2019-11-18 01:32] gregw commented on #4321
The issue with the above is that the QTP graceful shutdown should not be done until everything else is shutdown, as threads may be needed to do graceful closing handshakes etc.
It is tempting to leave the QTP graceful behaviour in doStop, but that breaks the removal of stopTimeout.

I think the solution is to separate out the `Graceful` API which is something that can be gracefully shutdown from a

[2019-11-18 03:02] zcs100 commented on #4319
The exception appears once in a while  on Jetty 9.4.14.v20181114, I can not find regular patern.
I check log that print many repetitive message in a Session,I don't  know  it is related.
Does this downward compatibility  on Jetty 9.4.22.v20191022 ? I am trying

[2019-11-18 05:34] janbartel commented on #3869
CQ 21112 raised with Eclipse as 7.2 is now final.

[2019-11-18 06:55] lachlan-roberts commented on #4319
@zcs100 If you could get some jetty debug logging around when you get this error it could help work out what is going on.

Yes `9.4.22.v20191022` is backwards compatible for `9.4.14.v20181114`.

[2019-11-18 08:43] ofrias commented on #4156
Thanks a lot for your help.  Unfortunately we cannot use a development build in production so I am afraid we cannot test it on our side yet.  We could test it as soon as 9.4.23 is released (or even with the release candidate if available).

[2019-11-18 09:18] AdrianFarmadin opened #4323 "QOS Filter does not handle IllegalStateException and never releases passes"
**Jetty version**:  jetty-9.4.22.v20191022

**Java version**:
[code]

**OS type/version**: Amazon Linux AMI

**Description**:

I see 160 exceptions like this within the same second:
[code]

Then in an instant the QOS Filter blocks all requests on the communication servlet with 160 threads blocking like this:
[code]

It seems the QOS Filter does not handle the IllegalStateException and never calls

[2019-11-18 10:14] #3869 closed

[2019-11-18 16:20] joakime opened #4325 "Deprecate SniX509ExtendedKeyManager constructor without SslContextFactory$Server"
**Jetty version**
Jetty 9.4.22

**Description**
It's not possible to have a `SniX509ExtendedKeyManager` without a `SslContextFactory$Server`, so the following constructor (where argument 2 is null) should be deprecated in Jetty 9.4.x and removed in Jetty 10.0.x

https://github.com/eclipse/jetty.project/blob/bf2482a7ea55a835788ab4d6ff3643b63b0b0ca8/jetty-util/src/main/java/org/eclipse/jetty/util/ss

[2019-11-18 17:01] joakime commented on #4325
Opened PR #4326

[2019-11-18 22:39] sbordet opened #4327 "NPE in AsyncRestServlet"
**Jetty version**
9.4.23

**Java version**
13.0.1

**OS type/version**
Linux

**Description**
[code]

[2019-11-18 22:43] joakime commented on #4327
This is the line 105 that cause the NPE.

https://github.com/eclipse/jetty.project/blob/8a305438454c36fb0fc0db3447227a75c79ab838/examples/async-rest/async-rest-jar/src/main/java/org/eclipse/jetty/example/asyncrest/AsyncRestServlet.java#L103-L106

[2019-11-19 00:31] gregw commented on #4327
The servlet is not really meant to be hit directly like that... the demo uses the iframes to request it.
But having NPE protection would not be a bad things.

[2019-11-19 00:37] gregw opened #4328 "Classpath test in test servlet spec webapp broken"
**Jetty version**
9.4.23
**Java version**
any
**OS type/version**
any
**Description**

Commit b455b8abcceae586054b09a45f840a10f1e6f3b0 removed the dependency needed by the `com.acme.test.ClassLoaderServlet` test, so the test fails.
The test either needs to be moved to a custom webapp or some other way of testing the class path conditioning setup.

[2019-11-19 01:32] gregw opened #4329 "rewrite prevents URL session tracking."
**Jetty version**
9.4.23
**Java version**
any
**OS type/version**
any
**Description**

The rewrite rules as configured for the demo webapp in a jetty distribution remove URI parameters so that session tracking by URI does not work.
Ideally rewrite should be able to be used without preventing URL session tracking.... even if it has to be a special rule to extract and remember the jsessionid somehow

[2019-11-19 01:35] janbartel opened #4330 "Unneccesary log output from ManagedAttributeListener"
**9.4.23**

Do we actually need the following INFO lines from ManagedAttributeListener? This is from the demo-base test.war:

[code]

[2019-11-19 03:03] joakime commented on #4330
Info logging wasn't meant to be there.
Not sure where it came from.

Fixed earlier today.
See commit 61cbb7529de769dac91f399ad07b3c53206514a0

[2019-11-19 03:03] #4330 closed, assigned to nobody

[2019-11-19 15:12] joakime commented on #4325
Merged.

[2019-11-19 15:12] #4325 closed, assigned to joakime

[2019-11-19 15:26] sbordet opened #4331 "Improve handling of HttpOutput.close() for pending writes"
**Jetty version**
9.4.23
**Java version**
Any
**Description**
Applications, especially reactive ones, may issue a final write and then think they can call `AsyncContext.complete()` without waiting for the write to be complete:

[code]

This does not really respect the Servlet 3.1 Async I/O contract although the matter is underspecified.

Would be better if applications did this:

[code]

That is,

[2019-11-19 16:53] joakime commented on #4328
Opened PR #4332 (with test-distribution test and alternate pom.xml for including jetty-util-9.3.0.RC0 **without** contaminating the rest of the project's dependency convergence)

[2019-11-19 17:18] joakime commented on #4329
I cannot get `/test/session` example to work as expected in any past release of Jetty.

Versions of Jetty tested ...

* 9.4.22.v20191022
* 9.4.21.v20190610
* 9.4.14.v20181114
* 9.3.25.v20180904
* 9.2.27.v20190403
* 9.2.5.v20141112
* 9.1.5.v20140526

This issue is old, and not unique to the staged 9.4.23

[2019-11-19 21:23] gregw commented on #4247
Note that to use sameSite cookies for  the session cookie, you can activate using web.xml (and STRICT/LAX/NONE in the comment):
[code]

[2019-11-19 22:16] gregw commented on #4331
See https://github.com/eclipse-ee4j/servlet-api/issues/273

[2019-11-19 22:26] janbartel commented on #4156
@ofrias 9.4.23 is now released on maven central http://central.maven.org/maven2/org/eclipse/jetty/jetty-distribution/9.4.23.v20191118/

[2019-11-20 03:25] #4128 closed

[2019-11-20 10:43] sbordet commented on #4262
@joakime what's the reason for this?

`WebSocketClient` and `HttpClient` share most if not all configuration, and having a single exception does not seem right.

That `WebSocketClient.setIdleTimeout()` delegates to `HttpClient.setIdleTimeout()` seems correct to me. Why it is not ideal?

[2019-11-20 13:26] joakime commented on #2675
Closing in favor of #4329

[2019-11-20 13:26] #2675 closed

[2019-11-20 14:51] joakime commented on #2884
This was corrected in commit 74dbec4e8d6e64f9c567b38aafaeeb9c2b21bfe0

[2019-11-20 14:51] #2884 closed

[2019-11-20 14:55] joakime commented on #3080
This should be done for Jetty 10.

Some dependencies not yet covered...

**Seen in jetty-server and apache-jsp and test-jetty-webapp**

[code]

The only usages of `<classifier>tests</classifier>` that remain should be those in use by jetty-maven-plugin's IT tests.

[2019-11-20 15:46] joakime opened #4334 "Better test ErrorHandler changes"
**Jetty version**
9.4.22.v20191022

**Java version**
Any

**OS type/version**
Any

**Description**
The changes made in ErrorHandler to better support Async on commit bde86467f4e5df595773ab11ed5e80c615b741f3 (Issue #3806) need better testing.

[2019-11-20 15:49] joakime commented on #4334
Opened PR #4335

[2019-11-20 15:53] joakime commented on #2979
I removed the Stale label this one to keep it alive.
We still need to do this.

Joakim Erdfelt / joakim@webtide.com

On Wed, Nov 20, 2019 at 6:56 AM stale[bot] <notifications@github.com> wrote:

[2019-11-20 15:54] #3083 closed

[2019-11-20 15:55] joakime commented on #2690
This is a documentation issue, removing Stale to keep it alive.

[2019-11-20 15:56] #2759 closed

[2019-11-20 15:57] joakime commented on #2135
This was merged in issue #3952.

[2019-11-20 15:57] #2135 closed

[2019-11-20 16:01] joakime commented on #2341
Closing as no longer relevant.

[2019-11-20 16:01] #2341 closed

[2019-11-20 16:02] joakime commented on #2613
Removed stale label, giving this another year to sit around.

[2019-11-20 16:02] joakime commented on #2612
Removed stale label, giving this another year to sit around.

[2019-11-20 16:04] joakime commented on #2601
Closing, as the remaining work should occur at https://github.com/jetty-project/jetty-version-maven-plugin

[2019-11-20 16:04] #2601 closed

[2019-11-20 16:05] joakime commented on #2455
Removed Stale Label, giving this another year.

[2019-11-20 16:36] joakime commented on #2643
@sbordet do we still want to do this for Jetty 10?

[2019-11-20 16:39] joakime commented on #2579
Removed in commit dbe340a20eb7660664fbbe68616dee9d4e662bc3

[2019-11-20 16:39] #2579 closed

[2019-11-20 16:41] joakime commented on #2303
Work completed at jetty-version-maven-plugin.
https://github.com/jetty-project/jetty-version-maven-plugin/commit/b8ae0277ce2d2023a0ea48055521b9081fd9820b
Going to kick off a new release this week.

[2019-11-20 16:41] #2303 closed

[2019-11-20 16:55] sbordet commented on #2643
Yes we want to do it for 10.

[2019-11-20 16:56] joakime commented on #2195
Opened PR #4336

[2019-11-20 17:00] joakime commented on #1828
Closing.
This was not feasible in the past.
PR #1824 committed to 9.4.8 only solves for simple webapps (that don't have descriptor order, extra classpath, library specific classloaders, etc..)
And newer JVMs (Java 9+) makes the hack in the above PR no longer work.

[2019-11-20 17:00] #1828 closed

[2019-11-20 17:10] joakime commented on #3094
Closing as `ipaccess` module has been replaced with `inetaccess` module.

[2019-11-20 17:10] #3094 closed

[2019-11-20 17:13] joakime commented on #2854
Removing Stale label to give myself another year to implement this.

[2019-11-20 17:19] joakime commented on #2921
See https://www.ibm.com/developerworks/community/forums/html/threadTopic?id=9b5a56a9-fa46-4031-b33b-df91e28d77c2

The IBM J9 JVM only allows interop with the RFC names when declaring the precise list of Cipher Suites to use.

In other words, it wont ever return the RFC names in the supported lists, but will use the RFC names when you declare what you want to use.

This decision by the IBM J9 JVM i

[2019-11-20 17:19] #2921 closed

[2019-11-20 17:20] joakime commented on #746
Removing Stale.
Flagging as Specification / TCK to keep Stalebot's hands off this one.

[2019-11-20 19:28] joakime commented on #3002
Some observations of the current code in `jetty-9.4.x`.

A standard WebAppContext, with a single servlet added.

I set a breakpoint on the `doGet()` i see the following `AttributeMap`  state on a default server configuration.

1. Request attributes is null
2. ServletContextHandler$Context attributes has 1 entry.
  * org.eclipse.jetty.util.DecoratedObjectFactory -> {DecoratedObjectFactory@2106} "or

[2019-11-20 19:30] joakime commented on #3006
No longer relevant.
Test no longer in failure state.

[2019-11-20 19:30] #3006 closed

[2019-11-20 19:31] joakime commented on #2983
@sbordet is this JPMS concern still true in Jetty 10?  I thought we had a successful (and happy) JPMS on Jetty 10 now?

[2019-11-20 19:32] joakime commented on #2974
Keeping this one alive for another year.

[2019-11-20 19:33] #2956 closed

[2019-11-20 19:53] joakime commented on #1962
We should investigate implementing a Github App for this functionality.

[2019-11-20 19:54] joakime commented on #2744
No reproduction provided. Closing.

[2019-11-20 19:54] #2744 closed

[2019-11-20 20:11] joakime commented on #4329
Opened PR #4337

[2019-11-20 20:12] joakime commented on #2852
@olamy & @WalkerWatch can you verify if this has been documented

[2019-11-20 20:14] joakime commented on #2720
This has been fixed in commit 23bf2504fe44cccf733aafe78505df2e114d2fc7

[2019-11-20 20:14] #2720 closed

[2019-11-20 20:14] joakime commented on #2850
Still need to document this.

[2019-11-20 20:15] joakime commented on #2808
Closing due to lack of Eclipse ECA (Eclipse Legal Requirement) on submitted PR.

[2019-11-20 20:15] #2808 closed

[2019-11-20 20:17] joakime commented on #111
@janbartel in light of the effort to simplify things in the jetty-maven-plugin on Jetty 10, I guess this issue becomes no longer relevant.
Can we close it?

[2019-11-20 20:19] joakime commented on #2814
Closing, the last 5 builds on CI (jobs 1323 thru 1327) do not show this leak anymore.

[2019-11-20 20:19] #2814 closed

[2019-11-20 20:20] joakime commented on #2771
Closing as error has not occurred again in the past year.

[2019-11-20 20:20] #2771 closed

[2019-11-20 20:21] joakime commented on #2805
Closing as `org.eclipse.jetty.client.HttpCookieTest.testSetCookieWithLongerPath` has been stable for the past year.

[2019-11-20 20:21] #2805 closed

[2019-11-20 20:24] joakime commented on #4321
Do we want to tackle HttpClient as well? (Issue #1445)
And what about WebSocketClient?
Or even active WebSocket (server) connections?

[2019-11-20 20:24] #2687 closed

[2019-11-20 20:25] joakime commented on #2627
Closing as `org.eclipse.jetty.servlets.QoSFilterTest` has been stable for over a year now.

[2019-11-20 20:26] joakime commented on #2638
@janbartel what's the status on this one now that Session has had a thorough going over?

[2019-11-20 20:28] joakime commented on #2626
We should probably move these tests to `test-distribution` technique.

[2019-11-20 20:31] joakime commented on #2580
This has been fixed since jetty-9.4.11.v20180605

[2019-11-20 20:31] #2580 closed

[2019-11-20 20:33] joakime commented on #2555
Closing this as unable to replicate.

The jre8-alpine images that was claimed to be the source are not supported anyway.
See: https://github.com/appropriate/docker-jetty/pull/118
If a reproducer outside of jre8-alpine is discovered, then feel free to comment here, and we'll reopen.

[2019-11-20 20:33] #2555 closed

[2019-11-20 20:42] joakime commented on #2487
No longer relevant.
All changes to make Jetty compatible on Java 11 have been done.
If there are any new ones, those should be handled in new issues.

[2019-11-20 20:42] #2487 closed

[2019-11-20 20:42] joakime commented on #2504
This still needs to be done.

[2019-11-20 20:43] gregw commented on #2174
@lachlan-roberts can this be closed? ie are we happy with the current package structure?

[2019-11-20 20:43] joakime commented on #2500
Bouncing documentation issue.

[2019-11-20 20:44] gregw commented on #2173
I think we are OK with the current package structure? Can this be closed?

[2019-11-20 20:44] joakime commented on #2486
Closing.

[2019-11-20 20:44] #2486 closed

[2019-11-20 20:46] #219 closed

[2019-11-20 20:46] joakime commented on #2429
Merged in PR #4106

[2019-11-20 20:46] #2429 closed

[2019-11-20 20:48] joakime commented on #2394
@jmcc0nn3ll isn't this resolved already?

[2019-11-20 20:48] joakime commented on #2386
I'm still keen on doing this.

[2019-11-20 20:49] joakime commented on #2368
This still valid @gregw ?

[2019-11-20 20:58] janbartel commented on #339
The ant plugin is not being actively maintained and will likely be dropped from future releases.

[2019-11-20 20:58] #339 closed

[2019-11-20 21:02] joakime commented on #962
I'm still keen on coming up with a configurable for this.

[2019-11-20 21:03] joakime commented on #170
Closing this due to lack of details over the past 4 years.

[2019-11-20 21:03] #170 closed

[2019-11-20 21:08] joakime commented on #121
Current list in `jetty-9.4.x` (not including tests)

[code]

[2019-11-20 21:09] joakime commented on #132
@sbordet isn't this complete (for Jetty 10) ?

[2019-11-20 21:10] joakime commented on #2330
Bump documentation issue for one more year.

[2019-11-20 21:11] joakime commented on #125
Closing (6 years old)

[2019-11-20 21:11] #125 closed

[2019-11-20 21:12] joakime commented on #2203
Closing as PR #2215 was merged.

[2019-11-20 21:12] #2203 closed

[2019-11-20 21:15] joakime commented on #2196
I'm keen on implementing this for gclogs example (but only contained in Props object during start.jar, not as formal System properties)

Example.

[code]

[2019-11-20 21:30] janbartel commented on #2283
This has been done in various other pull requests to fix other issues.

[2019-11-20 21:30] #2283 closed

[2019-11-20 21:31] joakime commented on #2147
Closing as compact3 was removed in 57866ba1bbbc8fe9046d23931705d7a99c923d5d

[2019-11-20 21:31] #2147 closed

[2019-11-20 21:32] janbartel commented on #893
Closing, not necessary.

[2019-11-20 21:32] #893 closed

[2019-11-20 21:33] joakime commented on #2181
Closing, as the https://github.com/jetty-project/jetty-webapp-logging project was updated for Jetty 9.4.20.

[2019-11-20 21:33] #2181 closed

[2019-11-20 21:36] janbartel commented on #334
There's been no interest in this issue for years now, so I'm closing it.

[2019-11-20 21:36] #334 closed

[2019-11-20 21:37] janbartel commented on #119
Closing.

[2019-11-20 21:37] #119 closed

[2019-11-20 21:38] janbartel commented on #179
Probably still need to upgrade to even newer mongo version, but we can open a fresh issue specifically for the newer version. I'll close this one.

[2019-11-20 21:38] #179 closed

[2019-11-20 21:45] sbordet commented on #132
This was merged in #3267.

[2019-11-20 21:45] #132 closed

[2019-11-20 21:45] lachlan-roberts commented on #4262
@sbordet the weird thing to me about this one is that `WebSocketClient.setIdleTimeout()` delegates to both the `WebSocketPolicy` and the `HttpClient`. If someone provided a shared `HttpClient` they may have only wanted to set it on the policy without changing the `HttpClient`.

To set it only on the WebSocket idleTimeout you could use `getPolicy()` but this is also removed in jetty-10 so you would

[2019-11-20 21:51] sbordet commented on #4262
@lachlan-roberts the use case of sharing a `HttpClient` with a `WebSocketClient`, but then wanting the `WebSocketClient` have different settings is for me, unrealistic.

Sure it is _possible_ but I would not complicate things for something that nobody uses.

Can you detail a realistic use case where you have the `HttpClient` used for HTTP request _concurrently_ with a `WebSocketClient` using also

[2019-11-20 21:54] joakime commented on #2163
We should deprecate this QTP method in `jetty-9.4.x` and remove it in `jetty-10.0.x`

[2019-11-20 21:56] sbordet commented on #2173
I reported that some *.internal.* classes were present in signatures of public classes.

Not sure this is the right issue though. @lachlan-roberts?

[2019-11-20 21:57] jglick commented on #1828
I am not sure what is meant by this, could you elaborate?

[2019-11-20 22:01] joakime commented on #1828
Behavior of loading classes can no longer be ordered within a single Classloader.
You can only control loading order of classes via the Classloader parent hierachy. (parent interrogated first)
The newer the JVM the less likely you are even able to have the same class in two different jars. (newer JVMs will fail the Classloader if detected).

We are not the only group to notice this, all other cont

[2019-11-20 22:03] sbordet commented on #193
This would still be nice to have.

[2019-11-20 22:05] sbordet commented on #794
Nice to have although the spec is in draft -01 and expired in 2017.

[2019-11-20 22:05] joakime commented on #1771
I'll file this as a PR.

[2019-11-20 22:11] lachlan-roberts commented on #4262
I don't have a specific use case in mind, I just thought it would be something you might want to do to minimise the impact of creating another `HttpClient`. The idleTimeout specifically for websocket can be set in other places like in onOpen, so if the solution is to just use two `HttpClients` that's fine with me.

[2019-11-20 22:13] sbordet commented on #1820
This issue should be fixed.

[2019-11-20 22:15] sbordet commented on #1923
We need to review those preventers and possibly put them in a different Jetty 10 module so that we can have a specific `module-info.java` without polluting the `jetty-util` one.

[2019-11-20 22:15] mattsheppard commented on #326
Raised a pull request for this in https://github.com/eclipse/jetty.project/pull/4338 because the stale bot reminded me it existed.

I'm totally fine, though, if you'd just like to close this with no further action - The issue no longer affects me, and doesn't seem to be tripping anyone else up.

[2019-11-20 22:19] joakime commented on #585
@gregw wasn't this handled with PR #3912 ?

[2019-11-20 22:20] sbordet commented on #221
Still an enhancement to look into @gregw?

[2019-11-20 22:21] gregw commented on #585
yes

[2019-11-20 22:21] #585 closed

[2019-11-20 22:23] gregw commented on #221
I do not think this is a priority.   Saving cycles on parting HTTP/1 in split buffers is likely to be counter productive.

[2019-11-20 22:23] #221 closed

[2019-11-20 22:23] sbordet commented on #1297
Won't implement this. Nowadays reactive non-blocking applications seem more common/wanted than fully blocking ones.

[2019-11-20 22:23] #1297 closed

[2019-11-20 22:29] sbordet commented on #1468
@gregw is this issue finished?

[2019-11-20 22:30] gregw commented on #1468
It would be good to get a better example, but I'd need some external guidance from the OP.  Will leave open, but labelled Stale do see if OP can give more info.

[2019-11-20 22:35] joakime commented on #1087
From a `${jetty.base}` point of view, I think supporting something like we do for `${jetty.base}/webapps/ROOT/`, but for this usecase.

Perhaps something like `${jetty.base}/webapps/WELL-KNOWN/` is a good start.

I didn't suggest ``${jetty.base}/webapps/.well-known/` as that doesn't work (the directory starting with `.` is seen as a hidden directory by the DeploymentManager currently.

We could ma

[2019-11-20 22:38] sbordet commented on #172
The idea of buffering the response content until the end and then converting it can already be done with `BufferingResponseListener`.

[2019-11-20 22:38] #172 closed

[2019-11-20 22:38] joakime commented on #940
Closing, already addressed in commit 534fb8c42759bda727ba699cdd69701e00e0aad8

[2019-11-20 22:38] #940 closed

[2019-11-20 22:43] joakime commented on #847
@lachlan-roberts have you verified the behaviors documented by the OP on Jetty 10?

[2019-11-20 22:43] sbordet commented on #1087
I don't think we need anything special, this XML file is enough:

[code]
I guess it's only a documentation issue, and perhaps an example in `demo-base`.

[2019-11-20 22:44] joakime commented on #962
This seems to overlap some with Issue #670

[2019-11-20 22:45] sbordet commented on #452
Lowering priority due to Raspberry Pi environment.

[2019-11-20 22:49] lachlan-roberts commented on #847
@joakime this is implemented in Jetty 10 but not in Jetty 9.4, we seem to have setters for it in various places in 9.4 but it doesn't look like the setting is used.

Should I look at bringing this into 9.4.x or it is only a feature for Jetty 10?

[2019-11-20 22:51] joakime commented on #92
One way to implement this perhaps is a `HttpConfiguration.Customizer` that identifies web crawlers and sets the JSESSION ID to a known "crawler" value, so that all requests use the same Cookie.

[2019-11-20 22:52] joakime commented on #92
Also, this could apply to various load balancer and monitoring "ping" requests in a similar fashion.
By artificially specifying a known JSESSION ID for those requests, preventing each request from generating a new Session object.

Example of this - https://stackoverflow.com/questions/7708035/tomcat-how-to-stop-tomcat-creating-a-session-for-all-requests

[2019-11-20 22:55] joakime commented on #458
Closing as commit c768828703ac25b8bcba08c74658d6c1775d03a2 introduced `QuotedQualityCSV` and `QuotedCSV`

[2019-11-20 22:55] #458 closed

[2019-11-20 22:56] joakime commented on #430
Addressed in PR #4337 (Issue #4329)

[2019-11-20 22:56] #430 closed

[2019-11-20 22:57] joakime commented on #98
Closing, as Pack200 has been removed from the JVM.

[2019-11-20 22:57] #98 closed

[2019-11-20 22:59] lachlan-roberts commented on #847
I will also need to add the writeTimeout to the `WebSocketPolicy` for jetty-10, it is only available through the core and javax APIs.

[2019-11-20 23:03] joakime commented on #1334
Closing as this was implemented in Jetty 9.4.4.v20170410

[2019-11-20 23:03] #1334 closed

[2019-11-20 23:06] joakime commented on #1052
Closing as `CustomRequestLog` can now accomplish this.

[2019-11-20 23:06] #1052 closed

[2019-11-20 23:10] joakime commented on #962
Issue #1024 also seems to overlap

[2019-11-20 23:12] joakime commented on #2174
Build a minimal websocket client only project. (you should have no server dependencies)
Figure out what's needed to configure it's `<dependencies>`.
If it's tedious, or problematic, or fraught with gotchas, then this issue still has relevance.

[2019-11-20 23:19] gregw commented on #2174
@joakime I don't get it.  If you want to know the dependencies for a core client:
[code]

or for a javax client:

[code]

There are classes in those dependencies that will not be used and splitting core into more packages won't change that.  If you really want an absolute minimal set of classes, then some dynamic analysis is required that will not be helped by more core packages?

[2019-11-20 23:32] joakime commented on #2174
The last time I tried, there were more lines of `<dependency><exclusions>` then there were `<dependency>`.
And that level of nonsense made gradle and other build libraries (sbt) complain that there were too many exclusions and you should just declare the dependency without transitive enabled.

[2019-11-20 23:33] joakime commented on #2174
There was also a bunch of `asm` errors from libraries that did their own bytecode scanning when encountering features in websocket-core that are impossible without the server classes present.

[2019-11-20 23:43] gregw commented on #2174
I'm just not understanding the problem?  Just use core dependency with no exclusions.  OK it does depend on jetty-server, which is probably not really needed... but there are always going to be unused classes in the classpath unless you do a dynamic analysis and trim to specific classes.     I thinking adding packages is just too much unnecessary complexity to save a few 100kB of jars

[2019-11-21 00:10] joakime commented on #2174
The design of websocket-core is just antithetical to how to properly create a jar in maven, osgi, and java 9+ (JPMS).
The whole "optional" hard dependencies in websocket-core is the reason. (hard dependencies on jetty-client and jetty-server that are hidden by sleight of hand and trickery)
Yes, lots of deployed maven jars have optional behavior, but not via hard dependencies (like import statement

[2019-11-21 00:18] gregw commented on #2174
I still don't get the strong concern.
Optional/provided dependencies are features of maven so I can't see how they are antithetical to them.  They are not tricks or sleight of hand.
There are many such dependencies in jetty and the fact that these ones cross a client/server divide is not that significant to the build.   The fact they are used in imports is no less breaking than if they are used vi

[2019-11-21 01:06] #4334 closed, assigned to joakime

[2019-11-21 02:01] olamy commented on #2634
looks to be fixed here https://github.com/jnr/jnr-enxio/pull/31
upgrading jnr library is the fix

[2019-11-21 02:32] olamy commented on #121
happy to work on that.
Should we use a pattern such (each change need to be reviewed)
[code]
?

[2019-11-21 02:40] olamy commented on #500
@laeubi still interested by this?

[2019-11-21 02:55] gregw commented on #121
This can't be automatic.... a lot of these probably can be changed to use nanotime as they are just intervals, but we also do have real need for wall clock time.   For example sessions that are persisted and/or migrated between nodes cannot use nanotime for expiry and have to use a real wall clock.

[2019-11-21 03:00] lachlan-roberts commented on #1615
We now have the `test-keystore` module for Jetty 10 and the default passwords have been removed elsewhere.

Leaving open issue #4228 for the documentation of this change.

[2019-11-21 03:00] #1615 closed

[2019-11-21 03:02] janbartel opened #4340 "Continuing after ServiceLoader ServiceConfigurationError."
**jetty-9.4 and beyond**

When using the ServiceLoader, we would like to be able to catch Exceptions from each  call to ServiceLoader.iterator().next() or ServiceLoader.iterator().hasNext() and continue on while there are other services to load.

Currently, most code does something like the following, which will stop iterating when the first exception is thrown:

[code]

However, according to the

[2019-11-21 03:26] lachlan-roberts commented on #1673
@gregw should I experiment with a scripting approach to generating the keystore, or are we happy now we have the `test-keystore` module?

[2019-11-21 03:43] gregw commented on #1673
I think before the certs next expire, we should look at a scripting approach.   So let's do it... bu low priority.

[2019-11-21 03:49] lachlan-roberts opened #4341 "sending WebSocket frames modifies the payload ByteBuffer"
**Jetty version**
9.4.x and 10.0.x

**Description**
Sending a WebSocket message/frame using a ByteBuffer will modify the original buffer and change the position. After a send operation the buffer should remain unmodified.

[2019-11-21 04:20] lachlan-roberts commented on #1673
The cert already expired `Tuesday, 18 August 2015 at 21:38:03` so I will look into this.

[2019-11-21 04:25] olamy commented on #2356
@joakime it's part of test-http-client-transport so can be close?

[2019-11-21 04:28] olamy commented on #2288
done with https://github.com/eclipse/jetty.project/commit/a3100e02118fca25358c8b59baea9bd95b86e92f

[2019-11-21 04:28] #2288 closed

[2019-11-21 04:29] olamy commented on #1156
AFICS RateTracker is now Serializable

[2019-11-21 04:31] lachlan-roberts opened #4342 "OpenID module cannot create HttpClient in Jetty 10"
**Jetty version**
10.0.x

**Description**
Jetty fails to start when OpenId module is enabled. The xml configuration in jetty-openid.xml cannot create the HttpClient.

[2019-11-21 05:59] gregw commented on #4340
I think this is screaming out for a ServiceLoaderUtil method.
However I would like to see some kind of protection against looping forever.... but not sure what that can be.... perhaps a loop count of 1000 ?  No other way I can see of testing if the iterator is making progress!
Or perhaps using the spliterator and tryAdvance might be a more robust way?

[2019-11-21 07:05] #2634 closed

[2019-11-21 07:41] olamy commented on #1781
@gregw still for 10.0.x?

[2019-11-21 08:14] olamy commented on #1414
@joakime not sure if we still want this?

[2019-11-21 08:44] sbordet commented on #1156
The problem is that we store `RateTracker` in the `HttpSession` and so it must be serializable.
Reopening as this is still an issue.

[2019-11-21 09:01] olamy commented on #1156
@sbordet more details on why I closed it. looking at the class it's definitely serializable (the only non serializable field is transient)  https://github.com/eclipse/jetty.project/blob/07680b4bb20f9acafdee9ea2fde550c23661f32b/jetty-servlets/src/main/java/org/eclipse/jetty/servlets/DoSFilter.java#L1157    I guess it has been fixed with https://github.com/eclipse/jetty.project/commit/e39c66d42568cc

[2019-11-21 09:06] sbordet commented on #1156
@olamy is there a test that proves this? I ask because serialization is tricky and just looking at the code may not be enough. Plus, when deserialized and without the transient `ServletContext`, will it work or just give a NPE?

[2019-11-21 09:12] sbordet commented on #211
Lowering priority.

[2019-11-21 09:13] olamy commented on #1156
as far I can see the changes https://github.com/eclipse/jetty.project/commit/e39c66d42568cc63e50d935ad7036bd87dd1bd18#diff-f0d4055c341e665e66e56b4b3c8ae099  add a unit test which use FileSessionDataStore. There is a null check in the code.
but leave this issue open and we can review if the test really cover the case

[2019-11-21 09:14] olamy commented on #175
@joakime sounds like a good idea. Still a need to implement it?

[2019-11-21 09:16] sbordet commented on #2983
I would need to review this.

[2019-11-21 09:21] sbordet commented on #337
This issue lost context since it was referring to CodeHaus, closing.

[2019-11-21 09:21] #337 closed

[2019-11-21 09:26] sbordet commented on #508
Closing this in favor of #4321.

[2019-11-21 09:26] #508 closed

[2019-11-21 09:27] sbordet commented on #670
Perhaps still worth it to keep this open.

[2019-11-21 09:27] olamy commented on #2852
note #2775 has been reopened so feature not complete yet

[2019-11-21 09:28] sbordet commented on #929
Would still be nice to have.

[2019-11-21 09:30] sbordet commented on #141
Would still be nice to have, lowering priority.

[2019-11-21 09:33] sbordet commented on #1263
Needs investigation.

[2019-11-21 09:36] sbordet commented on #1754
Fixed in #1900 and #4239.

[2019-11-21 09:36] #1754 closed

[2019-11-21 09:40] sbordet commented on #995
There seems to be enough details to tackle this issue.

[2019-11-21 09:40] dellgreen commented on #1754
thankyou :)

[2019-11-21 09:43] sbordet commented on #188
Recycling in HTTP/2 has proven to be challenging. Closing this one, eventually we can reconsider it.

[2019-11-21 09:43] #188 closed

[2019-11-21 09:45] sbordet commented on #218
Closing in favor of #2386.

[2019-11-21 09:45] #218 closed

[2019-11-21 09:48] sbordet commented on #1727
Please upgrade to latest 9.4.x, and if the problem persists, open a new issue.

[2019-11-21 09:48] #1727 closed

[2019-11-21 09:57] sbordet commented on #2042
Closing, as blockingTimeout has been deprecated/removed.

[2019-11-21 09:57] #2042 closed

[2019-11-21 10:12] #2891 closed

[2019-11-21 10:33] sbordet commented on #2452
Closing in favor of #121.

[2019-11-21 10:33] #2452 closed

[2019-11-21 10:34] sbordet commented on #121
We should also consider for Jetty 10 to use `java.time` rather than `long` to express GMT times.

[2019-11-21 10:42] sbordet commented on #2557
I really hope this will be fixed in the JDK.
Writing an maintaining a DNS lookup implementation would be quite some work.
I know Netty has one, so I think it could be plugged in by implementing `SocketAddressResolver`.

[2019-11-21 10:42] #2557 closed

[2019-11-21 10:45] sbordet commented on #2354
@joakime we have tons of tests for this in both server and client.

[2019-11-21 10:45] #2354 closed

[2019-11-21 10:51] sbordet commented on #178
@olamy isn't JASPI part of the Servlet TCK? If so, we can close this issue.

[2019-11-21 11:56] ofrias commented on #4156
We have been running 9.4.23 in production for more than 24 hours, and we haven't seen any of these errors.  Thanks a lot for your help!

[2019-11-21 12:00] joakime commented on #121
A PMD rule to check for `System.currentTimeMillis()` could be created.
Each occurrence would need to be vetted. Either changed or PMD tagged as appropriate (via a comment before its use).

[2019-11-21 12:41] #3100 closed

[2019-11-21 14:36] sbordet commented on #2007
@gregw can this be closed?

[2019-11-21 14:40] sbordet commented on #2134
This is trivial to implement, as we have just have to delegate to the `UnixSocketChannel` passed to the constructor.

[2019-11-21 14:43] joakime commented on #2134
Seems like it, but it has a hitch ...

[code]

[2019-11-21 14:43] joakime commented on #2134
That's because a UnixSocket's `SocketAddress` is a file, and has nothing to do with Inet anything.

[2019-11-21 21:01] WalkerWatch commented on #1165
Fixed with #4172

[2019-11-21 21:01] #1165 closed

[2019-11-21 21:59] #4342 closed, assigned to lachlan-roberts

[2019-11-22 00:37] e-hubert-opti commented on #4303
Seems I can confirm the issue to be resolved with 9.4.23. Today we also updated the first productive instance to 9.4.23 and so far no problem. Tomorrow we plan continue updating more servers straight to 9.4.24. So I intent to close the ticket tomorrow, but just wanted to provide feedback as soon as possible - sorry I did not manage to get back earlier.

[2019-11-22 03:56] beibm opened #4345 "All the documents and examples need to be updated"
**Jetty version** 9.4.20
**Description**
In documents and examples
`int port = ExampleUtil.getPort(args, "jetty.http.port", 8080);
 int securePort = ExampleUtil.getPort(args, "jetty.https.port", 8443);
 Server server = createServer(port, securePort, true);
// Start the server
 server.start();
 server.join();
`
but，in version 9.4.20, the org.eclipse.jetty.server.Server's Method is
`protected void s

[2019-11-22 04:13] olamy commented on #4345
there is definitely a `void start() ` inherited from `AbstractLifeCycle` see [https://www.eclipse.org/jetty/javadoc/9.4.24.v20191120/org/eclipse/jetty/util/component/AbstractLifeCycle.html#start()](https://www.eclipse.org/jetty/javadoc/9.4.24.v20191120/org/eclipse/jetty/util/component/AbstractLifeCycle.html#start()) and Server inherits this class see [https://www.eclipse.org/jetty/javadoc/9.4.24.v

[2019-11-22 04:13] #4345 closed, assigned to nobody

[2019-11-22 04:20] olamy commented on #178
but we do not run this part of the TCK and I'm not sure how to run this...

[2019-11-22 04:25] olamy commented on #4306
I think we received some emails recently :)

[2019-11-22 04:25] #4306 closed

[2019-11-22 04:27] olamy commented on #3420
done see https://github.com/jetty-project/tck-run

[2019-11-22 04:27] #3420 closed

[2019-11-22 05:11] lachlan-roberts opened #4347 "Jetty 10 WebSocket writeTimeout is being used for Frames and not Messages"
**Jetty version**
10.0.x

**Description**
The WebSocket writeTimeout is described in the javadoc of `javax.websocket.RemoteEndpoint.Async#getSendTimeout` as

Our implementation of this is a timeout for sending each WebSocket frame and not for each message.

If the writeTimeout was 500ms and a large message was sent, this could be fragmented into 1000 frames which each take 250ms to send. So we spe

[2019-11-22 06:04] laeubi commented on #500
@olamy If jetty still uses this old API of course this is still valid.

[2019-11-22 06:29] olamy commented on #2483
closing as not sure we want to invest time in ant tooling.

[2019-11-22 06:29] #2483 closed

[2019-11-22 10:20] lachlan-roberts opened #4349 "Verify WebSocket client behaviour for negotiation of internal extensions."
**Jetty version**
10.0.x

**Description**
The websocket client must decide where in the list of extensions negotiated by the server its internal parameters should go.

The code to do this looks complicated and needs to be tested and explained in a comment.

https://github.com/eclipse/jetty.project/blob/2dbd19f9027625479571b8967f1e461aa816fc45/jetty-websocket/websocket-core/src/main/java/org/eclips

[2019-11-22 11:33] e-hubert-opti commented on #4303
As said - I close this now, because we are running in production with at least one complete service cluster on 9.4.24 for about an hour without any issues, so I consider this one fixed since 9.4.23. Thanks a lot!

[2019-11-22 11:33] #4303 closed

[2019-11-22 13:07] domagojcc opened #4350 "Deprecated MultiPartInputStreamParser still used in jetty-server (MultiPartsUtilParser) but OSGi ExportPackage suppressed"
**Jetty version**
9.4.x branch

**Java version**
any

**OS type/version**
any

**Description**
There is still a direct reference to the deprecated org.eclipse.jetty.util.MultiPartInputStreamParser.MultiPartInputStreamParser (jetty-util) in  org.eclipse.jetty.server.MultiParts.MultiPartsUtilParser.MultiPartsUtilParser (jetty-server). The issue is that the export of MultiPartInputStreamParser is exp

[2019-11-22 13:13] joakime commented on #4350
Why can't option 3 be use `MultiPartFormDataCompliance.RFC7578` on OSGi?

[2019-11-22 13:14] joakime commented on #4350
Or option 4 be that the default is `MultiPartFormDataCompliance.RFC7578` from here on out?

[2019-11-22 13:17] domagojcc commented on #4350
Having a useful workaround may make the priority lower but it is still a bug.

[2019-11-22 13:24] domagojcc commented on #4350
And of course, having a working default setting would certainly be better, so thumb up for option 4 independenty of the original issue.

[2019-11-22 13:32] sebneter opened #4351 "Servlet.service called before Servlet.init is finished when servlet is lazily initialized"
**Jetty version**
9.4.24
**Java version**
java version "1.8.0_231"
Java(TM) SE Runtime Environment (build 1.8.0_231-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)
**OS type/version**
Windows Server 2016
**Description**
When a servlet is initialized, there is a small time window during which servlet.init is not yet complete, but servlet.service is already called. I don't know

[2019-11-22 15:33] sbordet commented on #4327
I believe this is the same as #4351, as we saw the NPE on the first call after server restart and obviously `_client` cannot be `null` if `init()` finishes before `doGet()`.

[2019-11-22 16:43] joakime commented on #4351
This discovery might explain what we saw (once) in #4327

[2019-11-22 17:21] #864 closed

[2019-11-22 18:30] Gregory-N-able opened #4352 "Questions about the new jetty.service systemd file"
**Jetty version**
9.4.24

**Java version**
1.8.0_201

**OS type/version**
CentOS 7.7 x86_64

**Description**
I'm glad to see a systemD service file has been added to Jetty, but as I have been rebuilding and bundling jetty with custom changes, and a systemd .service file, I do have some questions about some of the assumptions in the new file, and some suggestions.

First, in [Issue 1485](https://gi

[2019-11-23 16:57] andrepa opened #4353 "TLS handshake bloated due to unnecessary anchor certificate inclusion"
**Jetty version** 9.4.24.v20191120

**Java version** OpenJDK 13

**OS type/version** Linux/Ubuntu 18.04.3 LTS

**Description**

When jetty performs a TLS handshake, it includes the root/anchor certificate. This is unnecessary, because the browser will have that root certificate in its trust store already, so it doesn't need the server to send it. (See SSL/TLS standard, section 7.4.2, as documented

[2019-11-24 03:23] janbartel commented on #4351
Looks like we changed the code in commit https://github.com/eclipse/jetty.project/commit/d48c258deb54af200636311240a513cf1665354c#diff-0d419a5cace2d3e164cd481d96f24734 that changed the way we do servlet initialization. When 2 requests come in simultaneously, they are only both checking if the servlet instance is non-null: one will create the instance and then go on to initialize it, meanwhile the

[2019-11-24 15:36] JochenHiller commented on #2147
We are using also the Jetty-9.x versions (Client and server) on a compact3 profile environment (Azul JVM). This might stop us from using Jetty 10.x if really Full-JRE features will be introduced.

[2019-11-24 17:40] joakime commented on #2147
In today's reality, Java 9+ has hit, and OpenJDK is now the norm for Java.

That means the idea of a Java Runtime Environment has changed as well.
A JRE is no longer a concept that ships, instead each user and vendor is free to define their own runtime environment (see jlink).
Compact 3 is one of countless variations to this idea.
The meaning of "Compact 3" as defined in JEP 161 hasn't been update

[2019-11-24 18:46] JochenHiller commented on #2147
Thanks Joakim for detailed answer.

I agree that Java 9+ is out some time, and Java 8 is in maintenance now.

If you have a fleet of Embedded Devices running JavaSE Embedded 8 in the field it is a major effort to update JVMs to recent one (if it is even possible, when running on ARM, MIPS, x86). That is the reason why we are using Azul Java8 Embedded with maintenance support for some more years.

[2019-11-24 21:56] lachlan-roberts commented on #995
Fixed with PR #4348.

[2019-11-24 21:56] #995 closed

[2019-11-24 23:36] gregw commented on #4351
So this is a real problem... in which case we should say that the work around is to mark your servlets as initialise on startup.

[2019-11-25 01:03] janbartel commented on #4351
Raised PR https://github.com/eclipse/jetty.project/pull/4354.

[2019-11-25 02:05] janbartel commented on #4156
@ofrias thanks for that info. I'll close this issue as resolved.

[2019-11-25 02:05] #4156 closed

[2019-11-25 07:39] gregw commented on #4352
@joakime can you look at this. thanks in advance

[2019-11-25 14:19] hoverwinter opened #4357 "Jetty 9 failed to use pinpoint (maybe more other tools), unable to find classes in bootstrap classloader"
**Jetty version**
jetty-9.4.20.v20190813
**Java version**
 java version "1.8.0_172"
**OS type/version**
CentOS 7 (No impact)
**Description**

WebAppClassloader rejects to use parent classloader (system classloader) to load Pinpoint classes (in bootstrap classloader), older version jetty has no such problems. Tracing interceptors depends on `AroundInterceptor`, but

[code]

Here are some outputs fr

[2019-11-25 14:55] joakime commented on #4357
You have inverted the `WebAppContext.setParentLoaderPriority(boolean)`.
The default is `false`, make sure you are using that, otherwise the WebApp doesn't play by Servlet rules, but rather Java rules.

Having `setParentLoaderPriority(true)` means exactly that, the webapp and all of the server and above classes belong to the webapp (in a classloader sense), and would favor its use from the parent c

[2019-11-25 17:31] sbordet commented on #4353
Jetty does not send the certificates, these are sent by the TLS implementation of the JDK you are using.

We will look if there is an option to tell the JDK to not send the anchor certificate.

[2019-11-25 17:50] joakime commented on #4353
The warning from ssllabs.com "Chain issues - Contains anchor" does not manifest for other known installations of Jetty 9.4.24.v20191120.
Example: https://webtide.com/ - https://www.ssllabs.com/ssltest/analyze.html?d=webtide.com

Perhaps this is more of an issue with a keystore that isn't quite right?

[2019-11-25 17:52] sbordet commented on #4353
@andrepa so I could not find any option to restrict what the JDK sends, it takes what's in the keystore.

This is not a Jetty issue, so closing it.

[2019-11-25 17:52] #4353 closed, assigned to sbordet

[2019-11-25 21:08] gregw commented on #4357
How is your server classes configured?     In #4358 you propose changing the default return from combine.  However because there are by default inclusions in the server classes, that default return should never be executed.  So something else is going on.

[2019-11-26 02:14] hoverwinter commented on #4357
@gregw all default values.

![image](https://user-images.githubusercontent.com/7020808/69595790-7a592980-103b-11ea-91c8-ed8d958cb002.png)

I don't think this pattern match function `org.eclipse.jetty.webapp.ClasspathPattern#combine`  works well, the classes not appear in `org.eclipse.jetty.webapp.WebAppContext#__dftServerClasses` should be false not true?

[2019-11-26 02:25] hoverwinter commented on #4357
firstly, it has no matter whether the option is set true or false, the return value of `isServerClass` make it not possible to return the class loaded by parent.

secondly, the exception is thrown on line 565, I forget to put the backtrace, here is the call trace from arthas:

![image](https://user-images.githubusercontent.com/7020808/69594339-fe5ce280-1036-11ea-90d6-5e09d32c1a89.png)

@joakime I

[2019-11-26 03:40] janbartel commented on #4357
Please can you retest with a more recent version of jetty, like 9.4.24. An issue in this area was resolved recently, which may solve your problem, see: https://github.com/eclipse/jetty.project/issues/4183

[2019-11-26 03:50] hoverwinter commented on #4357
thank you

[2019-11-26 03:54] janbartel opened #4360 "Upgrade to Apache Jasper 8.5.49"
**9.4.x**

Upgrade to Apache jasper 8.5.49.

[2019-11-26 03:56] janbartel opened #4361 "Update jetty-10.0.x to apache jasper 9.0.29"
**10.0**

Update jetty-10.0.x to apache jasper 9.0.29

[2019-11-26 04:05] #4357 closed, assigned to nobody

[2019-11-26 05:31] skpaterya opened #4362 "High memory usage by Jetty Session objects resulting in large GC pauses in jetty-9.4.11.v20180605"
**Jetty version**
jetty-9.4.11.v20180605

**Java version**
java version "1.8.0_212"

**OS type/version**
Red Hat Enterprise Linux Server release 7.4 (Maipo)

**Description**
After the upgrade from jetty-9.3.9.v20160617 to jetty-9.4.11.v20180605 we have observed a sudden increase in the heap memory usage of the our application. Since we are running jetty as an embedded component within our applicat

[2019-11-26 05:52] gregw commented on #4362
Is it possible for you to try a recent release? eg jetty-9.4.24?
Also can you give us some background on what kind of traffic this server is getting, how do you use your sessions and what data do you put in the sessions. Any other special features of jetty used?

[2019-11-26 05:54] janbartel commented on #4360
CQ 21190 raised at Eclipse.

[2019-11-26 05:57] janbartel commented on #4362
Please also post your (santized) code for your session configuration.

[2019-11-26 06:01] olamy commented on #2992
definitely todo

[2019-11-26 06:47] janbartel commented on #4361
CQ 21191 raised at Eclipse

[2019-11-26 09:53] hareve opened #4363 "jetty-maven-plugin no longer processes supplied context.xml-file."
**Jetty version**
9.4.23.v20191118

**Java version**
1.8.0_232

**OS type/version**
Linux Fedora 31

**Description**
 #4239 removed line 526 in jetty-maven-plugin/src/main/java/org/eclipse/jetty/maven/plugin/AbstractJettyMojo.java: xmlConfiguration.configure(webApp);. This causes custom context.xml-files to stop working when using jetty-maven-plugin.

[2019-11-26 11:23] joakime commented on #2992
This was addressed in multiple commits.
First introduced with 862e6d008e99223ad048860dd69c19914732a4f7
Finished up in PR #4056

[2019-11-26 11:23] #2992 closed

[2019-11-26 11:31] joakime commented on #4363
Link to removed line.

https://github.com/eclipse/jetty.project/commit/aefbdfca587277bc3d27a7e0b8faff3eb0ba4d05#diff-ff02a462f6cc50644669e515c691229dL526

[2019-11-26 12:18] szymonbultrowicz commented on #4323
Hey, any update here? It's currently blocking us from upgrading the Jetty version as it's a critical issue from our standpoint.

[2019-11-26 16:09] waynebeaton commented on #1311
All contributions from contributors remain the property of the contributors (or, in many cases, their employers). Per the ECA (which must be signed by all contributors):

[2019-11-26 16:24] joakime commented on #1311
@waynebeaton I hear you, but I don't know what this means as far as impact to the codebase and its supporting files (like LICENSE / NOTICE).

Are you wanting us to relicense the source or change the text in the existing license in some way?

We still use EPL 1.0 for Jetty 9.x
And we have discussed moving to EPL 2.0 for Jetty 10.x.

Is there something else we missed? or must be doing?

[2019-11-26 16:45] waynebeaton commented on #1311
AFAICT the license file is fine. The NOTICE file should indicate that the copyright is also held by others.

No. The license is fine. It's the suggestion that contributions that come to this Eclipse open source project somehow become the property of Mortbay that is the problem.

The EPL includes a provision that lets you just update to a later version of the license. The project team can do this w

[2019-11-26 17:24] joakime commented on #1311
Check.  I'll submit a PR for this.

That's not what was intended.
I believe the intent with Mortbay predates the move to the Eclipse Foundation.
It was the rallying point for "acceptable" code in the initial contribution to the Eclipse Foundation.
Prior to the move, anything that didn't fit into Mortbay was not allowed to move to the Eclipse Foundation.

The scope of this issue seems to have incre

[2019-11-26 21:36] gregw commented on #1311
I'm guessing the text of concern here in the NOTICE.txt file which says:
[code]

It has not been the case that other copyrights contributions have not been accepted, merely that we have previously requested that any contributions that wish to maintain copyright are identified with suitable notices.  It has also been our practise that if a minor contribution has explicit copyright allocation to som

[2019-11-26 23:43] sgrimm opened #4366 "HTTP client uses SOCKS4 proxy hostname for SSL hostname verification"
**Jetty version**
9.4.22.v20191022

**Java version**
11.0.5

**OS type/version**
OS X 10.15.1

**Description**
When the HTTP client is configured to use a SOCKS4 proxy, it passes the proxy hostname, not the destination hostname, to the SSL engine to do hostname verification. This didn't happen under 9.4.11.v20180605; I discovered the problem while upgrading from that version of the library.

Examp

[2019-11-27 01:01] janbartel opened #4368 "Review need for MultiParts interface in jetty-10"
**jetty-10**

Review the need for the MultiParts interface in jetty-10: there does not seem to be any need for this class any more, as it looks like the legacy parser is gone.

[2019-11-27 01:04] janbartel commented on #4350
Fix checked in for jetty-9.4.25. Jetty-10 is unaffected.

[2019-11-27 01:04] #4350 closed, assigned to janbartel

[2019-11-27 01:12] janbartel commented on #4312
I'm going to close this issue for now: I don't think it was a failing in the jetty-run-forked-mojo-it test, it could have been a jenkins hiccup or restart. It doesn't seem to have happened again (there's been 40 builds since then). If it does re-occur, reopen this issue.

[2019-11-27 01:12] #4312 closed

[2019-11-27 01:24] janbartel commented on #4119
Advice has been given as to how to approach pinpointing the problem. I'm closing this issue for now, as there is no identifiable problem in jetty. For more support in transitioning from jetty-6 to jetty-9 there is the online documentation, and also the jetty-users@eclipse.org mailing list.

[2019-11-27 01:24] #4119 closed

[2019-11-27 01:35] #4161 closed

[2019-11-27 02:17] janbartel opened #4369 "Review jsp configuration params for jetty-10"
**jetty-10**

We should review the configuration parameters for apache jasper in jetty-10 as we have not done that for some time.
Double check if org.apache.catalina.jsp_classpath context attribute is needed any longer.
Update the jetty jsp documentation with the up-to-date supported configuration parameters.

[2019-11-27 03:39] olamy commented on #1156
unit test added here #4370 cannot reproduce RateTracker is correctly serialized with JDBC session store

[2019-11-27 04:38] janbartel commented on #4363
Fix checked in for jetty-9.4.25.

[2019-11-27 04:38] #4363 closed, assigned to janbartel

[2019-11-27 05:08] janbartel commented on #4323
@AdrianFarmadin or @szymonbultrowicz  do either of you have a test bed that can reproduce the problem? I'm going to make a PR with a fix, but it would be great if it could be tested.

[2019-11-27 09:31] sbordet commented on #1156
This is fixed.

[2019-11-27 09:31] #1156 closed

[2019-11-27 09:34] thomasmey commented on #1156
Hi,

Sorry for the late reply. I think this issue was fixed some time ago, we using version 9.4.14.v20181114 for some month now in production and we don't see the exception anymore.

[2019-11-27 09:54] sbordet commented on #2147
@JochenHiller if you are going to stick with Java 8 for a while, you won't be able to move to Jetty 10 that requires Java 11.
Could be that by the time you switch to Java 11, you may find a custom JRE image built with `jlink` better than a compact3 profile.

[2019-11-27 11:06] JochenHiller commented on #2147
Thanks @sbordet for the hint that Jetty 10.x does require Java 11.
Then compact 3 profile support in Jetty 10 is an obsolete question ;-)

About `jlink`: we can run our solution on Java 11 as well, and we saw a decrease of runtime size from about 34 MB down to 31 MB. Unfortunately the startup times on an embedded device are longer (10-20%) than on Java 8, so we first have to check for reasons.

Bu

[2019-11-27 11:47] #2195 closed

[2019-11-27 11:52] #4329 closed, assigned to joakime

[2019-11-27 12:07] #4315 closed, assigned to lachlan-roberts

[2019-11-27 12:12] lachlan-roberts commented on #4152
Now that PRs #4219, #4260 and #4232 are merged autoFragment is working as intended.

[2019-11-27 12:12] #4152 closed

[2019-11-27 12:16] joakime commented on #4152
@lachlan-roberts a little github PR magic trick.

If you include in the original PR message the issues that this PR belongs to, with the keyword "Closes", each on their own line, at the end of the message, like this ....

Then when you merge the PR the issue automatically closes for you.

[2019-11-27 12:18] lachlan-roberts commented on #4262
@joakime do you still think anything needs to be done for this or can it be closed?

[2019-11-27 12:39] joakime commented on #4262
Multiple HttpClients can only get you so far.
If you have multiple webapps, each with their own HttpClient and WebSocketClient you now have an exponential growth of its sub-components (as one example, consider the impact of each one with their own ThreadPool)
For those users that have complex scenarios, having the option to reuse HttpClient and/or sub-components of HttpClient is ideal.

That being

[2019-11-27 15:05] aarrsseni opened #4373 "Can't set maxFormContentSize"
**9.4.24.v20191120**

**openjdk11**

**macOS**

User defined value of maxFormContentSize will be ignored.
org.eclipse.jetty.server.handler.ContextHandler set value of maxFormContentSize to default:
`_maxFormContentSize = Integer.getInteger(MAX_FORM_CONTENT_SIZE_KEY, DEFAULT_MAX_FORM_CONTENT_SIZE)`
In org.eclipse.jetty.server.Request if context is not equal to null, lookup for attributes won't be c

[2019-11-27 15:09] sbordet commented on #4373
This is by design. You want to set the max form content size on a per-context basis - the lookup as a server attribute is just a rare fallback for those cases where there is no context (some non-typical Jetty embedded usage).

[2019-11-27 15:13] #4311 closed

[2019-11-27 15:14] joakime commented on #4373
Duplicate of #4311

[2019-11-27 15:14] joakime commented on #4373
See https://github.com/eclipse/jetty.project/issues/4311#issuecomment-553551985 for details on how to configure `maxFormContentSize`

[2019-11-27 16:39] IndiscriminateCoding opened #4374 "Jetty client: Response.AsyncContentListener.onContent is not called"
When using a response listener that implements `AsyncContentListener`, it's method `onContent` is never called.

Problem is present in **9.4.24.v20191120** (**9.4.21.v20190926** works fine).
Using `Response.Listener.Adapter` with overriden `onContent` also works fine.

Here is minimal example.
On **9.4.21.v20190926** it prints:
[code]

while on **9.4.24.v20191120**:
[code]

[code]

[2019-11-27 16:44] waynebeaton commented on #1311
The _Eclipse_ Jetty Project is not "Copyright Mort Bay ...". The "Jetty" name is a registered Trademark of the Eclipse Foundation and _Eclipse_ Jetty is an Eclipse Foundation open source project. Mort Bay retains copyright of the contributions that they have made to the project (i.e., code and other intellectual property, not the project itself).

There should be no mention of Mort Bay in any NOTI

[2019-11-27 20:55] joakime commented on #4373
Reopening.

The server configuration facility could still exist.
But, only in this fashion...

1. Server attributes set at LifeCycle startup.
2. When each ContextHandler is initialized for the first time it does the following to initialize it's configuration for form max sizes.
   a. If context values are set, use those.
   b. If server attributes are set, use those as default values.
   c. Use co

[2019-11-27 21:01] gregw commented on #1311
@waynebeaton I think you have misrepresented my words by saying that we think that "Mort Bay should own the copyright of all project content".   We have not and do not insist or demand or require in any way that Copyright is assigned to Mort Bay.   It is just a practise that we adopted long ago to reduce the number of copyright holders because having many copyright holders can make a project cumbe

[2019-11-28 03:57] lachlan-roberts commented on #4341
@gregw do you think this is something I should fix in Jetty 9.4 as well?

[2019-11-28 04:19] #4368 closed, assigned to lachlan-roberts

[2019-11-28 04:46] gregw commented on #4341
No.

[2019-11-28 16:51] cstamas opened #4376 "Async Content Complete bug results in org.eclipse.jetty.io.EofException: Async closed"
**Jetty version**
jetty-9.4.24.v20191120; built: 2019-11-20T21:37:49.771Z; git: 363d5f2df3a8a28de40604320230664b9c793c16;

**Java version**
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_232-b09)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.232-b09, mixed mode)

**OS type/version**
Linux Urnebes 4.15.0-70-generic #79-Ubuntu SMP Tue Nov 12 10:36:11 UTC 2019 x

[2019-11-28 17:16] joakime commented on #4376
The reproduction code provided here seems to overlap with ...

* Issue #4331 -
* Issue eclipse-ee4j/servlet-api#273

[2019-11-28 17:34] cstamas commented on #4376
Unsure, as I do invoke `isReady()` in between `write` and `complete` calls:
[code]
Any other means to figure "is last write done"?

[2019-11-28 21:08] sbordet commented on #3136
Duplicate of #3180 and addressed in #3474.
Still based on JNR which may not be that stable and hence still an experimental transport.

[2019-11-28 21:08] #3136 closed

[2019-11-28 21:08] sbordet commented on #3180
Addressed in #3474.

[2019-11-28 21:08] #3180 closed

[2019-11-28 21:41] #4341 closed, assigned to lachlan-roberts

[2019-11-28 22:45] gregw commented on #4376
@cstamas I've been able to reproduce and we understand the problem and have a fix.
The issues is that because you set the content length, jetty knows that the response is complete on the last write and is required by the servlet spec to close the output stream.
It so happens that if the very last write happens to cause the output to become UNREADY (isReady returned false), then we are a bit overze

[2019-11-28 23:18] gregw commented on #4376
PR #4377

[2019-11-28 23:29] gregw commented on #4331
In addition, review of #4377 suggests that we need to better handle the ERROR state of HttpOuput and decide if it is a terminal or transient state.

[2019-11-29 08:34] cstamas commented on #4376
@gregw @joakime cool and thanks for "async fast" :smile: response!

[2019-11-29 08:39] cstamas commented on #4376
As I debugged, I assumed as well that those EofExceptions are kinda "ignorable", but would be uneasy to have Jetty in prod that produces logspam, or worse, to have to "mute" Jetty and then maybe miss some important things from Jetty.

So am fine waiting for fix, I guess in 9.4.25?

[2019-11-29 10:54] sbordet commented on #4374
A simple workaround is to make `Handler` extend `Response.Listener` when possible.

This issue is also present when using `Response.ContentListener`.

[2019-11-29 11:10] sbordet commented on #4374
PR #4380.

@IndiscriminateCoding are you able to test the fix?

[2019-11-29 15:14] IndiscriminateCoding commented on #4374
@sbordet the fix solves this issue. Thanks!

[2019-11-29 15:20] joakime commented on #4366
In Jetty 9.4.11 the `endpointIdentificationAlgorithm` was unset (aka `null`)
Starting in Jetty 9.4.15.v20190215, the [Endpoint Identification Algorithm was set to `HTTPS`](https://github.com/eclipse/jetty.project/commit/e4d78608a70448fead95bf58057d28590204de47) to bring Jetty's Http Client into line with industry recommendations.

To have similar behavior as 9.4.11 use the following ...

[code]

[2019-11-29 17:36] sgrimm commented on #4366
Thanks for that workaround! That definitely unblocks me.

This still seems like a bug or at least an unexpected behavior worthy of mention in the documentation, though. SOCKS proxying is effectively a kind of user-space NAT, running at layer 5 rather than layer 3, and shouldn't affect the SSL handshake any more than a layer-3 NAT gateway would.

An administrator shouldn't, I'd think, be able to br

[2019-11-29 18:36] sbordet opened #4382 "Support HTTP/1 upgrade to HTTP/2 in HttpClient"
**Jetty version**
10.0.x

**Java version**
11

**Description**
Would be great to support HTTP/1.1 upgrade to HTTP/2 in `HttpClient`.
This should be doable given the resolution of #250, #1350 and #3537.

[2019-11-29 18:37] sbordet commented on #1350
HTTP/1 upgrade to HTTP/2 is tracked in #4382.

[2019-11-29 18:37] #1350 closed

[2019-11-29 18:38] sbordet commented on #3537
Tested successfully with Firefox 70.

[2019-11-29 18:38] #3537 closed

[2019-11-30 10:35] duanfeixiang commented on #3512
Today, I find the problem. I run the code, and I make breakpoint on the first line of `PathContentProvider.PathIterator.close()`, I find it never been called.
So, I want to know where will the close method be called in the source code？

[code]

[2019-12-01 06:53] behrangsa opened #4383 "Errors deleting multipart tmp files java.lang.NullPointerException under heavy load"
**Jetty version**

9.4.24.v20191120

**Java version**

AdoptOpenJDK 11.0.5 HotSpot

**OS type/version**

Linux, Ubuntu 19.04

**Description**

Under mostly file-upload heavy load, Jetty sometimes throws an NPE:

[code]

** How to reproduce **

You can run the Gatling load tests in this project: https://github.com/turingg/file-server/tree/jetty-npe (the jetty-npe tag).

[2019-12-01 07:10] olamy commented on #4383
what is the jetty version you are using?

[2019-12-01 08:21] behrangsa commented on #4383
It's mentioned in the bug report.

On Sun, 1 Dec. 2019, 6:10 pm Olivier Lamy, <notifications@github.com> wrote:

[2019-12-01 09:57] behrangsa commented on #4383
Seems to be an issue with async servlets.

This servlet won't cause that error:

[code]

but this one does:

[code]

Again, the full source code is available here: https://github.com/turingg/file-server/tree/jetty-npe.

[2019-12-01 21:40] janbartel commented on #3726
Closing this, as appropriate fixes were committed to jetty-9 and jetty-10.

[2019-12-01 21:40] #3726 closed

[2019-12-01 21:46] #4349 closed, assigned to lachlan-roberts

[2019-12-02 16:40] joakime opened #4385 "Limit new UnsupportedOperationException to direct base class SslContextFactory usage"
This change seems to have broken creation of a HTTPS connector for those using `SslContextFactory` directly instead of its `Server` subclass, like https://github.com/dropwizard/dropwizard/blob/release/1.3.x/dropwizard-jetty/src/main/java/io/dropwizard/jetty/HttpsConnectorFactory.java#L599

For a codepath that is merely "deprecated", this seems unexpected.

_Originally posted by @bentmann in https:

[2019-12-02 16:59] joakime commented on #4385
Opened new PR #4386

[2019-12-02 18:16] sbordet commented on #4385
The change is on purpose throwing to get users to update to use `SslContextFactory.Server`.

Having a keystore that needs SNI functionalities needs proper wrapping of the `KeyManager`s, so we deemed better to throw at startup than having a non-working SNI only discovered when a request hits the server.

We had to err on the safer side on this one, and yes there were some behavior incompatibilities

[2019-12-02 18:19] joakime commented on #4385
As pointed out at https://github.com/eclipse/jetty.project/pull/4326#discussion_r352707837

@bentmann looking at the code you linked, https://github.com/dropwizard/dropwizard/blob/release/1.3.x/dropwizard-jetty/src/main/java/io/dropwizard/jetty/HttpsConnectorFactory.java#L599

That would not work for Server side SNI based certificates / keystore as it sits right now.
Jetty version 9.4.16.v20190411

[2019-12-02 18:28] bentmann commented on #4385
Yes, "trivial" if one's app makes direct use of Jetty, not so much if one relies on external libraries for that and now has to juggle incompatibilities among patch versions.

[2019-12-02 18:42] sbordet commented on #4385
@bentmann If you don't use Jetty directly, don't you just need to upgrade your external library (which would have upgraded to a correct use of Jetty)?

[2019-12-02 20:59] sbordet commented on #3512
@duanfeixiang, `PathContentProvider.PathIterator.close()` is called from `HttpSender.reset()` when the sender is done with sending the content.

You still have not provided enough information.

Write a simple reproducible case that we can try ourselves and attach it to this issue.

[2019-12-02 21:22] joakime commented on #4269
Merged PR #4290

[2019-12-02 21:22] #4269 closed

[2019-12-02 21:38] bentmann commented on #4385
External libraries (like Dropwizard in our particular case) don't always consume newer versions of their dependencies in a timely manner. E.g. latest stable release of DW is 1.3.17 which natively depends on Jetty 9.4.18 (cf. https://github.com/dropwizard/dropwizard/blob/v1.3.17/dropwizard-bom/pom.xml#L25).

[2019-12-02 22:01] sbordet commented on #4385
I'd rather help DW to update their code to working SNI with `SslContextFactory.Server` on their 1.3.18 release, rather than code monkeying Jetty 9.4.25 so that DW 1.3.18 with Jetty 9.4.25 will have broken SNI, only to avoid exceptions at startup.

@bentmann did you raise a DW issue yet that we can link?

[2019-12-02 22:04] bentmann commented on #4385
No, not yet.

[2019-12-03 01:13] janbartel commented on #4383
@lachlan-roberts it could be that the changes you did in jetty-10 for https://github.com/eclipse/jetty.project/issues/4368 would mean this doesn't happen in jetty-10 - can you confirm that?

[2019-12-03 01:15] janbartel commented on #4369
Checked in.

[2019-12-03 01:15] #4369 closed, assigned to janbartel

[2019-12-03 01:21] janbartel commented on #4323
Merged to 9.4.x branch.

[2019-12-03 01:21] #4323 closed, assigned to janbartel

[2019-12-03 01:52] janbartel commented on #4351
Fix committed in time for 9.4.25.

[2019-12-03 01:52] #4351 closed, assigned to janbartel

[2019-12-03 02:07] janbartel commented on #4327
As  #4351 has been fixed, I'll close this issue too. Should it re-occur please reopen.

[2019-12-03 02:07] #4327 closed, assigned to janbartel

[2019-12-03 02:11] janbartel commented on #2289
I think this has already been done for jetty-10. We have osgi tests for javax.websocket and jetty websocket, and they all pass, so I believe this is done.

[2019-12-03 02:11] #2289 closed

[2019-12-03 02:13] janbartel commented on #1743
Committed to jetty-10 branch.

[2019-12-03 02:13] #1743 closed

[2019-12-03 02:14] janbartel opened #4387 "Support http2 connector for jetty maven plugin"
**jetty-10**

There is a pom-only way to configure a http connector for the jetty-maven-plugin. It would be nice to have this for a http2 connector as well.

[2019-12-03 02:39] janbartel commented on #4383
@behrangsa  as a work around, try calling request.getParameter(String) or request.getParameterMap()  BEFORE starting async - this will ensure that your multipart content is already parsed and not in some race condition with the request timing out.

[2019-12-03 04:06] duanfeixiang commented on #3512
@sbordet

    MultiPartIterator：
    public ByteBuffer next() {
            while(true) {
                switch(this.state) {
                case FIRST_BOUNDARY:
                    ......
                case HEADERS:
                    MultiPartContentProvider.Part part = (MultiPartContentProvider.Part)MultiPartContentProvider.this.parts.get(this.index);
                    ContentProvider co

[2019-12-03 05:31] Boundw opened #4389 "访问/job/qqq/descriptorByName/hudson.model.FreeStyleProject/checkCustomWorkspace时出现问题。原因： 禁止的"

[2019-12-03 05:59] #4389 closed, assigned to nobody

[2019-12-03 09:59] sbordet commented on #3512
@duanfeixiang it's clear now where the problem is, working on a fix. Thanks!

[2019-12-03 10:39] sbordet commented on #3512
@duanfeixiang can you test the latest fix in #4391 and report if it works for you?

[2019-12-03 11:28] sbordet opened #4392 "Suppress logging of QuietException in HttpChannelState.asyncError()"
**Jetty version**
9.4.24

**Description**
`HttpChannelState.asyncError()` logs exceptions without taking into account whether they implement `QuietException`.

[2019-12-03 11:56] sbordet commented on #4366
@sgrimm

there are 2 things happening here: the first is that the SOCKS proxy uses `localhost` as the host name for certificate verification; and the second is that `SslContextFactory.Client` has been strengthened to perform more checks.

Before, the second thing was hiding the first thing.

The reason we changed `SslContextFactory.Client.endpointIdentificationAlgorithm="HTTPS"` by default is to s

[2019-12-03 12:19] behrangsa commented on #4383
Hi Jan,

I will try that tomorrow but would this race condition get fixed in an
upcoming 9.x release by any chance?

Best regards,

{
  "blog"          : "https://blog.behrang.org",
  "twitter"       : "https://twitter.com/behrangsa",
  "github"        : "https://github.com/behrangsa/",
  "stackoverflow" : "https://stackoverflow.com/users/309683?tab=profile"}

On Tue, Dec 3, 2019 at 1:39 PM Jan Ba

[2019-12-03 14:52] sgrimm commented on #4366
Sure, I get that, but my question is more fundamental: Does the current behavior, considering those two things are the case, ever make sense? Will an application developer ever want to connect through a proxy and validate the remote side's SSL certificate using the proxy hostname? Totally understood that this is an interaction between two behaviors, but that doesn't necessarily mean the end result

[2019-12-03 15:10] sbordet commented on #4366
@sgrimm after the initial bytes to the SOCKS proxy and its reply, the communication is an opaque tunnel - bytes are not interpreted, just forwarded by the proxy to the upstream server and from the server to the client.

The TLS communication is between client and server with the proxy just playing the role of an opaque forwarder, so a client must be able to validate the server certificate as if th

[2019-12-03 15:13] sgrimm commented on #4366
My apologies for being unclear -- I agree this is a bug but I thought maybe your explanation was suggesting that the existing behavior was as intended. Looking forward to this getting fixed; my application uses SOCKS proxies pretty extensively. Thanks for looking into it!

[2019-12-03 15:53] bentmann commented on #4385
https://github.com/dropwizard/dropwizard/pull/3050

[2019-12-03 16:42] sbordet commented on #4385
@gregw I don't think #4386 should be merged.
IIUC, all those using `SslContextFactory` and not `SslContextFactory.Server` have now SNI broken, but they can only figure it out on the first request, rather than at startup.

[2019-12-03 17:22] waynebeaton commented on #1311
The top of the NOTICE file should look something like this:

and should include a cryptography statement.

When others add their IP to a file, append "and others" to indicate the shared copyright.

[2019-12-03 20:47] sbordet commented on #4366
@sgrimm this should be fixed in PR #4394.

Would you be able to test the new code and confirm it fixes your problem?

[2019-12-03 20:56] gregw commented on #4385
The warning is issued at start up not at first request?  What is the proposed alternative?

[2019-12-03 21:38] sbordet commented on #4385
@gregw with the changes introduced in #3863 we introduced a regression so that if a user used the base class `SslContextFactory` instead of `SslContextFactory.Server`, it would get a NPE during the TLS handshake.

#4325 aimed to fix that by throwing an exception earlier (at startup), rather than later (at runtime). I think this is the correct way to go.

The changes in this issue avoid the early e

[2019-12-03 22:54] gregw commented on #4385
@sbordet, I can't see how a NPE on startup is better than a clear warning on startup?
How about we keep #4386 but instead of warning throw an exception with the same text?

[2019-12-03 23:17] sbordet commented on #4385
@gregw it's not an NPE at startup, it's a NPE at runtime.

[2019-12-03 23:40] gregw commented on #4385
Somebody is not describing something properly??? This PR changes `getKeyManagers` which is called during startup and now produces a warning at startup if the wrong type of SslContextFactory is used.  How can this affect the first request?  The unit tests in this PR don't even make requests but check the behaviour of `start()`!      So again - would it be OK if the warning was changed to a fatal er

[2019-12-04 00:24] gregw commented on #1311
See #4395

[2019-12-04 02:44] flymoondust opened #4396 "InputStreamResponseListener read only 8k most"
**Jetty version**
jetty-client-9.4.19.v20190610
**Java version**
java 8
**Question**

I use InputStreamResponseListener to a long-live connection,so i can read multiple times,but i only read 8k most for one time,
so i want to ask, if i can increase the limit?
secondly:if can't increase the limit, how can i know when this request's response end?

code:
[code]

[2019-12-04 08:14] sbordet commented on #4396
@flymoondust it's very likely that it's the server that only sends 8 KiB at a time, so the client is just reading what the server sends.

Your usage of `InputStreamResponseListener` is correct, but in the while loop you want to test for `>= 0`, not just `> 0`.

You know when the response content end when you read `-1` from `responseContent`.

If you know before hand the response content length, yo

[2019-12-04 10:58] duanfeixiang commented on #3512
Yes. Now the file descriptor can be released after the file uploading completely. Thanks!

[2019-12-04 12:22] flymoondust commented on #4396
thanks for review my code, but how can i verify the server may only sends 8K most at a time?

[2019-12-04 13:45] flymoondust commented on #4396
debug日志
[code]

[2019-12-04 14:08] sbordet commented on #4396
@flymoondust the size of the chunks you are going to receive is subject to multiple influences.

The server may do small or large writes.
TCP may split or coalesce.
The client reads depend on the input buffer size, which also depends on whether you're using TLS or not, and whether you are using compression or not.
Writes are then queued into the `InputStreamResponseListener` stream implementation.

[2019-12-04 14:11] #4366 closed, assigned to nobody

[2019-12-04 14:33] #4392 closed, assigned to sbordet

[2019-12-04 14:41] beibm opened #4399 "If the BaseResource contain blank space, the Handler don't work?"
**Jetty version**
9.4.20
**Java version**
1.8.202
**OS type/version**
window 10
**Description**
I Embedding jetty as a server, code like this:

[code]

I start the myServer , post a quest to the server, it do not work!
but, if i use version 6.1.23 of jetty, it work fine.

then, I change the follow statement
String myBaseResource="file:/C:/Program Files/rptServer";
to:
String myBaseResource="file:/

[2019-12-04 15:05] sbordet opened #4400 "Review HttpClient's ContentProvider"
**Jetty version**
10

**Description**
The initial mistake was to model `ContentProvider` to return an `Iterator<ByteBuffer>` for the content.

This does not play well because `Iterator` does not support asynchronous content (e.g. when the client provides some content but not all of it, and then there is a pause: `Iterator` is not really the right abstraction for this "paused" content).

Furthermor

[2019-12-04 15:06] sbordet commented on #3756
Closing as duplicate of #4400.

[2019-12-04 15:17] sbordet commented on #4400
See also #3756 for additional comments.

[2019-12-04 15:52] joakime commented on #4399
That's because `file:/C:/Program Files/rptServer` is not a valid URI.

[code]

causes ...

[code]

The space in "Program Files" is supposed to be URL Encoded to `%20`.

Here's a demo of what URI and URL values you get from either `Path` or `File` objects.

[code]

The results of which are ...

[code]

You might be looking at the results of `File.toURL` and going "hey! that's what I'm using!".

Not

[2019-12-04 17:02] sbordet opened #4401 "Cannot use javax.websocket client from within web app"
**Jetty version**
10

**Description**
CometD 6 has a [test](https://github.com/cometd/cometd/blob/6.0.x/cometd-java/cometd-java-tests/src/test/java/org/cometd/tests/WebAppTest.java) where it creates a war and uses `WebAppContext` to deploy it.
The web app in the war tries to create a new JSR client container:

[code]

This fails because the implementation class, `org.eclipse.jetty.websocket.javax.

[2019-12-04 20:16] joakime commented on #4399
Closing as not a bug.

[2019-12-04 20:16] #4399 closed, assigned to joakime

[2019-12-04 20:41] gregw commented on #4401
Currently the module exposes:
[code]
So while ideally I'd like to have no org.eclipse classes exposed, obviously we are exposing some.  So perhaps exposing `org.eclipse.jetty.websocket.javax.client.` is correct... although is looks a little asymmetric to the server exposes.  Also, the `ContainerProvider` implementation should have been loaded from the container classpath, so it should be able to s

[2019-12-04 20:47] sbordet commented on #4401
@gregw the class loader that initiates the load is the web app class loader.
It cannot find the class, as it's not in the war.
So it delegates to the parent class loader, that _can_ load the class; however, because it's a server class, it's filtered out and not returned to the `ServiceLoader`, and eventually a `ClassNotFoundException` is thrown, and the `ServiceLoader` cannot load the service.

I'

[2019-12-04 20:53] joakime commented on #4401
@lachlan-roberts to test this properly, we need a WAR / WebAppContext setup, where a Servlet within it uses the `javax.websocket.ContainerProvider.getWebSocketContainer()` to get a fresh `WebSocketContainer` object.

[2019-12-04 21:03] gregw commented on #4401
But if the class is requested from a class that was already loaded by the container, it should be able to bypass the context classloader?

[2019-12-04 21:06] sbordet commented on #4401
The class is requested by `ServiceLoader`, which uses the thread context class loader.

[2019-12-04 22:30] sbordet commented on #4401
We can just `protectAndExpose("org.eclipse.jetty.websocket.javax.client.JavaxWebSocketClientContainerProvider")` and it's enough to get CometD 6 tests pass.

[2019-12-05 01:54] flymoondust commented on #4396
it's make sense, but i realy want to find out why this hapened.
i'think i can exclude some scene you mentioned, i use TLS and not using compression, the sever is simple nodeJs.Code is :
`var https = require("https");
var path = require('path');
var fs = require('fs');

var privateKey  = fs.readFileSync(path.join(__dirname, './private.pem'), 'utf8');
var certificate = fs.readFileSync(path.join(__di

[2019-12-05 01:56] flymoondust commented on #4396
But now i use this way to fix the problem:
`
while (started && (len = inReader.read(buf)) >= 0) {

            int left = PKG_BUF_SIZE - len;
            while (buf[len - 1] != '\n' && len < PKG_BUF_SIZE) {
                int lenTmp = inReader.read(buf, len, left);
                if (lenTmp < 0) {
                    break;
                }
                left -= lenTmp;
                len +=

[2019-12-05 11:00] sbordet commented on #4396
@flymoondust feel free to close the issue if your question has been answered.

[2019-12-05 13:30] apprme opened #4402 "NPE in JettyRunWarExplodedMojo"
We have an NPE when running `mvn jetty:run-exploded` after upgrading to 9.4.24.v20191120 (worked fine on 9.4.22.v20191022): `webApp.getClasses()` returns `null` [here](https://github.com/eclipse/jetty.project/blob/aefbdfca587277bc3d27a7e0b8faff3eb0ba4d05/jetty-maven-plugin/src/main/java/org/eclipse/jetty/maven/plugin/JettyRunWarExplodedMojo.java#L91).

[code]

[code]

Here is jetty-maven-plugin re

[2019-12-05 16:11] joakime commented on #3782
Closing, as this is already merged and available in Jetty 9.4.20

[2019-12-05 16:11] #3782 closed

[2019-12-06 10:11] yunwan opened #4403 "HttpInput read 1 byte cause post body HttpServletRequest getInputStream() lost 1 byte data"
**Jetty version**
9.4.24.v20191120

**Java version**
 java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

**OS type/version**
Linux

**Description**
DEBUG log found
[code]

[code]

[2019-12-06 13:40] joakime commented on #4403
Not enough details on how to reproduce.
It appears that you read 1 byte of data, then did `startAsync`, then missing logs, and then you act on the rest of the data.

If you read 1 byte from HttpServletRequest.getInputStream() and THEN you use one of the HttpServletRequest.getParameter() methods the results you are seeing is 100% accurate.

[2019-12-06 18:36] joakime commented on #2455
The `.setUseCipherSuitesOrder(true)` sets the preferred vs offered order (local vs remote).
It doesn't control the Protocol level order of cipher suites.

[2019-12-06 18:36] #2455 closed

[2019-12-07 11:38] #3512 closed

[2019-12-07 11:44] #4385 closed, assigned to joakime

[2019-12-09 01:47] lachlan-roberts opened #4407 "Javax WebSocket annotations not being used as default EndpointConfig"
**Jetty version**
10.0.x

**Description**
When adding an annotated endpoint with javax websockets given a specific EndpointConfig, the annotation configuration should be used as the default and any settings set in the provided EndpointConfig should override these default values.

Example:
[code]

This should result in an endpoint being added with:
uriTemplate = "/{end}/my/{point} (from manual endp

[2019-12-09 05:10] lachlan-roberts opened #4408 "Javax WebSocket encoder/decoders not working in jetty 10.0.x"
**Jetty version**
10.0.x

**Description**
This example of a basic javax websocket string decoder which appends a `=` character to the end of each message, works in 9.4.x but not 10.0.x.

[code]

The tests for encoders/decoders really only test the decoders themselves and don't seem to test them live in a websocket connection. Testing for this should be improved and the implementation in 10.0.x sho

[2019-12-09 21:35] rushalias commented on #3645
@gregw (apologies for the late response, did not notice the questions)
The issue is still present and we see it intermittently.

* are server1 and server2 related?
They are both running the same codebase, however, they are different instances of the same application running on different hosts.

* Do you always get pairs of stuck threads like this?
No.  For example, currently, I am noticing three i

[2019-12-09 21:41] jglick commented on #3225
See also #4154.

[2019-12-09 23:00] lachlan-roberts commented on #4238
Fixed with PR #4390.

Now any system properties prefixed with "jetty." can be used as jetty properties than can be referenced in jetty xml files.

[2019-12-09 23:00] #4238 closed

[2019-12-10 01:29] janbartel commented on #1337
The spec javadoc on this is still a mess. I've raised another issue at jakarta to try and get some clarity: https://github.com/eclipse-ee4j/servlet-api/issues/274

[2019-12-10 01:30] janbartel commented on #4402
Fixed for 9.4.25 and above.

[2019-12-10 01:30] #4402 closed, assigned to janbartel

[2019-12-10 13:39] yadvr opened #4410 "Stopping Jetty 9.4.24.x causes java.lang.NoClassDefFoundError exceptions with openjdk11, jetty-maven plugin"
**Jetty version**
Version 9.4.24.v20191120

**Java version**

openjdk version "11.0.5-ea" 2019-10-15
OpenJDK Runtime Environment (build 11.0.5-ea+10-post-Ubuntu-0ubuntu1)
OpenJDK 64-Bit Server VM (build 11.0.5-ea+10-post-Ubuntu-0ubuntu1, mixed mode, sharing)

**OS type/version**

Ubuntu 19.10
Linux spectre 5.3.0-24-generic #26-Ubuntu SMP Thu Nov 14 01:33:18 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-12-10 14:10] joakime commented on #4410
It looks like you are in the shutdown process and then you have a ClassNotFoundException on a logger.

This is not a new issue, and the fact that you haven't seen it before doesn't mean much.

See Issues: #1356 and #1409

In short, on Jetty stop/shutdown the maven process yanks the classloader out from underneath the Jetty threads (and Spring threads) leaving random errors in its wake.
This can ha

[2019-12-10 14:53] Marco85Li opened #4411 "Jetty server spins on incomplete request due to delayed dispatch until content"
**Jetty version**
9.4.24.v20191120

The issue is also reproducible with 9.4.18 and 9.4.20

**Java version**
jdk1.8.0_172 Oracle

**OS type/version**
Windows 7

The issue is also reproducible with RedHat

**Description**

The Jetty server starts to consume high CPU until server restart.

1. A client sends a POST request with all headers including content length but no actual body to a valid target

[2019-12-10 15:12] joakime commented on #4411
Do you have `HttpConfiguration.setDelayDispatchUntilContent(boolean)` set?
If so, to what value?

[2019-12-10 15:18] yadvr commented on #4410
Thanks for replying @joakime - is there any workaround/solution for this? I'll also consult maven developers.

[2019-12-10 15:18] #4410 closed, assigned to nobody

[2019-12-10 15:20] joakime commented on #4410
@olamy (a maven developer), do you know of a work around for this?

[2019-12-10 15:29] yadvr commented on #4410
Hey @olamy (also one of CloudStack's PMC members) - ^^ what @joakime said :)

[2019-12-10 16:30] Marco85Li commented on #4411
The distributed Jetty server doesn't change the default value of the above setting.
Despite the Javadoc documentation , it's default value is `true`.

HttpConfiguration.java
``
 @param delay if true, delay the application dispatch until content is available (default false)
``

Changing it to false seems to fix the issue:
1. the ``doPost`` servlet is now called immediately after all headers are rec

[2019-12-10 16:48] joakime commented on #4411
OK, Good catch, that documentation problem needs to be addressed.

[2019-12-10 18:04] joakime commented on #4411
The default was changed to true in commit 504ff73d03cc87ea9f0e410805f2d31479f15601 (for Jetty 9.3.0 release), without much explanation as to why.

[2019-12-10 19:09] sbordet commented on #4411
The reason to have `delayDispatchUntilContent=true` by default is that it avoids that application immediately block the thread waiting for content.
When set to `true`, Jetty will read the HTTP headers and then wait threadlessly for the content to arrive, while when set to `false` Jetty will call the application which will typically perform a blocking `read()` and block there until content arrives.

[2019-12-10 19:35] sbordet commented on #4411
I can reproduce the issue, stay tuned for a fix.

[2019-12-10 23:13] joakime commented on #4411
Opened PR #4412

[2019-12-11 00:28] janbartel commented on #4362
@skpaterya you need to provide more information about how your application uses sessions in jetty 9.4, and what your configuration was for sessions in jetty-9.3.

There have been no reported increases in memory usage with the session implementation in jetty-9.4, so more than likely the problem is in the application or non-optimal configuration settings.

[2019-12-11 00:50] garan82 opened #4413 "dynamically set wantClientAuth and needClientAuth in ssl context factory"
**Jetty version**
jetty-util-9.4.11.v20180605
**Java version**
8
**Question**
We are using Jetty with DropWizard. We plan to have a single connector to serve both https & mTLS traffic. As such, we want to dynamically enable/disable `wantClientAuth` and `needClientAuth` in ssl context factory. Is there a simple way to do so, I feel it's unsafe and unmaintainable to create a copy of Jetty SslContext

[2019-12-11 00:58] sbordet commented on #4413
How do you know when you want to enable `wantClientAuth`? By client IP?

Generally speaking, the setting on `SslContextFactory` is a coarse one that is copied to all `SSLEngine`s created from it.

If you wan to customize only a particular connection (e.g. by client IP), then you just call `SSLEngine.setWantClientAuth(true)` on the `SSLEngine` associated to that connection.
That can be easily done

[2019-12-11 01:19] janbartel commented on #1337
Raised PR at jakarta: https://github.com/eclipse-ee4j/servlet-api/pull/276

[2019-12-11 01:20] garan82 commented on #4413
Yes I want to customize for some type of connection (based on request headers). Let me play around with `SslContextFactory.customize(SSLEngine)` and see. Thank you.

[2019-12-11 01:35] janbartel commented on #3395
jdk13 ObjectInputStream still uses the deprecated Proxy.getProxyClass method.

[2019-12-11 01:42] janbartel commented on #2074
@olamy are there any tck tests for the handling of query params for forwards an includes??

[2019-12-11 02:48] garan82 commented on #4413
@sbordet is it possible to access to request headers from SslContextFactory, I don't see it.

[2019-12-11 06:16] olamy commented on #4410
@rhtyd What Maven version are you using? I vaguely remember similar issues (but cannot find references) which should be fixed in last version of Maven.
I guess it's annoying but not blocker?

[2019-12-11 06:30] yadvr commented on #4410
@olamy I'm using mvn 3.6.2 with openjdk11.0.5. Yes, it's annoying and certainly not a blocker.

[2019-12-11 07:32] Auo opened #4414 "GZipHandler not excluding inflation for specified paths"
**Jetty version**
9.4.24.v20191120

**Java version**
openjdk 11.0.3 2019-04-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.3+7)

**OS type/version**
macOS Catalina
version 10.15.1

**Description**
`GZipHandler::addExcludedPaths` does not exclude inflation for specified paths when `GZipHandler::setInflateBufferSize` has been set.

A new method, `addExcludedInflationPaths` would be very use

[2019-12-11 08:21] sbordet commented on #4413
@garan82 the TLS handshake where the server requires the client certificate (or not) happen way before any HTTP request that you may _later_ send on that (now encrypted) connection.

As such, you cannot use HTTP request headers to decide whether you want TLS client authentication - you have to rely on the client IP address.

[2019-12-11 08:52] Auo opened #4415 "GzipHandler invalid input zip size on large (over 2,147,483,647 bytes) request body content"
**Jetty version**
9.4.24.v20191120

**Java version**
openjdk 11.0.3 2019-04-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.3+7)

**OS type/version**
macOS Catalina
version 10.15.1

**Description**
`GZipHandler` will fail to inflate streams that are over `4GB`, the error originate in `GZipContentDecoder`

[code]

**How to replicate**
Setup Jetty with `GZipHandler` and specify `setInflateBu

[2019-12-11 12:47] #4411 closed, assigned to sbordet

[2019-12-11 14:21] joakime commented on #4415
It's not that it doesn't validate, we are using `int` to track sizes.
Which would limit the file size to `2,147,483,647` (roughly 2GB).

We need to update that code to use `long`

[2019-12-11 18:15] rushalias commented on #3645
Got a couple of more stack traces, interestingly these are ones I have not seen in the past.  Yet they occur on a thread that is running hot, stuck in a running state of which it will never come off of.

Stack trace
[code]

Stack trace
[code]

Stack traces were obtained via YourKit.

[2019-12-11 18:17] garan82 commented on #4413
Thank you. We'll create 2 connectors instead of trying to use 1 for both https & mtls then.

[2019-12-11 18:35] #4228 closed

[2019-12-11 20:17] joakime commented on #4415
I have been able to replicate.

There are 2 problems, one in the ISIZE calculation (need to use `long` to track value), and one in the ISIZE validation (need to honor modulo 2^32 evaluation rule in [RFC 1952: Section 2.3.1](https://tools.ietf.org/html/rfc1952#section-2.3.1)).

If I only correct for the modulo 2^32 validation check, there's still some issues pointing to the fact that `_value` is an

[2019-12-11 20:36] joakime commented on #4415
I've addressed the bitshifting of long and i am preparing a PR.

[2019-12-11 20:39] joakime commented on #4415
Opened PR #4417

[2019-12-11 21:28] garan82 commented on #4413
@sbordet reopen as I have more questions, sorry :( Main reason we want to use request header is to get the host header. But if we can get the host in a different way at SSL Handshake, that should be sufficient as well. For SNI, client should present the host name at SSL handshake, right? Is there a way to get this from SSL Context Factory?

[2019-12-11 21:35] garan82 commented on #4413
For a second thought, I think the host in SNI call is present during SSL handshake but not before, so it probably won't work.

[2019-12-11 23:17] sbordet commented on #4413
The SNI information is present in the first TLS message sent by the client (the `ClientHello`) so it's kind of immediately available.

However, that is the the _server_ name.

How do you force a client that must use client certificate authentication to use the server host name that is configured to require client certificate authentication?
The client can just use another server host or the "open"

[2019-12-12 00:46] garan82 commented on #4413
Yes, they can fake another server name in SNI. In our design, a valid request will include host in request headers, along with some digital signature for the headers/body. If we can get host from SNI, and decide to enable/disable client cert validation for SSL handshake. And once SSL handshake succeeds, we confirm again at later point if host from SNI is the same as the one provided in request hea

[2019-12-12 04:26] ari opened #4418 "Network sockets not properly closed"
FreeBSD 12.1
java/openjdk11.0.5+10.1 from ports
jetty-9.4.24.v20191120 (although the problem certainly exists in 9.4.21 and probably other versions)

There appears to be a serious problem with Jetty 9.4 specific to openJDK11/12 on FreeBSD. The problem does not happen in openJDK13 nor does it happen with tomcat. It can be reproduced easily.

Inbound connections to a jetty server running HTTP/2 with

[2019-12-12 04:27] ari commented on #4418
Note that the lead porter of openJDK to FreeBSD can reproduce the problem but we could do with a hand to understand what is specific to Jetty's socket handling which might contribute to this issue.

https://github.com/battleblow/openjdk-jdk11u/issues/94

[2019-12-12 04:32] ari commented on #4418
@gregw We had some dealings with webtide years ago and we are based about 5km from you. Let me know if you need a FreeBSD environment to assist with testing, if you don't already have one.

[2019-12-12 06:53] gregw commented on #4418
@ari I'm guessing that this is more likely an openJDK bug than a jetty bug.... as I'm trying to think what could we possibly do to get a connection into CLOSED state and have it stay there and never be released.  I'm not sure I could write code to do that even if I wanted!

Can you capture a full debug trace from jetty while reproducing and we can have a look at it and annotate exactly what we are

[2019-12-12 08:06] pieterjanpintens opened #4419 "Classloading problem with WebApplication classloader in OSGi environment"
**Jetty version**
9.4.20 (eclipse 4.13)
**Java version**
Java 8 AWS corretto
**Question**
We use Jetty in our application to serve web applications.
When upgrading we noticed that we are now seeing class loading problems from our application code in our webapplications. We tracked it down to changes related to the Webapplication classloader. That is the method where this classloader decides if the

[2019-12-12 09:36] sbordet commented on #4413
If they can fake the SNI host, I guess they can also fake the HTTP header, no?
Consider a new user of your system (with only access to `auth.domain.com`) pretending to be an admin, or something similar.

I never tried to update the `SSLEngine` configuration in the middle of the TLS handshake.
The JDK does not have APIs to extract the SNI name from the `ClientHello`.
The JDK implementation will cal

[2019-12-12 12:34] janbartel commented on #4419
Can you try with 9.4.24? I recall we fixed a bug in this area recently. I'm away from my computer right now, but will post a link to the issue tomorrow.

[2019-12-12 13:54] joakime commented on #4419
See #2575 - you likely have one of the OSGi implementations that has the URL/URI escaping bug in `Bundle.getEntry()`

[2019-12-12 14:11] pieterjanpintens commented on #4419
I don't think this is the problem, the class is loaded fine, it is the jetty web application classloader that decided to throw away the class because it assumes it calculates incorrectly that it is a server class. Our setup is probably not that common since we have a custom parent classloader to delegate class loading in our OSGi environment.

The fix suggested in the issue above to convert a URL

[2019-12-12 14:13] pieterjanpintens commented on #4419
I will try that later, we rather stay on the version that comes with the eclipse release but if this release solves this problem we can diverge.

[2019-12-12 20:11] #4415 closed, assigned to joakime

[2019-12-12 22:40] janbartel commented on #4419
@pieterjanpintens  this was the bug I was thinking of, which sounds extremely relevant to your situation: https://github.com/eclipse/jetty.project/issues/4183

[2019-12-13 02:16] olamy commented on #2074
@janbartel I cannot see any dedicated to this particular case.

[2019-12-13 07:18] sbordet opened #4421 "HttpClient support for PROXY protocol"
**Jetty version**
9.4.x

**Description**
Introduce support for the [PROXY protocol](http://www.haproxy.org/download/2.1/doc/proxy-protocol.txt) V1 and V2 in `HttpClient`.

[2019-12-13 07:56] pieterjanpintens commented on #4419
Yes we think this will resolve our problem! Thank you

[2019-12-13 07:56] #4419 closed, assigned to janbartel

[2019-12-13 15:09] joakime opened #4422 "jetty-maven-plugin doesn't take into account generated / prepared phases in jetty:run"
**Jetty version**
9.4.24

**Java version**
Any

**OS type/version**
Any

**Description**
If a project is using plugins that cause content (any kind of content) to be generated by the various standard `generate-*` and `prepare-*` phases, then the jetty-maven-plugin does not seem to include them for execution in `jetty:run`.

Note: these `generate-*` and `prepare-*` phases are not a problem for `jet

[2019-12-13 17:34] joakime commented on #4136
Several attempts at using multiple WebApps (via WAR files) on embedded-jetty shows that the generated temp directories do not overlap.

Why you experienced overlapping temp directories is a mystery without more information.
Closing for now.
If you can provide a reproduction case, we will be happy to reopen, perhaps this issue can go further to either explaining the behavior, or identifying a bug.

[2019-12-13 17:34] #4136 closed

[2019-12-13 17:35] #4154 closed

[2019-12-13 17:38] joakime commented on #3678
@waynebeaton are we allowed to use "javax" within an Eclipse project for its java package and/or artifact name?

Examples:

Java Package: `org.eclipse.jetty.websocket.javax.client`
Artifact Coordinates:
[code]

[2019-12-13 17:42] joakime commented on #3678
Until we get feedback from Wayne, here's some examples of other Eclipse projects doing the same thing we are worried about.

* https://search.maven.org/artifact/org.eclipse.birt.runtime.3_7_1/javax.wsdl/1.5.1/jar
* https://search.maven.org/artifact/org.eclipse.persistence/javax.persistence/2.2.1/jar
* https://search.maven.org/artifact/org.eclipse.ecf/javax.servlet/3.1.0.v201410161800/jar
* https:/

[2019-12-13 20:01] waynebeaton commented on #3678
Oracle claims "javax" as it's trademark. The general rule is that you must avoid adding confusion regarding ownership. Calling something "javax something" is offside, but "something for javax" is generally okay (yes, I know that that particular example is silly).

I assume that you're implementing javax.websocket.... why not just call it "websocket-client"?

FWIW, the second example that you're ci

[2019-12-13 21:07] joakime commented on #3678
The "Something for javax" is easy for Descriptions and whatnot.

A bit hard to use that "for" syntax for namespaces and artifact names. :-/

We already have ...

* websocket-client.jar (the Jetty native websocket client, predates javax.websocket - being renamed to jetty-websocket-client for Jetty 10.0.x)
* websocket-core.jar (the Jetty core websocket lib)
* javax-websocket-client.jar (the Jetty im

[2019-12-13 21:11] joakime commented on #3730
Opened PR #4423

[2019-12-13 21:11] joakime commented on #4191
Closing as PR #4192 was merged.

[2019-12-13 21:11] #4191 closed

[2019-12-13 21:46] janbartel commented on #4422
Exactly. That's why we have the run-war goal. It would not be possible to work out which configuration parameters for all plugins refer to generated content locations. We treat the war plugin specially as it is very typically associated with war projects, but there are a kaleidoscope of other plugins that can be used and generate stuff in all manner of different ways.

[2019-12-13 22:51] gregw commented on #3678
I think we need to look at this the other way around... ie let's worry about correct usage of `jakarta` name and then do the same for `javax`.   I hope we can get a very definitive answer that we are using `jakarta` correctly and then the pattern should give us clarity that we are using `javax` in the for usage style.

Note we have two naming issues: the module  `jakarta-websocket-client` and the

[2019-12-16 07:43] mkemmerz opened #4425 "'UnsupportedOperationException: X509ExtendedKeyManager only supported on Server' after upgrading to 9.4.24"
We upgraded from 9.4.22.v20191022 to 9.4.24.v20191120, Java 11.

We are encountering a new exception that prevents our software from working correctly. On startup Jetty calls a method that has been marked as deprecated in 9.4.24 ([deprecated list](https://www.eclipse.org/jetty/javadoc/9.4.24.v20191120/deprecated-list.html)).

org.eclipse.jetty.util.ssl.SslContextFactory.newSniX509ExtendedKeyManage

[2019-12-16 08:10] gregw commented on #4425
@mkemmerz The issue is that we had to split the `SslContextFactory` into a client and server version, rather than a single class for both.
If you have code that previously instantiated `SslContextFactory` directly, then it will mostly work other than SNI.   The fix is to change to use
`SslContextFactory.Server` instead of just ` SslContextFactory`.

[2019-12-16 08:11] gregw commented on #4425
@joakime @sbordet That warning is not really clear that `Server` means `SslContextFactory.Server`.  I think in this case we should be a bit more verbose

[2019-12-16 08:41] mkemmerz commented on #4425
@gregw Thanks for the information and hint!

I will give it a try.

[2019-12-16 09:00] mkemmerz commented on #4425
I was able to solve the issue by using `SslContextFactory.Server`, thanks to @gregw.

Due to the explanation that you split the `SslContextFactory` in client and server the exception makes sense now. I doubt that people will get the issue if they don't know the context though.

Just a small example how I fixed it (if someon else encounters this problem):

[code]

changed to

[code]

[2019-12-16 11:46] lachlan-roberts commented on #1626
I don't think there is anything to do here.

Looks like the 9.4.x code has been changed so this exception will now call `onError` and then `onClose` like the OP expected. Jetty-10 also has the correct behavior by notifying `onError` and then `onClose`.

[2019-12-16 11:46] #1626 closed

[2019-12-16 14:42] sgrimm commented on #4366
Just to confirm: Yes, this fixes the problem. Thanks!

[2019-12-16 15:56] joakime commented on #4425
The error message was updated in `jetty-9.4.x` head as a result of issue #4385.

Current message is ...

https://github.com/eclipse/jetty.project/blob/cf7f6a52f56d550cfd833b633e1365b719457c6b/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java#L1275-L1279

[2019-12-16 15:58] joakime commented on #4425
Closing as this was addressed in issue #4385

[2019-12-16 15:58] #4425 closed, assigned to nobody

[2019-12-16 17:01] #4374 closed, assigned to sbordet

[2019-12-16 18:17] waynebeaton commented on #3678
I wish that it was this simple. We actually have considerably more leeway with how we use names trademarked by the Eclipse Foundation than we do with those of others.  I'm confident that websocket-jakarta-client and websocket-jetty-client are both fine, but I'm not sure about websocket-javax-client. I'll investigate.

[2019-12-16 18:34] joakime commented on #3678
I'm +1 for this approach, and the proposed example names.  (I take it this would also apply to the server/servlet versions too?)
Just need to resolve the `javax` specific case (legally speaking).

[2019-12-16 20:21] gregw commented on #3678
So I think we should do the work now to reorder the names, so that jakarta will be good and if anybody who does care about javax looks at it, it will be the best we can do simple.  If they really don't like it, then we can always `s/javax/legacy/`

[2019-12-16 20:42] gregw opened #4426 "Upgrade to eclipse licence 2.0"
We need to upgrade to EPL-2.0.  This should be done immediately for jetty-10... However I'm not sure if we should do a licence change in a dot release of jetty 9.4.x ?

[2019-12-16 20:52] joakime commented on #1311
I think we should reopen this as the license header blocks still haven't been talked about or addressed.
Should they include the "and others" language that is mentioned everywhere?

[2019-12-16 20:58] gregw commented on #1311
Let's add the "and others" during our happy new year commit to update the dates.

[2019-12-17 02:11] lachlan-roberts commented on #4407
fixed with #4420

[2019-12-17 02:11] #4407 closed, assigned to lachlan-roberts

[2019-12-17 07:11] lachlan-roberts commented on #4401
@sbordet I cannot reproduce this issue even with just a webapp using jetty-home.

[2019-12-17 09:36] #4421 closed, assigned to sbordet

[2019-12-17 19:13] sbordet opened #4427 "Retried HttpClient Requests can result in duplicates cookies"
**Jetty version**
9.4.x

**Description**
`HttpClient` retries request only in one case: when the idle timeout is just expired on a connection while the request is about to be sent.
The implementation detects that the connection will be closed, and retries the request on another connection.

However, the retry runs `HttpConnection.normalizeRequest()` again, causing the cookies (and possibly other h

[2019-12-17 23:33] #4422 closed, assigned to janbartel

[2019-12-18 14:36] sbordet commented on #4403
I agree that this seems an application mistake where the application reads 1 bytes and then the other 1819. Double check if you don't have a filter or something else that reads 1 byte.

[2019-12-18 14:36] #4403 closed, assigned to nobody

[2019-12-18 14:39] #4396 closed, assigned to nobody

[2019-12-18 14:40] sbordet commented on #4413
Closing as answered, reopen if you have more questions.

[2019-12-18 14:40] #4413 closed, assigned to nobody

[2019-12-18 22:00] waynebeaton commented on #3678
Using "websocket-javax-client" as a JAR file name and/or Maven artifactid is fine. Thanks for checking.

[2019-12-18 22:29] gregw commented on #3678
Thanks
@lachlan-roberts  can you action this!

[2019-12-19 02:50] janbartel opened #4430 "Duplicate generation of servlets/filters/listeners from context xml with quickstart"
**Jetty 10**

Configuration that is applied by a context xml file can be generated into a quickstart-web.xml file. When the webapp is quickstarted, we apply both the context xml file AND the quickstart-web.xml file, which could lead to the same element being created/configured twice. I've tested this with a servlet that was defined in a context xml file: it was also generated into quickstart-web.x

[2019-12-19 03:41] janbartel opened #4431 "context xml should override web.xml for default-context-path"
**Jetty 10**

The spec text for `default-context-path` says:

This would imply that setting the default context path via jetty api (programmatic or xml) should override the value set in any of the web.xml deployment descriptors.
 We need some tests that verify the order of precedence being:
context.xml
web-default.xml
web.xml
override-web.xml

[2019-12-19 04:46] janbartel opened #4432 "Implement ServletContext.set/getSessionTimeout"
**Jetty 10**

[2019-12-19 04:47] janbartel opened #4433 "Implement ServletContext.addJspFile"
**Jetty 10**

[2019-12-19 04:50] janbartel opened #4434 "Implement ServletContext.get/setRequestCharacterEncoding and ServletContext.get/setResponseCharacterEncoding"
**Jetty 10**
Servlet 4.0

[2019-12-19 14:13] joakime commented on #4434
This is related to issue #2995 right?

[2019-12-19 19:57] jivkoto opened #4437 "SessionHandler not able to recover jsessionid from url"
**Jetty version**
Jetty 9.4.24

**Java version**
java 8

**OS type/version**
MacOS Mojave 10.14.6

**Description**
For some of my requests I am setting the jsessionid in the url as I can't use cookies. The whole url is looking like:

[code]
The result is that the the session is not recovered.

I particularly did some findings that want to highlight

1. Bad implementation in org.eclipse.jetty.serve

[2019-12-19 20:15] joakime commented on #4437
The use of `/in/trains;jessionid=<blah>` is the format that it takes. (a jsessionid is never a query parameter)
This syntax is known as a URL path parameter. - https://tools.ietf.org/html/rfc3986#section-3.3

As for the ways a Servlet container can be configured to read sessions, there's the SessionTrackingMode.

https://docs.oracle.com/javaee/7/api/javax/servlet/SessionTrackingMode.html

From the

[2019-12-19 21:00] #4427 closed, assigned to sbordet

[2019-12-19 21:00] jivkoto commented on #4437
With the clarification it makes sense. Also pics it up correctly.
It was my wrong assumption that SessionTrackingMode.URL was for query param even though the java doc was not clear where exactly in the URL should be placed. (Probably the spec is more clear).
Thank you for the clarification.

[2019-12-19 21:00] #4437 closed, assigned to nobody

[2019-12-19 22:10] #3730 closed

[2019-12-20 06:35] lasiltan opened #4439 "Why is 10.0.0.alpha1 marked as a release version?"
**Jetty version**
10.0.0.alpha1

**Java version**
11.0.2

**Question**
Why is 10.0.0.alpha1 - clearly an alpha version - marked as a release version in maven: https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-server/maven-metadata.xml? This is seriously annoying for anyone using an automated dependency updater.

[2019-12-20 07:55] sbordet commented on #4439
The `release` element is updated by Maven every time a non SNAPSHOT artifact is deployed.

10.0.0.alpha1 is a "release" for those that want to use/test Jetty 10 and consume artifacts from Maven Central. We currently run one of our websites on it.

[2019-12-20 07:55] #4439 closed, assigned to nobody

[2019-12-20 13:08] sandeep-katta commented on #3319
I think this issue fixes CVE-2019-10241, and as per the info available at [bugzilla](https://bugs.eclipse.org/bugs/show_bug.cgi?id=546121) it is resolved in the following version

  9.2.27.v20190403
  9.3.26.v20190403
  9.4.16.v20190411

So if I upgrade to **9.3.27.v20190418** whether this CVE will be fixed or not ?

[2019-12-20 13:16] joakime commented on #3319
See https://www.eclipse.org/jetty/security-reports.html

9.3.26 has the fixed version, so yes, 9.3.27 would address that specific CVE (and 2 others)

[2019-12-20 13:24] sandeep-katta commented on #3319
Thank you so much for the quick reply and clarification

[2019-12-20 13:27] #1905 closed

[2019-12-20 13:27] #2929 closed

[2019-12-20 13:27] #3013 closed

[2019-12-20 14:26] #2682 closed

[2019-12-20 15:27] #2353 closed

[2019-12-20 15:27] #2261 closed

[2019-12-20 15:27] #1425 closed

[2019-12-20 15:41] judge2005 opened #4440 "Request to support non-SSL HTTP/2"
From what I understand, Jetty only supports HTTP/2 over SSL. This is a request to support it over a regular connection for use with isolated web service networks. A typical architecture is to terminate SSL at the edge, using an appliance or proxy such as an F5, and then use un-encrypted traffic between web service nodes on an isolated network. Traffic between networks would always be separately en

[2019-12-20 16:03] sbordet commented on #4440
Jetty supports clear text HTTP/2 since the beginning of HTTP/2 support.

You want to use `HTTP2CServerConnectionFactory` and look at [this example](https://github.com/eclipse/jetty.project/blob/jetty-9.4.24.v20191120/jetty-http2/http2-server/src/test/java/org/eclipse/jetty/http2/server/HTTP2CServer.java).

[2019-12-20 16:03] #4440 closed, assigned to nobody

[2019-12-20 16:27] #1881 closed

[2019-12-20 16:27] #2138 closed

[2019-12-20 16:48] #4331 closed, assigned to nobody

[2019-12-20 17:27] #1542 closed

[2019-12-20 17:27] #1596 closed

[2019-12-20 17:27] #1608 closed

[2019-12-20 17:27] #1669 closed

[2019-12-20 17:27] #1906 closed

[2019-12-20 17:55] sbordet commented on #1978
@janbartel I believe this is yet to be addressed?

[2019-12-20 18:27] #934 closed

[2019-12-20 18:27] #1024 closed

[2019-12-20 18:27] #968 closed

[2019-12-20 18:27] #1366 closed

[2019-12-20 18:27] #1361 closed

[2019-12-20 18:27] #1397 closed

[2019-12-20 18:27] #142 closed

[2019-12-20 18:27] #249 closed

[2019-12-20 19:27] #287 closed

[2019-12-20 19:27] #322 closed

[2019-12-20 19:27] #378 closed

[2019-12-20 19:27] #223 closed

[2019-12-20 19:27] #459 closed

[2019-12-23 15:03] zengxinhui opened #4442 "malicious attack"
**Jetty version**
9.4.24.v20191120

**Java version**
11.0.5

**OS type/version**
major linux

**Description**
exception stack trace is shown when attacked with either url

/%uff0e%uff0e/%uff0e%uff0e/%uff
0e%uff0e/%uff0e%uff0e/%uff0e%uff0e/%uff0e%uff0e/%uff0e%uff0e/%uff0e%uff0e/%uff0e%uff0e/%uff0e%uff0e/%uff0e%uff0e/%uff0e%uff0e/windows/win.ini

/%uff0e%uff0e/%uff0e%uff0e/%uff
0e%uff0e/%uff0e%uff0e

[2019-12-23 15:30] joakime commented on #4442
That's an old Microsoft IIS attack.

Jetty is not vulnerable.

[code]

[2019-12-23 15:30] #4442 closed, assigned to joakime

[2019-12-23 15:35] zengxinhui commented on #4442
Thank you.

[2019-12-23 15:37] joakime commented on #4442
The submitted url ...

[code]

which once decoded, becomes ...

[code]

The reason it looks weird is because that's actually 2 bytes per `. `

which is applied to the webapp's resource base in encoded form, such as ...

[code]

Each `%EF%BC%8E` is a UTF-8 sequence for an unknown / unregistered unicode codepoint.

[2019-12-23 16:40] sbordet opened #4443 "Track backport of ALPN APIs to Java 8"
**Jetty version**
9.4.x

**Java version**
8

**Description**
Oracle is planning to backport to Java 8 the ALPN APIs that were introduced in Java 9, see https://mail.openjdk.java.net/pipermail/jdk8u-dev/2019-November/010573.html.

This will probably land on 8u252, so from that release onward we will need to change the ALPN providers for Java 9+ to work also on 8u252+.

This may require some code ch

[2019-12-24 12:47] Amarendraar23 opened #4444 "TLS Connection Timeout Intermittently"
Jetty

IBM JDK 1.8.5.40

Red Hat Enterprise Linux Server release 7.7

I upgraded from 9.4.11 to 9.4.25 in product. I am noticing connection getting stuck & timing out without loading the webpage. I deployed a helloworld war on the jetty server. The curl command seems stuck during/after TLS handshake. Once the timeout is hit the connection is closed down.

![image](https://user-images.githubusercon

[2019-12-24 13:34] sbordet commented on #4444
The logs report this:

This means that you have a problem in the configuration of your server.
Either you have not configured HTTP/2, or you have not configured ALPN properly.

[2019-12-24 13:39] Amarendraar23 commented on #4444
I am using HTTP1.1 in the sslcontextfactory. So do i need to  configure HTTP/2 or ALPN ?

The same log appears in working case as well. So not sure thats the issue.

![image](https://user-images.githubusercontent.com/5837718/71416235-9923fd80-2685-11ea-9c91-871a6ecc9cbe.png)

[2019-12-24 13:54] Park-Jongseok opened #4445 "typo Limiting Load in jetty docs"
- Merry Christmas. :santa:

- typo
  - [jetty docs - Limiting Load](https://www.eclipse.org/jetty/documentation/9.4.24.v20191120/limit-load.html)'s LowResourcesMonitor on the sixth line

- Before modification
  - https://www.eclipse.org/jetty/javadoc/9.4.24.v20191120/org/eclipse/jetty/server/LowResourcesMonitor.html

- After modification
  - https://www.eclipse.org/jetty/javadoc/9.4.24.v20191120/o

[2019-12-24 14:32] sbordet commented on #4444
@Amarendraar23 sorry I wrongly assumed you wanted to have the server support HTTP/2.

Can you enable DEBUG logging for `org.eclipse.jetty`? What you posted only contains the SSL DEBUG logs.

[2019-12-24 14:34] Amarendraar23 commented on #4444
there is a jetty.log file as well. Anyways attaching it here.
[jetty.log.D20191224.zip](https://github.com/eclipse/jetty.project/files/3998534/jetty.log.D20191224.zip)

[2019-12-25 17:48] sreedharj commented on #4444
@sbordet  any update on this issue?  I did some  analysis.   it looks like data is not getting flushed
even through produced data is available.

19:14:02.755:DBUG:oejis.SslConnection:qtp_httpsamar_HttpServerAdapter_node1-4246: flush NEED_WRAP
[2019-12-24 19:14:02.755] ALL 000000000000 GLOBAL_SCOPE 2019-12-24 19:14:02.755:DBUG:oejis.SslConnection:qtp_httpsamar_HttpServerAdapter_node1-4246: wrap Sta

[2019-12-25 18:35] sbordet commented on #4444
@Amarendraar23 the logs only contain DEBUG information for `SslConnection`.
We need DEBUG logs for `org.eclipse.jetty`.

What I can see from the logs is that the TLS handshake terminates successfully, but then the server does not receive any more bytes and idle times out, which is expected behavior.
Are you sure the logs are related to your `curl` request?

[2019-12-26 10:32] Amarendraar23 commented on #4444
@sbordet

I have shared new logs with `org.eclipse.jetty` DEBUG enabled and ssl logs attached in the same zip.

[jetty_logs-26-12-19.zip](https://github.com/eclipse/jetty.project/files/4002250/jetty_logs-26-12-19.zip)

I have 3 curl requests in the logs shared. First 2 curl requests have completed successfully with the page getting retrieved. But the third request didn't load and timed out.
Please

[2019-12-26 17:33] sbordet commented on #4444
The logs show that we are towards the end of the TLS handshake, in `fill()`, and we are told to wrap; we call `flush()` generate 6 bytes, flush them ok, then wrap again, generate 101 bytes, but this time we cannot flush them (TCP congested), and return `false` from `flush()`. At this point, the handshake status is `NOT_HANDSHAKING` because the `SSLEngine` has generated the bytes, although they cou

[2019-12-26 18:01] sbordet commented on #4444
@Amarendraar23 are you able to try the fixed code in PR #4446 and report back if it works for you?

To build the fixed code:

[code]

Then use 9.4.25-SNAPSHOT as a dependency (we have not updated the POMs to 9.4.26-SNAPSHOT yet). Thanks!

[2019-12-27 00:42] lachlan-roberts opened #4447 "websocket module should be split into separate modules for jetty and javax APIs (Jetty-10)"
**Jetty version**
10.0.x

**Description**
WebSocket module should be split into separate modules for jetty and javax APIs.

`websocket-javax.mod` and `websocket-jetty.mod`

[2019-12-27 06:22] kompaktkikare opened #4448 "Proxy Servlet start processing request but times out after 60 seconds"
Jetty version: 9.4.7.v20170914

Java version: 1.8.0_212

OS: Red Hat 7.4

Hi,
We have experienced a problem where our proxy servlets (extending ProxyServlet) running in an embedded Jetty, started to time out. The FW log showed that the request where never sent from the server running the proxy servlet to the backend service.
The proxy servlet where always able to start processing the incoming clie

[2019-12-27 08:06] Amarendraar23 commented on #4444
@sbordet  I built the projects and did some testing around it. All requests are completing successfully. Ran the curl command in a loop and sleep of 10 secs for 5 mins.
I have asked my QA team to do some more regression.
Do i need to cover any specific edge cases for this? I can do that and along with my QA results report back.

[2019-12-27 08:09] sbordet commented on #4448
First of all, try to upgrade to Jetty 9.4.25 and see if the problem reproduces.

Next, we need some evidence of the problem. Please enable DEBUG logging, reproduce the problem and attach the DEBUG logs to this issue. See https://www.eclipse.org/jetty/documentation/current/configuring-logging.html.

We are not aware of any problem in `ProxyServlet` and we have plenty of users using it.

There is a

[2019-12-27 08:18] sbordet commented on #4444
@Amarendraar23 if you could confirm with your QA that the fix solves the issue for you, will be great.

The fix introduced a few test failures in our test suite, so we need to investigate why and try to find a fix that works for both Oracle and IBM JVMs - we will ask you to do more testing when we have figured out the issue. Thanks!

[2019-12-27 11:14] Amarendraar23 commented on #4444
@sbordet We performed several tests and didn't see any failure. So i can confirm that the fix works fine in the scenarios we could test.

What could be the possible ETA for this fix, as its a high priority for us to upgrade?

[2019-12-27 20:39] kishorekumarhemraj commented on #2205
@diffractious , This did helped us. I was facing CPU Spike issue with Tomcat 8.5 and Tomcat 9 on servers where iBoss Proxy Agent is installed. Was not able to fix this even after 100s of thread dumps until I came across your comment. I stopped the iBoss Proxy Agent server and the issue went away.

Were you able to find the root cause of it, Whats in iBoss Proxy Agent that cause the Tomcat CPU spik

[2019-12-29 13:40] kompaktkikare commented on #4448
Thanks,
This problem happened once more in production, with more debug logging we saw that the SocketAddressResolver task where put on the queue, but did never run.
-D-(QueuedThreadPool) - queue org.eclipse.jetty.util.SocketAddressResolver$Async$$Lambda$84/210474732@44521aaa

The closest we have come to reproduce the issue, was to reduce the number of maxThreads. The big difference from production

[2019-12-29 17:14] jrAtAustin commented on #1716
I am getting the following error trying to use the Cloudbees jerry-reds session manager.

`2019-12-28 17:09:59.634:WARN:oejx.XmlConfiguration:main: Config error at <Call name="addBean"><Arg>|          <New id="sessionDataStoreFactory" class="com.cloudbees.jetty.session.redis.RedisSessionDataStoreFactory"><Set name="jedisPool">|                  <Ref refid="jedisPool"/>|              </Set></New>|

[2019-12-29 17:44] jrAtAustin opened #4449 "Jetty-runner can't find or load class"
9.4.9.v20180320

openjdk version "1.8.0_232"

Mac OS Catalina 10.15.2

I am getting the following exception running jetty-runner with Cloudbees jetty-redis session management.

`2019-12-28 17:09:59.634:WARN:oejx.XmlConfiguration:main: Config error at <Call name="addBean"><Arg>|          <New id="sessionDataStoreFactory" class="com.cloudbees.jetty.session.redis.RedisSessionDataStoreFactory"><Set na

[2019-12-29 17:51] sbordet commented on #4448
What you describe is a typical case where you run out of thread pool threads because they are blocked in some blocking operation.

Take a JVM thread dump and you will see where the threads are blocked.

[2019-12-29 22:53] jrAtAustin commented on #4449
Closing this issue. My configuration is incorrect. There are two similarly named Redis session store projects jetty-redis and jetty-redis-sessions.

[2019-12-29 22:53] #4449 closed, assigned to nobody

[2019-12-30 00:01] lachlan-roberts opened #4450 "websocket-core is exposing internal classes"
**Jetty version**
10.0.x

**Description**

[code]

[2019-12-30 08:55] djelinski commented on #3533
The pattern visible on the graph (requests take either 0 or 3 seconds, nothing in between) usually indicates that time is spent waiting on / retransmitting data lost on the network. GC pauses would display at least some variability.
Since this happens frequently even on low load servers, you could capture this in tcpdump to verify.

[2019-12-30 09:00] sbordet commented on #3533
@bdevost going to close this issue due to inactivity - reopen if you still have the problem.

[2019-12-30 09:00] #3533 closed

[2019-12-30 20:18] #4445 closed, assigned to nobody

[2019-12-30 20:18] sbordet commented on #4445
@PARK-JONGSEOK, thanks!

[2019-12-31 09:20] dhruvil-93 opened #4453 "Few random threads reporting high CPU usage"
**Jetty version**
9.4.22.v20191022 to 9.4.25.v20191220

**Java version**
Oracle Java 8u65, Oracle Java 8u231, Amazon Corretto Java 8u232

**OS type/version**
Host: Amazon Linux 2 (Linux ip-xxx-xxx-xxx-xxx 4.14.154-99.181.amzn1.x86_64 #1 SMP Sat Nov 16 01:38:34 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux)
Docker: Debian:8.11

**Description**
I have a web service packaged as war and deployed using Jetty

[2019-12-31 15:39] joakime commented on #4453
The threads with names `pool-#-thread-#` are not Jetty threads, we don't name our threads that way.
Find out what library is creating those threads.

However, the ones with `qtp########-#` are Jetty threads, those are managed by Jetty's Queued Thread Pool.

While it is possible to use standard Java thread executors with various Jetty components it's not recommended for any system with load.

Also,

[2020-01-01 18:04] dhruvil-93 commented on #4453
While handling requests, we use the javax.servlet.AsyncContext to free up the jetty worker threads and process asynchronously and write response to javax.servlet.http.HttpServletResponse.

Rest assured, all the other components remain unchanged other than the Jetty libraries (client, http, io, server, servlet, util) revision.

I added the details regarding the threads and system calls and the work

[2020-01-02 07:19] Amarendraar23 commented on #4444
Seeing the below TimeoutException which is being ignored.

[code]

Is this expected?

[jetty.log.D20200102.T133455.zip](https://github.com/eclipse/jetty.project/files/4015115/jetty.log.D20200102.T133455.zip)

[2020-01-03 16:13] sbordet commented on #4453
@dhruvil-93 I don't think VisualVM reports correctly which thread is consuming CPU. I recommend you use JMC to track CPU usage.

Are you setting a timeout on `AsyncContext`? If so, is the timeout expiring?
Do you use `AsyncListener`? If so, do you implement `onError()`?
Do you use Servlet async I/O?
Is the Jetty connector idle timeout expiring?

We need DEBUG logs to understand what's going on, as

[2020-01-03 16:15] sbordet commented on #4444
@Amarendraar23 the logs are incomplete (we need to see the log lines before and after to tell what's going on), but in general idle timeouts are normal, as they close idle connections to save server resources.

Idle timeouts may happen during the processing of requests, and if so they are ignored, as per the Servlet Specification.

[2020-01-06 06:41] janbartel commented on #4434
PR #4455 opened.

[2020-01-06 06:42] dhruvil-93 commented on #4453
Yes, I've set timeout on AsyncContext of 10 seconds and it is working.
Also, I do implement the onError() along with onComplete(), onTimeout(), onStartAsync() (onStartAsync() is an empty method in my case).
I don't use Servlet async I/O. I write to HttpServletResponse.getWriter()

This is a production system and hence DEBUG logs are disabled hence won't be able to share DEBUG logs.

Also, JMC requ

[2020-01-06 06:44] janbartel commented on #4434
@joakime oops, this is a duplicate of #2995, but as I've used this issue number in the PR, I'll have to keep this issue and close the older one.

[2020-01-06 06:45] janbartel commented on #2995
I'm closing this as a duplicate of #4434 - as I've used that issue number for the PR branch, I will have to close this older issue.

[2020-01-06 06:45] #2995 closed

[2020-01-06 18:46] joakime commented on #1311
Opened PR #4456 for this "and others" on the source headers.

[2020-01-06 18:46] joakime commented on #3578
I can prepare a PR for this.

[2020-01-06 23:46] sbordet commented on #4453
@dhruvil-93 we don't have enough information to help you. It _could_ be that in previous Jetty versions we did not call correctly `AsyncListener` methods and now we do, so the behavior changed.
Without further evidence it's difficult to tell.

If you can enable DEBUG logs momentarily (say for 1 minute) it would be possible to understand more what's going on.

If you implement `AsyncListener` metho

[2020-01-07 01:58] SingASongForU opened #4457 "ExecutorThreadPool reject strategy not effect when queue config more than one."
jetty.project-jetty-9.4.15.v20190215
JDK8
SUSE LINUX

When use this to create a jetty server,I find a strange problem.This is the codes(workThreads is a standard java threadpool with rejectedHandler like ThreadPoolExecutor.AbortPolicy):

[code]

when worktheads queue configure as one(the max queue number is one),everything seemed to be ok.The jetty server will reject new request when the threadpoo

[2020-01-07 03:56] joakime commented on #4457
An ExecutorThreadPool of only 1 max queue will never work.

Why are you wanting this kind of config?

[2020-01-07 04:47] SingASongForU commented on #4457
When use ExecutorThreadPool ,the fact is only 1 max queue worked well，when 2 or larger，the reject handler didn‘t work.And even not go into the method org.eclipse.jetty.util.thread.ExecutorThreadPool.execute .Such as:
when construct my workThreads,use
BlockingQueue<Runnable> workQueue = new LinkedBlockingQueue<Runnable>(1);
AbortPolicy worked well.
but use
BlockingQueue<Runnable> workQueue = new Li

[2020-01-07 14:36] sbordet opened #4459 "Move multipart classes to jetty-server"
**Jetty version**
10.0.x

**Description**
Multipart classes are now in `jetty-http`, but they are the only ones that require the Servlet API.

This makes it non-optimal from the point of view of the JPMS module dependencies, and of course they are not used at all in the client.

I propose that we move these classes to `jetty-server`, as it is the only user of the multipart classes.

[2020-01-07 16:16] sbordet commented on #1311
Done in de890bb1b711cb000e72aae75ce9a7437e8529ae.

[2020-01-07 16:16] #1311 closed

[2020-01-07 17:56] sbordet opened #4460 "Provide a parameterless CustomRequestLog"
**Jetty version**
10.0.x

**Description**
Currently, `CustomRequestLog` requires constructor parameters.
This does not play well with the Jetty Maven Plugin, which expects a `RequestLog` instance, but it's going to be difficult to instantiate from a `pom.xml` file.

While it is true that custom `RequestLog` configurations may be provided with a Jetty XML file, simple usages will benefit from a par

[2020-01-07 17:56] sbordet commented on #4460
@janbartel opinions about this?

[2020-01-07 20:06] electrum opened #4461 "IllegalStateException in HttpOutput with Jersey"
**Jetty version**
9.4.25.v20191220

**Java version**
OpenJDK 1.8.0_232 (Zulu)

**OS type/version**
macOS Mojave 10.14.6

**Description**
Jetty 9.4.25 seems to have a regression (or stricter behavior) in the `HttpOutput` state machine (likely introduced by #4409) which causes the following exception on `write()`:
[code]
Unfortunately, I was not able to create a simple reproduction, but it reproduce

[2020-01-07 22:01] sbordet opened #4462 "WebSocketSession.close() calls onWebSocketClose() with lock held"
**Jetty version**
10.0.x

**Description**
Currently `WebSocketSession.close()` can be called concurrently and there is no atomic state change to guard against this.

The problem is that calling `close()` may call application code (`onclose` event handlers) with the lock held, and that is recipe for problems (for example, CometD 6 deadlocks).

[2020-01-08 11:51] gbrehmer commented on #4461
same here but with other frameworks (spring boot 2.2)

[code]

[2020-01-08 14:25] cstamas commented on #4376
FYI, just out of curiosity, spotted release 9.4.25 (and change log contains fixes for this issue), so we tested it on our QA: problem seems still here, though the message "Async Closed" changed (obviously, as it can be seen from the commit):

[code]

Note: WL class is plain implementation of `WriteListener`, where `onWritePossible` method follows the "usual" pattern (as can be seen on https://webt

[2020-01-08 14:34] cstamas commented on #4376
~~Sorry, but this above may be wrong: during tests LB was involved and it seems it was dropping connections.... stay tuned, we will repeat it w/o LB in equation (directly going to Jetty).~~

Our bad, sorry for noise.

[2020-01-08 14:36] xingbill opened #4464 "Any fixes for issue org.eclipse.jetty.io.EofException"
**Jetty version**: 9.4.19.v20190610

**Java version**: OpenJDK Runtime Environment (Zulu 8.31.0.1-linux64) (build 1.8.0_181-b02)

**Question**:  Recently we are working to migrate our applications from Spring with Tomcat to springboot with Jetty.  We ran into issues with the exceptions below on development&production environments:  org.eclipse.jetty.io.EofException. We couldn't identify what cause

[2020-01-08 15:18] xingbill commented on #4464
Also stack trace attached:
2020-01-08 09:41:14,785 ERROR qtp747004588-66      .cloud.sleuth.instrument.web.TraceFilter - Uncaught exception thrown
org.eclipse.jetty.io.RuntimeIOException: org.eclipse.jetty.io.EofException: Early EOF
	at org.eclipse.jetty.server.Request.extractFormParameters(Request.java:560)
	at org.eclipse.jetty.server.Request.extractContentParameters(Request.java:478)
	at org.ec

[2020-01-08 16:02] joakime commented on #4464
"Early EOF" means that the connection was terminated before all of the expected content was received.

Looks like it was attempting to read a POST form request body content and the entire form wasn't sent.

[2020-01-08 16:03] sbordet commented on #4461
@electrum thanks for the reproducer, we were able to confirm that's a Jetty bug.
We are working on a fix.

[2020-01-08 16:11] xingbill commented on #4464
@joakime Thank you so much for quickly commenting on this.  Since we got so many this type of Exceptions, it kinda bothers us.

We run both Tomcat and Jetty, we don't have the issues with Spring on Tomcat.  Any jetty settings, or Springboot to prevent this? Thx.

[2020-01-08 16:20] joakime commented on #4464
The description of this issue points to a client bug currently (we really need more info)
What kind of client are you using with this server? (browser, open source http library, open source REST library, java HttpURLConnection, custom client, etc)
Do you have a project that can reproduce this that you can share with us?

As for the differences in Tomcat vs Jetty ...
Tomcat chooses to be quiet and

[2020-01-08 16:23] joakime commented on #4376
*whew*  :relieved:, you had some worried people :worried: over here!

[2020-01-08 20:08] sbordet commented on #4464
@xingbill another option is that you have a wrong mapping for URIs, so that a URI hits the `HiddenHttpMethodFilter` when it should not.

[2020-01-08 21:15] joakime commented on #4461
A smaller testcase that can replicate this can be found in branch `jetty-9.4.x-4461-aggregate-gzip-blocked`

See: https://github.com/eclipse/jetty.project/blob/jetty-9.4.x-4461-aggregate-gzip-blocked/jetty-servlet/src/test/java/org/eclipse/jetty/servlet/AggregateBufferTest.java

[2020-01-08 22:01] joakime commented on #4461
Opened PR #4465

[2020-01-09 00:16] lachlan-roberts commented on #4462
@sbordet were you able to reproduce this problem with 10.0.x?

In jetty 10 websocket the only call to `onClosed` is done in the `closeConnection()` method which is always guarded with an atomic check to the `WebSocketSessionState`. So it should only be possible to call `onClosed` and `onError` exactly once.

`WebSocketSession.close()` will not try to call `onClosed` directly but try to send a clos

[2020-01-09 00:22] sbordet commented on #4462
@lachlan-roberts see stack trace that shows how `WebSocketSession.close()` ends up calling `onWebSocketClose()`:

[code]

[2020-01-09 00:23] sbordet commented on #4462
CometD 6 failing test is `CometDWebSocketServerProtocolTest.testClientWithWebSocketProtocolServerWithWebSocketProtocol()`

[2020-01-09 06:42] gregw commented on #4462
@sbordet what lock is being held?  We can't see any core locks in that stack trace?

[2020-01-09 06:49] cstamas commented on #4376
Just to confirm, load testing on our QA system shows no errors whatsoever (LB left out of equation), so we are fine here. This issue is fixed as far as am concerned, the log noise "Async closed" is gone, actually, we had no errors at all on server/jetty side. Sorry again for hasty report above!

[2020-01-09 09:44] sbordet commented on #4376
@cstamas thanks for the feedback! Closing this issue.

[2020-01-09 09:44] #4376 closed, assigned to gregw

[2020-01-09 09:49] sbordet commented on #4462
@gregw the lock being held is the one from `JettyWebSocketRemoteEndpoint.close()`, a `SharedBlockingCallback`.

[2020-01-09 11:02] wilkinsona opened #4468 "External javadoc that refers to Jetty classes cannot link to there javadoc due to missing package-list file"
**Jetty version**

9.4.24.v20191120

**Java version**

8

**OS type/version**

All

**Description**

Jetty 9.4.24's javadoc appears to be generated using Java 11. Java 11 does not generate a `package-list` file which is required for Java 8's Javadoc tool to be able to create links correctly. This results in a warning during javadoc generation:

[code]

The failure to fetch the URL (it's actually l

[2020-01-09 13:06] gregw commented on #4462
Just for the sake of clarity in this issue... as discussed on a hangout, the problem is not a held lock, but an allocated SharedBlockingCallback.   The second call waits or the allocated callback to be returned (auto closed), but that never happens because the first call is the one reentrantly making the second call and thus will not complete as it is waiting on itself.

The solution may be just t

[2020-01-09 13:11] joakime commented on #4468
A release of Jetty has to build specific artifacts for Java 9+ (re: ALPN)
That means our release process is using Java 11 to build Jetty, including the javadoc, unfortunately.

@WalkerWatch can we fix the process for updating eclipse.org/jetty/ webpage to include this nugget of information?  (Only for Jetty 9.x, this is an irrelevant change for Jetty 10.x or Jetty 11.x)

So this file : https://www

[2020-01-09 13:33] lviggiano commented on #1905
I am using jetty-runner, with legacy war/webapp folders, and I find it very useful.
If you could revisit the deprecation and remove the warning, would be appreciated for this specific use case.

[2020-01-09 13:54] joakime commented on #1905
@lviggiano have you tried jetty-home?

[2020-01-09 14:50] sbordet commented on #4457
@SingASongForU we do not support bounded queues and likely won't support them in the future, as that would complicate the code a lot for only very marginal cases.

FTR you don't test a server for "big request pressure" by limiting the executor queue. You want to have a look at load test frameworks and tune the thread sizes instead.

[2020-01-09 14:50] #4457 closed, assigned to nobody

[2020-01-09 16:36] #4460 closed, assigned to nobody

[2020-01-09 16:39] #4459 closed, assigned to nobody

[2020-01-09 17:32] joakime commented on #4461
Alternate PR #4466 has been opened. (PR #4465 has been closed)

[2020-01-09 18:34] olamy commented on #4468
sounds something to be fixed in maven-javadoc-plugin?

[2020-01-09 18:38] joakime commented on #4468
Its only relevant if you are publishing a public website.
the javadoc artifacts are sane still, as they are only relevant in isolation.

The problem is only the public websites that are generated with javadoc 11+, but need to retain compatibility with other projects that are compiled for java 8.

[2020-01-09 19:06] sbordet commented on #4426
Duplicate of #3578.

[2020-01-09 19:06] #4426 closed, assigned to nobody

[2020-01-09 19:08] joakime commented on #4468
Looks like https://www.eclipse.org/jetty/javadoc/9.4.25.v20191220/package-list is in place now.

[2020-01-09 19:26] WalkerWatch commented on #4468
I did it for 9.4.24 as well and will do so for future 9.4 releases as they come up.

[2020-01-09 19:26] #4468 closed, assigned to WalkerWatch

[2020-01-09 19:51] wilkinsona commented on #4468
Thanks.

[2020-01-09 20:24] #4461 closed, assigned to nobody

[2020-01-09 20:31] gregw opened #4471 "Increase usage of gather writes"
Investigate extending the usage of gather writes through the server code base (eg into interceptors).
See #4466 for related discussion.

[2020-01-10 00:37] #3578 closed

[2020-01-10 00:38] joakime commented on #3578
`jetty-10.0.x` branch is now Eclipse Public License 2.0

We should probably make a blog for that and also a few mailing list announcements

[2020-01-10 03:05] SingASongForU commented on #4457
Thank you very much. My manager ask me to use QueuedThreadPool instead.

[2020-01-10 03:30] cor3000 commented on #1905
jetty-home... never noticed that one. What does it do? Or where can I read about it?
I didn't find it mentioned anywhere and searching for "jetty-home" just gives unrelated results

[2020-01-10 18:10] sbordet commented on #3206
I think this issue can be closed as it has been answered.
@kptfh let us know if you have further comments about this issue.

[2020-01-10 18:10] #3206 closed

[2020-01-10 18:37] sbordet commented on #1210
I believe this issue has been answered, closing it.

[2020-01-10 18:37] #1210 closed

[2020-01-11 00:35] brucem-ping commented on #4444
I believe I may also be seeing this issue to this in Jetty 9.4.18 with Java 1.8.0_221-b11 on RHEL. When a message exceeds the maximum fragment length of 16384 bytes the second part of the fragment is not fully sent until the connection times out.

It seems as though Jetty only fills up the last available fragment, and never continues on to the next message.

Edited log snippet:
[code]

This appear

[2020-01-11 04:30] raccoon1515 opened #4473 "File descriptor leak"
**Jetty version** 9.4.20.v20190813
**Java version** 1.8.0_201
**OS** Ubuntu 18.04.3 LTS (Bionic Beaver)

**Stacktrace:**

The number of fd is increasing. Netstat shows 613 open connections. Lsof shows total 4250 files.

java    5086 apb 3314u     sock                0,8      0t0  8799042 protocol: TCP
java    5086 apb 3315u     IPv4           15298364      0t0      TCP 10.184.14.44:8090->10.230.48

[2020-01-13 02:49] #4408 closed, assigned to lachlan-roberts

[2020-01-13 08:02] lachlan-roberts commented on #4401
This has been fixed and is tested in jetty since PR #4435, we now `protectAndExpose("org.eclipse.jetty.websocket.javax.client.JavaxWebSocketClientContainerProvider")`.

[2020-01-13 08:02] #4401 closed, assigned to lachlan-roberts

[2020-01-13 11:57] #3951 closed

[2020-01-13 15:25] git-jamie-s opened #4474 "High CPU Usage in accept0 from thread qtp526833889-24-acceptor-0@367d34c0-ServerConnector@1c628f6a{SSL,[ssl, http/1.1]}{0.0.0.0:8443}"
Hi,

I have a server running Jetty 9.4.21, and occasionally, I will have to restart the process to get it back to normal CPU usage.
It does not appear to be doing anything useful at the time, really.

Using JMX, I am able to see the CPU usage.
This thread has been pegged at 100% CPU for 60 minutes and counting.

![Screenshot_2020-01-13_10-11-45](https://user-images.githubusercontent.com/44268363/7

[2020-01-13 18:07] lorban commented on #4453
@dhruvil-93 just FYI: Azul backported the Flight Recorder in their recent builds of the free Zulu JVM: https://www.azul.com/downloads/zulu-community/

With it, you can use Zulu Mission Control (https://www.azul.com/products/zulu-mission-control/) and enjoy JFR without using the Oracle JVM.

[2020-01-13 22:47] lachlan-roberts commented on #2620
Fixed by PR #4346

[2020-01-13 22:47] #2620 closed

[2020-01-14 00:09] stolsvik opened #4475 "WebSocket JSR356 implementation not honoring javadoc of MessageHandler on Whole<Reader>"
**Jetty version**
jetty-9.4.25.v20191220

**Java version**
1.8.0_112

**OS type/version**
Ubuntu 18.04.3 LTS

**Description**
JSR 356 WebSocket's MessageHandler's JavaDoc states _"Each web socket session uses no more than one thread at a time to call its MessageHandlers. This means that, provided each message handler instance is used to handle messages for one web socket session, at most one threa

[2020-01-14 02:17] joakime commented on #4475
**Putting on my `javax.websocket` spec hat for a second ...**

When you are using `Whole<Reader>` (or `Whole<InputStream>`) the messages are delivered in a dispatched scenario, meaning they are mandated (by spec) to go to a new thread for the call to `onMessage(Reader message)`.

All of the frames that make up the `Reader` content can come from multiple threads, as those are not part of the call t

[2020-01-14 03:06] lachlan-roberts commented on #4475
@joakime maybe we should at least block until `onMessage(Reader)` has returned before going on to read more frames (after we have appended the content of a fin frame + EOF). Otherwise how is the application to tell the correct order of the frames? If the messages are slow to process and fast to read we could have many calls to `onMessage(Reader)` running concurrently all for different messages and

[2020-01-14 03:19] joakime commented on #4475
@lachlan-roberts you cannot wait for the return of `onMessage(Reader)` to process more frames.

As this is a valid implementation ...

[code]

(Yes, I realize that this could be done with a `Whole<JSON>` too, but the point still remains about reading the stream within that dispatch)

You cannot process more frames if you wait for the `onMessage(Reader reader)` to return.
That kind of implementatio

[2020-01-14 04:01] lachlan-roberts commented on #4475
@joakime I mean that keep reading new frames if we don't see fin==true, but if we do see fin==true we should not read the next frame until `onMessage()` exits.

See my comments in 26d12b9c2d7ea59716e36a24a8d783a74436d004 for a demo of the problem and a PoC fix.

[2020-01-14 04:05] joakime commented on #4475
@lachlan-roberts now do it again with fragmented messages.
(TEXT Frame [Fin=false] + CONTINUATION Frame [Fin=false] + CONTINUATION Frame [Fin=true])

[2020-01-14 04:17] lachlan-roberts commented on #4475
@joakime It still works for fragmented messages. 16c406b55c5ca16ab7a1a236cd93adea72dd2f9e

[2020-01-14 05:56] japgolly opened #4476 "Jetty 9.4.25 stops responding after a few hours"
**Jetty version**
9.4.25.v20191220

**Java version**
OpenJDK 64-Bit GraalVM CE 19.2.1

**OS type/version**
Both on AWS using Amazon ECS-optimised Linux, and at home running Arch Linux.

**Description**
I have a single webapp that I serve with Jetty. Using 9.4.25 everything is fine but then after around 2 hours or so it stops responding. It's consistent too in that each time its restarted, it gets

[2020-01-14 08:31] sbordet commented on #4476
@japgolly you may be hitting a variant of #4461. Would you be able to try the current `jetty-9.4.x` branch and see if it works for you?

[code]

[2020-01-14 11:02] sbordet commented on #3385
Users of `jetty-util-ajax` had to suppress warnings in these cases:

* Implementing `JSON.Convertor`:
[code]
Same was happening when overriding few `JSON` methods such as `Map newMap()` (returning a raw `Map`), etc.

* Historycally, the `JSON` class was supposed to be just a collection of `static` methods. But with the introduction of `JSON.Convertor` it holds a state, so its `static` usage was co

[2020-01-14 21:10] stolsvik commented on #4475
Well, at least the Whole\<Reader\> seems to work as I hoped: It streams the bytes from the actual socket? So that if the JSON in question is large (which they seldom are, but can be), I do not needlessy allocate String objects, rather getting the bytes (chars) streamed directly from the socket into the deserializer. Is this correct?

I obviously have not been that down into the details here as you

[2020-01-14 21:19] git-jamie-s commented on #4474
Upon further investigation, the accept() thread is always busy, even in quiet environments.

[2020-01-14 21:19] #4474 closed, assigned to nobody

[2020-01-15 05:15] japgolly commented on #4476
Hi @sbordet. I tried it and the problem no longer occurs. Looks like it's already fixed! Nice work!

I'll close this now. Cheers

[2020-01-15 05:15] #4476 closed, assigned to nobody

[2020-01-15 09:47] sbordet commented on #4473
@raccoon1515 that the number of file descriptor is increasing can be totally normal.

If you open one connection and count the number of open FDs, when you open another connection, the number of FDs increases.

Without a reproducible test case, where we see/describe exactly what you are doing, your report can be completely normal.

You also appear to have a misconfigured server - you never want to

[2020-01-15 17:57] sbordet commented on #3037
@krisnik as suggested, use `ServerConnector.setReuseAddress(true)`.

[2020-01-15 17:57] #3037 closed

[2020-01-15 21:21] WalkerWatch opened #4478 "Test Failure -- InetAddressSetTest"
**Jetty version**
10.0.x
**Java version**
11.0.5
**OS type/version**
Manjaro 18.1.5 Juhraya using Linux 4.19.91
**Description**
Getting test failure when building locally with 10.0.x

---------------------------------------------------------------
[code]

[2020-01-16 01:42] raccoon1515 commented on #4473
We have scheduled job, which closes open sockets every hour. But I see sockets stay opened and the number of file descriptors increases.

ServerEndpoint class:

[code]

[2020-01-16 07:20] Amarendraar23 commented on #4444
Hi @sbordet  Any update on the fix? Seems like its failing in tests again

[2020-01-16 07:54] NielsDoucet commented on #4121
@gregw Currently this causes a bug for anyone using the spring-boot-dependencies bom as a baseline for dependency management. See https://github.com/spring-projects/spring-boot/issues/19769.
Is there any way this situation can be improved? Perhaps a special release without the breaking api?

[2020-01-16 10:35] joakime commented on #4121
We already have large projects using this new feature (as it was requested by them).

[2020-01-16 12:07] manikantannaren opened #4480 "Set value for maven.repo.uri"
**Jetty version**
9.4.9
**Java version**
Java 8
**Question**
I am trying to add logback to jetty and using the command ```java -jar ../start.jar --add-to-start=logging-logback --approve-all-licenses```

With the change of maven repo to https and central.maven.org is not longer functional, i would like to set the value maven.repo.uri=https://repo1.maven.org/maven2/

BTW the doc says "https://repo1.

[2020-01-16 12:17] joakime commented on #4480
`maven.repo.uri` is a java system property.

The change from `central.maven.org` to `repo1.maven.org` occurred in commit https://github.com/eclipse/jetty.project/commit/07b336751938f0a104d08d1b90b4614d774fb665 as part of Issue #2472
Which was first available in Jetty 9.4.11.v20180605

Please be aware of the security reports on Jetty, as you should not be using a version of Jetty that old.
https://

[2020-01-16 12:17] #4480 closed, assigned to nobody

[2020-01-16 12:32] manikantannaren commented on #4480
@joakime Thanks for the response
I understand the concern you raised about a dated version. And I am moving to latest version.
For now I need a quick fix for my issue. setting the java system property seems to not work
I did this `java -Dmaven.repo.uri=https://repo1.maven.org/maven2/ -jar start.jar --add-to-start=logging-logback --approve-all-licenses`
It still tries with central.maven.org

[code]

[2020-01-16 12:37] NielsDoucet commented on #4121
I understand. As highlighted in the spring-boot ticket linked above, spring-boot clearly also wanted this and other new features, but maybe you have some way to cut a special version of the 9.4.24 release, which rolls back this breaking api change only.

The impact is rather big, as any project using spring boot version 2.2.1+ to drive their dependency management (default behaviour when using thei

[2020-01-16 13:05] joakime commented on #4480
The property `maven.repo.uri` was introduced via Issue #2403 - first appeared in Jetty release 9.4.10.v20180503

[2020-01-16 13:08] joakime commented on #4121
We are about to release 9.4.26 to address issues discovered in 9.4.24 and 9.4.25

Jersey is the reason for the 9.4.26 release due to issue #4461, they will be upgrading to 9.4.26.

[2020-01-16 13:11] joakime commented on #4121
@NielsDoucet other large projects that use Jersey have been able to use Jetty 9.4.24 and 9.4.25 without a similar issue to spring-boot.
Why is this unique to spring-boot?

[2020-01-16 13:38] wilkinsona commented on #4121
I don't believe it is unique to Spring Boot. As I understand it, it's a problem for anyone trying to use Jersey 2.29.x with Jetty 9.4.22 and later when Jersey's responsible for creating the Jetty instance. As shown in the Boot issue referenced above (https://github.com/spring-projects/spring-boot/issues/19769), one way to do that is by using Jersey's test framework. Spring Boot users who aren't us

[2020-01-16 13:39] #4431 closed, assigned to janbartel

[2020-01-16 13:40] #4434 closed, assigned to janbartel

[2020-01-16 14:18] sbordet opened #4481 "Fix NeedWantClientAuthTest for OpenJDK 13.0.2/11.0.6"
**Jetty version**
9.4.25

**Java version**
13.0.2/11.06

**Description**
OpenJDK 13.0.2 and 11.0.6 have introduced a check on CA certificates, see https://www.oracle.com/technetwork/java/javase/13-0-2-relnotes-5812268.html#JDK-8230318.

This makes the `NeedWantClientAuthTest` fail because the test keystore does not have the Basic Constraint `CA:true` in the server certificate (which is used as CA

[2020-01-16 15:14] dentrw commented on #502
I have the exact same problem. Junction.  Can not show the dos output as it is proprietary.  I am using jetty 9.4.25.v20191220.

[2020-01-16 15:26] joakime commented on #502
The `org.eclipse.jetty.server.SameFileAliasChecker` should work with these kinds of setups.
Please try adding that alias checker to your context.

[code]

[2020-01-16 18:49] xingbill commented on #4464
@sbordet Thank for the comments.  What could be the wrong mapping for URIs? Any examples?

[2020-01-16 19:03] joakime opened #4483 "InetAddressSetTest failure"
**Jetty version**
9.4.25.v20191220

**Java version**
All

**OS type/version**
Linux

**Description**
[code]

[2020-01-16 19:07] joakime commented on #4478
Closing in favor of #4483

[2020-01-16 19:07] #4478 closed, assigned to nobody

[2020-01-16 20:05] joakime commented on #4483
PR #4484 merged.

[2020-01-16 20:05] #4483 closed, assigned to joakime

[2020-01-16 22:29] esmailsh opened #4485 "Jetty 9.3 distribution contains insecure http URLs within ALPN modules"
**Jetty version** 9.3.27.v20190418

**Java version** 8u121

**Description**
The The Central Maven Repository (https://blog.sonatype.com/central-repository-moving-to-https) is updating to https and when pulling and building jetty from: (https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-distribution/9.3.27.v20190418/jetty-distribution-9.3.27.v20190418.zip) the ALPN module pulls from `http://cen

[2020-01-17 07:14] sbordet commented on #4485
Is there a reason you are still using 9.3.x, since 9.4.x is the current stable release?

[2020-01-17 08:02] #4481 closed, assigned to nobody

[2020-01-17 09:05] lachlan-roberts commented on #4475
@stolsvik using the stream still copies the bytes from the WebSocket frame to accumulate in the `MessageInputStream`, so they are not being streamed directly from the socket.

Yes if you return from onMessage the correct behaviour should be to just dump the remaining bytes until the end of the message.

There is a non-compliance compared to the JavaDoc here. Jetty is reading the messages in the ri

[2020-01-17 09:14] #4444 closed, assigned to nobody

[2020-01-17 09:26] sbordet commented on #4464
@xingbill you are hitting a URI that is mapped to a filter that uses `request.getParameters()`, so that the request content gets consumed, and later you land onto a Servlet that also tries to read the content, so it gets the `EofException`.

[2020-01-17 09:28] sbordet commented on #4473
@raccoon1515 we need a reproducible case that we can try ourselves. Write it, zip it, attach it to this issue.

[2020-01-17 12:31] #3385 closed

[2020-01-17 12:57] RomanJRW opened #4491 "What happens to requests after they are suspended by the QoSFilter?"
**Jetty version**
9.4.20

**Java version**
1.8

**Question**
I have been trying out the QoSFilter for the purpose of restricting the number of requests that can be served at a time for a single endpoint, so the rest of our API isn't impacted under heavy load of that endpoint in particular. However, I am running into some difficulties when testing that it is working as expected.

As I understand it

[2020-01-17 13:03] jtnord opened #4492 "ServerConnector with default #selector & acceptors causes DOA jetty on high core count machines"
**Jetty version**

9.4.6 -> 9.4.25

**Java version**

various flavours of jdk8 (oracle, opendjk)

**OS type/version**

Windows and Linux

**Description**

When using Jetty with a `ServerConnector` created without specifying the number of acceptors and selectors Jetty does not process any incoming requests.

This has been observed reliably on a `c5.4xlarge` in AWS.

see https://github.com/jenkinsci

[2020-01-17 13:14] joakime commented on #4492
What is "a high core count machine" to you?

We regularly run / build / test / load-test on 64 core machines. (default configurations of Jetty)
We also know of several 128 core machines running Jetty just fine.

According to https://aws.amazon.com/ec2/instance-types/c5/ the `c5.4xlarge` is only a 16 core machine.

[2020-01-17 13:36] joakime commented on #4492
### Defaults for 9.4.25

#### Acceptors

https://github.com/eclipse/jetty.project/blob/a9729c7e7f33a459d2616a8f9e9ba8a90f432e95/jetty-server/src/main/java/org/eclipse/jetty/server/AbstractConnector.java#L222-L227

Between 1 and 4 if undeclared.

#### Selectors

https://github.com/eclipse/jetty.project/blob/a9729c7e7f33a459d2616a8f9e9ba8a90f432e95/jetty-io/src/main/java/org/eclipse/jetty/io/Selecto

[2020-01-17 13:39] joakime commented on #4360
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=21190
CQ 21190 has been approved.

[2020-01-17 16:40] MarkEWaite commented on #4492
The failures I was seeing were on a physical machine with 72 cores, not a virtualized machine. I was running an automated test for the [platform labeler plugin](https://github.com/jenkinsci/platformlabeler-plugin/commit/361a98f94d2720bebe6d470d79855d94c7d9d175). Same failures were detected with the git client plugin and the git plugin.

The issue I was seeing was resolved in all three cases by the

[2020-01-17 16:43] jtnord commented on #4492
high is relative.  Normally in our CI we use lower core count machines or containers and did not see this issue.  However we did see this issue our windows CI which used 2 containers inside a windows server 2019 in (which was running in a `c5.4xlarge`).

I could not reproduce it on my windows laptop (just 4 cores - 8 including hyperthreading), or in smaller AWS machines.  Running directly in windo

[2020-01-17 16:57] sbordet commented on #4492
Did you get any warning on startup from the thread pool budget?
How did you configure your thread pool (min and max)?

[2020-01-17 17:03] esmailsh commented on #4485
9.3x release is still being supported by jetty and it's a big change for us now to move from 9.3 to 9.4. But we're planning to upgrade but not right now (in afew months). We resolved this this issue by replacing the references 'http://central.' with 'https://repo1.'

[2020-01-17 17:15] jglick commented on #4492
To reiterate https://github.com/jenkinsci/jenkins-test-harness/pull/193#issuecomment-575699698, we are not talking here about Jetty performing a bit less than optimally under some heavy production workloads. The situation here is that we were creating a server using defaults

[code]

and, in some environments (but not, say, on my laptop!) Jetty would completely fail to respond to _a single request

[2020-01-17 17:24] sbordet commented on #4492
@jglick the thread pool configuration is wrong.

You have at most 10 threads in the pool which is an incredibly small number for a server, also considering that Jetty steals some for the selectors, the acceptors, etc.

Please consider A) using Jetty `QueuedThreadPool` as it outperforms the JDK pools, and keep the max threads to a sane number (if in doubts, leave at default).

With only 10 threads,

[2020-01-17 17:33] jglick commented on #4492
Again this is just a test service which rarely serves more than one concurrent connection. I am working on verifying whether a stock thread pool also avoids the issue.

[2020-01-17 18:21] sbordet commented on #3897
@lorban this is the Jetty 10 new documentation issue.
Any suggestion please add a comment here.

[2020-01-17 18:28] jtnord commented on #4492
making the following change did indeed resolve the issue

[code]

Just checked the javadoc for Server and it is non obvious that the selectors/acceptors steal from the pool.

I would suggest leaving this open to
1) produce a warning if #acceptors & selectors > threads in the pool
2) update the docs to say some threads will be stolen?

[2020-01-17 18:53] sbordet opened #4493 "Document ThreadPoolBudget behavior"
**Jetty version**
9.4.26

**Description**
Would be great to have the thread pool behavior documented so that configurations with too few threads, or custom thread pools, or bounded queues that cause Jetty to misbehave are outlined and therefore avoided by users.

Include how ThreadPoolBudget works and how various components could steal threads from the pool.

[2020-01-17 18:57] sbordet commented on #4492
@jtnord we do produce a warning for case 1. - the problem is that we can produce a warning only if we know the max number of threads of the thread pool.

We have Jetty's `QueuedThreadPool` and `ExecutorThreadPool` that support this warning mechanism.

But your code is using something different (`ThreadPoolImpl`) so we are out of luck.
Hence the suggestion to use Jetty classes or stick with all def

[2020-01-17 19:10] joakime commented on #4492
On thing that comes up often on stackoverflow regarding Jetty threading is the mistaken assumption that the ThreadPool is only used for request processing.

That's an incorrect assumption, the ThreadPool is generic, and can be used for anything that needs a thread within Jetty.
Your choice of technology can even impact your ThreadPool requirements (such as HTTP/2, or Async Servlets, or WebSocket,

[2020-01-17 19:12] joakime commented on #4492
Also of note, the `QueuedThreadPool` supports `ThreadFactory` now (if you want to continue to control the names like your old code did)

See https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/util/thread/QueuedThreadPool.html#%3Cinit%3E(int,int,int,int,java.util.concurrent.BlockingQueue,java.lang.ThreadGroup,java.util.concurrent.ThreadFactory)

[2020-01-19 05:47] WalkerWatch commented on #3258
Bumping as a to-do

[2020-01-20 08:20] #4361 closed, assigned to janbartel

[2020-01-20 08:35] lorban opened #4495 "Review ReservedThreadExecutor's concurrency model"
`ReservedThreadExecutor`'s `tryExecute()` method look suspiciously costly when you consider a machine with many cores.

Both the `ConcurrentLinkedDeque.pollFirst()` and `ReservedThread.offer()` calls don't look like they would perform too well in a highly concurrent environment.

[2020-01-20 08:40] janbartel opened #4496 "Update paxexam for osgi testing in jetty-10"
we use version 3.13.100 of paxexam for testing osgi in jetty-10. Most recent release is 3.15.100, we should update to it.

[2020-01-20 08:43] #3185 closed

[2020-01-20 08:44] raccoon1515 commented on #4473
@sbordet
[FDLeakReproduce.zip](https://github.com/eclipse/jetty.project/files/4085179/FDLeakReproduce.zip)

Also, we have a next log:

[2020-01-20 08:45] #4433 closed, assigned to janbartel

[2020-01-20 09:56] gregw commented on #4495
The reserved thread executor needs to do two things:
1) take a reserved thread off a stack of reserved threads.
2) pass a task to that reserved thread to execute.

The `ConcurrentLinkedDeque` is used to implement the stack.  I had hoped it's concurrent nature would mean that it does scale whell in highly concurrent enviroments (ie lots of cores).  If `ConcurrentLinkedDeque` is not a scalable datas

[2020-01-20 10:20] #4491 closed, assigned to nobody

[2020-01-20 10:38] sbordet commented on #4495
Just as a reminder, we discussed in the past that the logic in `ReservedThreadExecutor` has a lot in common with `SynchronousQueue`, so perhaps we really need to review whether we could use that rather than managing our own locks and queues, etc.

[2020-01-20 11:56] gregw commented on #4495
`SynchronousQueue` is a much better data structure to use than my suggestion of `Exchanger`.
I'll prepare a PR to use that instead of a `Condition`, but it doesn't help us with the stack.

[2020-01-20 12:10] gregw commented on #4495
@lorban @sbordet See #4499 - we should have done that ages ago just for code simplicity.
Now let me think really hard if we really need a stack (== Deque)....

[2020-01-20 16:26] #4432 closed, assigned to janbartel

[2020-01-20 16:42] sbordet commented on #4473
Tried your code, started the server, started the client, and then monitored the server's number of file descriptors via JMC (MBean `java.lang:type=OperatingSystem,name=OpenFileDescriptorCount`), and it is a constant at 73 on my computer.

Closing as non reproducible.

[2020-01-20 16:42] #4473 closed, assigned to nobody

[2020-01-20 18:26] jtnord commented on #4492
Thanks @joakime , however that gets us back to having hard coded numbers for min/maxt etc as you can only set the `ThreadFactory` if you also pass all other arguments (defaults are inlined), and I think we have decided to just let Jetty use its defaults as we don't know better (as proven)

[2020-01-20 19:02] sbordet commented on #4492
The default values are "hardcoded" too in the sense that `QueuedThreadPool` won't dynamically change the value of `maxThreads`.

Your usage of `ThreadFactory` only sets the thread name (and all of them to the same string - not recommended because you won't know what thread did what in the logs, for example).
This can be done better by using `QueuedThreadPool.setName(String)` - no need for `ThreadF

[2020-01-20 19:47] jtnord commented on #4492
we do not count on a thread name in logs for correlation - given that can change at runtime.  If you are doing that I recommend you switch to logging the thread id :)

Strangely enough at least the acceptor thread does change the thread name?
`"Jetty Thread Pool-acceptor-0@63cf0f08-ServerConnector@7309e547{HTTP/1.1,[http/1.1]}{localhost:59622}" #17 daemon prio=3 os_prio=-1 tid=0x000000001ebbd800 n

[2020-01-20 20:52] sbordet commented on #4492
Jetty does change the thread names, for example the thread serving a request will have the request URI in its name.

Typically that's ok as `name-counter` or `tid` are used to grep the logs and those are preserved when the name is changed.

@jtnord feel free to close the issue if that's solved for you.

[2020-01-20 22:24] deebaprithy opened #4500 "Jetty 9.4 + - causing 401 issue especially in Production intermediately"
test

[2020-01-21 01:34] olamy commented on #4500
Can we have a more complete stack trace? The attached one doesn't show any issue with Jetty.

[2020-01-21 01:55] raccoon1515 commented on #4473
What means this lines? Is socket still open or closed?
`
java 5086 apb 3316u sock 0,8 0t0 10040260 protocol: TCP
`
Will socket close if `@OnError` method has failed to execute?

[2020-01-21 07:22] gregw opened #4501 "Review the need for SharedBlockingCallback in jetty-10"
The class `SharedBlockingCallback` is used as follows:
[code]
Which does the following:
 + mutually excludes threads from entering the try block as only a single `Blocker` can be acquired
 + provides a Blocker instance which is essentially a `FutureCallback`
 + can optionally implement a maximum blocking timeout to prevent threads blockinmg forever if the callback is faulty

There are several poss

[2020-01-21 07:23] gregw commented on #4501
@sbordet @lorban I think this is probably a good idea to do?

[2020-01-21 08:02] sbordet commented on #4473
In case of errors or orderly closes, Jetty will close the TCP connection.

Again, there are a million cases that may happen when handling errors and closes so it may be possible that we don't close the TCP connection in rare edge cases, but so far we are not aware of any leak.

[2020-01-21 08:40] lachlan-roberts opened #4502 "respond to close frame with custom close code in jetty-10 websocket"
**Jetty version**
10.0.x

**Description**
Cannot send frames or use the Session from Jetty WebSocket `onWebSocketClose` event or the java.websocket `onClose` event. In these events you should be able to do things like send back an alternate close code to the one received.

This is currently working in jetty-9.4.x but not jetty-10.0.x. It was assumed that the `onClose` events are equivalent of the

[2020-01-21 08:42] lachlan-roberts commented on #4502
@sbordet the jetty ws API does have the `WebSocketFrameListener` interface which will allow you to handle a close frame how you would like.

[2020-01-21 08:48] #4496 closed, assigned to janbartel

[2020-01-21 09:06] gregw commented on #4500
Strangely enough I can see a full stack trace in the notification email, but not here????
The full stack trace indicates that you are running Tomcat and not Jetty!!!

[2020-01-21 12:12] jijomonac opened #4503 "Windows authentication in jetty web socket client API"
I am trying to create java standalone websocket client application using Jetty websocket client API. It is working fine with basic authentication. Is there a way to use windows authentication (Active directory)?

[2020-01-21 13:04] LOCwalker opened #4504 "X-Forwarded-Server header overwrites X-Forwarded-Host"
**Jetty version**
9.4.24

**Description**
Hi,

we recently upgraded from 9.4.18 to 9.4.24 and noticed that our URLs broke because the X-Forwarded-* headers are handled slightly differently in the latter version.
Our application is deployed behind a CDN (Fastly) and they set X-Forwarded-Server headers containing the host names of their proxies. Our application thus receives headers like this:
X-For

[2020-01-21 13:48] janbartel opened #4505 "Servlet 4 get/setInitParameter() and get/setAttribute() must throw NPE if arg is null"
**jetty-10**

Servlet Spec 4, Changes Since 3.1,  page A-203:

2. Modify javadoc for ServletContext getAttribute() and getInitParameter() ,
specify that NullPointerException must be thrown if the argument “name” is
null.
3. Modify javadoc for ServletContext.setAttribute() and setInitParameter()
to specify that NullPointerException must be thrown if the “name” argument is
null.

[2020-01-21 14:15] janbartel opened #4506 "Servlet 4 metadata-complete=true should skip introspection of annotations"
**jetty-10**

https://github.com/eclipse-ee4j/servlet-api/issues/144

Servlet Spec 4, Changes Since 3.1, pg A-203:

This clarification states that if metadata-complete==true, any annotation that has an equivalent in web.xml must be _ignored_. This includes all annotations for which jetty introspects on a servlet, filter or listener such as PostConstruct, PreDestroy, Resource, Resources, DeclaresRo

[2020-01-21 15:00] janbartel opened #4507 "Servlet 4 instrument javax.servlet.xxx.mapping request attributes for forward,include and async"
**jetty-10**

Servlet Spec, 12.3.1 Runtime Discovery of Mappings, pg 12-128

Jetty needs to make the forward attribute ` javax.servlet.forward.mapping` and the include attribute ` javax.servlet.include.mapping` and the AsyncContext `javax.servlet.async.mapping` attribute available.

[2020-01-21 15:15] janbartel opened #4508 "Servlet 4 Verify clarification of AsyncContext complete and dispatch"
**jetty-10**

Servlet Spec, Changes Since 3.1, pg A-204

Verify that Jetty implements the clarification.

[2020-01-21 16:18] gregw commented on #4247
I think we need to do more on this issue. Considering that [Chrome will soon ignore cookies without Same-Site](https://www.chromestatus.com/feature/5088147346030592), then it is not sufficient just to allow applications to specify Same-Site if they wish.  We need the ability to add the attribute to cookies created by existing code - ie the container needs to be able to set a default other than nul