[2021-12-06 22:40] lachlan-roberts commented on #7059
PRs #7081 and #7076 have been merged, so this will be fixed in upcoming releases `9.4.45`, `10.0.8` & `11.0.8`.

[2021-12-06 22:40] #7059 closed, assigned to lachlan-roberts

[2021-12-06 23:13] joakime commented on #7212
That threading model is dead.

It's not supported by the Servlet 6+ Spec, in fact all 1 thread == 1 request concepts have been removed entirely from Jakarta EE 10 across the board (even JSP has removed it).

Even things like ThreadLocal are dead, don't expect them to function in the near future.
Spring has already migrated away from them.

The future is Loom and Scoped Locals - https://openjdk.jav

[2021-12-06 23:35] yannmar commented on #7212
Hi Joakim @joakime

In my opinion you have (jetty has) quite good http support, and that's probably only available for embedding implementation. That's very strong side of jetty but it's not reusable in custom environments. What I am trying to tell, is that this very good http support cannot be used by developers if they have custom transport layer, they often already have it, but they want to get

[2021-12-07 09:51] zhaowenxishi opened #7226 "Plenty of HttpCookie caused request blocking"
**Jetty version(s)**
    9.4.43.v20210629
**Java version/vendor** `(use: java -version)`
   openjdk 8u302
**OS type/version**

**Description**

1、Phenomenon
(1) at begenning:  Many TimeoutException
(2) **** Max requests queued per destination 1024 exceeded for HttpDestination ****

2、We dump the  memory and find:
(1) Almost all of 200 threads are waiting for the lock
![image](https://user-images.g

[2021-12-07 15:16] joakime commented on #7212
Configuring the HTTP spec and compliance can be done with standalone `${jetty.home}` / `${jetty.base}` split easily (they are property values).

It is literally 1 method to identify/detect a connection type.

[code]

Where you return `Detection.RECOGNIZED`, `Detection.NOT_RECOGNIZED`, or `Detection.NEED_MORE_BYTES` to indicate if you are handling that connection type.

https://github.com/eclipse/j

[2021-12-07 16:37] sbordet commented on #7212
@yannmar you are right that there is no out-of-the-box way to perform the kind of proxying that you would need, but the components are there and should be possible to implement it correctly.

Just for reference, see the documentation about how to implement a custom protocol:
https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-arch-io-echo
https://www.eclipse.org/je

[2021-12-07 17:55] #7219 closed, assigned to joakime

[2021-12-07 17:58] joakime commented on #5930
Closing in favor of solution in #7063

[2021-12-07 17:58] #5930 closed, assigned to nobody

[2021-12-07 18:24] joakime commented on #7073
PR #7075 has been merged.

It has 2 tests of `AsyncContext.dispatch(String)`

1. Client provided mistake in query encoding. (aka: original query)
    Ensure that it results in a 400 error.
2. Application provided mistake in query encoding. (aka: new query)
    Ensure that it results in a 500 error.

[2021-12-07 18:24] #7073 closed, assigned to joakime

[2021-12-08 12:16] sbordet opened #7240 "Clarify and javadoc InvocationType"
**Target Jetty version(s)**
10

**Enhancement Description**
Class `InvocationType` lacks javadocs.

[2021-12-08 13:44] FreeGuwop commented on #7190
It is the same request ID.

Trying to move the conversation in a more helpful direction, is there any way we can suppress on_reset specifically in the case of no_error outright? We do not care to receive any of these exceptions.

[2021-12-08 13:46] FreeGuwop commented on #7190
I haven't found an easy way to plugin to HTTPServerSessionListener.onReset...I am by no means a Jetty expert. I think that would be the best resolution for us while this seems like an edge-case that the Jetty team may not want to investigate?

[2021-12-08 14:22] #5727 closed, assigned to olamy

[2021-12-08 14:57] sbordet commented on #7190
Can you confirm whether `sendError()` throws or not?

`no_error` means that there has been an error, but not a more specific one.
So it does not mean that there were no errors; it means that there was a non-specific error.

We have no evidence that it's Jetty code that rethrows this exception.
It may be, but you must be hitting a special case or have a special configuration that causes this loggin

[2021-12-09 00:03] lachlan-roberts commented on #5569
already done in PR #7166

[2021-12-09 00:03] #5569 closed, assigned to nobody

[2021-12-09 04:27] yannmar commented on #7212
@sbordet Thank you Simone for extended reply.

Yes it looks so, but that's just a hidden threading rule. I would suggest to at least document it explicitly, because it's very critical for custom endpoint implementation. I have a related concern/question - when I call WriteFlusher.completeWrite() it should be guaranteed somehow that thread given to jetty to execute this callback method won't be use

[2021-12-09 04:37] yannmar commented on #7212
@joakime Thank you Joakim

Detection api doesn't look complicated, I agree. Though protocol implementation will be very complicated in my opinion, especially if it's needed to do chained processing as it looks like there is no support for that. I mean, you can chain handlers that transform chunks of bytes to chunks of bytes, but it might be needed to chain handlers that convert bytes to objects or

[2021-12-09 05:17] janbartel opened #7242 "Update to apache jasper 10.0.14"
Update **jetty-11** to apache jasper 10.0.14.

Raised CQ 23869 with Eclipse.

[2021-12-09 08:29] #7240 closed, assigned to nobody

[2021-12-09 08:41] sbordet opened #7243 "Reset pooled ByteBuffer endianness"
**Target Jetty version(s)**
9.4.x, 10.0.x, 11.0.x

**Enhancement Description**
User code may be passed `ByteBuffer`s that are pooled by Jetty.
They may use the buffer and change the endianness and then forget to reset it back, so the next usage of the buffer by Jetty may use the wrong endianness.

We should reset the endianness when we put back the buffer to the pool, like we already clear it, and

[2021-12-09 10:36] chatman commented on #7192
@sbordet We've listed some instructions on how to reproduce this from a Solr load testing suite. https://issues.apache.org/jira/browse/SOLR-15840. We'll also attempt to isolate this.

[2021-12-09 11:49] #7243 closed, assigned to lorban

[2021-12-09 16:37] joakime opened #7250 "HostHeaderCustomizer doesn't address empty Host header value with no authority set"
**Jetty version(s)**
9.4.x and 10.x and 11.x

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**

If a request arrives without an authority and an empty `Host` header, the use of `HostHeaderCustomizer` doesn't correct this scenario.

Example:

[code]

This has no authority in the request uri line, nor in the Host header, nor any Forwarding headers.
The res

[2021-12-09 16:40] joakime commented on #7250
Opened PR #7251 to address this for Jetty 9.4.x

[2021-12-09 21:04] patsonluk commented on #7192
@sbordet just to add on top of what @chatman offered (which is more complete, that builds/create solr nodes/index fresh docs then execute queries, which the querying is the part that have hangs), here's a self contained archive, which already has a built solr with nodes that have data filled, with a simple java program inside, you can trigger the hang as well. The *biggest issue* for this program

[2021-12-09 21:16] joakime commented on #7192
I'm on `qa-test.jar` now, letting it run on my machine. (64 cores + 128GB ram, linux, java 11)

[2021-12-09 21:23] joakime commented on #7192
Is there any way to execute solr so that it's a normal Java process? (so it can be seen with jmc/jconsole/jps/jstack/etc)

After about 10 minutes I got ...

[code]

[2021-12-09 21:26] joakime commented on #7192
Yup, the JVM crashed under solr...

[code]

[2021-12-09 21:37] joakime opened #7252 "HttpChannel.Listener has no post-customizer and pre-dispatch event to hook into"
**Jetty version(s)**
9.4.x, 10.0.x, 11.0.x

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
If you want a `HttpChannel.Listener` (for metrics) to correlate events that occur during dispatch to a specific `Host` (or authority), there's no way to do that with the currently order of events.

I looked back at the whole history of `HttpChannel.Listener` and

[2021-12-10 00:21] patsonluk commented on #7192
They eventually run as normal java process, so u should be able to see them in jconsole/jstack?

i usually just `ps ax | grep 8983` or `ps ax | grep 8984` to find the 2 solr java processes, (8983/8984 are the ports they listen to, 8983 is the "data node", 8984 is the "query aggregator node" which the hang happens)

You shouldn't be getting `Invalid status code 500` , unless something went wrong on

[2021-12-10 09:15] sbordet commented on #5522
@janbartel is this still an issue?

[2021-12-10 15:31] sbordet commented on #7192
@chatman @patsonluk we tried to reproduce the problem with your instructions.

We were able to get a failure, so we instrumented the client to understand why it was waiting, and found that it was waiting for a request whose headers arrived fine (with a 200 status code) but the client was waiting for the response body (no errors).

We tried to track this request on the server logs, but we could not

[2021-12-10 16:34] sbordet commented on #7192
As a side note, in your setup there are many Jetty jars from 9.4.34, some from 9.4.44-SNAPSHOT and some from 9.4.45-SNAPSHOT.
I know it's for testing and all, but please make sure that in an official solr distro they are all consistent to just one Jetty version.

[2021-12-10 16:40] sbordet opened #7259 "InputStreamResponseListener should have a read timeout"
**Target Jetty version(s)**
9.4.x

**Enhancement Description**
Class `InputStreamResponseListener` is currently using an infinite wait in case a read blocks.

This is sub-optimal because there is a risk that the caller thread waits forever, even if the class is designed to wake up blocked reads in case of errors, timeouts, close, etc.

[2021-12-10 17:30] sbordet commented on #7192
On the side, we have filed https://github.com/eclipse/jetty.project/issues/7259.

Does not solve this issue, but will avoid the infinite wait on the client.

[2021-12-11 01:20] patsonluk commented on #7192
@sbordet Thanks for the updates!

Here is the thread dump on data node when my single thread generator hangs (on macbook):
[data-node-hang-dump.txt](https://github.com/eclipse/jetty.project/files/7696166/data-node-hang-dump.txt)

And also another thread dump when the data node is serving the single thread generator normally:
[data-node-normal-dump.txt](https://github.com/eclipse/jetty.project/file

[2021-12-11 01:59] patsonluk commented on #7192
Adding a `tcpdump` when the hang happens. I used `sudo tcpdump -i lo0 | grep localhost.8983` to capture traffic to port 8983 (which the data node listens to). Are there any extra flags we could use to add more diagnostic info? Sorry I am very new to `tcpdump` 😓

This is the dump (I only sent the last 5000 lines, otherwise the file is way too big, 1G+)

[tcp-dump-tail.txt](https://github.com/eclips

[2021-12-11 19:22] elanvital8 commented on #6973
Thanks again for this solution.  Yes, the upgrade also solved it here as well.

[2021-12-12 13:22] #5492 closed, assigned to nobody

[2021-12-12 23:19] gregw opened #7261 "start.jar --list-config misses jars from default values"
**Jetty version(s)**
10 & 11

**How to reproduce?**
[code]
the class files do not list the log4j jars

[2021-12-13 00:30] lachlan-roberts opened #7262 "Allow the SerlvetHandler.getFilterChain method to be overridden."
**Target Jetty version(s)**
10.0.x-11.0.x

**Enhancement Description**
In 9.4 the `SerlvetHandler.getFilterChain` method was protected but since 10.0.0 it has been changed to a private method. This should be changed back to protected.

[2021-12-13 00:44] gregw commented on #7261
false alarm

[2021-12-13 00:44] #7261 closed, assigned to nobody

[2021-12-13 11:38] lorban commented on #5737
Since this issue was opened, many bugs were fixed in multiple code area whose impact could solve the reported issue. At least those ones are related:
 * https://github.com/eclipse/jetty.project/pull/5637
 * https://github.com/eclipse/jetty.project/issues/5605
 * https://github.com/eclipse/jetty.project/issues/5937
 * https://github.com/eclipse/jetty.project/issues/6168

Upgrading to the latest 9.4

[2021-12-13 11:57] lachlan-roberts opened #7266 "Wrong ALPN jars are selected for newer versions of JDK8"
**Jetty version(s)**
9.4.x

**Java version/vendor** `(use: java -version)`
jdk1.8.0_281

**Description**
The `runtime.feature.alpn` is set to true and because of this the module `alpn-impl/alpn-available-true` is enabled instead of `alpn-impl/alpn-available-false`.

This results in `jetty-alpn-openjdk8-server.jar` not being on the server classpath and the server giving the following exception on s

[2021-12-13 12:48] jnehlmeier opened #7268 "Provide logging capture module for Log4J 2.x"
**Target Jetty version(s)**

10.x
11.x

**Enhancement Description**

Currently Jetty provides modules capturing log messages from various sources (console, JCL, JUL, Log4J 1.x) and routes them to SLF4J.

However capturing Log4J 2.x messages is missing. Would be nice to provide this out of the box as well. The Log4J project already provides such a library.

https://logging.apache.org/log4j/2.x/log4

[2021-12-13 13:44] zhaowenxishi commented on #7226
nothing deal with cookie

[2021-12-13 13:51] joakime commented on #7266
Confirmed with 8u281 and 8u282

[2021-12-13 14:21] joakime commented on #7268
That's not what our `console-capture` module does.

It takes STDOUT and STDERR and routes them to a rolling log file output.
It has no logging library integration, and is not even aware of the logging libraries.

[2021-12-13 14:26] joakime commented on #7268
[code]

For Jetty 10 and Jetty 11, we have to wait for an update to the `org.apache.logging.log4j:log4j-to-slf4j:jar` dependency, as it doesn't support slf4j-2.0, which we use in Jetty 10 and Jetty 11.

[2021-12-13 15:33] Marco85Li commented on #5737
@lorban

As you said, different issues have been fixed. We can close this issue as "undetermined".

 I'll try to reproduce the issue against the latest released build of the 9.4 branch and, if the loop occurs again, I'll attach new logs and hopefully a code sample.

Regards,
Marco

[2021-12-13 20:35] joakime opened #7269 "HostPort needs updates for spec compliance"
**Jetty version(s)**
9.4+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
Alll

**Description**

Currently `HostPort` allows odd authorities that make no sense.

[code]

I think `HostPort` should validate the `host` portion a bit more, to reject these nonsense hosts with a 400 Bad Request.

The spec for HTTP at https://datatracker.ietf.org/doc/html/rfc7230#section-5.4
Says

[2021-12-14 01:54] joakime commented on #7269
RFC3986 has been updated for IPv6 with zone literals in
https://datatracker.ietf.org/doc/html/rfc6874

And support for IPv4 within IPv6 is documented in the obsolete
https://tools.ietf.org/html/rfc2732#section-2
_I cannot find IPv4 within IPv6 listed as a supported feature in up to date RFCs about http or URI specs._

[2021-12-14 02:11] joakime commented on #7269
Per `reg-name` the characters not allowed are ...

[code]

[2021-12-14 02:12] joakime commented on #7269
How far do we go?

Are these considered valid?

[code]

[2021-12-14 04:49] tinswzy opened #7271 "It is necessary to set MAX_CAPACITY to ArrayTernaryTrie/ArrayTrie"
**Jetty version(s)**
9.3+, 9.4+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
It is necessary to backport MAX_CAPACITY bugfix to ArrayTernaryTrie/ArrayTrie，as there are still many mainstream projects using jetty9.x.
In 9.x, the ContextHandlerCollection uses the ArrayTernaryTrie data structure by default. The data types of  _rows&_tree in ArrayTernary

[2021-12-14 08:48] lorban commented on #5737
@Marco85Li Thank you for your feedback. Please do open a new issue if you run into this problem again.

[2021-12-14 08:48] #5737 closed, assigned to gregw, lorban

[2021-12-14 12:25] joakime opened #7277 "Allow override of `ServletRequest.getLocalName()` and `.getLocalPort()` in post-intermediary scenarios"
**Jetty version(s)**
9+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
Per the Servlet API javadoc for `HttpServletRequest.getServerName()`

[code]

When we have a server that's behind a intermediary and not exposed directly to the internet, and
requests that lack an authority (see HTTP/1 specs) we don't return a valid "resolved server name"
or "serve

[2021-12-14 12:55] joakime opened #7278 "Properly support HTTP/1.1 with non-http scheme absolute-uri and empty Host header"
**Jetty version(s)**
9+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
In the process of investigating the `HostHeaderCustomizer` in issue #7250 and the `HostPort` implementation in issue #7269 it was discovered
that our handling of empty `Host` header is wholly invalid and introduces a side effect on HTTP/1.1 requests that causes the exposure
of inte

[2021-12-14 12:57] joakime commented on #7278
Note: that the http spec does not allow for a URI with scheme `http` or `https` to have no authority.

Also, the websocket spec's URI for schemes `ws` and `wss` defers to the http spec uri definition, so those too cannot have a no-authority scenario.

[2021-12-14 14:12] joakime commented on #7269
Opened PR #7279 to conform to specs, and perform Host validation that just ensures it follows reg-name (simply by rejecting host names that violate the generous reg-name scope of characters)

[2021-12-14 14:16] winne42 opened #7280 "Interceptors don't get destroyed in HttpInput"
**Jetty version(s)**
10.x and 11.x

**Java version/vendor**
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.7+10, mixed mode)

**OS type/version**
Windows 10 20H2, 64 bit

**Description**
When migrating our product from Jetty 9.4 to 11.0, we noticed that our custom interceptors were not destroyed any more. Between Jetty 9.4 and 10.x/11.x, it is obvious that a lot of code from `HttpInput.recycle(

[2021-12-14 14:50] joakime commented on #7277
I like the method name `setLocalNameOverride(String overriddenLocalName)`, but where to put it?

I can see it fitting into `ServerConnector.setLocalNameOverride(String overriddenLocalName)`, but it probably should
exist in `HttpConnectionFactory.setLocalNameOverride(String overriddenLocalName)` instead.

WDYT @sbordet, @lorban, or @gregw  ?

[2021-12-14 14:51] joakime commented on #7277
I see a new `HttpChannel.getLocalName()` which basically moves the existing `Request.getLocalName()` logic to the `HttpChannel` and adds the additional check for the override that comes from the above configuration.

[2021-12-14 15:03] winne42 opened #7281 "EOFs are not passed to interceptors any more - shouldn't they?"
**Jetty version(s)**
10.x, 11.x

**Java version/vendor**
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.7+10, mixed mode)

**OS type/version**
Windows 10 20H2, 64 bit

**Description**
Starting with the overhaul of `HttpInput` in PR #4556, EOFs are not passed to interceptors any more. The author was obviously also unsure whether this is a good idea, see `AsyncContentProducer.nextTransformedConte

[2021-12-14 15:40] lorban commented on #7280
This is an oversight, since 9.4 checks that `Destroyable` interceptors should be destroyed then 10.0 and 11.0 should too. I'm going to add the missing bits of code and tests shortly.

Thanks for the report!

[2021-12-14 16:19] lorban commented on #7281
Should EOF be passed to interceptors or not has been left, as you have noticed, as an open question.

It would be very interesting for us to have a look at external implementations of `HttpInput.Interceptor`, could you please point to where we can find some? This would certainly help finally making up or mind on this matter.

But even if we were to restore passing EOF to interceptors, those Conten

[2021-12-14 16:37] winne42 commented on #7281
Thanks for the super quick reply! I found the problem here: https://gitlab.com/sdc-suite/sdc-ri/-/blob/develop/dpws/src/main/java/org/somda/sdc/dpws/http/jetty/CommunicationLogInputInterceptor.java

Don't know whether this makes any sense, you are the experts ;-)

[2021-12-14 17:06] sbordet opened #7284 "HttpInput reopen/recycle cleanup"
**Jetty version(s)**
10+

**Description**
`HttpInput.recycle()` is an empty method.
Interceptors are only destroyed when `HttpInput` is reopened, so their resources may linger around for a long time.
It would be better to destroy interceptors ASAP in `recycle()` and reset the state in `reopen()`.

Also, `HttpInput.reopen()` calls `AsyncContentProducer.recycle()` which is confusing.
Consider having

[2021-12-14 17:29] sbordet commented on #7281
I'm leaning towards passing EOF to the interceptor, for use cases such as forwarding the content to a file or to another HTTP request, and close the file or request as soon as possible.

It's quite easy to test for `content.isEof()` although all implementations should be changed.
However, if we pass `EofContent` to the interceptor, we should return the empty buffer from `getByteBuffer()`, otherwis

[2021-12-14 18:46] joakime commented on #7281
[code]

You could grab a ByteBuffer slice with [`ByteBuffer.slice()`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/nio/ByteBuffer.html#slice()) before you work with it and the the position/limit/capacity/mark/byte-order changes in your code wont change on the original ByteBuffer. (same underlying array is used, so be careful with changes to the content)

[2021-12-14 20:02] joakime opened #7285 "HPackDecoderTest.testTooBigToIndex() has bad assumption on Host header value"
**Jetty version(s)**
9.4.x+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
See: https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-http2/http2-hpack/src/test/java/org/eclipse/jetty/http2/hpack/HpackDecoderTest.java#L251

https://github.com/eclipse/jetty.project/blob/b8b32d0fdd0286bb212b4deccb61474d72fe280e/jetty-http2/http2-hpack/src/tes

[2021-12-14 23:16] #7266 closed, assigned to lachlan-roberts

[2021-12-14 23:17] #7262 closed, assigned to lachlan-roberts

[2021-12-15 00:30] #5808 closed, assigned to WalkerWatch

[2021-12-15 00:57] janbartel commented on #7211
Closing as it seems question has been answered.

[2021-12-15 00:57] #7211 closed, assigned to nobody

[2021-12-15 01:00] janbartel commented on #7127
Closing.

[2021-12-15 01:00] #7127 closed, assigned to nobody

[2021-12-15 02:11] lachlan-roberts opened #7286 "WebSocket write can time out even if the frame / callback has not been failed."
**Target Jetty version(s)**
10.0.x - 11.0.x

**Description**
Writes through the `JettyWebSocketRemoteEndpoint` and `JavaxWebSocketRemoteEndpoint` use `FutureCallback.block(getBlockingTimeout(), TimeUnit.MILLISECONDS)` for blocking writes.

The block could timeout before the `writeTimeout` occurs and the frame & callback could still be in the queue waiting to be sent.

[2021-12-15 02:13] lachlan-roberts commented on #7285
@joakime I have added a fix to PR #7279.

[2021-12-15 03:08] lachlan-roberts commented on #5447
The `WebSocketConnection` will eventually do `fillInterested()` call from within its `onOpen`. It will call the `WebSocketCoreSession.onOpen` which will demand a WebSocket frame, the demand will fillAndParse, read 0 bytes and then register as fill interested.

[2021-12-15 10:13] lorban commented on #7280
Also see https://github.com/eclipse/jetty.project/issues/7284

[2021-12-15 10:13] #7280 closed, assigned to lorban

[2021-12-15 10:40] lorban commented on #7281
I am personally torn between passing the EOF content or not, but slightly leaning towards the option of _not_ passing it and clearly documenting the `Interceptor` contract as such.

AFAICT, your Interceptor implementation could do without the EOF content much like Jetty's `GzipHttpInputInterceptor` at least now that #7280 is fixed, you could let `destroy()` close your `OutputStream` without the ne

[2021-12-15 14:55] winne42 commented on #7281
I don't know what others may want to do with EOF in their interceptors. You are right, in "our" case, `destroy()` seems to be sufficient (if it is guaranteed that `destroy` is always called).

That would be great, thx!

[2021-12-15 21:03] gregw commented on #7281
I think EOF should be sent through interceptors

[2021-12-16 03:35] janbartel commented on #5399
Keep open for investigation.

[2021-12-16 07:39] winne42 commented on #7284
It would be really great to have some documentation about `HttpInput`'s and `AsyncContentProducer`'s methods and how they work together! Looking forward to this.

[2021-12-16 09:02] lorban commented on #7284
@winne42 `HttpInput` and `ContentProducer` are some of the most complicated pieces of Jetty's internals. They basically implement a finite-state machine that acts as a bridge between the servlet's `InputStream` (which obeys another finite-state machine because of async mode) and another finite-state machine in the `HttpChannel` layer (which abstracts away the differences between HTTP 1 and 2 and o

[2021-12-16 09:16] mihaisdm commented on #7217
Hello, any updates for the release date?
Thank you

[2021-12-16 13:05] #7063 closed, assigned to nobody

[2021-12-16 13:07] joakime commented on #7217
@mihaisdm you can check the Project page for status of the remaining PRs before the release is cut.

https://github.com/eclipse/jetty.project/projects/45

[2021-12-16 13:09] joakime commented on #5399
Move to 10.0.9 release?

[2021-12-16 13:12] joakime opened #7297 "Deprecate log4j 1.x support"
**Jetty version(s)**
9+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
Alll

**Description**
Log4j 1.x was EOL in August 2015.

While we have no direct dependencies on log4j 1.x within our project, we do have modules across our 3 active versions of Jetty that have log4j 1.x options.

I propose we drop log4j 1.x entirely, modules and all.
If a user wants to continue to use

[2021-12-16 13:19] #7284 closed, assigned to lorban

[2021-12-16 15:58] lorban commented on #7281
I submitted a PR that makes `ContentProvider` implementations pass special content instances to the interceptor, as @gregw convinced me this is the way we want to go.

Regarding the `Content.getByteBuffer()` contract, it has been documented as such since 10.0.0: _Get the wrapped byte buffer. Throws IllegalStateException if the content is special._ so any preexisting code that calls `getByteBuffer(

[2021-12-16 16:08] lorban commented on #7281
@winne42 would it be possible for you to build the linked PR and give that build a try?

I would recommend you to modify your `Interceptor` to look something like the following, both to handle the special content flag as well as using the EOF flag as a hint to close your logger stream asap:

[code]

[2021-12-16 17:13] sbordet opened #7298 "Review [license] section in modules"
**Jetty version(s)**
9.4+

**Description**
`[license]` sections of Jetty modules are sometimes missing (e.g. `test-keystore.mod`) sometimes only referencing a link to the license, sometimes the whole license text is pasted in the `[license]` section.

We need to decide on what we should do (link or whole text) and be consistent.

[2021-12-16 17:23] pbtura opened #7299 "Enabling the logging-logback module prevents eclipse remote debugging"
**Jetty version(s)**
9.4.43.v20210629

**Java version/vendor** `(use: java -version)`
openjdk version "1.8.0_292"

**OS type/version**
Ubuntu 18.04 (x64)

**eclipse version**
4.6 neon

**Description**
Attempting to debug a web application using eclipse remote debugging will fail if the logging-logback module of the jetty server is enabled. The eclipse debugger will see and connect to the debug por

[2021-12-16 17:43] joakime commented on #7299
That's because on Jetty 9.x enabling non-default logging forks the JVM.
This is because enabling logging needs to be done first, as close to the start of the JVM as possible.
If you swap logging implementations, a new JVM needs to be created.

Your debug `-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=9999` is only impacting the initial JVM, not the forked JVM with your Jetty cod

[2021-12-16 17:52] pbtura commented on #7299
Thank you, that makes sense. Is there a way to do the fork from the command line or from the startup script so I don't have to keep editing my start.ini every time I want to debug?

[2021-12-16 18:57] joakime commented on #7299
You could create a `${jetty.base}/modules/remote-debug.mod` with the following content ...

[code]

Then when you want debug just add the command line `--module=remote-debug` and it will be use for just that execution.
Think of this as a non-stored configuration.

[2021-12-16 19:42] pbtura commented on #7299
That is exactly what I was looking for. Thank you.

Do you think I should file an enhancement request to update the documentation? I don't see anywhere in the user guide (https://www.eclipse.org/jetty/documentation/jetty-9/index.html#advanced-debugging) that this behaviour is explicitly called out.

[2021-12-16 21:18] gregw commented on #7281
I think this read better and should work just as well:
[code]
Note that it is possible for a content to both have content and be EOF.

[2021-12-17 00:13] #6263 closed, assigned to nobody

[2021-12-17 00:13] #6277 closed, assigned to janbartel

[2021-12-17 04:02] ritzow commented on #6614
I'm not sure if what I've encountered is related. When I have DEBUG logging enabled, Jetty is creating an IOException with "Unconsumed content" even after consuming all content. It seems like many internal Jetty methods call consumeAll on HttpInput or AsyncContentProducer despite consumeAll being guaranteed to produce this DEBUG message. It seems like this is all intentional but it's a really weir

[2021-12-17 04:41] lachlan-roberts commented on #5796
This has been fixed for Jetty 10-11.

[2021-12-17 04:41] #5796 closed, assigned to lachlan-roberts

[2021-12-17 04:58] lachlan-roberts commented on #7297
I don't think we can just remove the module without breaking existing usages that are relying on the mod file.
We could just deprecate it in 9-11 and then remove the module in Jetty 12?

[2021-12-17 09:34] sbordet commented on #7297
We have a [deprecated] feature in modules now... I agree that the module should not be removed entirely.

[2021-12-17 09:38] sbordet commented on #6614
Correct.

It's just a DEBUG log, you can ignore it.

[2021-12-17 20:52] winne42 commented on #7284
@lorban  Thank you so much for the detailed explanation and the links! I can see that you consider this to be internal implementation details. As someone interested in Jetty interceptors I just need to understand when `readFrom()` and `destroy()` are being called and what's commonly done in each - just the info you added to the JavaDoc in #7296 <3.

(the standard LMGTFY approach doesn't work - whe

[2021-12-17 21:12] winne42 commented on #7281
You guys are just amazingly responsive and helpful, thanks! 👍 👍 👍

@lorban I am on vacation already and probably won't have time before next years to try, sorry. But if it works with `GzipHttpInputInterceptor`, I don't see any reason why it shouldn't work for everybody else.

Thank you @lorban , @gregw , @sbordet , @joakime for also putting thoughts in the documentation! This will certainly help m

[2021-12-19 13:28] joakime commented on #7297
Fair enough.
I'm going to move log4j 1.x support versioning OUT of the pom.xml and totally within the module (which I'll flag as deprecated too).

Do we warn users if they are have an previously not-deprecated module enabled on next startup?

[2021-12-19 14:22] sbordet commented on #7297
Deprecated modules are already logged at WARN level on startup.

[2021-12-19 23:14] lachlan-roberts commented on #5368
This is not an issue in 10.0.x as the demand mechanism is used to control when frames are requested for the `MessageInputStream`.

[2021-12-19 23:14] #5368 closed, assigned to lachlan-roberts

[2021-12-20 01:10] janbartel commented on #7132
Closed via #7133

[2021-12-20 01:10] #7132 closed, assigned to janbartel

[2021-12-20 06:00] allenleung86 commented on #4785
I tested passing "identity", it works

[2021-12-20 09:13] sbordet commented on #6728
Implemented in mainline branch `jetty-10.0.x`.

[2021-12-20 09:13] #6728 closed, assigned to sbordet

[2021-12-20 11:08] erichKitzmueller opened #7313 "addBean(_attributes); only called in the Convenience constructor of org.eclipse.jetty.server.Server"
found in Jetty version 9.4.x - still there in 10-0.x

only in the so-called convenience construtor of Server, `addBean(_attributes);` is called, but not in the other constructors. This looks odd to me, is this the intended behaviour?

[code]

[2021-12-20 16:50] olamy opened #7315 "MavenLocalRepoFileInitializerTest#testDownloadSnapshotRepo depends on possible missing external resources"
the test MavenLocalRepoFileInitializerTest#testDownloadSnapshotRepo depends on downloading snapshot jars from https://oss.sonatype.org/content/repositories/jetty-snapshots/ with hardcoded version `10.0.0-SNAPSHOT`.
the test should be rewrite to use https://www.mojohaus.org/mrm/mrm-maven-plugin/ and download current installed version.

[2021-12-20 17:15] joakime commented on #7315
The whole point of that test is to ensure that the start.jar follows maven convention for snapshot metadata.

[2021-12-20 17:16] joakime commented on #7315
We've filed an issue with oss.sonatype.org btw to address the missing jetty-snapshots repo

[2021-12-20 17:17] #5369 closed, assigned to nobody

[2021-12-20 17:17] #5355 closed, assigned to nobody

[2021-12-20 17:19] #5318 closed, assigned to nobody

[2021-12-21 04:13] janbartel commented on #7313
@erichKitzmueller I agree, it looks strange. I've raised PR #7317 to ensure `_attributes` are added as a bean in all constructors.

[2021-12-21 05:51] janbartel opened #7318 "Flakey test in HttpClient RoundRobinConnectionPoolTest"
**jetty-10.0.x**

[2021-12-22 14:25] lorban opened #7326 "Rework HttpInput.Interceptor contract"
**Target Jetty version(s)**
12.0.x

**Enhancement Description**
The current `HttpInput.Interceptor` contract was too loosely defined during its inception and grew to something very convoluted and barely maintainable despite a simple original requirement. Ideally, this should be reworked by breaking the existing contract and proposing a much saner one.

For the simple idea of _give me some content

[2021-12-22 17:27] mleegwt opened #7327 "jetty-slf4j-impl missing from BOM"
**Jetty version(s)**
Jetty 10 and 11

**Java version/vendor** `(use: java -version)`
Any

**OS type/version**
Any

**Description**
The package jetty-slf4j-impl is missing from the BOM.

**How to reproduce?**
Check the pom.xml in the jetty-bom project.

[2021-12-22 19:41] joakime commented on #7327
Opened PR #7328 - reviewed all maven modules in our build and added the missing entries.

[2021-12-22 21:15] #7327 closed, assigned to nobody

[2021-12-22 21:32] joakime commented on #7297
I have moved it out of the main pom in Jetty 9.4.x.
Need to make a new PR for Jetty 10+

[2021-12-23 16:47] sbordet commented on #7299
I filed #7335 about the documentation.
@pbtura you can review the pull request to feedback whether the documentation is satisfying for you?

[2021-12-23 21:06] pbtura commented on #7299
I added a comment to the pull request. Let me know if there is something
more I need to do.

On Thu, Dec 23, 2021 at 11:47 AM Simone Bordet ***@***.***>
wrote:

[2021-12-29 02:11] #6973 closed, assigned to nobody

[2021-12-29 10:09] XakepSDK opened #7344 "Incompatible with jacoco due to shutdown race condition"
**Jetty version(s)**
jetty-maven-plugin 11.0.7

**Java version/vendor** `(use: java -version)`
openjdk version "17.0.1" 2021-10-19
OpenJDK Runtime Environment (build 17.0.1+12)
OpenJDK 64-Bit Server VM (build 17.0.1+12, mixed mode)

**OS type/version**
Arch Linux

**Description**
I'm using jetty and jacoco to generate integration tests coverage.
Jetty shutdowns in post-integration-test phase and j

[2021-12-30 14:09] zhaowenxishi commented on #7226
After reanalysis, I found that the problem is still due to this reason, but I can’t confirm why the cookie causes the request to block, so I hope to get some help

[2021-12-30 14:21] zhaowenxishi commented on #7226
1、here is blocked about 28s before starting sending
![image](https://user-images.githubusercontent.com/18715523/147759651-d7be618f-d94a-4191-8647-04e4627dbceb.png)

2、here is blocked about 32s after receiving. finnally it success but is already timeout for Upper business process。
![image](https://user-images.githubusercontent.com/18715523/147759833-fa42bcdc-2fb3-403e-a98c-098e4d70f1b2.png)

[2021-12-30 14:31] zhaowenxishi commented on #7226
![image](https://user-images.githubusercontent.com/18715523/147760786-d850ed9e-d141-4780-a241-49aa9517780a.png)

[2022-01-03 09:47] #7299 closed, assigned to joakime

[2022-01-03 16:46] sbordet opened #7348 "Slow CONNECT request causes NPE"
**Jetty version(s)**
9.4.x+

**Description**
When `HttpClient` is configured with an `HttpProxy`, and a request is made through the proxy, this NPE may happen:

[code]

[2022-01-03 16:51] sbordet commented on #7348
The cause for the NPE is that the CONNECT request completion happens _after_ the response completion, so the upgrade to a tunnel happens from the request side rather than, more commonly, from the response side.

Since the response is already completed, the `networkBuffer` has already been disposed, and when also the request completes, the code attempts to upgrade and finds `networkBuffer` to be `n

[2022-01-03 17:04] #4546 closed, assigned to jmcc0nn3ll, WalkerWatch

[2022-01-03 17:06] #2850 closed

[2022-01-04 03:10] #7313 closed, assigned to janbartel

[2022-01-04 06:01] lachlan-roberts commented on #7226
This is just how the `java.net.InMemoryCookieStore` works, it grabs the lock for each `get` to fill up the list of cookies for a URI, so if you have a large amount of cookies it could be a bottleneck.

It would help if you can reduce the number of cookies you are storing.

[2022-01-04 06:31] SerCeMan opened #7351 "Large WebSocket payloads with permessage-deflate hang on 10.0.7"
**Jetty version(s)**

10.0.7

**Java version/vendor** `(use: java -version)`

openjdk version "11.0.13" 2021-10-19 LTS

**OS type/version**

MacOS/Linux

**Description**

Starting from 10.0.7, large WebSocket messages hang when the WebSocket connection is initiated with the `permessage-deflate` extension. The "hanging" behaviour is only observed starting from 10.0.7, and the code works correctly o

[2022-01-04 07:49] zhaowenxishi commented on #7226
Thanks for your asking. Once I found that problem, I had tried to put a lot of cookies in the java.net.InMemoryCookieStore(even more than the actual situation, 2000+), but I won't work out to reproduce the problem situation.

I am not sure if the my cookies are to simple or most of them have same inner information will affect the result and the InMemoryCookieStore Processing Efficiency.

But I rea

[2022-01-04 19:26] patsonluk commented on #7192
@sbordet any updates please? 😊

[2022-01-04 21:54] joakime opened #7354 "Demo jars should not be in jetty-home"
**Jetty version(s)**
10.0.8-SNAPSHOT

**Java version/vendor**
Alll

**OS type/version**
All

**Description**

Noticed that the `${jetty.home}/lib/` has `demo-*.jar` files present.

Those files shouldn't be there.

[code]

[2022-01-04 23:31] janbartel commented on #7344
@XakepSDK did you try setting the `stopWait` parameter on the `stop` goal? That is the time in seconds that the stop plugin will wait to see a confirmation that jetty has stopped. https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#jetty-stop-goal

[2022-01-05 01:45] varikuppalaanitha opened #7356 "j_spring_security_error"

[2022-01-05 01:46] #7356 closed, assigned to nobody

[2022-01-05 01:46] varikuppalaanitha commented on #7356
error found

[2022-01-05 16:33] #7354 closed, assigned to joakime

[2022-01-05 23:34] lachlan-roberts commented on #7351
@SerCeMan Thanks for the report and the reproducer, very strange that we didn't already have a failing test to reproduce this.

It is caused by an interaction between the changes from PR https://github.com/eclipse/jetty.project/pull/6635 and the iterating callback from `PerMessageDeflateExtension`. We are looking at a solution to fix this now and hopefully get this into the 10.0.8 release which wi

[2022-01-06 02:08] ductridev commented on #2939
I found a solution that worked for me that add this into your gradle.properties.
[code]

[2022-01-06 10:08] #7348 closed, assigned to sbordet

[2022-01-06 14:04] joakime commented on #7277
Done.

* Introduced `HttpConfiguration.setServerAuthority(HostPort)` to influence `ServletRequest.getServerName()` and `ServletRequest.getServerPort()`
* Introduced `HttpConfiguration.setLocalAddress(SocketAddress)` to influence `ServletRequest.getLocalName()`, `ServletRequest.getLocalPort()`, and `ServletRequest.getLocalAddr()`
* Added test cases

[2022-01-06 14:04] #7277 closed, assigned to nobody

[2022-01-06 16:53] sbordet commented on #7192
@patsonluk the traffic dump is not good.

Please use:

`tcpdump -i lo0 -w /tmp/output.pcap tcp port 8983`

[2022-01-07 00:03] #5749 closed, assigned to nobody

[2022-01-07 00:03] #5716 closed, assigned to nobody

[2022-01-07 00:03] #5714 closed, assigned to nobody

[2022-01-07 14:59] sbordet opened #7369 "Document CustomRequestLog"
**Target Jetty version(s)**
10+

**Enhancement Description**
`CustomRequestLog` should be documented.
An empty section is already available at `operations-guide/logging/logging-request.adoc`.

[2022-01-09 00:00] #5573 closed, assigned to lachlan-roberts

[2022-01-09 00:00] #5534 closed, assigned to nobody

[2022-01-10 00:00] #5519 closed, assigned to nobody

[2022-01-10 00:00] #5495 closed, assigned to olamy, joakime

[2022-01-10 08:56] NageshSoni commented on #6035
While implementing the QoSFilter I read in Java Doc of QoSFilter that this filter could be deployed with a maxRequest limit slightly smaller than the containers thread pool.
How to decide on maxRequests?

[2022-01-10 09:02] sbordet commented on #6035
@NageshSoni your comment has nothing to do with this issue. Please open a new "Question" issue.

[2022-01-10 10:37] NageshSoni opened #7371 "How to decide on maxRequests in QoSFilter?"
Jetty version - 9.4.43.v20210629

Java version - 1.8.0_201

While implementing the QoSFilter I read in Java Doc of QoSFilter that this filter could be deployed with a maxRequest limit slightly smaller than the containers thread pool.
How to decide the maxRequests based on my throughput and connector threads?

Sample Implementation of QoSFilter:

[code]

[2022-01-10 11:49] sbordet commented on #7371
If your requests are processed by blocking code, then you typically want to have `QoSFilter.maxRequests < QueuedThreadPool.maxThreads` to cover the worst case, where `maxRequests` threads are blocked, but you have a few threads left to process incoming requests until they hit the `QoSFilter` where they are either suspended or rejected.

`QoSFilter.maxRequests` indicates the max number of concurren

[2022-01-11 00:01] #5209 closed, assigned to nobody

[2022-01-11 01:47] janbartel commented on #7344
@XakepSDK I'm going to close this issue, as it seems to me that `stopWait` is exactly the solution to the problem you reported. If this is not the case, please reopen the issue and provide more information that would help diagnose.

[2022-01-11 01:55] janbartel commented on #7170
@aaronjwhiteside nudge? Any comments in response to @joakime's test code?

[2022-01-11 01:57] janbartel commented on #7072
@naveenk26 nudge? Any progress on this issue?

[2022-01-11 02:17] janbartel commented on #7044
If you look at the uber jar that is built by this project, it contains this file:

` inflated: META-INF/versions/9/module-info.class`

If you look at the contents of that module-info you get:

[code]

This is the module-info from the slf4j-api jar, which is a multi-version jar.

The assembly plugin should either skip it or be configured not to copy it into the uber jar.

[2022-01-11 02:17] #7044 closed, assigned to nobody

[2022-01-11 02:33] XakepSDK commented on #7344
Hi again! I'm back, i had no internet, lockdowns =(
Yes, i tried `stopWait`.
Jacoco VM agent writes to it's file as long as VM is alive. When i use `stopWait`, jacoco client side starts reading file before it's fully written. If `stopWait` will wait for VM shutdown, then `jacoco` will read file after it was fully written.

[2022-01-11 05:33] janbartel commented on #7344
@XakepSDK oh sorry, I didn't see the `stopWait` in your config. I see. Well, the problem is that the start plugin code that forks jetty - and thus can know the processid of the child - has already terminated by the time the stop plugin runs. I guess it's possible for the forker to write out the processid to a file that the stop plugin could read, however the management of unrelated processes is ri

[2022-01-11 05:43] XakepSDK commented on #7344
Can this ticket be reopened?
I can think of this solution:
1. Stop socket should write current PID in stdout
2. Stop plugin should read PID and send stop signal
3. Stop plugin should wait until given PID stops existing in process list. Listing processes should be possible with new java, not sure about Java 8

Or we could read stdout of PID and wait until it's EOF, but i guess that would bring too

[2022-01-11 06:42] janbartel commented on #7344
@XakepSDK I'm trying it with the file first, as that doesn't require any changes to jetty code outside of the jetty-maven-plugin. Generating the pid would require changes in the ShutdownMonitor class outside of the jetty-maven-plugin. It's doable, but changing what is generated might mess up other folks who are parsing the output of the ShutdownMonitor and not expecting to deal with the new messag

[2022-01-11 07:16] NageshSoni commented on #7371
While your experiments when your requests were processed by blocking code, then How much was QoSFilter.maxRequests less than QueuedThreadPool.maxThreads to achieve a particular TPS?

[2022-01-11 07:53] harish0816 commented on #6363
Late update. We were able to blacklist (i.e. remove) jetty jmx bundle in karaf as it is of no use to us.

Thanks for the swift support. Much appreciated !!

[2022-01-11 07:53] #6363 closed, assigned to nobody

[2022-01-11 08:52] sbordet commented on #7371
As I said, that depends on your application. You have to try and see.

[2022-01-11 10:47] avin15cs opened #7372 "How to write context.xml in jetty 9/10?"
Jetty Version: 9.4.44.v20210927

Java Version: java-11-openjdk-11.0.7.10_windows_redhat
My application uses embedded  jetty 6 and now we are upgrading it to jetty 9. I had few queries regarding which, I had raised it in stackoverflow:
https://stackoverflow.com/questions/69907675/is-this-correct-way-of-adding-contexts-in-jetty-9-and-10
 Firstly, Thank you so much Joakim for helping me out on this.

[2022-01-11 11:17] avin15cs opened #7373 "Running embedded jetty in my Application through IntelliJ gives no error, but contexts are not running. What could be the reason?"
**Jetty version**
9.4.44.v20210927
**Java version**
java-11-openjdk-11.0.7.10-1.windows.redhat.x86_64
**Question**
I am using jetty in my application where it is embedded. When I try to access configured contexts while running my project through Services, I am able to get proper response.
But same thing when I run through intelliJ, only http://localhost:9096/ is accessible and for rest URLs I get

[2022-01-11 11:54] sbordet commented on #7373
Difficult to say, too little information. Are you using IntelliJ-Jetty integration, or just running the Jetty code?

[2022-01-11 12:01] sbordet commented on #7372
This means that your application, probably `FileProxyServlet` has declared a `Content-Length` header that does not match the actual size of bytes written.

For example:

[code]

It may be possible that the file is stored with one encoding (e.g. UTF-8), but you write it back as ISO-8859-1.

[2022-01-11 13:10] avin15cs commented on #7372
Hi @sbordet,

What could be the solution for this? Please find my FileProxyServlet class.

[FileProxyServlet.txt](https://github.com/eclipse/jetty.project/files/7846708/FileProxyServlet.txt)

[2022-01-11 13:56] avin15cs commented on #7373
I am running the jetty code, which is written in my application. I wasn't sure what exactly needs to be shared, thats why I didnt share anything. I am using code suggested by Joakime here:
https://stackoverflow.com/questions/69763353/how-to-enable-embedded-jetty-9-in-ssl-mode-through-xml-configuration

[2022-01-11 14:23] sbordet commented on #7373
There are multiple snippets of code in that SO question/answer.
If you post what you're doing, we might be able to help.

[2022-01-11 14:32] sbordet commented on #7372
`FileProxyServlet` code is wrong.
Simplest is to remove the call `resp.setContentLength( (int)theFile.length() );`.

[2022-01-12 09:27] #7369 closed, assigned to sbordet

[2022-01-13 03:40] janbartel commented on #7209
Happened again:   https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-7374/1/pipeline

[2022-01-13 04:16] janbartel opened #7375 "Some environments require Request scoping during session save"
Some environments require access to the `Request`, or information from the `Request` during the save of `Session` data via a `SessionDataStore`.

Although we already scope the `Session` to the `context` during `SessionDataStore` operations, this does not include the request. Note that there are circumstances in which the save can also occur outside of a `Request` (eg if the `saveOnInactiveEviction

[2022-01-13 04:20] janbartel commented on #5791
Happened again: https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-7374/1/pipeline

[2022-01-13 07:30] XakepSDK opened #7378 "Migrating from ancient jetty"
**Jetty version**
to 9.4

**Java version**
to 1.8

**Question**
I am migrating ancient service from old jetty to newer to support at least Java 8 VM.
Project uses spring and configures jetty using xml files.

There are calls to `ServletContextHandler#addFilter`
In old jetty, `addFilter` accepts `FilterHolder holder, String pathSpec, int dispatches`
In new jetty, `addFilter` accepts `FilterHolder h

[2022-01-13 08:18] avin15cs commented on #7372
Hi @sbordet ,

That worked, thanks!

[2022-01-13 08:38] #7372 closed, assigned to nobody

[2022-01-13 08:43] sbordet commented on #7378
The value `null` for the `EnumSet` provides the default dispatch mode, so `addFilter(holder, path, null)` is equivalent.

[2022-01-13 08:43] #7378 closed, assigned to nobody

[2022-01-13 08:50] sbordet commented on #5791
Duplicate of #7209

[2022-01-13 08:50] #5791 closed, assigned to nobody

[2022-01-13 12:20] #7209 closed, assigned to sbordet

[2022-01-13 14:06] #7281 closed, assigned to lorban

[2022-01-13 16:56] joakime commented on #5872
We merged this into Jetty 10.x as part of PR #5876
I think this is done.

[2022-01-13 16:56] #5872 closed, assigned to nobody

[2022-01-14 02:13] lampmagic-lin opened #7391 "occasional EOFException from jetty"
**Jetty version**
9.4.12v20180830
**Java version**
8U201
**Question**
We have an application that using Apache camel to call REST API. And we got EOFExceptions from jetty occasionally.

Some more observations:
    we're not using https
    it happens very sporadically (once for per 10K ?)

Does anybody known the reason and how to resolve this problem?

Thaks.

PS: The same question on Stack Overfl

[2022-01-14 02:57] XakepSDK commented on #7378
Thanks!

[2022-01-14 04:22] rfox12 opened #7392 ""WebSocketComponents has not been created" for some handler configurations."
**Jetty version(s)**
11.0.7

**Java version/vendor** `(use: java -version)`
OpenJDK 64-Bit Server VM (build 17.0.1+12-Ubuntu-121.10, mixed mode, sharing)

**Description**
I've been working to incorporate WebSockets and I'm facing an issue that I cannot resolve with `JettyWebSocketServletContainerInitializer`.  I'm configuring my embedded Jetty application entirely with code.

My handler tree looks

[2022-01-14 04:37] lachlan-roberts commented on #7392
Strange because when the `JettyWebSocketServletContainerInitializer` is run, the first thing it does is create the `WebSocketComponents`.

Try doing the call to the SCI directly after creating the `ServletContextHandler` to ensure it is always done:
[code]

Can you do a dump directly before starting the server and paste it here. We should be able to see if the ContainerInitializer has been registe

[2022-01-14 04:48] rfox12 commented on #7392
[code]

[2022-01-14 04:50] janbartel commented on #7375
Fixed via PRs #7376 and #7390.

[2022-01-14 04:50] #7375 closed, assigned to janbartel

[2022-01-14 04:56] rfox12 commented on #7392
I tried moving my `JettyWebSocketServletContainerInitializer.configure` call to just below as you advised but no luck.

Looking a little more carefully I now notice a warning I didn't see before:
[code]

[2022-01-14 05:06] lachlan-roberts commented on #7392
@rfox12 you have an unexpected setup under the `ContextHandlerCollection`.

You seem to have both `ServletContextHandler` and its `ServletHandler` as handlers inside the `ContextHandlerCollection` which is wrong.

Check where you are adding to the `ContextHandlerCollection` and only your `apiServletContext` should be registered:
[code]

[2022-01-14 05:16] rfox12 commented on #7392
Under my `ContextHandlerCollection` there is first my `SessionHandler` --I neglected to include that in my original handler diagram!
`apiContext.addHandler(sessionHandler);`
was the guilty line of code.  I put the session handler where it belongs inside the servlet context.  Now everything seems to work swimmingly!  @lachlan-roberts THANK YOU!

[2022-01-14 05:17] #7392 closed, assigned to nobody

[2022-01-14 12:34] sbordet commented on #1820
@janbartel could you look at this?

[2022-01-14 17:08] sbordet commented on #7391
The stack trace indicates that the REST server closed the connection abruptly without responding to the request.

It may be cause by a number of things, such as server errors, server shutdowns, I/O timeouts, etc.

You have to look at the server side to understand why this particular request was aborted.

[2022-01-14 23:11] gregw commented on #1820
@sbordet butting in here with a number of thoughts & questions....

So is the idea that if we have N servers running in a JVM, then there are N ports open listening for STOP commands?
This is a bit strange as each one of them can issue a System.exit and shutdown the whole JVM... potentially not cleanly stopping the other servers.

If we change the ShutdownMonitor to just  stop one server it is ass

[2022-01-15 00:00] #5435 closed, assigned to lorban

[2022-01-15 00:26] joakime commented on #1820
`ShutdownMonitor` is also tied to the hip of `ShutdownThread` which is directly related to `Runtime.getRuntime().addShutdownHook()`.

This Issue would result in changes across everything that uses `ShutdownThread` to know which instance specific `ShutdownMonitor` it belongs to as well.

[2022-01-16 01:31] lampmagic-lin commented on #7391
@sbordet
Many thanks for your reply and changing the format of stack trace.

I have checked the accesscclog of Tomcat which the REST server is deployed  to,
and nothing is written while the error occurred.
So I think that the REST server did not receive the request at that moment.
PS:Please let me know if there is anything wrong with my comment above. Thanks.

Is it possible that a timeout has occ

[2022-01-16 14:24] rfox12 commented on #3981
I have a question (which I think is relevant in this context--and hopefully for others that might be searching for answers).  Joakim assembled an excellent set of questions.  My perception is that the standards did not keep pace with the needs of developers in this particular instance.

So, with that in mind... is there a recommended approach for developers who need to build a Jetty server to shar

[2022-01-16 20:45] joakime commented on #3981
A common pattern that has emerged is that the application controls it's server state tracking in a way that doesn't rely on servlet HttpSession.  (this works for REST, WebSocket, grpc, etc...)

HTTP uses Cookie to set an application state tracking id of it's own.
Something that is not HttpSession.

The HTTP State is obtained from this cookie id.
The WebSocket connection is passed this state id on

[2022-01-17 00:00] #5373 closed, assigned to nobody

[2022-01-17 05:17] gregw opened #7403 "Jetty-12 `Content.Provider` Producer?"
**Jetty version**
12

**Question**
After the recent conversations regarding websocket and IteratingCallback I wanted to make sure that Jetty-12 has a good processor abstraction that handles both demand and release correctly.
But I'm currently tying myself in knots trying to come up with right abstract for how a truly general processor should work (ie one that can both silently consume and spontane

[2022-01-17 05:17] gregw commented on #7403
@sbordet @lorban @lachlan-roberts thoughts?

[2022-01-17 10:30] sbordet commented on #7391
I cannot help you further sorry.
This is not a Jetty issue.
The server just closed the connection.
If there was a timeout on the Camel/Jetty side, I'm guessing you would have seen it in the logs.

[2022-01-17 10:48] avin15cs commented on #7373
Hi @sbordet
I have used the following code:

Code used:

[code]

I have attached the jetty trace here
[jetty_trace.txt](https://github.com/eclipse/jetty.project/files/7881137/jetty_trace.txt)

and config.properties.
[config.properties.txt](https://github.com/eclipse/jetty.project/files/7881159/config.properties.txt)

I am getting HTTP 500 server error, on running through intelliJ, but it works fin

[2022-01-17 11:03] lampmagic-lin commented on #7391
@sbordet
You've helped me a lot.
Thank you.

[2022-01-17 11:38] lorban commented on #7403
So you're looking at creating a new generic API which would allow multiple implementations of this method:
[code]
I'm really wondering if that's worth it. The `Provider` interface already has a well-defined contract w.r.t the lifecycle of the `Content` object returned by the `readContent()` method: it's up to the caller to manage it.

With that in mind, I think it would be fairly simple to impleme

[2022-01-17 11:57] cheeomaah opened #7406 "403"

[2022-01-17 12:19] #7406 closed, assigned to nobody

[2022-01-17 12:28] rfox12 commented on #3981
I don't know of any other libraries (besides Spring, which I'm not using)

From my perspective we've already taken on some technical debt in order to support HttpSessions (session handler, session cache, and a persistence layer, and more!) -- so logically I'm wondering why wouldn't we re-use some of this investment?  The session mostly does what I need (store a bit of data).

In concrete terms for

[2022-01-17 14:05] joakime commented on #7373
Add this line and run it again.

[code]

The output (to STDERR) will include your server state dump.

[2022-01-17 14:47] joakime commented on #3981
The thing is, `HttpSession` is for HTTP.

WebSocket is not HTTP. (It's websocket)

It just so happens that one way to initiate WebSocket on HTTP/1.1 using the HTTP upgrade process.
HTTP/2 and HTTP/3 have a different process (not using an HTTP request to upgrade).

The only point in time where HTTP is involved in WebSocket is during the upgrade request.
Once the connection is upgraded, you are no l

[2022-01-17 15:56] rfox12 commented on #3981
I understand.  But just because it's named "HttpSession", does that disqualify it from being used in a more general sense to store small pieces of connection / user related information for websocket?  These are the things I like about existing (yes "HTTP" sessions...):

- They are part of a well known and battle hardened architecture that has been around for decades
- Jetty's default implementatio

[2022-01-17 17:38] joakime commented on #3981
You know that `javax.websocket` and it's replacement `jakarta.websocket` don't actually have a dependency on the servlet spec, right?
That's an intentional decision by the spec.

Why?  Well, that's because at it's heart websocket is not HTTP and is not connected to the Servlet spec.
Other technologies within Jakarta EE (eg: CDI) do not even acknowledge that WebSocket is built on HTTP or Servlet.
T

[2022-01-17 18:29] rfox12 commented on #3981
You fill your posts with information / facts; but you've completely missed the heart of the discussion.  Sessions are useful.  In *my* usage of Jetty I use them today.  I want to share that state with Websockets--and have Websockets contribute / modify that state.  How would you do it?

You've waved your hands at "other libraries" but you've failed tell me simply: what would you do?  What would yo

[2022-01-17 18:50] sbordet commented on #7403
I also don't like much `Content produce(Content content)` given that it needs to rely on something else to demand for more content, etc. -- it's not self contained.
Yes perhaps you can rely on the whole utility class, but then I think there would be a confusion about "do I implement produce() or do I call readContent()?"
So a processor of content is nothing more than:

[code]
where the `previous`

[2022-01-17 23:03] gregw commented on #7403
@sbordet yeah this is indeed really just a Processor in the style of reactive streams.     So it could indeed be modelled as an API and a utility class:
[code]

Which is really just a wrapper by another name.
The `ContentProcessor` class is just a utility class to solve the problem generally... mostly at this stage to prove that it can be done to test the `Provider` contract.   I'll make that chan

[2022-01-18 02:43] #7391 closed, assigned to nobody

[2022-01-18 03:57] janbartel opened #7408 "Change scope of maven plugin dependencies"
**jetty-10.0.x**

Building the jetty-maven-plugin shows this error info:

and

[2022-01-18 04:07] janbartel commented on #7408
Also applies to jetty-9.4.x, and jetty-11.0.x.

[2022-01-18 04:22] joakime commented on #3981
The overwhelming majority of Servlet + WebSocket (Jetty and Tomcat) users that need data from the HttpSession object have the following behaviors and restrictions.  (Pointed out this in a previous message already, so I'm stating it again, but in a different way)

* Only access the HttpSession values during HTTP Upgrade
* Never hold the HttpSession object in the WebSocket Endpoint/Session (**IMPORT

[2022-01-18 04:31] joakime commented on #3981
When this issue was created, we were discussing with other specs in Jakarta EE to see if a solution could be found.
This issue was Jetty's effort at pointing out the scope of the problem and what needed to be addressed.

[2022-01-18 05:56] gregw commented on #3981
@rfox12 Sorry that the answer to you appartently simple question is so complex.

To answer your question "What would you recommend Jetty users do" is to avoid trying to use sessions as a distributed database.  Their semantics is so poorly defined that it is hard to keep them coherent with updates from simultaneous requests to the same node, let alone if you add in distributed nodes and/or other pr

[2022-01-18 06:05] janbartel commented on #7408
@olamy can you take a look at this one? I tried locally changing the dependencies with `org.apache.maven` gid to `provided` for the jetty-maven-plugin pom.xml, but the build still complained that:

But those dependencies are are transitive of the `org.apache.maven.maven-core` artifact, which is itself `provided`. Qu'est-ce qui se passe?!

[2022-01-18 07:37] XakepSDK opened #7409 "Jetty Apache JSP 9.4"
**Jetty version**
9.4.44.v20210927
**Java version**
1.8

**Question**
I'm upgrading from mortbay to eclipse jetty.
My project uses JSP.
I added apache-jsp dependency from jetty

When i run my application and open main page, this error is thrown:
[code]
I found that `org.apache.jasper.servlet.JasperInitializer` should be invoked in order to `getTldResourcePath` work properly. So `TldCache` is not n

[2022-01-18 08:01] avin15cs commented on #7373
Hi Joakime,
Please find the jetty_trace_log: [jetty_newTrace.txt](https://github.com/eclipse/jetty.project/files/7887223/jetty_newTrace.txt)

[2022-01-18 08:07] XakepSDK commented on #7409
This is solution to my issue:
https://www.eclipse.org/jetty/documentation/jetty-9/index.html#embedded-examples

[2022-01-18 08:07] #7409 closed, assigned to nobody

[2022-01-18 08:54] #7201 closed, assigned to lorban

[2022-01-18 12:17] bu3 opened #7414 "QoSFilter.setMaxRequests throws NullPointerException"
**Jetty version(s)**
9.4.44
**Java version/vendor** `(use: java -version)`
openjdk version "11.0.10" 2021-01-19 LTS

**OS type/version**
macOS 11.6.2

**Description**
I'm trying to use the QosFilter into an existing Spring application but if I try to tune the filter calling `setMaxRequests` at configuration time, it throws the following NullPointer exception:
[code]
this is the code I'm using to c

[2022-01-18 12:40] sbordet commented on #7403
Not that different, but:

* ReactiveStreams is generic on type `T`; here works only with ByteBuffers.
* ReactiveStreams may have multiple `Subscriber`s for one `Publisher`, each with its own demand; here we only have one thing.
* ReactiveStreams does not have a `release` primitive; here we do.
* ReactiveStreams has a partial upstream `cancel()` primitive; here we don't (at all).

To clarify "not a

[2022-01-18 13:29] joakime commented on #7373
You have a started server.

It's listening on port 9096 on every network interface on that machine.
You have a WebApp on context path `/cts` deployed from directory `file:///C:/Documentum/CTS/jetty/base/`.
That webapp has 10 servlets deployed against 10 different url-patterns.

Which means you can access your webapp from `http://localhost:9096/cts/`

Using just `http://localhost:9096/` would resul

[2022-01-18 13:34] joakime commented on #7409
We also have embedded-jetty-jsp example project at
https://github.com/jetty-project/embedded-jetty-jsp

There are branches for the major versions of Jetty showing how to manage JSP on embedded Jetty.

[2022-01-18 13:51] avin15cs commented on #7373
Hi Joakime,
Yes, you are correct, my webApp runs from `http://localhost:9096/cts/`

I get proper response somehow, when I run the project through Windows Services. but while I run using intelliJ dev setup I get internal server error 500 which is little weird.

**It should be noted as well, that your WebApp doesn't have a normal default servlet, it's configured for [/]=>org.eclipse.jetty.servlet.Se

[2022-01-18 13:57] joakime commented on #7373
What do the server logs say for this 500 error?
Jetty will produce a stacktrace if it's the one creating the 500 error.
If something else is creating the 500 error, then it's up to that something else to produce a reason why.

In your example code above you have a line that says ...

[code]

Is that your `/cts` context declaration?
If so, can you show us the contents of that XML?

[2022-01-18 14:23] avin15cs commented on #7373
Hi Joakime,

500 server error comes when I hit any of the deployed context:
http://localhost:9096/cts/monitor/
http://localhost:9096/cts/getOccupancy/

Pleasze find the stack trace here:
[jetty_newTrace.txt](https://github.com/eclipse/jetty.project/files/7889734/jetty_newTrace.txt) and log.txt
[ws.request_2022_01_18.log](https://github.com/eclipse/jetty.project/files/7889742/ws.request_2022_01_18.

[2022-01-18 15:21] joakime commented on #7373
The `ws.request_2022_01_18.log` is your request log, that won't be very useful to troubleshoot this, ignore it for now.

The `jetty_newTrace.txt` is what I'm looking for, it looks like you have DEBUG enabled for everything Jetty, which is good and should help.
But there's no evidence of any attempted request on those URLs that produced the 500 error for you.
Either the request didn't reach that in

[2022-01-18 15:24] joakime commented on #7373
Seeing as you are running on Windows, make sure you don't have another process listening on port 9096 that is taking your requests. (this would explain the lack of DEBUG logs on the incoming requests)

Windows allows this kind of nonsense setup (more than 1 process listening on the same port), no other OS does.

[2022-01-18 15:40] 4devwithgit opened #7415 "Error while starting up http server - java.nio.channels.ClosedChannelException"
**Jetty version(s)** - 9_4_40

**Java version/vendor** `(use: java -version)` - IBM JDK8 SR6 FP20

**OS type/version** - Linux

**Description**
During the startup of the http server based on jetty 9.4.40, we are seeing below error,

[2021-12-29 11:51:57.83] DEBUG JettyPsServerConnector.buildCACert(): adding cert id:9090151641236f173node1
[2021-12-29 11:51:57.857] ERROR PSHttpAdapterImpl.startHttpS

[2022-01-18 15:58] avin15cs commented on #7373
I have checked again and again, no other services are running on port 9096. Do you have any suggestion for me to catch and log record whenever any request is sent to defined URL?

Also, Is it possible to define separate contexthandler for each context? Can you please help me with that using shared context.xml?

[2022-01-18 16:07] lorban commented on #7403
Something that caught my attention and upon which we seem to disagree is the threading model of the `demandContent()` and `readContent()` methods. While I do agree that  `demandContent()` must be thread-safe, I fail to see what a concurrent `readContent()` would bring, and how it would work.

[2022-01-18 16:10] joakime commented on #7415
The `PSHttpAdapterImpl` and `JettyPsServerConnector` have bugs.

Not a Jetty issue.

[2022-01-18 16:12] joakime commented on #7415
Also, Jetty 9.4.40 is subject to several security advisories, would suggest upgrading.

https://www.eclipse.org/jetty/security_reports.php

[2022-01-18 16:16] joakime commented on #6360
This was addressed in Issue #6759  (it's a bug in sterlingcommerce's PsSelector)

[2022-01-18 16:16] #6360 closed, assigned to nobody

[2022-01-18 16:17] joakime commented on #7415
I think @sreedharj would be able to answer this.

[2022-01-18 16:37] joakime commented on #7373
Stop your server, and try hitting your URLs again.
Do they respond?   If so, then you have another service on that port (or a proxy, or security software, etc) handling the request for you, not your server.

If you get a connection error from the browser then you likely have no service present.
If using chrome, it should say "This site can't be reached" with an "ERR_ADDRESS_UNREACHABLE" result, if

[2022-01-18 18:35] rfox12 commented on #3981
This is informative.

Indeed.  I have one--namely MongoDB.  Thank you both for your responses.  I didn't mean to come off as belligerent; I was simply / honestly trying to see if there was some expert-recommended path.  Where there is a will there is a way; and in the space of a couple of days I can hack around these issues.  Here is my tentative plan (for what it's worth...)

1) I'm going to crea

[2022-01-18 19:55] naveenk26 commented on #7072
We resolved the issue by disabling the GraalVM just-in-time compilation.

[2022-01-18 23:14] gregw commented on #7403
@lorban I agree that there is little use-case for a call to `readContent()` in parallel with `demandContent()`, but we should try to act reasonably.   My impl of `readContent()` just returns null if it sees a concurrent call to either `readContent()` or `demandContent`, which I think is a reasonable failsafe and kind of validates the API.

@sbordet

I kind of think that I'm at the stage of testing

[2022-01-18 23:47] #7351 closed, assigned to lachlan-roberts

[2022-01-18 23:56] gregw commented on #3981
:)

For our part, we didn't mean to come off as exaspirated.    But as the "standards bearers" of legacy J2EE, I kind of think sessions are in the too broken to fix camp.     I don't think they can be dragged to one interpretation or another without breaking a huge number of applications, as too many have used querks of various contains or a priori knowledge of the specific session stores to make

[2022-01-19 00:16] #7072 closed, assigned to nobody

[2022-01-19 00:35] janbartel commented on #3981
You might want to just use the `NullSessionCache` - it never caches sessions, but will call the `SessionDataStore` as normal. Also, we'd be pleased to accept a PR for an update of the `MongoSessionDataStore` to newer versions/api :)

Not sure what you're trying to do will ultimately work, but you know your application best. Just make sure you've read all the doco on HttpSessions: https://www.eclip

[2022-01-19 00:55] janbartel commented on #7414
@bu3  thanks for the report we'll take a look. In the meanwhile, as a workaround, I note that all our unit tests set these properties by calling `setInitParam`, eg:

[code]

[2022-01-19 01:08] janbartel commented on #7206
Closing as the question seems to have been answered.

[2022-01-19 01:08] #7206 closed, assigned to nobody

[2022-01-19 01:11] janbartel commented on #7041
@idikshit I'm closing this issue as you haven't supplied any further info on it. If you do have further info, please reopen and attach.

[2022-01-19 01:11] #7041 closed, assigned to nobody

[2022-01-19 05:34] 4devwithgit opened #7418 "ConstraintSecurityHandler response code 403 or 405?"
**Jetty version** - 9.4.26

**Java version** - IBM JDK8

**Question**
We have enabled ConstraintSecurityHandler for TRACE and MOVE for http uris. So, when this method is hit, what should be the response code, 403 or 405? Or it is left to the implementation?

[2022-01-19 09:45] bu3 commented on #7414
Nice! I will give it a try. Thanks a million @janbartel

[2022-01-19 10:11] sbordet commented on #5893
Dropping this, 9.4.x is in maintenance mode.

[2022-01-19 10:11] #5893 closed, assigned to nobody

[2022-01-19 14:44] avin15cs commented on #7373
Hi Joakime,

This seems to be tricky!
When I stopped jetty which was running from intelliJ, I got `ERR_CONNECTION_REFUSED` error. This is the screenshot:
![http_error](https://user-images.githubusercontent.com/39313744/150151709-6c408900-0e89-42af-a614-0b1fa3a684d4.JPG)
When project was running through intelliJ, I got following response:
![Capture](https://user-images.githubusercontent.com/3931374

[2022-01-19 14:53] avin15cs commented on #7373
Or, Do I need to pass any VM option or set any property to make it work?
I have set System.setProperty("org.eclipse.jetty.LEVEL", "DEBUG"); for enabling debug logs trace.

[2022-01-19 14:57] avin15cs opened #7420 "How to add relative path for fileContentBase?"
**Jetty version**
9.4.44.v20210927

**Java version**
java-11-openjdk-11.0.7.10-1.windows.redhat.x86_64

**Question**
I have a silly question!

This is my context:

[code]

And this is my folder structure:
[code]
My jetty.base is set to `C:/jetty`, but when I run the jetty, **fileContentBase**  points to something like this:
`+> fileContentBase=C:/jetty/../cache/` instead of `C:/cache`.

How can I

[2022-01-19 17:58] joakime commented on #7373
In the 500 response, look at the response body content.
It should have the stacktrace we are looking for.

[2022-01-19 18:14] joakime commented on #7420
I cannot follow what you are doing.

That doesn't work for your `context.xml` as the `resourceBase` becomes invalid that way.

The structure of your `C:/jetty/home` is also not normal.

[2022-01-19 21:11] janbartel opened #7422 "Flakey test HttpClientTest.testOneDestinationPerUser(Transport)[5]"
jetty-10.0.x

See https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-7416/4/pipeline

[2022-01-19 22:59] rfox12 commented on #3981
Thanks Jan but I noticed that the eviction policy for `NullSessionCache` is EVICT_ON_SESSION_EXIT... which I don't think meets my needs.  I still need long lived sessions that can time out with inactivity.  Also a small note here... strictly speaking `NullSessionCache` doesn't fill the contract of `AbstractSessionCache` (in 11.0.7).  I found myself overriding the parent `delete` method rather than

[2022-01-20 02:14] gregw opened #7424 "Jetty-12 Handler.handle boolean return?"
**Jetty version**
12

**Question**

The current proposed signature for a `Handler` in jetty-12 is:
[code]
Where the `Request` class extends `Callback` and is used to asynchronously signal success or failure of handling the request.   The boolean return is used only to indicate that this handler will be handling the request and has undertaken to call `succeeded()` or `fail(x)`.

This allows us to k

[2022-01-20 02:15] gregw commented on #7424
@sbordet @lorban @joakime @lachlan-roberts @janbartel @olamy thoughts?

[2022-01-20 02:42] gregw commented on #7424
We can't just create any method like `boolean Handler.accept(Request request)` as that creates the same problem, just in a different method.

**Option 1**
To avoid blocking, we need to allow boolean to be delivered later, so perhaps something like:
[code]

This would allow a handler to delay accepting/refusing a request.  The request would not be offered to the next handler until a false was consu

[2022-01-20 02:51] janbartel commented on #3981
Any of the eviction settings are effectively meaningless for the `NullSessionCache` - as there is _never_ a session inside the cache, it therefore cannot be evicted - it just looks better as the default than any of the others ;)

Note that you can still have long-lived sessions that aren't necessarily in the cache. They live inside the `SessionDataStore` until such time as the `scavenger` passes o

[2022-01-20 06:00] 4devwithgit opened #7425 "ConstraintSecurityHandler response code to be 403 or 405?"
Jetty version - 9.4.26

Java version - IBM JDK8

Question
We have enabled ConstraintSecurityHandler for TRACE and MOVE for http uris. So, when this method is hit, what should be the response code, 403 or 405? Or it is left to the implementation?

[2022-01-20 09:39] 4devwithgit commented on #7425
@joakime Any info about this? Thanks!

[2022-01-20 11:07] lorban commented on #7318
The problem is that some port is used 6 times while a connection should only be used at most 3 times:
[code]

But since this test only fails with H3 that uses UDP instead of TCP, there is nothing preventing a port to be reused as soon as the connection over it is closed. This means that the result above where port 59254 was used 6 times could be due to the port being reused by the OS for two disti

[2022-01-20 13:36] rfox12 commented on #3981
If you look at [this line of code](https://github.com/eclipse/jetty.project/blob/b56edf511ab4399122ea2c6162a4a5988870f479/jetty-server/src/main/java/org/eclipse/jetty/server/session/SessionHandler.java#L973), you can see that, if the session to remove is not found in cache, the session destroyed events will not get called.

[This line of code](https://github.com/eclipse/jetty.project/blob/b56edf51

[2022-01-20 13:37] sbordet commented on #7424
@lorban and I brainstormed the following:

[code]
The idea is to split the "accept" of the request and its `boolean` return value from the actual handling into 2 methods in `AsyncHandler`.

Also, use `Exchange` to separate the `Request` from the `Callback`, so that it's much easier to just wrap the callback without having to wrap the whole request, with static utility methods such as `Exchange.fro

[2022-01-20 14:22] #7318 closed, assigned to lorban

[2022-01-20 20:23] gregw commented on #7424
The `Exchange` is an idea worth trying out... but it does have an extra CON.  You can't just wrap the request or the response, as you will also have to wrap/recreate the exchange to return the wrapped request, so in essence you will always be wrapping the callback anyway, but with an extra object.   Still worthwhile playing with.

I agree that the calling tree of accept is rather complex.

How abo

[2022-01-20 22:39] janbartel commented on #3981
It is a little more complicated than you think ;). If you look at the code for `Session`, you will see that if `Session.invalidate()` is called, indeed all of the listeners are called correctly. _Then_, we tell all of the `SessionHandlers` in the various contexts to invalidate and remove _their_ sessions with the same id. It is at this point that the code you refer to is called. When called for th

[2022-01-20 22:46] janbartel commented on #7425
The http spec says that for `TRACE` the server should respond with the body of the request in a 200 response: https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html.

`MOVE` is not part of http1.1 - maybe the webdav spec can help you out.

[2022-01-20 23:15] pschaeffer opened #7431 "HTTP2 Support"
I am not sure if this is a Jetty issue or not. I am getting an error trying to use Jetty with HTTP2. The ultimate cause appears to be cancel_stream_error/invalid_priority_frame_rate. I am not sure if this is a client of server error. A series of screen captures is attached.

<img width="1382" alt="Http2Error1" src="https://user-images.githubusercontent.com/3717450/150437075-d086229b-382d-4f3c-ae09

[2022-01-21 05:19] gregw commented on #7424
Latest ideas from call are:

[code]

The other idea that came out of the call was to not have the `Content.Provider` interface as part of request, and instead have it obtainable from a method on the request:
[code]
We need to work out if this really is a getter - ie can it be called multiple times and the Runnable changed?

Finally similar discussion about doing:

[code]

All worthy to be experime

[2022-01-21 05:40] gregw opened #7432 "Jetty-12 Content.Provider API discussion"
**Jetty version**
12

**Question**

Currently the proposed API for `Content.Provider` and Request are:
[code]

There is some dislike of the `onContentAvailable` being passed on every call to demand.    This issue is to discuss alternatives.

[2022-01-21 05:52] gregw commented on #7432
@lorban @sbordet On the call today you suggested changing the API to:
[code]

This initially looks really attractive....  but there is kind of a "race" condition in that API.  The passed `Runnable` needs to be written in terms of a `Content.Runnable` which it does not have until the `getContentProvider`.  So you can't write code like:
[code]
This does not compile because provider is not initialzed

[2022-01-21 09:20] sbordet commented on #7432
Don't use a `Runnable`, but a `Consumer<Provider>`:

[code]

[2022-01-21 09:33] sbordet commented on #7431
The issue happens on the server.

The cause is the client sending too many PRIORITY frames in the unit of time, which is indistinguishable from a category of attacks that servers must prevent, see #3978.

This may happen when a web page with many resources "confuses" the browser that tries to re-prioritize, possibly multiple times, the page resources.

Since Jetty 9.4.21, you can configure the rat

[2022-01-21 09:33] sbordet commented on #5888
@lorban status of this issue?

[2022-01-21 11:16] cdietrich commented on #7217
there seems to be a tag but no released artifacts. also the log2j version still seems to be 2.17 and not 2.17.1. what is the state of the new release? thanks

[2022-01-21 11:52] joakime commented on #7217
What you are seeing is the mid-process of a release.
The tag exists, sure, but that just means we have reached a point where the release is staged and being tested.
If the staged release passes all of the testing, it gets promoted to the next step, which includes it being available on maven central, and eclipse.org/jetty.

Once a release is promoted and verified to exist in the various download lo

[2022-01-21 14:41] sbordet opened #7435 "Investigate Infinispan transitive dependencies"
**Jetty version(s)**
10.0.x

**Description**
Reported by OSS:
https://sbom.lift.sonatype.com/report/T1-0ff0976f7f21c391f20f-77bd2ffca9309-1642774379-e98013f728394843990b1f4c58f40012

[2022-01-21 15:06] 4devwithgit commented on #7425
Yeah, and if we want to block the TRACE (or some specific method), I understand we have to defined Constraint, ConstraintMapping and ConstraintSecurityHandler. However, when we are doing this, its giving the response code of 403, not 405. How to control that? This is the specific question I have.
I see a helpful link, but doesnt answer it completely.
https://stackoverflow.com/questions/29348328/ja

[2022-01-21 15:27] rfox12 commented on #3981
Thank you @janbartel !  My last question for now: Is there a way to dynamically change the SessionCache strategy?

@joakime Please feel free to cleanup this issue if you want.  Certainly got into the weeds.

[2022-01-21 15:52] techdeba901 opened #7436 "Memory leak with uplifted jetty version from 9.4.43.v20210629 to 11.0.7"
**Jetty version(s)**
11.0.7
**Java version/vendor** `(use: java -version)`
17.0.1
**Spring boot version(s)**
2.6.2
**OS type/version**
Linux
**Description**
When jetty version is uplifted  from 9.4.43.v20210629 to 11.0.7, I overserved memory consumption of java application grows very fast and eventually dies because of OOM. So downgrading jetty version to 9.4.43.v20210629 fixes the problem.

Any p

[2022-01-21 16:59] joakime commented on #7436
Is this easy to replicate?

Two things ...

1. Try 11.0.8-SNAPSHOT available from the snapshot repository https://oss.sonatype.org/content/repositories/jetty-snapshots/
    There is a lot of updates due for release 11.0.8, perhaps one of them has helped you already.

and/or

2. Capture a heap dump when it's in the excessive memory usage mode and then analyze the dump to see what is using all of th

[2022-01-21 17:23] joakime commented on #7425
If you just want to reject specific methods, regardless of which context gets them, use an `HttpConfiguration.Customizer`.

[code]

[2022-01-22 00:02] #5297 closed, assigned to nobody

[2022-01-22 05:53] pschaeffer commented on #7431
I added the second line below and the problem went away. This issue should be closed (or at least I think it should be closed).

Thank you

Peter Schaeffer

HTTP2ServerConnectionFactory http2ConnectionFactory = new HTTP2ServerConnectionFactory(httpsConfig);
http2ConnectionFactory.setRateControlFactory(new WindowRateControl.Factory(50));

[2022-01-22 06:27] gregw commented on #7432
@sbordet @lorban I've made a reasonable start at making this change and you can see my progress [here](https://github.com/eclipse/jetty.project/compare/jetty-12.0.x...jetty-12.0.x-7432-noargs-demand?expand=1).

Good news is that I think it can be made to work.   Bad news is that I don't think it is either worth it, nor efficient to do so.

The change I've been working on is best summed up with:
[c

[2022-01-22 16:38] #7431 closed, assigned to nobody

[2022-01-22 21:36] fquirin commented on #4140
Just adding a little info that helped me when I faced the same error:

If you close a session gracefully (`Session.close()`) then the `.isOpen()` check will remain true until the server/client confirmation was received meaning you cannot use this to prevent further messages to the same session right after the close request.
I added an additional property 'isSessionClosing' to the parent class (Use

[2022-01-22 23:24] janbartel commented on #7425
@4devwithgit I can't really comment because you haven't shown the code where you set up the constraints. Perhaps you are seeing the 403 because you have configured that authentication is required, but you have configured no roles. That equates to a 403 response.

[2022-01-22 23:27] janbartel commented on #3981
@rfox12 not sure what you mean by the strategy? If you mean the eviction setting, then no. There can be multiple threads in the cache at one time so you would get indeterminate results. I should probably add some specific code to reject calling the setters after start. On any given Session you can change the max idle time in a thread-safe way.

[2022-01-22 23:57] pschaeffer commented on #7431
Mr. Simone Bordet,

Thank you for your help.

I tried implementing your suggestion and it workd.

Thank you

Peter Schaeffer

From: Simone Bordet ***@***.***>
Sent: Friday, January 21, 2022 3:33 AM
To: eclipse/jetty.project ***@***.***>
Cc: Peter Schaeffer ***@***.***>; Author ***@***.***>
Subject: Re: [eclipse/jetty.project] HTTP2 Support (Issue #7431)

The issue happens on the server.

The cause

[2022-01-23 04:53] yannmar commented on #7212
Hi Joakim, Simone (@joakime, @sbordet).

Here are sources for async local connector and end point which I promised to show above, sorry it took much more time to prepare that than I could expect.

Connector and endpoint:
- AsyncLocalConnector.java
- AsyncLocalEndPoint.java

Netty to jetty bridge handler:
- SimpleJettyHandler.java contains implementation of netty handler that creates async local en

[2022-01-24 00:00] #5841 closed, assigned to nobody

[2022-01-24 00:00] #5291 closed, assigned to gregw, lorban

[2022-01-24 00:11] gregw commented on #7424
@sbordet @lorban I'm looking at implementing:
[code]

And it is mostly working out OK.  However, the main issue I have is how can a handler like `ContextHandlerCollection` remember it's decision from between the call to `accept` and the call to `handle`?  The `ContextHandlerCollection` does a bit of work with context path and host to select a "branch" of `ContextHandlers`, that it tries in turn un

[2022-01-24 02:14] lachlan-roberts commented on #5899
You can now customize how `getRemoteAddr` is formatted by overriding the `newConnection()` method on `HttpConnectionFactory`. The default implementation of `HttpChannel.formatAddrOrHost` will normalize the address with `HostPort.normalizeHost(addr)` by adding the square brackets, so you can manually override this to not do that.

[code]

[2022-01-24 02:14] #5899 closed, assigned to nobody

[2022-01-24 05:37] gregw commented on #7424
@lorban @sbordet this last options works pretty well... but perhaps needs some work or at least some renaming.    Let's continue discussion of that option in the PR: #7437

[2022-01-24 05:46] #7418 closed, assigned to nobody

[2022-01-24 08:53] 4devwithgit commented on #7425
Thanks @janbartel .

Below is the code snippet where constraint is added. With role, I suppose you are referring to the, constraint.setRoles(new String[] { "" }); Is this mandatory?

[code]

[2022-01-24 10:05] lorban commented on #5888
@sbordet enforcing (and testing) this on the server is far from trivial so the balance between the benefits vs the required effort has been negative so far.

[2022-01-24 11:18] sbordet commented on #5888
@lorban I don't think it's that difficult. Can you detail?
BTW, don't we do this already for HTTP/3 as well?

[2022-01-24 12:05] sbordet opened #7440 "ContextHandler.getAliasChecks() breaks Spring Boot"
**Jetty version(s)**
9.4.45

**Description**
In 9.4.44, `ContextHandler.getAliasChecks()` returned a mutable collection, and Spring Boot's `JettyServletWebServerFactory` was calling `ContextHandler.getAliasChecks().clear()` -- instead of `ContextHandler.clearAliasChecks()`.

In 9.4.45, the collection returned by `getAliasChecks()` is now immutable, so `clear()` now throws `UnsupportedOperationExce

[2022-01-24 12:07] sbordet commented on #7440
@lachlan-roberts `getAliasChecks()` returns an immutable collection from the work on #7059 in commit (e0beeea4803d8f2750386652402e122cb9ccf4aa).

I would revert it back to a mutable collection only in 9.4.x (keep it immutable in 10.0.x+), unless there are strong reasons against.
We should also file a PR to Spring Boot to use `clearAliasChecks()` instead.

@joakime thoughts?

[2022-01-24 13:29] joakime commented on #7440
I agree, lets not break the API for spring-boot on Jetty 9.

[2022-01-24 13:32] sbordet commented on #5291
@lorban is this actually fixed or needs to be reopened?

[2022-01-24 13:48] techdeba901 commented on #7436
I collected heap dump after reproducing the issue and jetty client is one of the highest contributor in memory usage.
Please find screenshots below.

![image (1)](https://user-images.githubusercontent.com/87752557/150793877-6919fd3d-5465-4c34-8159-fa49b49c98de.png)
![image (2)](https://user-images.githubusercontent.com/87752557/150793886-9339a6b2-7e6e-4207-b773-1e7e61bb9b24.png)
![image](https://u

[2022-01-24 14:00] lorban commented on #5291
@sbordet this was solved in 10/11 with #5736 and 9.4 at least should be done with the infinite loop thanks to #7271.

[2022-01-24 15:30] avin15cs commented on #7420
Hi @joakime,

Can you please give more detail on this? And how can I correct it?

I am updating my query:

[code]

This is my context.xml.
My `resource.base=C:/jetty` and my directory structure is same as mentioned earlier. My application does some processing and stores my output file under `C:/cache` and my servlet `com.documentum.cts.webservices.remote.FileProxyServlet` shares the file available

[2022-01-24 15:33] avin15cs commented on #7373
Hi @joakime,
Response body content is empty. Can you help me with logging jetty trace while using services so that I cam find out if there is any error.

[2022-01-24 15:48] avin15cs opened #7442 "How to write multiple contexts in a single context.xml?"
**Jetty version**
9.4
**Java version**
Open JDK 11.0.7
**Question**
Hi,
I want to write separate contextHandler for each context in a single context.xml file. Currently my context.xml has following:
[code]

I want to write something like:
[code]

I know above declaration is wrong, I am looking for correct one a

[2022-01-24 18:00] joakime commented on #7420
That will make everything in your `${jetty.base}` able to be downloaded.
Don't do that.

Since you are obviously doing everything custom, and not using `start.jar` or the proper split of `${jetty.home}` to `${jetty.base}`, just go the extra mile and define custom properties for those two.

You should wind up with ...

If you are using Jetty 10+ you can also use a new feature present there ...

[co

[2022-01-24 18:37] joakime commented on #7442
[code]

Deep context paths are not supported.
That only resolves as `/cts`.

Use a `ServletContextHandler` properly and use url-patterns for those second level paths.

The only other option you have is to ditch Servlet entirely and use straight Jetty handlers.
Which means you don't have Sessions (that's a Servlet concept, which also depends on single level context paths)

[2022-01-24 18:39] joakime commented on #7373
@avin15cs no response body content means that Jetty is not the one producing the 500 error for you.
Your application code is producing that 500 error.

[2022-01-24 18:46] sbordet commented on #7436
The images you posted show 17 connections occupying a mere 7 MiB, and looks a completely normal state in case you have opened 17 connections to the server and sending requests over those, so I don't see any evidence of memory leak?
Those connections are in use and so are not leaked.

You are not going to OOM for just 7 MiB, unless you have other major problems not related to Jetty.

Please take al

[2022-01-24 22:08] olamy commented on #7440
done here https://github.com/spring-projects/spring-boot/issues/29552

[2022-01-24 22:54] janbartel commented on #7442
@avin15cs I don't know if it's your terminology or how you are really trying to use this xml file, but what you have there is _not_ what jetty calls a context xml file. A jetty context xml file applies to only a _single_ context. If you want to operate on a `ContextHandlerCollection`, that is normally configured by a _server_ xml file. See for example https://github.com/eclipse/jetty.project/blob/

[2022-01-24 23:04] janbartel commented on #7425
@4devwithgit you have said that the `Constraint` requires authentication, but named no `roles` that are permitted. The servlet spec, pg 13-106, section 13.8.4:

[2022-01-24 23:08] #3981 closed

[2022-01-25 00:33] #5290 closed, assigned to nobody

[2022-01-25 01:02] gregw commented on #7440
Can we add something to our pre-release checks to avoid breaking spring in future?

[2022-01-25 01:52] olamy commented on #7440
we have one once release is staged maybe a weekly/nightly build to test our snapshots against spring?

[2022-01-25 05:52] techdeba901 commented on #7436
**(I am not using jetty server only jetty reactive client is used)**

ClientHttpConnector httpConnector = new JettyClientHttpConnector(httpClient);
WebClient destWebClient= WebClient.builder().clientConnector(httpConnector).baseUrl(extUrl).build();

I had configured maxConcurrentPushedStreams and maxConnectionsPerDestination set to 1000  and 4 respectively.

HTTP2Client http2Client = new HTTP2Clie

[2022-01-25 07:11] 4devwithgit commented on #7425
@janbartel Thanks for the feedback.
I did test with the below code, with "setRoles" call
		Constraint c = new Constraint();
		**c.setRoles(new String[] { "" });**
		c.setAuthenticate(true);
But still, it doesnt change anything for me, and continues to return 403 code for TRACE.

[2022-01-25 07:13] 4devwithgit commented on #7425
Thanks @joakime this is working.

[2022-01-25 08:13] 4devwithgit commented on #7425
@joakime @janbartel

So, I can change the current implementation from ConstraintSecurityHandler to using HttpConfiguration.Customizer.

1) Will this impact anything?
2) With Constraints, the methods which we were restricting was customizable/dynamic, as the methods were read from the property file, and customer can write his required method for the constraint restriction which will be add to the C

[2022-01-25 11:03] sbordet commented on #7436
Can you please take an `HttpClient` dump?

You should cause the faulty state, and then trigger a call to `HttpClient.dump()` or `HttpClient.dumpStdErr()` and report the dump in this issue.

It is correct that if you use `maxConnectionsPerDestination=4` and only 6 domains then you should have 24 total connections. This may vary depending on protocol negotiations but the number should be small.
Unfo

[2022-01-25 12:15] matthkoch opened #7448 "Intermittently occuring unconsumed input"
**Jetty version(s)**
We recently updated our apache.karaf from 4.2.9 to 4.2.15
Karaf (4.2.9) was using 9.4.28.v20200408 and with this Version everything was fine.
Karaf (4.2.15) is now using 9.4.43.v20210629 and with this Version we have problems.

**Java version/vendor** `(use: java -version)`
1.8.0_181-b13

**OS type/version**
linux

**Description**
After we updated several of our integration te

[2022-01-25 14:36] lorban commented on #7436
No, there is nothing I can see that looks suspicious. A `HttpClient` dump would certainly help figuring out what's going on, but sharing your heap dump (if you can) could be helpful too.

[2022-01-25 16:06] joakime commented on #7440
@gregw the pre-release checks (namely the cometd build+test) is how this was discovered.

[2022-01-25 16:08] joakime commented on #7440
The change on the spring side was merged in PR spring-projects/spring-boot#29555

[2022-01-25 17:39] joakime commented on #7448
That version of Java 1.8 expired on November 16, 2018 and should not be used in production.
Mind the expiration dates in the release notes on Java releases, they are important, especially so with anything networking related, doubly so if the networking has SSL/TLS involved.

See https://www.oracle.com/java/technologies/javase/8u181-relnotes.html

What does your server side component do for each of

[2022-01-26 09:40] lorban commented on #7422
The cause seems to be a very high delay in UDP transmission (as only H3 fails), which tends to indicate that the build environment is to be blamed. Let's see if this problem occurs again in the future...

[2022-01-26 11:00] Artur- opened #7451 "Is there an alternative to using `<scan>` + jetty:start with Jetty 10+"
**Question**
We have a couple of integration tests in the Vaadin Flow project that test features related to live reload using Jetty. They are currently run with Jetty 9 using `jetty:start` + `jetty:stop` bound to `pre-integration-test` and `post-integration-test` and Jetty 9 has been configured using `<scanIntervalSeconds>1</scanIntervalSeconds>`.

The tests themselves modify the files in the `tar

[2022-01-26 15:43] matthkoch commented on #7448
Thanks for the quick reply @joakime.
I found this discussion (https://github.com/eclipse/jetty.project/issues/2867#issuecomment-448004375) where gregw mentions this filter to test if all the stream are read until the end.

I plugged it into our application and started our tests.
The filter shows no errors in the log file, but the 'unconsumend input' connection resets still appear.
Is there somethi

[2022-01-26 15:50] joakime commented on #7448
It's quite an anti-pattern for a Filter to read body content.
You essentially break the Servlet endpoint, and even prevent behaviors with HttpServletRequest.getParameter() and HttpServletRequest.getPath() from functioning properly.
You also break Error handling if the error dispatch goes through this Filter too.
Why are you doing that?

[2022-01-26 15:57] matthkoch commented on #7448
As written above this was just a test to ensure that the application always reads the whole content.

Regards,
Matthias

[2022-01-26 15:57] joakime commented on #7448
The error and stacktrace in your report is about the client reporting an early EOF on the response.
What is your response doing?

Use the wireshark capture you have, and verify the response body content length behaviors.
IE: if the response has a `Content-Length` header, did wireshark show that the same number of BYTES were sent? (I suspect you'll see that less bytes were sent in the body then was

[2022-01-26 16:01] joakime commented on #7448
You seem to be using REST.
Most server side REST libraries have a configuration to ensure that the body content is fully read.
These configurations should be used instead of the Filter hack, as they also inform the REST library of bad behaviors of the client.
Such as a client sending 2 or more document bodies, or including extra non-whitespace content before or after the document. (this can be acc

[2022-01-26 21:38] joakime commented on #7435
If we use 11.0.14.Final we see the following dependency tree ...

[code]

[code]

I don't see much benefit of rushing the upgrade to 11.0.14.Final

[2022-01-26 22:05] sbordet commented on #6184
@janbartel please use this issue as an umbrella for other issues if you do any work related to the `SecurityManager`.

[2022-01-26 22:28] gregw commented on #7424
Informal feedback from @sbordet on #7437 is "yeah but naaaah!" :(

So we either have to live with what we've got.... or accept the definciencies of #7437..... or come up with something else.

The key impediment of something else is the cost of finding a handler in the fully asynchronous acceptance style and of making async accpeetance work well with request/response wrapping.     The search for a

[2022-01-26 23:00] janbartel commented on #7451
@Artur-  it seems like you have some integration tests that depend on an unintended consequence in jetty-9 that was eliminated in jetty-10 :)  Specifically, it wasn't intended that if you run `start` that a thread would also be started to scan for changes and redeploy, that was more of a consequence of many development iterations on the plugin that added features that resulted in some weird combin

[2022-01-27 00:03] gregw commented on #7424
@lorban @sbordet another idea.

We could make `Response implements Callback` and then make the response only available if a handler accepts a request.  So in the simple form:

[code]

We could then have an alternate method that would allow for a future accept/reject like:
[code]

if a handler calls future callback, then internally a CompletableFuture would be created and further iteration looking

[2022-01-27 00:07] janbartel commented on #7435
Basically  upgrading to 11.0.14.Final leaves us with exactly the same deep transitive dependency complaints as originally reported.  But it's generally good practice to keep up to date (lookin' at you, `dependabot`).

[2022-01-27 00:31] olamy commented on #7435
we could have something such this in dependabot config file:
[code]
so dependabot might propose upgrade only in 11.x series

[2022-01-27 03:38] olamy commented on #7435
@janbartel https://github.com/eclipse/jetty.project/pull/7452
then we can cherry pick to `jetty-10.0.x` branch

[2022-01-27 05:20] janbartel commented on #6184
Even if we removed all calls to SecurityManager in jetty itself, it may still be present in 3rd party jars. For example, the JASPI api still refers to `SecurityManager`: https://github.com/jakartaee/authentication/blob/master/api/src/main/java/jakarta/security/auth/message/config/AuthConfigFactory.java#L157

[2022-01-27 05:22] avin15cs commented on #7373
Yes, That might be possibly true, but the jetty stack trace is not able to catch it and idk how through Windows services, this error doesn't come into picture.

[2022-01-27 06:55] Artur- commented on #7451
Thanks for confirming my suspicions and for asking what the tests actually do so I had to dig in and find out :)

I think I found a handful of tests in total relying on this behavior and they test two different things:
1. Vaadin runs a webpack server in the background. This webpack server is re-used after redeploying the application during development. The test simulates this case and ensures that

[2022-01-27 09:03] sbordet commented on #6184
@janbartel sure, but that's on them to fix JASPI.

[2022-01-27 09:17] #7435 closed, assigned to janbartel

[2022-01-27 09:32] janbartel commented on #6184
@sbordet what I'm saying is that the JASPI api refers to SecurityExceptions that should be thrown if the caller does not have the correct permission. The api impl calls SecurityManager and expects that subclasses will do the same.

[2022-01-27 10:54] Artur- commented on #7451
I think we might be able to work around this by using Spring Boot + `spring-boot-devtools` instead for the test. That combination has the reload behavior we are looking for

[2022-01-27 11:18] techdeba901 commented on #7436
This is the httpclient  dump collected from the application. I have attached it.
[http-dump.txt](https://github.com/eclipse/jetty.project/files/7949941/http-dump.txt)

[2022-01-27 11:56] matthkoch commented on #7448
Thanks @joakime youre help is much appriciated.
We cant find any suspicious looking request or response in our wireshark capture.
We tried to enforce the reading with DeserializationFeature.FAIL_ON_TRAILING_TOKENS in our Jackson mapper, but that didn't raise an exception.

I will try to reproduce the behaviour in a smaller project that i can share on github.

Regards
Matthias

[2022-01-27 13:04] #5905 closed, assigned to nobody

[2022-01-27 13:10] joakime commented on #6184
@janbartel I went ahead and opened https://github.com/jakartaee/authentication/issues/138 about that specific case.

[2022-01-27 13:23] joakime commented on #7448
@matthkoch you can take that test case in the branch here and modify it to fit the request/response body sizes you are using, perhaps that might trip over something useful.
If you are using SSL, that's important to know.
If you are using GZIP, that's also important to know.

[2022-01-27 13:24] joakime commented on #6184
The Jakarta EE platform level is tracking this requirement as well.

https://github.com/eclipse-ee4j/jakartaee-platform/issues/406

[2022-01-27 14:40] 4devwithgit commented on #7425
@janbartel

So, we didnt yet get to the root of issuing 405 Vs 403. You told about "roles", but it made no difference with or without it.

Regards

[2022-01-27 14:52] joakime commented on #7422
Happened here too https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-7459/1/tests

[code]

[2022-01-27 14:59] joakime commented on #7425
I chose Enum as we have the HttpMethod enum already, and it handles all of the case-insensitive comparison logic built-in.

You can use Strings and skip the Enum/EnumSet/HttpMethod classes entirely if you wish, just make sure you handle the comparison properly.

The code for ConstaintSecurityHandler has only 1 .sendError(403) and no .setStatus(int) calls.
Just for the record, 405 (Method Not Allow

[2022-01-27 15:52] joakime opened #7461 "Flaky ConnectionPoolTest.testQueuedRequestsDontOpenTooManyConnections()"
**Jetty Version**

10.0.x

**Description**

Seen twice now (over the past week).

Latest one is at https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-7454/1/tests

[code]

[2022-01-27 16:32] avin15cs commented on #7442
Hi @joakime ,

Can you tell more about it? How can I implement in my use case? Just trying to figure out which one could be better!

[2022-01-27 16:36] avin15cs commented on #7372
Hi @sbordet ,
I am facing new issue now due to above change.

 For this servlet:
[code]
where `documentum.cache.dir=C:/cache`

on hitting the link:
http://localhost:9096/cts/output/hello.txt

It always downloads file with 0 size, though actual file is available under directory cache. Not sure, what has gone wrong!

[2022-01-27 16:38] avin15cs commented on #7372
Do I need to add anything more in my context.xml Or do I need to add anything in FileProxyServlet(I have shared above) so that actual file gets downloaded?

[2022-01-27 16:50] #6282 closed, assigned to nobody

[2022-01-27 17:02] sbordet commented on #7271
Fixed by #7405.

[2022-01-27 17:02] #7271 closed, assigned to nobody

[2022-01-27 19:08] joakime commented on #7442
@avin15cs Before you consider this change ...

You will have no support for Servlet concepts, features, or APIs in the way you expect.

* No usage of 3rd party libraries based on Servlet (you have countless libraries in this space, all of them will not work with Handlers)
* No Sessions, no HttpSession (these are Servlet concepts, and your example code shows that you need this, so contemplate this

[2022-01-28 00:18] janbartel commented on #7451
@Artur- I'm not really sure what a `webpack` is, but it seems to be something to do with the static content of a webapp? In which case a jetty redeploy would never touch those anyway (unless you had assembled your webapp into a `war` that jetty would need to extract before deploying it).

For the http session serialization, you don't actually need to test that by stopping and restarting jetty. You

[2022-01-28 00:30] janbartel commented on #7442
@avin15cs your original post looks totally fine. You don't say why you want to split each of these servlets out into their own context? As Joakim says, you can't have deep context paths. So, if you have specific reasons for needing to split into multiple contexts, they all need unique context paths, eg `/monitor`, `/output` etc etc. To maintain backward compatibility with urls, you could look at u

[2022-01-28 05:16] janbartel commented on #7425
Well, you have configured that the only role that is permitted for those methods is `empty string`. Is the user that you're testing with configured as being in the role `empty string`? Probably not. Test with a proper role name, or use the special role name defined by the spec of `**` that means any authenticated user.

[2022-01-28 07:21] 4devwithgit commented on #7425
Thanks @joakime , @janbartel  Its clear now. I am moving away from  ConstaintSecurityHandler and using HTTP addCustomizer to block the required methods, and its working for us.
Regards
Dev

[2022-01-28 07:21] #7425 closed, assigned to nobody

[2022-01-28 10:19] nhenneaux opened #7481 "Shutdown seems stuck and timeout randomly"
**Jetty version(s)**
11.0.7
**Java version/vendor** `(use: java -version)`
[code]
**OS type/version**
[code]
**Description**
From time to time the Jetty server shutdown is stuck. A custom shutdown hook is used and the builtin mechanism of jetty is disabled (`org.eclipse.jetty.util.thread.ShutdownThread`).
`org.eclipse.jetty.server.Server#stop` is called and timeout after the stop timeout (I tried

[2022-01-28 12:53] joakime commented on #7481
The bug seems to be in `app.shutdown.ShutdownHookManager`

It does not appear to be using the JVM java.lang.Runtime shutdown logic properly and is causing several different race conditions with the JVM itself.

[2022-01-28 13:00] nhenneaux commented on #7481
It is used on purpose to call in a specific order different shutdown hooks. It triggers the Jetty but from time to time Jetty does not close properly for unknown reason.
`app.shutdown.ShutdownHookManager` starts a threads and wait it finishes within a timeout. From time to time, it does not properly finish within timeout and it is stuck on `org.eclipse.jetty.server.Server#stop`.
This is the thread

[2022-01-28 13:17] joakime commented on #7481
That thread is doing what it's been asked to do, with conditions and locks only on itself.
It is gracefully waiting on the active connections (present as other threads in your thread dump) to complete before moving on.

Have you set a sane stop timeout on the server level?
Are you using the `StatisticsHandler` properly to allow this graceful shutdown to detect the connection state changes?

Now yo

[2022-01-28 13:31] nhenneaux commented on #7481
I tried `org.eclipse.jetty.server.Server#_stopTimeout` with 20s, 60s and 100s without better result.

`org.eclipse.jetty.server.handler.StatisticsHandler` is registered in the Jetty handlers.

`org.eclipse.jetty.util.component.Graceful#shutdown(org.eclipse.jetty.util.component.Graceful.ThrowingRunnable)` is starting a thread as well to ensure it is not blocking forever the shutdown. Same mechanism

[2022-01-28 13:35] avin15cs commented on #7420
Hi @joakime ,

Seems like something messed up. I debugged further and found that when hitting `http://localhost:9096/cts/output/test.txt` it looks for file `C:\jetty\output` and not for `C:\cache\test.txt` though fileContentBase is pointing to `C:\cache` . As far as I understand something is wrong with the FileProxyServlet(which was working fine earlier with jetty 6) though I am not sure on this.

[2022-01-28 13:38] joakime commented on #7481
Details please.

How are you registering it?
Where is it in your Handler tree?

Can you get us a Server dump? (just use `server.setDumpAfterStart(true)` before you call `server.start()`, the output in STDERR will contain a tree/dump of the state of your server)

[2022-01-28 13:39] sbordet commented on #7440
Fixed by #7443.

[2022-01-28 13:39] #7440 closed, assigned to nobody

[2022-01-28 13:49] joakime commented on #7420
You are not doing anything with the `fileContentBase` init parameter in your init method ...

[code]

That shouldn't rely on `ServletContext.getRealPath()` as that's only valid for the `ServletContext` level one, which you have stated you don't want to use in the way it was designed.

You should update your `init` method to pull the `fileContentBase` from the `ServletConfig` that is being passed i

[2022-01-28 13:52] nhenneaux commented on #7481
I think the dumps contain all the needed information ?
[code]

[2022-01-28 14:07] avin15cs commented on #7420
@joakime ,

Ok, Now with these changes, `http://localhost:9096/cts/output/test.txt` this points to `C:/cache/\output` I am able to load fileContentBase, but` \output` is coming extra, I think it comes from
[code]
I was looking for `C:\cache\test.txt`. How Can I achieve this?

[2022-01-28 14:10] joakime commented on #7481
You have a StatisticsHandler, perfect.

[code]

But it only has 1 wrapped handler ...

[code]

The other 2 handlers are not covered by that StatisticsHandler ...

[code]

Also, if that `AdminInetAccessHandler` is not producing content, but merely validating that the incoming request is from an IP that is allowed to access the service, that `AdminInetAccessHandler` should be a wrapper as well, also

[2022-01-28 14:16] joakime commented on #7481
Wait, I missed the `o.e.j.s.ServletContextHandler@13ac1657{/service/admin,null)` entry.

New reorg ...

[code]

The last entry of `org.eclipse.jetty.server.handler.DefaultHandler` is recommended, and would be responsible for various non-context requests, which do exist, and would never enter the above `ServletContextHandler` you have defined.  Alternatively, you can create your own handler, that j

[2022-01-28 14:19] joakime commented on #7481
Also note, you have 2 connectors, but they seem to be highly custom and are not exposing their details in the server dump. (if they are custom, you should consider adding that dump behavior, it will help you in the future).

If one is for admin and only accessible internally, and the other is public, then you can use the `ServerConnector.setName("admin")` and `ServletContextHandler.addVirtualHost(

[2022-01-28 14:51] joakime commented on #7420
That behavior is entirely within your `FileProxyServlet` code, not the definition or addition of the servlet.

You are using `String theOrgFilename = req.getServletPath();` to start with, that's just extra work for no good reason.
Use `req.getPathInfo()` (what you should be using if the url-pattern ends with `/*`) and if the returned value starts with a `/`, strip it.

I would recommend you read/s

[2022-01-28 14:53] nhenneaux commented on #7481
I'm not sure to follow fully, I think the name is already used to link both `ServerConnector` with appropriate `ServletContextHandler`. Here is the updated one. **The issue still occur.**
[code]

Thread dump

[code]

[2022-01-28 15:09] joakime commented on #7481
That looks better, but not quite fully.

The recommendations are that if you have 2 or more `ContextHandler` (which `ServletContextHandler` is) at a certain level, they should be in a `ContextHandlerCollection`, that's why I did the reorg the way I did.
The lack of final `Handler` is also a problem in the long run (not for this shutdown issue), add one, either the normal `DefaultHandler`, or one o

[2022-01-28 15:31] nhenneaux commented on #7481
It is triggered from a ctrl-c in latest example, in the first example that was SIGINT sent by systemctl.

I would prefer not to handle request not matching currently defined handler, DefaultHandler would handle those no?

[2022-01-28 15:41] nhenneaux commented on #7481
Latest version, trying to reproduce
[code]

[2022-01-28 15:57] nhenneaux commented on #7481
I reproduce the issue
[code]

[2022-01-28 16:12] joakime commented on #7481
I'm beginning to suspect your Server.stopTimeout is the cause.
It's either set to an enormous number or it's set in a way you don't expect.

https://github.com/eclipse/jetty.project/blob/jetty-10.0.7/jetty-server/src/main/java/org/eclipse/jetty/server/Server.java#L489

That's a simple [`java.util.concurrent.CompletableFuture.get(long, TimeUnit)`](https://docs.oracle.com/en/java/javase/11/docs/api/

[2022-01-28 16:14] joakime opened #7482 "Add Server.stopTimeout to Server dump"
**Target Jetty version(s)**

Jetty 9+

**Enhancement Description**

The output of the Server dump does not show the stop timeout.
It should show the value.

[2022-01-28 16:23] nhenneaux commented on #7481
It actually reached it when it blocks, I have tested 26000ms, 60000ms and 100000ms. For most shutdowns it finishes in 1-2s max but some stucks and reach the stop timeout whatever its value.

[2022-01-28 16:46] avin15cs commented on #7373
Hi @joakime  ,
Thanks for help!

Found out the reason behind this issue, it was not working because I was using older version of servlet-api, removing that worked!

[2022-01-28 16:46] #7373 closed, assigned to nobody

[2022-01-28 16:57] avin15cs commented on #7373
@joakime ,
One question: Since, Jetty-all-uber.jar already have javax.servlet, is it required to add servlet api in dependency?

[2022-01-28 17:24] joakime opened #7494 "Remove modules in Jetty 11 that are not supporting jakarta.servlet yet"
**Jetty version(s)**
11.0.x

**Description**

We have some modules that are not upgrading to `jakarta.servlet` (big bang namespace change).
These modules should be removed from jetty 11 until such time when the upgrade to the new namespace.

[2022-01-28 18:05] joakime commented on #7373
The jetty-all uber jar is not meant to be used by another application as a dependency.

It only exists to help with the tutorial section in the documentation. (it should have been called `jetty-tutorial`, but that ship has long sailed)
It's meant to be used by the command line only.
It has not, and cannot, contain all of Jetty, that's an impossibility.

See:
* https://github.com/eclipse/jetty.proj

[2022-01-28 18:07] joakime commented on #7481
On those stuck instances, is it stuck on that CompletableFuture.get() (line 489), or somewhere else in those stacktraces?

[2022-01-28 18:10] nhenneaux commented on #7481
I think so but it’s hard to find a pattern since it’s quite fast when all stops properly

[2022-01-28 18:11] joakime commented on #7481
Proper stops are not relevant to pay attention any more.
The stuck ones are the ones that might show useful details in their thread dumps.

[2022-01-28 19:14] nhenneaux commented on #7481
The tread dumps above are all from a stuck shutdown that ends in timeout when waiting the future in jetty stop.

[2022-01-28 19:18] joakime commented on #7481
If your JVM is stuck in a `CompletableFuture.get(long, TimeUnit)` there's not much Jetty can do about that.
It should either succeed (something Jetty somewhat controls), or throw a `TimeoutException` (what the JVM controls).
If it doesn't timeout, then I would consider that a JVM bug.

[2022-01-28 19:26] joakime commented on #7481
Well, CompletableFuture could also complete exceptionally.

There appears to be a bug introduced in Java 11 related to how that flow works.
https://stackoverflow.com/questions/70111913/throwing-exception-from-completablefuture-hangs-get-and-join-in-java-17

Basically, if an exception is used to complete exceptionally the CompletableFuture, that exception itself cannot throw an exception (such as a

[2022-01-28 21:31] nhenneaux commented on #7481
It does actually timeout with timeout exception after the stop timeout so n it seems the underlying process is not completing the process either normally or exceptionally. I haven’t look into this process but I suspect there is something not properly completing it in some cases.

[2022-01-29 21:02] gonphsn opened #7496 "Transient 400: Bad Request responses"
jetty-9.4.45.v20220128 Compact 3 (Not yet released)

java -version
openjdk version "1.8.0_322"
OpenJDK Runtime Environment (Zulu 8.60.0.22-SA-qnx_aarch32hf) (build 1.8.0_322-b06, profile compact3)
OpenJDK Client VM (Zulu 8.60.0.22-SA-qnx_aarch32hf) (build 25.322-b06, mixed mode)

QNX 7.0 ARMLEv7

I understand that this version is not yet released, but I have done some early testing against the 9.4

[2022-01-29 21:14] joakime commented on #7496
Wow! a compact3 user!

You'll have to tell us why you chose that model of release.
The Jetty 10+ releases have dropped the compact3 profile build (mainly because the newer JVMs no longer support it)

It is curious this 400 error, but without more detail we cannot hazard a guess on why you are seeing it.

Can you capture some passing and failing requests with wireshark and see what it tells you? (i

[2022-01-29 21:27] gonphsn commented on #7496
Thanks for the quick reply.

Yes, our runtime environment is compact3 due to legacy resource limitations. Those restrictions should not exist in environments where we intend to deploy Jetty 10.X/11.X so dropping support for it should not be a problem for us. We have previously seen some maven issues with the -Pcompact3 build process including some jars/resources that are not used/available but oth

[2022-01-30 02:11] joakime commented on #7496
The list of changes ...

https://github.com/eclipse/jetty.project/compare/jetty-9.4.44.v20210927...jetty-9.4.45.v20220128

See the tag for a list of issues resolved with this release.

https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.45.v20220128

There's only 2 changes in 9.4.45 that I think could be impacting you.
Both are cleanup of HTTP Spec violations.

One is when invalid UTF-

[2022-01-30 14:13] gonphsn commented on #7496
Thank you - I will review those commits today and report. The URI encoding change certainly looks interesting considering that we have | and ^ characters encoded in this URI, but reverting that specific commit did not result in restoring correct behavior. I will start cherry picking the commits from 9.4.44 -> 9.4.45 and let you know which specific item caused this behavior. Thanks!

[2022-01-30 14:36] joakime commented on #7496
Consider using `git bisect` first, to see which commit the behavior starts to change for you.

[2022-01-30 14:39] joakime commented on #7496
If they are pct-encoded, these would not be a problem or cause a change in behavior from 9.4.44 to 9.4.45.

[2022-01-30 14:45] gonphsn commented on #7496
Yes, that is my process. I was misusing terms.

That is my observation as well - they are encoded to %7C and %5E.

[2022-01-30 18:54] gonphsn commented on #7496
I have completed my bisect exercise and it concludes that the issue:

[It is necessary to set MAX_CAPACITY to ArrayTernaryTrie/ArrayTrie #7271](https://github.com/eclipse/jetty.project/issues/7271)

is the merge/commit (c5cb1c1c24b2601e09225931778da8f856d19693) responsible for the behavior in our application. While I am not certain if this improper behavior is resulting from API misuse on our part

[2022-01-30 19:00] joakime commented on #7496
@lorban heads up, this is your commit.

@gonphsn do you have any way for us to replicate this?
Or at least a wireshark capture that shows it being replicated?

[2022-01-30 19:00] joakime commented on #7496
Mis-click on close (sorry).

[2022-01-30 21:34] gonphsn commented on #7496
I have sent along a packet capture to our support contact, please let me know if there were any issues on the attachment. Thanks!

[2022-01-30 21:45] gregw commented on #7496
Any chance of running Jetty with DEBUG log turned on.  I'm trying to think how a usage of a Trie can turn into a 400?   I can only guess that it is causing problems with HTTP parsing? Debug would help

[2022-01-30 21:56] gonphsn commented on #7496
For what it is worth, we don't use/import the Trie / ArrayTrie / ArrayTernaryTrie classes anywhere for custom usage in our application. I presume the Trie usage / problem is occurring internally to jetty-all-compact3-9.4.45.v20220128.jar.

I would be happy to provide DEBUG logs but at that level the output has become so verbose that it is making the page load take > 1 hour so far.

[2022-01-31 01:13] gregw commented on #7496
@gonphsn  Can you just do logging at the level of org.eclipse.jetty.http and org.eclipse.jetty.server       ?

The fact that it is a 400 means that it is almost certainly something to do with our internal usage of tries when parsing HTTP

[2022-01-31 03:06] joakime commented on #7496
@gonphsn what is your `HttpConfiguration.getHttpCompliance()` configuration?

[code]

[2022-01-31 04:42] avin15cs commented on #7373
Hi @joakime ,

In that case, How can I run embedded jetty without using jetty-all-uber.jar?

[2022-01-31 05:17] gregw commented on #7496
@lorban I have found the issue I think.  If we restrict the size of the request header cache, so that it eventually fills up, then we get a failure on a subsequent lookup!

[code]

We need to be able to fill up these Tries and then still be able to lookup the headers!

[2022-01-31 05:32] gregw commented on #7496
@lorban here is a branch with a test that shows the issue: https://github.com/eclipse/jetty.project/compare/jetty-9.4.x-7496-Trie-Overflow?expand=1

[2022-01-31 05:44] gregw commented on #7496
@lorban and this is a problem in 10/11 as well: https://github.com/eclipse/jetty.project/compare/jetty-10.0.x-7496-Trie-Overflow?expand=1
here is a better link to the test in 9: https://github.com/eclipse/jetty.project/compare/jetty-9.4.x...jetty-9.4.x-7496-Trie-Overflow?expand=1

[2022-01-31 12:00] joakime commented on #7373
Using the normal dependencies and a build tool (like maven, gradle, scala, ant+ivy, grape, leiningen, buildr, bazel, etc) to obtain the top level components you need while letting the build tool pull all of the dependencies for those top level components.

Note, it is not possible to have "all of jetty" in your project, there are many components that require you to choose which implementation you

[2022-01-31 12:13] gonphsn commented on #7496
@gregw I will test out this jetty-9.4.x-7496-Trie-Overflow branch and report, need about an hour.
@joakime I will provide compliance information at that that same time.

[2022-01-31 12:57] joakime commented on #7496
@gonphsn hold off on both requests atm.
The HttpCompliance details are no longer needed.
And @lorban is testing fixes to Trie in another branch atm.

[2022-01-31 13:24] gonphsn commented on #7496
@joakime Too late! But I will test again when you give the all clear.

`HttpCompliance is RFC7230 ([CASE_INSENSITIVE_FIELD_VALUE_CACHE, METHOD_CASE_SENSITIVE, FIELD_COLON, FIELD_NAME_CASE_INSENSITIVE, NO_WS_AFTER_FIELD_NAME, NO_FIELD_FOLDING, NO_HTTP_0_9, TRANSFER_ENCODING_WITH_CONTENT_LENGTH, MULTIPLE_CONTENT_LENGTHS, NO_AMBIGUOUS_PATH_PARAMETERS])`

Testing my application with merge from commit

[2022-01-31 15:16] avin15cs opened #7504 "Issue while migrating from Jetty 6 to 9"
**Jetty version**
9.4
**Java version**
11
**Question**
In jetty 6, when `/cts` context is called(TransformationServlet.java servlet), it picks up directory location from` /cts/output `and` /cts/resource` contexts through code:
[code]
How can I achieve something similar using jetty9.
One way would be adding both directory under `/cts` context using fileContentBase, but I was looking for better solu

[2022-01-31 15:47] joakime commented on #7504
Your code from Jetty 6 was using the Servlet API improperly.

[code]

The use of `ServletContext.getRealPath(String path)` is never guaranteed to point to a path you expect.
The `path` in that method is a "virtual path" and is a reference to a resource as seen by an HTTP client.
It can easily be a temporary directory (most common scenario), or a path deep in a jar file/war file (if war/webapp is n

[2022-01-31 16:29] lorban commented on #7496
@gonphsn You can try the `jetty-9.4.x-7496-Trie-Overflow` branch now if you wish, it should contain the final fix.

[2022-01-31 16:55] gonphsn commented on #7496
@lorban Testing from 0716b5e17e90cb38c92d7314bbfe689fce34457e looks good for both HTTP and HTTPS load tests. Thanks!

[2022-02-01 04:46] #7442 closed, assigned to nobody

[2022-02-01 04:55] janbartel commented on #7168
Issue fixed over at https://github.com/gaul/s3proxy/issues/392

[2022-02-01 04:55] #7168 closed, assigned to janbartel

[2022-02-01 04:55] janbartel commented on #7119
Question also asked on stackoverflow: https://stackoverflow.com/questions/70887340/how-to-do-programmatic-indexing-with-infinispan-13

[2022-02-01 08:14] avin15cs commented on #7373
Yes I was able to get the dependencies through Maven tool:

[INFO] org.example:JettyTest:jar:1.0-SNAPSHOT
[INFO] +- commons-lang:commons-lang:jar:2.6:compile
[INFO] +- org.eclipse.jetty:jetty-util:jar:9.4.44.v20210927:compile
[INFO] +- org.eclipse.jetty:jetty-webapp:jar:9.4.44.v20210927:compile
[INFO] |  \- org.eclipse.jetty:jetty-servlet:jar:9.4.44.v20210927:compile
[INFO] |     +- org.eclipse.je

[2022-02-01 10:40] sbordet commented on #5915
Duplicate of #6017.

[2022-02-01 10:40] #5915 closed, assigned to nobody

[2022-02-01 14:00] sbordet commented on #7436
The `HttpClient` dump shows that the client is bombed with a large number of requests that it tries to send to backend destinations that are slow to process the requests.

Each destination has a max of 4 connections only, each with 250 multiplexed HTTP/2 requests, so the destination has to handle 1000 concurrent requests and it probably cannot.

This makes the client queue up requests (about 3 k f

[2022-02-01 16:11] gonphsn commented on #7496
I've tested again at the commit 09f489922c5e93f297e932c3440492a7de748063 and everything still looks good. Let me know if you require anything else from us to complete this issue. Thanks!

[2022-02-01 16:31] lorban commented on #7496
@gonphsn There is nothing more to do, we consider this issue closed.

Thank you very much for the report and your feedback!

[2022-02-01 16:31] #7496 closed, assigned to lorban

[2022-02-01 17:25] joakime commented on #6017
@sbordet discovered that `key+=value` is broken, likely as a result of this change.
Reopening.

[2022-02-01 19:58] #6017 closed, assigned to joakime

[2022-02-01 23:08] joakime commented on #6487
@gregw any reason why Chain and ChainEnd are still private?

[2022-02-02 00:05] joakime opened #7512 "Allow ResourceService sendWelcome to honor isRelativeRedirect"
**Jetty version(s)**
9.4.42+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
The changes introduced in issue #6883 made the call to `HttpServletResponse.sendRedirect(String path)` use relative paths in most static content cases (that don't happen in a dispatch forward/include, and session in url, path params, query merging, etc).

Then relying on the H

[2022-02-02 00:11] gregw commented on #6487
@joakime well the question really should be put the other way.  What is the reason for not having them private?
I guess they could be made protected so they are available to extensions, but they probably need better names if they are to be exposed... maybe:  `FilterChainLink` and `FilterChainTarget`

[2022-02-02 00:15] joakime commented on #6487
@gregw to allow people to implement the `newFilterChain()` properly, and actually be able to call this `.getServletHolder()` that the associated PRs were all about.

[2022-02-02 06:26] gregw commented on #7512
@joakime can you explain why?   If the ResourceService (and other redirecting handlers (eg ContextHandler)) produce relative links, then the resulting location header will be absolute or not entirely depending on the `HttpConfiguration.isRelativeRedirectAllowed()`.  Moreover, we will have the code to determine an absolute URL in only one place (within `sendRedirect`) rather than duplicated in seve

[2022-02-02 06:27] gregw commented on #6487
@joakime developers that implement `newFilterChain()` can do so without use of our utility classes for creating links in the chain and a termination.    However, I have no issue with making our utility classes available as protected classes, so long as we think about the names a bit more.

[2022-02-02 07:32] janbartel opened #7513 "Getter/setter type mismatch for mbean attribute file in class org.eclipse.jetty.deploy.PropertiesConfigurationManager"
**Jetty 10.0.x**

Enable `jmx` module on jetty-10, results in this log at startup:
2022-02-02 18:30:26.063:INFO :oejj.MetaData:main: Getter/setter type mismatch for mbean attribute file in class org.eclipse.jetty.deploy.PropertiesConfigurationManager

[2022-02-02 08:35] janbartel opened #7514 "Adding InheritedListeners to already-started components can cause IllegalStateException"
**Jetty 10.0.x**

When a webapp is hot-deployed to an already-started jetty via the `deploy` module, the `o.e.j.deploy.bindings.StandardStarter` does:

[code]

So the webapp is first started, and then the `ContextHandlerCollection` is told to manage it.  During the call to `manage`, if an `o.e.j.u.component.Container.InheritedListener` is registered with jetty, then it will be added to every compo

[2022-02-02 08:39] ecejnj42 opened #7515 "Connection limit problem for "onAccepting" connections"
This problem was found on jetty version 9.4.43.v20210629.

There is a problem for the Connection Limit functionality relative to "onAccepting" connections.
The problem appears when the system/jetty is heavily overload. In such situations, the counter for "onAccepting" connections in ConnectionLimit is not properly updated.
In particular, the counter is increased when there is an "accept" connectio

[2022-02-02 08:57] lorban opened #7517 "Some ArrayTrie methods throw StackOverflowError when cointaining a very large entry"
**Jetty version(s)**
9.4.x

**Description**
`keySet()` and `toString()` recurse too deep on large entries, so they're likely to throw `StackOverflowError`.

Consider the following:

[code]

[2022-02-02 09:06] lorban opened #7518 "ArrayTrie getBest fails to match the empty string entry in certain cases"
**Jetty version(s)**
9.4.x

**Description**

When an `ArrayTrie` contains an empty string, `getBest()` should always match it as a last resort. But when `getBest()` is given a key that starts with common letters but does not match an existing entry then `null` is returned instead of the empty string's value.

Consider the following:

[code]

[2022-02-02 09:26] janbartel commented on #7514
This problem does not affect jetty-9.4.

This problem is present in the jetty-10 series from 10.0.2 onwards.

[2022-02-02 15:11] sbordet commented on #7514
This issue has been introduced with 25f8c65539e3349e10f9b62ff9d4cee365e5afdb in #5840.

What happen is that the `JavaxWebSocketClientContainer` is added to the `WebAppContext` lazily when it's first used.
In CometD, this happens when the `WebAppContext` is started, from a `Servlet.init()` method, which is earlier than usual (typically at the first WebSocket upgrade).
This adds an `HttpClient` inst

[2022-02-02 16:51] sbordet opened #7523 "Typo in AnnotationConfiguration"
**Jetty version(s)**
10.0.x

**Description**
`AnnotationConfiguration` does:

[code]

However, package `org.eclipse.jetty.util.annotations.` does not exist.

Either `org.eclipse.jetty.annotations.` or `org.eclipse.jetty.util.annotation.`.

[2022-02-02 16:51] sbordet commented on #7523
@joakime you were the last to touch this statement. Thoughts?

[2022-02-02 16:54] joakime commented on #7523
My commit might have been a checkstyle or format commit.

This needs to be fixed.

[2022-02-02 16:58] sbordet opened #7524 "Missing package in JmxConfiguration"
**Jetty version(s)**
10.0.x

**Description**
`JmxConfiguration` protects and exposes the Jetty JMX package `org.eclipse.jetty.jmx` , but it should also protect and expose `org.eclipse.jetty.util.annotation` because that's where the JMX annotations such as `@ManagedAttribute` are.

Failing to expose `org.eclipse.jetty.util.annotation` causes web applications that have `jetty-util` in `WEB-INF/lib`

[2022-02-02 17:07] sbordet commented on #7523
@joakime which one is it? I doubt it's `o.e.j.util.annotation` and I don't see why we need to expose `o.e.j.annotations`?
See also #7524.

[2022-02-03 08:49] #7524 closed, assigned to sbordet

[2022-02-03 08:49] #7523 closed, assigned to nobody

[2022-02-03 08:51] #7514 closed, assigned to nobody

[2022-02-03 09:43] lorban opened #7529 "Upgrade quiche to version 0.11.0"
**Target Jetty version(s)**
10.0.x / 11.0.x

**Enhancement Description**
Quiche version 0.11.0 got released, we need to build it for our supported platforms and upgrade to that version of the native lib.

[2022-02-03 10:25] #7529 closed, assigned to lorban

[2022-02-03 10:51] gregw commented on #7518
@lorban Added extra test.  The problem was a bug with the return if the first non matching character was a big index one.

[2022-02-03 23:07] janbartel opened #7531 "Fix ClassLoaderServlet test"
`>= jetty-9`

Test produces an exception on jetty9, but is largely commented out on jetty-10,  with a note to uncomment after `jetty-9.4.19`.

[2022-02-04 00:13] lachlan-roberts commented on #4140
This may be true of Jetty 9.4 but in Jetty-10+ the behaviour of this method has been changed, `Session.isOpen()` now returns true only if frames can be sent, so after calling `Session.close()`, `isOpen()` will return false.

[2022-02-04 09:34] fquirin commented on #4140
Good to know ^^

[2022-02-04 13:21] joakime opened #7537 "Use official maven wrapper"
**Target Jetty version(s)**

Jetty 9+

**Enhancement Description**

Now that the maven wrapper is official, should we use it in our own branch builds?
This could prove useful as we need to maintain different versions of maven across Jetty 9 (for Java 8 support) thru Jetty 12 (for Java 17 support)

* https://maven.apache.org/wrapper/
* https://github.com/apache/maven-wrapper

[2022-02-04 17:36] pschaeffer opened #7538 "Jetty with multiple JKSs"
This is a real question. This is not a bug (or I don't think it is a bug). Is it possible to use multiple JKS with Jetty? Can Jetty be configured to select a specific JKS based on the host name the browser thinks it is connecting too?

[2022-02-04 17:48] sbordet commented on #7538
This has been discussed in the mailing list about a month ago, see [this thread](https://www.eclipse.org/lists/jetty-users/msg10094.html).

Short answer is "it's not possible to use multiple KeyStores with Jetty because the JDK APIs do not allow it directly".
However, there may be workarounds, but require manual coding on your part.

[2022-02-05 00:00] #5831 closed, assigned to nobody

[2022-02-05 01:54] olamy commented on #7537
why not that would fix some upgrade.
 but I personally `mvnd` so I need to add a `mvndw` as well :)

[2022-02-07 00:00] #5289 closed, assigned to lachlan-roberts

[2022-02-07 06:56] #7538 closed, assigned to nobody

[2022-02-07 16:29] joakime commented on #7217
@sbordet this release is done.

[2022-02-07 16:29] #7217 closed, assigned to sbordet

[2022-02-07 16:29] joakime commented on #7218
@sbordet this release is done.

[2022-02-07 16:29] #7218 closed, assigned to sbordet

[2022-02-07 19:20] #7518 closed, assigned to gregw

[2022-02-08 00:00] #5284 closed, assigned to nobody

[2022-02-08 03:27] #7414 closed, assigned to janbartel

[2022-02-08 04:25] lachlan-roberts opened #7545 "Named arguments do not work in jetty-openid.xml"
**Jetty version(s)**
10.0.8 & 11.0.8

**Description**

In `jetty-openid.xml` the `OpenIdConfiguration` is constructed using named arguments:

[code]

These do not have corresponding annotations in the `OpenIdConfiguration` constructor, so this XML file fails with an error that it cannot find the constructor.

[2022-02-08 04:26] janbartel commented on #7242
Merged via dependabot commit 8267d8b3cba49a8e3b3fba28f271af4a085287e6

[2022-02-08 04:26] #7242 closed, assigned to janbartel

[2022-02-08 05:37] sreedharj commented on #7415
This issue is happening when starting the HTTP Server,   Where as the issue which I reported was at runtime where HTTP Server Adapter had stopped processing the request.

@4devwithgit   please collect the perimeter server logs and jett server logs in debug mode

[2022-02-08 07:24] arhimondr opened #7548 "Interrupt flag is not always cleared in between requests"
**Jetty version(s)**

`9.4.44.v20210927`

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version**

[code]

**Description**

Sometimes when a thread processing a request is interrupted the "interrupted" flag is carried over to the next request handled by the same thread.

**How to reproduce?**

1. Interrupt a thread while it is processing `Request 1`
2. Send `Request 2`. When `R

[2022-02-08 07:25] arhimondr commented on #7548
Example stack trace: https://gist.github.com/arhimondr/81d80f27722d5429bf5e210034660369

In `QueuedThreadPool` the interrupt flag seem to be properly cleared: https://github.com/eclipse/jetty.project/blob/6c79be91b74ccb5e9fa7fecc7adb1daff9219dc4/jetty-util/src/main/java/org/eclipse/jetty/util/thread/QueuedThreadPool.java#L1055

I wonder if a single `job` in the `QueuedThreadPool` can be processing

[2022-02-08 09:27] sbordet commented on #7548
@arhimondr like you noticed, we reset the interrupted flag for every job we run.

Jetty calls `Thread.interrupt()` only when it's being stopped, so could this be a race of Jetty being stopped while the application is still processing a request?

That is not the case.

[2022-02-08 13:50] NageshSoni commented on #7371
I am implementing the below scenario:
Max threads in QueuedThreadPool: 200
Reserved threads in QueuedThreadPool: 180
maxRequests in QoS Filter: 180
Latency for request: 5 sec

Initially 180 requests are sent and after 1 second another 180 requests are sent.

For initial 180 requests all the reserved threads are available. But after serving the initial 180 request, it took around 1 minute to free a

[2022-02-08 14:04] sunng87 commented on #7218
@joakime the javadoc was not updated https://www.eclipse.org/jetty/javadoc/jetty-10/index.html?overview-summary.html

[2022-02-08 14:07] jmcc0nn3ll commented on #7218
@sunng87 it is on my todo list to resolve today

[2022-02-08 14:08] joakime commented on #7218
The eclipse.org/jetty website is taking time to sync.

Meanwhile, use javadoc.io, they have it up to date right now.

https://javadoc.io/doc/org.eclipse.jetty/jetty-server  (just pick the
module and version from the drop-down menus at the top)

[2022-02-08 14:55] sunng87 commented on #7218
There is a module missing from maven central `org.eclipse.jetty.quic:quic-quiche-foreign-incubator:jar:10.0.8`. This module is only activated on java-17 so you might need java-17 to publish it.

See
https://search.maven.org/artifact/org.eclipse.jetty.quic/quic-quiche/10.0.8/pom

[2022-02-08 16:21] elipsion opened #7551 "Disabling client SSL session caching breaks SNI"
**Jetty version(s)**
11.0.7

**Java version/vendor**
AdoptOpenJDK 11.0.11.9-hotspot

**OS type/version**
Windows 11 21H2

**Description**
Disabling session caching in [SslContextFactory](https://github.com/eclipse/jetty.project/blob/937cb5df95ee41779266730399b7ccd898859405/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java#L1517) has the unexpected side-effect of also disab

[2022-02-08 16:22] arhimondr commented on #7548
It shouldn't be the case.

@sbordet Does anything change for non blocking (async) requests?

It looks super weird. I will try to create a simple reproducer that I can share.

[2022-02-08 17:07] arhimondr commented on #7548
@sbordet

Actually I'm able to reproduce the problem with something as simple as

[code]

When sending requests repeatedly (even with a simple single threaded loop) some of them return status `555`.

[2022-02-08 17:13] joakime commented on #7548
Need more details on how you are using/deploying this servlet.
It matters.

Example:
If you are using a ServletContextHandler or embedded mode.

First time through on a REQUEST dispatch you hit `Thread.currentThread().interrupt()`.
Which causes an error.
Now you have an ERROR dispatch to the same servlet.
You now have the flow through `Thread.currentThread.isInterrupted()`,
But you call `resp.send

[2022-02-08 18:19] arhimondr commented on #7548
@joakime Here is a different reproducer without `sendError` involved:

[code]

The reproducer is based on `Airlift` that uses `Jetty`. Here is the full implementation: https://gist.github.com/arhimondr/873aee23135e538c0a4d5f7735db1b98

This class initializes the server: https://github.com/airlift/airlift/blob/master/http-server/src/main/java/io/airlift/http/server/HttpServer.java

[2022-02-08 22:26] sbordet commented on #7548
I think the problem is that we clear the interrupted flag in `QueuedThreadPool`, but not in `ReservedThread`.

[2022-02-09 02:51] gregw commented on #7548
I'm wondering if we should also clear in HttpChannel.unhandle, as we can iterate over several calls to the application there ( eg error dispatch) and we should probably not prepared interrupt status.... or should we... as it is for the same request???

[2022-02-09 12:19] sbordet commented on #7371
@NageshSoni this is how reserved thread works.

Why do you expect the reserved thread to be freed?

After the first batch of 180 requests has been served (after about 5 seconds), they will be readily available to handle the second batch of 180 requests.

[2022-02-09 15:04] sunng87 opened #7557 "quic-quiche-foreign-incubator missing from maven central when using http3 with java-17"
**Jetty version(s)**
10.0.8

**Java version/vendor** `(use: java -version)`
17

**OS type/version**
Any

**Description**
The `org.eclipse.jetty.quic:quic-quiche-foreign-incubator:jar:10.0.8` is a dependency for http3-server when using java-17. It's activated by a maven profile. However the jar was not published on maven central, because, I guess, the JDK used for release is 11 so the profile was n

[2022-02-09 15:10] joakime commented on #7557
This was missed because the Java 17 build/deploy/release failed due to javadoc issues.
We are actually working those faults right now at PR #7556

[2022-02-09 15:18] joakime commented on #7557
I'm manually deploying `quic-quiche-foreign-incubator` 10.0.8 and 11.0.8 to maven central right now.  Stay tuned.

[2022-02-09 15:18] joakime commented on #7557
Staging repository is green and available at https://oss.sonatype.org/content/repositories/jetty-1740/

[2022-02-09 15:21] joakime commented on #7557
Staging repo reviewed and promoted, it'll take up to 3 hours for it to show up on maven central.

[2022-02-09 15:24] sunng87 commented on #7557
Thank you for fast response!

[2022-02-09 15:24] #7557 closed, assigned to joakime

[2022-02-09 15:29] sbordet commented on #7557
@sunng87 remember that http/3 support is highly experimental at this point, so may or may not work for you.
As such we appreciate any feedback, so we can improve it. Thanks!

[2022-02-09 16:37] kimmerin opened #7558 "Jetty 9.4.44 stops loading WebApps with new versions of Java 11 and Log4Shell mitigation in place (ClassCastException)"
With Log4Shell a proposed suggestion was to set the system property `jdk.jndi.object.factoriesFilter` to `!*`. If you do that Jetty stops loading WebApps if a more recent version of Java 11 is used (that's what I've used for testing, newer versions of Java 8 might be affected as well). In the server.log you get the following error:

<pre>
2022-02-09 16:35:40 WARNING: Failed startup of context o.e.

[2022-02-09 16:58] joakime commented on #7558
The difference in behavior from Java 11.0.5 to Java 11.0.14 is likely due to the changes in Java 11.0.11

See release notes about changes due to bug "JDK-8244473"
https://www.oracle.com/java/technologies/javase/11-0-11-relnotes.html#JDK-8244473

[2022-02-09 16:59] kimmerin commented on #7558
Most likely, yes. But that shouldn't lead to Jetty to stop working, should it?

[2022-02-09 17:07] joakime commented on #7558
There's likely something about your dependencies triggering this.
Run a duplicate class checker, I bet you have duplicate `javax.naming.Reference` classes coming from multiple locations (and even different versions).

We run our builds and tests on Java 8 (Temurin 8u312), Java 11 (Temurin 11.0.13), and Java 17 (Temurin 17.0.1) currently, for each commit to `jetty-9.4.x`, we only saw this error whe

[2022-02-09 17:25] kimmerin commented on #7558
Hm, I can't see where a duplicate `javax.naming.Reference` should come from. I've stripped the whole thing down to a new Eclipse project that only contains the jetty-jars and extended above test a bit:

<pre>
    public void testInitContextRetrieval() throws Exception {
        System.setProperty("jdk.jndi.object.factoriesFilter", "!*");

        System.out.println(System.getProperty("java.class.p

[2022-02-09 17:37] joakime commented on #7558
Run this testcase, it will report it for you.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.x-7558-clascastexception-envconfig/jetty-plus/src/test/java/org/eclipse/jetty/plus/webapp/EnvConfigurationTest.java

The results on Temurin 11.0.14 are as follows ...

**With factoriesFilter of `!*`**

[code]

**With factoriesFilter of ``** (empty, aka unset/default)

[code]

The fact that factor

[2022-02-09 17:47] kimmerin commented on #7558
Hm, I'm not sure what exactly I should see here that differs from your output:

<pre>
jdk.jndi.object.factoriesFilter(initial) = null
Looking for: javax/naming/Reference.class
 - Found: jrt:/java.naming/javax/naming/Reference.class
 Found 1 times
Looking for: javax/naming/Context.class
 - Found: jrt:/java.naming/javax/naming/Context.class
 Found 1 times
2022-02-09 18:42:21.773:INFO::main: Logging

[2022-02-09 17:54] joakime commented on #7558
One thing I have to ask.

The suggested fix to use  `-Djdk.jndi.object.factoriesFilter=!*` was suggested as a mitigation against log4j2  https://nvd.nist.gov/vuln/detail/CVE-2021-44228, and the suggestion was to use log4j 2.15.0

This mitigation proved to not mitigate the issue, and another log4j2 vulnerability was filed as https://nvd.nist.gov/vuln/detail/CVE-2021-45046 with the suggestion to use

[2022-02-09 18:02] kimmerin commented on #7558
Removing that system property solved things here but there are valid reasons out there why somebody decides to set this filter and that shouldn't lead to a ClassCastException in Jetty. This is why I posted this issue.

It might be a consideration to adjust the title if you think that it might be misleading for people having this issue for non-Log4Shell-related reasons.

[2022-02-09 18:09] kimmerin commented on #7558
BTW: In your test, the lookup also seem to return a Reference, so EnvConfiguration should fall into a ClassCastException as well.

[2022-02-09 18:53] joakime commented on #7558
`ClassCastException` occurs because you are not using Jetty JNDI with your chosen configuration.

The `-Djdk.jndi.object.factoriesFilter=!*` configuration is rejecting all JNDI factories.
Even Jetty's own jndi factory. (found in `jetty-jndi-<ver>.jar`)

If you only allow Jetty's factory you'll see behavior similar to what it was like before this partial mitigation.

[code]

Be aware that depending

[2022-02-09 19:03] joakime commented on #7558
I strongly encourage you to abandon this approach of attempting to mitigate the multiple log4shell vulnerabilities.
This kind of mitigation, where you tweak the JVM, have all been discredited with newer Log4Shell CVE announcements (read them, including the discussions on the mailing lists).
This specific mitigation, about `jdk.jndi.object.factoriesFilter` started circulating around Dec 10th 2021,

[2022-02-09 20:15] kimmerin commented on #7558
The setting of the system property is a "relict", that's why I were able to remove it easily solving the issue. So I'm not relying on it and Log4Shell is no issue Here[TM]. Thanks for the explanation of the inner workings of this and why a Reference instead of a context is returned. I still think that more than a not very helpful ClassCastException should happen if somebody misconfigured their sys

[2022-02-09 20:24] joakime commented on #7558
There are countless ways to misconfigure your Java JVM and cause all kinds of spurious errors / exceptions / throwables in the applications you run on java.

We don't protect against these kinds of things simply because doing so would be time prohibitive to maintain across the java ecosystem.   Take for example your use of `jdk.jndi.object.factoriesFilter`, that's just a OpenJDK recommended system

[2022-02-09 21:38] janbartel commented on #7558
If you're setting such powerful properties on jndi, then you need to understand the ramifications. Object factories are very common in jndi and by doing a blanket exclusion like that you should expect something to break. As @joakime said, I don't think there's any way in jetty that we could detect and prevent all of the myriad ways that people can misconfigure their setups. At least you got an exc

[2022-02-10 04:53] gregw commented on #7424
@simone, @lorban, Lot's of good progress made on this subject, both in my branch (now jetty-12.0.x) and Simone's branch.   I think we are converging on some good ideas/compromises, but still a little way to go.   So I thought a summary if the ideas/issues here would be worthwhile.

From the jetty-12-ng-sbordet branch we have:

[code]

For me, the goodness in that branch is that accept takes a `Pro

[2022-02-10 05:10] gregw commented on #7424
So in summary, there are two approaches, neither perfect:

**Handler is passed immutable request and calls accept that returns the mutable stuff** (ie `interface Request { Response accept(); }`). This has the PROS:
   + handling can commence immediately after call to accept, using wrapped request and response.
   + no need to rescope a process callback to a context

But it has the CONS:
   - addit

[2022-02-10 06:47] nhenneaux commented on #7481
@joakime Is there anything I can do to validate further what happens or help fixing it?

[2022-02-10 10:42] gregw commented on #7424
More thoughts... let's look at this from the other side, ie the handler implementation.

Currently a simple handler is like:
[code]

This is nice and simple.  The response can be generated directly after the accept, in the same scope, with the same classloader, looking at the same wrapped request. BUT, the handling can't be delayed externally without blocking (eg in accept), and the read API is av

[2022-02-10 10:52] sbordet opened #7561 "Improve @ManagedAttribute processing"
**Jetty version(s)**
10.0.x

**Description**
If `@ManagedAttribute` is put on a setter method, the processing of the annotation gets confused.
See #7513 and comment https://github.com/eclipse/jetty.project/pull/7532#issuecomment-1029561508.

[2022-02-10 10:59] sbordet commented on #7424
The latter would still have the problem of exposing read APIs before `accept()`, and forces an always capturing lambda.

[2022-02-10 11:06] sbordet commented on #7424
Is there a valid use case where wrapping of `Incoming` should be carried over in the handling? Why would a `Handler` need to modify e.g. the headers _before_ accepting? In fact, in my branch the wrapping of `Incoming` is only necessary to enable the wrapping of `Request` at handling time.

Apart naming and many classes (which however are necessary to isolate behaviors), I don't think there is a pr

[2022-02-10 11:17] gregw commented on #7424
@sbordet there are many use-cases to wrap before accepting:
 + A context handler will wrap to alter the path, so it's contained handlers can match on it
 + GzipHandler should wrap to change the headers so that down stream handlers known that IF they accept and read content, it will not be gzipped.
 + A rewrite handler does exactly that - rewites the request to change who might handle it.

Even if

[2022-02-10 12:19] sbordet commented on #7424
@gregw good point, I see now there are legit cases to wrap with modification before `accept()`.

However, who does that has access to the modifications, so:

[code]

Yes there is a double wrapping, but it's accessible.

Alternatively, if the only difference between an incoming request and a handling request is the access to the content, we can offer a constructor: `Request.Wrapper(IncomingRequest.

[2022-02-10 15:15] sunng87 commented on #7557
@sbordet Thank you! I'm adding http/3 support to my ring adapter to try out http/3 features, for evaluation only.

[2022-02-10 22:01] gregw commented on #7424
After the call this morning, @sbordet and I decided that we both don't hate the `BiConsumer<Request, Processor>` approach above.... at least not enough to not give it a go.  So I'll try an implementation over the next few days.

[2022-02-10 22:16] #7513 closed, assigned to janbartel

[2022-02-10 23:02] janbartel commented on #6184
I think one of the biggest stumbling blocks for JEP-411 will be the fixes for #5859. The fix for the classloader pinning by the constructor for Thread requires the use of some java.security classes. We will need to support both pre-JEP-411 runtimes and post JEP-411 runtimes (possibly with reflection based off the runtime version?).

[2022-02-11 05:56] gregw commented on #7424
See #7566 for an attempt at this.   Mostly working, but I don't really like it.

[2022-02-11 06:14] gregw commented on #7424
Note that there are two things we are trying to fix here:  A) remove IO methods from Request that are not active before accept and B) elegant way to delay processing after a request has been accepted.

#7566 does both, but it is primarily about B.

The current HEAD of 12.0.x could easily by made to solve A by make `accept` return an `Exchange` rather than a `Response`.... but I just don't see A as

[2022-02-11 07:22] rjonna opened #7567 "Gzip compression not working for multipart/form-data when added to the allowed list using addIncludedMimeTypes."
**Jetty version(s)**
9.4.22.v20191022

**Java version/vendor** `(use: java -version)`
openjdk 16.0.1 2021-04-20

**OS type/version**
Linux

**Description**
When multipart/form-data is added to the allowed list using addIncludedMimeTypes, compression is not being applied because of the **boundary parameter**. Getting the following error.
`
2022-02-10 21:57:55,024 DEBUG [qtp112619572-112] org.eclips

[2022-02-11 11:53] joakime commented on #7531
This was changed as part of PR #4332 originally.

We should either not use `jetty-util` as the test dependency for this ClassLoaderTest, or isolate this change to the dependency tree within tests only, and not let it spill out into the rest of the jetty reactor breaking the release process.

[2022-02-11 12:19] joakime commented on #6184
I opened PR #7562 for `jetty-12.0.x` branch.

The Classloader pinning issue needs to be solved without using the security classes.
Also, there are 3 levels of JEP-411 runtimes.

1. pre JEP-411 - classes exist and function as expected.
2. JEP-411 transition - classes exist, but are no-ops, and don't do anything.
3. post JEP-411 - classes don't exist.

We cannot use reflection for level 2, so we nee

[2022-02-11 12:25] joakime commented on #7567
You should do 2 things.

First upgrade your version of Jetty.
Use 9.4.45.v20220203 - as that's on the same servlet + major version as you are currently using.
This version contains fixes in multipart AND fixes in Gzip that you need.

Next, configure your `HttpConfiguration.setMultiPartFormDataCompliance(MultiPartFormDataCompliance.RFC7578)` for your chosen `ServerConnector`.  (default behavior in

[2022-02-11 14:25] canon-CMI-jeffrey-brydges commented on #7496
Recently upgraded to jetty-9.4.45.v20220128 to get the ALPN fix, but believe I am running into this issue. This does not happen in 9.4.44.

[code]

[2022-02-11 15:20] joakime opened #7569 "Miconfigured headerCacheSize in can result in IllegalArgumentException"
Recently upgraded to jetty-9.4.45.v20220128 to get the ALPN fix, but believe I am running into this issue. This does not happen in 9.4.44.

[code]

_Originally posted by @jeffreyb-canon in https://github.com/eclipse/jetty.project/issues/7496#issuecomment-1036265012_

[2022-02-11 15:22] joakime commented on #7496
@jeffreyb-canon I opened a new issue #7569 for this.

[2022-02-11 15:24] joakime commented on #7569
@jeffreyb-canon you have an `HttpConfiguration.setHeaderCacheSize(int)` that is far too large.

The default value for `headerCacheSize` is 1024.
The maximum value is 65534 - as defined in `ArrayTernaryTrie.MAX_CAPACITY`.

A value at 131072 is far too large, prior to Jetty 9.4.45 that configuration would result in quietly lost data (if you somehow managed to have a cache that exceeded 65534 charact

[2022-02-11 15:30] joakime commented on #7569
The changes that triggered this IllegalArgumentException come from ...

* Issue #7271
* PR #7405

[2022-02-11 15:34] canon-CMI-jeffrey-brydges commented on #7569
@joakime Thank you for the clarification and quick reply. Is there an exposed constant which I can reference to use as our max size?

[2022-02-11 15:38] joakime commented on #7569
@jeffreyb-canon there is currently no public constant.

https://github.com/eclipse/jetty.project/blob/4a0c91c0be53805e3fcffdcdcc9587d5301863db/jetty-util/src/main/java/org/eclipse/jetty/util/ArrayTernaryTrie.java#L72-L77

The PR I just opened #7570 will make that constant available.
Along with a exception when the `headerCacheSize` is set too large at server startup.

[2022-02-11 15:56] joakime commented on #7569
@jeffreyb-canon I would actually suggest you don't set the headerCacheSize too big.

Historically the default value started out at 512 and the cache was always full and inefficiently used.
Then we bumped the default value to 4096 and had many reports of increased memory usage.
It was brought down to 1024 to better fit with the real world usages.

At 65534 you would be barely using 5% of that memor

[2022-02-11 16:09] canon-CMI-jeffrey-brydges commented on #7569
A client needed to send many ranges in the url to avoid sending many requests, which was valid in the API standard we were implementing. It looks like the header buffer size was set arbitrarily high to deal with this a while back and was never set to a reasonable number once support for these ranges in request body was implemented.

We are in the process of validating the need for this large value

[2022-02-11 16:41] joakime commented on #7569
I think you are confusing configurations.

header buffer size is the size of the buffer allowed to fit all of the headers for a single request (or response).
header cache size is the size of the cache used to minimize memory stress between requests on a single connection. (aka HTTP/1.1 persistent connection)

Adjusting the buffer size is common enough.
Adjusting cache size is very uncommon.

[2022-02-11 18:16] sbordet commented on #7424
What you don't like?

[2022-02-11 22:19] janbartel opened #7571 "Flakey test SSLEngineTest.testInvalidLargeTLSFrame"
**jetty-10**

[2022-02-11 22:21] janbartel opened #7572 "Need to suppress or fix WARN in SslSelectChannelTimeoutTest.testMaxIdleNothingSent"
**jetty-10**

[2022-02-11 22:32] janbartel commented on #6184
@joakime that's easier said than done:  we are at the mercy of the implementation of `Thread` as regards pinning of the classloader.

[2022-02-12 02:49] rjonna commented on #7567
@joakime  - We already have RFC7578 compliance and the new version also doesn't work, getting the same error. It is due to the boundary field not being stripped when doing the comparison. The comparison is an exact string match. Our multipart content type(multipart/form-data;boundary=Boundary_2_393478717_1644530275023) is according to the spec.

Btw, this is the compression on the response from se

[2022-02-12 12:09] joakime commented on #7567
@lachlan-roberts can you take a look?

[2022-02-12 21:20] gregw commented on #7424
@sbordet the code is really hard to read and understand. You get a calling frame into nested handlers that can have 0 or more request wrappers plus 0 or more acceptor wrappers that then have a calling stack back out via the nested acceptor wrappers, each potentially applying a processor wrapper that then had a calling stack back through the processors, each may potentially wrap the exchange, proba

[2022-02-12 21:23] gregw commented on #7424
Oops wrong button.
When you get a line of code that has four  lambdas and two explicit wrappers, then it is getting tooooooo complex.

It is technically correct and i can't fault the model. But i think the tail is wagging the dog. We are letting the 1% case make the 99% more complex and difficult.

[2022-02-13 00:00] #5197 closed, assigned to sbordet

[2022-02-13 12:18] andrus opened #7573 "WebSockets - "Unsupported PathParam Type: java.lang.Integer""
**Jetty version(s)**

10.0.7

**Java version/vendor** `(use: java -version)`

11.0.12 (Temurin)

**OS type/version**

MacOS

**Description**
WebSocket endpoint like this:

[code]
on Jetty startup results in an [exception here](https://github.com/eclipse/jetty.project/blob/cb127793e5d8b5c5730b964392a9a905ba49191d/jetty-websocket/websocket-javax-server/src/main/java/org/eclipse/jetty/websocket/javax

[2022-02-13 21:44] zUniQueX opened #7575 "Misleading docs for `HttpClientTransportDynamic`"
**Target Jetty version(s)**
11.0.0 - 11.0.8

**Enhancement Description**

I wanted to integrate the Jetty `HttpClient` into a library, that needs to support both protocols HTTP/1.1 and HTTP/2. Therefore I tried using the `HttpClientTransportDynamic` and provided both `ClientConnectionFactory.Info` objects as described in the docs.

When trying to request a server that doesn't supports the first pr

[2022-02-14 01:05] lachlan-roberts commented on #7567
@rjonna I think the comparison of the mime type should be done without the parameters.

You could possibly work around this by excluding the mime types you don't want to gzip instead of including the ones you do. But I will propose a fix for this in a PR.

[2022-02-14 05:36] rjonna commented on #7567
@lachlan-roberts  - Yes, mime type comparison has to be done without the parameters. Thanks so much for the quick fix.

[2022-02-14 05:45] lachlan-roberts commented on #7573
Opened PR #7579 to fix this.

[2022-02-14 09:29] sbordet commented on #5194
@lachlan-roberts has this been fixed? Just wanted to make sure it's not forgotten.

[2022-02-14 11:33] #7461 closed, assigned to lorban

[2022-02-14 12:11] joakime commented on #7571
We recently upgraded Java 11 and Java 17.
I wonder if these upgrades could have tickled this test case?
It's really testing a bad TLS frame, the behavior now could be different.
@lorban what do you think?

[2022-02-14 14:18] joakime commented on #7575
It is very common to have a server support both HTTP/2 and HTTP/1.1 on the same port. (Jetty can do that too).

You can even have a server support HTTP/2, and HTTP/1.1+TLS, and HTTP/1.1+plaintext on the same port (Jetty can do that as well).

[2022-02-14 16:05] lorban commented on #7571
It's possible that the JDK upgrades are the cause of this failure, but it's hard to say for sure as the test still passes most of the time. Maybe the root cause has always been present?

[2022-02-14 17:17] joakime commented on #7572
PR #7596 opened

[2022-02-14 17:43] sbordet commented on #7575
@zUniQueX from the stack trace it seems you are using clear-text protocols, so `http/1.1` and `h2c`.

When using clear-text, the client must know a priori what protocol is supported on the server port, because there is no negotiation.

So if you know a server supports only `http/1.1` and you send `h2c` then it's your fault and you get an exception.

Do you have suggestions on how to improve the do

[2022-02-14 17:46] sbordet commented on #7575
I don't see this. Where it is exactly?

[2022-02-14 18:51] jluehe commented on #7512
@gregw, the proposal was to move the logic of whether to make the redirect location full (based on `HttpConfiguration.isRelativeRedirectAllowed`) inside `Response.encodeRedirectURL` (instead of `Response.sendRedirect`), so that by the time `Response.sendRedirect` is called, it will already be in its final form, thereby making out response wrapper happy, which enforces that only full URLs be passed

[2022-02-14 20:17] zUniQueX commented on #7575
Ah, sorry. I've been using `h2` but clear-text HTTP/1.1. Thanks for the explanation.

I would suggest making the docs more explicit, i.e. to provide details on the implementation. For example: Protocol switching can be done from HTTP/1.1 to HTTP/2 using ALPN or using the HTTP `Upgrade` header for an `h2c` connection.

[2022-02-14 20:19] zUniQueX commented on #7575
I meant this line: https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-client/src/main/java/org/eclipse/jetty/client/dynamic/HttpClientTransportDynamic.java#L58. Thereby the constant `HTTP` doesn't exist and should be replaced by `HTTP11`.

[2022-02-15 07:49] gregw commented on #7512
@jluehe What is the isue with allowing relative paths to be passed?  Is it that when converted to absolute URIs within `sendRedirect` that the wrong port and/or host is sometimes used?   If so, aren't the other changes we are making to allow authority overrides sufficient to circumvent this problem?

I'm concerned that is we scatter code that checks `isRelativeRedirectAllowed()` all over the code

[2022-02-15 11:44] joakime commented on #6184
With the early-access releases of JDK 18 and JDK 19 now available.

We have a JVM runtime that's in stage 2 in my above list.

This means the SecurityManager and related classes are now a no-op.
You can't even start a JVM with a Security Manager.

[code]

The implementations of all of the JEP-411 specified classes now do nothing.
A future JEP will remove the classes.

[2022-02-16 10:54] #7572 closed, assigned to nobody

[2022-02-16 22:12] lachlan-roberts commented on #7567
I have merged the fix to `9.4.x`, `10.0.x` and `11.0.x`.
So this will be fixed for you in the next release.

[2022-02-16 22:12] #7567 closed, assigned to nobody

[2022-02-16 22:52] lachlan-roberts commented on #7573
fixed with PR #7579, will be available with the release of `10.0.9`/`11.0.9`.

[2022-02-16 22:52] #7573 closed, assigned to lachlan-roberts

[2022-02-16 22:54] #7545 closed, assigned to lachlan-roberts

[2022-02-16 23:46] rjonna commented on #7567
Thank you so much.

[2022-02-17 00:00] #5132 closed, assigned to joakime, lachlan-roberts

[2022-02-17 07:38] gregw opened #7608 "Jetty-12 MetaData cleanup needed"
**Target Jetty version(s)**
Jetty-12

**Enhancement Description**

The MetaData class is badly in need of a clean up:

 + Too many constructors, with multiple paths through to super constructor.
 + The content-length handling is done poorly.  It was meant to be an optimization to avoid HttpFields lookups when the content length is already known, but it now is more likely to cause a HttpFields look

[2022-02-17 07:39] gregw commented on #7608
@lorban you want to tackle this, as you've already started.   @sbordet anything to add?

[2022-02-17 09:10] janbartel commented on #7558
I'm going to close this issue, as I think it's not possible to replace the ClassCastException with anything more meaningful, as it's impossible to work out that a misconfigured jndi property could be the cause of it.

[2022-02-17 09:10] #7558 closed, assigned to nobody

[2022-02-17 14:14] joakime opened #7613 "Configurations.add(Configuration) results in UnsupportedOperationException"
**Jetty version(s)**
10.0.x+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
While troubleshooting the issue reported at https://github.com/jetty-project/embedded-servlet-server/issues/51

I discovered that if the following line of code is used ...

[code]

It results in an exception ...

[code]

This is because the `Configurations` class only has an o

[2022-02-17 16:26] anca-jalbum opened #7615 "HttpServletResponse.encodeURL not working for URLs starting with ../"
**Jetty version(s)**
9.4.37 - 9.4.45

**Java version/vendor**
Java 1.8.0

**OS type/version**
Mac

**Description**
When doing HttpServletResponse.encodeURL("../foo/bar.jsp") when client has no session cookie so the URL should be rewritten as "../foo/bar.jsp;jsessionid=[sessionID]" the HttpURI.parse method responds with "Bad URI".

That is not a "Bad URI". Relative URLs with any number of ../ must

[2022-02-17 16:45] joakime commented on #7615
I haven't replicated this yet, but this issue should also be impacting `HttpServletResponse.encodeRedirectURL(String)` as well. (similar code path).

[2022-02-17 17:13] joakime commented on #7615
I have been able to replicate easily with this test case...

https://github.com/eclipse/jetty.project/commit/d9c6414a36432528cf6070e55b9ad871919e371d

The `HttpURI` is used within the `encodeURL(String)` method only to parse out various values.
But our `HttpURI` doesn't support relative path only Strings.

[2022-02-17 17:56] joakime commented on #7615
Opened PR #7616 with a fix.

[2022-02-17 18:44] joakime commented on #7517
@lorban is this done/complete now?

[2022-02-17 19:52] zUniQueX opened #7617 "Logback-access RequestLog not working"
**Jetty version(s)**
11.0.8

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.13" 2021-10-19
OpenJDK Runtime Environment (build 11.0.13+8-Ubuntu-0ubuntu1.20.04)
OpenJDK 64-Bit Server VM (build 11.0.13+8-Ubuntu-0ubuntu1.20.04, mixed mode)

**OS type/version**
Ubuntu 20.04.3 LTS

**Description**
After upgrading Jetty from 11.0.7 to 11.0.8 the request logging through logback doesn

[2022-02-17 20:53] joakime commented on #7617
logback-access is doing truly bad things with it's `RequestLogImpl`. (it hasn't kept up with the changes in the Servlet spec since 3.1.0).

It's incredibly bad for a RequestLog to START reading request body content during the RequestLog.
That's the heart of this issue, you have a scenario where you didn't read the request body, responded to the request, and then the RequestLog attempts to read it.

[2022-02-17 21:01] zUniQueX commented on #7617
Thanks for the fast response. I noticed that logback doesn't stay that much up-to-date when trying to upgrade to Jetty 10. There I first hit your PR at their project.

It just seemed odd to me, that a minor Jetty update suddenly broke the logback request logging, but I totally understand your intention there.

I will just stay on Jetty 11.0.7 until this gets fixed on their side.

[2022-02-17 21:03] joakime commented on #7617
logback-access as it exists now has many bugs that means you should avoid using it for any release of Jetty 10 (even 10.0.7)

* status code reported by logback-access is often invalid.
* bytes sent are invalid (off by an order of magnitude)
* bytes read are invalid (also off by an order of magnitude)
* response header values are invalid (it reports the last state, not the state when it was committ

[2022-02-17 21:07] joakime commented on #7617
logback-access issues have existed for the entirety of Jetty 10.0.x, it's not unique for 10.0.8.

I'm surprised you didn't hit the 100% CPU bug with it already.
The fix in 10.0.8 was to fix for that 100% CPU bug.

The scenario: (that exist in Jetty 10.0.0 thru 10.0.7)
1. You receive a request, that has a form.
2. You didn't read the form in your servlet/dispatch.
3. It reaches the LogbackAccessImp

[2022-02-17 21:25] zUniQueX commented on #7617
I was just doing upgrades for Dropwizard after we planned upgrading to Jakarta APIs. We formerly stayed on Jetty 9.x.x quite a long time and would now want to upgrade to Jetty 10 and Jetty 11. Therefore I didn't experience any logback issue with Jetty before.

As we allow customization of the request logging related to logback's APIs, I think we wouldn't want to upgrade to Jetty's request logging

[2022-02-17 21:40] joakime commented on #7617
The 100% CPU issue with logback-access exists in Jetty 9.1.0 thru 9.4.43 as well. (it was fixed in 9.4.44)
(early Jetty 9.0.x releases were using pre-release/alpha/beta Servlet 3.1.0 API jars that are incompatible with all logback-access releases)

Note that if you have any requests that result in a 400 response (Bad Request) you also have a fatal failure in logback-access.
At best, those requests

[2022-02-17 21:41] joakime commented on #7617
I opened PR #7618 with more hardening for bad RequestLog implementations.  (Once approved it will be merged up into Jetty 11.x and 12.x)

This is not a 100% solution as there's far too many code paths based on configuration to catch all of these bad behaviors.

[2022-02-17 21:51] zUniQueX commented on #7617
Many thanks for all the detailed answers. If logback-access is that unstable regarding Jetty, I'll take a look at Jetty's request logging implementation and maybe we could provide a module for that at Dropwizard.

The PR looks good, I think this should fix the current problem from Jetty's end. I hope to see a solution from Logback soon too, but I'm not too optimistic about that yet.

[2022-02-18 08:35] lorban commented on #7517
@joakime yes, it's all done and merged across the necessary branches. Thanks for the heads up.

[2022-02-18 10:44] gregw commented on #7517
@lorban did these changes make it into the jetty-12 branch?   I think we need a process to track such issues?

[2022-02-18 10:49] lorban commented on #7517
@gregw no, they did not get merged to 12.0.x and you're right that we're going to need a process to remind us that.

I'm going to merge that right away.

[2022-02-18 11:00] lorban commented on #7517
Merged to 12.0.x.

[2022-02-18 11:00] #7517 closed, assigned to gregw

[2022-02-18 11:23] Artur- commented on #7451
Thanks for the help.

The tests try to test what happens in the real world in redeployment situations so mocking or doing custom configuration is not wanted for these particular cases. And for sure, they were not testing Jetty logic but our logic :)

Seems like the test was moved after I posted the link so it now gives 404. It is now at https://github.com/vaadin/flow/tree/master/flow-tests/test-re

[2022-02-18 11:23] #7451 closed, assigned to janbartel

[2022-02-20 00:00] #5849 closed, assigned to nobody

[2022-02-20 09:25] yschimke opened #7625 "HTTP/3 error against www.google.com"
**Jetty version(s)**

11.0.8

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version**

OSX - M1

**Description**

[code]

**How to reproduce?**

Works

"https://www.cloudflare.com:443/robots.txt"

Fails

https://www.google.com:443/robots.txt

I'm using a client code pretty much just from https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-client

[2022-02-20 09:25] yschimke commented on #7625
I can provide a full example if requested, but it's in a larger code base.

[2022-02-21 00:00] #5809 closed, assigned to lachlan-roberts

[2022-02-21 08:09] sbordet commented on #5132
@lachlan-roberts please confirm this has been fixed?

[2022-02-21 08:30] sbordet commented on #7218
@sunng87 the missing module has been deployed to Maven Central.

[2022-02-21 08:31] sbordet commented on #5831
@gregw @janbartel is it ok to let this issue be closed, or does it need some work?

[2022-02-21 09:20] janbartel commented on #5831
I think it should be closed. It's not appropriate for the DefaultHandler to always return `503` if it didn't find a context to match the url. I think the OP could create their own `DefaultHandler` to do as they wish.

[2022-02-21 10:34] mhalbritter opened #7630 "Could not initialize ConscryptServerALPNProcessor on linux-aarch64"
**Jetty version(s)**

9.4.45.v20220203

**Java version/vendor**

[code]

**OS type/version**

Linux, Fedora 35, aarch64

**Description**

ConscryptServerALPNProcessor can't be initialized, because a native library is missing for aarch64 linux.

[code]

**How to reproduce?**

Run the test `org.springframework.boot.web.embedded.jetty.SslServerCustomizerTests#alpnConnectionFactoryHasNullDefaultProtoc

[2022-02-21 11:17] joakime commented on #7630
[code]

You'll have to ask https://github.com/google/conscrypt to make a release with an `linux-aarch` native lib.

[2022-02-21 11:19] joakime commented on #7630
If you want to run Spring and Jetty on aarch, I would recommend using Java 11 and the 100% java implementation of ALPN built into the JVM itself.

Jetty ALPN supports this configuration currently.

[2022-02-21 11:35] mhalbritter commented on #7630
Hey @joakime, thanks for the quick answer! I will ask conscrypt to provide aarch64 binaries.

[2022-02-21 11:35] #7630 closed, assigned to nobody

[2022-02-21 12:09] sbordet commented on #5956
@joakime I un-staled this for you.

[2022-02-21 12:44] janbartel commented on #7613
I'm not totally convinced of the necessity for this, as we don't override most of the AbstractList methods. However FWIW here's a PR: #7631

[2022-02-21 12:50] janbartel commented on #6223
@stevenpyzhang ?

[2022-02-21 12:51] janbartel commented on #5914
@robozb any info or can this be closed?

[2022-02-21 13:05] robozb commented on #5914
Sorry but i didn't have enough time for analyze this

[2022-02-21 13:17] janbartel commented on #5399
To add more explanation to the above:

If a servlet/filter/listener is declared in a `metadata-complete` web fragment, when `quickstart-web.xml` is generated, we don't save the `metadata-complete` information for the fragment. A `quickstart-web.xml` is only `metadata-complete` if the `web.xml` is. This means that when it comes time to introspect the servlet/filter/listener for it's non-discovered

[2022-02-21 15:01] janbartel opened #7632 "Make jetty-10 amenable to testing with SNAPSHOT jsp jars"
**jetty-10**

Use the same `pom.xml` code as in jetty-11 to convert a `version` that may include `SNAPSHOT` into an osgi-acceptable form:

[code]

[2022-02-21 15:18] lorban commented on #7625
There seems to be a bug in our HTTP3 Settings frame parser as it rejects key 1 with a `new IllegalArgumentException("invalid reserved setting")` while the latest draft 34 states that it is valid:  https://datatracker.ietf.org/doc/html/draft-ietf-quic-http-34#section-11.2.2

We'll get this fixed, thank you for your report!

[2022-02-21 15:20] lorban commented on #7625
@sbordet do we both read the H3 spec the same way?

[2022-02-21 15:21] janbartel commented on #4834
I raised and fixed this issue over at the jetty-jasper project:  https://github.com/jetty-project/jasper-jsp/issues/93. Next time we do releases this fix will be present.

[2022-02-21 15:21] #4834 closed, assigned to janbartel

[2022-02-21 17:36] anca-jalbum opened #7634 "Module requestlog in 9.4 has discrepancies for the stated defaults"
**Jetty version(s)**
9.4.45

**Description**
Not really a "bug", but in module requestlog the defaults for jetty.requestlog.extended and jetty.requestlog.cookies as stated in [jetty-requestlog.xml](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/main/config/etc/jetty-requestlog.xml) are false. But in [requestlog.mod](https://github.com/eclipse/jetty.project/blob/jetty-9.

[2022-02-21 17:39] sbordet commented on #7625
@lorban @yschimke I read from the HTTP/3 specification ([here](https://datatracker.ietf.org/doc/html/draft-ietf-quic-http-34#section-7.2.4.1)):

   corresponding HTTP/3 setting have also been reserved
   ([Section 11.2.2](https://datatracker.ietf.org/doc/html/draft-ietf-quic-http-34#section-11.2.2)).  These reserved settings MUST NOT be sent, and
   their receipt MUST be treated as a connection er

[2022-02-21 17:42] sbordet commented on #7625
@lachlan-roberts so it is possible that a HTTP/3 `SETTINGS` is received with settings `0x01` and `0x07` (see https://datatracker.ietf.org/doc/html/draft-ietf-quic-qpack-21#section-5).

We currently do nothing upon receiving these QPACK settings.
Are there setters that I can call in the `Qpack[Encoder|Decoder]` APIs that will cause these settings to be effective?

[2022-02-21 18:11] joakime commented on #7634
The defaults in `requestlog.ini` are comments. (meaning they start with the `#` symbol).

They don't have any impact.

_Unless you uncommented them._

You can always use `--list-config` to see what your configuration is (including the properties that are active).

Eg:

[code]

[2022-02-21 18:13] joakime commented on #7634
Closing, as I see no conflict in behavior or expectations.

[2022-02-21 18:19] sbordet commented on #7625
I can confirm that _not_ rejecting setting `0x01` results in a successful request/response from `google.com`.

Waiting on @lachlan-roberts for APIs details.
Currently `maxBlockedStreams` is a final field in `QpackEncoder` -- does it need to send instructions to the other peer if we make it mutable (like `QpackEncoder.setCapacity()` does)?

[2022-02-21 18:39] anca-jalbum commented on #7634
I know they don't have any impact. It's just confusing when the comments usually states the defaults. It also conflicts with the documentation that says:

_"When a module is activated, a number of properties are set by default. To view these defaults, open up the associated ini file."_

And then further down:

_"To edit a property, first un-comment the line by deleting the # at the start of the li

[2022-02-22 00:09] #5100 closed, assigned to nobody

[2022-02-22 00:09] #5061 closed, assigned to nobody

[2022-02-22 03:57] lachlan-roberts commented on #7625
@sbordet for `SETTINGS_QPACK_MAX_TABLE_CAPACITY (0x1)` you should call `Encoder.setCapacity()`, this will send the capacity instruction to the remote `Decoder`.

But for `SETTINGS_QPACK_BLOCKED_STREAMS (0x7)` there is no associated QPACK instruction. I was assuming this would only be set once at creation and then not changed again, this is why it is an argument in the `QpackEncoder` constructor.

[2022-02-22 04:02] lachlan-roberts opened #7635 "QPACK decoder should fail connection if the encoder blocks more than SETTINGS_QPACK_BLOCKED_STREAMS"
Our `QpackEncoder` will not block more than `SETTINGS_QPACK_BLOCKED_STREAMS` streams.
But the `QpackDecoder` also needs to perform verification of this and fail the connection if this is violated.

https://datatracker.ietf.org/doc/html/draft-ietf-quic-qpack-21#section-2.1.2
[code]

[2022-02-22 06:09] lachlan-roberts commented on #5132
@sbordet We have cleaned up and improved `MultiPartInputStreamParser` to a new class `MultiPartFormInputStream`. But this issue is against the new `MultiPartFormInputStream` class.

@joakime can you be more specific of what still needs to be cleaned up in the new impl.

[2022-02-22 08:24] ecejnj42 commented on #7515
Hi

I have created a test that shows the error in detail.
[Jetty_Test.zip](https://github.com/eclipse/jetty.project/files/8114798/Jetty_Test.zip)
The test is included in attached project. To see the error just issue:

`mvn  test -Dtest=JettySimpleConnectionLimitTest`

All the details are in the readme of the project.
The test uses a custom pool that could be instructed to reject jobs with exceptio

[2022-02-22 08:31] lachlan-roberts commented on #5956
Seems to me that this is not an issue in later versions of Jetty. We have done some more recent work on alias checking and path decoding + canonicalization since `9.4.34`. After testing out `9.4.45` it seems that if I try to access `/foo/../file.txt` then I can access the file and the resource is not an alias.

But if you are still having issues with the resources being classified as aliases then

[2022-02-22 09:21] sbordet commented on #7608
@gregw cannot be a record as they cannot be subclassed, while `MetaData` needs to be subclassed.

Other than that, I would like to get consistent naming, for example `getFields()` should be renamed to `getHttpFields()` or `getHeaders()` because then we have the concept of `trailer(s)`.

* getFields() -> getHeaders()
* getTrailerSupplier() -> getTrailersSupplier() (plural)
* getURI() -> getHttpURI(

[2022-02-22 09:47] #7632 closed, assigned to janbartel

[2022-02-22 09:51] #7613 closed, assigned to joakime

[2022-02-22 10:34] Artur- opened #7636 "Potential memory leak in Jetty 10"
**Jetty version(s)**
10.0.8

**Java version/vendor**
Java version: 11.0.4, vendor: Oracle Corporation, runtime: /usr/lib/jvm/jdk-11.0.4

**OS type/version**
Linux

**Description**
When upgrading our PR validation from using Jetty 9.4.43 to use 10.0.8 we see a complete change in memory usage on our build agents.

With 9.4.43 the build agent performance looks like this
![image](https://user-images.g

[2022-02-22 12:15] gregw commented on #7636
A bunch of questions:
 + What version of maven are you using?
 + when the jetty-maven-plugin starts, does it deploy 1 or more webapps?
 + are the webapp(s) deployed as wars or run from built artifacts?
 + any special features that the webapps use? websocket?
 + are any classes from the server classpath loaded by the webapps?

[2022-02-22 12:39] janbartel commented on #7636
@Artur-  looking into this. In the meanwhile, I would like to point out that the https://github.com/vaadin/flow/blob/5de63fa4d25503f268f7fdfeacea71f6e02bd2e1/flow-tests/pom.xml#L189-L248 contains non-jetty-10 configuration for the jetty-maven-plugin. In particular, `<webAppConfig>` is no longer supported (it was actually deprecated ages ago), and for the `start` goal, the `<scanInterval>` paramete

[2022-02-22 12:43] Artur- commented on #7636
3.6.3

I think almost all of the test modules deploy 1 app

They are using the linked pom.xml configuration so no wars

Most of the test modules do not use anything special. A few use websockets.

Some webapps might do something special but most are just Vaadin Flow UIs that load Flow classes

[2022-02-22 12:44] Artur- commented on #7636
A comment on the original graphs. It seems like the Jetty 10.0.0 graph is cut so it might be that this is actually the first problematic version

[2022-02-22 12:46] Artur- commented on #7636
Thanks, I remove `scanInterval` as it is not needed. Let's see if changing `webAppConfig` to `webApp` makes any difference for the tests

[2022-02-22 13:02] janbartel commented on #7344
Need to reopen this issue:  when using the JettyStopMojo from in the same process (ie bound `stop` to a build phase for non-forked jetty execution), cannot call `Process.onExit()` .

[2022-02-22 15:54] Artur- commented on #7636
Ok so Jetty 10.0.0 has some other issue that causes one of our tests to fail. With Jetty 10.0.1 and the fixed `webApp` tag the build agent still crashed with out of memory
![image](https://user-images.githubusercontent.com/260340/155169266-522eda14-7f8f-4392-8d09-0783a185a54e.png)

[2022-02-22 16:41] janbartel commented on #7636
@Artur- can you confirm which version of jetty is first to exhibit the memory issue, is it 10.0.0 or is it 10.0.1?

Is there any chance to analyze the heap dump and see what is hogging the memory?

[2022-02-22 23:09] #5956 closed, assigned to joakime

[2022-02-23 00:00] #5055 closed, assigned to nobody

[2022-02-23 00:00] #5032 closed, assigned to joakime

[2022-02-23 02:06] olamy commented on #7636
@Artur- interesting. do you have similar result using last Maven version?

[2022-02-23 07:35] gregw opened #7638 "Jetty-12 Structure"
**Target Jetty version(s)**
Jetty-12
**Enhancement Description**

On consideration, I don't think we have the structure in jetty-12 correct yet.  Specifically I don't think we should move the `Server` and core `Handler` classes to a `core` package.   The `Server` needs to be our primary front line class and should live where it always has at `org.eclipse.jetty.server.Server`.     The consequence o

[2022-02-23 07:38] gregw commented on #7638
@joakime @olamy I've assigned to you to think about the mechanics of this, including how the deployer might work.
@janbartel @lachlan-roberts @sbordet @lorban your thoughts?

[2022-02-23 08:47] janbartel commented on #7638
The code reads pretty well, particularly for those coming from previous versions of jetty.  Do you intend that the `org.eclipse.jetty.server.Server` would exist in an artifact called `jetty-core` or `jetty-server`? If the former, then it's a little weird that `core` would not be mentioned in the package.

I'll have to have a further think about the implications for eg `SessionHandler`, particularl

[2022-02-23 08:56] #7625 closed, assigned to lorban

[2022-02-23 09:02] gregw commented on #7638
@janbartel in this vision of things there is no core!

[2022-02-23 09:26] janbartel commented on #7636
FWIW I've run `jetty:run` against one of our standard webapps and reloaded it multiple times and that doesn't show any memory leak. It's not quite analogous to your situation, but it's a good datapoint. I will try with a multimodule project that binds `start` and `stop`, but that's quite a bit of work to create, so will take some time.

Any more information from your end would be helpful in pinpoi

[2022-02-23 09:35] Artur- commented on #7636
I am sorry but I think I have to disappoint you all. There does not seem to be any interesting memory leak in Jetty 10.

After further digging and thanks to the comment by @janbartel about pom.xml containing old tags I realized that the system properties in pom.xml are also defined using the old syntax. One of these properties is critical for the modules to do proper cleanup after running the test

[2022-02-23 09:58] janbartel commented on #7636
@Artur- glad to hear that you've found the problem! I have been running various memory tools on a multimodule project I created but haven't been able to demonstrate any memory leak.

I don't think there's any way to detect old parameters, as the way maven works, it just ignores any configuration that it can't match to a plugin (ie can't find a field or setter that matches the name).  Maybe @olamy

[2022-02-23 11:20] joakime commented on #7638
I always envisioned this as the "end-game" of `/jetty-core/`.

Step 1: prove out jetty-core-server
Step 2: convert the rest of /jetty-core/ to use this new structure to validate step 1
Step 3: rename jetty-core-server and org.eclipse.jetty.core.server to the original names.
Step 4: work on the the ee10 and ee9 trees.

[2022-02-23 11:21] joakime commented on #7638
I would encourage us to move away from URLClassLoader, as the changes coming in on newer JDK releases means we will have a new class of file locking issues on windows.
(Once a specific JAR is loaded into a URLClassLoader it is now locked from being loaded by any other URLClassLoader).

[2022-02-23 11:46] olamy commented on #7638
Something not clear, in my mind my understanding was this mix will not be possible in embedded mode but only when using distribution which may have a different mechanism of class loading.
Not sure how users will build a project with such both dependencies:
- ee10/servlet-api-6.0.jar
- ee10/servlet-api-4.0.jar

most of the tools (Maven, Gradle etc..) will not be able to manage to have both and buil

[2022-02-23 11:54] joakime opened #7641 "Fix hawtio.mod"
**Target Jetty version(s)**
9.4.45, 10.0.8, 11.0.8

**Enhancement Description**
The hawtio.mod has some odd configuration, not following precedent on our module system.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.45.v20220203/jetty-home/src/main/resources/modules/hawtio.mod#L23-L36

https://github.com/eclipse/jetty.project/blob/4a0c91c0be53805e3fcffdcdcc9587d5301863db/jetty-home/src/m

[2022-02-23 11:59] joakime commented on #7634
That documentation is old and needs to be fixed.

The `ini-template` has evolved so much since that was written.
It's not possible to list all defaults in the ini-template, nor has the changes in the XML to support complex defaults or hierarchical defaults kept up with that 1 line in the documentation.
Most of the defaults in `jetty-10.0.x` are actually in the code, NOT in the ini-template or XML.

[2022-02-23 12:04] joakime commented on #7638
@olamy if they have a need for multiple ee levels at the same time, they'll need to manage it from the the raw jar level on disk, not a formal dependency on a build tool.

Think something like ...

[code]

Their main-server/ will have to use something like `dependency:copy` (with a plugin local dependency) of `legacy-webapp/` into place before the server can execute.

Those kinds of advanced setup

[2022-02-23 12:13] olamy commented on #7638
Sure everything is possible but what a complicated stuff to managed for those users.. and definitely not a build trick to recommend.

[2022-02-23 12:15] edbotdev opened #7642 "The Access-Control-Allow-Private-Network CORS header recently introduced in Google Chrome"
**9.2.26+**

**OpenJDK 17**

**Windows 10**

Getting an error message when a remote page tries to access a local Jetty Web server on 127.0.0.1:8080 -

"Access to XMLHttpRequest at 'http://127.0.0.1:8080/api' from origin 'https://scratch.ed.bot' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Private-Network' header was pres

[2022-02-23 12:27] joakime commented on #7642
The google announcement ...

https://developer.chrome.com/blog/private-network-access-preflight/

[2022-02-23 12:28] joakime commented on #7642
There is no support in CrossOriginFilter for this new `Access-Control-Allow-Private-Network: <bool>` header (currently).

[2022-02-23 14:55] gregw commented on #7638
@olamy I think `ee8/servlet-api-4.0.jar` and `ee10/servlet-api-6.0.jar` will be fine, because they are "javax.*" and "jakarta.*" and accessible via different groupIds.  It is ee9 and ee10 that will not be able to live in the same project together, so as @joakime says it will have to not be a formal build tool dependency.   From the servers point of view it will just see a `? extends ContextHandler