[2022-11-13 03:56] #6028 closed, assigned to nobody

[2022-11-13 08:38] gregw commented on #8892
and a blog as well!

[2022-11-13 22:51] lachlan-roberts commented on #8864
Using the streaming message reads uses a separate thread to be dispatched with `InputStream` or `Reader` message argument then you can consume the input stream as the message is delivered asynchronously. This is not particularly suited for shorter messages.

You are better off using the partial message handlers if possible, which requires no accumulation or extra threads from Jetty.

[2022-11-14 08:30] jarnegr commented on #8879
I don't think the connections are using the `permessage-deflate` extension, but will check when updating to `10.0.x`. Will post in the coming days if this resolved the issue.

[2022-11-14 13:08] jarnegr commented on #8879
@lachlan-roberts Am I able to upgrade to `10.0.x` wtihout upgrading the websocket packages? Or am I looking in the wrong places for these updates. The only ones I can find are the normal jetty packages, not the jetty-websocket packages.

[2022-11-14 13:08] jarnegr commented on #8879
Wrong button, my bad

[2022-11-14 13:09] jarnegr commented on #8879
@lachlan-roberts Am I able to upgrade to 10.0.x wtihout upgrading the websocket packages? Or am I looking in the wrong places for these updates. The only ones I can find are the normal jetty packages, not the jetty-websocket packages.

[2022-11-14 13:28] boughtonp opened #8895 "Generate downloadable version of javadocs documentation in website deploy script"
**Jetty version(s)**
all

**Description**

As per discussion on mailing list, please update the script that generates https://www.eclipse.org/jetty/javadoc/ to also create a downloadable archive for current/supported versions of Jetty.

[2022-11-14 14:25] #8678 closed, assigned to nobody

[2022-11-14 14:40] joakime commented on #8879
@jarnegr all jetty versions must be kept in lock-step, sorry.

[2022-11-14 14:45] joakime commented on #8879
WebSocket dependencies on Jetty 10.x

Core

 * Client -> https://search.maven.org/artifact/org.eclipse.jetty.websocket/websocket-core-client
 * Server -> https://search.maven.org/artifact/org.eclipse.jetty.websocket/websocket-core-server

Jetty WebSocket

 * API -> https://search.maven.org/artifact/org.eclipse.jetty.websocket/websocket-jetty-api
 * Client -> https://search.maven.org/artifact/org.e

[2022-11-14 14:57] joakime commented on #8895
Most IDEs will provide the javadocs natively if you are using the Jetty dependencies from any build tool (of many) or build repository (of many).

The javadoc's are already available on Maven Central for every artifact that is present on Maven Central  - a feature that is mandated by Maven Central btw.

Our aggregate javadoc does not contain everything that exist as produced by Jetty on Maven Cent

[2022-11-14 14:59] joakime commented on #8895
This will become even more ridiculous with Jetty 12.
I don't think we can have the ENV sub-sections present in the same Javadoc at all (too many conflicting names at different versions).

[2022-11-14 15:02] joakime commented on #8895
@jmcc0nn3ll its a shame we can't just deploy the `/javadoc/` project to maven central (the maven central rules will reject it as it contains references to classes that are not in the non-javadoc jar)

[2022-11-14 15:04] joakime commented on #8895
@jmcc0nn3ll we have a [`/org/eclipse/jetty/documentation/` groupId](https://repo1.maven.org/maven2/org/eclipse/jetty/documentation/) already, perhaps we should revive it and have it be a pom project that just builds a zip including the adoc and javadoc aggregate during the build?

[2022-11-14 17:44] boughtonp commented on #8895
This isn't one of those "I want full Jetty" requests.

I use jetty-home (in home/base setup), and when I'm trying to do something new I first check the regular documentation, but this is frequently incomplete or references the relevant class in the online javadoc, where further details can often by found.

Thus I want to also be able to read those pages when offline, and assumed there would alread

[2022-11-14 17:45] joakime commented on #8817
Staged `9.4.50.v20221107` has been dropped.

[2022-11-14 17:46] joakime commented on #8877
Recent k9s changes have made this stable again. Dropping my branch.

[2022-11-14 17:46] #8877 closed, assigned to olamy

[2022-11-14 19:17] joakime commented on #8895
so far today, i've tried ...

Making `jetty-home` have an optional `-with-docs` classified object with the adocs + javadocs.
 - This isn't possible, as it introduces a circular dependency loop `[ERROR] The projects in the reactor contain a cyclic reference: Edge between 'Vertex{label='org.eclipse.jetty:javadoc:10.0.13-SNAPSHOT'}' and 'Vertex{label='org.eclipse.jetty:jetty-maven-plugin:10.0.13-SNAP

[2022-11-14 19:18] joakime commented on #8895
Perhaps making the `/javadocs/` artifact not a jar file (eg: a zip or tar.gz) should skip the maven central requirements?
AND perhaps fix the circular dependency loop?

[2022-11-14 21:11] joakime opened #8896 "Flaky Test - org.eclipse.jetty.http2.tests.TrailersTest.testTrailersSentByServerShouldNotSendEmptyDataFrame"
**Jetty version(s)**
Jetty 12

**Description**

_Stacktrace_

[code]

_Standard Error_
[code]

[2022-11-14 21:14] gregw commented on #8895
Whilst we seek the best way to make such a javadoc aggregate easily accessible....
a simple way to get the javadoc offline is to checkout the source and build the javadoc:javadoc target.   Note also that your IDE should be able to download all the javadocs for your projects dependencies.

[2022-11-14 21:16] jmcc0nn3ll commented on #8895
This is why we can do it when we generate the Javadoc for the website, we have it right there, just tarball it and link it on the downloads page.

[2022-11-14 21:32] gregw opened #8897 "Update Conditional request handling for RFC7232"
**Jetty version(s)**
10, 11, 12

**Enhancement Description**

[RFC7232 3.3](https://www.rfc-editor.org/rfc/rfc7232#section-3.3) says:

and [RFC7232 3.44](https://www.rfc-editor.org/rfc/rfc7232#section-3.4) says:

Currently we fall through to handling the older style header if etags is not known or the previous condition passes.
We MUST respect rfc7232 in this regard.

[2022-11-14 22:24] lachlan-roberts commented on #8879
There is a `9.4` -> `10.0` websocket migration guide in the documentation:
https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-migration-94-to-10

[2022-11-15 03:39] prathamk commented on #8678
@sbordet Would not be able to try the fix in Jetty 10.x as currently we are on Java 8.x. Is there any plan to down merge it in Jetty 9.x?

Thanks for the support.

[2022-11-15 04:22] gregw commented on #8678
Jetty 9.x is now at End of Community Support.

Announcement for End of Community Support for Jetty 9.x #7958

[2022-11-15 08:52] sbordet commented on #8678
@prathamk this particular change has been backported to Jetty 9.4.x because the work has been sponsored by a Webtide customer that had a similar issue.

However, consider moving away from Jetty 9.4.x and Java 8. Webtide can help you with the migration.

[2022-11-15 18:48] sbordet commented on #8896
Fixed by 557490e437778527e8a10ab14762018ee13844e5.

[2022-11-15 18:48] #8896 closed, assigned to sbordet

[2022-11-15 20:57] gregw commented on #8790
See also discussion at https://github.com/eclipse/jetty.project/pull/8767#discussion_r1016457778

[2022-11-15 21:26] gregw commented on #8790
@lachlan-roberts @sbordet @joakime @lorban I'm just re pitching the need for an async API in resources in this comment.  It is a distillation of what I think after all the conversations above (and elsewhere):

One of the goals of the refactoring that has been done on the `ResourceService` in Jetty-12 is to move complexity out of the core service into optional components - primarily the `HttpConten

[2022-11-16 02:16] olamy opened #8901 "jetty-documentation is using hardcoded 8080 port"
When building `jetty-documentation` this logs shows a usage of hardcoded port
[code]

[2022-11-16 03:48] prathamk commented on #8678
Yeah, backlog for 2023 :)

Thanks @sbordet for the update and support.

[2022-11-16 11:19] sbordet commented on #8901
@olamy as we are running in a container, binding to 8080 should always be possible.
Seems like a container/configuration problem of the build environment to me.

[2022-11-16 11:28] olamy commented on #8901
`failing` locally because I have something already using port 8080 locally.
The issue is the quiet failure. As we are going to integrate the documentation in the release tarball we need to be sure we do not include bad documentation.

[2022-11-16 15:58] sbordet commented on #8863
@dzikoysk can you try branch `fix/jetty-10-configure-virtual-threads` and see if it fits your needs?

[2022-11-16 17:24] sbordet commented on #8750
@danrohrer can you check whether #8904 works for you?

[2022-11-16 17:42] sbordet commented on #6884
I see that the decrypted endpoint is CLOSED, which is strange.
Also, maybe #8719 is related?

[2022-11-16 20:10] markslater opened #8905 "GzipHandler fails to set Vary header on 304 responses"
**Jetty version(s)**
11.0.12

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu220.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu220.04, mixed mode, sharing)

**OS type/version**
Linux 5.4.0-120-generic

**Description**
RFC 9110 [states](https://www.rfc-editor.org/rfc/rfc9110#name-

[2022-11-16 20:14] danrohrer commented on #8750
This code change is exactly what we’ll need. I am not currently able to build and test the actual code change at this time, but if that’s a requirement, I’ll need a few more days to coordinate and confirm. Once approved for merge, will this change be pushed into jetty-11.0.x as well? We will be moving to that jetty release in the coming months.

Thanks,
Dan Rohrer
Siemens PLM Software

From: Simon

[2022-11-16 20:27] sbordet commented on #8750
Yes, we'll merge the PR to Jetty 10 and then merge forward to Jetty 11 and Jetty 12.

[2022-11-16 20:33] joakime commented on #8905
Opened PR #8906

[2022-11-16 20:37] joakime opened #8907 "RFC9110 - GzipHandler must produce `Content-Location` header on 304 response?"
**Jetty version(s)**
Jetty 10+

**Description**
When working Issue #8905 about the `Vary` header in 304 responses, I noticed a curious header called `Content-Location`.

See RFC9110, and the `Content-Location` header - https://www.rfc-editor.org/rfc/rfc9110#field.content-location

Seems that when the GzipHandler produces a 304 (Not Modified) it MUST produce a `Content-Location` response header?
ht

[2022-11-16 20:37] joakime commented on #8907
@gregw what do you think?

[2022-11-16 20:47] #8750 closed, assigned to nobody

[2022-11-17 01:19] smohan25 opened #8908 "Jetty ThreadPool CLOSE_WAIT causing server to hang"
**Jetty version(s)**
jetty-server-9.2.28.v20190418

**Java version/vendor** `(use: java -version)`
Java 11

**OS type/version**
Linux

**Description**
We have a server that is using jetty as its http server to accept rest requests. During very specific high loads (client connections closed prematurely), we notice that jetty thread pool has all its threads waiting, we see a bunch of CLOSE_WAIT conn

[2022-11-17 01:27] #8897 closed, assigned to gregw

[2022-11-17 02:24] gregw commented on #8908
Jetty-9 is end of community support (see #7958)
Note that you are using an old release of jetty-9 and you could try 9.4.49 to see if the problem has been resolved (or better yet, try jetty-10, which is still supported).

We would only look at jetty-9.2 issues with commercial support.

[2022-11-17 02:24] #8908 closed, assigned to nobody

[2022-11-17 03:03] gregw commented on #8907
I think that we never generate a `Content-Location` header with any of our 200 responses, so we therefore meet the criteria of "MUST generate any of the following header fields that would have been sent in a 200 (OK) response".    I.e since we don't generate in a 200, then we don't need to generate in a 304.

Besides, the GzipHandler never produces a 304, it only reacts if something else produces

[2022-11-17 10:08] flozano opened #8910 "in Jetty 12, Request class methods gone or became unusable from outside"
**Jetty version**
jetty 12.0.0.alpha2

**Java version**
OpenJDK 17.0.5

**Question**
in `Request` class, `getRemoteHost` / `getRemoteAddr`/ `getServerName` / `getLocalPort` became static and package-private.

`getRemoteUser` is gone.

I used these instance methods to apply a custom request logging, but by going package-private I would have to reimplement (copy?) such logic, which is far from ideal

[2022-11-17 10:59] sbordet commented on #8910
The `static` methods are not package private, they are `public`.

[2022-11-17 11:45] flozano commented on #8910
you're right. getRemoteAddr, getServerName, getLocalPort became public static (reading the source I didn't notice I was looking at an *interface* :facepalm: )

getRemoteHost, getRemoteUser and getProtocol are gone.

(also, in Response, getLongContentLength is gone)

[2022-11-17 12:48] joakime commented on #8907
Could this be a possible requirement for `ResourceService` then?  that produces a 304.

[2022-11-17 12:52] joakime commented on #8908
To add to this, Jetty 9.2.x series was declared End of Life back in 2018.

[2022-11-17 14:17] sbordet commented on #8910
Closing as answered.

[2022-11-17 14:17] #8910 closed, assigned to nobody

[2022-11-17 15:43] joakime commented on #8910
The core `Request` object has nothing to do with the Servlet API now.
In fact, there's no Servlet API in the entire `/jetty-core/` layer.

* `getRemoteHost()` is just taking the `getRemoteAddr()` and normalizing it. (`String remoteHost = HostPort.normalizeHost(Request.getRemoteAddr(request))`)
* `getRemoteUser()` is a side effect of having an Authentication configured on the Servlet API, since the

[2022-11-17 15:47] amartya10 commented on #8883
Thanks @sbordet
closing

[2022-11-17 15:47] #8883 closed, assigned to nobody

[2022-11-17 16:48] joakime commented on #8910
As for `Response.getContentLengthLong()` that isn't implemented.

Mainly because HTTP/1.x has a `Content-Length` header, and HTTP/2, and HTTP/3 does not.
You can ask for the HTTP/1.x header via `response.getHeaders().getField(HttpHeader.CONTENT_LENGTH).getLongValue()` if you so desire.
Be aware that when you ask for it matters, as sometimes a handler sets it (early), sometimes the implementation s

[2022-11-17 17:41] #8895 closed, assigned to jmcc0nn3ll

[2022-11-17 17:59] jllanes3 commented on #2380
This is still a problem. Thread gets stuck there waiting for a signal that never comes. Repro is as follows:
- Start a simple Dropwizard application with version 2.1.4, which brings in jetty 9.4.49.v20220914.
- Using a Netty client, make a GET to a resource that returns a large amount of data from Jetty, but on Netty client side, do not read any more data after a certain point. This will get TCP b

[2022-11-17 18:34] flozano commented on #8910
thanks a lot, this was very helpful.

[2022-11-17 19:27] jllanes3 opened #8911 "HttpWriter.write blocks indefinitely"
**Jetty version(s)**
_[Jetty 9.x is now at End of Community Support](https://github.com/eclipse/jetty.project/issues/7958)_
9.4.5.v20170502

**Java version/vendor** `(use: java -version)`
8

**OS type/version**
MacOS

**Description**
See last comment here:
https://github.com/eclipse/jetty.project/issues/2380

**How to reproduce?**
(see last comment in closed issue above)

NOTE: We can close this o

[2022-11-17 19:31] joakime commented on #8911
Jetty 9.x is now at End of Community Support.

* #7958

[2022-11-17 19:31] #8911 closed, assigned to nobody

[2022-11-17 21:43] chefchefchef opened #8912 "Jetty's use of `java.util.ServiceLoader$Provider` breaks on Android (as it is not present)"
**Jetty version(s)**
Jetty 11

**Java version/vendor** `(use: java -version)`
Dalvik

**OS type/version**
Android SDK 33

**Description**
With Javalin 4 (Jetty 9) and Android I had no problems. After migrating to Javalin 5 (Jetty 11) my server doesn't startup anymore. in JDK 11 I can find the missing class ([ServiceLoader$Provider](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/

[2022-11-17 21:52] joakime commented on #2380
@jllanes3 lets take a look at your stacktrace ...

[code]

That's a Jersey 2.37 class.

Found here -> https://github.com/eclipse-ee4j/jersey/blob/2.37/containers/jersey-servlet-core/src/main/java/org/glassfish/jersey/servlet/internal/ResponseWriter.java

That class uses standard OutputStream behaviors, which is blocking.
It does not appear to be using Servlet Async I/O (which is non-blocking).

If

[2022-11-17 22:02] joakime commented on #8912
We cannot fix this.

`java.util.ServiceLoader.Provider` was added in OpenJDK 9.

https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/ServiceLoader.Provider.html

There many components that rely on this, and Jetty is only a small part of this reliance.
This is problem outside of our control, and seems to be entirely within Android, or your use of the Android SDK.

Looking at the

[2022-11-17 22:08] joakime commented on #8912
Closing, this works for others on Android.
You have to configure your project to compile on Java 11.
This error only shows up if you haven't done that properly.

[2022-11-18 10:06] sbordet opened #8913 "Review Jetty XML syntax to allow calling JDK methods"
**Jetty version(s)**
10+

**Description**
Jetty XML syntax allow to call methods of any class via reflection.

However, when calling JDK methods, they may return JDK-private implementation classes that are not accessible from Jetty code.
This surfaced in particular while working on #8863, where a new Jetty module for the thread pool that supports virtual threads need to call JDK methods that retur

[2022-11-18 17:52] boughtonp opened #8916 "Jetty 10 ignoring custom HTTP reason phrase"
**Jetty version(s)**
10.0.12 and 10.0.7

**Description**
With Jetty 9, setting HTTP reason phrase worked, with Jetty 10 it is being ignored.

**How to reproduce?**

The following code should result in a HTTP status line of "HTTP/1.1 201 Custom Message":

	<cfscript>
		cfheader( statuscode=201 , statustext='Custom Message' );
	</cfscript>

It works in Jetty 9.4.44, but in Jetty 10.0.7 and 10.0.12 t

[2022-11-18 18:36] #8913 closed, assigned to sbordet

[2022-11-18 19:07] sbordet opened #8917 "Jetty 12 - Improve method lookup in XmlConfiguration"
**Jetty version(s)**
12+

**Description**
Following #8915, the XML has become a little more verbose in those cases where there is need to invoke a method on a JDK private implementation class.

@joakime pointed out that if we do class hierarchy lookup and interface hierarchy lookup, and put the interface methods before the class methods in the correct order (the ones more up in the hierarchy first

[2022-11-18 19:08] sbordet commented on #8917
@gregw thoughts?

[2022-11-18 19:23] sbordet commented on #8916
The HTTP status code "reason" is optional in HTTP semantic (https://www.rfc-editor.org/rfc/rfc9110#section-15.1) and completely dropped by HTTP/2 and HTTP/3.

Anything relying on the "reason" would not work when using HTTP/2 and HTTP/3, so better stick on the status code only.

If you really need to deliver custom data, either use a custom header or response content.

[2022-11-19 00:46] joakime commented on #8916
Also, the `HttpServletResponse.setStatus(int, String)` method that cfheader is using is deprecated.

https://github.com/jakartaee/servlet/blob/4.0.4/api/src/main/java/javax/servlet/http/HttpServletResponse.java#L292-L303

Specifically because the reason message is optional and has different meaning in different situations.

[2022-11-19 06:39] sanjerai commented on #8724
I would like to add to this thread , same as informed to spring team in [comment](https://github.com/spring-projects/spring-framework/issues/29360#issuecomment-1318192189), that in our testing we see that the redirection for HTTP2 calls are working fine with **spring + netty** as implementation.

We are not sure at this moment if the redirection failure for **spring + jetty** is some implementatio

[2022-11-20 00:00] #6966 closed, assigned to nobody

[2022-11-20 00:00] #6963 closed, assigned to nobody

[2022-11-20 01:51] gregw commented on #8917
I think this is a reasonable approach.  Note that we shouldn't mind there expenses, simply search the interface and class hierarchy for the first accessible method matching the signature.

[2022-11-20 22:02] #8721 closed, assigned to janbartel

[2022-11-21 02:21] KatherinaEinhorn opened #8920 "Invalid"
*Invalid*

[2022-11-21 02:23] olamy commented on #8920
this issue template can be used only by Jetty developers.

[2022-11-21 02:23] #8920 closed, assigned to nobody

[2022-11-21 04:36] janbartel opened #8921 "Normalization of resources incorrect for quickstart in jetty-12"
**jetty-12**

`AttributeNormalizer` changed in jetty-12 to normalize files/uris/resources relative to the set of base resources for a webapp. Previously, normalization was only performed relative to the single "root" base resource. Resolving against all of the base resources leads to incorrect substitutions.

For example, given a fragment jar in `WEB-INF/lib/demo-web-fragment-11.0.13-SNAPSHOT.jar`

[2022-11-21 14:39] #8863 closed, assigned to sbordet

[2022-11-21 14:56] dzikoysk commented on #8863
Thanks, I like that I can pass my own instance of `Executor` now, so it solves that issue for me :)

[2022-11-21 16:23] #8905 closed, assigned to joakime

[2022-11-21 16:40] joakime opened #8923 "Update FileID.getExtension() behaviors to match new JDK 20 Path.getExtension() behaviors"
**Jetty version(s)**
Jetty 12

**Enhancement Description**
Now that we have various `FileID.getExtension(*)` implementations.
We should align it's behavior with the JDK 20 Path.getExtension() API behavior.

https://bugs.openjdk.org/browse/JDK-8057113

[2022-11-21 20:16] #8892 closed, assigned to nobody

[2022-11-21 21:22] joakime commented on #8923
Per discussion on mailing lists, some examples of expected returns on JDK 20.

Input | Result
---- | ----
`"foo.tar.gz"` | `"gz"`
`"foo.bar"` | `"bar"`
`"foo."` | `""`
`"foo"` | null
`".bar"` | null

[2022-11-22 14:24] joakime commented on #8923
Merged into `jetty-12.0.x`

[2022-11-22 14:24] #8923 closed, assigned to joakime

[2022-11-22 18:12] sbordet commented on #7650
I think the loop should not test for `isEmpty()`, but just trying to `poll()` until it sees `null` -- a job can be stolen while stopping.

@dzoech care to submit a pull request?

[2022-11-22 23:49] joakime opened #8926 "HttpClient GZIPContentDecoder should remove Content-Length and Content-Encoding: gzip"
**Jetty version(s)**
Jetty 10 / 11 / 12

**Description**
When the Jetty HttpClient's `GZIPContentDecoder` modifies the response and decodes a GZIP'd response automatically, it should remove the response `Content-Length`, `Content-Encoding`, and `Transfer-Encoding` response headers.

[2022-11-23 02:47] #8460 closed, assigned to nobody

[2022-11-23 02:56] gregw opened #8929 "Jetty-12 Review Handler/Processor design"
**Jetty version(s)**
12

**Background**

This issue is to discuss some alternatives to #8793, which whilst initially inspired by reusable Processors, was ultimately a PR about cleaning up some strange aspects of the current jetty-12 API.

**The Current Design**

The current design of `Handler` and `Request.Processor` is designed to:
 + allow for a blocking phase of calling the `Handler` tree to de

[2022-11-23 05:49] lachlan-roberts opened #8930 "get NoSuchMethodException ofVirtual when building project"
**Jetty version(s)**
10.0.x

**Java version/vendor** `(use: java -version)`
Java version: 17.0.4, vendor: Eclipse Adoptium

**Description**
Error when building project I think its from the documentation. Still get a green build but see the following error message.

[code]

[2022-11-23 08:56] lorban commented on #8929
Throwing in some other API idea:

[code]

[2022-11-23 09:28] sbordet commented on #8929
@lorban I think we tried the idea `Response r = request.accept()` at a certain point, but we discarded it.
Also, it is going to be a pain to wrap the callback (happens often) because you now need to wrap the response (happens rarely), which means that you have to wrap the request to override `Request.accept()`.

[2022-11-23 11:37] cowwoc commented on #8584
@sbordet I think you're right. Upon digging further into the issue I noticed that the problem went away if I switched from thread-per-request to a fixed-size thread pool. Eventually this led me to the discovery of a memory leak in the JDK as well as in IDE I was using. Here are the relevant links in case anyone else is interested:

https://youtrack.jetbrains.com/issue/IDEA-305072
https://bugs.open

[2022-11-23 11:41] joakime commented on #8930
The CI builds for Jetty 10 and 11 are green on JDK 17

[2022-11-23 15:58] sbordet commented on #8929
Another problem.
A handler that wants to add response headers would need to store the additional headers into a `HttpFields`, then wrap the response to "merge" those new headers with existing ones, which means that `Response.getHeaders()` must be called before the request is accepted.

And so the response can now be "touched" before the request is accepted, but only certain methods like `Response.

[2022-11-23 19:14] sbordet commented on #8929
#### Current model
Pros
* More flexible API
  * Allows to do things between `handle()` and `process()`
* API results in cheaper implementations
  * For example `GzipHandler` does not do all the work if no descendant `Handler` handles the request
* Less error prone about using the `Response` and `Callback` -- they are only available in `Processor`
* Clear non-racy model between `handle()` and `proc

[2022-11-23 20:51] gregw commented on #8929
Sure it it better to hide these instances before they are used, but even with separate handle/process they can be misused.
We already have the state inside the HttpChannel to enforce they are not used if we want.

Note that in current jetty<12, we do have handlers that set response headers without producing a full response. Allowing later handlers to complete.  I guess the only difference is that

[2022-11-23 23:44] lachlan-roberts commented on #8930
The build is still green but this exception comes up in the logs when building even on JDK17

[2022-11-24 03:04] gregw commented on #8929
@sbordet @lorban So thinking about how to implement handlers that want to modify response headers I can see a couple of options:
- We can do as in jetty 9/10/11 and just let handlers modify response headers even if they don't know if subsequent handlers have accepted the request or not.
- We can do a little be better than 9/10/11 and if not accepted those handlers could reverse their changes.
- Th

[2022-11-24 06:01] gregw commented on #8929
I think there is also an interesting use-case for wrapping accept in `StatisticsHandler`, as by taking a time stamp in a wrapped accept, we can differentiate between latency in navigating the Handler tree looking for something to accept the request and the latency actually processing and producing the response.   This is analogous to the time in handle vs time in process.

So I'm not thinking that

[2022-11-24 09:09] sbordet commented on #8930
@lachlan-roberts there is no way around. In order to document virtual threads, we need to run the documentation with Java 19.
We have updated the release profile to require at least Java 19 now.
Please review #8932.

[2022-11-24 09:14] dzoech commented on #7650
Sure, I'll follow up with a PR in the next couple of weeks.

[2022-11-24 10:12] sbordet opened #8936 "Jetty 12 - Jetty client library optimizations"
**Jetty version(s)**
12+

**Description**
Umbrella issue for optimizations to be applied to the client library after #8739.

[2022-11-24 10:18] sbordet commented on #8936
### Item 1
Currently response listeners are modeled as `List<Response.ResponseListener>`, but then we always need to extract the content listeners and treat them specially.
So perhaps we need to reify the `List` into a proper class, so that we can use it without having to extract the content listeners all the times.
The `ResponseNotifier` right now does a lot of `instanceof` which I'm not sure the

[2022-11-24 10:23] sbordet commented on #8936
### Item 2
`HttpReceiver.responseXYZ()` methods now always create an allocating lambda.
To avoid this, we can create a `ResponseBeginTask implements Runnable` class, so that `responseBegin()` becomes:

[code]

And similarly for all other events.

[2022-11-24 10:38] sbordet commented on #8936
### Item 3
`HttpReceiver.DecodingContentSource` and `GzipRequest.GzipTransformer` look line-by-line almost identical.
Can we factor them out into `jetty-http`?

[2022-11-25 00:55] Jakester78 commented on #8926
What's all this mean  what do I need to do to cash out and repurpose

[2022-11-25 01:02] Jakester78 opened #8937 "How or what do I need to do to start generating in a wallet I can accially use what do I need to do"
**Jetty version**

**Java version**

**Question**
How or what do I need to do to start generating in a wallet I can accially use what do I need to do so it all running smoothly to my wallet to repurpose?

[2022-11-25 05:22] lachlan-roberts commented on #8937
You need to be more specific, this doesn't seem to have anything to do with Jetty.

[2022-11-25 05:22] #8937 closed, assigned to nobody

[2022-11-25 06:59] lachlan-roberts commented on #8930
Ok, so you must build the project with JDK19+ or expect to see this error when building.

[2022-11-25 06:59] #8930 closed, assigned to nobody

[2022-11-25 08:48] jhoeller opened #8938 "API compatibility between Jetty 11 and 12: org.eclipse.jetty.server.Request/Response#getHeaders()"
For Spring Framework 6.0's core Jetty integration in WebFlux, we interact with `org.eclipse.jetty.server.Request#getHttpFields()` and `org.eclipse.jetty.server.Response#getHttpFields()` in Jetty 11 which changed to `#getHeaders()` in Jetty 12.

Trying to avoid reflection for supporting both versions of Jetty, is there any chance you could keep providing `#getHttpFields()` in Jetty 12 (in deprecate

[2022-11-25 15:57] sbordet commented on #8938
@jhoeller we can certainly introduce `Request.getHeaders()` in Jetty 11, but would that be all you need to integrate also Jetty 12?

Can you point out what Spring code exactly you refer to, so we can take a look as well and perhaps suggest alternatives, if any?

[2022-11-25 17:06] goodale opened #8939 "getting malformed DTD error for configure.dgtd"
**Jetty version(s)**
Jetty 11.0.12

**Java version/vendor** `(use: java -version)`
17  Adoptium JDK

**OS type/version**
Linux/Windows

**IDE**
Spring Tool Suite 4.16.1 (Eclipse 4.25.0)

**Description**

I am getting the warning in jetty-plus.xml, **"The markup declarations contained or pointed to by the document type declaration must be well formed"**

I have the following in /src/test/config/jet

[2022-11-25 17:43] sbordet commented on #8939
What if you use:

[code]

[2022-11-25 17:47] goodale commented on #8939
That works!  Prior to submitting the issue I tried https://www.eclipse.org/jetty/configure_11_0.dtd  but got a 404.

I'll leave the issue open as I presume this means the DTD file is missing as part of the v11 branch and/or deployment to Eclipse.org

[2022-11-25 23:19] sbordet commented on #8939
There is no `configure_11_0.dtd` since version 10 is the most updated one.

[2022-11-25 23:19] #8939 closed, assigned to nobody

[2022-11-26 00:00] #7010 closed, assigned to nobody

[2022-11-26 16:11] jhoeller commented on #8938
@sbordet that would be all we need indeed, on both `Request` and `Response`. We would simply require Jetty 11.0.1X as a minimum then (whenever those new methods get introduced), also compiling the framework against that version, and seamlessly support Jetty 12 at runtime with the same arrangement. There might also be other integrators who could benefit from such early availability of `getHeaders()

[2022-11-26 22:14] gregw commented on #8929
@sbordet I'm experimenting with this in https://github.com/eclipse/jetty.project/compare/jetty-12.0.x...jetty-12-handler-as-processor
I've kept `Request.Processor` as an interface that is now implemented by `Handler`.     This has meant a trivial adaption of all `Handler.Processor` extensions (which could actually be just `Handler.Abstract` if they did their own accepting).     I've started conver

[2022-11-28 08:58] lorban commented on #8936
For Item 1 we should first check out [Red Hat's type pollution agent](https://github.com/RedHatPerf/type-pollution-agent) to figure out how badly we're impacted or not.

[2022-11-28 09:16] sbordet commented on #8936
Item 1 is also about getting rid of the "rewrapping" of listeners that happen in `HttpRequest`, which is a bit weird but required, and may save some allocation.

[2022-11-28 10:28] sbordet commented on #8938
@jhoeller I gave this a try, but I don't think it will work if I understand correctly your comment.
The problem is that in Jetty 11, `Request` is a class, while in Jetty 12 is an interface.

Even providing the `getHeaders()` methods, if you compile Spring again Jetty 11, but then try to run it with Jetty 12, you will get:

`
Exception in thread "main" java.lang.IncompatibleClassChangeError: Found

[2022-11-28 10:53] #4948 closed, assigned to sbordet

[2022-11-28 11:04] sbordet commented on #8929
@gregw we know that handlers can be implemented in both ways, so I'm not concerned about whether they can be implemented or not.

However, I think you should look into the cross-origin handler, delayed handlers, statistics handler, gzip handler, and the capability of re-handling.

The cross-origin handler (which is not implemented yet) is perhaps an important use case, since it needs to modify res

[2022-11-28 11:09] jhoeller commented on #8938
Oh, thanks for pointing that out! I only recompiled against Jetty 12, have not actually tried compiling on 11 and running against 12 yet. If `Request` and `Response` are interfaces now, `JettyHttpHandlerAdapter` might have to use reflection for any access to their methods for runtime compatibility purposes then. We can live with such reflection if it is a temporary state of affairs but would proba

[2022-11-28 11:20] gregw commented on #8929
A big CON of the current model is in `ContextHandler`, as whenever a thread calls into the context we need to:
- Set the context thread local
- Get and save the current Thread context classloader
- Set the the current Thread context classloader
- Call any listeners wanting to know about context entry (often non null for establishing authentication)
- Call the method in the context
- Call any liste

[2022-11-28 11:57] jhoeller commented on #8938
Looking at this more closely, it seems straightforward enough to address early Jetty 12 compatibility for our purposes since `JettyHttpHandlerAdapter` does most of its business through the Servlet API anyway and only really needs to call those `getHeaders()` methods on `Request`/`Response`, so it is just two points of reflection. We can even keep calling the corresponding `getHttpFields()` methods

[2022-11-28 12:20] jnehlmeier opened #8942 "Use Logback 1.3.x for Jetty 10.0.x"
**Jetty version(s)**

10.0.12

**Description**
I just wanted to upgrade vom Jetty 10.0.11 to Jetty 10.0.12 and noticed that Logback has been upgraded to version 1.4.0. However that version is meant to be used with Jakarta namespace. For example Logback itself depends on jakarta.servlet 5.0.

Logback 1.4.0 Jakarta dependencies
https://github.com/qos-ch/logback/blob/v_1.4.0/pom.xml#L172

Logback new

[2022-11-28 12:23] jnehlmeier commented on #8942
The manual update of dependencies for 10.0.12 to Logback 1.3.0-x
https://github.com/eclipse/jetty.project/pull/8467

Update from 1.3.0-x to 1.4.0 via dependabot:
https://github.com/eclipse/jetty.project/pull/8511

[2022-11-28 12:56] joakime commented on #8942
The `jakarta.servlet-api` dependency in `logback-core` is `<optional>true</optional>`.

The `logback-core` usage of servlet it is for an abstract HttpServlet at ...

* https://github.com/qos-ch/logback/blob/master/logback-core/src/main/java/ch/qos/logback/core/status/ViewStatusMessagesServletBase.java

Which is then implemented by `logback-classic`

* https://github.com/qos-ch/logback/blob/master/

[2022-11-28 13:06] joakime commented on #8942
Closing.

Jetty has a hard dependency on slf4j-api, and we want to keep that up to date.
The logback-core, and logback-classic versions are also kept up to date, as the overwhelming majority of logback user of Jetty _do not use_ logback-access.

Downgrading for a dependency we don't even have a configuration for is not something we will be doing.

[2022-11-28 13:46] jnehlmeier commented on #8942
Well ok, fair enough. Maybe you should add more context to release notes in the future, if Jetty 10.x adds dependencies that are meant to be used with Jakarta.

For example if someone uses logback SMTPAppender to send mails, jakarta.mail is now needed instead of javax.mail. It may or may not be possible to add this library, but it is definitely surprising if you just make a patch update of Jetty a

[2022-11-28 14:37] joakime commented on #8942
This example isn't a problem on Jetty 10, for two reasons.

1. We don't have / ship a `javax.mail` (or `jakarta.mail`) dependency on Jetty 10
2. The `jakarta.mail` dependency has no conflict with `javax.mail` existing on the same JVM at the same time.

[2022-11-28 15:22] sbordet commented on #8942
@joakime but perhaps we should cap the dependency in Jetty 10 at logback 1.3.x, for the principle of least astonishment?

[2022-11-28 15:55] jnehlmeier commented on #8942
Hehe sure, if you don't ship it you can not break it.

But obviously if someone has a working Jetty 10.0.11 setup and uses any of the optional `javax.*` logback dependencies within their jetty setup to support something like sending mails, then this setup will break after upgrading jetty with a patch release to 10.0.12 as they now have the wrong optional dependencies in their jetty configured.

Be

[2022-11-28 16:54] joakime commented on #8942
Opened PR #8943

[2022-11-28 18:10] #8942 closed, assigned to joakime

[2022-11-28 19:59] joakime opened #8972 "JDK 20 and java.net.URL"
**Jetty version(s)**
Jetty 12

**Java version/vendor** `(use: java -version)`
JDK 20

**OS type/version**
All

**Description**
Now that JDK 20 is out and the big changes for `java.net.URL` are available, we have to address the following ...

* [JDK-8294241](https://bugs.openjdk.org/browse/JDK-8294241) - All java.net.URL constructors are deprecated.
* [JDK-8293590](https://bugs.openjdk.org/browse/J

[2022-11-29 10:00] chetan777in opened #8973 "Does ssl-reload monitor keystore when it is a symlink?"
**jetty-9.4.49.v20220914** and **11.0.12**

**Java 11**

**Does ssl-reload monitor keystore when it is a symlink?**

Have deployed my application which uses jetty in kubernetes pod. We are using cert-manger for certificate management.
Secret is mounted inside a pod as below:

[code]

When the certificates are renewed automatically by cert-manager , the target file for symlink keystore.p12 is chang

[2022-11-29 13:21] sbordet commented on #8973
In Jetty 9.4.x, by default, links are followed, so what's actually monitored would be `../data/keystore.p12`.

Wait a second, do you really have a directory called `..data`?
So it's not the `..` as in "navigate to parent directory", it's actually part of the name of the directory?

Just out of curiosity, if you remove the `..` from the beginning of the directory name, does it work?

[2022-11-29 13:43] sbordet commented on #8938
Our goal is betas in December/January, and final in February/March. Integration with Spring Boot would be interesting indeed, and one more use case for us to validate Jetty 12.

Note that Jetty 12 will be able to do "core" (meaning no Servlet dependencies), EE9 and EE10, so you will be able to retain the Jetty Servlet integration if you want, but also offer a more performant "core" alternative.

T

[2022-11-29 13:43] cstamas opened #8974 "How to make HTTP/3 work in Jetty Client 10.x (or 11.x)?"
**Jetty version**
Tried 10.0.12 and 11.0.12.

**Java version/OS version**
Java 17.0.5 Temurin, Linux Fedora 37

**Question**
Wanted to "taste" HTTP/3... Also, I found out that EU Google Maven Central mirror (https://storage-download.googleapis.com/maven-central/index.html) supports H3 (checked the EU but I guess other does it as well). H3 support reported according to this:
https://http3check.net/

[2022-11-29 13:45] sbordet opened #8975 "Jetty 12 - rename getBaseResponse() to getServletContextResponse()"
**Jetty version(s)**
12+

**Description**
Rename `getBaseResponse()` to `getServletContextResponse()` as reported in #8938.

[2022-11-29 13:47] chetan777in commented on #8973
I can't edit anything in the mounted directory as it is read only and mounted/handled  by kubernetes. This is how kubernetes mount secrets, so that when the secret is modified , updates are propogated inside pod.

..data directory is also a symlink

[2022-11-29 13:55] sbordet commented on #8973
I see everything is owned by `root`, but I'll ask: is the file accessible/readable by Jetty when it starts?
Do you start Jetty with the `root` user?

@lachlan-roberts can you please check if the `KeyStoreScanner` has problems with directories that start with `..`?

[2022-11-29 14:45] chetan777in commented on #8973
I dont think permission is an issue, because certs are picked up when we start jetty first time , but when secret is updated i.e certificates are renewed , target files in symlinks gets updated but jetty does not pick the updated certificates.

[2022-11-29 17:47] joakime commented on #8973
Just a reminder that Jetty 9.4.x is now at End of Community Support.

* #7958

[2022-11-29 23:29] lachlan-roberts commented on #7164
Fixed.

[2022-11-29 23:29] #7164 closed, assigned to nobody

[2022-11-29 23:36] sbordet opened #8979 "Jetty 12 - HttpClientTransport network "modes""
**Jetty version(s)**
12+

**Description**
With support for UnixDomain sockets and QUIC, `ClientConnector` has now become too coarse, because it won't be possible to setup a `HttpClientTransportDynamic` for "mixed" transports such as HTTP/1.1 over UnixDomain, HTTP/2 over TCP and HTTP/3 over QUIC.

There is the need for a better abstraction than `ClientConnector` (or improve it), so that the above c

[2022-11-29 23:51] sbordet commented on #8974
I looked at your `JettyTransporter` class and the problem is that you have configured `ClientConnector` for TCP transports only, so when making a request you will be opening a TCP connection (not a QUIC) one.
This renders HTTP/3 unavailable.

Unfortunately, `HttpClientTransportDynamic` only supports one network "mode": either TCP, or UNIX_DOMAIN, or QUIC, so it is possible to mix transports that w

[2022-11-29 23:51] sbordet commented on #8979
@lorban thoughts?

[2022-11-30 01:28] olamy commented on #8974
per default it's using `quic-quiche-jna` so there is no need of java 17,  bump to java 17 is mandatory only in the case of using quic-quiche-foreign-incubator which is not the case here https://github.com/apache/maven-resolver/pull/225

[2022-11-30 07:02] janbartel opened #8980 "jetty-12.0.x WebappClassloader addJars(Resource) incorrectly transforms into a CombinedResource"
**jetty-12.0.x**

The `WebAppClassloader.addJars(Resource)` method looks for all `jar` files inside the `Resource` (that is a directory), turning each of the `jar`s into a `String` and calling `addClassPath(String)`. That method is expecting either a single jar, or a comma separated list of jars.  There are 2 bugs in this method:

1. if even a single jar is passed as the argument, a `List<URI>` is

[2022-11-30 08:24] cstamas commented on #8974
Regarding Java17 dependency:

If lower level to 11 (so enforcer does not let any 11+):
[code]

The deptree of maven-resolver-transport-jetty:
[code]

The POM
https://repo.maven.apache.org/maven2/org/eclipse/jetty/quic/quic-client/10.0.12/quic-client-10.0.12.pom

And yes,am building on Java11, but using `release 11`.

[2022-11-30 08:44] olamy commented on #8974
this `org.eclipse.jetty.quic:quic-quiche-foreign-incubator:jar:10.0.12:compile` should not come it you are using jdk11.

locally I have
[code]

using jdk 17
[code]

so `org.eclipse.jetty.quic:quic-quiche-foreign-incubator:jar:10.0.12` is here only when I build with jdk 17 (because of the profile)
If you build with jdk 11 there is no problem.
Or maybe I misunderstand your problem?

[2022-11-30 08:51] cstamas commented on #8974
Yes, I was unaware of profile "auto activating" when on Java17... I would like if there would be better way to tell Maven "I do use Java17 but I target 11" :) As just like with my OS, I like to keep my tooling up to date as well.

Am locally using 17 since long time, and right, if I used Java 11 all is OK.

[2022-11-30 08:57] cstamas commented on #8974
Regarding "TON of warnings":
Maven Resolver tranport is NOT singleton, it created as needed per RemoteRepository in play. Hence, it is created -- in case of dependency resolution -- per module per RemoteRepository in play, Here, I was building Maven itself, so only `central`, but still.... The TransportFactory is singleton on the other hand, so I could reuse JettyClient instance (I guess is thread

[2022-11-30 11:40] cstamas commented on #8974
So today's progress....

Added following changes (pushed to PR):
* limit Java to be used by build strictly to 11 (to bypass profile triggering)
* share JettyClient per session per remote repo and reuse it
* pending: proper cleanup of clients, something like "on session end" event is missing from resolver (planned), so this works in Maven (as Java process exits) but something like mvnd would OOM (u

[2022-11-30 11:54] cstamas commented on #8974
And seems JettyClient and Google is not having beers together... when I "trick" (alter code locally) to use H3 only and modiy settings to use port 443 (as Google advertises it as such) as my "experiment" targets it....

Google alt-svc:
[code]

Then all I get is HTTP 400 error:
[code]

Still looking....

Dumping response (and request, so order is recverted):
[code]

Host header is missing? Or pseud

[2022-11-30 18:31] sbordet commented on #8974
How exactly do you setup the client to work with HTTP/3?

[2022-11-30 18:35] cstamas commented on #8974
Exactly as in doco: https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-client-http-transport-http3

With addition of:
* setting UA
* setting connect timeout
* and then calling client.start()

~(but did not push)~ pushed to https://github.com/apache/maven-resolver/pull/225/files#diff-96d9cdf20363285652f7df8166a6394f185ee81be582ee1e765c404c458b1cb3R141-R153

The cod

[2022-11-30 20:53] gregw opened #8983 "Jetty-12 common EE/Servlet components"
**Jetty version(s)**
12

**Enhancement Description**

In Jetty-12, there are several (many) classes in both ee9 & ee10 that are substantially the same (e.g. `WebAppClassLoader`).   We should create a module were such common code can be shared between EE implementations.

[2022-11-30 21:07] sbordet commented on #8974
@cstamas can you print out the response content?
The request actually reached the server, so the protocol works, it's just that the server did not like the request at the application level.
Could it be an SNI issue?
Is the server Jetty?

[2022-11-30 21:34] joakime opened #8984 "Jetty 12 - Attributes dump is not working"
**Jetty version(s)**
Jetty 12

**Description**
The Dump of `org.eclipse.jetty.util.Attributes` is kinda useless right now.
We need to fix this to show something meaningful.

Example dump (from a `WebAppContext` from ee10)
[code]