[2021-04-24 13:54] qingdaoheze commented on #6208
Maybe your computer is stronger than mine, I increase the thread size, please try it again and please use the client code provided in the repo directly. Its path is "**jetty9-client-sample/src/main/java/org/sample/jetty/client/http2/HttpClientWithHttp2Transport.java**". The problem must be reproduced.

And please refer to the log on my side. https://github.com/qingdaoheze/jetty-gzip-decode/blob/ma

[2021-04-24 23:27] sbordet commented on #6208
As I said, I cannot reproduce.

Your logs show nothing wrong in Jetty.
The `IllegalStateException` you mention in your first comment is not present in your logs, and I was not able to reproduce it with your code.

The timeouts you see are only due to the (bad) load test that overwhelms the client and the server and eventually the client times out.

[2021-04-25 01:25] qingdaoheze commented on #6208
I only uploaded the first part of the log because the whole log is too big. I have re-run and uploaded more logs, please check again.  In my case, this question certainly comes up.

https://github.com/qingdaoheze/jetty-gzip-decode/blob/master/detail.log.tar.gz

The first timeout is between 09:05:45.244 and 09:05:50.220. At 09:06:26.269, the first java.lang.IllegalStateException: Max local stream c

[2021-04-25 15:19] RoySunnySean007 commented on #6208
Dear @sbordet,

We also encountered similar issues. Is there any difference between Jetty server and tomcat server regarding HTTP2.0 implementation?

Really appreciate ur great help in advance~

Thanks,
Roy

[2021-04-25 15:39] lsc1943 commented on #6208
@sbordet
We also met similar issues, we ran some load tests using Jetty HTTP2 client as a middleware and send requests to Tomcat 9 server. We observed some abnormal timeout errors, and we have checked that the timeout was not happened at server side, it seems the Jetty client tried to send request but not succeed, the http exchange got snd = **"IDLE"** like below:
HttpExchange@625d06a5{req=HttpReq

[2021-04-25 16:18] sbordet commented on #6208
@RoySunnySean007

Yes the implementations are completely different.
They should be interoperable, because they both implement the same specification, but there could be gray areas that make them differ in behavior.

[2021-04-25 16:28] sbordet commented on #6208
@lsc1943 if you use Jetty's low-level `HTTP2Client`, it is the application responsibility to control that the maximum number of streams is not exceeded.
If you use Jetty's high-level `HttpClient`, then it controls that the maximum number of streams is not exceeded.

The line of logging that you chose is perfectly normal, and the states that you see are correct.
You should not look at just one log

[2021-04-26 12:30] andrascsibi commented on #6112
I'm getting the same exception but even with a simple `war` without any slf4j dependenies.

I'm using jetty runner 11.0.2.

`java -jar jetty-runner-11.0.2.jar --port 8081 build/libs/nagyarbi.war`

Please excuse posting everything here but then this is the entirety of my setup.

project structure
[code]

build.gradle.kts
[code]

web.xml
[code]

HealthCheck.java
[code]

JerseyApplication.java
[code]

[2021-04-26 13:43] lsc1943 commented on #6208
@sbordet, thank you for your help. We are using the high-level HttpClient and we checked the debug log but didn't observe any abnormals, it seems the HEADER frames were sent to server but got no response util timeout.
But we do noticed that a lot of **evict** actions for the hpack like below, and it seems the size reached the limit, anyway we could configure this size to a larger value?
**HdrTbl[1

[2021-04-26 13:50] sbordet commented on #6208
They are not relevant.

There is some evidence that I am investigating in @qingdaoheze logs.
@qingdaoheze would be great if you can turn on full DEBUG logging (not only `org.eclipse.jetty.client`).

Stay tuned for updates.

[2021-04-26 14:32] qingdaoheze commented on #6208
@sbordet  I have rerun the demo with full DEBUG logging in (org.eclipse.jetty). Please refer to it:
https://github.com/qingdaoheze/jetty-gzip-decode/blob/master/detail.log.tar.gz

[2021-04-26 16:16] sbordet commented on #6208
@qingdaoheze we have reproduced the issue and found the bug, it's a quite particular combination of many things that must go wrong. I'll write a report when we have a test case and the fix.
Thanks for the reproducer!

[2021-04-26 17:40] qingdaoheze commented on #6208
Do you know what workaround can I use before you fix it? @sbordet  BTW, when will you fix it?

[2021-04-26 18:19] joakime commented on #6112
@andrascsibi check your built WAR file `WEB-INF/lib/*.jar` for jars that need slf4j.
Jetty 10+ jars will, and so will other libs.

[2021-04-27 05:53] lachlan-roberts opened #6217 "Flaky test RoundRobinConnectionPoolTest.testRoundRobin()"
**Jetty version**
10.0.x

**Description**
The test `RoundRobinConnectionPoolTest.testRoundRobin()` is failing for some PR builds.

https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-10.0.x-FixTypo/1/tests

[code]

[2021-04-27 06:04] #5817 closed, assigned to lachlan-roberts

[2021-04-27 07:50] andrascsibi commented on #6112
OK, thanks. So jetty-*:11.0.2 seem to be the culprit. So is there a workaround for using the jetty libs together with the jetty runner? Thanks.

[2021-04-27 08:01] lachlan-roberts commented on #6166
This is fixed by #6170.

[2021-04-27 08:01] #6166 closed, assigned to lachlan-roberts

[2021-04-27 08:09] lachlan-roberts commented on #5834
This has been fixed with PR #5959.

[2021-04-27 08:09] #5834 closed, assigned to lachlan-roberts

[2021-04-27 10:16] Horcrux7 commented on #5792
We have the same problem but with a 36192 bytes POST request. We was able to reproduce it with Chrome and Firefox. It occur only with HTTPS and never in our scenario via HTTP.

Our stacktrace is:
[code]

[2021-04-27 17:57] joakime commented on #6112
Those (specific) Jetty jars shouldn't be in your `WEB-INF/lib/`, as they come from jetty-runner.

[2021-04-27 19:18] sbordet commented on #6208
@qingdaoheze

There is no workaround.

The fix is underway.

[2021-04-27 19:20] joakime commented on #5792
Some things here ..

You have a windows selector bug that results in a broken NIO behavior.
NIO select should never wake up with none selected.
Your JVM, or your Network Drivers, or your firewall, or your security software, or use of Windows Layered Service Provider, or use of Windows Filtering Platform, or any of a bunch of other factors _unique to your system_ is causing this.

You should should

[2021-04-28 06:29] olamy commented on #3111
closing as due to external issue https://github.com/google/conscrypt/issues/835

[2021-04-28 06:29] #3111 closed

[2021-04-28 10:32] gregw commented on #1826
@lachlan-roberts what is the status of this one?

[2021-04-28 10:32] #4640 closed, assigned to nobody

[2021-04-28 10:38] gregw commented on #3580
closed as duplicated by #4798 with more discussion there.

[2021-04-28 10:38] #3580 closed

[2021-04-28 10:47] jmcc0nn3ll opened #6219 "Support stopping deployment on context failure during startup"
**Jetty version**

Jetty 10/11

**Description**

Currently when you try and load a webapp for something on the wrong side of the big bang, the way you realize is a handful of exceptions related to class not found for things like servlet Filter, which can be quite far back in the startup log, with the server still up and running regardless.

I wonder if we can improve this experience for users at a

[2021-04-28 11:00] joakime commented on #6219
If you attempt to deploy a webapp that uses/needs `javax.servlet` on Jetty 11 that war winds up as Unavailable.

There is already behavior for Unavailable to allow the server to fail startup if any webapp is unavailable.
I believe the default is to allow the server to still be running.

See: [WebAppContext.setThrowUnavailableOnStartupException(boolean throwIfStartupException)](https://github.com/e

[2021-04-28 11:05] jmcc0nn3ll commented on #6219
How about jakarta on Jetty-10, same deal?

[2021-04-28 11:06] joakime commented on #6219
Same. `jakarta.servlet` on Jetty 10 is the same behavior.

[2021-04-28 11:24] #6157 closed, assigned to lorban

[2021-04-28 11:56] sbordet commented on #6208
FTR, here is what is happening.

The big HEADERS frames, load test being written as it is and the server being overwhelmed caused a connection to TCP congest.

At that point, a HEADERS frame is sent by the client, queued into the `HTTP2Flusher`, but not sent over the wire because of TCP congestion.

The corresponding request times out and the failure arrives at `HttpChannelOverHTTP2.exchangeTermin

[2021-04-28 12:59] jmcc0nn3ll commented on #6219
This should be exposed to the ini and module system better then it looks like it is and documented.

By default you can run webapps w/o having to explicitly adding the webapp module which in of itself is a bit questionable, but once you add the module we ought to be able to configure this behavior in the `jetty-webapp.xml` file by toggling a property in the `start.d/webapp.ini` file.

However, thi

[2021-04-28 13:32] sbordet commented on #1826
@gregw @lachlan-roberts I'm not sure we can do much here.

The idea to support _two_ PEM files instead of 1 KeyStore file won't work easily due to file permissions.
Having a Java tool that does PEM to PKCS12 conversion it's the same as using OpenSSL -- it would need to be hooked to LetsEncrypt certificate renewals.

As there is a million ways to skin and setup files, permissions, hooks, etc. I'm n

[2021-04-28 14:28] joakime opened #6221 "QoSFilter.suspendMs of 0 or -1 still results in a timeout of 30 seconds"
**Jetty version**
9.4.x

**Description**

If you have a QoSFilter configuration where the suspendMs is undefined (it defaults to -1) or set to 0, then the default AsyncContext timeout of 30 seconds is used.
There doesn't seem to be a way to disable the timeout within QoSFilter.

[2021-04-28 17:01] sbordet commented on #6219
I don't think you want to exit if the deployment of a new webapp fails.
Better logging for `jakarta` vs `javax` yes, but that is all.
Plus how would this work embedded?

[2021-04-28 17:16] jmcc0nn3ll commented on #6219
The option to halt already exists and can be configured in a web.xml for a specific webapp, all this does is allow that setting to be broadly enabled to all webapps through the webapp provider.

This has no bearing on embedded, if you wanted similar behavior there and were using the WebAppProvider then you would call the same set* method, or if you wanted on the WebAppContext you would just call t

[2021-04-28 17:22] jmcc0nn3ll commented on #6219
IE, turns out this is existing functionality that just hadn't been exposed in a broadly useful fashion, defaults have been respected (though I sort of disagree with them).  I will fix the issue title to better reflect things now that I know about them, thanks @joakime!

If/When this is merged we'll need docs updated @WalkerWatch

[2021-04-28 19:59] openconcerto commented on #1826
What do you mean by "there is a million ways to skip and setup files, permissions, hooks" ?
Is throwing an exception if the pem files are not readable a problem?
The java.io.File API provide all you need to throw a meaningful cause.

Nginx and Apache provide a simple (builtin) way to use pem files. I don't understand why on Jetty it should not be as easy.

I'm still quite perplexed about assertion

[2021-04-28 20:16] sbordet commented on #1826
It's not a problem throwing an exception if you can't read a file.
The problem is _always_ (or almost always) throwing it because the files are owned by root, and the Jetty user (almost always) does not have permission to read them: what's the point of writing code that always fail?

Nginx and Apache link to the OpenSSL library. Java does not link it, so Jetty does not have a mean immediately avai

[2021-04-28 22:03] openconcerto commented on #1826
It's the same with Apache & Nginx, file permissions are granted as needed (through file permission or a group).

Sure, but Java can read PEM using X509Certificate as shown in my first message.
Or did I miss something?

In the case of a standard or EV certificat renewal, ie a certificat you renew and copy every year (or 2...) on your server, it's more "user friendly" to just copy the new PEM _witho

[2021-04-28 22:08] stevenpyzhang opened #6223 "NPE in jetty-jaas PropertyFileLoginModule.setupPropertyUserStore on recent versions"
**Jetty version**
9.4.39.v20210325

**Java version**
[code]

**Description**

While trying to update Jetty versions from `9.4.28.v20200408` to a more recent one, our build experienced NPE in multiple auth tests in Jetty
[code]

I think it might be related to some changes that happened in this PR https://github.com/eclipse/jetty.project/pull/5518
Upgrading up to `9.4.34.v20201102` works fine, but a

[2021-04-28 22:33] sbordet commented on #1826
I am missing your point, sorry.

You have to remember what you copy and where, point being you have to remember something and that is error prone.

The ideal solution would be to automate everything.

That's what the `cron` job does: invokes `certbot` twice a day, and if the certificate is renewed, it runs scripts stored in a well-known location, where you have written the stuff that you need to d

[2021-04-29 00:43] janbartel commented on #6223
That seems strange - it would indicate that the thread that has called `JAASLoginService.login() `is _different_ than the thread that has called `PropertyFileLoginModule.initialize()` and I don't see how that can happen.  Can you post the full stacktrace? And can you get some more debugging info, including thread names? Is there any more light you can shed on your setup and how you're using jetty?

[2021-04-29 01:18] #6153 closed, assigned to janbartel

[2021-04-29 03:53] qingdaoheze commented on #6208
@sbordet I have verified it, it worked fine. Thank you! I will do more verification, if I have any other found, I will tell you.

[2021-04-29 08:37] gbo80 opened #6224 "make jetty-jspc-maven-plugin @threadSafe"
**Jetty version**
9.x, 10.x, 11.x

**Description**
Running the jetty-jspc-maven-plugin in a maven build that uses multiple threads (e.g. "mvn -T1C ...") works (so far I found no problems), but I get a warning that the plugin is not @threadSafe.
[code]
**Question**
Do we have to expect problems when running a multi-module project that contains multiple web projects with multiple threads?
We use the

[2021-04-29 12:51] #6208 closed, assigned to nobody

[2021-04-29 16:05] KenActifio commented on #4877
I get the same error with 9.4.30 or later. This is a breaking change and should be fixed.

[2021-04-29 16:13] joakime commented on #4877
@KenActifio the error you are getting is because you have different versions of Jetty components/libs/jars in your classloader.
That's not supported or recommended.
The classes in the `jetty-http` are internal classes shared by many components.
In your case, the ServletHandler (from jetty-servlet) and the PathSpec (from jetty-http) are on different versions of Jetty.

Align your versions to the sa

[2021-04-29 17:42] KenActifio commented on #4877
Ah, you're right. jersey-container-jetty-http 2.34 pulled in Jetty 9.4.28. Sneaky devil. Turns out I don't need that dependency, so all good now.

I couldn't get the jetty-bom to work; never used a bom in maven before and couldn't find examples.

[2021-04-29 17:47] joakime commented on #4877
To use a bom ...

[code]

[2021-04-29 20:05] KenActifio commented on #4877
Thanks, Joakim. I tried that but it didn't work, at least in IntelliJ. No worries.

[2021-04-30 05:00] lachlan-roberts commented on #6106
@rdicroce this issue is fixed by PR #6106, I have verified that https://github.com/jetty-project/embedded-jetty-weld now works if you run it against the current 10.0.x branch. This fix will be released in 10.0.3.

[2021-04-30 05:00] #6106 closed, assigned to lachlan-roberts

[2021-04-30 05:03] lachlan-roberts commented on #6217
Failed again:
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-6226/3/tests/

[2021-04-30 05:10] gregw opened #6227 "Better resolve race between `AsyncListener.onTimeout` and `AsyncContext.dispatch`"
There is an intrinsic race between an application calling `AsyncContext.dispatch` and the container calling `AsyncListener.onTimeout`.
Currently when an async timeout expires, the `HttpChannelState` is atomically changed from `ASYNC` to `EXPIRE`, so that any subsequent call by the application to `AsyncContext.dispatch` will receive an ISE.

However, once the container starts calling any `AsyncList

[2021-04-30 06:23] janbartel commented on #6224
@gbo80 I don't anticipate that you will have any threading issues with the jetty-jspc-maven-plugin, but we'll look at adding the appropriate annotation to the plugin.

[2021-04-30 12:16] rdicroce commented on #6106
@lachlan-roberts Thanks for the fix!

[2021-04-30 21:49] joakime commented on #6227
I was able to reproduce this with a simple server and loadgenerator client setup.
Every run triggers the fault at least 4 times, and as many as 19 times on some runs.

* Server - https://github.com/joakime/load-server
* Client - https://github.com/joakime/load-client

Logs (partial DEBUG, full DEBUG doesn't trigger it for me) against 9.4.40 release -
[server-java-11.0.10-20210430T163849.log.gz](ht

[2021-05-03 07:04] gbo80 commented on #6224
Thank you very much!

[2021-05-03 14:16] #6219 closed, assigned to nobody

[2021-05-03 14:16] jmcc0nn3ll commented on #6219
Turns out there is an existing feature that will solve this another way.

[2021-05-03 18:26] onintwo2 commented on #6227
So is this patch ready?

[2021-05-03 18:36] joakime commented on #6227
This has exposed a deficiency in the Servlet API/Spec.

A new thread on the servlet-dev mailing list has been started about it ...
https://www.eclipse.org/lists/servlet-dev/msg00370.html

[2021-05-04 00:10] mikekap commented on #6204
My sense is the intersection of the sets {websites that _users_ of Jetty visit} and {websites that refer to the HTTP header in the protocol sense} is low. Though I'm happy to be proven otherwise - I thought MDN was fairly authoritative in terms of "enough people look at this" but of course it's not by any means authoritative in terms of current standard tracks. I doubt most users of Jetty read the

[2021-05-04 02:59] swathikumar4precisely commented on #6186
Hi Joakime - apologies for not getting back to you on this one.
You were spot on in identifying the issue - yes , I had turned the jetty debug on through JDK parameters and upon reading your inputs, I removed the debug parameters and can no longer see the NPE.

Many thanks for your quick response in getting this issue resolved.

Regards
Swathi BN

[2021-05-04 03:00] #6186 closed, assigned to nobody

[2021-05-04 05:05] gregw commented on #6204
I think we should just improve the javadoc to say it is a buffer size for all the header fields.

[2021-05-04 18:11] jmcc0nn3ll commented on #6129
Finally make the commit to do away with the links that embed it, I'll check it and remove the php pages soon.

[2021-05-04 18:11] #6129 closed, assigned to jmcc0nn3ll

[2021-05-04 23:23] samumbach opened #6232 "`AnnotationConfiguration` max scan wait timeout should start when first `ParserTask` starts"
**Jetty version**:
* Observed on jetty 9.2.10.v20150310
* Issue appears to have been introduced by commit 04002898263b3d408f7f
* This commit is present in:
    * all jetty releases from jetty-9.1.0.RC0 to jetty-11.0.2
    * current jetty-9.4.x branch
    * current jetty-10.0.x branch
    * current jetty-11.0.x branch

**Java version**:

openjdk version "1.8.0_265"
OpenJDK Runtime Environment (Adop

[2021-05-04 23:26] swathikumar4precisely opened #6233 "Embedded Jetty becomes unresponsive - though the server says it's started successfully, the netstat shows no port tied to the server"
**Jetty version** - Initially discovered in 9.4.33, then in 9.4.36 and now in 9.4.39 as well.

**Java version** - JSK 1.8

**OS type/version** - Linux SUSE, RHEL

**Description**

Team,

Our product currently houses jetty server v9.4.26 and is working super fine in the field without any issues for the last 3years when we did upgrade to this version.

Since December of 2020, we are trying to upgrad

[2021-05-05 06:28] shimon-cherny opened #6234 "After upgrading jetty to 9.4.38 our log is floaded a lot of messages "2021/05/05 06:16:45 | 2021-05-05 06:16:44.650:WARN:oejs.HttpConnection:qtp676765127-4057: HttpConnection@4add1f37::DecryptedEndPoint@2c987239{l=/10.211.40.50:8443,r=/10.211.48.45:37168,OPEN,fill=-,flush=-,to=0/30000} fill with unconsumed content!""
9.4.38

Java version 8

Centos 7.6

After upgrading jetty to 9.4.38 our log is floaded a lot of messages "2021/05/05 06:16:45 | 2021-05-05 06:16:44.650:WARN:oejs.HttpConnection:qtp676765127-4057: HttpConnection@4add1f37::DecryptedEndPoint@2c987239{l=/10.211.40.50:8443,r=/10.211.48.45:37168,OPEN,fill=-,flush=-,to=0/30000} fill with unconsumed content!"

There are a lot of messages in the log of the

[2021-05-05 07:19] sbordet commented on #6234
You are probably hitting #6121.
Please upgrade to 9.4.40 and report if that fixed the problem for you.

[2021-05-05 07:23] shimon-cherny commented on #6234
On it. Thank you.
Is there some specific case i should be checking?
Also what is the impact on the end users here and what flow might have caused it?

[2021-05-05 07:33] sbordet commented on #6233
You have a custom server connector `JettyPsServerConnector`, so we cannot tell exactly what's going on - likely it's a problem in this class.

Apparently you configure `acceptors=0` and the selector threads are in WAITING state, so you must be doing something really wrong with your connector.

Can you post the `JettyPsServerConnector` code?

[2021-05-05 07:36] sbordet commented on #6234
Not sure what you mean here.

I don't understand this one either?

[2021-05-05 07:48] shimon-cherny commented on #6234
What kind of request, payload might have caused that so we can may be mitigate the issue until the patch is applied.
As well not sure it will resolve the issue eventually...

I am asking if besides this printout in the log there is a request failure or thread infinite loop that will impact end users?

[2021-05-05 09:09] sbordet commented on #3711
Closing as no further information was provided.
The vert.x comment is not relevant to Jetty.

[2021-05-05 09:09] #3711 closed

[2021-05-05 09:10] sbordet commented on #4874
Closing as resolved.

[2021-05-05 09:10] #4874 closed, assigned to sbordet

[2021-05-05 09:13] sbordet commented on #4948
@mklinger what's the status on this? I guess we can close it?

[2021-05-05 09:17] sbordet commented on #5147
Closing as resolved, assuming OP testing was fine.

[2021-05-05 09:17] #5147 closed, assigned to sbordet

[2021-05-05 09:19] sbordet commented on #5068
Closing as resolved.

[2021-05-05 09:19] #5068 closed, assigned to sbordet

[2021-05-05 09:32] sbordet commented on #5085
Closing as this seems a configuration issue in OP load testing.

[2021-05-05 09:32] #5085 closed, assigned to sbordet

[2021-05-05 09:36] sbordet commented on #6234
See also #6168.

[2021-05-05 11:04] olamy opened #6235 "JspcMojo overrides user configuration"
discussion from https://github.com/eclipse/jetty.project/pull/6230#discussion_r624982269

Given the following configuration:
[code]

At the end the value used for jspc.webXmlInclude will be ${basedir}/target/webfrag.xml because we always override with mojo field.

[2021-05-05 11:46] shimon-cherny commented on #6234
So my question how can i reproduce\imitate the case of unconsumed content?

[2021-05-05 11:54] sbordet commented on #6234
Why you want to do that? You can look at the fix and related test cases if you want to reproduce.
Upgrading to Jetty 9.4.40 should solve your issue.

[2021-05-05 12:15] sbordet commented on #6234
Just to be clear, I don't know how you can reproduce your issue, nor I have any idea of the impacts on your end users (how can I possibly know?).

You have provided zero information about your system, the load, the type of requests/responses, etc.

Your issue _looks like_ another couple that we fixed meanwhile, but may be something different, and I said that you may be _probably_ hitting one of th

[2021-05-05 14:49] sbordet commented on #5306
@gregw I wrote a non-JMH benchmark, 1 selector, HTTP/1.0-style requests, with these times to complete all requests (sent sequentially in each thread):

[code]

I think `1` is a better default value, and it also keep better backwards compatibility (as we are currently using a non-zero value).
We are going to block just 1 thread (the acceptor thread), so no big issues there.

If people prefer non-bl

[2021-05-05 16:07] sbordet commented on #6227
@onintwo2 the patch for 9.4.x has been merged. If you can use 9.4.41-SNAPSHOT or build it yourself, you will be able to test it.

[2021-05-05 16:23] onintwo2 commented on #6227
Where is the link to see the changes made.

Dorion

From: Simone Bordet ***@***.***
Sent: Wednesday, May 05, 2021 12:08
To: eclipse/jetty.project
Cc: Dorion Carr; Mention
Subject: Re: [eclipse/jetty.project] Better resolve race between `AsyncListener.onTimeout` and `AsyncContext.dispatch` (#6227)

@onintwo2 <https://github.com/onintwo2>  the patch for 9.4.x has been merged. If you can use 9.4.41-S

[2021-05-05 16:36] sbordet commented on #6227
@onintwo2 https://github.com/eclipse/jetty.project/pull/6228/files

[2021-05-05 21:45] #6227 closed, assigned to gregw

[2021-05-06 02:04] scottastanley opened #6237 "Jetty not gracefully shutdown ServletContextListener"
**Jetty version**
11.0.2

**Java version**
java version "13.0.2" 2020-01-14
Java(TM) SE Runtime Environment (build 13.0.2+8)
Java HotSpot(TM) 64-Bit Server VM (build 13.0.2+8, mixed mode, sharing)

**OS type/version**
Linux ip-172-31-44-100 4.9.85-37.55.amzn1.x86_64 #1 SMP Mon Mar 5 19:00:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Description**
I have a web application that is deployed in Jetty

[2021-05-06 03:20] gregw commented on #6237
@lorban Can you have a look at this one.

[2021-05-06 05:04] laeubi opened #6238 "jetty-keystore Invalid manifest header Bundle-SymbolicName: """
**Jetty version**
11.0.2

**Java version**
11

**OS type/version**

**Description**
!ENTRY org.eclipse.equinox.p2.publisher.eclipse 2 0 2021-05-06 07:01:23.762
!MESSAGE An error has occurred while adding the bundle .m2/repository/org/eclipse/jetty/jetty-keystore/11.0.2/jetty-keystore-11.0.2.jar.
!STACK 0
org.osgi.framework.BundleException: Invalid manifest header Bundle-SymbolicName: ""

if I take

[2021-05-06 08:46] lorban commented on #6237
I can confirm that the problem is reproducible.

It seems that registering a `ServletContextListener` via a `web.xml` `<listener>` tag does not properly register the listener in the `ContextHandler` which means nor the `contextInitialized` nor the `contextDestroyed` methods are ever called.

This issue is very specific to Jetty 11 as replacing the `jakarta` packages with `javax.servlet` in the lis

[2021-05-06 08:51] seisvelas opened #6239 "By default, Jetty with HTTPS accepts *any* signature algorithm"
**Jetty version**

10.0.2

**Java version**

openjdk 11.0.11 2021-04-20

**OS type/version**

Ubuntu 18.04

**Description**

Consider the publicly available Jetty application https://webtide.com/. We can scan it with sslscan, which produces the following results:

[code]

I also tried using cipherscan

[code]

As far as I can tell, this problem is true of any Jetty instance. It will accept any sig

[2021-05-06 08:54] sbordet commented on #6238
@laeubi can you please detail how you are using the `jetty-keystore` module?

I ask because it is supposed to be a dependency only for `jetty-home`, it's not something that is intended as a generic dependency.

Since no other Jetty module depends on it, I am wondering how it ended up as an OSGi bundle?

[2021-05-06 08:58] laeubi commented on #6238
@sbordet I don't really use it atm but currently working on a module that transforms maven BOMs automatically into a (maven based) P2 site and just noticed the faulty meta-data.

If it is never supposed to be a bundle then it probably should have no OSGi headers, otherwise at least valid ones (e.g. simply jetty.test.keystore.do.not.use.me)...

[2021-05-06 09:08] seisvelas commented on #6239
I searched for random Jetty servers using Shodan, and it appears that this is quite common. For example, using this random Jetty server that popped up on Shodan:

[code]

A few didn't have this problem (but they also accepted lots of weak signature algorithms nevertheless), giving me hope that this is configurable!

(sorry if this is super simple, I'm not very experienced with Java and Jetty)

[2021-05-06 09:12] lorban commented on #6237
Okay, digging deeper I think I figured the root cause. In the test I wrote to reproduce this issue, I mistakenly placed the `jetty-jakarta-servlet-api` jar in `WEB-INF/lib` of the jakarta version of the test app and did the same with the `jetty-servlet-api` jar of the javax version of the test app.

It happens that Jetty 10 happily ignores this jar and prefers the parent classloader to load the `j

[2021-05-06 09:36] salberch commented on #6227
Hi, We are using maven, can you publish the fix un a mvn repository?
Thanks

[2021-05-06 11:50] gregw commented on #6237
This may already be fixed in #6125

[2021-05-06 11:53] lorban commented on #6237
It indeed seems to be, thanks for the link.

[2021-05-06 14:08] sbordet commented on #6159
@KJP12 did you submit an issue to Conscrypt about this?

[2021-05-06 14:14] sbordet commented on #6159
@gregw in that snippet of code we are trying a best effort to pull out the SNI using the JDK APIs; failing that, we pull it out using the Jetty APIs.

Therefore, I think just a null guard is simple enough as we can fall back anyway to use our APIs.
I'll prepare a simple PR.

[2021-05-06 14:38] scottastanley commented on #6237
I do not include either of these jar files in my war file.

[code]

If it helps, I can probably standup a server and try and go back and re-deploy the jetty 10, and maybe jetty 9.4, versions, and assess the behavior. I think I have backups sufficient to let me do this.  I only upgraded to jetty 11 in the last few months.

[2021-05-06 15:06] joakime commented on #6237
Why do you have those jetty jars in your `WEB-INF/lib` ?
I cannot imagine a scenario where a webapp could use plus/jndi/jaas directly like that.

[2021-05-06 16:31] scottastanley commented on #6237
I have to admit I wondered the same thing when I found those.  I run jetty locally for development inside of Eclipse.  I suspect I had to add those to my pom to get running locally to work and then forgot to exclude them from the war file.  I have already filed a ticket in my project to remove those from the war.  Need to check on util as well.  Not sure if I even use that directly or not.

[2021-05-06 18:52] swathikumar4precisely commented on #6233
Hi Simone,

Thanks for your quick response.

I spoke to my management and they recognize working with you on another jetty issue in the recent past and have given me the consent to share the JettyPsServerConnector code with you.
However, this forum being public and our code being proprietary to the company, I am allowed to share the code only to your email id to restrict access to everyone on the

[2021-05-06 19:12] sbordet commented on #6099
The problem is as follows.

The server receives a ClientHello with the `signature_algorithms` extension.
These algorithms were only 2 in TLS 1.1, but became many more in TLS 1.2 and TLS 1.3, and in TLS 1.3 they are called "signature schemes" and are tied to a specific function (i.e. it's not just a default function such as "sign the SHA-1 hash of a random number concatenated with server parameters

[2021-05-06 20:10] sbordet commented on #6099
@gregw I have a tentative fix at #6243.

[2021-05-06 20:10] sbordet commented on #6099
@izstas are you able to try branch `jetty-9.4.x-6099-sni-with-different-keyTypes` to verify if it solves the problem for you?

[2021-05-06 20:37] sbordet commented on #6239
@seisvelas can you detail why you would like the server to _not_ accept all signature schemes? Just curious.

AFAIK, Java does not offer an API to specify signature schemes, but instead it relies on a system property: `jdk.tls.server.SignatureSchemes`, a comma separated list of signature scheme standard names, as defined [here](https://docs.oracle.com/en/java/javase/11/docs/specs/security/standard

[2021-05-06 23:15] seisvelas commented on #6239
Thanks for the quick response!

Yes - TLS 1.2 in particular accepts some hashes to be used for signatures that are no longer considered secure, like SHA-1. (see https://tools.ietf.org/html/rfc5246#section-7.4.1.4.1)

Awesome, thanks! I'll update this issue to let you know whether this works or not.

[2021-05-06 23:37] Ampflower commented on #6159
Appears this is fixed upstream already in Conscrypt 2.5.2, although it is throwing a fair bit in the logs about certificate unknown.
<details><summary>The logs</summary>

[code]
</details>
I'll assume it's most likely because I'm using a self-signed certificate for testing; I don't have a more proper certificate to test with. It does continue as you'd expect however.

I did create one at https://g

[2021-05-07 00:24] janbartel commented on #6237
I can't reproduce this problem with jetty-11 with the following settings in server.ini:

[code]

We are going to need some more details about your setup and what is happening when you issue the `kill` command - for example are there requests in flight, or is the server idle?

[2021-05-07 00:26] janbartel commented on #6235
If you can only set these values if they haven't already been set, that would be fine. However, you'll have to look at the base JspC class to work out if they already have default values, which would mean that approach won't work.

[2021-05-07 00:43] janbartel commented on #6232
@sumbach sure, if you'd like to make a PR, we will certainly review it.

[2021-05-07 01:01] scottastanley commented on #6237
Generally the server is idle.  I am logged in, but not actively doing anything to trigger server activity.  Let me do some looking tonight myself and make sure there is not anything else I missed that might cause this.

[2021-05-07 02:08] olamy commented on #6224
pr merged https://github.com/eclipse/jetty.project/commit/04e5c4e07716f0fe76a8707fa5b49e9ff9fb4d9c

[2021-05-07 02:08] #6224 closed, assigned to olamy

[2021-05-07 07:41] #6238 closed, assigned to sbordet

[2021-05-07 09:30] sbordet commented on #6159
@KJP12 if the latest Conscrypt solves the NPE, great.

As for your issue with the unknown certificate, you seem to be getting this error on the server, so if you are using client certificate authentication it should just be a matter of configuring the server TrustStore.

[2021-05-07 10:28] Ampflower commented on #6159
I'm not using client certificate authentication at all, so, that's odd. It also occurs with the regular Java alpn implementation as well. Perhaps just a non-issue, or an option somewhere?

As for the Conscrypt issue being resolved upstream, perhaps it's fine to close this then?

[2021-05-07 11:03] sbordet commented on #6159
Please go ahead and close this issue if it's solved for you.

[2021-05-07 13:52] #6159 closed, assigned to sbordet

[2021-05-07 14:13] izstas commented on #6099
@sbordet, thank you, I have tried `jetty-9.4.x-6099-sni-with-different-keyTypes` as of ee1924c66ccdf7577d4889d58f3ea65b336a695a and it solves the problem.

[2021-05-07 14:42] sbordet commented on #5207
Closing as no further details have been provided.

[2021-05-07 14:42] #5207 closed, assigned to sbordet

[2021-05-07 16:38] sbordet commented on #5645
@gregw do you think we should do this backport?
It's a rather big change and we have slowly moving to 9.4.x being maintenance only.
As such, I'm inclined to _not_ backport and close this issue.

[2021-05-09 04:58] scottastanley commented on #6237
Well, I am hoping this helps.  Although I will admit the last observation I have makes the whole thing super confusing for me.  Should have never done that last check...

With that prelude said, I went through today and came up with a simple case which reproduces this problem.  I first observed this problem in my environment in AWS (hence the OS type above), so I cloned my web server and pared the

[2021-05-09 05:06] scottastanley commented on #6237
Okay, now for the weird last observation...

When I put the example above together I was trying hard to carve this down to something that could be run locally.  In this I was successful.  I am able to run and reproduce the same behavior on my Macbook Air where the listener is not called on shutdown.  However, when I tried to reproduce the correct behavior where the listener is called on shutdown w

[2021-05-09 21:43] gregw commented on #5645
I think we can wait and see.  If we get reports of this being a problem for users who cannot upgrade, then we can consider

[2021-05-10 05:19] #6205 closed, assigned to lachlan-roberts

[2021-05-10 06:13] janbartel commented on #6237
@scottastanley so your test webapp in your test base works for me :)  One major change - I just put in a `System.err.println()` in the `contextInitialized()` and `contextDestroyed()` methods and I see those printlns on the output. I don't see the output from the log4j `log.fatal()` in the `contextDestroyed() `method, so I assume that the logging system is suppressing that output. But the `contextD

[2021-05-10 08:07] shimon-cherny commented on #6234
Thanks it worked!

[2021-05-10 08:07] #6234 closed, assigned to nobody

[2021-05-10 08:09] sbordet commented on #6234
@shimon-cherny thanks for the feedback!

[2021-05-10 10:25] #6099 closed, assigned to sbordet

[2021-05-10 10:36] lorban opened #6248 "Server can throw NullPointerException when cleaning up dead HTTP2 connections"
**Jetty version**
10.0.2, 11.0.2

**Description**

When the server processes HTTP2 connections and the client abruptly closes the TCP connection (for instance because the client process crashed) the server way end up tripping on a NPE while trying to cleanup the dead connection.

Here is the NPE's stack trace:

[code]

[2021-05-10 10:38] lorban commented on #6248
Besides logging the NPE this is pretty much harmless as the root cause is that there are two threads competing to cleanup the same data, so the NPE is logged but ignored by the server and all resources are eventually freed.

Adding a simple null-check in the code to make the `HttpChannelOverHTTP2.failAllContent()` method do nothing if the `getStream()` method returns null should be all it takes to

[2021-05-10 14:49] joakime commented on #6237
If you turn on the log4j status logging ...

[code]

You'll see the following ...

[code]

This shows you that the log4j2 runtime shutdown hook runs before the Jetty graceful runtime shutdown hook.
That's why you don't see the logging events via log4j.
As log4j is shutdown / cleared out / you have no loggers, then the graceful shutdown kicks off and executes.

This behavior is documented at https:

[2021-05-10 15:20] sbordet opened #6250 "Lazily allocate HTTP2Stream data queue"
**Jetty version**
10.0.x

**Description**
Most `HTTP2Stream` have no content, and allocating an `ArrayDeque` to never use it has proven to be an allocation hotspot.

Since it's always accessed inside a lock anyway, lazily allocate it.

[2021-05-10 15:22] sbordet opened #6251 "Use CyclicTimeout for HTTP2Streams"
**Jetty version**
10.0.x

**Description**
`HTTP2Stream` inherits from `IdleTimeout`, but most of the times its timeout is never enforced, as the stream completes before the timeout expires.

Use `CyclicTimeout` instead of `IdleTimeout`.

[2021-05-10 15:23] sbordet commented on #6251
See also #2002.

[2021-05-10 18:26] swathikumar4precisely commented on #6233
Hi Simone,

After getting the clearance from my team , I am uploading the source code for JettyPsServerConnector class.
Please review and let us know if this is causing the issue of jetty server going unresponsive.

NOTE - The same code works just fine with jetty v9.4.26.

Regards
Swathi BN
[JettyPsServerConnector.txt](https://github.com/eclipse/jetty.project/files/6454228/JettyPsServerConnector.t

[2021-05-11 06:34] #6248 closed, assigned to lorban

[2021-05-11 11:23] #6250 closed, assigned to sbordet

[2021-05-11 11:26] sbordet opened #6254 "Total timeout not enforced for queued requests"
**Jetty version**
9.4.x

**Description**
The total timeout for requests that are queued in a `HttpDestination` is not always enforced.
Sending a request just before a previous queued one is about to expire resets the timeout of the already queued one.

[2021-05-11 15:06] swathikumar4precisely commented on #6233
Hi Simone,

After carefully reviewing the issue, our team architect was able to resolve the problem by setting SelectorMaxThreads=1 at the below highlighted line in the JettyPsServerConnector class -

public PSJettySelectorProvider(Executor executor, Scheduler scheduler, int selectors) {
             //super(executor, scheduler, 1);
             **super(executor, scheduler, getSelectorConfiguredTh

[2021-05-11 15:37] joakime commented on #6233
Make sure you use the correct `SslContextFactory` for your usage, there is a `SslContextFactory.Server` and `SslContextFactory.Client` that you should use for the specific side / behavior.

This change was introduced in 9.4.16.

Your code isn't using the standard Java selector, instead it looks like you have overridden the selector behavior with a custom selector class.

Why?  And have you kept th

[2021-05-11 19:31] dattasid opened #6256 "What is the correct way to set up CLIENT-CERT authentication in standalone Jetty?"
**Jetty version**
9

**Java version**
1.8+

**Question**
I want to set up CLIENT-CERT authentication.

Standalone Jetty as in not embedded Jetty. I want to configure using the XML/ini files.

Additionally, how do I override the Default Client Cert authenticator with my own? Does Jetty have the concept of Certificate to username mappers ?

[2021-05-11 23:56] djvanpelt opened #6259 "Is AsynchCloseException intended behavior for handling unsolicited responses?"
**Jetty version**
9.4.39

**Java version**
1.8

**Question**
Is it intended for handling of unsolicited responses [5152](https://github.com/eclipse/jetty.project/issues/5152), to result in an AsynchronousCloseException?

About 1 in 10 requests my service makes with the client (to the same uri with the same content) are failing in this way. I jumped my jetty version from 9.2.x to 9.4.39 and am work

[2021-05-12 04:49] scottastanley commented on #6237
Let me look in to it a bit more.  My original reason for getting concerned on this was that the resources that are released in the listener shutdown logic were not being cleanly released.  I noticed on startup I was getting complaints that the resources were not cleanly closed.  I actually removed all of that resource shutdown logic when I put this example together.  Maybe that original problem wa

[2021-05-12 08:19] #6254 closed, assigned to sbordet

[2021-05-12 08:27] sbordet commented on #6259
@djvanpelt the stack trace seems indeed an unsolicited response from the server. Do you have the server configured in this way?

Note that these are not "failures" in the sense that there is nothing to fail, so the stack trace should not pop up unless you are in DEBUG logging -- it's just the server that closes the connection.

In your snippet of code, you don't appear to use `content`.

[2021-05-12 08:42] sbordet commented on #6233
@swathikumar4precisely setting `selector=1` should not "solve" the problem.

You have a custom `java.nio.Selector` implementation via `psSelector` - I guess that it is broken, but I cannot tell as there is no source for that.

Why do you need a custom `java.nio.Selector` implementation?

[2021-05-12 11:43] lachlan-roberts opened #6263 "Review URI encoding in ConcatServlet & WelcomeFilter"
Review of the URI encoding with regards to RequestDispatcher usage.

[2021-05-12 16:00] tresf opened #6266 "MacOS allows binding to used port"
**Note:** Initially, I wasn't sure whether to post this as a question or as a bug.  Since this has been [asked elsewhere](https://stackoverflow.com/q/9614628/3196753), I thought it was something I was doing wrong, but the more I experiment, the more I feel the behavior is incorrect.

**Jetty version**
[code]

**Java version/vendor** `(use: java -version)`
[code]

[code]

**OS type/version**
[code]

[2021-05-12 16:03] #3764 closed

[2021-05-12 16:13] tresf commented on #6266
I believe this is a nuance with PHP's limited `-S` option, it must underlyingly set `SO_REUSEADDR` to true, allowing Jetty to take the port (as it should).  I'll use another technique to bind the port with `SO_REUSEADDR` to false and reopen if the bug still exists.

[2021-05-12 16:47] tresf commented on #6266
Reopening... Reproduced with Python as well... `connector.setReuseAddress(false);` seem to have no affect.

[code]

[2021-05-12 16:59] joakime commented on #6266
You can check with dtrace on OSX to see if reuseaddr is active or not.

https://stackoverflow.com/questions/13726975/why-does-os-x-allow-listening-on-the-same-tcp-port-twice

[2021-05-12 17:08] tresf commented on #6266
@joakime thanks kindly.  Please excuse my inexperience with `dtrace`, I'm unsure how I should be using this tool to verify what the linked S.O article describes.  Here's some one-liners I was able to find online: http://www.brendangregg.com/DTrace/dtrace_oneliners.txt

[2021-05-12 18:13] joakime commented on #6266
@tresf if you can replicate the condition on your OSX with the stackoverflow example, then it's not a Jetty issue.

Also, you can turn of reuseAddress on Jetty's ServerConnector easily.

[code]

https://github.com/eclipse/jetty.project/blob/jetty-9.4.40.v20210413/jetty-server/src/main/java/org/eclipse/jetty/server/ServerConnector.java#L495-L502

[2021-05-12 18:30] tresf commented on #6266
Right, I was aware of this originally which is why I clarified:

Per https://github.com/eclipse/jetty.project/issues/6266#issuecomment-839933836, quoting:

... however I was hoping to receive some assistance with [this advise](https://github.com/eclipse/jetty.project/issues/6266#issuecomment-839941916), quoting:

I'm not sure how to confirm this, and I'm sure others experiencing the same issue wil

[2021-05-13 06:43] LIANGQI0811 opened #6268 "Warnings about "unable to parse form content" are not helpful for troubleshooting"
****

**java version "1.8.0_291"**
**Linux/CentOS 7**

**Description**

****
I noticed that **_org.eclipse.jetty.server.Request#getParameters_**

[code]
IllegalStateException  will be decorated into BadMessageException
And the Exception Message will be BadMessageException's message.

This is unreasonable.I care about IllegalStateException's message instead of BadMessageException's message!

e.g.

[2021-05-13 09:40] LIANGQI0811 commented on #6268
jetty version: 9.4.35

[2021-05-13 21:03] tresf commented on #6266
I'm going to close this out but if someone can shed some light on why neither Python nor PHP honors the reuse address/reuse port settings I think it will help users of the Jetty library / Java developers understand what to expect in regards to port binding.

[2021-05-13 21:03] #6266 closed, assigned to nobody

[2021-05-14 00:58] jflebeau commented on #5229
Any eta?

[2021-05-14 01:14] lachlan-roberts commented on #5229
@jflebeau in the 10.0.x branch we now have:
- Operations Guide documentation for websocket
- Programming Guide for the websocket client.
- Migration guide for websocket for Jetty 9.4 -> 10

The websocket server section of the programming guide is still a work in progress. However you can find out what you need to know by looking at the 9.4 documentation and then the migration guide.

You wont be a

[2021-05-14 07:12] mma5997 opened #6269 "Does upgrading the specific webapp jar help or need to upgrade the whole jetty considering there's a CVE reported for a jetty jar and what is the right way to upgrade this jar ?"
**Jetty version**
9.4.18

**Java version**
Java 11

**Question**
There's a CVE reported for the following jetty jar ==>  jetty-webapp-9.4.18.v20190429.jar
CVE ==> https://nvd.nist.gov/vuln/detail/CVE-2020-27216

So can I just upgrade only the webapp jar to a version where this CVE is not present or I'll have to upgrade the whole jetty ?

Because upgrading only the webapp jar might not help if ther

[2021-05-14 07:40] sbordet commented on #6269
Please upgrade every Jetty jar to the latest release, currently 9.4.40.
Don't even mix Jetty jars of different releases, keep them all consistent at the same version.

[2021-05-14 08:14] mma5997 commented on #6269
Closing it... Thanks for the quick response @sbordet !!!

[2021-05-14 08:14] #6269 closed, assigned to nobody

[2021-05-14 09:48] sbordet opened #6272 "Reduce allocation in HttpClient when notifying content listeners"
**Jetty version**
10.0.x

**Description**
Response content is notified using a `ContentListeners` that is allocated for every response, and uses Java streams that are allocation expensive.

[2021-05-14 11:01] sbordet opened #6274 "Support non-standard domains in X509"
**Jetty version**
9.4.x

**Description**
Class `X509` seems to discard domains that don't have a dot or that have a space in the CN, but there is no correspondent check for SAN.

`X509` should be more lenient and allow for domains such as `localhost` or `[::1]`, because clients may send such domains as SNI.

Note that Java clients don't send SNIs that are non-standard:
https://github.com/openjdk/j

[2021-05-14 11:04] sbordet opened #6275 "Allow to send non-standard domains as SNI"
**Jetty version**
9.4.x

**Description**
Non-standard domains are not sent by Java clients:
https://github.com/openjdk/jdk/blob/jdk-16-ga/src/java.base/share/classes/sun/security/ssl/Utilities.java#L104-L107

It's possible to work this around:

[code]

Would be great if there was a boolean property to control this, rather than forcing users to override `SslContextFactory.Client`.

[2021-05-14 14:29] sbordet opened #6276 "Support non-standard domains in SNI and X509"
**Jetty version**
9.4.x

**Description**
Aggregates issues #6274 and #6275, as one is needed by the other for testing.

[2021-05-14 14:30] sbordet commented on #6274
Aggregated into #6276.

[2021-05-14 14:30] #6274 closed, assigned to nobody

[2021-05-14 14:30] sbordet commented on #6275
Aggregated in #6276.

[2021-05-14 14:30] #6275 closed, assigned to nobody

[2021-05-14 20:31] seisvelas commented on #6239
That totally worked. Thanks a lot!

[2021-05-14 20:31] #6239 closed, assigned to sbordet

[2021-05-14 20:52] gregw opened #6277 "Better handle exceptions thrown from session destroy listener"
Handle exceptions thrown from session destroyed listeners
CVE-2021-34428

[2021-05-15 22:35] #2627 closed

[2021-05-16 01:33] gregw opened #6280 "Copy ServletHolder class/instance properly during startWebapp"
When a forced-file (aka jsp-file) servlet holder is found, the held class is copied over from the servlet named "JSP". However, only the class name is copied, so if there is a class instance from a different classloader, the resulting servlet holder will fail.   Any class instance also needs to be copied.

[2021-05-16 18:37] #6251 closed, assigned to sbordet

[2021-05-16 20:32] mbien opened #6282 "SecuredRedirectHandler should probably redirect with 301"
**Jetty version**
10.0

**Description**
The status code used by SecuredRedirectHandler isn't configurable and currently redirects with 302. If there is no redirect handler set, jetty seems to redirect with 303 by default if the transport-guarantee is set to confidential in web.xml. (some services like the http-01 domain validation challenge used by letsencrypt are not following 303 redirects anymo

[2021-05-16 23:34] scottastanley commented on #6237
I added the output to System.out and I can confirm that on my EC2 node where I normally deploy the test application does indeed call the contextDestroyed method cleanly.  Sorry about the wasted effort on this guys.  I appreciate the effort you guys put in to making sure this worked cleanly.  I'll look elsewhere for the unclean resource shutdown problem I see.  Thought I had it sorted, but I guess

[2021-05-16 23:34] #6237 closed, assigned to lorban

[2021-05-17 00:35] gregw commented on #6282
@mbien do you have any links to RFC's or other recommendations for using 301 rather than 302 or 303?
Currently without the handler, our ConstraintSecurityHandler will use 302 for HTTP/1.0 and 303 otherwise.

I have no issue making this more configurable, but changing default to 301 doesn't feel correct

[2021-05-17 00:41] janbartel commented on #6268
You probably don't want information about the server configuration (max form size) leaking to clients - could give attackers information.

[2021-05-17 01:00] janbartel commented on #6183
@visgans you're a few versions of jetty behind - we're about to release jetty 9.4.41, so you should upgrade to that, or at least 9.4.40.  Also it would be helpful if you have access to some kind of heap dump analysis tool to show where the references are being held.

[2021-05-17 01:05] janbartel commented on #6138
Doesn't seem to have failed again?

[2021-05-17 02:08] #6280 closed, assigned to nobody

[2021-05-17 04:05] mbien commented on #6282
@gregw i don't have official sources which recommend 301 for https redirects. Its more of a best practice for sites which only serve https. (basically all new sites)

[code]
301 will tell the client that it wants to be only reached under the new (https) url in future. Browsers will cache that and also update bookmarks etc which makes sense for sites only serving https. (https://datatracker.ietf.or

[2021-05-17 08:28] #6272 closed, assigned to nobody

[2021-05-17 08:58] mperktold opened #6284 "Timeout on reading from Request with HTTPS and HTTP/2"
**Jetty version**
10.0.2

**Java version/vendor**
openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)

**OS type/version**
Windows 10, 64 bit

**Description**
When upgrading our Vaadin application from Jetty 9.4 to 10, it stopped working properly if accessed via HTTPS

[2021-05-17 09:20] sbordet commented on #6284
@mperktold your project builds, but fails to start for me with:

[code]

and

[code]

[2021-05-17 09:24] mperktold commented on #6284
Interesting, I'll see if I can fix that.

[2021-05-17 10:14] mperktold commented on #6284
I cannot reproduce this problem, but we can try it with NPM instead of PNPM. You just have to change the system property to false in [Main.start](https://github.com/mperktold/vaadin14-embedded-jetty/blob/master/src/main/java/com/vaadin/starter/skeleton/Main.java#L40):
[code]

If a `node_modules` directory was created before, you should probably delete it before trying with NPM.

[2021-05-17 10:36] lorban opened #6285 "HTTP2 client: IllegalStateException: Cannot release an already released entry"
**Jetty version**
9.4.x; maybe 10.0.x and 11.0.x too

**Description**
There seems to be a race condition in the HTTP2 client that makes it very rarely fail with a `IllegalStateException` when multiplexing is enabled:

[code]

This was first seen in `jetty-load-generator`'s `HTTP2WebsiteLoadGeneratorTest.testHTTP2WithPush()` test but it seems generic, and just hard to trigger.

[2021-05-17 10:45] lorban commented on #6285
The problem seems to be linked to the natural race that exists between a normal request/response cycle terminating and that cycle timing out: both are going to race to release the multiplexed connection back into the pool.

The root cause seems to be in `HttpDestination.release(Connection)` as it contains a pair of non-atomic tests:

[code]

The connection might have been released in between these

[2021-05-17 11:15] sbordet opened #6287 "Class loading broken for WebSocketClient used inside webapp"
**Jetty version**
9.4.x

**Description**
The fix for #5859 resolved the leaking of `ClassLoader`s, but now causes class loading issues in web applications, see for example: https://github.com/cometd/cometd/issues/1037.

A web application using the WebSocket client may trigger the creation of a thread, which before #5859 was inheriting the webapp `ClassLoader` as context `ClassLoader`, but now the

[2021-05-17 12:59] mperktold commented on #6284
In the meantime, some more information:

Vaadin uses websockets. The project doesn't use them, but apparently an initial "hello" message is sent anyway. Maybe that's the reason why an `RST_STREAM` is sent?

Also, I've tried a SNAPSHOT of the upcoming 10.0.3 of Jetty, but that didn't help.

[2021-05-17 15:14] sbordet commented on #6284
@mperktold we can reproduce the issue, thanks for the reproducer!
We are working on a fix and we'll keep this issue updated on our findings.

[2021-05-17 17:59] sbordet commented on #6256
See work done in #5933, available in Jetty 10.

[2021-05-18 01:03] janbartel opened #6291 "Flakey test FileSessionDataStoreTest.testCleanOrphans"

[2021-05-18 08:45] lorban commented on #6284
Thank you for the reproducer, it helped us figure out where the problem is much quicker.

Thanks to it, I quickly found that 10.0.0 is not impacted by this bug while 10.0.1 is so it got introduced somewhere between these two revisions. Bisecting then helped me pinpoint the actual change that introduced this problem: https://github.com/eclipse/jetty.project/commit/d297e9c4731a66ca198094e0fe3f2628c4

[2021-05-18 11:59] LIANGQI0811 commented on #6268
Of course, can we compromise? For example, print the detailed reason to the debug log

[2021-05-18 12:11] LIANGQI0811 commented on #6268
Of course, ERROR log is better

[2021-05-18 13:29] sbordet commented on #6276
See also #5379 work done for Jetty 10.

[2021-05-18 14:00] sbordet commented on #5645
Closing as implemented in Jetty 10.
If needed, another issue can be opened.

[2021-05-18 14:00] #5645 closed, assigned to sbordet

[2021-05-18 20:38] makeua opened #6297 "Request after EofException"
**9.4.41.v20210516**

**JDK 11.0.11**

**Is there any way to consume request body after EofException under Spring WebFlux reactive chain? Request contains very small body (like 40-50 bytes), but an example request is sent before browser is closed so the connection is terminated after request is submitted and Jetty server issues a EofException.**

[2021-05-19 07:38] #6285 closed, assigned to lorban

[2021-05-19 09:06] #6291 closed, assigned to janbartel

[2021-05-19 14:27] mperktold commented on #6284
Great, I'm glad it's useful!

That's good to know, thanks!
Still, we will probably stay on 9.4 and wait for 10.0.4.

On that note, is there a tentative release date? In  the [corresponding GitHub project](https://github.com/eclipse/jetty.project/projects/32#card-61319180), there are still quite a few  issues in the to-do state.

[2021-05-19 15:19] sbordet commented on #6284
@mperktold the project you reference is for the next-next release, 1x.0.4.
We still have to release 1x.0.3, which will happen in the next days, with this fix included.

Are you able to try branch `jetty-10.0.x-6284-h2-timeout` and report back if it works for you?

[2021-05-19 15:23] #6284 closed, assigned to lorban

[2021-05-19 15:30] lorban commented on #6284
FYI, I just merged the `jetty-10.0.x-6284-h2-timeout` branch into `jetty-10.0.x` then deleted it so the latter is now the branch you want to try out.

[2021-05-19 21:33] djvanpelt commented on #6259
I did not intentionally configure the server that way, but it was running jetty 9.2. After updating it to 9.4.39 I no longer saw AsynchronousCloseException in the client.

If it is supposed to be logged (and not thrown), then I am still puzzled what caused the exception including that trace. but I am no longer investigating. Thanks for your response.

[2021-05-19 21:33] #6259 closed, assigned to nobody

[2021-05-20 01:05] janbartel commented on #6268
We could do Log.WARN level with the original message eg "Form is larger than max length xxx". This wouldn't be a full stack trace, as attackers can force this to happen and cause resources on the server to be exhausted (ie gigantic log files).

[2021-05-20 01:34] janbartel commented on #6183
@visgans it could be related to https://github.com/eclipse/jetty.project/pull/6218. Can you confirm with a memory analyzer tool?

[2021-05-20 02:21] lachlan-roberts opened #6302 "Treat empty path segments are ambiguous."
**Description**

Empty path segments `//` should be treated as ambiguous by `HttpUri`.

[2021-05-20 06:56] mperktold commented on #6284
That's great news!

I just tried branch `jetty-10.0.x`, it works fine now, thanks!

[2021-05-20 07:10] sbordet commented on #6284
@mperktold thanks for confirming!

[2021-05-20 07:34] #5306 closed, assigned to sbordet

[2021-05-20 09:07] sbordet commented on #6297
@jboo7 I have doubts that your explanation of the issue is in fact what's happening, at least at the Jetty level.
Jetty would read the 50 bytes and call the application, which would then read them until EOF; Jetty would not know yet if the client closed the connection.

I am guessing that the content did not arrive completely to the server, so for example the server received `Content-Length: 50`,

[2021-05-20 09:15] sbordet commented on #6179
Closing as answered.

[2021-05-20 09:15] #6179 closed, assigned to nobody

[2021-05-20 09:17] sbordet commented on #6152
@rijkr closing this as solved. Please reopen if you still have problems.

[2021-05-20 09:17] #6152 closed, assigned to nobody

[2021-05-20 09:18] sbordet commented on #6127
@lachlan-roberts is this resolved?

[2021-05-20 10:27] #6207 closed, assigned to sbordet

[2021-05-20 11:03] sbordet commented on #4998
Closing as no further information was provided.

[2021-05-20 11:03] #4998 closed, assigned to nobody

[2021-05-20 11:04] sbordet commented on #4985
Fixed by #5004.

[2021-05-20 11:04] #4985 closed, assigned to nobody

[2021-05-20 14:09] lachlan-roberts commented on #6127
I'm going to close this as it seems to have been fixed from upgrading to 10.

@dcitron This is due to historical reasons I think, but you should not notice any difference between using the two of them.

In the upcoming 10.0.3 release which should be in the next few days, there is documentation for websocket in the "Operations Guide", documentation for the websocket client usage in the "Programming

[2021-05-20 14:09] #6127 closed, assigned to nobody

[2021-05-20 14:16] makeua commented on #6297
Thank you, after investigating deeper the logs on debug level we found that while the request body is being read on the server side the connection is being reset-ed.

[2021-05-20 14:30] sbordet commented on #6297
Who resets the connection?

[2021-05-20 14:35] makeua commented on #6297
The connection is being close by the client, so from Jetty perspective everything works great

[2021-05-20 14:42] sbordet commented on #6297
@jboo7 if everything is fine, feel free to close the issue, thanks!

[2021-05-20 14:46] makeua commented on #6297
thanks!

[2021-05-20 14:46] #6297 closed, assigned to sbordet

[2021-05-20 23:30] gregw opened #6305 "Optimise `ContextHandler.isProtectedTarget`"
The `isProtectedTarget` method is called on every new request.  It's implementation could be optimised to save trillions of CPU cycles!, but we must get it right as it is a key protection.

[2021-05-20 23:50] janbartel commented on #6235
So the mojo explicitly sets the following variables, that could potentially override a user setting on the `jspc` object directly in the pom:

- `webXmlInclude` (String)
- `uriRoot` (String)
- `outputDir` (String)
-  `sourceVersion` (String)
- `targetVersion` (String)
- `compile` (boolean)
- `jspFiles` (CSV)

For the String variables, I think these are null in the `JspC` class by default, so the p

[2021-05-20 23:54] janbartel commented on #6223
@stevenpyzhang nudge: any more info?

[2021-05-20 23:58] janbartel commented on #6151
@christancorp seems like you have enough information now to answer your initial question, so I'll close this issue. If you need more help, please reopen with more detailed info.

[2021-05-20 23:58] #6151 closed, assigned to nobody

[2021-05-21 01:00] janbartel commented on #6138
I see the problem: the test needs to wait to check the requests in the sessions until the request has fully completed, not just after the response has been returned to the client. Raised PR #6307

[2021-05-21 02:06] janbartel opened #6309 "Remove commented out session test"
`DefaultSessionCacheTest.testNoInvalidateOnShutdown()` was commented out when it was copied into the base class `AbstractSessionCacheTest` (so it can be applied to all types of `SessionCaches`). Remove the old commented out code.

[2021-05-24 00:22] #6138 closed, assigned to janbartel

[2021-05-24 02:48] #6309 closed, assigned to janbartel

[2021-05-24 14:57] #6276 closed, assigned to nobody

[2021-05-25 07:06] gregw opened #6322 "Use `RetainableByteBuffer` in `HttpConnection`"
The `org.eclipse.jetty.server.HttpConnection`  class should use `org.eclipse.jetty.io.RetainableByteBuffer` rather than it's own reference counting of buffers.  This will eventually allow a more efficient buffer pool abstraction to be used that provides `RetainableByteBuffers` directly.

[2021-05-25 07:08] gregw commented on #6322
@lorban Simone suggested that we do this.   I had a quick look at the input side at least looks achievable, so I thought I'd punt to you with your HttpInput experience.     I think it can be done entirely in `HttpConnection` since every increment of the reference counter is done by calling newContent, so the Content itself can do the retain and release.   I've not yet looked at the output side.

[2021-05-25 08:07] sbordet commented on #6322
@gregw I don't think the output side is involved at all, as `RetainableByteBuffer` is only for the input side.
By using it, we will make all protocol implementations homogeneous and we could pool them more efficiently.

On the output side, all implementations currently rely on pooled "naked" `ByteBuffer`s but I'm not sure how much better we can do considering that we have to wrap `byte[]` most of

[2021-05-25 19:30] mike-strauch opened #6323 "HttpClient gets stuck/never calls onComplete() when multiple requests with timeouts are sent"
**Jetty version**
v9.4.41
v11.0.3 (does not get stuck, but exhibits unexpected behavior, more on that below)

**Java version/vendor** `(use: java -version)`
11.0.7+8-LTS

**OS type/version**
OSX 10.15.4

**Description**
I'm using HttpClient to send multiple HEAD requests with multiple threads with followRedirects=true and a timeout of 5 seconds for each request.  I've observed that with sufficient

[2021-05-26 01:00] praveenkjvs opened #6324 "Separation of responsibility between IO events and Execution of requests"
**Jetty version**
9.4.12.v20180830

**Java version**
Open JDK 1.8

**Question**
Ambari uses jetty as embedded web server. Ambari is basically a cluster controller that is responsible to maintain a large set of nodes with a Hadoop cluster. Occasionally we see that the jetty server has a large number of connections under CLOSE_WAIT state, leading to "Too Many Open files" issue. We are trying to repr

[2021-05-26 09:24] Deepak-D commented on #6287
Hello @sbordet / @lachlan-roberts, good day to you! I guess I'm facing this problem. More details [here](https://stackoverflow.com/questions/67432768/thread-currentthread-getcontextclassloader-behaving-differently-from-jetty-9). Could this be confirmed?
Thanks in advance!!

[2021-05-26 15:45] sbordet opened #6326 "JettyWebSocketServletContainerInitializer without @HandlesTypes"
**Jetty version**
10.0.x

**Description**
`JettyWebSocketServletContainerInitializer` is not annotated with `HandlesType`, so it is not able to automatically discover WebSocket endpoints annotated with `@WebSocket`, or extending `WebSocketListener`.

Constrast this with `JavaxWebSocketServletContainerInitializer` that is correctly annotated and whose discovered classes are properly processed.

[2021-05-26 15:46] sbordet commented on #6326
@lachlan-roberts is this by design?
Seems strange not be able to get automatic discovery of WebSocket endpoints when using the Jetty WebSocket APIs.

[2021-05-26 17:10] sbordet commented on #6323
@mike-strauch I can reproduce the issue, investigating.

[2021-05-27 01:14] lachlan-roberts commented on #6326
@sbordet I don't know if its by design, the but discovery of WebSocket endpoints with the Jetty WebSocket APIs is just not something we do even in 9.4.

Even if we discover them we don't have the metadata on how to deploy them, the annotation for Jetty websocket endpoints is just `@WebSocket` for both client and server, and doesn't take the uri parameter like javax one does `@ServerEndpoint("/path

[2021-05-27 01:31] lachlan-roberts commented on #6287
@Deepak-D from reading the description it doesn't seem to be the same issue. This issue is only relating to the use of `WebSocketClient` inside the webapp. Are you using the `WebSocketClient` and accessing the ContextClassLoader from within the websocket endpoint?

If not would it be possible to attach a simple reproducer where the `getContextClassLoader()` gives `WebAppClassLoader` in `9.4.36` an

[2021-05-27 03:34] janbartel opened #6327 "Review disabled tests in Jetty 10.x"
See #5684 which is the list of disabled tests in jetty-9.4.x. This issue is tracking the list of disabled tests in jetty-10.0.x instead.

- [x] [demos/demo-jetty-webapp/src/test/java/org/eclipse/jetty/TestServer.java#L51](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/demos/demo-jetty-webapp/src/test/java/org/eclipse/jetty/TestServer.java#L51):  ` @Disabled("Not a test case")`
- [x] [d

[2021-05-27 04:23] janbartel commented on #6327
@gregw @lachlan-roberts @lorban @sbordet @joakime @olamy @jmcc0nn3ll   this is the issue to track the disabled tests in jetty-10: this supercedes issue #5684 which was disabled tests in jetty-9.4. Please take a look at these tests and either tick them off if they are correctly disabled _and_ they have an appropriate condition (eg disabled on system property or os), or issue a PR to remove or fix t

[2021-05-27 04:24] SerCeMan opened #6328 "High CPU usage of method handle invocations in Jetty 10"
**Jetty version**

`10.0.3`

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version**

`Ubuntu 18.04.5 LTS`

**Description**

Hi, Jetty maintainers!

We've recently attempted a migration from Jetty 9 to Jetty 10 and we've noticed a regression related to WebSockets. According to our metrics, there seems to be a memory leak which I'm still currently investigating and I hope to pro

[2021-05-27 07:55] Deepak-D commented on #6287
Hello @lachlan-roberts , thanks for your feedback..

Here is my case!

I have WebSocket `ClientEndpoint` in a jar (Say client.jar) which is deployed in `JETTY_BASE/lib/ext` (since this client is accessed by multiple web application deployed in `JETTY_BASE/webapps` and each webapp is differentiated by unique client id).

ClientEndPoint will look like below
[code]
 WebSocket `ServerEndpoint` in anot

[2021-05-27 09:07] lachlan-roberts commented on #6287
@Deepak-D this does sound like it is the same issue.

If you want to verify this, then you can build the branch for PR #6325 (`jetty-9.4.x-6287-WebSocketClientClassLoading`) and test with your code to see if this fixes it for you.

[2021-05-27 10:31] ofrias opened #6329 "Regression on graceful shutdown default in Jetty 10"
The method Servlet.destroy() is not being called when Jetty is stopped when using the default configuration.

It is called if this line is added to the configuration:

jetty.server.stopAtShutdown=true

But it seems to me that the default behavior should be the opposite, because calling Servlet.destroy() is what one expects from the servlet container, and not calling it looks like an optional optim

[2021-05-27 11:25] sbordet commented on #6324
We have tried to split the execution point past the network reads, but it was a performance killer.
You can read why here: https://webtide.com/avoiding-parallel-slowdown-in-jetty-9/

We cannot continuously read from the socket, hoping to find a -1.
This would be an attack vector to the server because it would require infinite buffering from the server.

For the reasons above, separating thread poo

[2021-05-27 12:53] joakime commented on #6329
The `jetty.server.stopAtShutdown` configuration option causes the [`Server.setStopAtShutdown(boolean)`](https://github.com/eclipse/jetty.project/blob/jetty-10.0.3/jetty-server/src/main/java/org/eclipse/jetty/server/Server.java#L192-L217) method to be called in the `etc/jetty.xml` configuration.

This essentially controls how the server behaves with a SIGTERM (or <kbd>Ctrl+C</kbd> command).

This c

[2021-05-27 12:58] ofrias commented on #6329
We use `jetty.sh stop` and Jetty does not call `Servlet.destroy()` if `jetty.server.stopAtShutdown` is not set to `true`

[2021-05-27 13:22] joakime opened #6330 "CustomRequestLog is missing HTTP version format option"
**Jetty version**
9.4.x

**Description**
If someone wants to move away from CustomRequestLog NCSA format to one that is slightly tweaked but still includes HTTP version (as seen in the NCSA format), then they have to drop the HTTP version portion.

To explain, this started with the stackoverflow question at https://stackoverflow.com/questions/67635098/request-param-is-logged-in-access-log-with-emb

[2021-05-27 13:34] joakime commented on #6324
Also, upgrade your version of Jetty, as 9.4.12 is an early version of Jetty with the Reserved Thread concepts (introduced in 9.4.9 and refined over time).

Reserved Threads were a concept introduced to handle HTTP/2 better, where the physical connection (and it's I/O) still needs to be handled even if the individual streams (I like to think of them as virtual connections and requests) are not read

[2021-05-27 13:56] joakime commented on #6329
Since you didn't declare your specific version of Jetty or OS, or where you got your copy of Jetty (eg: from a Linux distro packaging), this is the generic response ...

If your usage of `jetty.sh stop` doesn't behave, it's likely that you haven't declared `STOP.PORT` and/or `STOP.KEY`.
Have you declared them in your `/etc/default/jetty` ?

Once your copy of Jetty is running, the port your defined

[2021-05-27 14:03] ofrias commented on #6329
We are using the `jetty.sh` shipped in Jetty 10.0.3 tarball.  We have not configured `STOP.PORT` and `STOP.KEY` in our `/etc/default/jetty`, but they were also not configured for Jetty 9.4 and it worked as expected with kill signals.  In our case we have fixed this by setting the `jetty.server.stopAtShutdown=true` flag, but in my opinion the default setup should stop gracefully when using jetty.sh

[2021-05-27 14:14] joakime commented on #6329
Identifying the difference as compared between 9.4.x and 10.0.x is useful!  Thank you for that.

Looking around ...

[code]

Well, the `jetty.sh` is identical.  What about the jetty.xml ...

[code]

Aha!  the syntax change on XML is the culprit.

Specifically this ...

[code]

This change is a result of commit https://github.com/eclipse/jetty.project/commit/343cf732b9a5aacd4c84fcb937a4b1624a1a0afd

[2021-05-27 14:23] bbergquist0930 opened #6331 "How can I get the same JSESSIONID that is returned in the cookie through HttpSession.getId()?"
**Jetty version 9.4**

**Java version 11**

**How can I get the same JSESSIONID that is returned in the cookie through HttpSession.getId()?**

I have a REST endpoint that is doing programmatic JAAS login and returning the JSESSIONID via a JSON body.   The JSESSIONID that I retrieve getting the HttpSession and using the `getId` method does not return the extended session ID is adorned with the work

[2021-05-27 16:36] joakime commented on #6331
There's nothing in the session handling in Jetty that could handle a JSESSIONID included in the json body of the request or the response (we simply do not look there).

Since what you are attempting to do is not defined in the Servlet spec or the JAAS spec, I would suggest you either consider making a formal JSON Session Handling layer in Jetty or JAAS (difficult, but possible), or using the Jetty

[2021-05-27 21:58] gregw commented on #6331
The reason the worker name is not included is that it is not considered part of the id, it is only a routing hint. Ie if the load balancer routes the wrong worker name to a worker node then it doesn't matter.

Applications should equally not care and should ignore the worker name. They need not generate a worker name in a link... It they can use the methods provided in the API that will correctly

[2021-05-27 22:18] gregw commented on #6329
@joakime good catch. The new xml does not call the setter unless the property is set, so it is no good for setting a default.

We can either change the default in the code or revert those xml segments

[2021-05-28 00:33] lachlan-roberts commented on #6330
@joakime I think `%H` should do what you are looking for.
So you should replace the `"%r"` portion with `"%m %U %H"`.

[2021-05-28 00:42] joakime commented on #6330
@lachlan-roberts I think you are correct.
Consider this a documentation issue then, we need to probably provide more explanation of that `%H` format option.

Perhaps even documentation on the `%r` option to show the equivalent in other options for the same output?

[2021-05-28 00:52] lachlan-roberts commented on #6330
I don't think its possible to reproduce `%r` exactly with another format string. There is no percent code for `request.getOriginalURI()` so it is currently not possible.

[2021-05-28 00:54] janbartel commented on #6331
I don't really understand your scenario, but as you are in charge of configuring the jetty server side, why don't you just put the workerId you've configured into a system property so you can access it in your application?

[2021-05-28 01:00] joakime commented on #6330
Couldn't you use `%m %U%q %H` to be the equivalent of `%r`?

[2021-05-28 01:01] lachlan-roberts commented on #6330
You could almost do it with `%m %U%q %H` but then you won't have the fragment string and it doesn't look like there is a percent code for that.
And also `getOriginalURI()` says it is before customization/rewrite.

[2021-05-28 02:57] LIANGQI0811 commented on #6268
very will,thanks for jetty project team!

[2021-05-28 02:57] #6268 closed, assigned to janbartel

[2021-05-28 08:01] #6305 closed, assigned to gregw

[2021-05-28 09:56] linking12 opened #6333 "Customize do not index HTTP2 header by Hpack"
**Jetty version**
     9.4.41.v20210516
**Java version**
     JDK1.8
**Question**
    1:  when jetty cllient hpack index all of http2 header，found tomcat will throw some exception like this:

[code]

2:  so replace tomcat HpackDecoder code in project class to catch error like this:

[code]

3: found it is a large header and change all the time cause tomcat decode error;

[code]

summary:
  1: is a

[2021-05-28 11:43] bbergquist0930 commented on #6331
There is an Angular 10 application (using HTTP and not HTTPS right now) that needs to login to the server.   The Web application is setup to use FORM authentication and while I can login with `curl` with no issue using POST to `j_security_check`, the Angular application cannot.   The Angular application is not local so a CORS filter is setup to provide the proper CORS headers in the response howev

[2021-05-28 11:45] bbergquist0930 commented on #6331
This is the key information I think that I needed.

[2021-05-28 13:08] qingdaoheze commented on #6333
The original exception stack trace is as below in Tomcat source:

java.lang.NegativeArraySizeException: -1
	at java.base/java.lang.AbstractStringBuilder.<init>(AbstractStringBuilder.java:86)
	at java.base/java.lang.StringBuilder.<init>(StringBuilder.java:112)
	at org.apache.coyote.http2.HpackDecoder.readHuffmanString(HpackDecoder.java:231)
	at org.apache.coyote.http2.HpackDecoder.readHpackString(H

[2021-05-28 14:17] sbordet commented on #6323
@mike-strauch do you have the chance to try branch `jetty-9.4.x-6323-review-httpclient-timeout` to confirm that your problem is fixed?

[2021-05-28 16:22] mike-strauch commented on #6323
I may not get to it until next week; but yes, I will try it out.  Thanks!

[2021-05-29 22:39] gregw commented on #6333
Can you give us some examples of the actual headers being sent?
Why do you say "all indexed"?

[2021-05-31 00:03] janbartel commented on #6331
Closing the issue as I think the question has been answered.

[2021-05-31 00:03] #6331 closed, assigned to nobody

[2021-05-31 00:10] janbartel commented on #6123
Closing as the issue is resolved.

[2021-05-31 00:10] #6123 closed, assigned to nobody

[2021-05-31 00:12] janbartel commented on #6117
Closing as the question has been answered.

[2021-05-31 00:12] #6117 closed, assigned to nobody

[2021-05-31 00:21] janbartel commented on #6063
Fixed by #6064

[2021-05-31 00:21] #6063 closed, assigned to joakime

[2021-05-31 00:24] janbartel commented on #6044
Seems like the issue has been addressed, and using --add-module=rewrite is the right way to go. If you still have concerns please reopen.

[2021-05-31 00:24] #6044 closed, assigned to joakime

[2021-05-31 02:12] linking12 commented on #6333
My understanding， for sensitive header, It can not index in hpack,but in jetty client hpack, if dynamicTableSize is enough，All of the header are indexed in hpack;

[code]

In netty code, if header is sensitive, it not indexed like this:

io.netty.handler.codec.http2.HpackEncoder
[code]

we will provider examples header after our change and verification  code for sensitive header

[2021-05-31 05:14] janbartel commented on #6112
@gregw we can mostly replace all of the `log.info() `and `log.warn()` messages with `ServletContext.log()` methods instead, but what about `log.debug()`?

[2021-05-31 05:17] gregw commented on #6333
Jetty has already checked against our NEVER_INDEX fields and non-zero content-lengths, which is the same concept as netty's sensitive parameter.

Even if we are not optimal in our choice of what fields to index, that should still not cause an exception in tomcat.

[2021-05-31 05:24] gregw commented on #6076
9 already has NPE protection

[2021-05-31 05:24] #6076 closed, assigned to gregw

[2021-05-31 05:33] gregw commented on #6112
@janbartel I think we should just remove the debug.
Ultimately I think we should deprecate all of these servlets and find some other way of providing them other than exposing them through the classloader.

[2021-05-31 07:01] linking12 commented on #6333
you mean this?
[code]

i think there are some wrong with custome header,  for custome header, if it is sensitive, should be indexed in hpack

[code]

[2021-05-31 08:56] xinguangduan opened #6337 "i found a lot of threads "waiting on condition" status"
**Jetty version**
9.4.40.v20210413
**Java version**
 jdk1.8
**Question**
i found a lot of threads "waiting on condition" status,and CPU up to 289%,like as below, need i to tune the thread pool?

current thread pool config:

threadPool.setMinThreads(100);
threadPool.setMaxThreads(2000);
threadPool.setDetailedDump(false);

and the server info: 4 core 32G mem

who can answer my question? thanks a lot

[2021-05-31 09:13] linking12 commented on #6333
@gregw  I think we has found the problem
as i said in last reply， after we disable custome header in hpack, tomcat's exception has gone.
i think there is something wrong in dynamicTable index;

[2021-05-31 09:54] davido commented on #6132
Thanks for the fix! Just to confirm that after upgrading to 10.0.3 and removing the workaround: `config.setUriCompliance(UriCompliance.RFC3986)`, the previously failing test succeeded:

[code]

[2021-05-31 09:56] sbordet commented on #6328
@SerCeMan we do see the tiny green towers in a quick load test that we have written to try to reproduce this issue.

We would like to know:

* Are you using annotated WebSocket endpoints, or you implement `WebSocketListener`?
* I'm assuming your messages all have different sizes, or is your flamegraph the result of some load test with fixed size messages?
* While we do see the tiny green towers, t

[2021-05-31 12:22] gregw commented on #6333
Something strange is going on? I see email alerts for comments on this issue, but the comments are not here?

The spec does not define what "sensitive" means.  We have interpreted it to be the fields in our NEVER_INDEX set and non-zero content-lengths.   We could make it more configurable.
But ultimately, even if we do encode a "sensitvie" with indexing, that should not cause tomcat to throw an ex

[2021-05-31 12:26] gregw commented on #6337
That stacktrace is of an idle thread in the thread pool waiting for a new job.  Those threads should be using no CPU, so the 289% is likely coming from other threads.
I think this is normal behaviour, no tuning is needed as if you have excess idle threads they will decay over time.

[2021-05-31 12:26] #6337 closed, assigned to nobody

[2021-05-31 13:06] linking12 commented on #6333
@gregw

sorry for my mistask to close this issue

device-info: eyJzY3JlZW5fcmVzb2x1dGlvbiI6IjE3OTIsMTEyMCIsImF2YWlsYWJsZV9zY3JlZW5fcmVzb2x1dGlvbiI6IjE3OTIsMTAxNyIsInN5c3RlbV92ZXJzaW9uIjoiTWFjIE9TIDEwLjE1LjciLCJicmFuZF9tb2RlbCI6InVua25vd24iLCJzeXN0ZW1fbGFuZyI6InpoLUNOIiwidGltZXpvbmUiOiJHTVQrOCIsInRpbWV6b25lT2Zmc2V0IjotNDgwLCJ1c2VyX2FnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfM

[2021-06-01 00:15] #6112 closed, assigned to janbartel

[2021-06-01 02:33] xinguangduan opened #6339 "a lot of threads "waiting on condition" status,and CPU up to 289%"
Jetty version
9.4.40.v20210413
Java version
jdk1.8
Question
i found a lot of threads "waiting on condition" status,and CPU up to 289%,like as below, need i to tune the thread pool?

current thread pool config:

threadPool.setMinThreads(100);
threadPool.setMaxThreads(2000);
threadPool.setDetailedDump(false);

and the server info: 4 core 32G mem

who can answer my question? thanks a lot !

"qtp74082

[2021-06-01 02:34] #6339 closed, assigned to nobody

[2021-06-01 04:10] janbartel commented on #4797
Websocket manifest was updated via https://github.com/eclipse/jetty.toolchain/pull/32

[2021-06-01 04:10] #4797 closed, assigned to janbartel

[2021-06-01 04:11] janbartel commented on #5914
@robozb have you diagnosed this, or do you have any further info on this?

[2021-06-01 07:32] gregw commented on #6333
@linking12 Looking at https://bz.apache.org/bugzilla/show_bug.cgi?id=65340 you are suggesting that the problem is a too small buffer in Tomcat.    So we will let them analyse/confirm that.
Thanks for providing extra information.

[2021-06-01 09:28] linking12 commented on #6333
yes, we will double check too, we expand buffer in our code and will check the exception can reproduce again.

[2021-06-01 12:00] sbordet opened #6340 "Support JMX open types"
**Jetty version**
9.4.x

**Description**
Would be great if `ObjectMBean` could support JMX's open types, so that it would be possible to return "record" like views of many attributes.

For reference, see the javadocs for the `javax.management.MXBean` annotation mentioning `MemoryUsage`, `ThreadInfo`, etc.

We would add an attribute to `@ManagedAttribute`: `boolean open()`.

When set to `true`, a c

[2021-06-01 15:56] qingdaoheze opened #6341 "The index ID of the request header that Jetty sent to Tomcat was not found in the index table on the Tomcat side"
**Jetty version**
9.4.41.v20210516

**Tomcat version**
9.0.45

**Java version/vendor** `(use: java -version)`
JDK1.8

**OS type/version**
Centos 7

**Description**
I use jetty http client to call tomcat server in h2c protocol. I encountered the following exception after running about 8 hours.
**It seems the header tables are not sync between jetty and tomcat.**

[code]
The tomcat source code is as

[2021-06-01 16:22] joakime commented on #6341
Tomcat 9.0.45 is chasing some HPACK issues at the moment (as a result of discussion on #6333)

https://bz.apache.org/bugzilla/show_bug.cgi?id=65340

[2021-06-01 18:18] Falmarri commented on #3314
I know this is old, but what's the solution for logging the request IDs then if not a channel listener?

[2021-06-01 18:23] jebeaudet commented on #3314
@Falmarri I've been using channel listeners for the past couple of years for our audits and it works great. We're just not using thread locals but instead relying on `request.setAttribute()` and `request.getAttribute()` to pass stuff around the lifecycle of the request like suggested here.

[2021-06-01 18:56] mike-strauch commented on #6323
@sbordet things are looking better in that requests are no longer getting stuck.  I did notice one inconsistency and that is the error message when a timeout occurs looks like `Total timeout 4552 ms elapsed` as opposed to `Total timeout 5000 ms elapsed` where the `4552` value seems to fluctuate rather than reporting the timeout that was specified on the request.

I'm also seeing an increase in the

[2021-06-01 19:50] sbordet commented on #6323
Yes this is because the many redirects you have shave off the original request timeout.
I agree that the original timeout should be reported though.

As for the 503, seems like a server error, not sure what happens there.
Do you have DEBUG logs?
Or access to the server logs to see why it fails?

[2021-06-01 19:56] mike-strauch commented on #6323
Nah, it's not our server.  I ran the test again with the new Jetty build and did see some 503s go by while debugging, but the re-check using a GET request succeeded so no 503s were reported in our link check report because 1 of the 2 requests succeeded.  My guess is I'm overwhelming the server with too many requests to try and get things to fail.  It was just odd that I didn't see any 503s on olde

[2021-06-01 21:12] mike-strauch commented on #6323
I just confirmed that I'm seeing 503s go by in Jetty 9.4.11, so I think we're good there.

[2021-06-02 00:08] gregw opened #6343 "Stale Pull Request automation"
We need to automate handling of stale pull requests.

I would like to see something that:
 + PRs that are not draft but that do not have a open project assigned are either:
    - Assigned to the "current" project?
    - Closed?
    - Commented on with a warning?
 + draft PRs that have not been updated for 2 weeks are marked as stale
 + stale PRs that have not been updated for 2 weeks are closed.

[2021-06-02 00:10] gregw commented on #6343
@olamy @joakime, I'm not sure who is best to do this, so I've assigned you both.

[2021-06-02 00:34] #6118 closed, assigned to olamy

[2021-06-02 02:24] olamy commented on #6343
@joakime we could use the "official" github actions https://github.com/actions/stale
and btw use for the current issues stale mechanism to have a single source of configuration.
WDYT?

[2021-06-02 02:44] redriverhong opened #6346 "The Jetty client invoking request is suspended."
We are facing an an issue where some threads get blocked indefinitely waiting on the CountDownLatch in FutureResponseListener.get(). Relevant section of the thread dump:
jetty-client-9.4.38.v20210224.jar
![image](https://user-images.githubusercontent.com/11647782/120415401-0dd88c80-c38e-11eb-918b-8722b1c75f56.png)

[2021-06-02 02:50] gregw commented on #6343
@olamy The standard stale action is a good start.  But we also need an action to check for non-draft issues without a project assigned.

[2021-06-02 03:19] gregw commented on #6346
Can you give some more information about the requests:
 - Do they have bodies?
 - What kind of responses are expected?
 - Has any part of the response been received?
 - What timeouts do you have set?
 - Any debug logging ?

[2021-06-02 03:25] redriverhong commented on #6346
I'm looking for a list.
This is an occasional problem. Currently, only the stack information is available.
No response was received.
IdleTimeout is set.

[2021-06-02 04:43] janbartel opened #6347 "session-store-gcloud module broken logging dependency"
jetty-10 head

Our documentation says:

Either the module or the documentation or both are broken.

[2021-06-02 05:23] olamy commented on #6343
@gregw ok so this need some home made development. I can do that as well

[2021-06-02 12:13] lachlan-roberts commented on #6328
@SerCeMan @sbordet I have done some testing and understand a bit more why this is happening.

For each WebSocket endpoint we get MethodHandles for the relevant methods `onOpen`, `onMessage` etc. Then for each new WebSocket connection we bind these MethodHandles to things like the endpoint and session instances. This creates new MethodHandles for each connection which shows up as a different method

[2021-06-02 18:38] praveenkjvs opened #6350 "Calling setLowResources() is a No-Op?"
https://github.com/eclipse/jetty.project/blob/a55b315f14886e7dffd9c2ea7cfb378d66297843/jetty-server/src/main/java/org/eclipse/jetty/server/LowResourceMonitor.java#L306

Seems like calling setLowResources(), when we are already in LowResourceMode is a No-Op. Reason being, as soon as LowResourceMode is entered , the server socket(s) are set to not-accepting state. And then all the idle time out is s

[2021-06-02 18:38] joakime commented on #4785
Closing, as `Content-Encoding: utf-8` is a bad header value, the `utf-8` value is not a content encoding, but rather a charset encoding.

[2021-06-02 18:38] #4785 closed, assigned to nobody

[2021-06-02 18:41] joakime commented on #3508
On windows, you can `new File("directoryFoo").delete()` and then do `new File("directoryFoo").exists()` and get true, as the filesystem locks and what not have not released that directory to Java yet, and this can take A LOOONG time to resolve itself on that running instance of Java.

A file, that is never opened by anything in Jetty, will avoid the File locks in windows that causes all of the pro

[2021-06-02 18:43] joakime commented on #4784
Answered about Request object is not reusable.

[2021-06-02 18:43] #4784 closed, assigned to nobody

[2021-06-02 18:44] joakime commented on #4853
No further information provided.
Closing

[2021-06-02 18:44] #4853 closed, assigned to nobody

[2021-06-02 18:46] joakime commented on #4800
@lachlan-roberts looks like bug https://bugs.openjdk.java.net/browse/JDK-8244090 was fixed in JDK16, do we still need this issue open?

[2021-06-02 18:53] joakime commented on #315
Closing as this is a duplicate (or overlap) of #3514

[2021-06-02 18:53] #315 closed

[2021-06-02 18:55] #4866 closed, assigned to nobody

[2021-06-02 22:40] sbordet commented on #6350
@olamy can you look at this? The code is indeed weird.

[2021-06-02 22:43] sbordet commented on #6328
Do you *need* to do this? I am referring to the binding, because if we have 1M connections we would have 1M different `MethodHandle`s, while I'm assuming that if you don't bind, we would only have 1 `MethodHandle`, no?

[2021-06-03 00:13] lachlan-roberts commented on #6328
@sbordet  We don't _need_ to bind the MethodHandle, you can invoke the original MethodHandle providing all the arguments every time. We would just need to remember the endpoint and session everywhere we invoke the MethodHandle.

In the project I linked there is a [benchmark](https://github.com/lachlan-roberts/MethodHandlesExample/blob/master/src/test/java/test/MethodHandlesBenchmark.java) comparin

[2021-06-03 01:21] gregw commented on #6328
Perhaps we should raise an issue on whatever software is producing the flame graph.   Binding to a method handle is a normal thing to do and as @lachlan-roberts benchmark show, it is the right thing to do.
The tools should be smart enough to know that bound MethodHandles are the same class, differing only by data.

[2021-06-03 01:23] gregw commented on #6328
@lachlan-roberts can you paste the benchmark report into a comment on this issue.

[2021-06-03 01:23] gregw commented on #4879
still a good idea

[2021-06-03 01:25] gregw commented on #3649
@lachlan-roberts I think this is done now?  at least optionally, as the issues we had recently indicate that their may be classloader issues that prevent sharing of HttpClient.
Can you comment, link to any related issues and then close.

[2021-06-03 01:26] #6347 closed, assigned to janbartel

[2021-06-03 02:30] SerCeMan commented on #6328
Hey, folks! Sorry for the delayed response. I'll try to prepare answers later today. I'm still trying to reproduce the issue in the test environment - no luck yet, but I suspect that it might be related to Shenandoah GC that we're using. I'm still working on a test case that can reproduce it.

[2021-06-03 05:14] lachlan-roberts commented on #6328
Benchmark Results:
[code]

[2021-06-03 05:20] lachlan-roberts commented on #4800
Yep fixed in JDK16 so closing this issue.

[2021-06-03 05:20] #4800 closed, assigned to nobody

[2021-06-03 05:24] #6287 closed, assigned to lachlan-roberts

[2021-06-03 05:56] lachlan-roberts commented on #3649
@gregw we have ways of sharing the `HttpClient`, but for `ContainerProvider.getWebSocketContainer()` there is no way to use a shared `HttpClient` without using a dependency to the Jetty implementation of the `ContainerProvider`.

When you call `ContainerProvider.getWebSocketContainer()` we will create a new websocket client each time this is called, this does not share its `HttpClient` and it does

[2021-06-03 06:08] lachlan-roberts commented on #6343
What about PRs that are not important to get into a specific release. Like cleanup PRs or new features or improvements which no one is waiting on.

Maybe we should have a label something that we could assign to a PR to indicate that it does not need to be in the next release.

[2021-06-03 06:46] linking12 commented on #6333
https://bz.apache.org/bugzilla/show_bug.cgi?id=65340#c10

@gregw   I think our team has reproduce this issue, this is a bug for tomcat
1: headerReadBuffer had better to set same with maxheadersize, too many times expand is waste too much heap memory
2: fix -1 issue
can you contact tomcat dev team to fix this issue?  they do not reply any more...

[2021-06-03 06:51] qingdaoheze commented on #6333
@gregw  This issue is a bug of Tomcat. I have provided the detail in the tomcat issue as below:
https://bz.apache.org/bugzilla/show_bug.cgi?id=65340

[2021-06-03 07:03] qingdaoheze commented on #6341
@joakime The tomcat bug you mentioned above has been confirmed. Its root cause is header parse error. When I expanded the headerByteBuffer, it will be fine. The two issues are different, please help check it. Because the jetty issue occurred when I have expanded the size of headerByteBuffer to a big enough  value.

https://bz.apache.org/bugzilla/show_bug.cgi?id=65340

[2021-06-03 08:18] gregw commented on #6333
thanks! closing here.

[2021-06-03 08:18] #6333 closed, assigned to nobody

[2021-06-03 08:20] gregw commented on #6343
@lachlan-roberts then they can either be assigned to a following release (we can have multiple defined) or they should be draft PRs

[2021-06-03 08:21] gregw commented on #3649
@lachlan-roberts so you are saying: "yeah this can be closed"?

[2021-06-03 08:56] sbordet commented on #6323
@mike-strauch thanks for confirming.

[2021-06-03 09:15] sbordet commented on #4782
This has been implemented in the context of #5787.
In particular, there is now a `ManagedSelector.getAverageSelectedKeys()` that returns the average number of selected keys for each `select()`.

[2021-06-03 09:15] #4782 closed, assigned to nobody

[2021-06-03 10:55] aliqq7 opened #6352 "G"
**Jetty version**

**Java version/vendor** `(use: java -version)`

**OS type/version**

**Description**

[2021-06-03 11:02] #6352 closed, assigned to nobody

[2021-06-03 11:07] aliqq7 commented on #6352
Didn't

[2021-06-03 11:31] rymsha commented on #4317
We have reproduced it with JaxRs SSE

Simplest client
[code]
According to Wireshark client receives a reply
[code]

And after that... silence.

Actually if server gets stopped, stuck event messages get delivered!

Seems like `GzipHttpOutputInterceptor` is not willing to send content immediately to the client hoping to get more into its buffer for efficiency, or sending it when response is complete

[2021-06-03 12:22] lachlan-roberts commented on #3649
I was just describing the current state in Jetty-10. But sure, if this sounds okay to you then we can close this issue.

[2021-06-03 12:22] #3649 closed

[2021-06-03 12:59] joakime commented on #6341
I do not understand your update.

Is the fix on the tomcat side fixing both issues (this one and #6333)?
Have you filed an issue on the tomcat side for this as well?

[2021-06-03 13:11] tjwatson opened #6354 "org.slf4j dependency imports osgi packages at 2.0"
**Jetty version**
10.0.x

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
The jetty JARs are packaged as OSGi bundles.  The ones that require slf4j have an Import-Package header in their META-INF/MANIFEST.MF that have the following specified:

[code]

When using such JARs as bundles in an OSGi framework this forces the installation of a the slf4j 2.0 (w

[2021-06-03 13:16] joakime commented on #6354
slf4j-api is not optional, but it the version range should be fixed to be `org.slf4j;version="[1.7.0,3)"`

[2021-06-03 13:16] #5931 closed, assigned to sbordet

[2021-06-03 13:20] jmcc0nn3ll commented on #6354
Are those versions still computed by the bundle plugin at build time? We still need to release distro with 2.0.0 for the jpms start option works, correct?

[2021-06-03 22:22] mike-strauch commented on #6323
Is there a formal release schedule I can keep an eye on for this fix?  I could use my own dev build for this fix but would prefer to use an official release.  Thanks!

[2021-06-03 22:28] sbordet commented on #6323
We are planning for next week.

[2021-06-04 00:25] gregw commented on #4317
The event stream should probably flush after each send. I'm reluctant to exclude the mimetype by default as that would preclude implementations that do flush

[2021-06-04 00:32] gregw commented on #3508
I think it would be far simpler to just warn if /tmp is used and perhaps default to using the $JETTY_BASE/work directory ?

[2021-06-04 07:16] rymsha commented on #4317
But it actually does flush
https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/jetty-servlets/src/main/java/org/eclipse/jetty/servlets/EventSourceServlet.java#L167
And Resteasy implementation also calls `ServletResponse#flushBuffer`

[2021-06-04 08:45] 4devwithgit opened #6360 "Issue with UI loading with jetty 9.4.39"
**Jetty version**- 9.4.39

**Java version/vendor** `(use: java -version)`
java version "1.8.0_271"
Java(TM) SE Runtime Environment (build 8.0.6.20 - pxa6480sr6fp20-20201120_02(SR6 FP20))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20201102_458768 (JIT enabled, AOT enabled)
OpenJ9   - 5b31a42
OMR      - 6ad3a34
IBM      - b7e48f4)
JCL - 20201119_01 based on Oracle jdk8u

[2021-06-04 08:58] sbordet commented on #6360
Not enough information.

The stack trace shows a client that closed the connection, so not a Jetty issue.

[2021-06-04 09:26] 4devwithgit commented on #6360
We also tried using the flag as seen in other post,
-Djsse.SSLEngine.acceptLargeFragments=true
But, we didnt see any change in behavior, and it continued to show the issue.

There were issues enabling the jetty log, so at the moment we are trying to get more details.  Can you please copy my colleague to the thread, michael.conners@precisely.com ?
Thanks

[2021-06-04 10:12] #6323 closed, assigned to sbordet

[2021-06-04 10:28] sbordet commented on #4696
Closing as no further information was provided.

[2021-06-04 10:28] #4696 closed, assigned to nobody

[2021-06-04 10:36] sbordet commented on #4733
Closing as no further information was provided.

[2021-06-04 10:36] #4733 closed, assigned to nobody

[2021-06-04 10:38] sbordet commented on #4728
Closing, not a Jetty issue.

[2021-06-04 10:38] #4728 closed, assigned to nobody

[2021-06-04 13:21] lachlan-roberts commented on #6327
@sbordet not all of the tests have been reviewed so this isn't ready to be closed.

[2021-06-04 13:44] tjwatson commented on #6354
Is there any chance a release of Jetty 10.0.x can be done to include this fix?  I'm currently trying to evaluate the feasibility of us including this fix for the Eclipse 2021-06 release of the Eclipse release train.

[2021-06-04 14:05] sbordet commented on #6354
@tjwatson we're in the process of staging new versions.
After testing, we may release middle/end next week.

[2021-06-04 14:10] joakime commented on #6360
@4devwithgit if you think you are subject to the large fragment issue, then upgrade to 9.4.40 (or the newer 9.4.41)

[2021-06-04 14:17] #6330 closed, assigned to lachlan-roberts

[2021-06-04 14:19] joakime commented on #6354
@tjwatson there is a SNAPSHOT repository that currently has this fix.
Can you use that to test the behavior?

Snapshot Repository - https://oss.sonatype.org/content/repositories/jetty-snapshots/
Use 10.0.4-SNAPSHOT

I've verified that the latest maven internal SNAPSHOT version has the desired fix.

[code]

That commit: https://github.com/eclipse/jetty.project/commit/fbbe584a303bc47e1c542f82011df2b

[2021-06-04 14:25] sbordet commented on #5315
@janbartel I disagree that we should write a documentation to read the documentation, because it's turtles all the way down.

Linking something else that _seems like_ an `*.ini` file that does not even exist as a concept will confuse people even more.

Also, you may have looked at initial modules, whose whole content was embedded.
Later, I just list the properties without mentioning where the come

[2021-06-04 15:07] tjwatson commented on #6354
Thanks, I confirmed that using the jetty bundles from this snapshot build allows me to remove the slf4j 2.0.0 library and only have slf4j 1.7.x.  The Eclipse help system is functional using these jetty bundles also.

[2021-06-04 15:09] joakime commented on #6114
Reopening, as the Scanner is still broken for symlink behavior.

[2021-06-04 15:16] harish0816 opened #6363 "Jetty 9.3.21.v20170918 memory leak from JMX"
**Jetty version**
9.3.21.v20170918

**System and Java version**
java version "1.8.0_231"
Java(TM) SE Runtime Environment (build 1.8.0_231-b32)
Java HotSpot(TM) 64-Bit Server VM (build 25.231-b32, mixed mode)

Container: Apache Karaf 4.1.4
Protocol: HTTP/2

**Description**
During stability test, there was continuous traffic loss and we suspected it to memory leak. On analyzing heap dump , we notice

[2021-06-04 16:30] mhopkins-dynactive commented on #4123
I found this documentation on [Jetty Documentation for OpenId Support](https://www.eclipse.org/jetty/documentation/jetty-9/index.html#openid-support) and thought I followed the steps outlined for embedded jetty. I came up with the following.

[code]

When I start the server I get

```java.lang.IllegalStateException: No IdentityService for org.eclipse.jetty.security.openid.OpenIdAuthenticator@2c9ea

[2021-06-04 16:40] joakime commented on #6363
Jetty 9.3.21.v20170918 is EOL End Of Life.

See: https://www.eclipse.org/jetty/download.php#version-table

The Jetty 9.4.x is still supported, please update to that at least.

[2021-06-04 16:53] bungfut opened #6364 "This issue has been automatically marked as stale because it has been a full year without activity. It will be closed if no further activity occurs. Thank you for your contributions."
This issue has been automatically marked as stale because it has been a full year without activity. It will be closed if no further activity occurs. Thank you for your contributions.

_Originally posted by @stale[bot] in https://github.com/eclipse/jetty.project/issues/4772#issuecomment-853256092_

[2021-06-04 16:58] bungfut commented on #6364
[การเลือกวิธีการชำระเงินที่เหมาะสมสำหรับผู้รับเงินของคุณ _ การจ่ายเงินของ Hyperwallet.pdf](https://github.com/eclipse/jetty.project/files/6600086/_.Hyperwallet.pdf)

[2021-06-04 17:02] #6364 closed

[2021-06-04 18:47] harish0816 commented on #6363
@joakime  Thanks for the reply. I understand that we are way behind. We do have plans to update, but not at least in this year. Meanwhile, I want to know if we have an API /configurations to stop Jetty from exposing MBeans. As I had already mentioned, we don't explicitly have /etc/jetty-jmx.xml.

I was also wondering if you have observed this issue before or might know what could have caused this

[2021-06-04 19:20] sbordet commented on #6363
There is no evidence of leakage: when you register an MBean and you take a heap dump, the MBean will show like in the image you have attached in your comment.
But that does not mean there is a memory leak.
Why do you think there is a memory leak?

If you're not using a `jetty-jmx.xml` you (or the library that you are using, that in turn use Jetty) are probably using Jetty's `MBeanContainer` in the

[2021-06-04 21:56] gregw commented on #4317
Then that definitely is a bug. However I do recall some recent work on the gzip handler, so could you try upgrading jetty (your version is it and there are some security update you should have)

[2021-06-04 22:04] joakime commented on #4317
Issue #4835 addressed some `GzipHttpOutputInterceptor` flushing issues.

Issue #4461 fixed a small gzip aggregation bug as well (which could be impacting the flushing behavior).

You'll need at least Jetty 9.4.29.v20200521 to benefit from that work.

[2021-06-04 22:12] gregw commented on #6114
Can you explain why?

[2021-06-05 01:06] joakime commented on #6114
There's 2 fundamental issues:

1. What's being tracked and reported isn't correct when working with symlinks. (it's easy to have entries linger that should not be tracked anymore)
   * The symlink target is changed, the old symlink is target is not removed from the tracked list and still reports as changed if it's changed (it should be removed and no longer tracked)
   * multi depth symlinks is an

[2021-06-05 05:28] swtseaman opened #6365 "AsyncMiddleManServlet getInputStream"
**Jetty version**
9.4.34.v20201102
**Java version**
1.8.0_171
**Question**
Because to read the post content, you need to read the InputStream of HttpServletRequest, but this can only be read once; Then when forwarding, the request content is lost;
So we use the httpservletrequestwrapper wrapper to cache the stream and read it repeatedly;
However, after using the wrapper, asyncmiddlemanservlet does

[2021-06-05 05:29] swtseaman commented on #6365
[code]

[2021-06-05 05:29] swtseaman commented on #6365
[code]

[2021-06-05 05:30] swtseaman commented on #6365
[code]

[2021-06-05 05:31] swtseaman commented on #6365
The above is the implementation code. If the clientrequest is not packaged, it will not work. I don't know why

[2021-06-05 06:25] rymsha commented on #4317
Unfortunately issue is still reproduced on 9.4.40.v20210413

[2021-06-05 11:26] joakime commented on #6365
The only way supported for modifying either the request (from the client) or the response (from the server) is via the `ContentTransformer` interface ([which is how it's documented in the `AsyncMiddleManServlet`](https://www.eclipse.org/jetty/javadoc/jetty-9/org/eclipse/jetty/proxy/AsyncMiddleManServlet.ContentTransformer.html#transform(java.nio.ByteBuffer,boolean,java.util.List)))

See: https://g

[2021-06-05 14:12] swtseaman commented on #6365
thank! I customize a requestcontenttransformer, and I get the input content; But it happens after rewritetarget; I want to get the input before rewritetarget. I need to select the target address according to different input contents; I don't know if there is any other way

[2021-06-05 14:48] swtseaman commented on #6365
I just need to read, I don't need to modify, I want to get the input before rewritetarget.

[2021-06-06 11:50] olamy commented on #5798
fixed by https://github.com/eclipse/jetty.project/commit/cda38abbad12ce724e75aeb56a7987a1c79f36b8

[2021-06-06 11:50] #5798 closed, assigned to olamy

[2021-06-07 00:36] lachlan-roberts opened #6366 "Improve documentation for how to set IdentityService for jetty-openid"
Improve documentation around how to set up the `IdentityService` for jetty-openid with embedded usage.

Originally reported by @mhopkins-dynactive in Issue #4123

[2021-06-07 00:41] lachlan-roberts commented on #4123
@mhopkins-dynactive I have opened a separate issue to track this (see #6366).

[2021-06-07 03:17] gregw opened #6367 "Jetty 12 architecture musings."
This issue is for general musings and discussions about what could become the architecture for Jetty-12.
A starting point is some of the ideas raised in the [less is more](https://webtide.com/less-is-more-servlet-api/)blog.  Specifically I'd like to explore the ramifications and pros/cons of:
 a) No cross context request (once a request is in a context/sessionManager/securityManager it is always i

[2021-06-07 03:51] gregw commented on #6367
this is a WIP enumerating all the current mutations done on a request.  The methods are listed in approximately execution order:

Caller | Mutation | Finally unset
------ | ------------ | -------------
HttpChannel.onRequest |   setMetaData; setSecure  |  -
SecureRequestCustomizer |  setHttpURI; _setAttributes_; setSecure | -
ForwardedRequestCustomizer | setHttpURI; setSecure; _setRemoteAddr_; setH

[2021-06-07 06:39] linking12 opened #6368 "Jetty Client Http2 Connection gracefulShutdown customize"
**Jetty version**
  Jetty 9.4.41
**Java version**
  JDK8
**Question**
when use Jetty h2c client on prod, we got some exception;
[code]
i think jetty not graceful shutdown connection.

my Question is:
1: if my guess is right,  i can not find any way to set graceful shutdown timeout, for netty, there is some configuration to set graceful shutdown like this
[code]
2: if my guess is wrong, why we got

[2021-06-07 06:44] linking12 commented on #6341
we do not sue to fix this issue when tomcat fixed decode fixed. but we have make all of header do not index by hpack to make this issue not happen;

in jetty org.eclipse.jetty.http2.hpack.HpackEncoder, we make some change like netty Sensitivity :

[code]

i suggest there is configuration to do index or not index in hpack, this configuration  maked decision by user, do not automatic

[2021-06-07 08:00] lachlan-roberts commented on #4317
@lglowania @rymsha you need to configure the `syncFlush` setting on your `GzipHandler`.
The deflater will be buffering bytes to improve its compression efficiency but this won't work very well if you intend to be streaming data.

Use the `GzipHandler.setSyncFlush(true)` method to set the value to true and it should work as expected with `EventSource`. You could just change this value in the `gzip.

[2021-06-07 08:45] swtseaman commented on #6365
After getting the data, you can modify the host and port of the request. It's ready to come. Thank you!

[2021-06-07 08:45] #6365 closed, assigned to nobody

[2021-06-07 08:54] SerCeMan commented on #6328
Sorry for the delay. To answer the questions above,

We implement `WebSocketListener`.

Yes, messages have a wide range of sizes from a few bytes up to 5 Mb.

Because most of the towers are different lambda forms, their CPU consumption varies. However, the part that was unexpected was the fact `Invokers.checkCustomized` is responsible for 30% of the total CPU spent in message processing.
<img widt

[2021-06-07 09:02] sbordet opened #6369 "Increment default jetty.http2.rateControl.maxEventsPerSecond"
**Jetty version**
9.4.x

**Description**
Apparently, Chrome sends a lot of `PRIORITY` frames even for simple-ish pages, causing `jetty.http2.rateControl.maxEventsPerSecond=20` to be tripped quite frequently, which closes the connection and causes the failure of in-flight requests, which results in images/javascripts to not be downloaded with the consequent page rendering glitches.

The value shoul

[2021-06-07 09:51] SerCeMan commented on #6328
Hey, @lachlan-roberts! Regarding the benchmarks, please correct me if I'm wrong but it seems that it's possible to make the methodhandle stored in a `final` variable which makes the results equal considering error, https://github.com/lachlan-roberts/MethodHandlesExample/pull/1.

[code]

[2021-06-07 11:05] kprabha7 opened #6370 "BindException"
**Jetty version** 9.3.0.v20150612.jar

**Java version/vendor** `(use: java -version)` >=8

**OS type/version** Android 9

**Description**
 I am trying to run a websocket client (**org.eclipse.jetty.websocket.client.WebSocketClient**) on Android platform as a background service. When the service is killed (for reliability testing) and restarted, I am getting bind exception. The exception is as foll

[2021-06-07 11:33] joakime commented on #6370
WebSocketClient does not bind to a port.

This error is not from websocket client.
Also, upgrade your version of WebSocketClient, as 9.3.x is deprecated / end of life.
Consider using something in the 9.4.x series.

[2021-06-07 11:36] kprabha7 commented on #6370
@joakime Thanks for the response

Do you mean client is unable to connect to the server?

Is this specific issue fixed in 9.4.x?

what additional information is required?

[2021-06-07 11:47] rymsha commented on #4317
Yes, it works.

One suggestion though:
GzipHandler is already aware of a few MIME types.
And it is known that `text/event-stream` MIME type requires events to be sent on flush. It would be nice if GzipHandler does syncFlush = true for `text/event-stream` always.

[2021-06-07 11:54] joakime commented on #6370
There's no issue for Jetty here.

You only get that error (`java.net.BindException: Address already in use`) if a Server is attempting to bind to a specific port to start listening for incoming connection attempts.

WebSocketClient is neither a server, nor does ever have a need to bind to a port, it cannot produce that error, there is no action that WebSocketClient takes that can trigger it.

Upgr

[2021-06-07 13:40] tjwatson commented on #6354
Thanks for the support on this one.  Can we get a more firm timeline on when 10.0.4 will be released?  From our side we want to be ready to consume/test with it as soon as we can so we can get 2021-06 release out the door.  Thanks.

[2021-06-07 13:49] joakime commented on #6354
The 10.0.4 release is underway, it's currently staged on oss.sonatype.org and being tested.
We'll either promote it, or reroll it with fixes, this week.

[2021-06-07 15:52] sbordet commented on #6368
Please report the whole stack trace, not just part of it.

You need to clarify what you mean by "graceful shutdown".
If the server sent a GOAWAY, the connection will be closed.

We have implemented a more "graful" shutdown in Jetty 10, but not backported to 9, see https://github.com/eclipse/jetty.project/issues/5645.

Can you try Jetty 10?

[2021-06-07 15:59] sbordet commented on #6341
If you don't want to index, set the `maxDynamicTableSize` to 0, for example: `HTTP2Client.setMaxDynamicTableSize(0)`.

[2021-06-07 16:29] kprabha7 commented on #6370
Upgrading to version 9.4.40 didn't improve or fix this issue. And, during client object initialisation, I am doing the following to make sure websocket communication takes place on specific port of the host:

**client.setBindAddress(new InetSocketAddress(host, port));**

That's why my suspect was socket binding to port error. I was thinking it could be either because of TCP TIME_WAIT or JVM taking

[2021-06-07 16:40] joakime commented on #6370
The OS plays an important part in this as well.
It is the one ultimately in charge of freeing up the network stack for other processes to use potentially similar configurations.

Also, why are you binding to a specific address on Android?

On a typical android mobile device, there's no stable interfaces to bind to.
As your device will hop from tower to tower, mobile to wifi, wifi to mobile, etc, r

[2021-06-07 17:14] kprabha7 commented on #6370
My suspicion was some what similar since core networking must happen in native layers and ultimately handed over to kernel. There are several other layers before it reaches to Android application and JVM resources deallocation is somewhat unpredictable to the best of my knowledge.

Let me give you some more context.

I have access to Android platform sources for our device and the interfaces are c

[2021-06-07 17:43] sbordet opened #6372 "Review socket options configuration"
**Jetty version**
9.4.x

**Description**
`HTTP2Client` hard-codes the TCP_NODELAY setting, but it should be configurable.

In Jetty 10, `ClientConnector` also hard-codes it, but again should be configurable.

Look also at client-side REUSEADDR, useful when binding on the client and then restarting.

Look also at other options that may have been introduced in Java 11.

[2021-06-07 20:01] harish0816 commented on #6363
Yes the "pax-web" feature in karaf internally creates jetty's MBeanContainer, and apart from this, we don't create any Jetty MBeans in our code.

Well, the reason for leak is that "com.sun.jmx.mbeanserver.JmxMBeanServer" holds ~2.5G of retained heap, and I see Jetty MBeans referencing it.

[2021-06-07 20:11] sbordet commented on #6363
The `org.eclipse.jetty.jmx.ObjectMBean` instances from your picture above show that they occupy 960 bytes, if I read that correctly.

To go from there to 2.6 GiB either you have millions of them, or something else is eating up that memory.

If you have millions instances, then you have to explain in details what you're doing.
Could be that MBeans are not unregistered properly and a "redeploy" crea

[2021-06-07 20:38] sbordet commented on #6367
@gregw not sure about immutable requests... I think the API offered should be immutable, but the implementation is mutable, but always done from a single thread -- the latter should come natural to do and completes before calling application code, guaranteeing thread safety.

[2021-06-07 20:44] joakime commented on #6367
Is the separation of jakarta.servlet out from core into a webapp/servlet specific layer still on the radar?
If so, have we thought about what the session management and Configuration would look like?

[2021-06-07 21:57] jmcc0nn3ll commented on #6367
I think a feature for 12 should be the ability to deploy both javax and jakarta servlets, without that feature it will be hard to make the case to EOL 10 and 11 when the time comes. How it comes to pass architecturally surely impacts the request flow described above.

[2021-06-07 22:14] splatch commented on #4875
I come across this issue already twice as my attempts to get `AsyncMiddleManServlet` working with SSE failed. I did revert to plain `ProxyServlet` with forced flush inside `ProxyServlet.onResponseContent` when `x-accel-buffering` is set to no. Apparently content transformer is not a valid place to force flush as in my case. Fix suggested in this issue leaves my browser without events (result is ei

[2021-06-07 23:05] gregw commented on #6367
@sbordet  I'm going to finish my analysis of where we mutate the request and why, then see how removing cross context dispatch and wrapped object identity features will change that, leaving us with exactly what we have to mutate.   At that point, we can decide if a fully immutable request is workable, or if it needs to be a little mutable under the covers.   My current intention is that the HttpCh

[2021-06-08 00:50] gregw commented on #6367
@sbordet @joakime @jmcc0nn3ll I've done some more work on the mutability analysis and edited my first comment with my ideas of how to get to an immutable wrapped request architecture.    There is a bit of a challenge of how to preserve modularity - ie making context, sessions, security and servlets all optional could be done easily with 4 wrappers; or with total loss of modularity with 1 wrapper;

[2021-06-08 02:50] gregw commented on #6367
@janbartel can you comment on the simplifications for seasons if a request can only ever be in one context?  Could session ids still be shared between contexts that are directly requested rather than forwarded?

[2021-06-08 03:50] janbartel opened #6373 "Need test infrastructure to enable testing of all jetty modules"
Currently we have a few tests that exercise the distro in` tests/test-distribution` but I think we need to either augment it, or create a separate project whereby a CI job could just endlessly enable and test each of our jetty modules. That would be the only way to check that a module is actually working as expected. We would need to check:
* syntax of `.xml `files and `.mod` files
* that each mod

[2021-06-08 06:44] gregw opened #6374 "Jetty Releases 9.4.42, 10.0.4, 11.0.4"
**Jetty Versions:**
This release process will produce releases: 9.4.42, 10.0.4, 11.0.4

**Target Date:**
Week starting Jun 7, 2021

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty versions in the issue.  If a major version (Jetty 9, 10 or 11) is not released, indicate why.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target GitHub Proj

[2021-06-08 06:54] janbartel commented on #6367
If a request can only ever be in one context, then that will reduce some of the complexity of the SessionHandler and a bit of the SessionCache and we should not need to keep the list of sessions from all the contexts visited during request handling in the Request.

But, allowing the same session id to be reused between contexts still leaves complexity in the SessionIdManager regarding the manageme

[2021-06-08 07:10] harish0816 commented on #6363
Thanks. I will check the possibility on pax-web. Meanwhile, I'm just trying to understand the problem better. Here are some more snippets.
Jetty-jmx view, where you can see the entry of "org.eclipse.jetty.jmx" (K,V) seem to consume more. Any reasons for that ?

<img width="498" alt="jetty jmx1" src="https://user-images.githubusercontent.com/50336461/121134846-82f60700-c851-11eb-8083-390d0207be66.P

[2021-06-08 07:36] lorban commented on #6367
@gregw The JIT can optimize do-nothing wrappers to their no-wrapper
equivalent in theory. In practice, that's going to depend on a million
ancillaries.
My gut feeling is that if you have many wrappers you risk hitting some
threshold somewhere that will make the JIT bail out because the code is
deemed too large or too complex.

On Tue, Jun 8, 2021 at 8:54 AM Jan Bartel ***@***.***> wrote:

[2021-06-08 07:52] sbordet commented on #6363
The Map has 1354507 entries, quite many.
Are they all Jetty MBeans?
If so, are you deploying/undeploying web applications in a loop or something similar?

[2021-06-08 09:57] harish0816 commented on #6363
Well, I looked into top 20 entries, and it's all Jetty MBeans, and definitely feel rest are all the same too. But if I'm right, org.eclipse.jetty.jmx can map only to Jetty MBeans , or is there a possibility that it can map to different values ?
And No, there was no deploy/undeploy happened.

[2021-06-08 10:20] sbordet commented on #6363
There is not much we can do.

Somehow you are registering almost 1.5 millions MBeans, and it's not Jetty doing that, it must be some loop in your code or in some library you use.

Try to perform a Jetty Server dump: https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-troubleshooting-dump

The Jetty server dump will be enormous in size as it has to dump all those MBe

[2021-06-08 12:38] jmcc0nn3ll commented on #6367
@gregw I don't know that we necessarily need to or should cross spec dispatch, but once we have the ability to deploy both specifications we are able to merge 10 and 11 into a single release and cut out the lockstep releases of those two releases.  Any release of 12 should really absolve us of having to maintain 10 and 11 at the same time.

Architecturally in its most complex state, it could be as

[2021-06-08 13:47] joakime commented on #6373
Is it just testing to see if the module can be enabled?
I would expect that we should also start the jetty.base too, right?

If so, what do we do with those configurations that require other infrastructure? (gcloud, gcloud-datastore, hazelcast, hawtio, fcgi, infinispan, jminix, jamon, jolokia, mongo, unixsocket, flight-recorder, etc...)
Most can be done with some effort and creative use of docker,

[2021-06-08 13:53] joakime commented on #6374
The release checklist should be unique per version of release.
They are not in lock step

[2021-06-08 17:00] joakime commented on #6367
@lorban and we want to keep the stacks small for the eventual future with Loom threads :smile:

[2021-06-08 17:10] joakime commented on #6363
Note that the Jetty Server Dump is not a heapdump.
Use https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jetty-server-dump

If that Jetty Server dump is sane, and your jmx still isn't, then that points at pax-web doing multiple jetty startups / deployments without clearing out old ones.
That would be a pax-web issue.

[2021-06-08 21:58] gregw commented on #6367
Getting rid of the doScope mechanism will substantially reduce most of our stacks

[2021-06-08 22:07] gregw commented on #6374
@joakime the individual steps that are not in lock step are already broken out.    There is also the second task in the list that allows releases too be dropped from the train if we want to do a 9 only cycle for example

[2021-06-09 02:44] #4492 closed, assigned to nobody

[2021-06-09 02:44] #4453 closed, assigned to nobody

[2021-06-09 02:44] #5846 closed, assigned to gregw

[2021-06-09 03:34] gregw commented on #4652
I think we should still try to fix  this one.  #6112 was a problem caused by not having the filter on services files.   @janbartel came up with a good way of work around by adding a location specific pattern for the server classes, which apparently does exclude the services files as well.  But I don't think that is general enough for all circumstances

[2021-06-09 03:35] gregw commented on #4652
@lorban want to put this on your todo list?

[2021-06-09 04:19] gregw opened #6375 "Always check XML `Set` elements with `property` attribute"
**Target Jetty version(s)**

**Enhancement Description**

Since jetty-10, the XML `Set` element could have a property attribute that only does the set if the property is set.  The problem with this is that the code may change and we do not detect that the XML is now wrong unless somebody attempts to set that property.   The `XmlConfiguration` class should be change to always check that at least on

[2021-06-09 05:35] lachlan-roberts commented on #3857
The system properties used for configuration are documented in the `.mod`/`.ini` files for the relevant modules. In this case `ssl.ini`, but these are not used for configuration in embedded Jetty.

[2021-06-09 05:35] #3857 closed

[2021-06-09 05:40] wilkinsona commented on #4546
We’ve stopped linking to Jetty’s documentation as a workaround for this problem. We’d still welcome a fix for it as it would allow us to reinstate the links.

[2021-06-09 07:26] lachlan-roberts commented on #6328
I can confirm that making the `MethodHandle` a `final` variable equalizes the performance difference that I was seeing in the benchmarks.

[2021-06-09 07:35] qingdaoheze commented on #6341
I had submitted the same issue in tomcat, please check it:
https://bz.apache.org/bugzilla/show_bug.cgi?id=65350

[2021-06-09 11:02] joakime commented on #6341
At this point a reproducer or complete debug logs (for both Jetty and Tomcat) will be needed to proceed further.

[2021-06-09 11:03] janbartel commented on #6373
Well, it should be testing that the module can be enabled, and then that the module actually works.

[2021-06-09 11:04] joakime commented on #4347
I don't see this difference as important.

If you cannot complete the message due to a specific frame send idle timeout, it's the same end result IMO.

[2021-06-09 11:04] #4347 closed, assigned to lachlan-roberts

[2021-06-09 11:05] joakime commented on #4658
Seems to be addressed already.

[2021-06-09 11:05] #4658 closed, assigned to nobody

[2021-06-09 11:11] joakime commented on #6354
@tjwatson the 10.0.4 release is now available on maven central.

[2021-06-09 11:16] linking12 commented on #6341
nice, thanks!

[2021-06-09 11:19] linking12 commented on #6368
I think this is our mistake；
Tomcat H2C keepaliveTime is 20S，but we set jetty idleTimeout to 55s, we must set Tomcat keepaliveTime to 60s.

[2021-06-09 11:19] #6368 closed, assigned to nobody

[2021-06-09 11:24] joakime commented on #808
Current list from `jetty-10.0.x` branch ...

[code]

[2021-06-09 11:26] joakime commented on #808
The hard requirement on `javax.security.auth.message` in `jetty-jaspi` is really the only dep left to replace in `jetty-10.0.x`

[2021-06-09 11:30] joakime commented on #4546
@jmcc0nn3ll @WalkerWatch looks like the script to move docs to https://archive.eclipse.org/jetty/ isn't working again.

[2021-06-09 12:25] jmcc0nn3ll commented on #4546
It is not working because we stopped archiving things. I am open to replacing all of this but question the value of exposing generally the same documentation with updated version identifiers.  Major versions of Jetty may have unique documentation but within that major version each release of documentation is more an improvement then chronicling new changes or features.  IMO third parties should po

[2021-06-09 12:28] lorban opened #6379 "Reduce contention in all `ByteBufferPool` implementations"
**Target Jetty version(s)**
9.4.x, 10.0.x, 11.0.x

**Enhancement Description**

All `ByteBufferPool` implementations use `ByteBufferPool.Bucket`s to track `ByteBuffer`s. The current implementation of `Bucket` stores buffers in a `ConcurrentLinkedDeque`, and calls `poll()` to acquire a pooled buffer and `offerFirst()` to release a buffer.

This means that all the contention is done at the head of t

[2021-06-09 13:49] EricBlanquer commented on #5989
I have this same issue with our customer, I cannot reproduce it, seems to be linked to the load

Jetty 9.4.41.v20210516, Java openjdk version "11.0.11" 2021-04-20 LTS

[2021-06-09 14:01] wilkinsona commented on #4546
IMO, there's value in users being able to read documentation that's for the precise version that they're using. In my experience, it reduces the risk of frustration caused by trying to do something that the documentation describes but isn't actually possible in the version being used.

[2021-06-09 14:07] nitind commented on #6354
It looks like the downloadable jetty-jndi-10.0.4.jar and jetty-plus-10.0.4.jar still refer to 2.0 in their lower bounds, causing at least the generated p2 sites to still contain slf4j.api_2.0.0.alpha1.jar.

[2021-06-09 14:24] joakime commented on #4546
There's 3 camps for documentation archives in the open source community ...

### Option 1 - Archive it all

* https://docs.spring.io/spring-framework/docs/

### Option 2 - Only allow access to latest docs of major supported versions

Old, out of date, or end of life versions are not accessible anymore.

* https://netty.io/wiki/index.html
* https://tomcat.apache.org/

### Option 3 - just use javado

[2021-06-09 14:56] joakime commented on #5989
This happens because there is an attempt to use the Request outside of its lifecycle.

Servlet containers enforce this restriction, as they can (and many containers do) recycle the HttpServletRequest objects (as they are often one of the heaviest objects created).
This recycle behavior and the reasons for this exception are documented in the Servlet spec as well.

If you encounter this, then your

[2021-06-09 15:04] jmcc0nn3ll commented on #4546
All of the old jetty documentation versions are available in archived form in Maven central.  With modern editors the need for published javadoc is basically nil, it is all downloaded and available automagically in the editor, especially for specific versions.

Regarding documentation, within a major release, I think the ability for a user to read a chunk of documentation that has been rewritten f

[2021-06-09 15:29] wilkinsona commented on #4546
Is the documentation for older minor releases of Jetty available online? I'm wondering about something like session management that was rewritten in 9.4. A user who's stuck on 9.3.x for whatever reason might want to read the older docs.

[2021-06-09 15:48] jmcc0nn3ll commented on #4546
Not on the website, but available here:

https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-documentation/9.3.29.v20201019/

They all are since we moved off of the wiki.

There will always be every permutation of user stuck in odd situations, so documentation is always available for these releases, just not indexed or deep linkable online.  General rule of thumb we have tried to service is dir

[2021-06-09 15:56] jmcc0nn3ll commented on #4546
It is perhaps less of an issue now that we have documentation that is single page, but we were getting to the point where we had tens of thousands of pages of documentation that were the same content growing from release to release and each website update would take longer and longer.  I feel it important to note we are not trying to make these things disappear or harder on anyone, just try and ca

[2021-06-09 16:02] EricBlanquer commented on #5989
thanks you @joakime for your answer, but I don't see where my code is wrong
after the ``AsyncContext.complete()`` has been called: nothing is done after
and I cannot reproduce what we can see into traces
I've removed all code I'm not allowed to share: if you can take a look...
[clusterHttp.zip](https://github.com/eclipse/jetty.project/files/6625206/clusterHttp.zip)

thanks

[2021-06-09 16:09] EricBlanquer commented on #5989
at org.eclipse.jetty.server.AsyncContextState.state(AsyncContextState.java:52)
	at org.eclipse.jetty.server.AsyncContextState.complete(AsyncContextState.java:72)
	at com.centile.cluster.http.ClusterHttp.proxy(ClusterHttp.java:158)
	at com.centile.cluster.http.ClusterHttp.lambda$doAsynch$0(ClusterHttp.java:115)
	at org.eclipse.jetty.server.handler.ContextHandler.handle(ContextHandler.java:1520)
	at

[2021-06-09 16:11] EricBlanquer commented on #5989
our client get an error 500 instead of the 200 OK of our backend server

[2021-06-09 16:17] joakime commented on #6354
I've reopened this ...

A quick analysis of 10.0.x HEAD shows the following are not correctly set ...

[code]

All of those modules have specific `Import-Package` declarations which seems to have gotten in the way.

Some examples:

https://github.com/eclipse/jetty.project/blob/f171a5ce61ab8fb0bae3510f5828f4f53af2997f/jetty-jndi/pom.xml#L34

https://github.com/eclipse/jetty.project/blob/f171a5ce61a

[2021-06-09 16:18] joakime commented on #6354
Does the Eclipse IDE need `jetty-jndi` and `jetty-plus`?  I cannot imagine why.

[2021-06-09 16:33] joakime commented on #6354
@tjwatson shouldn't the definition in the manifest be all of the packages exposed by `slf4j-api-<ver>.jar`?

[code]

[2021-06-09 16:34] nitind commented on #6354
@joakime Speaking for Eclipse Web Tools and not the Eclipse Platform, we use `jetty-plus` to fulfill `jetty-webapp`'s `Require-Capability: osgi.extender;filter:="(osgi.extender=osgi.servicelo
 ader.processor)",osgi.serviceloader;cardinality:=multiple;filter:="(osg
 i.serviceloader=org.eclipse.jetty.webapp.Configuration)"` manifest entry. It's `jetty-webapp` that we require.

[2021-06-09 16:53] joakime commented on #6354
PR #6381 opened to attempt to address this.

[2021-06-09 18:07] mike-strauch commented on #6323
Hey @sbordet was this addressed or are you just leaving it as is for now?

I agree that the original timeout should be reported though.

[2021-06-09 19:50] sbordet commented on #6323
@mike-strauch it was addressed in 21aba4a72443a50081065ee64746c590c6a992c9.

Jetty 9.4.42 was released with the fix for this issue.

[2021-06-09 22:51] mike-strauch commented on #6323
Hm, I built the project from the `jetty-9.4.42.v20210604` tag and I'm still seeing messages like:
[code]

This is when calling `result.getFailure().getMessage()` in the `onComplete()` handler like in the test classes attached to this issue around line 158.

[2021-06-09 23:05] sbordet commented on #6323
@mike-strauch I can reproduce, please open a new issue, as it is just about improving the exception message.

[2021-06-09 23:31] mike-strauch opened #6382 "HttpClient TimeoutException message reports transient values"
**Jetty version(s)**
9.4.42

**Java version/vendor** `(use: java -version)`
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.7+8-LTS, mixed mode)

**OS type/version**
OSX 10.15.4

**Description**
When using the HttpClient to make asynchronous requests with a specific timeout, if the request has follow redirects enabled and the request ends up timing out; the error reported includes a timeout val

[2021-06-10 01:34] lachlan-roberts opened #6383 "Flaky test FileBufferedResponseHandlerTest.testFlushEmpty"
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-10.0.x-CVE-2021-28169/2/tests

[code]

[2021-06-10 01:34] janbartel commented on #6375
@gregw also, the documentation needs updating for the `Set` element, because it doesn't mention the `property` attribute at all. See https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-xml-syntax-set

[2021-06-10 06:13] janbartel opened #6385 "Make jetty-10/11 work against slf4j-api 1.7.30 in addition to 2.0.0"
**jetty10/11**

Currently, jetty builds against, and distributes slf4j-api version 2.0.0-alpha1. However, we have some users who need to run against the same slf4j version as older releases, which was slf4j-api 1.7.30.

We should modify the jetty-slf4j-logging implementation to also work against 1.7.30, build against 1.7.30, but distribute 2.0.0-alpha1 with jetty.home.

[2021-06-10 06:13] janbartel commented on #6385
@joakime comments?

[2021-06-10 07:47] olamy commented on #6385
@joakime our `org.slf4j.spi.SLF4JServiceProvider` implementation in a separate module?

[2021-06-10 09:52] sbordet opened #6389 "Jetty Releases 10.0.5/11.0.5"
**Jetty Versions:**
This release process will produce releases: 10.0.5, 11.0.5.
These refreshers of the Jetty 10/11 are necessary for #6385, which is a blocker for the Eclipse IDE release train.

**Target Date:**
11 June 2021 - 14 June 2021

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty versions in the issue.  If a major version (Jetty 9, 10 or 11) is not released, in

[2021-06-10 10:06] #6389 closed, assigned to sbordet

[2021-06-10 10:08] sbordet opened #6390 "Jetty Releases 10.0.5/11.0.5"
**Jetty Versions:**
This release process will produce releases: 10.0.5, 11.0.5.
These refreshers of the Jetty 10/11 are necessary for #6385, which is a blocker for the Eclipse IDE release train.

**Target Date:**
11 June 2021 - 14 June 2021

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x]

[2021-06-10 10:25] gregw opened #6391 "Rename EatWhatYouKill to AdaptiveExecutionStrategy"
**Target Jetty version(s)**
10, 11
**Enhancement Description**

Rename EatWhatYouKill to AdaptiveExecutionStrategy, which better represents the nature of the current algorith,
Improve the javadoc and code clarity.

[2021-06-10 10:26] janbartel opened #6392 "Review accidental xml config changes"
**jetty-10/jetty-11**

This supersedes issue #6329. Analysing #6329 (jetty 10/11 does not stop on shutdown by default when running in the distro) revealed that commit https://github.com/eclipse/jetty.project/commit/343cf732b9a5aacd4c84fcb937a4b1624a1a0afd had inadvertently changed a number of default values in jetty xml config files. We need to review the config changes, and where necessary revert

[2021-06-10 10:51] joakime commented on #6385
I think this is doable on the jetty-slf4j-logging side.
Have to be careful with the jpms testing stuff though.

[2021-06-10 10:58] janbartel commented on #6392
The changes resulting from review are:

### gcloud session store
+ removed defaults set in xml file in favour of using defaults set in code
+ added property to configure name of `lastSaved` field for session in gcloud (set to the code default)

### hazelcast session store
+ removed defaults set in xml file as they are the same as the code defaults

### jdbc session store
+ removed defaults set in

[2021-06-10 11:04] janbartel commented on #6329
I've raised an issue which more correctly reflects the fact that we've done a full review of the xml changes from commit https://github.com/eclipse/jetty.project/commit/343cf732b9a5aacd4c84fcb937a4b1624a1a0afd: #6392. So this issue will be fixed by the PR (#6348) for that issue.

[2021-06-10 11:11] #6392 closed, assigned to janbartel

[2021-06-10 11:12] janbartel commented on #6329
Closed via PR #6348

[2021-06-10 11:12] #6329 closed, assigned to janbartel

[2021-06-10 12:24] lachlan-roberts commented on #6302
@sbordet Do we want this change brought back to 9.4.x as well?

If so it should not be "linked" to PR #6304 which will close this when it is merged.
And this should also be assigned the to `9.4.43` project so it is not forgotten.

[2021-06-10 13:04] kprabha7 commented on #6370
I was able to avoid this error in our implementation by configuring some IPv4 sysfs entries on platform. I set the following values:

echo 10 >/proc/sys/net/ipv4/tcp_fin_timeout
echo 1 >/proc/sys/net/ipv4/tcp_tw_recycle
echo 1 >/proc/sys/net/ipv4/tcp_tw_reuse

After running this, we could see that bind exception didn't occur even after repeated process kills.

Any comments?

[2021-06-10 13:16] sbordet commented on #6370
You're probably hitting lack of `SO_REUSEADDR` which IIRC is controlled by `/proc/sys/net/ipv4/tcp_tw_reuse`.

I have filed https://github.com/eclipse/jetty.project/issues/6372 to review the options, especially on client-side.

[2021-06-10 13:19] sbordet commented on #6302
I think so, but I'll let @gregw decide.

We do have "ambiguous" handling in 9.4.x, just different, right?

[2021-06-10 13:23] kprabha7 commented on #6370
Yes @sbordet. I tried to get access to underlying socket object. But I couldn't find any such API. I believe I will be able to set this config for our application without changing global system net config.

If this is added as an API, it will be very useful.

[2021-06-10 13:37] johannesherr opened #6393 "How to handle/log Broken Pipe Exceptions"
**Jetty version**
10.0.3

**Java version**
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.5+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.5+10, mixed mode)

**Question**
Summary: We need to log or handle Exceptions ("Broken pipe") that result from clients having closed their connection before the server can send the response.

More Info:
We sometim

[2021-06-10 13:45] #6379 closed, assigned to lorban

[2021-06-10 14:04] #6354 closed, assigned to joakime, janbartel

[2021-06-10 14:05] #4772 closed, assigned to lachlan-roberts

[2021-06-10 14:26] joakime opened #6394 "Review osgi manifests within Jetty 10"
**Jetty version**
10.0.5

**Description**
During the work for the slf4j osgi manifest on PR #6381 it was noticed that some other osgi manifest entries are a bit out of date and should be reviewed.

https://github.com/eclipse/jetty.project/blob/6dea0251c2a4948578092db1c81e0d33b06f95b9/jetty-annotations/pom.xml#L33

We are at ASM 9 on Jetty 10

https://github.com/eclipse/jetty.project/blob/6dea0251c

[2021-06-10 15:44] sbordet commented on #6354
@tjwatson @nitind @jonahgraham we have deployed Jetty 10.0.5-SNAPSHOT.

Can you please try it out and report back if it works?
https://oss.sonatype.org/content/repositories/jetty-snapshots/

[2021-06-10 16:23] sravanlakkimsetti commented on #6354
Source bundles of the following contains .java.orig files. I think these were temporary files
jetty-http
jetty-io
jetty-server and
jetty-util

[2021-06-10 16:39] sbordet commented on #6354
@sravanlakkimsetti we had a temporary glitch on our CI network, but we wanted you guys to be able to test, so I did a deploy from my laptop, and I guess those files were wrongly included (they are the side effect of git merges).

[2021-06-10 16:47] sravanlakkimsetti commented on #6354
Thank you for the information. I already started Platform build it should be ready in 3 hours time. We should be able to test these bundles shortly.

[2021-06-10 16:51] sbordet commented on #6393
I don't think there is a reliable way of making your proposed solution work.

The first issue is that it is different from HTTP/1.1 and HTTP/2.

The second issue is that you can only be aware of a broken pipe if you try write to the socket.
However, it's not enough to try to write, you have to write _enough_ to get the exception, otherwise the small content you write is just silently dropped.
Not

[2021-06-10 16:56] sbordet commented on #6354
FYI I did another deploy as we discovered another smaller issue in the OSGi manifests, https://github.com/eclipse/jetty.project/pull/6395.

The latest snapshot is has this timestamp:
jetty-&lt;module&gt;-10.0.5-20210610.16mmss-N.jar

The previous snapshot had:
jetty-&lt;module&gt;-10.0.5-20210610.15mmss-N.jar

Note 15 vs 16 as the hour in the file name.

[2021-06-10 17:01] sbordet commented on #6370
@kprabha7 in Jetty 9.4.x override the `AbstractConnectorHttpClientTransport.configure(HttpClient client, SocketChannel channel)` method.

There is a similar method in `HTTP2Client` if you use HTTP/2.

For Jetty 10, a similar method in `ClientConnector`.

After #6372, you will be able to call a setter rather than overriding a method.

[2021-06-10 18:16] johannesherr commented on #6393
Thank you for your quick reply. Good points, we hadn't considered yet.

[2021-06-10 18:16] #6393 closed, assigned to nobody

[2021-06-11 04:46] stoty opened #6396 "Threads created by Jetty no longer run as the Subject that Jetty was started as"
**Jetty version**
9.4.37.v20210219 and later 9.4.x versions

**Java version/vendor**
openjdk version "1.8.0_292"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_292-b10)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.292-b10, mixed mode)

**OS type/version**
Darwin 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8 05:10:33 PDT 2021; root:xnu-7195.121.3~9/RELEASE_X86_64

**Description**
The

[2021-06-11 04:59] gregw commented on #6302
hmmm it is kind of a new feature.... not entirely sure we need it in 9.  Historically we have broken more things than we fixed when we have done such changes.
So I'm inclined to at least see how the feature plays out in 10 before moving it to 9.

[2021-06-11 05:21] janbartel commented on #6396
We will look into this, but in the meanwhile is there any other information you can supply? Is the thread a request handling-handling thread or has another thread been spun up during request handling? Are you using jetty's SPNEGO integration?

[2021-06-11 05:25] janbartel commented on #6396
Also, please can you provide some links as to which of your tests that are failing as we're not familiar with your codebase so some navigation help would be useful, as would a stack trace or two.

[2021-06-11 05:50] janbartel commented on #6396
Just followed the repro steps (I used jetty-9.4.42) and whilst there is a lot of test output, I can't see anything that is an obvious error and no output that mentions SPNEGO.

**Edit:**  Ah! Sorry, I downloaded calcite-master instead of calcite-avatica-master!

[2021-06-11 05:50] stoty commented on #6396
Yes, this is a request handling thread. Avatica server does not create threads on its own.

Avatica SPNEGO implementation is using Jetty's SPNEGO integration, but the some of the Jetty classes are inherited and extended to work around some bugs/limitations in Jetty's SPENGO handling.

This is where SPNEGO gets configured in Avatica:
https://github.com/apache/calcite-avatica/blob/e4f22c33c5a6725705

[2021-06-11 06:20] janbartel commented on #6396
OK, as you're already subclassing jetty classes, can you subclass the `QueuedThreadPool` and override the `newThread(Runnable) `method to _not_ use the `PrivilegedThreadFactory`, but rather make the new thread inside a  `Subject.doAs(subject, new PrivilegedAction<Void>()` with your special `subject`? Be mindful of the classloader leak reported by #5859, and make sure you set the classloader to som

[2021-06-11 07:36] stoty commented on #6396
Copying my reply here from the PR:

[2021-06-11 07:44] sbordet commented on #6374
@WalkerWatch please prepare/send the annoucement and then close this issue.

[2021-06-11 07:46] sbordet commented on #6354
@tjwatson @nitind @jonahgraham @sravanlakkimsetti how did the testing go?

Note that we can stage the release into a staging, non-snapshot, repository if that makes things simpler for you.
We are waiting on your feedback to stage and complete the release process.

[2021-06-11 09:07] JiriOndrusek opened #6399 "QueuedThreadPool sets wrong Classloader for use in quarkus"
**Jetty version(s)**
jetty-9.4.40.v20210413

**Description**
`QueuedThreadPool` sets classloader for new threads to `getClass().getClassLoader()` which sets classloader to `QuarkusClassLoaderQuarkus Base Runtime ClassLoader` for quarkus based project. This classloader can not load classes  from the current project.
Correct classloader should be obtained by `Thread.currentThread().getContextClassLo

[2021-06-11 09:50] sbordet commented on #6399
@JiriOndrusek the reason `QueuedThreadPool` sets the class loader in that way is this issue: #5859.

We cannot know how applications use the threads in `QueuedThreadPool` so basically anything we do would be wrong.
The only thing that we can do is to "reset" everything, and applications should take care of doing what they need, e.g. set the TCCL, and unset it when done.

You can override `QueuedTh

[2021-06-11 09:54] JiriOndrusek commented on #6399
@sbordet  thanks for the explanation and some ways of solving this.. I wasn't sure whether this thing could be changed in jetty. I'll try to override it.

[2021-06-11 10:07] sbordet commented on #6399
@JiriOndrusek please report back your solution, it would help others as well. Thanks!

[2021-06-11 11:28] jonahgraham commented on #6354
@sbordet - things are looking pretty good within the IDE. Overnight (for me) last night we got some positive reports based on the respun builds using 10.0.5 snapshot.

IDE builds now are free of slf4j and the Help system works. Here are the report links:

* https://www.eclipse.org/lists/cross-project-issues-dev/msg18475.html
* https://www.eclipse.org/lists/cross-project-issues-dev/msg18476.html
*

[2021-06-11 12:30] sbordet commented on #6354
@jonahgraham thanks! We are resuming the Jetty release process, will let you know here when it's completed.

[2021-06-11 13:23] joakime commented on #6396
`QueuedThreadPool` already supports passing in a `ThreadFactory` on it's constructor, it was added in issue #4121 (First available in Jetty 9.4.22.v20191022)

https://github.com/eclipse/jetty.project/blob/jetty-9.4.42.v20210604/jetty-util/src/main/java/org/eclipse/jetty/util/thread/QueuedThreadPool.java#L160-L163

https://github.com/eclipse/jetty.project/blob/5cd5e6d2375eeab146813b0de9f19eda6ab6e6

[2021-06-11 13:41] jmcc0nn3ll commented on #6396
Gentle reminder that we are happy to take issues, and even better PRs, for things like this.

[2021-06-11 14:39] stoty commented on #6396
@joakime Thank you. Using that constructor works, even if it was a bit awkaward to figure out all the defaults.
Some of the thread parameters set on QueuedThreadPool.java won't apply this way, but it's not a real limitation, as we can set those directly in the ThreadFactory.

[2021-06-11 14:41] stoty commented on #6396
If the Jetty team agrees that the new behaviour is the correct one, then I guess there's not much left to do with this issue.

[2021-06-11 16:42] wilkinsona opened #6400 "QueuedThreadPool interrupts pool threads when stopped with zero timeout"
**Jetty version(s)**

9.4.42

**Java version/vendor** `(use: java -version)`

openjdk version "1.8.0_282"

**OS type/version**

macOS 10.15

**Description**

When `QueuedThreadPool` is configured with a stop timeout of zero it skips trying to stop its threads. This leaves them running until they eventually end after 60s when their idle timeout elapses.

**How to reproduce?**

Running the following

[2021-06-11 19:28] joakime commented on #6354
@jonahgraham Jetty 10.0.5 release is now in maven central.

[2021-06-11 19:50] jonahgraham commented on #6354
Thank you! Let the Eclipse IDE respins begin :-)

[2021-06-11 22:04] firoj07 commented on #6354
Thanks 😊 I'm very very happy

[2021-06-12 06:28] laeubi opened #6403 "Deploy a maven based p2-updatesite"
**Target Jetty version(s)**
10.x

**Enhancement Description**
Currently projects in the eclipse build custom update-sites from the jetty deployed artifacts, this has the following drawbacks:

- artifacts are replicated on different places
- there is a delay between the jetty-releases and the upgrades
- if the p2 supplier choose not to upgrade to the latest release, or does not include optional mod

[2021-06-12 06:29] laeubi commented on #6403
FYI: @mickaelistria @akurtakov

[2021-06-12 06:43] laeubi commented on #6343
To be honest I find any "autoclosing" not polite and making me upset given that I have invest (free) time to think about it, create/propose a fix and then this effort is simply discard (requiring additional effort to prevent this)...

So instead of setting up automatic 'cleanups' it would be more valuable to use that time to getting PRs done, if it is shows that a PR is not needed or the author is

[2021-06-12 08:15] stoty commented on #6396
For future reference, this is the custom ThreadFactory solution for Avatica:
https://github.com/apache/calcite-avatica/pull/147

Thanks again for the prompt and very constructive help from the team.

[2021-06-12 08:15] #6396 closed, assigned to janbartel

[2021-06-12 22:10] gregw commented on #6343
I think it is also in polite to allow a PR to sit unresolved for a long period.

But I guess stale automation can't know if it is stale because the OP has not responded or if the committers have not acted.

[2021-06-13 16:23] tejas-ambekar opened #6405 "Jetty pre-emptive proxy authentication"
**Jetty version - 9.4.18**

**Java version - 8**

I am trying to do pre-emptive proxy authentication with below code. However, I am getting 407 error code in return.

[code]

Am I missing something here? I am using HttpClient and HttpProxy implementation?
Can someone please help with this?

[2021-06-13 17:13] joakime commented on #6405
First, and most important: Upgrade your version of Jetty.

It is old, and doesn't contain many fixes for your scenario (along with [various security fixes](https://www.eclipse.org/jetty/security_reports.php), and [other bugs](https://github.com/eclipse/jetty.project/blob/jetty-9.4.42.v20210604/VERSION.txt))

If you have to stick with Java 8, then use [Jetty 9.4.42.v20210604](https://github.com/ecl

[2021-06-13 17:21] sbordet commented on #6405
Please look at the Jetty 10.0.x documentation, which is valid also for 9.4.x:
https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-client-http-proxy-authentication

[2021-06-13 17:29] tejas-ambekar commented on #6405
Thanks @joakime @sbordet for the quick response.

I have tried with `AuthenticationStore.addAuthentication(BasicAuthentication)` as well. I am seeing the same behavior i.e. 407 code.
Is there something else I can check? perhaps on the proxy server side?
Thanks in advance..

[2021-06-13 17:43] sbordet commented on #6405
@tejas-ambekar please enable DEBUG logging on the client.
Could just be that you put in the wrong password.

Alternatively, look at the proxy logs: it should tell you why it sent back a 407.

[2021-06-13 18:26] tejas-ambekar commented on #6405
Thanks @sbordet
Will try the things you suggested.

One more thing, as per my understanding of the docs, the httpClient will take care of the 407 error code? (As long as above code is there)
I do not have to handle that i.e. making another request with auth header and credentials (via own code)..Is this understanding correct?
or am I missing something here?

Thanks in advance..

[2021-06-13 20:15] frode-carlsen opened #6406 "Jetty Jaspi module not compatible with Jakarta EE 9 (Jakarta Authentication)"
**Jetty version(s)**
11.0.3

**Java version/vendor** `(use: java -version)`
16.0.1
**OS type/version**
Windows 10

**Description**

jetty-jaspi module in 11.0.3 relies on old geronimo-jaspi 2.0.0 and javax.xml.bind:jaxb-api:2.3.1
This relies on looking up the javax.security.auth.message.config.AuthConfigFactory instead of the JakartaEE 9 Jakarta Authentication jakarta.security.auth.message.config.

[2021-06-13 20:22] firoj07 commented on #6405
IETF BCP 79
BCP
5378 3978
4748 RACc NON

रवि, 13 जून 2021, 21:53 को tejas-ambekar ***@***.***> ने लिखा:

[2021-06-13 20:28] sbordet commented on #6405
Read carefully the documentation.

`HttpClient`, upon receiving a 407, will continue the conversation with the server if there is an `Authentication` available.
If not, it will yield the 407 to the application, as there is nothing more that it can do to proceed with the conversation.

[2021-06-13 21:15] janbartel commented on #6406
We'd be delighted to review a pull request if you were to submit one.

[2021-06-14 01:52] olamy commented on #6343
Agree with @lachlan-roberts. what about long standing PR such fix websocket TCK which takes time or PR depending on external such the one I have with Hazelcast?
Using a label would be good?
Maybe we should even not touch draft PR as they are not to consider as ready/finished?

[2021-06-14 04:36] tejas-ambekar commented on #6405
Thanks a lot for your help @sbordet

[2021-06-14 05:17] laeubi commented on #6343
I really wonder then whats the point of this change ... if the PR is ready/finished there is no point in closing it, if to prevent auto-closing people start creating draft requests instead nothing is gained ... :-)

[2021-06-14 13:14] steffzahn opened #6407 "Malformed scheme logical expression check in WebSocket ClientUpgradeRequest"
**Jetty version(s)**  11.0.5

**Java version/vendor** `(use: java -version)`  15.0.1

**OS type/version** Windows 10

**Description**
in the class ClientUpgradeRequest there is a malformed check in the constructor:
`if (!HttpScheme.WS.is(scheme) || !HttpScheme.WSS.is(scheme))`

That should obviously be
`if (!HttpScheme.WS.is(scheme) && !HttpScheme.WSS.is(scheme))`

**How to reproduce?**
Perform a

[2021-06-14 14:43] joakime commented on #6407
Referenced lines ...

https://github.com/eclipse/jetty.project/blob/jetty-11.0.5/jetty-websocket/websocket-jetty-client/src/main/java/org/eclipse/jetty/websocket/client/ClientUpgradeRequest.java#L57-L58

https://github.com/eclipse/jetty.project/blob/50df21626238a1755802a672481c3b79997e82b2/jetty-websocket/websocket-jetty-client/src/main/java/org/eclipse/jetty/websocket/client/ClientUpgradeRequest.

[2021-06-14 15:22] lachlan-roberts commented on #6407
This looks like it was bad refactor from PR #3740.

Looks like the URI of the upgrade request is never used. All of the `WebSocketClient.connect()` methods always take a URI parameter so we never use the URI from the `ClientUpgradeRequest`. And it turns out we never test the upgrade request with the constructor which takes a URI.

@steffzahn this is something that should be fixed for the next rele

[2021-06-14 20:23] steffzahn commented on #6407
Well, at least I cannot find any code ( test code or other code ) in the jetty project, using the constructor ClientUpgradeRequest(URI uri). Apparently a test case is missing.

[2021-06-14 20:26] steffzahn commented on #6407
...

Well that does not work directly, since the fields are final and private. But it was possible to create a hack using reflection.

[2021-06-14 20:58] #6374 closed, assigned to WalkerWatch

[2021-06-14 20:59] WalkerWatch commented on #6390
@sbordet Release notification has gone out for this. Do I need to do something to notify downstream?

[2021-06-14 23:51] janbartel commented on #6394
The jetty-annotations pom could be updated to a minimum of asm 9, but the other 2 are test webapps so ok to leave at a minimum of 3.1 but could be updated to a max version of 5.

[2021-06-15 00:04] lachlan-roberts commented on #6407
@steffzahn you should not use reflection to set the fields. They do not need to be set, you can use the no-arg constructor instead as these fields on `ClientUpgradeRequest` are never used by the implementation.

The `URI` must still be passed to the call to `WebSocketClient.connect()` which does the correct check for the scheme.

[2021-06-15 00:34] janbartel commented on #6400
Looks like it was the changes around here https://github.com/eclipse/jetty.project/blame/jetty-9.4.x/jetty-util/src/main/java/org/eclipse/jetty/util/thread/QueuedThreadPool.java#L237 with commit 0c61ec3 that changed the behaviour.  Previously, even if the `stopTimeout` was `<=0` the threads would be interrupted almost immediately, now threads are only interrupted if the `stopTimeout` is positive.

[2021-06-15 03:52] gregw commented on #6343
The main point is to not let PR sit untouched for long times or until days before a release cycle. We need to do something to provoke busy developers to find time to progress the PRs.  Sending reminder emails is not sufficient as we all get too many emails as is.

The indication with issues is that the "threat" implied by the store label is enough to get some eyeballs on the issues... since if we

[2021-06-15 03:57] #6375 closed, assigned to nobody

[2021-06-15 06:30] steffzahn commented on #6407
Thank you, that hint works for me.

[2021-06-15 08:38] sbordet opened #6410 "Ensure Jetty IO uses SocketAddress instead of InetSocketAddress"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
In preparation for support of Unix Domain Sockets, introduced in Java 16 and handled in #6043, many Jetty I/O classes should be changed to return/use `SocketAddress` instead of `InetSocketAddress`.

As this is a quite large change that is better done separately.

[2021-06-15 10:31] frode-carlsen commented on #6406
Ok, I've created a PR for this here:
https://github.com/eclipse/jetty.project/pull/6412

[2021-06-15 11:24] vikkyomkar opened #6413 "How to print jetty request logs in console output"
**Jetty version** 9

**Java version** openjdk version "11.0.5.0.101"

**Question** I am running solr instance with jetty in docker container. i need to print request logs on console output sothat it can be shipped to logging system.

How can i achieve it ?

[2021-06-15 11:50] lachlan-roberts commented on #6413
You can use the `RequestLog.Writer` interface to specify what the `RequestLog` does with its output.

The simplest approach would be to use the `Slf4jRequestLogWriter` implementation. Otherwise you will have to write your own `RequestLog.Writer` to do exactly what you want.

See documentation for Jetty request logs https://www.eclipse.org/jetty/documentation/jetty-9/index.html#configuring-jetty-re

[2021-06-15 12:10] lachlan-roberts commented on #6217
This test only seems to fail for the FCGI transport.
Can be reproduced easily enough locally if the test is on repeat until failure.

[2021-06-15 14:12] sbordet commented on #2014
Closed in favor of #6043.

[2021-06-15 14:12] #2014 closed

[2021-06-15 15:41] sbordet commented on #6389
Replaced by #6390.

[2021-06-15 16:58] #6390 closed, assigned to joakime, sbordet

[2021-06-15 17:46] joakime commented on #6410
This is related to Issue #2134

[2021-06-15 18:54] sbordet commented on #2134
Duplicated by #6410.

[2021-06-15 18:54] #2134 closed

[2021-06-16 03:34] rakeshk15 commented on #2515
@sbordet sorry to hijack this conversation but I am also looking for inherent support for path params. I have asked a question on SO for the same, if you could please help with that - https://stackoverflow.com/questions/67995883/path-params-support-in-jetty-httpclient-v11-x

[2021-06-16 07:18] gregw opened #6417 "Rename EatWhatYouKill to AdaptiveExecutionStrategy"
**Target Jetty version(s)**
10, 11

**Enhancement Description**
Rename EWYK to AdaptiveExcecutionStrategy as that better describes what the class now does.
Improve the documentation.

[2021-06-16 07:19] gregw commented on #6417
Duplicate of #6391

[2021-06-16 07:19] #6417 closed, assigned to nobody

[2021-06-16 07:22] #6391 closed, assigned to gregw

[2021-06-16 08:47] sbordet commented on #2515
@rakeshk15 I don't understand what you're trying to do.

URI path parameters are a different thing.

What you have in your StackOverflow question is a URI "pattern", akin to a regexp with capturing groups.
However, clients do not send URI patterns, they send full URIs, and it's the server-side that has patterns and performs the matching on the full URI sent by the client.

[2021-06-16 09:02] sbordet commented on #2515
@cowwoc I know this is old, do you still need it?

One problem is to try to figure out the `Content-Length` from the form parameters, which must be URL-encoded.

I can write an async version of the form content, but then your application needs to call `close()` when it's done adding parameters.

Otherwise the parameters will be sent as chunked content.

The idea would be something like (Jetty 10):

[2021-06-16 12:27] rakeshk15 commented on #2515
@sbordet I implied like JAX-RS PathParam in my question where we get the value from url using this annotation e.g if the url is /api/users/{id} the in a JAX-RS resource we can get the value of {id} using the annotation PathParam. I should have provided the JAX-RS reference

consider this JAX-RS resource method.

`@Path("/users/{id}")
    @GET
    @Produces(MediaType.APPLICATION_JSON)
    public Us

[2021-06-16 12:35] joakime commented on #2515
Perhaps an API on the client that supports URI Template - https://datatracker.ietf.org/doc/html/rfc6570

Just like `javax.websocket` currently does.

Start with level 1 support, and add other levels if they seem to be useful.
The API could just take the pre-defined template, along with setters for template variables.

[code]

The `.uriVariable(String name, String value)` should only support string

[2021-06-16 14:52] flaviodonze opened #6418 "Bad and/or missing Require-Capability for osgi.serviceloader"
**Jetty version(s)**
Jetty Version 10.0.5

**Java version/vendor** `(use: java -version)`
jdk16.0.1

**OS type/version**
Windows 10

**Description**
I'm trying to migrate our embedded jetty 9.4.x to jetty 10.0.5. I'm having a couple of OSGi and dependency issues. <br/>
To isolate the problem I created a simple OSGi Launch in Eclipse, having a couple bundles:

	<setEntry value="jakarta.servlet-api@

[2021-06-16 15:34] rakeshk15 commented on #2515
@joakime do you think it would be a value add to the HttpClient? If yes, shall I create a new issue or you want to track it from here itself.

[2021-06-16 17:35] cowwoc commented on #2515
@sbordet I am not actively working on this kind of code at the moment so for now I don't need this. Regarding `AsyncFormRequestContent` can't you compute `Content-Length` on the fly (cache the value if nothing changes) instead of requiring a user to `close()`?

[2021-06-16 17:39] joakime commented on #6418
You don't seem to be using any component / bundle that has a `META-INF/services/org.eclipse.jetty.webapp.Configuration` service entry.

[code]

If you add such an entry, does the error/warning go away? (eg: add `jetty-annotations-<ver>.jar`)

[2021-06-16 19:25] flaviodonze commented on #6418
That is the strange thing, actually `<setEntry value="org.eclipse.jetty.webapp*10.0.5@default:default"/>` contains the entry:
`./jetty-webapp/src/main/resources/META-INF/services/org.eclipse.jetty.webapp.Configuration`
But also `org.eclipse.jetty.webapp` causes the validation exception.

[2021-06-16 20:13] joakime commented on #6405
Can we close this question?

[2021-06-16 20:18] sbordet commented on #2515
@cowwoc because the implementation needs to know if the application is done adding fields. Since it's a body, it can be send _after_ the request is sent.

[2021-06-17 03:11] janbartel commented on #6418
I've been able to reproduce the problem, investigating further.

[2021-06-17 05:36] janbartel commented on #6418
Yup, that there is a genuine bug. Fixing, see PR #6422

[2021-06-17 05:46] janbartel opened #6423 "Review jetty jars that contain META-INF/services/org.eclipse.jetty.webapp.Configurations for correct osgi manifest headers"
jetty-10.0.x

If a jetty jar contains a `META-INF/services` file, it must contain the correct osgi headers in it's manifest that allows that service to be detected and loaded by the `ServiceLoader` when running in osgi.  Some of the jetty jars that now contain service files for `org.eclipse.jetty.webapp.Configuration` do not appear to have the correct osgi headers that would allow them to be found

[2021-06-17 06:23] janbartel commented on #6423
Has no Require/Provide-Capability osgi headers for o.e.j.w.Configuration:
./jetty-cdi/src/main/resources/META-INF/services/org.eclipse.jetty.webapp.Configuration
./jetty-websocket/websocket-jetty-client/src/main/resources/META-INF/services/org.eclipse.jetty.webapp.Configuration
./jetty-ant/src/main/resources/META-INF/services/org.eclipse.jetty.webapp.Configuration
./jetty-annotation
./jetty-quicks

[2021-06-17 08:07] janbartel opened #6425 "Update to asm 9.1"

[2021-06-17 08:07] janbartel opened #6426 "Update to spifly 1.3.3"

[2021-06-17 08:18] #6410 closed, assigned to sbordet

[2021-06-17 10:20] r-jo opened #6427 "manage (remove) response headers easily"
**Target Jetty version(s)**
as many as possible :)

**Enhancement Description**

Hi!
I use embedded jetty 9.4.35
I was wondering how to remove response headers like date or server via API... I found a solution only for configuration files and I came up with an own somewhat cumbersome solution that seems to work.

Still, I would love to have a feature like server.setSendDateHeader(false) and server

[2021-06-17 10:52] joakime commented on #6427
It would be easier to set the HttpConfiguration when you create the ServerConnector instead of iterating them after the fact, pulling out the ConnectionFactory, then pulling out the HttpConfiguration, to then configure it.

Example from https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/examples/embedded/src/main/java/org/eclipse/jetty/embedded/LikeJettyXml.java

Setting the `HttpConfigurat

[2021-06-17 10:57] joakime commented on #6427
Note that your code also has a bug in that it doesn't take in consideration ServerConnectors with multiple ConnectionFactory instances (which is common for https and http/2).

This fixes your bug.

[code]

[2021-06-17 12:58] r-jo commented on #6427
Hi!
Thanks a lot for your reply! Now I use your suggested iterating solution.

Before I commented, I found something like you added in your first comment (the direct method). It seemed a bit frightening and overkill to me who is not really familiar with jetty (in Google App Engine now I have to do it myself).

Until now, I did not create HttpConfiguration or ServerConnector directly, I used the co

[2021-06-17 13:08] r-jo commented on #6427
Ok I checked the source code and there seem to be default values so no need for static newDefault() (then after HttpConfiguration httpConfig = new HttpConfiguration() I guess we do not need to set some of these values again).

[code]

[2021-06-17 13:48] joakime commented on #6427
If you are using GAE you are stuck, and this effort is wasted.

You don't have access to the ServerConnector on GAE (it's protected, your code is not allowed to modify it when on the GAE platform).
The GAE Jetty ServerConnector will specifically force on the server version true, and disable the date header with false.
And then the requests and responses actually go through the Google Front End (GF

[2021-06-17 13:51] joakime commented on #6427
Look around github, the majority of developers using Jetty will use the ServerConnector + HttpConfiguration, not the shorthand port in the Server constructor.

[2021-06-17 16:36] r-jo commented on #6427
Thanks!
I will check it out and I will probably move to the straightforward ServerConnector + HttpConfiguration solution. I need some more time to read about.

GAE has changed from java8. I use java11 with app engine standard and I create a so called fat jar (or uber jar) with embedded jetty. This runs beautifully on localhost and then I practically upload the fat jar and an app.yaml configuration

[2021-06-17 16:43] r-jo commented on #6427
Ok I close it.

So no feature enhancement is needed. Best define your own http configuration and server connector and initiate server this way. Then it is possible to use httpConfiguaration.setSendServerVersion(false) and so on. And if you want to access it afterwards, use something like:

server.getContainedBeans(HttpConfiguration.class).forEach((httpConfiguration) -> {
    httpConfiguration.setS

[2021-06-17 16:43] #6427 closed, assigned to nobody

[2021-06-17 19:22] sbordet commented on #6427
@szasamasa you don't need to iterate over the `HttpConfiguration`, unless you don't control them.

But if you control their creation, just create one instance and pass it to all `ConnectionFactory` instances:

[code]

[2021-06-17 23:30] #6394 closed, assigned to janbartel

[2021-06-17 23:55] #6418 closed, assigned to janbartel

[2021-06-18 00:09] janbartel commented on #6399
@JiriOndrusek can this issue be closed now?

[2021-06-18 00:43] janbartel commented on #6426
This depends on #6425  as spifly 1.3.3 requires asm 9.1.

[2021-06-18 01:03] janbartel opened #6430 "Update jetty-9.4 to jasper 8.5.68"

[2021-06-18 01:07] janbartel opened #6431 "Upgrade jetty-10 to jasper 9.0.48"

[2021-06-18 01:08] janbartel opened #6432 "Upgrade jetty-11 to jasper 10.0.7"

[2021-06-18 01:17] cangqingzhe opened #6433 "Jetty web-inf file read bypass"
When I analyzed CVE-2021-28164, I found that fixes for this vulnerability can be bypassed。
Vulnerability Effects: 9.4.4.V20210604 9.4.41.V20210516 9.4.4.V20210413 9.4.39.V20210325
        exp:/%u002e/WEB-INF/web.xml

[2021-06-18 01:45] janbartel opened #6434 "Add integration test for maven-jetty-jspc plugin"
We should add an integration test for the maven-jetty-jspc plugin in the same way we did for the maven-jetty-plugin. The test should verify the contents of the generated fragment xml file.

[2021-06-18 02:01] janbartel commented on #6430
Raised CQ 23493

[2021-06-18 04:04] janbartel commented on #6431
Raised CQ 23494

[2021-06-18 04:33] janbartel opened #6437 "Flakey test org.eclipse.jetty.websocket.jakarta.tests.server.SessionTest.testRequestUriEndpointBasic"
**jetty-11.0.x*

Failed in jenkins
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-11.0.x-6394-port/1/pipeline

[2021-06-18 05:11] janbartel commented on #6432
Raised CQ23495

[2021-06-18 05:21] janbartel opened #6440 "Move jspc plugin config from demo-jetty-webapp to demo-jsp-webapp"
**Jetty-10.0.x**

When the `demo-jsp-webapp `was carved off the `demo-jetty-webapp,` the config in the `pom` for the precompilation of jsps should also have been moved (`demo-jetty-webapp` no longer contains any jsps).

[2021-06-18 06:30] JiriOndrusek commented on #6399
This issue could be closed.

.

[2021-06-18 06:33] #6399 closed, assigned to nobody

[2021-06-18 09:21] r-jo commented on #6427
Hey!
Thanks for your input! You are both very kind.

I re-coded my class according to your suggestions. It seems to be working. Now only the Date response header leaves jetty, not server. In addition, now I can change any httpConfiguration or serverConnector parameters in a straightforward way in the future if I have to. So: "this is the way" :)

I share the current state of my code for future peo

[2021-06-18 16:38] WalkerWatch opened #6442 "Remove IRC from Contribution Guide"
Remove references to the legacy IRC channel from the contribution guides in 9,10 and 11. We no longer regularly use them.

[2021-06-18 23:52] janbartel opened #6443 "Flakey test SslBytesServerTest.testHandshakeWithResumedSessionThenClose"
**Jetty 11.0.x**

This test is failing in my branch for PR #6428 - needless to say that PR does not change anything related to this test.

[2021-06-20 20:30] rushalias opened #6445 "Improve exception message in ManagedSelector"
**Jetty version(s)**
9.4.42.v20210604

**Java version/vendor** `(use: java -version)`
openjdk 11.0.11 2021-04-20 LTS
OpenJDK Runtime Environment Corretto-11.0.11.9.1 (build 11.0.11+9-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.11.9.1 (build 11.0.11+9-LTS, mixed mode)

**OS type/version**
In Kubernetes
Ubuntu 20 in userland container
Ubuntu 18 in kernel

**Description**
The message in the thrown ex

[2021-06-21 04:25] gregw opened #6447 "Deprecate support for UTF16 encoding in URIs"
**Target Jetty version(s)**
9, 10, 11

**Enhancement Description**

The support for unicode encoded characters in URIs (eg %u2192 for the →character) have never been standardized and are little used.  Unicode (or more precisely UTF-16) encoding was [rejected](https://www.w3.org/International/iri-edit/draft-duerst-iri.html) by the W3C.

Deprecate their usage and require a compliance mode.

[2021-06-21 06:37] #6383 closed, assigned to lachlan-roberts

[2021-06-21 06:46] janbartel commented on #6440
Fixed via #6441

[2021-06-21 06:46] #6440 closed, assigned to janbartel

[2021-06-21 08:14] gregw opened #6450 "Jetty Releases 9.4.43, 10.0.6, 11.0.6"
**Jetty Versions:**
This release process will produce releases: 9.4.43, 10.0.6, 11.0.6

**Target Date:**
2021-06-28

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "

[2021-06-21 08:20] #6302 closed, assigned to nobody

[2021-06-21 09:23] snago commented on #4954
I would still be interested in some API for this.
Now we estimate request/response size in our application by adding up lengths of method, uri, headers, etc.
Would be nice to be able to get the correct sizes.

[2021-06-21 12:27] ifurnadjiev opened #6451 "Request#getServletPath() returns null for ROOT mapping"
**Jetty version(s)**
10.0.5

**Java version/vendor** `(use: java -version)`
Java 11

**OS type/version**
Windows 10 x64 21H1

**Description**
Using:
[code]
with empty "url-pattern" will register the servlet at root path. In this case Request#getServletPath() should return empty string like in Jetty 9.4.x., but with Jetty 10.x it returns null. Probably the issue is introduced by the new class Servl

[2021-06-21 12:39] joakime commented on #6451
Opened PR #6452

[2021-06-21 16:36] #6382 closed, assigned to nobody

[2021-06-21 22:11] gregw commented on #6114
I'm closing this because the PR has gone into a release and I think the problems raised are about how to fail nicer if there is a bad symlink, which is a different issue.

[2021-06-21 22:11] #6114 closed, assigned to nobody

[2021-06-21 22:43] #6451 closed, assigned to joakime

[2021-06-21 23:41] janbartel opened #6455 "Flakey test ConnectionPoolTest.testConnectionMaxUsage"
**jetty-10.0.x**

Test fails sometimes, see eg
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-10-6442-Remove-IRC-reference/1/pipeline

[2021-06-21 23:48] janbartel commented on #6425
Upgraded for jetty-9.4, jetty-10 and jetty-11.

[2021-06-21 23:48] #6425 closed, assigned to janbartel

[2021-06-21 23:58] gregw commented on #4954
@joakime I don't understand what is being suggested here?   If applications have access to the jetty APIs, then we already provide listeners and API to get bytes written  by connection and by request/response.
If applications don't have access to the jetty APIs, then how is adding a new listener going to help?

[2021-06-22 02:45] lachlan-roberts commented on #6437
@janbartel do you have the log for this failure, or just the stacktrace? I can't load that page in jenkins and I cannot reproduce locally after running the test on repeat.

[2021-06-22 06:28] #6426 closed, assigned to nobody

[2021-06-22 06:40] janbartel commented on #6437
No sorry, I don't have any other info - looks like when the PR got merged and the branch was deleted the CI runs were too.

[2021-06-22 08:00] #6434 closed, assigned to olamy

[2021-06-22 13:30] jonahgraham commented on #6403
IIUC if this issue is fixed then Jetty will publish a p2 update site along with every release and that means that Eclipse Platform/WTP/RAP etc will be able to consume Jetty more easily?

[2021-06-22 13:40] laeubi commented on #6403
@jonahgraham yep, that's the goal of this. In fact this (hopefully) could replace any custom build/published p2-update sites on the long term. There might be some issues to discover as this feature is relative new and currently jetty would be the first provider but my hope would be that this kind of publishing once becomes the de-factor standard for maven-centric projects that like to help p2 cons

[2021-06-22 15:28] rymsha commented on #4317
For JaxRS setting `GzipHandler.setSyncFlush(true)` is an unacceptable compromise (when single servlet is shared) It hurts performance for non SSE endpoints .

[2021-06-22 17:51] headlamp-software opened #6460 "EofException Reset Error"
I am using Jetty 9.4.18.v20190429 and getting a reset eofexception. I am not sure if this is a Jetty bug, my bug, a bug in the Browser (Chrome in this case), or no bug at all.
What (if anything) needs to be done?
Is additional documentation needed?
Thank you
Peter Schaeffer
<img width="493" alt="Jetty" src="https://user-images.githubusercontent.com/74732954/122975021-88c31080-d358-11eb-8080-3e7591

[2021-06-22 18:56] joakime commented on #6460
You are using `9.4.18.v20190429`, upgrade to the latest in the 9.4.x series at least (currently at [`9.4.42.v20210604`](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.42.v20210604)), and try again.

There has been a tremendous amount of work done on HTTP/2 in the years since 9.4.18, including a whole bunch of TLS fixes, industry wide HTTP/2 protocol updates, and more.

Not to ment

[2021-06-22 21:13] headlamp-software commented on #6460
Thank you. How would I go about getting the jar files for Jetty 9.4.42.v20210604? Where are they located? Thank you.

[2021-06-22 22:02] joakime commented on #6460
@headlamp-software the usual places.

The Eclipse Jetty project publishes it's artifacts to the global artifact repository system (that massive mirrored database of artifacts available to everyone in the world), suitable for consumption by build tools like maven, gradle, kotlin, sbt, ivy, grape, leiningen, buildr, purl etc ...

What you need to know (depending on your build tool) is that we publis

[2021-06-22 22:32] #6423 closed, assigned to janbartel

[2021-06-22 23:14] #6442 closed, assigned to WalkerWatch

[2021-06-23 00:37] #6407 closed, assigned to lachlan-roberts

[2021-06-23 04:17] headlamp-software commented on #6460
OK, I upgraded to 9.4.42.v20210604. I am still getting similar errors. Are these my bugs? Jetty bugs? Browser issues? Not really a problem? Thank you. Peter Schaeffer. Note that the 'gif' file is really a Wireshark capture file. The correct file suffix is pcapng. Take a look at frame 5790. This is the rst_stream sent from the Chrome browser client to the Jetty server.

<img width="823" alt="Reset

[2021-06-23 05:22] lachlan-roberts commented on #4317
So maybe we do need to change the `syncFlush` setting of the `GzipHttpOutputInterceptor` based on the MIME type of each request.

We could add another `IncludeExcludeSet` for the MIME types that are used to set `syncFlush`. But not sure how this would work with the existing boolean configuration, maybe we only check this set if `GzipHandler.syncFlush == false`.

[2021-06-23 09:35] lorban commented on #6455
This test also fails sporadically on 9.4.x.

I've managed to reproduce it, it is basically due to some incompatibility between the `duplex-maxDuration` pool and the test's assertions.

The `duplex-maxDuration` pool is configured to make its connections expire after 10ms. If for some reason the delay between the 1st and the 2nd requests in `testConnectionMaxUsage` takes more than 10ms, then the exi

[2021-06-23 11:33] joakime commented on #6158
IMO, the `BadMessageException` does make sense when using the `HttpServletRequest.getParameter()` methods against bad request body content.

Perhaps it could be an IOException with a cause that's a BadMessageException?

[2021-06-23 11:36] jnehlmeier opened #6464 "Wrong files/lib definitions in certain *-capture.mod files?"
**Jetty version(s)**
- 10.x
- 11.x

**Description**

I just tried to create a jetty-base using all of the logging *-capture modules and ended up with a jar file on the root of jetty-base. That seemed weird so I looked into the files and found the following sections which seem to be broken.

---

https://github.com/eclipse/jetty.project/blob/dc21b2d73cafd78a56e8e532cf50863739bd7027/jetty-home/src/m

[2021-06-23 11:49] janbartel commented on #6464
Yup, looks like a bug to me - shouldn't be any jars in `$jetty.base` top level, and the `logging-log4j1-capture.mod` should download` log4j-to-slf4j-${slf4j.version}.jar`.

[2021-06-23 11:52] joakime commented on #6464
I'll take this and get a PR put up today.

[2021-06-23 12:00] jnehlmeier commented on #6464
Just looked at slf4j and the correct one should be `maven://org.slf4j/log4j-over-slf4j/${slf4j.version}`.

There is also a `log4j-to-slf4j` library provided by log4j itself, but that uses a different version, see: https://search.maven.org/artifact/org.apache.logging.log4j/log4j-to-slf4j/2.14.1/jar

[2021-06-23 12:36] joakime commented on #6464
Opened PR #6465 with fix (and new distribution tests)

[2021-06-23 15:30] jnehlmeier opened #6466 "Jetty 10 + slf4j 1.7.31 + logback 1.2.3: NoClassDefFoundError: org/slf4j/LoggerFactory"
**Jetty version**

10.0.5

**Question**

I am trying to upgrade our jetty 9.x setup to jetty 10 and since we used SLF4J 1.7.31 and Logback 1.2.3 before I wanted to continue using it with Jetty 10. However it seems like that Jetty 10 logging modules do not add slf4j-api.jar into the lib folder which likely causes the `NoClassDefFoundError: org/slf4j/LoggerFactory`. When I use the default library ve

[2021-06-23 15:45] joakime commented on #6466
Please run with `.../start.jar --list-config` in your failing case and report back it's output.

[2021-06-23 15:48] jnehlmeier commented on #6466
[code]

[2021-06-23 15:50] jnehlmeier commented on #6466
I think it generally looks fine, except the missing api library. Maybe newer Logback versions include some api classes so that the issue does not appear with the default Logback version that jetty 10 uses.

[2021-06-23 16:05] joakime commented on #6466
In the case of ...

[code]

The `logging-logback` can be refreshed with `--create-files`, but the `logging/slf4j` dynamic module will not refresh, as it's both a dynamic/internal module, and it detects the slf4j-api present on the `${jetty.home}` path.

Perhaps we should make `logging/slf4j` more formalized?

You can always call `--download=<uri>` for example ...

[code]

[2021-06-23 16:27] jnehlmeier commented on #6466
Oh I see, and `jetty.home` provides the `2.0.0-alpha1` version, that's why it works in the default case.

Do you absolutely have to provide `slf4j-api-2.0.0-alpha1` through `jetty.home`? Adding a `[files]` section to `logging/slf4j` that downloads the correct file would be preferable as it is consistent. However then you must make sure that this module is always active because Jetty requires SLF4J

[2021-06-23 23:10] #6464 closed, assigned to joakime

[2021-06-24 02:32] headlamp-software commented on #6460
I have worked on this a bit and found a partial explanation. I was sending a 'Connection' header back to the client even though that is forbidden by the HTTP2 specification. I took the 'Connection' header out and things improved. A get a lot fewer errors now, but the number is not zero. I still get Reset cancel_stream_error(s), but not as many of them. I am still sending something that upsets the

[2021-06-24 03:05] janbartel commented on #6466
@jnehlmeier maybe something like this would be possible, although undesirable that you couldn't run jetty straight out of the box without incurring a download. This will be part of the discussion of how we could support an older version of slf4j api that was raised in #6385.

[2021-06-24 05:00] gregw commented on #6466
We should just add the jar from it's maven coordinates.  It wont be downloaded because we put the file in place in the distro, but if the version is changed then the new jar will be downloaded

[2021-06-24 05:35] janbartel commented on #6466
@gregw  unfortunately I don't think this will work:  the target destination of the `maven:` download directive is always relative to `$jetty.base` and is copied directly from the maven local repo to `$jetty.base`; if there is no local repo, then it would be downloaded from maven central. Thus, on some production machines there won't be a local repo, so jetty would always need to do a download from

[2021-06-24 07:08] gregw commented on #6367
I've had a bit of an experiment and too now think that it wont work well to have a rigorous immutable request and do all mutations with wrappers.

Let's look again above at the mutations a done with cross context dispatch removed, we can see that most of the mutations are set once and never change again.   It is almost like we should consider the jetty Request class like a Builder pattern for the

[2021-06-24 07:14] gregw opened #6469 "JakartaServletConnector"
**Target Jetty version(s)**
10

**Enhancement Description**
A `JakartaServletConnector` would implement the `jakarta.servlet.http.HttpServlet` interface and use it to feed requests as a `Connector` for jetty-10, ultimately being served by `javax.servlet.http.HttpServlet` based application.   The `jakarta` API would be minimally used to just transport the method, URI, headers and bodies of the requ

[2021-06-24 07:15] gregw commented on #6367
See #6469

[2021-06-24 08:04] Horcrux7 opened #6470 "java.nio.ReadOnlyBufferException"
**Jetty version(s)**: 9.4.42.v20210604

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)

**OS type/version**: Alpine 3.11 in a Docker container

**Description**
It looks like that after update from 9.4.40.v20210413 to

[2021-06-24 08:09] lachlan-roberts commented on #6450
@joakime can you build and stage the releases for testing.

[2021-06-24 08:58] lorban commented on #6443
This test is also flakey in 9.4.x and 10.0.x.

[2021-06-24 09:20] lorban commented on #6443
Seems to be due to a too strict / outdated interpretation of the TLS spec by this test.

[2021-06-24 09:24] Horcrux7 commented on #6470
More debugging on the problem it look like that the follow stacktrace put a readonly buffer back to the pool:

[code]

The value seems to be empty `java.nio.HeapByteBufferR[pos=0 lim=0 cap=0]`

[2021-06-24 21:02] joakime commented on #6450
@lachlan-roberts the releases for 9.4.43, 10.0.6, and 11.0.6 are staged.

[2021-06-25 10:24] kprabha7 opened #6472 "Repeated Warning and system lag during client stop and close"
**Jetty version(s)** 9.3.0

**Java version/vendor** `(use: java -version)` >=8

**OS type/version** Android 9

**Description**
QueuedThreadPool: WebSocketClient@122503328{STOPPING,8<=8<=200,i=5,q=7} Couldn't stop Thread[WebSocketClient@122503328-1556,5,main]
QueuedThreadPool: WebSocketClient@122503328{STOPPING,8<=8<=200,i=4,q=7} Couldn't stop Thread[WebSocketClient@122503328-1557,5,main]
QueuedThr

[2021-06-25 11:03] joakime commented on #6472
Jetty 9.3.0 is deprecated / end of life.

Can you try it again with (the still supported) Jetty 9.4.x tree? (version [9.4.42.v20210604](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.42.v20210604) was released last month)
The WebSocketClient has some major improvements in that version tree.

[2021-06-25 11:05] joakime commented on #6472
If you are doing this from the websocket's `onError` callback, that's the reason for the failure to stop.
You cannot use a thread from the threadpool to kill/stop that same threadpool.
You would need to be using a different thread entirely.

[2021-06-25 11:08] kprabha7 commented on #6472
Thanks @joakime

by onError, I mean the method with **@OnWebSocketError** annotation. Are you also referring to the same method?
Just want to confirm

[2021-06-25 11:52] joakime commented on #6472
Yes, I'm referring to the same thing.

That annotated method is being called by WebSocketClient from a thread that comes from the Thread Pool.

[2021-06-25 11:55] joakime commented on #6472
Also, keep in mind that WebSocketClient should be treated the same way you would a Web Browser.
It's not meant to be started/stopped over and over and over again.
If you are just wanting to recover and try again, just tell the WebSocket Session to `disconnect()` (note: this disconnect() feature might not exist on Jetty 9.3.x, but definitely does on 9.4.x) which will kill that connection, and then

[2021-06-25 12:16] joakime commented on #6450
@lachlan-roberts Testing as shown that we broke a few things.
I've dropped the staged releases, as we need to reroll now.

[2021-06-26 01:43] gregw opened #6473 "Improve alias checking in PathResource"
**Target Jetty version(s)**
9.10,11

**Enhancement Description**

Currently multiple calls to canonicalPath are done, which is inefficient repeat scanning. Include normalization in alias checks, as was previously done in FileResource, so that only a single normalization pass is needed.

[2021-06-28 05:31] janbartel commented on #2072
@hieplq sorry, your last post slipped through the cracks - blame covid!  I've tried to follow your repro steps, but at step 3 I get:

[code]

I don't use gradle, so I'm stuck unless you can help?

[2021-06-28 11:04] jnehlmeier opened #6476 "Show message if JVM args are present but new JVM is spawned based on active modules"
**Target Jetty version(s)**

10.0+

**Enhancement Description**

We recently upgraded to Jetty 10 and consequently used some more out-of-the-box modules that ship with jetty. One of the modules used an `[exec]` block which causes the creating of a new JVM.

It would be nice if some message will be printed (info or warn) saying that a new JVM will be created. With our old configuration (Jetty 9.x)

[2021-06-29 08:18] #6455 closed, assigned to lorban

[2021-06-29 08:28] lorban commented on #4652
This isn't as easy as it sounds.

Editing out `/META-INF/service/...` files on the fly would require handing out `URL`s that point to the modified files. Should we hand out `URL`s pointing to temporary files on disk? In that case, we must be careful with duplicate service filenames and if/when to cleanup those files. Or should we keep the changes in-memory and hand out a new kind of `URL`? That wo

[2021-06-29 09:00] sbordet opened #6479 "Support %u<4-digit-hex> encoding for path parameter values"
**Target Jetty version(s)**
10

**Enhancement Description**
There was a proposal to support `%u<4-digit-hex>` as encoding for unicode codepoints, but it was rejected (https://en.wikipedia.org/wiki/Percent-encoding#Non-standard_implementations).

However, it may still be possible to encounter such encoding, and we need to be prepared to either parse or completely ignore it (but not err on it).

For