[2020-06-01 14:34] #4904 closed, assigned to nobody

[2020-06-01 15:05] sbordet commented on #4928
@nthung82 you have to verify with OkHttp if they support 8u252.

[2020-06-01 15:25] nthung82 commented on #4928
I will check, then report to you if have result
tks

[2020-06-01 15:47] nthung82 commented on #4928
@sbordet
your suggest is fine
java8u252 works with
https://mvnrepository.com/artifact/com.squareup.okhttp3/okhttp/3.3.0
many tks

[2020-06-01 15:52] #4928 closed, assigned to sbordet

[2020-06-01 20:03] #4929 closed, assigned to nobody

[2020-06-02 14:39] prateekkohli2112 commented on #4809
As per your suggestion we are now not using localStreamIds and maintaining a counter for number of requests per connection.

But we cannot wait for connection to close after idle time out because we have enabled PINGs as well, so our connection will never close.

To handle this once the requests for a connection are exhausted we are closing the connection in protected SendFailure send(Connection c

[2020-06-03 04:46] lachlan-roberts commented on #4776
fixed with PR #4884

[2020-06-03 04:46] #4776 closed, assigned to joakime, lachlan-roberts

[2020-06-03 05:14] lachlan-roberts commented on #4877
@lorban I merged PR #4884 however the tests are failing since I merged these changes to jetty 10 and 11.

See
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-10.0.x/19/tests

I have tracked this down to that the `PathSpec.equals()` method is no longer implemented so it is comparing references. So now the code at `PathMappings.get(PathSpec)` is no longer working. A

[2020-06-03 05:41] vidit1578756 commented on #4890
Hi @gregw ,

Just one more thing, when DEBUG logs are enabled and SETTINGS_HEADER_TABLE_SIZE (dynamic table) is set to 0,  **org.eclipse.jetty.http2.hpack.HpackException$SessionException** is thrown.

You can find attached logs at https://github.com/eclipse/jetty.project/files/4662118/jetty-debug.txt.

[2020-06-03 08:05] #4826 closed, assigned to janbartel

[2020-06-03 08:17] #4885 closed, assigned to nobody

[2020-06-03 08:18] janbartel commented on #4850
@guymac nudge?

[2020-06-03 11:51] senivam opened #4934 "jetty-continuation module"
**Jetty version**: 11.0.0 SNAPSHOT

**Java version** JDK 11

**Question** why module:
<dependency>
            <groupId>org.eclipse.jetty</groupId>
            <artifactId>jetty-continuation</artifactId>
        </dependency>
is missing from jakartified version 11? I've noticed it is not included into the 10th Jetty version as well. If it is by design, could you please let me know how to re-wrok m

[2020-06-03 11:55] sbordet commented on #4934
The `jetty-continuation` module has been superseded by the official Servlet 3.0 APIs.

If you had applications using `jetty-continuation`, update them to use the official Servlet 3.0 APIs (notably `ServletRequest.startAsync()` and related).

Jetty 10 and Jetty 11 require Java 11.

[2020-06-03 11:57] senivam commented on #4934
Thank you for the prompt reply, will do as advised :)

[2020-06-03 11:57] #4934 closed, assigned to nobody

[2020-06-03 12:40] lorban commented on #4877
@lachlan-roberts Thanks for the heads up; this test failure in 10.0.x uncovered some long-standing bugs and hairy problems.

 - `PathMappings.remove()` lacked a if-null check that made it throw when a `UriTemplatePathSpec` with a group of type `EXACT`, `PREFIX_GLOB` or `SUFFIX_GLOB` was removed.
 - The `Comparable.compareTo()` and `Object.equals()` could disagree when their declaration was the sam

[2020-06-03 14:33] nathankooij opened #4936 "Response header overflow leads to buffer corruptions"
**Jetty version**
`9.4.29` (but traced it back to `9.4.27`)

**Java version**
[code]

**OS type/version**
`Debian GNU/Linux 10 (buster)`

**Description**
We run several Spring Boot 2 applications, originally deployed as WAR files on a standalone Jetty server (`9.4.15`). Recently we changed these to use an embedded Jetty server, which included an upgrade to Jetty `9.4.28`. Subsequently, we intermit

[2020-06-03 15:58] joakime commented on #4936
We've been able to replicate with a variant of your test case.  (It proved very useful! Thanks!)

We have a general fix working currently, but are reviewing other buffer pool usages for similar issues.

[2020-06-03 16:21] gregw commented on #4936
Thanks for the detailed bug report, test case and initial analysis.
You were right and it was the change from  #4541.  The issue was in the case of a buffer overflow, we released the header buffer, but did not null the field. We then threw an exception and the `onCompleteFailure` handling called release on the class, which again released the buffer (since it was not null).   Thus the buffer was pu

[2020-06-03 18:04] nathankooij commented on #4936
Thanks for the quick turnaround and clear explanation! Looking forward to the release.

[2020-06-03 21:16] joakime commented on #4936
Merged into `jetty-9.4.x` branch (and merged up into `jetty-10.0.x` and `jetty-11.0.x` as well).

[2020-06-04 10:00] sbordet commented on #4890
@vidit1578756 the logs show the jars in use are from 9.4.27, and the lines numbers don't match with the latest code.

We don't see any NPE in the latest code.

[2020-06-04 15:15] joakime commented on #4923
Merged into `jetty-9.4.x` (and merged up to `jetty-10.0.x` and `jetty-11.0.x`)

[2020-06-04 15:15] #4923 closed, assigned to nobody

[2020-06-04 16:06] huntharo opened #4939 "acceptorQueueSize [sic] - Documentation and http.ini examples have incorrect parameter name"
**Jetty version**

9.4.29.v20200521 (and probably many others)

**Java version**

Any

**OS type/version**

Any

**Description**

Documentation / ini file references for `acceptQueueSize` configuration are incorrectly listed as `accept[or]QueueSize` - Setting `acceptorQueueSize` has no effect while setting `acceptQueueSize` works as intended.

##### Source References

https://github.com/eclipse/je

[2020-06-04 16:30] WalkerWatch commented on #4939
@huntharo Thank you for the extremely well detailed report. I will get this fixed for the next release.

[2020-06-04 19:02] joakime commented on #4939
Typo fix merged into `jetty-9.4.x`.

[2020-06-04 19:02] #4939 closed, assigned to WalkerWatch

[2020-06-05 00:04] WalkerWatch commented on #3738
bump, though I think this is being covered by efforts from @sbordet

[2020-06-05 12:25] lorban commented on #4855
I've modified h2spec to make it report the client's address/port of each failing test: https://github.com/summerwind/h2spec/pull/114

[2020-06-05 13:33] luigidemasi opened #4944 "org.eclipse.jetty.server.HttpConnection log SSLHandshakeException at debug level instead of warn"
**Jetty version**
9.2.X, 9.3.X

**Java version**
1.8
**OS type/version**
all
**Description**
On server mode, if an exception occurs and the parser is in IDLE state, the exception is logged at debug level. In case of SSLHandshakeException, I think it should be logged at WARN level because it could reveal certificate or algorithm problems immediately and save a lot of time investigating the problem,

[2020-06-05 13:47] sbordet commented on #4944
Jetty 9.2.x and 9.3.x are End-Of-Life.

Please try again with 9.4.x.

However, consider when random clients (or an attacker) connects to a server causing an `SSLHandshakeException` - logging it at more than DEBUG level will just litter the logs, possibly causing other issues such as disk space exceeded, with no relevant information.

[2020-06-05 14:30] sbordet commented on #4944
@luigidemasi I don't quite understand your use case.

A `SSLHandshakeException` happens nowadays only on connection establishment.

This is way before any HTTP component has the chance to read any bytes, so I don't quite understand how you get a `SSLHandshakeException` in between HTTP requests.

Is this TLS renegotiation?

[2020-06-05 18:04] sbordet commented on #4855
The main issue that was causing h2spec failures was the following.

The client (h2spec) was sending an invalid frame after legit frames that triggered an HTTP response.

While the response frame were being generated, the invalid frame was read concurrently and eventually call `HttpTransportOverHTTP2.TransportCallback.failed()`.

There, the `TransportCallback` had a nested `HttpChannel.SendCallback

[2020-06-07 08:46] NageshSoni opened #4947 "InvalidAlgorithmParameterException: ManagerFactoryParameters not supported"
Jetty version
9.4.24.v20191120

Java version
1.8

Question
I have configured SSL in my client as below:

SslContextFactory sslContextFactory = new SslContextFactory.Client();
sslContextFactory.setProvider("Conscrypt");
if (!endpointIdentification)
{
    sslContextFactory.setEndpointIdentificationAlgorithm(null);
}
sslContextFactory.setTrustStorePath(certificateLocation);
sslContextFactory.setTrust

[2020-06-07 12:10] joakime commented on #4947
Please include the entire stacktrace.

Also what does this return? (after you start your client).

[code]

Looking at the Conscrypt code, it looks like you are trying to use `PKIX` with Conscrypt.
That's not supported by Conscrypt.

[2020-06-07 16:59] NageshSoni commented on #4947
StackTrace:

java.security.InvalidAlgorithmParameterException: ManagerFactoryParameters not supported
	at org.conscrypt.TrustManagerFactoryImpl.engineInit(TrustManagerFactoryImpl.java:73)
	at javax.net.ssl.TrustManagerFactory.init(TrustManagerFactory.java:273)
	at org.eclipse.jetty.util.ssl.SslContextFactory.getTrustManagers(SslContextFactory.java:1287)
	at org.eclipse.jetty.util.ssl.SslContextFac

[2020-06-08 07:02] NageshSoni commented on #4947
How can I check certificate validity in Jetty client during SSL handshake?

[2020-06-08 07:50] mklinger opened #4948 "Incomplete uploads with HTTP/2 client & server"
**Jetty version**
9.4.29.v20200521

**Java version**
OpenJDK 11.0.7

**OS type/version**
Ubuntu 18.04.4

**Description**

After upgrading to 9.4.29 in a project using HTTP/2 Jetty client and server I experienced problems with request bodies around 30k - 40k of size. It seems that the last chunk (last h2 frame?) is not transferred to the server sometimes.

In my case, this results in invalid JSON r

[2020-06-08 08:28] sbordet commented on #4948
@mklinger it's unlikely that your problems are due to #4855, since those failure happens only when the client is sending to the server nasty failures to verify the behavior against the HTTP/2 specification.
Legit clients don't send those nasty failures and so you should not be affected by #4855.

The two major changes between .28 and .29 are stream creation and channel recycling.
Given you seem to

[2020-06-08 08:49] sbordet commented on #4947
If the server certificate is properly signed by a CA, this is done automatically with the default configuration (`EndpointIdentificationAlgorithm="HTTPS"`) and you don't need to do anything.

If you disable `EndpointIdentificationAlgorithm`, then you have the option to set a `HostnameVerifier` in `SslContextFactory.Client` (read the javadocs).

If that does not work, it's probably a Conscrypt issu

[2020-06-08 11:51] mklinger commented on #4948
@sbordet thank you for the quick response!

Client and server are communicating directly without any (Reverse-)Proxy or similar. TLS termination happens within Jetty using Conscrypt 2.4.0. My integration tests run in local Docker containers using a Docker network.

Gzip is enabled for server responses, but currently not for client requests. The problem only appears for requests, not responses.

I

[2020-06-08 12:09] joakime commented on #4948
If you enabled this via the Jetty `GzipHandler` on the server side then both client request automatic gzip uncompress and server response gzip automatic compress are enabled.

When you said "but currently not for client requests" did you mean that you didn't configure Jetty Client for compressing its requests?

[2020-06-08 12:25] lorban commented on #4855
There's another race condition (`6.9.2. Initial Flow-Control Window Size`) that seems to be in the h2spec tool itself this time: https://github.com/summerwind/h2spec/issues/115

[2020-06-08 13:50] mklinger commented on #4948
@joakime I was wrong. Gzip compression is *not* enabled on both sides. I never see any `Content-Encoding` headers. However, I can see `Accept-Encoding: gzip` request headers from the client side. Does this make sense?

[2020-06-08 14:11] mklinger commented on #4948
I ran the tests with DEBUG logs enabled and here are the condensed log lines for server and client for the request that fails:

[client.log](https://github.com/eclipse/jetty.project/files/4746454/client.log)
[server.log](https://github.com/eclipse/jetty.project/files/4746478/server.log)

The request body should have 47682 bytes, but only 16375 bytes end up in the JSON parser.

If this doesn't help

[2020-06-08 15:00] sbordet commented on #4948
@mklinger seems a buffer corruption at TLS level: we pass 4 buffers with 9, 16384, 9 16384 bytes each.
`SslConnection` consumes 16384 on a first wrap, then 18 on a second wrap, then it thinks it's done, so something has cleared the 4th buffer.

Can you try without Conscrypt? I would like to verify whether it's a Conscrypt bug.

[2020-06-08 15:32] mklinger commented on #4948
@sbordet Wow, thanks for the information. My first try getting it running without Conscrypt did not succeed. I will try again tomorrow morning and come back to you. Thanks!

[2020-06-08 15:53] sbordet commented on #4948
@mklinger also are you serving mixed HTTP/1.1 and HTTP/2 requests?
I ask because we recently fixed #4828, which can poison the global ByteBufferPool and affect HTTP/2 as well.

Are you able to try the latest code in the `jetty-9.4.x' branch? We can help you build Jetty from that branch if you need help.

[2020-06-08 16:07] sbordet opened #4949 "Review LeakDetector & LeakTrackingConnectionPool"
**Jetty version**
9.4.x

**Description**
Review `LeakDetector` to see if it's modern enough.

Also, try to make `LeakTrackingConnectionPool` use delegation rather than inheritance, following the model of `LeakTrackingByteBufferPool`.

See also #2814 for a description of the problems that `LeakTrackingConnectionPool` has due to the fact that uses delegation.

Benchmark the cost of the leak detector

[2020-06-08 21:52] Haimonti commented on #3954
Hello!
Just wondering if creating the jetty-websocket-httpclient.xml still remains the solution to this problem? I am trying to exactly the same thing discussed in this thread, but getting org.eclipse.jetty.websocket.api.UpgradeException: 200 OK

Thanks much for the help with this.

Best,
Haimonti

[2020-06-08 22:27] joakime commented on #3954
The statement that you get "org.eclipse.jetty.websocket.api.UpgradeException: 200 OK" means that you connected and the server responded, but that endpoint / URL wasn't a websocket endpoint that was recognized by the server.  It was just a standard HTTP request that was responded to. (which is not an upgrade and results in an UpgradeException)

As for `jetty-websocket-httpclient.xml`, that is still

[2020-06-09 04:45] LirazRom opened #4951 "getting 404 after upgrading jetty"
**Jetty version**
9.4.29.v20200521
**Java version**
8
**Question**
I have upgraded jetty servlet to 9.4.29.v20200521 from 9.2.13.v20150730
i am using resteasy. After the upgrade for every call I am getting 404
what need to be changed?

[2020-06-09 07:45] gregw commented on #4951
@LirazRom You have not provided us with enough information.
How are you deploying? Webapp or embedded?  Are you using a jetty-base?
Is there anything in the logging of interest?
Can you run with debug on?
Can you get a server dump after starting etc.

[2020-06-09 07:48] gregw commented on #4855
Merged PR didn't fix the issue, it just disabled the test

[2020-06-09 09:05] janbartel commented on #4834
@sdybiec any progress?

[2020-06-09 11:43] LirazRom commented on #4951
Hi
I am running with scala it is webapp
in the logging there is nothing - i see it load the ciphers and every thing
how can i run with debug on?

[2020-06-09 13:20] joakime commented on #4951
In your scala code, find the instantiated `Server` object and call the method `.setDumpAfterStart(true);` before you call `.start();`

That should produce a dump of the state of the server, copy/paste that into this issue, we can tell you what the server sees and is doing from that.

[2020-06-09 14:12] #4855 closed, assigned to nobody

[2020-06-09 15:34] Haimonti commented on #3954
Thank you very much for the response. I tried creating a SslContextFactory and HttpClient programmatically and passing into javax.websocket.WebSocketContainer.

I was using the code example in SecureClientContainerExample.java

I keep getting compilation errors with a maven package command.

[ERROR] /Users/Haimonti/Research/DDM/DistILP/Code/jetty-distribution-9.4.8.v20180619/webapps/interContILP_W

[2020-06-09 15:44] joakime commented on #3954
Check the examples directory where the SecureClientContainerExample was found.

https://github.com/eclipse/jetty.project/tree/jetty-9.4.29.v20200521/jetty-websocket/javax-websocket-client-impl/src/test/java/examples

[2020-06-09 16:30] sbordet commented on #4809
@prateekkohli2112 the busy loop waiting for the stream size to go to zero is a CPU burner, so I don't particularly recommend it.

Call `connection.close()` to close the connection, rather than `http2Connection.getSession().close(...)`.

I think we will implement this in our connection pools, after all we need to implement the counter to avoid to overflow the stream ids.

[2020-06-09 17:01] prateekkohli2112 commented on #4809
Thanks @sbordet.

We had to use the while loop over the streams to make sure that there was no request/response left before closing the connection.

Would you be able to suggest any other work around by which we can check that all the requests/responses have been completed before closing the connection which does not consume much CPU.

[2020-06-09 17:03] prateekkohli2112 commented on #4809
And also, till when can we expect this change in the connection pool?

[2020-06-09 17:10] sbordet commented on #4809
@prateekkohli2112 you would need to write a custom connection pool to count calls to `release()`.

This is a low priority change, so I have no date for this issue to be fixed.

[2020-06-09 18:22] joakime opened #4954 "Simplify ability to get Byte Counts about requests"
**Jetty version**
9.4.29

**Description**
There are several techniques used by web projects to collect information about byte counts.

Most are based on using the Servlet API.
The most common technique being ...
1. Create a Filter
2. Have Filter create a HttpServletRequestWrapper and HttpServletResponseWrapper.
3. Any stream access is wrapped (HttpServletRequest.getInputStream(), HttpServletReques

[2020-06-09 19:39] joakime opened #4956 "Missing HttpChannel.Listener.onResponseTrailers(Request)"
**Jetty version**
9.4.29

**Description**
In the process of implementing ByteCount API for Issue #4954 it was discovered that there is no **Response** equivalent for the `HttpChannel.Listener.onRequestTrailer(Request request)` method.

https://github.com/eclipse/jetty.project/blob/77c232aed8a45c818fd27232278d9f95a021095e/jetty-server/src/main/java/org/eclipse/jetty/server/HttpChannel.java#L1095-L1

[2020-06-09 21:12] Haimonti commented on #3954
Thanks much. The build goes through, but still gives an exception.

[ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.1:java (default-cli) on project HandshakingDemo: An exception occured while executing the Java class. null: InvocationTargetException: org.eclipse.jetty.websocket.client.WebSocketClient.setEventDriverFactory(Lorg/eclipse/jetty/websocket/common/events/EventDriverF

[2020-06-09 21:20] Haimonti commented on #3954
This is the code:

package interContILP;
import java.io.*;
import java.nio.file.Path;
import java.nio.file.Files;
import java.nio.file.Paths;
import java.net.URI;
import java.util.concurrent.Future;
import java.nio.ByteBuffer;
import java.util.concurrent.TimeUnit;
import org.eclipse.jetty.websocket.api.Session;
import java.util.concurrent.Executors;
import javax.websocket.ClientEndpointConfig;
imp

[2020-06-09 21:56] joakime commented on #3954
You have a mix of versions of Jetty in your classpath.

Use only one version.

I would recommend the stable Jetty 9.4.x line.
Such as version 9.4.29.v20200521

[2020-06-10 05:25] KING754 opened #4957 "error about jsr356 when start in eclipse used runjettyrun(plugin)"
**Jetty version**
jetty version is 9.4.8v20171121
**Java version**
jdk 8
**Question**
have a error about jsr356 when start in eclipse used runjettyrun(plug).
my project is websocket.
thanks!
code
`
import javax.servlet.ServletContext;
import javax.servlet.ServletContextEvent;
import javax.servlet.ServletContextListener;

import org.eclipse.jetty.server.Server;
import org.eclipse.jetty.servlet.Serv

[2020-06-10 05:50] olamy commented on #4957
closing as you are referring to https://github.com/xzer/run-jetty-run
this plugin is not maintained here. create an issue https://github.com/xzer/run-jetty-run

[2020-06-10 05:50] #4957 closed, assigned to nobody

[2020-06-10 05:58] KING754 commented on #4957
OK,tks!

[2020-06-10 07:00] KING754 commented on #4957
I found that Run-Jetty-run, it seems, is now unmanaged.

[2020-06-10 08:02] vidit1578756 opened #4958 "Jetty Client sending Http/2 HEADERS Frame but not DATA Frame"
Jetty version : 9.4.27.v20200227
Java version: 14

Description:
[jetty-client.txt](https://github.com/eclipse/jetty.project/files/4757035/jetty-client.txt)

Hello everyone,

We are doing load testing by using jetty client to send request to HTTP/2 server.

We observed that for some requests, client is not sending DATA Frame but only sending HEADERS frame.
We have set request timeout value as 1 sec

[2020-06-10 08:10] sbordet commented on #4958
There is nothing evidently wrong from the client dump - the client seems just idle.

A request timeout of 1 second for load testing is typically too aggressive.

I don't see any evidence that we don't send DATA frames: all `HTTP2Flusher` instances are `IDLE` and with zero entries in the queue.

I suspect you have some other problem in your load testing, perhaps the server is not responding fast en

[2020-06-10 09:36] vidit1578756 commented on #4958
[no-data-frame.zip](https://github.com/eclipse/jetty.project/files/4757502/no-data-frame.zip)

we are sending 4K MPS to 8 server Ips. We are using jetty client round robin connection pool. We set the connections per Ip as 4 , so it will establish 32 connections acorss 8 server Ips. we customized connectionsPerDestination as ConnectionsPerIP and override the round robin connection pool to handle th

[2020-06-10 10:13] sbordet commented on #4958
I don't see a single WINDOW_UPDATE frame in the capture you attached.

If that's the case, the client stops sending DATA frames because the flow control window is exhausted, as expected.

It could also be that the client exhausts the flow control window and because you have a too short timeout, the WINDOW_UPDATE does not arrive on the client in time.

Do you have DEBUG logs?

Can you detail why yo

[2020-06-10 10:22] vidit1578756 commented on #4958
Http/2 Server sets Window size as 256MB in initial WINDOW_UPDATE. if we consider the case of flow control, We still have buffer left to send data in Session. In the dump shared also the Send Window size is larger than request content (500bytes). And stall time also showed as 0ms in log.

We needed to customize connection pool as we need to configure connections per IP not per Destination (in our d

[2020-06-10 10:42] sbordet commented on #4958
I cannot see anything wrong about Jetty from the information you sent so far.

I don't know why the DATA frames are not sent, could be that your application doesn't send them or could be a Jetty bug, could be something else (e.g. a bug in Reactor that you seem to be using).

The only other way to figure this out are DEBUG logs.

Just be aware that you can use a request _tag_ to differentiate desti

[2020-06-10 13:24] prateekkohli2112 commented on #4809
Hello @sbordet,

I am using the above written code to close the connection:

new Thread(() ->
{
while (http2Connection.getSession().getStreams().size() > 0)
{
//do nothing
}
http2Connection.getSession().close(1, "Maximum Stream Ids exhausted", new Callback() {});
}).start();

But I am getting AsynchronousCloseException multiple times when I am sending high traffic.
What can be the reason for this

[2020-06-10 13:28] sbordet commented on #4809
Your snippet of code above is inherently unsafe: the moment after you found `streams==0` another N streams are created but now you are closing the session.

As I said, best option is to write your own connection pool - we plan to do a similar change in ours.

[2020-06-10 14:23] mklinger commented on #4948
@sbordet Unfortunately, using a build from the `jetty-9.4.x` branch didn't help.

[2020-06-10 15:01] sbordet commented on #4948
@mklinger:

1. did you try without Conscrypt?
1. do you have mixed HTTP/1.1 and HTTP/2 requests?
1. would you be able to change the client code and use `LeakTrackingByteBufferPool`?

[2020-06-10 15:15] prateekkohli2112 commented on #4809
Thanks @sbordet.

Just a small doubt, is it possible that till the time I am closing the connection in release once the number of streams have exhausted for that connection, another request acquires that connection.

How can I handle it?

[2020-06-10 15:17] joakime commented on #4903
This change has broken endpoints that extend from `javax.websocket.Endpoint` and do not have public default constructors. (not a requirement of the spec)

[2020-06-10 15:19] sbordet commented on #4809
You write your own connection pool, or wait for this issue to be fixed.

[2020-06-10 16:08] luigidemasi commented on #4944
@sbordet no, It happens during a two-way TLS authentication, when the client certificate is expired the connection gets truncated and there's no log on jetty server, unless the log level is set to debug.

this is the stack trace :
17:53:13.477 [qtp710708543-36] DEBUG org.eclipse.jetty.io.WriteFlusher - ignored: WriteFlusher@54061100{IDLE}->null
javax.net.ssl.SSLHandshakeException: General SSLEngin

[2020-06-10 20:49] RangerRick opened #4960 "regression: passing ;jsessionid= in URL does not return Set-Cookie with a JSESSIONID since 9.4.25.v20191220"
**Jetty version**

9.4.25.v20191220 through 9.4.29.v20200521

**Java version**

multiple versions, recent tests on 1.8.0_201

**OS type/version**

Linux (Ubuntu 18.04)

**Description**

We embed Jetty in [OpenNMS](https://www.opennms.org/).  I recently bumped our embedded version from 9.4.18 to 9.4.29 and noticed a failure in [one of our tests](https://github.com/OpenNMS/opennms/blob/develop/smoke

[2020-06-10 20:59] sbordet commented on #4944
@luigidemasi so IIRC you have the chance to control the certificate validation on server with application code.

Furthermore, Jetty allows you to register a `SslHandshakeListener` where your code that log the exception at the level you want.

I don't think it is right to log `SslHandshakeException` at level greater than DEBUG - it will just clutter the server logs in all other cases.

[2020-06-11 08:35] vanand123 opened #4961 "UnsupportedOperationException at javax.net.ssl.SSLEngine.getHandshakeSession when using RSA SSLJ"
**Jetty version**
jetty-distribution-9.4.25.v20191220

**Java version**
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-b12)
OpenJDK Server VM (build 25.191-b12, mixed mode)

**OS type/version**
CentOS Linux release 7.6.1810 (Core)

**Description**
Upgrading Jetty from "9.2.18.v20160721" to "9.4.25.v20191220".

When trying to setup tunnel.html on Jetty version "9.4.25.v201

[2020-06-11 09:00] sbordet commented on #4961
This is likely a JDK issue you are having.
I recommend that you update to OpenJDK 8u252.

[2020-06-11 09:12] luigidemasi commented on #4944
@sbordet  thanks! Implementing  SslHandshakeListener interface is an elegant solution, but it was introduced in version 9.3, is there a similar mechanism also for 9.2?

[2020-06-11 09:14] sbordet commented on #4944
@luigidemasi no, as we said we don't maintain 9.2.x nor 9.3.x anymore - you should update to 9.4.x.

[2020-06-11 10:57] sbordet commented on #4836
@nkitiyakara sorry but again all seems good to me.

Your `ports.txt` file shows that at the end, all TCP ports have been closed.
It shows, just before the end, 135 connections opened to port `8443`.
It's a small number, so if your server chokes on that, you have bigger configuration problems.

I picked a couple of random ports from those 135 (`37264` and `37204`) and I can see that they are correc

[2020-06-11 11:20] joakime commented on #4961
The UnsupportedOperationException is correctly thrown if the SSL provider you are using doesn't implement that method.

https://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SSLEngine.html#getHandshakeSession--

Looking at your logs you seem to be using CiscoJCE(NativeCrypto) and RSA BSAFE_SSL_J as your SSL/TLS providers.
Seen as ...
[code]

Remove both CiscoJCE and BSAFE_SSL and try again.
If i

[2020-06-11 11:35] #4920 closed, assigned to janbartel

[2020-06-11 11:35] #4903 closed, assigned to nobody

[2020-06-11 11:44] joakime opened #4962 "Review OSGI version rules in enforcer plugin"
**Jetty version**
11.0.0-alpha0

**Description**
Investigate why the version enforcer rules didn't reject `11.0.0-alpha0` for violating the OSGi version rules during the release process.
The "-" (dash char) is not allowed in the 3rd section per OSGi rules (it's only allowed for the 4th section)

[2020-06-11 11:44] nkitiyakara commented on #4836
It's actually file handles that have been running out rather than TCP ports.  (I don't know why Jetty is opening pipes, but it's those that don't seem to get closed.)  You can see the effect in the files-through-alb.txt attachment to my message of 2 May.

The AWS people said they were doing a half-duplex close, which they say is valid, although Jetty does seem to close those pipe when there is a f

[2020-06-11 11:45] joakime commented on #4962
A proper version string should have been using only "." (dot) resulting in `11.0.0.alpha0` as a valid string that OSGi likes.

[2020-06-11 11:49] joakime commented on #4944
Jetty 9.2.x is EOL (End Of Life) as of Jan 2018.
https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html

Jetty 9.4.x is the stable branch at the moment (and will be maintained for years to come).

We also maintain [Jetty 10.0.x (betas)](https://search.maven.org/search?q=g:org.eclipse.jetty%20AND%20v:10.0.0.beta0)
and [Jetty 11.0.x (alphas)](https://search.maven.org/search?q=g:

[2020-06-11 12:45] sbordet commented on #4836
Jetty does not open pipes, so I'm not sure what you are seeing.

IIRC everything is fine without ALB, right?

[2020-06-11 12:56] nkitiyakara commented on #4836
Yep, everything is fine without the ALB in the mix.

That is the PID for the process running Jetty, but it could be Consypt or Javalin opening the pipes, too.  Those were the only other components I used for the test application.  (The code I wrote directly for the test deliberately didn't use anything beyond information from the HttpServletRequest and a LocalDateTime, so it's hard to see that cau

[2020-06-11 12:56] #4836 closed, assigned to nobody

[2020-06-11 14:16] janbartel commented on #4736
Raised PR #4963

I've removed the explicit numbering for the frequently updated imports and used variable expansion instead: it should make jetty-10 and 11 easier to handle too.

[2020-06-11 15:26] janbartel commented on #4960
@RangerRick just to make sure we're on the same page here: if there is a valid session id on the url, then there will never be a Set-Cookie header on the response _unless_ the session id changes during the handling of that request.

I can't reproduce a problem:  I see a jsessionid in the url, and then if the sessionid changes (eg the session was invalidated and a new one created or the session id

[2020-06-11 16:13] RangerRick commented on #4960
@janbartel It is quite possible that our filter is Doin' It Rong, and I should just be checking the session in the request some other way, but the behavior definitely did change between the two Jetty versions.

If you look at [the test](https://github.com/OpenNMS/opennms/blob/develop/smoke-test/src/test/java/org/opennms/smoketest/WebappIT.java#L107) it first makes an un-sessioned request to a deep

[2020-06-11 20:07] joakime commented on #4960
There's an Servlet API for that.

Use `HttpServletRequest.getSession(false)` - you ask for the current session, and tell it to not create one if it doesn't exist.

See: https://docs.oracle.com/javaee/7/api/javax/servlet/http/HttpServletRequest.html#getSession-boolean-

Your code snippet would then be replace by 1 line ...

[code]

[2020-06-11 20:10] joakime commented on #4960
Also, there is no relationship between the HTTP Response header `Set-Cookie` and the cache control headers.

The cache control headers only apply to the body content of the response.
The `Set-Cookie` response header is not part of the body.

However, if you have URL based Session IDs then caching a response is a no-no, as the response body contains session specific content (namely URLs with sessio

[2020-06-11 20:16] joakime commented on #4960
One more note, while the Servlet spec has the ability to have Session IDs in URLs.
This is in practice a bad idea.

It leads to the OWASP defined Session Fixation attacks (a whole category of vulnerabilities)
https://owasp.org/www-community/attacks/Session_fixation

3 specific vulnerabilities defined under the umbrella for Session Fixation are also
part of the Top 10 vulnerabilities list.
https://

[2020-06-11 22:39] mklinger commented on #4948
@sbordet

I tried. The application is a Spring Boot application and I had to find out that current Spring Boot versions force the usage of Conscrypt for Jetty HTTP/2 setup. I browsed the code but did not find a way to change that in a reasonable time.

The application instances under test only do HTTP/2 requests. When double-checking, I found that the test itself uses two Jetty clients, one doing

[2020-06-12 03:30] vanand123 commented on #4961
By using CiscoJCE(NativeCrypto) and RSA BSAFE_SSL_J as SSL/TLS providers in Jetty version "9.2.18.v20160721" and there i'm not seeing any issue.
Please check "jetty_9.2.18.v20160721.txt"

[2020-06-12 07:59] sbordet commented on #4961
@vanand123 in Jetty 9.2.x we are not calling `SSLEngine.getHandshakeSesssion()`, but we do in Jetty 9.4.x.

The JCE provider is at fault by not implementing that method.
Remove those providers are you will see that everything works, or contact them to get the providers fixed.

[2020-06-12 11:49] bennAH opened #4964 "org.eclipse.jetty.websocket.common.message.MessageWriter initialisation time"
**Jetty version**
9.4.19.v20190610

**Java version**
1.8

**OS**
Windows/Linux

**Question**

This is the code of interest:

MessageWriter writer = new MessageWriter(wsSession)

Using MessageWriter as want to stream some JSON content and avoid creating the JSON upfront using:

gson.toJson(object, writer);

Before the call to gson, the code of interest, just calling the constructor can sometimes ta

[2020-06-12 12:00] prateekkohli2112 commented on #4809
Hi,

As per your suggestion we have implemented a custom pool in which we are keeping a counter in activate method and remove the connection from the pool once the maximumNumberOfRequests have reached for a connection.

And in the release method we keep another counter and by which we close the connection by setting the idle timeout after the count has reached the maximumNumberOfRequests.

[2020-06-12 12:08] joakime commented on #4964
9.4.19 is a bit on the older side.
Can you try the code on 9.4.29.v20200521 ?

Streams as message handlers on WebSocket are heavy objects by their very nature.
Streams as receivers are even worse as they require a new thread for each new message.

How big are the resulting messages?  Can you convert from object to String before you send instead? (that's what the internal code has to do anyway, but

[2020-06-12 12:49] sbordet commented on #4809
Probably - the logic above seems wrong to me but there is too little to tell.

[2020-06-12 12:53] prateekkohli2112 commented on #4809
Below is my complete custom pool:

[code]

[2020-06-12 13:24] joakime commented on #4964
Another thing to consider is that if performance is your goal, don't use Streams or fancy objects in WebSocket, use the basics (String for TEXT, and ByteBuffer for BINARY message).
This will reduce the number of websocket frames produced as well.

With a Stream based writer each "write" is a frame, and the closing of the writer is another frame (to finish the message).
With the basic TEXT and BINA

[2020-06-12 15:44] Haimonti commented on #3954
Thanks much. I changed the version to be consistent and 9.4.29.v20200521. That solved the above problem, but I now get the following:

HttpClient@6178780e{STOPPED} - STOPPED
+? HttpClientTransportOverHTTP@2593242{STOPPED} - STOPPED
+? Client@3fe62cb6[provider=null,keyStore=null,trustStore=null] - STOPPED
|  +> trustAll=false
|  +> Protocol Selections
|  |  +> Enabled size=3
|  |  |  +> TLSv1
|  |

[2020-06-12 16:28] bennAH commented on #4964
Thanks @joakime for responding quickly.

The resulting message can vary in size, sometimes they could be fairly big, user input dependent, which is why if possible to avoid creating the string upfront, or at least in cases where we know it is possibly going to be over a certain size.

The results after updating to 9.4.29.v20200521, ignoring first few calls:
375
351
356

Acknowledge at this point,

[2020-06-12 16:33] joakime commented on #3954
Why are you working with certificates on the client side?

[2020-06-12 16:43] Haimonti commented on #3954
I am trying to setup a peer-to-peer environment for a research application.

My peers (at present only servers) need to be connected via SSL.

I wanted to first try out a (secure) client-server connection. I ran jetty (with ssh) on my localhost, and tried connecting with the client code I shared above. That threw the error above.

[2020-06-12 16:45] sbordet opened #4965 "WINDOW_UPDATE for locally failed stream should not close the HTTP/2 session"
**Jetty version**
9.4.30

**Description**
A stream is sending content to the server.

If the content is large, it is possible that some content is sent to the server, but too slowly so that the stream is failed on the client due to e.g. total timeout and removed from the session (and sending a RST_STREAM to the server).

The server consumes the content and sends back a WINDOW_UPDATE to the client.

[2020-06-12 17:06] joakime commented on #3954
A basic configuration is to just have a SslContextFactory.Client that has cipher suites, protocols configured, and does not have keystore / truststore configured.

Try that first.

[2020-06-12 17:15] joakime commented on #4964
Using streams will created a new String object for each write, you are a saving a single "new String" in your app for multiple "new String" in the implementation.
The WebSocket protocol mandates that we convert messages to UTF-8 and validate every message before sending otherwise it's a violation of the protocol that can result in a closure.
Streams also mandate that we hang onto leftover bytes fr

[2020-06-12 18:31] Haimonti commented on #3954
I did a fresh jetty server configuration with just
java -jar start.jar --add-to-start=ssl,https
and tried to run the MainClient.java -- No keystore/truststore configured.

It gives, the following error:
javax.net.ssl.SSLHandshakeException: General SSLEngine problem
	at sun.security.ssl.Handshaker.checkThrown(Handshaker.java:1521)
	at sun.security.ssl.SSLEngineImpl.checkTaskThrown(SSLEngineImpl.jav

[2020-06-12 18:38] joakime commented on #3954
Oh, you are connecting to a private server, likely with a certificate that is not signed by a known CA.
Known as self-signed.
Yeah, you'll either want to have the server certificate signed by a CA that the client knows about.
Or have a client configuration that doesn't verify that the server certificate is signed by a CA it knows about.

You have many levels of verification going on here.
You can

[2020-06-12 19:22] fantasticsunshine opened #4966 "docs: add updated log4j2 integration info"
Apache Log4j 2.10.0 introduced the class `org.apache.logging.log4j.appserver.jetty.Log4j2Logger` that can be used directly, without needing to depend on SLF4J.

There are at least 3 ways to make jetty use this new log class:

1. via system property specified on the command line:
`-Dorg.eclipse.jetty.util.log.class = org.apache.logging.log4j.appserver.jetty.Log4j2Logger`
1. via system property spec

[2020-06-12 21:12] Haimonti commented on #3954
It worked! Thank you very much for all the help with this. I really appreciate it.

[2020-06-12 21:39] joakime commented on #4966
This will not work in Jetty 10 and Jetty 11.

The Jetty Logging Facade has been completely dropped and we've moved entirely over to Slf4J 2.x
Is there a Log4j 2.x that works with Slf4j 2.x yet?

[2020-06-13 10:12] sonyDeswal commented on #3489
### This Bug is not fixed completely. I just ran into the following exception for the same scenario:-
Using setExtraClasspath("lib/extra/*") does not work on Microsoft Windows  I have the fix ready though....
_java.io.IOException: Invalid argument
        at java.io.WinNTFileSystem.canonicalize0(Native Method) ~[?:1.8.0_222]
        at java.io.WinNTFileSystem.canonicalize(WinNTFileSystem.java:428)

[2020-06-13 11:08] janbartel commented on #3489
@sonyDeswal  this is the java doc:

So directories should end with '/' character.

[2020-06-13 14:41] prateekkohli2112 commented on #4809
Update:

We tried both connection.close() and http2Session.getEndPoint().setIdleTimeout(990) for closing the connection.

But in some cases AsynchronousCloseException. We don't really know if connection.close() closes the connection before waiting for streams to complete and similarly with idleTimeout() how effective would it be to keep the inactive connections open for 1 second.

[2020-06-13 15:31] sbordet opened #4967 "Possible buffer corruption in HTTP/2 session failures"
**Jetty version**
9.4.30

**Description**
Run the CometD benchmark with HTTP/2, all defaults but large message content (for example 32768 bytes).

The run will fail because of TCP congestion and HTTP/2 flow control stalls that eventually make the client time out and cancel all requests.

This is kind of expected in HTTP/2 since a single 32 KiB message is (with default configuration) fan-out 10 tim

[2020-06-13 18:01] sonyDeswal commented on #3489
In that case my jars were not loaded, as a result spring initialization was failing with ClassNotFound Exception.   On Jun 13, 2020 4:39 PM, Jan Bartel <notifications@github.com> wrote:
@sonyDeswal  this is the java doc:

 * @param extraClasspath Comma or semicolon separated path of filenames or URLs
 * pointing to directories or jar files. Directories should end
 * with '/'.

So directories shoul

[2020-06-14 07:06] sonyDeswal commented on #3489
As I understand, it is missing "getJars(Dir..)" in case of a directory as a resource. It is just adding the dir path as a resource,thus jars under that dir are not added to classpath. I can fix that too...
    On Saturday, June 13, 2020, 11:31:20 PM GMT+5:30, <sonydeswal@yahoo.com> wrote:

 In that case my jars were not loaded, as a result spring initialization was failing with ClassNotFound Excep

[2020-06-15 02:56] olamy opened #4968 "Extract Distribution test to a separate library to have a Jetty TCK"
Having a separate Jetty TCK like will help for testing staged release and docker images etc..

[2020-06-15 02:57] #4526 closed, assigned to olamy

[2020-06-15 07:59] sbordet commented on #4968
Can you please describe how this would work in details, and how it will help?

I may understand it'll help the docker testing, but that's about it, no?
For all the rest would not this a lot of work for something that we already do with much less work?

[2020-06-15 09:26] janbartel commented on #4965
@sbordet what kind of session is this? Http2? Can you update the title of the issue to be more specific?

[2020-06-15 10:16] janbartel commented on #4960
@RangerRick I've had a look at your filter, but I'm still not clear on the exact sequence of what is happening. The description of when you're expecting a Set-Cookie with the session id in it is at odds with what I see in our tests.

Can you run your test but with jetty DEBUG log level for "org.eclipse.jetty.server.session" package and post it please?

[2020-06-15 14:07] janbartel commented on #4715
Can you please post how you're trying to set the systemClasses?

[2020-06-15 14:15] sbordet commented on #4967
The issue can be reproduced with buffer pooling disabled on the client, but cannot be reproduced with buffer pooling disabled on the server.

It must therefore be a server issue.

[2020-06-16 01:09] pschaeffer opened #4970 "Jetty HTTP/2 should not send Transfer-Encoding"
As you folks know, I have built a Jetty server, that I connect to with HTTP/2. As you folks know I have had a few problems with this (one big one). The problem was that the Jetty server was sending back a header with 'Transfer-Encoding' in it. This made Chrome (but only Chrome) very mad and caused all sorts of errors. I resolved this problem, but not sending the 'Transfer-Encoding' header back to

[2020-06-16 07:03] sbordet commented on #4970
Do you have a network trace, or debug logs, or something we look at?

[2020-06-16 07:55] joakime commented on #4970
This was opened before as Issue #3904 and refined in Issue #3956, which resulted in PR #4069, which was fixed in Jetty release version 9.4.21.v20190926

[2020-06-16 08:30] sbordet opened #4971 "Simplify Connection.upgradeFrom()/upgradeTo()"
**Jetty version**
9.4.30

**Description**
`Connection.upgradeFrom()/upgradeTo()` has some wording in the javadocs regarding the ownership of the ByteBuffer and who is responsible to release it back to the pool.

However, this is often difficult to do because the upgrade code is invoked from places that cannot easily return the ByteBuffer to the pool, or must do so at a later time.

Likewise, `upgr

[2020-06-16 11:25] SushmaReddyLoka opened #4972 "What happens to new connection which gets opened after reaching maxConcurrentStream on an opened connection"
In this issue, https://github.com/eclipse/jetty.project/issues/3206 , I saw that its mentioned that
"When HttpClient is used with the HTTP/2 transport, it will pool connections (as it does for the HTTP/1.1 transport), it will queue requests if it cannot immediately send them (e.g. connection not open yet) and yes it will multiplex requests onto a connection until maxConcurrentStream is reached (th

[2020-06-16 11:29] SushmaReddyLoka opened #4973 "Why use HttpClient with the HTTP/2 transport instead of Http2Client"
https://github.com/eclipse/jetty.project/issues/4653 , in this post its suggested to use HttpClient by using http/2 transport, any reason for using it this way instead of Http2Client ?

[2020-06-16 12:16] pschaeffer commented on #4970
I am sending two files which show the problem. However, I think joakime is correct. The problem was (apparently) fixed in a later release of Jetty (9.4.21?). This would make sense because I am running 9.4.18.

[2020-06-16 12:18] pschaeffer commented on #4970
<img width="524" alt="Capture" src="https://user-images.githubusercontent.com/3717450/84773058-77a32f00-afa1-11ea-8ebd-9abc5837ce6f.PNG">

[2020-06-16 12:22] pschaeffer commented on #4970
[chrome-net-export-log.zip](https://github.com/eclipse/jetty.project/files/4786513/chrome-net-export-log.zip)

[2020-06-16 12:28] pschaeffer commented on #4970
Thanks folks. I do have one additional comment/observation/question. Jetty has an API called "getHeader" for requests. The API takes a Java string as a header name. Is the API case insensitive? My reading of the standards is that HTTP header names are meant to be case insensitive. Is this true? Does Jetty follow this standard? I tried to figure this out from the source code and failed.

[2020-06-16 12:33] pschaeffer opened #4974 "How do I get Jetty thread status?"
Folks, this is not a problem, just a question. I would like to get the status of every thread in Jetty and of course a list of every thread. I already have mechanisms for doing this at the Linux level. I can get a list of all of the Linux threads in the JVM and the status of each one. I would like to do the same thing at the Jetty level. Is this possible? Reasonable?

[2020-06-16 12:47] sbordet commented on #4974
Can you detail why? The JVM thread dump should already give you that sort of information, and JMX consoles such as JMC too.
Also, the after you get the status or the number of threads, the values may already be out of date.

[2020-06-16 12:48] sbordet commented on #4970
Yes and yes.

[2020-06-16 12:49] sbordet commented on #4970
Can we close the issue, since it's fixed?

[2020-06-16 12:51] sbordet commented on #4973
`HTTP2Client` is very low level and deals with HTTP/2 details such as frames and streams and sessions.

`HttpClient` deals with high level HTTP semantic - `GET`s, `POST`s, parameters, request and response content, redirects, connection pooling, authentication, proxying, etc.

[2020-06-16 13:00] sbordet commented on #4972
On the server, see `HTTP2ServerConnectionFactory.setMaxConcurrentStreams(int)`.

maxConcurrentStream . When does it gets closed ?

The new connection will be used to send more requests. It is closed typically by idle timeout.

The connection usage depends on the connection pool you have configured.
The default `MultiplexConnectionPool` will prefer to use less connections as possible and prefer to

[2020-06-16 13:04] joakime commented on #4970
9.4.18 is subject to several security notices (Many of which are HTTP/2 specific)
https://www.eclipse.org/jetty/security-reports.html

Jetty 9.4.30.v20200611 was just released (btw), if you are upgrading, go to that version.

[2020-06-16 13:05] joakime commented on #4970
Closing as this is a duplicate report for issue #3904

[2020-06-16 13:05] #4970 closed, assigned to nobody

[2020-06-16 16:07] pschaeffer commented on #4974
Mr. S. Bordet,

I have a Jetty server (embedded Jetty) that runs on AWS. I would like to build in as many tools as possible for diagnostic purposes. Knowing the Jetty status of each Jetty thread in the Jetty thread pool (I use MonitoredQueuedThreadPool) would be helpful. I have added a bunch of commands to my server for displaying diagnostic data. Jetty thread status would be helpful (at least I t

[2020-06-16 16:13] sbordet commented on #4974
Yes it is.

I'm not sure what you mean by "Jetty thread status".
There is no special thread status in Jetty, so you can use the normal JVM thread facilities to know the thread status.

If a global representation is ok with you, you can `dump()` the thread pool via a JMX console such as JMC. See: https://www.eclipse.org/jetty/documentation/current/jetty-dump-tool.html

If you need something particu

[2020-06-16 17:44] pschaeffer commented on #4974
Mr. S Bordet,
Thank you
Please close any other issues that I may have open.
What I am sort of looking for is an indication of what each Jetty thread thinks that it is doing.
Waiting to consume something, that a producer produces?
Waiting for the NIO selector to respond?
Running a servlet that does something?
These seem like possibilities, but I am not sure about this.
Thank you
Peter Schaeffer

[2020-06-16 18:22] sbordet commented on #4974
That information is in the stack trace so you can get it at the JVM level.

That is application dependent, Jetty can't tell you this.

All other cases you listed can be detected by looking at the stack traces and understanding what they mean - kind of requires a human to do that because you want to give a meaning ("waiting for NIO") to an opaque list of stack frames.

We could do something, especi

[2020-06-16 19:51] RangerRick commented on #4960
Yeah, I honestly don't know how it would have changed (nor why the test was written in that specific way), only that it failed if I switched out dependencies and passed if I went back to 9.4.24 or older.

That said, I've gone ahead and changed the implementation to check `request.getSession(false)` and everything behaves as expected; I think the only real point of the test was to make sure that UR

[2020-06-16 20:09] michaelkwan commented on #4904
@sbordet question: do you still suggest to use MultiplexConnectionPool instead of DuplexConnectionPool for Websocket Client with the latest fix?

[2020-06-16 20:12] sbordet commented on #4904
@michaelkwan no, stick with the default, i.e. the `DuplexConnectionPool`.

[2020-06-16 20:21] sbordet commented on #4967
This may be another, slightly different, occurrence of #4855.

The solution for #4855 assumes that the frame generation is synchronous at the time of `send()`, but if the flusher has a thread flushing, `send()` just enqueues the frame and returns immediately.
In that case, the flusher thread and the failing thread act concurrently during frame generation, producing wrong frames.

[2020-06-17 05:46] olamy commented on #4962
I did some tests and the enforcer rule is definitely working.
I don't remember what I did exactly during the release of `11.0.0-alpha0`... maybe something failed  and I wanted to do a quick deployed and I skipped few things such enforcer etc...

[2020-06-17 05:46] #4962 closed, assigned to olamy

[2020-06-17 11:46] sergiuhlihor commented on #4894
Forgot to ask... is there any way to set the new settings at code level? I'm running Jetty as embedded and I have a bit of struggle in finding a way to override the existing defaults.

[2020-06-17 13:38] consultantleon commented on #3672
Convinced this is a regression bug in jetty, MT related.
Initially I thought it's a jersey related issue when using async(), but now have proven that the issue occurs as well doing repeated jersey sync requests.

My test setup:
- jetty server responding to a simple PUT request
- jetty client repeating requests every 30 seconds for 2.5 hours. I got the earlyEOF exception 4 times. Each time the serv

[2020-06-17 14:22] joakime commented on #3672
@consultantleon your issue is happening on Jetty Client.  This issue is about Jetty Server.
Please file a new issue for your concern.

[2020-06-17 14:39] sbordet opened #4976 "HttpClient async content throws NPE in DEBUG log"
**Jetty version**
9.4.30

**Description**
Similar to #4082.

The problem happens when `parser.parseNext()` returns `true` due to the application processing the content asynchronously.

When `true` is returned, another thread is scheduled to resume the fill+parse, which may fill `0` and null out the `networkBuffer` field.

The original thread now tries to access the `networkBuffer` field in the DEB

[2020-06-17 15:54] janbartel commented on #4894
@sergiuhlihor  so there are 2 new setters on the org.eclipse.jetty.server.session.SessionTableSchema class for the catalog and schema. If you want to see an example (albeit not one that sets the catalog and schema, but does set other column names etc) then have a look at a test case here: https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/tests/test-sessions/test-jdbc-sessions/src/test/java

[2020-06-17 19:49] sergiuhlihor commented on #4894
@janbartel Was too obvious. Worked! Thanks!

[2020-06-17 23:16] shamsimam commented on #4976
The NPE can also be thrown when debug logging is disabled from https://github.com/eclipse/jetty.project/blob/271836e4c1f4612f12b7bb13ef5a92a927634b0d/jetty-client/src/main/java/org/eclipse/jetty/client/http/HttpReceiverOverHTTP.java#L185

[2020-06-18 03:40] pschaeffer commented on #4974
Thank you
Peter Schaeffer

[2020-06-18 03:40] #4974 closed, assigned to nobody

[2020-06-18 03:58] pschaeffer opened #4979 "How Can I Get the Thread Name"
The Jetty log (my log) has entries like
2020-06-18 03:41:21,578 [qtp1095352419-126] INFO  com.headlamp.HDLmJetty  - HandleProxy() Request Original URI - /
in it.
Does Jetty have an API where I can get the qtp1095352419 string? What is this string properly called? Is this a request property? A response property?
Thank you
Peter Schaeffer

[2020-06-18 06:11] SushmaReddyLoka commented on #4972
@sbordet , Where do we set maxConcurrentStream  on client side, I am using HttpClient2 for my usecase.

[2020-06-18 07:20] lachlan-roberts commented on #4979
This is just the name of the `ThreadPool`, the "qtp" part is short for Jetty's `QueuedThreadPool`.
You can even just configure the name yourself to whatever you want.

If you're using embedded just set your named thread pool on the `Server`, otherwise you can can do the same through XML configuration.

[2020-06-18 07:30] #3511 closed

[2020-06-18 08:16] sbordet commented on #4972
You cannot set `maxConcurrentStream` on the client side, it's a server setting.

[2020-06-18 08:36] #4944 closed, assigned to nobody

[2020-06-18 09:25] #4973 closed, assigned to nobody

[2020-06-18 09:44] marthenlt commented on #1096
Sorry to revive this closed issue.

I am still seeing this error on latest Jetty version 9.4.30.v20200611.

I have an application using spring-boot-starter-data-jpa version 2.1.15.RELEASE, it just cannot start on Jetty.

I tried it on Wildfly 20.0.0.Final, Tomcat 9.0.36, Weblogic 12.2.1.4 and WebSphere Liberty 20.0.0 all are working, no change at all on my WAR file.

Any thoughts?

[2020-06-18 09:49] marthenlt commented on #1096
@gregw have you got a chance to make [this workaround](https://github.com/eclipse/jetty.project/issues/1096#issuecomment-298992870) as default?

[2020-06-18 10:06] SushmaReddyLoka commented on #4972
Okay.
- What is setMaxConcurrentPushedStreams() for on Http2Client ?
    -  Looking more into code, I think setMaxConcurrentPushedStreams is what isused to set the max concurrent streams allowed by reciever i.e. client, through settings frame ?

- I see that default MaxConnectionsPerDestination is 64.  So MultiplexConnectionPool tries to open new connections only when existing connection for a cli

[2020-06-18 10:35] boughtonp opened #4981 "Incorrect example for TryFilesFilter API docs"
**Jetty version**
9.4.30 and others

**Java version**
n/a

**OS type/version**
n/a

**Description**
The example given in [TryFilesFilter API docs](https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/fcgi/server/proxy/TryFilesFilter.html) is missing required slashes at the start of files.

i.e. line 53 of jetty-fcgi/fcgi-server/src/main/java/org/eclipse/jetty/fcgi/server/proxy/TryFilesF

[2020-06-18 10:58] SushmaReddyLoka commented on #4972
Looking more into code, I think setMaxConcurrentPushedStreams is what is used to set the max concurrent streams on server side by client, through settings frame ?

[2020-06-18 11:17] janbartel commented on #1096
@marthenlt  I don't see how we can make either of the above the default: it depends entirely on how you want your logging to be hooked up. The choices are 1) hook up to jetty logging, or 2) hook up to web-app specific logging. Have you tried these workarounds?

[2020-06-18 11:32] joakime commented on #4979
For embedded Jetty it would look like this ...

[code]

[2020-06-18 12:44] marthenlt commented on #1096
I tried option (2) but still fail.

Here's what I did:
a) create a `jetty.xml` file.
[code]
b) put it inside application `META-INF/jetty.xml`
c) repackage the WAR and redeploy

It seems Jetty didn't pickup the xml file. Did I miss anything?

[2020-06-18 12:56] #4958 closed, assigned to nobody

[2020-06-18 12:57] sbordet commented on #3672
@consultantleon the case you describe is not an issue, just a misconfiguration.
Please open a new issue and we can discuss it there.

[2020-06-18 12:58] sbordet commented on #4958
@vidit1578756 did you figure out the issue?

[2020-06-18 13:31] joakime commented on #1096
Does `com.oracle.marthen.demo.graalvmspringbootdemo.GraalvmSpringbootDemoApplication` extend `WebAppContext`?

[2020-06-18 13:37] joakime commented on #1096
Wait, a `jetty.xml`?
That's meaningless to Jetty's deployment of a WebApp.

Also, `META-INF/jetty.xml` is meaningless location for a WebApp. (it does nothing).

How are you creating your Server? (spring-boot has a few main ways to operate, standalone war, deployable war, executable war with embedded server, or fully embedded uber jar with server)
How are you deploying this webapp to this Server? (

[2020-06-18 13:38] janbartel commented on #1096
@marthenlt you've got half of option (2) - you've make org.apache.juli a system class rather than a server class.

[2020-06-18 13:39] sirianni commented on #4125
We are running into a similar issue.  Like others, we are running Jetty on both the client and the server.  On the client side we are using Jetty's `AsyncProxyServlet`.  This is running in the context of [apache/druid](https://github.com/apache/druid).

[code]

We have started seeing this issue more frequently under load.  Trying to parse through the `toString()` of the `HttpConnectionOverHTTP` ob

[2020-06-18 13:42] sirianni commented on #3891
We are running into a similar issue.  Like others, we are running Jetty (version `9.4.10.v20180503`) on both the client and the server.  We are not using SSL.  On the client side we are using Jetty's `AsyncProxyServlet`.  This is running in the context of [apache/druid](https://github.com/apache/druid).

[code]

We have started seeing this issue more frequently under load.  Trying to parse through

[2020-06-18 13:44] xresch opened #4982 "Is there an example for ConfigurableSpnegoLoginService?"
**Jetty version**
9.4.15

**Java version**
1.8

**Question**
The Class SpnegoLoginService is marked as deprecated and it says it should be replaced with ConfigurableSpnegoLoginService.
I started to implement it but had troubles as the Constructor asks for an instance of the interface AuthorizationService, that I don't know how to implement.

Do you have any example on how to use ConfigurableSpnego

[2020-06-18 13:44] marthenlt commented on #1096
@joakime I deployed the WAR in Jetty, not running it as an embedded container.

I basically need to deploy the WAR file under JETTY_HOME/webapps , as what I did to other application servers I mentioned above.

[2020-06-18 13:44] joakime commented on #1096
This is how "Option (2)" works.

The "context XML" [referenced in the workaround](https://github.com/eclipse/jetty.project/issues/1096#issuecomment-298992870) is for when you use spring-boot as a deployable war, and are using Jetty in a traditional sense (such as using the `jetty-home` or the older `jetty-distribution` tarballs/zip-files).

That "context XML" is something you manage within your `$

[2020-06-18 13:45] marthenlt commented on #1096
@janbartel do you have a doc on how to clearly execute option (2)?

Sorry I am not that familiar with Jetty configuration.

[2020-06-18 13:50] pschaeffer commented on #4979
Thanks folks,
I appreciate that the 'qtp1095352419' part is really just the thread pool name and that I could get it and set it. Apparently, 'qtp' is a default prefix derived from 'Queued Thread Pool' which makes sense. What I am trying to get (find a way to obtain) is actually the full 'qtp1095352419-126' name or perhaps just the '126' suffix. My guess is that the '126' suffix somehow identifies

[2020-06-18 13:55] sbordet commented on #4979
@pschaeffer you get the thread name via `Thread.getName()`.

`126` is the thread ID, from `Thread.getId()`.

[2020-06-18 14:04] joakime commented on #3891
Eek!  you need to upgrade, as that version is subject to several security concerns now.
https://www.eclipse.org/jetty/security-reports.html

It means the "remote" closed the connection (which is any intermediary between your client and the destination server), while it can be a Server initiated closure, it in fact can come from any intermediary outside of your client.
The server itself can see thi

[2020-06-18 14:07] vidit1578756 commented on #4890
Hi @sbordet ,

[jett-logs-hpack-debug.txt](https://github.com/eclipse/jetty.project/files/4799059/jett-logs-hpack-debug.txt)

I have update jetty client to 9.4.30.v20200611 but when DEBUG logs are enabled and  SETTINGS_HEADER_TABLE_SIZE (dynamic table) is set to 0, org.eclipse.jetty.http2.hpack.HpackException$SessionException  is still thrown with cause  java.lang.NullPointerException.

I have att

[2020-06-18 14:09] joakime commented on #1096
You need to detail how you are using spring-boot to deploy your webapp.
Option (2) is highly dependent on your specific spring-boot setup.
Not all spring-boot setups support Option (2).

See [prior comment](https://github.com/eclipse/jetty.project/issues/1096#issuecomment-646026323) on how Option (2) works.

[2020-06-18 14:22] marthenlt commented on #1096
Ahh.. I see so the "content XML" is meant to be deployed under JETTY_HOME/webapps too.
Let me try it out.

[2020-06-18 14:22] joakime commented on #4979
Each "name" you see in the logs (it's actually more like what sbordet says `${thread.name}-${thread.id}`) represents a unique thread that is producing that log entry.

Said another way ... `qtp1095352419-126` can be broken down like this ...

`qtp` is the prefix that a default configuration of `QueuedThreadPool` defines.
the `1095352419` is the unique identity hashcode() for the `QueuedThreadPool`

[2020-06-18 14:25] joakime commented on #1096
Not quite right, you are close, but you didn't read my comment.

**Important: Do not modify `JETTY_HOME` in any way**
Don't edit it, don't change it, don't add stuff, don't remove stuff, just leave it alone.
Treat `JETTY_HOME` as a read-only directory.

Use the documentation that was linked, you'll be creating a `${jetty.base}` directory (a new empty directory that you configure) for all of your s

[2020-06-18 14:31] sirianni commented on #3891
@joakime - thanks for the quick response!  We are not running Jetty directly, but we are observing this error in the context of Apache Druid, so we would need to submit a PR to Druid for the upgrade.  Since Druid uses Jetty pretty extensively for inter-process communication the upgrade may be nontrivial.  Looks like there is an open issue for this already https://github.com/apache/druid/issues/838

[2020-06-18 15:48] pschaeffer commented on #4979
Thank you folks.
All of my questions have been answered.

[2020-06-18 15:48] #4979 closed, assigned to nobody

[2020-06-18 20:25] #4729 closed, assigned to joakime

[2020-06-18 20:30] joakime commented on #4352
Using setuid as a default behavior introduces a host of other site effects that cannot be worked around in a generic way.
Example: logging starts logging and the log file is owned by root:root, then setuid kicks in, and now logging fails to work.

[2020-06-18 20:44] joakime commented on #4352
Regarding `SuccessExitStatus` ...

In `jetty.sh` we have ...
 * `exit` - for success and NO_START behaviors
 * `exit 0` - for success
 * `exit 1` - usage or environment errors

In start.jar we have `System.exit()` with values ...
* `0` for success (seen when forked JVM dies)
* `-1` for failure with start logging
* `-2` for failure with invoking main class (means you have a bad classpath and/or jet

[2020-06-18 20:45] joakime commented on #4352
While this is all good detail about having success with the systemd `jetty.service` file, I see this more as great guidelines for documentation than what we put in our generic `jetty.sh` script file that we ship with.

@WalkerWatch what do you think?  Could this be useful for documentation?

[2020-06-18 20:50] joakime commented on #3764
Stop / Start is not typical behavior.

The `DeprecationWarning` decorator notifies on many things, not just Servlets.
Add the obvious Filters and Listeners to the list, and then you start to see where this becomes useful.
As an example, we've had multiple reports that this helped folks understand that `GzipFilter` needed to be replaced as it was deprecated.

I say we don't bother with stop/start b

[2020-06-18 20:51] joakime commented on #1100
@lachlan-roberts do you recall any changes on `jetty-9.4.x` related to this?

I cannot seem to replicate this.

[2020-06-18 21:06] joakime commented on #502
Closing as `SameFileAliasChecker` works.

[2020-06-18 21:06] #502 closed

[2020-06-18 21:36] Gregory-N-able commented on #4352
Actually, because the parent process in the cgroup is owned by root, logging still works fine:

_**-rw-r--r-- 1 root root  9282214 Jun 18 17:00 console.log
-rw-r--r-- 1 root root    40982 Jun 18 17:19 gc.log
-rw-r--r-- 1 root root    10558 Mar 17 15:39 gc.log.1
-rw-r--r-- 1 root root   989150 Mar 17 15:24 gc.log.4
-rw-r--r-- 1 root root     6050 Jun 16 15:49 jetty-debug.log
-rw-r--r-- 1 root root

[2020-06-18 21:40] Gregory-N-able commented on #4352
You are assuming the shell is getting your return/exit codes directly. Unfortunately your return/exit codes are getting received by the JVM, which then exits with non-standard exit codes. Took me a bit to figure that one out and add the success codes to the systemd file.

[2020-06-18 21:43] Gregory-N-able commented on #4352
At the end of the day, shipping with a generalized jetty.service file is the best option. If an end user is running into some of these issues, like 143 being a successful exit code, they can always write a systemd override file to configure additional functionality (jetty.service.d/override.conf). https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[2020-06-19 02:06] lachlan-roberts commented on #1100
@joakime not that I can recall, I don't think I've touched encoders in 9.4.
I'll take a closer look and see if I can replicate the issue.

[2020-06-19 03:57] marthenlt commented on #1096
Well, I managed to get it running eventually. But I think I may skip evaluating Jetty this time as I can deploy the exact same application to [others application servers](https://github.com/eclipse/jetty.project/issues/1096#issuecomment-645908074) **without** changing anything.
Thanks for the hints though.

[2020-06-19 05:08] navalgoyal opened #4983 "is there any way to give weight to each connection, so that load is distributed between multiple connection as per there weight."
**Jetty version**
9.4.24

**Java version**
Java 1.8

**Question**
I want to create multiple connection between Jetty Client and HTTP Server. Each Connection have own weight. These connections will work as load balancer. Each connection has there own weight. Request will send based on there weight. The Connection having maximum weight will serve maximum request. For Example for there are 2 connecti

[2020-06-19 10:25] janbartel commented on #1096
@marthenlt so would you have been ok with solution 1) which would mean any juli logging from within your webapp would be controlled by jetty logging?

[2020-06-19 10:46] SushmaReddyLoka opened #4984 "Why Http/2 Client mandate use of ALPN"
https://stackoverflow.com/questions/34823433/does-apache-or-some-other-client-java-implementation-support-http-2, here it is mentioned that

"Jetty's provides two HTTP/2 Java client APIs. Both require Java 8 and the mandatory use of the ALPN, as explained here." ,
 But why would we need ALPN always ? Will it be needed even on clear text TCP ?

[2020-06-19 14:43] sbordet commented on #4984
ALPN is not needed for clear-text HTTP/2.

[2020-06-19 14:49] vidit1578756 commented on #4958
Hi @sbordet ,

we found that the load testing tool (vegeta in our case) was sending DATA and HEADER frame at a delay of more than 1 second when 1K TPS is sent on 1 connection. This caused the jetty-client to time-out at our node because  it subscribes for the content but never receives it with in 1 sec.

Request timeout at jetty was 1 sec.

Thanks,

[2020-06-19 15:19] sbordet commented on #4983
I'm not sure it makes much sense.

`request1` will be assigned to `connection1` which has weight 80. `request1` takes a lot of time to be processed.

While request1 is being processed, `request2` to `request100` are sent, and they cannot use `connection1`, so they will end up in `connection2`.
`request2` to `request100` are quick to be processed and all finish before `request1` is finished.

Now y

[2020-06-19 15:32] fantasticsunshine commented on #4966
I've only looked as far as jetty 9.4.x, so thanks for the info about the alpha and beta versions. I just looked at SLF4J 2.x and it's only alpha too.

With that all being alpha, things may change, but it looks like Log4j 2 does provide a bridge for SLF4J 1.8 and newer: https://logging.apache.org/log4j/2.0/log4j-slf4j-impl/index.html

Specifically:
https://search.maven.org/artifact/org.apache.loggi

[2020-06-19 16:03] joakime commented on #4966
We've had several reports of system crashes, deadlocks, and performance issues from users of log4j2 on Jetty over the past year.

For the record, we don't think log4j2 is bad, far from it.
We think log4j2 is quite good (definitely in the top 3 logging frameworks out there), and the devs are very responsive to when we report issues to them (and pretty quickly too!, esp if they can replicate).
Right

[2020-06-19 18:53] ghost opened #4985 "Fix NPE related to use of Attributes.Wrapper getAttributeNameSet()"
**Jetty version**

9.4.30

**Java version**

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment (build 11.0.6+10-post-Debian-1deb10u1)
OpenJDK 64-Bit Server VM (build 11.0.6+10-post-Debian-1deb10u1, mixed mode, sharing)

**OS type/version**

Linux

**Description**

I am using Vaadin 14.2.0. I switched from Jetty 9.4.26 to 9.4.30. WebSocket with Vaadin / Atmosphere seems to make some t

[2020-06-19 19:14] joakime commented on #4985
The sequence here ...

[code]

Tells us that this wasn't a websocket upgrade, as it passed the WebSocketUpgradeFilter and hit the Filter chain's doFilter() request.

The rest of the stacktrace seems to show something bad in Atmosphere's handling of wrapped request attributes.
What version of Atmosphere are you using?

[2020-06-19 19:19] ghost commented on #4985
Vaadin 14.2.1 uses atmosphere-runtime-2.4.30.slf4jvaadin1.jar

[2020-06-19 19:19] ghost commented on #4985
It is patched to work in Vaadin and I cannot change only this to another version.

[2020-06-19 19:20] ghost commented on #4985
I just updated to Vaadin 14.2.1 and still have this error.

[2020-06-19 19:25] joakime commented on #4985
The NPE is produced from Atmosphere's LocalAttributes code.
It's attempting to set a LocalAttribute where either the key is null, or the value is null.
That's what's causing the NPE on ConcurrentHashMap.put()

The code that handles AtmosphereRequestImpl.wrap() in Atrmosphere 2.4.30 is ...

https://github.com/Atmosphere/atmosphere/blob/atmosphere-project-2.4.30/modules/cpr/src/main/java/org/atmosph

[2020-06-19 19:27] joakime commented on #4985
I'm looking at the recent changes for memory usage on Attributes from Issue #4861

@gregw @lachlan-roberts does anything on this issue jump out at you?

[2020-06-19 19:28] joakime commented on #4985
@mpetzold if you can reproduce easily, can you put a breakpoint on the `AtmosphereRequestImpl.wrap()` and see if any of the attribute names or values you see from the request are null?

[code]

[2020-06-19 19:55] joakime commented on #4985
I tested behaviors of 9.4.26 vs 9.4.30 in regards to Request Attributes.
They behave the same for the following two testcases.

[code]

[code]

So that tells me that the Servlet API interface to the AttributesMap cannot include a null name, and properly handles null value.
What other means could result in a null on the AttributeNames is still a mystery.

[2020-06-19 20:25] joakime commented on #4985
@mpetzold do you have a project that we can use to replicate this issue on our side?

I took a stab at attempting to build vaadin-platform, but it REALLY doesn't like Ubuntu 18.04 or this 64 core machine i'm on.
Plus it forces selenium which has never worked on my bleeding edge chromium builds (chromedriver doesn't exist for these builds).

[2020-06-20 09:09] ManuelMall opened #4986 "How to 'unwrap the ServletContext facade until we reach Jetty's ContextHandler'?"
**Question**
We are running Jetty within Equinox as OSGi HttpServer. Trying to serve some static content (outside of our OSGi bundles). Defined the required extension

[code]
And getting the error

[code]
There is a Jacdoc note on the `initContextHandler` method saying

[code]

I tried to do that but really struggle how to 'unwrap' the `Proxy` object created by the Equinox runtime for the `Servlet

[2020-06-20 14:38] fantasticsunshine commented on #4966
That's really interesting info, thanks! I think I'll look a little deeper into the newer Jetty versions and SLF4J2 and add more comments at a later date if I have something useful to add.

[2020-06-20 17:07] ghost commented on #4985
Updated to Atmosphere 2.6.0 with no change.

[2020-06-20 17:08] ghost commented on #4985
Errors on client side (related to Vaadin and also posted at Vaadin issue!):

vaadinPush-min.js?v=2.2.1:1 WebSocket connection to 'wss://<domain>/?v-r=push&v-uiId=1&v-pushId=62bf44f6-45f0-468b-ad0e-c48a333e5f76&X-Atmosphere-tracking-id=0&X-Atmosphere-Framework=2.3.2.vaadin1-javascript&X-Atmosphere-Transport=websocket&X-Atmosphere-TrackMessageSize=true&Content-Type=application/json;%20charset=UTF-8&

[2020-06-20 17:33] ghost commented on #4985
I'm still convinced this bug is related to a change in Jetty implementation between 9.4.26 and 9.4.30. It is hard to build a simple test case.

ConcurrentHashMap: "Like Hashtable but unlike HashMap, this class does not allow null to be used as a key or value.". Was the underlying data structure changed in #4861?

[2020-06-20 17:56] ghost commented on #4985
btw. originally I updated Jetty because I received two PONGS after sending one PING (this websocket connection is not related to Vaadin). Now I only receive one PONG, so I am happy here. Side effect was then this issue with Vaadin / Atmosphere websocket connection. So, I have multiple websocket connections with different clients.

[2020-06-20 21:46] #3689 closed

[2020-06-20 21:46] #3674 closed

[2020-06-20 21:54] janbartel commented on #4986
@ManuelMall I think you might have to ask someone with a lot more Equinox experience, maybe @guw might be able to help?

It seems to me that the exception you're seeing indicates that the Proxy does not implement ContextHandler.Context, just javax.servlet.ServletContext, so there might not be a way to recover a ContextHandler.Context.

I found this post: https://stackoverflow.com/questions/1182685

[2020-06-21 07:47] ManuelMall commented on #4986
@janbartel Thanks for your response. Found a solution that works but it is very ugly as it depends on the implementation details of the ServletContext proxy object constructed by Equinox and requires a three deep nested forced field access using Java reflection. One would have hoped it to be is easier to serve static content.

[code]

[2020-06-21 09:39] guw commented on #4986
@ManuelMall The code looks odd. It's missing an:
[code]

I also wonder why the context would be null. Does the Equinox HttpService spawn threads?

You may also want to submit a PR to Equinox to make unwrapping easier. AFAIK there should be only one context in the Jetty based Equinox HttpService implementation, you could also try grabbing it with a JettyCustomizer.

[2020-06-21 09:52] ManuelMall commented on #4986
@guw The missing `else` bit is handled in the super class method invocation. And yes, `ContextHandler.getCurrentContext()` is returning `null`. And also yes to the separate thread. AFAICT from the stack trace there is no Jetty class involved at all. I will have a look at the JettyCustomiser suggestion and a PR for Equinox. Thanks

[2020-06-21 09:57] janbartel commented on #4986
@ManuelMall I think the standard Equinox stuff comes with the ability to serve static content, but I'm not sure how sophisticated it is.

[2020-06-21 10:30] ManuelMall commented on #4986
@janbartel As far as I understand the built-in mechanisms can only serve content from within OSGi bundles, not external content. External content needs some form of customisation, e.g. a custom HttpContext I saw suggested somewhere.

[2020-06-21 22:13] fantasticsunshine commented on #4966
Just following back around on the question about whether there was a log4j2.x integration with SLF4J 2.x yet. It appears after testing that the integration that I mentioned in a prior comment does work.

I was able to successfully log from Jetty 11.0.0-alpha0 to log4j 2.13.3 via SLF4J 2.0.0-alpha1 with only the following:

[code]

The `org.apache.logging.slf4j.SLF4JServiceProvider` from log4j-slf4

[2020-06-21 22:13] #4966 closed, assigned to nobody

[2020-06-22 03:08] lachlan-roberts commented on #1100
@joakime I was able to reproduce this and have proposed a fix in PR #4987.

[2020-06-22 06:15] nickebbitt opened #4988 "The check for whether a mime type is gzipable modifies (lower-cases) the content type"
**Jetty version**

9.4.x (possibly others too)

**Java version**
1.8

**OS type/version**
Linux

**Description**
I'm not sure if this is by design or an issue but if you configure the `GzipHandler` a custom mime type in its include list that contains upper case characters, e.g. `application/json+CUSTOM`, then the handler fails to match the content type and therefore does not compress the response.

[2020-06-22 11:06] hieplq commented on #2072
1. OSGiWebInfConfiguration.preConfigure will call to OSGiWebInfConfiguration.findJars

[code]

above code will consider osgi bundle as jar on WEB-INF/lib and add to jar list

2. org.eclipse.jetty.osgi.annotations.AnnotationConfiguration.parseWebInfLib
[code]

super.parseWebInfLib(context, parser) parse jar find on step 1 (include Osgi bundle)
next loop will parse for Osgi bunlde so make osgi bundl

[2020-06-22 11:35] vanand123 commented on #4961
After removing JCE provider, getting another Exception as below:

java.io.IOException: parseAlgParameters failed: PBES2 AlgorithmParameters not available
        at sun.security.pkcs12.PKCS12KeyStore.parseAlgParameters(PKCS12KeyStore.java:816)
        at sun.security.pkcs12.PKCS12KeyStore.engineLoad(PKCS12KeyStore.java:2018)
        at java.security.KeyStore.load(KeyStore.java:1445)
        at org

[2020-06-22 11:45] joakime commented on #4988
If you have a custom mime-type that you want compressed, then you are supposed to configure the `GzipHandler` to act on that custom mime-type.

See `GzipHandler.addIncludedMimeTypes(String ... mimeTypes)`

https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/server/handler/gzip/GzipHandler.html#addIncludedMimeTypes(java.lang.String...)

[2020-06-22 11:50] joakime commented on #4988
As a workaround configure `GzipHandler` with the lowercase version, your use of the mixed case version from your application should still trigger.

Per https://tools.ietf.org/html/rfc7231#section-3.1.1.1
The type is case-insensitive in use.

In practice, Jetty operates on them in a lower-case version in code, but uses the case as-is from the application if the application is using HTTP/1.1 (or HTT

[2020-06-22 12:05] nickebbitt commented on #4988
Thanks for the info @joakime - I had implemented the `GzipHandler` with the lower case version as you suggest and this works as expected.

[2020-06-22 12:42] hieplq commented on #2072
work-around for above duplicate, i can add below configuration to org.eclipse.jetty.deploy.DeploymentManager
[code]

but i still get duplicate by bellow code on org.eclipse.jetty.osgi.annotations.AnnotationConfiguration.parseWebInfLib

[code]
on this
[code]

[2020-06-22 13:15] sbordet commented on #4961
@vanand123 so the problem is detailed in the exception:

[code]

Double check your `SslContextFactory` configuration.

[2020-06-22 13:18] sbordet commented on #4965
Fixed.

[2020-06-22 13:18] #4965 closed, assigned to nobody

[2020-06-22 13:25] janbartel commented on #2072
`Bundle[] bundles = PackageAdminServiceTracker.INSTANCE.getFragmentsAndRequiredBundles((Bundle)context.getAttribute(OSGiWebappConstants.JETTY_OSGI_BUNDLE));` refers to the war bundle being deployed, and should return all of its associated fragments and required bundles.

In the osgi tests that we regularly run on jetty, we don't see any duplication of classes.

Can you provide more details about y

[2020-06-23 00:17] lachlan-roberts commented on #1100
The fix for this has been merged into 9.4.x with PR #4987 and will be available in a 9.4.31 release.

[2020-06-23 00:17] #1100 closed

[2020-06-23 05:03] hieplq commented on #2072
found it

can you add a Require-Bundle to web project and test?

Require-Bundle: org.eclipse.jetty.apache-jsp;bundle-version="0.0.0"

[2020-06-23 07:33] janbartel commented on #2072
I see. The solution is not to add jsp to the Required Bundles: this effectively puts it onto the webapp's classpath, which is incorrect, even in non-osgi jetty. The correct thing to do is to deploy the jetty-osgi-boot and jetty-osgi-boot-jsp bundles into your osgi container, and they will form the equivalent of the server's classpath.

[2020-06-23 07:51] hieplq commented on #2072
you are correct about org.eclipse.jetty.apache-jsp, i can remove it from Required Bundles

but i has many bundles still need to use Required Bundles, example zk library (a library for build up web ui from java)

i get org.eclipse.jetty.apache-jsp for easy setup reproduce issue

[2020-06-23 08:16] hieplq opened #4989 "Prevent parsing of module-info.class in OSGi bundles"
**Jetty version**
9.4.28
**Java version**
jdk-13
**OS type/version**
linux mint debian
**Description**
i get bellow error on console when run webapp
[code]

reason:
annotation scan library jakarta.xml.ws-api_2.3.2.jar
inside this bundle has module-info.class but it's not class so classInfo.getSuperName() on bellow code get null value

org.eclipse.jetty.annotations.ClassInheritanceHandler

[code]

[2020-06-23 08:56] janbartel commented on #4746
@rijkr with regard to the server.dump() error: how are you adding filters and mappings? Are you using the jetty api? Or are you using the servlet api (via  a ServletContextInitializer?)? Or are you using an xml file?

With regard to the CNFE, what version of geronimo-jaspi are you using, and is it on the server classpath or the webapp classpath? Have you tweaked any of the system/server class sett

[2020-06-23 09:20] SushmaReddyLoka opened #4990 "Are there any retry attempts or retry delay which can be configured for http/2 connection establishment ?"
Are there any retry attempts or retry delay which can be configured for http/2 connection establishment ?
What happens when there is a single connection active in a connection pool and it gets closed due to error or due to connection idleness ? Will i be able to make a new request on same client ? Will it automatically open a new connection in such case ?

[2020-06-23 10:49] janbartel commented on #4989
@hieplq how is the jakarta.xml.ws-api_2.3.2.jar declared to be related to the webapp that is being deployed? Is  it deployed into the container, and you've set the org.eclipse.jetty.server.webapp.containerIncludeBundlePattern context attribute to include it?? Or is it inside the WEB-INF/lib of the war file that you're deploying into osgi?? Or some other way?

[2020-06-23 11:05] rijkr commented on #4746
@janbartel There is no geronimo-jaspi in the dependency hierarchy of my pom.xml. It has a dependency on jetty-all, that has a dependency on jetty-jaspi though (both 9.4.30.v20200611), and jetty-jaspi has a ...
[code]
But since it has `<scope>test</scope>` the geronimo-jaspi component is not used to build and run the project. As a test I included the geronimo-jaspi dependency in my own pom.xml, and

[2020-06-23 12:42] janbartel commented on #4746
@rijkr  in 9.4.23 via #4237 we added a services file for jaspi, which means that its AuthenticationFactory is now being discovered. As you don't actually have the jars present to satisfy that class, you're getting the CNFE. If I were you, as you're not using jaspi at all, I would exclude it from jetty-all.

And any info on the filter mappings?

[2020-06-23 15:00] hieplq commented on #4989
it's on Require-Bundle
on my application, we use equinox as Osgi container and jetty is deploy as Osgi bundle
webapp is other Osgi bundle in equinox with Web-ContextPath
jakarta.xml.ws-api declare as Require-Bundle on webapp bundle

[2020-06-23 15:46] janbartel commented on #4989
Thanks @hieplq, I've raised PR #4991.

[2020-06-23 16:19] hieplq commented on #2072
back to this block of code
bundle is add to jars of metadata by ```context.getMetaData().addWebInfJar(bundleRes);```
after that each bundle is add to parse task by ```super.parseWebInfLib(context, parser);```

so for loop after ```super.parseWebInfLib(context, parser);``` make duplicate parse task for bundle, it can be remove

[code]

[2020-06-23 17:51] rijkr commented on #4746
@janbartel Filters and mappings are configured in web.xml and additionally programmed with @WebServlet annotations. There is also a @ WebListener.

No explicit usage of ServletContextInitializer, but may be it is used under the hood by 3rd party components in web.xml (org.cometd.server.CometDServlet, org.apache.wicket.protocol.http.WicketFilter)?

Jetty API is used to add a REST servlet to org.ecl

[2020-06-23 18:53] jokyjang opened #4992 "Make FilterMapping more sophisticated"
**Jetty version**
all

**Java version**
all

**Question**
The current FilterMapping only supports one wildcard '\*' match (see below link). I have path something like /api/a/\*/b/\*, both wirdcards in this case are path parameters. Is there anyway I can do that?

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/FilterMapping.java#L141

[2020-06-23 19:36] joakime commented on #4992
The reason for this limitation is the Servlet spec.
Currently this kind of complex `url-pattern` is not supported by the Servlet spec.
Consider asking for such a feature at https://github.com/eclipse-ee4j/servlet-api

[2020-06-24 04:41] kiranmaiem opened #4993 "Jett HTTP Client timing out even after receving response from server"
**9.4.30 HTTP Client**

**Open JDK 14**

**Linux**

**We have a Spring web flux application where it receives a HTTP2 request and send out to other hop using Jetty HTTP2 Client.
Under 100 TPS load, some of the requests are timing out at Jetty client, complaining that it did not receive response from server.
We captured the network traces and confirmed that server is sending response within few mil

[2020-06-24 08:29] janbartel commented on #4746
@rijkr I think it is always best to have only the minimum necessary. The other alternative would be to use the jetty-bom for version management, and just include only those artifacts you really need.

For the filter problem, if you remove the jetty-jaspi dependency, did that resolve the filter issue, or is it still a problem? If it's still a problem, are there any log warnings apart from the serve

[2020-06-24 08:32] sbordet commented on #4993
Unfortunately there is not enough logging to understand what's going on.
The pcap looks fine from the framing point of view - the body is 2 empty JSON objects.
Flow control windows are not exhausted.

Could be that your client just ran out of threads and no threads were available for those 5 seconds, so the request timed out.

Can you please enable DEBUG logging for `org.eclipse.jetty`?

[2020-06-24 08:33] janbartel commented on #2072
For the bundles that are named in your Require-Bundle statements, are these also build into your war? That is, are they also in WEB-INF/lib?  Because that's the only way I've been able to generate duplicate warnings.

[2020-06-24 08:37] hieplq commented on #2072
no. my product same like eclipse. all bundles deploy on plugins folder

[2020-06-24 08:38] hieplq commented on #2072
i setup product use bndtool and also can reproduce this issue with Require-Bundle

[2020-06-24 08:48] sbordet commented on #4990
There are no retry attempts made by either `HttpClient` or `HTTP2Client` in case of failed connection establishment.

If the connection is closed due to e.g. protocol errors, all streams in that connection are failed.
If the connection is idle, it is just closed via the HTTP/2 close mechanism (i.e. send a `GOAWAY` frame before TCP close).

If a connection is closed, and then you make a new request

[2020-06-24 08:58] ghost commented on #4985
@gregw @lachlan-roberts Could there be a problem with your work in #4861?

It will take a lot of time to do a good test case for this. Maybe you could check this issue first?

Thanks!

[2020-06-24 09:11] rijkr commented on #4746
@janbartel The exclusion of the jetty-jaspi dependency did solve the problem. If this is the way to go, that's fine. Thanks for your help! If you are interested in details, server code of my project can be found at this [Gitlab repository](https://gitlab.com/savapage/savapage-server). Shortcuts: [web.xml](https://gitlab.com/savapage/savapage-server/-/blob/develop/src/main/webapp/WEB-INF/web.xml) ,

[2020-06-24 09:41] janbartel commented on #4746
Thanks @rijkr, I will close this issue now.

[2020-06-24 09:41] #4746 closed, assigned to lachlan-roberts

[2020-06-24 10:35] janbartel commented on #2072
@hieplq I really can't reproduce a problem using jetty-9.4.30.  Can you please post the manifest of your webbundle, and the manifests of the bundles that are being scanned twice please?

[2020-06-24 10:47] kiranmaiem commented on #4993
we have enabled DEBUG level at jetty package and the log file i have attached has the jetty DEBUG logs. Can you let me know what more need to enabled to capture logs?

[2020-06-24 13:44] Arshiya95 opened #4995 "Callback notification when a connection is opened / closed in HTTPClient"
**Jetty version**
9.4.19.v20190610

**Java version**
1.8

**Question**
Is it possible to get callback notification when a connection is opened / closed in HTTPClient ?

[2020-06-24 13:50] Arshiya95 opened #4996 "Warning log printed when debug is enabled in AbstractLifecycle.java"
**Jetty version**
jetty-util-9.4.30.v20200611

**Java version**
1.8

**OS type/version**
Linux

**Description**
Under class org.eclipse.jetty.util.component.AbstractLifecycle.java setFailed(), there is a warning log printed when debug is enabled:

        if(LOG.isDebugEnabled())
            LOG.warn((new StringBuilder()).append("FAILED ").append(this).append(": ").append(th).toString(), th);

[2020-06-24 14:02] joakime commented on #4996
This is not the only place we do this behavior.

The line of code mentioned by the OP

https://github.com/eclipse/jetty.project/blob/1b59672b7f668b8a421690154b98b4b2b03f254b/jetty-util/src/main/java/org/eclipse/jetty/util/component/AbstractLifeCycle.java#L230-L234

Other places were do this too.

https://github.com/eclipse/jetty.project/blob/1b59672b7f668b8a421690154b98b4b2b03f254b/jetty-annotatio

[2020-06-24 14:11] joakime commented on #4996
Most of the cases I found are not really a bug / issue.
But we should review them anyway, as some things have changed over the years.
An example would be when the developer separated the message and the throwable (like in the ServletHolder).
That's no longer needed (and can produce throwables far away from the message in the actual log output)

[2020-06-24 15:56] joakime commented on #4572
Opened PR #4997 to address TODO on TAG_PAD

[2020-06-24 16:16] sbordet commented on #4995
Yes, like that:

[code]

[2020-06-24 17:37] ajleetch89 commented on #4982
I have the same issue. There is no example of how to use this new class ConfigurableSpnegoLoginService along with AuthorizationService.

I tried new ConfigurableSpnegoLoginService("realm", AuthorizationService.from(null, null)));

But it doesn't work :(

[2020-06-24 17:52] joakime commented on #4982
`AuthorizationService` is a way to get a `UserIdentity` from a the current `HttpServletRequest` and username.

When you use `AuthorizationService.from(LoginService, Object)` you use the `LoginService` implementation of your choice to establish a lambda that will perform the login.
Note: `LoginService.login(String username, Object credentials, ServletRequest request)` is used when you call `Authori

[2020-06-24 18:21] ajleetch89 commented on #4982
I'm trying to upgrade my current code which is working fine with Jetty 9.4.12.v20180830, to the new one - Jetty 9.4.27.v20200227 (SpnegoAuthenticator and SpnegoLoginService are deprecated)

[code]

The new code is not working at all

[code]

And BTW SpnegoLoginService which I'm using in the AuthorizationService is deprecated.

Would appreciate any help.

Thanks,
-AJ

[2020-06-24 18:28] hitenny opened #4998 "Jetty thread hung on TCP port"
We are using embedded Jetty server version `9.4.6.v20170531` in our Java server. When we run WebSocket tests using JMeter, the server hangs when it reaches 4000 websocket connections.

`QueuedThreadPool configuration maxThreads = 100`

Upon checking process, it was stuck; ie the websocket port was not responding. Server was unable to process data from the port. There were items in the TCP recv Q.

[2020-06-24 20:04] sbordet commented on #4998
All the Jetty threads in the stack dump are idle in the `QueuedThreadPool`, so the dump shows that Jetty was completely idle as if no connection was made to it.

It is likely that your client cannot keep up with the load test - happens almost all the times.

There is a thread handling an accept failure, so you may have more information in the server logs - could be that your server is underconfigu

[2020-06-24 20:14] sbordet commented on #4982
Example usages can be found in this test case:

https://github.com/eclipse/jetty.project/blob/jetty-9.4.30.v20200611/jetty-client/src/test/java/org/eclipse/jetty/client/util/SPNEGOAuthenticationTest.java

Look especially at the `prepare()` method to setup the KDC, and at the `startSPNEGO()` method to setup Jetty on the server side.
The Jetty client side configuration is present in every test.

Not

[2020-06-24 20:22] sbordet commented on #4993
The attached log file does not have DEBUG enabled for `org.eclipse.jetty`, but for something else called `ocpm.cne.gateway.jettyclient.*` which is not enough to understand whether there is a problem in Jetty.

From what I can tell from the logs, no Jetty code is actually running - only something else that looks like Jetty but it's on a different package and could be totally different source code.

[2020-06-24 21:07] joakime commented on #4982
`org.eclipse.jetty.security.authentication.AuthorizationService` is not deprecated.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.30.v20200611/jetty-security/src/main/java/org/eclipse/jetty/security/authentication/AuthorizationService.java

[2020-06-24 21:10] joakime commented on #4998
Not sure how you expect to handle 4000 concurrent websocket connections with a maxThreads of 100.

Also, upgrade to a more recent version of Jetty.
9.4.6.v20170531 is old and subject to several security issues now.
https://www.eclipse.org/jetty/security-reports.html

Consider using version 9.4.30.v20200611 has MANY improvements, including WebSocket.

[2020-06-24 21:11] ajleetch89 commented on #4982
AuthorizationService is not deprecated but SpnegoLoginService does, and I'm using it in the AuthorizationService.from....

[code]

[2020-06-24 21:16] joakime commented on #4982
The `SpnegoLoginService` was deprecated as part of the work on Issue #2868

[2020-06-24 21:18] ajleetch89 commented on #4982
Thanks, but in my case I'm not using properties file with usernames/pwd. I want to use GSSAPI Negotiation, since user already authenticated via AD (windows ntlm).

I don't know but it might be important, code is running on Solaris 10. Again no issues with old code - works perfectly.

[2020-06-24 21:21] ajleetch89 commented on #4982
Thanks. So then what LoginService should I use in AuthorizationService.from(...), to kick off  GSSAPI Negotiation...

[2020-06-24 21:41] joakime commented on #4982
That's non-sensical code.
You can't have Configurable**SpnegoLoginService** be based on **SpnegoLoginService**.
It's a loop with no authorization service, no source for user identities, and no roles.

Your AuthorizationService needs to be something that handles the realm and login for you, which isn't Spnego.

Your old code did this ...

[code]

That's a SpnegoLoginService with a realm called "rea

[2020-06-24 21:48] sbordet commented on #4982
@ajleetch89 please show the code and configuration that works, and then the code and configuration that does not work, _separately_.

Also, you don't really want to do GSS yourself - I think you just need to find the configuration that works in your case.

[2020-06-24 22:06] ajleetch89 commented on #4982
Exactly !!

[2020-06-24 22:11] sbordet commented on #4982
Well, so far we don't understand what you're trying to do - "does not work" is not very helpful.
Nor we have seen clear examples of your code.
Nor we have seen DEBUG logs.

[2020-06-24 22:11] ajleetch89 commented on #4982
That's what I'm trying to figure how use ConfigurableSpnegoLoginService, considering what was "default"/"unset" in the previous SpnegoLoginService. Since I was simple just set it up like this:

`SpnegoLoginService authorizationService = new SpnegoLoginService("realm", "/path/to/spnego.properties");`

I have no idea what is the "default"/"unset" IdentityService been used. I'm running embbeded Jetty

[2020-06-24 22:14] sbordet commented on #4982
@ajleetch89 you continue to post half-lines of random code, and we don't understand what you're talking about.

How about, for a change, you post the full code that was working for you _before_, and the full code that you are writing now?
How about you also attach full DEBUG logs so we can see _what_ is not working?

[2020-06-24 22:14] ajleetch89 commented on #4982
[code]

Who to make it work with new classes ConfigurableSpnegoLoginService and ConfigurableSpnegoAuthenticator.

[2020-06-25 04:38] kiranmaiem commented on #4993
ok i will recheck the log levels and remove json formatting of log messages. Will upload the logs again.

[2020-06-25 05:45] hitenny commented on #4998
@sbordet I think the client getting stuck is out of question here. Once the issue is reproduced, I checked the websocket port using `telnet` and it was not responding. Health check from Loadbalancer to the TCP port failed which means port is hung. recvQ having non-zero items shows that server is not receiving. All these data point that the server is at problem.

@joakime I saw your note in SO that

[2020-06-25 07:26] sbordet commented on #4998
@hitenny as I said, there is evidence that there is an accepting error on the server.

That does not mean it's a Jetty issue - could just be the server OS being misconfigured.

Please post the server logs - there should be evidence of the accepting error.

[2020-06-25 08:11] lachlan-roberts commented on #4985
This does look like it could be related to the changes from #4867 or #4816. Seems likely that like one of the `Attributes.Wrapper` gives an attribute name in `getAttributeNameSet()` which then gives a null value when looked up with `getAttribute()`.

This could be due to some issue in one of the `Attributes.Wraper` implementations, possibly one of the following:
1. We have overridden an attribute

[2020-06-25 09:28] yuvarajpandu opened #4999 "Jetty logs are not writing when we set the log level to "Warning" remaining log level like Info, Debug, None working as expected"
**Jetty version**
jetty-util-9.4.30.v20200611

**Java version**
1.8

**OS type/version**
Linux

**Description**
Jetty logs are not written when we set the log level to "Warning", but able to see logs written when we set Info and Debug level as expected.
Also when we set the jetty log level to "Debug" in one scenario we are getting Warning logs written.

Ex:
Under class org.eclipse.jetty.util.compo

[2020-06-25 09:58] janbartel commented on #4999
You don't say which logging implementation you are using, is it jetty's StdErrLog or something else? If StdErrLog, then the log level to set is "WARN".

As for the AbstractLifeCycle.setFailed() method you mentioned, there are a few cases where the log level to test of DEBUG has explicitly been chosen, because the exception is not something that you want to see on a regular basis, but reveals maybe

[2020-06-25 11:58] joakime commented on #4998
I don't recall making that kind of statement.
Those kinds of numbers would only apply to Servlets that exclusively use Async I/O. (it would never apply to Websocket)

I'm happy that you did your research first, and I'm quite active on Stackoverflow.
But here's an example of the kind of statement i've made about Threads and tuning on Stackoverflow.
https://stackoverflow.com/questions/44046685/jetty

[2020-06-25 12:06] joakime commented on #4999
This seems like a duplicate of #4996

[2020-06-25 12:55] yuvarajpandu commented on #4999
Janbartel, we are using JavaUtilLog logging implementation. Can you please help us to know when Warn log level will write, any scenarios?

[2020-06-25 13:28] hieplq commented on #2072
hi @janbartel i'm create a test project here https://github.com/hieplq/vn.cxf.client.demo
you can follow this step to reproduce

1. git clone git@github.com:hieplq/vn.cxf.client.demo.git
2. cd vn.cxf.client.demo
3. ./gradlew clean build
4. cd vn.cxf.client.app/target
5. jar xvf vn.cxf.client.app.bndrun.jar
6. sh ./start

[2020-06-25 13:30] joakime commented on #4982
That has no `IdentityService`, where is the `IdentityService` coming from in your environment?

Since you mentioned SpringBoot, it could be coming from dozens of different locations, including SpringBoot itself.
You should probably start debugging the working configuration and figure out what your `SpnegoLoginService.getIdentityService()` returns AFTER it has been started (not while it's being con

[2020-06-25 15:20] ghost commented on #4985
@lachlan-roberts Is it ready? Do you have a patched jar, so I can check?

[2020-06-25 17:11] ajleetch89 commented on #4982
It's `DefaultIdentityService`. I don't explicitly set it in the code. Jetty set it in doStart() after sometime.

[2020-06-25 17:17] joakime commented on #4982
`DefaultIdentityService` is basically a no-op `IdentityService` used for tests/testing.
Your "working configuration" has no roles, has no real security, and performs no login against spnego.
To be fair, this isn't wholly accurate, it did ask GSS for a new server credentials, but those server credential has no meaning / value to a user without a valid login to spengo, and an IdentityService to supp

[2020-06-25 17:30] ajleetch89 commented on #4982
I use `J2eePreAuthenticatedProcessingFilter` in Spring Boot, and the main goal of Spnego/Kerberos in mine Jetty setup to get user principal, since user already authenticated thru windows ntlm. After final negotiation round Jetty/SPNEGO have user principal, I use to lookup datastore where it mapped to specific application role.

[2020-06-25 17:40] joakime commented on #4982
Sounds like what you are looking for is a generic spnego library, not a spnego implementation of the servlet spec authentication and authorization layers.

Jetty provides the Servlet spec Authentication and Authorization layers.

The fact that you are using `Constraint`, `ConstraintMapping`, and `ConstraintSecurityHandler` means you want this Servlet spec authentication and authorization layers, n

[2020-06-25 17:58] hitenny commented on #4998
@sbordet By OS misconfiguration do you mean not enough file handles? But in that case I should start getting errors instead of service being stuck.

@joakime Here is the link I referred where you answered about threads. https://stackoverflow.com/questions/29307949/determine-maximum-websockets-jetty-will-open

If that's wrong, on what basis I should choose thread pool size.

[2020-06-25 20:21] joakime commented on #4998
I updated that 5 year old answer. (which was based on a version of Jetty 3 major versions ago, a version that is now EOL).

Thread Pool Max Size is based on many factors.
The answer at https://stackoverflow.com/questions/44046685/jetty-where-are-my-five-threads covers the basics, the high level.

The best way to figure out your sizing needs is ...
1) Start with default values
2) Monitor the Thread

[2020-06-25 20:33] joakime opened #5000 "NPE from Server.dump of FilterMapping"
**Jetty version**
9.4.30

**OS**
Jetty on Docker

**Description**
Not sure how to replicate (yet).

This occurs deep within a `Server.dump()` while attempting to list `FilterMappings`.

[code]

[2020-06-25 20:44] xresch commented on #4982
Hi joakime and sbordet,

as I started this thread I want to thank you both for all the answers so far. I understood that my approach seems not the correct way to achieve what I need.
I have a similar use case as ajleetch89, my employeer asks for the ability to use Kerberos authentication, but the only thing I actually need to fetch from the Kerberos Authentication is the user principal as everythi

[2020-06-25 20:45] xresch commented on #4982
... if you already have a working example that would be helpful too.

[2020-06-25 20:53] joakime commented on #4982
This sounds like `ConfiguredSpnegoLoginService` (the authentication piece) configured with a `AuthorizationService` based on `JDBCLoginService` (the authorization piece where the user principal and roles come from).

[2020-06-25 20:58] sbordet commented on #4998
How would we know? We asked multiple times for the server logs, but nothing so far.
We need evidence, otherwise we cannot help you.

[2020-06-25 23:44] lachlan-roberts commented on #4985
@mpetzold Yes, if I'm correct these changes should fix your NPE, so it would be great if you could test it and verify whether it actually fixes the issue.

You can checkout the `jetty-9.4.x-4985-AttributeNameSet` branch locally and run, `mvn clean install -DskipTests`. Then you can find the jars in jetty-home with all the jars located at `jetty-home/target/jetty-home/lib`. I think all the changes

[2020-06-26 08:32] xresch commented on #4982
Thanks, checked JDBCLoginService, seems not really what I want but I helped me, I will most probably create a custom login service based on that one.

With the following code I'm able to get prompted by the browser for credentials:
[code]
While CFWLoginService is currently just a stub class extending AbstractLoginService :
[code]
As of now I end up with the following exception, so above CFWLoginSe

[2020-06-26 12:00] joakime commented on #4982
If you are making a custom `LoginService`, look at the `HashLoginService`, it's probably the easiest one to follow (and it also uses `AbstractLoginService` which does most of the heavy lifting).

Nulls are rarely appropriate for Constraints to work.
So make sure you are populating roles at a minimum. (the roles are used in the `Constraint` you define)
Also, the `UserPrincipal.authenticate()` metho

[2020-06-26 12:02] joakime commented on #4982
Alternatively, if you want to make it even simpler, just implement a custom `AuthorizationService` and skip the `LoginService` delegation entirely.

[code]

[2020-06-26 13:36] gregw commented on #5000
I'm guessing we may be dumping while a filter is being added/started/stopped???

[2020-06-26 13:48] joakime commented on #5000
Looks like the NPE is from the `_holder` being null.

https://github.com/eclipse/jetty.project/blob/271836e4c1f4612f12b7bb13ef5a92a927634b0d/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/FilterMapping.java#L154-L159

Not sure how that can be null.

Should probably add a `Objects.requireNonNull(holder);` to `.setFilterHolder(FilterHolder)` for API sanity reasons.

https://github.com/eclipse

[2020-06-26 14:24] janbartel commented on #5000
That is very weird. It looks like a FilterMapping has been declared for a filter name that is not defined as a Filter anywhere. We only match up the FilterHolder to the FilterMapping in ServletHandler.doStart(), so maybe server.dump() is being called before the ServletHandler has started?  The fix is probably at line 155 in FilterMapping in appliesTo(int) method: we should check if the _holder is

[2020-06-26 15:20] ghost commented on #4985
The NPE is gone. However, I still have a problem with the WebSocket connection of Vaadin / Atmosphere. This may be something else or related configuration.

[2020-06-26 18:13] sbordet commented on #4982
@xresch please have a look at https://www.roguelynn.com/words/explain-like-im-5-kerberos/.

Jetty's `HttpClient` does the client-side steps indicated in the link above.
If you use a browser, the browser should do those steps as well.

In either case, the client will have a SGT (Service Granting Ticket) for the HTTP server you want to send requests to.

On the server-side, Jetty must be configured

[2020-06-26 18:33] rhamedy commented on #3684
@joakime how can I find this change? Any specific class?

[2020-06-26 20:49] joakime commented on #3684
@rhamedy the code between Jetty 8.0 and Jetty 9.4 (a difference of 4 major versions) with regards to IO has changed massively.

If you want to verify that theory, just enable ALL (if using Jetty Logging) or TRACE (if using logback, log4j, slf4j, etc) or FINEST (if using java.util.logging) logging for `org.eclipse.jetty` and check for the word "IGNORED" or "IGNORE" in the output.

[2020-06-26 20:50] joakime commented on #3684
Done.  Jetty never logs at ERROR level anyway.

[2020-06-28 04:18] #3704 closed

[2020-06-28 09:55] rymsha opened #5003 "DefaultSessionIdManager config to control extendedId behaviour"
**Jetty version**

9.4.29

**Java version**

11.0.7

**OS type/version**

Any

**Description**

When `flushOnResponseCommit=true` for the reasons described in #4049 (common sessionstore, NullSessionCache, non-sticky load balancer) we observe an undesired behaviour:
Jetty keeps sending responses with Set-Cookie header for JSESSIONID cookie. Only last part of extended session id is changed.

Example

[2020-06-28 11:16] rymsha commented on #5003
Fond this is the code of DefaultSessionIdManager :
[code]

But strictly speaking, when SeureRandom is used (default), adding worker name is not necessary as it is practically impossible for two instances to generate same sessionid.
Maybe it is even harmful as it may unintentionally expose internal cluster setup.

Taking this into account the best approach would be provide `null` or empty string to

[2020-06-29 14:51] sbordet commented on #4948
@mklinger we have done further work on the buffer corruption issue in #4967.
Can you please try the changes in branch `jetty-9.4.x-4967-buffer_corruption_for_http2_failures`?

[2020-06-29 17:41] sbordet commented on #4984
Closing as answered.

[2020-06-29 17:41] #4984 closed, assigned to nobody

[2020-06-29 17:42] sbordet commented on #4995
Closing as answered.

[2020-06-29 17:42] #4995 closed, assigned to nobody

[2020-06-29 17:42] sbordet commented on #4990
Closing as answered.

[2020-06-29 17:42] #4990 closed, assigned to nobody

[2020-06-29 21:40] shimon-cherny opened #5006 "Getting "Unexpected wrap result BUFFER_OVERFLOW""
**Jetty version**
9.4.24.v20191120
**Java version**
Oracle Corporation 1.8.0_201 Vendor: Oracle Corporation
**OS type/version**
Windows Server 2016 Arch:amd64 Version:10.0
**Description**
My app server log files full of these errors.
The application is running on Azure.

This is the stack trace i see:

[code]

[2020-06-29 22:06] joakime commented on #5006
If you can easily replicate, can you try again on Jetty version `9.4.30.v20200611`? (there's been several improvements in the HTTP/2 code since 9.4.24)

[2020-06-30 01:32] joakime commented on #5000
Some notes about the origin of this issue (from the person that reported it to me).

The NPE occurs on a webapp ...
 * using Google Guice to register all of the Servlets and Filters via the `com.google.inject.servlet.GuiceFilter`
 * the `WEB-INF/web.xml` only has the `com.google.inject.servlet.GuiceFilter` with a mapping to `/*`
 * the Servlets and Filters have no Servlet annotations (only Guice/I

[2020-06-30 03:20] #3428 closed

[2020-06-30 07:32] #4981 closed, assigned to nobody

[2020-06-30 08:33] shimon-cherny commented on #5006
Thank you for prompt response. Will definitely do that.
Simply i have this system in production and i can't upgrade jetty that fast. Anything else i can check or disable to workaround this issue?

[2020-06-30 12:30] mklinger commented on #4948
@sbordet: Unfortunately, the problem still persists using a SNAPSHOT build from branch `jetty-9.4.x-4967-buffer_corruption_for_http2_failures`.

[2020-06-30 12:52] sbordet commented on #4948
@mklinger can you please attach the DEBUG logs for the run with branch `jetty-9.4.x-4967-buffer_corruption_for_http2_failures`?

Also, did you try without Conscrypt?

[2020-06-30 13:04] prateekkohli2112 opened #5007 "Hot deployment of WARs on an embedded jetty server"
**Jetty version** - 9.4.30.v20200611

**Java version** - jdk1.8.0_201

I am using the below code to deploy a war on an embedded jetty server:

        Server server = new Server();
        WebAppContext webapp = new WebAppContext();
        webapp.setContextPath("/http1");
        File warFile = new File("C:\\JettyWar\\http1.war");
        webapp.setWar(warFile.getAbsolutePath());
        server.s

[2020-06-30 13:32] joakime commented on #5007
You need to use a Handler Tree. (a mix of Handler, HandlerWrapper, and HandlerCollection to suite your needs).

Example:

[code]

But this is also direct assignment of Wars to the handler list, and does not support hot deploy of wars.

For hot deploy of webapps (wars are included in this), you need to use the DeploymentManager and a ContextHandlerCollection.

See: https://github.com/eclipse/jetty.

[2020-06-30 14:20] prateekkohli2112 commented on #5007
Thanks @joakime for the quick response.

Just 1 more doubt, would DeploymentManager restart already running contexts?

[2020-06-30 16:32] joakime commented on #5007
DeploymentManager is capable of moving apps through the lifecycle of start/stop/etc.
The WebAppProvider is responsible for detecting a change in the webapp and requesting the DeploymentManager to move the app through the lifecycle.

See API docs ...

* https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/deploy/DeploymentManager.html
* https://www.eclipse.org/jetty/javadoc/current/org/e

[2020-06-30 17:21] ztravis opened #5009 "Async timeout / dispatch causing IllegalStateException"
**Jetty version**
9.4.28.v20200408, 9.4.30.v20200611

**Java version**
1.8.0_201-b09

**OS type/version**
Ubuntu (18.04)

**Description**
I'm seeing occasional IllegalStateExceptions being thrown in HttpChannelState when attempting to write an async result.
Our use case (which seems pretty typical) is to be able to write an async result when one becomes available or a default empty result on timeo

[2020-06-30 18:28] ztravis commented on #5009
I am able to reproduce this on 9.4.30.

[2020-06-30 20:12] joakime commented on #5009
@ztravis do you have an example project that you can share which will produce this?

[2020-06-30 20:23] ztravis commented on #5009
Not at the moment, but I can probably put together a small example. For testing I set a breakpoint at the end of `HttpChannelState#timeout()` and once that was hit, called `DeferredResult#setResult` in a separate thread.

[2020-07-01 09:27] #3725 closed

[2020-07-01 14:18] mklinger commented on #4948
@sbordet here is the debug log. I tried to filter the log for the interesting parts. I hope, I got it right.

[client.log](https://github.com/eclipse/jetty.project/files/4858386/client.log)
[server.log](https://github.com/eclipse/jetty.project/files/4858387/server.log)

[2020-07-01 14:44] mklinger commented on #4948
@sbordet:

I wasn't able to use something else than Conscrypt on the server side, but I managed to use the SunJSSE provider on the client side. The result was the same, the test failed with the same error.

I will dig into Spring Boot's Jetty setup code again to find a way to get the server running without Conscrypt, but I'm not very optimistic about that.

[2020-07-01 16:16] joakime commented on #4948
I added an issue at spring-boot as a result of the discussion on this issue.

https://github.com/spring-projects/spring-boot/issues/22188

[2020-07-01 22:02] janbartel commented on #5003
Non-sticky load balancers with sessions are not recommended, especially if your sessions are read/write. If you have read-mostly sessions then you can probably get away with it. If you really don't want to distinguish your nodes, then just leave the workerName blank or use the same name for all of them.  If you do that, depending on which SessionDataStore you use (unless you're using the NullSessi

[2020-07-01 22:08] janbartel opened #5012 "Remove unneeded dependency for test-jaas-webapp"
jetty-9.4 and above

test-jaas-webapp has an old, unnecessary dependency on mysql which can be removed.

[2020-07-02 05:23] hieplq opened #5013 "Bundle-ClassPath and lib place on WEB-INF/lib make classpath duplicate"
**Jetty version**
9.4.x
**Java version**
jdk-13
**OS type/version**
linux
**Description**
deploy jetty as osgi on equinox
deploy a webapp as WebAppContext
webapp is osgi bundle with Bundle-ClassPath for a library place on WEB-INF/lib/

so that library exists on two classpath,
one is normal Bundle-ClassPath
other is jar classpath add by bellow code on class org.eclipse.jetty.webapp.WebInfConfigurat

[2020-07-02 05:53] hieplq commented on #5013
i prepare project for reproduce https://github.com/hieplq/vn.duplicate.classpath/tree/jetty-5013

[2020-07-02 07:48] sbordet commented on #3509
See also comments in #3517.

[2020-07-02 09:09] sbordet commented on #4948
@mklinger the client logs look ok, writing to the server 69078 bytes of PUT content.

On the server, we see a first read of 16375 bytes that is added to the `HttpInput`:

[code]

The `HttpInput` is in state `s=STREAM`.

Then the application is called, it goes through a number of filters and then lands on Spring's `DispatcherServlet` where the application reads the request content.
However, the fir

[2020-07-02 11:53] Illapikov opened #5015 "IOException thrown in the handler prevents other handlers from being executed"
**Jetty version**
9.4.29

**Java version**
11.0.3

**Question**
We have a service utilising Jetty and Spring Boot.
Everything was working fine until recently we started receiving `EofException` and `IOException` in the controller due to the clients abruptly closing the connection.
While neither` EofException` nor `IOException` being an issue to our exception handling we noticed that we are missing

[2020-07-02 12:50] cstamas opened #5016 "java.lang.IllegalStateException: isReady() not called"
**Jetty version**:
9.4.30.v20200611

**Java version**:
java version "1.8.0_162"
Java(TM) SE Runtime Environment (build 1.8.0_162-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12, mixed mode)

**OS type/version**
Linux 3.10.0-1062.12.1.el7.x86_64 / CentOS 7.7

**Description**
Sporadic errors when response buffer is flushed.

A template (Velocity) is being rendered, and writes to (wrapped wi

[2020-07-02 13:33] joakime commented on #5015
Lets start with simplifying that code a bit.

[code]

Not relying on `RequestLogHandler` is bound to improve things (you'll get access logs for more types of requests now, even for requests that don't belong to a context).

Also note that Jetty's CustomRequestLog is on par (and in many cases better) then logback access.
Just connect the `CustomRequestLog` to the `Slf4jRequestLogWriter` and you'll

[2020-07-02 13:35] joakime commented on #5015
The EofException, EOFException, and IOException could be caught by the springboot controller in a such a way that it doesn't let Jetty see that failure.
You are probably seeing the access log entry, but it doesn't indicate an error, as SpringBoot attempted to work around it (with varying degrees of success)

[2020-07-02 13:36] joakime commented on #5016
The `com.walmart.warm.webapp.qos.QosFilter.doFilter` probably forced that request into Async mode to delay it's processing based on whatever logic it is doing.
That's where the ASYNC likely came from.

[2020-07-02 13:38] cstamas commented on #5016
Negative, is disabled (and QosFilter.java:211 is actually the "else" branch of it, it just passed on.

![image](https://user-images.githubusercontent.com/45165/86365632-0c807a80-bc7a-11ea-934c-3e500e71f778.png)

[2020-07-02 13:40] joakime commented on #5016
If the api says ASYNC, something set it.  check your other Filters? (and wrappers of the HttpServletRequest/HttpServletResponse, and any overridden Servlet Streams)

[2020-07-02 13:43] cstamas commented on #5016
Agreed, but then am leaning toward my "speculation": we processed the request, got the content, and started async IO to deliver it to client, BUT, something happened -- and as I said, WriteListener got no notification about it (onError was not invoked).

I currently have no other place to pintpoint where we would start async... (but am still looking)

[2020-07-02 15:26] Illapikov commented on #5015
Thank you for your swift response, @joakime

I did refactor the code as you've kindly suggested and the issue I've experienced is now gone.

I've did a small and naive source code research and found out that Spring does not wrap `IOException` (as well as `EofException` and I would assume all exceptions nested from `IOException`) with `NestedServletException`.

Therefore, `HandlerCollection` aborts

[2020-07-02 15:45] joakime opened #5017 "Remove RequestLogHandler in favor of server.setRequestLog(RequestLog) in Jetty 10+"
**Jetty version**
Jetty 10.0.x

**Description**
Now that `server.setRequestLog(RequestLog)` exists and performs much better, I would like to remove the `RequestLogHandler` entirely from Jetty 10 onwards.

And possibly deprecate `RequestLogHandler` in Jetty 9.4.x as well. (pointing to `server.setRequestLog(RequestLog)` as the suggested replacement).

[2020-07-02 15:46] joakime commented on #5017
I was motivated to suggest this from the discussion on Issue #5015

[2020-07-02 19:24] Haimonti commented on #3954
My application (details above) works very nicely on a LAN setup -- the server starts up, the client (on a different machine on the LAN) connects and file transfer happens over the sockets.

When I open the server to the internet (port forwarding enabled on the router) -- I get a connection timeout error as below.

Any suggestions?

2020-07-03 00:32:08.223:INFO::interContILP.MainClient.main(): Logg

[2020-07-02 20:07] joakime commented on #3954
Your question is unrelated to this closed issue.
Please open a new issue.

[2020-07-03 00:48] michaelkwan opened #5018 "WebSocketClient connect / upgrade timeout not configurable"
**Jetty version**
9.4.28
**Java version**
1.8.0.252
**OS type/version**
Centos 6
**Description**
WebSocketClient.connect(...) creates WebSocketUpgradeRequests with indefinite timeout.  Even with the Future<Session>.cancel(), it would not cancel the requests.

This also leads to a big problem because: When the HttpDestination exchange queued exceeded, no new requests can be added.  The requests sta

[2020-07-03 07:52] sbordet commented on #4971
After discussion during review, changing the current behavior in 9.4.x is a risk, as `upgradeTo()` implementation are supposed to pool the buffer they receive.
Pooling a "floating" buffer would be bad since it won't have the right capacity and may lead to `BufferOverflowException`s.

Moving this change to Jetty 10.

[2020-07-03 08:40] knaccc opened #5019 "Automatically hot-reload SSL certificates if keystore file changed"
With LetsEncrypt providing short-duration certificates, it is useful to be able to hot-reload the keystore using the `sslContextFactory.reload` method. ( See #918 )

However, in non-embedded situations (i.e. Jetty started using `java start.jar`), it requires the creation of a custom module and a jar file that will include the fairly straightforward code that will trigger the reload.

Please consid

[2020-07-03 08:46] #4976 closed, assigned to lorban

[2020-07-03 10:23] lachlan-roberts commented on #5018
@michaelkwan there is no per request configuration for this but you can configure the timeouts through the `WebSocketClient` or `HttpClient`.

There is `WebSocketClient.setConnectTimeout()` and `WebSocketClient.setMaxIdleTimeout()` which just delegates to set these on the `HttpClient`.  The idleTimeout set by `WebSocketClient.setMaxIdleTimeout()` is also used as a default for new WebSocket connect

[2020-07-03 14:19] #5003 closed, assigned to janbartel

[2020-07-03 14:46] #4967 closed, assigned to nobody

[2020-07-03 16:57] michaelkwan commented on #5018
@lachlan-roberts The connect timeout is the timeout for initializing the connection, not for the initial http upgrade request
I m not talking about the websocket messages, so the idle timeout is of no use here.

Please take a look the WebSocketUpgradeRequest is a HttpRequest.  The initial value for timeout is 0.

[2020-07-03 17:02] michaelkwan commented on #5018
@lachlan-roberts Also, like I mentioned, even thou I use WebSocketClient.connect() and Future.get(Time), when you do future.cancel(true), the request stays in the httpexchange queue forever if you exceeded both the maxconnectionsperdestination and maxRequestsQueuedPerDestination and is unrecoverable unless you shutdown the client.

[2020-07-03 17:45] sbordet commented on #5006
Also, will be great if you can replicate with DEBUG logs enabled.

This is one of those errors that should never happen, and we have a code path that throws an `IllegalStateException` for this reason.

Also, consider upgrading the JDK to something newer than 8u201 - could be a JVM bug.

[2020-07-03 18:10] joakime opened #5020 "LifeCycle.Listener not called for Filter/Servlet/Listener lifecycle events"
**Jetty version**
9.4.30

**Description**
The change to using BaseHolder and manually starting / stopping / destroying means that we no longer get LifeCycle.Listener events for the start/stop of the Filter/Servlet/Listeners on Jetty.

Example:

https://github.com/eclipse/jetty.project/blob/ae43b70a9f8907b8a2444f051bebab60f4a9162c/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/ServletHandler

[2020-07-03 18:16] joakime commented on #5020
I would like to see a more detailed servlet component API for monitoring flows and timings.

Something that would report ...

* Listener init (start / finished) - timing also timing
* Filter initialized (start / finished) - timing would be useful here
* Filter doChain called (start / finished) - timing again
* Servlet init (start / finished) - timing also useful here
* Servlet service called (star

[2020-07-03 19:12] joakime opened #5021 "Decorate.decorate() not called for Filters added via FilterHolder"
**Jetty version**
9.4.30

**Description**

If a Filter is added to a `ServletContextHandler` via it's `FilterHolder`, then the Filter does not get `Decorate.decorate()` called on it.

Example:

[code]

Results in ...

[code]

[2020-07-03 19:16] joakime commented on #5021
This also does not work for Filter's added via the Dynamic registration paths.

Example:

[code]

which results in ...

[code]

[2020-07-03 19:17] joakime commented on #5021
It seems that `Decorator.decorate(Object)` is only called if Jetty itself created the Object instance.

I would have assumed that all objects pass through the Decorator (Listeners, Servlets, Filters, etc..) regardless of how they came to be.

[2020-07-03 19:32] joakime opened #5022 "Cleanup ServletHandler, specifically with respect to making filter chains more extensible"
**Jetty version**
9.4.30

**Description**
The ServletHandler has a method for overriding a CachedChain via the newCachedChain() method.

https://github.com/eclipse/jetty.project/blob/ae43b70a9f8907b8a2444f051bebab60f4a9162c/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/ServletHandler.java#L826-L836

But this cannot be used, as the `CachedChain` inner class is protected.

This method is onl

[2020-07-03 21:28] pschaeffer opened #5023 "Impact of the JMM"
I wrote the following about port code from x86 to ARM

"The only caveat I can see is multi-threading. In theory, the JMM (Java Memory Model) addresses even this issue. However, it is entirely possible (and even likely) for developers to become dependent on hardware behavior, that is better than the JMM, without even realizing it. Of course, this hidden dependency will cause very strange, intermitt

[2020-07-04 00:16] msatam commented on #4936
We have identified that the bug mentioned here actually has security implications as well. It turned out that corrupt HTTP response buffer unfortunately is sent back in a lot of cases to different clients when the server is under heavy load and ends up sending incorrect responses to different clients. We had a few cases, where due to this particular flaw, clients were able to jump sessions thereby

[2020-07-04 02:19] lachlan-roberts commented on #5018
@michaelkwan It will be simple enough to add the request timeout to the `ClientUpgradeRequest`.

I think the Future<Session> was intended as more of a notification that the Session was available rather than a way to cancel the websocket handshake. This could be tricky to implement because the future isn't completed until the websocket connection and session has been opened.

[2020-07-04 02:30] lachlan-roberts commented on #5018
@michaelkwan take a look at PR #5024 and let me know what you think.

[2020-07-04 13:20] grgrzybek opened #5025 "dispatcher.include() with welcome files lead to stack overflow error"
**Jetty version**
10.0.0-SNAPSHOT

**Java version**
11.0.6

**OS type/version**
`Linux everfree.forest 5.6.19-300.fc32.x86_64 #1 SMP Wed Jun 17 16:10:48 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

**Description**
I'm working on Pax Web 8 and welcome file handling with default servlets.

I have `org.eclipse.jetty.servlet.DefaultServlet` mapped to `/alt/*` only (no mapping of `org.eclipse.jetty.servle

[2020-07-04 15:49] joakime commented on #5025
Are you using ServletContextHandler? or WebAppContext? (either way, you'd be surprised, there is always some servlet mapped to `/` default after startup, there has to be)

[2020-07-04 15:52] joakime commented on #5025
Also, you should never have a named servlet `"default"` ever mapped to something that isn't the `"/"` default url-pattern.
And the ServletContextHandler (or WebAppContext) must have a valid ResourceBase declared, otherwise the ServletContext is essentially broken.
And you know [you can have multiple DefaultServlet's declared](https://stackoverflow.com/a/20223103/775715), right? (with a named calle

[2020-07-04 16:12] grgrzybek commented on #5025
I'm looking from the perspective of `ServletContextHandler`, not the `WebAppContext` one. I'm mostly interested in embedded Jetty usage (I'm refactoring Pax Web 8) and definitely I'm interested in multiple registrations of "default servlet" under different paths (according to OSGi CMPN Http and Whiteboard specifications).
And yes - I'm aware of `org.eclipse.jetty.servlet.ServletHandler#_ensureDefa

[2020-07-04 16:29] grgrzybek commented on #5025
I wanted to thank you first for responding ;)
I'm not really sure I need "default" servlet. Even 12.1 "Use of URL Paths" of Servlet (4.0) spec says:

Which means (IMO) that "default" servlet is not a requirement.

OSGi CMPN Http Service specification defines `org.osgi.service.http.HttpService#registerResources()` method, where some "resource base" (by default - root of the Bundle) is _mounted_ und

[2020-07-04 17:27] grgrzybek commented on #5025
BTW, Jetty again seems the most flexible implementation ;)

In Tomcat, welcome files are handled in `org.apache.catalina.mapper.Mapper#internalMapWrapper()` as "rule 4" - after checking _exact_, _prefix_ and _extension_ mappings. So if a "resource servlet" is mapped to e.g., `/res/*`, we won't get welcome file handling with `GET /res/ HTTP/1.1` request.

In Undertow, welcome files are handled by `

[2020-07-04 20:32] michaelkwan commented on #5018
@lachlan-roberts thanks, i think that's sufficient.

[2020-07-05 05:44] dsyzhu commented on #4715
Thanks.

Understand jetty 9.3 is deprecated. We have moved away from jetty 9.3. If we find same issue in jetty 9.4 will create a new ticket for jetty 9.4. Closing this ticket.

[2020-07-05 05:44] #4715 closed, assigned to nobody

[2020-07-06 02:54] #4907 closed, assigned to lachlan-roberts

[2020-07-06 08:15] sbordet commented on #1826
I think we need to give this one more attempt.

LetsEncrypt is now widespread, and we use it for our own website, where we do have a script that runs on `cron` when the certificates are renewed and that converts the PEM certificates (LetsEncrypt) to PKCS12 (Java).

The problem is that in Java everything is based on the concept of a `KeyStore`.
We modeled `SslContextFactory` around that, so we have

[2020-07-06 08:18] janbartel commented on #5021
Correct. We only decorate objects that we create. If you pass us a fully created object, then you must take responsibility for initializing it.

[2020-07-06 08:24] janbartel commented on #5000
Fixed.

[2020-07-06 08:24] #5000 closed, assigned to janbartel

[2020-07-06 08:48] sbordet commented on #5023
Some additional reference about this:

[Examining ARM vs X86 Memory Models with Rust](https://www.nickwilcox.com/blog/arm_vs_x86_memory_model/)

[2020-07-06 09:08] janbartel commented on #5020
@joakime I don't understand the problem. It is perfectly possible to add LifeCycle.Listeners for Servlets, Filters etc :

[code]

[2020-07-06 09:11] openconcerto commented on #1826
Sure, it's the way to go.

I would add that it could be interesting to add a setting to specify the delay to consider that the pem files should be reloaded.

In the case of of letsencrypt, the certificates are provided as symlinks pointing to the last "version" of the files (updated with a cron). So it could be good, to "refresh" the SslContext without having to restart Jetty.

In production, at s

[2020-07-06 09:16] sbordet commented on #5019
We should:
* Implement #1826
* use Jetty's `Scanner` to track the PEM files / KeyStore files
* Provide a JMX command to reload the `SslContexFactory`
* Provide a new module that does the scanning and reload - we don't want these functionalities into `SslContextFactory` itself

[2020-07-06 09:24] gregw commented on #4936
Good idea.

[2020-07-06 10:08] sbordet commented on #5023
While it is true that in many cases this is the case, in others it's not.

It has always been an issue, for example, handling concurrent access to the `HttpSession`: the Servlet specification leaves that to application writers rather than containers.

Also, Servlet 3.0 introduced asynchronous processing of requests and responses, and Servlet 3.1 introduced asynchronous I/O.
While typically it's si

[2020-07-06 10:13] knaccc commented on #1826
I use jetty to host two different domains, requiring two different certificates from LetsEncrypt.

This `jetty.sslContext.keyStorePath=PEM:/path/to/private.pem|/path/to/certs.pem` approach would therefore not be suitable for situations where the keystore needs to hold more than one certificate, unless you allowed pairs of private.pem/certs.pem to be specified.

In my opinion, the above approach is

[2020-07-06 10:32] janbartel commented on #5025
@grgrzybek I've reproduced the problem, am pondering the solution.

[2020-07-06 12:03] joakime commented on #5020
@janbartel the point of the issue is that this functionality is now broken for things that result in a BaseHolder.
Filter for sure is broken, and I suspect Servlet / Listener are broken in their own way too.

Example for Filter.

[code]

Results in output ...

[code]

I'm reasonably sure (not 100%) that in the past the LifeCycle.Listener on the ServletContextHandler would notify for events on Filt

[2020-07-06 12:14] joakime commented on #5021
Who created the object instance is not in any way tied to the use of `.decorate(Object)`.

All basic objects within the scope of the ServletContext should really be passing through it.

WebSocket, for example, accesses the new websocket endpoint instance from the API and then decorate whatever is given back. (this creation can come from the default API implementation, the Container specific defaul

[2020-07-06 12:40] janbartel commented on #5021
The servlet spec says that servlet/filter/listener instances that are passed in to the ServletContext methods will **never** be injected (ie decorated), only if they are passed by class or by class name and the server creates the instance. I think this has always been the case, so I'm not sure what change you are referring to?

[2020-07-06 13:40] sbordet commented on #1826
@knaccc good points.

[2020-07-06 13:57] joakime commented on #5021
Ah, so we fix the bad behavior of the past (where it did get notified for injection/decoration) to where it is now (following the servlet spec).
Then this issue is in the wrong.
Closing it.

[2020-07-06 13:57] #5021 closed, assigned to janbartel

[2020-07-06 14:02] gregw commented on #5020
@joakime I don't see how that example would ever have worked because the `LifeCycle.Listener` is on the context, so it will only be told if the context starts and stops.

What we do have is `Container.InheritedListener` which added to the context would also be added to all containers underneath it... which would end up at the `ServletHandler` having the `Container.InheritedListener` which is also

[2020-07-06 14:12] joakime commented on #5020
I too feel that the current dump format for ServletContextHandler is superior to the old one.

I'm good with this being the way it should be, and will shift my efforts to something that doesn't rely on `LifeCycle.Listener`, or `Container.InheritedListener`.

The last commit I can find where Holder's were Managed Beans is ...

https://github.com/eclipse/jetty.project/blob/baca9cae3982a51a39c406f9f3

[2020-07-06 15:24] pschaeffer commented on #5023
Thank you for the answer. Please close this question. One quick note. Some number of years ago, I tried to discuss the JMM with another programmer. He was an MIT graduate. He had never even heard of the JMM. 'jmm java' gets only 478,000 hits in Google. Sadly, most programmers don't even known this is an issue.

[2020-07-06 15:47] sbordet commented on #4890
@vidit1578756 thanks for the logs, I fixed this in 43353d0.
Can you please try it out?

[2020-07-06 15:53] sbordet commented on #5023
@pschaeffer most programmers don't need to worry, so they can program well even if they don't know the JMM.

On the other hand we are aware of the JMM and try our best to write Jetty so that it behaves well with any CPU.
Having said that, if there are issues on non-Intel CPUs, we consider them bugs and we are committed to fix them.

Thanks for sharing your thoughts!

[2020-07-06 15:53] #5023 closed, assigned to nobody

[2020-07-06 15:56] #5012 closed, assigned to nobody

[2020-07-06 16:41] pschaeffer commented on #5023
Mr. Bordet,

Thank you for the link. I read it. No surprise that ARM has a “relaxed” memory model compared to x86. This will have no effect on 99+% of programmers. However, it may impact you (Jetty). ARM vs. x86 is a big subject in my circles these days. You won’t be surprised to here that I think ARM is the future (of everything).

Thank you

Peter Schaeffer

From: Simone Bordet <notifications@gi

[2020-07-06 16:58] sbordet commented on #1826
However, `/etc/letsencrypt/live` contains the private keys and as such typically owned by super-users that are not used to run Jetty.

[2020-07-06 18:26] knaccc commented on #1826
Oops, yes, well caught :) It's pretty easy to have a 1-line bash script as a --post-hook on certbot to use openssl to convert the pem files to a pkcs12 keystore file and place it inside jetty, after which a future hot-reload module would detect the change and perform the reload. I'd suggest the main reason people struggle is that it's difficult to google a tutorial on how to do this.

So I guess t

[2020-07-06 21:10] #4971 closed, assigned to sbordet

[2020-07-06 22:03] smirandamedallia opened #5027 "Jetty documentation link is broken for 9.3.28"
**Description**
Navigating to page: https://www.eclipse.org/jetty/previousversions.html
Displays older versions of docs but clicking on `9.3.28.v20191105` docs link
https://www.eclipse.org/jetty/documentation/9.3.28.v20191105 results in a 404

[2020-07-06 22:13] WalkerWatch commented on #5027
I erroneously removed the 9.3 references in https://github.com/eclipse/jetty.website/commit/8f67169fa9c4584eac23c357e76dc21dd4d6417c forgetting we generated that documentation on the fly. Checking in a fix now. In the mean time you can grab the documentation from [Maven Central](https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-documentation/9.3.28.v20191105/).

[2020-07-06 22:16] WalkerWatch commented on #5027
Fix checked in at https://github.com/eclipse/jetty.website/commit/30e681c337d6ba6412d9024ebadbe9e0c867fbea

Note: It will take some time to build and publish.

[2020-07-06 22:16] #5027 closed, assigned to WalkerWatch

[2020-07-07 07:54] hieplq commented on #5013
===  bellow is wrong report, i just not yet delete WEB-INF/lib ===
i do work-around by don't put lib inside WEB-INF, i move lib to root folder of plugin
on run time (eclipse) it's it resolve issue
but when i run binary, when jetty deploy my webapp bundle to temp folder, it move lib back to WEB-INF

[2020-07-07 07:58] janbartel commented on #5007
@prateekkohli2112 if your question has been adequately answered, could you close the issue?

[2020-07-07 10:52] boughtonp commented on #1826
Permissions are a common problem with known common solutions which apply equally to all servers/software.

So the documentation for the new module(s) can include an explanation with an example snippet such as:

	# run once only
	groupadd certusers
	usermod -aG certusers jettyuser

	# run on first setup of new certificate
	cd /etc/letsencrypt/live/$domain
	chgrp certusers ./privkey.pem
	chmod g+r .

[2020-07-07 12:07] #4989 closed, assigned to janbartel

[2020-07-07 12:23] janbartel commented on #4992
@jokyjang as @joakime says, FilterMapping is constrained by the servlet specification for filter mapping patterns. Maybe you can step outside of the servlet specification and look at using or extending the jetty api to accomplish what you would like to do.

[2020-07-07 12:23] #4992 closed, assigned to nobody

[2020-07-07 12:41] janbartel commented on #5013
@hieplq I think we expect that `WEB-INF/` will just contain `classes/` for a web bundle, as any jars would be deployed as bundles within the osgi container instead. I'll have a look and make sure that we can support the scenario where the jars have been included in WEB-INF/lib instead, and/or appear on the Bundle-Classpath.

[2020-07-07 21:18] jeanbritz opened #5029 "Open redirect when sending custom Host header to URL with no trailing forward-slash"
**Jetty version**
9.4.9.v20180320
**Java version**
Oracle JDK 1.8.0_191-b12
**OS type/version**
Windows 10
**Description**
I have found that if you send an HTTP POST request to a Jetty server instance and you don't end the URL with a trailing forward-slash (`/`) it performs a redirection to the URL with the forward-slash appended. With this behaviour I can send a custom Host header which will be i

[2020-07-07 22:47] joakime commented on #5029
That is indeed an interesting behavior.

No virtual hosts is pretty normal.
Have to ponder what this means.

[2020-07-08 04:56] prateekkohli2112 commented on #5007
Sorry for the late response.

I just wanted to ask if I redeploy 1 app using DeploymentManager, would it restart the other apps as well on that jetty instance?

[2020-07-08 08:36] gregw commented on #5029
This is entirely normal behaviour and is exactly what the host header is intended for.

If you have a machine that is hosting multiple virtual domains on the same IP address, then the only way you can ever send a redirect to the correct URL is to use the Host header.
But you may also have a client with a private DNS  so that it can refer to a server with a private name, again in that case the only

[2020-07-08 08:50] gregw commented on #5029
Doing some further research, the Location header is defined by https://tools.ietf.org/html/rfc7231#section-7.1.2 and it says that absolute URIs should be resolved against the effective request URI.
The effective request URI is defined in https://tools.ietf.org/html/rfc7230#section-5.5 and allows for the Host header to be used.

So I think we are doing things correctly.   However, the question rema

[2020-07-08 08:54] gregw commented on #5029
Finally I don't think this is an open redirect because, whilst Host header is not really trusted data, it is different to a URI path or parameter which can be either entered by a user or passed in a link.   A browser cannot be tricked into sending a request to a different host than the host header with typical phishing attacks.  To make a Host header different to the network routing implies an att

[2020-07-08 11:32] joakime commented on #5007
@prateekkohli2112 hot deployment (as triggered by a filesystem change), or even manual deployment (using the DeploymentManager directly), is always on 1 app at a time.

[2020-07-08 11:37] joakime commented on #5029
I think we could issue a redirect without the hostname portion, no?

[code]

[2020-07-08 11:44] joakime commented on #5029
Yeah, the RFC2616 rules on `Location` are that it is an absolute-uri, but RFC7230 allows for a relative reference.

https://tools.ietf.org/html/rfc7231#section-7.1.2

But this leads to something interesting, as the resolution of a chain of `Location` references is based on the original request URI (by the User-Agent).

Example:

Original Request is against `http://machine.com/servlet`

[code]

Whi

[2020-07-08 11:48] joakime commented on #5029
I don't see that last example as a show stopper.

Perhaps when we know we are in RFC7230 Compliance mode for the connector, we only make the `Location` uri absolute under the following circumstances ...
* Application code set the `Location` header to absolute. (either by setting the `Location` response header directly, or using the `HttpServletResponse.sendRedirect()` method)
* Redirect is attempt

[2020-07-08 12:32] gregw commented on #5029
Sounds good.  We could even possibly control this with a compliance setting?

[2020-07-08 14:00] joakime commented on #5029
I think it should work with a compliance setting, sure.

But I still have 2 scenarios I'm still thinking about.

1. How do virtual-host configurations play into this?
2. How does SNI resolution play into this?

Are either of those scenarios currently impacting the absolute-uri resolution of the `Location` header we currently have?

[2020-07-08 15:42] sbordet commented on #5029
@srapizzi what do you think of this issue?

We don't think there is a security issue, perhaps just an enhancement to produce relative `Location` headers, etc.

Are there security tools that check for this particular case? Thanks!

[2020-07-08 15:51] srapizzi commented on #5029
Hi @sbordet
technically, it is an open redirect but it is not exploitable unless we are in a man-in-the-middle situation where the attacker can change the header HOST, or in a web-cache poisoning condition if it still works in modern infrastracture.
We can consider it not exploitable with zero impact so far.

[2020-07-08 20:13] joakime opened #5032 "Introduce Listeners to aid in tracking timings within ServletContext and WebApp"
**Jetty version**
9.4.30

**Description**
While the `HttpChannel.Listener` is very powerful, it doesn't have visibility into Servlet/WebApp specific concepts to aide in tracking performance behavior within specific Servlet/WebApp components.

Introduce a Listener (or two) that will :
 * expose startup timing. (overall WebApp timing, and ServletContext specific init timing)
 * expose individual com

[2020-07-08 20:25] janbartel commented on #5013
Raised PR #5034.

[2020-07-09 07:33] james-z-repo opened #5035 "LogbackServletContainerInitializer fails to produce log output we call DeploymentManager.removeApp()"
**Jetty version**
9.4.19.v20190610
**Java version**
1.8
** logback version**
1.7.25
**OS type/version**
windows
**Description**

【title】:We configured logback, and then when the application stops, the log will not be output

【We Debug】：
1、First，I hava a Helloword Test War Used Servlet 2.3，Just one Picture. And Web.xml
[code]
2、When the application is initialized

![image](https://user-images.githu

[2020-07-09 07:44] olamy commented on #5035
Can you provide any error message you have?
When you say `We configured logback` what do you mean exactly?
Do you refer to https://www.eclipse.org/jetty/documentation/current/configuring-logging-modules.html#example-logging-logback?

[2020-07-09 07:51] james-z-repo commented on #5035
sorry, There is no error message in this bug, just no log output。
We configured logback：this mean , we add this module(--module=logging-logback) in start.ini

[2020-07-09 08:17] james-z-repo opened #5036 "addServerClasses = filepath didn't work in use logging-logback"
**Jetty version**
9.4.19.v20190610
**Java version**
1.8
**Question**
I used logging-back module in start.ini，

![image](https://user-images.githubusercontent.com/33625419/87014498-d2c1ed80-c1fe-11ea-8f8e-6704c172b3d7.png)

When i start Jetty with logback debug level，i have a Debug message：

15:43:10.972 [WrapperTasMain] DEBUG o.eclipse.jetty.webapp.WebAppContext - isServerClass==false class ch.qos

[2020-07-09 09:38] gregw commented on #5029
Note that if this is considered a vulnerability in jetty, then apache have the exact same "vulnerability":
[code]

I think this is just the spec being correctly implemented.

[2020-07-09 09:46] janbartel commented on #5036
I suspect that you have the logback jars inside your webapp because I can't reproduce this log message at all, as the logback jars that are on the server's classpath are not normally interrogated for ServletContainerInitializers. As they are "serverClasses" this means that they are normally hidden from the webapp, but if a webapp explicitly includes them in WEB-INF/lib, then they can be seen.

[2020-07-09 11:07] joakime commented on #5035
This needs to be at least WebApp 3.0.

ServletContainerInitializer was introduced in Servlet 3.0

https://docs.oracle.com/javaee/7/api/javax/servlet/ServletContainerInitializer.html

[2020-07-09 11:10] sirishaPydi opened #5037 "How are old jetty request log files deleted?"
Jetty-version : 9.4.21

Java version: Java8

Our application uses instance of jetty to run its services on windows. Each service is configured to have its own start.d/*.ini with the modules it needs and jetty-requestlog is common for all of them.
--module=requestlog in ini file.
These request logs are created in service folder > logs.

The logs are created with the default file pattern and are goo

[2020-07-09 11:16] joakime commented on #5037
`retainDays` is evaluated during "delete older files" event.

The "delete older files" event is triggered once a day at midnight.

[2020-07-09 12:04] james-z-repo commented on #5035
yes，I know the WebApp needs to be at least WebApp 3.0.
But, I think, This bug is not related to webApp Version
![image](https://user-images.githubusercontent.com/33625419/87036057-cfd5f580-c21c-11ea-84dd-3e3d8715627d.png)

To prove this, I recalibrated the application:
1. Application A: A simple HelloWorld, webapp version > 3
2. Application B: A simple folder with an HTML inside

I debug App A &&

[2020-07-09 12:14] vanand123 commented on #4961
@sbordet Support for getHandshakeSession() was added in CiscoJ 6.0.9 and CiscoJ 7.0.1.
So, upgrading to latest CiscoJ 6.0.10 resolved this issue.

[2020-07-09 12:37] gregw commented on #5029
Since relative redirects are now allowed by RFC 7230, I've created a PR to add an option to use them when appropriate.

[2020-07-09 13:29] janbartel commented on #5035
@zhengshundong01  let me re-iterate my comment from the other issue you opened in #5036 : it appears that you ALSO have the logback jars inside your webapp.  They should only be on the container classpath.

[2020-07-09 13:34] sbordet commented on #4961
Thanks for the feedback.

[2020-07-09 13:34] #4961 closed, assigned to nobody

[2020-07-09 13:37] prateekkohli2112 commented on #5007
Thanks @joakime.

[2020-07-09 13:37] #5007 closed, assigned to nobody

[2020-07-09 13:48] prateekkohli2112 opened #5039 "Unable to use TLSv1 & TLSv1.1 with Java 8"
**9.4.24.v20191120**

**jdk1.8.0_201**

I am trying to run my application on TLSv1.1, but I get SSLHandshakeFailure Exception.

I am using the below code to enable TLSv1.1 in Jetty Server:

        SslContextFactory sslContextFactory = new SslContextFactory.Server();
        Security.addProvider(new OpenSSLProvider());
        sslContextFactory.setProvider("Conscrypt");
        sslContextFactory.s

[2020-07-09 14:02] sbordet commented on #5039
TLSv1.0 and TLSv1.1 are vulnerable and deprecated, they are not used for security reasons.
And it's not only the TLS protocol version but also the ciphers that they use that are weak/unsecure.

If you really want to use them you need to enable the TLS protocol *and* enable the ciphers that are by default excluded because they are old/weak/unsecure.

The error explicitly reports that: `SSL routines

[2020-07-09 14:02] joakime commented on #5039
The exclusion line you highlighted ...

[code]

is the same one that is present on the default exclusion list ...

https://github.com/eclipse/jetty.project/blob/271836e4c1f4612f12b7bb13ef5a92a927634b0d/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java#L123-L138

TLSv1 and TLSv1.1 are supported by both older versions of Java and all versions of Jetty, but not with a default

[2020-07-09 14:17] prateekkohli2112 commented on #5039
Thanks for the quick response.

Will surely consider upgrading our server to TLSv1.2/TLSv1.3.

But as of now is there any way I can configure my client to support TLSv1/TLSv1.1 as well.

[2020-07-09 14:21] sbordet commented on #5039
Configure your client with ciphers that are weak/unsecure, but supported by TLSv1.1.
How to do that depends on your client. The ciphers also depend on your client.

[2020-07-09 16:31] jeanbritz commented on #5029
Thank you @gregw for providing a quick fix

[2020-07-10 02:42] sirishaPydi commented on #5037
Seems like the event is not triggered by itself as I see the logs files untouched even after a day. Could you please guide us if we are missing something?

[2020-07-10 03:20] prateekkohli2112 commented on #5039
I am using Jetty Client 9.4.24.v20191120 with Java jdk1.8.0_201.

So both my client and server are Jetty.

I tried ciphers like TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA and some others as well, but they are added in the blacklist ciphers list present in HTTP2Cipher class.

Would you be able to suggest any cipher for TLSv1/TLSv1.1 which would be supported by both Jetty client and server.

[2020-07-10 08:17] sbordet commented on #5039
[code]

If you want to use HTTP/2, you must use TLSv1.2 and strong ciphers - otherwise you need to override methods to customize the HTTP/2 configuration.

[2020-07-11 13:13] yixy opened #5040 "ProxyServlet response waiting problem in HTTP persistent connection"
**Jetty version**

9.2.30.v20200428

**Java version**

[code]

**OS type/version**

macOS Catalina 10.15.5 / Darwin 19.5.0

**Description**

Here is a question about ProxyServlet. When the Jetty server and the upstream server use a long connection, at this time two HTTP requests multiplex a TCP connection, the second response will wait until the first response is completed before returning to Clie

[2020-07-13 02:02] hieplq opened #5041 "org.eclipse.jetty.osgi-servlet-api missing osgi.contract=JavaServlet""
**Jetty version**
9.4.30
**Description**
On jetty document, servlet bundle advice is org.eclipse.jetty.osgi-servlet-api from Mort Bay Consulting
but this bundle missing "Provide-Capability: osgi.contract; osgi.contract=JavaServlet"
follow https://www.osgi.org/portable-java-contract-definitions/

i'm not sure this bundle still maintain, so advice to modify document to use org.apache.felix.http.serv

[2020-07-13 13:59] sbordet commented on #5040
Your code does not do what you think it does.

`ProxyServlet.onProxyResponseSuccess()`' is called when the request and response cycle in the proxy are complete.
In your code, you are trying to change headers and write additional content to a response that has already been sent.

I recommend that you look into `AsyncMiddleManServlet` if you want to modify request or response content, rather than do

[2020-07-13 17:13] sbordet commented on #5019
FTR, we decided that #1826 is orthogonal and more complicated to implement, so for now we only "watch" `$JETTY_BASE/etc/keystore` and reload `SslContextFactory` if it changes.

[2020-07-14 08:56] sbordet opened #5043 "WebSocketListener anonymous classes should be invocable"
**Jetty version**
10.0.x

**Description**
Classes similar to:

[code]

should be processed without errors by the WebSocket implementation.

They currently fail with:

[code]

probably because we are using the anonymous class rather than the interface to lookup the method handles.

See https://github.com/cometd/cometd/blob/6.0.x/cometd-java/cometd-java-server/cometd-java-server-websocket/cometd-jav

[2020-07-14 12:21] janbartel commented on #5020
Merged.

[2020-07-14 12:21] #5020 closed, assigned to janbartel

[2020-07-14 12:46] lachlan-roberts opened #5044 "Jetty WebSocket UpgradeRequest & UpgradeResponse types in Jetty 10"
**Jetty version**
10.0.x

**Description**
The `UpgradeRequest` and `UpgradeResponse` types in jetty 10 seem like they could use some simplification.

There is the API `UpgradeRequest` and `UpgradeResponse`. The Server API `JettyServerUpgradeRequest` and `JettyServerUpgradeResponse` which do not extend the API interfaces. Then there are heaps of Adapters and Delegate classes for these to convert be

[2020-07-14 13:07] prateekkohli2112 commented on #5039
Thanks @sbordet & @joakime

[2020-07-14 13:07] #5039 closed, assigned to nobody

[2020-07-14 14:25] yixy commented on #5040
Thanks for reply!

I will try to use `AsyncMiddleManServlet` to handle the scenario of rewriting the request response.

But there are still some questions about `ProxyServlet`.

You said：

What does this mean？

I think the modified header and content in the code should be the response returned to the client. This response should not have been sent yet?

**The main problem that bothers me is that w

[2020-07-15 07:53] gregw opened #5048 "Review temporary buffer usage"
**Jetty version**
9.4.x, 10.0.x

**Description**

See #5045 for some background.   After looking at that issue, it is apparent that when we fail to do all our writing as channels, we are probably doing a very bad job in regards to too many copies into temporary buffers and not reusing those temporary buffers:

- The [HttpContentRangeWriter](https://github.com/eclipse/jetty.project/blob/fb4cfa9be6c

[2020-07-15 07:54] sbordet commented on #5040
Method `ProxyServlet.onProxyResponseSuccess()` is called _after_ the response has been sent.
In your code, you try to modify the response, but it has already been sent.

Yes you can - you just need to describe exactly what you want to do and we can help you.
We recommend to use `AsyncMiddleManServlet` if you need to transform request or response content.

Do you have proof of this? Stepping with t

[2020-07-15 08:04] gregw commented on #5048
Also: https://github.com/eclipse/jetty.project/blob/6d88f966e1bfe910f03ac1179ee84877c47d01e2/jetty-websocket/websocket-common/src/main/java/org/eclipse/jetty/websocket/common/message/SimpleBinaryMessage.java#L61

[2020-07-15 08:48] #4736 closed, assigned to janbartel

[2020-07-15 10:20] janbartel commented on #5041
@hieplq I've updated the documentation to reference the bundle you suggest for jetty-9.4: as the org.eclipse.jetty.osgi-servlet-api bundle is no longer maintained, it is too hard to add contract header. But I'll see if it can be done for the servlet api bundles used by jetty-10 and jetty-11.

[2020-07-15 10:22] janbartel commented on #5041
PR #5049 to update the 9.4 osgi doco.

[2020-07-15 11:42] hieplq commented on #5041
sorry org.apache.felix.http.servlet-api get other issue. it don't export javax.servlet.resources

[2020-07-15 12:27] kaushik-piparotar opened #5050 "Are Jetty-7.6.0.RC4, Jetty 8.1.4 and Jetty 9.4.28 support the SSL3.0, TLS1.3 and IPv6 protocols?"

[2020-07-15 12:30] janbartel commented on #5025
Applied the PR provided by @grgrzybek  - thanks!

[2020-07-15 12:30] #5025 closed, assigned to janbartel

[2020-07-15 12:38] sbordet commented on #5050
Jetty 7 and 8 are End-Of-Life.

Jetty 9.4.x supports IPv6 and, when run with Java 11 or later, TLS 1.3.

SSL 3.0 is a vulnerable protocol and it's disabled by default in all modern implementations.

[2020-07-15 12:38] janbartel commented on #5041
@hieplq ok, I thought you had tested it. I've dropped the PR. I'll close this issue, and create another one to add the header to the servlet api bundles used by jetty-10 and jetty-11 instead.

[2020-07-15 12:38] #5041 closed, assigned to janbartel

[2020-07-15 12:41] janbartel commented on #5041
Raised https://github.com/eclipse/jetty.toolchain/issues/33

[2020-07-15 12:42] hieplq commented on #5041
i tested on minimal profile (jetty + felix console + org.apache.felix.http.servlet-api)
but on my big project idempiere, i saw some other jetty bundle import it (javax.servlet.resources)
sorry by later update

[2020-07-15 15:05] joakime commented on #5050
@kaushik-piparotar just to add to what @sbordet pointed out.

Both Jetty 7 and Jetty 8 series are EOL (End of Life).

See https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html

And using those version are also subject to various security report

https://www.eclipse.org/jetty/security-reports.html

When it comes to what Java supports crypto wise (in the past, now, and also pla

[2020-07-15 15:05] #5050 closed, assigned to nobody

[2020-07-15 16:19] thuri opened #5051 "Correct Usage of ServletContainerInitializer with @HandlesTypes"
**Jetty version**
9.4.30.v20200611
**Java version**
11
**Question**
I wanted to use Spring MVC in a project that already contains an embedded jetty server. And i hoped that I could simply add an WebApplicationInitializer implementation to my project to setup everything. I found some examples on the net and tried to add an WebAppContext to my handlers that gets an AnnotationConfiguration. But the W

[2020-07-15 16:29] thuri commented on #5051
While writing the above question I had a deeper look at the org.eclipse.jetty.plus.annotation.ContainerInitializer.resolveClasses(WebAppContext, Map<String, Set<String>>) method.

The passed "classMap" is always empty and the caller (org.eclipse.jetty.annotations.AnnotationConfiguration) doesn't seem to fill it at all.
So it seems I have to fill it myself like in this SO question/answer: https://s

[2020-07-15 16:51] janbartel commented on #5051
@thuri I think the minimal project is a bit too minimal to be useful: for example, you can't just set only the AnnotationConfiguration in the list of configurations to call :)

If you can report more about the setup of your webapp, then we can be more helpful. For example, what is the code that sets up embedded jetty? How did you add a WebAppContext? How did you enable the AnnotationConfiguration?

[2020-07-15 18:47] thuri commented on #5051
Hi and thanks for the fast response.

Yeah the example is minimal :-) But I used in only to see whether the WebApplicationInitializer implementation will be found by the Container and called. If it would then it should have been printed "This is not called" to the console.

But I did found a way now by adding implementations of WebApplicationInitializer to the container by specifying a Classinheri

[2020-07-15 18:47] #5051 closed, assigned to nobody

[2020-07-15 19:00] mattnelson opened #5052 "HTTP2Session ClosedChannelException on http1 request"
**Jetty version**
9.4.30.v20200611
Enabled http/2 support via these instructions > https://webtide.com/jetty-alpn-java-8u252/

**Java version**

[code]

**OS type/version**

container deployment with these two images:
`adoptopenjdk/openjdk8:jdk8u252-b09-alpine-slim`
`adoptopenjdk/openjdk11:jdk-11.0.7_10-alpine-slim`

**Description**

Warn message is being logged infrequently about a closed channel

[2020-07-15 21:02] janbartel commented on #5051
@thuri you really shouldn't need to do anything with a ClassInheritanceMap: jetty is capable of discovering everything needed, provided it is given the correct configuration. Take a look at the doco, and I also recommend that you enable DEBUG level logging for org.eclipse.jetty.annotations package - that will show you which SCIs have been discovered or rejected etc.

[2020-07-15 21:09] mslowiak opened #5053 "CWE-331 in DigestAuthentication class"
**Jetty version**
jetty-client-9.4.30.v20200611

**Java version**
Java 11

**OS type/version**
Windows

**Description**
We are using the Wiremock standalone version (the newest com.github.tomakehurst:wiremock-jre8-standalone:2.27.1) with jetty-client-9.4.30.v20200611 included.
Veracode scan complains about [CWE-331](https://cwe.mitre.org/data/definitions/331.html) located in [DigestAuthentication

[2020-07-15 21:24] joakime commented on #5051
@thuri this is all you need ...

[code]

[2020-07-15 21:38] joakime commented on #5051
If you intend to make this a uber jar, with no external WebAppContext deployment, choose `webappIsolation = false`.

[2020-07-15 21:58] joakime commented on #5053
Adding direct link to line 221 in the reported version 9.4.30 (for reference by future readers of this issue) ...

https://github.com/eclipse/jetty.project/blob/jetty-9.4.30.v20200611/jetty-client/src/main/java/org/eclipse/jetty/client/util/DigestAuthentication.java#L221

[2020-07-15 21:59] gregw commented on #5053
@mslowiak Thanks for that report.  It is not actually a security issue because the nonce used in DIGEST auth is just there to prevent replay attacks and doesn't need to be strong.  In fact some common implementations just use the system time!     However, we will make sure that our next release (out in a week or two) will use an algorithm that wont be flagged  by Veracode.

[2020-07-15 23:02] mslowiak commented on #5053
@gregw Thank you for fast check and willing to fix that :-)

[2020-07-15 23:14] lachlan-roberts commented on #5019
PR #5042 adds the `ssl-reload` module, this will be available from jetty-9.4.31

[2020-07-15 23:14] #5019 closed, assigned to lachlan-roberts

[2020-07-15 23:19] #5018 closed, assigned to nobody

[2020-07-16 06:04] thuri commented on #5051
Thank you both very much.

So I need to use the ClassList and add the AnnotationConfiguration "before" the JettyWebXmlConfiguration because the later is always there? Why can't I use setConfiguration and pass only the annotationConfiguration? As I will never have an web.xml anywhere in that app. And i thought it would be better to use actual class references in the code than strings containing the

[2020-07-16 06:30] thuri commented on #5051
So I found https://www.eclipse.org/jetty/documentation/current/configuring-webapps.html now ... I can see why it's not enough to use the setConfiguration.

[2020-07-16 06:57] sirishaPydi commented on #5037
Adding the below line in ini file along with --module=requestlog has deleted all old request logs keeping the current date's log alone.
  jetty.requestlog.retainDays=1
As you mentioned, we had to leave it overnight for the event to get triggered.
Thank you

[2020-07-16 06:57] #5037 closed, assigned to nobody

[2020-07-16 07:14] yixy commented on #5040
Thank you! This is the case. `ProxyServlet` is used in our production code. When `ProxyServlet.onProxyResponseSuccess()` is executed for a long time, and there is an HTTP persistent connection, the latter call will be affected by the previous slow call. We are currently difficult to switch directly to `AsyncMiddleManServlet`, so now we still hope to understand the specific reason.

I modified the

[2020-07-16 09:15] visgans opened #5055 "getPlatformMBeanServer(); is not supported in android for jetty 9.4.28"
I tried to embed jetty server as a android application via IJetty but i got error like "class file for javax.management.MBeanServer not found". Is that possible to run jetty server in android?

[2020-07-16 10:26] janbartel commented on #5051
@thuri as per the doco, we don't scan anything from the container classpath, unless it matches a pattern given to the  org.eclipse.jetty.server.webapp.ContainerIncludeJarPattern attribute.  When running jetty from the distro or  from the maven plugin, we set it some sensible defaults, but you will need to set it to include a pattern that matches the jar name, or a pattern that matches a classpath

[2020-07-16 10:37] thuri commented on #5051
Hi @janbartel  and thanks for your effort to help me! That's very much appreciated!

As it happens I just got it working with exactly that ContainerIncludeJarPattern thingy when you wrote that comment. I'll see how I do that in the final application. Probably I will pass in a config value.

Again: Thank you very much!

[2020-07-16 11:29] joakime commented on #5055
What Android API version are you using?

You MUST be using Android API level 26 or better.
And you'll need the `sugar` build tooling that the various Android SDKs provide.

Don't use the `i-jetty` code, at all.
`i-jetty` is EOL. the version of Android API level it uses is EOL, and even the version of Jetty it uses is EOL.

As for `javax.management.MBeanServer` you'll likely need to exclude or alte

[2020-07-16 11:36] joakime opened #5057 "`javax.servlet.include.context_path` attribute on root context. should be empty string, but is `"/"`"
By the way - I don't have test yet, but when checking Jetty / Tomcat / Undertow, I saw that Jetty sets wrong value to `javax.servlet.include.context_path` attribute when using root context. should be empty string, but is `"/"`. I can think about PR later, but maybe already you have idea if it's wrong? (Undertow and Tomcat set it to `""`).

_Originally posted by @grgrzybek in https://github.com/ecl

[2020-07-16 11:39] joakime commented on #5051
When you call `setConfigurations()` you destroy the default list that's already there.
And you cannot just willy-nilly add `AnnotationConfiguration` where you want to, it needs to be in the correct place.
The order of `Configurations` is important. (we've fixed this nuance in Jetty 10, as it will order Configurations on its own).

[2020-07-16 11:45] grgrzybek commented on #5057
Thanks!

[2020-07-16 14:32] joakime commented on #5057
I'm frankly a bit surprised that the servlet tck doesn't have a testcase for this.

[2020-07-16 20:52] sbordet commented on #5053
@gregw the PR is wrong as `Random` and `SecureRandom` are stateful and _not_ thread safe.
There was a reason they were created on-the-fly, and that should be restored.

[2020-07-16 21:08] joakime commented on #5053
The apidoc for `SecureRandom` doesn't have the warning about threadsafety.

Also, the Java 9+ version of the SecureRandom javadoc says ...

https://docs.oracle.com/javase/9/docs/api/java/security/SecureRandom.html#:~:text=Thread%20safety,true%22%20when%20registering%20the%20provider.

[2020-07-16 21:14] sbordet commented on #5040
Frankly, I don't understand what you think the problem is.

All your images shows that the client receives the response in 1 second (plus, how do we know the images report the correct sequence of requests - next time post the `pcap` files).

I think you are misunderstanding what is happening in the system, and your code is still wrong - why would you sleep or otherwise do anything in `onProxyRespo

[2020-07-16 21:30] sbordet commented on #5053
Okay I learnt that `Random` was made thread safe (it was not).

But now it becomes a global contended lock, like the javadocs of `Random` say.

I still think it should be reverted to allocating  rather than contending a `static final` lock.

[2020-07-16 21:32] sbordet commented on #5053
Plus, I think it should be benchmarked since the PR changed the use of `Random` with `SecureRandom` in many places, not only in the Digest code reported originally.

[2020-07-17 04:08] visgans commented on #5055
Hi I trying to run on API 29 and i tried to run previously 9.4.30, 9.4.28 Stable and i got getcontainer error there

[2020-07-17 06:56] gregw commented on #5053
Benchmarking SecureRandom can be difficult because it relies on a good sources of entropy like doing actual network traffic.  A micro benchmark will quickly exhaust entropy because it is not having real interactions with real random sources.  Using SecureRandom for digest auth is a good match because there is network traffic associated with every use, so there is entropy provided.

Creating a temp

[2020-07-17 10:24] gregw commented on #5053
@sbordet @joakime @lorban Due to me being a heavy handed idiot, I just committed https://github.com/eclipse/jetty.project/commit/f6d39849e84847d55f3ca890a8d4db12be7930c0 to jetty-9.4.x head.
The intention is to make it possible to pass in the Random to be used, and if not given then to use a weak pseudo random algorithm.

The default of digest is to use SecureRandom.
The default for websocket mask

[2020-07-17 11:45] joakime commented on #5055
Please include full stacktraces.

[2020-07-17 12:14] joakime commented on #5053
Copying my comments on the commit into here for reference at a later date.

---

Regarding pseudo random on multipart boundary lines ...

This pseudo random isn't sufficient for client multipart boundary.

See similar discussion at firefox about this as well ...

* https://bugzilla.mozilla.org/show_bug.cgi?id=464071
* https://bugzilla.mozilla.org/show_bug.cgi?id=461204

In short, it needs to be us

[2020-07-17 14:07] joakime commented on #5053
I added a simple jmh test for the various SecureRandom algorithms to a new branch .
Results for that commit can be found at https://github.com/eclipse/jetty.project/commit/b0f68a72a76169769ff67efb845bd3918fec5762#commitcomment-40690103

[2020-07-17 15:49] xujl930 commented on #3892
wonderful, solved my problem of too many tcp CLOSE_WAIT in zeppelin server backend

[2020-07-17 20:45] pschaeffer opened #5060 "What does URI really mean?"
Hi,

This is definitely a question, not a bug. I have noticed that methods such as "getRequestUri()" return all or part of the current path to the caller (the part of a URL starting with the forward slash after the domain name). However, the word URI is used elsewhere to mean Uniform Resource Identifier which is (according to Wikipedia) a superset of URLs. This seems like a contradiction. What am

[2020-07-17 21:32] joakime commented on #5060
Uniform Resource Identifier is a formalized spec.
https://tools.ietf.org/html/rfc3986

URI is simpler then URL, without all of the contradictory behaviors that URL has.

URI is also the language of HTTP (not URL).
See: https://tools.ietf.org/html/rfc7230

[2020-07-17 21:52] joakime commented on #5060
The relationship between URL, URI, and URN from the point of view of a web server can be diagrammed like this ...

[code]

The complexity in URL comes from the various specs built around the registered URI schemes.

https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml

For a web server, you really only have to worry about `http://` and `https://`.
You don't even have to worry about logic

[2020-07-17 21:59] pschaeffer commented on #5060
Mr. Joakime,

I agree with all of your comments about URIs, URLs, and URNs. However, the getRequestUri() API call seems to return a small part of the URI/URL/URN information. Is that right or wrong? Is getRequestUri() misnamed?

[2020-07-17 21:59] pschaeffer commented on #5060
Thank you

Peter Schaeffer

[2020-07-17 22:12] joakime commented on #5060
`javax.servlet.http.HttpServletRequest.getRequestURI()` is part of the Servlet Spec.

See: [https://docs.oracle.com/javaee/7/api/javax/servlet/http/HttpServletRequest.html#getRequestURI--](https://docs.oracle.com/javaee/7/api/javax/servlet/http/HttpServletRequest.html#getRequestURI--)

It specifically works with the URI portion of the first line of the HTTP request.
See javadoc link above for exam

[2020-07-17 22:21] pschaeffer commented on #5060
Hi,
I followed the link. One example was GET http://foo.bar/a.html. The returned value is just '/a.html'. Wouldn't the URI include the domain (foo.bar) and possibly the scheme (http).
Thank you
Peter Schaeffer

[2020-07-17 23:15] joakime commented on #5060
Depends on how your user-agent uses http.

Chrome, for example, will send `http://foo.bar/a.html` as ...

[code]

The `http` will be used to connect using HTTP/1.1 on port 80.
The `foo.bar` will be part of the `Host` header.
The `/a.html` will be part of the http request-line.

The portion of the HTTP spec that `HttpServletRequest.getRequestURI()` works with is is called the "request-line".

See h

[2020-07-18 01:37] pschaeffer commented on #5060
Thank you

You can close this question.

Peter Schaeffer

[2020-07-18 02:19] #5060 closed, assigned to nobody

[2020-07-18 05:28] #3791 closed

[2020-07-18 06:56] gregw commented on #5053
@joakime while I don't think micro benchmarks for random are going to be fair to any that wait for sufficient entropy, your results do indicate that there does not appear to be any significant problems with contention. The rate of random number production is not affected (good or bad) by thread count.

[2020-07-18 07:01] gregw commented on #5060
Peter,

there is also a bit of history in the method names, with URL being used initially when perhaps URI would have been better, in part because there was only a library API for URL. Later usage has gone more towards URI, in part because of the introduction of standard URI classes.       So there is inconsistency in the naming.

[2020-07-20 04:03] #3795 closed

[2020-07-20 04:06] visgans commented on #5055
Process: org.mortbay.ijetty, PID: 29925
    java.lang.NoSuchMethodError: No virtual method getContainer()Lorg/eclipse/jetty/util/component/Container; in class Lorg/eclipse/jetty/server/Server; or its super classes (declaration of 'org.eclipse.jetty.server.Server' appears in /data/app/org.mortbay.ijetty-czWWaIpjJPrTPP1QVxQELw==/base.apk)
        at org.mortbay.ijetty.deployer.AndroidContextDeployer

[2020-07-20 06:45] Thiru-Arasu opened #5061 "Server is not responding back to a long running request"
**Jetty version**
9.4.30.v20200611

**Java version**
1.8

**Question**
We have developed a simple web application server for doing file upload. The server works perfectly and client too gets ack immediately when a less amount of request comes, whereas if request count gets increased then the server is taking a long time to finish a work and responding back to client as well. So if a request takes

[2020-07-20 09:01] janbartel commented on #5057
The tck seems to use the context root `/servlet_spec_requestdispatcher_web` for the tests:   https://github.com/eclipse-ee4j/jakartaee-tck/blob/8.0.2/src/com/sun/ts/tests/servlet/spec/requestdispatcher/URLClient.java#L46

[2020-07-20 09:04] janbartel commented on #5036
@zhengshundong01 if this issue is now resolved, please close the issue, or otherwise please provide more information to help diagnose the problem, such as a DEBUG level log output for org.eclipse.jetty.annotations and org.eclipse.jetty.webapp.

[2020-07-20 09:06] grgrzybek commented on #5057
Ah - so the TCK test for root context is missing.
I'm glad we can finally (after moving to Eclipse) see the TCKs ;)

[2020-07-20 09:09] janbartel commented on #5013
Fix merged.

[2020-07-20 09:09] #5013 closed, assigned to nobody

[2020-07-20 09:13] janbartel commented on #5061
@Thiru-Arasu  there's not really enough information in this question to diagnose your problem.

Have you tried issuing a request for a very small, simple static resource to test whether the server is still responsive to other requests that don't involve file uploads? Have you tried taking a thread dump to see what the threads are doing? Have you sized your thread pool correctly? Do you see any log

[2020-07-20 09:13] gregw commented on #5061
I'm sorry but there is not enough info in your post to really say very much.

However, note that the idle timeout does not apply when a request is dispatched to a filter/servlet.  The spec allows a servlet to take an infinite amount of time to complete, even if the underlying connection times out underneath.

So you need to find out what is happening when you have more requests on the server.  Are

[2020-07-20 09:15] janbartel commented on #5055
ijetty is build on a version of jetty that was EOL long ago. Please follow @joakime's suggestion in his post about doing your own embedded jetty server.

[2020-07-20 09:22] janbartel commented on #4999
@yuvarajpandu if you've chosen level "WARNING" then you will see very very few log messages at all, as this is one of the highest log levels.

[2020-07-20 09:22] #4999 closed, assigned to nobody

[2020-07-20 09:25] janbartel commented on #4983
@navalgoyal if your question has been answered, please close this issue.

[2020-07-20 09:31] janbartel commented on #4982
I'm closing this issue, as the OP's question appears to have been answered adequately - if this is not the case, please reopen with new information.

[2020-07-20 09:31] #4982 closed, assigned to nobody

[2020-07-20 09:32] janbartel commented on #4960
@RangerRick ok, I'll take you at your word - I'm closing the issue, so "don't do that" :)

[2020-07-20 09:32] #4960 closed, assigned to janbartel

[2020-07-20 09:33] janbartel commented on #4951
@LirazRom if your question has been answered, please close the issue.

[2020-07-20 09:37] janbartel commented on #4883
@xrkCode it seems your question has been answered by sbordet, so I'm closing this issue as you haven't indicated that there is still a problem.

[2020-07-20 09:37] #4883 closed, assigned to nobody

[2020-07-20 09:45] janbartel commented on #4865
@mpuncel 9.4.29 and even 9.4.30 were released. If either one of those solved the problem, please close the issue, otherwise please provide updated info.

[2020-07-20 10:03] #5053 closed, assigned to nobody

[2020-07-20 10:19] gregw commented on #5053
@joakime the multipart boundary problem is only a problem for browsers, as the state of the random number generator can be determined and then future boundaries used to track users.
I don't think the weakly unique algorithm we are using will be predictable in the same way.  The state of the heap, current nano time and the thread allocated are not going to be as identifiable as a well known Random

[2020-07-20 11:59] #4983 closed, assigned to nobody

[2020-07-20 13:33] lachlan-roberts opened #5062 "flaky test KeystoreScannerTest.testKeystoreRemoval()"
Test failure `KeystoreScannerTest.testKeystoreRemoval()` after merging PR #5042

[code]

[2020-07-20 15:03] gregw commented on #4275
Out of an abundance of caution I have reviewed this issue again to see if we really should be normalising /..;/ out.     Re-reading https://tools.ietf.org/html/rfc3986#section-3.3 the answer is once again NO because the RFC only defines the behaviour of path segments ".." and ".", so a path segment of "..;" is not ".." and should not walk the hierarchy.   So we are technically correct.....

HOWEVE

[2020-07-20 15:10] gregw commented on #4275
Hmmm, but then should we also reject paths with `/%2e%2e/`?

[2020-07-20 15:12] joakime commented on #4275
We should review any delimiter then, not just limited to the one specific to path parameters.

https://tools.ietf.org/html/rfc3986#section-2.2

I remembered this from a prior issue https://github.com/eclipse/jetty.project/issues/2067

[2020-07-20 15:32] gregw commented on #4275
Actually, I think we are good here.   We feed the request handling process with:
`URIUtil.canonicalPath(uri.getDecodedPath())`, thus we strip parameters and decode first, then we do canonical path handling.  So `/%2e%2e/` and `/..;/` will both be handled prior to any security checks, so security and request handling will work on the same normalised URI and there is no security risk here.

I'm clos

[2020-07-20 15:39] gregw commented on #5062
I expect that it is a timing thing.  To test the scanner you normally end up needing to explicitly call Scanner.scan() or using the scan listener, so the test knows when a scan has been completed

Note also that `testReloadWithBadKeystore` prints out a stack trace when it still succeeds

[2020-07-20 16:08] Thiru-Arasu commented on #5061
Thank you so much for swift response!
Here, I have added code for how did I configured thread pool.

**QueuedThreadPool threadPool = new QueuedThreadPool();
threadPool.setMaxThreads(500);
threadPool.setMinThreads(50);
threadPool.setDetailedDump(true);**

for workaround, I have reproduced the issue using  the method thread.sleep().  I have set the sleep count is 1000000. I observed the same issue f

[2020-07-20 16:21] joakime commented on #5061
@Thiru-Arasu the "jetty dump" is not a thread dump.

Please follow the instructions on the link that @gregw provided, the jetty dump will produce a state of the server represented by a tree (using ascii).
That tree is what we are looking for.  (also, the setting `threadPoo.setDetailedDump(true)` impacts the output of the jetty dump by producing more information about the threadpool, it has no impa

[2020-07-20 17:54] Thiru-Arasu commented on #5061
Thank you.
I have updated in the same link "jetty dump" logs

[2020-07-20 22:58] rodrigodevelms opened #5063 "Error org.eclipse.jetty.io.EofException using Kotlin coroutine"
**Jetty version**
jetty-alpn-openjdk8-client 9.4.24.v20191120
**Java version**
11 (Using with kotlin 1.3.7)
**Question**
Hi all.
I created a function to know if a service is up / down. Like elasticsearch for example.

[code]

but i'm getting this error:
org.eclipse.jetty.io.EofException
Caused by: java.nio.channels.AsynchronousCloseException
	at java.base/sun.nio.ch.SocketChannelImpl.write(SocketC

[2020-07-20 23:46] lachlan-roberts opened #5064 "NotSerializableException for OpenIdConfiguration"
**Jetty version**
9.4.x

**Description**
`OpenIdCredentials` cannot be serialized to the `SessionDataStore` as the `OpenIdConfiguration` it has now contains an `HttpClient`.

The `OpenIdConfiguration` should be held externally and only passed into the `OpenIdCredentials` when required.

[code]

[2020-07-21 02:43] maugomez77 opened #5067 "Migrating tomcat from jetty to jetty-9.4.29.v2020052"
**Jetty version**
 jetty-9.4.29.v2020052

**Java version**
openjdk version "11.0.5" 2019-10-15 LTS
OpenJDK Runtime Environment AppleJDK-11.0.5.10.1 (build 11.0.5+10-LTS)
OpenJDK 64-Bit Server VM AppleJDK-11.0.5.10.1 (build 11.0.5+10-LTS, mixed mode)

**OS type/version**
worun@rn-aosd-d00-lapp01:/Local/AS/Sentinel/packages/NemoDataSetsService-21-2-0-20200720-224046-4/lib$ uname -a
Linux rn-aosd-d00

[2020-07-21 03:06] olamy commented on #5067
can you post your ngnix configuration?
The error means there might some tabs in headers, maybe check your ngnix configuration if any tab in the header names?

[2020-07-21 03:12] maugomez77 commented on #5067
i already disable all the headers but still unable to figure it out which header is complaning about

[2020-07-21 03:13] maugomez77 commented on #5067
file one nginx:

[code]

file 2 nginx:

[code]

[2020-07-21 04:13] olamy commented on #5067
I can see few line starting with `proxy_set_header` and probably a tab after. Just use only 1 space

[2020-07-21 04:16] olamy commented on #5067
BTW if you really need those tab characters.
Look at https://www.eclipse.org/jetty/documentation/current/configuring-connectors.html
uncomment and change the value of `jetty.http.compliance` to `RFC2616` or `RFC2616`

[2020-07-21 04:29] maugomez77 commented on #5067
but how can i change if i have jetty embedded inside the package:

[code]

i do not see or should i create new xml / modules there ?

[2020-07-21 04:43] maugomez77 commented on #5067
same RFC2616 twice ?

[2020-07-21 04:48] maugomez77 commented on #5067
Here i paste removing spaces and leave one space:

[code]

And the other file:

[code]

and some other file in case:

[code]

And some other one file:

[code]

[2020-07-21 05:48] olamy commented on #5067
typo to `RFC2616` or `LEGACY `

[2020-07-21 05:49] olamy commented on #5067
but read documentation as well

[2020-07-21 10:09] prathamk opened #5068 "Total connections created exceeding expected count for fix amount of requests"
**Jetty version**
9.4.24.v20191120
**Java version**
1.8 b251
**OS type/version**
linux (RHEL 7.7)
**Description**
Why the number of connections to the server are exceeding the expected number of connections?

We are trying to create a round-robin connection pool, with max-streams support which is configurable. When the max-streams of the connection are exhausted, the connection is reset, and a new

[2020-07-21 10:38] olamy commented on #5067
not sure how you create your server but you can configure `HttpCompliance` when you create your `HttpConnectionFactory`
such https://github.com/eclipse/jetty.project/blob/65de149f84b68e23fb2a2a849e80b06850c8cd29/jetty-servlet/src/test/java/org/eclipse/jetty/servlet/ComplianceViolations2616Test.java#L112

[2020-07-21 11:51] janbartel commented on #5061
@Thiru-Arasu nothing unusual in those thread dumps:  during request processing you see about 10 threads inside the application code doing a Thread.sleep(), but plenty of threads in the thread pool are waiting to serve requests.  You should look at your real application code to determine where the delay in handling might be. Do thread dumps during one of these busy times and see where the threads a

[2020-07-21 16:02] WalkerWatch commented on #4936
A CVE was filed for this issue, [CVE-2019-17638](https://nvd.nist.gov/vuln/detail/CVE-2019-17638), and the issue was resolved in 9.4.30.v20200611.

[2020-07-21 16:02] #4936 closed, assigned to jmcc0nn3ll, WalkerWatch

[2020-07-21 20:38] joakime opened #5069 "HttpClientTimeoutTests can occasionally fail due to unreachable network"
**Jetty version**
9.4.x

**Java version**
11.0.7+

**OS type/version**
Linux

**Description**
The tests that utilize the IP 10.255.255.1 can sometimes result in an unexpected `java.net.SocketException: Network is unreachable (connect failed)` when the test is attempting to test for connect timeouts.

[code]

The method `HttpClientTimeoutTest.assumeConnectTimeout()` should be updated to handle this

[2020-07-21 21:55] maugomez77 commented on #5067
the issue was on this header:
 proxy_set_header            X-Client-Cert       $ssl_client_cert;

if i turn it off, then issue is gone. most likely that value is having some of those 3 characters

[code]

[2020-07-21 21:55] #5067 closed, assigned to nobody

[2020-07-21 22:02] sbordet commented on #5068
This has been addressed and fixed in #4904 which is available in Jetty 9.4.30.
Can you please try the latest version of Jetty?

[2020-07-22 11:41] pombredanne opened #5072 "Consider avoiding using ${conscrypt.version} and "non-standard" properties in a pom.xml"
See https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-alpn/jetty-alpn-conscrypt-server/pom.xml#L21
The POM will end up on Maven central as https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-alpn-conscrypt-server/10.0.0-alpha0/jetty-alpn-conscrypt-server-10.0.0-alpha0.pom but then it has no notion of what variables were used at build time.
So when I read the POM for static depend

[2020-07-22 12:26] sbordet commented on #5072
No.

Copying the same version in N different POMs is recipe for inconsistent values.

Now we just update the value in the variable and we are consistent.

Consider updating your tools to read recursively the parent POMs.

[2020-07-22 12:55] karthickm512 opened #5073 "TLSv1.3 support in eclipse jetty with Java8 (8u261 b12)"
**Jetty version**
Eclipse Jetty version 9.3.x

**Java version**
Java8 8u261 b12

**Question**
Does the Org.Eclipse.Jetty 9.3.x support TLSv1.3 in Java8 (8u261 b12)? We use pax-web.
Oracle released the support of TLSv1.3 in Java8 on July-14-2020 (https://www.oracle.com/java/technologies/javase/8u261-relnotes.html). Which version of Jetty/pax-web supports this TLS version with Java 8 configured?

[2020-07-22 13:03] pombredanne commented on #5072
Fair enough. But you should not assume that the parent POM is always on hand as it is typically not the case (such as inside a shaded uberjar). In most cases when looking at some app, the parents are not handy, nor is a property file

[2020-07-22 13:53] joakime commented on #5073
Jetty 9.3.x is missing 2 things you might stumble into.

In Java 8u251 Oracle backported the ALPN support from Java 9+ into Java 8.
This ALPN support layer only works with 9.4.28.v20200408 or newer (see Issue #4443)

In Java 8u261 Oracle backported the TLS 1.3 features from Java 11+ into Java 8.
This TLS 1.3 support layer only works with 9.4.12.v20180830 or newer (see Issue #2711)

[2020-07-22 13:59] joakime commented on #5072
That scancode toolkit isn't resolving the Maven effective pom properly.

A single pom is never considered effective to make decisions off of.
You have to resolve the pom against it's pom hierarchy (if you want sane dependencies) **and** the version of maven you are resolving it against (if you want sane plugins and their dependencies).

Consider using something like https://maven.apache.org/resolv

[2020-07-22 17:07] sbordet commented on #5063
You are using Java 11, so you don't need `jetty-alpn-openjdk8-client`, because that is for Java 8. Remove it.

Use `jetty-alpn-java-client` instead, which is valid for Java 11 and later.

[2020-07-22 19:40] #5069 closed, assigned to joakime

[2020-07-22 19:41] joakime commented on #5057
PR #5057 is merged

[2020-07-22 19:41] #5057 closed, assigned to nobody

[2020-07-22 19:42] joakime commented on #5029
PR #5038 merged

[2020-07-22 19:42] #5029 closed, assigned to nobody

[2020-07-22 19:51] joakime commented on #4890
Merged PR #4927
No reply from OP.
Considering this fixed.
Will reopen if OP ever replies.

[2020-07-22 20:56] mohanrao opened #5074 "Jetty stops responding to ServerConnector on secure ports but respond on non ssl port after some time of server start"
**Jetty version**
9.4.14

**Java version**

Oracle JDK 8 and AdoptOpenJdk 11

**OS type/version**
Linux , RHEL happening in 6 and 7 also
**Description**

Jetty randomly stops respond to ssl ports created with ServerConnector instance. We are running an embedded jetty server.

Strang part is non ssl port respond on the same server created with NetworkTrafficServerConnector.

Basically we create one

[2020-07-22 21:02] joakime commented on #5074
9.4.14 is a bit old, and subject to several security reports at this point in time.
https://www.eclipse.org/jetty/security-reports.html

You should really upgrade.

The "Connection reset by peer" is when a remote endpoint has terminated the connection, a common enough scenario and is not the root of your issue.

Now that has a few red flags.

Why do you use and/or need a custom SSL socket factory?