[2020-03-25 20:54] dsyzhu opened #4715 "_systemClasses is not consistent"
When we try to add custom system classes sometimes _systemClasses is set to our class pattern set, sometimes is set to default value provided by jetty because getServer() sometimes return null.

https://github.com/eclipse/jetty.project/blob/jetty-9.3.x/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/WebAppContext.java#L806

[2020-03-25 20:54] #4709 closed, assigned to nobody

[2020-03-25 21:11] joakime commented on #4715
Jetty 9.3.x is deprecated and no longer supported - https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html

But anyway, the Server is the home for the default system classes declaration.

If you use WebAppContext, do yourself a favor and add things to embedded jetty in the following order ...

1. Create the `Server` object
2. Add a `HandlerList` (or any other `HandlerCollectio

[2020-03-25 21:30] dsyzhu commented on #4715
@joakime ,

Thanks for your prompt reply.

We don't use embedded jetty. For non-embedded case what shall we do?

Thanks

[2020-03-25 21:32] joakime commented on #4715
If you are not using embedded jetty, then you'll need to be very detailed and clear about what you are actually doing.
As your question about system classes is typically an embedded jetty use case.

Please provide details on how you are using jetty and why you want to mess around with system classes.

[2020-03-25 22:03] dsyzhu commented on #4715
We use standard non-embedded method. war file are expanded to /webapps/ROOT folder where our app is. For certain apis we want to use our apis under /WEB-INF/lib, not from those provided by Jetty. For those apis we want to block try parent classloader. So need to manipulate _systemClasses https://github.com/eclipse/jetty.project/blob/jetty-9.3.x/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/W

[2020-03-25 22:51] joakime commented on #4715
:warning: :bangbang: **Jetty 9.3.x is deprecated and no longer supported.** :bangbang: :warning:

https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html

First, upgrade to a supported version of Jetty.

----

You need to be detailed, how did you setup your `${jetty.base}`, how are your deploying your webapp (which Deployment management do you have setup), what configuration of

[2020-03-25 23:25] lachlan-roberts commented on #4603
The test was deliberatly closing the endpoint in the middle of the upgrade, this caused the `AbstractHandshaker` to throw in the call to `Response.flushBuffer();` and because of this the `UPGRADE_CONNECTION_ATTRIBUTE` was never set. When we get to the point where we try to use the upgrade attribute, it is null so we get the NPE.

[2020-03-25 23:40] dsyzhu commented on #4715
This part of code is not changed in 9.4. Do you mean actually getServer() should never return null? If it returns null there is something wrong with other part of our configuration?

Thanks

[2020-03-26 04:23] satyagv557 commented on #4537
We are still seeing the high CPU issue with 9.4.27,
we are using Jenkins 2.225 in Mac OS Mojave 10.14.6

Hundred's of Jetty (winstone) threads are filing up not getting closed with the method sun.nio.ch.FileDispatcherImpl.preClose0(Native Method)

Jetty (winstone)-66537
sun.nio.ch.FileDispatcherImpl.preClose0(Native Method)
sun.nio.ch.SocketDispatcher.preClose(SocketDispatcher.java:59)
sun.nio.ch.

[2020-03-26 04:34] satyagv557 commented on #4537
When normal state we are seeing below for winstone thread

Jetty (winstone)-14
sun.misc.Unsafe.park(Native Method)
java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)
java.util.concurrent.SynchronousQueue$TransferStack.awaitFulfill(SynchronousQueue.java:460)
java.util.concurrent.SynchronousQueue$TransferStack.transfer(SynchronousQueue.java:362)
java.util.concurrent.SynchronousQu

[2020-03-26 04:35] lachlan-roberts commented on #4537
@satyagv557 this stacktrace has nothing to do with websocket, I would suggest opening a new issue if you are having a problem.

[2020-03-26 04:48] satyagv557 opened #4717 "High CPU spikes with jetty winstone threads"
OS: | Mac OS X, 10.14.6 , x86_64/64 (4 cores)
Java: | Java(TM) SE Runtime Environment, 1.8.0_241-b07
JVM: | Java HotSpot(TM) 64-Bit Server VM, 25.241-b07

**Description**
We are upgraded Jenkins v2.187 to 2.219 and this issue started happening, we tried with Jenkins 2.225 but issue remains.

our servers in production reported 100% CPU usage. The instance had been running for several days. The CPU

[2020-03-26 04:49] satyagv557 commented on #4537
Opened https://github.com/eclipse/jetty.project/issues/4717, let me know any information needed.

[2020-03-26 05:39] olamy commented on #4717
as it's happening when using Jenkins who has a layer on the top of Jetty.
We need to have more details:
- command line/parameters used to start Jenkins

Are you really running Jenkins server on OSX?

[2020-03-26 05:51] satyagv557 commented on #4717
Yes, we run Jenkins on OSX.

Start jenkins using below args:
/usr/bin/java -Xms8g -Xmx8g -XX:+UseG1GC -Djava.net.preferIPv4Stack=true -Djavax.net.ssl.keyStore=.keystore/cacert -Djavax.net.ssl.keyStorePassword=XXXX -jar "$war" --httpsKeyStore=****.jks --httpsKeyStorePassword=XXXXXX --httpsPort=8443 --httpPort=-1

[2020-03-26 06:34] gregw commented on #4717
Does it say what the thread is doing at sun.nio.ch.FileDispatcherImpl.preClose0(Native Method)?  blocked trying to get a lock?

Googling for that I do see a few reports of similar sounding issues... can you have a look and tell us which are most similar?

[2020-03-26 06:36] #2867 closed

[2020-03-26 06:41] satyagv557 commented on #4717
sun.nio.ch.FileDispatcherImpl.preClose0(Native Method) is in runnable state but thread is not getting closed, stack trace is below, similar threads are keep on growing and not closing.
Jetty (winstone)-66537
sun.nio.ch.FileDispatcherImpl.preClose0(Native Method)
sun.nio.ch.SocketDispatcher.preClose(SocketDispatcher.java:59)
sun.nio.ch.SocketChannelImpl.implCloseSelectableChannel(SocketChannelImpl.

[2020-03-26 07:06] gregw commented on #4717
So it is runnable but not progressing???  not waiting for a lock?      It must then be spinning, which would explain your high CPU spike.
This is looking like some OS or JVM issue that we are tickling.   Can you try different versions of the JVM to see if that changes the issue?

[2020-03-26 07:12] satyagv557 commented on #4717
We tried to two different Java/JVM, JDK 1.8_192 build and JDK1.8_241 which is latest, we are seeing issue with the both versions, upto to some point of time we are seeing CPU running stable, when these winstone threads starts late processing CPU starts spiking.

[2020-03-26 08:44] sbordet commented on #4717
@satyagv557 can you please try with JDK 11 or later? This is because the socket layer has been rewritten in JDK 11 and made more stable.

[2020-03-26 10:13] #4707 closed, assigned to janbartel

[2020-03-26 11:42] janbartel opened #4719 "ContentType with no char encoding should use previous char encoding"
**jetty-10.0.x**

Servlet tck test com/sun/ts/tests/servlet/api/javax_servlet/servletresponse/URLClient.java.getContentTypeNull2Test.

If Response.setContentType() is called with a string that has no char encoding, any previously set char encoding should be used rather than the default char set for the new content type.
Eg
response.setContentType("foo/bar; charset=some-charset")
the charset encodi

[2020-03-26 15:50] satyagv557 commented on #4717
I can try with that but this issue never happened until we update to Jenkins v2.219 and thought it's happening because of the issue #4537 and to fix that updated to Jenkins v2.25 which comes with Jetty v9.47 but issue still remain, Do you think this is Jetty issue?

[2020-03-26 16:53] #4714 closed, assigned to nobody

[2020-03-26 18:17] gregw commented on #4717
@satyagv557 we are not saying that changes in jetty have not indirectly caused the problem, just that we think it is a OS and/or JVM bug that is being tickled by the changes that we have made.
Ultimately we think it is a JVM bug because if we wanted to, we couldn't deliberately write code that would spin forever within `Channel.close`.

[2020-03-26 18:25] joakime commented on #4717
We're running the winstone Jenkins 2.226 on [the CI that does the Jetty builds](https://jenkins.webtide.net/).
We don't see CPU spinning on that machine.

[2020-03-26 18:28] satyagv557 commented on #4717
I am happy to do the java upgrade but there are several reported bugs with 11, I am worried about seeing new issues!, Is there any way we can confirm what causing this issue? If yes can you provide how can we conclude the issue is from JVM side or Jetty or OS? Thanks.

[2020-03-26 22:39] #4621 closed, assigned to joakime

[2020-03-26 22:45] #4603 closed, assigned to lachlan-roberts

[2020-03-27 01:16] lachlan-roberts opened #4722 "Jetty-10 websocket-servlet exposes websocket-core classes"
**Jetty version**
10.0.x

**Description**
`websocket-servlet` exposes `websocket-core` classes which are transitively exported through the other modules which require it.

It doesn't even look like `websocket-servlet` is really necessary at all. The `WebSocketServlet` and  `WebSocketServletFactory` classes are only used for the `websocket-jetty-server` and nowhere in the javax implementation. The

[2020-03-27 03:43] SarthakSahu opened #4724 "REST endpoint stops responding after sometime."
**Jetty version**
9.4.27.v20200227
https://mvnrepository.com/artifact/org.eclipse.jetty/jetty-server/9.4.27.v20200227

**Java version**
[root@xyz-1 ~]# java -version
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b04)
OpenJDK 64-Bit Server VM (build 25.212-b04, mixed mode)

**OS type/version**
3.10.0-1062.1.1.el7.x86_64 #1 SMP Tue Aug 13 18:39:59 UTC 2019 x86_64 x86_64 x8

[2020-03-27 07:16] andy-xian-hai opened #4726 "endpointIdentificationAlgorithm enabled by default in SSLEngine"
**Jetty version**
jetty-9.4.27.v20200227
**Java version**
java 1.8
**OS type/version**
Windows
**Description**
In commit https://github.com/eclipse/jetty.project/commit/e4d78608a70448fead95bf58057d28590204de47, the default _endpointIdentificationAlgorithm changed from null to HTTPS,  this can break existing application code.

I know issue https://github.com/eclipse/jetty.project/issues/3464 tries

[2020-03-27 10:44] joakime commented on #4726
Sounds like `WebServiceHttpsConnector` isn't updated to use `SslContextFactory$Server`.

The baseline `SslContextFactory` (not Server specific, not Client specific) can only be neutral (support both server and client) and secure (industry recommended security configuration is default).
Adjusting the baseline `SslContextFactory` to support specifically either Server or Client will break the other s

[2020-03-27 11:25] sbordet commented on #4724
What is the configuration of the Jetty thread pool?

[2020-03-27 11:44] SarthakSahu commented on #4724
Its 200.

[2020-03-27 12:08] sbordet commented on #4724
The (partial) logs show that a connection is being accepted, a task submitted to the thread pool, but the task is never run.

That can only happen if you have run out of threads in the pool, or the log is incomplete and the task is run some time in the future.

The threads dump show that Jetty is using 15 threads: 3 acceptors (1 would be enough) and 12 in `select()`. All the rest is idle.

Can you

[2020-03-27 12:38] SarthakSahu commented on #4724
Application deployed in less then 8 core machine where it creates only 1 acceptor thread, it works good with out any issue.  Problem comes when it created 3 acceptors in 24 core machine.
Mean while I will provided  server dump.

[2020-03-27 14:04] sbordet commented on #4724
There are no problems with creating 3 acceptors.

[2020-03-27 22:01] Dean-J123 commented on #2010
Sorry - I'll clarify.
We run two separate instances of Jetty servers.  The first runs as part of our server software (on its own thread in the server process) providing a RESTful interface for managing our hardware.  We are able to customize this progrommatically without much effort.  The other is an unaltered copy of Jetty that runs as its own process and simply responds to requests on port 80 an

[2020-03-27 23:58] satyagv557 commented on #4717
Here is the some reference application where they seeing same issue and fixed
https://github.com/akka/akka/issues/25605, might be helpful

[2020-03-28 00:04] satyagv557 commented on #4717
"Jetty (winstone)-290959" Id=290959 Group=main RUNNABLE (in native)
	at sun.nio.ch.FileDispatcherImpl.preClose0(Native Method)
	at sun.nio.ch.SocketDispatcher.preClose(SocketDispatcher.java:59)
	at sun.nio.ch.SocketChannelImpl.implCloseSelectableChannel(SocketChannelImpl.java:838)
	**-  locked java.lang.Object@6ba7b639**
	at java.nio.channels.spi.AbstractSelectableChannel.implCloseChannel(Abstract

[2020-03-28 00:05] satyagv557 commented on #4717
@gregw @sbordet : can you please take a look on above stack trace, thanks

[2020-03-28 07:13] SarthakSahu commented on #4724
With -XX:ActiveProcessorCount java command line option, jetty created only one 1 acceptors thread and it working perfectly now.

Here embedded jetty server has used. Could you please provide detailed step to get jetty server dump.

[2020-03-28 14:01] sbordet commented on #4724
As I said, I doubt that the issue is creating one or more acceptors.

Follow the link I gave above in the previous message for detailed instructions about how to get a server dump.

[2020-03-28 15:49] flozano commented on #3303
All modules that contain `javax.*` packages still are named as `java.*`.
Eg: java.transactions.xa, java.xml, java.sql.rowset, java.naming.

[2020-03-30 01:50] olamy opened #4727 "Scan annotations even if web.xml is 2.5"

[2020-03-30 05:12] prateekkohli2112 commented on #4651
Thanks for all the help.

We were able to increase the performance by setting the below logging parameters:
javaopt=-Dorg.eclipse.jetty.util.log.class=org.eclipse.jetty.util.log.StdErrLog
javaopt=-Dorg.eclipse.jetty.LEVEL=WARN

We were using the java util logging and thought disabling those would disable jetty logs as well.
Even though, jetty logs were not getting printed but in the thread dump we

[2020-03-30 07:06] zhaowenxishi opened #4728 "Connection paused for a long time in DuplexConnectionPool after created"
**Jetty version**
9.4.19.v20190610

**Java version**

**OS type/version**

**Description**
We use jetty client api to send request, connection created quickly(in TCP level) and then paused for a long time in DuplexConnectionPool after created.  The quest is send to nginx(revers proxy). Nginx has a limit "client_header_timeout"(for example 90s). Jetty-client and nginx got handshake in TCP level qui

[2020-03-30 08:23] sbordet commented on #4728
This is normal behavior.

The client may need to create a new connection in response to a new request being sent, typically during a load spike.
However, it may happen that by the time the connection is created, a previous connection frees up and the request is sent in the freed up connection rather than in the newly created one.

So the newly created connection goes back into the pool to possibly

[2020-03-30 08:36] gregw commented on #4717
@sbordet @lorban  FYI Akka worked around this problem with: https://github.com/akka/akka/pull/25923   I think the essence of it is to do `key.cancel` before `channel.close`

[2020-03-30 08:37] gregw commented on #4717
@satyagv557 is that stack from java11?

[2020-03-30 08:53] sbordet commented on #4651
@prateekkohli2112 glad it's working for you. Feel free to close the issue if it's resolved for you.

[2020-03-30 08:59] prateekkohli2112 commented on #4651
Sure, I have 1 small question other than this. (Not related to this query).

Is there any way I can close my connection after a certain stream count and open a new connection.
For e.g. if my sending stream Id has reached 100001 value, I would like to close this connection and reopen.

Is there any way I can achieve this, may be by setting the max streamId count or any othwer way you can suggest.

[2020-03-30 09:36] sbordet commented on #4651
@prateekkohli2112 there is no way to do this automatically right now.

This information is exported to JMX (`Connection.messagesOut`), but not easily available to applications.

Why do you need it?
By understanding better the use case, we may consider adding the feature if it's useful in general.

[2020-03-30 10:17] gregw commented on #2074
@sbordet @janbartel @joakime @fripoli While working on #4721  I have noticed something very wrong with our merging of query parameters!

When we merge the actual parameter maps during a forward we keep all parameter values with:
https://github.com/eclipse/jetty.project/blob/jetty-9.4.27.v20200227/jetty-server/src/main/java/org/eclipse/jetty/server/Request.java#L2454-L2464

But when we merge the qu

[2020-03-30 10:22] gregw commented on #2074
Servlet specification 9.1.1 says:
[code]
So "take precedence over other parameters of the same name" is a little bit vague and could be interpreted either as "are ordered before parameter values of the same name" or  "replace parameters of the same name".

I'll experiment with #4721 and check against the TCK

[2020-03-30 10:54] gregw commented on #2074
I can only find one TCK test regarding this at https://github.com/eclipse-ee4j/jakartaee-tck/blob/8.0/src/com/sun/ts/tests/servlet/spec/requestdispatcher/URLClient.java#L463-L478
which says:
[code]

So this suggests that at least for parameters with same name and same value, that they are not duplicated.   However, I can't find what document the `8.4.2` relates to as it is not 3.0, 3.1 or 4.0 vers

[2020-03-30 11:12] zhaowenxishi commented on #4728
Thanks a lot , I will try it later.
By the way, I also want to ask a question about the "timeout".
I use FutureResponseListener to handle a "so called Synchronous request", we need to set a "timeout" which counts the waiting time for response after request. In a addition, jetty also has a "idletimeout" which indicates the time period that nothing transport on the channel.
For your suggestions, I c

[2020-03-30 11:48] joakime commented on #2074
Should probably have this conversation about what the spec intends over at https://github.com/eclipse-ee4j/servlet-api/issues/308

[2020-03-30 12:21] B3r opened #4729 "NoClassDefFoundError: javax/servlet/http/HttpServletRequest"
**Jetty version**
9.4.27.v20200227
**Java version**
openjdk 11.0.5
**OS type/version**
Ubuntu 16.04
**Description**
While trying to use the cargo-jetty-deployer version 1.7.11 I get following exception:

[code]

AFAIK, HttpServletRequest is part of servlet-api-3.1.jar, so it should be there, right?

Active Modules:
console-capture, http, ext, deploy, server, servlet, servlets

Jetty.base and jetty

[2020-03-30 12:42] sbordet commented on #4728
`FutureResponseListener` has the semantic of a total timeout and it is equivalent to `Request.timeout(...)`. Both account for the total time request + response take to complete.

Then your Nginx configuration is too small. And if it takes more than 90s for a request to complete, you have other problems than the idle timeout :smiley:

You can use `Request.idleTimeout(...)` but you will be at the me

[2020-03-30 12:50] gregw commented on #2074
@joakime sure, but doing basic research first.
So I have created a test that does a POST with query params, body params and forward query params as follows:

POST query | POST body | forward query
-- | -- | --
unique1=post%20query| unique2=post%20body| unique3=forward%20query
name=post%20query | name=post%20body | name=forward%20query
same=same | same=same | same=same
list=one | list=two | list=th

[2020-03-30 12:57] gregw commented on #2074
If the forward does not have a query, then all servers keep the original query string in the merge.

[2020-03-30 13:06] gregw commented on #2074
Considering the difference is very minor, I think we should keep 9.4 as is and change in 10 to act like the other servers with regards to the query string (replaced by forward not merged).

[2020-03-30 13:24] joakime commented on #4729
I need to see 2 things ...

1. Your Jetty Base Config

[code]

2. Your webapp config

    Do you have a XML deployable for `/cargo-jetty-deployer/` in your `${jetty.base}/webapps/*.xml`
    If so, what does it look like?

[2020-03-30 13:24] janbartel commented on #4727
@olamy I'm not in favour of this change.  Servlet spec 4.0 might say this, but we have a user base that specifically didn't like this behaviour.

We had users complain that they didn't change their web application for years, but an upgrade to the jetty container made their webapp misbehave due to the existence of annotations in 3rd party libs used by the webapp.

Similarly, we had other users comp

[2020-03-30 13:32] B3r commented on #4729
Here my Config:
[code]

And here my cargo.jetty.deployer.xml (which I got from [here](https://www.baeldung.com/deploy-to-jetty#3-remote-deploying)) :
[code]

[2020-03-30 13:53] joakime commented on #4729
Seems normal enough.

So I took a closer look at what Cargo is doing.

https://github.com/codehaus-cargo/cargo/blob/codehaus-cargo-1.7.11/resources/jetty-7-and-onwards-deployer/src/main/java/org/codehaus/cargo/deployer/jetty/DeployerServlet.java

There is so many things wrong with that code. :-(

1. The manual addition of the cargo servlet in the [jetty-web.xml](https://github.com/codehaus-cargo/c

[2020-03-30 13:54] #4400 closed, assigned to sbordet

[2020-03-30 14:03] joakime commented on #4729
I should make a remote deployer component for Jetty 10.0.x too.

That way we can have a cargo `org.codehaus.cargo.container.spi.deployer.AbstractRemoteDeployer` for Jetty 10+ as well, without the need for the war file.

[2020-03-30 14:26] #4713 closed, assigned to gregw

[2020-03-30 14:30] gregw commented on #4727
@janbartel perhaps in 10 we should default to true but keep the boolean so users can revert?

[2020-03-30 14:38] joakime commented on #4729
Can you try adding a few extra entries to your `cargo.jetty.deployer.xml` as a potential workaround?

[code]

[2020-03-30 14:39] #4542 closed, assigned to olamy, joakime

[2020-03-30 15:01] B3r commented on #4729
putting those lines into the xml and restarting jetty will throw these warnings:
[code]

[2020-03-30 15:39] joakime commented on #4729
Oh man, the `ELContextCleaner`, forgot about that one.

Change `<Set name="parentLoaderPriority">true</Set>` from true to false and please try again.

[2020-03-30 15:42] B3r commented on #4729
Same warning, no change

[2020-03-30 18:34] joakime commented on #4729
I put together a replacement webapp for the `cargo-jetty-deployer.war`

https://github.com/jetty-project/jetty-remote-deployer

You'll have to build it yourself for the moment.

[2020-03-30 18:36] B3r commented on #4729
Thanks a ton! Will try it, when I get my jetty back up again (misconfigured a lot)

[2020-03-30 18:37] joakime commented on #4729
It should have the same webapp endpoints and parameters as the cargo version.

**`/deploy`**
 * method `GET` with parameters `path` and `war`
 * method `PUT` with parameters `path` (accepting `application/octet-stream` of the actual WAR file in the HTTP request body)

**`/undeploy`**
 * method `GET` with parameters `path`

[2020-03-30 19:00] joakime commented on #4729
Hold off, it's not ready yet.
It works in embedded-jetty, but not standalone jetty-home.

[2020-03-30 19:29] B3r commented on #4729
Yeah, noticed. If it helps you, here is my stacktrace:

[code]

[2020-03-30 20:59] sbordet opened #4731 "Proposal: rename DecryptedEndPoint to SslEndPoint"
**Jetty version**
10.0.x

**Description**
`SslConnection` nests an `EndPoint` called `DecryptedEndPoint` that is the endpoint that is fed with decrypted bytes for the unencrypted protocol (e.g. HTTP).

Looks like this:

[code]

However, the `DecryptedEndPoint` is not really "decrypted" since it handles both the encryption and decryption.

I propose to rename it to `SslEndPoint` to match `SslConnec

[2020-03-30 21:41] joakime commented on #4729
The project at https://github.com/jetty-project/jetty-remote-deployer is ready.

Check the [README.md](https://github.com/jetty-project/jetty-remote-deployer/blob/master/README.md) for details on installation.

[2020-03-30 21:50] joakime commented on #4727
I'm in favor of having Jetty 10.x be default of true.
And keeping around the `.setConfigurationDiscovered(boolean)` for those users & applications that want to use it.

[2020-03-30 21:59] joakime commented on #4731
I see the word "Decrypted" in `DecryptedEndPoint` as the interface it provides to me.
I use it in a decrypted way, reading / writing to it.
The underlying implementation is doing the encryption / decryption where necessary.

It's like the File object, I use "File", not "IO Descriptor" or "File Descriptor" or "Block device" or "INode" to do what I need with it.

Also, why stick with the old term "S

[2020-03-30 23:45] olamy commented on #4727
I agree with  the change for 10.x default and having it configurable. Not matter of the version

[2020-03-31 04:53] olamy commented on #4727
see https://github.com/eclipse/jetty.project/pull/4732

[2020-03-31 07:30] gregw commented on #4727
@janbartel has pointed out the issue that we have some very large deployments that have lots of 2.5 webapps, that do not want to pay the price of scanning for annotations that are not there.   So if we do change the default, then I think we need to do some clear warnings if 2.5 webapps are deployed and that configuration has not been set eitherway.

[2020-03-31 07:33] pavanpatel20 commented on #2233
We are also facing same issue in our jetty server (jetty-all-9.4.11.v20180605-uber) and jetty threads are taking 300% to 400% CPU. This is not happening in all the servers, but in just one server. From this bug thread I understand that the fix is available in 9.4.12. But before upgrade need information on how to reproduce this issue. As this issue happened just once, we are bit confused how we wil

[2020-03-31 07:52] gregw commented on #2233
If you are to upgrade, you should upgrade to 9.4.27 (or the soon to be released 9.4.28)
The issue has a complex cause due to the SSL conversation requirements that sometimes you need to read before writing or write before reading.  The issue was some incorrect handling when these counter flows were blocked and had to be retried.

I don't know of anyway to reproduce in the wild on an arbitrary inst

[2020-03-31 08:02] gregw commented on #4731
I agree with @joakime, the "Decrypted' part of the name refers to the contract of the interface that it implements, so in this case the fill/flush calls are passed/provide decrypted bytes.
"SslEndPoint" is confusing to me, as the original `SocketChannelEndPoint` is the endpoint that is handling SSL, so that name feels wrong.

I guess "Unencrypted" would technically be more correct than "Decrypted"

[2020-03-31 08:14] sbordet commented on #4731
All right, no need to change the name then.

[2020-03-31 08:14] #4731 closed, assigned to nobody

[2020-03-31 09:13] sbordet commented on #4628
Fixed with #4633.

[2020-03-31 09:13] #4628 closed, assigned to joakime

[2020-03-31 09:15] sbordet commented on #4631
Fixed by #4632.

[2020-03-31 09:15] #4631 closed, assigned to joakime

[2020-03-31 09:22] B3r commented on #4729
Thanks a ton, I will switch over to the new repo for issues

[2020-03-31 12:24] #4719 closed, assigned to janbartel

[2020-03-31 12:31] #2074 closed

[2020-03-31 12:34] gregw commented on #4638
@joakime @olamy can this be closed? what needs to be done prior to 9.4.28?

[2020-03-31 12:39] #4682 closed, assigned to janbartel

[2020-03-31 14:27] Amarendraar23 opened #4733 "File Descriptor Leak with TCP ping"
Jetty version = 9.4.25
Java version = ibm-java-x86_64-80-sr5-fp40
OS type/version = Red Hat Enterprise Linux Server release 7.7
We are doing TCP pings to Jetty server to see if the web server is up and alive. This TCP ping involves FULL_CLOSE TCP connection. After certain time we see sudden spike in file descriptor leaks. This can be seen happening with the connection between the TCP ping with Jet

[2020-03-31 14:49] sbordet commented on #4733
@Amarendraar23 do you have proof?

I ask because I just wrote a test case that opens and immediately closes a connection to a Jetty server in a tight loop, and I don't see any file descriptor leak, nor any problem of any kind.

If you can reproduce the problem, please attach to this issue full server-side DEBUG logs of this "ping" so we can analyze it.

We ask for proof and DEBUG logs because we h

[2020-03-31 15:41] Amarendraar23 commented on #4733
@sbordet  Yes i do see file descriptor leaks at the jetty side. I am in the process of redacting the logs for sensitive information. Will share it after the redaction.
The issue is seen only after certain duration(i.e. few days). We don't have any event that is different than usual at that point that could trigger these leaks.
I do have one question regarding handling TCP pings from jetty server.

[2020-03-31 15:51] sbordet commented on #4733
@Amarendraar23 how sure you are that this is not a problem of the IBM JVM?
Have you tried to use OpenJDK?
Have you tried Java 11?

`ProxyConnector` and `HTTPConnector` are not Jetty classes, they are not mentioned in the link you refer to, so I am not sure what you mean.

[2020-03-31 20:31] joakime commented on #4733
I think you can use `nping` (from the `nmap` project) to perform the TCP ping.

[code]

[2020-04-01 08:25] janbartel commented on #4644
This was merged for 9.4.28.

[2020-04-01 08:25] #4644 closed, assigned to janbartel

[2020-04-01 08:26] janbartel commented on #4589
@gopikrishnayaramothu progress?

[2020-04-01 08:28] janbartel commented on #4520
I believe this issue is fixed so closing.

[2020-04-01 08:28] #4520 closed, assigned to janbartel

[2020-04-01 09:52] afarber opened #4735 "Get env variables in PHP scripts served through FastCGIProxyServlet"
**Jetty version**
9.4.27.v20200227
**Java version**
1.8.0_91
**OS type/version**
CentOS Linux 7.7.1908
**Description**

Please add a possibility to set environment variables in PHP scripts [served through FastCGI](https://www.eclipse.org/jetty/documentation/9.4.27.v20200227/configuring-fastcgi.html).

As suggested by Simone Bordet in [a mail at jetty-users](https://www.eclipse.org/lists/jetty-user

[2020-04-01 10:18] gopikrishnayaramothu commented on #4589
I forgot to close this issue.thanks for the follow up

[2020-04-01 10:18] #4589 closed, assigned to janbartel

[2020-04-01 11:42] joakime opened #4736 "Update Import-Package version start ranges"
For this and the other range issues you've raised we need to address this in another PR, not this one. If you're happy with the changes to enable jetty-slf4j-impl to work in osgi, please give this issue the thumbs up and open new issue to bump up osgi servlet/jsp api versions.

_Originally posted by @janbartel in https://github.com/eclipse/jetty.project/pull/4684_

[2020-04-01 11:44] olamy commented on #4699
@mehdi-vaadin thanks for the test project!
Please note the correct syntax for supportedPackagings is
[code]

[2020-04-01 12:54] mehdi-vaadin commented on #4699
@olamy thanks for the tip and the fix :)

[2020-04-01 12:58] joakime commented on #4699
Closing issue as it seems to be addressed.

[2020-04-01 13:01] olamy commented on #4699
Nope pr need to be merged first :)

On Wed, 1 Apr 2020 at 10:59 pm, Joakim Erdfelt <notifications@github.com>
wrote:

--
Olivier

[2020-04-01 13:14] janbartel opened #4737 "PreDestroy not called for non-async and run-as servlets"
** jetty 9.4.21 and above **

Problem occurs since commit https://github.com/eclipse/jetty.project/commit/39c230f294a3cfd43cedd988f5261d20203bd015.

Servlets that do _not_ support async, or for which \<run-as\> _has_ been set, will not have methods annotated with @PreDestroy called.

[2020-04-01 13:17] sbordet commented on #4735
@afarber can you please try branch `jetty-9.4.x-4735-env_variables_fcgi`?

[2020-04-01 15:25] janbartel opened #4739 "@RunAs not honoured on servlets"
**9.4 and beyond**

For handling @RunAs annotations on servlets, the RunAsCollection is used. The RunAsCollection.runAs(Object) implementation is expecting that the object passed in is a ServletHolder, but it is in fact the servlet instance. Thus, the @RunAs annotation is not being honoured on servlets.

There is also a second problem: even if the RunAsCollection handled setting the run-as on the

[2020-04-01 19:56] gregw opened #4741 "getHttpServletMapping for async dispatch"
Unlike the path methods (contextPath, servletPath, pathInfo), the new 4.0 getHttpServletMapping() method does not change when an AsyncContext.dispatch() is done, making it more like include.

[2020-04-01 21:03] olamy commented on #4699
pr https://github.com/eclipse/jetty.project/pull/4742

[2020-04-01 21:27] hanlinlisumo commented on #4646
just want to update that we were able to resolve the issue by relying on the lastSaveTime.
Thanks!

[2020-04-01 21:27] #4646 closed, assigned to nobody

[2020-04-01 22:06] #4699 closed, assigned to olamy

[2020-04-01 22:17] andy-xian-hai commented on #4726
Tks. It solves my problem.

[2020-04-01 22:17] #4726 closed, assigned to nobody

[2020-04-02 02:09] zhaowenxishi commented on #4728
Thanks a lot. But I may still don't understand clearly.

I think there is a gap between jetty-client and nginx about the definitions of some TIMEOUT.
My situation is like this.

JETTY(client)<----------->NGINX(reverse proxy)<---------->TOMCAT(server)

JETTY:
(1)**totalTimeout**
(2)**idletimeout**
NGINX:
(1)**proxy_read_timeout**:Defines a timeout for reading a response from the proxied server. As

[2020-04-02 02:27] zhaowenxishi commented on #4728
By the way, your suggestion to set the idletimeout to 75s works well temporarily. The client-end service has run two days without any EOF. I will keep observing the service.
So this also proves that it's important to set idletimeout(jetty) smaller than keepalive_timeout(nginx) or some other timeout of interaction such as the "client_header_timeout" I mentioned above.

[2020-04-02 02:38] olamy commented on #4727
merged

[2020-04-02 02:38] #4727 closed, assigned to nobody

[2020-04-02 03:56] prateekkohli2112 commented on #4651
Actually we are planning to have a L4 load balancer between Jetty client and HTTP server. The load balancer routes traffic based on established connections with the backend servers. Load balancer will maintain a mapping between a client connection and backend server connection. And every request from a particular client will be routed on a specific connection.

Now for dynamically scaling the back

[2020-04-02 05:39] olamy commented on #4690
PR https://github.com/eclipse/jetty.project/pull/4703

[2020-04-02 05:40] olamy commented on #4234
done

[2020-04-02 05:40] #4234 closed

[2020-04-02 07:57] sbordet commented on #4651
@prateekkohli2112 can you please open a new issue about this feature, i.e. set a max number of requests per connection.

[2020-04-02 13:35] ZeloBox opened #4745 ""404: Not Found" for files used when configure logging module to jetty"
Jetty when trying to add configure new added modules(logging and webapp-logging) does not find the files referenced in these modules.

**Jetty version**
0:      1.4.1.v201005082020 | ${jetty.home}/lib/mail/javax.mail.glassfish-1.4.1.v201005082020.jar
 1:                   5.11.4 | ${jetty.home}/lib/ext/activemq-client-5.11.4.jar
 2:                    1.0.1 | ${jetty.home}/lib/ext/geronimo-j2ee-ma

[2020-04-02 15:18] joakime commented on #4638
Fixed in PR #4740

[2020-04-02 15:18] #4638 closed, assigned to olamy

[2020-04-02 15:18] joakime commented on #4529
Fixed in PR #4734

[2020-04-02 15:18] #4529 closed, assigned to gregw, joakime

[2020-04-02 15:19] rijkr opened #4746 "ClassNotFoundException: org.apache.geronimo.components.jaspi.AuthConfigFactoryImpl"
**Jetty version**

9.4.25.v20191220 and 9.4.27.v20200227

**Java version**

openjdk version "1.8.0_242"

**OS type/version**

Ubuntu 16.04-b08

**Description**

I use embedded Jetty for several years now and upgrade regularly without any problems. But now suddenly, when upgrading from 9.4.22.v20191022 to 9.4.25.v20191220 (or 9.4.27.v20200227) this exception occurs at startup:

[code]

And server.d

[2020-04-02 15:27] joakime commented on #4745
Can you please use `java -Dmaven.repo.uri=https://repo1.maven.org/maven2/ -jar $JETTY_HOME/start.jar ...` and see if it makes a difference for you?

[2020-04-02 15:31] joakime commented on #4532
`session-store-redis-remote.mod` is using using a hardcoded `http://central.maven.org/...`

https://github.com/cloudbees/jetty-redis/blob/master/src/main/config/modules/session-store-redis-remote.mod

[2020-04-02 15:31] #4532 closed, assigned to nobody

[2020-04-02 15:33] joakime commented on #4745
Ah, switch from jetty-webapp-logging 9.0.0 to `9.4.20.v20190813`.

The old 9.0.0 version had a hardcoded `http://central.maven.org/` in it, the new version uses the `maven://` scheme to be more intelligent.

[2020-04-02 15:35] joakime commented on #4746
Duplicate of #4621, fixed in PR #4710 (will be available in future 9.4.28 release)

[2020-04-02 17:48] ZeloBox commented on #4745
I'am confused. How I can  switch  jetty-webapp-logging to 9.0.0 to 9.4.20.v20190813?

[2020-04-02 17:54] joakime commented on #4745
Making this a documentation issue.
PR forthcoming ...

[2020-04-02 18:24] ZeloBox commented on #4745
Thank you, Joakim!
In addition to the fact that the above errors occurred, if you put the missing libraries, you still do not get the xml files specified in the modules:
in logging.mod:
_https://raw.githubusercontent.com/jetty-project/logging-modules/master/capture-all/logback.xml|resources/logback.xml
https://raw.githubusercontent.com/jetty-project/logging-modules/master/capture-all/jetty-logging

[2020-04-03 04:57] lachlan-roberts opened #4747 "Investigate websocket tck failures for jetty-10"
**Jetty version**
10.0.x

**Description**
Currently 407 test failures for the jetty-10 websocket TCK run.
These should be investigated and fixed.

[2020-04-03 13:44] afarber commented on #4735
In order to test the change I have checked out the branch:

[code]

but there is no start.jar file there. How would I build it please?

On my CentOS 7 server I usually run Jetty this way (through the file  /etc/systemd/system/jetty-en.service):

[code]

[2020-04-03 13:52] sbordet commented on #4735
You need Maven to build Jetty.

[code]

Now you have a Jetty 9.4.28-SNAPSHOT distribution in `jetty-distribution/target`.

Uncompress it in `/usr/share/java/jetty-distribution-9.4.28-SNAPSHOT` and use the same command line above, but pointing to the new distribution.

[2020-04-03 14:05] afarber commented on #4735
Thank you. Unfortunately, I get this build failure:

[build-jetty.txt](https://github.com/eclipse/jetty.project/files/4427704/build-jetty.txt)

Also unsuccessfully tried `mvn clean install -DskipTests -Dmaven.test.skip=true`

I have searched and it seems to be caused by the CentOS 7 Linux coming with the older Maven version: **Apache Maven 3.0.5 (Red Hat 3.0.5-17)**

However I have also found a po

[2020-04-03 14:21] sbordet commented on #4735
Just update Maven.
Download the latest version from http://maven.apache.org/.
Then use explicitly that version to build Jetty.

[2020-04-03 14:52] afarber commented on #4735
Ok, updating Maven has helped, but the $_SERVER['COUNTRY'] is missing:

![image](https://user-images.githubusercontent.com/1884458/78373724-42568a00-75cb-11ea-8b86-95ea19729ab2.png)

eventhough I have in my /etc/systemd/system/jetty-en.service:

[code]

And my PHP script just perform print_r($_SERVER);

[2020-04-03 14:57] sbordet commented on #4735
Did you configure `FastCGIProxyServlet`?

[code]

[2020-04-03 15:04] afarber commented on #4735
Well, Simone... then it works :-)

![image](https://user-images.githubusercontent.com/1884458/78375482-23f18e00-75cd-11ea-9ba8-51c4964ee2e6.png)

[2020-04-03 16:29] sbordet commented on #4735
@afarber thanks for confirming.
You can pass in a comma-separated list of environment variable names that will be forwarded to the FastCGI process.

[2020-04-03 21:56] joakime commented on #4745
Updated documentation in PR #4748

[2020-04-04 07:00] #3396 closed

[2020-04-04 09:54] #4735 closed, assigned to nobody

[2020-04-04 17:23] kirkwolf commented on #805
I have a related question: I *want* to abort a chunked output  stream.

I have an application that is dynamic streaming and using Transfer-Encoding: chunked.
If I have an error condition (after the ServletOutputStream is committed), I want to force the socket to close without sending an EOF chunk.

- Is throwing a RuntimeException from the Servlet the proper way to do this?
- Is this a portable te

[2020-04-04 20:23] #1461 closed

[2020-04-04 21:23] #192 closed

[2020-04-05 14:46] #3437 closed

[2020-04-06 08:12] janbartel commented on #4662
Fixed for 9.4.28.

[2020-04-06 08:12] #4662 closed, assigned to janbartel

[2020-04-06 08:13] gregw commented on #4741
See https://github.com/eclipse-ee4j/servlet-api/issues/309 for some clarification (hopefully?)

[2020-04-06 09:35] #4683 closed, assigned to janbartel

[2020-04-06 09:37] janbartel commented on #4739
Fixed for 9.4.28

[2020-04-06 09:37] #4739 closed, assigned to janbartel

[2020-04-06 09:37] janbartel commented on #4737
Fixed for 9.4.28.

[2020-04-06 09:37] #4737 closed, assigned to janbartel

[2020-04-06 09:39] janbartel commented on #3774
Checked with jetty-9.4 and jetty-10 and this does not appear to be the case. Certainly as of 9.4.28 and jetty-10.alpha2. Closing as invalid.

[2020-04-06 09:39] #3774 closed

[2020-04-06 09:45] janbartel commented on #4681
@sbordet I've added all of this text to the test-jetty-osgi/README.txt file, and documented how to use logging. All in jetty-10. If you're happy with this, can you close the issue.

[2020-04-06 15:00] #3131 closed

[2020-04-07 01:00] #4690 closed, assigned to olamy

[2020-04-07 06:17] lachlan-roberts commented on #4746
@joakime I think this is actually slightly different and won't be fixed by PR #4710.

In this case there is no `ServiceConfigurationError` discovering the `JaspiAuthenticatorFactory` with the `ServiceLoader`. Instead there is a `ClassNotFoundException` when the authenticator factory is used.

[2020-04-07 07:45] sbordet opened #4751 "Refresh NetworkTraffic* classes"
**Jetty version**
9.4.x

**Description**
`NetworkTraffic*` classes should be refreshed to avoid extending from deprecated ones, etc.

Also would be great to have an example of how to use them on the client.

[2020-04-07 09:35] janbartel opened #4752 "HttpSessionListener.sessionCreated should be called in order listener was added; sessionDestroyed in reverse order"
Jetty calls all HttpSessionListener methods in reverse order that the listener was added. According to the javax.servlet.http.HttpSessionListener javadoc, sessionCreated() must be invoked in the order the listener was added, but sessionDestroyed() must be called in reverse order.

See https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/servlet/api/javax_servlet_http/serv

[2020-04-07 12:54] #4751 closed, assigned to sbordet

[2020-04-07 13:12] gregw opened #4755 "CDI Tests failing"
Test is failing with

[code]

[2020-04-07 14:45] joakime commented on #4755
This is already being worked in PR #4706

[2020-04-07 15:28] #4755 closed, assigned to nobody

[2020-04-08 09:16] #4752 closed, assigned to janbartel

[2020-04-08 09:44] janbartel opened #4758 "Set welcomeServlets to TRUE by default"
jetty-10

https://github.com/eclipse-ee4j/jakartaee-tck/tree/master/src/com/sun/ts/tests/servlet/pluggability/fragment

The above test tests that a servlet path will be used by the container to serve welcome files. Jetty uses the `DefaultServlet` initParam `welcomeServlets` to control whether we permit servlets to serve welcome pages, or if we expect a static resource to exist instead. The default

[2020-04-08 09:52] janbartel commented on #4758
Upon investigation, we cannot set the default to `true` as this would mean that webapps that use `index.jsp` as welcome files would not work. The solution is to set the configuration to `true` only for the execution of the tck. I will open a separate issue for that.

[2020-04-08 09:52] #4758 closed, assigned to janbartel

[2020-04-08 12:52] janbartel opened #4760 "Response.setLocale should override previous Response.setLocale"
**Jetty 10**

https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/servlet/spec/i18n/encoding/TestServlet.java testSpec2

Calls to Response.setLocale(String) should override previous charset set by Response.setLocale(String) (before the response is committed or Response.getWriter() has been called).

[2020-04-08 15:16] joakime commented on #4745
Merged PR #4748

[2020-04-08 15:16] #4745 closed, assigned to joakime

[2020-04-08 15:23] janbartel opened #4762 "Request.authenticate(Response) should return true if already authenticated"
**Jetty 10**

https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/tests/common/jspservletsec/secformClient.java#L1731

This test performs a programmatic login (Request.login()), then a programmatic authentication (Request.authenticate()).

According to the javadoc, Request.authenticate() should return:

* true if all of the following are not null:  request.getUserPrincipal(),

[2020-04-08 15:28] #4760 closed, assigned to janbartel

[2020-04-09 07:42] CaoManhDat opened #4764 "HTTP2 Jetty Server does not send back content-length"
**Jetty version** 9.4.24.v20191120

**Java version** Java 11

**Question** On requesting to a plain text HTTP2 (h2c) Jetty Server, the response doesn't include content-length in the header. But with that same server on requesting using HTTP/1.1, the server does return content-legth.
I understand that content-length is not required for HTTP2 protocol. But it will be very helpful for client for hand

[2020-04-09 13:12] sbordet commented on #4764
You are correct that currently we don't add the `Content-Length` header if we know in advance the total content length.

Can you expand on how this header will be useful to a HTTP/2 client?

[2020-04-10 07:41] CaoManhDat commented on #4764
Few examples
* use it for `BufferingResponseListener`, so it can know exactly how much memory it needs to allocate.
* in my case we need to choose wether to use `BufferingResponseListener` (which doesn't need to spin a new thread to wait for data from other's side) or `InputStreamResponseListener`
* same idea from http2 spec community: https://github.com/http2/http2-spec/issues/558

[2020-04-10 09:06] sbordet opened #4765 "Review GzipHandler inside ServletContextHandler"
**Jetty version**
10.0.x

**Description**
`ServletContextHandler` has direct support for `GzipHandler`, apparently for the only reason to organize the internal `Handler`s in this way: `session -> security -> gzip -> servlet`.

However, there is no apparent reason to have `GzipHandler` part of `ServletContextHandler`.

A configuration like this: `GzipHandler -> ServletContextHandler` seems to work

[2020-04-10 10:52] sbordet opened #4766 "SecuredRedirectHandler should extend HandlerWrapper"
**Jetty version**
10.0.x

**Description**
`SecuredRedirectHandler` does not extend `HandlerWrapper` so it is a bit cumbersome to use, as it always require to be contained in a `HandlerList`.

Ideal configuration would be:

[code]

Instead, right now we are forced to do this:

[code]

[2020-04-13 12:36] #4766 closed, assigned to nobody

[2020-04-13 13:34] sbordet commented on #3509
There are 2 approaches:

1. Introduce `ObjectMBean.Listener` as a custom interface so that application can register listeners and be notified of attribute events or invocation
1. Use JMX built-in `NotificationEmitter` support and base as much as possible on JMX classes such as `AttributeChangeNotification`. Unfortunately there is no event for operation invocation, which means that the API has be t

[2020-04-13 13:40] sbordet commented on #3508
This is so common (war deployed to a place that is periodically wiped out) that we should do something about. Either _always_ deploy to `$JETTY_BASE/tmp`, or warn if the deployer can't find the wiped out wars.

[2020-04-13 13:41] #3000 closed

[2020-04-13 13:45] sbordet commented on #805
Throwing is probably the most portable way: the Servlet container should attempt to generate an error page, find out the response is already committed and hard close the connection.

[2020-04-13 14:29] sbordet commented on #4728
That is your problem.

You cannot expect the server to go silent for 100-200 seconds when the client idle timeout is 75 seconds.

You must adjust all your timeouts so that the client timeouts are less than the server timeouts, both in the Jetty client and in the proxy.

But IMHO you have to solve the issue of a single request taking 200 seconds, as that seems an incredible large amount of time.

I

[2020-04-13 14:50] kirkwolf commented on #805
Hi Simone,
Thanks, I agree.

Is there anything in the servlet 3.1 spec that says that a container "should" hard-close the connection in this case?  Jetty and Tomcat do, but I know of one vendor's Servlet 3.1 container that does not, and would really like to pin them to the spec and fix it.

[2020-04-13 15:08] sbordet commented on #805
https://github.com/eclipse-ee4j/servlet-api/issues/98

[2020-04-13 21:04] garan82 opened #4769 "wantClientAuth behavior"
I think it's not specific to jetty/java version so I omit them. I'm wondering if `wantClientAuth` is true, and client provides client cert, is this cert validated against the CA during SSL handshake? Thanks.

[2020-04-13 21:17] sbordet commented on #4769
Yes it is validated.

Typically the client certificate is signed by a server certificate (stored in a trustStore) rather than a CA (although it could be signed by a CA).

The verification is done by the TLS implementation, controlled by `SslContextFactory.endpointIdentificationAlgorithm` and by `SslContextFactory.hostnameVerifier`.
Please read the javadocs of those 2 properties to understand how t

[2020-04-13 21:17] #4769 closed, assigned to nobody

[2020-04-13 21:24] joakime commented on #4769
Also, the behavior for those to setters on Jetty's `SslContextFactory` result in Jetty setting the `javax.net.ssl.SSLParameters` for those options (with the same name).

* [`javax.net.ssl.SSLParameters.setNeedClientAuth(boolean)`](https://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SSLParameters.html#setNeedClientAuth-boolean-)
* [`javax.net.ssl.SSLParameters.setWantClientAuth(boolean)`](https

[2020-04-13 22:03] joakime opened #4770 "Simplify Gzip testing"
The old `GzipTester` is getting long in the tooth and needs to be simplified and ideally removed entirely.

The Gzip based tests in general can benefit from having more local code to understand what's going on.

[2020-04-13 22:30] toaler commented on #2500
@joakime was this work ever done or are there existing documents that address what Greg's original intent was?

[2020-04-14 01:47] WalkerWatch commented on #2500
@toaler This has not been completed as of yet.

[2020-04-14 06:46] gregw commented on #2500
@sbordet in your documentation work, is there a good spot for listeners like this?   If so, point me at it and I'll have a go at writing the outline at least.

[2020-04-14 07:23] gregw commented on #3508
We already have a mechanism that if `$JETTY_BASE/work` directory exists, then it is used for the temp directory.  Note however that it has slightly different semantics as it is not cleared on a stop so things like compiled JSPs can persist.

[2020-04-14 07:37] gregw commented on #4765
I believe this is a hangover from before we had the interceptor mechanism.

[2020-04-14 09:30] lachlan-roberts opened #4771 "add tests for unused websocket handler classes in jetty-10"
**Jetty version**
10.0.x

**Description**
There are several classes in `org.eclipse.jetty.websocket.javax.tests.handlers` which are the different `onMessage` implementations, but most of them are completely unused. There should be a test to run these to test they actually work.

[2020-04-14 09:37] lachlan-roberts opened #4772 "Jetty WebSocket API onMessage annotation does not support partial messages."
**Jetty version**
10.0.x

**Description**
The Jetty WebSocket API `@OnWebSocketMessage` annotation does not support partial messages, while the Javax API does support this. To use partial messages you must implement `WebSocketPartialListener`.

We should consider adding support for partial messages for the `OnWebSocketMessage` annotation in the jetty ws API.

[2020-04-14 10:49] #4762 closed, assigned to janbartel

[2020-04-14 14:12] sbordet commented on #2500
@gregw slowly coming along, I wrote `HttpChannel.Listener`, will write the others next.

[2020-04-14 21:30] #4765 closed, assigned to nobody

[2020-04-14 21:37] #4764 closed, assigned to nobody

[2020-04-14 21:40] sbordet opened #4773 "Review Http MetaData immutability"
**Jetty version**
10.0.x

**Description**
After #4764 it turned out that we would like `org.eclipse.jetty.http.MetaData` and subclasses to be immutable and non-recyclable, but they are not.

Review whether they can be made immutable.

[2020-04-14 22:17] Azifor opened #4774 "Upon enabling the --https module, startup fails with " No constructor class org.eclipse.jetty.server.ServerConnector([],{}) in file:/opt/software/etc/jetty-https.xml""
jetty.version = 9.4.18.v20190429

java.version = 1.8.0_161

RHEL 7.4

Upon startup on geoserver utilizing jetty, I get the following error:

/usr/lib/jvm/jre-1.8.0/bin/java -server -Xms16G -Xmx16G -Xmn2G -XX:+UseG1GC  -DSTOP.PORT=8079 -DSTOP.KEY=geoserver -jar start.jar
2020-04-14 22:12:01.817:INFO::main: Logging initialized @294ms to org.eclipse.jetty.util.log.StdErrLog
2020-04-14 22:12:01.945:WA

[2020-04-14 22:19] Azifor commented on #4774
The etc/jetty-https.xml file looks like:
<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_3.dtd">

<Configure id="sslConnector" class="org.eclipse.jetty.server.ServerConnector">

  <Call name="addIfAbsentConnectionFactory">
    <Arg>
      <New class="org.eclipse.jetty.server.SslConnectionFactory">
        <Arg name="next">http/1.

[2020-04-14 23:42] #4235 closed

[2020-04-15 07:50] sbordet commented on #4774
@Azifor seems like you have copied to `${jetty.base}/etc/` a number of XML files that are probably from older versions of Jetty and now they don't work.

Please update to jetty 9.4.28.

I would start without any modified XML file - leave them all in `${jetty.home}`.

If you really need to modify them, use properties instead.

Only if also properties are not enough, then you can use custom XML file

[2020-04-15 07:58] lachlan-roberts opened #4776 "Incorrect path matching for WebSocket using PathMappings"
**Description**
Currently we use `PathMappings` to do URI mappings to websocket server endpoints. However this does not use the process described in JSR356 and it seems it gives incorrect matches for some cases.

Example:
[code]

As described in the JSR356 we should traverse the segments left to right, and prefer exact matches to those that have variable segments. Because of this we should match `

[2020-04-15 10:12] rnd4222 opened #4778 "Enforcing SNI when there are only non-wildcards certificates"
Given the keystore file:

```keytool -keystore keystore -genkey -keyalg RSA -alias jetty```

and enforcing SNI:

```sslContextFactory.setSniRequired(true);```

I get the following error:

```java.lang.IllegalStateException: No SNI Key managers when SNI is required```

Adding second (non-wildcard) host doesn't change anything. However, it works fine with a wildcard certificate.
Is there something w

[2020-04-15 10:18] sbordet commented on #4778
Jetty version?

[2020-04-15 10:22] rnd4222 commented on #4778
@sbordet 9.4.28.v20200408

[2020-04-15 10:28] rnd4222 commented on #4778
Ok, I've figured out how to make it work with **two** non-wildcard hosts:

```keytool -keystore keystore -genkey -keyalg RSA -alias jetty -ext san=ip:127.0.0.1,dns:localhost123,ip:127.0.0.1,dns:localhost456```

But is it possible to enforce SNI with only one host?

[2020-04-15 10:35] sbordet commented on #4778
Can you detail exactly what is your case?
Please detail:
* what the client sends
* what certificates are in the server
* what do you expect to happen
* what happens instead

[2020-04-15 10:45] rnd4222 commented on #4778
@sbordet this exception is thrown on a `Server` start, even before client connects.

The issue, I believe, is in following line https://github.com/eclipse/jetty.project/blob/jetty-9.4.28.v20200408/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java#L1250

[2020-04-15 10:49] sbordet commented on #4778
@rnd4222 I understand that.

Yet, can you please describe what exactly if your use case?
Why you want to setup SNI required if you only have 1 certificate?

[2020-04-15 10:56] rnd4222 commented on #4778
@sbordet the reason is, it would be more secure to hide hostname from anyone who doesn't know it already. Nothing legitimate does this. The only use case for **not** enforcing SNI that I can think of is allowing [Shodan](https://www.shodan.io/) to scan your website :)

[2020-04-15 11:43] gregw commented on #4776
@lachlan-roberts let's chat about possible solutions to this before you commit too much code

[2020-04-15 12:58] joakime commented on #4776
Is this something that's tested on the websocket TCK?

[2020-04-15 13:02] joakime commented on #4776
I'd like to be involved in this discussion.

[2020-04-15 14:42] sbordet commented on #4778
@rnd4222 it's still not clear what your use case is, really.
You assume we know, but we don't, that's why we asked for the details.

[2020-04-15 15:06] rnd4222 commented on #4778
@sbordet use case is the following:
1. Attacker scans subnet with nmap to find websites
2. If SNI is not enforced, now they know website hostname and is able to scan it for web vulnerabilities
3. If SNI is enforced, attacker gets handshake error and is not able to look into web pages.

Does it helps?

[2020-04-15 15:14] sbordet commented on #4778
I don't understand? What's holding the attacker to figure out the host name via DNS?

[2020-04-15 15:21] rnd4222 commented on #4778
Reverse DNS lookup doesn't necessarily shows the hosted site hostname

[2020-04-15 15:23] Azifor commented on #4774
That was it. I was using the embedded jetty that geoserver provides out of the box and that part wasn't updated from I think 2.15 onwards.

Thanks!

[2020-04-15 15:23] #4774 closed, assigned to nobody

[2020-04-15 16:26] sbordet commented on #4778
Look, I still don't understand what the problem is.

Try to connect to `google.com` and pass in as SNI `wikipedia.org`. You will get back the `google.com` certificate and the connection will be successful, as shocking as that may be.

In light of this example, where `google.com` does not even care about the SNI and just returns the certificate of the server, I fail to see the problem.

I don't thi

[2020-04-15 16:31] gregw commented on #4776
just in case I'm not about when you start discussing this.....  my thoughts are as follows:
 + I believe this is a TCK test
 + there are a bunch of examples in the spec that we should implement in a unit test first as proof we are not following the spec... plus a copy of the TCK test (which I think is the one in the description).
 + The broad groups of prefix glob, middle glob and suffix glob have

[2020-04-15 16:34] rnd4222 commented on #4778
@sbordet In your example, imagine that you didn't know that it was google's servers.
Now you know it and is able to scan it (and many exploit scanners will do that).

Anyway - is there any reason to **forbid** that behavior for single-host certs?

Wouldn't it be more consistent to permit `setSniRequired` usage regardless whether there is one or more certs?

[2020-04-15 16:40] sbordet commented on #4778
@rnd4222 fair enough, we'll look into it. Would you be able to test a PR once it's ready?

[2020-04-15 16:45] rnd4222 commented on #4778
@sbordet sure!

[2020-04-16 13:47] superbazza opened #4781 "Websocket blockingWrite hangs forever"
**Jetty version** : 9.4.10.v20180503

**Java version** : jdk1.8.0_231

**OS type/version** : Linux RHEL 2.6.32-754.27.1.el6.x86_64

**Description**
Process that sends websocket updates ended up hung for 24 hours. Aside from the logs, I don't have a lot to go on.

The following is the stack (from thread-dump) of the deadlocked thread:

[code]

There were 2 errors preceding this deadlock situation:

[2020-04-16 14:04] superbazza commented on #4781
Also, a follow-up question: Once this situation occurs, is it possible to recover from it by timing out the thread and starting again? Or are the websocket connections in a state where the only recovery is to re-start the JVM?

[2020-04-16 14:53] sbordet commented on #4781
@superbazza please update to 9.4.28, there are many things that may have been fixed between the version you are using and the latest one (your version is almost 2 years old now).

[2020-04-16 16:55] sbordet opened #4782 "New metric: selected/total SocketChannels"
**Jetty version**
9.4.x

**Description**
Would be interesting to know the ratio of selected/total `SelectionKey`s for every select operation.

Chatty protocols such as CometD could have a very high ratio that is unusual in web site applications.

A high ratio could be an indication that a larger number of selectors needs to be configured.

@gregw thoughts?

[2020-04-16 20:27] joakime commented on #4776
See also last discussion about path matching at websocket-api -> https://github.com/eclipse-ee4j/websocket-api/issues/170

[2020-04-16 22:37] lachlan-roberts commented on #4781
This does look to be a duplicate of #2061, there is the same stack trace from `Deflater.ensureOpen()` triggering the issue.

There are lots of other websocket bugs which have been fixed since 9.4.10 as well, so it is worth updating to the latest version of jetty.

[2020-04-16 22:37] #4781 closed, assigned to nobody

[2020-04-17 12:28] sobimibos opened #4784 "Jetty client hangs if sending same request twice"
Jetty version 9.4.28

Java version 1.8_241

Various

After upgrading from jetty 9.4.20 to 9.4.28 we noticed, that the jetty client hangs, if you send the same Request more than once. This behaviour was not seen with the 9.4.20 version.
We noticed this in a unit test which sends a GET request to a test server, which is expected to respond only once with 200:

[code]
The httpClient is created simply

[2020-04-17 12:47] pradeep-panda opened #4785 "Bad Content-Encoding values are not supported when used in combination with POST request (Content-Type: application/x-www-form-urlencoded)"
Hi Team,
I am running the jetty server to expose my rest APIs. Back end APIs are receiving  "UTF-8" as the "Content-Encoding" header value, but jetty is not accepting it and ending with
"org.eclipse.jetty.http.BadMessageException: 501: Unsupported Content-Encoding" exception.

I am seeing this part of the code where the validation is failing and leading to this issue. I m kind of block on this. An

[2020-04-17 13:03] joakime commented on #4784
The `Request` object is not reusable.

It cannot be reused for another request, you should create a new Request object for each new request you want to send.

[2020-04-17 13:49] joakime commented on #4785
The `Content-Encoding` header has the following behavior ...

Documented in the spec RFC 7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content
Section: 3.1.2.1.  Content Codings
https://tools.ietf.org/html/rfc7231#section-3.1.2.1

[code]

The only valid values for that header are listed at
https://www.iana.org/assignments/http-parameters/http-parameters.xhtml#content-coding

Of whic

[2020-04-17 15:41] garydgregory opened #4787 "Make org.eclipse.jetty.client.HttpRequest's host name writable"
**Jetty version**

9.4.28.v20200408

**Java version**

java version "1.8.0_241"
Java(TM) SE Runtime Environment (build 1.8.0_241-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.241-b07, mixed mode)

**OS type/version**

Microsoft Windows [Version 10.0.16299.1747]

**Description**

At work, I have a subclass of `org.eclipse.jetty.proxy.AsyncMiddleManServlet` which can be configured as a reverse pr

[2020-04-17 16:52] joakime commented on #4787
Usually this is accomplished by overriding the `rewriteTarget` method on `AsyncMiddleManServlet`.

https://github.com/eclipse/jetty.project/blob/ab228fde9e55e9164c738d7fa121f8ac5acd51c9/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/AbstractProxyServlet.java#L416

Can you explain why this isn't an option for you?

[2020-04-17 17:32] sbordet commented on #4787
Also, override `AsyncMiddleManServlet.copyRequestHeaders(...)`: call `super` and then `Request.header(HOST, yourHost)`.

[2020-04-17 17:45] superbazza commented on #4781
Excellent. Thanks for the response. Will upgrade now.

[2020-04-17 17:50] gonphsn opened #4789 "org.eclipse.jetty.util.thread.ShutdownThread should use an appropriate name to identify itself in Thread dump"
9.4.27

java version "1.8.0_251"
Java(TM) SE Runtime Environment (build 1.8.0_251-b08)
Java HotSpot(TM) 64-Bit Server VM (build 25.251-b08, mixed mode)

Windows 10

The Thread:

`          Name="Thread-6"   Class="org.eclipse.jetty.util.thread.ShutdownThread"`

Running from:
[code]

Shows that the ShutdownThread does not apply an appropriate name to itself in its constructor:

[code]

For purposes

[2020-04-17 18:00] garydgregory commented on #4787
We want to perform transformations on ALL aspects (headers, URI, and body) of a request from one Jetty location.
Our servlet overrides `org.eclipse.jetty.proxy.AsyncMiddleManServlet.newClientRequestContentTransformer(HttpServletRequest, Request)` to perform processing as written in an external configuration file where we define and apply transformations like "If a request to foo1.com arrives with

[2020-04-17 20:08] sbordet commented on #4787
Nope.

Why can't you modify the `proxyRequest` that is passed in to `newClientRequestContentTransformer()`?

[2020-04-17 21:17] sbordet commented on #4787
Ah, it's the URI host you want to modify, not the `Host` header.

[2020-04-17 23:08] garydgregory commented on #4787
Right, I want to overwrite the host name to the origin server which is stored in the `HttpRequest`.

[2020-04-18 16:17] sbordet commented on #4778
@rnd4222 can you check if #4790 works for you?

[2020-04-18 17:02] gregw commented on #4741
I think this is related to the work that I'm doing in #4777, where I've made HttpURI, HttpFields and MetaData immutable.   When doing dispataches the entire fields and uri instances are replace and then reverted, rather than their component parts.

I think a similar approach can be taken with pathInContext, servletPath, pathInfo and pathMapping.  Rather than handling each individually, I think the

[2020-04-18 17:05] gregw commented on #4741
@lachlan-roberts  to get your brain into this space, can you write a little webapp that can be deployed on tomcat and undertow to verify if they follow the TCK with respect to [2] in https://github.com/eclipse-ee4j/servlet-api/issues/309

[2020-04-18 19:54] sbordet commented on #4787
@garydgregory can you try out PR #4791?

[2020-04-18 22:06] rnd4222 commented on #4778
@sbordet it works. Thank you!

[2020-04-18 22:34] garydgregory commented on #4787
@sbordet
It works like a charm :-)
I checked out your branch and built it skipping the tests, updated my POM and my integration test, and it worked :-)
Might this make it in 9.4.29?
Thank you,
Gary

[2020-04-19 06:35] pradeep-panda commented on #4785
@joakime Thanks for the elaborate explanation. Let me reassess and change based on your suggestions. I tried removing Content-Encoding value from the header and it just worked fine.

Note : I tested passing "gzip" instead of utf-8, but it did not work and faced the same exception.
The application was working fine with "Content-Encoding: utf-8" in jetty-7.4 version, but we started facing this issue

[2020-04-19 22:43] #4771 closed, assigned to lachlan-roberts

[2020-04-19 22:56] gbrehmer opened #4792 "Possible Memory Leak since 9.4.28"
**Jetty version**
9.4.28

**Java version**
1.8.0_242 openjdk

**OS type/version**
Ubuntu 16.04.6

**Description**
Probably with update to 9.4.28 we got a new memory leakage problem:

![image](https://user-images.githubusercontent.com/1201680/79701925-347a5780-82a1-11ea-9a12-758fec84ab9b.png)

the JarFileResource contains links to static resources from WAR file. Or is this a normal behavior?

[2020-04-19 23:04] sbordet commented on #4792
If the reference links only go through `Finalizer` then the object is finalizable and will be cleared up eventually by the GC.

Can you verify this?

Also, can you do a full GC 3-4 times (it takes multiple passes for a GC to reclaim finalizable objects, and also depends on the GC algorithm) and see if the `Finalizer` are gone?

[2020-04-19 23:13] gbrehmer commented on #4792
you're right, my fault, gc runs were the last days more rarely and it filled up always almost to max in contrast to the behavior before last deployment

[2020-04-19 23:13] #4792 closed, assigned to nobody

[2020-04-20 00:37] devilethon commented on #3684
Is there a way we can change these ERRORS into WARN?

[2020-04-20 07:59] sbordet commented on #3684
@devilethon consider opening a new issue and describe exactly your problem. Jetty does not log at ERROR level, so you must detail what is your issue in much more details.

[2020-04-20 22:35] SambaDamerla opened #4793 "aused by: java.util.concurrent.ExecutionException: java.io.EOFException: HttpConnectionOverHTTP@8ddf008"
**Jetty version**
9.2.14.v20151106 (compile group: 'org.restlet.jse', name: 'org.restlet.ext.jetty', version: '2.3+')
**Java version**
1.8.0_242
**OS type/version**
Ubuntu 16.04.6 LTS
**Description**
We are using Restlet 2.3+  Server and Client. When we get a request to my server we are doing a dependent API call to my third party vendors (Responsys, Bingmap etc) using Restlet ClientResrouce (wher

[2020-04-21 03:08] CaoManhDat commented on #4764
Thanks!

[2020-04-21 07:52] sbordet commented on #4793
Jetty 9.2.14 almost 5 years old and Jetty 9.2.x is End-Of-Life so you must really upgrade.
Latest Jetty is 9.4.28, and latest Restlet is also based on Jetty 9.4.x.

The stack trace you posted shows that the client sent the request, but the server never replied and it just closed the connection.
Seems to be a server problem.

[2020-04-21 11:15] janbartel opened #4794 "HttpInput.setReadListener should throw IllegalStateException if async not started"
According to the javadoc for ServletInputStream:

[code]

The tck has a test for this, see nioInputTest2: https://github.com/eclipse-ee4j/jakartaee-tck/blob/5b126670c92e6ab800d35100ad1dfa2a4488daa7/src/com/sun/ts/tests/servlet/api/javax_servlet_http/readlistener1/TestServlet.java

[2020-04-21 11:17] joakime opened #4795 "Introduce a HttpConfiguration.getBaseResponseHttpFields() concept"
Will this eventually mean we'll have a `HttpConfiguration.getBaseResponseHttpFields()` that provides the baseline response fields for the connectors that the configuration belongs to?

(With things like `Server: Jetty 10.0.x` already present in it?)

_Originally posted by @joakime in https://github.com/eclipse/jetty.project/pull/4777#issuecomment-616733787_

[2020-04-21 16:29] sbordet commented on #4695
See also #2188.

[2020-04-21 16:48] SambaDamerla commented on #4793
Thanks @sbordet I will upgrade it to latest 9.4.x version. I will also inform my depended API provider to look into this.

[2020-04-21 18:14] sdybiec opened #4797 "Repackaged javax.annotation and javax.websocket OSGi manifest problems"
9.3.28
Java 8
Windows

1. When attempting to use the javax.annotation jar included with the 9.3.28 distribution in an OSGi context, Eclipse/Equinox cannot resolve it as a dependency. The OSGi manifest exports the javax.annotation packages as expected, but strangely it also imports those same packages. This breaks the Eclipse/Equinox bundle dependency mechanism, preventing the application from reso

[2020-04-21 19:29] sbordet opened #4798 "Better handling of fatal Selector failures"
**Jetty version**
9.4.x

**Description**
Various `java.nio.channels.Selector` APIs throw `IOException`, such as `Selector.select()`.

However, fatal selector failures should not happen, and recent work especially on Java 13 (see https://mail.openjdk.java.net/pipermail/nio-dev/2020-February/007051.html), made sure that it was the case _implementation_ wise, although the API signature still allows e

[2020-04-21 19:30] pkcs11newbie opened #4799 "Does Jetty support TLS v1.3 on OpenJDK11?"
Hello

jetty version - 9.4.26.v20200117

Java version - OpenJDK11

We have jetty embedded server application and we need to explore our application for TLS v1.3 support. Do we need to provide IncludeProtocols information in jetty configuration file ( for TLSv1.3?

I was under the impression that since OpenJDK11 supports TLSv1.3 by default, no need for such configuration in jetty.

Please do let me

[2020-04-21 19:33] sbordet commented on #4798
I think we must make an effort to exclude (and replace) the failed selector from `SelectorManager._selectors` otherwise we have a broken server.

I understand that if a client may trigger a selector failure that is a DoS attack and a JVM bug, but I think we must respect the fact that a selector may fail because its APIs throw `IOException`.
The implementation may not actually throw in Java 13 or l

[2020-04-21 19:57] sbordet commented on #4799
You don't need to specify TLSv1.3, it is enabled by default in Java 11 or later.

[2020-04-21 20:15] janbartel commented on #4797
It's not always possible to use the 3rd party jars from the distro with OSGi. If you take a look at the repo in jetty-osgi/test-jetty-osgi, you can see the versions of these jars that we use with the OSGi tests. In some cases we have had to use the Pax wrapbundle facility to patch these 3rd party jars on-the-fly to get the tests to work.

As these are 3rd party jars, it's not possible for jetty to

[2020-04-21 21:40] sdybiec commented on #4797
Jetty claims to work with OSGi, and the documentation specifically says that annotations should be enabled:

The documentation also indicates that websockets will work with OSGi, but SPI Fly won't ever allow the ServiceLoader to find the implementation of 'javax.websocket.server.ServerEndpointConfig$Configurator' in Jetty's websocket jar unless the 'Require-Capability' is added to the javax.websoc

[2020-04-21 22:10] joakime commented on #4797
I opened an issue at https://github.com/eclipse/jetty.toolchain/issues/31 for the javax.websocket missing ServiceLoader entry on OSGi. (PR https://github.com/eclipse/jetty.toolchain/pull/32)

Upgrading our javax.annotation from 1.3 to 1.3.5 will bring in the following META-INF/MANIFEST.MF

https://search.maven.org/artifact/jakarta.annotation/jakarta.annotation-api/1.3.5/jar

[code]

[2020-04-21 23:38] lachlan-roberts opened #4800 "WebSocket DistributionTests failure on JDK14"
**Jetty version**
10.0.x

**Java version**
OpenJDK 14.0.1

**Description**
Test failure for `DistributionTests.testSimpleWebAppWithWebsocket()`:
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-10.0.x/995/tests

[2020-04-22 00:42] sdybiec commented on #4797
Thanks. Another option for websocket is creating a fragment bundle with the Require-Capability hosted by the javax.websocket jar.

[2020-04-22 08:10] gregw commented on #4798
As per our hangout conversation, my thoughts are as follows:

- If selectors can be made to fail as a result of external connections, then nothing we can do will help much.  Every failure will take out a large percentage of our current connections (12.5% for 8 selectors to 100% for 1 selector), so the DOS will be pretty fundamental even if we restore a selector or exclude a broken one from new con

[2020-04-22 08:36] janbartel commented on #4797
@sdybiec great that you have an osgi deployment working.

To expand on my previous reply, which was a bit limited by my ability to swipe out a reply on a mobile.

As far as the javax.annotation-api 1.2 jar goes, that is exactly the jar that we deploy into eclipse during our osgi testing. The manifest that it contains works fine and is in accordance with standard osgi practice. It was/is considered

[2020-04-22 10:11] lorban commented on #4695
See also #3673.

[2020-04-22 10:41] lorban commented on #4695
The approach I've taken to answer this question is a bit upside down. I started by writing a benchmark I could use to measure the amount of garbage Jetty normally generates.

In the simplest case, where a single client loads the server with 8 threads doing GET requests and the server responds with a static hardcoded message as to avoid generating any garbage, according the the Flight Recorder, Jet

[2020-04-22 13:27] pkcs11newbie commented on #4799
Thank you for the response and changing the title.

Am I understanding this correctly then ?  As long as the underlying JVM supports the protocol (in this case OpenJDK11 by default supports TLSv1.3), jetty (9.4.26.v20200117) will support as well?
We do not need to add below highlighted setting in jetty configuration for our embedded jetty server application ?
![image](https://user-images.githubuse

[2020-04-22 14:04] sbordet commented on #4799
@pkcs11newbie your understanding is correct: as long as the JVM supports TLS 1.3 (Java 11+) then recent Jetty 9.4.x also supports it, and no need to explicitly configure it in `SslContextFactory`.

However, remember that the TLS protocol is negotiated between client and server.
Even if it is enabled on the server, the client may not support it and will fall back to TLS 1.2.

[2020-04-22 14:10] lorban commented on #4695
I pushed a draft PR: https://github.com/eclipse/jetty.project/pull/4801

[2020-04-22 14:10] pkcs11newbie commented on #4799
Thanks again ...

[2020-04-22 14:10] #4799 closed, assigned to nobody

[2020-04-22 15:28] sbordet commented on #4695
@lorban does it work? So far looks good to me - do you have more changes to this PR?

[2020-04-22 16:02] SambaDamerla commented on #4793
@sbordet  could you also help me when we get this exception
Caused by: java.util.concurrent.ExecutionException: java.util.NoSuchElementException
	at org.eclipse.jetty.client.util.InputStreamResponseListener.get(InputStreamResponseListener.java:228)
	at org.restlet.ext.jetty.internal.JettyClientCall.sendRequest(JettyClientCall.java:287)
	at org.restlet.engine.adapter.ClientAdapter.commit(ClientAdap

[2020-04-22 16:09] lorban commented on #4695
Channel recycling does work with these changes in place, yes. I still need to import the tests you wrote, look at the coverage and perform a few more benchmarks with more complicated code (POST, respond with more data, more clients, errors...) but so far, I'm happy it didn't take too much to make your original changes work, and that they fixed the bug.

[2020-04-22 16:22] gregw commented on #4741
Note also that the current implementation of `AsyncContext.dispatch()` handles the request attributes required by the spec in an entirely different way to the attributes for `Dispatcher`.  Testing by @lorban has indicated that for a simple async request, the creation of the attribute map is a significant source of garbage.   So are part of this issue, it might be good to look at fixing those attri

[2020-04-22 19:30] sbordet commented on #4793
@SambaDamerla I don't know, since the origin exception is:

[code]

The `InputStream` you provide to the `HttpClient` is not providing the content it should.

[2020-04-23 09:59] janbartel commented on #4794
The tck test shows up a subtlety:  setReadListener can only be called just after Request.startAsync() has been called, but BEFORE the request has returned to the container. My original fix didn't take account of this difference so reopening to change the method that is tested from HttpChannelState.isAsync() to HttpChannelState.isAsyncStarted()

[2020-04-23 12:03] Amarendraar23 commented on #4798
We are seeing a similar issue as discussed above:
One of the selector which is dead keeps accepting connections but doesnt act upon it.

Tracing back to see if any exception occurs for the selector we found this exception log around the time when the selector last accepted any connection successfully.

After this exception we see the selector only accepting the connections and selector queue build

[2020-04-23 15:02] IndiscriminateCoding opened #4805 "Request.getScheme() always return `http`"
**Jetty version**
9.4.28.v20200408

**Java version**
OpenJDK11

**OS type/version**
Ubuntu Linux 16.04

**Description**
`Request.getScheme()` and `Request.getRequestURL()` always return **http**, even when using SSL connector.

[2020-04-23 15:24] sbordet commented on #4805
@IndiscriminateCoding show your configuration. Do you configure `SecureRequestCustomizer`?

[2020-04-23 15:29] IndiscriminateCoding commented on #4805
@sbordet no, I wasn't using `SecureRequestCustomizer`. I tried with it enabled and now it correctly shows **https**. Is it always required when using https?

[2020-04-23 15:33] IndiscriminateCoding opened #4806 "Request.getProtocol() shows 'HTTP/1.1' when using h2c"
**Jetty version**
9.4.28.v20200408

**Java version**
OpenJDK11

**OS type/version**
Ubuntu Linux 16.04

**Description**
Not sure if it is a bug, but `Request.getProtocol()` shows **HTTP/1.1** when used with h2c. Is it expected to show **HTTP/2.0** here?

[2020-04-23 15:46] joakime commented on #4805
@IndiscriminateCoding there are 2 Customizers for setting up many Request features based on "is it secure" or not.

1. For direct connections from clients, the `SecureRequestCustomizer` handles setting up these "is it secure" features.
2. For front end terminated SSL/TLS (like a load balancer), the `ForwardedRequestCustomizer` does the job that `SecureRequestCustomizer` does.

Some "is it secure"

[2020-04-23 16:06] chuck-confluent opened #4807 "Does LdapLoginModule support StartTLS?"
**Jetty version**
N/A

**Java version**
11.0.7

**Question**
Does `org.eclipse.jetty.jaas.spi.LdapLoginModule` support StartTLS? I am using Apache Directory Service, and [the docs](https://directory.apache.org/apacheds/basic-ug/3.3-enabling-ssl.html#transport-layer-security-and-ldap) say that LDAPS is considered deprecated and to use the StartTLS option instead. I am using software that connects t

[2020-04-23 16:19] IndiscriminateCoding commented on #4805
@joakime got it, thanks for detailed answer! I'm closing the issue

[2020-04-23 16:19] #4805 closed, assigned to nobody

[2020-04-23 16:26] joakime commented on #4807
The `LdapLoginModule` uses `javax.naming.directory.InitialDirContext` to establish the context to the LDAP server.

The `contextFactory` and/or environment you give it should determine how it connects to that LDAP server. (including the StartTLS features you are looking for).

For Apache Directory Service, look into `tc.startTLS.LdapTlsContextFactory`

[2020-04-23 17:16] #4807 closed, assigned to nobody

[2020-04-23 17:55] sbordet commented on #4806
@IndiscriminateCoding it's expected to return `HTTP/2.0`, but we have no evidence that you are using Jetty correctly and that you are actually using HTTP/2.

You have to detail much better what is your configuration, what is the client, what is the server, whether you have network elements such as load balancers in the middle, and provide proof of what you are saying.

[2020-04-23 18:13] IndiscriminateCoding commented on #4806
@sbordet here is the code:
[code]

Calling it with curl shows that h2c upgrade was used:
[code]

Yet it prints HTTP/1.1:

[code]

[2020-04-23 18:57] sbordet commented on #4806
Could be that cURL sends HTTP/1.1.

Please enable server-side DEBUG logs (just run Jetty with `-Dorg.eclipse.jetty.http2.LEVEL=DEBUG`), so we will see what cURL sends to the server.

[2020-04-23 19:08] IndiscriminateCoding commented on #4806
@sbordet
Here is the server log:
[code]

[2020-04-23 20:02] sbordet commented on #4806
A HTTP/1.1 to HTTP/2 upgrade works in this way: the upgrade is requesting a resource and asking to be delivered back as HTTP/2: you have a HTTP/1.1 _request_, but a HTTP/2 _response_.

So I think it's normal that you see HTTP/1.1 as version for an upgrade request.

I would expect that you see HTTP/2 if you use:

[code]

That will send a HTTP/2 request directly without upgrade.

[2020-04-23 20:11] sbordet opened #4808 "Review HttpClient Request header APIs"
**Jetty version**
10.0.x

**Description**
In light of #4773 and #4777, the client `Request.header()` API should be reviewed.

Currently, there is only one API: `header(String, String)`.
This has the problem that there is no semantic for add/put (i.e. add the header, or replace the header), there is no semantic for remove (you have to pass a `null` value), and it's not optimal if you already have t

[2020-04-23 20:12] sbordet commented on #4808
See also #577.

[2020-04-23 21:09] sbordet commented on #3580
See also #4798.

[2020-04-23 21:52] pkcs11newbie commented on #4799
Hello..

Am I using TLS v1.3 protocol ? I see references to TLSv1.2 in the log

jetty version - 9.4.26.v20200117
Java version - OpenJDK11.0.4
Firefox version - 70

Based on below pic, i would think jetty embedded server is TLS v1.3:
![image](https://user-images.githubusercontent.com/30663103/80149866-ff118a80-857c-11ea-977b-e62484209a7f.png)

Handshake:
[Handshake.log](https://github.com/eclipse/j

[2020-04-23 21:59] sbordet commented on #4799
It is TLSv1.3.

Search for "1.3" in your logs and you will see that it is the only protocol the client supports, and the server negotiates it with the client.

[2020-04-24 08:01] #4794 closed, assigned to janbartel

[2020-04-24 09:11] prateekkohli2112 opened #4809 "Set a max number of requests per connection"
9.4.24.v20191120

jdk1.8.0_201

Linux

Already discussed the same in https://github.com/eclipse/jetty.project/issues/4651 issue.

Actually we are planning to have a L4 load balancer between Jetty client and HTTP server. The load balancer routes traffic based on established connections with the backend servers. Load balancer will maintain a mapping between a client connection and backend server con

[2020-04-24 09:12] prateekkohli2112 commented on #4651
Raised below issue https://github.com/eclipse/jetty.project/issues/4809 for setting max number of requests per connection:

https://github.com/eclipse/jetty.project/issues/4809

[2020-04-24 09:12] #4651 closed, assigned to nobody

[2020-04-24 09:19] prateekkohli2112 commented on #4809
I guess this can be done by allowing user to set initial Stream id number.

[2020-04-24 10:22] lorban commented on #4798
Maybe we could try and/or document to check other `Selector` implementations? They can be changed by setting the `java.nio.channels.spi.SelectorProvider` system property to a class name and I found a few in the OpenJDK 11 source code:

 - Linux-specific `sun.nio.ch.EPollSelectorProvider`, which is the default one on this platform: https://github.com/AdoptOpenJDK/openjdk-jdk11/tree/master/src/java.

[2020-04-24 13:11] pkcs11newbie commented on #4799
Thank you for confirming..

My bad I should have checked out TLSv1.3 draft. it clearly has this section..
![image](https://user-images.githubusercontent.com/30663103/80215982-fcf20f00-8602-11ea-9c2e-a8d6f8d6e773.png)

[2020-04-24 17:15] joakime opened #4812 "Add more variations to Proxy testing"
**Jetty version**
10.0.x

**Description**
Currently, the `ProxyServletTest` does ...

(Client)->http/1->(ProxyImpl)->http/1->(Server)

with all 3 implementations (`ProxyServlet`, `AsyncProxyServlet`, and `AsyncMiddleManServlet`)

It would be nice to also be able to test the protocol varieties as well.

Client Communications: HTTP/1, TLS+HTTP/1, HTTP/2
Proxy Communications (to Server): HTTP/1, TLS+

[2020-04-25 03:21] nddipiazza commented on #2142
I provide all the steps to make the change here:
https://stackoverflow.com/questions/25435941/jetty-request-log-rotation-size-based/61420554#61420554

[2020-04-25 07:47] gregw opened #4814 "Allow a ConnectionFactory (eg SslConnectionFactory) to automatically add a Customizer"
Allows a ConnectionFactory to inspect Customizers and add optionally add a missing one.

[2020-04-25 11:07] IndiscriminateCoding commented on #4806
@sbordet thanks! That makes sense. I'm closing the issue

[2020-04-25 11:07] #4806 closed, assigned to nobody

[2020-04-25 16:44] gregw commented on #4809
An alternative approach that would not need significant resources would be to just randomly close connections after every request - potentially by having a request customizer that added the `Connection:close` header to the response with some random probability.    But this would only work for HTTP/1   @sbordet is there a way to do something similar for h2?

[2020-04-26 20:00] SambaDamerla commented on #4793
Thanks @sbordet

[2020-04-26 20:00] #4793 closed, assigned to nobody

[2020-04-26 20:05] sbordet commented on #4793
@SambaDamerla what was exactly the problem?
As more information in case someone stumbles on this issue.

[2020-04-26 20:33] SambaDamerla commented on #4793
@sbordet Thanks for check the problem.
Here is my problem, from past one year we were seeing communication error with Resetlet (version 2.3.12). It is happening when there is sudden spike of repose time of my third party dependency services or some network problem for couple of minutes. And my VM is not recovering fast until I bounce the VMs. Even though I set the socket time out settings as 5Sec,

[2020-04-27 08:36] sbordet commented on #4793
@SambaDamerla the files are not attached.

For your scenario, you want to use `request.startAsync()` and process requests asynchronously.

Also, the client must be prepared to wait for a long time if you have these problems, or timeout early (don't wait a full minute for a HTTP request!) and try again.

Your application should be prepared to these kind of failures, so I would set the timeouts to t

[2020-04-27 12:24] joakime opened #4817 "Documentation for JettyJspServlet init-params table is mangled"
**Jetty version**
Jetty 9.4.x

**Description**

See table Table 8.1. Understanding Apache JspServlet Parameters
https://www.eclipse.org/jetty/documentation/current/configuring-jsp.html#compiling-jsps

About 1/3 down the columns are shifted left by one, and once again even further down.

[2020-04-27 12:28] joakime opened #4818 "Documentation example for using defaultsDescriptor has extra ">" chars in wrong places"
**Jetty version**
9.4.x

**Description**

The documentation at
https://www.eclipse.org/jetty/documentation/current/configuring-jsp.html#overriding-webdefault.xml

has some badly formatted XML with extra ">" characters

[code]

[2020-04-27 13:38] janbartel commented on #4817
Fixed.

[2020-04-27 13:38] #4817 closed, assigned to janbartel

[2020-04-27 13:59] joakime opened #4819 "Some methods used on Jetty 9.2.29 are not available on Android API 23 (or older)"
**Jetty version**
Android API 23 (or older)

**Java version**
Android

**OS type/version**
Android

**Description**
Some SSL/TLS code paths in Jetty use methods that are only introduced in Android API 24.
Using this Jetty code on Android API 23 (or older) causes NoSuchMethodError exceptions.

Ignoring these NoSuchMethodError exceptions and continuing is acceptable on these older Android API revisi

[2020-04-27 14:01] sdybiec opened #4820 "org.eclipse.jetty.osgi.boot.internal.serverfactory.DefaultJettyAtJettyHomeHelper refers to non-existent config file"
**Jetty version** 9.4.28

**Java version** 8

**OS type/version** Windows 7

**Description**
Jetty 9.4.28 will not boot using OSGi and dies with this exception. 'jetty-deployer.xml' is no longer part of the 9.4.x distribution.

Caused by: java.nio.file.NoSuchFileException: S:\jetty-osgi-9.4-workspace\jetty.osgi\jettyhome\etc\jetty-deployer.xml
	at sun.nio.fs.WindowsException.translateToIOException

[2020-04-27 14:02] janbartel commented on #4818
Fixed.

[2020-04-27 14:02] #4818 closed, assigned to janbartel

[2020-04-27 14:04] janbartel commented on #4820
@sdybiec  can you provide more description about your deployment environment? Again, osgi works for jetty-9.4.28 as evidenced by the REPO/jetty-osgi/test-jetty-osgi tests. We need to work out how your environment differs from the test environment.

[2020-04-27 14:10] joakime commented on #4820
@janbartel the `jetty-deployer.xml` on the `DefaultJettyAtJettyHomeHelper.DEFAULT_JETTY_ETC_FILES` will work in testing, as our testing has that file.

The file (in src/test/config) ...

https://github.com/eclipse/jetty.project/blob/jetty-9.4.28.v20200408/jetty-osgi/test-jetty-osgi/src/test/config/etc/jetty-deployer.xml

The reference to it ...

https://github.com/eclipse/jetty.project/blob/ab228f

[2020-04-27 15:09] joakime commented on #4820
PR #4821 opened

[2020-04-27 15:21] lorban opened #4822 "Improve Jetty HTTP client's garbage churn"
**Jetty version**
9.4.28

**Java version**
11.0.7

**OS type/version**
Ubuntu 20.04

**Description**
The Jetty HTTP client generates a relatively large amount of garbage during normal operations, some of which could easily be avoided.

Here are the top offenders I found:

[code]

I've used the Flight Recorder to profile heap allocation; and here's the benchmark I wrote for this purpose: https://gi

[2020-04-27 21:31] #4787 closed, assigned to nobody

[2020-04-28 09:42] janbartel commented on #4820
Fixed.

[2020-04-28 09:42] #4820 closed, assigned to janbartel

[2020-04-28 13:00] lorban commented on #4717
Here's my theory of what's happening, based on the information at hand:

Jetty's ChannelEndPoint.doClose() calls _channel.close() which eventually calls the FileDispatcherImpl.preClose0() native method.
The native method reads the file descriptor of the socket, and calls `dup2` from an internally saved file descriptor onto the socket's; that internal fd was created earlier on by calling `socketpai

[2020-04-28 13:04] lorban commented on #4717
Oh, and assuming Jenkins won't serve a ton of traffic, maybe switching the SelectorProvider to a different implementation would make the problem go away? Since the problem seems to be somewhere between the JVM and the OS, this has some chances to work around the problem.

If you wan to try this out, just set the `java.nio.channels.spi.SelectorProvider` system property to `sun.nio.ch.PollSelectorPr

[2020-04-28 13:51] BrownKathy commented on #4798
Thank you for the update.  Can you provide more detail about what the fix is doing specifically, any performance impact it has and what build you are intending to put it in?  Will you have something for @Amarendraar23 to test?

[2020-04-28 16:31] joakime commented on #4819
PR #4811 merged.

[2020-04-28 16:31] #4819 closed, assigned to joakime

[2020-04-28 18:23] jbfru45 opened #4824 "WebSocket server outgoing message queue memory growth"
**Jetty version**
9.4.27.v20200227
**Java version**
OpenJDK 11.0.3
**OS type/version**
Amazon Linux 2
**Description**
We have observed excessive JVM heap growth twice in the last couple days, and a heap dump shows the majority of the growth is due to a backup of outgoing Jetty WebSocket FrameEntries stored in a single org.eclipse.jetty.websocket.common.extensions.ExtensionStack (see heap dump scre

[2020-04-28 18:26] sdybiec commented on #4820
You're awesome. Thanks for fixing this.

To your question about my setup, I'm using the instructions on this web page to build and test my Jetty-on-Equinox environments.

https://www.eclipse.org/jetty/documentation/current/framework-jetty-osgi.html

They mostly work for the 9.3.x series, but now struggling to get 9.4.x to work. I'll keep you posted.

[2020-04-28 18:41] joakime commented on #4824
Are you paying attention to the results of the `WriteCallback`?

It is up to the Application to not overwhelm the async write as it's non-blocking and queues messages.
The application should backoff from writing if there is an excess of messages that haven't resulted in success/failure yet.

[2020-04-28 18:54] jbfru45 commented on #4824
We are logging the result in WriteCallback but do not track a pending count. CPU was under 15% and network bandwidth was not saturated from our server's perspective.

Is this queue for the entire server or is it per session? If it is a single session, I could track the outgoing count for a connection and kill it if it becomes too backed up.

[2020-04-28 19:40] joakime commented on #4824
It is per WebSocket Session.

There is no exposed API for accessing the queue depth either before the extension stack or after.
The queue is an internal implementation detail that has undergone many changes in its lifetime to address reported issues.
Even through these changes, the concept of the queue existing is ever present, and that is the nature of going Async vs Blocking.

Many projects usin

[2020-04-28 21:14] jbfru45 commented on #4824
Okay, the heap dump showed over 300k messages pending in that ExtensionStack, so I assume that was likely just a single slow client connection?

We operate a "fire and forget" outgoing notification system, so I think tracking the pending count per session and dropping messages if the count gets too high is a reasonable approach. We have similar logic at other levels of the stack.

[2020-04-28 21:37] joakime commented on #4824
300k is a lot, and it could be from a single slow client if you don't pay attention to the async results.

Have you considered a more robust library for notifying clients like cometd (with websocket support)?
https://cometd.org/

It manages the write queue for you.
Is a pub/sub messaging setup, with client libs (stand alone or browser+javascript), and server libs (works very well with Jetty).
Don'

[2020-04-29 09:39] janbartel opened #4825 "PushBuilder tck test failures"
**10.0.x**
serverPushCookieTest:
https://github.com/eclipse-ee4j/jakartaee-tck/blob/8.0.2/src/com/sun/ts/tests/servlet/spec/serverpush/TestServlet4.java
Fails because jetty does not copy Set-Cookie headers from the response to Cookie headers on the PushBuilder

serverPushInitTest:
https://github.com/eclipse-ee4j/jakartaee-tck/blob/8.0.2/src/com/sun/ts/tests/servlet/spec/serverpush/TestServlet2.jav

[2020-04-29 09:45] #4814 closed, assigned to nobody

[2020-04-29 10:22] sbordet commented on #4800
See also: https://bugs.openjdk.java.net/browse/JDK-8244090 and discussion: https://mail.openjdk.java.net/pipermail/core-libs-dev/2020-April/066089.html

[2020-04-29 11:23] janbartel opened #4826 "Upgrade to Apache Jasper 8.5.54"
**9.4.x**

[2020-04-29 12:43] mofleury opened #4827 "jetty-client : upon timeout, how to know if server was too slow, or if request was queued too long?"
**Jetty version**
9.4.24.v20191120

**Java version**
1.8.0_172, should not matter

**Question**
Jetty client is very good at handling NIO and timeouts, but there is one thing that is causing us headaches at the moment : when a request times out because the response was not received before the read timeout has elapsed, the exception that we receive in the stack trace has a root cause "Total timeout

[2020-04-29 13:14] sbordet commented on #4827
@mofleury I think you can already do what you want:

[code]

When you get a failure due to the total timeout exception, you can query the request attribute to know whether the request was committed (i.e. sent over the network) or not.

[2020-04-29 14:09] chietti opened #4828 "NIO ByteBuffer corruption in embedded Jetty server"
**Jetty 9.4.26.v20200117**

**OpenJDK 64-Bit Server VM, Version: 11.0.5**

**Linux, Version: 4.14.114-83.126.amzn1.x86_64**

On one of our server cluster nodes we observed a sudden occurrence of these exceptions while writing http responses from our servlet on the embedded Jetty webserver:

[code]

At the same time the other servers of the cluster started to complain that they got messages which s

[2020-04-29 14:15] mofleury commented on #4827
that looks very promising, thank you for the quick response! I'll experiment with this option, and will let you know if it is sufficient for my need asap.

[2020-04-29 14:53] mofleury commented on #4827
Your trick helped a lot, I can now detect these cases, and provide information in the stacktrace of the error. In case you are interested, my solution looks like this :
[code]

I had to subclass the client to be able to inject the bahaviour into the JAX-RS JettyConnector, and use a suppressed exception to attach information to the failure ; both of these tricks are not very nice, but they get the

[2020-04-29 14:53] #4827 closed, assigned to nobody

[2020-04-29 15:10] sbordet commented on #2188
Fixed in the context of #4695.

[2020-04-29 15:10] #2188 closed

[2020-04-29 15:11] sbordet commented on #3673
Fixed in the context of #4695.

[2020-04-29 15:11] #3673 closed

[2020-04-29 15:11] sbordet commented on #4695
Fixed in #4803.

[2020-04-29 15:11] #4695 closed, assigned to sbordet, lorban

[2020-04-29 15:19] gregw commented on #4828
I'm moderately sure there is not a race between `HttpConnection$SendCallBack.process()` and `onCompleted()` because the later should not be called until the last send has completed it's processing.
That comment about "slight race with #completed" doesn't look good, but I think it is out of date as the whole completion conversation has been refactored since 2014.

However, I do agree that is sounds

[2020-04-29 15:24] sbordet commented on #4827
@mofleury I would ask the JAX-RS JettyConnector to expose an overridable method (or setting a function) to allow to easily customize the request, so you would override/set the JAX-RS JettyConnector rather than Jetty's `HttpClient`.

[2020-04-29 15:37] BrownKathy commented on #4798
Is there any performance impact it has and what build you are intending to put it in? Will you have something for @Amarendraar23 to test?

[2020-04-29 17:12] janbartel commented on #4826
CQ 22026 raised @ Eclipse

[2020-04-29 20:02] jbfru45 commented on #4824
We have many 3rd party clients that use our platform, so even if we added support for a new standard on the server side we would have to support both implementations for quite a while. We eventually hope to move to a managed MQTT solution, but that is likely a ways off as well.

I found this issue stating that a websocket async send timeout was implemented in Jetty 10, but not 9.4: https://github.

[2020-04-29 20:42] rymsha commented on #4824
This is my current problem as well.
Callback is called before ACK is received from the client.
Actually "blocking" send also returns before ACK!

In all examples I found (including cometd) async call immediately followed by future.get() (how is it better than blocking?) or ignore future/callback all together (causing internal queue to grow unlimitedly).

[2020-04-29 20:57] joakime commented on #4824
Every time you use the send methods that async send timeout resets.
If you continue to actually send periodically, that timeout will not help you.

[2020-04-29 21:04] joakime commented on #4824
The callback success is called once it's successfully written to the network.

After that, all of the normal TCP behaviors apply.
The network can do all sorts of buffering / aggregation and whatnot on it's own without Java being involved.
With writes to a slow remote, you'll eventually reach a point of TCP congestion where there's enough that's been written, but the remote side hasn't read enough.

[2020-04-29 21:09] joakime commented on #4824
TCP ACK is layer 4.
We (Jetty, HTTP, WebSocket) are all the way up at Layer 7.
If you want to know with 100% certainty that the remote side got the websocket message, then you need a layer 7 ACK.  A websocket messaging specific ACK.
Which is what many libraries built on websocket do (including cometd, which has a cometd ACK extension).

[2020-04-29 21:18] jbfru45 commented on #4824
Got it, so Java's TCP layer will eventually apply back pressure when its own queue fills up which will cause Jetty's WriteCallback to be delayed as well. That's what I hoped but wanted to confirm. I should be able to try this out tomorrow. Thanks for all your help.

[2020-04-29 21:39] rymsha commented on #4824
Thanks for such a great great response @joakime
 Repeating your question:

For me
- it could prevent severe OOMEs (replacing it with less severe Exception and keep server alive)
- it could be used as a signal to stop sending more messages to slow client

[2020-04-29 21:57] joakime commented on #4824
Here's a testcase showing the websocket backpressure.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.x-4824-websocket-backpress-test/jetty-websocket/jetty-websocket-tests/src/test/java/org/eclipse/jetty/websocket/tests/CongestedServerTest.java

The output shows you how the backpressure behaves.

[2020-04-29 23:44] lachlan-roberts commented on #4824
If it hits the limit, all further attempts to add fail the requested writes immediately?
Also, I think this concept would have to be on the pre-extensionStack writeflusher.

@joakime I'm not really sure it is correct to fail frames without failing the connection. What if I sent three frames it drops the middle one and then the other side sees only the first and last frame?

But I think this would

[2020-04-30 04:30] SambaDamerla commented on #4793
Hi @sbordet ,
Sorry for the late reply
We already implemented, server's to wait for dependency call to respond with the SocketTimeout setting (which 2000ms). We throw HTTP status 503 to my clients if dependency API didn't respond with the SocketTimeout. My clients will either do one or two retires or show proper error messages to customers.
Also if my sever has to do multiple third party dependenc

[2020-04-30 11:02] lorban commented on #4789
What do you exactly mean with _**running from**_ `AbstractLifeCycle.java:72`?

The `ShutdownThread` is usually registered as a shutdown hook when [setStopAtShutdown(true)](https://www.eclipse.org/jetty/javadoc/9.3.24.v20180605/org/eclipse/jetty/server/Server.html#setStopAtShutdown-boolean-) is called on the `Server` instance, and should only run when the JVM is shutting down.

While we could set t

[2020-04-30 11:45] gonphsn commented on #4789
The provided stack snippet was the top line of thread dump entry and the only mutually relevant context of where the the thread was running from, I omitted the rest. I don't recall I captured this at shutdown or not, but if you say this should only occur at shutdown, I'll defer to your judgement and agree that was probably the case. Thread should still have a name as best practice the next time th

[2020-04-30 15:24] joakime opened #4830 "Add JMX to new Jetty 10 jetty-slf4j-impl"
**Jetty version**
10.0.x

**Description**
Add ability to manage the jetty-slf4j-impl runtime via jmx.

[2020-05-01 08:16] ThiyagarajanManivannan opened #4833 "ClosedChannelException & CancelledKeyException"
**Jetty version**
9.3.21.v20170918

**Java version**
openjdk version "1.8.0_222"

**OS type/version**
Description:    Red Hat Enterprise Linux Server release 7.7 (Maipo)
Release:        7.7
Codename:       Maipo

**Description**
In our Restful service we use Jetty server of version 9.3.21.v20170918 (Java version : jdk1.8.0_222).
When we continuously  send HTTP Request POST, PUT, GET towards the se

[2020-05-01 09:07] #4825 closed, assigned to janbartel

[2020-05-01 10:12] sbordet commented on #4833
The log lines are printed out when the request is being processed and the idle timeout expires.
Per the Servlet specification, the idle timeout should be ignored to let the request processing continue.

There is a very good chance that similarly that your load test is broken (the client cannot handle the load it generates), or that the server application is broken (takes too much time to process a

[2020-05-01 13:48] sdybiec opened #4834 "Some JSP page compilation broken when running on OSGi"
**Jetty version** 9.4.28

**Java version** 8

**OS type/version** Windows 7

**Description** Using the instructions on the Jetty OSGi page to build my Jetty-on-Equinox environment, then testing using the standard JSP examples, I found that several JSPs are broken and result in the same exception included below. Here's the source code for a few of the broken pages:

https://github.com/hash2100/prog

[2020-05-01 14:26] janbartel commented on #4834
Hmm, well you are using apache jasper from 9.x series with jetty-9.4 that is targetted against the 8.5.x series of jasper.

Also, the org.mortbay.jasper.apache-jsp manifest already contains an Import-Package statement for javax.el.

Can you make a small example webapp?

I have seen this error before, but only when I tested upgrading to apache jasper 8.5.50, and it was in a different place, so it w

[2020-05-01 15:08] joakime commented on #4834
Details from `org.mortbay.jasper:apache-jsp:8.5.49` (the version the OP is using).

List of packages (with class files):

[code]

The `META-INF/MANIFEST.MF`

[code]

The Exports / Imports reformatted to be easier to read.

[code]

I noticed that the only package from this jar that is also _not_ present in `Export-Packages` is `org.apache.tomcat.util.descriptor`

Which has the following classes.

[

[2020-05-01 16:56] ThiyagarajanManivannan commented on #4833
Thanks for your reply

In server-side we use the default idle timeout as 30000ms, Whether it is recommended to increase the idleTimeout value in jetty xml. How much it can be increased or it is based on my load test traffic towards the server?
Basically this is to check whether server is taking more time to process the request.

Below are more debug logs from jetty, as you mentioned cause of the e

[2020-05-01 18:06] geeknotnerd opened #4835 "GzipHandler and GzipHttpOutputInterceptor do not flush response when body is empty"
**Jetty version**
9.4.15.v20190215
**Java version**
Java 11
**OS type/version**
Most Os (Mac and Unix)
**Description**

Recently we switched to Jetty 9.4 from Jetty 9.0. Jetty 9.4 comes with GzipHandler so we used that. At the request processing time we flush out response to send back (link) headers to browser early by doing response.flushBuffer(), this is done on purpose. In jetty 9.0's GzipFilte

[2020-05-01 18:33] joakime commented on #4835
9.4.15 is old. (and has a few CVEs filed against it - https://www.eclipse.org/jetty/security-reports.html)
Please, upgrade your version of Jetty.
Version 9.4.28.v20200408 is the latest on the Jetty 9.4.x series.
https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.28.v20200408
https://search.maven.org/search?q=g:org.eclipse.jetty%20AND%20v:9.4.28.v20200408

What are your `HttpServletRes

[2020-05-01 18:54] joakime commented on #4835
Looking at the code, it seems that on initial flush the `GzipHttpOutputInterceptor.gzip()` method executes.

https://github.com/eclipse/jetty.project/blob/ab228fde9e55e9164c738d7fa121f8ac5acd51c9/jetty-server/src/main/java/org/eclipse/jetty/server/handler/gzip/GzipHttpOutputInterceptor.java#L135-L141

Which enters with the parameters ...

* **content** - java.nio.HeapByteBuffer[pos=0 lim=0 cap=0]

[2020-05-01 18:59] joakime commented on #4835
Small demo project that reproduces the report.

Use `curl` in verbose mode to follow along in the behavior.

[code]

[code]

[2020-05-01 19:30] nkitiyakara opened #4836 "Too Many Files Error with AWS ALB"
I've opened a support case with AWS about this as well, but it might be worth someone looking at it to see about hardening against misbehaving load balancers or other components.

We have an application that would occasionally get this error:

java.io.IOException: Too many open files
at sun.nio.ch.ServerSocketChannelImpl.accept0(Native Method)
at sun.nio.ch.ServerSocketChannelImpl.accept(ServerSoc

[2020-05-01 19:46] joakime commented on #4836
What version of Jetty?
What version of Java?

[2020-05-01 20:22] sbordet commented on #4833
@ThiyaguRamachandaran there is not enough information to help you. You post only portions of the DEBUG logs (why?) and we don't know if you have another network element between the client and the server, nor we know what the server is doing, you talk about exception but never showed a stack trace, etc.

Increasing the idle timeout on the server won't typically improve things - on the contrary.

Pl

[2020-05-01 20:24] nkitiyakara commented on #4836
Sorry, end of the day thinking.

Jetty version 9.4.28.  (Full details can be determined from the
build.gradle file.)
I tested against both Java 8 and Java 11.  Same results in both cases.

*Narti Kitiyakara* | ConnectDER
703-887-7640 <(703)+887-7640> | nkitiyakara@ConnectDER.com

On Fri, May 1, 2020 at 3:46 PM Joakim Erdfelt <notifications@github.com>
wrote:

[2020-05-01 20:52] joakime commented on #4836
What is your open files configuration on that EC2 node?
What is your Jetty configuration on that EC2 node?

[2020-05-01 21:01] joakime commented on #4836
The example project shows a fairly simple HTTP/2 server faced by Javalin, serving 1 endpoint (it outputs some HTML with some context details; time, remote-addr, protocol, scheme).
The jmeter test is highly specific to your specific AWS nodes and configuration, so we cannot use it locally.
The jmeter behavior / test plan isn't that remarkable, quite ordinary, and basic.
Configuring the jmeter plan

[2020-05-01 22:46] nkitiyakara commented on #4836
As I said, the connection leak only happened when I accessed the site through the AWS ALB, and I have a support case open with them, too.  My suspicion is that the ALB is doing something incorrectly that causes the connection leak, so I don't expect that you'd be able to reproduce it locally, anyway.  I just wanted you be aware of it in care there was some hardening that could be done on the Jetty

[2020-05-02 03:56] ThiyagarajanManivannan commented on #4833
@sbordet I've attached more information, Please find the java flight recording taken for 30 seconds duration on server side which has the ClosedChannelException & CancelledKeyException thrown and jetty debug logs in server-side. The request are send directly to server from client. While running with one request or with less number of traffic say 50TPS these exception are not observed. We could obs

[2020-05-02 10:15] boughtonp commented on #3548
This issue is still valid (should not be closed yet), unless the documentation has been updated as per Jan's comment:

I cannot verify this with the online documentation because there's a broken redirect (raised at https://github.com/eclipse/jetty.website/issues/3) but checking local v9.4.26 docs I don't see any relevant changes.

[2020-05-02 10:19] sbordet commented on #4833
@ThiyagarajanManiv I believe the problem is your application.

Probably it cannot handle more than say 50 TPS and the client starts closing connections because the server does not reply in time.
The JFR file shows you are doing blocking socket I/O, which probably steals threads from the Jetty thread pool which eventually makes your application unresponsive.

Sorry, but this seems to me an applicat

[2020-05-02 10:55] sbordet commented on #4793
@SambaDamerla I cannot really help you, as all your attachments show some application code.

I don't see how this is a Jetty issue.

[2020-05-02 15:23] ThiyagarajanManivannan commented on #4833
To correct it I said If I have run till 50 TPS I haven't faced these exceptions and More traffic I meant here is around 1200-1500 TPS with 50 -60% of CPU we face this issue.

If I understand it, By default, TCP sockets are placed in a blocking mode, Client and server using TCP connection with blocking socket I/O, This means that the control is not returned to the application but jetty rejects the

[2020-05-02 15:34] sbordet commented on #4833
@ThiyagarajanManiv the blocking sockets are used by your application, which probably consume all threads in the thread pool by blocking on those socket.
At that point, Jetty has no available threads to function properly.

You have provided no evidence that this is a Jetty issue - so far I can only suspect an application that blocks on I/O and bad load testing, sorry.

[2020-05-02 16:07] nkitiyakara commented on #4836
I reran my experiment for each access method (direct and through an ALB) with tcpdump running for part of each.  I left tcpdump running for around 20 minutes each time, but at that point the file was about 2.5 GB, so I didn't want to let tcpdump run longer and didn't want to attach the full files here.  (I'm uploading to Google drive and can send a shared link if you want the full capture.)  Inste

[2020-05-03 13:57] mikelee3 opened #4841 "Jetty Documentation link is pointing to Archived Eclipse Projects"
I've recently started using Jetty on an existing project and am trying to find the documentation.

The README.md says that the documentation for jetty is here
https://www.eclipse.org/jetty/documentation

However, it seems that everything under this url is redirecting here:
https://www.eclipse.org/projects/archives.php

Is this intentional? I cannot find anything about Jetty on the archives page an

[2020-05-03 14:01] sbordet commented on #4841
@mikelee3 sorry about this, we are talking to Eclipse to restore the website, which is pointing to the archives by mistake.

Thanks for reporting this, we'll update the issue as soon as it is resolved.

[2020-05-03 14:06] jmcc0nn3ll commented on #4841
I believe this is an issue with a bad regex on the eclipse side, a project called JET was recently archived and I think that is catching all eclipse jetty website traffic and making it look like the project is archived.

The issue has been re-escalated and hopefully will be sorted out soon!

[2020-05-03 14:56] sbordet commented on #4841
The website has been restored.

Closing the issue, please post whether it works for you, or if you have further problems.

Thanks!

[2020-05-03 14:56] #4841 closed, assigned to nobody

[2020-05-03 17:35] mikelee3 commented on #4841
Thanks, it's working for me now!

[2020-05-04 01:21] lachlan-roberts commented on #4800
The failing test has been disabled on JDK 14, now waiting on https://bugs.openjdk.java.net/browse/JDK-8244090 to get a workaround or fix for this issue.

[2020-05-04 06:14] chietti commented on #4828
Hi Greg,
thank you far the fast response. It is indeed not reproducable and has so far only happened twice in two different clusters (both with the same configuration).

To answer your questions:
- The traffic is all HTTP/1.
- POST requests only with a few HEAD requests "sprinkled" in for health checks
- The requests are all handled synchronously (no AsyncContext used in this configuration)
- _flu

[2020-05-04 06:21] gregw commented on #4828
Thanks for the extra info.

I would consider removing the `flushBuffer`.  It should not be necessary and jetty can be a lot more efficient if you leave the flushing to it (eg can sometimes do content-length rather than chunk bounding, can do an async flush of last content).     Note that this might avoid the problem rather than fix it, because it should also be perfectly fine to  do the flush.

In

[2020-05-04 09:31] sbordet commented on #4828
@gregw no, direct buffers are direct buffers.

Jetty produces `MappedByteBuffer`s only from `AfterContextTransformer` (used by `AsyncMiddleManServlet`) or by `CachedContentFactory` (where we do cache the mapped buffer, but we always return it via `asReadOnlyBuffer()`).

In both cases the `MappedByteBuffer` is created on the fly and not stored anywhere else, so I don't see a chance that something e

[2020-05-04 09:54] chietti commented on #4828
@sbordet Not in this context. The _CommunicationServlet_ is fully synchronous.

We parse the protobuf content, handle the messages in there and write back the response all in the same Jetty thread context.

I have to admit though that I can only speak for the protobuf layer. The server also hosts a lot of Jersey-based REST APIs that I am not familiar with as well well as a lot of other servlets wh

[2020-05-04 10:24] sbordet commented on #4828
@chietti you are using HTTP/1.1, I don't think other requests on other sockets can mess with this one.

Are you able to figure out from where the `MappedByteBuffer` comes from?
Perhaps via remote debugging, logging, or modifying the jetty source to add a log line if the buffer is a `MappedByteBuffer`?

[2020-05-04 11:00] #4778 closed, assigned to nobody

[2020-05-04 11:26] sbordet opened #4842 "Make PROXY protocol local address optional"
**Jetty version**
9.4.x

**Description**
In a setup where client C talks to a server S via a proxy P, and the proxy uses the PROXY protocol towards the server, it may be desirable that the local address is not overridden.

Given:

`C_ip:port -> P_server_ip:port -> P_client_ip:port -> S_ip:port`

In the typical case with the PROXY protocol, the application on the server sees `remote=C_ip:port` and

[2020-05-04 12:05] djelinski commented on #4828
FWIW, I get the same MappedByteBuffer lines in stacktrace when I run this on JDK 11: `ByteBuffer.allocateDirect(1).position(2);`
[code]

[2020-05-04 12:34] chietti commented on #4828
@sbordet you mean why there is a _DirectByteBuffer_ and not a _HeapByteBuffer_ in use?
_DirectByteBuffer_ is a subclass from the abstract _MappedByteBuffer_

[2020-05-04 13:32] chietti commented on #4828
As far as I understand the source code it cannot be caused by the _header or _chunk members since both are HeapByterBuffers (according to the HEADER_BUFFER_DIRECT and CHUNK_BUFFER_DIRECT constants). That leaves us with the _content member which is the _aggregate member in HttpOutput and that is a DirectByteBuffer (see HttpOutput.acquireBuffer()). I also verified that locally in the Debugger.

[2020-05-04 15:25] sbordet commented on #4828
I always forget this, so yeah, it's not a `MappedByteBuffer` but likely just a `DirectByteBuffer`.

Sorry what did you verify exactly? That the buffer that throws _is_ the aggregate buffer?

Do you have a reproducible test case for us?

[2020-05-04 15:33] sbordet commented on #4842
I think the best would be to expose all the information, somehow.
So perhaps keep the current behavior, and expose `P_client_ip:port` and `S_ip:port`.
This needs to work with TLS too.

@lorban please explore whether it's possible to use a request customizer (`HttpConfiguration.Customizer`) to implement this.

[2020-05-04 15:39] lorban opened #4843 "Proxy protocol v2 mistakenly ignores address length when LOCAL command is specified"
**Jetty version**
9.4.27

**Java version**
11.0.7

**OS type/version**
Linux

**Description**
Jetty does not correctly process a proxy-protocol v2 header when the command is LOCAL and the header's address length field is non-zero.

[2020-05-04 15:43] chietti commented on #4828
Sorry, that was a bit unclear: I verified that the _aggregate  in HttpOutput is a DirectByteBuffer which makes it the only candidate for me since the other two involved buffers (_chunk and _header) are HeapByteBuffers for sure as far as I understand the code here: `SendCallback.process(HttpConnection.java:809)`

[2020-05-04 17:15] sbordet commented on #4798
@lorban and I have done a couple of JMH benchmarks for both socket open/close and HTTP/1.0 requests (the worst cases for this change) and could not see any relevant performance difference - we checked with PerfNorm and PerfAsm profilers as well as load test throughput.

@Amarendraar23 can you please test the current `jetty-9.4.x` branch?

[2020-05-04 17:48] joakime commented on #4812
This would be duplicate effort, test already exists.

[2020-05-04 17:48] #4812 closed, assigned to nobody

[2020-05-04 20:15] toaler commented on #2500
Thanks guys, let me know when there is something ready to review.

[2020-05-04 20:38] sbordet commented on #2500
FTR, I started this work but not completed it yet:

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-documentation/src/main/asciidoc/embedded-guide/arch-listener.adoc

The link above is meant to reference the various sections that talk about listeners.
However, I think each specific part should document its own listeners, and here only have a summary of all the listeners.

[2020-05-04 20:45] michaelkwan commented on #4717
Just want to chime in on this issue.  We ran into this as well, changing the selector provider per @lorban suggested works; however, this has many impacts on nio and a real fix is needed in jetty lib.

[2020-05-05 08:56] lorban commented on #4717
@michaelkwan Thanks for trying out the suggested workaround. Could you please be more explicit about the nio impacts this has in your experience?

As far as I can tell, this seems to be caused by a bug somewhere between the JVM and the OS, and there is little Jetty could do to solve it.

If you could collect the debug logs of `org.eclipse.jetty.io.ChannelEndPoint` as I mentioned above while the pr

[2020-05-05 11:17] sbordet commented on #4842
@gregw how do you think this should be implemented?
Request attribute?
HTTP header similar to X-Forwarded-*?
Other?

[2020-05-05 13:15] mrsladek opened #4846 "Unexpected message - WARN AnnotationParser: Unrecognized ASM version, assuming ASM7"
Jetty (9.4.28.v20200408) on Java 11

Jetty seems to be emitting an warning at startup:
WARN AnnotationParser: Unrecognized ASM version, assuming ASM7

We have ASM version 8.0.1 in our project classpath.
When downgrading to version 7.0 the warning dissapears.
Is this behaviour intended?

[2020-05-05 13:42] geeknotnerd commented on #4835
Thanks for the quick response to this. May I know when (ETA) 9.4.29 will be released?

[2020-05-05 14:54] #4770 closed, assigned to nobody

[2020-05-05 14:55] joakime commented on #4835
Merged into `jetty-9.4.x` ...

[2020-05-05 14:55] #4835 closed, assigned to nobody

[2020-05-05 19:52] sbordet opened #4847 "Introduce socket configuration properties in Jetty XML files"
**Jetty version**
9.4.x

**Description**
It would be great if `jetty-http.xml` and `jetty-ssl.xml` have additional configuration properties for the common socket configuration parameters, in particular:

* tcpNoDelay
* rcvBufferSize
* sndBufferSize
* reuseAddress

Other parameters such as `keepAlive`, `soTimeout`, `OOBInline` are much less common, so they can be set by subclassing `ServerConnector

[2020-05-06 02:52] YutaHiguchi-bsn opened #4848 "Client certificate error results in EofException instead of SSLHandshakeException"
**Jetty version**
9.4.28.v20200408
9.4.27.v20200227
9.4.26.v20200117
9.4.24.v20191120
9.4.22.v20191022

Note: above are versions I've tested and had the issue.
I've skipped couple versions in the middle (e.g., 9.4.25)
It is not that version not listed did not have the problem.

**Java version**
$ java -version
openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10)
OpenJD

[2020-05-06 06:17] ThiyagarajanManivannan commented on #4833
@sbordet
Thanks!! But we use async handler of request handling, basically in our handler we have the request object with method and json body. we make the async response after we do the processing request.
Probably we don't do any blocking  I/O operation.
Same as below:
https://stackoverflow.com/questions/31562618/jersey-async-request-handling-with-programmatical-resource-registration

[2020-05-06 08:58] janbartel commented on #4846
This is expected: we currently ship with asm 7.2.  When you interact with asm, you have to pass in the expected api compatibility level, so far we support up to asm-7 compatibility. This log message is just saying that we parsed the version of asm from the manifest, but didn't recognize it (as we currently recognize only up to version 7). We will pass in api compatibility level 7 to the asm parser

[2020-05-06 08:58] #4846 closed, assigned to janbartel

[2020-05-06 12:59] lorban commented on #4842
Following our discussion, we're going for the request attributes.

[2020-05-06 15:03] joakime commented on #4808
I was initially a bit nervous at the removal of some APIs, like `Request.header(String, String)` as it's one of the most commonly used API methods.

But the replacement just feels and looks better.

Old example

[code]

New way

[code]

[2020-05-06 20:16] guymac opened #4850 "Sessions expire quickly on Windows"
I'm using the jetty maven plugin (9.4.28.v20200408) on windows 10. Http sessions expire in a matter of seconds. When testing (only one client), with HttpSessionListener I see a series of new session created events, e.g.
Session created with id node012ieqodlsh6if1tgtwfjvaz9205
Session created with id node0gz093mu7s45c140olicjkpcnk6
every few seconds.

[2020-05-07 12:32] janbartel commented on #4850
You haven't posted any jetty configuration, or any session configuration from your web.xml.  So I have to assume you're going with the defaults. The default for sessions is to never expire (their maxIdleTime is set to -1).  The only way this changes is if your code explicitly calls SessionHandler.setMaxInactiveInterval(int) or declares the session-config element in web.xml or you cast your HttpSes

[2020-05-07 12:33] janbartel commented on #4834
@sdybiec any progress with making a small repro webapp for me to test?

[2020-05-07 15:34] joakime commented on #4843
PR #4844 merged into `jetty-9.4.x`

[2020-05-07 15:34] #4843 closed, assigned to lorban

[2020-05-07 15:56] chietti commented on #4828
I had some time to look into the _HttpOutput_ implementation and I am wondering about the call of _releaseBuffer_(). There are three places where it is called (_completed_(), _onWriteComplete_() and _recycle_()). In onWriteComplete() and recycle() the call is done in the _synchronized_ block but in _completed_() it is done after the _synchronized_ block. Is that intentional? If not, is it possible

[2020-05-07 17:25] sdybiec commented on #4834
Not yet. Had to work on another project, so it'll be a couple weeks.

[2020-05-07 17:55] joakime commented on #4842
Merged PR #4849 into `jetty-9.4.x`

[2020-05-07 17:55] #4842 closed, assigned to lorban

[2020-05-07 18:22] TezzerFX opened #4852 "Feature request: FastCGI Loopback Option for Windows"
**Jetty version**
9.4.28.v20200408

**Java version**
java version "1.8.0_231"

**OS type/version**
Windows 10 Pro 1909

**Description**
The jetty documentation presumes the use of php-fpm, this is not available in the windows PHP distribution, only instances of the php-cgi.exe can be used. A single php-cgi.exe instance doesn’t facilitate a php loopback. In order to accomplish this, I did the follo

[2020-05-07 19:20] josepowera opened #4853 "Jetty HttpClient get remote IP address"
**Question**

When using Jetty HttpClient we connect to remote server via full URL using DNS name.
example: https://www.cnn.com/robots.txt

However for Tracing of have to get remote server IP after resolve was completed. That means that we need real IP address of www.cnn.com where Connection was established: 123.123.123.123.  or at least where Connection tryed but failed to establish.

Is there an

[2020-05-07 19:46] sbordet commented on #4852
Excuse my ignorance about Windows, but what does this mean exactly?

I feel you are asking to implement php-fpm for Windows, which is really not our business.

Making FastCGIProxyServlet _also_ a load balancer _and_ a process manager seems a bit too much.

[2020-05-07 19:53] sbordet commented on #4853
If there is a forward proxy, what address to you want to see, the proxy where the client connects to, or the server where the proxy connects to?

[2020-05-07 21:23] josepowera commented on #4853
HttpClient connects directly to final server (no intermediate forward proxy on our end). We are still at protocol HTTP/1.1 for this case.

If we used proxy (that we don't!) , it makes sense to get proxy server address (next upstream that you connect to)...   Same

[2020-05-07 21:45] sbordet commented on #4853
You see how this gets complicated really soon.

What you want to "trace" is application specific, so perhaps you want to do it in the application.
You get `www.cnn.com`, you resolve it to an IP, you trace it, and then you use the IP in `HttpClient`.
How does it sound?

[2020-05-07 21:54] guymac commented on #4850
Thank you. Yes, I do set the session-config to 120 minutes in my deployment descriptor:

[code]

I've passed the session debug parameter and now see:

[code]
That's all I see from the session manager.

As mentioned, I created a listener to try and figure out what is going on, it has these methods:

[code]

And, as soon as I view the application's front page, that's when I start seeing:

Session cr

[2020-05-07 22:20] josepowera commented on #4853
With tracing I mean Zipkin/Jaeger style...  What we wanted is to add remote IP to attributes in Jaeger span.

Something like in https://github.com/census-instrumentation/opencensus-java/blob/master/contrib/http_jetty_client/src/main/java/io/opencensus/contrib/http/jetty/client/HttpRequestListener.java

We used manual Resolve before httpclient.Send, until most sites moved to Https and than we had t

[2020-05-07 23:22] joakime commented on #4850
Dump the HTTP request header with the name/key "Cookie" with each incoming request too.
If those values are new / unique / missing that would explain why you have a new Session created each time.

[2020-05-07 23:26] joakime commented on #4853
Doing the resolve to IP, connect via IP, using `Host` header for the machine name seems like it wouldn't be very SNI friendly.

[2020-05-07 23:31] sbordet commented on #4853
@josepowera the class you linked does nothing more than forwarding to another class.

I fail to understand how IP addresses are related to sites moving to `https`?

[2020-05-08 00:05] TezzerFX commented on #4852
First this request does not ask for “process management”.  Any php-cgi.exe instances would be initiated by the user. On platforms other than windows Jetty relies on FPM this does not exist for windows PHP. That means that the “ProxyTo” url can only be a single instance of a php-cgi.exe.

The proxy requests are asynchronous but each request blocks until there is a response. Which means that if a gi

[2020-05-08 04:55] lachlan-roberts commented on #4722
The `websocket-servlet` module has been removed, the `JettyWebSocketServlet` is still present in the `websocket-jetty-server` module, and the common server classes and `WebSocketUpgradeFilter` have been moved to module `websocket-util-server` module.

[2020-05-08 04:55] #4722 closed, assigned to lachlan-roberts

[2020-05-08 07:06] lachlan-roberts opened #4855 "occasional h2spec failures on jenkins"
**Jetty version**
jetty-10.0.x

**Java version**
14.0.1, vendor: AdoptOpenJDK

**OS type/version**
"linux", version: "4.15.0-99-generic", arch: "amd64", family: "unix"

**Description**

Occasional h2spec failures on jenkins, I've seen this a few times now but it usually disappears if you re-run the build.

https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-9.4.x-4789

[2020-05-08 08:00] sbordet commented on #4852
They are not anymore since #4787.

[2020-05-08 08:42] sbordet commented on #4798
@Amarendraar23 news about the testing?

[2020-05-08 08:52] lachlan-roberts commented on #4789
We now name the shutdown thread with "JettyShutdownThread".

[2020-05-08 08:52] #4789 closed, assigned to nobody

[2020-05-08 12:10] BrownKathy commented on #4798
@sbordet, thank you for checking in.  We are still working through testing at this time.  We did initial testing and it seems ok but we are going to have our QA team test it as well.  We'll let you know what happens.

[2020-05-08 12:29] lorban opened #4857 "Add setReuseAddress() to Jetty 10's ClientConnector"
**Jetty version**
10.0.x

**Description**
Jetty 10's `ClientConnector` can bind a specific address and port but currently has no way to set the `SO_REUSEADDR` socket option when doing so.

[2020-05-08 13:25] sbordet commented on #4798
@BrownKathy we are preparing for the Jetty 9.4.29 release, probably early next week.
Do you think you'll have some data by then?

[2020-05-08 14:51] joakime commented on #4847
PR #4856 Merged.

[2020-05-08 14:51] #4847 closed, assigned to lorban

[2020-05-08 15:35] sbordet opened #4859 "Review HttpFields API consistency"
**Jetty version**
10

**Description**
Consider adding frequently used `HttpFields.addIfAbsent()`, `addIfNotNull()`.
Review `add*()` methods because in some cases for null values are noop, sometimes they throw etc.
Stick with strict APIs for `HttpFields`, and eventually implement throws in `Request`/`Response`.

[2020-05-08 15:52] #4808 closed, assigned to nobody

[2020-05-08 16:02] #4857 closed, assigned to lorban

[2020-05-08 16:04] joakime commented on #4859
PR #4845 merged.

[2020-05-08 16:04] #4859 closed, assigned to nobody

[2020-05-08 16:12] SpComb opened #4860 "org.eclipse.jetty.server.HttpChannel busyloop on HttpFields NullPointerException"
**Jetty version**

9.4.27

**Java version**

openjdk version "11.0.7" 2020-04-14 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.7+10-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.7+10-LTS, mixed mode, sharing)

**OS type/version**

Docker `centos:7` image

**Description**

We are suffering from an unknown issue with a corrupted response `org.eclipse.jetty.http.HttpFields`,  where the `_fields`

[2020-05-08 17:54] joakime commented on #4860
Do you have a reproduction example / testcase?
Does this happen in 9.4.28?
Which version of Jetty between 9.4.20 and 9.4.27 does it first happen on?

[2020-05-08 17:55] joakime commented on #4860
What HttpCompliance level are you configured for?

[2020-05-08 22:34] guymac commented on #4850
I should probably add that I don't get this behavior when the web-app is run on Linux or Mac OS (though with different JVMs, this test was with Amazon Corretto 8).

[2020-05-09 02:13] olamy commented on #3592
give this feature more time

[2020-05-09 07:42] gregw opened #4861 "Combine `AttributesMap` and `Attributes.Wrapper`"
We have previous identified that creating a map to hold request attributes can be a source of unnecessary garbage for simple requests that don't need attributes.  We now have two mechanism for dealing with this:

1. The `AttributesMap` class, which is itself lazily created, has an `AtomicReference` to the actual map used, which is only created if an attribute is set.
2. The `Attributes.Wrapper` cl

[2020-05-09 07:43] gregw commented on #4861
@lachlan-roberts @lorban , you have both worked in this area recently.  Can you team up to implement this? Either pair program or author/review, your call.

[2020-05-09 07:44] gregw commented on #4861
Oh and feel free to come up with a better solution!

[2020-05-09 09:07] janbartel commented on #4850
@guymac you're not seeing the debug from the session code at all. If you're running in maven, then you generally need to set up the logging in maven. On linux this is in $MAVEN_HOME/conf/logging/simplelogger.properties (no idea about windows sorry). You would add this line to that file:

`org.slf4j.simpleLogger.log.org.eclipse.jetty.server.session=debug`

You will then see a lot of debug about the

[2020-05-11 08:24] SpComb commented on #4860
Unfortunately no, we need to investigate and figure out why the underlying bug (the `HttpFields` corruption/NPE) is happening, and then we can repro this issue.

Logging the `HttpConnectionFactory.getHttpCompliance()` says `RFC7230`:

[code]

This is a spring-boot webapp using `org.springframework.boot.web.embedded.jetty.JettyServletWebServerFactory`, and I'm not aware of any specific HttpComplian

[2020-05-11 09:32] gregw commented on #4860
Very interesting!  I can see how we could protect from that null field and to recover better.... but will take a bit of time to try to see how that null field got there in the first place.  It's not the obvious just add a null field, so it may indicate some other bug.   But this is a show stopper for our next release, so will fix before that.

[2020-05-11 09:44] SpComb commented on #4860
Yes, I'd be happy to file an issue for the underlying `null` bug as well, but it's not easy to figure out what exactly is going on. For now, we're forced to rollback jetty 9.4.27 -> 9.4.20 so that our backend can survive that bug.

FWIW we're only seeing this very sporadically on the SSE (persistent HTTP connections) requests for a springboot application's webflux controller endpoint, so AFAIK the

[2020-05-11 09:56] gregw commented on #4860
@SpComb If it is a thread safety matter, then this is not really a jetty issue. The response object is really not a thread safe object and you can't have two threads manipulating headers at the same time. I know this is not clear in the spec... but async behaviour was stuffed into a non-async spec and a few edge cases were not well considered.   If that is the problem, then it is an application bu

[2020-05-11 10:12] gregw commented on #4860
Also, could it be that the first exception was sometimes happening before, but not the looping one?

[2020-05-11 10:30] SpComb commented on #4860
Yes, the `java.lang.NullPointerException` on `HttpFields.set` has been happening before, we're seeing something on the order of 0.02% of these SSE requests failing like this. With jetty 9.4.20, the backend survives, and our LB (nginx) is able to retry the request. With jetty 9.4.27, the backend's jetty thread busyloops and the backend eventually crashes.

[code]

[code]

[2020-05-11 12:11] gregw commented on #4860
@SpComb I've opened PR #4863 that makes a `httpFields.listIterator().next().set(null)` a noop rather than letting in a null value.
I've also added a paranoid catch so we will never loop even if this doesn't fix it.
I increased test coverage and found another bug whilst doing so.

Still I don't know if this really is the cause.   I'll have a bit of a look at SpringBoot to see if they have any jetty

[2020-05-11 12:39] gregw commented on #4860
A quick search of SpringBoot and framework code doesn't find any usage of our HttpFields listIterator directly, so I really doubt this is the bug that is causing the problem.
Do you have any other third party libraries that might use the jetty API?
Other than that, it's a possible bad concurrent access, in which case the paranoid catch should help.

[2020-05-11 13:04] gregw commented on #4828
I'm not entirely convinced that the synchronization is the problem, but then I can't convince myself that it is not.
So I have created #4864 to add some extra synchronization. @chietti any chance you could test a build of this over the next few days while we rebuild a release?

[2020-05-11 13:58] SpComb commented on #4860
Thanks for the fast response for the busyloop mitigations, and also helping to track down the underlying `HttpFields` bug! I'm not familiar with the spring implementations of these async handlers either, so the help is appreciated.

These `HttpFields` NPEs started happening after:

* Upgrading spring 5.2.0 -> 5.2.4
* Upgrading spring boot 2.2.0 -> 2.2.5
* Switching the problematic spring `@RestCon

[2020-05-11 14:59] mpuncel opened #4865 "Repeated "Could not process key for channel" IllegalStateException for unix sockets"
**Jetty version**
9.4.28.v20200408

**Java version**
11

**OS type/version**
Centos7

**Description**
I'm not sure if this is a jetty issue, or a jnr-unixsocket issue but I'd appreciate any directional help I can get on figuring this one out.

Under load, we sometimes see exceptions like the following when using unix sockets (we've never seen this with a port)

[code]
This exception will be thrown

[2020-05-11 17:58] dattasid opened #4866 "Is there any way to create a custom Client Certificate authenticator for Jetty, the same way you can configure a custom JAAS LoginModule?"
**Jetty version**
9.4.28
**Java version**
1.8.0
**Question**
Is there any way to create a custom Client Certificate authenticator for Jetty? Or maybe a custom Certificate to user name mapper ?

[2020-05-11 21:00] sbordet commented on #4866
Please detail much better your question. A simple code snippet with pseudo-code would help.

[2020-05-11 21:06] sbordet commented on #4865
@mpuncel if you can reproduce easily, can you please enable DEBUG logging and attach here the log file?

[2020-05-11 22:29] joakime commented on #4828
PR #4864 merged.
We can close this once @chietti confirms with us.

[2020-05-12 02:17] joakime commented on #4860
PR #4863 merged.

[2020-05-12 02:17] #4860 closed, assigned to gregw

[2020-05-12 06:14] chietti commented on #4828
Hi @gregw, since we have no reproducer we cannot confirm that this fixes the bug.
I talked to our load testing team and we can plan the internal rollout of version 9.4.29 in the next weeks once it was released by you. The only thing we can test is that in our scenarios the new version does not behave differently than the old one in terms of throughput, memory usage, CPU & GC overhead etc. I assume

[2020-05-12 07:18] gregw commented on #4865
Note that with the release 9.4.29 that is just about to come out, we have probably improved the failure behaviour in this case due to some other changes.  On exception handling we used to only close if there was an endpoint attachment.  Now if there is no endpoint, we close the channel.   Hopefully this will be enough to remove the key from the selector, so once something has gone bad, it doesn't

[2020-05-12 07:21] gregw commented on #4865
Also thinking about the root cause if this issue.... if it was a race, where the key was being selected before the attachment was attached, then I would think the attachement would eventually be set and the exception stop.   The fact that it doesn't stop suggests that it is not a race, but a lost attachement???

[2020-05-12 13:04] jtnord commented on #2205
I can reproduce what appears to be this issue fairly quickly by running the unit tests for one of our products (jenkins plugin) using `9.4.28.v20200408`

Firewall is stock windows defender, only other thing that use network is OpenVPN (2.5 preview with wintun)[https://openvpn.net/community-downloads/#heading-11020] but this happens regardless of if OpenVPN is running or connected.

Java version is

[2020-05-12 13:34] gregw commented on #2205
From out point of view, a DEBUG log or multiple (5 or more) thread dumps from a spinning server would help confirm this is the problem.

Any chance of at least running the same test with java 11 or 13 to see if the problem repeats there?

[2020-05-12 14:02] SpComb commented on #4860
I think I was able to find and confirm the thread-unsafe calls to jetty `Response.setHeader/addHeader` in the spring framework's reactive return value implementation (`ResponseBodyEmitterReturnValueHandler` + `ReactiveTypeHandler.SseEmitterSubscriber` using a `TaskExecutor` thread to call `HttpServletResponse.addHeader`), and filed an spring-framework issue: https://github.com/spring-projects/spri

[2020-05-12 14:05] #4681 closed, assigned to janbartel

[2020-05-12 14:06] janbartel opened #4868 "Update to asm 7.3.1"
**jetty 9.4 and beyond**

[2020-05-12 16:03] mpuncel commented on #4865
Yep, will do! I'll reply to this issue when I have them.

Yeah it does seem that way, although it could possibly be that enough keys get into a bad state that the exception spam itself prevents (or greatly slows down) the keys from transitioning to a good state? When this happens it does usually happen for a lot of keys all at once, it seems to be related to the number of concurrent connections/re

[2020-05-12 16:58] nkitiyakara commented on #4836
Just as an additional note, the AWS people say they're doing a half-duplex termination of the connection, which they say is legitimate.  (This is really lower-level than I normally deal with.)

I also converted the test application I was using to a WAR (source attached) and deployed it to Tomcat instead of using an embedded Jetty.  When running the same tests against the application running in Tom

[2020-05-12 17:42] ghost opened #4872 "HTTPS Support Maven"

[2020-05-12 18:20] #4872 closed, assigned to nobody

[2020-05-12 18:21] ghost commented on #4872
Resolved it

[2020-05-12 20:05] avshenuk opened #4873 "Server.join not working when used with ExecutorThreadPool"
**Jetty version**
9.4.28.v20200408
**Java version**
OpenJDK Runtime Environment (build 11.0.6+10-LTS) by Azul Systems, Inc.
**OS type/version**
MacOS Catalina 10.15.3
**Description**
Hi guys,

`Server.join` is not working properly when given `ThreadPoolExecutor`. Basically, the implementation of `ExecutorThreadPool` calls `awaitTermination` with `stopTimeout` as opposed to `Integer.MAX_VALUE` in t

[2020-05-12 21:28] ttaranov commented on #4425
solr is having startup issues due to this change - https://issues.apache.org/jira/browse/SOLR-14105 - since multi domain certs are no longer supported by jetty it seems.

[2020-05-12 21:29] ttaranov commented on #4385
solr is having startup issues due to this change - https://issues.apache.org/jira/browse/SOLR-14105 - since multi domain certs are no longer supported by jetty it seems.

[2020-05-12 22:02] sbordet commented on #4385
@ttaranov multi domain certs are supported.

Can you please open a new issue? Describe whether this is a client or server problem in Solr. Thanks!

[2020-05-12 22:20] ttaranov commented on #4385
@sbordet well, it seems to be a strange issue where Solr calls itself internally on the server side at startup - https://github.com/apache/lucene-solr/blob/master/solr/core/src/java/org/apache/solr/handler/component/HttpShardHandlerFactory.java#L316 - and uses jetty's SslContextFactory.Client to setup ssl connection to itself, which seems like no longer allows using multi domain certs that actual

[2020-05-12 22:45] sbordet commented on #4385
@ttaranov please open a new issue - I'll tackle it tomorrow.

[2020-05-13 00:40] ttaranov opened #4874 "Apache Solr fails to startup with multi domain SSL certificates"
**Jetty version**
Jetty version used by Apache Solr 8.5.1 (appears to be jetty version 9.4.24)

**Java version**
Java 8, Java 11

**OS type/version**
Linux

**Description**
When trying to startup single node Apache Solr instance configured with multi domain SSL certificate signed by a CA (although I don't think it matters), server fails to start up with stacktrace outlined in https://issues.apache

[2020-05-13 00:41] ttaranov commented on #4385
@sbordet https://github.com/eclipse/jetty.project/issues/4874

[2020-05-13 04:05] rushalias opened #4875 "Supporting SSE with AsyncMiddleManServlet"
Opening a ticket per Simone’s suggestion.

### Application details:
OS: Ubuntu 18.04.3 LTS
JRE: OpenJDK 64-Bit Server VM Corretto-11.0.6.10.1
Jetty: 9.4.26.v20200117

### Issue:
We are running a reverse proxy based on Jetty's AsyncMiddleManServlet. Lately, a new use case has emerged where a backend sends out Server Sent Events (SSE).  In particular, we are trying to reverse proxy calls to [spring-

[2020-05-13 08:25] sbordet commented on #4874
@ttaranov on a second inspection, the issue is fixed in Jetty 9.4.25+.

If you update Solr to use Jetty 9.4.28, does it work?

[2020-05-13 08:53] sbordet commented on #4836
@nkitiyakara I looked at the pcap streams and they are different.

In the direct case, there is encrypted data immediately followed by a FIN, which is replied correctly.

In the ALB case, there is data flowing normally, then a 30 s pause, then Jetty emits a TLS close_notify + FIN which is replied with a RST.

This means the application is doing things differently; in the direct case it closes the

[2020-05-13 09:51] sbordet commented on #4836
@nkitiyakara I have been able to replicate exactly the traffic you see from the ALB (idle timeout + FIN + RST), and confirmed that Jetty does close the server EndPoint as it should.

If you can replicate easily, next step is to enable DEBUG logging in Jetty and attach them here.
So far, seems all good to us.

[2020-05-13 10:23] #4868 closed, assigned to janbartel

[2020-05-13 11:32] gregw opened #4877 "Review PathSpec classes"
The current implementation of PathSpec is an abstract base class with mutable protected fields.
PathSpec itself is immutable once constructed, so it would be best if the fields themselves were final and private.  Perhaps the class should just be an interface?

[2020-05-13 11:34] gregw commented on #4877
@lachlan-roberts @joakime @lorban Can one of you have a look at this.  Not high priority, but would be nice to clean up and API changes before 10.0.0.

[2020-05-13 11:52] ttaranov commented on #4874
Thank you Simone, we’ll investigate (this issue was created based on some pre production testing of released 8.5.1 solr, although it looks like we’ll need to delay this upgrade and try out some possible work arounds).

[2020-05-13 21:01] mpuncel commented on #4865
I have some logs now, trying to pare them down into something sharable. Do you have any suggestions for what we want to see? Should I just filter for lines that have the relevant key or channel ID logged in the exception message?

[2020-05-13 21:33] mpuncel commented on #4865
Here's a go at producing some logs. This is the first instance of the exception:
[code]

The exception happened 370 times
[code]

First timestamp is 2020-05-13T21:13:52,752, second is 2020-05-13T21:13:56,572, so it took 4 seconds to "recover". Under a production workload I've seen the same exception logged for over a minute (just found a 67 second one) so I think it can often take longer to recove

[2020-05-14 03:48] lachlan-roberts commented on #4861
We have decided against the larger refactor of `AttributesMap` for now, instead changes from PR #4861 allow us to add an `AsyncAttributes` class to the request which stores the async attributes as fields instead of using the `AttributesMap` and producing extra garbage.

[2020-05-14 03:48] #4861 closed, assigned to lorban, lachlan-roberts

[2020-05-14 08:00] gregw opened #4879 "HttpTester should have fluent API"
The HttpTester should have a fluent API similar to (or actually same as) the Jetty HttpClient.

[2020-05-14 09:01] diskostu commented on #2192
How can I force GWT 2.8.2 to use Jetty 9.4.x? I just tried to update the dependencies manually, but really, I landed in dependency hell and gave up.
Is there a simple way to set the desired version of Jetty, like in Vaadin, for example?

[2020-05-14 10:09] sbordet commented on #4865
@mpuncel if you cannot redact the logs (but keep all the lines), then the approach is correct.

We want to track every possible object related to that `SelectionKey` to try to understand what happened.

Track `PollSelectionKey@4ec756c0` and `UnixSocketEndPoint@5db2cc31` and `HttpConnection@4c31b120` and `HttpChannelOverHttp@73f15d9c` and so on.

The disappearance of the attachment, but then reappe

[2020-05-14 12:27] joakime commented on #2192
@diskostu you might want to update to GWT 2.9.0

See: https://groups.google.com/forum/#!topic/google-web-toolkit/kXWfvW9X0pI

It's available on Maven Central as well - https://search.maven.org/artifact/com.google.gwt/gwt/2.9.0/pom

[2020-05-14 13:39] nkitiyakara commented on #4836
About 6 minutes worth of log file was 56 MB zipped, so I've shared it from Google Drive again (https://drive.google.com/file/d/1r3H19f2FGBWEDbmrM1xAbui4U5DG0vhS/view?usp=sharing).  Also included in the ZIP file are txt files showing the output of "sudo lsof -c java" and "sudo netstat -anp" at about 30 second intervals.  The problem I'm experiencing is exposed better in the lsof output (files.txt).

[2020-05-15 00:44] michaelkwan opened #4880 "Websocket Automatic Pong reply"
**Jetty version**
9.4.28
**Java version**
1.8
**Question**
Jetty websocket client/server seems to automatically reply to ping with pongs.  Is there a way for me to handle the ping message instead or disable the automatic pong?

the WebsocketPingPongListener class allows me to inspect the content; however, I would like a handle the ping messages instead.

[2020-05-15 02:46] lachlan-roberts commented on #4880
@michaelkwan There is currently no way to disable the automatic reply to pings. What is your use case for handling the ping messages yourself?

[2020-05-15 05:01] TezzerFX commented on #4852
[Additional Proxy XML Parameters.pdf](https://github.com/eclipse/jetty.project/files/4632295/Additional.Proxy.XML.Parameters.pdf)

[AbstractProxyServlet.zip](https://github.com/eclipse/jetty.project/files/4632304/AbstractProxyServlet.zip)
There are 2 attachments a pdf which shows an extract from the xml that specifies the use of the FastCGIProxyServlet, showing the extra initialization parameters

[2020-05-15 08:10] joakime commented on #4880
The automatic responding of a received ping frame with a pong frame is us satisfying the demands of the websocket protocol.

See https://tools.ietf.org/html/rfc6455#section-5.5.3

Using the various WebSocket APIs you will be notified of the contents of PING and PONG payload contents, in the order they were received.

WebSocket Parent API | Control Frame | How Notified
----- | ------- | -----------

[2020-05-15 08:27] lachlan-roberts commented on #4880
RFC6455 also says

so it seems it would be valid to not respond to the PING straight away, instead wait until it is "practical" and then respond to multiple PINGs with a single PONG frame.

[2020-05-15 09:15] joakime commented on #4880
With websocket, you have ...

* User Agent (Client) protocol behaviors
* Server protocol behaviors
* Intermediary behaviors
* Application APIs based on messages
* Low level APIs based on Frames

From a user agent (client) point of view.
* An Application API can only send PING and unsolicited PONGs on the protocol. (we know of no known user-agent API that supports this)
* a PONG with the identical

[2020-05-15 09:20] joakime commented on #4880
If you can write/send, then it's "practical" to respond to the PINGs.

From a Jetty implementation point of view, it's WriteFlusher could be the place this behavior is implemented.
An optional (not implemented) behavior of the WriteFlusher would be to only allow the queue to hold only the most recent PONG frame.
This kind of change would still not result in an API level change.

[2020-05-16 05:33] michaelkwan commented on #4880
trying to see if it's practical to implement a reverse proxy where jetty is passing from inbound to outbound client.  if i forward the ping/pong using the ping pong listener, then an extra pong will be sent back to original client.

[2020-05-16 06:27] lachlan-roberts commented on #4880
@michaelkwan so as @joakime says its probably best to do this with a low level API based on frames such as the jetty-10 websocket-core API.

We also have a test which uses a basic websocket proxy implemented with the websocket-core API. This might be a useful example to look at.

https://github.com/eclipse/jetty.project/blob/cb61ec439afe02c48b8a0870c5f052f0499a1e58/jetty-websocket/websocket-core/s

[2020-05-18 01:45] lachlan-roberts commented on #4873
Looks like this issue has been fixed in jetty-10.0.x with PR #4482 as part of a larger work on graceful shutdown, but these changes have not been brought back to 9.4.x.

The fix was to call change `ExecutorThreadPool.join()` to use `Long.MAX_VALUE` instead of using `getStopTimeout()`.
[code]

The current behaviour looks like an incorrect use of the stopTimeout, so I think we should make this same

[2020-05-18 09:08] janbartel commented on #4850
@guymac I downloaded amazon corretto 8 and ran it on linux. I ran the standard jetty test webapp in the repo here: https://github.com/eclipse/jetty.project/tree/jetty-9.4.x/tests/test-webapps/test-jetty-webapp  using "mvn jetty:run". The sessions are configured to time out after 5 mins. All works exactly as expected.  I don't have access to a windows environment, so any further testing will need y

[2020-05-18 09:50] xrkCode opened #4883 "HTTP/2 Client catch java.nio.channels.AsynchronousCloseException"
**Jetty version**
  9.4.19.v20190610
**Java version**
  jdk-1.8.0_242
**OS type/version**
  linux-suse
**Description**
Client use HTTP2Client send a request but catch an Exception, it only happened once
[code]
But the server get the request and handler it success.
So why the client get the AsynchronousCloseException?
How to solve the problem?

[2020-05-18 09:57] sbordet commented on #4883
The stack trace shows that the client received a GOAWAY frame from the server, so it's the server that closed the connection.

You should look into the server to understand why it closed the connection.

[2020-05-18 12:36] janbartel opened #4885 "setCookie() must not change the headers in a response during an include"
**9.4**

Servlet Spec 4.0 Section 9.3 The Include Method:

Whilst we handle the session correctly, the generic Response.addCookie() method is not protected.

[2020-05-18 12:56] joakime commented on #4885
Wow, how long has this been true in the Servlet spec?
And is this something we should have back in `jetty-9.4.x`?

Perhaps `jetty-9.4.x` could at least warn users when they do this that the behavior in Jetty is deprecated and will be changed in a future version of Jetty?

[2020-05-18 14:49] lorban commented on #4877
Here's a first attempt at refactoring the PathSpec hierarchy: https://github.com/eclipse/jetty.project/pull/4884

One issue I haven't tackled yet is the `PathSpec.getRelativePath()` method that's not tested, not used and only implemented in `ServletPathSpec`. Maybe it should go away?

[2020-05-18 17:53] mpuncel commented on #4865
Thanks for the info!

@gregw mentioned earlier that 9.4.29 might mitigate the issue, I'm wondering when that release will go out?

[2020-05-19 04:24] hieplq opened #4887 "update version of org.apache.aries.spifly.dynamic.bundle on document for jetty-9.4.23.v20191118"
**Jetty version**
jetty-9.4.23.v20191118 and up

**Java version**
13 and up

**Description**
#3869 to support jdk-13 but org.apache.aries.spifly.dynamic.bundle-1.2.jar not ready for 13

so should update document to point to 1.2.4

[2020-05-19 06:29] olamy commented on #4887
done thanks for the report!

[2020-05-19 06:29] #4887 closed, assigned to nobody

[2020-05-19 07:52] sbordet commented on #4874
@ttaranov news about this issue from Solr?

[2020-05-19 07:53] sbordet commented on #4830
Implemented in #4839.

[2020-05-19 07:53] #4830 closed, assigned to joakime

[2020-05-19 07:56] sbordet commented on #4798
@BrownKathy @Amarendraar23 news?

[2020-05-19 08:10] sbordet commented on #4865
@mpuncel I believe @gregw was referring to #4798 and we plan to release 9.4.29 this week.

[2020-05-19 10:22] janbartel commented on #4885
I've already targeted this issue at 9.4.30 as this text has been present at least as far back as servlet 3.1 spec.

[2020-05-19 12:29] cshannon opened #4888 "Request getSession() method throws IllegalStateException when Session exists"
**Jetty version**: 9.4.27
**Java version**: Java 11
**OS type/version**: Fedora 31

**Description**

An existing issue, #4156, attempted to fix this problem but seems to only have fixed it in some cases. I am still seeing a very similar stack trace as #4156 when the server is trying to add a Session to the cache that is found to already exist. The same IllegalStateException is thrown and and a nul

[2020-05-19 12:35] janbartel commented on #4888
Please also post your log output that shows the stack traces.

[2020-05-19 12:41] cshannon commented on #4888
I am unable to post the stack trace output as it's on a proprietary system so I'm not authorized to do so.

[2020-05-19 12:59] cshannon commented on #4888
PR submitted: https://github.com/eclipse/jetty.project/pull/4889

[2020-05-19 13:00] janbartel commented on #4888
@cshannon any way you can sanitize the log so you would be permitted to post at least parts of it? Ideally I'd like to see log output with org.eclipse.jetty.server.session log level set to DEBUG so it's possible to trace the lifecycle of session ids.

I'm very interested in getting a reproduction for this so we can thoroughly understand the race condition: I would rather that we made code changes

[2020-05-19 13:06] janbartel commented on #4888
Also, in the application where you've seen this happen, can you describe any more about the handling of requests? You mention it happens when there is a flurry of requests to the server, IIUC these requests all have a cookie with a session id that used to exist but is  now no longer existing (or valid?). Is there any forwarding/including or async handling in the path of the handling of these reque

[2020-05-19 13:13] cshannon commented on #4888
There may be some forwarding, I'm not sure as we aren't implementing it and are using Spring MVC and Spring Security so under the covers their filters and dispatcher servlets may be doing some async things to contribute to this. As I said, it seems to primarily happen on session expiration when the browser fires off a bunch of requests at the same time for the application but I haven't been able t

[2020-05-19 13:17] janbartel commented on #4888
Can I see the source of the test please?

[2020-05-19 13:22] vidit1578756 opened #4890 "JettyClient behavior when SETTINGS_HEADER_TABLE_SIZE is set to 0 in SETTINGS Frame."
Jetty version: 9.4.27.v20200227

Java version: 14

Question:

It has been observed that when server sets SETTINGS_HEADER_TABLE_SIZE (0x1) value to 0 in settings frame, jetty-client still uses dynamic table for encoding headers.
Is it the expected behavior?

[2020-05-19 13:32] cshannon commented on #4888
The source for the test isn't very useful as it was just created to get a sample stack trace and not to demonstrate the error happening. For the test I just took an existing unit test in Jetty (RequestDispatchedSessionTest) and added a filter to make a call to Request.getSession(). Since it's not easy to reproduce I temporarily changed the condition inside AbstractSessionCache in the add method to

[2020-05-19 13:49] cshannon commented on #4888
@janbartel  - From what I can tell, I think the race condition is happening for the requests between the doScope() call of SessionHandler and the call to Request#getSession().

If multiple requests come in for an existing sessionId (same cookie) at the same time (server restart, invalidation etc) then when they hit the SessionHandler the doScope() method is supposed to set the existing Session on

[2020-05-19 13:52] cshannon commented on #4888
Also, if you don't like returning the existing session as my patch does, it could be simplified to go back to the behavior of 9.4.20 and always return a new session but just not add it to the cache. If you run my test that is part of #4889 against 9.4.20 you will see it will fail but it fails because the two sessions returned are not the same object but they share the same Id. This behavior has wo

[2020-05-19 13:55] janbartel commented on #4888
Well, that behaviour was wrong, which is why we fixed it. Let's see if we can't come up with a solution that works also for your application.

I would really like to see those (sanitized) logs.

I'd also like a  general description of how you're using spring security, and any config params that specifically deal with sessions.

[2020-05-19 14:21] cshannon commented on #4888
Right, I assumed the behavior of returning a new Session when one exists is wrong which is why my patch will return the existing Session instead of null. It makes sense to me to return the existing Session if we have it vs logging an error and returning null.

I can see what I can do next week with the logs, but still may not be able to provide a version easily. The issue is most noticeable with S

[2020-05-19 14:23] BrownKathy commented on #4798
@sbordet, we are still testing and need to build some new environments.  We will provide an update as soon as possible.

[2020-05-19 14:31] ttaranov commented on #4874
@sbordet we've rolled back our deploy to solr 8.3.1 (the one with previous jetty version) and it worked ok with the specific ssl setup we use. There is apparently an upgraded version of jetty in solr's snapshot build (8.6), although its hard to test this in specific production configuration where the issue came up - we'll retest this again as new solr is released.

[2020-05-19 20:05] gueuselambix commented on #1503
I have noticed that this only works when the IPv6 address is enclosed by brackets [].
However if the IPv6 address is not enclosed with brackets, the code *adds* the brackets, despite of the _STRIP_IPV6_ setting.

I tested this with v9.4.28.v20200408:
[code]

Since X-Forwarded-For is not a real standard (as opposed to rfc7239) the precence of these brackets are arguable... However in most cases the

[2020-05-19 20:09] gueuselambix opened #4891 "The IPv6 brackets return... for X-Forwarded-For"
I commented on my original issue, but since it has been closed, I thought to open this new issue.

https://github.com/eclipse/jetty.project/issues/1503#issuecomment-631052792

Feel free to close this issue if you reopen #1503

[2020-05-19 21:13] joakime commented on #1503
I'll reopen this one for you.

[2020-05-19 21:13] joakime commented on #4891
I reopened #1503

[2020-05-19 21:13] #4891 closed, assigned to nobody

[2020-05-20 08:31] janbartel commented on #4888
@cshannon  ideally it would be good to get a simple webapp that can at least sometimes reproduce the issue and then we can work with that.

Going back to your app, I'd also like to know what the settings are for spring security, can you please post the config selections matching the ones mentioned on this page: https://www.baeldung.com/spring-security-session.  I am sceptical  about this so called

[2020-05-20 08:39] sbordet commented on #4890
Do you have evidence in terms of DEBUG logs?

Looking at the code we don't use the dynamic table when the table size is 0.

[2020-05-20 09:16] sbordet opened #4892 "Non-blocking JSON parser"
**Jetty version**
9.4.x

**Description**
Introduce a non-blocking JSON parser, i.e. one that can be fed with `ByteBuffer` or `byte[]` chunk by chunk and that at the EOF produces a JSON object.

This is useful to avoid accumulating the JSON string into a temporary storage that gets copied over and over every time needs to be expanded, and in those cases where applications don't want (or cannot) imp

[2020-05-20 09:17] sbordet commented on #4892
See also cometd/cometd#913.

[2020-05-20 11:36] sergiuhlihor opened #4894 "JDBCSessionDataStore fails to create multiple JettySessions for server with multiple databases"
Jetty version:  9.4.x (confirmed from 9.4.5 to 9.4.28) ,  Java 11
OS: Ubuntu 18.04
Database: MySQL 8.0.19
MySQL connector 8.0.19

Jetty 9.4.x branch fails to create properly the JettySessions table at startup when database instances hosts more than one sessions schemas and at least one already has the table created.
To reproduce:
  - create two independent sessions schemas, called schemaA and sche

[2020-05-20 11:55] janbartel opened #4895 "AbstractSessionCache.setFlushOnResponseCommit(true) can write an invalid session to the backing store"
**9.4**

If AbstractSessionCache.setFlushOnResponseCommit is `true`, then a session with dirty attributes will be written through the cache to the backing store before the response is committed.

When a session is invalidated, each and every attribute must be individually removed from the session, which sets the dirty flag on the session.

Thus, if a session is invalidated prior to the response be

[2020-05-20 12:08] janbartel commented on #4894
You know you can change the table names to be different, right?

If you're using the standard distro, you can edit the session-store-jdbc.ini file and set all of the relevant jdbc artfact names: name of the table and names of all the columns. These are the properties (don't forget to remove the comment character at the beginning of the line):

\#\# Session table schema
#jetty.session.jdbc.schema.a

[2020-05-20 13:23] #4741 closed, assigned to lachlan-roberts

[2020-05-20 13:54] janbartel commented on #4894
@sergiuhlihor see this line in the code where we determine if we need to create the table or not:

https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/main/java/org/eclipse/jetty/server/session/JDBCSessionDataStore.java#L488

If `_schemaName` is non-null, will that work in your environment to differentiate the 2 different instances?  It seems we forgot to create a property i

[2020-05-20 14:17] sergiuhlihor commented on #4894
@janbartel I was aware of _tableName however in my setup we customize databases to run multiple copies of same environments. I think customizing _schemaName as an option would be welcome independent of this ticket. However, I just looked at the code. A few lines above (481) you have a Connection which has a method getSchema() which returns exactly the current one. I think the fix would be to take

[2020-05-20 16:15] janbartel commented on #4894
@sergiuhlihor actually I'm getting confused here:  are you sure that "schema" is the right thing here? To get the terminology right, according to the mysql documentation, you have 1 host at localhost listening on port 3306, and 2 _databases_ one called "databaseA" and the other "databaseB". How does this relate to "schema"?

[2020-05-20 16:37] sergiuhlihor commented on #4894
@janbartel My bad for confusion. In MySQL sometimes we refer to schemas as "databases". By databaseA or databaseB I was referring to schemas. I have edited my comments to better reflect the ticket.

In my case, I use a single MySQL instance to host 10+ identical environments, where inside the instance there are different schemas (example sessions1, sessions2... sessions10) . Then templating for wh

[2020-05-20 17:23] cshannon commented on #4888
@janbartel - I agree, next week when I'm back in the office I will do some more digging and see if i can narrow down the root cause to create a reproducible test case. One thing I completely forgot to mention is there is also a WebSocket connection. Not sure if that is part of it or not (nothing from Websockets has shown up in the stack trace) but sessions could be involved there too.

In terms of

[2020-05-21 08:50] janbartel commented on #4895
Merged into 9.4 and beyond.

[2020-05-21 08:50] #4895 closed, assigned to janbartel

[2020-05-21 10:53] janbartel opened #4899 "Multiple filter-mappings for same filter with overlapping url-patterns and/or servlet-names"
The Servlet Spec is unclear on how to handle multiple filter-mappings for the same filter that have overlapping url-patterns and or servlet-names.

See issue https://github.com/eclipse-ee4j/servlet-api/issues/52 and issue https://github.com/eclipse-ee4j/servlet-api/issues/318.

As described in [servlet api issue 52](https://github.com/eclipse-ee4j/servlet-api/issues/52), the current behaviour of j

[2020-05-21 11:13] joakime commented on #4899
Example web.xml for one scenario.

[code]

[2020-05-21 11:16] vidit1578756 commented on #4890
[Http2HeaderTableSize.zip](https://github.com/eclipse/jetty.project/files/4661952/Http2HeaderTableSize.zip)
[jetty-debug.txt](https://github.com/eclipse/jetty.project/files/4662118/jetty-debug.txt)

I have attached zip file which contains "Http2_Header_Table_Size_Zero.pcapng" and "Http2_Header_Table_Size_Not_Zero.pcapng".

Use filter: ((http2 ) && (tcp.dstport == 9091)) in wireshark.

Call is betw

[2020-05-21 11:22] lucaro opened #4900 "Error during WebSocket handshake in Chrome"
**Jetty version**

jetty-9.4.25.v20191220; built: 2019-12-20T17:00:00.294Z; git: a9729c7e7f33a459d2616a8f9e9ba8a90f432e95

**Java version**

 jvm 11.0.6+8-b765.40

**OS type/version**

Windows 10 version 19.09

**Description**

(Note: I first posted this issue in the Javalin project since I observed it in that context, see https://github.com/tipsy/javalin/issues/975. Some further investigation ind

[2020-05-21 16:36] #4892 closed, assigned to nobody

[2020-05-21 17:46] scosol commented on #2807
@sbordet "actually the intent of this issue is that Jetty out-of-the-box should rate A on ssllabs.com.
If you want "old, weak, vulnerable" ciphers, by all means go and reconfigure Jetty.
If you want "super-secure" ciphers, ditto.
Our reasoning to change the default exclusion pattern was about the default Jetty behavior.
Do you see problems with this approach?"

Yes, the problem with this approach

[2020-05-21 18:22] joakime commented on #2807
trustALL refers to certificates, not protocols or cipher suites.

[2020-05-21 18:33] joakime commented on #4900
Bootstrapping WebSocket over HTTP/2 ([RFC8441](https://tools.ietf.org/html/rfc8441)) was added to Jetty 10.0.x

See https://github.com/eclipse/jetty.project/issues/3537

Jetty 10.0.0.alpha2 contains support for WebSocket over HTTP/2.

Jetty 9.4.x does not.

[2020-05-21 18:37] lucaro commented on #4900
Thanks for the quick response. The problem does however also occur when HTTP/2 is not used, Chrome then replies with `Connection closed before receiving a handshake response`.

[2020-05-21 18:41] lucaro commented on #4900
Thanks for the quick reply, explicitly setting the protocol to `http/1.1` appears to have solved the problem.

[2020-05-21 20:05] #4900 closed, assigned to nobody

[2020-05-21 23:51] scosol commented on #2807
@joakime yes, you're using the trustAll SslContext (which trust all certs), and within it, you're hardcoding ciphers to exclude. In the current 10.x code:
https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java

202-206:
    {
        setTrustAll(trustAll);
        setExcludeProtocols(DEFAULT_EXCLUDED_PROTOCOLS);

[2020-05-22 07:58] fredbar opened #4903 "Give better errors for non public Websocket Endpoints"
based on   org.eclipse.jetty.websocket:javax-websocket-server-impl:jar:9.4.28.v20200408

If an Endpoint is a private inner class, jetty fails silently, responding with a 503. This is due to the fact that the ContainerDefaultConfigurator looks for a static initializer and the fact that inner classes can not have them.

Following is a stack trace for the call, gotten when enabling debug log traces.

[2020-05-22 19:23] michaelkwan opened #4904 "WebsocketClient creates more connections than needed"
**Jetty version**
9.4.28
**Java version**
1.8.0.242 adopt openjdk
**OS type/version**
mac
**Description**
I noticed the websocket client is creating more connections than needed when multiple connect is called concurrently.

When I run the following, I see established count went to 64 (expected 50):
[code]

[code]

[2020-05-22 20:04] michaelkwan commented on #4904
Enabled debug logging, what is interesting is that there are 50 of these logs
2020-05-22 12:51:37.524:DBUG:oejc.AbstractConnectionPool:pool-1-thread-21: newConnection 2/64 connections 2/-1 pending
and 14 of these
2020-05-22 12:51:37.986:DBUG:oejc.AbstractConnectionPool:HttpClient@61e4705b-89: newConnection 51/64 connections 14/-1 pending

If i change to only 1 connect, I do not see these logs:
202

[2020-05-22 21:05] michaelkwan commented on #4904
When i increase the max connections per destination to say 100:
[code]
I see connection established is 100 even thou I only have 50 websocket client connect() calls

[2020-05-23 06:59] #3581 closed

[2020-05-23 15:26] harishmurali-hub commented on #2205
We have also hit this issue, not with jetty though. It is from wildfly server running in windows. Looks like this is a JVM issue in windows :

 <stackTrace>
                <element>sun.nio.ch.WindowsSelectorImpl$SubSelector.poll0(Native Method)</element>
                <element>sun.nio.ch.WindowsSelectorImpl$SubSelector.poll(WindowsSelectorImpl.java:296)</element>
                <element>sun.ni

[2020-05-24 11:32] #1576 closed

[2020-05-25 02:55] lachlan-roberts commented on #4903
@fredbar You must declare your inner class as `public static` for this to work.
But I agree that we could do a better job at reporting these errors. I think in this case jetty should throw `DeploymentException` when the endpoint is added to the `ServerContainer`, this way you get an error at deployment time and not just when the first request comes in.

[2020-05-25 04:15] lachlan-roberts commented on #4873
Fixed in PR #4882

[2020-05-25 04:15] #4873 closed, assigned to nobody

[2020-05-25 04:54] #3595 closed

[2020-05-25 05:28] fredbar commented on #4903
Oh, sure, having a deployment exception is even better.
Thanks for your work on this.

[2020-05-25 08:43] gregw commented on #4903
@lachlan-roberts Also that thrown exception is losing the root cause.  It does echo the class and message, but the stack is lost.   Can we set the cause on that exception as well.

[2020-05-25 09:18] janbartel commented on #3543
We might be doing some work on the websocket stuff for osgi with https://github.com/eclipse/jetty.project/issues/4797 so maybe we can take a look at this one too.

[2020-05-25 10:03] janbartel commented on #4894
So after some good detective work from @lorban, it seems that there is no consistency between various database vendors on what is a schema and what is a catalog. So the safest thing for us to do is to 1) expose the schemaName as a property in the session-store-jdbc.mod file so it can easily be set, and also provide a setter for the catalogName too  2) fallback to the values provided by the connect

[2020-05-25 10:48] lorban commented on #4894
The reason why a `catalogName` property should be added is because in this particular case (i.e.: MySQL) calling `metaData.getTables(null, connection.getSchema(), tableName, null)` does not help, but `metaData.getTables(connection.getCatalog(), schemaName, tableName, null)` does solve the problem at hand.

This is because MySQL maps what they call the database name to the JDBC schema: https://dev.

[2020-05-25 10:55] sergiuhlihor commented on #4894
@lorban Could we have then the catalogName and a fallback to connection.getCatalog() when not set?

[2020-05-25 11:13] lorban commented on #4894
This is exactly what @janbartel 's proposition is about.

[2020-05-25 11:14] sergiuhlihor commented on #4894
Perfect, waiting eagerly for a fix :+1:

[2020-05-25 12:49] gregw opened #4907 "org.eclipse.jetty.websocket.tests.SuspendResumeTest#testSuspendAfterClose"
**Jetty version**
10.0.x

**Description**

This test fails about 1 in 20 runs with the exception below.  It could be a flaky test... or it could be that we are giving a close notification before we have updated state?.

[code]

[2020-05-25 20:26] sbordet commented on #4904
The correct string is `TLSv1.3` (https://docs.oracle.com/en/java/javase/11/docs/specs/security/standard-names.html#sslcontext-algorithms).

@michaelkwan I'm not sure but I won't be surprised that `wss://echo.websocket.org` throttle clients to avoid that random people opens N connections to it in a tight loop or concurrently :wink:
The extra connections may be due to the fact that they are opened b

[2020-05-25 23:47] #2173 closed

[2020-05-25 23:47] #2174 closed

[2020-05-26 07:09] lachlan-roberts commented on #4907
@gregw the problem is that we had to change the `onClose` event at the Jetty and Javax API levels to be the event of receiving a close frame and not when the connection has been closed. This was to allow alternate close codes to be sent in the `onClose` event.

So in the test we are only waiting until we get the `onClose` notification and not until the connection has been closed. I should be able

[2020-05-26 09:12] janbartel commented on #4894
@sergiuhlihor any comment on the PR https://github.com/eclipse/jetty.project/pull/4908 before I commit it?

[2020-05-26 12:35] sergiuhlihor commented on #4894
Looks good! Thank you!

[2020-05-26 16:41] michaelkwan commented on #4904
[test.log](https://github.com/eclipse/jetty.project/files/4683619/test.log)

Attached is the test run with 10 concurrent connect calls.  I see 19 established connections and 9 of them do not get clean-up immediately after the run exited.  There is no error or exception to indicate any problems.

I ran with my own go echo server, this does not seem to happen with such a low count; however, the fact

[2020-05-26 17:01] michaelkwan commented on #4904
I did additional tests running docker containers on my machine:
1.  tested against ws://echo.websocket.org (10 concurrent threads, 19 established connections)

2.  tested against docker version of the kaazing gateway (which simply echos), reproducible (100 concurrent threads, 119 established connections) (https://hub.docker.com/r/kaazing/gateway)

3.  tested against my own go websocket server (100

[2020-05-26 17:20] michaelkwan commented on #4904
Also this happens to both ws and wss endpoints.

[2020-05-26 17:46] joakime commented on #4904
Websocket is an HTTP connection that was upgraded to a WebSocket connection.
It cannot be reused after it is closed.

[2020-05-26 17:59] sbordet commented on #4904
@michaelkwan thanks for the logs, it's indeed a bug.

Since opening connections is slow, we open 2 but still have 8 queued requests waiting for their connection.
When one of the 2 opened connections finishes its upgrade, it looks at the request queue, sees it's not empty, and asks for another connection to the pool.

This is handled differently in `DuplexConnectionPool` vs `MultiplexConnectionPool

[2020-05-26 22:39] michaelkwan commented on #4904
@sbordet I gave it a try on the docker kaazing gateway; however, it still creates more connections than # of upgrade requests.  See logs.
[test.log](https://github.com/eclipse/jetty.project/files/4685343/test.log)

[2020-05-26 22:43] sbordet commented on #4904
@michaelkwan can you try PR #4911? I believe it'll fix the issue.

[2020-05-27 00:51] lachlan-roberts commented on #4903
Fixed with PR #4906, will be released with 9.4.30.

[2020-05-27 03:55] lachlan-roberts opened #4913 "DirectoryNotEmptyException when using mvn jetty:run-distro"
**Description**

If I run `mvn jetty:run-distro` without first doing a `mvn clean` I get the following exception:
[code]

The javadoc for `Files.deleteIfExists()` says

In commit 041a3260b6f04c1e709cf4f4b6fd41b558f5a9da this was changed from using `IO.delete(targetBase)` which recursively deletes directories, to using `Files.deleteIfExists()` which throws if the directory is not empty. From the lo

[2020-05-27 07:34] michaelkwan commented on #4904
@sbordet I gave it a try but it didn't work.  Lower thread count seems to be promising; however, I up the concurrent connects to 500 and saw 528 established connections.  See attached logs.

[test.log](https://github.com/eclipse/jetty.project/files/4687196/test.log)

Also, when I stop/shutdown http client, those extra connections remained in time_wait state even after the process is completed.

[2020-05-27 11:58] janbartel commented on #4894
Fix checked in to jetty-9.4.x, will go out with 9.4.30.

[2020-05-27 11:58] #4894 closed, assigned to janbartel

[2020-05-27 12:29] xrkCode commented on #4883
Hi，@sbordet，thank you for the reply.
The server is also jetty-9.4.19.v20190610, I found some Exception in the server log:

| ERROR | ol_platform#RpcBroker-thread-3 | ServerRuntime$Responder          |writeResponse() 736 | org.glassfish.jersey.core.jersey-server |  |  | Error while closing the output stream in order to commit response.
java.lang.IllegalStateException: WRITER
	at org.eclipse.jetty.s

[2020-05-27 12:38] xrkCode commented on #4883
Hi，@sbordet，thank you for the reply.
The server is also jetty-9.4.19.v20190610, I found some Exception in the server log:

| ERROR | ol_platform#RpcBroker-thread-3 | ServerRuntime$Responder          |writeResponse() 736 | org.glassfish.jersey.core.jersey-server |  |  | Error while closing the output stream in order to commit response.
java.lang.IllegalStateException: WRITER
	at org.eclipse.jetty.s

[2020-05-27 13:31] sbordet commented on #4883
This is likely an application mistake.
You are not allowed to call `response.getWriter()` and then `response.getOutputStream()`.

[2020-05-27 14:59] joakime commented on #4904
Is there a reason upgraded connections are even in the Connection Pool?

[2020-05-27 15:03] joakime commented on #4883
Link to relevant javadoc for this ...

https://docs.oracle.com/javaee/7/api/javax/servlet/ServletResponse.html#getOutputStream--

[2020-05-27 20:23] sbordet commented on #4904
@joakime upgraded connection are not in the pool.
This is strictly a `HttpClient` issue - not particularly related to WebSocket.

[2020-05-27 21:08] joakime opened #4916 "Servlet APIs that quietly do nothing in some cases should at least log.debug when they skip behavior"
**Jetty version**
9.4.x

**Description**
There are several Servlet APIs that don't do anything in some cases / situations.

First noticed in PR #4915

Such as setting headers or cookies on the HttpServletResponse during INCLUDE dispatch.
Those should at least log at debug level when they skip the action, to aid developers in troubleshooting behavior in those cases.

I want to use this Issue to cre

[2020-05-28 03:52] #4913 closed, assigned to nobody

[2020-05-28 04:35] lachlan-roberts opened #4918 "javax websocket decoders - parameter types do not match after reorder"
**Jetty version**
10.0.x

**Description**
If a decoder decodes into a subtype of what is defined in the `onMessage` method, then an `IllegalArgumentException` is thrown when the endpoint is added. An example of a setup which would trigger this is:

[code]

Stacktrace:
[code]

[2020-05-28 04:53] lachlan-roberts commented on #4855
got another failure for this on the 9.4.x build
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-9.4.x/1531/pipeline
[code]

[2020-05-28 07:08] lachlan-roberts opened #4919 "websocket container stop ordering"
**Jetty version**
10.0.x

**Description**
In tests which do not explicitly close the all open WebSocket sessions, we frequently get the stack trace error message from `onError`.

[code]

I think this is because the WebSocket containers are not shutting down in the correct order when `doStop` is called. The order we want is:
1. Stop accepting new websocket connections.
2. Stop the `SessionTracker`

[2020-05-28 11:56] janbartel opened #4920 "Restore ability to delete sessions on stop"
Pre jetty 9.4 there was the ability to have all sessions invalidated when the server stopped, we should restore this behaviour.

Also evaluate the consistency of treatment of the session data store by the session cache wrt expectation that the session data store can/cannot be null.

[2020-05-28 12:12] prateekkohli2112 commented on #4809
Hi,

As this functionality was not available, so as a workaround we tried to set the localStreamIds using reflection.

For e.g. when we needed 1 stream per connection we set localStreamIds to 2147483647 and send requests 1 by 1 it works fine.

But when we send 2 requests in parallel, none of the request is sent to the server and we get an error which says Invalid stream Id from generateHeaders() m

[2020-05-28 13:50] lorban commented on #4855
For reference, the second failure reported by @lachlan-roberts is also appearing as:
[code]
Both failures do correspond to this test: https://github.com/summerwind/h2spec/blob/v2.2.0/http2/8_1_2_6_malformed_requests_and_responses.go#L70

[2020-05-28 14:01] cshannon commented on #4888
Quick update, I haven't been able to come up with a webapp yet to reliably reproduce the issue. I have to move on to some other things but I'll try and get back to it when I have time.

In terms of logs, it's still going to be a bit tough to move the logs but as I said, the stack trace I already posted it exactly what I'm seeing so the most useful thing would be a reliable test case.

In the meant

[2020-05-28 14:34] sbordet commented on #4855
@lorban can you please check if there is a new version of `h2spec` and possibly update it?

I was never able to fail `h2spec` locally, no idea why it fails on Jenkins.

[2020-05-28 20:27] olamy commented on #4855
2.4.0 is available (https://github.com/summerwind/h2spec/releases) but this downloaded and build within the plugin here https://github.com/madgnome/h2spec-maven-plugin.
This plugin is not active maybe we should have our own fork?

[2020-05-28 21:18] sbordet commented on #4855
@olamy last time I put up a PR and it was merged and a release done. Perhaps that would be enough, rather than forking.

[2020-05-28 21:19] sbordet commented on #4855
@olamy cancel that, my issue is still open :|

[2020-05-28 21:20] sbordet commented on #4855
can we run it without a maven plugin? just exec plugin maybe, running h2spec directly?

[2020-05-28 23:00] olamy commented on #4855
the problem is to store the specs binaries... we don't really want to download them for each build or store them in our jetty.project git repo.

[2020-05-29 05:05] lachlan-roberts commented on #4918
@joakime do you think is this something that we actually need to support? it doesn't mention anything about situations like this in the JSR.

[2020-05-29 13:14] janbartel opened #4921 "Quickstart run improperly runs dynamically added context initializers"
**9.4**

Since #4662,  when pregenerating the quickstart.xml file, jetty will also call the context initializers.

[2020-05-29 14:02] sbordet commented on #4809
@prateekkohli2112 I don't think setting the `streamId` is a viable solution.

I see two solutions:
* The application keeps track of the request count, and we expose a way to close HTTP/2 connections
* We implement a counter in the connection metadata of the connection pool, so that when use used count passes a configurable threshold, we arrange to close the connection.

Would it be ok if the conne

[2020-05-29 14:49] janbartel commented on #4921
Further info:

This problem _only_ affects listeners that are added directly with ContextHandler.addEventListener(EventListener) method (which is inherited by WebAppContext and thus QuickStartWebApp).  Any listener that is added to the ServletHandler instead (which is the way jetty does it for web.xml etc, see https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-webapp/src/main/java/org

[2020-05-29 16:06] joakime opened #4923 "SecureRequestCustomizer.SslAttributes does not cache cert chain like before"
**Jetty version**
9.4.29

**Description**
When a long lived connection has multiple requests and something accesses the `HttpServletRequest.getAttributes("javax.servlet.request.X509Certificate")` then the entire Certificate Chain is resolved with each access of the Attributes.

The change in PR #4816 apparently got rid of the SslSession `CachedInfo` object that made this lookup efficient.

Old cod

[2020-05-29 21:01] #4880 closed, assigned to nobody

[2020-05-29 22:51] olamy commented on #4855
branch jetty-9.4.x_h2s_spec_2.4.0 use fork of the plugin https://github.com/jetty-project/h2spec-maven-plugin. updated with spec 2.4.0.

[2020-05-30 10:47] #4921 closed, assigned to janbartel

[2020-05-30 22:16] #3231 closed

[2020-06-01 05:56] vidit1578756 commented on #4890
We are having customer issue related to this. It will be very helpful if some pointers can be provided.

Thanks,

[2020-06-01 08:07] gregw commented on #4890
@vidit1578756 I had missed your second comment above which I think better describes your issue.  It is not so much that the dynamic table is used (which it is not, we checked), but that the header encoding chosen is index, even though it will never actually be added to the table.   I'll have a look to see if we can take the table size into account when selecting which encoding to use.

Note that f

[2020-06-01 08:11] nthung82 commented on #3100
openjdk version "1.8.0_252"
OpenJDK Runtime Environment Corretto-8.252.09.2 (build 1.8.0_252-b09)
OpenJDK 64-Bit Server VM Corretto-8.252.09.2 (build 25.252-b09, mixed mode)
-------------
with java version above, it still does not work

[2020-06-01 08:29] sbordet commented on #3100
@nthung82 "it still does not work" is not helpful.

Make sure you have read this: https://webtide.com/jetty-alpn-java-8u252/.

Please open a new issue and detail _exactly_ what does not work if you still have problems after reading the information above.

[2020-06-01 08:36] nthung82 commented on #3100
tks for your helping, I will create the code, and post it here
at here:
https://github.com/eclipse/jetty.project/issues/4928
I read the link you posted carefully

[2020-06-01 08:39] gregw commented on #4890
@vidit1578756 I have created PR #4927 that refines the strategy used to pick an encoding, so we now do not index if the field is larger than the dynamic table.  We are probably building release later this week, so can you verify if my diagnosis above is correct and if this PR fixes your issue?

[2020-06-01 08:44] nthung82 opened #4928 "Not working for the OpenJDK 8u252 and later"
I am following the:
https://github.com/CleverTap/apns-http2
and my code:

FileInputStream cert = new FileInputStream("/path/to/certificate.p12");
final ApnsClient client = new ApnsClientBuilder()
        .withProductionGateway()
        .inSynchronousMode()
        .withCertificate(cert)
        .withPassword("")
        .withDefaultTopic("<your app's topic>")
        .build();

Notification n = n

[2020-06-01 08:47] vidit1578756 commented on #4890
yes, I think your diagnosis is correct and this PR fixes this issue.

Thanks for the help

[2020-06-01 09:20] sbordet commented on #4928
Sorry but this seems to have nothing to do with Jetty?
Why do you think it's a Jetty problem?

You filed the issue about 8u252, but you are actually using 8u242?

Don't delete the template questions when creating an issue, they are there to detail your environment so we understand better what's going on.

What Jetty version?

What JDK vendor and version?

Please detail exactly how this is a Jetty

[2020-06-01 09:23] nthung82 commented on #4928
like my post:
I tested with 2 version of java
1-1.8_u242 it works fine[I wanted to make sure code is good only]
2-
openjdk version "1.8.0_252"
OpenJDK Runtime Environment Corretto-8.252.09.2 (build 1.8.0_252-b09)
OpenJDK 64-Bit Server VM Corretto-8.252.09.2 (build 25.252-b09, mixed mode)
it does not work
my issues are on [openjdk version "1.8.0_252"]
any ideas to resolve it?

don't have any jetty

[2020-06-01 09:33] sbordet commented on #4928
You are using OkHttp.
The linked blog details that libraries must be prepared to the changes introduced in 8u252, since the Jetty ALPN Agent won't provide any support for ALPN for 8u252 or later.
Have you verified this with OkHttp?

[2020-06-01 09:40] nthung82 commented on #4928
i am following about link only
you mean, I have to add OkHttp libary on the command line
java  -classpath okHttp.jat -jar myapp.jar
?

from that 8u252 we don't need add the agent

**Changes for libraries/applications directly using Jetty ALPN APIs**
what are your mean?
I tried
jetty-alpn-openjdk8-[client|server] to the command line. but it dose not work

[2020-06-01 11:18] qtxo opened #4929 "HttpClient: HttpCookieStore.Empty prevents sending cookies"
**Jetty version**
9.4.29.v20200521

**Java version**
11.0.7 (irrelevant)

**OS type/version**
Windows 10 (irrelevant)

**Description**

My custom `AbstractProxyServlet` modifies some cookie from the client to be consumed in the target backend but a recent commit cac5ada73443e79144d0a01270a62d7a89d881f5 breaks that functionality, the line https://github.com/eclipse/jetty.project/blob/cac5ada73443e7

[2020-06-01 13:23] sbordet commented on #4929
@qtxo good catch, sorry for this regression.
The reason for the additional check was to save the call to `request.getURI()`.
We'll rearrange the code to consider request cookies and add a test case.
Thanks!

[2020-06-01 13:33] sbordet commented on #4904
@michaelkwan so the issue was more complex than expected.

We have modified the code to try and minimize the number of connections created in case of concurrent requests.

However, to be absolutely accurate (i.e. spawn 500 threads and expect no more than 500 connections) we would need to grab a coarse lock and we decided against that for performance reasons.
Furthermore, this behavior would depend