[2022-05-20 07:58] ginkosen commented on #2326
**supplementary instruction**
centos7.9
8 core
16G memory

Services start normally

[2022-05-20 10:15] sbordet commented on #2326
@ginkosen please open a new issue and report more information.
Very likely you are not using `HttpClient` correctly, or you have a misconfiguration.
In the new issue, report a server dump, like explained here: https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-troubleshooting-dump

[2022-05-20 16:46] joakime commented on #8021
`jetty-home` doesn't depend on everything, take `jetty-osgi` for example.

[2022-05-21 00:29] gregw commented on #8024
I've put in a work around for the DebugListener, so it now catches this exception and handles it correctly.      Still not a perfect fix as there is still the cost of creating the exception, but at least that is only in some circumstances.

[2022-05-21 02:08] gregw opened #8033 "Jetty-12 already completed exception in http2.tests.MaxConcurrentStreamsTest"
**Jetty version(s)**
jetty-12

**Description**
[code]

[2022-05-21 04:10] olamy commented on #8021
@joakime good catch!
`mvn clean install -pl :jetty-p2 -am -DskipTests` doesn't show `jetty-osgi`
we only need to include all the `jetty-osgi-*`

[2022-05-21 04:27] olamy commented on #8021
see https://github.com/eclipse/jetty.project/pull/8034

[2022-05-22 13:51] #500 closed

[2022-05-23 19:40] lukaszlenart commented on #1879
I'm having similar problem when using 9.4.46.v20220331 version:

[code]

When running from a root folder of the project I will get this error, once I enter `apps/showcase` and run `mvn verify` everything is ok. Any hint would be appreciated :)

[2022-05-23 20:42] joakime commented on #1879
@lukaszlenart open a new issue please.
And include your jetty-maven-plugin configuration, along with any jetty XML files you are using.

[2022-05-24 00:00] #6059 closed, assigned to nobody

[2022-05-24 05:44] lukaszlenart opened #8050 "TLD not found"
**Jetty version(s)**

9.4.46.v20220331

**Java version/vendor** `(use: java -version)`

openjdk version "1.8.0_292"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_292-b10)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.292-b10, mixed mode)

**OS type/version**

macOS Monterey

**Description**

When running from a root folder of the project I will get the error below, once I enter `apps/s

[2022-05-24 05:45] lukaszlenart commented on #1879
@joakime done https://github.com/eclipse/jetty.project/issues/8050

[2022-05-24 07:06] janbartel commented on #8050
@lukaszlenart the _only_ jetty-maven-plugin goal that is designed for use with a binding in the `pom.xml` is `start`.  See the doco here: https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jetty-maven-plugin and scroll down to `jetty:start`. You don't want to use any of the `***-run` goals with a binding, because they kick off a completely parallel build to build the project up to a ce

[2022-05-24 07:38] lorban commented on #8024
I'm tempted to consider this a bug: the request should not be recycled before `AsyncContext.complete()` returned. But what do we do with timeouts? Do we keep the resources around hoping for a `AsyncContext.complete()` call to eventually come?

[2022-05-24 07:50] lukaszlenart commented on #8050
Great, I was blindly following what we had previously, not it works as expected, thanks a lot!

[2022-05-24 07:50] #8050 closed, assigned to nobody

[2022-05-24 07:54] gregw commented on #8024
@lorban The simple solution is to move the attributes map from the channel to the request.   This would mean that after recycling a request could still be accessed, but the cost is that a ConcurrentHashMap may be constructed for every request (if arbitrary attributes are used).   Previous testing has shown that this is a measurable cost, but we can mitigate by including specific handling for most

[2022-05-24 08:59] gregw opened #8051 "Flaky HttpClientGZIPTest.testLargeGZIPContentAsync"
**Jetty version(s)**

jetty-10

**Description**

This test is flaky (or at least sensitive on a slow machine)
[code]

[2022-05-24 09:09] #8051 closed, assigned to nobody

[2022-05-24 12:19] lorban commented on #8024
Returning a null map sounds like a sure way to get a NPE instead of the current ISE. I don't think that would improve anything.

[2022-05-24 22:43] gregw commented on #8024
@lorban not a null map, a null value from the attribute get.   Would be same behaviour as jetty-9,10,11.        Still not entirely correct behavior.... but the same.
Ultimately we need to re-benchmark the cost of creating a ConcurrentHashMap per request with the four options:
1. always create the map in the `HttpChannel` and reuse in each request
2. lazily create the map in the `HttpChannel` and r

[2022-05-25 06:48] #7979 closed, assigned to lachlan-roberts

[2022-05-25 10:46] joakime opened #8057 "Support Http Response 103 (Early Hints)"
**Target Jetty version(s)**
10+

**Enhancement Description**

What would it take to have Jetty support response code 103 (Early Hints)?

* https://datatracker.ietf.org/doc/html/rfc8297
* https://www.fastly.com/blog/beyond-server-push-experimenting-with-the-103-early-hints-status-code
* https://developers.cloudflare.com/cache/about/early-hints/

[2022-05-25 19:25] sbordet commented on #8057
I wonder how a `103` is any different from a HTTP/2 `PUSH_PROMISE`, which would carry exactly the same information.

The only difference I can see is that `PUSH_PROMISE` may send the response content before the client has a chance to cancel it, but typically bandwidth is not a problem.

Server push has been removed from HTTP/3, and a `103` may possibly break clients that are unaware of it.

Furthe

[2022-05-25 20:21] gregw commented on #8057
I think a 103 is very similar to our current support of 102 PROCESSING.   We currently allow a `sendError(102)` to be done that sends a partial response, but without any of the current header fields from the response.   I think all that is needed is that we duplicate the 102 handling, but use a temporary `MetaData.Response` to contain the headers as they currently are.

However, I'm unsure if 102

[2022-05-25 21:39] joakime commented on #8057
Chrome 95 was the first version to support 103 Early Hints.

https://chromium.googlesource.com/chromium/src/+/master/docs/early-hints.md

Fastly opened support in Nov 2020.

Cloudfare opened support in Sep 2021

[2022-05-26 00:04] gregw commented on #8057
I've opened a branch for this and started by adding a better test for 100 and 102 responses.  These work for all protocols.
I'll implement 103 support later today.

[2022-05-26 05:50] lachlan-roberts opened #8059 "Merge LEGACY MultiPart compliance modes into RFC7578 parser for Jetty 12."
PR https://github.com/eclipse/jetty.project/pull/8008 merges the MultiPart compliance modes to `10.0.x` and `11.0.x`. In Jetty 12 we should have only 1 parser with the compliance violations from the LEGACY parser available in `MultiPartFormInputStream`.

[2022-05-26 08:13] #8014 closed, assigned to nobody

[2022-05-26 14:18] #7754 closed, assigned to joakime

[2022-05-27 06:09] ginkosen commented on #2326
@sbordet

Hi.Sorry for slow reply.

We figure out the problem.

When we disabled intel cpu HT, the problem is sloved.

**When we use the official demo, the program runs normally, this is the problem of our program**.

[2022-05-28 06:34] cowwoc commented on #7994
@sbordet I tried implementing the `TaggedHttpProxy` approach but I think I ran across a bug.

* I make an HTTP request using a proxy that matches the tag, but the server redirects the client to HTTPS.
* `HttpRedirector.sendRedirect()` invokes `Request redirect = client.copyRequest(httpRequest, location);`
* However, if you dig into `HttpClient.copyRequest()` you will find that it does not copy the

[2022-05-28 06:42] cowwoc commented on #7994
The following workaround worked for me and I can now use a single `HttpClient` with explicit selection between multiple proxies:

[code]

I'll wait for you to confirm whether this will get fixed in the main codebase. Thanks!

[2022-05-28 17:53] gonphsn opened #8067 "Wall time usage in DoSFilter RateTracker results in false positive alert"
**Jetty version(s)**
9.4.46

**Java version/vendor** `(use: java -version)`
openjdk version "1.8.0_312"
OpenJDK Runtime Environment (build 1.8.0_312-8u312-b07-0ubuntu1~20.04-b07)
OpenJDK 64-Bit Server VM (build 25.312-b07, mixed mode)

**OS type/version**
Ubuntu 20.04 LTS

**Description**
We have observed that when the system time is set backwards in our environment, either through manual interven

[2022-05-28 19:31] joakime commented on #8067
This is why production systems try everything in their power to not adjust the clock during operation.

Google even goes so far as to smear a 1 second leap second across the entire day in tiny increments (as even a 1 second adjustment can cause issues).
https://developers.google.com/time/smear

[2022-05-28 19:32] cowwoc commented on #3949
@joakime @olamy I don't think this issue is fixed.

Repro steps:
1. Go to https://www.eclipse.org/jetty/javadoc/jetty-11/
2. Search for ServletHandler
3. Click on first link
4. Browser is redirected to https://www.eclipse.org/jetty/javadoc/jetty-11/undefined/org/eclipse/jetty/servlet/ServletHandler.html which returns HTTP 404 due to `undefined` in the URL

Any ideas?

[2022-05-29 22:29] cowwoc opened #8068 "Jetty preventing async event listener from getting garabage-collected"
**Jetty version(s)**
11.0.9

**Java version/vendor** `(use: java -version)`
openjdk version "18.0.1" 2022-04-19
OpenJDK Runtime Environment Zulu18.30+11-CA (build 18.0.1+10)
OpenJDK 64-Bit Server VM Zulu18.30+11-CA (build 18.0.1+10, mixed mode, sharing)

**OS type/version**
Microsoft Windows [Version 10.0.19044.1706]

**Description**
I discovered a memory leak in commercial software that I am deve

[2022-05-30 00:21] gregw commented on #8068
I don't think that is a stack trace, it is a reference trace.     This is telling me that at this point, the connection is still in the scheduler queue for an idleTimeout.   The connection is removed from that queue in its onClose method, so that connection is still open.... which may well be the case as the client attempts to use persistent connections where possible.

So this might not be a leak

[2022-05-30 01:58] #1771 closed

[2022-05-30 08:23] lorban opened #8069 "Jetty 12 is missing a way to record server latencies"
**Jetty version(s)**
12.0.x

**Description**
12.0.x currently does not have anything equivalent to 11's `HttpChannel.Listener` API which is needed at least to record server latencies with our performance tests.

[2022-05-30 09:38] lorban commented on #8069
This actually can be done with the existing wrapper mechanisms by creating a `Handler.Wrapper` that adds a stream wrapper:

[code]

[2022-05-30 12:32] sbordet commented on #8069
@lorban can you make this a utility `Handler` with overridable methods such as `onRequestBegin()`, etc. so people that wants to use it can do so overriding only the few methods they need?

[2022-05-30 14:51] a1730 commented on #7003
Issue #7958 announcement (Jetty 9.x losing community support) forced us to deall with this issue.

Our configuration is `end-user-> Cloudflare-> Haproxy-> Jetty server`. Each with its own IP address.
These two lines in our Haproxy configuration worked for us.

  http-request add-header X-Forwarded-Server "%[req.hdr(host)]"

`%[src]` is client real ip address, and `%[req.hdr(host)]` is the Host cop

[2022-05-30 16:16] sbordet commented on #7003
You should not be needing 2 lines, as `Forwarded: for=%[src];proto=https;host=%[req.hdr(host)]` should be enough.
Have you tried the `host` parameter and it does not work?

[2022-05-30 21:21] a1730 commented on #7003
That was what we thought. In fact that was why I decided to leave a comment ...
Reading the RFC, and following [this](https://github.com/haproxy/haproxy/issues/575) haproxy thread for RFC7239 with Haproxy, we tried all imaginable combinations including adding host and server tokens. Nothing worked without adding `http-request add-header X-Forwarded-Server "%[req.hdr(host)]".`
We then started remov

[2022-05-31 00:00] #2402 closed

[2022-05-31 00:07] gregw commented on #8069
It could have a bunch of overridable methods that correspond to the previous listener events... or is that just adding complexity.
Perhaps just have an extensible method that creates the actual listener would be sufficient?

[2022-05-31 00:36] gregw opened #8081 "Jetty-12 multi environment deployment"
**Target Jetty version(s)**
Jetty-12

**Enhancement Description**

The deployer in Jetty-12 is now capable of deploying both ee9 and ee10 webapplications (and soon ee8).    However, thought is needed as to what the user experience should be.

Currently to deploy an eeX webapplication we need to enable the module `eeX-webapp` which will create the directory `webapps-eeX`  (yes we do have to decide

[2022-05-31 00:37] gregw commented on #8081
@joakime @janbartel thoughts?

[2022-05-31 01:17] gregw commented on #8067
However, in this particular case.... I think we should switch the RateTracker to use nano time rather than system time.   Some usages do need wall clock time, but RateTracker is not one of them.

However, HOWEVER, we are exceedingly unlikely to make this change in jetty-9.4, as it approaches end of community support (1st June.... ie tomorrow).   Although we do have a 9.4 release coming out soon...

[2022-05-31 12:43] gonphsn commented on #8067
I agree there is wisdom in avoiding time changes completely; however, part of our API is specifically allowing for remote time change so that is not a direction we can move to quickly. I'm certainly open to workarounds like considering the negative duration, or allowing us access to clear the RateTracker universally; however, this particular usage of system time seemed as though the DoSFilter beca

[2022-05-31 13:18] joakime opened #8084 "Flaky Test : org.eclipse.jetty.http.client.HttpClientStreamTest.testFileUpload([5] H3)"
**Jetty version(s)**
10.0.x and 11.0.x

**Java version/vendor** `(use: java -version)`
Java 17

**OS type/version**
Linux

**Description**

The following test is flaky in different ways ...

[code]

##### Example 1:

Seen in https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-8073/1/tests

[code]

#### Example 2:

Seen in https://jenkins.webtide.net/blue/organizations/je

[2022-05-31 14:07] manusa opened #8085 "Jetty 11 WebSocket Client: SSL/TLS authentication using client certificate"
**Jetty version**: 11.0.9

**Java version**: 11.0.10

**Question**

I'm working on an HTTPClient implementation for [Fabric8 Kubernetes Client](https://github.com/fabric8io/kubernetes-client) based on Eclipse Jetty.

You can check the work in progress in the following PR: https://github.com/fabric8io/kubernetes-client/pull/4180

This implementation requires both, the jetty-client and the jetty-web

[2022-05-31 14:45] sbordet commented on #8085
Your code is correct.

If you can reproduce the case, can you enable DEBUG logs on the server, so we can understand why the request failed?

[2022-05-31 16:00] cg671344 opened #8086 "To limit json data size in Post Body"
**Jetty version**
Any
**Java version**
Java8_321, Spring boot 2.6.3
**Question**
I want to post a large json data in post body while using Jetty in sprint boot,  the data size maybe more than 100MB, and will set Content-Type as "application/json" in the header.
1. Is it possible to limit the json data size in the body?  Unlimited data size in body may do harm to the server.
2. Is that only Content

[2022-05-31 17:51] manusa commented on #8085
These are the debug logs https://gist.github.com/manusa/9d4ed942d96909c17c26169589bcaf60, line 395 has the forbidden response.

For some additional context, the endpoint I'm trying to connect is `https://192.168.39.24:8443/api/v1/namespaces/default/pods?fieldSelector=metadata.name%3Dsample-watch-pod&allowWatchBookmarks=true&watch=true`, however, we're changing the protocol to `wss` before passing

[2022-05-31 18:25] joakime commented on #8086
From a strictly Jetty and Servlet point of view you have 2 Content-Types that can limit size.

* `application/x-www-form-urlencoded` - controlled by `ContextHandler.setMaxFormContentSize(int)` and `org.eclipse.jetty.server.Request.maxFormContentSize` server attribute.  (use `HttpServletRequest.getParameter()` methods to access)
* `multipart/form-data` - controlled via Servlet [`@MultipartConfig`](

[2022-06-01 01:56] #8057 closed, assigned to nobody

[2022-06-01 02:12] gregw commented on #8057
@joakime can you pass this on to the user

[2022-06-01 04:41] janbartel opened #8088 "Add option to configure exitVm on ShutdownMonitor from System properties"
**9.4+**

Add a System property like `STOP.EXIT=[true|false]` to enable configuration of ShutdownMonitor `exitVm` from the command line.

[2022-06-01 06:50] sbordet commented on #8085
You linked the client logs. Need the server logs to understand why the server had a TLS failure.

[2022-06-01 07:14] manusa commented on #8085
Oh, sorry, I missed the `server` part in your first comment.

I don't have access to the server logs. This is a Minikube Kubernetes server ~~, and I'm not sure this kind of logging detail (or any logging at all) can be enabled~~ (currently checking [this](https://minikube.sigs.k8s.io/docs/tutorials/audit-policy/)).

The thing is that for the HttpClient, this authentication works and the server acc

[2022-06-01 07:46] sbordet commented on #8085
@manusa it could well be that the server is configured differently, because the client is configured the same.

Jetty does not do much with respect to TLS, it just delegates to the JDK, so I doubt that "for some reason the client certificate is not used for authentication in this case" due to client problems -- I would concentrate on the server configuration first.

[2022-06-01 07:52] manusa commented on #8085
The thing is that the same procedures work both with the OkHttp client, and the JDK (11+) HttpClient. Maybe we're missing an extra-header that those clients add automatically, or something else :shrug:. I'm 90% certain that this has to do with the authentication procedure, since SSL works when no client certificate is required for authentication.

The problem is that debugging this is really hard

[2022-06-01 08:07] sbordet commented on #8085
You can use `-Djavax.net.debug=all` on the server to know more.

Also, it may not be a TLS issue at all, maybe just a WebSocket issue. TLS is fine, but for some reason the server does not like the WebSocket upgrade.

[2022-06-01 08:17] manusa commented on #8085
Maybe this is not clear (or I'm not following). The server is a Kubernetes server (more specifically a [Minikube instance](https://github.com/eclipse/jetty.project/issues/8085#issuecomment-1143203757)), this flag is not applicable.

[2022-06-01 08:38] sbordet commented on #8085
I don't know how to help you more if you don't get something from the server.

How do you know that OkHttp and JDK's `HttpClient` work with client certificates?
Maybe they don't send the client certificates, so only plain TLS works, which works in Jetty too.

How do you configure the server to require client certificates?

So far nothing points to Jetty.
The way you setup TLS in Jetty's client is

[2022-06-01 08:42] usertree opened #8091 "Error reporting "Could not process key for channel" for unix sockets"
**Jetty version(s)**
9.4.46.v20220331
**Java version/vendor** `(use: java -version)`
8
**OS type/version**
x86
**Description**
When the peer end is unreachable, the expected response code is 503. However, in practice, no result is returned until 30 seconds expires. How to solve or avoid this problem?
![image](https://user-images.githubusercontent.com/32734356/171363388-1c260d58-7d23-4d36-b8cb-48a7

[2022-06-01 08:56] sbordet commented on #8091
The JNR UnixSocket implementation is not stable.

Please use Java 16's UnixDomain sockets instead, available in Jetty 10+.

See:
https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-client-io-arch-unix-domain
https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-server-http-connector

[2022-06-01 08:56] #8091 closed, assigned to nobody

[2022-06-01 08:57] manusa commented on #8085
Maybe they don't send the client certificates, so only plain TLS works, which works in Jetty too.

Our project is based on OkHttp and we're now providing additional client implementations. We thought that the native Jdk HttpClient and Jetty would be good choices.
Both these clients (OkHttp and JDK) work on our E2E test suite that runs on Minikube (which requires the client certificate for authenti

[2022-06-01 09:59] manusa commented on #8085
I think I managed to solve the issue. Thanks for your help and involvement @sbordet :raised_hands:

The WebSocket upgrade request is missing the `Origin` header, apparently the rest of clients add this header automatically.

I'll add more details and close the issue once I'm sure everything works.

[2022-06-01 10:45] manusa commented on #8085
As usual in this cases, the problem exists between keyboard and chair.

We're adding the Origin header ourselves, but I was not propagating them to the `ClientUpgradeRequest` :facepalm:

Thanks again for your help!

[2022-06-01 10:45] #8085 closed, assigned to nobody

[2022-06-01 10:56] joakime commented on #5948
Fixed in issue #6017

[2022-06-01 10:56] #5948 closed, assigned to nobody

[2022-06-01 16:03] joakime commented on #7958
Communication has been sent. Closing issue as completed.

[2022-06-01 16:03] #7958 closed, assigned to joakime

[2022-06-01 16:18] joakime opened #8095 "Jetty Releases 9.4.47"
**Jetty Versions:**
This release process will produce releases: 9.4.47

**Target Date:**
June 6, 2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "release

[2022-06-01 16:19] joakime commented on #8095
I'm taking **Release Manager** role for this release.

[2022-06-01 16:24] joakime opened #8096 "Jetty Releases 10.0.10 and 11.0.10"
**Jetty Versions:**
This release process will produce releases: 10.0.10 and 11.0.10

**Target Date:**
June 6, 2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue

[2022-06-01 16:25] joakime commented on #8096
I'm taking **Release Manager** role for this release.

[2022-06-01 18:12] #7818 closed, assigned to joakime

[2022-06-01 18:14] uschindler commented on #7818
Thanks!

[2022-06-01 21:34] olamy commented on #8081
looking `WEB-INF/web.xml` as default.
but maybe some way to configure ee9 vs ee10. (e.g war with ee9 web.xml should work with ee10?)

[2022-06-01 21:48] joakime commented on #8081
If the `WEB-INF/web.xml` exists (doesn't have to exist), we can at least provide a minimum ee level from that information.

I can see folks wanting to put content in their WAR that would bind the ee level on jetty 12.
So is this a good feature for `WEB-INF/jetty-env.xml` ?

[2022-06-01 22:18] gregw commented on #8081
env switch can't be in `WEB-INF/jetty-env.xml` as by the time we run the xml we need the classloader, so we need the env to be known.  But perhaps we could looke for `WEB-INF/jetty-env-eeX.xml`

I like peeking at the `WEB-INF/web.xml` as a reasonable default.   However there is a complication of both  `WEB-INF/jetty-env.xml` and `WEB-INF/web.xml` that we really need the unpacked war.   Two issues

[2022-06-01 22:53] janbartel commented on #8081
How about `webapps/` is "aliased" to whatever the latest is (eg for now its `webapps-ee10`) so if you want your webapps always to be deployed with the latest and greatest, then put them in `webapps/`.  If you know that you specifically and only ever want particular webapps deployed to a specific version, then deploy to that: eg if you know you want `my.war` to be deployed to `ee8` then enable `ee8

[2022-06-02 00:09] gregw commented on #8081
Aliasing is enough of a problem without introducing our own extra aliases. Besides, simlinks are not supported on all platforms.

I don't understand your point about web.xml?   Surely even an unmaintained web.xml will be sufficient to indicate the status of: <servlet 5.0; ==servlet 5.0, >=servlet 6.0.   This is the key changes that we need to know.  If something deployed OK on ee10, then it should

[2022-06-02 02:57] janbartel commented on #8081
I'm not saying filesystem aliasing, that's why I put it in quotes. I meant virtual aliasing - as in  inside the deployer - the ee10-deployer knows that it's directory to monitor is `webapps/`. When ee10 is no longer the newest, the ee10-deployer changes it's deploy directory to `webapps-ee10`, and the new eexx-deployer's directory is `webapps/`.

Fine, currently we only have the version split betw

[2022-06-02 09:46] gregw commented on #8081
The issue with having "webapps" / "webapps-ee9" / "webapps-ee8" is that it is asymmetric and what do we do if there is both "webapps" and "webapps-ee9".

I think I'm convinced that web.xml inspection is not going to work well.   I'm now leaning towards a tag file of some kind.

[2022-06-02 09:50] gb6881 commented on #7975
we ran into the same issue with 10.0.9, i've added a Test, not sure
[0001-ForwardedRequestCustomizer-removal-of-headers-e.g.-p.patch.zip](https://github.com/eclipse/jetty.project/files/8822589/0001-ForwardedRequestCustomizer-removal-of-headers-e.g.-p.patch.zip)

i'm not sure what would be the best approach:
-> first clear() on every update in org.eclipse.jetty.server.ForwardedRequestCustomizer.upd

[2022-06-02 11:58] joakime commented on #7975
Opened PR #8102

[2022-06-02 15:27] #6324 closed, assigned to nobody

[2022-06-02 15:54] sbordet commented on #7994
@cowwoc I think it's a bug, good catch!

[2022-06-02 16:13] sbordet commented on #7994
Filed https://github.com/eclipse/jetty.project/pull/8103.

[2022-06-02 16:34] cowwoc commented on #7994
Cool, thank you :) You can close this issue now if you want.

[2022-06-02 17:17] sbordet commented on #7899
@cowwoc I think this also can be done with tags, since a each proxy tag would create different destinations, so `maxConnectionsPerDestination` would be enforced. The destinations would have the same host/port, but different tags.

[2022-06-02 17:17] #7899 closed, assigned to nobody

[2022-06-02 19:17] #7975 closed, assigned to nobody

[2022-06-02 19:44] jmcc0nn3ll commented on #8067
@gonphsn (or anyone really) [Webtide](https://webtide.com) is the company behind the open source Jetty and CometD projects. If you are interested in learning more about how our support service works for things like this feel free to reach out to me at jesse@webtide.com and I would be happy to chat. I am a long time committer on the project and I chat with lots of folks in the community, companies

[2022-06-03 01:57] cowwoc commented on #7899
@sbordet That makes a lot of sense. Thank you!

[2022-06-03 07:27] #7994 closed, assigned to nobody

[2022-06-03 11:24] MobAbi commented on #7992
Thank you for your reply.As soon as I find the time I will check what you wrote and might come back to this Issue.

[2022-06-03 14:20] MobAbi commented on #7992
I think I found the reason - it's not Jetty itself, but Spring:

![Jetty10WebSocketHandlerAdapter_no_onWebSocketFrame](https://user-images.githubusercontent.com/93993912/171872552-78d5fa4e-7032-4804-a7cc-35b5e8123e63.png)

If someone knows how to workaround this, that would be great to know.

[2022-06-03 16:14] sbordet commented on #8069
@gregw won't you still need a `Listener` interface with all the `onXYZ()` methods?

[2022-06-03 21:56] gregw commented on #8069
It could be done with a new listener interface, or just an extendible method to create the stream listener.

My preference is to avoid lots of lists of listeners that we must iterate over.

[2022-06-04 00:00] #4310 closed

[2022-06-05 09:13] sbordet commented on #5315
As reported in the previous comment, we can now just isolate the properties, so there is no "link" to the module file, just a section in the documentation with the list of properties.

[2022-06-05 09:13] #5315 closed, assigned to sbordet

[2022-06-06 03:24] lachlan-roberts commented on #7992
@MobAbi probably best to open an issue asking about this on the spring project.

But it looks like they have addressed this in their `main` branch as part of the work for https://github.com/spring-projects/spring-framework/issues/27424.
See that [JettyWebSocketHandlerAdapter](https://github.com/spring-projects/spring-framework/blob/main/spring-websocket/src/main/java/org/springframework/web/socket

[2022-06-06 08:15] huifer opened #8114 "How to use Jetty Source Code start web app"
**Jetty version**
jetty verson: 11.0.9

**Java version**

java version "17.0.1" 2021-10-19 LTS
Java(TM) SE Runtime Environment (build 17.0.1+12-LTS-39)
Java HotSpot(TM) 64-Bit Server VM (build 17.0.1+12-LTS-39, mixed mode, sharing)

**Question**
How do I launch a Web application using the Main class in Jetty's source code

[2022-06-06 08:17] huifer commented on #8114
How should I set up the ${jetty.base}  directory

[2022-06-06 08:21] sbordet commented on #8114
Please read the documentation.
It's divided in 2, one part if you want to use code to deploy your web applications, and another part if you want to start Jetty as a standalone server and you want to deploy your web applications.

https://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html

https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html

[2022-06-06 08:36] huifer commented on #8114
Sorry I don't see how to use Main to launch a WebApp

<img width="386" alt="image" src="https://user-images.githubusercontent.com/26766909/172126256-8cac17b0-79ec-49cd-8f86-9d88bdf3b9e3.png">

[2022-06-06 10:05] sbordet commented on #8114
@huifer you don't specify what "Main" is, so I have no idea what you are asking.
Furthermore, Jetty is very configurable, so "WebApp" may mean different things to different people.

If you mean that you want to use _code_ to start Jetty and deploy a standard EE9 web application, read here:
https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-server-http-handler-use-

[2022-06-06 13:34] huifer commented on #8114
Main is `org.eclipse.jetty.start.Main` . I want start from `org.eclipse.jetty.start.Main` just start . My application looks like this ![pic](https://user-images.githubusercontent.com/26766909/172126256-8cac17b0-79ec-49cd-8f86-9d88bdf3b9e3.png)

[2022-06-06 14:26] huifer commented on #8114
I see a test class `org.eclipse.jetty.quickstart.Quickstart#main` ，I started the test class directly and got an exception
[code]
How can I solve it

[2022-06-06 14:52] cowwoc commented on #8068
I think you're right. I'm going to close these issue for now and if the issue re-appears I will reopen it. Thank you.

[2022-06-06 14:52] #8068 closed, assigned to nobody

[2022-06-06 15:30] sbordet commented on #8114
You are not providing enough information.

Read and follow the instructions in the documentation: https://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html

[2022-06-06 16:22] joakime opened #8126 "Improve PathSpec handling with Regex"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
Take effort done in PR #7947 and port to Jetty 10.0.x

[2022-06-06 16:47] joakime commented on #8114
@huifer there are examples of setting up the `${jetty.base}` directory in the documentation at https://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html

You have not provided enough detail on your issue for us to give you any more specific information/help.

[2022-06-06 18:13] MobAbi commented on #7992
Thx for your reply.
I'm not so deep into the versions of Spring vs Jetty, but am I right when I say that as soon there is a Spring version that supports Jakarta and uses Jetty 11, then I can migrate to that and the Frame (Ping/Pong) support should be fine.
Is this correct?

[2022-06-07 00:14] huifer commented on #8114
i want start with `org.eclipse.jetty.start.Main`

[2022-06-07 00:20] #2334 closed

[2022-06-07 00:21] #8067 closed, assigned to nobody

[2022-06-07 00:22] huifer commented on #8114
I can start a Web application in a separate base directory using the document you gave
<img width="465" alt="image" src="https://user-images.githubusercontent.com/26766909/172270078-240a122b-4c4a-456e-b47e-379f99137cb7.png">

But the way I do it is java -jar /jetty.project/jetty-home/target/jetty-home/start.jar ，I see that start.jar is compiled from Main(`org.eclipse.jetty.start.Main`) ，I want to

[2022-06-07 01:19] joakime commented on #8114
The Jetty `start.jar` is a bootstrap to build a server from configuration.
It manages jar files, classpaths/classloaders, properties, xml, etc...

The fact that you are using `java -jar /path/to/jetty-home/start.jar` means you are already using `org.eclipse.jetty.start.Main`.
Based on what you are asking, you are done, you've succeeded in starting your web application with `org.eclipse.jetty.start

[2022-06-07 02:01] janbartel opened #8132 "Flaky tests HttpClientStreamTest.testUploadWithConcurrentServerCloseClosesStream, HttpClientStreamTest.testFileUpload"
**jetty-10*

jetty-10.0.x has 2 flakey HttpClient tests, visible on this build: https://jenkins.webtide.net/job/jetty.project/job/jetty-10.0.x/1535/

[2022-06-07 02:15] huifer commented on #8114
ummmm, I just want to use the `org.eclipse.jetty.start.Main` , don't want to through the `java -jar /path/to/jetty-home/start.jar` , i want using `org.eclipse.jetty.start.Main` with base  directory
<img width="1040" alt="image" src="https://user-images.githubusercontent.com/26766909/172281313-d88771c2-0cd2-46b7-88da-e2dec37e4f06.png">

[2022-06-07 04:18] janbartel commented on #6184
@joakime how can you be sure that the classloader is no longer pinned? Have you inspected the Thread class code? I'm fine to use the new jdk PrivilegedThreadFactory per se, however I want to be _sure_ it is solving the problem this issue is about.

[2022-06-07 10:13] moizm89 commented on #6050
Hi @lachlan-roberts,

Getting the same issue in version 10.0.7.
Is this fix ported to 10.0.7?

Thanks

[2022-06-07 12:18] joakime commented on #8114
The `org.eclipse.jetty.start.Main` cannot be used like that in your IDE.

Why?  it's because the `start.jar` contains a shaded portion of classes coming from other places.

The classpath / classloader of `start.jar` is empty (intentionally), it creates and manages the classloader/classpath and then kicks off a Jetty, and will even kick off a forked Jetty if your configuration specifies something t

[2022-06-07 12:24] joakime commented on #6184
@janbartel doesn't matter if use the JDK PrivilegedThreadFactory either, as that is also covered by the removal in JEP-411.

[2022-06-07 12:26] joakime commented on #6184
The problem is that there's currently no solution that is resilient to changes in new JVMs.

The old Jetty `PrivilegedThreadFactory` will break because `AccessController.doPrivileged` will not exist.

And using the JDK `PrivilegedThreadFactory` will break because that wont be there either.

[2022-06-07 12:31] joakime commented on #6184
I have inspected the code, with @sbordet too.
It's not obvious where this issue exists in newer JVMs. (we didn't look at older JVMs)

Currently we have no test that proves the pinning when not using the Jetty `PrivilegedThreadFactory`. (automatic, or manual)

[2022-06-07 12:33] joakime commented on #6050
@moizm89 Jetty 10.0.9 is the latest version.

The changes for this issue on Jetty 10 are in commit cc81b309f381035d4edc52b7d640e34464c1d200 which shows it's first appearance in Jetty 10.0.2

[2022-06-07 12:34] joakime commented on #6050
@moizm89 if you have a reproduction case, please open a new issue against Jetty 10.

[2022-06-07 13:10] joakime commented on #8132
The `testFileUpload` flaky is filed on issue #8084

[2022-06-08 00:53] lachlan-roberts opened #8137 "Create a way to close WebSocket flushers without always creating exception."
**Jetty version(s)**
10+

Flushers in websocket need a way to be closed without creating an exception.
`FragmentingFlusher`
`TransformingFlusher`
`DemandingFlusher`
etc...

`close` could potentially be used, this would need to fail any existing entries, not allow new entries to be added and creating exception only if needed.

[2022-06-08 14:57] dev-chirag opened #8144 "How does Jetty Client Decide the Default SNI"
**Jetty version**
9.4.43
**Java version**
1.8.0_321
**Question**

My Jetty client doesnt send the server_names extension in the Client Hello.

I am not providing any SNIProvider implementation, so I believe it's using the default:

_private SniProvider sniProvider = (sslEngine, serverNames) -> serverNames;_

This _serverNames_ is fetched from the _sslEngine_ or _sslParameters_

But I fail to under

[2022-06-08 15:07] sbordet commented on #8144
The SNI is taken from the request host name, which is used to open a TCP connection to the server, and passed to `SSLEngine`.

The JDK sends the SNI if it's a proper host name such as `google.com`, but not if it's an IP address or a non-domain string (see javadocs for class `SniProvider`).

You can use `SniProvider` to try to force the send of the SNI in the cases the JDK does not send them, but i

[2022-06-08 17:36] #8126 closed, assigned to joakime

[2022-06-08 22:06] #8088 closed, assigned to janbartel

[2022-06-09 00:57] huifer commented on #8114
Thank you very much @joakime

[2022-06-09 00:59] huifer commented on #8114
If I want to analyze the startup process of start.jar, which class should I start from

[2022-06-09 02:19] gregw commented on #8114
There are several key classes in jetty-start module. The `Main` and `StartArgs` are good ones to start with. Not also you can turn on debug you see how it works

[2022-06-09 08:19] baranchikovaleks opened #8148 "Wrong HTTP response code in logback-access logs"
Jetty version - 9.4.46.v20220331

Java version - openjdk version "11.0.11" 2021-04-20

OS - Ubuntu 18.04

Hello!

We spotted in our production access logs some malicious requests that resulted in 200 response code. Further investigation showed that actual HTTP response code is 400, but for some reason 200 OK apprears in access logs.

I created a small project to reproduce, see https://github.com/b

[2022-06-09 10:45] lorban opened #8149 "Disable H3 tests by default"
**Jetty version(s)**
10.0.x, 11.0.x, 12.0.x

**Description**
HTTP 3 tests currently are flaky and need some investigation to figure out why. In the meantime, they should be disabled by default with some possibility to explicitly re-enable them.

[2022-06-09 12:01] joakime commented on #8148
[code]

You are using logback-access which has known unfixed bugs.

* #7617
* https://github.com/qos-ch/logback/pull/532

Switch to using Jetty's [`CustomRequestLog`](https://javadoc.io/doc/org.eclipse.jetty/jetty-server/9.4.46.v20220331/org/eclipse/jetty/server/CustomRequestLog.html) with a [`Slf4jRequestLogWriter`](https://javadoc.io/static/org.eclipse.jetty/jetty-server/9.4.46.v20220331/org/ecl

[2022-06-09 12:01] #8148 closed, assigned to nobody

[2022-06-09 13:52] yamass opened #8151 "`JakartaWebSocketSession.close()` blocks long time when called from `SendHandlerCallback`"
**Jetty version(s)**
11.0.9
(worked with 9.4.44.v20210927)

**Java version/vendor** `(use: java -version)`
temurin-17.0.2

**OS type/version**
Ubuntu Linux

**Description**

JakartaWebSocketSession.close() blocks when it is invoked from a SendHandlerCallback. In fact, it only unblocks after the idle timeout. Example (see also attached project):

[code]
Result:
[code]

This seems to be due to the f

[2022-06-09 14:17] joakime commented on #8151
Interesting use case.
I don't see anything specifically preventing this on the spec.

[2022-06-09 14:30] fanf opened #8152 "jetty.sh does not read JAVA_OPTIONS anymore"
**Jetty version(s)**

Jetty 10.x since commit c89866682c14ca1da0ce482eeca0953375b25da8, ie

git tag --contains=c89866682c14ca1da0ce482eeca0953375b25da8
jetty-10.0.8
jetty-10.0.9
jetty-11.0.8
jetty-11.0.9

**Java version/vendor** `(use: java -version)`

Any

**OS type/version**

Any

**Description**

Since commit c89866682c14ca1da0ce482eeca0953375b25da8, `JAVA_OPTIONS` is not read anywhere in `jett

[2022-06-09 14:53] joakime commented on #8152
The removal of JAVA_OPTIONS was because of the nature of how configurations could fork a JVM.
Those options would not carry over to a configuration that would fork the JVM.

The changes in jetty.sh reflect this, and an effort to build the true command line based on your Configuration.
This means using the `exec` module in your `${jetty.base}/start.d/exec.ini` and including any previous JAVA_OPTION

[2022-06-09 15:11] fanf commented on #8152
OK, thanks for the information. I'm not sure it will work for us, since we are sourcing external config files to get the option list, but I will look at the doc now that I know the entry point. Thanks for the pointer.

[2022-06-09 20:49] typalm opened #8154 "TCP connection to reverse proxy remains open when websocket connection fails"
**Jetty version**
9.4.36

**Java version**
1.8

**Context**
I have two Java daemon processes that need to communicate via websockets.  These processes are not guaranteed to be on the same machine.  I'm leveraging Nginx as a reverse proxy on the server machine.  Sometimes the client will be passed through a load balancer to get to the right machine.

**Question**
It has been found that once the cli

[2022-06-10 14:56] xinguangduan opened #8156 "Does the AsyncContext.setTimeout() support dynamic Settings in Jetty?"
**Jetty version**
9.4.46.v20220331
**Java version**
jdk1.8.192
**Question**
Does the AsyncContext.setTimeout() support dynamic Settings in Jetty? I have a requirement that the timeout set at the beginning of the request can be set again when needed?

[2022-06-10 16:13] joakime commented on #8095
I'm taking the **Build Manager** role for this release.

[2022-06-10 16:13] joakime commented on #8095
Version 9.4.47.v20220610 is now staged.

[2022-06-10 16:14] joakime commented on #8096
I'm taking **Build Manager** role for this release.

[2022-06-10 16:14] joakime commented on #8096
Version 10.0.10 is now staged.

[2022-06-10 16:40] joakime commented on #8096
Version 11.0.10 is now staged.

[2022-06-10 19:18] kimmerin opened #8157 "SslContextFactory$Server stops working when using PKCS11-keystores and some idle time passes"
**Jetty version(s)**
10.0.9

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.14" 2022-01-18 LTS
OpenJDK Runtime Environment Zulu11.54+23-CA (build 11.0.14+9-LTS)
OpenJDK 64-Bit Server VM Zulu11.54+23-CA (build 11.0.14+9-LTS, mixed mode)

**OS type/version**
Microsoft Windows [Version 10.0.19044.1706]

**Description**
I've set up a TLS-connector using a SslContextFactory where

[2022-06-11 15:20] BLUERAYDAN opened #8159 "FYKYO"
CHEEZDERЬMOЖOПAЯЛЮБЛЮТEБЯ

[2022-06-11 15:21] BLUERAYDAN commented on #8159
KOLORYEL:

[2022-06-11 15:22] BLUERAYDAN commented on #8159
YSHOUDI

[2022-06-11 15:22] BLUERAYDAN commented on #8159
IDONTKE

[2022-06-11 15:22] BLUERAYDAN commented on #8159
WHOZTHIS?

[2022-06-11 15:22] BLUERAYDAN commented on #8159
ITSMEDARLING

[2022-06-11 15:23] BLUERAYDAN commented on #8159
SOLONG

[2022-06-11 15:25] BLUERAYDAN commented on #8159
@seratch @deridex

[2022-06-11 15:25] BLUERAYDAN commented on #8159
[%](url)

[2022-06-11 15:25] #8159 closed, assigned to nobody

[2022-06-11 15:26] BLUERAYDAN commented on #8159
- [ ]

[2022-06-11 15:26] BLUERAYDAN commented on #8159
#3515

[2022-06-11 15:26] BLUERAYDAN commented on #8159
#8158

[2022-06-11 15:27] BLUERAYDAN commented on #8159
#6385

[2022-06-13 00:21] #8114 closed, assigned to nobody

[2022-06-13 08:04] dev-chirag commented on #8144
Thanks @sbordet , precise and quick as always!

[2022-06-13 08:04] #8144 closed, assigned to nobody

[2022-06-13 08:50] sbordet commented on #8156
I have a requirement that the timeout set at the beginning of the request can be set again when needed?

No, per specification the timeout applies for every `startAsync` cycle, so you can set it, then it expires, then you can call `startAsync()` again and you can set a different timeout.

Alternatively, you disable the timeout via `setTimeout(0)`, and you manage your own timeouts with your own sch

[2022-06-13 08:56] sbordet commented on #8157
I'm not sure I understand this, as all seems unrelated to Jetty?
Why it is a Jetty bug if the HSM times out?

[2022-06-13 08:59] sbordet commented on #6385
Do we still need to support this?

[2022-06-13 09:01] kimmerin commented on #8157
It seems to me that Jetty calls `keystore.getKey()` once and keeps the returned key forever. If it's not used for some time, the underlying session to the HSM becomes invalid and using that key leads to an error. The KeyStore itself can still be used, i.e. getting the same key again by calling `getKey()` again returns a usable key.

Assuming that a key-instance is valid "forever" is a bug in my ey

[2022-06-13 09:22] sbordet commented on #8157
Jetty does not call `KeyStore.getKey()`.

Jetty just uses the `KeyStore` from the JDK implementation to _set_ values to configure it, and then the JDK implementation does the rest, which may or may not call `getKey()` or cache it.

You should then file an issue to the JDK, not us.

I think it's wrong to assume that a class like `KeyStore` which was designed to support file-system resources to load

[2022-06-13 09:27] sbordet opened #8160 "Make QUIC key pair directory configurable"
**Jetty version(s)**
10+

**Description**
Currently `QuicServerConnector` stores the TLS key pair in `java.io.tmpdir`, but the directory should be configurable.

[2022-06-13 09:32] kimmerin commented on #8157
I'm not assuming anything and using a network accessed HSM (every time I write this, my head explodes) isn't a choice of mine but an external requirement. As well, the way KeyStores were designed in the past and the caveats that produces now in these IT-cloudy times is not my fault ;-)

If Jetty is just passing the KeyStore to the JVM, you're right that the JVM's issue tracker is the right place.

[2022-06-13 13:35] lorban opened #8161 "Improve SSLConnection buffers handling (CVE-2022-2191)"
**Jetty version(s)**
10+

**Description**
`SSLConnection`'s buffers utilization and their pooling should be reviewed.

**Fixes Security Advisory**
https://github.com/eclipse/jetty.project/security/advisories/GHSA-8mpp-f3f7-xc28
CVE-2022-2191

[2022-06-13 14:16] covertMartin commented on #7958
Is this page now out of date? https://www.eclipse.org/jetty/download.php as it show 9.4 as stable?

[2022-06-13 14:19] sbordet commented on #7958
@covertMartin, the page is up-to-date. Jetty 9.4.x is stable and there is a "Notice" link.
The fact that Jetty 9.4.x is in end of community support does not mean it is not stable.

[2022-06-13 14:20] joakime commented on #7958
That status will likely change when 9.4.x goes to EOL status.

[2022-06-13 14:35] sbordet commented on #8154
From the point of view of the client, the connection to nginx succeeded, even if the backend server (behind nginx) is not running.

In this particular case (backend server not running) nginx could still cache connections rather than closing them.
I suggest you look into nginx configuration to see if there is an option to close such connections if the backend server is down.

If you send a message

[2022-06-13 15:07] typalm commented on #8154
I'm unable to do this.  When the backend (behind nginx) is down `connectToServer(...)` ends up throwing an exception, so I never have access to the Session.

**Connection Attempt w/ Log**
[code]

**Stack Trace**
[code]

**Closing Note**
Investigating what could be on the nginx side that would keep this connection open.

[2022-06-13 15:18] sbordet commented on #8154
So if the client could not connect to nginx, how do you know you have a connection open?
Seems to me that no connection was created, so there is none open.

[2022-06-13 15:31] sbordet commented on #8157
No, because your error is indistinguishable from a client error such as the client abruptly closing the connection.
These client-side errors are so common that we cannot even log them at INFO level, never mind at ERROR level.

Your use case is *very* particular.

You can try to add a `SslHandshakeListener`, see for example [here](https://github.com/eclipse/jetty.project/blob/jetty-10.0.9/jetty-cli

[2022-06-13 15:47] kimmerin commented on #8157
I'll check the test class but

A client closing a connection is leading to a ProviderException?

[2022-06-13 15:53] sbordet commented on #8157
A client can cause a large number of different exceptions, and we rarely differentiate -- it's a bad client and we don't bother.

For your unique case, see what I suggest above, or configure your HSM to not timeout, or poll periodically your HSM so it does not timeout.

Really, this is not a Jetty issue.

[2022-06-13 15:56] typalm commented on #8154
By monitoring with netstat or an equivalent.

The moment the client process makes the first connection attempt, I can see a connection with status ESTABLISHED between the client process and nginx.  I can leave it for 10+ minutes where the connection won't be dropped and the local/foreign address remain the same.

During this time I can start the back end server process so that a full ws connection

[2022-06-13 16:11] sbordet commented on #7436
The dump above shows a perfectly normal, idle, `HttpClient` with 1 destination that has 4 connections, that have been used each for ~2.5M requests (so a total of ~10M requests).

The associated `ByteBufferPool` shows no leaks.

I don't see the large number of connections that you are reporting, so we need more evidence from you that there is a problem.

So far, I still don't see any problem.

[2022-06-13 16:20] sbordet commented on #8154
Sorry it's not clear.

You see a connection ESTABLISHED *and* an exception on the client?

The last paragraph is not clear: you say that the connection to nginx gets destroyed, but you complain in other comments that it is not.

Please detail **exactly** your problem, the evidence you have, the tools you use, etc. so it is clear where in Jetty the problem could be?

[2022-06-13 17:02] typalm commented on #8154
Correct.  This is when the client process is attempting connections and the back end server process is NOT running.

And yeah.  My questions have not been consistent with my findings.  Thanks for pointing that out.

**Fixed Question**
It has been found that once the client process attempts a connection, a TCP connection between the client and Nginx will persist while the client is still making con

[2022-06-14 00:00] #1940 closed

[2022-06-14 00:00] #1560 closed

[2022-06-14 06:50] sbordet commented on #8154
Sorry it's still not clear.

A websocket connection is a persistent connection until it's explicitly closed by either party.

This makes no sense.

If a TCP connection is established between the client and nginx, it will persist until explicitly closed.

If the client initiates other connections, the existing ones will remain untouched and will continue to exist, while new connections are being es

[2022-06-14 08:32] xinguangduan commented on #8156
@sbordet ，thank you very much! I will try it.

[2022-06-14 08:32] #8156 closed, assigned to nobody

[2022-06-14 09:20] horiavmuntean commented on #7740
Hi,

We are experiences the same issue.  The code @lachlan-roberts offered above does not work in our setup.
If run as it is with JDK16.0.2 (azul build) and Jetty 10.0.9 (jvm launched with -Dorg.eclipse.jetty.LEVEL=DEBUG) we receive the following exception:

[code]

![image](https://user-images.githubusercontent.com/1666052/173539419-a4c43507-0c84-4983-b826-859d9e5c7294.png)

In order to bypass th

[2022-06-14 11:48] lachlan-roberts commented on #7740
@horiavmuntean can you try running this project ([websocket-http2-embedded-example](https://github.com/lachlan-roberts/websocket-http2-embedded-example)) and tell me if that works for you.

I have not tried on your JDK but this does work fine for me on `Temurin-17.0.3+7`.

[2022-06-14 12:30] MoralCode commented on #5149
I am seeing similar behavior to that reported.
Known affected version: 9.4.22 and below (also tested 9.4.18, 9.4.12, and 9.4.6)
Known unaffected version: 9.4.28 + (also tested: 9.4.30, 9.4.32)

This issue happens in a grails app (running via jetty using an exported WAR file instead of the default tomcat server) when rapidly double-tapping F5 in browser (tested on MS edge which is basically chrome)

[2022-06-14 13:00] joakime commented on #5149
Chromium works with it's own connection pool, and response caches, rapidly refreshing with F5 might not do anything with any physical connection as well.

If I do the same thing with Chrome 102, and I have wireshark open watching the network traffic, I see no network traffic to the web server.

[2022-06-14 16:12] joakime commented on #6385
No, just downgrading your slf4j-api version that you use with jetty is sufficient.
There's no code changes necessary.

[2022-06-14 16:12] #6385 closed, assigned to nobody

[2022-06-15 01:17] joakime commented on #808
This is no longer relevant with Jetty 10.x

[2022-06-15 01:17] #808 closed

[2022-06-15 08:30] horiavmuntean commented on #7740
Hi,

The https://github.com/lachlan-roberts/websocket-http2-embedded-example project works as expected but I want to make further comments about what happened in our environment because in certain conditions the RFC 8441 handshake can be broken and it does not work anymore.

At first 'websocket-http2-embedded-example' worked with no problem on my PC but it didn't work on other PCs and laptops show

[2022-06-15 09:02] horiavmuntean commented on #7740
Hi,

I tested further https://github.com/lachlan-roberts/websocket-http2-embedded-example with FF 101.0.1 on Windows 10 64 bit and unfortunately does no work, same 'Could not negotiate protocol from client[http/1.1] and server[h2, HTTP/1.1] on DecryptedEndPoint@5fde3509' exception.

Tested browsers on a Windows 10 64 bit PC:
- Chrome 102.0.5005.115 - OK
- Opera 88.0.4412.40 - OK
- Edge  102.0.1245

[2022-06-15 13:10] #8161 closed, assigned to lorban

[2022-06-15 14:15] sbordet commented on #7740
Have you considered opening an issue to Firefox?
Seems to me that on the Jetty side all is working properly, so if you're satisfied, feel free to close the issue.

[2022-06-15 16:32] mperktold opened #8170 "WebSockets closed abruptly when using HTTP/2"
**Jetty version(s)**
10.0.9

**Java version/vendor** `(use: java -version)`
openjdk version "17.0.2" 2022-01-18
OpenJDK Runtime Environment Temurin-17.0.2+8 (build 17.0.2+8)
OpenJDK 64-Bit Server VM Temurin-17.0.2+8 (build 17.0.2+8, mixed mode, sharing)

**OS type/version**
Windows 10

**Description**

I was investigating our Vaadin application when I noticed warnings regarding websockets being cl

[2022-06-15 17:53] joakime commented on #8170
Interesting analysis.
@lachlan-roberts @sbordet what you think?

[2022-06-16 03:04] mjs8002 commented on #7958
What does Webtide customer mean in this sentence, all users?

[2022-06-16 08:33] sbordet commented on #7958
"Webtide customer" means an entity that has a business support contract with [Webtide Inc.](https://webtide.com)

"Community" means users of Jetty that do not have a business support contract with Webtide Inc.

[2022-06-16 08:39] horiavmuntean commented on #7740
I am not the reporter of this issue, I can't close it.
I will try to report this to FF and come back here with any results.

[2022-06-16 08:56] horiavmuntean commented on #7740
However I found a situation where the websocket session does not work even with Chrome: load index.html in the browser, wait few minutes (until h2 connection closes) and now try to open the wss session (press 'Join') - it fails with the same exception on the server side "Could not negotiate protocol from client[http/1.1] and server[h2, HTTP/1.1] on DecryptedEndPoint".

Is this the expected behavio

[2022-06-16 09:03] sbordet commented on #7740
It is working as expected, in the sense that if the client only offers `http/1.1`, the server cannot decide to use `h2`.

I am guessing it is some logic inside the browsers that makes them think the site does not support anymore `h2`, even though they were able to connect with `h2` just few minutes before. 🤷🏼‍♂️

[2022-06-16 09:11] horiavmuntean commented on #7740
This seems to put constraints for web apps communicating with h2 only servers - in order to make sure they can open wss over h2 at any time they should request some h2 resource first to have the underlying connection available.

This is unexpected for me !

[2022-06-16 10:43] horiavmuntean commented on #7740
Hopefully something good will come out of this: https://bugzilla.mozilla.org/show_bug.cgi?id=1774572

[2022-06-16 13:42] sbordet commented on #8170
I think there we should handle this properly as if it was a websocket timeout.

[2022-06-16 13:59] #8149 closed, assigned to lorban

[2022-06-16 19:24] joakime opened #8174 "`jetty-lowresources.xml` and `lowresources.mod` still refer to deprecated and removed setMaxConnections"
**Jetty version(s)**
10+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**

When using `lowresources` module, the maxConnections setter throws an error if you attempt to use it, as the methods were deprecated in Jetty 9.4.x and removed in Jetty 10.0.0.
(Replaced by `connectionlimit` module)

The removal didn't remove the XML and MOD references though.

[2022-06-16 19:34] joakime commented on #8174
Opened PR #8175

[2022-06-16 21:13] joakime commented on #8096
**Updates: Jun 16**

* Old staged version 10.0.10 (take 1) has been dropped.
* Old staged version 11.0.10 (take 1) has been dropped.
* New staged version 10.0.10 (take 2) has been staged.
* New staged version 11.0.10 (take 2) has been staged.

[2022-06-17 20:56] #8174 closed, assigned to nobody

[2022-06-18 00:01] #6193 closed, assigned to nobody

[2022-06-19 23:44] gregw commented on #121
This is being progressively fixed (see #8067), but will leave open to track progress

[2022-06-20 00:00] #6235 closed, assigned to nobody

[2022-06-20 00:00] #6183 closed, assigned to nobody

[2022-06-20 00:00] #516 closed

[2022-06-20 15:28] joakime commented on #8095
The 9.4.47.v20220610 tests fine on dropwizard branch `release/2.1.x` locally.

[2022-06-20 16:51] joakime commented on #8096
Dropwizard on branch `release/4.0.x` works with Jetty 11.0.10

[2022-06-20 18:03] joakime commented on #8095
PR to merge release branch to mainline branch opened.

* https://github.com/eclipse/jetty.project/pull/8179

[2022-06-20 18:04] joakime commented on #8096
PR to merge release branches to mainline branches opened.

* #8180
* #8181

[2022-06-20 19:00] typalm commented on #8154
**Problem**
Failure of a WS connection impacts subsequent connection attempts.  After the first WS connection attempt failure, subsequent connection attempts aren't routed through the WS url

**Desired Behavior**
1. Client makes the first attempt to establish a WS connection to the back end server.
2. The first WS connection attempt that fails will result in:
a. No open connections or other fragme

[2022-06-20 21:26] sbordet commented on #8154
I still have doubts about what you say you're seeing, as Jetty does not do 3, and 3b does not make sense.
Can you provide evidence of what is happening?
Client DEBUG logs, better yet a network trace with e.g. Wireshark.
You on Windows? Did you disable Antivirus, Firewalls, etc.?

[2022-06-20 21:27] joakime commented on #8154
How does the _server_ fail the first WS Connection attempt?
Details please.

[2022-06-21 05:26] gregw opened #8183 "Resumable upload support"
**Target Jetty version(s)**
jetty-12

**Enhancement Description**
Resumable upload support needs to be monitored to see if we need to support it in multipart upload (plus the new 104 response code).

https://datatracker.ietf.org/doc/html/draft-tus-httpbis-resumable-uploads-protocol-01

[2022-06-21 09:05] sbordet commented on #8154
@typalm I think there is a misunderstanding / wrong expectations that need to be cleared out.

A WebSocket upgrade can happen with both HTTP/1.1 and HTTP/2. While with HTTP/1.1 there may be some expectation that the connection is closed if the WebSocket upgrade fails, I don't think it's the case in general, as it is a perfectly valid HTTP connection that just served a successful request/response.

[2022-06-21 12:20] markslater opened #8184 "All suffix globs except first fail to match if path has `.` character in prefix section"
**Jetty version(s)**
11.0.10

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.15" 2022-04-19
OpenJDK Runtime Environment (build 11.0.15+10-Ubuntu-0ubuntu0.20.04.1)
OpenJDK 64-Bit Server VM (build 11.0.15+10-Ubuntu-0ubuntu0.20.04.1, mixed mode, sharing)

**OS type/version**
Linux 5.4.0-120-generic

**Description**
In Jetty 11.0.9, the path spec `*.foo` matches all paths that en

[2022-06-21 12:30] joakime commented on #8184
This is an ugly bug.
It seems to be related to the optimized group skip.

[2022-06-21 13:22] joakime commented on #8184
Opened 2 PRs (for `jetty-9.4.x` and `jetty-10.0.x`)

* https://github.com/eclipse/jetty.project/pull/8185
* https://github.com/eclipse/jetty.project/pull/8186

[2022-06-21 13:24] joakime commented on #8184
We'll be spinning a new release once these are green.

[2022-06-21 16:18] joakime opened #8188 "Flaky Test: org.eclipse.jetty.client.HttpClientTLSTest.testEncryptedOutputBufferRepoolingAfterNetworkFlushThrows"
**Jetty version(s)**
10.0.10-SNAPSHOT

**Java version/vendor** `(use: java -version)`
Temurin 11

**OS type/version**
Linux

**Description**
As seen at https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-8185/1/tests

[code]

_Standard Error_

[code]

[2022-06-21 20:24] #8184 closed, assigned to joakime

[2022-06-21 20:29] joakime opened #8190 "Jetty Releases 9.4.48"
**Jetty Versions:**
This release process will produce releases: 9.4.48

**Target Date:**
June 22, 2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "releas

[2022-06-21 20:30] joakime opened #8191 "Jetty Releases 10.0.11, 11.0.11"
**Jetty Versions:**
This release process will produce releases: 10.0.11, 11.0.11

**Target Date:**
June 22, 2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to

[2022-06-21 20:31] joakime commented on #8190
I'm taking the **Release Manager** role for this release.

[2022-06-21 20:32] joakime commented on #8191
I'm taking the **Release Manager** role for this release.

[2022-06-21 20:38] joakime commented on #8190
I'm taking the **Build Manager** role for this release.

[2022-06-21 20:38] joakime commented on #8191
I'm taking the **Build Manager** role for this release.

[2022-06-22 10:13] joakime commented on #8190
Guess i'm taking the **Test Manager** role for this release too.

[2022-06-22 10:13] joakime commented on #8191
Guess i'm taking the **Test Manager** role for this release too.

[2022-06-22 21:26] #8152 closed, assigned to nobody

[2022-06-23 00:00] janbartel opened #8196 "Remove unused jetty-plus.xml file"
**jetty-10.x, jetty-11.x**

The `jetty-plus.xml` file is no longer used since we changed to using the `ServiceLoader` to find `Configuration` classes.

[2022-06-23 03:25] janbartel opened #8198 "Flakey test HttpClientRedirectTest.testRedirectFailed"
**jetty-10.0x**

Test is failing on CI builds of jetty-10.0.x.

[2022-06-23 17:49] joakime commented on #8191
This release is done

[2022-06-23 17:49] #8191 closed, assigned to joakime

[2022-06-23 17:49] joakime commented on #8190
This release is done

[2022-06-23 17:49] #8190 closed, assigned to joakime

[2022-06-23 21:23] gsusanto opened #8202 "HTTP/2 CONNECT"
**Jetty version: 10.0.10**

**Java version: JavaSE-11 (JRE [17.0.3])**

**Question**
HTTP/2 CONNECT method

This issue has actually been resolved [here](https://github.com/eclipse/jetty.project/pull/3539). I have been trying to use HTTP/2 CONNECT from the client side to connect to a proxy, then try to do a GET request through the proxy to google.com:433.

What I am trying to acomplish can be done

[2022-06-23 21:25] joakime commented on #8202
Is there a specific reason you are using the low level HTTP/2 Client? and not the higher level HttpClient with HTTP/2 support?

[2022-06-23 21:26] gsusanto commented on #8202
Because I am following the ConnectTunnelTest.java example. Is it possible to use the higher level one?

Also, I might want to do CONNECT UDP, if possible?

[2022-06-23 22:17] sbordet commented on #8202
@gsusanto the way it typically works is that the client issues a CONNECT to the proxy and the proxy opens a connection to the server.
In the specific case of HTTP/2, the stream used to send the CONNECT is kept open so that the client can send and receive DATA frames as long as the tunnel is open. Only when the tunnel is closed you will get a DATA frame with endStream=true.

Typically the client wa

[2022-06-24 07:16] usertree commented on #8091
The JDK cannot be upgraded due to historical reasons. Can I replace jnr-unixsocket on which jetty-unixsocket depends with junixsocket?Are there any examples? After I replaced it, there seems to be some problems with the selector.

[2022-06-24 07:23] usertree opened #8203 "Replacing jnr-unixsocket with Junixsocket"
**Jetty version**
9.4.46
**Java version**
8
**Question**
The JDK cannot be upgraded due to historical reasons, but the jnr-unixsocket has some critical vulnerabilities. How do I replace jnr-unixsocket with junixsocket? Is there a sample guide?

[2022-06-24 07:40] gregw commented on #8203
Jetty-10 &  jetty-11 are based on the JVM unix socket implementation (as they can use latest JVM). JVM unix domain socket support is available on java8, so we cannot backport that.

By junixsocket, do you mean: https://kohlschutter.github.io/junixsocket/ ?     If that project supports selectable channel API, then the work to port to it should not be significant.  However, Jetty-9 is now at end of

[2022-06-24 08:08] usertree commented on #8203
Junixsocket supports selectable channels. Therefore, can jetty9.4.* theoretically support switching from jnr-unixsocket to jnr-unixsocket? Does the Unix domain client only need to extend these two classes?
![image](https://user-images.githubusercontent.com/32734356/175492496-af44ee2f-7a07-41d2-80c7-0a551d15a241.png)

[2022-06-24 11:43] joakime commented on #8203
To repeat what @gregw pointed out ...

Jetty 9.4.x is now at End of Community Support and is scheduled to be EOL in 6 months.

* #7958

[2022-06-24 12:14] kohlschuetter commented on #8091
Related issue on junixsocket: https://github.com/kohlschutter/junixsocket/issues/108

(I'm the author of junixsocket. Please let me know if you found any problems with junixsocket with your setup; version 2.5.0 has seen significant improvements, also regarding Selectors)

[2022-06-24 21:08] kohlschuetter commented on #8091
Since there's probably at least another person who thought about adding junixsocket to jetty but then gave up: I'm now adding jetty support to junixsocket (via the "junixsocket-jetty" artifact).

The latest code (2.5.1-SNAPSHOT) now supports both a server connector (jetty >= 9.4.12) and a client connector (jetty >= 10.0.8). Please give it a try and let me know if that works for you.

See discussio

[2022-06-24 21:43] kohlschuetter commented on #8203
Since there's probably at least another person who thought about adding junixsocket to jetty but then gave up: I'm now adding jetty support to junixsocket (via the "junixsocket-jetty" artifact).

The latest code (2.5.1-SNAPSHOT) now supports both a server connector (jetty >= 9.4.12) and a client connector (jetty >= 10.0.8). Please give it a try and let me know if that works for you.

See discussio

[2022-06-24 21:54] kohlschuetter opened #8206 "Stopping server from within AbstractConnector#accept fails and results in a partially stopped QueuedThreadPool"
**Jetty version(s)**
11.0.11 (also affecting older versions, such as 9.4.12)

**Java version/vendor** `(use: java -version)`
openjdk version "18" 2022-03-22
OpenJDK Runtime Environment Temurin-18+36 (build 18+36)
OpenJDK 64-Bit Server VM Temurin-18+36 (build 18+36, mixed mode)
and others

**OS type/version**
macOS 12.4

**Description**
A Server instance using `QueuedThreadPool` may shutdown incomp

[2022-06-24 23:09] joakime commented on #8206
The `server.stop()` should be from a new thread.

[2022-06-24 23:23] kohlschuetter commented on #8206
Is calling `#stop()` in a new thread some kind of convention? I think that may need to be documented somewhere.

I can confirm that seems to work, except when using `getExecutor().execute`, which I thought is better than creating your own new Thread.

Ideally, it shouldn't matter what thread the call comes from, though. It reminds me a bit of iOS and having to call some code from the main thread a

[2022-06-25 00:10] gregw commented on #8206
Ideally it should not be necessary... So let's call it a work around for now, whilst we ponder this issue some more

[2022-06-25 01:29] joakime commented on #8206
You are attempting to stop the lifecycle from within the lifecycle.
And you are attempting to stop the thread (being managed by QueuedThreadPool) from within a thread being managed by the ThreadPool/Executor.

Using `.getExecutor().execute()` is the same issue.
You couldn't use `getExecutor().execute()` to `server.stop()` from anywhere else in Jetty as well, as the result of calling `server.stop()

[2022-06-26 00:00] #244 closed

[2022-06-26 22:27] gregw commented on #8203
@kohlschuetter Can you give me a bit of background on the junixsocket project, specificially with regards to it's intended usage post jvm 16 with unix domain socket support?   Is it intended to be a viable alternative going forward or just something to provide support for users that cannot upgrade JVMs?

I ask, as if it is something that might be useful for some users against newer versions of Jet

[2022-06-27 02:29] janbartel opened #8209 "Test resources need to be transformed to ee8"
**jetty-12.0.x**

Some `jetty-ee8-plus` tests are failing, because they use `src/test/resources` such as `web.xml` and `web-fragment.xml` that have not been transformed from `ee9` to `ee8`.

[2022-06-27 07:18] travellertinku commented on #7958
hi,

I understand that community EoS is reached for Jetty 9.4.x (EOL TBD). Can you please share how are we going to get security fixes going further?

regards,
Praveen

[2022-06-27 10:16] BertRobben opened #8210 "jetty client gets incomplete response without exception"
Under some race conditions it seems Jetty http client delivers an incomplete response without throwing any exceptions.

We're running with Jetty 9.4.46.v20220331.

This is the scenario:
(1) client makes a GET request on server
(2) server returns a huge response (several megabytes big)
(3) during this response, the server is savagely killed (kill -9)
(4) for most ongoing requests, client sees this

[2022-06-27 11:38] joakime commented on #7958
@praveenyadavP that is addressed in the table in the original comment.

[2022-06-27 14:07] BertRobben commented on #8210
With some effort we finally managed to get complete tcp dumps. With these we figured out the following.

(1) The requests that has incomplete responses, did NOT have transfer-enconding Chunked. Virtually all other responses are Chunked.
(2) Server kill was not as harshly as we thought. It was not a kill -9 and the server did go through some shut down logic.
(3) Server-side we do have code that set

[2022-06-27 14:24] joakime commented on #8210
I see `HttpParser{s=EOF_CONTENT` ...

That means the Parser is looking for EOF to know when the content is complete.
This happens when you have content being sent that has no `Content-Length` or `Transfer-Encoding: chunked` (and likely also has a `Connection: close`) response headers.

You would not get an EOFException in this case, as the EOF is the trigger that indicates that content is done bei

[2022-06-27 14:53] BertRobben commented on #8210
I agree. I now think the jetty client is doing what it is supposed to do.

I'm having a problem however with the Jetty server.
* If I don't set the Connection: Close header, then it behaves fine (it either uses Content-Length or Transfer-Encoding: chunked).
* If I set Connection: Close however, then it no longer behaves like that. It doesn't do chunking anymore with as consequence that the client

[2022-06-27 14:55] travellertinku commented on #7958
Thanks @joakime.
Could you please confirm below as well?
Jetty 10.0.x compatible with OpenJava11?
Jetty 10.0.x compatible with OpenJava17?
Jetty 11.0.x compatible with OpenJava11?
Jetty 11.0.x compatible with OpenJava17?

[2022-06-27 15:06] joakime commented on #8210
This is standard HTTP/1.1 behavior.

EOF_CONTENT is the baseline behavior outlined in the spec.
Content-Length is the preferred behavior according to the spec.
Transfer-Encoding: chunked is optional behavior when you have no knowledge of how long the content is, and want an indication in-protocol that the content is complete.

Know that setting `Connection: close` on the server side is usually an

[2022-06-27 16:47] joakime commented on #7958
There's no such thing as "OpenJava".

The minimum JVM versions are listed at https://www.eclipse.org/jetty/download.php#version-table
We build/test with Temurin JDK (which is based on the OpenJDK), all TLS versions from the minimum JVM to newest.
As well as the most recent non-TLS / Early Access JDKs (currently [JDK 19](https://jdk.java.net/19/))

We have other projects using Jetty with JVMs from

[2022-06-27 16:54] sbordet commented on #8210
Explicitly setting `Connection: close` or `Transfer-Encoding: chunked` is going to be totally useless for HTTP/2, and bad even in case of HTTP/1.1. Just don't do it, like @joakime said.

[2022-06-27 17:26] kohlschuetter commented on #8203
@gregw Thank you! junixsocket will not become obsolete with Java 16's introduction of UnixDomainSocketAddress, and the plan is to keep it growing.

junixsocket provides
1. a much more comprehensive implementation of unix domain sockets, including support for peer authentication via socket credentials, file descriptor passing between processes, socketpair, the abstract namespace on Linux, etc.
2. a

[2022-06-27 17:35] joakime commented on #8210
This is done by Jetty's Graceful shutdown now.
It lets the existing responses complete, but no new requests are accepted.

Set the `Server.setStopTimeout(long)` and enable the `StatisticsHandler` early in your Handler tree.
The stopTimeout is how long to wait for various things to complete.
And the StatisticsHandler is doing the tracking of connections/requests/etc.

[2022-06-27 19:35] BertRobben commented on #8210
I understand that this is standard HTTP/1.1.

Understand that from our point of view, we do NOT set either Content-Length
or Transfer-Encoding. This is done automatically (which we appreciate) by
Jetty. So it came as a complete surprise that this goodie disappeared
out-of-the-blue when we set Connection: close.

Know that we ONLY set Connection: close in case the server is shutting
down. We do thi

[2022-06-27 19:48] BertRobben commented on #8210
Ok, we were not aware of this graceful shutdown mechanism. Tomorrow I'll
have a look on how to integrate it with our existing shutdown mechanism (we
have much more to shut down then just a web server).

Is there some documentation on how the graceful shutdown is perceived by
clients? I assume something like the following:
- ongoing requests that don't take overly long are finished normally.
-- the

[2022-06-27 21:05] joakime commented on #8210
Using only `Connection: close` as a signal for server shutdown is insufficient.

You need to participate in the Connectors, Acceptors, Connection, and Exchanges as well.
And then there's the tracking of the requests flowing through the connections.
A graceful shutdown stops accepting, then stops reading new requests, then lets the existing request/response exchanges complete within the stopTime.
I

[2022-06-27 21:09] joakime commented on #8210
You can participate in the server graceful shutdown by registering a lifecycle bean with the `Graceful` interface on the `Server` container.

See: https://javadoc.io/doc/org.eclipse.jetty/jetty-util/latest/org.eclipse.jetty.util/org/eclipse/jetty/util/component/Graceful.html

[2022-06-27 21:25] BertRobben commented on #8210
I think there is some misunderstanding going on here.

I keep on telling that our code is NOT do anything with content-length
and/or chunked transport encoding. It is done automatically for us, but we
do rely on it.
You do not respond at all to this and not even mention it in all your
explanations (which I appreciate). Could it be that it is the jersey layer
that is inbetween our application and t

[2022-06-27 21:57] joakime commented on #8210
Short answer, don't use `Connection: close` on the server side if you don't like this behavior.

The minute you use `Connection: close` you default to EOF_CONTENT.
Once `Content-Length` exists, it changes to a different mode.
The `Content-Length` is given to you for free if the content is sent via a single buffer and/or is complete via a non-full output aggregate buffer.
The `Transfer-Encoding: ch

[2022-06-27 22:42] gregw opened #8211 "Jetty-12 already complete exception"
**Jetty version(s)**
jetty-12

**Java version/vendor** `(use: java -version)`

**OS type/version**

**Description**

When building with tests, the following exception is produced many times from many tests.  This should either not happen, or if it is normal (??) then the log should be stackless at least.

[code]

[2022-06-27 22:43] gregw commented on #8211
@sbordet , @lorban, @lachlan-roberts, @gregw can one of us investigate this

[2022-06-27 23:03] gregw opened #8212 "Jetty-12 flakey HTTP2 test"
**Jetty version(s)**

Flakey HTTP2 spec test in jetty-12

**Description**

Building locally on the command line, this is a frequent error.

[code]

[2022-06-28 02:10] mjs8002 opened #8213 "When the HttpClientTransportOverUnixSockets is used to send UDS requests, Jetty has lost responses."
**Jetty version(s)**
jetty-io-9.4.46.v20220331.jar
**Java version/vendor** `(use: java -version)`
jdk1.8
**OS type/version**
linux
**Description**
_Do not report security issues here! See [Jetty Security Reports](https://www.eclipse.org/jetty/security_reports.php)._
When the HttpClientTransportOverUnixSockets is used to send UDS requests, Jetty has lost responses.

Analyze logs. It is found that t

[2022-06-28 02:12] mjs8002 commented on #8213
![image](https://user-images.githubusercontent.com/41276528/176076514-9aef30a7-7b58-4e01-b814-fe2e01356031.png)

[2022-06-28 02:14] mjs8002 commented on #8213
![image](https://user-images.githubusercontent.com/41276528/176076612-3f3b3358-5ea3-452f-af7b-a1146a653924.png)
why the key is not isConnectable() in TCP scenarios?

[2022-06-28 02:31] mjs8002 commented on #8213
the correct attachment is [WARN ][0][0][qtp109791354-53][ROOT][org.eclipse.jetty.io.ManagedSelector$SelectorProducer][678] attachment=UnixSocketEndPoint{selector=jnr.enxio.channels.PollSelector@30d103fe, key=jnr.enxio.channels.PollSelectionKey@2f6b959f.....} in  UDS scenarios

[2022-06-28 03:45] janbartel opened #8214 "CI build problem"
**jetty-12.0.x-eex-jettymavenplugin**

Below is an excerpt from build 9 from PR-8200, on branch jetty-12.0.x-eex-jettymavenplugin:   https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-8200/9/pipeline

There are 2 problems here that _never occur_ on a local build:

1. the WARNING regarding the `ee10-apache-jsp` pom. Nothing `ee10` should even be referenced during a build

[2022-06-28 05:19] gregw commented on #8203
@sbordet @lorban we should discuss this.

[2022-06-28 08:56] keller-j opened #8216 "OpenID logout / more extensibible OpenIdConfiguration"
**Target Jetty version(s)**
`10.0.x`
`11.0.x`
`12.0.x`

**Additional Details**
I'm currently working with `jetty-11` and available `OpenIdAuthenticator`. My OpenID (SSO) server is running on `keycloak-18` while trying to logout via client application (jetty) I realized that this isn't working at the moment. While having a look at `OpenIdConfiguraion` I realized that no information about `end_sessi

[2022-06-28 09:02] lorban commented on #8212
The latest version of `h2spec`'s 8.1.2.6 test accepts `RST_STREAM` as a valid response: https://github.com/summerwind/h2spec/blob/master/http2/8_1_2_6_malformed_requests_and_responses.go#L69-L97
but according to the above error message, the test fails because `GOAWAY` was expected but `RST_STREAM` was received.

It seems we're using an out of date h2spec? @olamy could you please check that we're u

[2022-06-28 09:07] lorban commented on #8212
Running the latest h2spec v2.6.0 binary, 8.1.2.6 sometimes fails because it responds to the invalid request with a `DATA` frame instead of a `RST_STREAM` one, see the attached [8_1_2_6_failure.pcap.gz](https://github.com/eclipse/jetty.project/files/8999408/8_1_2_6_failure.pcap.gz) file for a capture of the failing run.

[code]

so it looks like we do have a race condition somewhere.

[2022-06-28 12:45] joakime commented on #8210
Another way to look at this...

EOF_CONTENT is the base behavior for HTTP.
Defined back in the HTTP/1.0 days.
(This was how HTTP/0.9 worked, but that was never a formal ietf spec)

HTTP/1.0 default is to close the connection after every response.
Then `Connection: keep-alive` was introduced (in HTTP/1.0)
This now became a persistent connection, with a chain of request/responses on a single connect

[2022-06-28 12:54] joakime commented on #8214
BTW, this is why I want to keep the `ee#` trees isolated from each other.
Right now in `jetty-12.0.x` things are messy/muddy.

[2022-06-28 12:55] joakime commented on #8214
Looks to be coming from the use of `jetty-home`, which hasn't been cleaned up to use the overlay concepts I proposed.
(The overlay concepts would break the transitive deep dives into the `ee#` trees from the use of `jetty-home`)

[2022-06-28 12:59] joakime commented on #8214
I think the individual `jetty-ee#-maven-plugin` implementations should have no `jetty-home` support.
That's nonsense to me.

A top level `jetty-home-maven-plugin` should exist for that.

[2022-06-28 13:10] BertRobben commented on #8210
Understood. We're replacing our code now with jetty graceful shutdown and
rerunning our original tests.

On Tue, 28 Jun 2022, 14:45 Joakim Erdfelt, ***@***.***> wrote:

[2022-06-28 13:48] olamy commented on #8212
The maven plugin is using the last available docker which is 2.6.0 see https://github.com/jetty-project/h2spec-maven-plugin/blob/5ac3283e1c426502610d7458a5adbf57dee1f643/src/main/java/org/mortbay/jetty/maven/h2spec/Http2SpecMojo.java#L136

[2022-06-28 15:44] joakime commented on #8214
The build on CI is still using the "lets limp along" configuration.

https://github.com/eclipse/jetty.project/blob/jetty-12.0.x-eex-jettymavenplugin/Jenkinsfile#L21

This builds in the following order ...

[code]

If you take this Dockerfile and do the above order you'll be able to replicate.

[code]

To run ...

[code]

To run ...

[code]

[2022-06-28 17:54] joakime commented on #8214
To get past CI we can go back to the simpler CI build.  (See PR #8217 for simpler build against this branch)

Ultimately, we should not be depending on `jetty-home` in any fashion from within the various `jetty-ee#/` directories.

[2022-06-28 19:22] joakime opened #8218 "Customizers before HttpChannel.Listener.onBeforeDispatch"
_**Reference conversation in PR #7255 for background.**_

Kind of.   Currently 12 has dropped the HttpChannel.Listener concept... but I expect that we will need either to restore it, or a similar mechanism.
So the ordering concern expressed in this PR should definitely be considered when we add listeners back to 12.

Maybe for now, it should just become a TODO in the 12 branch(es) to indicate that

[2022-06-28 21:12] mattiasbe commented on #7752
Anything else needed?

[2022-06-28 22:37] joakime commented on #7752
Note: Jetty 9.4.x is now at End of Community Support. (See issue for details)

* #7958

----

From `StatisticsJettyProblem.java.txt`

[code]

Congrats you have a StatisticsHandler in your handler tree.
Thing is, you don't have the rest of the handler tree setup properly.
Try using createHttpServer() and then just modifying the server handler tree by wrapping the default handlers that http-spi need

[2022-06-28 23:01] gregw commented on #8210
@sbordet, @joakime,

This is not strictly true.    There are a couple of situations where the HTTP/1 generator choosed to use EOF framing when chunking would be better for the application.  Thus we allow the application to set Transfer-Encoding: chunked as a hint to the HttpGenerator (for HTTP/1) to use chunking.    It should be ignored by all other HTTP versions and even by HTTP/1 if it is not po

[2022-06-28 23:47] gregw commented on #8218
really, Really, REALLY want to avoid adding back listeners to Jetty-12.     Because we are able to wrap in jetty-12, we already have very good interception points and so far we have not found anything that a listener could do that can't be done with a wraper.   Wrappers are better than listeners because when they are not needed, there is zero cost, whilst listeners still need to check empty lists

[2022-06-28 23:50] joakime commented on #8218
I'm good with that.
Closing...

[2022-06-28 23:50] #8218 closed, assigned to nobody

[2022-06-29 05:49] janbartel commented on #8214
OK. So it seems that  when running locally, all projects are either in the reactor together, or have already previously been built. However, CI builds projects separately. Therefore, we have to avoid the situation where `eex-maven-plugin` depends on `jetty-home`, because `jetty-home` cannot be built until `jetty-eex` is built, and `jetty-eex` cannot be built until `jetty-home` is built.

I have a

[2022-06-29 07:11] lachlan-roberts commented on #8151
fixes merged with #8164

[2022-06-29 07:11] #8151 closed, assigned to lachlan-roberts

[2022-06-29 07:12] #8170 closed, assigned to nobody

[2022-06-29 07:21] janbartel commented on #8214
I've merged #8200, with the changes as outlined above.  CI was green on the PR build, however I suspect that the `tests` project is not really being executed. @olamy or @joakime can one of you with sufficient jenkins foo ensure that `tests` is built to `install` stage, including integration test phase?

[2022-06-29 08:19] BertRobben commented on #8210
We've updated our code now to do the Jetty shutdown. With this change, everything is working as expected.

Ongoing responses are always chunked. New requests are rejected with a 503 and have Connection: close. The rejected ones are not chunked, but that's ok since the status is 503.

[2022-06-29 09:15] lachlan-roberts commented on #8216
@keller-j I have a PR to make `OpenIdConfiguration` more easily extensible. Take a look at PR #8221 and let me know if that would help with your usage.

Not sure how we would implement the logout, but I will take a closer look tomorrow. Feel free to open a PR yourself if you have an idea of how to do this.

[2022-06-29 11:47] zaynetro opened #8222 "Jetty start.jar fails with NullPointerException when referencing a non existent module and using JVM args"
**Jetty version(s)** 10.0.11

**Java version/vendor** `openjdk 11.0.15+10`

**Description**

Running webapp with Jetty distribution fails with a null pointer exception:

[code]

We are upgrading from Jetty `9.4.45.v20220203` and reusing the same `.ini` files. It seems that `continuation` module has been removed.

Reference: https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-start/src

[2022-06-29 12:12] joakime commented on #8222
Correct, the module `continuation` does not exist in Jetty 10+, it was removed in commit 79cafb37a0e5f8845911e72128fd6c3be604b8c6 back in Jul 2017.

The standard Servlet AsyncContext is the replacement.
The `jetty-continuations` featureset was deprecated back in March 2013 when Jetty 9.0.0 was released, as the standard Servlet AsyncContext was introduced in Jetty 7.

This still shouldn't result in

[2022-06-29 12:20] joakime commented on #8222
Cannot replicate

[code]

then attempt to run ...

[code]

As expected, invalidate module entries (ones that don't exist) are ignored.

[2022-06-29 12:23] joakime commented on #8222
Lets try a few things (in order)

First, ensure you are following the recommendations and are using a split `${jetty-home}` and `${jetty-base}` directory setup.

Next, run `start.jar --list-config` against your `${jetty.base}` directory, and copy/paste the output to this issue.

Finally, if that fails with an NPE, run with `start.jar --list-config --debug` and copy/paste that output to this issue.

[2022-06-29 12:51] zaynetro commented on #8222
Hmm, strange. The problem disappeared after we removed that module from our `start.ini` file.
I will try to replicate and post the results.

[2022-06-29 13:20] zaynetro commented on #8222
OK what I did to reproduce:

1. Download and unarchive Jetty home: https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-home/10.0.11/jetty-home-10.0.11.tar.gz to `jetty-home`
2. `mkdir -p jetty-home/chat/start.d`
3. `mkdir -p jetty-home/chat/webapps`
4. Save to `jetty-home/chat/start.d/start.ini`:

[code]

5. From `jetty-home/chat` run: `java -jar ../start.jar`  (Used Java 17 on my Linux machine

[2022-06-29 14:57] joakime commented on #8222
The `jetty-home` artifact is not to be modified. (**this is important!**)

Once you unpack it, it should be treated as read-only.
Don't add/change/remove/delete/edit any content in it.

The `${jetty.base}` directory should be somewhere that isn't nested inside (or out) of the jetty-home directory.

To properly setup that your example in a similar and proper way.

[code]

You can then look at the c

[2022-06-29 15:01] joakime commented on #8222
The NPE is from the combination of `--module=does-not-exist` and use of `--exec`.

The configuration is fine, StartArgs is fine, the modules (discovered and enabled) is fine.
The command line is calculated fine.
Interesting indeed.

[2022-06-29 15:48] joakime commented on #8222
Opened PR #8223

[2022-06-29 16:36] keller-j commented on #8216
@lachlan-roberts thanks a lot for the support. This fitted exactly my needs. That way I could easily also process the `end_session_endpoint` etc. information.

I included my current implementation for `OpenIdAuthenticator logout` in my project fork https://github.com/keller-j/jetty.project/tree/jetty-10.0.x-8216-openid-logout as I wasn't able to push to your branch. Also created pull request to yo

[2022-06-29 20:00] mattiasbe commented on #7752
Hi thanks for the quick reply. Yes I'm aware of the end of community support since May but hoped that as this was reported back in March that the suggested patch in the original post would end up in a release before that. :)

It's a small patch and non-intrusive IMO and just like the if statement before that.

[2022-06-29 20:15] joakime commented on #7752
Due to legal reasons we cannot accept patches as issues or issue comments.

Only via a formal PR with signed ECA.
This is a requirement by Eclipse Legal that we have zero wiggle room with.

[2022-06-29 20:36] mattiasbe commented on #7752
Understood (for the record I've previously signed ECA 3.0.0 and updated to the latest one now 3.1.0) but would you agree that what's stated in the original post under reason:

...is missing or at least of value if it wasn't left out? I appreciate you keep answering here but I don't want to waste anyone's valuable time.

Would it have been better if no source code investigation was made and mention

[2022-06-30 00:00] joakime commented on #7833
Closing as "working as intended", with a side of "servlet spec is doing odd things"

[2022-06-30 00:00] #7833 closed, assigned to gregw

[2022-06-30 00:05] #6480 closed, assigned to nobody

[2022-06-30 00:12] joakime opened #8227 "Deprecate WebAppProvider.setConfigurationClasses()"
**Jetty version(s)**
Jetty 10+

**Description**
The WebAppProvider has a method called `.setConfigurationClasses(String[])` that will force set the `WebAppContext.setConfigurationClasses(String[])` which is something we really should be discouraging with Jetty 10+ and the new `Configuration` serviceloader and whatnot.

We should deprecate these methods, with warnings on use.

[2022-06-30 05:58] janbartel commented on #8214
CI has been updated and is now building all modules correctly.

[2022-06-30 05:58] #8214 closed, assigned to olamy, joakime

[2022-06-30 06:34] #8206 closed, assigned to nobody

[2022-06-30 06:47] gregw commented on #8206
fixed in 10 and merged through 11 & 12

[2022-06-30 12:03] #8021 closed, assigned to nobody

[2022-06-30 13:16] lorban commented on #8212
Saw this failure in jenkins:
[code]
I do not know how the reported 8.1.2.6 failure happened, but I'm considering it bogus and will assume this updated one is the actual one which should be worked on.

[2022-06-30 16:00] sbordet commented on #8213
@mjs8002 like explained in #7187 and #8091, JNR is not stable and it's now deprecated and replaced by Java 16 UnixDomain Socket support in Jetty 10.
See also #8203.

[2022-06-30 21:48] gregw commented on #8213
@mjs8002 whilst @sbordet is correct (in that we will not be fixing JNR nor jetty-9), I'm interested in analysing why you think there is a race condition registering the attachement, as this may affect current versions of jetty.

Can you explain fully what sequence you think is happening and how a delayed/slow attach can be a problem?    Are you saying that the selection key that is being created i

[2022-06-30 22:06] gregw commented on #8212
Can we work out the magic needed to exclude these tests for now, so we can get clean builds (but leave issue open until actually fixed)

[2022-06-30 23:53] joakime commented on #8212
The configuration has an `excludeSpec` configuration.

See: https://github.com/jetty-project/h2spec-maven-plugin/blob/5ac3283e1c426502610d7458a5adbf57dee1f643/src/main/java/org/mortbay/jetty/maven/h2spec/Http2SpecMojo.java#L98-L102

You might be able to use it from the command line with `-Dh2spec.excludeSpecs=8.1.2.6` (the conversion from command line to `List<String>` in the config i'm not sure h

[2022-07-01 00:08] gregw commented on #4652
kicking the can along the road....

[2022-07-01 02:50] xinguangduan opened #8258 "upgrade to 11.0.x ,is it still need alpn-boot jar for support http2?"
**Jetty version**
9.4.48.v20220622
**Java version**
jdk1.8
**Question**
I have a question. I want to upgrade jetty from 9.4. x to 11.0.x. Our scenario uses Jetty as an HTTP2 service, so alpn-boot-8.1.13.v20181017.jar is used in jetty9.4.x. If we upgrading to Jetty11.0.  x, is it still need alpn-boot-8.1.13.v20181017.jar?

[2022-07-01 14:36] andrus opened #8259 "Symlinks cause 404 with DefaultServlet when its "resourceBase" is different from ContextHandler's"
**Jetty version(s)**

10.0.11 ... This worked on 9.x

**Java version/vendor** `(use: java -version)`

openjdk version "11.0.14.1" 2022-02-08

**OS type/version**

Mac OS 12.4

**Description**

The problem: `DefaultServlet` can't serve files located in symlinked directories if its resource base is different from its parent `ContextHandler`.

I am running Jetty with [Bootique Framework](https://gith

[2022-07-01 21:06] joakime commented on #8259
If you have a ContextHandler (or WebAppContext) resourceBase set, then the actual DefaultServlet (on url-pattern `/` with name `default`) should be using that exclusively.

If you want another DefaultServlet, not on the usual servlet default requirement, then you can specify extra DefaultServlet's to then have a resourceBase declared for each.

There's examples of this at https://github.com/jetty-

[2022-07-01 21:08] #8222 closed, assigned to joakime

[2022-07-02 07:03] andrus commented on #8259
@joakime

Yep, this is what I do (my DefaultServlet is mapped to "/asset/*", ContextHandler resource base is not set). But due to symlinks in the servlet's resource base, it stopped working after upgrading from Jetty 9 to 10. That's the problem that I described above.

[2022-07-02 10:07] usertree opened #8260 "EofException is reported when the unix domain socket capability is used on the Jetty client"
**Jetty version(s)**
9.4.46.v20220331
**Java version/vendor** `(use: java -version)`
JDK 8
**OS type/version**
x86
**Description**
The Jetty client reports an EofException when using the Unix socket domain capability. The cause is that after the Jetty flushes some buffers, the server finds that the request header contains special characters and does not forward the request and returns 503. After t

[2022-07-02 10:44] sbordet commented on #8260
This is clearly a bug in JNR and we won't fix it in Jetty.
See also [this comment](https://github.com/eclipse/jetty.project/issues/8213#issuecomment-1171399740).

Jetty 9.4.x is also Community EOL as detailed in #7958.

Please use Jetty 10 with Java 16 since there is support for unix domain sockets in OpenJDK (not using JNR).

[2022-07-02 10:44] #8260 closed, assigned to nobody

[2022-07-02 21:33] joakime commented on #8259
Please set `server.setDumpAfterStart(true);` and copy/paste the results of that output here.
There's something not clear from your explanation, the output state of your started server should reveal the truth of what you have.

[2022-07-02 21:45] joakime commented on #8259
That is correct, `AliasChecking` is done for the case of a discovered Resource for a requested resource against your declared Resource Base.

If you have multiple Resource bases, then the Alias Checking built into Jetty is not able to satisfy your ruleset.  You will need to implement your own `org.eclipse.jetty.server.handler.ContextHandler.AliasCheck` that can handle your multiple bases, based on

[2022-07-03 07:25] andrus commented on #8259
I should be able to provide these details next week.

I theory, yes. E.g. a Bootique app may have 2 DefaultServlets, one serving files from the classpath (i.e. packaged in the app jar), and another - from a folder on the filesystem (some examples given [here](https://bootique.io/docs/2.x/bootique-jetty-docs/#serving-static-files)).

So that explains why it worked in Jetty 9 :)

Let me check it out

[2022-07-03 17:37] tangjiangling opened #8262 "`HttpReceiver#terminateResponse` may not be triggered so the request never ends"
**Jetty version(s)**
9.4.26.v20200117

**Java version/vendor** `(use: java -version)`
11.0.15+10

**OS type/version**
CentOS Linux release 7.4.1708

**Description**
We use jetty-client's asynchronous request method with [io.airlift.http.client.jetty.BufferingResponseListener](https://github.com/airlift/airlift/blob/master/http-client/src/main/java/io/airlift/http/client/jetty/BufferingResponseList

[2022-07-03 21:31] gregw commented on #8262
Can you attach a code snippet to show how you are setting up and using the client

[2022-07-03 22:24] joakime commented on #8258
alpn-boot is for older versions of Java.

Newer versions of Java, even Java 8 would need alpn-agent.
But with Java 9+ you don't need alpn-boot, this was true even with Jetty 9.4.x

See

* https://www.eclipse.org/jetty/documentation/jetty-9/index.html#alpn-openjdk8-agent
* https://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html#og-module-alpn

Since you require the use of J

[2022-07-04 00:00] #6346 closed, assigned to nobody

[2022-07-04 00:00] #3592 closed

[2022-07-04 00:00] #3548 closed

[2022-07-04 03:07] tangjiangling commented on #8262
You can refer to https://github.com/airlift/airlift/blob/0.192/http-client/src/main/java/io/airlift/http/client/jetty/JettyHttpClient.java#L142-L371

Simplify it:

For `HttpClient`:
[code]

For `HttpRequest`:
[code]

For execution, you can refer to https://github.com/airlift/airlift/blob/0.192/http-client/src/main/java/io/airlift/http/client/jetty/JettyHttpClient.java#L550

[2022-07-04 05:41] gregw commented on #8262
Thanks,

so the request is built [here](https://github.com/airlift/airlift/blob/0.192/http-client/src/main/java/io/airlift/http/client/jetty/JettyHttpClient.java#L599-L644).

I'm assuming because it is a GET, then `finalRequest.getBodyGenerator();` is null.
Do you know the values of `finalRequest.isFollowRedirects()` and `finalRequest.isPreserveAuthorizationOnRedirect()`?

[2022-07-04 05:50] tangjiangling commented on #8262
Yes.

- `finalRequest.isFollowRedirects()` = `true`
- `finalRequest.isPreserveAuthorizationOnRedirect()` = `false`

[2022-07-04 05:55] tangjiangling commented on #8262
This is the logic of the server-side processing (which may help you a bit ):
https://github.com/trinodb/trino/blob/330/presto-main/src/main/java/io/prestosql/server/TaskResource.java#L242
(There will be some waiting time during processing)

[2022-07-04 06:09] gregw commented on #8262
OK, I think I have enough info to try to reproduce now... but I may not have enough time for a few days.
Stand by...

[2022-07-04 06:15] tangjiangling commented on #8262
Never mind. (We temporarily let `listener` implement the `Response.FailureListener#onFailure` interface to ensure that the request exits properly)

[2022-07-04 06:23] gregw commented on #8262
Well we will leave open and investigate when we have time, as non completion can be a bad bug.

[2022-07-05 03:09] xinguangduan commented on #8258
@joakime thanks a lot for your very detailed answer !

[2022-07-05 03:09] #8258 closed, assigned to nobody

[2022-07-05 06:51] sravanlakkimsetti opened #8265 "Jetty version 10.0.11 imports JDK packages in its manifest.mf"
**Jetty version(s)**
10.0.11

**Java version/vendor** `(use: java -version)`
17.0.3 openjdk

**OS type/version**
Windows 10

**Description**
We are getting the error mentioned in https://github.com/eclipse-pde/eclipse.pde/issues/194. We could find the root cause as addition of jdk packages to Import-package directive in MANIFEST.MF. Wondering if this is intentional.

Here is the jetty-http bundle

[2022-07-05 08:03] janbartel commented on #8265
We updated the version of the bundle plugin from 5.1.4 in 10.0.9 to 5.1.6 in 10.0.10, that's probably the cause of the different generated import list.

[2022-07-05 11:56] HannesWell commented on #8265
Yes this is intentional by BND (which I assume jetty is using to generate its manifest): https://github.com/bndtools/bnd/issues/4348

[2022-07-05 12:02] sravanlakkimsetti commented on #8265
maven-bundle-plugin has upgraded from 5.1.1 to 6.2.0 in https://github.com/apache/felix-dev/commit/b29ea9a5d6dc8662dc0c960eff199c18fcd6b5e4.

Yes jetty was using maven-bindle-plugin and it is in turn using BND.
Now the question is what should be the approach here.

[2022-07-05 12:02] laeubi commented on #8265
This is not a bug, this is OSGi good practice since R7 see https://blog.osgi.org/2018/02/osgi-r7-highlights-java-9-support.html

[2022-07-05 12:08] jiscfoo opened #8266 "Memory leak with ArrayRetainableByteBufferPool?"
- Jetty version: 10.0.7
- Amazon Corretto 11.0.9.1
- Windows Server

### Description
After a few days of use of the [Shibboleth Identity Provider](https://wiki.shibboleth.net/confluence/display/IDP4) under moderate load, service _stops_ working. Sometimes with high-CPU or sometimes with idle CPU. It appears that Jetty just "stops". I think that some JVM threads may still be working as some backgro

[2022-07-05 12:10] HannesWell commented on #8265
IMHO it is fixing the false positive validation-error in PDE.

[2022-07-05 12:11] joakime commented on #8266
Upgrade.

Use Jetty 10.0.11, as it has specific fixes for this that were done in PR #8165

[2022-07-05 12:13] jiscfoo commented on #8266
Thanks for the quick response! If a quick upgrade is not available, is there a workaround?

[2022-07-05 12:14] joakime commented on #8265
We've heard from developers at BND and Eclipse Equinox that this is correct, and good practice.
I'm inclined to leave this as-is.

[2022-07-05 12:18] laeubi commented on #8265
Exactly especially because even if jetty decides to not do it this way now sooner or later people will be hit by this problem by other libraries. The R7 is out about 4 years now, java 9 is out 5 years so we are just a way behind here....

[2022-07-05 12:38] joakime commented on #8161
In light of discoveries during this review, a better combined ByteBufferPool with easier to configure setup was just merged in PR #8171, due for the next Jetty 10.0.x release.

[2022-07-05 13:23] joakime commented on #8184
@markslater Jetty 9.4.48.v20220622 has this fix (btw)

[2022-07-05 20:34] markslater commented on #8184
Using it successfully in 11.0.11 :) Thanks for the fast turnaround!

[2022-07-06 12:09] andrus commented on #8259
Here is the startup dump sanitized from the organization specific data.
[dump.txt](https://github.com/eclipse/jetty.project/files/9054548/dump.txt)

[2022-07-06 13:57] sravanlakkimsetti commented on #8265
It is confirmed as a bug in PDE. This can be closed now

[2022-07-06 13:57] #8265 closed, assigned to nobody

[2022-07-07 10:38] sbordet commented on #8262
@tangjiangling can you confirm that `onComplete()` does not get called when you see `Concurrent failure: response termination skipped, performed by helpers`?

I ask because we are able to reproduce the log line, but `onComplete()` is always called.

[2022-07-07 10:40] sbordet commented on #8262
@tangjiangling can you please update to Jetty 9.4.48, as 9.4.26 is really out of date.

[2022-07-07 11:06] joakime commented on #7970
Opened PR #8268

[2022-07-07 11:43] moxiaonian opened #8270 "The idle threads released very slowly from QueuedThreadPool"
**Config**:
- Jetty version: 9.4.44.v20210927
-  Linux Server
- idleTimeout:10000

**Code:**
https://github.com/eclipse/jetty.project/blob/064682b4ce57282e49a80a64b6d7a7a66fb47b28/jetty-util/src/main/java/org/eclipse/jetty/util/thread/QueuedThreadPool.java#L1009
**Description:**
When a lot of threads are created at the beginning, but many are not used later. So suddenly there are a lot of idle thr

[2022-07-07 12:07] #7970 closed, assigned to olamy

[2022-07-07 12:52] sbordet commented on #8270
This is by design.

The idea is that if there was a spike in load that caused many threads to be allocated, likely there will be another pretty soon, so the threads will come handy.

You can be more aggressive by tuning `QueuedThreadPool.idleTimeout` to a shorter value, otherwise by default 1 thread is exited every 60 seconds (if it has been idle for that long).

[2022-07-07 12:59] joakime commented on #8270
In short, Thread creation is *very* expensive and time consuming, so the ThreadPool is designed with that in mind.

[2022-07-07 13:51] joakime commented on #8210
Can this be closed?

You posted a new question in the jetty mailing list (that should be a new issue).

[2022-07-07 14:20] tangjiangling commented on #8262
Yep, I confirmed.

You can try manually setting [terminate](https://github.com/eclipse/jetty.project/blob/jetty-9.4.26.v20200117/jetty-client/src/main/java/org/eclipse/jetty/client/HttpReceiver.java#L613-L619) to `false` in DEBUG mode and you will see that `onComplete` will never be called.

Sure, but I'm curious to know what causes this issue.

[2022-07-07 14:41] BertRobben opened #8271 "incorrect http 200 response while shutting down jetty"
Jetty version: 9.4.46.v20220331
Java version/vendor: openjdk version "1.8.0_332"
OS type/version: CentOs 7

We are using the graceful shutdown feature (in other words, we configured our Jetty server with the StatisticsHandler as advised in the aftermath of [https://github.com/eclipse/jetty.project/issues/8210] and noticed that a small number of requests are now getting an incorrect HTTP 200 respon

[2022-07-07 14:47] sbordet commented on #8262
Do you have DEBUG logs that show the issue? I cannot reproduce it.

The `terminate` boolean may be `false` and when it is other threads will terminate the response and call `onComplete()`.

[2022-07-07 15:12] tangjiangling commented on #8262
No, I didn't.

I confirmed this by `debug` the jetty unit test (`HttpReceiverOverHTTPTest#testReceiveResponseContent`) and manually setting `terminate` to `false`.

[2022-07-07 16:58] sbordet commented on #8262
Ok let me rephrase.
You posted DEBUG logs in your first message, so I thought you had DEBUG logs?

About changing the value of the `terminate` variable with the debugger, I don't see why you're doing it?
If it was `true` and you changed it to `false` obviously the response won't terminate.

But when `terminate=false` happens without external intervention through a debugger, it means that another t

[2022-07-07 16:59] joakime commented on #8271
Initial impression is that it looks like a concurrency issue (race?).
I wonder what the `Request._timestamp` is for those requests?
Were they processed before or after the graceful shutdown occurred?

[2022-07-07 17:06] tangjiangling commented on #8262
Yep.(The full debug log is in the `Description` of the issue)

Since you said you could reproduce the exception log (`Concurrent failure: response termination skipped, performed by helpers `), I intentionally made this happen to verify that `onComplete` would be executed.

[2022-07-07 17:42] sbordet commented on #8262
Sorry I don't understand.

Does not look the full DEBUG log to me because it misses a large number of lines that would be printed for each response.
For example, this is what I get grepping for a single response object:

[code]

You can see from the logs above that I can reproduce the log line "... performed by helpers" in the sense that I could write a test case that caused that particular race c

[2022-07-07 19:18] BertRobben commented on #8210
Yes, it can. Thanks again for the help.

[2022-07-07 19:18] #8210 closed, assigned to nobody

[2022-07-07 19:30] antonmos commented on #8095
since 9.4.48.v20220622  is out, should this issue be closed?

[2022-07-07 19:39] joakime commented on #8095
We are waiting on Eclipse Foundation on a review of this release.
9.4.48 was small enough it got a quick review.
9.4.47 is larger and taking more time.

[2022-07-07 23:05] joakime commented on #8266
@jiscfoo see the security advisory about this class ...

https://github.com/eclipse/jetty.project/security/advisories/GHSA-8mpp-f3f7-xc28

[2022-07-07 23:35] joakime commented on #8095
The CVEs for this release are now public.
Appropriate issues, VERSION.txt, and security advisories page on github now reflect the up to date information for this release.

[2022-07-07 23:35] #8095 closed, assigned to joakime

[2022-07-07 23:35] joakime commented on #8096
The CVEs for this release are now public.
Appropriate issues, VERSION.txt, and security advisories page on github now reflect the up to date information for this release.

[2022-07-07 23:35] #8096 closed, assigned to joakime

[2022-07-08 03:30] tangjiangling commented on #8262
@sbordet I only enabled debug log for `HttpReceiver`, so only `HttpReceiver` related logs.

   If you get it in the real world, I need the full DEBUG logs.

I'll try to reproduce the problem, and if there are new progress I'll sync it here. (This issue is real in our production environment)

[2022-07-08 05:57] BertRobben commented on #8271
The order of events I see (see also attached logs) is:

(1) we call server.stop()
(2) first debug log of request is generated by jetty server
(3) server is waiting for other ongoing requests (that started before we call server.stop()) to shut down
(4) incorrect response is sent / other requests come in and are rejected (503)
(5) ongoing requests are all finished
(6) jetty shuts down

If the issue

[2022-07-08 07:29] jiscfoo commented on #8266
Thanks for the details

[2022-07-08 07:29] #8266 closed, assigned to joakime

[2022-07-08 08:34] AB-xdev commented on #8161
Does this also affect Jetty 9.x?

According to the issue description this is only relevant for Jetty 10+ but the advisory says <= 10.0.9 which also includes version 9.x.

[2022-07-08 08:51] lorban commented on #8161
No, it does not affect any 9.4.x version.

[2022-07-08 09:51] joakime commented on #8161
Good catch!

We'll update the advisory version range.

[2022-07-11 00:00] #2330 closed

[2022-07-11 00:23] janbartel commented on #8196
Merged to jetty-10 and jetty-11.

[2022-07-11 00:23] #8196 closed, assigned to janbartel

[2022-07-11 00:25] janbartel commented on #8081
@gregw I think this issue is complete now?

[2022-07-11 00:26] janbartel commented on #7911
@gregw is this done now that you've implemented the `environment` concept?

[2022-07-11 02:31] kadinwu commented on #8161
affected versions in github advisories [(https://github.com/advisories/GHSA-8mpp-f3f7-xc28)] has < 10.0.10.
does it really affect 9.x versions?

[2022-07-11 03:01] #7911 closed, assigned to nobody

[2022-07-11 05:59] #8081 closed, assigned to nobody

[2022-07-11 08:18] Horcrux7 opened #8277 "CVE-2022-2191 and jetty-io@9.4.48.v20220622"
I get today a security warning from the org.owasp:dependency-check-gradle tool for the library jetty-io@9.4.48.v20220622 that it include affected form CVE-2022-2191.

The description of CVE-2022-2191 suggest that the version 9.x is not affected. Also there is no newer 9.x version.

Is this security warning a false positive? Or will this not fixed in version 9.x because EOL?

[2022-07-11 08:59] olamy opened #8278 "re enable test for jetty-ee8-websocket-jetty-tests and jetty-ee8-websocket-javax-tests"

[2022-07-11 10:47] BertRobben commented on #8271
In attachment you can find a simple unit test that shows the issue.

[jetty-test.zip](https://github.com/eclipse/jetty.project/files/9083258/jetty-test.zip)

[2022-07-11 11:35] joakime commented on #8161
See prior comments, and our advisory (the master database at github has not been updated yet):

* https://github.com/eclipse/jetty.project/issues/8161#issuecomment-1178788271
* https://github.com/eclipse/jetty.project/issues/8161#issuecomment-1178728623
* https://github.com/eclipse/jetty.project/security/advisories/GHSA-8mpp-f3f7-xc28

Also, Jetty 9.4.x is now at End of Community Support, you are

[2022-07-11 11:42] joakime commented on #8277
See prior comments, and our advisory (the master database at github has not been updated yet):

* https://github.com/eclipse/jetty.project/issues/8161#issuecomment-1178788271 (comment about bad version range)
* https://github.com/eclipse/jetty.project/issues/8161#issuecomment-1178728623 (comment about 9.4.x)
* https://github.com/eclipse/jetty.project/security/advisories/GHSA-8mpp-f3f7-xc28 (master

[2022-07-11 11:42] #8277 closed, assigned to nobody

[2022-07-11 13:10] joakime opened #8280 "Jetty 12, Review MetaInfConfiguration, and QuickStartDescriptorProcessor with Resources that have mounts."
**Jetty version(s)**
jetty-12

**Java version/vendor** `(use: java -version)`
17

**Description**
Review `Resource.newResource(String)` usages in `MetaInfConfiguration` and `QuickStartDescriptorProcessor` to ensure that mounts are not needed, or if needed are properly managed (opened and closed).

[2022-07-11 19:07] keller-j commented on #8216
@lachlan-roberts did you have the chance to think about OpenIdAuthenticator logout?

[2022-07-11 22:26] joakime opened #8281 "Jetty-12 : Review slf4j behaviors with the jetty-ee#-maven-plugins"
**Jetty version(s)**
12

**Java version/vendor** `(use: java -version)`
17

**Description**

Two things have been noticed when working with the tests against the `jetty-ee#-maven-plugin` implementations in Jetty 12.

First, is that there seems to be no way to show output.

You'll get ...

[code]

I have not found a configuration of a `<packaging>war</packaging>` project that uses the `jetty-ee#-ma

[2022-07-11 22:29] joakime commented on #8281
Having an IT test project that currently is not able to show output, being configured to show output would be a great first start.
It should be a war project that has something that will prevent proper initialization of the webapp.
This kind of error should be presented to the user.

See changes from PR #8106 for details on discussion, and what changes made there need review.

[2022-07-11 23:13] janbartel commented on #8281
The jetty-maven-plugin since we changed jetty to use the slf4j-api has only 2 ways to define the _jetty logger_ implementation:
1. when running forked:   add the desired slf4j impl to the _plugin_ `<dependencies>` (this effectively puts the slf4j impl on the container classpath)
2. when running with the distro:   add the desired slf4j impl to the plugin configuration's list of `<modules>`
3. when

[2022-07-12 01:08] joakime commented on #8161
The github advisory database version of CVE-2022-2191 has its version range updated.
https://github.com/advisories/GHSA-8mpp-f3f7-xc28

[2022-07-12 02:43] gregw opened #8285 "Jetty-12 can't serve resources from jar"
**Jetty version(s)**
Jetty-12

**Description**

After #8106 was merged, the ee9-demo-async-rest webapp is no longer able to server content from it's jar:
[code]

[2022-07-12 03:06] gregw commented on #8285
I've pushed a "fix", but I don't think I like it.
We should consider API that allows us to query capability before attempting an operation like getting an Mapped buffer, so as to avoid unnecessary exceptions.

[2022-07-12 05:34] lachlan-roberts commented on #8216
@keller-j yes I have now created PR #8286 which includes your initial commit.
So take a look and let me know what you think.

[2022-07-12 08:23] janbartel opened #8288 "Blocking.Callback incomplete"
**jetty-12.0.x*

When you hit any of the urls for the ee9 demos or ee10 demos, the log always shows this kind of output:

[2022-07-12 13:07] BertRobben commented on #8271
Uploaded slightly wrong file. Here's a better one:
[jetty-unit-test.zip](https://github.com/eclipse/jetty.project/files/9093127/jetty-unit-test.zip)

[2022-07-12 13:27] BertRobben commented on #8271
FYI, from the code I can see that this is a 9.4.x issue only. In 10.x it is fixed.

[2022-07-12 18:10] keller-j commented on #8216
@lachlan-roberts looks really good to me! Thanks a lot for the support.

Found a minor issue in one of the constructors, left a comment at the pull-request.

[2022-07-13 00:23] janbartel opened #8290 "No Filesystem mounted on ee9 webapp deployment error"
** jetty-12.0.x"

When the ee9 webapps deploy, the following warning occurs for every webapp:

[2022-07-13 03:01] gregw opened #8291 "Jetty-12 EE10 Default Servlet"
**Target Jetty version(s)**

Jetty-12

**Enhancement Description**

Fix/implement the deficiencies of the ee10 DefaultServlet and ResourceHandler as identified by reviews of #8276: specifically:
 + undisable the `DefaultServletTest` and fix them
 + remove the Generic request/response abstraction
+ enable welcome files
 + javadoc

[2022-07-13 05:30] janbartel opened #8292 "Fix jetty-ee9-test-quickstart tests"
**jetty-12.0.x**

Changes were made to the `jetty-ee10-tests-quickstart` for the new `Resource` implementation, but no changes were made to the `jetty-ee9-tests-quickstart` classes. Need to port those changes from ee10 to ee9.

[2022-07-13 08:14] Horcrux7 opened #8293 "Logging and toString() should not throw any exception"
**Jetty version(s)**
10.0.11
**Java version/vendor** `(use: java -version)`
17
**OS type/version**

**Description**
Logging and toString() should not throw any exception. Especially if you give the objects to a logger.

[code]

**How to reproduce?**
Enable the debug logging with an slf4j logger.

[2022-07-13 09:12] joakime commented on #8293
You have TRACE logging enabled.
That's going to be more noisy.

DEBUG level logging doesn't do that.

[2022-07-13 09:25] Horcrux7 commented on #8293
Ok, I had the wrong stacktrace. It was the exception from the log. I have correct this. But for both stacktraces it is calling debug() and not trace().

[code]

PS: Also, if this would only occur on TRACE. This is no cause to fire exceptions through the logging.

[2022-07-13 12:55] Horcrux7 opened #8294 "java.lang.ClassCastException: class org.eclipse.jetty.http.HttpField cannot be cast to class org.eclipse.jetty.http.HttpCookie$SetCookieHttpField"
**Jetty version(s)**
10.0.11

**Java version/vendor**
17

**Description**
After we have call the follow code:
[code]

we get the follow exception:

[code]

[2022-07-13 13:52] arora53 opened #8295 "Jetty 9.x Websocket Client hangs during startup on a higher spec VM - ( 32 cores & 64 GB ram)"
Jetty Websocket Client hangs during startup on a higher spec VM - ( 32 cores & 64 GB ram), whereas is able to establish a connection on a lower spec machine ( 16 cores & 32 GB ram ). We are using jetty websocket client for one of our applications deployed on VM with the  16 cores & 32 GB ram configuration. On increasing ( doubling ) the config to  32 cores & 64 GB ram the client.start() would hang

[2022-07-13 16:09] jlindman opened #8296 "SymlinkAllowedResourceAliasChecker is initialized after checkAlias is called resulting that access to resource is denied"
**Jetty version(s)**

11.0.8-11.0.11

**Java version/vendor** `(use: java -version)`

openjdk version "17.0.3" 2022-04-19

**OS type/version**

Ubuntu 20.04.4 LTS

**Description**

I have a JAX-WS application that reads the configuration file /WEB-INF/sun-jaxws.xml.

When the WEB-INF directory is inside a directory that is a symlink the sun-jaxws.xml file cannot be retrieved since is not allowed b

[2022-07-13 17:21] joakime commented on #8295
_Priority support is offered via Webtide LLC contact jesse@webtide.com for details._

I'm a committer on Eclipse Jetty.
My daily development machine is a AMD Ryzen Threadripper 2990WX (32-core, 64-hyperthreads), with 128GB of RAM, running Ubuntu 20.04.4 LTS.
I have not experienced this websocket client issue you are reporting.

We need more information, as this is not reproducible by simply starti

[2022-07-13 17:27] joakime commented on #8295
Also, check your `cgroups` within that VM to ensure that you are using BOTH a version of your VM that supports setting cgroups properly for your CPU configuration, and are using a version of Java that also uses the `cgroups` settings properly.

With older version of VMs (docker, containerd, vmware, virtualbox, etc) they didn't set the `cgroups` properly to the limited configurations of the VM, and

[2022-07-13 17:35] joakime commented on #8294
Your code snippet ...

Key piece of information in your stacktrace ...

[code]

This occurred during a `PushBuilder` action, that's fishy.

The `PushBuilder` only supports `Set-Cookie` headers that were set via the [`HttpServletResponse.addCookie(Cookie)`](https://docs.oracle.com/javaee/7/api/javax/servlet/http/HttpServletResponse.html#addCookie-javax.servlet.http.Cookie-) method, as the container

[2022-07-13 18:26] arora53 commented on #8295
Thanks for the reply, Here is the sample code that we are using to connect via Jetty WebSocket...

[code]

I will check about the cgroups within the team and update the ticket with relevant informantion.

[2022-07-13 18:33] Horcrux7 commented on #8294
It is clear that a custom cookie is not available in the PushBuilder request. I did not expect that at all. But there should be no exception.

[2022-07-13 19:48] joakime commented on #8295
Thanks, but that code is incomplete, broken, doesn't compile, and has bugs.

why are you using a custom `Executor`? (this is always a red-flag, just configure the QueuedThreadPool instead)
why is your custom `Executor` setting such a ridiculously tiny max thread pool? (smells of bad premature optimization)
why are you using the deprecated `WebSocketClient(SslContextFactory, Executor)`?
why are you

[2022-07-13 20:12] joakime commented on #8295
This was tested against Jetty 9.4.48.v20220620 and OpenJDK 1.8.0_332 (Eclipse Temurin build/release), on Ubuntu 20.04.04 on a machine with 64 cores and 128GB of ram.

This also does not manifest on Jetty 10+ versions of WebSocketClient.  ([same example project](https://github.com/jetty-project/embedded-jetty-websocket-examples), different branch).

Closing as this is a support request for Jetty 9.

[2022-07-13 20:12] #8295 closed, assigned to joakime

[2022-07-13 20:19] joakime commented on #8294
Incorrect, for a Push to succeed, the response headers need to be sane, that is especially true for the `Set-Cookie` header, as your primary request/response can have a `Set-Cookie` that is not compatible with the `PushBuilder` resulting response.
Each response MUST copy the set of `Cookie` response objects from the primary response to the pushed response and be filtered based on the cookie detail

[2022-07-13 20:50] gregw commented on #8294
@joakime I tend to agree with the OP that we should not be throwing such an exception.  The code is making the assumption that all setCookie fields have been set via a particular API, but there are alternative paths.
I don't think there is anything that says the setCookie API must be used to set cookies, and that setting them via addHeader is allowable.

So I think this is a bug.

[2022-07-13 21:18] Horcrux7 commented on #8294
Each response MUST copy the set of Cookie response objects from the primary response to the pushed response and be filtered based on the cookie details (path, time to live, expiration, etc).
This is a requirement if using the PushBuilder.

Can you tell me where this is specified?

The current cookie API is not compatible with RFC6265. That this is a workaround.

[2022-07-13 21:30] joakime commented on #8294
Jetty has a CookieCompliance mode for RFC6265.
https://github.com/eclipse/jetty.project/blob/jetty-10.0.11/jetty-http/src/main/java/org/eclipse/jetty/http/CookieCompliance.java

https://github.com/eclipse/jetty.project/blob/d988aa016e0bb2de6fba84c1659049c72eae3e32/jetty-http/src/main/java/org/eclipse/jetty/http/CookieCompliance.java#L81

Which is the default for Jetty 10+

https://github.com/eclip

[2022-07-13 22:30] gregw commented on #8294
@joakime  I'm not sure that calling addHeader for a set cookie is really an "abuse" of the API.   I think it is a "do so at your own risk" kind of thing.
In this particular case, we are looking for a maxAge on the set cookie and assumed we could use our own internal type to get it.  Because the API provides an alternative path, we should support that, even if it means reparsing that cookie to look

[2022-07-13 23:00] gregw commented on #8294
I've done a fix is PR #8298, but it uses `java.net.HttpCookie` to reparse the cookie.  So if you do anything in your set cookie that breaks that parser, then you'll just get a different exception.  @Horcrux7 is that OK?

[2022-07-13 23:13] joakime commented on #8293
We definitely want to log at DEBUG in `AbstractConnection.onClose(Throwable)`

https://github.com/eclipse/jetty.project/blob/jetty-10.0.11/jetty-io/src/main/java/org/eclipse/jetty/io/AbstractConnection.java#L223-L236

https://github.com/eclipse/jetty.project/blob/d988aa016e0bb2de6fba84c1659049c72eae3e32/jetty-io/src/main/java/org/eclipse/jetty/io/AbstractConnection.java#L223-L236

The resulting `C

[2022-07-13 23:15] joakime commented on #8294
It would be good to have an example of the RFC6265 `Set-Cookie` header that @Horcrux7 is using, so we can ensure the reparse technique will work.

[2022-07-14 08:00] Horcrux7 commented on #8293
Now I understand what you means. I can handle this. You make a great job with this project.

I close this issue also if I think on tracing it should not produce/show exception from the logging self.

[2022-07-14 08:00] #8293 closed, assigned to nobody

[2022-07-14 08:30] Horcrux7 commented on #8294
Yes, it for the SameSite attribute. Even though most of our customers use our software together with a Jetty, not all of them do. That we can't use Jetty only features. It must also work with other servlet engines.

Here are some sample of cookies that we send. Also If I think that my cookies are not relevant.
[code]

PS: You check only the age of the cookie to make it available in the push reques

[2022-07-14 13:16] joakime commented on #7269
Along with the general cleanup, we should standardize our use of "no port".

Since we go into and out of the `java.net.URI` class often, we should use their definition of "no port" and have it be a constant of value `-1` in `HostPort` like `HostPort.NO_PORT`.

A value of `0` (zero) is something I think we should avoid, as it's not a port we can connect to.

Here's a demo of the behavior of `java.n

[2022-07-14 13:22] joakime commented on #7269
Some other things that `HostPort` doesn't support very well ...

_(Presented as tests of valid authorities in the `HostPortTest`)_

* IDN values
[code]
* IPv6 with zone identifiers
[code]
* Scheme based normalization
[code]
* Whitespace in weird places
[code]

[2022-07-14 13:25] joakime commented on #7269
I also think that all of the following should be reported as Invalid Authorities.

[code]

[2022-07-15 01:33] olamy commented on #8209
fixed https://github.com/eclipse/jetty.project/commit/68206ce880a334d02fa381adf03fe01e2e5b2015

[2022-07-18 00:00] #2515 closed

[2022-07-18 01:36] lachlan-roberts commented on #8296
@jlindman thanks for the reproducer.

I think what you are doing by adding an alias checker for the link handler onto your webapp is wrong.
`webapp.addAliasCheck(new SymlinkAllowedResourceAliasChecker(linkHandler));`
Why are you creating the link handler?

<hr>

This is related to the recent rework of the alias checkers into `AllowedResourceAliasChecker`. I can see two reasons in Jetty why this is

[2022-07-18 09:13] achimmihca opened #8316 "[jetty-jspc-maven-plugin] compile taglibs that are not (yet) included in jsp file"
**Jetty version**
[jetty-jspc-maven-plugin](https://mvnrepository.com/artifact/org.eclipse.jetty/jetty-jspc-maven-plugin) 9.4.43.v20210629

**Java version**
17

**Issue Description**
We are using jetty-jspc-maven-plugin to compile JSP in our build.
We have some maven-projects that contain only taglibs (tld files) but no jsp files.
Sadly, these taglibs are not compiled when the project is compiled.

[2022-07-18 10:03] achimmihca opened #8317 "[jetty-jspc-maven-plugin] paths of taglib wrongly prefixed with `/WEB-INF/classes`"
**Jetty version(s)**
[jetty-jspc-maven-plugin](https://mvnrepository.com/artifact/org.eclipse.jetty/jetty-jspc-maven-plugin) 9.4.44.v20210927
The previous version 9.4.43.v20210629 does not have this issue.

**Java version/vendor** `(use: java -version)`
jbrsdk-17.0.3

**OS type/version**
Windows 10

**Description**
We have a multi module maven build. A maven project with a taglib is compiled befor

[2022-07-18 11:02] achimmihca commented on #8317
You can find here a minimal example project to reproduce the issue: https://github.com/achimmihca/multi.module.webapp.demo

To reproduce the issue
- configure the newer version of jetty-jspc-maven-plugin in the pom.xml file
- compile with `jspCompilation` Maven profile

[2022-07-18 11:04] achimmihca commented on #8316
You can find here a small example project setup to reproduce the issue: https://github.com/achimmihca/multi.module.webapp.demo

[2022-07-18 17:39] #8294 closed, assigned to gregw

[2022-07-18 17:42] rafaljot commented on #7990
@[BoomManPro](https://github.com/BoomManPro)

Change
[code]

for:

[code]

[2022-07-19 22:15] gregw opened #8318 "Check more set cookie attributes in push builder"
**Target Jetty version(s)**

Check path and other attributes from set cookie when building a push request.

**Enhancement Description**

See https://github.com/eclipse/jetty.project/issues/8294

[2022-07-20 05:15] lachlan-roberts commented on #8216
@keller-j the changes have been merged with PR #8286.
Will be available in next release (10.0.12 / 11.0.12).

[2022-07-20 05:15] #8216 closed, assigned to lachlan-roberts

[2022-07-20 12:16] joakime commented on #8317
Jetty 9.x is now at End of Community Support.

* https://github.com/eclipse/jetty.project/issues/7958

Does this happen with Jetty 10.x?

[2022-07-20 13:43] achimmihca commented on #8317
yes, it even occurs in 11.0.11

[2022-07-20 14:01] leonard84 opened #8319 "Allow configuring initial queue size per destination"
**Target Jetty version(s)**
9 🥺

**Enhancement Description**
Currently, the option `org.eclipse.jetty.client.HttpClient#setMaxRequestsQueuedPerDestination` allows us to set the maximum queue size, however this will pre-allocate a `BlockingArrayQueue` with said number, potentially wasting a lot of space for larger numbers.

We would like to propose to add another parameter `org.eclipse.jetty.client

[2022-07-20 14:32] joakime commented on #8319
Jetty 9.x is now at End of Community Support.

* https://github.com/eclipse/jetty.project/issues/7958

Any such feature would be for Jetty 10+

[2022-07-20 15:07] marcphilipp commented on #8319
Could we have it for Jetty 10+ then, please? 😇

[2022-07-20 15:10] techdeba901 opened #8320 "Sending of SNI in TLS handshake using Jetty HttpClient"
**Jetty version**
9.4.43.v20210629
**Java version**
17.0.3.1
**Question**
We are initializing jetty HttpClient in the following way to perform https messaging with remote https server.
Question is, with the following HttpClient initialization, will it send SNI field during TLS handshake? If not, could you please tell me what needs to be done to enable sending of SNI as part of TLS handshake?

[cod

[2022-07-20 16:03] joakime commented on #8320
Jetty 9.x is now at End of Community Support.

* https://github.com/eclipse/jetty.project/issues/7958

Does this happen with Jetty 10.x?

[2022-07-20 16:36] joakime commented on #8319
@sbordet you had some opinions recently on this.

[2022-07-20 16:37] sbordet commented on #8320
Yes. This is done by the JDK, not by Jetty, and the SNI will be what you specify as host in the request (in your case `remote_host`).

Your `extUrl` should obviously have scheme `https`, not `http` like you report above.

[2022-07-20 16:39] sbordet commented on #8319
We don't mind a pull request, but I would not introduce another property, just hardcode the usage of the "growing" constructor with say `capacity=32` and `growBy=32`.
Would that work for you?

[2022-07-20 18:55] keller-j commented on #8216
Thanks a lot!

[2022-07-21 05:42] marcphilipp commented on #8319
Yes, I think so. How would the initial capacity be determined in that case?

[2022-07-21 08:47] techdeba901 commented on #8320
Thanks. I am able to see SNI in TLS handshake.

[2022-07-21 08:47] #8320 closed, assigned to nobody

[2022-07-22 00:00] #4954 closed, assigned to joakime

[2022-07-22 11:45] sbordet commented on #8319
A hardcoded number like `32`.

[2022-07-22 13:12] marcphilipp commented on #8319
Should we send a PR?

[2022-07-22 13:54] sbordet commented on #8319
Sure, give it a go! Thanks! It's enough one PR against the `jetty-10.0.x` branch.

[2022-07-22 21:54] kasingal opened #8329 "Why there is no Regex Support for excludeList of nonProxyHost"
Code at line below should be enhanced:
https://github.com/eclipse/jetty.project/blob/8102378e2d24b8117ed3a545c7579f79d35fc45a/jetty-client/src/main/java/org/eclipse/jetty/client/ProxyConfiguration.java#L180

Generally **nonProxyHosts** gets defined with wildcards like `*.abc.com|*.svc.local` etc.. so `.equals` doesn't help !
And apparently Jetty Client doesn't have any support for wildcard list of

[2022-07-22 22:00] joakime commented on #8329
What version of Jetty?

[2022-07-22 22:34] kasingal commented on #8329
Any version till date.. there is no support for the pattern match there on the line I just tagged to the ticket !
Better to have it enhanced in 9.4.x and higher versions !

[2022-07-25 00:00] #6158 closed, assigned to nobody

[2022-07-25 01:28] lachlan-roberts opened #8330 "Persistent OpenId sessions can throw IllegalStateException"
**Jetty version(s)**
all

**Description**
After persisting an OpenId session to the `SessionDataStore` the user identity is lost as it is a transient field in `SessionAuthentication`. This is causing an ISE when the `Authenticator` tries to revalidate the userIdentity of the `SessionAuthentication` saved at the `SessionAuthentication.__J_AUTHENTICATED` attribute.

[code]

**How to reproduce?**
I h

[2022-07-25 01:32] lachlan-roberts commented on #8330
@janbartel thoughts?

[2022-07-25 06:57] mma5997 commented on #7958
Hello @joakime, any specific tentative timelines for 9.X EOL ?
Thanks!

[2022-07-25 07:28] marcphilipp commented on #8319
👉 #8331

[2022-07-25 09:53] olamy opened #8333 "ClientAuthProxyTest.testClientAuthProxyingWithMultipleServerSubDomains is failing on osx"
with jetty-12.0.x (not sure yet about other branches)
[code]

[2022-07-25 13:40] joakime commented on #7958
From the announcement text at the top of this issue ...

_"As for the official EOL of Jetty 9.x, we will give at least 6 months notice after the last [Webtide](https://webtide.com/) customer has transitioned off of using 9.x. We can’t provide a firm date, but it is unlikely to happen before 2025."_

[2022-07-26 00:00] #6466 closed, assigned to nobody

[2022-07-26 07:21] janbartel commented on #8317
@achimmihca I'll take a look into this, but I suspect you're going to need to raise this issue with the Apache Jasper folks. The jetty-jspc-maven-plugin just invokes the standard `org.apache.jsper.JspC` class, so I think this is simply the way that `JspC` works. We do expose the `JspC` instance on the plugin, so maybe you can find some configuration option on there that would do what you need. We

[2022-07-26 08:05] jackiedlh commented on #8317
I met this issue when using jetty 9.4.47

[2022-07-27 04:09] tangjiangling commented on #8262
@gregw @sbordet Thanks for your help, let me close this issue, as the problem is not reproducible after using `9.4.48` version.

[2022-07-27 04:09] #8262 closed, assigned to nobody

[2022-07-27 11:54] jnehlmeier opened #8348 "`--dry-run` generates broken command line when using multiple `--add-opens` in an `[exec]` module"
**Jetty version(s)**
10.0.11, bug introduced in 10.0.9

**Java version/vendor**
Any that supports `--add-opens`. Tried with AdoptJdk 15, 18

**OS type/version**
macOs 10.15.7

**Description**
I have a custom module that uses `[exec]` to set custom JVM parameters. A slightly shortened version of that module looks like
[code]

I then use a shell script which uses `--dry-run` to generate the command

[2022-07-27 12:41] joakime commented on #8348
The removal of duplicate command line entries seems to be biting you.

What happens if you cheese it in one line instead?

[code]

[2022-07-27 13:10] jnehlmeier commented on #8348
Nice, that seems to work. The generated command then contains
[code]
All parameters are preserved and `java` accepts it.

I always thought that `java` would complain that `--add-opens\ java.base/java.lang=ALL-UNNAMED` isn't a valid parameter because the escaped space causes it to treat the whole thing as one parameter.

[2022-07-27 15:26] joakime commented on #8348
It's a cheesy workaround (hack).

I think that when you pass the `--dry-run` output to java, (via a shell?) the `\ ` (escaped space) is basically always a space.

We need to supporting the jpms style of options better.

[2022-07-27 16:20] jnehlmeier commented on #8348
Yes, I guess you are right. I am basically doing
[code]

[2022-07-27 20:15] joakime commented on #8348
Here's an alternative declaration, using the `[jpms]` module.

[code]

Documented here - https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/documentation/jetty-documentation/src/main/asciidoc/operations-guide/modules/modules.adoc

Can you give this a try?

[2022-07-27 20:16] dhaboda opened #8349 "Jetty HttpRequest Memory leak with version from 9.4.18.v20190429"
I see that high GC count increase of ConcurrentMarkSweep and ParNew stats leading to high CPU usage when I hit "InterruptedException | TimeoutException | ExecutionException" when jetty is not able to write messages over the stream.
Below is the code snippet.. and the stack heapdump shows the "org.eclipse.jetty.io.MappedByteBufferPool" occupied 70% of the heap memory. Below is code snippet and the

[2022-07-27 20:19] joakime commented on #8349
Jetty 9.x is now at End of Community Support.

* https://github.com/eclipse/jetty.project/issues/7958

Does this happen with Jetty 10.x?

Jetty 9.4.18.v20190429 is rather old, and is subject to several CVEs.

* https://www.eclipse.org/jetty/security_reports.php

You should upgrade.  Even if it's only to [9.4.48.v20220622](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.48.v20220622

[2022-07-28 09:18] jnehlmeier commented on #8348
When I do that and change the command to `--jpms --dry-run` the generated command line contains all `--add-opens` without an escaped `space` (plus some more from other jetty modules). But I am not sure if I will use that, because I never used module-path before with this app.

[2022-07-28 10:19] pshevche opened #8353 "Automatic pongs should not be sent when connection is closed"
**Jetty version(s)**
9.4.48.v20220622

**Java version/vendor**
Eclipse Adoptium OpenJDK Runtime Environment 11.0.15+10

**OS type/version**
Linux 5.4.0-122-generic (amd64)

**Description**
We observe that Jetty websocket client automatically replies to pings with pongs, even though the channel has already been closed in the meantime. In this scenario, we expect that no pong should be sent.

[code]

[2022-07-28 17:07] #8319 closed, assigned to sbordet

[2022-07-28 17:14] sbordet commented on #8329
@kasingal we accept pull requests. Do you want to try to fix this issue and submit a pull request? Thanks!

[2022-07-28 17:37] joakime commented on #8329
If you decide to do a pull request, make it against branch `jetty-10.0.x` only, we'll handle the merging to `jetty-11.0.x` and `jetty-12.0.x` ourselves.

[2022-07-28 18:03] joakime commented on #8348
@sbordet what do you think about having `--dry-run` output the `[jpms]` section details even if `--jpms` isn't used?

[2022-07-28 18:05] joakime commented on #8348
Ya know, there's nothing stopping us from having a `jpms` part on `--dry-run=<part>`

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-start/src/main/resources/org/eclipse/jetty/start/usage.txt#L67-L73

https://github.com/eclipse/jetty.project/blob/4a6c2744a0d4ff404daee0a521e88ae386356e06/jetty-start/src/main/resources/org/eclipse/jetty/start/usage.txt#L67-L73

It would introduce a

[2022-07-28 21:04] alekkol opened #8354 "Deadlock in Jetty using Logback"
**Jetty version(s)**
Jetty 10.0.11
Logback 1.2.11

**Java version/vendor**
openjdk version "17.0.3" 2022-04-19
OpenJDK Runtime Environment Temurin-17.0.3+7 (build 17.0.3+7)
OpenJDK 64-Bit Server VM Temurin-17.0.3+7 (build 17.0.3+7, mixed mode)

**OS type/version**
Initially reproduced in GitHub Actions on the `ubuntu-latest` runner
Also reproduced locally on OSX 12.2

**Description**
`org.eclipse.

[2022-07-28 21:58] alekkol commented on #8354
Also reproduced on Jetty 10.0.10, but cannot reproduce on 10.0.9

[2022-07-28 22:00] joakime commented on #8354
Is there a reason you are using an old logback?
This is a known issue in Logback 1.2.x series.
* See https://jira.qos.ch/browse/LOGBACK-1492

For Jetty 10 and Jetty 11 we use Logback 1.3.0 series.

[2022-07-28 22:08] joakime commented on #8354
The class named `AdaptiveExecutionStrategy` came into being for release 10.0.6.
It had an update in release 10.0.8 for javadoc, no change in logic.

https://github.com/eclipse/jetty.project/commits/jetty-10.0.x/jetty-util/src/main/java/org/eclipse/jetty/util/thread/strategy/AdaptiveExecutionStrategy.java

There should be the same behavior between 10.0.10 and 10.0.9.

[2022-07-29 06:26] lachlan-roberts commented on #8353
Jetty 9.4 has reached the end of community support (see https://github.com/eclipse/jetty.project/issues/7958).

If you upgrade to Jetty 10 do you still encounter this error? Jetty 10 has major changes to the websocket implementation, so you may not experience the same issue after upgrading.

[2022-07-29 07:27] achimmihca commented on #8317
I think you are right. I found a bug report that sounds related and that could have introduced the issue: https://bz.apache.org/bugzilla/show_bug.cgi?id=64373

HOWEVER the tag-file is instead loaded from /META-INF/tags at the root of the webapp, which of course can't be found.
I think this should be resolved, as Tomcat appears to support .tlds in /WEB-INF/classes/META-INF.

I am not sure but I thi

[2022-07-29 07:28] achimmihca commented on #8317
I guess this is just how the JSP spec works.

[2022-07-29 07:28] #8317 closed, assigned to nobody

[2022-07-29 07:37] achimmihca commented on #8316
Does not seem to work because JSP files cannot be placed in taglib projects (see #8317 for details)

[2022-07-29 08:25] pshevche commented on #8353
Thank you for a quick response. Unfortunately, we are not able to upgrade to Jetty 10 yet, as we have to stay backwards compatible with Java 8 for the time being. It seems like you've already checked that the issue is present in Jetty 10 and https://github.com/eclipse/jetty.project/pull/8356 should resolve it. Do you need any more input from my side?

[2022-07-29 10:48] alekkol commented on #8354
@joakime Logback 1.2.* is not abandoned and in fact is being developing in parallel with 1.3.* Migration to the latest version is not an option right now due to dependencies issues (e.g. 1.3.* has the Jakarta API in transitive dependencies).
As for the deadlock issue, using an exclusive lock in the `toString()` implementation and leaking `this` reference into uncontrolled code leads to dangerous s

[2022-07-29 12:05] tipsy opened #8357 "Jetty 11 and Micrometer"
## Background

While [migrating Javalin to Jetty 11](https://github.com/javalin/javalin/commit/f7240c5a91a378bce8dc99a30b4ee57863e1e7da), we discovered that Micrometer doesn't support Jetty 11. We made a ticket with the Micrometer team: https://github.com/micrometer-metrics/micrometer/issues/3234, but adding support isn't straightforward.

In short, Micrometer is not able to support Jetty 11 witho

[2022-07-29 12:10] joakime commented on #8354
Lets look at the history of this lock in `toString()`.
As if this was a concern, it would happen for far more of a range then just 10.0.10 thru 10.0.9.
It's been present in every release of Jetty 9.4.4 onwards for the past 7 years (even includes all releases of Jetty 10 and Jetty 11).

**July 29, 2022 (Today)**

Last seen in Jetty 10.0.11
First seen in Jetty 10.0.6

The current `AdaptiveExecutionS

[2022-07-29 12:33] joakime commented on #8354
That jakarta dependency might look scary at first, but follow the trail ...

* https://repo1.maven.org/maven2/ch/qos/logback/logback-core/1.3.0-alpha16/logback-core-1.3.0-alpha16.pom

This references `jakarta.servlet:jakarta-servlet-api:<ver-from-parent>` declared as `<optional>true</optional>` so it won't pull it in without you specifically declaring it.

* https://repo1.maven.org/maven2/ch/qos/l

[2022-07-29 12:40] joakime commented on #8354
This is a simple enough change, I can make it.
But I have doubts it will change anything.
As that specific line is not ever within a Lock.

Ideally, a testcase that can replicate this is an important first step.
If it is an issue, we should be able to replicate it without the need for logback deps.
Using the `jetty-slf4j-impl`, you can instantiate a new `JettyLogger` with a test/custom Appender th

[2022-07-29 13:13] gregw commented on #8357
We are not opposed to having 3rd party integrations in jetty where in makes sense. But hard to say we will do it without much knowledge of micrometer.
 Perhaps the micrometer team could prepare a PR against jetty that would show what a "handed over"  integration would look like.

[2022-07-29 13:14] sbordet commented on #8357
Many projects are moving forward and dropping support for Java 8 and requiring at minimum Java 11.
Micrometer will have the same problem you report here when they will have to integrate Tomcat 10.1, which requires Java 11, or other projects Micrometer depends on (kafka, etc.).
It's just that Jetty 11 has bitten that bullet before.

Eventually Micrometer could decide to keep the 1.x releases for Ja

[2022-07-29 13:18] joakime commented on #8354
When we break down your threaddump, we see ...

[code]

The lock created by `com.workato.agent.log.CloudAppender` seems to be the cause, not the lock in `AdaptiveExecutionStrategy` (at least that's what we can tell from your limited stacktrace)

[2022-07-29 13:53] alekkol commented on #8354
This class doesn't contain any `synchronized` methods. It extends `ch.qos.logback.core.AppenderBase` with [synchronized method](https://github.com/qos-ch/logback/blob/master/logback-core/src/main/java/ch/qos/logback/core/AppenderBase.java#L59) so that's why its instance actually hold the lock.

I agree that our setup may be not the most common one since we use the custom Logback appender and the c

[2022-07-29 14:09] sbordet commented on #8354
Sorry but the logging framework should deal with these issues, as `toString()` is entitled to lock and it must be possible to log with the same lock held.

The problem is the lock on the `CloudAppender` like @joakime said.

If that is out of your control because it's performed by the Logback implementation, then it's a bug in Logback.

From your description, I bet you can reproduce this bug withou

[2022-07-29 14:31] alekkol commented on #8354
@sbordet A servlet container as a universal tool is expected to be able to correctly work in different environments. In this scenario, one of the critical classes from Jetty internals leaks its reference into third-party SLF4J API implementation. This implementation is out of control and can acquire the exclusive lock at any time and interrupt normal server behavior. It's a common practice to pass

[2022-07-29 14:51] sbordet commented on #8354
@alekkol the same Jetty code with another logging library that is not Logback does not have any problem, because the other logging libraries do not have the Logback bug.

It is not a Jetty issue.

Try, and you will be able to reproduce the bug using Logback without any Jetty dependency.

[2022-07-29 15:09] alekkol commented on #8354
@sbordet Of course, it can be reproduced with the Logback library only. But the same is true for the opposite: we have been using this logger for years and never had the same issues before. It appeared only after migrating to Jetty from another servlet container.
I can agree that calling the `synchronized` method for every logging event is not the best solution for Logback but the same is true for

[2022-07-29 15:28] sbordet commented on #8354
The lock in `toString()` is necessary for correctness, because it accesses internal state that is protected by that lock.

We are not the only ones grabbing a lock in `toString()`, even the OpenJDK code does it, for example:
https://github.com/openjdk/jdk/blob/jdk-20%2B0/src/java.base/share/classes/sun/nio/ch/SocketChannelImpl.java#L1507

You agree that you are using a buggy logging library. File

[2022-07-29 17:52] alekkol commented on #8354
That's why this issue was created. Both Jetty and Logback have the same bug - they call alien methods under the exclusive lock section provoking deadlocks. Jetty does it in `AdaptiveExecutionStrategy.selectSubStrategy` method, Logback in `AppenderBase.doAppend`.

https://github.com/openjdk/jdk/blob/jdk-20%2B0/src/java.base/share/classes/sun/nio/ch/SocketChannelImpl.java#L1507

This example is not

[2022-07-29 18:20] sbordet commented on #8354
You have created it in the wrong project. It is not a Jetty issue.

And we are not calling alien methods.
We are calling a logging API (SLF4J) that you have bound to a buggy implementation.
Change the logging implementation and your problems will be solved.

If we start implementing workarounds in Jetty for other libraries bugs, we would not have time to do any work on Jetty.

[2022-07-29 20:36] alekkol commented on #8354
We are calling a logging API (SLF4J) that you have bound to a buggy implementation.
Change the logging implementation and your problems will be solved.

Why "calling a logging API (SLF4J)" in a critical section in Jetty **is not a bug** but calling `Object.toString()` in the synchronized method in Logback **is**? Using this logic we can say that the Logback was "bound to a buggy implementation" of

[2022-07-31 00:00] #6469 closed, assigned to nobody

[2022-08-01 04:53] janbartel commented on #8316
@achimmihca I think this is in the same category as #8317, in that this is the way that `jspc` is working, so would need an issue raised over at Apache Jasper?

[2022-08-01 04:59] janbartel commented on #8271
@BertRobben jetty-9.4 is at end of community support, so we're really just addressing security issues for it. If it's fixed in jetty-10.0.x and above, then I encourage you to upgrade. If that's not an option for you, and this is a commercial imperative for you, then you have the option to talk to Webtide about commercial support for jetty-9.4.x.

[2022-08-01 05:11] janbartel commented on #3949
The api search results are definitely broken.

[2022-08-01 07:11] BertRobben commented on #8271
Thanks for the advice. It is indeed already fixed in 10.x. We have upgraded
to 10.x already, but our older branches which we still need to support run
jetty 9 and those cannot be upgraded.

I addressed the issue in the older branches myself by making a custom
extension to the statisticshandler that overrides the problematic method to
fix the issue. So we're good now.

Due to company policy, i cann

[2022-08-01 10:07] achimmihca commented on #8316
I created https://bz.apache.org/bugzilla/show_bug.cgi?id=66191

[2022-08-01 10:07] #8316 closed, assigned to nobody

[2022-08-01 10:30] olamy commented on #3949
uhm building locally from `jetty-11.0.x` doesn't have any issues.
weird.
I will check with @jmcc0nn3ll how is it deployed.

[2022-08-01 13:38] quijote opened #8396 "Many servlet mappings using URL suffixes may get lost in Jetty 9.4"
**Jetty version(s)**
9.4.x. It is unclear to me if "End of community support" means that major issues should not even be reported anymore.

**Java version/vendor** `(use: java -version)`
[code]
**OS type/version**

Windows

**Description**

My application uses a couple of servlet mappings like this:
[code]

At some point I added another mapping and large parts of the application stopped working.

[2022-08-01 15:38] joakime opened #8397 "Jetty 12 - is `Resource.copyTo(Path)` for file to file? or dir to dir?"
**Jetty version(s)**
Jetty 12

**Description**
The API `Resource.copyTo(Path)` has a contract of File to File.
All the way back to Jetty 7.x version of Resource.
However, in Jetty 7, the specific `JarResource` changes the contract to `Resource.copyTo(directory)` allowing the copying of a JAR contents to a directory somewhere else.

Now that we are Path based, we should just drop the `Resource.copy

[2022-08-01 15:45] cowwoc commented on #3949
Make sure you're using JDK12 or newer for generating the Javadoc: https://bugs.openjdk.org/browse/JDK-8215291

[2022-08-01 16:07] joakime commented on #8396
Use Jetty 9.4.48.v20220622

See: https://github.com/eclipse/jetty.project/issues/8184

[2022-08-01 16:07] joakime commented on #8396
This is a legitimate bug.
And needs to be fixed.

[2022-08-01 16:09] joakime commented on #8184
@markslater looks like another suffix bug snuck through in Jetty 9.4.48 as well.  #8396

[2022-08-01 16:10] joakime commented on #8396
This bug does not exist in Jetty 10+

[2022-08-01 16:13] joakime commented on #3949
The Jetty 9.4.x build/test/release/javadoc is built using Java 11.
We cannot use a version newer than that for our build on Jetty 9.4.x without significant extra work.

The Jetty 10 and Jetty 11 build/test/release/javadoc uses Java 17

[2022-08-01 16:23] cowwoc commented on #3949
@joakime You could use one of the workarounds mentioned at https://stackoverflow.com/q/52326318/14731 or you could run just the `javadoc` goal using a different JDK version: https://github.com/google/guava/issues/5457#issuecomment-949599757

Either approach should work.

[2022-08-01 16:44] joakime commented on #3949
The "significant work" part of that statement has to do with updating the javadoc across the whole project to satisfy the stricter rules in Java 17's javadoc tooling.

The way javadoc builds on Jetty 9.x is via the maven plugin `javadoc:aggregate` which makes building javadoc with a different JDK very difficult.
In Jetty 10+ it's a standalone maven module/project, and can easily be a different JDK

[2022-08-01 16:46] cowwoc commented on #3949
@joakime In that case, I suggest using https://stackoverflow.com/a/52603413/14731 for Jetty 9- and changing the JDK used by Jetty 10+'s `javadoc` goal.

[2022-08-01 16:55] joakime commented on #3949
The reworking of Jetty 9 to use the techniques in Jetty 10 is significant (as stated several times now), and out of scope for a end of community support version of Jetty.
The linked stackoverflow suggestion of disabling module directories is odd, as Jetty 9 has no module directories, that was introduced in Jetty 10+.
The other stackoverflow suggestion of adding a javascript snippet won't work on p

[2022-08-01 18:06] cowwoc commented on #3949
@joakime The description of https://bugs.openjdk.org/browse/JDK-8215291 explains that this bug occurs when generating Javadoc for projects that have no module directories (the case you described for Jetty 9).

Try `--no-module-directories` for Jetty 9. It should work.

[2022-08-01 18:10] cowwoc commented on #3949
Sorry I should clarify. I am under the impression that you're asking for a fix for Jetty 9. If you are instead saying that you don't plan to update Jetty 9 (because it no longer has community support) then we can focus on getting Jetty 10+ working.

[2022-08-01 19:39] jmcc0nn3ll commented on #3949
This is the process we currently use to update the website for releases, the javadoc portion is a bit busted at the moment and we haven't taken the time to sort it out again, javadoc is hopelessly fragile these days.

https://git.eclipse.org/c/www.eclipse.org/jetty.git/tree/_update_for_releases.sh

[2022-08-01 21:47] joakime opened #8398 "Support RFC9218 - Extensible Prioritization Scheme for HTTP"
**Jetty version(s)**
Jetty 10+

**Enhancement Description**

See: https://datatracker.ietf.org/doc/html/rfc9218

There is a new RFC for Extensible Prioritization that can apply to HTTP/2 and HTTP/3.

This is a replacement for the old [RFC 7540](https://datatracker.ietf.org/doc/html/rfc7540) stream priority system.

[2022-08-02 00:11] janbartel commented on #7711
See also https://jenkins.webtide.net/job/jetty.project/job/jetty-10.0.x/1619/testReport/junit/org.eclipse.jetty.server/StressTest/Parallel_Stage___Build___Test___JDK17___testNonPersistent/

[2022-08-02 07:57] janbartel commented on #8397
But if you're handed a Resource, you don't know what it is, so you might not know to copy it.

[2022-08-02 10:25] amartya10 opened #8400 "In Jetty Client API request/response getHeaders method also contain request/response cookies in it"
**Jetty version**

**Java version**

**Question**

[2022-08-02 10:30] amartya10 opened #8401 "Is Jetty Client API request/response getHeaders method also contain request cookies in it or not"
**Jetty version** 11.0.9

**Java version** 11

**Question** In Jetty Client API request/response getHeaders method also contain request/response cookies in it

I am using  org.eclipse.jetty.client.api.Request and  org.eclipse.jetty.client.api.Response
both have method

[code]
so my question for  request  object getHeaders() also return cookies value in it or we need to call
[code]

[2022-08-02 11:06] joakime commented on #8400
Closing Incomplete / Invalid Issue

[2022-08-02 11:06] #8400 closed, assigned to nobody

[2022-08-02 12:08] joakime commented on #8397
Unfortunately, as the user of the Resource you need to be sure that your Resource is even capable of being copied, or even needs to be copied.
The behaviors in Jetty 9 thru 11 in this regard is also quietly broken in many places (as copyTo() doesn't do anything in a few cases i looked into)

In Jetty 12 if you are handed a resource (which is always a Path btw)

For Jar/Zip/War files, you have 2 wa

[2022-08-02 12:12] joakime commented on #8397
My personal preference for `Resource.copyTo(Path)`, after looking at all of the users of `Resource` in Jetty 12, is the following ...

* File - option 1 only, preserve the name of the file, but now it exists in a new destination directory. (options 2 and 3 are an IllegalArgumentException)
* Directory - option 1 only, and do not follow links when walking the source Resource. (options 2 and 3 are an

[2022-08-02 12:29] sbordet commented on #8401
`Request.getCookies()` only returns cookies that you have added via `Request.cookie(...)`.

Cookies that have been set previously are stored in the `HttpClient` and you can access them via `HttpClient.getCookieStore()`.

[2022-08-02 12:32] joakime commented on #8401
The Jetty Client `Request` object has 2 ways to access `Cookie` headers.
1. The `Request.getCookies()`
2. The `Request.getHeaders()`

If you used `Request.cookie()` to add Cookies, then those will _not_ be present on the `Request.getHeaders()` until you issue a `send()`.
The entries from `Request.getCookies()`  only show those cookies added via `Request.cookie()` method, and will not show cookies

[2022-08-02 19:02] niloc132 opened #8405 "Servlet 3.1 ReadListener.onAllDataRead() is called twice under h2 or h2c if the server doesn't respond within 30s"
**Jetty version(s)**
tested 11.0.8, 11.0.11

**Java version/vendor** `(use: java -version)`
[code]
**OS type/version**
Linux
[code]

**Description**
Steps to reproduce:
 * Run an h2 or h2c (can be reproduced with or without ssl) server
 * Host a filter or servlet that starts an async call
 * Add a read listener to the call, and validate that onAllDataRead is only hit once
 * Do not send a response

[2022-08-03 03:16] janbartel opened #8408 "Jetty 12 : add support for new session-config elements in web.xml for servlet 6"
For jetty-12.0.x, ee10:

There is a new element in `web.xml` for servlet 6 in `session-config`  of a list of:

 `<attribute>
     <attribute-name>string</attribute-name>
    <attribute-value>string</attribute-value>`

[2022-08-03 10:05] amartya10 commented on #8401
@joakime @sbordet
Thank you for the help 👍🏿
I got know about how request wok jetty

[2022-08-03 10:05] #8401 closed, assigned to nobody

[2022-08-03 11:09] lorban commented on #8290
This was partially fixed in https://github.com/eclipse/jetty.project/commit/cdc1b079ae509e3485200728fd3d7acdce6561b2#diff-72000f31f0a66b20471a919375f90b2c4184d6d05281084fe97f20cdc2505e25R166

We're going to need https://github.com/eclipse/jetty.project/pull/8409 to properly fix this. I'll take care of this once that other PR gets merged.

[2022-08-03 21:52] lachlan-roberts commented on #8353
@pshevche the problem does not currently exist in Jetty 10 as the failure is ignored with a NOOP callback, the PR #8356 is really just a cleanup to make things a bit nicer with the implementation.

[2022-08-04 00:18] joakime commented on #6578
This is being addressed in Jetty-12

[2022-08-04 11:07] jmakovecki opened #8414 "BlockingArrayQueue drops all contents on drain"
**Jetty version(s)**
11.0.11 (latest) and older

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.15" 2022-04-19

**OS type/version**
Linux: Ubuntu 20.04

**Description**
In specific scenarios, `org.eclipse.jetty.util.BlockingArrayQueue` loses all elements on call to `drainTo`.

**How to reproduce?**
- Create a BlockingArrayQueue with `64 * N` elements, where `N > 1` (64 matche

[2022-08-04 14:38] joakime commented on #8291
This is mostly done so far.
Most of the remaining work is in the core `ResourceService`

[2022-08-04 14:38] #8291 closed, assigned to gregw, joakime, lorban

[2022-08-04 17:00] tipsy opened #8417 "Seeing "Could Not Delete File" from MultiPartFormInputStream after migrating from Jetty 9 to Jetty 11"
**Jetty version(s)**
11.0.11

**Java version/vendor** `(use: java -version)`
openjdk-18.0.1.1

**OS type/version**
Windows 10

**Description**

[code]

**How to reproduce?**
Creating a minimal broken example would be a bit of effort, but I can have a look at doing that later if it's required. The code I'm running can be found here: https://github.com/javalin/javalin/blob/master/javalin/src/main/ja

[2022-08-04 17:17] joakime commented on #8417
This is typical Windows file locking behaviors.

It's nearly impossible to quickly delete or atomically delete a file that was recently used on windows from Java.

We have no workaround, this is bug that exists between Windows and Java with no good workaround.

[2022-08-04 17:19] joakime commented on #8290
Trying to address this specifically in PR #8416

[2022-08-04 17:34] tipsy commented on #8417
Let me try it on my mac to confirm :)

[2022-08-04 17:44] tipsy commented on #8417
Can confirm that it works as before on MacOS. I find it strange that there is a change in behavior from Jetty 9 to Jetty 11 (I went back to Jetty 9 to check).

Is it possible to configure either the behavior (automatically deleting) or the logging? This being a `log.warn` will definitely scare people who see it in development, even if it won't be an issue in production.

[2022-08-04 18:21] joakime commented on #8417
IIRC Jetty 9 used `File.deleteOnExit()` in this code path.
Which would only delete the file on exit of the JVM.
That's why it never seems to fail on Jetty 9, it doesn't actually delete the file until the JVM exits.
As you probably guessed, that's a horrible API to use on a server.

[2022-08-04 20:38] tipsy commented on #8417
I see. I think the current behavior is a little problematic. I'll use Javalin as an example, but I think this also holds true for the bigger JVM frameworks which rely on Jetty: The majority of our app developers sit on Windows machines (~37% based on statistics from our documentation website). These developers are going to see and worry about these warnings during development. I don't have statist

[2022-08-04 20:49] joakime commented on #8417
How do you detect, from Java, that windows releases them?

On heavy Jetty users, with MultiPart, this leads to a OutOfMemory error.
This will reintroduce a terrible bug, and is not a valid option.

[2022-08-04 20:59] tipsy commented on #8417
How are these users dealing with files not being deleted in the current implementation then?

I am completely ignorant on this topic, but I imagine you could have some retry interval and retry limit.

[2022-08-04 22:11] joakime commented on #8417
On Windows, its a similar problem.
The file is not even attempted to be deleted on Jetty 9 until the JVM exits.
The file is not deleted in many cases (there are cases with specific FileSystem setups where they will delete) on Jetty 10+.

So, if you are Windows user you have a resource leak on Jetty 9+

Thing is, on some Windows FileSystems (or other configurations impacting the FileSystem) the fil

[2022-08-04 22:29] joakime commented on #8417
Here's an example of a past experiment on this ..

https://github.com/eclipse/jetty.project/pull/6588/files

We tried using the `java.lang.ref.Cleaner` to track when a reference to the file and it's resources are completely removed from Java.
Leaving only the Windows file locks left to deal with.
Still didn't work.
Why?  The locks remained until the JVM exited.
Hard to write something in Java that

[2022-08-04 23:56] dzikoysk commented on #8417
Hmm... In general this issue is caused by using [`FileChannel#map`](https://docs.oracle.com/javase/8/docs/api/java/nio/channels/FileChannel.html#map-java.nio.channels.FileChannel.MapMode-long-long-) (creating an instance of MappedByteBuffer/DirectByteBuffer) at some point, because using standard I/O on channel should work just fine? 🤔 Is there any chance to not call this method at all, through som

[2022-08-05 00:31] janbartel commented on #8188
Also happening on jetty-12:   https://jenkins.webtide.net/job/jetty.project/job/jetty-12.0.x/396/testReport/junit/org.eclipse.jetty.client/HttpClientTLSTest/testEncryptedOutputBufferRepoolingAfterNetworkFlushThrows_boolean__2_/

[2022-08-05 00:32] jingke opened #8418 "How the HttpClient to select the connection for multiple HttpDestinations with DuplexConnectionPool? (HTTPS)"
**Jetty version**
9.4.7.v20170914

**Java version**
# java -version
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)

**Question**

How the HttpClient to select the connection for multiple HttpDestinations with DuplexConnectionPool? (HTTPS)

From our understanding, one HttpClient could serve multiple HttpDestinati

[2022-08-05 01:47] lisay-yan commented on #8418
Hi, Jetty Expert

For @jingke 's question, suspect it maybe caused by set resolver per request, and over write maybe happened during traffic load.

Per request call below func, it may mess connect target in Jetty.
client.setSocketAddressResolver(new SocketAddressResolver() ...

My question, is it possible set preferred IP per request without rewrite resolver?
Application keep a failure IP list, an

[2022-08-05 07:18] shubhamGoswami88 opened #8421 "OSGI: getting warning messages about missing Require-Capability in jetty-util and jetty-security"
!ENTRY org.eclipse.osgi 2 0 2022-08-05 08:49:55.132
!MESSAGE One or more bundles are not resolved because the following root constraints are not resolved:
!SUBENTRY 1 org.eclipse.osgi 2 0 2022-08-05 08:49:55.132
!MESSAGE Bundle initial@reference:file:../../../../eclipse/jetty/jetty-util/9.4.48.v20220622/jetty-util-9.4.48.v20220622.jar was not resolved.
!SUBENTRY 2 org.eclipse.jetty.util 2 0 2022-0

[2022-08-05 08:27] thomasnikolay opened #8422 "Warning message "scanned from multiple locations" should be configurable"
**Jetty version(s)**
_[Jetty 9.x is now at End of Community Support](https://github.com/eclipse/jetty.project/issues/7958)_

**Enhancement Description**
The warning message like

`[INFO] [WARNING] com.gk_software.swee.ses.server.repl.tx.business.jaxb.pos_upload.ses.v1_3_0.package-info scanned from multiple locations: jar:file:///D:/DEV_HOME/WC/hgb/ses/build/sdc/sdc-it/target/tmp/webapp/WEB-INF/lib

[2022-08-05 09:15] janbartel commented on #8422
@thomasnikolay my thoughts are:

If you are seeing these duplicate class warnings, it means you have an annotation somewhere with a non-empty `@HandlesTypes`, which requires the servlet container to scan all accessible classes.  If you have duplicate classes then the annotated class may misbehave in strange ways, depending on which one was scanned first. This is just a warning message, it does not

[2022-08-05 09:33] janbartel commented on #8417
@tipsy can you enable debug in jetty-9.4? IIRC we register a listener that will clean up temporary multipart files when the Request exits the container (see https://www.eclipse.org/jetty/javadoc/jetty-9/org/eclipse/jetty/server/MultiPartCleanerListener.html), not just delete them when the jvm exits. If we do have that listener, then it is strange that 9.4 is successfully deleting the files, wherea

[2022-08-05 09:43] thomasnikolay commented on #8422
Sorry I forgot to add my use case:

We use the maven-jetty-plugin to run integration tests and we analyze the logs afterwards. Every warning should be checked from my point of view.

I agree with you that duplicate classes a really bad approach and we solve many of this problems in the past but but we can't solve each duplicate classes problem of different reason. Therefore should the user have th

[2022-08-05 11:21] lorban commented on #8414
Also affects 10.0.x and 9.4.x branches.

[2022-08-05 11:27] lorban commented on #8414
@jmakovecki thank you for the report, this is a genuine bug that must have been an annoyance to track down! Sorry for the loss of time and sanity it may have caused you.

[2022-08-05 11:32] lorban commented on #8188
@sbordet nudge, still waiting for your opinion about the fix in https://github.com/eclipse/jetty.project/pull/8189

[2022-08-05 11:48] jmakovecki commented on #8414
It was quite a ride, I'm happy to see it solved :)

[2022-08-05 12:34] dzikoysk commented on #8417
Hmm I see, maybe this behavior could be moved to some kind of configurable factory? E.g. `Part#getInputStream` expects any kind of `InputStream` implementation, not `BufferedInputStream` explicitly, so it could be up to the factory to respond with given implementation tho 🤔 Buffering is pretty much about speeding up IO, so as long as we wouldn't care that much about it in our scenario, we could ju

[2022-08-05 13:48] himanshumps opened #8424 "Java Client: Get server supported protocols"
**Jetty client version**
11.0.11
**Java version**
17
**Question**
I want to get the protocols supported by server like HTTP 1.1, HTTP/2, SPDY/3, QUIC and others by making an initial connect request. How can I achieve the same using jetty http client (high level or low level) ?

[2022-08-05 14:22] joakime commented on #8421
Jetty 9.x is now at End of Community Support.

* https://github.com/eclipse/jetty.project/issues/7958

Does this happen with Jetty 10.x?

If you cannot upgrade, know that Commercial Support for Jetty 9.x is offered via [webtide.com](https://webtide.com) (contact [sales@webtide.com](mailto:sales@webtide.com) for details)

[2022-08-05 14:23] joakime commented on #8424
You would have to make a request using each of those techniques to know if the server supports them.

There's no protocol to ask for that list in a single exchange.

[2022-08-05 14:26] joakime commented on #8422
The `jetty-maven-plugin` (that we create) supports proper maven scopes to avoid these issues.

The other `maven-jetty-plugin` projects out there, that you might be using, we cannot say how they do things nor can we support them.

[2022-08-05 20:38] tipsy commented on #8417
Sure !

9.4: https://pastebin.com/raw/pBg4P01N
11.0.11: https://pastebin.com/raw/EG66QYkd

It's quite a change in level of output between the two versions.

[2022-08-06 00:36] #6499 closed, assigned to nobody

[2022-08-06 06:56] #8285 closed, assigned to joakime, lorban

[2022-08-07 23:52] janbartel commented on #8417
@tipsy thanks for that. I see the difference between jetty-9.4 and jetty-11:  in jetty-9.4 we just call `file.delete()`, which does not throw an exception on failure, whereas in jetty-11, we check the result of `file.delete()` and throw an exception on failure to delete it.  So that explains why an exception in jetty-11 and not in jetty-9.4.

As to why those temporary files are locked on windows,

[2022-08-08 00:00] #6498 closed, assigned to nobody

[2022-08-08 04:23] janbartel commented on #8421
@shubhamGoswami88 you don't say to what container you're deploying, nor how you're deploying. I think the best thing for you to do is to look at the jetty-9.4 osgi tests, where we deploy all the jetty jars and their dependencies into an Eclipse osgi container. The tests all pass, so perhaps you can compare your setup with that of the tests.  See https://github.com/eclipse/jetty.project/blob/jetty-

[2022-08-08 06:18] lachlan-roberts opened #8426 "Jetty 12 - Review and fix Alias Checking"
Jetty 12 alias checking needs to be reviewed and fixed.

AliasCheck is an interface defined in jetty-core but is only used in the ee10 servlet ContextHandler and is not used in the core ContextHandler, which also has no way to define protected targets.

[2022-08-08 07:15] sbordet commented on #8424
ALPN would return you that list for TCP based protocols only (not for UDP based ones), but you have to replace some Jetty internals to have access to the list.

In general you should not worry about what protocols the server speaks.
If the client speaks more than one protocol, the server will choose the protocol to speak anyway.

[2022-08-08 08:28] #8414 closed, assigned to lorban

[2022-08-08 08:35] tipsy commented on #8417
Thank you very much!

![image](https://user-images.githubusercontent.com/1521451/183375249-76c4298b-0716-4db1-8407-7e0bcbab78ec.png)

---

I am able to resolve this in my project now.

Thanks a lot for the support, and feel free to close this issue (I don't trust myself to do it).

[2022-08-08 09:05] olamy commented on #8417
seems to be fixed ;)

[2022-08-08 09:05] #8417 closed, assigned to nobody

[2022-08-08 16:42] joakime commented on #8426
@lachlan-roberts the `jetty-12.0.x` branch build was red/broken as a result of your last merge (commit 19e2e7babc0b2d22253123cf237051b5b0046af9)

I went ahead and reverted a small hack you had in your last merge.
See commit e7e570f4bbab151729644dde580305f79ed6d2db

This brought the build back to green.

[2022-08-08 17:07] lorban commented on #8426
While you're a it, I think there is a bug in ee9 `ContextHandler.checkAlias`: if the resource is an alias but there are no alias checks then `false` is returned while I think `true` should be returned.

[2022-08-08 17:44] himanshumps opened #8429 "Jetty Client: HTTP/2 Connection pool"
**Jetty-Client version**
11.0.11
**Java version**
17
**Question**
Hi,

I have a HTTP/2 server which has the max streams set as 100. I want to create a connection pool of 2 HTTP/2 connections with max 100 concurrent streams. Is this code correct ?

[code]

I do not want the connections not to go more than maxConnections.

Thanks,
Himanshu

[2022-08-08 17:45] himanshumps commented on #8424
Thanks @sbordet and @joakime. That helped

[2022-08-08 17:45] #8424 closed, assigned to nobody

[2022-08-08 21:36] gregw commented on #8426
@lachlan-roberts can we add a test for that.

[2022-08-09 01:20] janbartel opened #8430 "Jetty 12 : ee10 `ServletContextHandler.ServletContextApi.declareRoles` not implemented"
**jetty-12**

For ee-10 the ServletContext.declareRoles(String... roles) method is not yet implemented, nor is ServletContextHandler.addRoles(String... roles).

[2022-08-09 01:22] janbartel opened #8431 "Jetty 12 : Implement Servlet 6 changes to allowed method calls for dynamic listeners etc."
**jetty-12**

See https://github.com/jakartaee/servlet/issues/416

[2022-08-09 02:39] lachlan-roberts commented on #8426
This is not a bug, we do not allow aliases unless there is an alias check in place to specifically allow them. We have even deprecated `ApproveAliases` (which always returns true) and warn if it is used because using it would introduce security issues if you used it without a very good reason.

[2022-08-09 06:07] himanshumps opened #8434 "Jetty Client and Use Netty EventLoop"
**Jetty-client version**
11.0.11
**Java version**
17
**Question**
Hi,

I want to use netty event loop for executor. This is what I have so far

[code]

[code]

But it just hangs after sending one request.

Also if someone can explain/(point me to) the difference and uses of between setScheduler, setExecutor and setSelectors, it would be of great help.

Thanks,
Himanshu

[2022-08-09 07:37] lorban commented on #8426
Something doesn't feel right, he's why I believe `ContextHandler.checkAlias` is buggy in its current form: if one creates a ee9 `DefaultServlet` to serve the contents of a JAR file then it's not possible to serve the directory listings of any subfolder of the jar because `jar:file:///some/file.jar!/foo/` is considered an alias of `jar:file:///some/file.jar!/foo`. Maybe @joakime has some insights t

[2022-08-09 07:53] sbordet commented on #8429
[code]

This line is not necessary, as it is on the server that you configure the max number of concurrent streams a client can open.
The line above is to configure the max number of streams a server can push to the client.

[code]

This line is unnecessary.

The rest looks correct.

[2022-08-09 07:57] sbordet commented on #8434
You don't need Netty's event loops.

Jetty's `HttpClient` already uses its own event loops, whose number you can configure by configuring the number of selectors.
Use a normal `Executor`.

[2022-08-09 08:01] himanshumps commented on #8434
@sbordet I am trying to reach near to what h2load provides as the benchmark for http/2.

For my current setup, I was able to reach 20k/sec using 2 connection using jetty http2 client whereas h2load is giving 26k/sec. If I post my code, would you be able to provide some inputs?

[2022-08-09 08:03] himanshumps commented on #8434
@sbordet Also, if you are aware and have some time, can you please explain/(point me to) the difference and uses of between setScheduler, setExecutor and setSelectors, it would be of great help.

[2022-08-09 08:28] lachlan-roberts commented on #8426
@lorban currently the way to allow aliases like this is to add the `AllowedResourceAliasChecker`.

I tried this with this test and it passes if the `AllowedResourceAliasChecker` is added to the context created in `JarServer`.

[code]

[2022-08-09 10:04] lorban commented on #8426
Adding the `AllowedResourceAliasChecker` isn't needed if the resource is backed by a `file:///` URI, but it is if the resource is backed by a `jar:file:///` URI.

This is surprising, inconsistent and a change of behavior from 11.0.x.

[2022-08-09 11:47] joakime commented on #8426
I'll have to dig into it, but I think this can be explained by `FileSystem` behaviors.

In a JAR, the entry is case sensitive.

That entry is known to be one of two things, a directory or a file, nothing else (no symlinks, alternate names, system files, relative path references, etc).

So if you have an entry "foo" in a Jar, it cannot exist as more than 1 thing.
It's going to be a File or a Direct

[2022-08-09 14:42] sbordet commented on #8434
You can find some documentation about selectors here:
https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-client-io-arch-network

About scheduler and executor there is not much to say, one it's a scheduler, and the other is an executor, same concepts as the JDK ones.

About the h2load difference, IIRC h2load prepares a large number of HTTP/2 requests as a big byte

[2022-08-09 17:54] sbordet commented on #8418
Sorry, but I don't understand what you're doing.

Can you write a reproducible test case that we can run and that shows the problem?

It's quite unlikely that connections end up in the wrong connection pool without messing quite heavily with the `HttpClient` internals.

[2022-08-09 22:07] joakime commented on #8426
I opened PR #8436 to attempt to tackle the discovery that @lachlan-roberts made about `jar:file:` and directory paths.

It appears that the Path.toURI() on a directory within ` jar:file:` FileSystem returns without a trailing slash.
So in that PR I skip the URI diff check and the symlink check (symlinks don't exist in this FileSystem) if it's a `jar:file:` based URI.
But I need more unit tests.
Ca

[2022-08-09 23:22] gregw commented on #8426
@joakime @lachlan-roberts @lorban just a note to re-enforce the principles on which aliase checking is intended to work.

By default we should NOT server aliased resources. i.e. we will only serve a resource when requested by its canonical path/name.

We support exceptions to this rule with alias checkers, but historically we have messed up with these.     The mistake we have made is that alias ch

[2022-08-09 23:54] joakime commented on #8426
Btw, there's a new `URIUtil.correctFileURI(URI)` that will correct the bad `file:/path/` to `file:///path/` URIs, even if they exist as `jar:file:/path/foo.jar` it will correct the `file:/path` portion to result in `jar:file:///path/foo.jar`.

The most common source of these awkward `file:/path` URIs seems to be from the `URLClassLoader`.
For that we have a `Stream<URI> URIUtil.streamOf(URLClassLo

[2022-08-10 05:49] lachlan-roberts commented on #8259
@andrus In PR #8315 I have added a new constructor `SymlinkAllowedResourceAliasChecker(ContextHandler contextHandler, Resource baseResource)` which will allow you to configure multiple SymlinkAllowedResourceAliasCheckers with different Resource bases.

You can see this test as an example
https://github.com/eclipse/jetty.project/blob/110896b4d1b26698f4a72912d1ef8527156d3ac7/tests/test-integration/s

[2022-08-10 05:49] #8259 closed, assigned to nobody

[2022-08-10 05:51] lachlan-roberts commented on #8296
There are fixes for this merged with PR #8315, this will be available in a 10.0.12/11.0.12 release.

[2022-08-10 05:51] #8296 closed, assigned to lachlan-roberts

[2022-08-10 06:33] #8408 closed, assigned to janbartel

[2022-08-10 06:35] janbartel commented on #8431
Fixed via PR #8432

[2022-08-10 06:35] #8431 closed, assigned to janbartel

[2022-08-10 06:40] andrus commented on #8259
Looking forward the 10.0.12/11.0.12 releases. Thanks!

[2022-08-10 08:19] lorban commented on #8426
@gregw thanks for the explanation / reminder about what aliases and alias checking are about. That summary of yours is definitely worth a place somewhere in the javadoc.

[2022-08-10 08:40] #8188 closed, assigned to sbordet, lorban

[2022-08-10 08:44] lorban opened #8438 "Flaky Test: org.eclipse.jetty.client.HttpClientTLSTest.testEncryptedOutputBufferRepoolingAfterNetworkFlushThrows"
**Jetty version(s)**
12.0.x

**Description**
Fails with `org.eclipse.jetty.client.HttpClientTLSTest expected an empty collection but <[java.nio.DirectByteBuffer[pos=0 lim=0 cap=8192]]> within 5 seconds.`

See: https://jenkins.webtide.net/job/jetty.project/job/jetty-12.0.x/396/testReport/junit/org.eclipse.jetty.client/HttpClientTLSTest/testEncryptedOutputBufferRepoolingAfterNetworkFlushThrows_boole

[2022-08-10 08:44] lorban commented on #8188
The failure in the 12 branch seems to be due to a different reason: it fails because it finds a buffer while in 10/11 it fails because it finds null in the buffer list.

I've opened https://github.com/eclipse/jetty.project/issues/8438 to track the version-12-specific failure

[2022-08-10 08:52] laeubi opened #8439 "Jetty p2 site is empty"
**Jetty version(s)**
https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-p2/10.0.10/

**Description**
I have downloaded the zip but if I look at the artifacts.xml is empty:
[code]

**How should it looks like**
If I look at
https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-p2/10.0.9/

[code]

[2022-08-10 14:59] Michal-Cho opened #8440 "Minimum number of connections"
**Jetty version**
9.4.44.v20210927

**Java version**
java version "11.0.3" 2019-04-16 LTS
**Question**
We are using jetty client in our project.
From our customers we have a requirement to keep at least 2 connections up per destination all the time (to not waste time for connection a new connection establishing during load peak).
Is there a way to achieve this with jetty? Something like configurab

[2022-08-10 16:49] joakime opened #8441 "Add new `URIUtil.navigateAboveSelf(String)`"
**Jetty version(s)**
Jetty 12

**Enhancement Description**

Currently we use something like this to detect if we navigate above self with a String

[code]

Lets create a optimized version that doesn't allocate strings.

[2022-08-10 16:56] joakime opened #8442 "Jetty 12 : `Handler.Collection` does not propagate `Server` to handlers in expected way"
**Jetty version(s)**
Jetty 12

**Description**

In Jetty 12, if you use the jetty-core `org.eclipse.jetty.server.Handler$Collection` the `.setHandlers(List)` does not propagate the `Server` correctly.

Example code.

[code]

The `DefaultHandler.setServer(Server)` never gets called with a valid Server instance.

This is because the internal `Handler.Collection` processing does it's `handler.setServ

[2022-08-10 17:19] lorban opened #8443 "Jetty 12: review `resolve()` and `getPath()` contracts in `ResourceCollection` and `MemoryResource`"
**Jetty version(s)**
12

**Description**
Review how `resolve()` and `getPath()` are supposed to behave when directory and non-directory resources are part of a `ResourceCollection`, and for `MemoryResource` in general. Or if we want those `Resource` implementations at all.

[2022-08-10 17:20] joakime opened #8444 "Jetty 12 : Review usages of `WebAppContext.getWebInf()`"
**Jetty version(s)**
Jetty 12

**Description**
There are a few places that use `WebAppContext.getWebInf()` that seem to assume that there is only possible to have 0 or 1 `WEB-INF` Resource.
Review usages (and add test cases where missing) to ensure that we can handle multiple `WEB-INF` resources (via a `ResourceCollection`) correctly.

The javadoc will be updated from an unrelated PR to read ...

[2022-08-10 19:01] joakime commented on #7713
I found a corner case with this issue.

`request.getPathInContext()` and it's use in `ResourceService` and `Resource.resolve(String)`.

Lets say we have a context path of `/context`, and we receive a GET request on ...

[code]

The current implementation will return ...

[code]

But our `ResourceService` and `Resource.resolve(String)` expects encoded Strings (aka, what was given to us in the reque

[2022-08-10 19:36] joakime commented on #7713
Ah ha!  I found the 2 bugs in URIUtil that was causing this oddity.

Stay tuned for PR.

[2022-08-10 20:14] sbordet commented on #8440
Keeping a minimum number of connections open is a feature that is currently not present.
It won't be implemented in Jetty 9.4.x as it is in End of Community Support, see #7958.
It may be implemented on later versions.

However, the use case you describe would not have any problem, as during peak load no time is wasted creating new connections: the 2 that you have will be busy and will never timeou

[2022-08-10 20:37] joakime commented on #8439
Looks like `jetty-p2` from Jetty version 10.0.10 was generate using ...

[code]

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-p2/pom.xml

Is that version stable?

[2022-08-10 20:54] joakime commented on #8439
Is Jetty 10.0.11 the same?

[2022-08-10 20:55] gregw commented on #7713
The pathInContext is encoded... but only canonically encoded, i.e. it
encodes only characters like %2F.

I expect the problem is that URI is even more picky about what characters
and perhaps we should either leave them encoded or encode again before
calling URI. %20 is one of these characters that is badly handled by URI.

Let's chat before you do anything too radical in a PR.

On Thu, 11 Aug 2022

[2022-08-10 20:58] joakime commented on #8440
Seems like you would need cooperation of all of the network equipment (source machine, destination machine, intermediaries) to not close the connection as well (for a variety of idle timeout related features).

That seems like ["a big ask"](https://grammarist.com/idiom/a-big-ask/) of the network to me.

[2022-08-10 20:59] joakime commented on #7713
Yes, lets chat.
I fixed those 2 bugs already.
And the `%u###` to utf-8 conversion.

[2022-08-10 23:05] gregw commented on #8442
fixed by a0d6f42

[2022-08-11 00:00] #2072 closed

[2022-08-11 01:57] xinguangduan opened #8445 "I'd like to open the jetty server log data reception window, how to do?"
**Jetty version**
9.4.48.v20220622
and
11.0.10
**Java version**
1.8
11
**Question**
Our scenario is to transmit binary data to the cloud by the client, occasionally find client, data transmission through the client log found distal window is full and no update, so the data transmission will not come, but from the jetty service, everything is normal, **I'd like to open the jetty server log data rec

[2022-08-11 02:31] gregw commented on #8445
"distal window"?   Can you clarify what you mean? Is this the TCP/IP flow control window or a HTTP/2 window?  If the latter, is it the connection or stream window?

I'm also unclear if you are having this problem with the jetty client or server or both?

[2022-08-11 03:56] gregw opened #8446 "XML schemas not found"
**Jetty version(s)**
12

**Description**
#8406 broke XML validation. Running the demos I get:
[code]

[2022-08-11 04:04] gregw opened #8447 "Not cleaning cached beans: no such field javax.el.BeanELResolver.properties"
**Jetty version(s)**
12

**Description**
[code]
**How to reproduce?**

Run ee10 demos, ctl-C server

[2022-08-11 04:06] gregw opened #8448 "incomplete Blocking.Callback and write errors"
**Jetty version(s)**
12

**Description**
[code]
**How to reproduce?**

Run the ee10 ws chat demo

[2022-08-11 04:57] laeubi commented on #8439
@joakime I think this can happen when not all reactor projects are build (e.g. you only build the p2 project alone) could it be something like this?

If I look at https://oss.sonatype.org/content/repositories/jetty-snapshots/org/eclipse/jetty/jetty-p2/10.0.12-SNAPSHOT/jetty-p2-10.0.12-20220811.022501-22-p2site.zip it has `<artifacts size="87">` what sounds reasonable, so maybe something in the way

[2022-08-11 05:27] gregw commented on #8448
Fix for the incomplete blocking is in a494afa.  Still getting writeError?

[2022-08-11 06:14] #8448 closed, assigned to nobody

[2022-08-11 06:38] gregw opened #8450 "Review usage of ResourceFactory for favicon and stylesheet"
**Jetty version(s)**
12

**Description**

Recent CI builds of [12 have failed](https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-12.0.x/423/tests) because mounts have been left for the server.jar for favicon.ico.   This should have been closed when the server was stopped, so that is the first issue.   But moreover, the mechanism is too expensive to use for favicon.i

[2022-08-11 06:51] janbartel commented on #8446
These warnings are coming from jasper. When it initializes, it tries to load various schemas, so it can parse jsps, tlds etc. It does _not_ use our xml schema setup in XmlParser/Catalog etc etc. It finds these .xsds and .dtds by asking the classloader  that loaded the `jakarta.servlet.ServletContext` class to get those resources.

The issue is that the 6.0.0 version of the `jakarta.servlet-api.jar

[2022-08-11 07:22] xinguangduan commented on #8445
hi @gregw ,  Sorry, I did not describe clearly, I think it should be a HTTP/2 stream window. Our client is written in C language, based on Nghttp2 library implementation of Http2 client, from Nghttp2 log show the “stream_remote_window_size" is not updated. the log of NgHttp2 for example as below:

`stream_id:27,session_remote_windows_size:2147406735,stream_remote_window_size:65536,remote_max_frame

[2022-08-11 07:54] janbartel commented on #8447
I think we can delete the ELCleaner from ee10: the BeanELResolver no longer has a static map of properties, so there shouldn't be a leak. Might not even be needed in ee9, but as ee8 derives from ee9 - where it will be needed - we can keep it in ee9.

[2022-08-11 08:15] olamy commented on #8447
Agree as the `org.eclipse.jetty.ee10.jstl.JstlTest`

generates this error
[code]

[2022-08-11 11:53] Michal-Cho commented on #8440
hi @sbordet
thank you for a quick answer.

Our use case is related to the spec 5G 29.500 section [5.2.6].
Some bullets from it :

- An HTTP/2 endpoint shall support establishing multiple HTTP/2 connections (at least two) - Already working BUT only if the first connections is fully exhausted (see the next bullet)
- When the HTTP/2 Stream IDs on a given HTTP/2connection is exhausted, an HTTP/2 endpo

[2022-08-11 12:41] lorban commented on #8442
@gregw sorry, I've had to revert these changes in https://github.com/eclipse/jetty.project/pull/8452 because they broke the build.

[2022-08-11 12:45] sbordet commented on #8440
There is a much simpler solution.
We support `AbstractConnectionPool.setMaxUsageCount(int)`. It counts how many times a connection is borrowed from the pool, and it's only borrowed to send a request.

So you can set it to your 90% of valid stream ids (or less as that number is quite big), and when the usage reaches the max the connection will be closed.
Note that this will require some atomicity (

[2022-08-11 13:00] Michal-Cho commented on #8440
Thank you for a very fast replay.
But I'm not sure if this solves the problem of simultaneous exhaustion.
"when the usage reaches the max the connection will be closed" -> that means that if we need to send another request there is a waiting time for re-establishing the connection. I know that it should not take a lot of time but still.
I guess I have to better understand what "The 3GPP NF shall t

[2022-08-11 13:22] joakime commented on #8446
Can we submit our Catalogs or EntityResolver to their handling?

[2022-08-11 13:53] Michal-Cho commented on #8440
one more comment - I've found something called

`preCreateConnections​(int connectionCount) ` Optionally pre-create up to connectionCount connections so they are immediately ready for use.

Do you think this is something that I could use?
I've found some discussion here
https://github.com/eclipse/jetty.project/issues/6512
I will try to investigate that

[2022-08-11 21:25] gregw commented on #8442
@lorban no probs.... any hint to how the build was broken?

[2022-08-11 22:25] janbartel commented on #8447
Removed ELContextCleaner from ee10 via commit https://github.com/eclipse/jetty.project/commit/52f1c91cca028d671c9441c106b5ffae65593c84

[2022-08-11 22:25] #8447 closed, assigned to janbartel

[2022-08-12 00:30] janbartel commented on #8430
Fixed.

[2022-08-12 00:30] #8430 closed, assigned to janbartel

[2022-08-12 00:31] janbartel commented on #8446
@joakime no, they look for these schemas/dtds in a `static` code block.

[2022-08-12 10:21] sbordet opened #8455 "Jetty 12: review connection pool leak tracking"
**Jetty version(s)**
12.0.x

**Description**
`LeakTrackingConnectionPool` is not correctly thread safe and may lead to false positive in leak tracking.

[2022-08-12 11:59] lorban commented on #8443
My personal opinion is that neither `resolve()` nor `getPath()` should ever return null, but I'm open to different opinions.

[2022-08-12 12:05] himanshumps commented on #8434
@sbordet I was able to get it to 22k/rps with some optimisation. I am sure if you look at it you can provide some valuable insights on further improvement. I will post the code on this thread in some time.

[2022-08-12 12:10] lorban opened #8456 "Fix ee10 and ResourceHandler to make them serve jetty-dir.css resource"
**Jetty version(s)**
12

**Description**

Here's the current state about which of the static content serving mechanisms (ee9 `DefaultServlet`, ee10 `DefaultServlet` and `ResourceHandler`) can serve jetty-dir.css:

|                            |  jetty-dir.css |
| ---------------------- |  --------------- |
| ee9                      | Y                 |
| ee10                    | N

[2022-08-12 20:45] sbordet commented on #8440
There is no simultaneous exhaustion. Jetty's connection pool work by default by using the first available connection.

When the first is exhausted you may have the second already available, or amortize the creation of the connection over, possibly, 1 billion requests.

You may call `preCreateConnections(int)` when you reach a certain usage level (that you have to maintain in the application), but