[2021-02-16 13:12] joakime commented on #5975
Also, upgrade your version of Jetty, you are subject to several security advisories with that version.

https://www.eclipse.org/jetty/security_reports.php

[2021-02-16 14:41] dufourgilles commented on #5975
Ankit is talking about idle timeout.
His code below does set the idle timeout to an application value ... but whatever is set, the connection is closed after 30 seconds being idle.

                             httpClient = new HttpClient(http2Transport, sslContextFactory);
                             httpClient.setConnectTimeout(config.getSvcThreadConfig().getHttp2ConnectTimeoutMs());

[2021-02-16 15:49] sbordet commented on #5975
@dufourgilles closed by whom? Could it be that it is being closed by the other peer?

It is common that Apache, Nginx, load balancers have an idle timeout of 30 seconds; do you have any of this components in your system?

[2021-02-16 20:05] tarator commented on #5057
Should this already be fixrd in Jetty 10.0.0? I'm using the Jetty 10 Java package together with Spring. Calling `request.getContextPath()` still returns a "/" instead of an empty string as expected. is there a setting I could use?

[2021-02-17 00:33] olamy opened #5977 "Cache-Control header set by a filter is override by the value from DefaultServlet configuration"
In case some filter set the value of `Cache-Control` header then the DefaultServlet via ResourceService will override it if configured.

[2021-02-17 08:18] jaroslawr commented on #5605
@lorban Thanks, we are testing this version, it works stable so far, but this last issue is sporadic enough it will take a few days before it can be crossed off for good.

[2021-02-17 09:52] dufourgilles commented on #5975
Hi Simone,

I do appreciate the quick feedback here.
After further discussion with Ankit and reviewing his data, the problem is that this is the server that is closing the session as you rightly said.

Thanks and sorry for miscommunication.

Gilles.

[2021-02-17 10:00] gregw opened #5979 "Configurable gzip Etag extension"
**Jetty version**
9.4.x

**Description**

Allow the gzip extension to etag to be configurable.

[2021-02-17 11:57] sbordet commented on #5975
No problem, thanks for the feedback. Closing the issue.

[2021-02-17 11:57] #5975 closed, assigned to nobody

[2021-02-17 13:46] #5605 closed, assigned to sbordet, lorban

[2021-02-17 16:24] janbartel opened #5982 "Update to JSP 10.0.2"
Tracking Eclipse CQ 23056 for update to Apache Jasper 10.0.2

[2021-02-17 18:15] #5973 closed, assigned to sbordet

[2021-02-17 19:04] sbordet opened #5983 "Review CompressedContentFormat.tagEquals()"
**Jetty version**
9.4.x

**Description**
The logic in `CompressedContentFormat.tagEquals()` is quite obscure and possibly wrong.

If `etag=foo` and `tag=foo--gzip` then `tagEquals(etag, tag)` returns `false`.
However, for `etag="foo"` and `tag="foo--gzip"` `tagEquals(etag, tag)` returns `true` because the final `"` is implicitly considered in the `tagEquals()` logic.

Need to review whether tags m

[2021-02-17 21:30] olamy commented on #5977
fixed by https://github.com/eclipse/jetty.project/commit/addfbe81c14ac59a5a071d667362f7760aa4a277

[2021-02-17 21:30] #5977 closed, assigned to olamy

[2021-02-17 23:50] mattnelson opened #5984 "Can multiple context paths behave the same as a single context path?"
**Jetty version**
9.4.36.v20210114 via dropwizard-1.3.29

**Java version**
8/11

**Question**

I have a scenario where I want to have a resource available on multiple context paths as well the root.
For example, I want `/alias1/link`, `/alias2/link`, and `/link` to all be served by the same jaxrs resource. I've tried a few different approaches from the below examples, but I haven't quite been able

[2021-02-18 04:04] leonchen83 opened #5985 "A new method to optimize finding bytes performance"
**Jetty version**
9.x, 10.x
**Java version**
jdk 11
**Question**

[https://richardstartin.github.io/posts/finding-bytes](https://richardstartin.github.io/posts/finding-bytes)
could jetty use above method to optimize header paser?

[2021-02-18 08:26] gregw commented on #5979
Need to disable the tag change if the separator is null or empty.

[2021-02-18 09:33] sbordet commented on #5984
@mattnelson have you tried using the `RewriteHandler` to rewrite `/aliasN/link` to just `/link`?

[2021-02-18 13:17] gregw commented on #5963
fixed with 10e531756b972162eed402c44d0244f7f6b85131

[2021-02-18 13:17] #5963 closed, assigned to joakime

[2021-02-18 14:07] vmassol opened #5987 ""No multipart config for servlet" when upgrading from Jetty 9.4.x to Jetty 10.0.0"
Hi guys,

On XWiki our CI runs our functional tests on various servlet containers. We recently upgraded from 9.4.x (`9-jre11` tag fro the jetty official docker image on dockerhub) to 10.0.0 (`10.0.0-jre11`)  and are now getting the following error (https://ci.xwiki.org/job/XWiki/job/xwiki-platform/job/master/4309/testReport/junit/org.xwiki.administration.test.ui/AllITs$NestedXARImportIT/MariaDB_10

[2021-02-18 14:19] joakime commented on #5987
The only change related to multipart is that the old / legacy (buggy!) multipart parser (the class that reads the InputStream) was removed in favor of the spec compliant parser (which has been present in Jetty since 9.2.x).

But that's a change that occurs at a later step in the process than you are hitting.
The error you are getting is because the Servlet you in, that initiated the `HttpServletRe

[2021-02-18 14:25] joakime commented on #5987
Looking at your LegacyActionServlet ...

https://github.com/xwiki/xwiki-platform/blob/master/xwiki-platform-core/xwiki-platform-web/src/main/webapp/WEB-INF/web.xml#L236-L260

Your web.xml has no `<multipart-config>` configuration element for it.

Ok, lets look at your servlet itself for annotations ...

https://github.com/xwiki/xwiki-platform/blame/master/xwiki-platform-core/xwiki-platform-oldcore

[2021-02-18 14:30] vmassol commented on #5987
@joakime wow fast answer :) Thanks.

You were even faster than me to find the xwiki code ;)

Ok so maybe it's more strict now (in 10.0.0) than before (9.4.x)?

[2021-02-18 14:30] joakime commented on #5987
Seems valid.
But this could easily trigger if your server didn't have annotation processing turned on/enabled.

[2021-02-18 14:31] vmassol commented on #5987
haha maybe that's the difference between the `9-jre11` tag and the `10.0.0-jre11` one on dockerhub.

EDIT: I see that the dockerfile just takes the `jetty-home-$JETTY_VERSION.tar.gz` file and unzips it (https://github.com/eclipse/jetty.docker/blob/master/10.0-jdk11/Dockerfile#L9). So I need to check if something has changed inside that tar gz.

[2021-02-18 15:18] vmassol commented on #5987
@joakime: I see the following changes between 9.4.36 and 10.0.0:

<img width="1124" alt="Screenshot 2021-02-18 at 16 16 48" src="https://user-images.githubusercontent.com/628267/108378083-fc1b1100-7204-11eb-80a4-8431d4e63ab7.png">

So `jetty-annotations.xml` (see below for its content fro 9.4.36) was removed. Could that be it?

[code]

[2021-02-18 15:51] knabbers commented on #275
Looking at the code for ResourceService, it still looks like ranged requests are not handled asynchronously.

https://github.com/eclipse/jetty.project/blame/jetty-11.0.x/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java

(see writeContent and usages)

[2021-02-18 16:24] #5979 closed, assigned to gregw

[2021-02-18 17:25] joakime opened #5988 "Allow custom start.jar environmental property discovery"
**Jetty version**
9.4.x+

**Description**
As recently discussed during reviews of PR #5494, the idea of environment properties that start.jar uses to resolve modules and configurations should be extensible by users.

So having a way to execute custom code to establish environmental properties should be investigated.

Perhaps a solution that can execute arbitrary java code to establish a `Map<Strin

[2021-02-18 17:27] joakime commented on #5987
Looking at the configuration of the JETTY_BASE

Yeah, the annotations module is not in 10.

https://github.com/eclipse/jetty.docker/blob/master/10.0-jdk11/Dockerfile#L63-L66

[2021-02-18 17:30] vmassol commented on #5987
But it's not either in 9 (yet it works):
https://github.com/eclipse/jetty.docker/blob/master/9.4-jre11/Dockerfile#L65-L66

10.0: `--add-to-start="server,http,deploy,jsp,jstl,ext,resources,websocket"`
9.4 `--add-to-start="server,http,deploy,jsp,jstl,ext,resources,websocket"`

It's basically the same.

[2021-02-18 17:39] vmassol commented on #5987
@joakime I see in `jsp.mod` for 10.0:

[code]

Doesn't this mean that since `jsp` is in `-add-to-start`, that, transitively, `annotations.mod` will be included?

Thx

[2021-02-18 18:27] joakime commented on #5987
If you can run `--list-config` then that will be the ultimate truth on what is enabled or not.

[2021-02-18 18:39] vmassol commented on #5987
Seems good to me, no?

[code]

[2021-02-18 19:17] vmassol commented on #5987
Seems the `annotation` module is enabled.

@joakime is the fact that jetty-annotations.xml is no longer there (when compared to 9.4.x) a problem?

[code]

[2021-02-18 20:15] joakime commented on #5987
Yeah, those look like normal configurations with annotations present.
I think the annotation parsing angle is a red herring at this point, i'm going to ignore that path.

Now back to the default `@MultipartConfig` behavior.
That looks fishy to my eyes, but could be valid.
I'll be able to check that myself later (I'm a bit busy with other tasks ATM)

[2021-02-19 09:58] michael-gehmayr-dynatrace opened #5989 "IllegalStateException is QosFilter: AsyncContext completed and/or Request lifecycle recycled"
Jetty version
9.4.30.v20200611 (embedded)

Java version
OpenJDK 64-Bit Server VM, Version: 11.0.8, Vendor: AdoptOpenJDK

OS type/version
Linux

Description

We observed this IllegalStateException once in one of our automated load tests:

[code]

This request is not async. We use Jersey to handle the request in a synchronous way. The application code also does not recycle or modify the request in a

[2021-02-19 10:20] janbartel commented on #5987
The error `java.lang.IllegalStateException: No multipart config for servlet ` only happens if the app has called Request.getParts() but there is either no `@MultipartConfig` annotation on the servlet nor the equivalent `<multipart-config>` element in web.xml.   The annotation is detected by registering a jetty Decorator, which will introspect the Servlet to find the MultipartConfig annotation when

[2021-02-19 10:53] vmassol commented on #5987
@janbartel thanks a lot for your analysis and help, much appreciated!

Here's the latest webapp WAR: http://maven.xwiki.org/snapshots/org/xwiki/platform/xwiki-platform-distribution-war/13.2-SNAPSHOT/xwiki-platform-distribution-war-13.2-20210218.190056-6.war

It's on it directly: https://github.com/xwiki/xwiki-platform/blob/5b46d05e2be24f5c20b1b9ee3d3f8747c44806f6/xwiki-platform-core/xwiki-platform

[2021-02-19 11:34] janbartel commented on #5987
@vmassol  thanks for the links. Unfortunately it looks like I can't just deploy that webapp in a jetty distribution - I get a lot of failures on startup  like the following:

Is there anything else I can tweak or deploy that will make deploying the war work?

[2021-02-19 12:18] vmassol commented on #5987
What's working is using the jetty docker image. See https://www.xwiki.org/xwiki/bin/view/Documentation/AdminGuide/Installation/InstallationWAR/InstallationJetty/

Specifically I just tested the WAR I pointed you to by doing:
* copy it to `/tmp` and `jar xvf`-it into a `xwiki` directory
* edit `WEB-INF/jetty-web.xml` to remove the last lines about  prependSystemClass and prependServerClass so that

[2021-02-19 12:28] janbartel commented on #5987
@vmassol  found it!

The problem is caused by a change to comply with the servlet specification and tck tests as regards annotations:  according to the spec, if `"metadata-complete==true"` in web.xml, a servlet container is not permitted to look for any annotations, including `@MultipartConfig`.  When metadata is complete, web.xml must completely define the webapp. In earlier versions of jetty, if

[2021-02-19 12:31] vmassol commented on #5987
Another way of testing (which is what I'm doing) is to run one of the failing functional tests of xwiki:
* Have docker installed
* `git clone https://github.com/xwiki/xwiki-platform.git`
* modify `.m2/settings.xml" with what's on https://dev.xwiki.org/xwiki/bin/view/Community/Building/#HInstallingMaven
* `cd xwiki-platform/xwiki-platform-core/xwiki-platform-administration/xwiki-platform-administra

[2021-02-19 12:32] vmassol commented on #5987
@janbartel thanks so much! I'll try this now.

[2021-02-19 12:41] vmassol commented on #5987
BTW this means that Tomcat 9 is also not spec compliant since our tests pass on it even though we have `"metadata-complete==true"` ;)

[2021-02-19 12:43] vmassol commented on #5987
or maybe it is a change of spec in servlet 4.0?

[2021-02-19 12:44] vmassol commented on #5987
Answering to myself: yes it seems to be related to servlet 4.0 according to https://github.com/eclipse/jetty.project/pull/4587 (should have read this before replying...).

[2021-02-19 12:50] jackfr0st13 opened #5990 "Jetty not reading keystorepass and keymanagerpass from ssl.mod file"
**Jetty version**
9.4.22
**Java version**
8
**OS type/version**
SUSE 15
**Description**
I am trying to enable HTTPS on my jetty server but the values for the keystore password, key manager password are not being picked up from ssl.mod. Below you can find the files I have edited :

**ssl.mod**

[code]

**start.ini**

[code]

**jetty-ssl-context.xml**

[code]

Now the issue is somehow solved if I ad

[2021-02-19 12:56] vmassol commented on #5987
I've now validated it as working. Thanks a lot to @joakime and @janbartel for your very fast answers and willingness to help out! You're great :)

[2021-02-19 12:56] #5987 closed, assigned to janbartel

[2021-02-19 14:26] joakime commented on #5990
Run the `--list-config` for your `${jetty.base}` and lets see the output.

[code]

Also, please keep your version of Jetty up to date.
 * Releases - https://github.com/eclipse/jetty.project/releases
 * Security Reports - https://www.eclipse.org/jetty/security_reports.php

[2021-02-19 14:51] jackfr0st13 commented on #5990
Hi Joakim,

Here's the output below :

[code]

[2021-02-19 15:20] joakime commented on #5990
[code]

Your properties do not list the passwords you want to use (nor the specific keystore you want to use)

First, don't edit the `ssl.mod`, it even tells you this at the top of the file.

[code]

You are also using the same directory for your `${jetty.home}` and `${jetty.base}` directory.

[code]

This is not recommended, and there is a warning specifically produced telling you this ...

[code

[2021-02-19 19:19] joakime opened #5992 "Jetty 11 build still depends on apache-jstl"
**Jetty version**
11.0.1-SNAPSHOT

**Description**

[code]

[2021-02-19 19:45] janbartel commented on #5992
Seems there are these references still to apache-jstl:

[2021-02-19 19:46] joakime commented on #5992
should they be glassfish-jstl now?

[2021-02-19 19:54] janbartel commented on #5992
@joakime I'm fixing it now, PR on the way. If the PR builds in CI with no errors, then just merge it in.

[2021-02-20 18:16] jolarsen commented on #5798
I had the same issue, but adding a new WebAppConfiguration() to the array sent to WebAppContext.setConfigurations() solved the problem

[2021-02-21 22:41] #5828 closed, assigned to lachlan-roberts

[2021-02-22 12:04] gregw commented on #275
Currently we do write range parts using the blocking IO API.

I have reopened this as a feature request rather than as a bug.  @knabbers can you give a bit more detail about your use-case to motivate if we need to write an async multipart generator?

[2021-02-22 12:09] gregw commented on #275
Note that we also don't use async if the response is wrapped.  I think we could still fall back to the async IO APIs in that situation, even if that is not as good as directly writing a memory mapped content buffer

[2021-02-22 12:32] knabbers commented on #275
We considered using ranged requests to allow clients to pause/resume large downloads (but perhaps Jetty isn’t the best choice for that?). Another way could be setting a big timeout and expecting the client to go slow - would that be more canonical?

[2021-02-22 12:35] knabbers commented on #275
Note that the clients in our case are never saving to disk - they are processing the download as a stream (which in general might be slower then the network).

[2021-02-22 16:01] gregw commented on #275
@knabbers OK that is a good use case. Range requests are often used to access large content and often in large chunks that can block.   So it would be good to be able to serve that asynchronously.

I don't see why Jetty shouldn't be a good choice for pause/resume large downloads, so we will look at this feature.... but no promises exactly when it might be implemented.

[2021-02-22 16:16] janbartel commented on #5992
Fixed via #5993

[2021-02-22 16:16] #5992 closed, assigned to janbartel

[2021-02-22 16:19] janbartel commented on #5982
Eclipse permission granted for Apache Jasper 10.0.2.

[2021-02-22 16:19] #5982 closed, assigned to janbartel

[2021-02-22 17:39] sbordet opened #5994 "QueuedThreadPool "free" threads"
**Jetty version**
9.4.x

**Description**
On large machines, the heuristics we have for number of acceptors, selectors, and reserved threads may "steal" a lot of threads from the thread pool, so that a metric such as `(threads - idleThreads)/maxThreads` may show large percentages even for a completely idle server.

For example, for a 112 cores machine we have
* 4 acceptors
* 56 selectors
* 112 rese

[2021-02-22 17:46] sbordet commented on #5994
OTOH, it's good to know how many threads are actually used, internally, by Jetty.

[2021-02-22 17:53] gregw commented on #5994
I think the `(threads - idleThreads)` is not the right number.  It should be  `(threads - idleThreads + reservedThreads)`.  While a reserved thread is not available directly to handle a request etc. they are available to replace a selector thread so that the selector thread can handle a request it has just accepted.

Other metrics to consider making available:
[code]

[2021-02-22 18:36] sbordet commented on #5994
After initial discussion, we may expose the thread budget component, so that we will know how many threads are used internally by Jetty, but also we could use it to know how many are "stolen" and should not be accounted for.

[2021-02-22 21:16] arshadwkhan commented on #5685
@gregw @joakime any update on this issue. I have provided all the stack trace and logs. Let me know if you need anything else ?

[2021-02-22 21:35] joakime commented on #5685
Sorry, we've not looked at this as we have other priorities.

[2021-02-23 00:02] chiralsoftware opened #5996 "ERROR : No module found to provide logback-impl for logback-access{enabled}"
A fresh installation of Jetty 10.0.1:

[code]
Any ideas on this? If logback-access is no longer supported it shouldn't be there, but if it is there, it seems like it needs a logback-impl module. It's possible I'm skipping a step somewhere but it seems like something is missing.

[2021-02-23 08:05] qtxo opened #5997 "Diagnose Linux oom killer with 30K websocket sessions"
Linux oom killer with 30K websocket sessions

**Jetty version**
9.4.34.v20201102

**Java version**
11.0.7+10

**Question**

CentOS 7 with 7.5GB of RAM running app in JVM started with -Xmx3g sometimes is killed by oom killer when a high number of WS sessions are connected, no other HTTP requests are handled and there are no other significant processes running.

The WS app code uses Jsr annotations

[2021-02-23 08:42] sbordet commented on #5997
The Jetty WebSocket implementation does use direct buffers to read/write from the network; however, it is configurable whether to use direct or heap buffers.

I did a simple test and measured that 30k WebSocket connections occupy around 400 MiB.
Jetty uses a `ByteBufferPool` which should constrain the memory used for buffers -- my simple test shows that only few KiB are retained by the `ByteBuffer

[2021-02-23 08:50] gregw commented on #5994
@sbordet
We need to work on vocab, because "stolen" doesn't really capture the meaning hear.    I can see the following levels of usage for threads in a QTP, each needs a short name: something like:
 + inactive: not started but there is capacity to start another thread
 + idle: started and waiting in the pool for a task
 + reserved: taken from the pool but reserved to do a task
 + budgeted: taken

[2021-02-23 11:31] janbartel commented on #5996
@joakime any idea? Seems like logback-impl.mod was removed.

[2021-02-23 11:45] jaroslawr commented on #5605
@lorban Everything has been working great since the last fix, thank you!

[2021-02-23 11:59] joakime commented on #5996
I'm surprised that we have a module for `logback-access` at all.

`logback-access` was created to provide a customizable output for RequestLog that is managed by slf4j.
This is an old-school concept that has been superseded by the built-in `CustomRequestLog` and `Slf4jRequestLogWriter` facilities in Jetty itself.

I'm not sure the old `logback-access` will even work on Jetty 10+.
It needs to be te

[2021-02-23 15:48] gregw opened #5999 "HttpURI ArrayIndexOutOfBounds"
**Jetty version**
9.4.37

**Description**

An `HttpURI` when given a uri String that has a non encoded unicode character at the start of a segment will incorrectly throw `ArrayIndexOutOfBounds`.
So the uri `/foo/🌲🌲🌲🌲🌲/bar` will fail, but `/foo/x🌲🌲🌲🌲🌲/bar` will not.

[2021-02-23 16:26] gregw opened #6001 "Ambiguous URI legacy compliance mode"
**Jetty version**
9.4.37

**Description**
Prior to 9.4.37, URIs with segments of `%2e%2e` we treated as 400 bad requests.  However URIs with `%2f` characters were not.
In 9.4.37 both `%2e%2e` and `%2f` are treated as ambiguous and thus as 400 bad requests, unless a compliance mode is set which allows them both.

Thus there is now no compliance mode that preserves the previous behaviour of allowing

[2021-02-23 16:31] joakime commented on #6001
What if someone wants to allow `%2e%2e` but not allow `%2f` ?

how about an individual configuration for each?
* ambiguous-2f / ambiguous-path-delim
* ambiguous-2e2e / ambiguous-path-parent
* ambiguous-2e / ambiguous-path-self

That way people can tweak them accordingly, without the need for complex modes?

[2021-02-23 17:25] joakime commented on #5996
Opened PR #6002
It allows `logback-access` to be used now, but this exposed a curious transitive dependency quirk in start.jar that needs to be addressed in a different PR.

You can enable it with `--add-module=logback-access`, but only after you have `--add-module=logging-logback` enabled first.

[2021-02-23 17:30] joakime commented on #5996
Also of note, `logback-access` does not work with Jetty 10.

[code]

[2021-02-23 17:31] joakime commented on #5996
I'm keen to just remove `logback-access.mod` entirely until such time when logback fixes that jar.

[2021-02-23 17:33] joakime commented on #5996
PR #6002 now just removes `logback-access.mod` entirely

[2021-02-23 17:59] chiralsoftware commented on #5996
So what's the recommended way to configure request logging in Jetty 10? Request logging is a critical feature for any production web server. If logback-access is no longer the way, maybe the documentation needs to be updated? It's very confusing to figure out what's the preferred way of access logging in Jetty 10.

[2021-02-23 19:07] #5999 closed, assigned to nobody

[2021-02-23 19:48] gregw commented on #4275
Need to separately configure compliance for %2e and %2f

[2021-02-23 20:59] joakime commented on #5996
The `--add-module=requestlog` is the first step.
That will create a `${jetty.base}/start.d/requestlog.ini`
Then just run Jetty, that's the default request log behavior (see `${jetty.base}/logs/access.log`).

If you want to customize the output, then you'll need set the format on the `CustomRequestLog`.
Edit the above ini, and customize the `jetty.requestlog.formatString` property.
See javadoc abou

[2021-02-24 02:05] chiralsoftware commented on #5996
Thanks Joakime, but that one isn't working. The constructor of Slf4jRequestLogWriter doesn't take any arguments. I ran it without an argument and it runs but doesn't write logs anywhere.

I changed it to:

      <Arg>
        <New class="org.eclipse.jetty.server.RequestLogWriter">
          <Arg>/tmp/accesslog</Arg>
        </New>
      </Arg>

and now a log file show up in /tmp/accesslog as expec

[2021-02-24 03:41] lachlan-roberts commented on #5996
@chiralsoftware you should not need to override the default [jetty-requestlog.xml](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-server/src/main/config/etc/jetty-requestlog.xml) file unless you want some alternate configuration like using the `Slf4jRequestLogWriter`.

By enabling the `requestlog` module, it will set up a `CustomRequestLog` with an `AsyncRequestLogWriter`.  The l

[2021-02-24 04:13] chiralsoftware commented on #5996
Thanks Lachlan. I had that going before, but for a production system you almost always would want the logs to be in /var or some other directory. I guess I could symlink it. But it would be nice if it were a little more "works out of the box".

[2021-02-24 04:51] lachlan-roberts commented on #5996
@chiralsoftware if you want to use an absolute path for the logs like `/var` you will need to copy over the `$JETTY_HOME/etc/jetty-requestlog.xml` file and manually put the path in. Or you could only remove the `<Property name="jetty.base" default="." />/` part which would make the existing `jetty.requestlog.dir` property work as the absolute path instead.

Maybe we could do something similar to w

[2021-02-24 06:59] chiralsoftware commented on #5996
Thanks Lachlan. I fully support making it easy to have absolute paths. Log files usually live in `/var/log`, which is never inside `JETTY_BASE`. I will try your suggestion to move the modules over into `JETTY_BASE`.

[2021-02-24 08:39] #5994 closed, assigned to nobody

[2021-02-24 08:48] gregw commented on #5996
@lachlan-roberts @chiralsoftware Does the module suggest we can set the directory of the log with properties???
[code]

So can't the `jetty.requestlog.dir` property be set in an ini file to a directory in var, and thus avoid the need to copy/modify the XML?    If we can't change logging directory without XML mods then we need to fix that.

I'm also -1 on removing support for logback-access

[2021-02-24 09:19] simon28li opened #6004 "mvn test failed - XmlParserTest.testXmlParser - Connect Connection timed out"
**Jetty version**
9.4.31.v20200723
**Java version**
1.8.0_191-b12
**OS type/version**
centos 8.0
**Description**
The error of executing mvn test after compilation is as follows：

[code]
Can you give me some help?

[2021-02-24 10:02] janbartel commented on #6004
Try running the build with debug enabled for org.eclipse.jetty.xml (you might need to edit the $MVN_HOME/conf/logging/simplelogger.properties to enable logging for that package).

Also, just to point out that jetty is now at 9.4.37 so you might want to upgrade.

[2021-02-24 10:59] #4275 closed

[2021-02-24 12:55] joakime commented on #5996
logback-access is broken, the jar itself.
It hasn't been updated to support the changes for immutable/mutable HttpFields Jetty 10. (see [stacktrace above](https://github.com/eclipse/jetty.project/issues/5996#issuecomment-784371682))
Once a new version of logback-access exists with support for Jetty 10+ we can add it back.

[2021-02-24 18:41] joakime commented on #6004
Connection timeout?
There shouldn't be any attempt to connect to a remote server from the XmlParser (unless you are running on a JVM that doesn't have it's Xml catalog set properly)

[2021-02-24 19:39] arshadwkhan commented on #5685
@joakime thanks for the update. Can you please convert this to defect ? The underlying layer eats up the error and sends http status 500 to the client but reports http status 200 to asyncservlet.

[2021-02-24 21:34] joakime commented on #5950
PR #5957 has been merged.
Release jetty-9.4.37.v20210219 has this change.

[2021-02-24 21:34] #5950 closed, assigned to joakime

[2021-02-24 21:36] joakime commented on #5938
Closing as i'm satisfied with @lachlan-roberts explanation.

[2021-02-24 21:36] #5938 closed, assigned to nobody

[2021-02-24 21:42] joakime commented on #5922
9.4.37.v20210219 has been released.

9.4.38 is in progress as well.

The OP still has not provided any actionable information about his reported regression.
No other user of these features (and we have some exceedingly aggressive users of the websocket features) have reported a regression.

[2021-02-24 23:11] SeanRoy opened #6007 "Threadpool settings are ignored because system is using an Integer parameter instead of an int."
**9.4.36.v20210114**

**java-8**

**ubuntu 14.04 LTS**

**Threadpool settings are ignored because system is using an Integer parameter instead of an int.**

Here's the debug output from the console:

2021-02-24 17:52:57.643:DBUG:oejx.XmlConfiguration:main: XML call setOut
2021-02-24 17:52:57.644:DBUG:oejx.XmlParser:main: resolveEntity(-//Jetty//Configure//EN, http://www.eclipse.org/jetty/configure

[2021-02-24 23:43] sbordet commented on #6007
This line:

[code]

says that you the value read from the XML is `1025`, which does not match what you report in the XML.

The next line:

[code]

is logged at `IGNORED` level and it's the attempt to match the signature (that failed) and the algorithm continues with other attempts.

I suspect you have _another_ XML file where you read from, with `<Set name="minThreads" type="Integer">...` (note `I

[2021-02-25 02:48] chiralsoftware commented on #5996
@lachlan-roberts thank you for the suggestion. I just copied `jetty-requestlog.xml` into `JETTY-BASE/etc` and modified it like:

[code]
and it works as expected. That's nice! Maybe the documentation should mention that, or there should be an easy way to achieve it using the `.ini` file.

I will also see about the same thing for the keystore, as I also don't really want the keystore in `JETTY_BASE`

[2021-02-25 08:57] sbordet commented on #5996
We have introduced an absolute path for the KeyStore so it can now be saved anywhere in the file system.

[2021-02-25 09:00] sbordet commented on #5996
@lachlan-roberts can you introduce an absolute path for the log file path like we have done in `jetty-ssl-context.xml`?
May be open another issue to track that change.

[2021-02-25 09:07] simon28li commented on #6004
@joakime
yes，I execute it on the JVM. How do I set up the XML catalog

[2021-02-25 09:16] gregw commented on #5996
@joakime oh!  Well we broke it then, so I think we need to help them out with a PR to fix it.
Rather than remove it entirely, can we replace it with a module/xml  that says it currently not available, but coming soon.

[2021-02-25 09:37] simon28li commented on #6004
@janbartel

@janbartel
Unfortunately, I tried to upgrade to 9.4.37.v20210219, but the problem still recurred.

[2021-02-25 10:42] lachlan-roberts opened #6008 "Allow absolute paths to be provided in start.ini for request log directory."
**Jetty version**
10.0.x

**Description**
Allow absolute paths to be provided in start.ini for request log directory.

[2021-02-25 10:44] 4devwithgit commented on #5922
with 9.4.36, our 6.0.3.4 release is working fine.
However, our next release 6.1.0.2 is giving the same behavior of tests getting stuck. We are planning to run some Performance tests, and if we see anything wrt jetty, I will keep it posted here.

Is it possible to port the fix from 9.4.33 version to 9.4.26?
CVEs: (details as of the time of ADV creation)
CVEID: CVE-2020-27216
Description: Eclipse Je

[2021-02-25 10:48] lachlan-roberts commented on #5996
I have opened new issue #6008 for this with PR #6009 to fix it.

[2021-02-25 10:52] gregw commented on #5922
@4devwithgit backporting fixes to specific versions is a service that we provide for our commercial support clients.   We can't do that on an open source basis, else we'd end up with infinite versions to support.

The details of the fix are in https://github.com/eclipse/jetty.project/pull/5452, so you can build your own version.

Alternately, use one of the work arounds and wait until a recent rel

[2021-02-25 10:57] janbartel commented on #6004
@simon28li I think I see the problem:  we aren't aliasing the config_9_3.dtd for the parser so it's trying to get it from the network. To test out my theory, try applying the trivially simple patch (generated with diff, but with a .txt suffix to keep github happy) I'm attaching and rerun the test.
[fix.txt](https://github.com/eclipse/jetty.project/files/6042438/fix.txt)

[2021-02-25 10:58] olamy commented on #5996
logback looks almost dead project...
https://github.com/qos-ch/logback/graphs/contributors
only 3 commits in 2020.
So I would not expect any change in logback....

[2021-02-25 11:05] 4devwithgit commented on #5922
"Alternately, use one of the work arounds and wait until a recent release is mature enough for you." what is the work around you are referring to?

[2021-02-25 11:52] maho7791 opened #6011 "OSGi Cannot start Jetty with osgi.boot - Configurations add wrong method taken"
**Jetty version**
10.0.0, 10.0.1

**Java version**
11
**OS type/version**
Linux/Windows

**Description**
Starting Jetty with jetty.home.bundle=org.eclipse.osgi.boot fails while reading xml and setting the configurations.

It tries to set the array of Strings:
[org.eclipse.jetty.webapp.FragmentConfiguration, org.eclipse.jetty.webapp.JettyWebXmlConfiguration, org.eclipse.jetty.webapp.WebXmlConfigura

[2021-02-25 13:00] joakime commented on #5922
List of security advisories https://www.eclipse.org/jetty/security_reports.php

That specific advisory - [github.com/eclipse/jetty.project/security/advisories/GHSA-g3wg-6mcf-8jj6](https://github.com/eclipse/jetty.project/security/advisories/GHSA-g3wg-6mcf-8jj6)

[2021-02-25 13:07] joakime commented on #5922
Note, there are 2 followup PRs that addresses issues within Multipart and PutFilter that are also impacted by the CVE you listed.
See PRs #5453 and #5458 as well.

[2021-02-25 14:01] 4devwithgit opened #6013 "How to set mutiple TLS Protocol version for jetty http server in version 9.4.26"
**9.4.26**

**Java version - JDK 8 SR6 FP 20**

**I am struggling to find doc, for setting different TLS protocol versions using SslContextFactory.setProtocol**

I see it doenst take arraylist, then how do we set range say, tls1.1-tls1.2?

[2021-02-25 14:07] 4devwithgit commented on #6013
This is in java

[2021-02-25 14:16] joakime commented on #6013
What JVM is that? I don't recognize it.

As for the TLS protocols, those are managed by the SslContextFactory IncludeProtocols and ExcludeProtocols.

Tip: exclude wins over include, always, so be mindful.

The techniques described in https://www.eclipse.org/jetty/documentation/jetty-9/index.php#configuring-sslcontextfactory-cipherSuites are what you are looking for.

You'll still use the `tweak-ss

[2021-02-25 14:18] joakime commented on #6013
9.4.26 is subject to several [security advisories](https://www.eclipse.org/jetty/security_reports.php), you should consider upgrading.

[2021-02-25 14:24] 4devwithgit commented on #6013
Java details

jdk/bin/java -version
java version "1.8.0"
Java(TM) SE Runtime Environment (build pxa6480sr3-20160428_01(SR3))
IBM J9 VM (build 2.8, JRE 1.8.0 Linux amd64-64 Compressed References 20160427_301573 (JIT enabled, AOT enabled)
J9VM - R28_Java8_SR3_20160427_1620_B301573
JIT  - tr.r14.java.green_20160329_114288
GC   - R28_Java8_SR3_20160427_1620_B301573_CMPRSS
J9CL - 20160427_301573)
JCL -

[2021-02-25 14:34] joakime commented on #6013
Ah IBM JVM.

You have a lot more work ahead of you than any other non-IBM JVM user.

Why?

IBM has made a decision (that we do not agree with) to not use industry standard naming for their TLS internal names (for extensions and values within various extensions), TLS Protocols (high level support), and TLS Cipher Suites.
They have their own naming for each of them, not using the RFC and [IANA speci

[2021-02-25 14:41] joakime commented on #6013
Oh, since you are doing SSL/TLS, make sure you honor the JVM version specific expiration dates, as the various SSL/TLS databases (for jvm keystores/truststores, it's CAs, rejected certificates, jvm level CRL/DP database, jvm level OSCP database. etc) are updated frequently and have the ability to impact your client's experience with SSL/TLS negatively if you don't keep up to date.

[2021-02-25 14:47] 4devwithgit commented on #6013
Thanks for the details.

[2021-02-25 16:00] chiralsoftware commented on #5996
@olamy If it's dead or almost dead it shouldn't be supported. My perspective, as a user, is that Jetty already has a confusingly large number of different logging options and modules. It would be better for users like me to have fewer, and also to have clear documentation giving a good default setup that will work reasonably for most users.

[2021-02-25 17:00] SeanRoy commented on #6007
That's how I got to copying the jetty-threadpool.xml file from jetty.home/etc to jetty.base/etc.  I originally hadn't touched any xml files and just updated minThreads in threadpool.ini when I was getting these exceptions.  The 1025 value you mentioned was from a prior run where I had set the value to that to distinguish where the value was being picked up.  I neglected to get the  proper log run

[2021-02-25 17:11] joakime commented on #6007
That is an IGNORED exception.
It's just a step in the attempts to use the defined `<Set>`, a subsequent step worked (as it didn't produce an error or failure to start).

Just take a look at the implementation of `<Set>`

https://github.com/eclipse/jetty.project/blob/jetty-9.4.37.v20210219/jetty-xml/src/main/java/org/eclipse/jetty/xml/XmlConfiguration.java#L598-L736

Anywhere you see `LOG.ignore(x)

[2021-02-25 17:15] SeanRoy commented on #6007
ok thank you for your time.

[2021-02-25 17:15] #6007 closed, assigned to nobody

[2021-02-25 17:16] sbordet commented on #6007
@SeanRoy so we think it actually works, just don't look at IGNORED exceptions (they should be ignored 😃).

Verify in this way:

[code]

Now start a JMX console such as JMC, connect to the Jetty JVM you started above, navigate the MBeans under `org.eclipse.jetty.util:type=queuedthreadpool,id=0` and you should see the values with which the `QueuedThreadPool` is configured, and they should match what

[2021-02-25 17:31] joakime commented on #6007
@SeanRoy run your logging at `DEBUG` level, not `ALL` level (which includes IGNORE/TRACE/FINE/FINER/FINEST etc), it will help you avoid getting caught up in minutiae that has no impact your goals.

[2021-02-25 17:32] joakime commented on #6007
You can even use `start.jar jetty.server.dumpAfterStart=true` and see the Jetty Server (state) dump which will list your actual (runtime) QTP configuration.

[2021-02-25 22:16] JonathanLennox opened #6016 "Websocket permessage-deflate compression level should be configurable"
**Jetty version**
9.4.35

**Java version**
1.8

**OS type/version**
Linux/x86_64

**Description**
When Jetty negotiates the permessage-deflate extension for websockets, the compressionLevel used is hard-coded to be `Deflater.DEFAULT_COMPRESSION`.

There should be an API that lets a user of Jetty Websockets can configure this, so they can make the CPU vs. Bandwidth trade-off appropriate for their a

[2021-02-25 22:22] joakime commented on #6016
This is possible on Jetty 10+

The `ServletContext` Attribute `jetty.websocket.deflater` can be pre-populated with any `org.eclipse.jetty.util.compression.DeflaterPool` configuration you want to use.

[2021-02-26 00:18] olamy commented on #5996
@chiralsoftware I mean I do not hope to see logback code being fixed with the changes done in 10.
If you really want to use logback I would recommend using Slf4jRequestLogWriter which log to slf4j-api so you can setup logback as a slf4j impl

[2021-02-26 02:15] chiralsoftware commented on #5996
@olamy What I would really like is for Jetty to tell me which log configuration to use. I don't have any preferences and it's confusing that there are so many choices. It should just be, "Use this specific module for request logs, this specific module for application logs. If you really need to customize it in some way, then you have these options."

[2021-02-26 08:16] gregw commented on #5996
@chiralsoftware Thanks for your input... very timely as we are reworking the documentation and logging is literally the next section to be done.

We do have many different logging options, unfortunately because we are integrated in many different projects with many different logging preferences, so we don't get to assert our own preferences.

If just enable the `requestlog` we will log requests to

[2021-02-26 10:12] cstamas commented on #6001
FTR, `%2f` is a MUST for npm registries, as "scoped packages" are using it. With latest Jetty we have now:
[code]

Reference: https://github.com/npm/npm/issues/11738

[2021-02-26 10:48] 4devwithgit commented on #6013
I need one clairifcation,

The code is using just SSLContextFactory for setting up all the SSL and keystore parameters, and I dont see SSLEngine in use,

For example, its like this,
---------------------------------------------------------------------------------------------------------------------
		SslContextFactory factory = new SCISslContextFactory(certMap,cipherStrength,sysCertName);
		String

[2021-02-26 12:12] gregw commented on #6001
For jetty-9.4.38 we are reverting to the previous behaviour. Specifically:
 + `%2f` in segments is allowed
 + `%2e%2e` and variants are allowed.
 + `..;` segments are not allowed.

This behaviour can be configured with `HttpCompliance` and there will is a new predefined `HttpCompliance.RFC7230_NO_AMBIGUOUS_URIS` mode

For jetty-10 and beyond, the default is changed to disallow all three.  It is no

[2021-02-27 08:09] gregw commented on #5963
fixed CVE-2020-27223

[2021-02-27 13:38] janbartel commented on #6004
@simon28li  I'm pretty sure the issue was the redirect for the configure_9_3.dtd, so I'm closing this issue after the commit of pr #6015. If there is still a problem, please reopen and provide more detailed information.

[2021-02-27 13:38] #6004 closed, assigned to nobody

[2021-02-28 17:02] sbordet opened #6017 "Property overriding does not work"
**Jetty version**
10.0.x

**Description**
These commands:

[code]

produce:

[code]

The wrong property value is reported in the error message.

But furthermore:

[code]

starts Jetty without errors.

There is something wrong in how properties are handled.

[2021-02-28 17:06] sbordet commented on #6017
Works properly in Jetty 9.4.x.

[2021-02-28 17:06] sbordet commented on #6017
@joakime any idea?

[2021-03-01 03:41] jalberti commented on #5650
The issue is fixed with Wildfly 2.1.3.Final -> https://github.com/wildfly-security/wildfly-openssl/pull/98

[2021-03-01 03:41] #5650 closed, assigned to joakime, sbordet

[2021-03-01 05:46] 4devwithgit commented on #6013
Can you please help me with above query?

Thanks

[2021-03-01 06:25] udgirpratik commented on #3582
Hi What is release jetty version which has fix of issue 3582.

[2021-03-01 08:44] sbordet commented on #3582
@udgirpratik Jetty 9.4.18 and later contain the fix for this issue.

[2021-03-01 08:47] sbordet commented on #6013
That is exactly what the factory is meant to do. Once an `SSLEngine` is requested to the `SslContextFactory` it will be configured appropriately from the factory configuration.

[2021-03-01 14:23] 4devwithgit commented on #6013
I am looking for some code samples to create SSLEngine from SslContextFactory, because I am getting NPE, for below code during https connection.

SSLContext sslContext = factory.getSslContext();
SSLEngine sslEngine = sslContext.createSSLEngine("X.x.x.x", 11111);

String[] tlsVersions = {"TLSv1.1", "TLSv1.2"};
sslEngine.setEnabledProtocols(tlsVersions);

[2021-03-01 14:24] sbordet commented on #6013
Stack trace? Did you remember to `start()` the `SslContextFactory`?
Why do you need to create `SSLEngine` instances yourself?

[2021-03-01 17:20] joakime commented on #6017
Isn't this related to #5915 ?

[2021-03-01 17:38] sbordet commented on #6017
@joakime maybe -- the `test-keystore` module does have an `[ini]` section that seems to affect this issue and also #5990.

[2021-03-01 17:41] joakime commented on #6017
Could be, the `--list-config` shows ...

[code]

[2021-03-01 17:42] joakime commented on #6017
I don't like seeing bouncycastle present in the server classpath from that simple `--add-modules=ssl,https,test-keystore`

[2021-03-01 17:43] joakime commented on #6017
Looks like the `test-keystore.mod` was only created for the demo to use.
Perhaps it should be renamed to `demo-keystore.mod` ?

[2021-03-01 17:46] sbordet commented on #6017
@joakime no, the `test-keystore` is used in the docs and for whoever wants to try Jetty without a demo or getting a real KeyStore.

[2021-03-01 18:13] joakime commented on #6017
The error is from the attempt to load the TrustStore in ...

https://github.com/eclipse/jetty.project/blob/d9eefc92313ea6c7bfc4505600da0fa5ad5b3b07/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java#L1113-L1125

The resource `jetty.sslContext.trustStorePath = etc/test-keystore.p12`, doesn't exist either.

[2021-03-01 18:15] joakime commented on #6017
If you set both to `bogus` it doesn't complain.

[code]

[2021-03-01 18:19] joakime commented on #6017
I wonder _why we don't throw an exception_ if a keystore resource is configured in the SslContextFactory that doesn't exist?

[2021-03-01 23:13] lachlan-roberts commented on #5832
Fixed with PR #5840.

[2021-03-01 23:13] #5832 closed, assigned to lachlan-roberts

[2021-03-02 05:37] 4devwithgit commented on #6013
without having SSLEngine , how do we set the tls protocols? Or how do we specify the tls protocol range with SslContextFactory directly without creating SSLEngine?

[2021-03-02 08:19] sbordet commented on #6013
[code]

[2021-03-02 09:20] 4devwithgit commented on #6013
thanks @sbordet will try it.

[2021-03-02 11:16] joakime commented on #6013
The IncludeProtocols configuration was pointed out in comment https://github.com/eclipse/jetty.project/issues/6013#issuecomment-785926775

[2021-03-02 16:17] sbordet opened #6020 "Review Jetty Maven Plugin scanning defaults"
**Jetty version**
10.0.x

**Description**
By default, the Jetty Maven Plugin has `scan=0` which means when running `jetty:run` on a terminal, the following is printed:

[code]

However, this default is confusing because hitting `<enter>` on the terminal is useful to separate start-up log lines from application log lines, or application log lines between different requests.

Setting `scan=5` disabl

[2021-03-02 16:20] sbordet commented on #6020
I would prefer `<enter>` to actually add newlines to the terminal, rather than being a command.

Perhaps we can change the behavior so that if a user types "redeploy" then the webapp is redeployed -- it should be an easy change in `ConsoleReader` to check for the string "redeploy", rather than just a newline.

[2021-03-02 20:40] joakime opened #6021 "Standardize Path resolution in XmlConfiguration"
**Jetty version**
10.0.0

**Java version**
All

**OS type/version**
All

**Description**
Currently, due to the way we use `<Set name="otherPath"><Property name="jetty.base" default="."/>/<Property name="jetty.other.path"/></Set>` it's complicating how we can support arbitrary paths for the `jetty.other.path` property.

The introduction of new properties for absolute path and deep nesting to allow

[2021-03-02 21:09] janbartel commented on #6020
@sbordet use of the "Enter" key to indicate a manual redeployment has been there since jetty-7 days, so I don't see that it could be changed in jetty-10 or indeed jetty-11, it would have to wait until jetty-12.

For the other 2 points, I've raised PR #6023

[2021-03-02 21:12] janbartel opened #6024 "Error starting jetty-10: Provider org.eclipse.jetty.websocket.javax.client.JavaxWebSocketShutdownContainer not found"
When the jetty-10 demo webapps are deployed, there are errors logged, which are logged at INFO level:

It's a bit obscure to work out what is happening, but I discovered that the following error is being thrown:

Caused by: java.util.ServiceConfigurationError: javax.servlet.ServletContainerInitializer: Provider org.eclipse.jetty.websocket.javax.client.JavaxWebSocketShutdownContainer not found
	at

[2021-03-02 21:25] joakime commented on #6024
This on `jetty-10.0.x` HEAD, or one of the releases?

[2021-03-02 23:09] janbartel commented on #6024
HEAD jetty-10.0.x

[2021-03-03 00:32] sbordet commented on #6020
@janbartel the default for the "enter" key was _off_ for 9.4.x. It has been changed to _on_ for 10. I think off is a better default. Keep the functionality, just change the default.

[2021-03-03 10:15] janbartel commented on #6020
@sbordet let's forget about which key it is for the moment, let's just consider the functionality.  There are two modes for the jetty:run goal: 1. automatic redeploy  2. manual redeploy.   Is it worthwhile having another mode 3. never redeploy (which would be the default).   Mode 3. is satisfied by mode 2. by simply not pressing whatever key causes the redeploy, so I think mode 3. is logically red

[2021-03-03 10:16] #6011 closed, assigned to janbartel

[2021-03-03 10:39] gregw commented on #5835
Let's fix only in 10.

[2021-03-03 11:36] #6024 closed, assigned to lachlan-roberts

[2021-03-03 14:27] 4devwithgit opened #6026 "the jvm DEBUG flag is not working org.eclipse.jetty.LEVEL=DEBUG"
**Jetty version - 9.4.36**

**Java version - ./jdk/bin/java -version
java version "1.8.0_271"
Java(TM) SE Runtime Environment (build 8.0.6.20 - pxa6480sr6fp20-20201120_02(SR6 FP20))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20201102_458768 (JIT enabled, AOT enabled)
OpenJ9   - 5b31a42
OMR      - 6ad3a34
IBM      - b7e48f4)
JCL - 20201119_01 based on Oracle jdk8u271-b

[2021-03-03 14:39] sbordet commented on #6026
@4devwithgit I don't understand your report.

If you enable the `ALL` logging level, you will get all internal exceptions that Jetty logs that *are not errors*, they are just exceptions logged at `IGNORE` or `DEBUG` level and can be ignored.

[2021-03-03 14:41] janbartel commented on #6026
I'm confused:  you seem to be saying that you can't set DEBUG mode, and yet the stacktrace shows DEBUG logging?

For the stacktrace, this appears in DEBUG mode only, and is related to a WARN log line that should appear just above it, of the following format:
`{} has uncovered http methods for path: {}`

Where the first {} is the context and the second {} is the path with uncovered http methods. Th

[2021-03-03 14:53] joakime commented on #6026
Do we really need that LOG.debug?

https://github.com/eclipse/jetty.project/blob/23c1ef3ae98d53c12c245ac6139e6ad4b3a0ea5a/jetty-security/src/main/java/org/eclipse/jetty/security/ConstraintSecurityHandler.java#L746-L751

Isn't the LOG.warn sufficient?
Is there something about the stacktrace that gives us something useful?
The commit that added that Throwable -> https://github.com/eclipse/jetty.proj

[2021-03-03 14:54] 4devwithgit commented on #6026
the application server, gets stuck with the given error. It fails to bring up the application which is deployed using this jetty.

[2021-03-03 14:58] joakime commented on #6026
This logging wouldn't cause the server to get stuck.
The behavior here is just to log.
In fact, the code that calls this method, doesn't even look at the return value.

If you have a stuck app server, something else is going on.

[2021-03-03 16:44] yididiyan commented on #4061
Hi @joakime, @shamsimam ,

Late in the discussion. Yet I encountered a similar error working with _**jetty-9.4.34.v20201102**_. Any solutions found for the issue yet?

Thanks!

[2021-03-03 16:53] sbordet commented on #4061
@Yididya it's not a Jetty issue from what reported so far, it's something else.

Please upgrade to Jetty 9.4.38 and try again. If you still have the issue we need details in form of stack traces and possibly DEBUG logs.

[2021-03-03 17:00] yididiyan commented on #4061
Hi @sbordet,
Thank you for your reply.

Attached below is the jetty-log.
I have now updated it to Jetty 9.4.38.

[jetty-log.txt](https://github.com/eclipse/jetty.project/files/6077717/jetty-log.txt)

[2021-03-03 17:05] sbordet commented on #4061
@Yididya you have a configuration error, just look at your logs:

[code]

[2021-03-03 18:55] tarator opened #6028 "Jetty 11 returns "/" as context path when deployed in ROOT context. It should return an empty string."
**Jetty version**: 11.0.1

**Java version**: OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.20.04)

**OS type/version**: Ubuntu Budgie 20.04.1

**Description**
When a WAR-File is deployed in ROOT Context Path of Jetty 11 the method `getContextPath()` returns the String `/` (slash).
It should return an empty String since context path's shouldn't end with a `/`

Jetty Versions <10 retu

[2021-03-03 18:58] tarator commented on #6028
Duplicate of #5057

[2021-03-03 20:24] #6021 closed, assigned to joakime

[2021-03-03 20:55] joakime commented on #6028
Seems that we have test cases for the `.getContextPath()` during `DispatcherType.INCLUDE` (which was added by issue #5057), but not normal REQUEST dispatch.

[2021-03-03 21:06] joakime commented on #6028
PR #6030 opened with testcase for Jetty 10 (it works there, but the OP says so anyway)

[2021-03-03 21:16] joakime commented on #6028
Opened PR #6032 for Jetty 11 with testcase.
This works as expected.

[2021-03-03 21:20] janbartel commented on #6028
I can't replicate this with jetty-11.

Are you sure the request is not being wrapped?

[2021-03-03 21:35] gregw commented on #6028
I think there might be a difference `ContextHandler.getContextPath()` and `ContextHandler.getServletContext().getContextPath()`
I think the former will return what the context is configured as (eg "/" or "/foo"), but the later returns what the servlet spec wants (ie "" for root).

[2021-03-03 22:36] joakime commented on #6028
You can test this with the `Dump` servlet in the `demo-jetty.war` as well.

Setup ...

[code]

Then open `http://localhost:8080/dump/info` in your browser.
The `getContextPath()` returns an empty string.

[2021-03-04 02:44] BruceMacD opened #6034 "SslContextFactory may select a wildcard certificate during SNI selection when a more specific SSL certificate is present"
**Jetty version**
Observed in jetty-9.4.35.v20201120 but the code is the same in the jetty-9.4.x branch and the jetty-10.0.x branch so it should have the same behavior.

**Java version**
Oracle JDK 8u281.

**OS type/version**
Mac OS 10.14 (this should be OS agnostic)

**Description**
***Scenario***
Hosting an application in Jetty with two certificates:
- Certificate 1 with alias `*.example.com`
-

[2021-03-04 07:49] dev-chirag opened #6035 "HTTP2 Stream Priority Support in Jetty 9.4.38"
Hi,

Does Jetty 9.4.38 supports HTTP2 Stream weights and dependencies? I can send these in HTTP2 client, but I couldn't see how it's managed for the Jetty server.

[2021-03-04 08:26] yididiyan commented on #4061
[jetty-log.txt](https://github.com/eclipse/jetty.project/files/6077949/jetty-log.txt)

A more detailed log with DEBUG enabled for javax.net.ssl=all.
Also tried disabling TLSv1.3, now I get "Empty server certificate chain" instead of "Empty client certificate chain".

Can you please check it once again? Maybe it will help to pinpoint what went wrong.

Thanks again.

[2021-03-04 08:59] sbordet commented on #6035
HTTP/2 stream priorities are not implemented, and will likely not be implemented. Very few servers implement it (too complicated and burns CPU instead of downloading the resources).

HTTP/3 has removed it from the specification, so it's pretty much a dead concept at this point.

[2021-03-04 08:59] #6035 closed, assigned to nobody

[2021-03-04 09:01] sbordet commented on #4061
@Yididya what you experience is not a Jetty issue, I assume just a TLS misconfiguration on your part, which you have not given any information about. Very little we can do to help you.

[2021-03-04 09:05] dev-chirag commented on #6035
Thanks Simone. I saw your earlier explanation of not supporting it and that makes sense.

I am actually working on a use case where request prioritization is required. Just out of curiosity, do you think QOSFilter can be be loosely related to stream priority (in terms of request prioritization) and be used for HTTP2 as well?

[2021-03-04 09:13] sbordet commented on #6035
I'd love to hear about it.

QoSFilter may be used to implement some sort of prioritization, but only when the filter reaches max capacity (i.e. only requests that exceed the max number of concurrent requests are suspended and prioritized).

You may try to implement something along those lines, but it's going to be a lot of suspend, shuffling around, etc. and by the time the prioritization algorith

[2021-03-04 09:27] dev-chirag commented on #6035
I am implementing an endpoint for 5G HTTP2 interface that accepts all sorts of requests but must prioritize certain critical requests.

According to 3GPP, the critical requests are identified by a custom HTTP header that carries the priority value. In overload conditions, a 5G endpoint is expected to allocate maximum resources to the critical requests.

Though, HTTP2 stream prioritization is also

[2021-03-04 10:37] sbordet commented on #6034
@BruceMacD as a workaround, you can always set your own `SNISelector` on `SslContextFactory` to implement a more precise logic.

I agree that we should try to match the precise domain first, then wildcard domains.

[2021-03-04 10:43] yididiyan commented on #4061
Yeah. You were right. It was a silly misconfiguration on my part. Turning off the property `jetty.sslContext.needClientAuth` on `ssl.ini` solved it. Apologies for the trouble I caused.

[2021-03-04 10:46] sbordet commented on #6035
Seems weird. In overloaded conditions, there may be a long time before the server processes the stream, parses its headers, and eventually calls the application to process it, to figure out it was critical.

The same goes if HTTP/2 prioritization was implemented.

Would it not have been better to send high priority requests to a different server port, with a high priority thread pool, only dedicat

[2021-03-04 10:48] sbordet commented on #4061
I think this can be closed, as the original issue is solved.

[2021-03-04 10:48] #4061 closed

[2021-03-04 12:08] joakime commented on #6035
This is the spec the OP is referring to - https://www.etsi.org/deliver/etsi_ts/129500_129599/129500/16.05.00_60/ts_129500v160500p.pdf

And the field `3gpp-Sbi-Message-Priority` (defined in Section 6.8)

A quick read of that spec means it's not actually using the HTTP/2 priority mechanism, but instead wants a field in the payload of the data (JSON) to interpreted to know how to set the HTTP/2 prior

[2021-03-04 12:10] sbordet commented on #6034
@BruceMacD can you try https://github.com/eclipse/jetty.project/pull/6036?

[2021-03-04 16:36] joakime commented on #5969
List of reserved characters for Windows.

https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file

[2021-03-04 16:46] sbordet commented on #5969
Unfortunately every alternative character to be used as a separator is interpreted by shells in a way or another, so `|` seems to be the best choice considering that we have to escape anyway.

`:` is not suitable (as we have `basehome:` or `C:` on Windows
`!` is interpreted by bash as a command of some sort
`>` is redirection
etc.

[2021-03-04 18:22] BruceMacD commented on #6034
@sbordet
That change works perfectly in my case. Thanks.

[2021-03-04 22:12] bhawani1978 commented on #2205
Hi @joakime , we tried the workaround, it seems it worked in our labs. But when in production, it started breaking.

[code]

[2021-03-04 22:16] sbordet commented on #2205
@bhawani1978 I don't see any problem with your stack trace.
The select wakes up with 1 update.
There is no spinning and I doubt any high CPU usage given the logs show 10+ second pauses between log lines -- the server seems completely idle.

If you have 100% CPU, it's something else.

[2021-03-04 22:59] bhawani1978 commented on #2205
@sbordet no high CPU but it just hangs and stops responding

[2021-03-04 23:27] sbordet commented on #2205
@bhawani1978 if you don't have 100% CPU please open a new issue, as this issue is not related to your problem.

[2021-03-05 06:02] dev-chirag commented on #6035
My understanding of this spec is that both are needed in an endpoint. Though it doesn't clearly lists the use case for HTTP2 stream prioritisation, it's a mandatory requirement.

I am specifically interested in the first use case. One alternative that I have in mind is a congestion control procedure on top of Jetty endpoint where it can proactively limit the queued concurrent requests and starts r

[2021-03-05 08:13] gregw commented on #6035
If the priority header is left in the request, then it is moderately simple to modify QoSFilter to use that header when choosing which requests to prioritise.  But as Simone says, until some concurrency limit is reached, all requests are treated equally and there is no throttling.   So if your limit is 100 and 100 low priority requests have arrived then the 101st request will have to wait even if

[2021-03-05 09:24] janbartel commented on #4888
@cshannon and @manovotn where are we at with this issue? AFAIK, the commit I did in PR #4889 fixes both @manovotn and @cshannon's issues. Can I close this issue?

[2021-03-05 09:51] manovotn commented on #4888
Yeah, I think this issue should be closed.

[2021-03-05 11:43] cshannon commented on #4888
You can close the issue, as I believe it's solved now. I implemented a workaround before so I would need to go back and remove that to specifically test the fix but based on looking at it plus with Weld being fixed I think this should be closed. If something else pops up again I'll open a new issue as that would mean a different cause anyways.

[2021-03-05 15:40] sbordet opened #6037 "Review logging modules for j.u.l."
**Jetty version**
10.0.x

**Description**
The modules `logging-jul` and `logging-jul-capture` do not work at all.

A review is needed to make them work properly.

[2021-03-05 16:34] bhawani1978 commented on #2205
@sbordet I thaught, this would be right place as this happening after applying workaround as provided by @joakime https://github.com/jetty-project/selector-hack if we remove this hack, we most probably will start getting old issue.

[2021-03-05 16:42] joakime commented on #2205
The hack just works around a hardware/driver/OS issue on your machine.
An issue that all Java programs that use NIO on that machine will encounter.
In other words, this issue is not Jetty specific.

The new issue you reported is something else that is unrelated to this issue.
It is something new.
And so far, we do not have enough details to even guess at the cause.
Please open a new issue.
Lets tr

[2021-03-05 18:18] #6037 closed, assigned to nobody

[2021-03-06 13:24] Silhim opened #6039 "How to save a received HTTP Post in the server"
**Jetty version**
11.0.0 via Maven

**Java version: **
openjdk version "15.0.2" 2021-01-19
OpenJDK Runtime Environment (build 15.0.2+7-27)
OpenJDK 64-Bit Server VM (build 15.0.2+7-27, mixed mode, sharing)

**Question**
Hello, I'm very new to Jetty and I'm trying to develop an embedded Jetty Server with a REST API.
I need to receive HTTP Posts to my server and save the posts in the server (in our c

[2021-03-07 21:19] stolsvik opened #6040 "ServletContainerInitializer's HandlesTypes might do too shallow analysis of interface implementation?"
**Jetty version**
9.4.38.v20210224

**Java version**
jdk-11.0.9+11

**OS type/version**
Ubuntu 20.04.2 LTS

**Description**
(Got a very weird situation here. I've found a workaround, but if this is reproducible and possibly bites other people, it might be worth looking into.)

I am programmatically creating the Jetty Server, creation method at end.

Trying to employ the Spring `AbstractAnnotationC

[2021-03-07 22:00] stolsvik commented on #5997
@sbordet Just stumbled across this issue, and read the comment _"You may be running into gzip issues (takes a while for gzip native handles to be GCed) if the WebSocket connections negotiate the "per-message deflate" extension."_, and thought I could mention that I have been pondering the same issue for my own library, and have recently implemented a "hack" that I .. well .. _hope_ gives some effe

[2021-03-08 03:38] lachlan-roberts commented on #5997
@stolsvik we have also run into this issue previously and have since implemented pooling for Inflaters and Deflaters in Jetty 9.4 and 10  (see issue https://github.com/eclipse/jetty.project/issues/300).

[2021-03-08 09:44] jnjanardhannaidu opened #6041 "Jetty 9_4_26 is vulnerable, In which version, it has been addressed?"
Jetty version: 9_4_26

java version: 1.8

Hi Team,

As Jetty  9_4_26 uses Tomcat 8.5.40, there are multiple CVEs reported, Is  jetty 9_4_26 with tomcat 8.5.40 jars are vulnerable with below CVEs? if yes, can you please let us know in which version od jetty it has been addressed?

jetty/9_4_26/org.mortbay.jasper.apache-jsp-8.5.40.jar
jetty/9_4_26/org.mortbay.jasper.apache-el-8.5.40.jar

**Tomcat 8.

[2021-03-08 10:35] gbdslmad opened #6042 "How to use Jetty HTTP2 Client on GAE Standard Environment"
**Jetty version**
Jetty 9.4.7.v20170914.

**Java version**
1.8.0.181

**Question**

I recently [posted a question](https://stackoverflow.com/questions/66397271/problems-running-jetty-http2-on-google-app-engine?noredirect=1#comment117407298_66397271) on Stackoverflow detailing problems we encountered when attempting to run jetty & HTTP2 on Google App Engine. I was advised to pose the question to th

[2021-03-08 11:08] gregw commented on #6042
When running applications on GAE Standard, the HTTP connection (either HTTP1, HTTP2 or now draft versions of HTTP3) is terminated well before the server that the application is running on.   The application will see only a HTTP request, but that might not be actually carried over any actual HTTP protocol over it's entire path through the google infrastructure.

So the answer is that HTTP/2 should

[2021-03-08 11:10] janbartel commented on #6040
The class inheritance scanning is tested and certainly scans all the way back to (but not including) java.lang.Object, and correctly establishes the inheritance hierarchy.

I think the problem likely lies in the setup you're doing on the WebAppContext as regards the webapp's classpath. As you're running embedded, effectively the container classpath === the runtime path. Then you've set the WebAppC

[2021-03-08 11:17] gbdslmad commented on #6042
Hi gregw. Thank you for your swift response.

We are definitely using GAE standard environment, not flex. We are also acting as an HTTP2 client. Our requirement is to submit an HTTP2 request to the Apple APNS (push notifications) server. This will demand HTTP2 from 31st March 2021.

Please can you explain how we could use the Google Jetty HTTP2 implementation within GAE Standard?

Regards, Michael

[2021-03-08 12:47] gregw commented on #6041
In jetty-9.4.30.v20200611  released on 11 June 2020  included  issue #4826 Upgrade to Apache Jasper 8.5.54
Latest release of jetty is jetty-9.4.38.v20210224

[2021-03-08 12:47] #6041 closed, assigned to nobody

[2021-03-08 12:47] gregw commented on #6041
Note also that jasper jars can normally be updated independently of jetty

[2021-03-08 12:53] joakime commented on #6041
For future reference, the security reports are all published at https://www.eclipse.org/jetty/security_reports.php
Note that 9.4.26 is subject to other advisories unrelated to Apache Jasper.

[2021-03-08 13:03] gregw commented on #6042
@sbordet Can  you comment here.  What versions of java 8 is needed so that our HTTP2 client can be used without the need to put ALPN jars onto the boot path.
@gbdslmad If  you can upgrade your deployment to us java11 (see https://cloud.google.com/appengine/docs/standard/java11/java-differences) then I believe that ALPN will not be needed (again @sbordet  can you confirm?)

[2021-03-08 13:04] gregw commented on #4888
thanks

[2021-03-08 13:04] #4888 closed, assigned to janbartel

[2021-03-08 13:15] joakime commented on #6042
For HTTP2 Client, without alpn on bootclasspath, you'll need Java 8u252 or better.
See: https://webtide.com/jetty-alpn-java-8u252/

[2021-03-08 13:20] joakime commented on #6042
With GAE Standard you have no fine toothed control over the specific JVM you are using.

You just have `<runtime>java8</runtime>` or `<runtime>java11</runtime>` in your `appengine-web.xml`
You are at the mercy of the deployment of that specific location on what specific JVM update within 8/11 is actually used for your webapp.

Would recommend either moving to `<runtime>java11</runtime>` or GAE Fle

[2021-03-08 14:13] sbordet opened #6043 "Reimplement UnixSocket support based on Java 16"
**Jetty version**
10.0.x

**Description**
Java 16 provides an implementation of Unix Sockets ([JEP 380](https://openjdk.java.net/jeps/380)).

We should provide an implementation based on that rather than the more unstable JNR.

[2021-03-08 14:47] boughtonp opened #6044 "Rewrite module has broken config in Jetty 10 and 11"
**Jetty version**
10.0.1

**Java version**
11

**OS type/version**
n/a

**Description**
Enabling rewrite module on Jetty 10/11 complains about missing etc/rewrite-rules.xml

With a simplified start.ini of:

	--module=deploy
	--module=http
	--module=rewrite

I get the following:

	$ java11 -jar ../jetty-home-10.0.1/start.jar
	java.io.IOException: Cannot read file: etc/rewrite-rules.xml
	        at

[2021-03-08 14:52] boughtonp opened #6045 "Incorrect Jetty 10/11 source links on download page"
On http://www.eclipse.org/jetty/download.php there are "source" links for each version.

The 9.4 links work fine, but the 10 link goes to `https://github.com/eclipse/jetty.project/tree/10.0.1`  when it should be `https://github.com/eclipse/jetty.project/tree/jetty-10.0.1` (i.e. missing `jetty-` prefix to version), and same issue for 11.

[2021-03-08 14:55] joakime commented on #6044
You just created a start.ini and didn't use the tooling.

Example using the tooling.

[code]

Using `--add-module=<module>` will create files, directories, download missing jars, etc...

Since you went the advanced route and just defined the modules manually, you are on the hook to manually perform the same steps that the `--add-module` would have done for you.
In other words, it's up to you to cr

[2021-03-08 14:58] joakime commented on #6045
The syntax should probably be `https://github.com/eclipse/jetty.project/releases/tag/<tag>` instead.

Examples:
* https://github.com/eclipse/jetty.project/releases/tag/jetty-10.0.1
* https://github.com/eclipse/jetty.project/releases/tag/jetty-11.0.1

[2021-03-08 15:50] sbordet opened #6046 "Add buffer cleaner APIs to BufferUtil"
**Jetty version**
10.0.x

**Description**
With Java 11 there is a `Cleaner` API available to quickly reclaim direct/mapped buffers.

We should use `BufferUtil` to allocate a static `java.lang.ref.Cleaner`, and expose `register()` and `clean()` APIs to be used where necessary.

Candidates are:

* `AfterContentTransformer`
* `FileBufferedResponseHandler`
* `CachedContentFactory`
* `DataRateLimitedSe

[2021-03-08 16:18] WalkerWatch commented on #6045
This has been fixed on the site and will be updated when it builds next. Flagging this as documentation.

https://git.eclipse.org/c/www.eclipse.org/jetty.git/commit/?id=7796d2e48fdc6307f730d31004c03cc3d179cc13

[2021-03-08 16:18] #6045 closed, assigned to WalkerWatch

[2021-03-08 18:31] boughtonp commented on #6044
It was not necessary to use `--add-module` to enable `rewrite` in previous versions of Jetty.

Given that `modules/rewrite/rewrite-rules.xml` is merely a series of commented-out example rules, I don't see why it should be required to be copied for the module to work?

[2021-03-08 18:40] #6034 closed, assigned to nobody

[2021-03-08 22:12] stolsvik commented on #6040
Quick reply here, while pondering whether to delve further down into this.

ServerX is that very class the `createServer()` method is defined in, which contains the `public static void main` method to start Jetty. The `TestInitializer` class is laying directly beside it - and the Spring jars are on the classpath.

I need to do the `setWebInfClassesDirs(..)` to get this to work when jamming both my

[2021-03-09 04:19] jnjanardhannaidu commented on #6041
Thank you both for your inputs.

[2021-03-09 10:25] janbartel commented on #6040
@stolsvik you've told jetty that the spring jar is on the _container_ classpath, and your implementation classes are on the _webapp_ classpath.  By default, as per the doco, jetty scans almost nothing from the _container_ classpath, but everything from the _webapp_ classpath.  So, jetty is not scanning the spring jar to find the `WebApplicationInitializer` class and thus will not have a key for it

[2021-03-09 11:18] lachlan-roberts commented on #6046
Looks like this is not going to be possible. The `Cleaner` API won't actually unmap the buffer, it only invokes a Runnable when the buffer becomes phantom reachable.

The only way to do this is to use reflection to get the internal cleaner on `java.nio.DirectByteBuffer`. This has to be done differently between Java 8 and Java 9+. This also doesn't work with JPMS modules.

[2021-03-09 11:18] #6046 closed, assigned to lachlan-roberts

[2021-03-09 14:25] sbordet commented on #6046
I'm so disappointed, I really hoped that `Cleaner` would return a `Cleanable` that would free the native memory of direct and mapped `ByteBuffer`s, but that's not the case, unfortunately.

[2021-03-09 14:31] sbordet commented on #6039
Seems overcomplicated to me.

Why can't you just use a single handler with a map lookup for the IP address?

[2021-03-09 16:45] sbordet opened #6049 "Default provider [files] section always executed"
**Jetty version**
10.0.x

**Description**
`java -jar start.jar --add-modules=http,logging-logback` copies `resources/jetty-logging.properties`, but it should not.

Interestingly,
`java -jar start.jar --add-modules=logging-logback,http` does *not* copy `resources/jetty-logging.properties`.

Since an explicit provider has been configured, the default provider should be out of the picture.

[2021-03-09 16:49] stasptr opened #6050 "Websocket: NotUtf8Exception after upgrade 9.4.35 -> 9.4.36 or newer"
**Jetty version**
9.4.38.v20210224

**Java version**
OpenJDK "15.0.1"

**OS type/version**
Linux Ubuntu 20.10

**Description**

After upgrading jetty from 9.4.35.v20201120 to 9.4.36.v20210114 in our prod env we found a significant amount of NotUtf8Exception exceptions during unpacking text WebSocket messages.
The same problem raised when we tried to upgrade to 9.4.37.v20210219 or 9.4.38.v20210224

[2021-03-09 17:04] joakime commented on #6050
This would be very surprising. (we pass all of the industry websocket test tooling for compliance to the spec)
And would seem to be an artifact of a bad WebSocket client (that doesn't implement permessage-deflate properly).

Can you replicate this?
If so, can you capture the traffic on Wireshark and see if it concurs with the BadPayload issue?

[2021-03-09 17:22] stasptr commented on #6050
Our policy forbids capturing user's data (as it may contain private information).
I'll try to reproduce this issue in test env with test data

Clients use the browser's WebSocket implementation, and there are multiple versions of chrome and firefox (including the latest) in logs with these exceptions, so they are not likely to have a bug in permessage-deflate.

BTW, I see no changes in 9.4.36 chan

[2021-03-09 19:07] stolsvik commented on #6040
Oh. Thanks.

That was a very different way of handling this than I thought. I assumed that you scan the classes that I have pointed to, and resolve them "all the way" (i.e. inheritance and such), and build up that map from that - as the actual ClassLoader pretty much does it, right? What you do is to scan what I have pointed to, and _only_ that, building up the map from that.

I can see that in a

[2021-03-09 21:29] joakime commented on #6044
The fact that `--create-files` doesn't work here is interesting.
The `--create-files` concern is likely related to Issue #6049

[2021-03-09 21:32] #6026 closed, assigned to nobody

[2021-03-09 21:33] stolsvik commented on #4578
I'd just want to chime in with a comment from a user: This sounds _very_ promising. I've been looking at the rename with dread, we have literally tons of projects using the Servlet API, we have several common libraries that also use and expose the Servlet API, and the prospect of having to also make two distinct versions of all these, and the update paths - I feared that we'd have to stay on Jetty

[2021-03-09 21:35] stasptr commented on #6050
[native-jetty-websocket-example.zip](https://github.com/eclipse/jetty.project/files/6111522/native-jetty-websocket-example.zip)

Here is modified

https://github.com/jetty-project/embedded-jetty-websocket-examples/tree/master/native-jetty-websocket-example

changes:
version set to: 9.4.36.v2021011

server:
                // required for test: buffer < message size
                nativeWebSocketC

[2021-03-09 21:56] joakime commented on #4578
That's incredibly unlikely, the technologies of the open internet move far faster than that.
I predict that you will reach a point in the next 6 years where the browsers and protocols have moved at such a pace that your old code is no longer viable, and you have no options that will let you fix your code with the `javax.<spec>` technologies.

Jetty has multiple versions supported right now.
From :

[2021-03-10 09:11] #6020 closed, assigned to janbartel

[2021-03-10 09:11] gregw commented on #3676
See comments in #3677: perhaps we should add an optional  NotFound cache to the `WebAppClassLoader`

[2021-03-10 10:09] janbartel commented on #6040
Remember that  annotation scanning is not, and should not be done by loading classes off the classpath, but by scanning the `.class` files themselves. Thus, we look at the container classpath and all its parents trying to find urls of its jars/dirs etc - this can be tricky when classloaders in the hierarchy are not URLClassloaders.  We don't examine every container classpath jar/dir for annotation

[2021-03-10 12:31] stolsvik commented on #6040
Okay, so then, in addition to your three solutions, this was the one that I actually was looking for all the time?

[code]

The pattern not having been tailored for speed quite yet, but still - this is exactly what I was expecting from the start..
_Edit, just for future reference: Here's a better pattern that accomplishes the exact goal: Including classes from the build dir, and the two needed spr

[2021-03-10 13:45] joakime commented on #6040
If you value startup speed, look into the build-time `WEB-INF/quickstart-web.xml` generation and the runtime [QuickStartWebApp](https://github.com/eclipse/jetty.project/blob/jetty-9.4.38.v20210224/jetty-quickstart/src/main/java/org/eclipse/jetty/quickstart/QuickStartWebApp.java) instead of the `WebAppContext`

https://www.eclipse.org/jetty/documentation/jetty-9/index.html#quickstart-webapp

We hav

[2021-03-10 13:52] janbartel commented on #6040
Great that you've got a solution that's working. I'll go ahead and close the issue now.

[2021-03-10 13:52] #6040 closed, assigned to janbartel

[2021-03-10 14:36] joakime opened #6052 "Cleanup TypeUtil and ModuleLocation to allow jetty-client/hybrid to work on Android"
**Jetty version**
9.4.x

**Java version**
Android

**OS type/version**
Android

**Description**
When attempting to use `jetty-client-<ver>-hybrid.jar` on Android.
The `TypeUtil` has an optional dependency on `ModuleLocation` which uses `MethodHandle.invoke` and `MethodHandle.invokeExact`, both of which are not supported by Android (yet)

Attempt to make the use of `ModuleLocation` in a more option

[2021-03-10 21:02] sbordet opened #6054 "Review OCSP support"
**Jetty version**
10.0.x

**Description**
OCSP (Online Certificate Status Protocol) is supported by the JDK, but only by setting JVM-wide properties.

As such it won't be possible to have 2 different TLS connectors configured differently, or a proxy with client and server configured differently.

The OCSP support in `SslContextFactory` should be reviewed and possibly deprecated, likely in favor of

[2021-03-10 22:01] stolsvik commented on #6040
Maybe not a bug wrt. how you have specified this to work, but it is very non-intuitive and makes it even harder than necessary to understand how to configure and use Jetty - it often feels like "hammer all kinds of buttons, googling hard, until it suddenly works". Googling for this problem should give a clear indication of that.

I'd still argue that you could have done something with this:

_Wrt.

[2021-03-11 04:28] #6008 closed, assigned to lachlan-roberts

[2021-03-11 10:56] janbartel commented on #6040
According to the servlet spec, the classpath and the path of what gets scanned for annotations is very much different: for example when looking for annotations you must exclude class files that originate in a jar that has been excluded by an ordering in web.xml, regardless of whether it is on the classpath or not.

I think you kind of snookered yourself at the outset by commenting out WebInfConfig

[2021-03-11 12:45] joakime commented on #6050
Opened PR #6056

[2021-03-11 23:39] mcslr opened #6058 "ALPN negotiation failing for HTTP/1.1 when HTTP/2 is enabled"
**Jetty version**
9.4.35.v20201120

**Java version**
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment (build 11.0.10+9)
OpenJDK 64-Bit Server VM (build 11.0.10+9, mixed mode)

**OS type/version**
Linux Ubuntu 18.04
macOS Catalina 10.15.3

**Description**

Hi everyone,

I have [dropwizard](https://github.com/dropwizard/dropwizard) service with [HTTP/2 connector](https://www.dropwiza

[2021-03-12 07:40] bhawani1978 opened #6059 "Embedded Jetty stops responding and then hangs while stopping"
**Jetty version** 9.4.33.v20201020

**Java version** JRE-8u271

**OS type/version** Windows Server

We are running embedded jetty in our java application, and perform a health check by calling a simple webservice, which just returns a success status. This health check done in main thread about every 1 minute and if we don't get response in time out interval (20 seconds), then we try to restart emb

[2021-03-12 09:12] sbordet commented on #6058
DropWizard does not use the `ALPNServerConnectionFactory` correctly.

What is passed to the constructor is the list of ALPN protocols that will be negotiated.

Using the `ALPNServerConnectionFactory` no-args constructor will derive the list from all available `ConnectionFactory`s registered with the connector, which will include HTTP/1.1.

[2021-03-12 09:12] #6058 closed, assigned to nobody

[2021-03-12 09:42] sbordet commented on #6059
Sorry, it's not clear what you're doing, nor where the problem is.

From your logs I see server-side logs when from your description you have a problem in the client, so it's not clear if you have a client problem contacting an external webservice, or you also run the webservice with Jetty?
Is the problem in the client or in the server?

It's not clear what you mean by "restart Jetty" because you'

[2021-03-12 12:28] joakime commented on #6059
Idle timeout rarely point at anything useful for troubleshooting this.
It only means you have a client connection that hasn't been closed by either the client or server side.

When you experience a "hung jetty", do the following, before your restart.

* Collect the Server State Dump - https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jetty-server-dump
  * Make sure you have `QueuedThr

[2021-03-14 20:25] aisbergde opened #6060 "improve documentation how to setup and start on windows (also for non Java developers, but just normal users)"
**Jetty version**
11.0.1

**Java version**

**OS type/version**
Windows

**Description**

https://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html#og-begin-install
is written for Linux users, or Unix users or whatever

add some more instructions, what to do on Windows to be able to start
- setting required environment variables (it is not so easy as on unix per command line

[2021-03-15 05:18] saturna commented on #4834
I have ran into identical issue with Jetty 9.4.37 in our OSGi project. The fix was to append "org.apache.el.util" to MANIFEST's Import-Package for org.mortbay.apache-jsp bundle. As per error, this bundle makes use of org.apache.el.util.JreCompat, but it doesn't import it. I think there is some confusion around which packages org.mortbay.apache-jsp contains, the source bundle includes org.apache.el

[2021-03-15 16:21] sergiuhlihor opened #6061 "Glassfish mail implementation replacement"
The current Jetty-All artefact depends on javax.mail.glassfish version 1.4.1.v201005082020, which looks to be an implementation of javax.mail version 1.4.1.

The API itself is now under jakarta.mail and the latest version is 2.0.0  which is slightly different than 1.x.x version. This makes the usage of both API versions in a project problematic. Would be worth to investigate if whole dependency co

[2021-03-15 16:33] joakime commented on #6061
jetty-all is not, and cannot contain all of Jetty.
jetty-all is not meant to be used by build tooling, it only exists as a documentation feature to demonstrate simple (as in 1 class) embedded usage.

See https://www.eclipse.org//lists/jetty-users/msg06030.html

It has been fully removed in Jetty 10+

If the the glassfish mail impl is present in jetty-all, I would consider that a high priority bug,

[2021-03-15 16:36] joakime commented on #6061
Also, jakarta-mail-api 2.0.0 is for Jakarta EE 9+, as it contains the "big bang" namespace change from `javax.mail` to `jakarta.mail`.

The jakarta-mail 2.0.0 artifact would only be compatible with Jetty 11+.

[code]

[2021-03-15 16:41] joakime commented on #6061
Just checked the jetty-all artifact from `9.4.38.v20210224`, glassfish and javax.mail are not present.
No work needs to be done here.

[2021-03-15 16:41] #6061 closed, assigned to joakime

[2021-03-15 16:51] sergiuhlihor commented on #6061
We are managing dependecies with Gradle and according to it (gradle dependencies), it is there (leaving aside the fact that we are actually using jetty-all and not only what we need). Here is what I see with gradle:
|    |    +--- org.eclipse.jetty.aggregate:jetty-all:9.4.38.v20210224
|    |    |    +--- org.eclipse.jetty:jetty-client:9.4.38.v20210224
|    |    |    |    +--- org.eclipse.jetty:jet

[2021-03-15 16:56] joakime commented on #6061
For Jetty 9.x on Java EE 7 / Servlet 3.1, you have only 2 options (the official jar, or our orbit jar), both on the same version.

Glassfish Mail 1.4.1 - https://search.maven.org/artifact/org.glassfish.api/mail

There are no other versions available.

[2021-03-15 17:06] janbartel commented on #6061
@sergiuhlihor some of the jetty 9.4.x poms do reference glassfish javax.mail, but _only_ to compile against. We stopped distributing the javax.mail jars with jetty as it was getting too complex:  the philosophy of the oracle guys was to put the api and the impl in the _same_ jar, rather than keeping them separate.  So now, for example, you will see that the jetty-jndi/pom.xml references the glassf

[2021-03-15 17:14] sergiuhlihor commented on #6061
Ok, thanks for clarification! I think it all looked confusing because in development environment this dependency is pulled and referenced, then gradle dependencies was showing it. We will switch to individual jars as needed.

[2021-03-15 18:54] joakime opened #6063 "Allow override of hazelcast version when using module"
**Jetty version**
9.4.x

**Description**
The hazelcast version in the various session-store-hazelcast-*.mod files are hardcoded.
Expose a property that can be used to override the version.

[2021-03-16 06:28] bhawani1978 commented on #6059
I mean Restart jetty, by calling server.stop() and then server.start().

[2021-03-16 06:35] bhawani1978 commented on #6059
I see two jetty threads waiting at WindowsSelectorImpl$SubSelector.poll0, rest are at Unsafe.park.

"qtp2056418216-11752" Id=11752 TIMED_WAITING on java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject@110f2e5d
    at sun.misc.Unsafe.park(Native Method)
    -  waiting on java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject@110f2e5d
    at java.util.concurrent.locks

[2021-03-16 10:41] sbordet commented on #6059
That's normal.

You should report what happens when this client fails, and in what status the server is when the server fails.
Please call `Server.dump()` and report the resulting string in this issue.

So far, what you have reported is a normally, perfectly working server.
We need to know exactly what happens at the moment the client fails.

[2021-03-16 12:28] ChameleonTartu opened #6065 "Is there a way to lend on a single Jetty version for Spring Boot and Wiremock projects?"
**Jetty version**
9.2.28.v20190418
9.4.38.v20210224

**Java version**
11.0.9-amzn

**Question**
I have trouble making Spring Boot 2.4.3 and Wiremock 2.27.2 to work together as they contain incompatible jetty versions stated above. Is there a way to fix this?

I posted [StackOverflow QA](https://stackoverflow.com/questions/66641334/how-to-resolve-nested-exception-is-java-lang-noclassdeffounderror-o

[2021-03-16 14:05] joakime commented on #6059
@bhawani1978 what are the results of the information collection [outlined in my prior comment](https://github.com/eclipse/jetty.project/issues/6059#issuecomment-797460267)?

[2021-03-16 14:08] joakime commented on #6065
Use the `jetty-bom` in your build tooling.

https://search.maven.org/artifact/org.eclipse.jetty/jetty-bom

That will align the versions to a single one.

[2021-03-16 14:11] joakime commented on #6065
Also, make sure you are using the `java8` versionset for Wiremock - https://github.com/tomakehurst/wiremock/blob/2.27.2/build.gradle#L49-L56

For example, if you are using maven, use the `wiremock-jre8` release ...

https://search.maven.org/artifact/com.github.tomakehurst/wiremock-jre8/2.27.2/pom

[2021-03-16 16:05] ChameleonTartu commented on #6065
@joakime Thank you for the answer! It helped a lot!

[2021-03-16 16:05] #6065 closed, assigned to nobody

[2021-03-16 16:24] bhawani1978 commented on #6059
As of now we are not taking server.dump before stopping. We will make changes to capture before trying to restart.

Also are we having time out of 20 seconds too low before trying to restart, which is causing the problem while stuck in stop.

[2021-03-16 16:39] bennAH commented on #4964
@joakime My bad it's been a while.

I fully understand your point and currently considering alternatives. I'm still intrigued though, the timings above where just for the _constructor call only_ for the MessageWriter without doing any writes. Why is this part expensive?

[2021-03-16 19:09] joakime commented on #6059
Keep in mind that we are not asking for a memory dump, or a class dump, or any other kind of normal JVM dump.

We are specifically asking for a Jetty `Server.dump()`.
You can access this from JMX as an operation on the server.

[2021-03-16 19:36] wimjongman opened #6066 "GzipHandler cannot be found"
**Jetty version: 9.4.15**

**Java version: jdk-11.0.8.10-openj9**

**Question**
I'm running Eclipse BIRT which tries to start Jetty. Jetty crashes with a Gziphandler cannot be found. I have attached a log. Any pointer is appreciated.

[log.txt](https://github.com/eclipse/jetty.project/files/6151782/log.txt)

[2021-03-16 19:42] joakime commented on #6066
Sounds like you don't have `jetty-server-<ver>.jar` present on your classpath.

[2021-03-16 19:45] wimjongman commented on #6066
I do have it. However, I wonder why the log talks about `org.eclipse.jetty.osgi.boot_9.4.15.v20190215`

That does not look synchronized with the actual values I find in my plugins.

[code]

[2021-03-16 23:32] wimjongman commented on #6066
Ok, that was it. The feature included o.e.j.osgi.boot from an older Eclipse installation. Thanks for listening.

[2021-03-16 23:32] #6066 closed, assigned to nobody

[2021-03-17 09:03] sbordet opened #6067 "Easier access to invalid client certificates"
**Jetty version**
10.0.x

**Description**
During the TLS handshake, in case of `needClientAuth`, the client may send an invalid (e.g. expired) certificate.
The validation checks are performed by the `TrustManager` and if they fail there is no way to access the expired client certificate, for example in `SslHandshakeListener.handshakeFailed()`, as it is not exposed via `SSLSession.getPeerCertificat

[2021-03-17 09:56] joschi commented on #6058
@sbordet Thanks for the pointer!

Would you have a suggestion how to configure a Jetty `HttpClient` to use ALPN but force selecting HTTP/1.1, similar to how `curl --http1.1 https://example.com/` would perform?

I've tested it manually in https://github.com/dropwizard/dropwizard/pull/3786, but didn't find a way to reproduce this behavior with `HttpClient`, `HttpClientTransportOverHTTP2`, and `HTTP2

[2021-03-17 10:33] sbordet commented on #6058
@joschi in Jetty 9.4.x you can configure the client to use just one transport at a time. Either HTTP/1.1, or HTTP/2.

You do so by passing the specific transport to `HttpClient`. If you pass `HttpClientTransportOverHTTP2`, then `HttpClient` only speaks HTTP/2.

You can have 2 `HttpClient`s configured one with the HTTP/1.1 transport and the other with the HTTP/2 transport.

In Jetty 10 we have solv

[2021-03-17 10:41] lachlan-roberts commented on #6050
This is now fixed with PR #6056.

[2021-03-17 10:41] #6050 closed, assigned to lachlan-roberts

[2021-03-17 10:43] joschi commented on #6058
Yes, it's planned for Dropwizard 3.0.x. I was hoping to be able to verify it in Dropwizard 2.x with Jetty 9.4.x too, but for now manual verification will have to suffice.

Thanks! 😄

[2021-03-17 10:49] sbordet commented on #6058
@joschi as I said, automatic verification in a test is possible with 2 `HttpClient` instances, should not be a big issue (let us know if it is).

As for DW 3.0.x, are you planning to skip Jetty 10 (and `javax.*`) to going straight to Jetty 11 (and `jakarta.*`)? Just curious.

[2021-03-17 10:59] joschi commented on #6058
@sbordet We're using two HTTP clients in our tests:
https://github.com/dropwizard/dropwizard/blob/f544c025c8d62db8463c8e6e680102f4c90ae6c2/dropwizard-http2/src/test/java/io/dropwizard/http2/AbstractHttp2Test.java#L41-L45

But as far as I could see, the HTTP/1.1 client (`http1Client` in the example) wouldn't use ALPN to negotiate the protocol.

We're planning to go directly to the Jakarta namespace

[2021-03-17 13:53] sbordet commented on #6058
That is correct in Jetty 9.4.x. Jetty 10+ would.

[2021-03-17 14:09] joschi commented on #6058
@sbordet Got it. thanks for all your help! 😃

[2021-03-17 14:17] sbordet opened #6070 "Symlinked webapps directory should not be deployed"
**Jetty version**
9.4.x

**Description**
Given directory `/some/dir/webapps/` to contain wars to deploy.
Given a `/tmp/jetty.base` so that `/tmp/jetty.base/webapps` is a symlink to `/some/dir/webapps/`, then directory the `webapps` directory is deployed as a web application, as seen in this server dump:

[code]

[2021-03-18 00:02] lachlan-roberts opened #6071 "Jetty 10 WebSocket operations guide documentation had disappeared."
**Jetty version**
10.0.x

**Description**
The Operations Guide websocket documentation introduced in PR #5806 has been somehow removed from the code base and is not present in the 10.0.1 release.

[2021-03-18 00:14] lachlan-roberts commented on #6071
@sbordet I think this was done in commit 480767a03bd3431be4a82355a6cfda0521849df5, the file was renamed to `protocols-websocket.adoc`, but maybe some of the links weren't changed properly.

[2021-03-18 02:45] xiezhaokun opened #6072 "High CPU usage when TLS client sends TLS Record data exceeding length 17408"
**Jetty version**
9.4.36.v20210114

**Java version**
openjdk 8u272

**OS type/version**
linux

**Description**

When using a socket to send data with a size greater than 17408, an endless loop will occur in the jetty server.
The following demo can reproduce this problem：

[code]

[2021-03-18 13:15] joakime commented on #6072
Branch [jetty-9.4.x-6072-ssl-cpuspin](https://github.com/eclipse/jetty.project/tree/jetty-9.4.x-6072-ssl-cpuspin) created.
Testcase added in commit f1c3c2ef1288a5b2061e1761c8e5dbd7e5b72ebe

[2021-03-18 14:09] joakime commented on #6072
Per TLS/1.1 spec ...

https://tools.ietf.org/html/rfc4346#section-6.2.2

2^14 + 1024 = 17408

We are working out why we are not failing when encountering the example TLS Frame with spec invalid excessive length.

[2021-03-19 09:19] xiezhaokun commented on #6072
I think `_encryptedInput` can be expanded to `SSLRecord.maxLargeRecordSize` , some SSL/TLS implementation support large fragment upto 2^15, you can sess the more information about `maxRecordSize` and `maxLargeRecordSize` in jdk.
[code]

[2021-03-19 12:21] sbordet commented on #6072
@xiezhaokun we don't want to use larger buffers if it's not necessary.
We ask the TLS implementation what size to use and we use that.

If the first buffer we read is legit and really the TLS data does not fit it, we will read the TLS data in 2 reads and then the TLS implementation should adjust to use larger buffers.
The next reads we will use larger buffers.

We want to avoid spinning in case of

[2021-03-21 03:10] parmindersk opened #6076 "Embedded Jetty throws null pointer exception"
**Jetty version**
11.0.1
**Java version**
11
**OS type/version**
MacOX
**Description**
I'm using [this code][1] verbatim to run an embedded Jetty server.

HTTP calls work totally fine. However, HTTPS calls start failing after sometime with a null pointer exception

    java.lang.NullPointerException
    	at org.eclipse.jetty.server.SecureRequestCustomizer.customize(SecureRequestCustomizer.java:247

[2021-03-21 09:00] gregw commented on #6076
@parmindersk there is something strange about your stacktrace and report.
For me line (SecureRequestCustomizer.java:247) is
[code]

So line 247 could throw a NPE if sslSession was null, but if that was the case then line 246 would have thrown.
The other option is that `getLocalCertificates()` returns null.

If `sniHost` is null, it looks to me that it is null protected later on, so it should not t

[2021-03-21 13:26] parmindersk commented on #6076
@gregw These are my versions:
[code]
Regarding code, the lines are on the same lines that you mention.

For now, I disabled the sniHostCheck and it has been working fine since then.

[code]

[2021-03-22 00:34] parmindersk opened #6077 "HTTPS calls from browser fail but work from POSTMAN/curl"
**Jetty version**
11.0.1
**Java version**
11
**Question**
I'm run an embedded Jetty server based on [this code][1].

HTTP calls work totally fine. HTTPS calls from POSTMAN/curl work fine. However, when opening the page from Chrome I always get ERR_CONNECTION_CLOSED and nothing loads. Other browsers also do not load the page. The certificate is valid.

Is this a known issue? Also, how do I enable l

[2021-03-22 00:39] gregw commented on #6077
Can you try running with `-Djavax.net.debug=all` as that may tell us why the connection is being rejected.
It could be a TLS version issue.

[2021-03-22 00:55] parmindersk commented on #6077
@gregw  I see a lot of logging now. What do I look for? Log from 1 transaction attached.

[dbg.log](https://github.com/eclipse/jetty.project/files/6178771/dbg.log)

[2021-03-22 01:22] gregw commented on #6076
I've created PR #6078 to handle the only NPE I see possible there.  The connection will still likely fail with, but with a 400 Bad Request response

[2021-03-22 02:01] gregw commented on #6077
So I just tried the Http2Server code from both 9 and 10 branches with the keystore that is provided. Both worked fine with Chrome.
Can you verify that it works for you if you use the same keystore?

I looked briefly at your dbg.log, but can't see anything obvious other than several retries.  Perhaps compare to a successful connect from curl?

[2021-03-22 03:08] gregw opened #6079 "JSSE wrapper for OpenSSL"
Make OpenSSL available via a JSSE wrapper for fast SSL

[2021-03-22 05:25] gregw commented on #6017
@sbordet what is the status of this? Can we close?

[2021-03-22 05:26] #6001 closed, assigned to gregw

[2021-03-22 05:30] #5996 closed, assigned to joakime

[2021-03-22 05:31] #2517 closed

[2021-03-22 05:31] #5254 closed, assigned to gregw, WalkerWatch

[2021-03-22 05:35] gregw commented on #5990
closing for now. Please reopen if we have not answered your question.

[2021-03-22 05:35] #5990 closed, assigned to nobody

[2021-03-22 06:00] gregw commented on #5970
I cannot reproduce with 9.4.38:
[code]

This has been the behaviour for some time. It was added when we made it an error to have both `start.d` and a `start.ini`.

I'm closing this for now. Please reopen if you can reproduce.

[2021-03-22 06:00] #5970 closed, assigned to nobody

[2021-03-22 06:03] #5078 closed, assigned to nobody

[2021-03-22 06:04] #4951 closed, assigned to nobody

[2021-03-22 06:26] lachlan-roberts commented on #4964
@bennAH it should not be an expensive operation to create the `MessageWriter`. The constructor doesn't really do much other than allocate a buffer from the `ByteBufferPool`. How are you measuring the time spent in the constructor call?

[2021-03-22 09:07] sbordet commented on #6079
Java 16 has better native integration via the Panama project (under incubation, but still), see https://openjdk.java.net/jeps/389 and https://openjdk.java.net/jeps/393

[2021-03-22 10:28] #5835 closed, assigned to gregw

[2021-03-22 11:16] gregw commented on #5684
@joakime @sbordet @gregw   I've assigned this issue to all of us.  We need to address this list by fixing/reviewing tests in our areas and once done, remove yourself from the assigned list.
Last person to do so, get's left with all the left over ones to fix!!!

[2021-03-22 14:56] sbordet commented on #6076
@gregw I don't understand how it was possible to receive a request on a TLS connection whose server-side did not send a certificate to the client.

I think your null check on the PR is unnecessary but a simple null check won't harm much.

I think the problem reported in this issue is a different one however.

@parmindersk can you reproduce the problem with full DEBUG logs enabled and attach the lo

[2021-03-22 15:58] mattnelson commented on #5984
After quite a bit more trial and error this seemed to be the only solution I could get working in time I had available.

[2021-03-22 15:58] #5984 closed, assigned to nobody

[2021-03-22 22:14] gregw opened #6082 "SslConnection compacting"
From fixing #6072, it became apparent that the SslConnection compacts buffers frequently.  Performance can be improved if compaction is only done when needed.

[2021-03-23 01:29] parmindersk commented on #6077
@gregw  even with self signed cert it's the same issue. Whenever it fails, I see the following statements at the end.

javax.net.ssl|ALL|12|qtp1486726131-18|2021-03-22 21:27:51.764 EDT|SSLEngineImpl.java:743|Closing outbound of SSLEngine
javax.net.ssl|WARNING|12|qtp1486726131-18|2021-03-22 21:27:51.765 EDT|SSLEngineOutputRecord.java:168|outbound has closed, ignore outbound application data

[2021-03-23 01:46] gregw commented on #6077
Can you try with some different JVMs?  try 14 and/or 8. Also update your 11 if it is not recent.

[2021-03-23 01:48] parmindersk commented on #6077
I'll try that. Something interesting - it works from Eclipse. When I build it and run as an executable JAR from command line it doesn't. Eclipse and my system use the same Java. Could be something classpath too?

[2021-03-23 02:37] parmindersk commented on #6077
Update Java. That didn't work either.

[2021-03-23 08:50] mperktold opened #6084 "GzipHandler: NPE in setDeflaterPoolCapacity and setInflaterPoolCapacity"
**Jetty version**
10.0.1

**Description**
There is a NPE when calling `GzipHandler.setDeflaterPoolCapacity` or `GzipHandler.setInflaterPoolCapacity`. The given capacity is passed to the setter of the inflater/deflater pool, but the pool is null before the handler is started, and it is illegal to call the methods on a started handler.

The bug was introduced as a combination of 3bdd82eb5ef1c9426eae

[2021-03-23 08:52] sbordet commented on #6084
@mperktold would you like to submit a pull request?

[2021-03-23 08:54] mperktold commented on #6084
@sbordet I can do that.

Would you prefer to introduce separate fields for the capacities, or to create the pools in the constructor?

[2021-03-23 09:08] sbordet commented on #6084
@mperktold to create the pools you need the `server`, which is not passed to the constructor, so go with separate fields for the capacities.

[2021-03-23 09:34] gregw commented on #6084
Note we will be doing a 10.0.2 release soon, so if @mperktold can do a PR soon then great... if not @lachlan-roberts can you look at this before 10.0.2

[2021-03-23 11:28] mperktold commented on #6084
I wanted to pass the new capacity fields to the corresponding setter of the pools after creating them in `doStart`, but that doesn't work since the pools returned from `ensurePool` methods are already started, and changing capacity afterwards is illegal.

Should I pass the capacity as an additional parameter to `ensurePool`, leaving the current signature as an overload that passes `CompressionPool

[2021-03-23 12:26] ssoec4u opened #6085 "Jetty keeps Sessions in use after "Duplicate valid session cookies" Message"
**Jetty version**
9.4.26

**Java version**
openjdk version "10.0.2" 2018-07-17

**OS type/version**
CentOS Linux 7 (core)

**Description**
After getting org.eclipse.jetty.http.BadMessageException: 400: Duplicate valid session cookies jetty keeps the duplicate sessions in use state (request counter in session >0). Thats why these session will not be invalidated by the HouseKeeper-Thread.
Is this a

[2021-03-23 13:23] lachlan-roberts commented on #6084
I think we should actually just deprecate both these methods. It doesn't seem much correct to have `setDeflaterPoolCapacity()` and `setInflaterPoolCapacity()` on the `GzipHandler` when it is using CompressionPools shared with the whole server.

If you wish to use a pool with a custom capacity you should create the pool yourself and add it as a bean to the server. Then the call to ensure pool in th

[2021-03-23 14:16] CodeExc opened #6086 "Close active connections without a restart"
Jetty version: 11.0.0

Java version: openjdk 1.8.0_271

Question:
We are using jetty as a simple/small forward proxy with InetAccessHandler to block ip addresses and traffic.
Is it possible to disconnect active connections (http-tunnels or websockets) from the server side?

[2021-03-23 15:14] mperktold commented on #6084
@lachlan-roberts That sounds reasonable to me.

If we choose this path, the deprecated capacity setters wouldn't do anything apart from throwing if already started, right?

[2021-03-23 19:59] gregw commented on #6084
I think the deprecated methods should log warnings if called, but otherwise be a noop, but ok to throw if started.

[2021-03-23 20:00] gregw commented on #6084
Also planning to build releases in the next 24 to 48 hours

[2021-03-23 20:07] gregw commented on #6086
If you sending a response on the connection, you can add the `Connection: close` header that will force a http1 connection to close after the response is sent.

Otherwise, you can use jetty APIs to get to the Connection instance and close it. Servers are entitled to close idle connections at any time.

I think you can also dynamically set a very short idle timeout .

So there are options, but deta

[2021-03-23 21:08] gregw commented on #6082
This could be cherry picked back to 9 once it has proven stable in 10.

[2021-03-23 21:18] gregw commented on #6076
This could be cherry picked back to jetty-9 once it proves stable in jetty-10

[2021-03-23 23:09] janbartel commented on #6085
@ssoec4u I will put in a fix for this to ensure that duplicate valid sessions have their request counts decremented correctly.

But how the heck did you manage to get multiple sessions with different ids created, and moreover get the client to send more than 1 JSESSIONID cookie?

Also, you're more than 10 releases of jetty behind, it would be best if you could upgrade.

[2021-03-24 01:34] xiezhaokun commented on #6072
In openjdk8u272 , SSLEngineImpl#readRecord method, when packet length > Record.maxRecordSize && length <= Record.maxLargeRecordSize ,  it will expand buffer size. But In jetty, I did not find where to expand the _encryptedInput.
[code]

[2021-03-24 02:19] gregw commented on #6072
@xiezhaokun We currently do not expand the buffers beyond the sizes provided by SSLSession::getApplicationBufferSize and  SSLSession::getPacketBufferSize
Maybe there is a use-case, but we need to consider it carefully to avoid creating overly large buffers which might result in a DOS.

So for now, we just want to fix the 100% CPU issue.

Then in a later release we need to understand why a frame mi

[2021-03-24 02:33] janbartel commented on #6085
Fixed via #6088.

[2021-03-24 11:33] CodeExc commented on #6086
Many thanks for the help. I found a good solution.

From the ServerConnector you can get all ConnectedEndPoints and close single connections.

Example:
[code]

[2021-03-24 11:33] #6086 closed, assigned to nobody

[2021-03-24 14:40] rdicroce opened #6098 "jetty-cdi is missing from jetty-bom"
**Jetty version**
10.0.1

**Java version**
11.0.8

**OS type/version**
Windows 10 Pro 20H2

**Description**
The title says it all. jetty-cdi is missing from jetty-bom and should be added.

[2021-03-24 15:19] izstas opened #6099 "Cipher preference may break SNI if certificates have different key types"
**Jetty version**
10.0.1

**Java version**
15.0.2

**OS type/version**
Windows 10.0.19042.867

**Description**
When the keystore contains certificates with keys of different types, cipher preference seems to take precedence over SNI.

Example setup:

- a keystore with:
  - an EC certificate with CN=ec.example.com, SAN = DNS:ec.example.com
  - an RSA certificate with CN=rsa.example.com, SAN = DNS:r

[2021-03-24 21:15] sbordet commented on #4318
Fixed in 10.0.0 via #4556.

[2021-03-24 21:19] sbordet commented on #5250
Done in 10.0.1.

[2021-03-24 21:19] #5250 closed, assigned to nobody

[2021-03-25 00:23] lachlan-roberts opened #6100 "Fix Jetty-10 failing tests on Windows."
**Jetty version**
10.0.x

**Description**
Multiple tests are failing when the jetty-10.0.x tests are run on windows, these should be reviewed and fixed.

[2021-03-25 01:59] #6085 closed, assigned to janbartel

[2021-03-25 06:02] olamy opened #6101 "Normalize ambiguous URIs"

[2021-03-25 06:04] olamy opened #6102 "Exclude webapps directory from deployment scan"

[2021-03-25 08:32] ssoec4u commented on #6085
The problem can be understood if you call up a web link from an Excel (Microsoft) in a Window 10 with the current IE Edge. The condition is that the website uses session cookies for this.
If you then call up the link at least twice, the message appears in the log file.

[2021-03-25 13:29] bjorncs opened #6105 "HttpConnection.getBytesIn() incorrect for requests with chunked content"
**Jetty version**
9.4.38.v20210224

**Java version**
11.0.7+10

**OS type/version**
MacOS 10.15.7

**Description**
`HttpConnection.bytesIn` is only aggregated when `fillRequestBuffer()` is called from `onFillable()`, not from `fillAndParseForContent()`. The result is that `HttpConnection.getBytesIn()` reports a value lower than than the actual number of bytes filled. I have been able to reproduce

[2021-03-25 14:38] rdicroce opened #6106 "WebSocket/CDI integration is broken in Jetty 10"
**Jetty version**
10.0.1

**Java version**
11.0.8

**OS type/version**
Windows 10 Pro 20H2

**Description**
Classes annotated with `@ServerEndpoint` do not receive CDI integration. You can reproduce the problem easily by upgrading https://github.com/jetty-project/embedded-jetty-weld to Jetty 10. The code needs a few tweaks since some things were moved around, but after that's fixed, you'll notice

[2021-03-25 17:04] sbordet commented on #6105
@bjorncs thanks for the report, we'll work on the Jetty issue.
How urgent is this for you?

[2021-03-25 17:33] sbordet commented on #6099
@izstas can you please attach the DEBUG logs for both cases?

[2021-03-26 08:31] bjorncs commented on #6105
It's not a blocker - we only use the value for logging purposes at the moment.

[2021-03-26 12:27] sbordet commented on #6105
@bjorncs can you try the code in PR #6108?

[2021-03-26 16:04] sbordet opened #6109 "Introduce carriers for HttpClient transports"
**Jetty version**
10.0.x

**Description**
Java 16 introduced UnixDomain support (#6043).
HTTP3 over QUIC is another option.

We need a way to "carry" protocol-specific bytes (e.g. HTTP/1.1 bytes or HTTP/2 bytes or HTTP/3 bytes) using different "carriers", i.e. via TCP, UnixDomain, or QUIC (over UDP).

A proposal is the following:

[code]

The idea is that when we need to open a new carrier endpoin

[2021-03-28 18:51] jmcc0nn3ll opened #6110 "Asciidoc plugin declaration incorrect"
**Jetty version**

Jetty 9.4, 10, 11

**Java version**

**OS type/version**

**Description**

Plugin configuration specific to a module should exist in that module.  Furthermore the JDURL was incorrect for the current location of published javadoc on eclipse.org/jetty and this commit addresses that.

[2021-03-29 14:33] sbordet opened #6112 "Jetty logging service file leaking to web applications"
**Jetty version**
10.0.x

**Description**
Deploying a simple `*.war` file containing `slf4j-api-2.0.0-alpha1.jar` and `slf4j-simple-2.0.0-alpha1.jar`, with a class that triggers SLF4J (e.g. Jetty's `CrossOriginFilter`), the following happens:

[code]

The `*.war` file does not contain at all any reference to `JettyLoggingServiceProvider`, so it must be leaking from the server class-loader as a _re

[2021-03-29 14:33] sbordet commented on #6112
Originally reported as https://github.com/cometd/cometd/issues/1013.

[2021-03-29 14:50] joakime commented on #6112
So the WAR / WebAppClassloader allows the resource `META-INF/services/org.slf4j.spi.SLF4JServiceProvider` to be found and returned to the ServiceLoader, but the class it points to is still filtered out by the classloader isolation.  Ugh.

Wonder how hard it would be to just remove the logging from CrossOriginFilter?

[2021-03-29 14:51] joakime commented on #6112
Or, do we want to expose the jetty logger in the WebAppClassLoader if it's used?

But what happens if someone uses CrossOriginFilter and say logback on the server?

[2021-03-29 14:53] #6110 closed, assigned to nobody

[2021-03-29 14:55] joakime commented on #6112
In Jetty 9, the jetty logger from the server side is always expose to the webapps.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.39.v20210325/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/WebAppContext.java#L123

https://github.com/eclipse/jetty.project/blob/9fc7ca5a922f2a37b84ec9dbc26a5168cee7e667/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/WebAppContext.java#L123

Perhap

[2021-03-29 14:58] sbordet commented on #6112
That's the hypothesis, needs to be verified.

[2021-03-29 14:59] sbordet commented on #6112
I don't think so... I think the `WebAppClassLoader` should hide resources too, not only classes, IFF the hypothesis is correct.

[2021-03-29 17:08] wcedmisten opened #6113 "jetty-maven-plugin logging "scanned from multiple locations" on conflicts between .m2 and WEB-INF directories"
**Jetty version** 9.4.38.v20210224

**Java version** Scala 2.11.7

**Question** How to resolve duplicate class scans between .m2 and WEB-INF jars.

When I run `mvn jetty:run`, I get copious warnings about classes "scanned from multiple locations". The first location being in my .m2 cache directory and the second being my WEB-INF directory for the webapp I'm trying to test. I believe the WEB-INF ja

[2021-03-29 17:41] jmcc0nn3ll commented on #6112
I am with Simone on that, by default should be excluded but we could certainly have a property with the mod file for logging that you can edit in your base to expose if you so desire.

[2021-03-29 19:32] joakime opened #6114 "Jetty Deploy scan / symlink behavior is broken"
**Jetty version**
9.4.39.v20210325

**Java version**
Java 11

**OS type/version**
Linux / OSX

**Description**

Lets say we have a `${jetty.base}` that has 3 entries in `webapps/`, all symlinks, pointing to the same exploded webapp.

[code]

When we try to deploy this setup, we see that the symlink directory names are not honored.
And it seems that it only detects 1 webapp, of the 3 desired to be

[2021-03-29 20:09] joakime commented on #6113
Did you do anything to alter (or customize) the default server / container / webapp / webinf jar pattern configurations?

[2021-03-29 20:56] wcedmisten commented on #6113
Do you mean e.g. `<webInfIncludeJarPattern>` and `<containerIncludeJarPattern>` under the `<webApp>` tag?

If that's what you mean, no, we didn't include these in the pom.xml when this behavior was occurring.

Ultimately our solution to remove these warnings was to disable annotation scanning by using an exclusive regex for the above jar pattern tags. We only use web.xml rather than annotations fo

[2021-03-29 23:07] gregw commented on #6114
This is strange, because the PR that eventually got merged didn't canonicalize the discovered files and only used `sameFile` to compare them to the root, so the basic approach should work fine for symlinks like you've shown.

Perhaps a canonicalization was left in somewhere?

[2021-03-29 23:30] gregw commented on #6114
The scanner calls `getCanonicalPath` on all discovered files (after calling the filter that was recently fixed).   This has been this way since at least Nov 2019.   Changing that to `getAbsolutePath` appears to fix this problem, but I'm cautious about such changes.   I suggest we change in 10, test, then only after a release that proves it is stable, do we consider cherry-picking back to 9

[2021-03-30 00:09] gregw commented on #6112
Is the `CrossOriginFilter` being loaded from a jar in the webapp, or has it been exposed with `jetty-servlets` and thus loaded from the container classloader?

Eitherway, I think if we are to expose `jetty-servlets` from the server classpath, then we should remove all logging from them as a needless dependency complication.

[2021-03-30 04:33] janbartel commented on #6113
@wcedmisten you can also disable annotation scanning by simply making your web.xml metadatacomplete=true.  If you use jsps in your project, you will need to keep annotation support in there.

I'm still not clear how you have a multiple copies on the classpath. The jetty-maven-plugin synthesizes the equivalent of WEB-INF/lib by using the maven depenencies for the project. Do you have some jars phys

[2021-03-30 05:50] olamy opened #6116 "Hazelcast session manager should have an option to use Hazelcast ReplicatedMap as data structure"

[2021-03-30 06:05] james-z-repo opened #6117 "WebAppClassLoader.getResource() can't find resource when the res is not in WEB-INF/classes"
**Jetty version**
9.4.34.v20201102
**Java version**
1.8
**Question**
mycode：
[code]

![image](https://user-images.githubusercontent.com/33625419/112940952-72922380-9160-11eb-9444-dd4e0871adc4.png)

【Question】
1、why i can't get resource when the resource is not in "WEB-INF/classes"?
2、If I don't change the location of the JSON file, what should I do to get the resource?

[2021-03-30 07:39] izstas commented on #6099
@sbordet

[sniRequiredFalse.log](https://github.com/eclipse/jetty.project/files/6227223/sniRequiredFalse.log) - the log where the Test 1 and then Test 2 are executed, with `jetty.sslContext.sniRequired=false`
[sniRequiredTrue.log](https://github.com/eclipse/jetty.project/files/6227224/sniRequiredTrue.log) - the log where the Test 1 is executed, with `jetty.sslContext.sniRequired=true`

I also can

[2021-03-30 07:44] james-z-repo commented on #6117
i try to used tomcat/tomee，them rewrite findResource to find resource when res is not in WEB-INF/classes，Will jetty consider changing this？

![image](https://user-images.githubusercontent.com/33625419/112951954-7fb60f00-916e-11eb-8cb3-85ec4e01d5d5.png)

[2021-03-30 12:10] jflebeau commented on #6071
Still wondering when the doc for websockets will be available here : https://www.eclipse.org/jetty/documentation/jetty-10/programming_guide.php

[2021-03-30 14:37] joakime commented on #6072
Here's some values from constants within the JVM itself.

**sun.security.ssl.SSLRecord**

[code]

In order for `SSLRecord.maxLargeRecordSize` to be used by the JVM, the system property `jsse.SSLEngine.acceptLargeFragments` needs to be set to `true` (default is `false`).
Once that property is set, the JVM will adjust the `SSLSession.getApplicationBufferSize()` to maxLargeRecordSize (but only if the

[2021-03-30 15:53] joakime commented on #6117
If you want to reference content within your WAR / WebApp, don't use the ClassLoader.
Use the methods on `javax.servlet.ServletContext` instead.

If you want a reference to `zsd.json` as a URL on your local filesystem use (Note: this URL could even point to content within a zipfs or jarfs) ...

[code]

If you want a reference to `zsd.json` as a String path reference use (Note: this can even point

[2021-03-30 16:32] joakime commented on #6117
The `WEB-INF/classes` directory is a ClassLoader root reference.
It could be the zipfs or jarfs location within your WAR. (as zipfs or jarfs, there is nothing "above" it, so references to "../" fail)
Or it could be the exploded work directory location. (servlet spec sometimes calls this the virtual location)
Note that the container is free to move content around to suit its needs.
Exposed content

[2021-03-30 16:34] wcedmisten commented on #6113
I think I figured out what was happening here. For our test process, we build the webapp in one maven command, and then run the jetty maven plugin in another. Apparently, the first step involves copying the webapp files into another directory (I think to integrate them with the frontend code), which is where the duplication was coming from.

My solution was to set `<webInfIncludeJarPattern>` and `

[2021-03-30 21:47] olamy opened #6118 "Display a warning when Hazelcast configuration does not contain Jetty session serializer"
It's possible to configure Hazelcast Session Manager with a single `hazelcast.xml` file but the Jetty session manager needs to have the serializer configured as is:
[code]
If it's not configured we should display a warning in the logs telling the user the Hazelcast Jetty session integration will not work

[2021-03-31 00:08] #6084 closed, assigned to lachlan-roberts

[2021-03-31 00:22] lachlan-roberts commented on #6084
@mperktold PR #6092 fixes this. It also adds `setInflaterPool()` and `setDeflaterPool()` methods to set a custom pool that `GzipHandler` will use. Otherwise it will use the servers pools which are shared with other things like websocket.

[2021-03-31 05:14] mperktold commented on #6084
Great! Yes, I saw you started working on it, thanks!👍

[2021-03-31 23:03] gregw commented on #2627
Test is still disabled

[2021-04-01 10:47] nniv-r7 opened #6121 "SSLHandshakeException in Jetty client when reading long files over SSL"
**Jetty version**
Jetty client 9.4.39.v20210325

**Java version**
1.8.0_281

**OS type/version**
Windows 10

**Description**
While reading long files over SSL (specifically from AWS S3 resource), short files (a few Kbytes) are read OK, but reading a long file terminates with thrown exception "Encrypted buffer max length exceeded", with the stacktrace below. Since it *doesn't happen with 9.4.38.v20

[2021-04-01 12:38] joakime commented on #6121
The message "Encrypted buffer max length exceeded" was introduced as part of PR #6073

[2021-04-01 12:40] joakime commented on #6121
Can you run your client with the JVM System Property `-Djsse.SSLEngine.acceptLargeFragments=true` and see if your AWS S3 tests are happy again?

[2021-04-01 13:02] nniv-r7 commented on #6121
I tried with the system property you suggested - it doesn't fix the issue, the exception is still thrown as described

[2021-04-01 13:15] joakime commented on #6121
I'd like to try to replicate this.
What size file are you downloading?
Can you run with DEBUG logging on? (org.eclipse.jetty.io.LEVEL=DEBUG)

[2021-04-01 14:10] nniv-r7 commented on #6121
Attached the log (with some values redacted), I hope this helps. I believe there are 1 (or 2) successful reads of short file(s) and then a failure on reading a long file.
[jetty-log.txt](https://github.com/eclipse/jetty.project/files/6244118/jetty-log.txt)

[2021-04-01 17:05] lorban commented on #6121
@nniv-r7 that seems to be a regression in 9.4.39 that was introduced as part of PR #6073 as @joakime suggested. We're now busy investigating the best way to test and fix it.

The change that was applied to Jetty 10.0.2 (and 11.0.2) is slightly different and it seems that these versions wouldn't have this problem.

Could it be a possibility for you to try out Jetty 10.0.2 and see if you can reprodu

[2021-04-01 18:13] nniv-r7 commented on #6121
I'll need to check that I can switch this specific usecase from Java 8 to 11 first for that - I'll try and will update if/when I can get it to run.

[2021-04-01 21:53] christophs78 opened #6123 "LinkageError in Weld/CDI in combination with jakarta.servlet.jsp.JspApplicationContext"
**Jetty version**
11.0.2

**Java version**
11.0.10

**OS type/version**
Windows 10

**Description**
Running `mvn clean jetty:run` on https://github.com/primefaces/primefaces-test/pull/76 results in:
[code]

[2021-04-01 22:27] joakime commented on #6123
I was able to reproduce both in `jetty:run` and in a standalone `${jetty.base}`

The base I have ...

[code]

I had to make 2 changes to make it work (in standalone Jetty)

1.  Deleted the weld `Listener` in the primefaces-test `WEB-INF/web.xml` (it's not recommended, and not supported in a cross container way)
[code]

You can see this from the error messages it produces ...

[code]

Let weld use

[2021-04-01 22:58] janbartel commented on #6123
@christophs78 can you confirm that primefaces has been configured for the _container's classpath_ and not on the _webapp's classpath_?  As per instructions in the jetty doco here in section "Using JSF Taglibs": https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jsp-support

[2021-04-02 06:08] christophs78 commented on #6123
Propably stupid question: How can i do
`jetty.webapp.addSystemClasses+=,jakarta.`
via jetty-maven-plugin?

[2021-04-02 06:41] christophs78 commented on #6123
I tried this today, but it does not seem to make a difference. (And this may create new challenges to stay compatible with Tomcat.)

[2021-04-02 08:27] janbartel commented on #6123
@joakime IMO "jakarta. " should definitely be in the default SystemClasses.

[2021-04-02 08:56] janbartel commented on #6123
@christophs78 you don't need to set the system classes. The problem is that weld in transitively pulling in the jakarta.el-api jar, which is duplicating the one that is on the container classpath. You can simply put in:

[code]

Weld should probably have made their dependency `optional`.

[2021-04-02 13:23] joakime opened #6125 "Do not allow override of jakarta.* container classes by webapps per Servlet 5.0 Section 15.2.1"
**Jetty version**
11.0.x

**Description**
As identified in Issue #6123 the `jakarta.*` classes from the container can be overridden by a webapp.

This is incorrect per [Servlet spec Section 15.2.1](https://github.com/eclipse-ee4j/servlet-api/blob/5.0.0-RELEASE/spec/src/main/asciidoc/servlet-spec-body.adoc#1521-web-application-class-loader), and if the `jakarta.*` class exists in the container, the

[2021-04-02 13:25] joakime commented on #6123
Opened PR #6126 for this specifically.

[2021-04-02 14:58] dcitron opened #6127 "WebSockClient handling large websocket messages causes increased heap usage within MappedByteBufferPool"
**Jetty version**
9.4.31.v20200723

**Java version**
1.8.0_282

**OS type/version**
CentOS Linux release 7.7.1908 (Core)

**Description**
We are experiencing a large amount of memory consumption when using `org.eclipse.jetty.websocket.client.WebSocketClient` with Jetty version 9.4.31.v20200723.

We traced the memory utilization back to `org.eclipse.jetty.io.MappedByteBufferPool`. If we understand

[2021-04-02 15:18] jsumedh opened #6128 "Jetty-Server and Jetty-Servlet libraries with version 9.4.36. v20210114 and above do not compile in Android < 26"
**9.4.36.v20210114 and above**

**Java 8**

**Android < 7.0**
**Android SDK < 26**

**Description**

Jetty library modules like jetty-server and jetty-servlets which uses MethodHandle class are not compiled in Android version < 7.0. MethodHandle class is only available in Android SDK 26 and above. Even Desugaring Java 8 APIs not supported for MethodHandle#invoke and MethodHandle#invokeExact method

[2021-04-02 15:41] joakime commented on #6127
I'm assuming you are using Whole Message Delivery (String and ByteBuffer), and not Streaming Message Delivery (InputStream or Reader) to your endpoints.

Yes, this is actually the recommended way.

That's a fair bit of memory usage, but a small maximum memory size for that JVM, especially as you have designed your webapp endpoints to depend on whole message delivery of 20MB messages.

You've actua

[2021-04-02 15:46] joakime commented on #6127
Do you have a reproducer?

We are attempting to to reproduce, but are lacking details of your usage of the websocket APIs.

[2021-04-02 15:49] joakime commented on #6127
There's also the `org.eclipse.jetty.io.NullByteBufferPool` implementation that doesn't pool buffers.
Probably a good thing for JVM that is as memory constrained as yours.

[2021-04-02 16:04] joakime commented on #6128
Jetty 9.4.x is in maintenance mode for open source at the moment.
Primary open source development is in Jetty 10.0.x, with forward work on Jetty 11.0.x

You will have to exclude the specific classes that use MethodHandle in your project's usage of Jetty.
Things like ForwardRequestCustomizer, CustomRequestLog, and DecoratingListener should be excluded, as you cannot use them on Android API levels o

[2021-04-02 19:41] anilkumarmyla commented on #6121
We see this issue too, let me know if I can help in any way

[2021-04-02 19:53] sbordet commented on #6121
@anilkumarmyla can you try Jetty 10.0.2 and see if the problem is solved?

[2021-04-04 02:32] hantsy opened #6129 "Move the online documention into a standalone page"
**Jetty version**
11.0.2

Currently when I go to the document page, http://www.eclipse.org/jetty/documentation/jetty-11/programming_guide.php

It embeds the generated static docs in the original page, **the menu navigation does not work at all**.  In one word, it is difficult to read

Please move the docs files into a standalone uri and when clicking the URL, open a blank page for it.

[2021-04-04 02:36] hantsy commented on #6129
I found there is a standalone link for the docs,  http://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html, but why not use it direclty.

[2021-04-04 08:54] jmcc0nn3ll commented on #6129
I'm inclined to agree, I think we'll be moving those out to their own page
this week or so. The goal had been to have the documentation fit into the
overall website look and feel because it's been a long time since we had
any documentation that matched or integrated nicely. This integrates but
the actual user experience is quite lackluster. We only had that there for
a month or two and I don't par

[2021-04-04 11:57] morgwai opened #6130 "adding websocket endpoints programmatically (via ServerContainer.addEndpoint) does not work"
**Jetty version**
10.0.2

**Java version**
openjdk-11

**OS type/version**
ubuntu-18.0.4

**Description**

adding websocket endpoints programmatically (via ServerContainer.addEndpoint) does not work:

ServletContextListener:

[code]
endpoint:
[code]

each time the browser app attempts to open a websocket, the container will create a new endpoint instance (`new endpoint instance created` message fr

[2021-04-04 12:30] joakime commented on #6130
That won't work as a comment.
That annotation is specified to be declared as a formal annotation for a ElementType.TYPE.

See https://github.com/eclipse-ee4j/websocket-api/blob/1.1.2-RELEASE/api/server/src/main/java/javax/websocket/server/ServerEndpoint.java#L55-L57
[code]

Also, you edited out the import statements that are crucial to troubleshoot this issue.

This fails the WebSocket TCK, Jetty,

[2021-04-04 12:46] morgwai commented on #6130
please see inlined below:

On 04/04/2021 19:30, Joakim Erdfelt wrote:

I've removed the whole line: the effect is exactly the same.

what are you referring to? I'll be happy to provide more info, but there's not much there...

Could you please specify what exactly is not supported by the spec? I don't follow.

Many thanks!

[2021-04-04 14:09] joakime commented on #6130
A commented line and no line are exactly the same.
It is an invalid endpoint, and will not be added.

You need to use the java annotations properly.
No comment.
It must be present.
It's an annotation, not a javadoc @tag (which is not the same thing)

See the examples of the 2 ways to receive a message in the spec doc.

https://github.com/eclipse-ee4j/websocket-api/blob/master/spec/src/main/asciido

[2021-04-04 14:49] morgwai commented on #6130
ah, so you mean that the according to the spec, even Endpoints added programmatically need to be annotated, correct?  That's weird as calling  `ServerContainer.addEndpoint(Class)` will not have any effect actually as a given Endpoint would be added anyway as a result of annotation scanning by the container...
Anyway, in such case this issue is invalid: I'm closing it.
Thanks for your help and sorr

[2021-04-04 14:49] #6130 closed, assigned to nobody

[2021-04-04 15:11] morgwai commented on #6130
btw: the `//@ServerEndpoint("/websocket/echo")` was not intended to work as a javadoc tag: it was left there as a commented code that was not supposed to have any effect, to easier explain that configuring the endpoint just by uncommenting this line  and disabling any code `ServletContextListener` makes it work (as to prove that the code in the Endpoint works)

[2021-04-04 17:50] bharathram66 opened #6131 "wallmart-dev"

[2021-04-04 17:50] bharathram66 commented on #6131
pls slove by the my error

[2021-04-04 17:50] bharathram66 commented on #6131
why took this error

[2021-04-04 18:28] #6131 closed, assigned to nobody

[2021-04-05 03:29] hantsy commented on #6129
For look and feel, consider adding a CSS file to the generated static HTML(there are also some themes for it). But for developers, the original LAF is ok.

[2021-04-05 08:03] tbutter commented on #6121
We see the same problem with server code getting a large POST from AWS Cloudfront. Works fine in 6.4.38 / fails most of the time in 6.4.39.

[2021-04-05 10:18] davido opened #6132 "Ambiguous segment in URI in DELETE /a/projects/foo/branches/refs%2Fheads%2Ftest request after upgrade from 10.0.0 to 10.0.2"
**Jetty version**

10.0.0 vs. 10.0.02

**Java version**

Open JDK 11

**OS type/version**

Linux

**Description**

After upgrading Gerrit Code Review from 10.0.0 to 10.0.2: [1] DELETE requests are failing with 400.

If I activate debug logging in Jetty, I can see this ISE on Jetty 10.0.2: [2]. All is fine in Jetty 10.0.0 on Gerrit@HEAD:

[code]

To reproduce, clone [gerrit](https://gerrit.googleso

[2021-04-05 12:28] gregw commented on #6132
@lorban can you look at this one.

[2021-04-05 13:02] lorban commented on #6132
After looking at the logs, it seems that `IllegalStateException` is a red herring caused by a prior exception (although we may want to improve that code to avoid generating that `IllegalStateException`).

Here's the original cause, which seems to be related to our recent ambiguous URL fix:

[code]

[2021-04-05 13:59] joakime commented on #6132
The `gerrit_jetty_10.0.0_debug_session_ok.txt` shows the DELETE requests as ...

[code]

[2021-04-05 14:00] lorban commented on #6132
@davido you may want to try calling `setUriCompliance(UriCompliance.RFC3986)` on your `HttpConfiguration` to allow ambiguous segments but you may want to check https://github.com/eclipse/jetty.project/security/advisories/GHSA-v7ff-8wcx-gmc5 first for the implications of such setting.

[2021-04-05 14:46] davido commented on #6132
@lorban

Thanks. This diff fixed it:

[code]

But is that really has to be that hard?

This request is saying:

[code]

delete the branch named: "refs/heads/test". URL encoded is spelled "refs%2Fheads%2Ftest", obviously.

This seems to be related to: https://github.com/eclipse/jetty.project/commit/06e1a7e88d6f00088a6c9233fc87a4d9e965cedd .

[2021-04-05 18:28] madrob opened #6135 "java.lang.ArithmeticException: / by zero"
While running unit tests in Apache Solr, I saw this division by zero exception (Jetty 9.4.34)

[code]

[2021-04-05 18:38] joakime commented on #6135
Can you replicate this easily?
If so, please update to Jetty 9.4.39.v20210325 and try again.

[2021-04-05 18:41] madrob commented on #6135
Yep, you're right. Fixed in 447823316da54172b50d11396b1cbfb6bd432965 for 9.4.36

[2021-04-05 18:41] #6135 closed, assigned to nobody

[2021-04-05 21:00] gregw commented on #6132
I think that setting a configuration that allows `%2f`, but not `..;` or `%2e` or `%2e` would be safer than pure RFC3986 support

[2021-04-05 21:31] gregw commented on #6132
Specifically, I recommend using `UriCompliance.from("0,AMBIGUOUS_PATH_SEPARATOR")`

@joakime, @sbordet, @lorban : given that this is proving more common than we thought, should we revert to the above compliance being the default?

That would mean that the only segments that by default get hit with a direct 400 would be: `..;` which is a silly segment that can only really be intended as a hack; `%2

[2021-04-05 22:33] gregw commented on #6121
If 9.4.38 is working, but without going 100% CPU, I expect that this is a compaction problem... ie there is space in the buffer, but only if we compact it again.
So it would be very interesting to try 10.0.2, which has an improved approach to compaction (#6082) and will try a compact to make more space before throwing this exception.

Perhaps we should prepare a branch with #6082 cherry-picked bac

[2021-04-05 22:47] gregw commented on #6121
Looking at 9.4.39 again, I think this may be related to [this fix for an android bug](https://github.com/eclipse/jetty.project/blob/jetty-9.4.39.v20210325/jetty-io/src/main/java/org/eclipse/jetty/io/ssl/SslConnection.java#L718-L721).   The fix fakes an UNDERFLOW state if no bytes were produced or consumed (which might happen if the SslEngine just wanted task run) and worked because the previous ha

[2021-04-05 23:24] janbartel commented on #6113
@wcedmisten I think your test process sounds like it needs to be streamlined ;)

`mvn jetty:run` is designed to be used at the _command line_, not as part of a build. Thus, for this goal maven runs a parallel build process up to and including the `compile-test-classes` phase before invoking jetty. You don't want to be doing that if you're trying to bind the execution of jetty to a build phase. You

[2021-04-06 00:20] lachlan-roberts opened #6138 "Flaky test DuplicateCookieTest.testMultipleIdenticalSessionCookies"
**Jetty version**
10.0.x

**Description**
Failed test on jenkins `DuplicateCookieTest.testMultipleIdenticalSessionCookies()`.
see https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-6010/18/tests

[code]

[2021-04-06 08:01] sbordet opened #6140 "Report total number of keys in SelectorManager"
**Jetty version**
10.0.x

**Description**
For server with a large number of selectors, would be great if `SelectorManager` returns the total number of keys.
Currently each `ManagedSelector` reports its total keys, but the sum of all of them is missing from JMX.

[2021-04-06 10:06] qingdaoheze opened #6141 "Response timeout when an h2c request was sent and the response's content-encoding is gzip"
**Jetty version**
9.4.19.v20190610

**Java version**
1.8

**OS type/version**
MAC OS / 10.15.6

**Description**
Use the following code to send a h2c request to a tomcat server(tomcat-embeded-core-9.0.21), when the response's content-encoding is gzip, the client will be blocked until timeout.

[code]

[2021-04-06 11:18] qingdaoheze commented on #6141
9.4.39.v20210325 and 10.0.2 have the same problem.

[2021-04-06 11:20] sbordet commented on #6141
Please upgrade to the latest Jetty.

Does the server support (or is configured with) prior-knowledge clear-text HTTP/2?

Can you run the above with DEBUG logging, collect the logs in a file and attach the log file to this issue?

[2021-04-06 14:51] qingdaoheze commented on #6141
The logs as below:

[code]

[2021-04-06 14:54] qingdaoheze commented on #6141
I can get the correct response by following curl command.
curl -v --http2 --compressed -X POST "http://127.0.0.1:7004/big-body?size=1000" --compressed -H "accept: */*" -H "Accept-Encoding: gzip" -H "x-gray-env: normal"

*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to 127.0.0.1 (127.0.0.1) port 7004 (#0)

< HTTP/1.1 101
< Connection: Upgrade
< Upgrade: h2c
< Date: Tue, 06 Apr 2021 14:53:32

[2021-04-06 14:55] wcedmisten commented on #6113
Gotcha, thanks for the information! I'll try to clean up our process.

[2021-04-06 14:55] #6113 closed, assigned to janbartel

[2021-04-06 15:26] joakime commented on #6127
This appears to be fixed in WebSocket on Jetty 10.0.2 already, with the introduction of synthetic frames / autoFragment configuration on WebSocket read.

The problem in Jetty 9.4.x the read of a Frame is done in it's entirety, so a 10MB Frame results in a 20MB ByteBuffer allocated for each frame.
And if you mix in things like Streaming APIs (InputStream, Reader, etc) then there's even a double 20M

[2021-04-07 02:00] dcitron commented on #6127
Oh, thank you for getting back to me on that, @joakime

I was going to work on a reproducer this week but if it's already fixed in 10.0.2 then there's no point. Rather, let me spend a little time to ensure that the issue is solved for us in 10.0.2 and I'll reply back here with my results within a day or two. Thank you again!

[2021-04-07 03:12] WalkerWatch commented on #4005
This exists in 10 and 11

https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-quickstart

https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-quickstart

[2021-04-07 03:12] #4005 closed

[2021-04-07 03:16] linking12 commented on #6141
same issue, any workaround?

[2021-04-07 04:34] olamy commented on #4562
we do not remove it

[2021-04-07 04:34] #4562 closed, assigned to olamy

[2021-04-07 06:22] gregw commented on #152
Now at https://github.com/eclipse-ee4j/servlet-api/issues/103

[2021-04-07 06:44] #2889 closed

[2021-04-07 06:45] #4255 closed

[2021-04-07 06:47] gregw commented on #4297
@jknack are you still seeing this? If so, what release are you on now?
Can you tell us more about how your response was generated? Can you show us the response headers?  Perhaps get a wireshark trace?

[2021-04-07 06:52] gregw commented on #4605
I think DateCache is fine as is.  If we are serving 10,000 requests per second, then it will always be better to do a single date format per second than 10,000 identical formats.
We can review if DateCache ever shows up on a flame graph or we are changing code that calls it.

[2021-04-07 06:52] #4605 closed, assigned to nobody

[2021-04-07 06:53] gregw commented on #1511
jetty-all has been removed

[2021-04-07 06:53] #1511 closed

[2021-04-07 07:29] sbordet commented on #6121
Fixed by https://github.com/eclipse/jetty.project/pull/6142.

[2021-04-07 07:29] #6121 closed, assigned to nobody

[2021-04-07 08:31] sbordet commented on #6141
I cannot reproduce this issue with the latest Jetty, everything works fine for me.

Can you please enable DEBUG logging for `org.eclipse.jetty` (not just `org.eclipse.jetty.client`), save the logs into a file and attach the log file to this issue?

Your current logs show that the client sent a reset to the server after receiving the first 2 chunks.
We need the full DEBUG logs to understand what ha

[2021-04-07 10:24] lachlan-roberts commented on #4274
Closing as this failure hasn't occurred in a long time.

[2021-04-07 10:24] #4274 closed

[2021-04-07 12:17] qingdaoheze commented on #6141
https://github.com/qingdaoheze/jetty-gzip-decode

This is my demo projects, you can reproduce the case as below.
1.Start tomcat server
tomcat-server-gzip/src/main/java/org/sample/http2/tomcat/TomcatHttp2Main.java
2.Call the service with Jetty 9 client, and the error will occur.
jetty9-client-sample/src/main/java/org/sample/jetty/client/http2/HttpClientWithHttp2Transport.java
3.Call the service wit

[2021-04-07 14:24] sbordet commented on #6141
@qingdaoheze I took your repository, fixed the POMs, and run your project.
Works perfectly fine for me:

[code]

[2021-04-07 14:26] qingdaoheze commented on #6141
What did you change? @sbordet

[2021-04-07 14:30] sbordet commented on #6141
Made the root POM a multi-module, added the correct `<parent>` to child modules, specified the spring-boot version in the dependencies, replaced LogBack with Jetty logging, nothing major.

No changes to the code, everything works fine.

[2021-04-07 14:32] qingdaoheze commented on #6141
What JDK version do you use?

[2021-04-07 14:37] qingdaoheze commented on #6141
I added the JDK version in the pom. Please try again, And I add you to the collaborator of my repo, you can modify it directly. @sbordet

[2021-04-08 02:03] #6132 closed, assigned to lorban

[2021-04-08 04:23] linking12 commented on #6141
I think tomcat 9.0.21 is not suit for jetty http2， when upgrade to 9.0.44 work fine

[2021-04-08 07:16] qingdaoheze commented on #6141
I upgraded the tomcat version, it works fine.  Thank you very much!

[2021-04-08 07:16] #6141 closed, assigned to sbordet

[2021-04-08 13:09] ameti opened #6146 "How to enable the PUT and DELETE methods in jetty embedded?"
**Jetty version**
Jetty(9.4.31.v20200723)
**Java version**
8
**Question**
How do I enable the PUT and DELETE methods in jetty embedded?
I am currently getting 405 responses

[2021-04-08 13:39] joakime commented on #6146
Standard Servlet Spec behaviors.

Implement [`HttpServlet.doPut(HttpServletRequest, HttpServletResponse)`](https://github.com/eclipse-ee4j/servlet-api/blob/4.0.4-RELEASE/api/src/main/java/javax/servlet/http/HttpServlet.java#L247-L279) and [`HttpServlet.doDelete(HttpServletRequest, HttpServletResponse)`](https://github.com/eclipse-ee4j/servlet-api/blob/4.0.4-RELEASE/api/src/main/java/javax/servlet/

[2021-04-08 13:55] ameti commented on #6146
Thank you for fast response. I actually did implement those methods.
Is the default jetty configuration to actually allow these methods?

[2021-04-08 14:02] ameti commented on #6146
Thank you!

[2021-04-08 14:02] #6146 closed, assigned to nobody

[2021-04-08 16:43] SeanRoy opened #6147 "Threads locked up because of Scalatra Gzip deflation"
We run a scalatra REST api on jetty and threads are getting locked up in gzip deflate bytes.  Eventually all 8 of the cpu cores get stuck and our load goes through the roof, resulting in poor performance unless someone is constantly keeping an eye on them and restarting jetty as needed.  I've seen many reports on this bug, but I thought we were between minGzipSize > 0, and the java and jetty versi

[2021-04-08 18:01] joakime commented on #6147
Get rid of your `GzipFilter` (in your webapp descriptor), that doesn't work in Servlet 3.1 (aka Jetty 9)

That points at Scalatra doing the Gzip, not Jetty.

I see you have GzipHandler active, so either Jetty does it, or Scalatra does it (properly).
Perhaps you should just disable Scalatra compression, and just configure your GzipHandler to compress the content instead.

GzipHandler is not involve

[2021-04-08 18:11] joakime commented on #6147
Make sure you are using Scalatra 2.6.0 (or newer), as it's own internal Gzip implementation is broken and is not thread safe.

* https://github.com/scalatra/scalatra/issues/249 - Gzip Support is broken
* https://github.com/scalatra/scalatra/issues/659 - Remove Gzip Support

[2021-04-08 18:16] joakime commented on #6147
Closing as issue in Scalatra version you are using.
Not a Jetty issue.

[2021-04-08 18:16] #6147 closed, assigned to nobody

[2021-04-08 18:49] joakime opened #6148 "Jetty start.jar always reports jetty.tag.version as `master`"
**Jetty version**
9.4.x+

**Java version**
All versions

**OS type/version**
All.

**Description**
When the `start.jar --list-config` is used, the following output is produced ...

[code]

The `jetty.tag.version` always reports as `master`.
This should either be the tag name, or the build-number (git sha).

[2021-04-08 18:51] SeanRoy commented on #6147
Thanks.  I knew about GzipSupoort.  I was using 2.6.5 but still had a servlet that had ContentEncodingSupport mixed in.  GzipSupport code was rolled into ContentEncodingSupport, but apparently it's still broken there.   Once I removed ContentEncodingSupport to rely on jetty it worked.  Thanks again.

[2021-04-08 18:51] joakime commented on #6105
Closing, as PR #6108 was merged.

[2021-04-08 18:51] #6105 closed, assigned to sbordet

[2021-04-08 18:54] joakime commented on #6147
Thanks for the update.
That will no doubt help others in the future.

[2021-04-08 19:38] hahahhahahhaahahha opened #6150 "I recieved this today on my heroku server: Aug 23 06:00:00 0c5e4c77-c2c9-445d-aff8-3564937f7520 comicFeed: error We’ve encountered an error: Error: 140094844344192:error:1408F119:SSL routines:SSL3_GET_RECORD:decryption failed or bad record mac:../deps/openssl/openssl/ssl/s3_pkt.c:535:"

[2021-04-08 19:59] sbordet commented on #6150
No description provided and unrelated to Jetty, closing.

[2021-04-08 19:59] #6150 closed, assigned to nobody

[2021-04-09 05:08] vanand123 commented on #5516
Successfully upgraded jetty to "jetty-distribution-9.2.28.v20190418.zip".
Everything is working fine on this.

Will upgrade again once we will have all the dependency resolved.

Thanks for all support.

[2021-04-09 05:08] #5516 closed, assigned to nobody

[2021-04-09 07:31] christancorp opened #6151 "Ways to find current queue Size"
Hi,

Understand we can set maximum number of request in a client using setMaxRequestsQueuedPerDestination.

Is there anyway to find out how many request currently in queue already? Sorry if this is a repeated question.

Thanks.

[2021-04-09 10:48] xiezhaokun commented on #6072
The `maximumPacketSize`  value will be set to  `shc.sslConfig.maximumPacketSize` when send `ServerHello` message , so use `jsse.SSLEngine.acceptLargeFragments` will be invalid when Send the message after ServerHello.

[code]

[code]

[2021-04-09 10:54] stolsvik commented on #4578
Interestingly, none of those problems would affect me at all. And I believe this holds for _very_ many users of Jetty and Tomcat and others. Think about Spring Boot. All of our projects runs on a "home cooked" variant of the concepts of Spring boot, i.e. "single executable war file".

Also, Servlet 4 - which pretty much no user has even looked at yet (and Servlet 5 is just a Jakarta rename, isn't

[2021-04-09 11:34] sbordet commented on #6072
@xiezhaokun I'm not sure I understand your point?

[2021-04-09 12:12] gregw commented on #4578
We are planning on supporting servlet 4.0 and 5.0 for some time.... just not in the same server.

[2021-04-10 04:04] yrewzjs commented on #6072
The "maximumPacketSize" was set  to "shc.sslConfig.maximumPacketSize (16709) " when send ServerHello message. So the function "getPacketBufferSize" can not return "SSLRecord.maxLargeRecordSize" when the config item "-Djsse.SSLEngine.acceptLargeFragments=true".

[2021-04-10 12:10] rijkr opened #6152 "File upload gives net:ERR_CONNECTION_RESET"
**Jetty version**
9.4.39.v20210325

**Java version**

OpenJDK 64-Bit Server VM - 1.8.0_282

**OS type/version**

Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-140-generic x86_64)

**Description**

Our Jetty Web Server application is deployed on various servers and can be accessed over the Internet via router port forwarding or Apache reverse proxy. After upgrading Jetty 9.4.38.v20210224 to 9.4.39.v20210325

[2021-04-10 12:25] joakime commented on #6152
Can you capture DEBUG logs for the failing example and attach them here?

[2021-04-10 12:43] rijkr commented on #6152
@joakime That's a bit hard to do as it's a production environment for a user organisation. Yesterday I spent a lot of time figuring out what was going on, and I finally solved the problem by creating a new installer with the older Jetty version. If absolutely necessary I have to ask the user to set up a debugging session when web activity is low. If you can somehow get clues from the code itself,

[2021-04-10 13:11] gregw commented on #6152
This may be fixed by https://github.com/eclipse/jetty.project/pull/6142
We introduced an issue in 9.4.39 with SSL buffering, that can sometimes result in an underflow state when the buffer could be compacted.   I'm not exactly sure how the different certificates could effect that, but then it is at least plausible.       Can you test that branch in production (or do a build with just that change a

[2021-04-10 13:25] rijkr commented on #6152
@gregw Thanks for your quick reply! I'd rather wait for the next 9.4.40 (?) release with the https://github.com/eclipse/jetty.project/pull/6142 fix. I can then set DEBUG right away during installation. What log4j DEBUG scope should I use? I assume `log4j.logger.org.eclipse.jetty=DEBUG` will probably create too much log entries?

[2021-04-10 13:31] gregw commented on #6152
Rijk,

assuming my guess about the cause is correct, then logging in
org.eclipse.jetty.io.ssl would be appropriate.... but then if my guess is
correct, there will be nothing to see in that logging.  If my guess is
wrong, that debugging might help, but it probably won't.

So perhaps just deploy it with no extra logging for a start.

On Sat, 10 Apr 2021 at 23:25, Rijk Ravestein ***@***.***>
wrote:

[2021-04-10 13:35] rijkr commented on #6152
@gregw When we install the new release we will have enough time to test and set log levels as needed. Thanks  for your support. I'll keep you posted about the results.

[2021-04-10 15:17] sbordet commented on #6151
The maximum number of requests is _per destination_; there is currently no direct getter for the total number of requests for all destinations.

This number is typically very volatile: the moment you read it, it's already stale.

You can use a `Request.QueuedListener` and `Request.BeginListener` to know respectively when a request is queued and when it is dequeued.

`Request` listeners can be adde

[2021-04-11 09:22] kazkansouh opened #6153 "jetty-maven-plugin does not correctly pass JVM arguments for external deployMode"
**Jetty version**

jetty-maven-plugin: 10.0.2

**Java version**

[code]

**OS type/version**

debian/rolling

**Description**

I have been attempting use `jetty-maven-plugin` during development phase of a webapp but have come across an issue with the `jvmArgs` configuration parameter when running with `deployMode=EXTERNAL`.

From inspecting the code that generates the command which launches the ja

[2021-04-12 00:27] janbartel commented on #6153
@kazkansouh using the EXTERNAL mode of running jetty will fork a new process and execute the equivalent of `java -jar $jetty.home/start.jar`.  When using the jetty `start.jar` mechanism with a remote debugger (and many other types of jvm args), you need to use the `--exec` parameter in order to fork yet _another_ process to which the jvm args are applied.  So, put this line into your `pom.xml`:

[

[2021-04-12 03:21] olamy commented on #6098
fixed by https://github.com/eclipse/jetty.project/commit/3c9de65b96ed70b8f9ab003ecf8a17bb0c30ccdf

[2021-04-12 03:21] #6098 closed, assigned to olamy

[2021-04-12 04:58] qtxo commented on #6127
Is 10 version production ready?

Is there a guide on how to migrate from 9.4.x to 10? I tried changing the version and adding dependencies by trial and error but still having compilation errors:
- Configuration.ClassList cannot be resolved to a type
- The constructor ServletHolder(ChatWebsocket) is undefined
- ServletUpgradeRequest cannot be resolved to a type
- WebSocketServlet cannot be resolved

[2021-04-12 05:16] lachlan-roberts commented on #6127
@qtxo yes Jetty 10 is production ready. I don't think there is any migration guide yet.

The websocket classes you need to use for the Jetty WebSocket Server API were previously in the `websocket-servlet` jar but are now in the `websocket-jetty-server` jar. The following classes have been renamed and moved from the `org.eclipse.jetty.websocket.servlet` package into `org.eclipse.jetty.websocket.ser

[2021-04-12 07:16] janbartel commented on #6153
@kazkansouh it appears that if I swap the ordering of the jvmArgs passed into the forked process they are correctly interpreted by the jvm. I've opened a PR for that here: #6155. If you want to build the branch https://github.com/eclipse/jetty.project/tree/jetty-10.0.x-6153-swap-jvmArgs-order and give it a try, that would be helpful.

[2021-04-12 07:26] lachlan-roberts opened #6156 "Review resetBuffer() method for GzipHttpOutputInterceptor."
**Description**

Review whether `GzipHttpOutputInterceptor` should implement the `resetBuffer()` method to reset its local state such as `_buffer`.

[2021-04-12 08:41] #6049 closed, assigned to sbordet

[2021-04-12 11:38] lorban opened #6157 "10.0.x: Perf regression in HttpInput.consumeAll()"
**Jetty version**
10.0.x (all versions impacted)

**Description**
During the `HttpInput` refactoring that happened between 9.4.x and 10.0.x, a few harmless minor things were changed. Among those, the `HttpInput.consumeAll()` method used to succeed unconsumed content in 9.4.x while in 10.0.x unconsumed content is now failed.

This is pretty much equivalent in practice, even if the 10.0.x behavior i

[2021-04-12 11:40] lorban commented on #6157
Here's a flame graph that clearly shows instantiating that exception isn't negligible: [flame graph.zip](https://github.com/eclipse/jetty.project/files/6296304/flame.graph.zip)

[2021-04-12 11:56] lorban opened #6158 "BadMessageException may lead to inconsistent error handling"
**Jetty version**
10.0.2

**Description**

As demonstrated in #6132, when `BadMessageException` is thrown the error handling is a bit inconsistent which leads in that case to an `IllegalStateException` being thrown in the error handling, leading to an error in the error path that blurs the real root cause and forces an abort of the connection.

The culprit seems to be in `HttpChannel.onBadMessage(

[2021-04-12 14:04] joakime commented on #6148
Merged PR #6149

[2021-04-12 14:04] #6148 closed, assigned to joakime

[2021-04-12 15:06] Ampflower opened #6159 "Jetty with Conscrypt unable to handle any HTTPS requests when connected by IP rather than hostname."
**Jetty version**
Embedded Jetty 11.0.2 with the following modules: `jetty-server`, `jetty-alpn-server`, `jetty-alpn-conscrypt-server`, `http2-server`, including their dependencies. Conscrypt was added into security providers via `java.security.Security.insertProviderAt(new org.conscrypt.OpenSSLProvider(), 1)` before bootstrapping the server.

**Java version**
AdoptOpenJDK 15.0.2

**OS type/versio

[2021-04-12 20:21] joakime commented on #6125
PR #6126 merged.

[2021-04-12 20:21] #6125 closed, assigned to joakime

[2021-04-12 20:30] joakime commented on #6114
Two (currently disabled) test cases in 9.4.x and 10.0.x test for this.

* https://github.com/eclipse/jetty.project/blob/jetty-9.4.39.v20210325/jetty-deploy/src/test/java/org/eclipse/jetty/deploy/providers/WebAppProviderTest.java#L102-L136
* https://github.com/eclipse/jetty.project/blob/jetty-10.0.2/jetty-deploy/src/test/java/org/eclipse/jetty/deploy/providers/WebAppProviderTest.java#L98-L132

Thes

[2021-04-12 22:06] joakime commented on #6102
Closed with commit 37fffb1722604da1763d8a096ec5c5fb41ea0633

Part of Security Advisory GHSA-v7ff-8wcx-gmc5 (CVE-2021-28163)

[2021-04-12 22:06] #6102 closed, assigned to nobody

[2021-04-12 22:06] joakime commented on #6101
Closed with commit e412c8a15b.

Part of Security Advisory GHSA-v7ff-8wcx-gmc5 (CVE-2021-28164)

[2021-04-12 22:06] #6101 closed, assigned to nobody

[2021-04-13 00:45] gregw commented on #6158
Whilst looking at `BadMessageException`, I think there are a few instances where we can throw that to the application even though the signature of the method supports IOException.

I think we should consider having a `BadMessage` interface and then both `BadMessageException extends RuntimeExceptions`  and `BadMessageIOException extends IOExeption`.  We should use the later where possible and have

[2021-04-13 02:31] gregw commented on #6159
The NPE at least is a conscrypt issue as the javadoc for `javax.net.ssl.ExtendedSSLSession.getRequestedServerNames()` says:
[code]
So we should not have a null list to deal with.     I guess we could put in defence for that, but we'd prefer that conscript respected the contract.... perhaps we should wrap them???

I'll have to take a bit more time to ponder your issue in more depth to make sure it

[2021-04-13 05:50] dcitron commented on #6127
Alright, @joakime -- I got our codebase working (temporarily) with JDK11 and Jetty 10.0.2.

As a side-note, it was a slight challenge to figure out how to migrate to Jetty 10. The current [WebSocket documentation](https://www.eclipse.org//jetty/documentation/jetty-10/programming-guide/index.html#pg-client-websocket) is a TODO and I wasn't able to find any migration guides for 9 -> 10 migration, bu

[2021-04-13 09:12] wilkinsona opened #6164 "Possible regression in Jetty 10's h2c support"
**Jetty version**

10.0.2

**Java version**

11

**OS type/version**

macOS 10.15

**Description**

There appears to be a regression in Jetty 10's h2c support when using Apache HttpClient 5. Code that works with Jetty 9.4.39 fails fails with Jetty 10.0.2. Please see [this sample project](https://github.com/wilkinsona/jetty-h2c-problem) and its README for further details.

[2021-04-13 10:10] sbordet commented on #6164
Jetty 10 supports WebSocket over HTTP/2 as defined by https://tools.ietf.org/html/rfc8441.

RFC 8441 defines a new settings: `SETTINGS_ENABLE_CONNECT_PROTOCOL = 0x8`.

Jetty 10 sends that setting to Apache's client, which is not able to handle it.

In particular, Apache's client consumes the key (`0x8`) but it does not consume the value, leaving the buffer unconsumed, which causes an exception to

[2021-04-13 10:10] #6164 closed, assigned to sbordet

[2021-04-13 10:18] wilkinsona commented on #6164
Thanks, @sbordet. I'm a bit confused by the link to a WebSocket RFC but this is quite likely due to my ignorance of the low-level workings of HTTP/2. Am I right in thinking that RFC8441 is building on a general HTTP/2 mechanism that the Apache client doesn't support correctly? In other words, as WebSocket isn't involved here, the client should be consuming and effectively ignoring the setting rath

[2021-04-13 10:38] sbordet commented on #6164
Correct.

WebSocket is not involved here; I mentioned it because it's the difference between Jetty 9 and Jetty 10: only the latter implements this additional RFC with its new setting.

It's just that Apache's client does not properly parse unknown settings.

This is a snippet from Apache's `AbstractH2StreamMultiplexer`:

[code]

`payload.getShort()` reads `code=0x8`, but then `H2Param.valueOf(code

[2021-04-13 10:49] wilkinsona commented on #6164
Thanks very much, @sbordet. I've opened [HTTPCORE-673](https://issues.apache.org/jira/browse/HTTPCORE-673).

[2021-04-13 13:35] lachlan-roberts opened #6166 "WebSocket MessageInputStream.read() spends a lot of time in ByteBuffer.compact()"
**Jetty version**
10.0.2

**Description**
Originally reported by @dcitron in issue #6127.

[2021-04-13 13:35] lachlan-roberts commented on #6127
I have been looking into this one and think I have a fix. I have opened a separate issue to track this (see #6166).

[2021-04-13 14:31] sbordet opened #6167 "Review Http[Input|Output].Interceptor"
**Jetty version**
10.0.x

**Description**
`Http[Input|Output].Interceptor` are underspecified and need to be reviewed and clarified.

This issue stems from work on #6163 and also #6156 and #6010.

Interceptors are not allowed to throw checked exceptions, so they have to wrap failures in runtime exceptions, which would be unnecessary.

Furthermore, if an interceptor throws, the exception handling n

[2021-04-13 14:53] sbordet opened #6168 "Improve handling of unconsumed content"
**Jetty version**
9.4.x

**Description**
The case of unconsumed content, and `HttpInput.Interceptor` throwing an exception, should be handled better.
In particular, make sure that exceptions thrown by the interceptor are correctly handled.

[2021-04-13 14:53] sbordet commented on #6168
See also #6167.

[2021-04-13 15:24] #6071 closed, assigned to lachlan-roberts

[2021-04-13 15:24] xinguangduan commented on #2380
i meet the same issue in 9.4.31.v20200723  too，

"qtp651235118-149433" #149433 prio=5 os_prio=0 tid=0x000000000261a800 nid=0x1e5c3d waiting on condition [0x00007fe03b6d5000]
   java.lang.Thread.State: TIMED_WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x000000056eb56c68> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)
	at java.util.co

[2021-04-13 15:27] sbordet commented on #6167
@lorban please use this issue as an umbrella to port #6163 to Jetty 10.

However, this issue is also for `HttpOutput.Interceptor` so you may want to issue a PR for `HttpInput` but not close this issue until also `HttpOutput` is done.

[2021-04-13 15:27] tryge commented on #2380
@zjffdu I can't remember anymore, but we ran into the issue again and then we switched to using netty...

[2021-04-13 15:35] sbordet commented on #2380
@xinguangduan can you please upgrade to Jetty 9.4.39? There has been some work on performing asynchronous closes.

[2021-04-13 15:36] xinguangduan opened #6169 "The following threads are very CPU intensive"
**Jetty version**
9.4.31.v20200723
**Java version**
oracle jdk1.8.0_192
**OS type/version**
centos
**Description**
The following threads are very CPU intensive

"qtp651235118-149433" #149433 prio=5 os_prio=0 tid=0x000000000261a800 nid=0x1e5c3d waiting on condition [0x00007fe03b6d5000]
java.lang.Thread.State: TIMED_WAITING (parking)
at sun.misc.Unsafe.park(Native Method)
- parking to wait for <0x00

[2021-04-13 15:40] joakime commented on #6169
The 2 threads you pasted are parked / idle threads sitting in the ThreadPool waiting for some process to need them.
They use no CPU in that state.

They exist for as long as there is a need for them. (thread pool idle timeout will clean them out slowly based on non-use)
They can be used for any Jetty task that needs a thread and then put back into the ThreadPool.

[2021-04-13 16:07] sbordet commented on #6169
@xinguangduan the first thread is blocked in a write.

Like I said in the other comment, please upgrade to 9.4.39 -- we have done some work to perform closes in a non-blocking way.

[2021-04-13 22:52] gregw commented on #6168
Also, whilst doing a consumeAll, the interceptors should not be called as that can waste CPU and memory.

[2021-04-13 23:18] xinguangduan commented on #6169
thanks for your reply,i will try the new version.

[2021-04-14 05:31] lachlan-roberts commented on #6167
The `HttpOutput.Interceptor` can fail the callback instead of throwing, however failing the callback causes the connection to be aborted with no 500 response even if the `HttpChannel` is not committed.

[2021-04-14 06:23] gregw commented on #6167
An interesting question is that if there is a failure during an async write (either in interceptor or below) then should it be thrown from the call to async write?  If we don't throw, then the caller might loop on isReady and write, never seeing the exception. We can't call onError because we are already in onWritePossible. @sbordet how sure are we that we have not introduced such a loop with the

[2021-04-14 06:26] gregw commented on #163
Error handling is fraught with complexity. Thus I'm closing this as unnecessary complication

[2021-04-14 06:26] #163 closed

[2021-04-14 06:28] gregw commented on #1333
No changes to folding super are planned

[2021-04-14 06:28] #1333 closed

[2021-04-14 06:33] gregw commented on #4464
I'm closing this for now. If there is a concrete example of when we are loving this but should not, then please reopen.

[2021-04-14 06:33] #4464 closed, assigned to nobody

[2021-04-14 06:34] gregw commented on #4524
Unable to replicate

[2021-04-14 06:34] #4524 closed, assigned to nobody

[2021-04-14 06:48] gregw commented on #4833
Is this still an issue?

[2021-04-14 07:08] olamy commented on #4560
not really related to Jetty

[2021-04-14 07:08] #4560 closed, assigned to nobody

[2021-04-14 07:09] olamy commented on #4724
more than 1 year without more details so closing it

[2021-04-14 07:09] #4724 closed, assigned to nobody

[2021-04-14 11:25] sbordet commented on #6082
Fixed in Jetty 9 by #6142.

[2021-04-14 11:25] #6082 closed, assigned to nobody

[2021-04-14 11:41] jmcc0nn3ll opened #6172 "Minimum Java version support for home modules"
**Jetty version**
Jetty 10 - Jetty 11

**Java version**
Java 16+

**OS type/version**
N/A

**Description**
Now that additional features are really starting to show up in incremental releases of Java releases, we should have a mechanism in our module system that allows for a minimum java version for the enabling and execution of a module.  On the enabling side we should test the java version and fa

[2021-04-14 20:34] debashisdeb commented on #3111
Any update on this issue ? We are on 2.5.1 for conscrypt along with jetty 9.3 and still seeing the issue.

[2021-04-14 20:59] joakime commented on #3111
https://www.eclipse.org/jetty/download.php#what-jetty-version

Jetty 9.3 is already deprecated.
Jetty 9.4.x is in maintenance mode (till Java 8 is dead).
Jetty 10.0.x is the mainline for Jakarta EE 8 (on the old `javax.servlet` namespace)
Jetty 11.0.x is the mainline for Jakarta EE 9 (on the new `jakarta.servlet` namespace)

As far as this memory leak, that's still an open bug on conscrypt.
Not mu

[2021-04-14 21:55] gregw commented on #6157
Ouch!  It is not exactly trivial to fix as failCurrentContent is always called and always sets the raw and transformed content to an error content wrapping the exception.   Perhaps it can be EOF ???  I've got a branch I'll push but I don't really like it.  Either  way, we want this fixed for next release.

[2021-04-14 23:34] lachlan-roberts opened #6174 "Allow CDI injection of HttpSession into WebSocket endpoints."
**Jetty version**
10.0.x

**Description**
With the improvements from PR #6119, we are able to inject the `HttpSession` into the WebSocket Endpoint.

However it uses some sort of proxy wrapper around the `HttpSession` and can only be accessed from within the same thread as the call to `doFilter` otherwise it will throw it will throw `ContextNotActiveException`. The class of the wrapper instance is

[2021-04-15 07:44] StefanBauerTT opened #6175 "Regression in Jetty 9.4.39 with Wicket and Multipart Requests: Early EOF"
- Jetty 9.4.38 (no issues) / Jetty 9.4.39 (regression)
- AdoptOpenJDK (build 11.0.10+9)
- Windows 10 Professional

In our project, we are facing a regression since updating from Jetty 9.4.38 to 9.4.39. In our pre-production environment, we are experiencing irregular but frequent connection losses with the following stacktrace:

[code]

From the client side, the error looks like the server closed t

[2021-04-15 08:26] xinguangduan commented on #6169
![image](https://user-images.githubusercontent.com/17296491/114837911-c5c5d080-9e06-11eb-9d6e-315dee704414.png)

[2021-04-15 08:26] #6169 closed, assigned to nobody

[2021-04-15 10:46] amis0405 opened #6177 "Low Level Http2 Secured Configuration"
**Jetty version**
11.02
**Java version**
java 11
**Question**
I have Implemented Low level HTTP2 client-server at localhost. I want to make it secured only connection. In High level implementation we can use TLS keystores and certificates to do the same but how to do that in low-level API's ? Is such thing even possible/necessary ?

Secondly is there a way to configure for Asynchronus/Synchronus r

[2021-04-15 11:04] joakime commented on #6175
I see SSL in your stacktrace, this is a likely side effect of what was recently fixed in #6082

Check your logs fore before the Early EOF failure.
Look for "Encrypted buffer max length exceeded".

If you can replicate easily, can you try 9.4.40-SNAPSHOT from the https://oss.sonatype.org/content/groups/jetty-with-staging/ (SNAPSHOT repo)

[2021-04-15 11:23] joakime commented on #6177
Please explain what you mean by "low level" and "high level"?
As your description is confusing.

From Jetty's point of view, the ServerConnector is where HTTP/2 is configured for the server (there is no high level or low level distinction).
The jetty-client in 11.0.2 is also capable of supporting both HTTP/1 and HTTP/2 with the same configuration (there is also no high level or low level distincti

[2021-04-15 11:47] amis0405 commented on #6177
The low-level HTTP/2 support is provided by org.eclipse.jetty.http2.server.RawHTTP2ServerConnectionFactory and org.eclipse.jetty.http2.api.server.ServerSessionListener for SERVER and org.eclipse.jetty.http2.client.HTTP2Client for CLIENT.That what I meant by Low-Level API's.

So you are saying that the Low-Level API's must be configured the same way as High level ones using

on Server and client eq

[2021-04-15 12:21] joakime commented on #6177
With that you have no traditional Request or Response objects, no Handler support, no Servlet support, no Webapp support, no distinction for Asynchronus/Synchronus or Blocking/Non-Blocking.
That's purely the HTTP/2 protocol and that's it, you only talk to that layer in terms of protocol objects and raw buffers.

We only use the `RawHTTP2ServerConnectionFactory` ourselves in unit test cases, typica

[2021-04-15 13:37] lorban commented on #6157
@gregw why not simply using a statically allocated exception in `consumeAll`?

[2021-04-15 17:08] sbordet commented on #6177
@amis0405 you don't need to use TLS if you don't want to. HTTP/2 does not mandate use of TLS. Only certain client implementations (all browsers) have decided to use HTTP/2 only over TLS; Jetty, both on client and on server, does not require TLS when you use HTTP/2.

All the low-level APIs are non-blocking.

[2021-04-15 17:34] amis0405 commented on #6177
What I want is to have only a secured(https) connection so is TLS implementation necessary to achieve this ? As far as I know connection will be secured only if we are using certificates/keystores...

Thats means Asynchronous right ?

[2021-04-15 17:43] sbordet commented on #6177
If you want TLS you have to use `SslContextFactory.[Client|Server]` like @joakime explained.

No, that means non-blocking. "Asynchronous" is typically related but not the same as "non-blocking".
The fact that you ask means that probably your definition of "asynchronous" is not the same as ours, so you have to clarify what you exactly means and why it is important to you.

[2021-04-15 18:08] amis0405 commented on #6177
Okay let not get into complex discussions of Asynchronous.. What i meant is one should get immediate response... it does sounds like non-blocking

[2021-04-15 19:13] sbordet commented on #6172
Rather than a new section in `*.mod` files, we can use the "runtime feature" introduced in #5492 that we currently use in Jetty 9.4.x for ALPN, where we have `alpn-available-[true|false].mod` files.

[2021-04-15 20:16] dattasid opened #6179 "From the code, Jetty reloads both the keystore and truststore when the keystore changes. Can I depend on this behavior ?"
**Jetty version**
10.0
**Java version**
8
**Question**
As in, this behavior will persist across future versions of Jetty? That would make sense as the updated keystore may depend on updated truststore and validate certs might be on.

[2021-04-15 20:41] joakime commented on #6175
Note: Jetty 9.4.40.v20210413 was just released to Maven Central (with the fix for #6082), which should help with your issue on Early EOF with multipart.

[2021-04-16 05:22] visgans opened #6183 "Memory Leaking when restarting Embedded Jetty Restarting"
There is memory leak happening when restarting embedded jetty server v9.4.31. we tried to do the cleanup but the leak still exists. I found out that the leak is happening in jetty components. As we are using Jar library in android application so garbage collection for embedded jetty components are not properly handled. When i isolate jetty server and run the application means the memory leak is ze

[2021-04-16 06:07] lachlan-roberts commented on #6183
@visgans Can you give a Jetty server dump before and after restarting?
See https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jetty-server-dump

[2021-04-16 08:37] StefanBauerTT commented on #6175
Thank you for the quick reply. I haven't seen the Early EOF problem since we updated to jetty 9.4.40. Looks like this issue can be closed. Thanks and have a great weekend!

[2021-04-16 08:37] #6175 closed, assigned to nobody

[2021-04-16 12:26] joakime opened #6184 "Remove usages of classes associated with JEP-411 that deprecate/remove the SecurityManager from the JVM"
**Jetty version**
All

**Java version**
All

**OS type/version**
All

**Description**
JEP-411 - https://openjdk.java.net/jeps/411

Will deprecate the SecurityManager in a specific way with an eye on removing it entirely in the future.
We should start to either alter our usages and expectations of the SecurityManager, or remove our usages entirely.

One of the techniques JEP-411 is considering is t

[2021-04-16 14:40] sbordet commented on #6179
I think you can rely on this behavior.
If we will ever introduce separate reloads for KeyStore and TrustStore, I guess we will keep the "reload both" option anyway.

[2021-04-16 15:05] joakime commented on #6179
How are you using Jetty 10 with Java 8?

[2021-04-16 15:22] swathikumar4precisely opened #6186 "Add Null Protection on Log / Logger"
**Jetty version** - 9.4.36 and above

**Java version** - 1.8

**OS type/version** - Linux/Windows

**Description**

Hi Team,

To address potential security issue, in our product we are trying to upgrade from v9.4.26 to v9.4.36.
When we replaced the jars and bounced our application, our application does come up fine - however, upon accessing the dashboard/home page of our application, we get NullPo

[2021-04-16 15:23] swathikumar4precisely commented on #6186
Please do let me know if you need to review our product code.

Regards
Swathi BN

[2021-04-16 15:33] joakime commented on #6186
This is surprising, and would be happening to millions of jetty installations, as it's a highly used code path.

Line 477 in your stacktrace doesn't line up with anything that should ever be null.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.36.v20210114/jetty-http/src/main/java/org/eclipse/jetty/http/HttpCookie.java#L477

https://github.com/eclipse/jetty.project/blob/238ec6997c7806b05

[2021-04-16 15:46] #6168 closed, assigned to nobody

[2021-04-17 21:38] gregw commented on #6157
@lorban I'm not a huge fan of a static throwable, as it doesn't really tell you much.  But it is better than making a throwable we don't need. This PR is also a bit complex, so maybe a static is best.

Anyway, as I'm away, I'll let you fix this one as you see fit.

[2021-04-18 04:49] hantsy commented on #6123
@joakime Got it work on an external Jetty server, https://github.com/hantsy/jakartaee9-servlet-starter-boilerplate/. Is there a simple way to run all of these(CDI, JSF) in an embbeded jetty(via `mvn jetty:run`)?

[2021-04-18 15:03] anonymouslegend21 opened #6190 "Regahawlery"
**Jetty version**

**Java version**

**OS type/version**

**Description**

[2021-04-18 15:04] anonymouslegend21 opened #6191 "Regahawlery"
**Jetty version**

**Java version**

**Question**

[2021-04-18 15:04] anonymouslegend21 opened #6192 "Regahawlery"

[2021-04-18 15:15] #6192 closed

[2021-04-18 15:15] #6191 closed

[2021-04-18 15:15] #6190 closed

[2021-04-18 16:17] zjffdu opened #6193 "Might be a deadlock in jetty"
We use jetty 9.4.31.v20200723, but sometimes see no response from jetty server. Here's a thread dump, it looks like due to jetty is stuck in org.eclipse.jetty.util.SharedBlockingCallback$Blocker.block, and I found the ticket https://bugs.eclipse.org/bugs/show_bug.cgi?id=435322 which is already fixed, but not sure whether this is a known regression issue in 9.4.31.v20200723

[thread_dump.txt](https

[2021-04-18 16:52] sbordet commented on #6193
You have 37 threads blocked waiting for a lock on `org.apache.zeppelin.socket.ConnectionManager`.

Only one thread is blocked on `SharedBlockingCallback`, probably because the client is not reading.

You are also doing blocking WebSocket writes with a lock held, which is recipe for application lockup.

I suggest that you solve your application issues and review its locking.
You can switch to non-b

[2021-04-18 22:49] zjffdu commented on #6193
@sbordet Thanks for the reply, All the threads of `ConnectionManager` are blocked due to they are waiting for a lock `<0x00000000c15baca0>` which is blocked by thread of `SharedBlockingCallback `, that's why I suspect it maybe some issue of jetty.

[2021-04-18 23:07] sbordet commented on #6193
You are using a blocking API with a lock held, so this may happen if the client does not read from the WebSocket connection.
The same would happen with any other blocking call such as HTTP, JDBC, etc.
Don't hold locks while using blocking APIs, or switch to non-blocking APIs.
Well, it's not you, it's Zeppelin that does this, and it should not.

Do you have evidence that the `SharedBlockingCallback

[2021-04-19 08:47] rijkr commented on #6152
@gregw We installed 9.4.40.v20210413 and first tests show the issue is solved. We deployed to production and will remain alert to user reports for the next few days.

[2021-04-19 10:51] aaronjwhiteside opened #6196 "multipart/mixed is not supported"
**Jetty version**
9.4.31.v20200723

**Description**
I think I remember this working in earlier version of jetty, and I found an issue reported here that mentions multipart/mixed.

https://github.com/eclipse/jetty.project/issues/2813

So I guess the question is what happened?

	at org.eclipse.jetty.server.Request.getParts(Request.java:2365)
	at javax.servlet.http.HttpServletRequestWrapper.getParts(

[2021-04-19 11:09] joakime commented on #6196
Every version of Jetty since 7.6.13 has thrown that exception (9 years ago).

From commit - 7da85a2719840ecd34ad78a3e98d144360c09784

This was done for 2 reasons.

1. The Servlet Spec only supports `multipart/form-data` for the .getParts() call - see https://docs.oracle.com/javaee/7/api/javax/servlet/http/HttpServletRequest.html#getParts-- (which specifically points out the exception you are getti

[2021-04-19 11:15] joakime commented on #6196
This is likely a bug in `org.springframework.web.multipart.support.StandardMultipartHttpServletRequest` as it shouldn't use `.getParts()` if the `Content-Type` is not `multipart/form-data`.

The fact that tomcat supports this is wrong on two counts (against the servlet spec, and against the multipart spec).

[2021-04-19 11:29] aaronjwhiteside commented on #6196
@joakime thanks for the quick and detailed response, I'll poke around Spring's `StandardMultipartHttpServletRequest`

[2021-04-19 14:56] lorban commented on #6167
`HttpInput` side is done.

[2021-04-20 08:08] elsaxo opened #6199 "Java version"
**Jetty version**

**Java version**

**Question**

[2021-04-20 08:56] #6199 closed

[2021-04-20 14:14] amis0405 commented on #6177
Even after doing the TLS setup(SslContextFactory etc) on both the sides(which works for Higher API's)  the request-response calls are not flowing in LOW LEVEL APIs.
On Server side "onAccept" is called and on Client side "onPreface" is called and then request is not fired, which actually works if I configure it without TLS.What could be the issue here ?

[2021-04-20 14:18] sbordet commented on #6177
@amis0405 it's not clear what you're doing, what do you expect, and what you actually get.

[2021-04-20 20:05] bhawani1978 commented on #6059
We are able to get the server dump when this issue is happening.
[jetty_dump.txt](https://github.com/eclipse/jetty.project/files/6346369/jetty_dump.txt)

Clients requests are getting time out. Seems old connections are not getting cleaned up, please let us your view.

[2021-04-20 20:41] sbordet commented on #6059
@bhawani1978 the dump you report shows that the selector threads are gone, and update tasks are accumulating into the selectors, but there is no thread to run them (nor to perform the select operation).

You appear to be running some custom code (`WorkaroundManagedSelector`), so unless we know exactly what is your code doing, we cannot know what's going on.

Unfortunately Windows's NIO implementat

[2021-04-20 20:43] bhawani1978 commented on #6059
Hi @sbordet, we used https://github.com/jetty-project/selector-hack as suggested in https://github.com/eclipse/jetty.project/issues/2205.

[2021-04-20 21:03] sbordet commented on #6059
@bhawani1978 have you actually hit the Windows selector spin problem so that you need the workaround?

The code you are using is highly experimental as written in the projects README, so there might be a chance that it does not work in your case.

I don't see how `WorkaroundManagedSelector` could kill the selector thread, so there must be something else going on that causes another issue that make

[2021-04-21 02:29] mikekap opened #6204 "setRequestHeaderSize and setResponseHeaderSize apply to all headers, not one"
**Jetty version** Jetty 9.4.31

**Java version** 14.0.2

**OS type/version** Mac OS

**Description**
This is either a bug with the documentation or the implementation. Theses are the comments in `HTTPConfiguration.java`: https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-server/src/main/java/org/eclipse/jetty/server/HttpConfiguration.java#L401-L422 .

The documentation says that thes

[2021-04-21 03:54] visgans commented on #6183
[Jetty_Server_start_stop_Dump.txt](https://github.com/eclipse/jetty.project/files/6347902/Jetty_Server_start_stop_Dump.txt)

[2021-04-21 03:55] visgans commented on #6183
@lachlan-roberts added dumps in text file

[2021-04-21 05:02] amis0405 commented on #6177
I have implement a client-server(Low Level APIs) at localhost to send and receive JSON data. The implementation works fines with request-response using Session.Listener exchanging JSON data.But when I try to make this as SECURED ONLY(H2) over TLS using the necessary settings like `SslContextFactory.[Client|Server]` , the request-response methods are not triggered. Though the client-server are star

[2021-04-21 05:39] idikshit commented on #4890
Hi,

We are facing a very similar issue as mentioned in this ticket

Jetty version: 9.4.38.v20210224

Java version: 14

When the SETTINGS_HEADER_TABLE_SIZE is set to 0, we see the indexing happening based on

1) Literal Header Field with Incremental indexing - Indexed name
2) Literal header Field with Incremental indexing - New Name

[2021-04-21 09:09] joakime commented on #6204
It's a buffer configuration, it controls the buffer used for the header section of the HTTP protocol.
Not just a specific header.

Per RFC7230 (HTTP/1.1 spec), you have  ...

1. Start Line
2. Header
3. Message Body

Those configurations control the buffer used in section 2 above.

[2021-04-21 10:41] sbordet commented on #4890
@idikshit you see this on the client or on the server?
Do you have DEBUG logs?

[2021-04-21 10:47] sbordet commented on #6177
@amis0405 we have an array of test cases similar to yours that prove that the HTTP/2 implementation is working fine.

You have yet to provide evidence of your problem in form of code or DEBUG logs, so we cannot help you.
Chances are that you are doing something wrong in your code or setup and it is not a Jetty issue.

[2021-04-21 11:28] joakime commented on #6177
@amis0405 the information we have requested to troubleshoot this report has not yet been provided.
We cannot help you unless you give us the information we asked for.

[2021-04-21 11:50] idikshit commented on #4890
@sbordet we are facing this issue on the client side. Please find the attached http2-hpack DEBUG logs

[debug_logs.txt](https://github.com/eclipse/jetty.project/files/6350532/debug_logs.txt)

[2021-04-21 12:17] amis0405 commented on #6177
[Http2.zip](https://github.com/eclipse/jetty.project/files/6350678/Http2.zip)
Here attached are the client-server implemented example. Kindly let me know if you need any more info on this.
JDK 11

[2021-04-21 13:28] sbordet commented on #4890
@idikshit the logs looks fine to me, but there is too little information to tell - don't strip them as the context information is important to us.

Do you have a reproducer that we can run to reproduce the issue?
Or otherwise please detail with as much information as you can what the client sends, what the client receives, what do you expect and what happens instead.

[2021-04-21 13:43] sbordet commented on #6177
Change this:

[code]

to this:

[code]

[2021-04-21 14:59] jmcc0nn3ll opened #6205 "OpenIdAuthenticator may use incorrect redirect"
**Jetty version**

Jetty 10/11

**Java version**

**OS type/version**

**Description**

If a javascript application is running in the background of a browser (like cometd trying to connect) and the server is stopped and then started then when the user submits a request for an address within the application the openid authenticator will likely redirect to an internal cometd url instead of the origi

[2021-04-21 17:08] idikshit commented on #4890
Hi @sbordet, please find additional details mentioned below

Scenario -  Client (Egress-Gateway Jetty client) initiates connection to back-end server. Server sets SETTINGS_HEADER_TABLE_SIZE=0 in settings frame, but Egress-Gateway Jetty-client is still using HPACK compression with either of the two representations

1. Literal Header Field with Incremental Indexing - Indexed Name
2. Literal header F

[2021-04-21 19:02] mikekap commented on #6204
Right that's true - it's currently meant to be interpreted as the "protocol header". However that usage of just "header" conflicts with the usage of "http header" as most people understand it - even in the same file:
https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-server/src/main/java/org/eclipse/jetty/server/HttpConfiguration.java#L266
https://github.com/eclipse/jetty.project/blo

[2021-04-21 19:49] joakime commented on #6204
That's actually a "Field".

Also, I would caution relying on MDN, as its information is not up to date and frequently stagnates.
Example: it's information on x-forwarding-* headers is incomplete and years out of date, so much so that there are now several dozen competing interpretations that are nearly all incompatible with each other, causing RFC7239 to be created (in 2014) to solve for this.  It

[2021-04-21 22:41] gregw commented on #6204
The correct description is definitely "headers size" or something to that effect.
However, that Javadoc is not really very good anyway as it just talks about the ramifications without really saying what is being set.    We could clarify it by saying that it is setting the maximum buffer size for the headers section of the request/response.

[2021-04-22 03:38] bhawani1978 commented on #6059
On one of the environment, we see that issue starts intermittently and finally over a day or so, it completly stalls it. I was able to get current jetty logs in debug, thread dump and server dump, when its working but on and off.

[jetty_logs.log](https://github.com/eclipse/jetty.project/files/6355351/jetty_logs.log)
[jetty_server_dump.txt](https://github.com/eclipse/jetty.project/files/6355352/je

[2021-04-22 05:12] aaronjwhiteside commented on #6196
Spring have accepted this as a bug, so I'll close this issue.

Thanks again @joakime !

[2021-04-22 05:12] #6196 closed, assigned to nobody

[2021-04-22 06:52] christancorp commented on #6151
Hi @sbordet ,

Thanks for the answer, it helps is there anyway to retrieve the queued list? That might help as well.

Thanks in advance.

[2021-04-22 08:02] sbordet commented on #6151
Why you want to do that?
I ask because if you explain your problem, there may be already existing solutions that don't require accessing the queue of requests.
Please explain your problem first, and why you think accessing the queue would be a solution.

[2021-04-22 08:07] christancorp commented on #6151
Hi @sbordet ,

Sure, trying to solve an issue when the app is being close but there is still some number of request queued in the jetty client but not complete yet.

If can want to retrieve the queued list and log it somewhere so user can retry later.

Thanks.

[2021-04-22 10:00] joakime commented on #6035
The HTTP/2 priority concepts are being removed from the spec today.

https://github.com/httpwg/http2-spec/pull/795

[2021-04-22 11:41] amis0405 commented on #6177
Thank you both its working now.... My other query was can I not use ALPN over TLS and still make it run ?
I will be only using H2 over TLS (Client/server) so I dont need any negotiations for protocol to be used. So can I  configure server and client to not use any ALPN libraries and still work over TLS(H2) ?

PS: Probably I have removed all ALPN references from  the above code for SERVER and its r

[2021-04-22 12:25] sbordet commented on #6177
@amis0405 currently `HTTP2Client` hard-codes the use of ALPN.

We have made ALPN optional in `HttpClientTransportOverHTTP2` in #441, but not in `HTTP2Client`.

@amis0405 please close this issue as solved, and open a new one for porting #441 to `HTTP2Client`.
Thanks!

[2021-04-22 12:31] sbordet commented on #6151
These queued requests will be failed as you call `HttpClient.stop()`.
So if you are closing the application, make sure you stop the `HttpClient`.

As for retrying them later, the application will be notified of requests that are failed, so it will be able to save enough information to retry them later.

I don't see any need to access the request queue in your case.

[2021-04-22 12:32] sbordet commented on #6035
@joakime wow, so we have been right from the beginning 😄

[2021-04-22 12:46] amis0405 opened #6207 "Make ALPN optional in HTTP2Client over TLS"
**Jetty version**
11.02
**Java version**
java 11
**OS type/version**
Windows 10
**Description**
Http2Client to connect to a known HTTP/2 server without ALPN over TLS only(h2) as it is done in  [#441](https://github.com/eclipse/jetty.project/issues/441)

[2021-04-22 12:47] #6177 closed, assigned to nobody

[2021-04-22 13:05] sbordet commented on #6059
@bhawani1978 I can see the selecting threads, but the selectors are in a borked state.

Can you please call `QueuedThreadPool.setDetailedDump(true)` either in the code or via JMX, and dump the server again with this new setting and the system in borked state?

Also, can you please compare and tell us if your `WorkaroundManagedSelector` is _exactly_ equal to what we have in the experimental project

[2021-04-22 18:51] bhawani1978 commented on #6059
@sbordet thanks for the update.

Our WorkaroundManagedSelector and WorkaroundServerConnector is exactly same, line by line. I will try to enable QueuedThreadPool.setDetailedDump(true) get more details. Also we are thinking about moving to Linux but will take sometime.

Also I noticed that issue starts with intermittent timeout for some requests, where one fails one time passes next time. It takes

[2021-04-23 07:45] rmarx commented on #6035
It might be important to note that they are being replaced by [a simpler scheme](https://tools.ietf.org/html/draft-ietf-httpbis-priority-03) that will become recommended for both HTTP/2 and HTTP/3. This new scheme is also based (mainly) on HTTP headers, and thus similar to the 3gpp approach. This should be much easier to implement and cost fewer CPU resources than the heavier original HTTP/2 schem

[2021-04-23 08:58] sbordet commented on #6035
@rmarx from the point of view of a server that is handling 100k+ connections, each with 10+ streams, spending CPU cycles in prioritization seems sub-optimal.

It is perhaps true that for a single page priority matters; I would be interested in knowing whether 100k+ pages, cumulatively, will be delivered faster (by how much) and with less resource consumption with or without priority processing.
I

[2021-04-23 09:14] rmarx commented on #6035
I think that's a question about where you want to optimize/be efficient more... [many claim](https://wpostats.com/) that optimizing Web performance can lead to a significant rise of revenue, as users are more engaged with faster loading pages. The fact that you can handle fewer connections per server instance might be worth it, if that additional revenue (more than) compensates for the cost of add

[2021-04-23 10:30] qingdaoheze commented on #363
Shouldn't the Jetty client use values configured by the server? Why is it over? @sbordet

[2021-04-23 11:45] sbordet commented on #363
It does.

[2021-04-23 12:08] qingdaoheze commented on #363
When I send multiple API concurrently using h2c protocol, there are many timeout and cause some error "Max local stream count 100 exceeded". According to my research, these timeout requests were not sent out to other server. Do you know why?
@sbordet

[2021-04-23 12:15] sbordet commented on #363
@qingdaoheze you don't provide much details about the error and your code, so I cannot really tell what's going on.

Consider that the Jetty implementation does respect the server value, so I would double check your code first.
If you still have a problem, please open a new issue with exact details about your code, DEBUG logging, what happens, and what you expect instead.

[2021-04-24 00:57] qingdaoheze opened #6208 "HTTP/2 max local stream count exceeded"
**Jetty version**
9.4.39.v20210325

**Java version**
1.8

**OS type/version**
MAC and linux

**Description**
When the header size reaches some value (In my demo, it's 2237B) and multiple requests send concurrently, some requests will not be sent to remote server and cause an TimeoutException and then an "java.lang.IllegalStateException: Max local stream count 100 exceeded". When the header size is

[2021-04-24 12:52] sbordet commented on #6208
Cannot reproduce.

I see Jetty's client sending requests, and Tomcat server replying to some but then stopping to reply, so the client times out.

I suggest you change the server to Jetty (SpringBoot supports Jetty too) and see if you still have problems.