[2017-05-15 22:09] johngmyers commented on #1196
The JAX-RS resource for this request builds a `org.eclipse.jetty.client.Request` containing a subclass of `InputStreamContentProvider` indirectly referencing the `HttpInput` in question. It submits the client request with `HttpRequest.send(Response.CompleteListener)` then waits using `InputStreamResponseListener.get(long, TimeUnit)`.

Presumably that call throws `TimeoutException` and the server r

[2017-05-15 22:23] sbordet commented on #523
So there is no TLS traffic at all ? Just a TCP open with immediate close ?

[2017-05-16 04:15] gregw commented on #523
On 15 May 2017 at 22:31, Simone Bordet <notifications@github.com> wrote:

already wants the connection to go away.  Plus a browser should not be
doing a raw close without a TLS close.

@gemehendrix indicates that the client is opening a new connection, so it
must be that the server has closed the connection when the client still
thinks it needs one?

--
Greg Wilkins <gregw@webtide.com> CTO http://

[2017-05-16 04:19] gregw commented on #523
Hmm maybe I'm wrong.  The closeInbound call i the underflown case is
protected by a a net_filled < 0, so perhaps we are receiving a half close
from the client and then sending a close message on the remaining down pipe
- causeing the browser to get confused and forget it is trying to close the
connection?

I think we need a reproduction.... Trying to reproduce....

On 16 May 2017 at 06:15, Greg Wi

[2017-05-16 05:10] gregw commented on #523
I can't reproduce.

Using a non secure local token I see Chrome open 3 connections - 1 for my
request, 1 for favicon.ico and a spare, but then immediately close them
with raw closes?

removing the closeInbound does not change the behavior for me.

So strange as that is, it's not the reported problem.

On 16 May 2017 at 06:18, Greg Wilkins <gregw@webtide.com> wrote:

--
Greg Wilkins <gregw@webtide.

[2017-05-16 05:37] gregw commented on #1196
@johngmyers The servlet spec specifically allows for request objects (and thus be extension the streams etc they provide) to be recycled.   It thus the responsibility of the application to ensure that it does not access these objects after a request lifecycle has completed.      It's not really feasible for jetty to take the approach of wrapping all objects associated with a request that can be in

[2017-05-16 06:59] SchulteMarkus commented on #1552
The webapp starts correctly the first time (.war and .xml present, quickstart will be generated during this start, application-directory is being created during this start), and fails on subsequent restarts (using Quickstart)

From what I can see, there is a small difference in the logging. On the first start, it is

`2017-05-16 08:19:26.564:INFO:oejsh.ContextHandler:main: Started o.e.j.q.QuickSta

[2017-05-16 07:33] fredfeng opened #1556 "A timing channel in Password.java"
Hi,

I found a timing channel in Password.java:
https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-util/src/main/java/org/eclipse/jetty/util/security/Password.java#L105

By using Arrays.equals, it actually violates the "constant-time-implementation" discipline.

For more information about timing attack:
https://codahale.com/a-lesson-in-timing-attacks/

[2017-05-16 08:28] janbartel commented on #1552
@SchulteMarkus I'll have a look at those log files you sent.

It would be good if you could repost the generated quickstart-web.xml. And also can you please enable dumpAfterStart, and post the log output of both first run and subsequent runs please? You can do this by uncommenting and setting jetty.server.dumpAfterStart=true in start.d/server.ini file.

BTW you really should make a base dir for yo

[2017-05-16 08:40] SchulteMarkus commented on #1552
- [Generated quickstart-web.xml](https://pastebin.com/wdUcgUfe)
- [dumpAfterStart, 1. run](https://pastebin.com/a7rvVG0x)
- [dumpAfterStart, 2. run](https://pastebin.com/1cs8xKw9)

Regarding $JETTY_HOME - right now, I am only in a test-environment, for having rapid deployment. In the final environment, I am going to use [jetty-docker-image](https://hub.docker.com/_/jetty/).

Thank you so much for

[2017-05-16 08:48] mbechler commented on #523
Out of interest I had a look at this, too. Unfortunately I somehow lost track and never reported that issue upstream - will do.

Testing with Chrome 58 I can see that it does not send close-notify at all. This is the same issue, sessions are getting invalidated by closeInbound. The fact that Chrome seems to close an connection almost immediately (and without ever using them for application data) j

[2017-05-16 08:53] ffissore commented on #1552
I'm having a different issue but it's quickstart related and it smells like there's a common root cause.

I've prepared a github repo with the webapp https://github.com/ffissore/jetty-quickstart-bug. It's a jersey webapp, serving 2 REST endpoints: you can run it with `mvn jetty:run` and connect to http://localhost:8080/app/hello/world.

Now try packing it in a docker image following the two sets o

[2017-05-16 09:19] mbechler commented on #523
RFE opened, unfortunately there does not seem to be a way to properly track this.

[2017-05-16 09:42] sbordet commented on #523
@gregw I can easily reproduce. It's enough for a client to close without sending the TLS Close Message, we hit closeInbound(), which throws an exception (which we ignore), which invalidates the session, so that session ID is not reusable now.

IMO we can fix case 1. very easily, but not 2.

[2017-05-16 09:44] sbordet commented on #523
@mbechler if Chrome is closing without sending the TLS Close Message and without having received it, then it's a violation of the TLS protocol. What RFE have you opened ?

[2017-05-16 09:45] gemehendrix commented on #523
I've created a video that walks through how to easily reproduce the issue...

https://youtu.be/HJPuExEj05k

[2017-05-16 09:53] gemehendrix commented on #523
Please note, as I mentioned in my video, the exact same problem occurs in Firefox. It can also be reproduced easily using a PC running Windows.

[2017-05-16 10:13] janbartel commented on #1552
@SchulteMarkus try adding
[code]
to your webapps/application.xml file.

Delete the unpacked webapps/application directory and run twice again. Does that help?

[2017-05-16 10:19] sbordet commented on #523
@gemehendrix can you please make the following modification and report how it goes:

[code]

[2017-05-16 10:26] mbechler commented on #523
The JSSE RFE is about adding an option to SSLEngine to avoid invalidating the session on closeInbound (but just leave the rest of it, including throwing) which would be permitted by the TLS specification and fixes the problem.

Not calling closeInbound is a bit problematic as it does not properly set the engine state, and does not release associated resources (until finalization).

Yes, this is a

[2017-05-16 10:32] SchulteMarkus commented on #1552
@janbartel
Yes, this helps

[2017-05-16 10:34] gemehendrix commented on #523
@sbordet unfortunately your suggestion this doesn't fix the problem.

[2017-05-16 10:58] gregw commented on #523
@gemehendrix,  just to be crystal clear.... if you remove
the closeInbound(), you don't see the problem, but you do with Simone's
suggested change?

On 16 May 2017 at 12:34, gemehendrix <notifications@github.com> wrote:

--
Greg Wilkins <gregw@webtide.com> CTO http://webtide.com

[2017-05-16 10:59] janbartel commented on #1552
@SchulteMarkus excellent! I should have worked that out earlier - the spring boot should have rung some warning bells for me because it is related to this issue: #877 that I fixed recently ;)

[2017-05-16 11:02] gemehendrix commented on #523
@gregw yes that's correct. If I remove closeInbound() it fixes the problem. Simone's change does not fix the problem. Therefore this fixes the problem...

[code]
                        }

[2017-05-16 11:58] janbartel commented on #1552
@ffissore different problem. Your problem is that you've generated a quickstart-web.xml based on the maven classpath, and then tried to apply it in your docker image, where that classpath doesn't exist. See these lines from quickstart:

[code]
When generating quickstart from a jetty distro these file references point to $JETTY_HOME. However, when running with the maven plugin, all jars are obtaine

[2017-05-16 12:01] janbartel commented on #1552
As @SchulteMarkus's issue is now resolved, I'm going to assign this to @WalkerWatch to make sure we document the issue with running spring web with quickstart.

[2017-05-16 12:08] SchulteMarkus opened #1557 "quickstart-web.xml created by PreconfigureQuickStartWar differs from the one, created because of autoPreconfigure=true"
Hi,

my web-application (application.war) is using [Quickstart](https://www.eclipse.org/jetty/documentation/9.4.x/quickstart-webapp.html), it works fine using

    <Set name="autoPreconfigure">true</Set>

in webapps/application.xml. After the first start, webapps/application/ was created, containing [WEB-INF/quickstart-web.xml](https://pastebin.com/rrcGpWcS).

Now, I want to pre-generate the quick

[2017-05-16 12:22] janbartel commented on #1557
@SchulteMarkus   the PreconfigureQuickStartWar needs to know about your application.xml file. Run it with no arguments to see the help  and available command line options.

[2017-05-16 12:37] SchulteMarkus commented on #1557
Thanks you @janbartel

    jetty-distribution-9.4.5.v20170502 $ java -cp ... \
      org.eclipse.jetty.quickstart.PreconfigureQuickStartWar webapps/application.war webapps/application webapps/application.xml

did the trick.

[2017-05-16 12:37] #1557 closed

[2017-05-16 13:07] sbordet commented on #523
To add more context, I'm inclined to agree with [this answer](https://security.stackexchange.com/questions/91435/how-to-handle-a-malicious-ssl-tls-shutdown).
The answer refers to [this section of RFC 5246](https://tools.ietf.org/html/rfc5246#section-7.2.1).

The problem is that SslConnection does not know, in general, if the upper protocol is delimited by connection termination. This may happen in

[2017-05-16 13:25] ffissore commented on #1552
Thank you @janbartel , when I compared the output of generated and pre-generated quickstart-web.xml I didn't notice the different path. Sorry for having polluted this issue. I'll try again coding that plugin

[2017-05-16 14:29] btd opened #1558 "When creating WebAppContext without session-config and with NO_SESSIONS throws NPE"
If i create WebAppContext this way:
[code]
It throws NPE, because MetaData tried to merge default web.xml with session-config (which set 30 min), even if my own web.xml do not contain session-config section.
So it looks there is no way to create WebAppContext without sessions.

[2017-05-16 17:09] johngmyers commented on #1196
It might be worth considering whether a `RECYCLED` `State` would make this condition more diagnosable. The behavior of hanging the thread is good—it got the problem noticed and investigated, whereas throwing an exception probably would have papered over the situation until there was information leakage. A unique stack trace, however, would have greatly shortened the investigation.

Closing as not

[2017-05-16 17:09] #1196 closed

[2017-05-16 19:54] sbordet commented on #523
1. Server is ok because request content can never be connection delimited per RFC.
2. Need to test the client in case of truncation attack and report exception to application; actually it will be better to make this behavior configurable and have the default to accept raw TCP closes from servers.

[2017-05-16 19:56] gregw commented on #523
https://tools.ietf.org/html/rfc7230#section-3.3.3

[2017-05-17 09:21] janbartel commented on #1558
Fixed in jetty-9.4

[2017-05-17 09:21] #1558 closed

[2017-05-17 11:16] #523 closed

[2017-05-17 11:19] sbordet commented on #523
I believe this is fixed now, from 9.3.x onwards.

We made the call to `closeInbound()` only for clients (that are the only ones suffering from truncation attacks), and added an option in the client (disabled by default) to check for truncation attacks.

@gemehendrix can you please check the latest code and see if it works for you ?

[2017-05-17 11:22] gemehendrix commented on #523
@sbordet thanks! I'll give it a try and will get back to you.

[2017-05-17 12:55] btd commented on #1558
@janbartel Thank you

[2017-05-17 13:16] gemehendrix commented on #523
@sbordet the fix appears to work. I still have more tests to run on other hardware platforms (especially embedded) but my first test looks good. The TLS session id is being retained. I'll post back if I find anymore issues regarding this fix.

As a note, I'm using the 9.3.x to test this with.

[2017-05-17 13:40] ffissore commented on #1542
I'm sorry to say that I'm struggling a lot with this plugin: I cannot find a way to figure out or generate the correct classpath to run PreconfigureQuickStartWar.

My last attempt was using **part** of the command line printed by `java -jar start.jar --dry-run`, until `org.eclipse.jetty.xml.XmlConfiguration`, adding `jetty-quickstart` jar to the list, and finally PreconfigureQuickStartWar: `quicks

[2017-05-17 14:58] janbartel commented on #1542
@ffissore I was thinking that we'd use one of the existing maven goals as the basis of the new plugin, ie AbstractJettyMojo.We would need to get the quickstart-web.xml parameterised with ${jetty.home} and ${jetty.base} when referring to jars, just like when it is generated by the distro. We could probably set a value for jetty.base to be the webapp that is being assembled in target, but jetty.home

[2017-05-17 16:59] gemehendrix commented on #523
@sbordet I've done further testing on the 9.3.x branch and can confirm the issue is resolved.

[2017-05-17 17:52] sbordet commented on #523
@gemehendrix great, thanks for feedback.

[2017-05-17 23:50] gcamargoboj opened #1559 "DefaultAnnotationProcessor.fallbackToManualAnnotatedClasses: Unable to detect annotations. Application may fail to deploy"

[2017-05-18 05:33] gregw commented on #1546
We should also look at the CookieCompliance mode of the HttpConfiguration.  If running in RFC6265 mode  then we should ignore all $ fields sent as they are not supported in RFC6265 Cookie header.  Note that I think we should still be lenient when accepting quoted values and in our handling of bad quotes.

[2017-05-18 07:04] janbartel commented on #1559
DefaultAnnotationProcessor is not a jetty class. Perhaps you have raised this issue on jetty by mistake? If not, please reopen and explain exactly how it relates to jetty, providing stacktraces, your version of jetty, and any jetty config files.

[2017-05-18 07:04] #1559 closed

[2017-05-18 07:50] mbechler commented on #523
For future reference (maybe this can lead to a better fix some time), looks like the RFE was accepted: http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8180584

[2017-05-18 08:46] selva3k commented on #1547
Thanks for the response. I tested this and TLSv1.1 / TLS1.2 is not enabled in older versions of IBM Java as well.  I noticed that SSLv3 is enabled in older versions, which are not enabled in lastest versions

Older version of IBM Java 1.7
==========================
SSLEngine.supported = [SSLv3, TLSv1, TLSv1.1, TLSv1.2]
SSLEngine.enabled = [SSLv3, TLSv1]

Latest version of IBM Java 1.7
============

[2017-05-18 15:57] jsteinich opened #1560 "Add support for nested ldap roles in LdapLoginModule"
If a user is in role X and role X is a member of role Y, authentication will only work if the security handler is set to role X. Setting to role Y will not work.

This [PR](https://github.com/rundeck/rundeck/pull/1145) from Rundeck has an example implementation of nested group support. The general idea is querying roles that a user is a member of to see if they contain the role that is required, g

[2017-05-18 22:59] joakime commented on #1527
@snicoll @bclozel the use of jetty-project and not jetty-parent is to eliminate duplication in the pom, and to satisfy Eclipse legal.

To move from jetty-project to jetty-parent means we will be duplicating large sections of jetty-project in order to have this work.

So far, we have to copy the following into jetty-bom ...

* build/pluginManagement for about 3 plugins crucial to our build
* proper

[2017-05-18 23:05] olamy commented on #1527
Oh I didn't know the eclipse legal requirements..
That's a pain I agree..
We should have this bom in a separate project? Under jetty project GitHub
org non eclipse artifacts?
WDYT?

On Fri, 19 May 2017 at 8:59 am, Joakim Erdfelt <notifications@github.com>
wrote:

--
Olivier

[2017-05-18 23:09] joakime commented on #1348
@andrei-ivanov and @victornoel know that jetty-bom is causing lots of extra headache/work and is in threat of being removed because of it.  See #1527 for more details.

[2017-05-18 23:10] #1544 closed

[2017-05-18 23:26] joakime commented on #1536
@gjdev would recommend not using `jetty-bom` for your situation, use a simple project property instead.  The jetty-bom provides only 1 thing, a version.
All artifacts in the jetty-bom are on the same version, always will be.

[2017-05-18 23:44] joakime commented on #1536
The whole "missing artifacts" or "include more artifacts" rationale in jetty-bom is a never ending slope.

What about jetty-schemas?
jetty-test-helper? if so, under what scope?
the various `<classifier>tests</classifier>` artifacts in active use by other projects?
asm minimum requirements cannot go below a specific version of asm with a specific version of jetty? do we care?
slf4j minimum requirem

[2017-05-19 05:42] snicoll commented on #1527
@joakime I think there is a quite a confusion as the scope of the bom and how to use it.

The purpose of the bom is to allow a build to integrate Jetty and its dependencies in an eco-system whose dependencies are already managed. It's not designed when jetty is the master component that should/can take decisions for other dependencies than its own. If you had users that were using a pom to get "ev

[2017-05-19 09:24] andrei-ivanov commented on #1527
Since the Spring Framework BOM was used as an example, is there a way to find how that gets created?
This [note](http://repo1.maven.org/maven2/org/springframework/spring-framework-bom/4.3.8.RELEASE/spring-framework-bom-4.3.8.RELEASE.txt) indicates it's generated.
And indeed seems to contain strictly Spring Framework artifacts in **[it](http://repo1.maven.org/maven2/org/springframework/spring-frame

[2017-05-19 09:26] andrei-ivanov commented on #1527
Here it is: https://github.com/spring-projects/spring-framework/blob/master/build.gradle#L1134

[2017-05-19 09:48] victornoel commented on #1348
@joakime thanks :)

[2017-05-19 09:49] andrei-ivanov commented on #1348
Added a comment there, thanks :)

[2017-05-19 11:14] jmcc0nn3ll commented on #1527
The spring one looks to be a simple case, what is the standard practice with things like a BOM for something that has specification api requirements a la servlet-api?

Not a good sign when the first person using this starts out looking for http2 artifacts which we flat out can't add to it given the requirement of jdk specifc versioned alpn jars (at least until Java 9).

[2017-05-19 12:41] andrei-ivanov commented on #1527
But I think the BOM is supposed to declare just the versions for the modules of the project itself (Jetty), not its dependencies.
I use the BOM is just to have a single dependency in my <dependenciesManagement> section instead of an entry for each Jetty artifact that I use and also to make sure that any other transient dependencies of Jetty artifacts also get my defined version.

[2017-05-19 13:04] tkratzke opened #1561 "9.4.0.v20161208 to 9.4.5.v20170502"
I'm probably doing something wrong, but when I updated my jetty version from 9.4.0.v20161208 to 9.4.5.v20170502, the enclosed code quit compiling.  I am using dependencies:

[code]

The code is:

[code]

[2017-05-19 13:18] sbordet commented on #1561
What do you mean "quit compiling" ? What error, exactly ?

[2017-05-19 13:42] jmcc0nn3ll commented on #1527
Just when I think I understand the purpose of this thing it again seems like a pointless abstraction. Neat in theory for simple use cases but dig very deep and all I see is potential for magic that is more trouble then it is worth.

[2017-05-19 13:49] victornoel commented on #1527
Seriously, the usefulness of BOMs is not to be proven in 2017.
If you don't see the use, don't use it, and if you don't want to support it in Jetty, don't do it and remove it.
But don't say it is because it is pointless, because it is false.

BOMs are very useful, and before this was introduced in Jetty, other people made one for Jetty just because it was needed and I used it without any problem f

[2017-05-19 14:13] joakime commented on #1527
@andrei-ivanov if you are doing an "entry for each Jetty artifact", then you are using maven poorly.
Don't work around the transitive nature of dependencies in maven, use them, to your advantage.
Eg: If you declare jetty-server or jetty-util in your project, you are definitely doing things in the most complicated way possible.

The most ever dependencies i've ever declared for org.eclipse.jetty de

[2017-05-19 14:19] andrei-ivanov commented on #1527
Hmm, it means we've read different best practices for Maven :)
For example, if you use `mvn dependency:analyze` on a project, it will give you a report on that.
The rule I know is: if I use class `A` in my code, I have to add a direct dependency on the artifact that contains class `A` and not rely that the artifact gets brought in as a transitive dependency of another artifact.

[2017-05-19 14:22] victornoel commented on #1527
@joakime it's not as easy. Sometimes you have dependencies that depends on specific jetty artefact, and in that case, the only way to force a version, is to use `dependencyManagement`. Using a BOM is the most simple way of forcing a version in this case.

[2017-05-19 14:29] victornoel commented on #1527
@joakime even without specifying ALL the dependencies used as advocated by @andrei-ivanov (which is a good practice when you have lots of artifact and want to have a good overview of what are your actual dependencies, see [this](http://maven.apache.org/plugins/maven-dependency-plugin/examples/failing-the-build-on-dependency-analysis-warnings.html) for example), you can find yourself needing it.
Fo

[2017-05-19 14:35] joakime commented on #1527
It is [wrong](http://maven.apache.org/team-list.html#olamy) to [assume](http://maven.apache.org/team-list.html#jmcconnell) that [we](http://maven.apache.org/team-list.html#joakime) don't know or understand maven.

[2017-05-19 14:36] jmcc0nn3ll commented on #1527
I see that as basic deterministic build conventions and this bom concept as applying magic to the build for that scenario. Imo at least, your results obviously vary. One funky API change and a house of cards deep in your dependency tree can come crashing down. That is what I meant by it working in the simple case but has scary potential for issues.  Kinda like osgi! :)

[2017-05-19 14:37] victornoel commented on #1527
Not sure where anybody said that, but then I don't get why you don't understand our use cases…

[2017-05-19 14:41] jmcc0nn3ll commented on #1527
I would say we understand the mechanics but are leery of the pitfalls. True the pitfalls are yours to manage but ultimately ours to support for people that are not as up to speed on these things as you obviously are. That is how we _have_ to look at things.

[2017-05-19 14:44] victornoel commented on #1527
In any case, it's ok to decide to drop Jetty's BOM, it's your prerogative, but please own to your decision and don't come saying it is because it is useless or not desirable to use BOMs (except if you have actual arguments to support this, which I didn't see in this issue).

As for you last argument @jmcc0nn3ll, I understand, but is that so hard to generate or maintain a BOM with only the jetty ar

[2017-05-19 14:59] jmcc0nn3ll commented on #1527
Hard to do? Not particularly.

The danger I see is forcing jetty dependency versions into your dependencies with version coordinates across soon to be 4 servlet-api API versions and multiple jetty versions. There is no expectation that jetty-util is API or runtime compatible between 7 and 10 but a bom can give that impression in your build until it blows spectacularly in a not super clear reason w

[2017-05-19 15:05] snicoll commented on #1527
I really don't get it. The only thing we are discussing here is a way to add "something" version A.B.C that would make sure that all jetty artifacts used by the project use A.B.C. This is something anybody using jetty would have to do _anyway_.

This is what a BOM does. And I think Jetty must have one with the features that were described in this issue.

@joakime I can also [add a link](http://mav

[2017-05-19 15:19] joakime commented on #1527
@snicoll true (hi :smirk:), here's a common example that's happened to many using the first jetty-bom over the past few weeks.

MyProject
 * depends on LibFoo
     * transiently depends on Jetty 9.0.4
 * depends on jetty-server (version-less declaration)
 * depends on jetty-bom/9.4.5

Can you see the problem?
Hint: Since 1996, Jetty versioning has been `<servlet_support>.<major>.<minor>`

They hav

[2017-05-19 15:37] snicoll commented on #1527
Sorry, no. If you'd implement what we're asking here then this project would use Jetty 9.4.5 consistently which is exactly what you want if you import the BOM in your project.

You lost me. Can you share a simple project that demonstrates the issue. I genuinely don't understand what you're describing.

If you import the jetty BOM 9.4.5 your are also indicating that you want that project to use tha

[2017-05-19 17:21] victornoel commented on #1527
This example would make sense if `jetty 9.4.5` was depending on `something 1.0.0`, if you replaced `Jetty 9.0.4` (as a transitive hidden dependency) by `something 1.2.0` (and using features introduced after `1.0.0`),  and if (big IF) jetty's BOM contained also jetty's dependencies (which is the source of the present issue).
In that case I can understand the problem exists and can be misleading.

B

[2017-05-19 17:40] jmcc0nn3ll commented on #1527
We also run the CometD project which uses Jetty as well.

Common case of someone wiring up an embedded Jetty instance with a CometD instance deployed sometimes completely embedded, sometimes within a WebappContext.  CometD version X requires Jetty version Y.

I happily go and wire up my project with my shiny new version Y bom file for Jetty and CometD X.  Jetty Z releases so I go update my bom to

[2017-05-19 17:55] jmcc0nn3ll commented on #1527
Issue is that @joakime and I see where there are issues now that we have tried it out and gotten feedback.  We do see where it solves a certain class of issues for you guys.  What we need to balance is the value this provides verses the potential for confusion which we have already seen.  Is the problem visibility and it may be that it shouldn't exist as a top level Jetty artifact?  Is this someth

[2017-05-19 18:08] victornoel commented on #1527
So it's an education issue, you have two choices: you can decide not to take innovative measure because people are used to the old way, or you can take innovative measure and give it some time for people to understand how things work.
The Jetty devs are the only one able to make that choice now that advantages and disadvantages are clear.

So, with this point of view, for me, in your example, you

[2017-05-19 18:19] jmcc0nn3ll commented on #1527
CometD uses jetty internally, but you can just replace it with a user implemented proxy servlet inside of a normal webapp that uses the jetty-client which we have lots of people doing.

And yes, you are completely correct in my example I screwed up but the concern I am expressing is who would I as user first chase down as the origin of the issue, is it the jetty project or the cometd project.  Sor

[2017-05-19 18:29] victornoel commented on #1527
Glad we could pinpoint the source of the problem

For me the documentation should be no more than: "you can use a bom for jetty and it's called `jetty-bom`. Be careful when using a BOM (here insert a link to [maven's page on BOM and dependency management](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html), even though it's not completely adequate, it explains h

[2017-05-19 18:32] jmcc0nn3ll commented on #1527
@WalkerWatch lets get something in place for this.  IMO we should probably keep this moving forward and get it cleaned up so it works properly for you guys and see how it teases out.  @WalkerWatch I think we should add some solid warnings to the page regarding unintended consequences when it comes to webapps and whatnot, ping me if you want to chat about it.

[2017-05-19 18:34] jmcc0nn3ll commented on #1527
@olamy was this all cleaned up in your branch?  I think we should probably slurp over some basic license and project info and make this thing as independent or even generated as possible.  We have a new release coming next week and if we can sneak it in that would be great, otherwise we might need to target the following for any other cleanups.

[2017-05-20 10:24] oleg-nenashev opened #1563 "StackOverflow in LogHandler with classloading due to logging in WebAppClassLoader"
Hello,

In Jenkins project we have recently upgraded from Jetty 9.2 to 9.4. In some conditions we hit StackOverflow in Jetty WebAppClassLoader when Jetty Debug logging is enabled. Issue - [JENKINS-44330](https://issues.jenkins-ci.org/browse/JENKINS-44330). It happens, because one of our LogAppenders does classloading:

[code]

I think we should fix this regression on our side. OTOH I would like to

[2017-05-20 10:27] oleg-nenashev commented on #1563
So it will happen if and only if the Debug logging for Jetty is enabled: https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/WebAppContext.java#L857

It has been added by this commit: https://github.com/eclipse/jetty.project/commit/afb750515e3f5bd2f3ebb7a84b5dc34f7cdcef6a . Will raise an issue in the Jetty bugtracker

[2017-05-20 12:13] tkratzke commented on #1561
I am sure that this was my error. I apologize. I wiped out my maven repository, started over with a new Pom.XML, and things worked out fine.

Sent from my iPhone

[2017-05-20 15:51] #1561 closed

[2017-05-22 01:26] olamy commented on #1527
Sorry I was off the last few days.
I think @joakime fixed most of it with https://github.com/eclipse/jetty.project/commit/7f497e8720f07c145088f497fd60bb413aa80cab

[2017-05-22 05:39] gregw commented on #1563
Tough call how to fix.  Not sure i like any alternative: leave it to log
implementor to avoid;  remove logging from classloader; detect recursion in
classloader; detect recursion in logging.

On 20 May 2017 12:24, "Oleg Nenashev" <notifications@github.com> wrote:

[2017-05-22 08:07] selva3k opened #1564 "Jetty: Unknown SSL protocol error in latest IBM Java 1.7 version [1.7.0.sr9.30 and above, 1.7.1.sr3.30 and above]"
Hi,

This is the continuation of the issue "https://github.com/eclipse/jetty.project/issues/1547"
I could not able to reopen the issue, hence I have opened this defect. I have given below the summary in short description.

Description: Jetty 9 version lesser than 9.3 (I used 9.2.16) does not work with latest IBM releases (IBM Java 1.7)

Here is the continuation of the jetty defect id (1547)

Thank

[2017-05-22 08:31] sbordet commented on #1564
Let's continue on #1547.

[2017-05-22 08:31] #1564 closed

[2017-05-22 08:32] sbordet commented on #1547
@selva3k so you wanted this reopened, you could have asked here.

Given the discussion here, it is not a Jetty problem. What you wanted this bug reopened for ?

[2017-05-22 09:33] selva3k commented on #1547
Thanks for your reply.

I noticed that IBM Java disabled MD5 for security reasons from the below version onwards.
IBM Java 1.7 version [1.7.0.sr9.30 and above, 1.7.1.sr3.30 and above]

Jetty stopped working from this Java version onwards only. I suspect that SSL handshake is failing due to the MD5 disablement in IBM Java which need to be fixed/handled by Jetty

Also i noticed in few places still J

[2017-05-22 09:45] sbordet commented on #1547
You copy/pasted the same comment 3 times, but I still don't understand what the issue is ?

"Jetty stopped working" is too generic. What exactly stopped working ?
If you use an IBM JDK version that does not support *any* TLS protocol, well, there is nothing that Jetty can do on its own.

Please understand that this is not a Jetty issue, it is entirely a configuration issue in your IBM JDK TLS conf

[2017-05-22 10:23] rgambelli opened #1565 ""Adding SSL for HTTPS & HTTP2" doc chapter reports wrong informations"
Please review the documentation [here](http://www.eclipse.org/jetty/documentation/current/quickstart-running-jetty.html#quickstart-starting-https) because it is not true that ssl.ini and alpn.ini are created.

I'm using Windows 8.1

I've just tried with a jetty fresh installation jetty-distribution-9.4.5.v20170502 and I followed all steps in documentation till that chapter

[2017-05-22 13:27] joakime commented on #1527
closing, as @olamy feels this specific issue was addressed.

[2017-05-22 13:27] #1527 closed

[2017-05-22 13:44] joakime commented on #1547
@selva3k can you upgrade to Java 8?  That has TLSv1.2 enabled by default (per java spec).

The Java 7 JVMs might have TLSv1.2 support, but they are hidden behind JRE/JVM configurations and have different behavior depending on if its used with a Client vs a Server.

[2017-05-22 13:50] joakime commented on #1563
@gregw perhaps we should have a recursion check, this isn't the first StackOverflow from this new classpath pattern logic. See Issue #1448

[2017-05-22 13:57] joakime commented on #1547
@selva3k also note, there is currently no Java 7 version that isn't expired (Oracle and IBM).

Every Java version has an expiration date, at which point the SSL/TLS, Ciphers, and all things related to the security layers, are considered out of date and must be updated.

If you plan on using TLSv1.2 on the public internet, we would *strongly* advise that you keep your Java JVM up to date.  The mini

[2017-05-22 14:44] a-roberts commented on #1547
@selva3k not sure if it's the same issue but with IBM Java 8 (latest), we can't use the secure web UI with Apache Spark's 2.2 branch (this is using Jetty) as a result of [this](commit) that upgrades the jetty version to 9.3.11.v20160721 from .2.16.v20160414.

You can grab the newest IBM JDK 8 to give it a try (may get the same problem as me: no compatible cipher suites) [here](https://developer.ib

[2017-05-22 15:42] gregw commented on #1536
@joakime I'm sensing you don't like the concept of a bom?

I have to say I'm struggling to really see the value, but I think I get it after reading many times - essentially it gives the ability to add a fixed version of the project to the dependencyManagement section of a project without necessarily depending on every component.

However I'm thinking that we'd best generate it by processing the ou

[2017-05-22 15:44] sbordet commented on #1536
+1 for automatic generation, as nobody will ever remember to update the bom module in case a module is added or removed.

[2017-05-22 16:24] jmcc0nn3ll commented on #1536
I also don't think we need to care too much about the various sections in this pom, license, etc...it is just dependencyManagement, it doesn't actually add in any artifacts to build that the users don't add themselves and _those_ artifacts have the necessary goop declared.

[2017-05-22 17:02] #1565 closed

[2017-05-22 17:18] oleg-nenashev commented on #1563
We fixed the issue on our side, but recursion prevention would be definitely useful. In the case of Debug logging it should also prevent issues with performance though #1448 won't be addressed then

[2017-05-22 17:32] joakime commented on #1536
alpn-api is a stand alone release, not part of the normal jetty release process, it will not be included in the jetty-bom.

only artifacts that belong to the same jetty release version are included in the jetty-bom, all other dependencies are outside the scope of jetty-bom.

[2017-05-22 17:34] joakime commented on #1536
Also note, since these are just `<dependencyManagement>` entries, the build will not fail if there is something amiss in the jetty-bom.  Wrong entries, non-existent entries, etc will not fail the build.

[2017-05-22 17:34] #1536 closed

[2017-05-22 17:38] gregw opened #1566 "ServletContext is not reset/cleared between stop/start"
If a server with websockets is stopped, it cannot be restarted!   For example if you use the `demo-base` from the distribution and create an `etc/jetty-startstop.xml` file that contains:
[code]
then if you run `java -jar ../start.jar etc/jetty-startstop.xml` you get the following exception on the second start (done by `XmlConfiguration`):
[code]

[2017-05-22 17:39] gregw commented on #1566
@joakime this is a moderate priority for me as it is blocking some work I'm doing on quickstart.

[2017-05-22 17:42] joakime commented on #1566
The attributes in the ServletContext are not cleaned out on undeploy?

[2017-05-22 17:43] joakime commented on #1566
I would have expected the WebAppContext.stop() to clear out the ServletContext, or at least have the WebAppContext.start() initialize a fresh/empty ServletContext before the Configurations are run.

[2017-05-22 17:46] gregw commented on #1566
Don't know sorry - just know that if I call start, stop, start on the demo base I get the exception above.

Note that there are two maps of attributes for a context. Those added via the  programmatic API directly to our ContextHandler (or extension) and a second map for those added via the ServletContext API.  The former are not reset over stop/start but the later are.

[2017-05-22 17:48] joakime commented on #1566
The WebSocketUpgradeFilter.destroy() cannot remove the configuration from the ServletContext attributes itself, as there is no ServletContext at that point in time.   The expectation is that the ServletContext itself is cleaned out and reset between stop/start.

[2017-05-22 17:50] joakime commented on #1566
We do have a testcase for this scenario.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.5.v20170502/jetty-websocket/websocket-server/src/test/java/org/eclipse/jetty/websocket/server/WebSocketUpgradeFilterTest.java#L324-L363

That sets up WebSocketUpgradeFilter using a bunch of different techniques, verifies that it works, and then performs stop/start on the handler (WebSocketContext or S

[2017-05-22 17:52] gregw commented on #1566
Can you reproduce with `demo-base` and the XML ?

[2017-05-22 17:57] joakime commented on #1566
No error using the `jetty-distribution-9.4.5.v20170502` tarball.

[code]

[2017-05-22 17:58] joakime commented on #1566
BTW, I notice that this technique, using the `etc/startstop.xml` does start/stop each of the deployables 4 times (according to the output)

[2017-05-22 18:02] joakime commented on #1566
Interesting, there are 2 Server instances doing it this way. each one of those server instances with a start/stop of each of the deployables.

[code]

One server has 2 connectors, the other has no connectors !?

[2017-05-22 18:03] joakime commented on #1566
@gregw i don't think your `etc/startstop.xml` is a valid test scenario.

[2017-05-22 18:07] joakime commented on #1566
On windows, this `etc/startstop.xml` scenario is also invalid as the temp directory contents cannot be deleted between the first stop/start.

[code]

[2017-05-22 18:11] joakime commented on #1566
If we allow the startup with the 2 Servers, but also enable jmx, then the JMX MBean tree does not report 2 servers, it only sees 1.

Thread dump only shows 1 Server too, along with 1 qtp pool.
However, the stop shows 2 thread ids during stop, with the same stop information repeated twice in the logs under two different thread ids (and with different webapp hashcode() values).

Hmmm.  Curiouser and

[2017-05-22 18:17] gregw commented on #1566
I have found a bug in XmlConfiguration where it does call start too many times on the server.
I agree the xml is a little contrived, but doing such things can be useful for testing configuration, generating start.jar.

Note that I'm in 9.3, so it may not be an issue in 9.4, so that is probably fine.

[2017-05-22 18:18] gregw opened #1567 "XmlConfiguration will start the same object multiple times"
If the same Object is configured by multiple XML files, then `start()` is called multiple times

[2017-05-22 19:04] gregw commented on #1563
So if we detect recursion in classloading, then what do we do?  Guess it is because of logging and don't log during the load?   Seams a bit contrived?

It is much harder for us, perhaps impossible to put recursion detection into logging, because we don't implement all the log handlers and it is a big tax to pay on log handlers that can never be recursive.

Still not convinced we can do anything re

[2017-05-22 19:14] #1567 closed

[2017-05-22 19:16] joakime commented on #1563
Would it be possible to put the recursion check in `WebAppClassLoader.loadClass()`?

[2017-05-22 19:21] gregw commented on #1563
Not really:
* `WACL` is as asked to load a class
* it does some logging
* the log handler needs to load a class
* recursion is detected

Then what? return null? throw exception? if so who catches it? How is logging ever instantiated because it can also happen:

* something does some logging
* the log handler needs to load a class
*  `WACL` is as asked to load the class
* it does some logging
* the

[2017-05-23 05:15] Zalathar opened #1568 "ServletUpgradeRequest mangles query strings containing percent-escapes by re-escaping them"
(version 9.4.5)

When a ServletUpgradeRequest instance is created, it creates a request URI by passing each of its URL components into one of URI's multi-argument constructors.

However, if the request's query string contains percent-escaped characters, then the URI constructor will double-escape those percent-escape sequences by replacing `%` with `%25`. This ends up confusing any server-side cod

[2017-05-23 05:53] gregw commented on #1568
Correct.  URI.getPath() is decoded, while URI.getQuery() is not.
The solution is not to simply decode the value from getQueryString() as it may include characters like & and =, which will then be wrongly handled.   A different URI constructor needs to be used.

[2017-05-23 17:33] joakime commented on #1568
Fixed in commit 296050d

[2017-05-24 05:32] Zalathar commented on #1568
It looks like the new version will now decode any existing `%26` or `%3d` sequences into `&` or `=` respectively, which changes the meaning of the query string.

For example, this query string:

[code]

will appear in the URI (via URI#getRawQuery) as

[code]

which changes how the query parameters will be parsed.

(This applies to code that tries to extract the query string by calling URI#getRawQu

[2017-05-24 07:06] gregw commented on #1568
@joakime I think the `ServletUpgradeRequest` code is best done in Strings rather than URIs.  There is a lot of parsing and decoding/encoding going on in your version.   I think somethink like below should do:
[code]

However, I think there is something wrong in the test harness as the query string is arriving as if the results of URI.getQuery() have been sent rather than URI.getRawQuery().  Not fa

[2017-05-24 07:11] gregw commented on #1568
@joakime Ah I see that WSURI#toHttp is using the multipart URI constructor - which is basically fatally flawed it does not allow proper handling of query strings with quoted special characters.  Again I think the solution is to do the URI manipulations as Strings and only create the URI at the very end.

I think we need to track down all usages of the multi arg constructor for URI and fix.

[2017-05-24 07:18] gregw commented on #1568
Blah `URI` is a really confused class - even URI.getRawSchemeSpecificPart() is returning the partially decoded query string!  That's probably a JVM bug I think!  anyway will avoid using it at all!

[2017-05-24 07:24] gregw commented on #1568
@joakime I've pushed my fix, but I've not rigorously checked for similar problems, nor alternative uses of the same code.   So will leave this issue open for now.

I definitely think we need to check for and avoid URI where possible.

I'll research `URI.getRawSchemeSpecificPart()` to see if that really is a JVM bug.

[2017-05-24 07:39] gregw commented on #1568
Ha I definitely think there is a JVM bug!   The following test fails
[code]

[2017-05-24 19:10] alex-rufous opened #1569 "Allow setting of maxBinaryMessageSize to 0 in WebSocketPolicy"
The existing implementation of WebSocketPolicy#setMaxBinaryMessageSize(int) restricts settings of maxBinaryMessageSize to positive integers. It seems Jetty internally supports unconstrained maxBinaryMessageSize (if set to 0). The only way to set it to 0 is to use reflection. Would it be possible to relax the constraint in setter and allow '0'?

[2017-05-25 10:08] gregw commented on #1568
For the record, the JVM bug report was accepted: http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8181074

[2017-05-25 16:32] selva3k commented on #1547
Hi joakime,

Thanks for your response. I tested in IBM Java 1.8 (TLSv1.2 is enabled) and given below the test results. Still the handshake fails.

Supported Protocols
===================
SSLEngine.supported = [TLSv1, TLSv1.1, TLSv1.2]
SSLEngine.enabled = [TLSv1, TLSv1.1, TLSv1.2]

Java Version
============
sgxexpo2:~ # java -version
java version "1.8.0"
Java(TM) SE Runtime Environment (build pxa64

[2017-05-26 00:12] olamy opened #1571 "Support Hazelcast session management in 9.4"

[2017-05-26 14:51] thomashunziker commented on #1184
I have the same issue with the version `9.4.4.v20170414`. When I understand this correctly this should not happen anymore with this version.

I cannot reproduce it by myself. However I see it in the production environment. Stacktrace:

[code]

The headers of the request:
[code]

Have you any idea why this is happening?

[2017-05-26 22:31] olamy opened #1572 "tck test suite for session management implementations"
Currently all implementations have their own test with some duplicate code.
We can have a shared tck test suite which can reuse.
Maybe 2 types:
* SessionDataStore
* SessionDataMap

[2017-05-27 00:51] jkrems opened #1573 "Expose actual (TCP) client address"
Afaict there is no reliable way to retrieve the remote address of the immediate client right now. All code paths that *might* be returning the remote address in some scenarios, return random data if the client sends an `X-Forwarded-For` header. If the clients sends `X-Forwarded-For: I$love%20paris`, jetty will happily return something like `I$love%20paris:56084` as the remote address.

Would it be

[2017-05-27 07:28] janbartel commented on #1572
Not sure exactly what you're thinking here? There are tests that are shared in test-sessions-common. There are concrete test classes in there that deal with interfaces as you suggest. However there are also other abstract classes in there that are shared code for tests of specific impls of SessionDataStore (eg for infinispan, mongo, jdbc etc etc).  As each concrete impl of SessionDataStore will ha

[2017-05-27 09:19] olamy commented on #1572
oh ok everything is there...
while implementing #1571 I was writing the test in the implementation module.
I'm just a bit confused to have separate module for the implementation and the tests.
What is the reason?

[2017-05-27 09:46] olamy opened #1574 "TypeUtilTest#testGetLocationOfClass is user settings dependant"
To pass the test need the users to have "repository" part of his maven repository path.
I changed recently my settings to <localRepository>/Users/olamy/mvn-repo</localRepository>
so the test is not passing anymore.

[2017-05-27 09:55] janbartel commented on #1572
Well, they're a bit more than unit tests, they're more like integration tests because its a suite of classes that are being tested.  If you have some unit tests where you're really only testing 1 class then you could put them into the impl module - just be sure that if you need a local installation of hazelcast the tests can be selectively enabled (disabled by default).

[2017-05-27 10:00] olamy commented on #1572
ok make sense.
Close it as not an issue.

[2017-05-27 10:00] #1572 closed

[2017-05-29 10:43] olamy opened #1576 "Make session config easier with jetty-maven-plugin 9.4.x"
Find an easy way to configure the session handling for maven plugin with 9.4.x
Reference https://dev.eclipse.org/mhonarc/lists/jetty-users/msg07804.html

[2017-05-29 13:55] gjdev opened #1577 "StringIndexOutOfBoundsException in QuotedQualityCSV"
Since upgrading to jetty 9.4.5 (from 9.3.12) we see this error logged in our server logs several times a day:

[code]

[2017-05-29 16:16] juretta opened #1578 "org.eclipse.jetty.util.log.JettyAwareLogger#log discards argArray"
`JettyAwareLogger` explicitly discards the `argArray` when calling the underlying `LocationAwareLogger`: https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-util/src/main/java/org/eclipse/jetty/util/log/JettyAwareLogger.java#L617-L620

We are using structured logging with https://github.com/logstash/logstash-logback-encoder and use `StructuredArgument`s (https://github.com/logstash/log

[2017-05-30 06:38] gregw opened #1579 "NPE in Quoted Quality CSV"
[code]

[2017-05-30 06:38] gregw commented on #1577
Hi,

I've opened https://github.com/eclipse/jetty.project/issues/1579
If you could capture the headers that cause that NPE, that would be a big
help.

cheers

On 29 May 2017 at 15:55, gjdev <notifications@github.com> wrote:

--
Greg Wilkins <gregw@webtide.com> CTO http://webtide.com

[2017-05-30 08:14] #1579 closed

[2017-05-30 08:15] gregw commented on #1579
There were several problems with bad partial values like `q=1` and `x;=1`.
Also fixed handling of missing qualities

[2017-05-30 08:18] gregw commented on #1577
Found problem and fixed.  They are from badly formed quality lists.  In
particular I think your error is caused by somebody sending a header like

Accept-Charset: q=1

Which is a bit wrong, so they probably deserve the 500 that they are
getting.  However the fix will ignore such bad quality CSVs and they will
get the default charset.

cheers

On 30 May 2017 at 08:38, Greg Wilkins <gregw@webtide.co

[2017-05-30 08:31] gregw commented on #1578
This behaviour was added to fix https://bugs.eclipse.org/bugs/show_bug.cgi?id=357216
Note that the argArray is not ignore, but rather used to format the message prior to passing to the nested logger.

I'm unsure if that is a good solution, because we should perhaps do more to support correctly implemented loggers rather than patching over behaviour of bad ones?   @joakime @sbordet  thoughts?

[2017-05-30 08:33] gregw commented on #1578
Original slf4j bug reference link is broken, but you can see email log here http://mailman.qos.ch/pipermail/slf4j-dev/2011-September/003428.html

[2017-05-30 08:50] gregw commented on #1578
The suggestion made in that thread is that we format the message, but still pass the args?!?!  Hmm that's pretty ugly and probably wont help the OP much.

But the most recent version of [org.slf4j.impl.Log4jLoggerAdapter.java](
https://github.com/qos-ch/slf4j/blob/master/slf4j-log4j12/src/main/java/org/slf4j/impl/Log4jLoggerAdapter.java#L579-L582) still ignores the passed args.  So I'm not really

[2017-05-30 09:31] juretta commented on #1578
Thanks @gregw - that's what I did. Just wanted to raise this issue, as I noticed the problem with `JettyAwareLogger` whilst adding structured logging information.

[2017-05-30 13:18] joakime commented on #1577
@gregw do you want to leave this issue #1577 open for anything else?

[2017-05-30 13:20] #1577 closed

[2017-05-30 13:20] gregw commented on #1577
nope :)

[2017-05-30 13:24] joakime commented on #1578
New link to (broken) slf4j bug mentioned in slf4j mailing list - https://jira.qos.ch/browse/SLF4J-231

[2017-05-30 15:45] gregw opened #1580 "Leak detected during client tests"
[code]

[2017-05-30 18:01] joakime commented on #1547
Works fine here.

[code]

And the client (I removed the `-r` as that's for range requests)

[code]

[2017-05-31 11:03] selva3k commented on #1547
@joakime, which IBM java version you are using? please mention the minor version also. I will try with the same version.

[2017-05-31 11:28] gjdev commented on #1577
Thanks!

[2017-05-31 11:37] olamy opened #1581 "Support Cassandra Session Management 9.4"

[2017-05-31 12:22] joakime commented on #1547
Use the same version of Java, Jetty, and test with the demo-base.

[2017-05-31 13:46] satishsutar opened #1582 "why do rest webservice path params should be double quoted while sending rest request using rest clients?is it limitation"
Hi Jetty Team,

I am working on rest web service project deployed on JettyServer programatically. The problem which i am facing is path parameters in rest service path needs to be double quoted to access the service. If path parameters are not double quoted the rest server does not respond gives 500 http error.

http://localhost:8080/restservice/api/employees/"empname"
above this url GET request w

[2017-05-31 14:20] joakime commented on #1582
Not enough information to help you.
The quotes have nothing to with any spec.
The 500 error should tell you a stacktrace, what does it look like?
What rest service?
How do you have it configured?
Do you have a demonstration project?

[2017-05-31 14:21] joakime commented on #1468
We accept pull requests (with valid Eclipse ECA)

[2017-05-31 14:24] joakime commented on #1419
This was fixed in commit 7547fc4b2951a8f370ab1f5c74680bee2908fd3d

[2017-05-31 14:24] #1419 closed

[2017-05-31 14:25] joakime commented on #1368
bump @gregw see my comment above

[2017-05-31 14:26] joakime commented on #1344
Closing due to lack of info and replication.   Feel free to reopen (or ask for a reopen) if you can provide a replication testcase. (your demo code does not replicate)

[2017-05-31 14:26] #1344 closed

[2017-05-31 14:27] joakime commented on #1129
Closing due to lack of updates

[2017-05-31 14:27] #1129 closed

[2017-05-31 14:28] joakime commented on #1368
This seems similar to issue #901

[2017-05-31 14:31] jmcc0nn3ll commented on #1582
on the server object there is a method called something like
setDumpOnStart(true) that you want to call once you are all wired as you
think you should be

that will print out to logging the actual configuration, I suspect things
are not configured as you think they are configured

cheers,
Jesse

--
jesse mcconnell
jesse.mcconnell@gmail.com

On Wed, May 31, 2017 at 9:26 AM, satishsutar <notificatio

[2017-05-31 14:33] satishsutar commented on #1582
sorry its not 500 http error code... its 404
when i try to hit below restservice GET request url on chrome browser where satish is path parameter without double quoted gives below error response.
http://localhost:8080/restservice/api/employees/satish

erst webservice has been defined as below restController class as below
@Path("/")
@Controller
public class RestController{
@GET
@Path("/restservice

[2017-05-31 14:34] joakime commented on #858
I wonder if #1468 would help things here as well?
@gregw thoughts?

[2017-05-31 14:38] joakime commented on #1582
After turning on java formatting for your code, it's apparent that you have an invalid class declaration.

Your `@Path` declaration has no closing double quote.

[2017-05-31 14:44] satishsutar commented on #1582
Assume it has closing double quote... code is working perfectly. with http://localhost:8080/restservice/api/employees/"satish"  for this reqiuuest
but fails for http://localhost:8080/restservice/api/employees/satish
@Path("/")
@Controller
public class RestController{
@GET
@Path("/restservice/api/employees/{employeeName}")
@Produces(MediaType.APPLICATION_JSON)
public Response getEmployeeByName(
@Pa

[2017-05-31 14:44] joakime commented on #1582
This seems like a problem with your rest service of choice. (either a bug, or a bad configuration)

The `@Path("/restservice/api/employees/{employeeName}")` is not a feature of the servlet spec, the support for `@Path` annotation and path parameter declarations is not the responsibility of Jetty, these features would be provided by the Rest implementation you are using.

It seems like the Rest Imp

[2017-05-31 14:44] #1582 closed

[2017-05-31 14:46] gregw commented on #1368
I'm inclined to think that almost nobody would be using the prompt for password approach, so it would be good to make null mean null.

Maybe we only do the prompt for password if the setter has not been called?

let me have a play....

[2017-05-31 14:48] gregw commented on #1368
I'm not so keen on `OBF:` being null, but we could probably add support for `NULL:` being null pretty easily.

[2017-05-31 14:49] selva3k commented on #1547
I tested with the same version and handshake is failing. I have given below the details (curl response, java version etc)

CURL RESPONSE
=============
sgxexpo2:~ # curl -v --tlsv1.2 -k https://localhost:8443
* Rebuilt URL to: https://localhost:8443/
* Hostname was NOT found in DNS cache
*   Trying ::1...
* Connected to localhost (::1) port 8443 (#0)
* successfully set certificate verify locations:

[2017-05-31 14:54] joakime commented on #1547
Something seems off with your curl.
Why does it keep trying to do SSLv3?
What version of curl are you using?

[2017-05-31 15:03] selva3k commented on #1547
sgxexpo2:~ # curl --version
curl 7.37.0 (x86_64-suse-linux-gnu) libcurl/7.37.0 OpenSSL/1.0.2j zlib/1.2.8 libidn/1.28 libssh2/1.4.3
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp scp sftp smtp smtps telnet tftp
Features: AsynchDNS GSS-Negotiate IDN IPv6 Largefile NTLM NTLM_WB SSL libz TLS-SRP

[2017-05-31 15:50] joakime commented on #1547
I've got a slightly more up to date version of curl, not based on the older OpenSSL 1.0.x series, but on GnuTLS.  (Wonder why your version isn't at least based on OpenSSL 1.1.x series)

[code]

[2017-05-31 16:03] gregw commented on #1368
On balance, I'd prefer to have setter(null) mean set null, so I'd like to deprecate/remove the prompting.  I can definitely do this in 10.0.0, but not in 9.4.x. @garypgithub are you OK with your work around until next major release?

Note also that an easier work around might be to override SslContextFactory and replace the newPassword(String) method with return null

[2017-05-31 16:07] joakime commented on #1573
Only the `ForwardRequestCustomizer` uses or sets the `X-Forwarded-For` headers to update the `HttpServletRequest.getRemoteAddr()`.

If you have nothing in front of Jetty, then remove the `ForwardRequestCustomizer` and use the raw remote address found during socket accept.

[2017-05-31 16:10] joakime commented on #1573
If you need the `ForwardRequestCustomizer` and have something in front of Jetty, consider using [RFC7239](https://tools.ietf.org/html/rfc7239) exclusively on your proxy/load balancer/hardware/software that sits in front of Jetty.

You might also want to consider updating proxy/load balancer/hardware/software to reject the `Forwarded` header provided by the client and overwriting it with the real P

[2017-05-31 16:10] #1573 closed

[2017-05-31 16:13] joakime commented on #1368
@gregw others that have tried extending SslContextFactory for this same behavior (null) have hit other issues with the TrustStore part of the equation. See #901 and https://bugs.eclipse.org/473321

[2017-05-31 17:15] joakime commented on #1435
@gregw this seems completed already. can we close it?

[2017-05-31 17:19] joakime commented on #1546
This is fixed, closing

[2017-05-31 17:19] #1546 closed

[2017-05-31 17:37] joakime commented on #1578
Out of curiosity, how are you using `org.eclipse.jetty.server.Slf4jRequestLog` in a way where the `argArray` makes sense?

The only thing that uses that logger is the internal implementation in Jetty, and it formats the request event according to NCSA request log output and sends it to that named logger without arguments.  There is no other usage of that class in Jetty, nor any way that makes sens

[2017-05-31 17:40] joakime commented on #1578
Since Slf4j's own implementation doesn't use the `argArray` and according to the bug at slf4j, a future version of slf4j will remove the argArrays as well, there seems to be nothing we can do, or should do, and just wait for the eventual removal of those methods that have argArrays on the slf4j side.

Closing.

[2017-05-31 17:40] #1578 closed

[2017-05-31 17:46] joakime commented on #1568
I'm considering this complete. closing.

[2017-05-31 17:46] #1568 closed

[2017-05-31 17:47] joakime commented on #1566
Closing, unable to replicate (though it did spark a different bug)

[2017-05-31 17:47] #1566 closed

[2017-05-31 20:06] joakime commented on #1569
Setting the maxBinaryMessageSize at 0 would mean you never send a binary message payload (no length).
Jetty has traditionally not support unconstrained whole binary messages delivery.
It only supports unconstrained binary messages via the streaming APIs.
Internally, the maximum whole message size (or individual frame payload size) is [Integer.MAX_VALUE](http://docs.oracle.com/javase/8/docs/api/jav

[2017-05-31 20:13] joakime commented on #1569
Change applied.

But I would encourage you to either use the streaming APIs or set the max message size to something reasonable.

[2017-05-31 20:13] #1569 closed

[2017-06-01 00:37] joakime commented on #1514
Fixed

[2017-06-01 00:37] #1514 closed

[2017-06-01 04:16] olamy opened #1583 "Typo in infinispan session management documentation"

[2017-06-01 08:05] #1583 closed

[2017-06-01 09:14] gregw commented on #1503
Hmmm looks like we may be returning the `[ipv6]` form from getServerName for a normal host header.  So we need to be consistent with that... but we may be wrong... researching...

[2017-06-01 09:19] gregw commented on #1503
Ah I thought this was familiar - I have raised this issue with the servlet spec as the javadoc for getServerName is ambiguous: https://github.com/eclipse-ee4j/servlet-api/issues/97    But it didn't get resolved in the current servlet 4.0 discussions

[2017-06-01 09:50] gueuselambix commented on #1503
I don't see where you use getServerName() for the ForwardedRequestCustomizer?
The host part is extracted using basic substring operation: https://github.com/eclipse/jetty.project/blob/5fefd5d8bd68bb87a2bad16138dfc0ee121eddcf/jetty-http/src/main/java/org/eclipse/jetty/http/HostPortHttpField.java#L52

If you want to represent a hostname, the brackets are good. If you want it to represent an IPv6 add

[2017-06-01 09:51] gregw commented on #1503
So i have found something definitely wrong in our IPv6 handling.  getRemoteAddr() must return an IP address, but we return the bracketed value.  So I'm thinking we should change everywhere to strip the brackets... but that's a big change to make in dot release....

[2017-06-01 10:27] gregw commented on #1503
Ah no - discussion with @sbordet it is clear now that InetAddress accepts addresses in the [] so there is no need to strip for standard java APIs.

So I think perhaps `com.google.common.net.InetAddresses` needs to be updated to handle [] ?

[2017-06-01 10:39] gregw commented on #1503
Closing for now unless we get guidance from servlet spec EG

[2017-06-01 10:42] gregw commented on #1503
@gueuselambix sorry missed your comment.   I mention the other APIs because we want to be consistent with them.  Either we always strip [] or never strip.

`InetAddress` accepts the [] form as in:
[code]
So in java at least the [] form is treated like an IP address.

[2017-06-01 10:49] #1435 closed

[2017-06-01 12:04] gregw commented on #1468
I have added a setter for the revocation checker, plus I have moved the whole param handling into a protected method for simpler extension.

For now I have just added a commented out example of how to configure in XML in the jetty-ssl-context.xml.   However, if there was a best practise setup for this, then we could add that as a module of its own.

[2017-06-01 12:10] joakime opened #1585 "Donate jetty-hazelcast to hazelcast project"
In light of the work done in Issue #1571 and the comments from the hazelcast team at https://twitter.com/olamy/status/870140237590089728

It appears that the hazelcast project is keen on having the work donated back to hazelcast for them to manage.

Having this reside at hazelcast seems ideal.

[2017-06-01 12:30] gueuselambix commented on #1503
I believe you are missing the point I am trying to make.

If I use IPv6 directly to a Jetty server, com.google.common.net.InetAddresses.isInetAddress(request.getRemoteAddr()) evaluates to **true** for an IPv6 address.

If I proxy the Jetty server and configure it with the ForwardedRequestCustomizer as documented at [1]
com.google.common.net.InetAddresses.isInetAddress(request.getRemoteAddr()) eval

[2017-06-01 12:44] klopfdreh opened #1586 "JSR369 adjustments to PushBuilder"
Hi,

just wanted to let you know that the method getPushBuilder of the HttpServletRequest has been renamed to newPushBuilder and a new version of the spec has been released

See:
* https://github.com/javaee/servlet-spec/releases

kind regards

Tobias

[2017-06-01 13:05] gregw commented on #1503
@gueuselambix I understand completely the point you are trying to make, and I have a lot of sympathy with it.

However, the issue remains that the specification of IPv6 handling is ambiguous in the spec and I've not yet received the clarification from the EG needed to make such a big change to the server.

More over the InetAddress class does accept the [] form as an address, so it would be handy

[2017-06-01 13:08] joakime commented on #1503
This is not unique to ForwardRequestCustomizer btw.

If you request (without ForwardRequestCustomizer) a url like `https://[2001:db8:85a3:8d3:1319:8a2e:370:7348]:443/` then the getRemoteAddr() also has the brackets.

[2017-06-01 13:08] gregw commented on #1503
@sbordet what do you think of the issue of the difference between a directly obtained address (from the connection) vs a header set address?

Note also that the result of `InetAddress.getByName("[::1]")` is just `"::1"`

[2017-06-01 13:09] gregw commented on #1503
@joakime All the handling of this is via the common `HostPort` class, so if we change the behaviour there to strip the [] it will change for all usages, which at least makes us consistent.

Although there could be an argument to leave the [] in the Name methods but strip them from the Addr methods..... hmmm

[2017-06-01 13:17] joakime commented on #1503
@gregw The https://tools.ietf.org/html/rfc3986#section-3.2.2 has some other things to think about with HostPort (things like `[v07::1]`, a versioned IPvFuture should trigger an unsupported error?)

[2017-06-01 13:28] joakime commented on #1503
Alternative approach: if you are using Jetty exclusively, you can skip the entire InetSocketAddress -> String -> String -> String conversion you are doing in the hopes of not triggering a DNS lookup in the JVM (which has likely already occurred if needed by the request) and access the valid InetSocketAddress that Jetty already has in its request.

[code]

[2017-06-01 13:42] klopfdreh commented on #1586
I just renamed the issue to be more general, because I didn't had the time to sync the current implementation with the spec to point out the exact changes. Hope it is only the renaming of the method.

Anyway thanks for the fast response.

[2017-06-01 13:49] sbordet commented on #1586
@klopfdreh Servlet 4 will be implemented in Jetty 10, and AFAICT the method is already correctly named `newPushBuilder` there (branch `master`).

What code are you looking at, exactly ?

[2017-06-01 15:15] sbordet commented on #1503
`Request.getRemoteAddr()` is implemented in terms of `InetSocketAddress.getHostString()` or `InetAddress.getHostAddress()`.

See below for JDK API behavior.

If there is no `Forwarded` header, we use the above JDK methods and therefore always return the unbracketed address.

If there is a `Forwarded` header, we use `InetSocketAddress.createUnresolved()` that behaves differently from the JDK method

[2017-06-01 15:23] klopfdreh commented on #1586
@sbordet for wicket-examples we are using 9.4.5.v20170502 and PushBuilder is there available, too.

https://github.com/apache/wicket/blob/master/wicket-experimental/wicket-http2/wicket-http2-jetty/src/main/java/org/apache/wicket/http2/markup/head/Jetty9PushBuilder.java#L40

[2017-06-01 15:26] juretta commented on #1578
Looking at the bug, I can't find that?

https://jira.qos.ch/browse/SLF4J-231 seems to be about the **Log4J**LoggerAdapter? Isn't that possibly specific to Log4J then?

Sorry, my bad. I meant to write the `org.eclipse.jetty.util.log.Slf4jLog`, not the `org.eclipse.jetty.server.Slf4jRequestLog`.

So my use case was doing something like this:

[code]

(where `value` and `keyValue` returns `Structured

[2017-06-01 15:35] joakime commented on #1578
Its probably most appropriate in your use case to use slf4j directly, not via the jetty layer.

You'll also gain the benefits of other features, like NDC support.

[2017-06-01 15:36] juretta commented on #1578
That's what I ended up doing and that is fine. I just found it surprising that it didn't work.

[2017-06-01 20:36] gregw commented on #1585
Having it reside at hazelcast may not be as ideal as having it at jetty.   If it is at jetty we can just enable it with a module.

Alternately, the impl can be at hazelcast but we have a module in jetty that will download and enable it

[2017-06-02 00:10] olamy commented on #1585
Sounds good to have at least module metadata part of the distro to ease users life.
@emre-aydin what do you think? I can made a pull request to your code.

[2017-06-02 06:44] ettavolt commented on #128
I don't think this is an issue since v.9.2 at least.
Currently using this kind of script (copies of actually) to start several instances of jetty v.9.4:
[code]
It doesn't block on start/stop or restart. And logging out of ssh session doesn't stop the instance.

[2017-06-02 07:20] gregw commented on #1503
@sbordet The simplest solution is to change HostPort and it will change the behaviour everywhere.   I've been testing this in 9.3, but I'm thinking we should only make such a change in 9.4 onwards.

Let me prepare a PR against 9.4 for consideration.  I'm pushing the EG for comment also.

[2017-06-02 07:25] gregw commented on #1586
note that there are ongoing discussions and renaming of various APIs after the b06 release....  the current master branch of jetty is tracking the staged master of the javax.servlet API

[2017-06-02 08:14] akurtakov opened #1587 "Please stage p2 repository too"
Consumers relying on p2 have to wait till the release is done before testing or go through  complicated build magics to handcraft the repo. It would be really nice if staged p2 repo is also generated so projects like Eclipse platform can verify the version is good before released.

[2017-06-02 09:52] selva3k commented on #1547
By default curl comes with version "7.37.0" in Linux (SuSE)

Alternatively I did the below testing.
1)  With latest IBM Java releases :
     a) when the request comes from browser also, handshake fails.
     b) CURL command also fails(server handshake not happening)

2)  With older IBM Java releases :
     a) when the request comes from browser, handshake succeeds and browser gets back the respons

[2017-06-02 10:34] gregw commented on #1503
I've created the PR.  As much as I loath system properties for configuration, I have added one that allows the original behaviour to be restored.  This makes me happier to do this in the middle of the 9.y.x series rather than just in 10.0

thoughts?

[2017-06-02 13:08] jmcc0nn3ll commented on #1587
I have a hard time seeing us doing this, the creation of a p2 repository from my perspective is strictly an after release 'extra' that is more a holdover from our time on the release train then anything else.  It would probably be safer and better if someone who actually used p2 created and maintained it, none of us use them.  If someone is relying on them is relying on them in a production capaci

[2017-06-02 13:10] akurtakov commented on #1587
Can you point to how you generate the p2 repo and what the staging process is? Maybe we can find someone spending the time to hook the former into the later or to simplify it so it's a no-brainer to be run.

[2017-06-02 14:00] giantninja opened #1589 "maven repository doesn't have 9.2.22.v20170531"
Is there any reason why 9.2.22.v20170531 isn't available in the maven repo yet?  Looks like it was released 2 days ago.

[2017-06-02 14:11] joakime commented on #1589
That is not a release yet.

https://dev.eclipse.org/mhonarc/lists/jetty-dev/msg03016.html

In fact, it's going to be dropped for a RolloverFileOutputStream bug, it will never be a release with that specific version id. (it will be a new one)

[2017-06-02 14:11] #1589 closed

[2017-06-02 14:15] giantninja commented on #1589
Ok, cool.  Thanks for clarifying.  I was just going off of the releases page (https://github.com/eclipse/jetty.project/releases)

[2017-06-02 14:19] jmcc0nn3ll commented on #1587
http://git.eclipse.org/c/jetty/org.eclipse.jetty.releng.bundles.git

That is where we have the bits for generating the p2 repository.  We publish it through a build at:

https://ci.eclipse.org/shared/view/Jetty-RT/job/jetty-rt-bundles-9

We do it after the artifacts are in maven central because the process just pulls them from central and does that hinky pack, sign, unpack, pack, whatever thing th

[2017-06-02 14:20] joakime commented on #1589
Github has no distinction between release and tag.

A tag is git.  A github release is automatically created from every tag.
A github release can also be manually created.

A staged release, has a tag, and is just a potential release while being tested.
Once its approved, it gets promoted to everywhere (maven central, eclipse downloads, various p2 repositories, docker images, etc ...)

[2017-06-02 14:24] giantninja commented on #1589
I honestly did not know that, and that explains a lot since I've had this happen before, so thank you for that

[2017-06-02 17:04] joakime opened #1590 "RolloverFileOutputStream not functioning in Jetty 9.2.21+"
As reported in jetty-dev ...

https://dev.eclipse.org/mhonarc/lists/jetty-dev/msg03020.html

The RolloverFileOutputStream is not rolling to new files at midnight anymore.

I have confirmed this bug with an overnight test of the distribution.

[2017-06-02 17:14] joakime commented on #1590
Did a cherry-pick backport of the commits related to RolloverFileOutputStream in 9.3.x to 9.2.x.
Work is being performed in the `issue-1590-rfos` branch.

[2017-06-02 17:16] joakime commented on #1590
The Java 1.8 features of the 9.3.x RolloverFileOutputStream now have to be removed.
https://jenkins.webtide.net/job/jetty.project/job/issue-1590-rfos/1/console

[2017-06-02 18:35] joakime commented on #1590
Java 1.8 class usage has been reverted in backported RolloverFileOutputStream.
Testcase also updated.

[2017-06-02 19:05] reidmv commented on #519
Assuming the underlying objective is to **ensure that a session won't be re-used**, it sounds like the way to do that is to immediately invalidate the session when it's established.

If a session is invalidated, I *assume* caching can be disregarded. The session should be unavailable for resuming or rejoining. Existing connections may continue to use the session until the connection is closed. Yes

[2017-06-02 19:26] joakime commented on #519
You could try that out, make a new class, extend it off of `HttpConfiguration.Customizer`.
In your implementation of ...

[code]

Unwrap the secure connection, get the endpoint, and invalidating the ssl session.

See [`SecureRequestCustomizer`](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/main/java/org/eclipse/jetty/server/SecureRequestCustomizer.java) for some exampl

[2017-06-02 19:38] joakime commented on #1590
Merged back into `jetty-9.2.x`. closing.

[2017-06-02 19:38] #1590 closed

[2017-06-04 18:36] jamesagnew opened #1591 "JDBCSessionDataStore doesn't work with root context on Oracle DB"
JDBCSessionDataStore creates a NOT NULL column called `CONTEXT_PATH` in the session table.

When persisting a session against the root context, the server inserts a row with an empty string in this column. This works on Postgres and MySQL, but Oracle treats the empty string as a null and refuses to persist it:

[code]

[2017-06-05 01:07] veselinandreev opened #1592 "CompressedContentFormat.tagEquals() - incorrect comparison of entity tag hashes"
Above mentioned method appears to be doing incorrect comparison of entity tag hashes if browser have sent a compressed variant of same resource. In the below snippet:

        if (etag.equals(tag))
            return true;

        int dashdash = tag.indexOf("--");
        if (dashdash>0)
            return etag.regionMatches(0,tag,0,dashdash-2);
        return false;

indexOf() returns the positi

[2017-06-05 06:45] ChaitanyaKiranPVN opened #1593 "Error listing files in directory /opt/jetty/webapps"
Hi Team,

I am new to Jetty server and currently i am using the jetty 9.4.5 build.  currently i am facing the below issues. please help me how to sort out the issues.

1.  Error listing files in directory /opt/jetty/webapps .
    The above mentioned issue occurred when i upload the new files or any file changes in the webapps/ROOT folder then i am unable to access my application. please find the l

[2017-06-05 09:31] janbartel commented on #1591
Which version of jetty is this? I'm fairly sure this has been tested with newer versions of jetty, but may have been a problem in an older version, or perhaps it is a regression.

[2017-06-05 10:16] jamesagnew commented on #1591
Hi @janbartel, sorry, I should have included that detail.

This is happening for me on `9.4.3.v20170317`, and I've also reproduced it on `9.4.5.v20170502`. I did not have this issue on the 9.2.x series.

I suspect this is a regression in 9.4- there is definitely special case code for Oracle's weird empty string handling (e.g. [here](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-s

[2017-06-05 14:23] sbordet opened #1595 "Avoid sending unnecessary stream WINDOW_UPDATE frames"
The current implementation sends `WINDOW_UPDATE` frames for streams that are already remotely closed (i.e. that won't send more data), and that is unnecessary.

[2017-06-05 16:07] #1595 closed

[2017-06-05 16:55] sbordet commented on #1593
`java.io.IOException: Too many open files`: you have too many open files, or configured too few on your server.

You may want to read [this section](http://www.eclipse.org/jetty/documentation/9.4.x/troubleshooting.html) of the documentation.

[2017-06-05 16:58] sbordet commented on #859
@joakime the stack overflow happens in Jetty code.

[2017-06-05 17:34] joakime opened #1596 "Add ability to configure TimeZone for StdErrLog"
As a result of testing #1590 and related RolloverFileOutputStream issues, it was discovered that the StdErrLog dateCache is not exposed sufficiently to configure the TimeZone used by that component.

Currently the TimeZone for RolloverFileOutputStream can be configured.
Can we also have a .setTimeZone(TimeZone) for StdErrLog that configures the internal dateCache timezone?

[2017-06-05 17:38] WalkerWatch commented on #1590
As a closing note, the logs files themselves now roll over on the defined Time Zone, irrespective of the local time on the server. For example, I am in `America/New_York`, but the server is configured to `Asia/Rangoon`, the logs will roll over when `Asia/Rangoon` changes dates. It is important to note, however, that time entries in the log file itself will reflect the local time of the server, and

[2017-06-05 17:40] joakime commented on #1590
I filed a new issue #1596 to address the concerns discovered with the 2 different TimeZones discovered during testing.

[2017-06-05 17:49] sbordet commented on #1580
Duplicate of #1509.

[2017-06-05 17:50] #1580 closed

[2017-06-05 19:42] joakime commented on #1045
@gregw can we delete [the 2 issue branches for this](https://github.com/eclipse/jetty.project/branches/all?utf8=%E2%9C%93&query=issue-1045) now?

`issue-1045-9.4.x` Updated 7 months ago by gregw
`issue-1045-9.3.x` Updated 7 months ago by gregw

[2017-06-06 00:16] olamy commented on #1574
merged 82cadedc5ebe75e92dcad699958c9c4dec7908e2

[2017-06-06 00:16] #1574 closed

[2017-06-06 04:20] ChaitanyaKiranPVN commented on #1593
Hi  sbordet,

Thank you so much for your Quick Response. I  have troubleshooted this issue "Error listing files in directory /opt/jetty/webapps" and fixed . this issue occurred because of webapps Scaninterval is setted default as 1 . if i upload any file in the my file path it the above mentioned error occurred. so after troubleshooting i found the solution .  i have to set the  below parameter in

[2017-06-06 05:21] klopfdreh commented on #1586
Hi @sbordet and @gregw ,

do you plan to also down port the changes if the Servlet API is finished?

I ask because if we use the final method names we have a minimum requirement regarding the server if this feature is used: https://ci.apache.org/projects/wicket/guide/8.x/single.html#_wicket_http_2_support_experimental

thanks a lot for the clarification. 👍

[2017-06-06 06:52] gregw commented on #1586
By down port, do you mean update the method names in Jetty 9?
I think we can do that, so let's leave this issue open until the 4.0 API is final and then we can update the names in 9 (leaving originals as deprecated).

[2017-06-06 06:57] klopfdreh commented on #1586
Yes exactly. Thanks a lot! I let the issue open.

[2017-06-06 07:04] gregw commented on #1045
deleted

[2017-06-06 07:22] gregw commented on #1503
I'm wondering if we should merge this, but in 9.4 we keep the current behaviour by default, but in 10.0 we switch the default to the new behaviour?

thoughts?

[2017-06-06 08:07] #1592 closed

[2017-06-06 08:07] gregw commented on #1592
Thanks - but needed to adjust length for the trailing quote.

[2017-06-06 08:42] gregw commented on #859
This definitely looks like a jetty bug as `MultiplexHttpDestination.process` is being called reentrantly

[2017-06-06 15:02] janbartel commented on #1591
@jamesagnew I pushed a change, any chance you could check out jetty-9.4.x branch, build and test against it?

[2017-06-06 15:08] gregw commented on #1503
It is not optional behaviour with STRIP_IPV6 false in 9.4 and true in 10.0

[2017-06-06 16:01] joakime opened #1597 "Upgrade javax.mail to latest version"
As reported in jetty-users ...

http://dev.eclipse.org/mhonarc/lists/jetty-users/msg07816.html

The javax.mail that we ship is apparently old, and we should upgrade our version.

[2017-06-06 16:54] jamesagnew commented on #1591
Fantastic, sure thing I'll give it a shot later today! Thanks!

[2017-06-06 19:04] WalkerWatch opened #1598 "Update GZip documentation for removal of deflate in 9.3.x and 9.4.x"
Deflate is [no longer used in 9.x.x ](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/main/java/org/eclipse/jetty/server/handler/gzip/GzipHandler.java#L309-L315)and the documentation needs updated to reflect this.

[2017-06-06 19:11] #1598 closed

[2017-06-06 19:11] joakime commented on #1598
The deflate http compression method.

See https://tools.ietf.org/html/rfc1951 (never updated)
and https://en.wikipedia.org/wiki/HTTP_compression

[2017-06-06 19:18] joakime opened #1599 "WebSocketCloseTest fails"
The following fail when on CI/Jenkins, but not locally.

org.eclipse.jetty.websocket.tests.server.WebSocketCloseTest.testFastFailFastClose
org.eclipse.jetty.websocket.tests.server.WebSocketCloseTest.fastClose
org.eclipse.jetty.websocket.tests.server.WebSocketCloseTest.testOpenSessionCleanup
org.eclipse.jetty.websocket.tests.server.WebSocketCloseTest.fastFail

[2017-06-07 01:45] olamy commented on #1585
well finally the code will be hosted in jetty source repo.
So we can close it?

[2017-06-07 09:12] janbartel commented on #1597
It isn't going to be possible to upgrade the javax.mail api jar unfortunately. The javax.mail-api jar in more recent revs is a complete mess. As an API jar it is useless because it depends on the com.sun.mail implementation jar. It doesn't even depend on it in a straightforward <dependency>, but rather uses some direct configuration of the maven-dependency-plugin in its pom to download and unpack

[2017-06-07 09:48] rgambelli commented on #1597
Thanks Jan, I will ask to Bill Shannon, the primary developer and maintainer of the JavaMail API at Oracle. to  come here to try to resolve issue with you.

[2017-06-07 10:01] janbartel opened #1600 "Update jndi.mod and plus.mod"
jndi.mod and plus.mod don't actually provide some of the 3rd party api jars, but rather they depend on some specific copy-dependency config in jetty-home pom. They should probably provide their own dependencies.

[2017-06-07 10:45] jamesagnew commented on #1591
This seems like it does the trick. Thanks for the quick response!

[2017-06-07 11:31] janbartel commented on #1591
Thanks @jamesagnew. Closing as fixed for jetty-9.4.x.

[2017-06-07 11:31] #1591 closed

[2017-06-07 12:04] thomashunziker opened #1601 "java.lang.IllegalArgumentException: setContentLength(0) when already written 1232"
I am using the version `9.4.4.v20170414` of Jetty. I see in the log the following error:

[code]
It seems as this is a GET request. The headers of the request:
[code]

I have also posted the error here: https://github.com/eclipse/jetty.project/issues/1184
I do not believe it is exactly the same issue since I'm using a version which contains the fix.

I'm not able to reproduce this locally. I see t

[2017-06-07 13:00] janbartel opened #1602 "WebAppContext is started twice, once by deployer, again by lifecycle"
If the deployment of a webapp using EnvConfiguration fails, the following exception is thrown some time later after the initial exception,  after all other webapps have been started . It looks like the Deployer is trying again to start the same failed deployment, but because the previous failed deployment was never stopped the destroy() steps of the Configurations have not been called and thus the

[2017-06-07 14:26] joakime opened #1603 "WebSocketServerFactory NPE in toString()"
The WebSocketServerFactory.toString() can throw a NPE during startup.

[2017-06-07 15:01] sbordet commented on #1603
[code]

[2017-06-07 15:04] joakime opened #1604 "Static WebSocketContainer should register shutdown hook"
Currently all instances of WebSocketContainer register the Shutdown hook.

The Shutdown hook should only register for the static instances from the ContainerProvider.getWebSocketContainer()

[2017-06-07 15:33] joakime opened #1605 "ContainerProvider.getWebSocketContainer() behavior is not to spec"
Per spec, the default behavior is to always create a new WebSocketContainer on each call to the .getWebSocketContainer() method.

This might be a performance issue though.
See javaee/websocket-spec open issues

* javaee/websocket-spec#184
* javaee/websocket-spec#212
* javaee/websocket-spec#230

[2017-06-07 15:36] joakime commented on #1605
This regression was introduced in Jetty 9.4.x when the HttpClient support was added.
The behavior in Jetty 9.4.x is that getWebSocketContainer() is now a JVM wide singleton.

[2017-06-07 15:37] joakime commented on #1605
We could have configurable behavior.

Possible configuration:

* Default per-spec
* Use ServletContext ServerContainer if available
* Use singleton instance.

[2017-06-07 15:40] joakime commented on #1604
This will be a jetty specific implementation of javaee/websocket-spec#230

[2017-06-07 15:41] joakime commented on #1605
Javadoc says:

http://docs.oracle.com/javaee/7/api/javax/websocket/ContainerProvider.html#getWebSocketContainer--

[2017-06-07 16:05] sbordet commented on #1605
Please report to cometd/cometd#727 when this is resolved.

[2017-06-07 17:14] joakime commented on #1604
New feature: If the ContainerProvider.getWebSocketContainer() is done within a WebApp context, then the stop of that webapp will stop the WebSocketContainer too.

[2017-06-07 17:28] joakime commented on #1605
Default Spec behavior.

New ClientContainer each time.
But with the following shared objects:
* Executor
* ByteBufferPool
* HttpClient (pass in Executor and ByteBufferPool)

[2017-06-07 19:07] joakime commented on #1603
Fixed in commit c1143fc

[2017-06-07 19:07] #1603 closed

[2017-06-07 19:08] joakime commented on #1604
Fixed in commit 064c1bc

[2017-06-07 20:29] bshannon commented on #1597
You don't need, and should not include, the javax.mail-api jar file.  The only purpose of that jar file is to allow you to compile programs against the pure JavaMail API.

All you need is the javax.mail jar file, which includes the entire JavaMail API and implementation.

[2017-06-07 21:18] joakime commented on #1605
Initial behavior implemented.

Working on shared object support next.

[2017-06-07 22:39] joakime commented on #1601
Closing this one, reopening #1184

[2017-06-07 22:39] #1601 closed

[2017-06-07 22:42] joakime commented on #1184
@thomashunziker you said you sent a `GET` request, but the stacktrace shows a `HEAD` being processed.

`javax.servlet.http.HttpServlet.doHead`

If this is easy to reproduce, i would suggest temporarily disabling your filters and trying again.
If you can still reproduce, then the issue is likely in Jetty.
If you cannot reproduce after removing the filters, then something about your filters is chang

[2017-06-08 00:45] garypgithub commented on #1368
Sorry for the late reply.  I've been unavailable.  I'm fine with my workaround.  I just created my own file in my jetty.base and have a Configure element for org.eclipse.jetty.util.ssl.SslContextFactory with just the children that I need (omitting the Password elements) and then I specified that file in my start.ini.  Works fine for what I need.

[2017-06-08 08:52] gregw commented on #1597
@bshannon we've worked out that is what is intended with this structure, but it really is sub optimal.

We'd like to be able to declare our dependency on a particular version of javax.mail API, but not depend on a specific implementation.  Yet we need an implementation for testing, so maven ends up giving us two copies of the API.  Similarly any user of jetty will have the same problem if they use

[2017-06-08 09:22] gregw commented on #1368
null now means null in 10.0

[2017-06-08 09:22] #1368 closed

[2017-06-08 13:49] joakime commented on #101
Work done in many other recent issues.

[2017-06-08 13:49] #101 closed

[2017-06-08 16:21] thomashunziker commented on #1184
@joakime Thank you very much for your help. After finally I was able to reproduce the error locally I could debug / trace it down.

The solution was to use the latest version 9.4.6. Means one of the changes made in between version 9.4.4 and 9.4.6 has fixed the issue. Sorry for bothering you.

[2017-06-08 17:11] joakime commented on #1184
@thomashunziker thanks for the feedback. closing this issue.

[2017-06-08 17:11] #1184 closed

[2017-06-08 23:52] bshannon commented on #1597
This isn't the place to debate the merits of the JavaMail API design, which was created 20 years ago.  If you want a different implementation of the JavaMail API from a different vendor, you need a different Maven artifact.  There's no implementation of an API layer that everyone is required to use that then delegates to different implementations.  The API is defined by the API signatures, not the

[2017-06-08 23:55] joakime commented on #1597
@bshannon the confusion comes into place when you note that the vast majority of other `javax-*-api` artifacts limit their included classes to just the API classes, no implementation (that's a different jar).

[2017-06-09 01:33] bshannon commented on #1597
I understand there's confusion.  People are clearly making assumptions that were not intended.  JavaMail follows the pattern of the JDK classes, which was the dominant pattern at the time.

[2017-06-09 10:08] janbartel commented on #1600
jndi.mod now depends on a new module called mail.mod which provides a javax.mail-api jar. To use a different version of the javax.mail-api jar, you can create your own module and put it in $jetty.base/modules and point to a different jar location. Here's an example of the content:

[code]

The same has been done for the plus.mod, which now depends on the transactions.mod to provide a javax.transac

[2017-06-09 10:27] #1600 closed

[2017-06-09 14:11] ebourg commented on #1556
Is there a CVE ID assigned to this issue?

[2017-06-09 14:25] fredfeng commented on #1556
Not yet. Shall I create one?

[2017-06-09 14:32] ebourg commented on #1556
Ideally yes. A CVE ID raises the awareness of the security issue and allows downstream users like Linux distributions to notice it and quickly publish a fix.

[2017-06-09 14:36] fredfeng commented on #1556
Sure, I will do it later today and attach the CVE ID.

[2017-06-11 14:55] xz64 opened #1607 "Add DateHeaderPatternRule for manipulating date headers"
This is an enhancement request for a specific type of header pattern rule which would call setDateHeader / addDateHeader on the HttpServletResponse based on some sort of offset from the current system time.

Here is an example of the usage I was thinking of:

[code]

Related discussion: [https://stackoverflow.com/questions/12124523/how-to-set-a-dynamic-expires-header-in-jetty](https://stackoverflo

[2017-06-11 18:20] joakime commented on #1607
Static file content is served from the DefaultServlet.
It would make more sense to have this kind of configuration present on the DefaultServlet, not a generic non-context rule like that.

[2017-06-11 19:20] xz64 commented on #1607
What do you think of having generic date/string header Filters instead of a config on the DefaultServlet? I could also see a use case for setting headers like Content-Security-Policy / X-Frame-Options.

[2017-06-12 15:46] jjYBdx4IL opened #1608 "Add facility to verify webapp/server classpath sanity"
My impression is that a lot of developers and users don't understand or care about the class loading hierarchy involved in web application containers and related servers/parent class loaders. This leads to misleading errors like "class not found" despite the class being clearly on the classpath (one of the lesser evils), to annotations being ignored because Class.isAnnotationPresent() does not mat

[2017-06-12 16:24] #1605 closed

[2017-06-12 16:33] joakime commented on #1608
We had an old tool for this.

https://github.com/jetty-project/jetty-webapp-verifier

(sadly, It wasn't very popular, and has fallen into disrepair)

Perhaps that should just be revived and cover your use case.

[2017-06-12 20:51] joakime commented on #1608
Note: server classes and libraries will require knowledge of your `${jetty.base}` configuration, and is not going to be useful analysis point in any build time goal.

A runtime analysis tool, available during actual `${jetty.base}` deployment (using DeploymentManager) is probably the best option, as you have everything you need to perform that analysis at that point (server knowledge and webapp kn

[2017-06-13 00:09] jjYBdx4IL commented on #1608
Sounds reasonable. Maybe exposed through JMX, which could be used during verify maven phase to check for consistency.

[2017-06-13 14:48] omkusre opened #1610 "Jetty-Client: QueuedThreadPool timing out with huge RAM (196 GB or 256 GB)"
Hi Team,

We are using Jetty-Client 9.2.9.v20150224 in our application for hitting HTTP calls. We have used QueuedThreadPool as executor while creating instance for HTTPClient object. Overall, it works ok, however, recently we have seen timeout issues in few customer installations where server had huge RAM configurations. (196 GB or 256 GB RAM). The HTTP logs are consistently getting TimeoutExcept

[2017-06-13 15:12] joakime commented on #1610
What version of Java?
What are the JVM command line options when you are running this instance?
Does running the same configuration with a lower JVM memory setting make it work reliably?

[2017-06-13 15:15] joakime commented on #1610
Getting access to a machine that has this kind of memory configuration will take some time.
When you ran with the 64GB configuration, how quickly did this issue arise?
What are you doing on that machine, and in HttpClient that can trigger this?
Do you have a test case that can replicate this scenario?

[2017-06-13 15:26] sbordet commented on #1610
It appears that the DNS task that has been submitted to the thread pool never runs.

This can happen if the thread pool ran out of threads.

Can you please take a JVM thread dump when this happens, and possibly also a server dump ?
See http://www.eclipse.org/jetty/documentation/current/jetty-dump-tool.html.

[2017-06-14 01:21] hoomanb1 opened #1612 "How to prevent bad characters in the error response output"
Currently there's no implementation in place for jetty that could potentially prevents malicious characters to be included in clients request. If the underlying application that does not properly handle this scenario (user input ) and throws an exception, jetty does not sanitize this and directly reflects the problem to the client. An attacker may used this information to launch subsequent attacks

[2017-06-14 03:16] joakime commented on #1612
A bit too vague of a description.

Can you provide examples?

[2017-06-14 04:13] hoomanb1 commented on #1612
OK, so if an application that does not handle an exception correctly is deployed into jetty then if client of that particular application sends some arbitrary javascript code to that application/service then below is that stacktrace from the jetty side:

[code]
and information about this stacktrace propagates back to the caller with below exception:

[code]
so the masked section in the above respo

[2017-06-14 07:13] broady commented on #1297
Any update on this? Is there some reasonable alternative?

[2017-06-14 08:26] omkusre commented on #1610
Hi joakime,
Thanks for your responses. Here are our inputs on the questions you have asked.

**What version of Java?**
- Java 1.8 (jdk1.8.0_121)

**What are the JVM command line options when you are running this instance?**
- We have launched a test jar with POM.xml having below dependencies.
        <dependency>
            <groupId>org.apache.httpcomponents</groupId>
            <artifactId>http

[2017-06-14 08:43] omkusre commented on #1610
@sbordet : Thanks for your reply. Here are our input on your questions.

**Can you please take a JVM thread dump when this happens, and possibly also a server dump ?
See http://www.eclipse.org/jetty/documentation/current/jetty-dump-tool.html.**

- We will check if we can update jetty.xml from customer machine and get the thread dump from the same.

So as I understood, we need to update Jetty.xml a

[2017-06-14 08:50] sbordet commented on #1610
You got the configuration wrong, as `org.eclipse.jetty.server.nio.SelectChannelConnector` is a Jetty 8 class, not Jetty 9.2.x like you said you're using.

By the way, we recommend to upgrade to Jetty 9.4.x if you can.

Taking a JVM thread dump and server dump is something that you have to do when the issue presents itself, it's not something that you can obtain via configuration.

I don't think th

[2017-06-14 09:13] omkusre commented on #1610
@sbordet : We have tried with jetty-client 9.4.x in the test jar we had tried on customer machine. However, it was not working and getting timeout exception.

We are working with customer if we can get thread-dump and server dump. We will get back to you with this soon.

[2017-06-14 09:22] sbordet commented on #1610
jetty-client 9.4.x does work, you have a different problem if it times out. Anyway, waiting for your dumps.

[2017-06-14 09:51] mat013 opened #1614 "AbstractNCSARequestLog does not extract the user from the http header when it has not been authenticated"
We are running spring boot and jetty, and we are using NCSARequestLog. The authentication in spring boot seems to be at a later stage and therefore the request has not been authenticated.

But should it not be possible to extract the userid from the Authorization in the http header then?

At the moment that is not possible in the AbstractNCSARequestLog

[2017-06-14 10:02] omkusre commented on #1610
@sbordet : We luckily had threadpool captured fro our last debug session with customer. Please find it attached. This thread pool is captured using below Java code. Please let us know if this can be useful.

    public static void crunchifyGenerateThreadDump()
    {
        final ThreadMXBean threadMXBean = ManagementFactory.getThreadMXBean();
        final ThreadInfo[] threadInfos = threadMXBean.

[2017-06-14 10:11] sbordet commented on #1610
I don't understand ? This is a Jetty 9.4.x thread dump, not 9.2.x.

[2017-06-14 10:19] sbordet commented on #1610
There are 3 pools, and almost all of them have threads that are waiting to select, for a total of 35 (!).

One of the pools is configured with a `SynchronousQueue`, which is typically not the right queue for a thread pool.

I don't think you need 35 selectors, so you have a configuration problem on your side. I would recommend to leave everything at default for Jetty and avoid weird configurations

[2017-06-14 10:32] omkusre commented on #1610
Sorry If I have confused you. Our application is using 9.2.9 version. However, to debug at customer site, We have wrote standalone class to run using latest Jetty version as below. and got thread pool dump as shared above.

I am re-attaching all the details from the standalone class which is using below version:
[ThreadPoolDump.txt](https://github.com/eclipse/jetty.project/files/1074303/ThreadPool

[2017-06-14 12:17] joakime commented on #1612
That results in an response code 400 (like your curl example shows).
Your application isn't vulnerable.

When Jetty responds with an error 400, the request is so bad that jetty cannot send it to a context.

However, your stacktrace shows that it did send it to a context, meaning that Jetty wasn't the one sending the error 400, something in your application did so.

As for showing the stacktrace, t

[2017-06-14 13:22] joakime commented on #1614
The logging in RequestLog occurs after the response has been sent.
Well after anything in Spring Boot.

Can you give us an example application that has the behavior you are reporting?

[2017-06-14 17:11] #1599 closed

[2017-06-14 18:08] gregw commented on #1612
Joakim

We certainly used to sanitize the error page responses.  If fact these
injection tests are some of the oldest security issues raised against
jetty.

I'm on my phone at the moment so i can't check if recent changes to error
handling may have broken this.

Cheers

On 14 Jun 2017 14:17, "Joakim Erdfelt" <notifications@github.com> wrote:

That results in an response code 400 (like your curl ex

[2017-06-14 18:10] gregw commented on #1612
Joakim,
Ignore me.  I see your analysis that it was an application error page
handler.

Cheers

On 14 Jun 2017 20:08, "Greg Wilkins" <gregw@webtide.com> wrote:

[2017-06-14 18:50] joakime commented on #1612
`Server: Jetty(9.2.3.v20140905)`

Would also recommend upgrading to a more recent version of Jetty.

[2017-06-14 21:13] mat013 commented on #1614
I have created an example at [jetty-1614](https://github.com/mat013/jetty-1614)

You will need an active directory server and this can be configured in application.yml

The issue is that when I log on the service the access log looks as follows:

0:0:0:0:0:0:0:1 - - [14/Jun/2017:20:05:37 +0000] "GET /portfolio HTTP/1.1" 401 345
0:0:0:0:0:0:0:1 - - [14/Jun/2017:20:05:42 +0000] "GET /portfolio HTTP/

[2017-06-14 21:19] joakime opened #1615 "Password defaults in jetty-ssl-context.xml should be removed"
Currently the [etc/jetty-ssl-context.xml](https://github.com/eclipse/jetty.project/blob/jetty-9.4.6.v20170531/jetty-server/src/main/config/etc/jetty-ssl-context.xml) has defaults for some of the passwords for the keystore.

There should be no password defaults.

Also, the SslContextFactory should produce meaningful errors if the passwords are invalid/incorrect.

[2017-06-14 23:16] joakime opened #1616 "ClientCloseHandshakeTest.testClient_ProtocolViolation_Received failure"
As seen on Jenkins ...

[code]

[2017-06-15 04:28] hoomanb1 commented on #1612
Thanks for explaining this Joakim, I understand that this can be prevented from the application itself e.g. handling the error message etc, however my point here is that not all applications/libs handle this scenarios correctly etc of course this isn't the best practice but unfortunately it could potentially happens, in fact the stacktrace that I'd pasted came from a well-known lib that doesn't se

[2017-06-15 06:27] gregw commented on #1615
Note that we want the demo keystore to work without the user needing to
edit files.  Perhaps move passwords and keystore file itself to a testssl
module?

On 14 Jun 2017 23:19, "Joakim Erdfelt" <notifications@github.com> wrote:

[2017-06-15 09:42] omkusre commented on #1610
@sbordet : Hi, Good Morning. Do you have any update on this? Please let me know if any additional information is required from our side.

[2017-06-15 09:52] sbordet commented on #1610
Does it work if you configure the `QueuedThreadPool` with 100 threads ?

[2017-06-15 10:02] omkusre commented on #1610
@sbordet : No, we have not tried to increase thread pool size and won't be able to try that until we get a local setup to reproduce the issue. However, we have verified same with threapool size as 10 on 16GB and 32GB RAM machines and it was working fine. It was giving TimeoutException only for 196 GB and 256 GB RAM machines which customer has.

Also, we had sent a single HTTP request through above

[2017-06-15 10:08] sbordet commented on #1610
`HttpClient` configures the number of selectors based on the number of cores, by default `cores/2`.
If you hard code your thread pool at 10 threads, it may work on smaller machines because you have for example 8 cores, and so 6 threads will be available to process requests.

If the machines with more RAM have a larger number of cores, say 24, then all threads in the pool will be dedicated to selec

[2017-06-15 10:15] omkusre commented on #1610
@sbordet : Good point. So this means, if I launch a VM with more than 20 cores, I should be able to replicate the issue. or If i just reduce number of threads as 2-3 on Octa core VM, this issue should get replicated. Is it correct understanding?

[2017-06-15 13:48] omkusre commented on #1610
@sbordet : I have tried on a VM with 10 cores, for threadpool size with 3, 4 and 5 it was getting timeout. However, for Threadpool size as 6, I got the response back properly. Looks like, we have got the root cause.

Thank you very much for assisting us in seeking the root cause.

[2017-06-15 13:53] rstoyanchev opened #1618 "AsyncContext.dispatch() does not use raw/encoded URI"
The Servlet spec says this about the parameter-less dispatch:

Yet given a URL with an encoded slash:
`/foo/vv%2F1234/add/2`

The dispatch ends up going to:
`/foo/vv/1234/add/2`

[2017-06-15 14:31] joakime commented on #1618
What version of Jetty?

[2017-06-15 14:44] jmcc0nn3ll commented on #1610
Just a note that commercial production support in available through webtide.com as well.

[2017-06-15 15:06] rstoyanchev commented on #1618
Sorry this is on 9.4.6.v20170531.

[2017-06-15 17:41] joakime commented on #1607
Added to `jetty-9.4.x` as part of PR #1613

[2017-06-15 17:41] #1607 closed

[2017-06-15 19:10] yairogen commented on #1618
@joakime any idea when we can expect a fix for this?

[2017-06-16 00:16] joakime commented on #1616
Committed to `master` branch as commit fedfa67

[2017-06-16 00:16] #1616 closed

[2017-06-16 00:29] xz64 opened #1622 "HeaderFilter doesn't work if the response has been committed"
Supporting include/exclude of mime types is a bit difficult in HeaderFilter since it means the filter has to do its work after the chain.doFilter is called. However by that time, the response may have already been committed, so setting / adding the headers won't actually do anything.

If the header filter does its work before chain.doFilter is called, then the mime type may not be available on the

[2017-06-16 00:43] olamy opened #1623 "JettyRunMojo use dependencies from reactor (outputdirectory)"
With huge project such:
parent
pom.xml
 |
 - feature1
 |
 - feature2
 |
 - feature3
 |
 - webapp

With webapp using feature*, when running jetty:run first you need to install all the feature jars then running jetty:run for only webapp module.
The goal is to be able to launch jetty:run from the top module, all modules will be compile then webapp module will ${build.outputDirectory} from modules rat

[2017-06-16 05:11] fRoSt13iT opened #1625 "Support new IANA declared Websocket Close Status Codes"
When I trying to close websocket with `CloseReason.CloseCodes.TRY_AGAIN_LATER`, Jetty throws `ProtocolException` (see `org.eclipse.jetty.websocket.common.CloseInfo`).

I think close codes 1012 and 1013 should be available for use.
These codes are registered in IANA:
https://www.iana.org/assignments/websocket/websocket.xhtml#close-code-number

[2017-06-16 07:09] anuraggupta opened #1626 "Websocket JSR356 implementation doesn't call @OnClose method in case of a exception from @OnPongMessage and simply closes the conneciton."
Sometimes the client doesn't send anything in the pong message and an exception is generated.
After this exception the @OnError method is called and the websocket is closed, but the @OnClose method is skipped.

[code]

[2017-06-16 08:44] #1610 closed

[2017-06-16 12:32] SimonK15 opened #1627 "Jetty does not respond after being under load / no selector available?"
Jetty Version: 9.3.6.v20151106

When putting an embedded jetty server under load the server end ups in
a state where jetty can not process further requests.

The problem might be that the JDK selector has been closed, or some Jetty component has been stopped.

A dump of jetty shows the following:

 	|   += org.eclipse.jetty.server.ServerConnector$ServerConnectorManager@30b34287 - STARTED
 	|   |

[2017-06-16 13:33] joakime commented on #1627
If you use the latest Jetty does it still fail?
Jetty 9.3.6 is on the old side now.

[2017-06-16 14:42] sbordet commented on #1627
@SimonK15 can you please detail how to setup `tsung` ? How do I install it, run it, etc ? Assume Linux.

[2017-06-16 15:02] sbordet commented on #1627
Managed to get `tsung` installed, but cannot get it to run and perform requests.

[code]

Why does it need to connect to port 22 ?

Also, your `etc/tsung.xml` in your sample project is missing a closing `}` in the JSON that is sent on the request POST.

[2017-06-16 18:56] carnil commented on #1556
Downstream bug in Debian: https://bugs.debian.org/864898

[2017-06-16 20:29] joakime commented on #1625
Note: The industry standard websocket testsuite actually tests these codes as invalid.

https://github.com/crossbario/autobahn-testsuite/blob/master/autobahntestsuite/autobahntestsuite/case/case7_9_X.py#L21-L22

I'm going to make 1012, 1013, and 1014 formally declared and available to be transmitted (sent or received)

It's likely that while Jetty has enabled support for these, the industry has st

[2017-06-16 21:03] carnil commented on #1556
This has been assigned [CVE-2017-9735](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9735)

[2017-06-16 21:04] fredfeng commented on #1556
Thanks!

[2017-06-16 21:05] fredfeng commented on #1556
But I got the following error message:
ERROR: Couldn't find 'CVE-2017-9735'

[2017-06-16 21:10] carnil commented on #1556
It only has been assigned around 10 minutes ago. It needs some time to update the MITRE website with the newest CVE entries AFAIK.

[2017-06-16 21:33] joakime commented on #1625
Committed to jetty-9.4.x, merged master [10.x.x]

[2017-06-16 21:33] #1625 closed

[2017-06-16 21:36] joakime commented on #1626
onClose is for normal handshake close (one where the remote sent a response code)
onError is for closure based on error.

[2017-06-17 02:12] xz64 commented on #1622
I think for now removing the mime type option and moving the chain.doFilter to the end of the filter's doFilter method would be suitable. In many cases the mime type can be inferred from the URL, so using the includedPaths init param should be sufficient.

[2017-06-18 05:45] maksiorek opened #1629 "max"

[2017-06-18 05:46] maksiorek commented on #1629
metadata>

<groupId>net.erdfelt.android</groupId>

<artifactId>apk-parser</artifactId>

<versioning>

<latest>1.1</latest>

<release>1.1</release>

<versions>

<version>1.0.0</version>

<version>1.0.1</version>

<version>1.0.2</version>

<version>1.1</version>

</versions>

<lastUpdated>20131024152534</lastUpdated>

</versioning>

</metadata>

[2017-06-18 05:46] #1629 closed

[2017-06-19 07:03] SimonK15 commented on #1627
As far as I remember, the tsung 'master' distributes the tasks to the tsung 'clients' via ssh. It also does some monitoring. If you go for that setup, you will need to make the ssh keys of client and master known to each other.

Fixed that typo.

[2017-06-19 15:35] joakime commented on #1618
@gregw added a unit test in commit 59e919b to attempt to verify this bug (currently set to @Ignore for you to investigate).

The output is inconsistent, and hints at a bug, but I also know that the Servlet spec is very particular on what should be encoded versus something that shouldn't be encoded.

Anyway, here's the output from the updated test, hopefully it can shed some light on the behavior.

[2017-06-19 15:38] joakime commented on #1618
So far, the only encoding inconsistency that this test shows is in the `HttpServletRequest.getPathInfo()`, not the Request URI or Request URL as the OP for this issue has reported.

Note: the javadoc for `getPathInfo()` reports that the value return is decoded, so that isn't a bug, just a behavior nuance of the Servlet spec.

http://docs.oracle.com/javaee/7/api/javax/servlet/http/HttpServletReques

[2017-06-19 15:40] joakime commented on #1618
Updated unit test expectations on `getPathInfo()` in light of the official javadoc, test passes now.

@rstoyanchev there is no bug we can reproduce.

Do you have a specific scenario where you can replicate this?

[2017-06-19 16:04] rstoyanchev commented on #1618
@joakime I can provide a sample but let me see if this clarifies it.

I'm not saying `getPathInfo()` works incorrectly. The scenarios is quite simple -- a call to `request.startAsync(request, response)` followed by a call to `asyncContext.dispatch()` at some point later on. The dispatch should go to the encoded path via `requestURI` and that's not what I'm observing.

[2017-06-19 16:26] joakime commented on #1618
Lets see if I can distill what you are saying ...

* A `FooServlet` on url-pattern `/foo/*`
* A `VvServlet` on url-pattern `/foo/vv/*`
* A request to `/foo/blah` is processed by `FooServlet`.
* `FooServlet` performs an AsyncContext dispatch to `/foo/vv%2F1234/add/2` which you expect to hit `FooServlet` again, but instead hits `VvServlet`?

Is this right?

[2017-06-19 17:08] joakime commented on #1612
Considering this fixed in recent releases of Jetty.

[2017-06-19 17:08] #1612 closed

[2017-06-19 17:10] joakime commented on #1593
@ChaitanyaKiranPVN please file separate issues for specific questions.
Considering this one (about the file listing) closed.

[2017-06-19 17:10] #1593 closed

[2017-06-19 17:10] joakime commented on #1587
@akurtakov any updated thoughts on taking the p2 repository role over?

[2017-06-19 18:48] rgrunber commented on #1587
It should be possible to have the pack/sign logic as part of the build process on Eclipse infrastructure. At Orbit we do it as follows http://git.eclipse.org/c/gerrit/orbit/orbit-recipes.git/tree/releng/mavenparent/pom.xml#n176 (using tycho-pack200a-plugin, eclispe-jarsigner-plugin, tycho-pack200b-plugin)

There's also articles like http://www.codetrails.com/blog/sign-your-eclipse-project that exp

[2017-06-19 18:49] rstoyanchev commented on #1618
This is a Spring Boot app:

- `DispatcherServlet` is mapped to `"/*"`
- request is to `/foo/vv%2F1234/add/2`
- starts async and performs `dispatch()`
- that should go to the requestURI as the quote from the spec says

[2017-06-19 18:52] jmcc0nn3ll commented on #1587
Ideally someone with interest in p2 repositories should take over this
process, we have a signing process for Maven artifacts but do not build
actual binaries on any of the eclispe build machines.

On Jun 19, 2017 13:48, "Roland Grunberg" <notifications@github.com> wrote:

[2017-06-19 18:58] joakime commented on #1618
The `DispatcherServlet` mapped to `/*` means that everything not matching other more specific Servlet mappings will get that request.
Do you have any other Servlets mapped to other url-patterns?

You should dump the server (or the specific WebAppContext) after startup and see what's active.
See http://www.eclipse.org/jetty/documentation/current/jetty-dump-tool.html

[2017-06-19 18:59] joakime commented on #1547
This doesn't seem like a Jetty issue, but rather an IBM JVM issue.
Sorry, we cannot help you further here.

[2017-06-19 18:59] #1547 closed

[2017-06-19 19:00] joakime commented on #1446
This is not reproducible in latest Jetty 9.4.x series.

[2017-06-19 19:00] #1446 closed

[2017-06-19 19:01] joakime commented on #1473
No update. closing as invalid.

[2017-06-19 19:03] joakime commented on #1084
Not reproducible in various tests.
Once a reproducible testcase exists, feel free to reopen (or ask for a reopen).

[2017-06-19 19:03] #1084 closed

[2017-06-19 19:04] joakime commented on #236
@sbordet got an update?

[2017-06-19 19:28] rstoyanchev commented on #1618
Sorry but I'm really not following your questions. Yes DispatcherServlet is mapped to everything and there is no other Servlets. Isn't it how all web frameworks work?

Let me put together a basic sample..

[2017-06-19 19:35] rstoyanchev commented on #1618
Here it is.. https://github.com/rstoyanchev/jetty-issue-1618/tree/master

[2017-06-19 19:41] joakime commented on #272
@rototor a demo that reproduces this specific issue (WebSocket hangs in blockingWrite) would be ideal, yes.

[2017-06-19 19:44] joakime commented on #1618
No, most web frameworks do not work that way.

The minute you setup a scenario like that, you are no longer using the Servlet spec to delineate your specific behaviors, its all controlled in your DispatcherServlet.  You essentially have 1 servlet, not even an error handler, no static resource handling, etc.

It can be a very inefficient setup (eg: you are not using most of the performance enhancem

[2017-06-19 19:52] rstoyanchev commented on #1618
Hm, we're off topic here but most web frameworks do use the front controller pattern with a single Servlet serving as the gateway with higher level features such request mappings as a feature of the web framework. The "/*" mapping may seem odd but many application don't want extra an extra prefix enforced on every URL. As for static resources requests can still be forwarded to the default Servlet

[2017-06-19 20:35] joakime commented on #1618
So here's what happening ...

The use of `request.startAsync(request, response)` is rebuilding the URI from the constituent parts (using standard servlet spec techniques)

[code]

Since you declared your url-pattern mapping as `/*` the request looks like this ...

[code]

Now, the behavior you are seeing is due to this use of the `startAsync(ServletRequest, ServletResponse)`, which is beholden to

[2017-06-19 20:41] joakime commented on #1618
@gregw new testcase `testDispatchAsyncContext_SelfEncodedUrl()` added which replicates this reported behavior.  It is currently set to `@Ignore` (to let you work on the issue when you get back)

[2017-06-19 20:52] joakime commented on #1618
@gregw This is the relevant line where the reported behavior manifests...

https://github.com/eclipse/jetty.project/blob/jetty-9.4.6.v20170531/jetty-server/src/main/java/org/eclipse/jetty/server/Request.java#L2261

[2017-06-19 21:04] rstoyanchev commented on #1618
The spec seems pretty clear to me. The following (in chapter 2 above code example 2-1):

and response used to initialize the AsyncContext as follows. If the
AsyncContext was initialized via the startAsync(ServletRequest,
ServletResponse) and the request passed is an instance of
HttpServletRequest , then the dispatch is to the URI returned by
HttpServletRequest.getRequestURI() .

[2017-06-19 21:16] joakime commented on #1618
Not that straight forward.  The spec list had a conversation about this topic.

Some examples:
* A wrapped ServletRequest can change the getRequestURI() to be outside of the same ServletContext that started the Async (which is a violation of the dispatch)
* The original request can have a confusing path (you have a context on "/foo" and another on "/bar", a request arrives with URI path of "/foo/.

[2017-06-19 21:49] joakime commented on #1618
@gregw note, this issue is similar to #911

[2017-06-20 05:19] amshf commented on #1446
I don't see it again by using 9.4.6.v20170531
I think the problem is fixed in this version.
Thanks.

[2017-06-20 07:02] SimonK15 commented on #1627
I did some test with the newest version '9.4.6.v20170531' and jetty does not seem to get stuck anymore.
So I can't say whether something was fixed or its now just less likely to happen.

[2017-06-20 12:20] spjoe commented on #272
Run into the same problem.

Just had a quick look at it, but I think I have already found one race condition:
https://github.com/eclipse/jetty.project/blob/jetty-9.3.x/jetty-websocket/websocket-common/src/main/java/org/eclipse/jetty/websocket/common/io/FrameFlusher.java

If thread T1 executing line [337](https://github.com/eclipse/jetty.project/blob/jetty-9.3.x/jetty-websocket/websocket-common/src

[2017-06-20 16:40] rgrunber commented on #1587
Ok, how about the changes proposed below. I would either need permissions on the jetty job on ci.eclipse, or I could play around and show an example from some other HIPP under my control.

We create a new hudson job where we build on a daily or weekly basis. It consists of cloning jetty/org.eclipse.jetty.releng.bundles (modified to reference https://oss.sonatype.org/content/repositories/jetty-snap

[2017-06-20 16:49] joakime commented on #1587
At this current time the following branches are all active and "under development"

* `jetty-9.2.x` (java 7 support version)
* `jetty-9.3.x` (http/2 initial support version)
* `jetty-9.4.x` (the HEAD/stable version)
* `master` (aka Jetty 10.x. no releases yet)

That means 4 HIPP jobs then, right?

[2017-06-20 17:25] rgrunber commented on #1587
Well on the Eclipse side, development would follow jetty-9.4.x as this is likely what the platform would continue to use (4.7.0 seems to be using 9.4.5). Even if the next major release committed to using Jetty 10, and the previous stuck to 9.4.x, that would be 2 HIPP jobs, assuming the older release would choose to update jetty at all.

[2017-06-20 17:29] joakime commented on #1587
Got it.  The HIPP jobs should be focused on other Eclipse project consumers of the p2 repositories at the Eclipse side.
3rd party usage of the p2 repositories are not supported then?

[2017-06-20 17:53] rgrunber commented on #1587
It's possible but offhand I'm not sure if there's anyone other than Eclipse projects, that would consume from http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/ .

Anyone could reference the p2 repositories for released versions, but the snapshot p2 repositories being proposed, at least initially, seem like something mainly to solve a problem for the Eclipse platform, hence the limited s

[2017-06-20 19:06] akurtakov commented on #1587
I fully support this. Having latest (9.4.x now) p2 repo until the process is solid and can be extended to other versions after that.

[2017-06-20 20:17] gouessej commented on #1485
I'm currently investigating:
https://stackoverflow.com/questions/44661232/starting-jetty-9-4-6-as-a-service-fails-under-debian-jessie

Note that I had to copy the init script from /etc/init.d/service into /etc/systemd/system/jetty.service.

[2017-06-20 21:45] gouessej commented on #1485
This is my first try:
[code]
I have to spend much more time in supporting other features. It would be nice to be able to reload Jetty too. Note that it calls your script jetty-distribution-9.4.6.v20170531/bin/jetty.sh.

[2017-06-21 08:17] gregw commented on #1618
As @rstoyanchev says, the spec is pretty clear here.  But the problem is that it can be very difficult to strip off the context path from an encoded URI, specially of the context path itself can be encoded!

But as the spec is clear, I guess we have to do that hard work.

[2017-06-21 08:29] gregw commented on #1618
So I have committed a partial fix, which works so long as the context path itself is not encoded.  @rstoyanchev can you verify this works in your springboot env before I put the effort in to handle the very very rare encoded context path situation

[2017-06-21 09:48] gregw opened #1637 "Thread per connection retained in HTTP/2"
The EatWhatYouKill scheduling algorithm dispatches preallocated producer threads which wait to be used. In HTTP/2 this eventually results in a thread per connection.

[2017-06-21 10:05] janbartel commented on #1623
Great idea! I've just got 3 questions:

1. did we test how this affects the other plugins that derive from the JettyRunMojo? I'm thinking of JettyRunForkedMojo particularly.
2. did we verify how this affects projects that have dependencies that are web fragments or contain annotations? Are the fragments properly found? Are the annotations scanned for? If they're not, then we would need to add a no

[2017-06-21 11:01] olamy opened #1638 "Add it test for Maven Plugin"
the goal is to have it test for each mojo

[2017-06-21 11:03] olamy commented on #1638
@WalkerWatch please assign to me

[2017-06-21 11:04] olamy commented on #1623
Good questions!
I have to reckon no to all of those :-(
So I will add some it tests ( #1638 ) and doco as well

[2017-06-21 12:43] gregw commented on #1637
Leaving open as we need to benchmark to determine optimal settings

[2017-06-21 12:47] joakime commented on #1485
Nice.

This should go into `jetty-home-<ver>/bin/jetty.service` (which jetty-distribution builds from anyway)

Isn't service reload just stop+start ?

[2017-06-21 12:48] joakime commented on #1485
We support `restart` on jetty.sh currently, so that's no big deal.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.6.v20170531/jetty-home/src/main/resources/bin/jetty.sh#L543-L557

[2017-06-21 12:49] joakime commented on #1528
This is already completed.

[2017-06-21 12:49] #1528 closed

[2017-06-21 13:48] jmcc0nn3ll commented on #1587
I am out most of this week but trying to keep up on this, am I understanding that @rgrunber is keen on taking point on this and open to shepherding the process?  I think steps would be to get a bug on bugzilla opened up to get a new job created and a new eclipse based git repo setup for him to wire up whatever tycho process is required for what they need?  Sounds like there is interest in getting

[2017-06-21 14:25] janbartel commented on #1597
In jetty-10 we have removed javax.mail and javax.transaction from the distribution. If you require these jars you will need to download them and place them in your $jetty.base/lib/ext directory (after enabling the 'ext' module), or making your own module to download and place them onto the container classpath.

[2017-06-21 14:26] joakime commented on #1597
@janbartel @WalkerWatch i think this issue just became a Documentation issue.

[2017-06-21 14:27] janbartel opened #1639 "Remove unnecessary dependency from test-spec-webapp"
the javax.mail api is not needed for the test-spec-webapp.

[2017-06-21 14:30] janbartel commented on #1639
Removed from jetty-9.4.x and jetty-10

[2017-06-21 14:30] #1639 closed

[2017-06-21 14:53] janbartel opened #1640 "Make a maven plugin to deploy webapp to locally installed jetty"
The current jetty maven goals all start jetty in process. It would be good to have a goal that would deploy to a local installation of jetty.  Even better if the webapp is unassembled.

Along the way to doing this, we might solve some of the related problems to generating a location-independent quickstart-web.xml file, see #1542.

[2017-06-21 15:04] janbartel commented on #1640
Pushed branch issue-1640 with work in progress.

[2017-06-21 15:05] janbartel commented on #1597
@joakime right you are: assigning to @WalkerWatch .

[2017-06-21 15:31] gouessej commented on #1485
Ok. Then, I'll add:
ExecReload=/etc/init.d/jetty restart

Can you confirm that it makes sense? restart != reload?
[https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecReload=](https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecReload=)

I'm not sure that "Environment=" is required.

[2017-06-21 15:39] WalkerWatch commented on #1597
I will include this in the 9.x -> 10.x upgrade/transition guide when the time comes.

[2017-06-21 16:10] gregw commented on #1485
Correct - there is no general way to reload configuration other than a restart (or stop+start).

[2017-06-21 17:33] gouessej commented on #1485
[code]
After a reboot:
[code]

[2017-06-21 17:39] gouessej commented on #1485
[code]
There is a problem of permission.

[2017-06-21 17:53] joakime commented on #1485
You are either attempting to bind to a privileged port (1-1024) with the wrong userid. (in which case you'll probably need to setup setuid)

Or your system has some kind of security enabled to prevent random apps from binding to ports?

Does systemd need to declare that the service will bind to a port?

[2017-06-21 17:54] gouessej commented on #1485
The ports in the range 1-1023 are privileged. Only root is allowed to bind to them. You're right. The user "jetty" isn't allowed to use those ports. I'm trying to make it work with root first. Then, I'll solve this minor problem with the user "jetty".

[2017-06-21 17:57] gouessej commented on #1485
Jan 01 01:00:18 A20-OLinuXino jetty[269]: Starting Jetty: FAILED Fri Jan  1 01:00:18 CET 2010
Jan 01 01:00:18 A20-OLinuXino systemd[1]: jetty.service: control process exited, code=exited status=1
Jan 01 01:00:18 A20-OLinuXino systemd[1]: Failed to start Jetty Web Application Server.
Jan 01 01:00:18 A20-OLinuXino systemd[1]: Unit jetty.service entered failed state.

[2017-06-21 21:54] gouessej commented on #1485
I have to use the port 8080 for HTTP, otherwise it doesn't work even outside the init script. Now, I get this:
[code]

[2017-06-21 22:28] gouessej commented on #1485
It works:
[code]
I had to add the following line into /etc/default/jetty:
JETTY_PID=/opt/web/mybase/jetty/jetty.pid

I had to modify jetty.service:
PIDFile=/opt/web/mybase/jetty/jetty.pid

[2017-06-21 22:51] joakime commented on #1485
Traditionally we made the pid show up in the jetty.base directory.

I wonder if we should reevaluate that decision and just use the `/var/run/<instanceid>.pid` default location instead.

[2017-06-22 08:14] gouessej commented on #1485
Using /var/run/<instanceid>.pid would require to change the owner of this file or (even worse) to change the owner of /var/run if we follow the documentation wisely advising to create a separate user "jetty" who only owns /opt/jetty and /opt/web.

At first, I'll try to set PIDFile=/opt/web/mybase/jetty.pid in /etc/systemd/system/jetty.service and JETTY_PID=$JETTY_BASE/jetty.pid in /etc/default/jet

[2017-06-22 09:06] gregw commented on #1485
With regards to listening on port 80 and 443, there are two basic
approaches:

1) Start jetty as root, bind to the port and then setuid to the jetty user.
   This works fine, but does rely on a little bit of native code.  There
can also be some ownership issues if any files are created before the
setuid is done.

2) Run jetty as user jetty and just bind to ports like 8080 and 8443.  Use
a mechanis

[2017-06-22 11:18] olamy commented on #1623
ok JettyRunForkedMojo do not work in this case.
annotations no problem.

[2017-06-22 16:41] vishwajeetdusane opened #1641 "SslConnection performance over WebSocket client"
Writing large binary data (~4MB) over websocket client over SSL sends 4KB chunks. Has anyone observed this issue ?  Please note writing same amount data over websocket client without SSL does aggressively scale TCP to send larger buffer.

Did tried changing BufferUtil.TEMP_BUFFER_SIZE to 64KB however no impact on the chunk size.

[2017-06-22 16:49] joakime commented on #1641
Is this with / or without the `permessage-deflate` websocket extension in use?

[2017-06-22 16:50] joakime commented on #1641
Also, what version of Jetty?

[2017-06-22 16:53] rstoyanchev commented on #1618
@gregw I can confirm the fix works in my own sample, which is a Boot app and I have also [asked the original reporter|https://jira.spring.io/browse/SPR-15652?focusedCommentId=152490&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-152490] to confirm in their actual application just in case.  Thanks!

[2017-06-22 17:01] vishwajeetdusane commented on #1641
Tried with 9.4.0.RC2 and the trunk code, both has same behavior. Have not explicitly set permessage-deflate, What should be default?

[2017-06-22 18:22] joakime commented on #1641
9.4.0.RC2 is a beta/alpha/pre-release/non-stable release.
Please use a stable release, such as Jetty 9.4.6.v20170531.
Ignore permessage-deflate for now, lets test with a stable release first.

[2017-06-22 18:23] vishwajeetdusane commented on #1641
Have test with 9.4.6.v20170531 as well and behavior is same.

[2017-06-22 18:35] joakime commented on #1641
Looks like we are using the values from [javax.net.ssl.SSLSession.getPacketBufferSize()](http://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SSLSession.html#getPacketBufferSize--) and [javax.net.ssl.SSLSession.getApplicationBufferSize()](http://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SSLSession.html#getApplicationBufferSize--) to determine the size of buffers to use for SSL connections.

[2017-06-22 18:37] vishwajeetdusane commented on #1641
Yes i have setup before SSLSession is initialized.
`System.setProperty("jsse.SSLEngine.acceptLargeFragments", "true");`

Also verified the setting kicking off, instead of getPacketBufferSize() returns 16KB, with above setting 32KB is returned. However that does not impact the result.

[2017-06-22 18:49] joakime opened #1642 "Using RewriteHandler with AsyncContext.dispatch() and HttpServletRequestWrapper not possible"
If you have an HttpServletRequestWrapper in use, and also have RewriteHandler rules setup, then you cannot use AsyncContext.dispatch() as it will trigger an exception in RewriteHandler.

[code]

[2017-06-22 18:53] joakime commented on #1642
@gregw what are your thoughts on a good jetty subproject/module for a unit test for this?
I'm thinking jetty-webapp, but that will cause jetty-rewrite to be brought in as a test-dependency.
Wonder if somewhere in /tests/ is appropriate.

[2017-06-22 19:07] joakime commented on #1642
A working fix has been commited to branch `issue-1642` in commit 95d4390.
Still needs a good unit test though.

[2017-06-22 19:47] gouessej commented on #1485
Thank you. I currently use the second approach. I set a NAT/PAT rule in my residential gateway which probably uses iptables under the hood. The NAT/PAT rule would be necessary even if I used the port 80. Sorry, I should have searched a bit further concerning setuid. Maybe a link to this article should be put into the instructions to create a Unix service for Jetty.

[2017-06-22 20:12] gouessej commented on #1485
I had to call that to fix the time in the logs:
`timedatectl set-ntp true`

My file /etc/default/jetty contains:
[code]
The temporary file start_1276664672082575285.properties contains:
[code]

The file jetty.service contains:
[code]
Why aren't there any logs in $JETTY_BASE/logs/?

[2017-06-22 20:16] gouessej commented on #1485
jetty-logging.xml isn't in /opt/jetty/jetty-distribution-9.4.6.v20170531/etc/, is there anything missing in the instructions?
[http://www.eclipse.org/jetty/documentation/current/startup-unix-service.html#_practical_setup_of_a_jetty_service](http://www.eclipse.org/jetty/documentation/current/startup-unix-service.html#_practical_setup_of_a_jetty_service)

[2017-06-22 21:04] WalkerWatch commented on #1485
@gouessej  `jetty-logging.xml` was changed to `console-capture.xml` in Jetty 9.4 but it looks like the documentation was not updated for this section.

[2017-06-22 23:42] gouessej commented on #1485
Thank you so much. I'll add it into jetty.conf.

[2017-06-23 05:53] olamy commented on #1638
@janbartel I have a branch with the it tests here https://github.com/olamy/jetty.project/tree/feature/maven_plugin_its
ATM fragment doesn't work but forked has been fixed.

[2017-06-23 06:35] olamy commented on #1638
regarding fragments I can see a TODO :-)  here https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/MetaInfConfiguration.java#L279

[2017-06-23 08:08] IngoSchuster opened #1643 "ProxyServlet always uses default number of selector threads - constructor should allow to overwrite the default."
I use Spark on a big server (88 cpus). In some configurations, Spark sets up several ProxyServlets for the admin UI.
Unfortunately, each ProxyServlet instantiates HttpClient with HttpClientTransportOverHTTP using the default constructor which lets me end up with 44 selector threads for each ProxyServlet.
This exhausts the thread pool. You can of course increase the number of threads in the pool, b

[2017-06-23 08:22] gouessej commented on #1485
@WalkerWatch Thank you for the update in the documentation:
[https://github.com/eclipse/jetty.project/commit/0bfc41e0680cd309617889a61f53460315141a7c](https://github.com/eclipse/jetty.project/commit/0bfc41e0680cd309617889a61f53460315141a7c)

By the way, /opt/jetty/temp is created twice, you can find `mkdir -p /opt/jetty/temp` and `mkdir /opt/jetty/temp`, it's a bit confusing.

[2017-06-23 08:48] gouessej commented on #1485
Adding `JETTY_PID=/opt/web/mybase/jetty.pid` into /etc/default/jetty is necessary. I get this when I remove it:

[2017-06-23 09:07] gouessej commented on #1485
I had to create $JETTY_BASE/logs, change its owner to jetty:jetty and ensure it's writable to make it work:
mkdir -p /opt/web/mybase/logs
chown --recursive jetty /opt/web/mybase/logs
chmod u+w /opt/web/mybase/logs

[2017-06-23 23:07] jbayala opened #1645 ""java.io.NotSerializableException: org.eclipse.jetty.servlets.DoSFilter" on "Non-Clustered Session Management: File System""
After enabling "Non-Clustered Session Management: File System" as described on the documentation, log files reported "java.io.NotSerializableException: org.eclipse.jetty.servlets.DoSFilter":

We are using: jetty/9.4.6.v20170531

java.io.NotSerializableException: org.eclipse.jetty.servlets.DoSFilter
	at java.io.ObjectOutputStream.writeObject0(ObjectOutputStream.java:1184)
	at java.io.ObjectOutputSt

[2017-06-24 07:45] janbartel commented on #1645
FYI: Looks like this has been a problem since this commit: https://github.com/eclipse/jetty.project/commit/5cd676581c178dc3611298e611c62fc51ed1b6cf#diff-f0d4055c341e665e66e56b4b3c8ae099

[2017-06-24 09:23] gdyxml2000 opened #1646 "servlet3.0 feature, META-INF/resources could not be requested"
servlet 3.0 web-fragment.xml can be Analysis, but META-INF/resources could not be requested

[2017-06-24 13:27] janbartel commented on #1646
@gdyxml2000 I don't understand, can you please explain the situation more? Please include jetty version, operating system, jvm version and any relevant customizations.

[2017-06-25 00:20] xz64 commented on #1622
This has been resolved by filtering before doFilter is called, and guessing the mimetype from the request URL if the content type had not been set yet on the response.

[2017-06-25 00:20] #1622 closed

[2017-06-26 13:31] gouessej opened #1648 "No way of making a distinction between no context found because of no virtual host matches or a misconfigured context pointing to a non existent directory"
I'm using Jetty 9.4.6.v20170531.

I see that I get the same error message (404, no context found, ...) when there is no context that matches and when the only context that should match uses the resource base of the ResourceHandler is a non existent directory.

If I take [this example](http://www.eclipse.org/jetty/documentation/current/static-content-deployment.html) and delete the directory /home/

[2017-06-26 15:54] rgrunber commented on #1587
Just to confirm, yes, I'm fine with starting work on this once the hudson job is created. I don't think there is a need for a new eclipse based git repo. The entire process  can be done in the job configuration.

[2017-06-27 08:00] gregw commented on #1648
There is something I'm missing in your example.  If I write a very simple version of what you describe:
[code]
Then I get the default error response which is just a `404 Not Found`

If I extend the example to use the DefaultHandler more like a normal configuration:
[code]

The the error page is generated by the DefaultHandler, which is still a `404 Not Found`, but with the message: `No context on

[2017-06-27 08:00] #1648 closed

[2017-06-27 08:38] gregw commented on #1643
@sbordet I've pushed a fix for this, but can you check it when you are back, as I'm concerned I may have missed some nuance in the various proxies.

[2017-06-27 09:17] gouessej commented on #1648
I get exactly this error message when there is really no context that matches, sorry for the lack of accuracy:

I'll make another test and let you know.

[2017-06-27 13:32] joakime opened #1650 "Backport javax.websocket 1.1 to jetty 9.4.x"
While the initial work of the backport has been started with cherry-picks of the javax-websocket 1.1 changes in `master` to a branch of `jetty-9.4.x` called [`backport-jws11`](https://github.com/eclipse/jetty.project/tree/backport-jws11), it is not finished until we can minimize or eliminate the incompatible API changes introduced by this feature.

Will introduce a API reporting plugin to maven to

[2017-06-27 15:39] gregw commented on #1648
That's the error message I would expect.   I think it is about as explicit as it can be.   No handler matched OR handled the request.   It is impossible for the DefaultHandler to really know why a request has not been handled - it could be because it did not match (a path or virtual host) or it could be that it did match, but the handler chose not to handle (because of missing file etc.).

[2017-06-28 14:43] janbartel opened #1651 "websocket server test failure 9.4.x"
[INFO] Results:
[INFO]
[ERROR] Failures:
[ERROR]   WebSocketOverSSLTest.testEcho Leaked Resource Count for [Test]
Expected: is <0L>
     but: was <1L>

Head of 9.4.x branch, maven 3.3.9, java 1.8_112, ubuntu 16.04.

[2017-06-28 14:48] janbartel opened #1652 "websocket error during build"
2017-06-28 16:46:19.710:WARN:oejwsb.BrowserSocket:main: Error
org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:292)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:429)
	at org.eclipse.jetty.io.WriteFlusher.write(WriteFlusher.java:322)
	at org.eclipse.jetty.io.AbstractEndPoint.write(AbstractEndPoint.java:372)
	at org.eclipse.jetty.

[2017-06-28 15:49] joakime commented on #1652
Build no longer supports Java 8u112, use 8u121 or newer.

[2017-06-28 15:50] joakime commented on #1652
Your environment is running something that isn't a testcase.

`org.eclipse.jetty.websocket.server.browser.BrowserDebugTool` is not a testcase.

Would recommend upgrading maven as well.

[2017-06-28 15:51] #1652 closed

[2017-06-28 15:51] joakime commented on #1651
No point fixing this in jetty-9.4.x HEAD atm, as issue #1650 will replace that testcase entirely.

[2017-06-28 15:51] #1651 closed

[2017-06-28 17:07] joakime opened #1653 "WebAppContext.add/prepend System/Server classes deprecations need descriptions"
We have many `@Deprecation` entries in WebAppContext that need proper descriptions of the correct alternate way to use those features.

Add javadoc "@deprecation Use foo instead" style of descriptions too.

[2017-06-29 06:12] #1653 closed

[2017-06-29 18:09] #1408 closed

[2017-06-30 09:33] Sytten opened #1654 "Request with previous 100-continue and no content is going through"
Hi,
We decided to migrate our services from Jetty 9.3 to Jetty 9.4 (with Dropwizard) lately.
We have a SOAP Api that is crucial for the application. We receive that from a provider (we don't control the messages).
The way they work is they send first a TCP Segment (after the three way handshake) looking like that:
[code]
Then we receive the xml content in another segment after that.

It runs smoot

[2017-06-30 12:42] joakime commented on #1654
HTTP spec on persistent connections is rather clear here.

The client can only request a persistent connection (you call it Keep-Alive).

The server and any intermediary (proxies, load balancers, gateways, etc) are the ones in control of persistent connections and can close the connection at any time for their own reasons.

If you have a client that expects to be control, then that client is not f

[2017-06-30 12:48] joakime commented on #1654
`Connection: Keep-Alive` is meaningless on HTTP/1.1

The `Connection` header in HTTP/1.1 will see `Keep-Alive` as a value not present in the HTTP/1.1 spec and ignore it for its own HTTP handling.

The value `Keep-Alive` is only present in the HTTP/1.0 spec.

Having non HTTP spec values in the `Connection` header is common when you think about the components after HTTP that can use the header for i

[2017-06-30 12:52] joakime commented on #1654
You seem to be using a proxy / load balancer in front of Jetty (the existence of the various older `X-Forwarded` headers).  Make sure you are using an up to date version of that proxy / load balancer (as it might not be behaving properly too)

[2017-06-30 13:19] Sytten commented on #1654
Thanks for the comments.
We are looking at our proxies too right now, we do have a complex architecture in front of jetty.
I can't reproduce on local and it rarely appears in production, that's why it's difficult to fix.
Still I'm not sure why Jetty sends a FIN milliseconds after the three way handshake and a TCP fragment.

[2017-07-03 11:18] sbordet commented on #1643
@gregw I reviewed the fix and extended it to `FastCGIProxyServlet`.

[2017-07-03 11:18] #1643 closed

[2017-07-03 12:16] Sytten commented on #1654
Ok I have more news.
I reverted to jetty 8 to see what is happening.
After a tcpdump, I saw that the problem isn't new, it's just that jetty 9 handles it differently.
Before it used to return a 400 bad request before hitting my custom AbstractPhaseInterceptor<Message> (which reads the input stream to remove invalid strings from the received SOAP message).
I will see with my provider to fix the pro

[2017-07-03 12:50] gregw opened #1655 "Improve extensibility of ServerConnector"
Allow the server channel to be overriden

[2017-07-03 13:35] sbordet commented on #1655
@gregw I think I'd like to have a setter too, throwing `IllegalStateException` if it's already set.

[2017-07-03 13:37] gregw commented on #1655
@sbordet done

[2017-07-03 13:48] joakime commented on #1655
Some thoughts on things to check if the ServerConnector's Channel is null at the wrong time.

* JMX output of ServerConnector details
* ConnectionStatistics
* RequestLog setup
* Various XML configuration that expects a Channel (not sure if this is valid)
* Debug Logging
* Dump output
* FastCGI setup
* LowResourceMonitor
* Various existing extensions to ServerConnector (like NetworkTrafficServerCon

[2017-07-03 14:13] gregw commented on #1655
@joakime being null at the wrong time is not really a problem, as it was already able to be null and is only assigned during start.  The setter is disabled once started, so it cannot null the channel when it is expected to be non null.

the problem is that for setters, you expect the value to persist, except in this case a start/stop cycle will null the setting.   We probably need to make it so th

[2017-07-03 14:40] sbordet opened #1656 "Improve configurability of ConnectionPools"
Currently to customize a `ConnectionPool`, one needs this:

[code]

It would be handy if the `ConnectionPool` could be configured without subclassing.

[2017-07-03 21:23] gregw commented on #1655
tried having non auto close option, but interrupting a blocking acceptor closes the accept channel, so it is not an option.

[2017-07-04 07:44] Sytten commented on #1654
More news today, I realized that the 400 comes from our Haproxy.
Still jetty 9.3 seems to silence the problem, but with 9.4 it goes through and fails later in the CXF filters.
Not sure it is a jetty, jersey or dropwizard problem.
@joakime if you have any hint for that I would be very glad.

[2017-07-04 08:08] olamy commented on #1654
Hi
Any sample project to help us reproduce your problem?

[2017-07-04 08:36] Sytten commented on #1654
![screen shot 2017-07-04 at 10 31 02 am](https://user-images.githubusercontent.com/2366731/27821835-f0140bf8-60a3-11e7-9f34-c8efb58dd3c5.png)
10.0.4.26 is the client
10.0.0.28 is my server

Hard for me to provide a sample project (enterprise project), but here is a stacktrace:
[code]

InvalidStringHandler is an AbstractPhaseInterceptor.
For now what I think I will do is read the InputStream inside

[2017-07-04 08:48] sbordet commented on #1654
You don't show what frame 188664 contains.

I expect that to be a HTTP request with an `Expect: 100-continue` and a `Content-Length` header.
The server replies correctly with a `100 Continue` response (because the application asked to read the content), but then the client sends a FIN at frame 188668.

It's a client problem.

[2017-07-04 09:25] #1656 closed

[2017-07-04 09:28] Sytten commented on #1654
I updated the stacktrace, it wasn't the right one.
It's certainly a client error, but it used to be silenced on the server side.
The behavior changed and that's why I'm trying to find solution to avoid having a EOF down the line.

[2017-07-04 09:33] sbordet commented on #1656
Now it's possible to do:

[code]

[2017-07-04 09:35] sbordet commented on #1654
I don't understand what you mean by "silenced". If the client did not send the content, the server application would have seen the EOF, no matter the Jetty version.

[2017-07-04 09:59] Sytten commented on #1654
I totally agree, but we never experienced to error before with jersey 1 (based on jetty 9.3).
Meaning something "catch" it before it entered our pipeline.
I want this behavior back since I cannot fix the client in the short term (it's an external provider).
I will create a servlet filter and read the input stream, if I can catch the error there and silence it, I will be able to roll out my version

[2017-07-04 11:24] Sytten commented on #1654
Finally I decided to silence the error in my AbstractPhaseInterceptor until the client is fixed, I will still get a warning from apache CFX but thats not too bad.

I would say it's done on my part, but I find it strange that the behavior changed. Not sure which way is the best though.

Feel free to close the issue ;)
Thanks

[2017-07-04 12:54] #1654 closed

[2017-07-04 13:33] Restage opened #1658 "Exception "WELD-001303: No active context for scope type RequestScoped" using Jetty with the cdi module activated"
Hi,
I'm running Jetty 9.4.6 with the cdi module activated in three different test environments. In all of them the same webservice is deployed and works as expected after a fresh startup. But after a longer uptime (some days) Jetty is not able to handle any kind of request anymore and the logfile shows the following stacktrace:

    javax.servlet.ServletException: javax.servlet.ServletException:

[2017-07-04 13:45] Restage opened #1659 "UnsatisfiedResolutionException using Jetty 9.4 with CDI"
Hi,
I've got another problem running Jetty 9.4.6 together with cdi. Sendung a request to my webservice the container returns http error code 500 and throws the following exception in the background:

    org.jboss.weld.exceptions.UnsatisfiedResolutionException: WELD-001308: Unable to resolve any beans for Type: interface org.jboss.weld.context.http.HttpRequestContext; Qualifiers: []
        at org

[2017-07-05 08:27] igreenfield commented on #1618
@gregw @rstoyanchev I check this snapshot on my full server and it works! When can we get a release? it is very urgent for us.

[2017-07-05 09:32] sbordet commented on #1627
Feel free to close the issue then.

[2017-07-05 19:58] joakime commented on #1658
Jersey is in an error condition??

[code]

Is that still in scope for CDI?

[2017-07-05 20:00] joakime commented on #1658
Anyway, the CDI issue is a red herring.

The fact that it doesn't work after a few days is likely because your configuration is using `java.io.tmpdir` pointing to system `/tmp` which is being cleaned up by another process on your system.

Your choices:

* Disable the process that performs `/tmp` cleanup
* Start Jetty with a `${jetty.base}/work` directory (which will be used instead of `java.io.tmp

[2017-07-05 20:22] gregw commented on #1618
Typically we release every month or two, but currently don't have a release cycle planned for the next few weeks. So I would expect a release in about 3 to 5 weeks.

Note that as part of our commercial support services, we can schedule an impromptu release for urgent client requirements, but it is not something we do on an open source basis for non security issues.

[2017-07-05 20:36] joakime commented on #1659
Closing as likely duplicate of #1658

[2017-07-05 20:36] #1659 closed

[2017-07-05 20:52] khoaminhbui opened #1660 "Need release notes on download page"
I go to Jetty download page and cannot find release notes to decide if it's worth upgrading.
I to Google to find those information elsewhere.
Could you please to put a link to release notes on the download page for user convenient.
Thank you.

[2017-07-05 21:13] joakime commented on #1660
No need, the release notes exist in multiple places currently.

The sources of release notes:

* As a Github release entry (each version) - eg: https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.6.v20170531
* Inside the `jetty-distribution-<ver>.tar.gz` (or zip) see `/VERSION.txt` - http://central.maven.org/maven2/org/eclipse/jetty/jetty-distribution/9.4.6.v20170531/jetty-distribution

[2017-07-05 21:13] #1660 closed

[2017-07-05 21:15] joakime commented on #1660
Would recommend that you subscribe to the jetty-announce mailing list (that's what its for).

[2017-07-05 21:16] khoaminhbui commented on #1660
Thank you, I will subscribe. That will keep me up to date.

[2017-07-05 21:17] joakime commented on #1660
You can also go to the github project release page and click into the specific release you are interested in.

https://github.com/eclipse/jetty.project/releases

[2017-07-05 21:18] jmcc0nn3ll commented on #1660
@WalkerWatch has cleaned up some of the download pages a while back, flagging this for future ideas as well.

[2017-07-05 21:20] WalkerWatch commented on #1660
We could probably link the VERSION.txt on the downloads page but unsure if it is worthwhile as it is available in so many other locations. Thoughts @jmcc0nn3ll and @joakime ?

[2017-07-06 10:54] adioss commented on #1556
As it is a security issue with an associated CVE with High score, is anyone aware of a version 9.4.x potential release date?

[2017-07-06 11:07] sbordet commented on #1443
Duplicate of #1643.

[2017-07-06 11:07] #1443 closed

[2017-07-07 13:21] securinator commented on #1556
@fredfeng @carnil Does this affect older versions of Jetty? Say 6-8? The code looks like it has barely changed for password.java between then and now.

[2017-07-07 13:47] joakime commented on #1556
@securinator all versions of [Jetty 6 through 8 are EOL (End of Life)](https://dev.eclipse.org/mhonarc/lists/jetty-announce/msg00069.html).

[2017-07-07 13:49] joakime commented on #1556
@adioss look at the commit in github, you'll see that the commit exists in the releases:
 jetty-9.4.6.v20170531
 jetty-9.3.20.v20170531
 jetty-9.2.22.v20170606

[2017-07-07 13:49] securinator commented on #1556
I know, I just wondered if anyone could confirm if they were affected or not.

[2017-07-07 13:56] joakime commented on #1556
@securinator nobody has confirmed that it's possible on Jetty 9 in a remote scenario.
Existing security auditing done against Jetty on a variety of tools and environments have failed to confirm a timing channel attack is possible from a remote client.

However, if you are local and are doing a timing channel attack on local passwords (in configuration files for example) then its very possible.   B

[2017-07-07 15:36] joakime commented on #1660
@WalkerWatch nah, just have text that links to the jetty-announce mailing list.

Something along the lines of "For details about each release, use jetty-announce@eclipse.org or the github.com/eclipse/jetty.project/releases page"

[2017-07-08 16:27] wangyunai opened #1661 "AbstractProxyServlet onProxyResponseFailure Error"
I user tomcat8+servlet3.1+jetty-proxy9.3.20.v20170531, when run in method AbstractProxyServlet.onProxyResponseFailure, if (proxyResponse.isCommitted()) ,  proxyResponse.sendError(-1) throws an IllegalStateException ,and  asyncContext.complete() will not be execute.
the souce code :

[code]

[2017-07-10 02:03] wangyunai commented on #1661
thanks, i will catch this excepiton and let the asyncContext complete,if the re is committed,how can i clean the buffer of the response? should have to ?

[2017-07-10 07:11] sbordet commented on #1661
@gregw I don't think we need the `sendError(-1)` anymore, as I believe that if we try again a `sendError()` we already abort the channel. I will need to check this though.

[2017-07-10 09:00] gregw commented on #1661
@sbordet correct, we now internally convert to -1 then abort if the response is already committed.   I'll update proxy accordingly...

[2017-07-11 13:02] AnywhereSoftware opened #1662 "NPE with WebSockets when BatchMode is ON"
We have upgraded from Jetty 9.3 to 9.4.6 and started seeing NPE errors in CompressExtensions after calling WebSocket.flush();

After some digging I believe that it is related to a change in CompressExtensions.deflate.
It tries to compress the FLUSH_FRAME and throws a NPE as it has no payload. Adding payload to FLUSH_FRAME doesn't help as it will prevent FrameFlusher from behaving correctly.

The s

[2017-07-11 15:24] WalkerWatch opened #1663 "Add HTTP-Forwarded.mod to chapter on connectors"
Currently we do not reference the HTTP-forwarded module when discussing connectors in the documentation.

https://www.eclipse.org/jetty/documentation/current/configuring-connectors.html

[2017-07-11 17:46] anuraggupta opened #1664 "IPAccessHandler CIDR IP range check is not proper"
InetAddressSet doesn't work for following IP ranges in CIDR notation.

Example IP Range: "2.144.0.0/14", "2.176.0.0/12", "5.22.0.0/17", "5.22.192.0/19"
Stacktrace:
Exception in thread "main" java.lang.IllegalArgumentException: Bad pattern: 2.144.0.0/14
	at org.eclipse.jetty.util.InetAddressSet.newInetRange(InetAddressSet.java:88)
	at org.eclipse.jetty.util.InetAddressSet.add(InetAddressSet.java:57

[2017-07-12 15:34] #1663 closed

[2017-07-13 09:10] ludoch opened #1665 "WebSocket support in App Engine Standard"
Let's use this bug to discuss our progress regarding adding WebSocket support in App Engine Standard Java8....

GAE Standard does not use the HttpConnection mechanism but defines a new RCPConnection mechanism (Greg knows about this....)

Registering the websocket jars, I can go up to a point where I get (with Jetty 9.3.18.v20170406):
java.lang.NullPointerException
        at org.eclipse.jetty.webs

[2017-07-13 11:15] gregw commented on #1665
@ludoch Can you give us a bit more detail of how the websocket stream will be delivered?

With standard Jetty, we have the concept of a HttpConnection, HttpChannel and HttpRequest.  With HTTP/1.0 these were 1:1:1,  HTTP/1.1 they are 1:1:n and HTTP/2 1:n:m.     The differences for HTTP are not important because each request is stand alone and the applications have little or no knowledge of the conc

[2017-07-13 12:06] janbartel commented on #1646
@gdyxml2000 please provide more details, otherwise there is not enough information here to work with.

[2017-07-13 12:19] gregw commented on #1661
@sbordet Can you review this fix?

I have updated sendProxyResponseError to call complete in a finally block, so it will be called even if the error handling has a problem.

However, I have needed to change the behaviour a little bit, as it now always uses sendError rather than setStatus.   This means that an error body message is sent for failures like 504 rather than an empty body and I have had

[2017-07-13 12:23] joakime commented on #1665
Note, when discussion WebSocket upgrade, its limited to HTTP/1.1 (RFC6455 does not support n HTTP/1.0 or HTTP/2)

[2017-07-13 13:19] #1655 closed

[2017-07-13 13:42] #1664 closed

[2017-07-13 13:42] joakime commented on #1665
Some thoughts on the WebSocket upgrade process ...

I don't think GFE can do the upgrade process, unless you put some serious restrictions in place for WebSockets.

Take this example request from a user agent.

[code]

This can result in any of the following replies at the HTTP side

[code]

A request for Upgrade can result in a normal HTTP response (and there are many scenarios where it does)

[c

[2017-07-13 14:05] janbartel commented on #1645
Fixed for 9.4.7

[2017-07-13 14:05] #1645 closed

[2017-07-13 14:11] gregw commented on #1665
@joakime note that when I say `GFE` I'm really saying `All parts of the Google cloud that are not part of GAE instance, including but not limited to the GFE`.

More over, the actual upgrade will always be done by the `GFE` as that is where the HTTP protocol terminated and converted to RPC.  So the question really is how consultative will the `GFE` be when doing that accept?

Note that GAE already

[2017-07-13 14:47] janbartel commented on #1638
@olamy  now that @joakime merged pr #1644 should this issue be closed, or is there more to do?

[2017-07-13 16:49] ludoch commented on #1665
Thanks for the good debate and the good definition of the GFE by Greg:-)

I started some internal threads and here is what I can say:
"
The UPRequest/UPResponse rpc path will not be supported. It does not use bidirectional streaming and currently doesn't have appropriate fields for to proxy WebSocket traffic over. We haven't done a thorough analysis, but trying to reuse the UPRequest/UPResponse pa

[2017-07-13 17:37] joakime commented on #1638
There's something up with the testcases in master.
https://jenkins.webtide.net/job/jetty.project/job/master/363/testReport/

Probably a bad merge. :-(

[2017-07-13 17:39] joakime commented on #1650
Completed in jetty-9.4.x (and merged to master/10.0.x)

[2017-07-13 17:39] #1650 closed

[2017-07-13 17:40] joakime commented on #207
Present in jetty-9.4.x (the next release, 9.4.7, should have it)
Also merged to master/10.0.x

[2017-07-13 17:40] #207 closed

[2017-07-13 18:54] buko commented on #1446
I think this bug hit me hard when running Eclipse. Is there a way to upgrade the version of Jetty that an Eclipse instance uses?

[2017-07-13 18:58] jmcc0nn3ll commented on #1446
sorry, you will have to ask the eclipse folks, we have nothing to do with how it is used inside of eclipse

[2017-07-13 22:46] olamy commented on #1638
ok I will have a look on master branch

[2017-07-14 06:45] khoaminhbui opened #1666 "Websocket broken with org.eclipse.jetty.io.EofException"
I utilize Jetty (9.4.1) websocket for 2 ways communication between client and server.

- On Client side, the messages 'onerror' and 'onclose' of WebSocket are listened, so that when there is a problem, the client will make a new connection.
- On Server side, the 'OnError' and 'OnClose' messages also handled.

Then, sometimes I see server got an 'org.eclipse.jetty.io.EofException', 'OnError' and 'O

[2017-07-14 14:38] WalkerWatch opened #1667 "Correct SSL SNI Documentation"
The documentation on SNI is out of date. It still references `ExtendedSslContextFactory` which, as pointed out by @joakime on the [mailing list](https://dev.eclipse.org/mhonarc/lists/jetty-users/msg06087.html), has been merged into `SslContextFactory` as part of https://github.com/eclipse/jetty.project/commit/c5e4abd792e7ed3f5e086d9835b25c5b93afe3d5.

There was originally a [bug created for this o

[2017-07-14 14:39] sbordet commented on #1661
@gregw looks good to me. If the response is already committed, calling `sendError()` causes the connection to be closed by aborting the channel, which is what we want.
The test changes you made are okay.

[2017-07-14 14:39] #1661 closed

[2017-07-14 16:08] #1667 closed

[2017-07-14 16:11] sbordet commented on #236
Finally got again some time to look at this. The network dump shows the client sending the last data on that connection at `17:08:31.099` (packet 13757) and the server replying with data immediately after.

Then the connection goes idle for 15 seconds, and the server decides to close the connection. Do you confirm that the server is configured with a 15s idle timeout ?
When it receives the FIN fro

[2017-07-14 16:11] #236 closed

[2017-07-14 16:19] oliverhausler commented on #236
@sbordet Thank you for looking into this. I confirm the timeout is set to 15 sec on both sides. I will set the server idle timeout 5 secs higher than the client timeout, as you suggested.

[2017-07-14 18:57] joakime commented on #1665
Here's a breakdown of the existing WebSocket server steps.
Thinking about this, I think the best solution would be for a GRPCEndPoint to be used by Jetty (Http + WebSocket), not a new GRPCConnection (which would needlessly complicate things at that level)

1. ◻ Http Request (Version: 1.1 | Connection: Upgrade | Upgrade: WebSocket) received
1. Jetty.EndPoint exist
1. ◻ Jetty.HttpConnection using Je

[2017-07-14 19:02] joakime commented on #1665
Another idea, if the whole point of the GRPC layer is to know what's going in WebSocket, perhaps using a non-negotiated WebSocket extension (not a spec concept, but a built in debug-ish layer in Jetty websocket), to relay the websocket frames through, would give enough information to the layers outside of WebSocket.

[2017-07-16 22:20] joaoplm opened #1669 "Refactoring of Request"
Hello everyone.
I was analyzing the modularization of some classes, and I identified that the class Request has an opportunity for cohesion improvement.
The class NCSARequestLog was in the same situation and the problem was solved as follows: The AbstractNCSARequestLog class was created, and several get() and set() methods that were used only to configure the class parameters were moved from NCSAR

[2017-07-17 06:49] Restage commented on #1658
@joakime, thank you for your advice. I choosed to create the `work` directory and will observe if the problem disappears. I do not mind if you close this issue. I know it has not enough information for further investigations.

[2017-07-17 07:30] olamy opened #1670 "Maven ITs tests fail with master branch"
from #1638

[2017-07-17 07:31] olamy commented on #1638
well it looks master has a lot changes which cause a lot of failure in the maven plugin.
So it's not simply a bad merge!
Working on it. Well finally a good idea to add some tests :-)
I guess we can close this one. I have created #1670 to track issues with master.

[2017-07-17 07:31] #1638 closed

[2017-07-17 07:32] olamy commented on #1670
please assign it to me.

[2017-07-17 08:39] gregw commented on #1669
@joaoplm ,

firstly I'm not understanding your example NCSARequestLog extends AbstractNCSARequetLog and there is no instance variable.

Now I don't deny that the `Request` class is very fat and could benefit from some simplification, however I do not see how creating a `RequestConfig` class helps all that much, plus I would be concerned about the additional object creation and dereferences require

[2017-07-17 09:36] gregw opened #1671 "Asymmetric usage of trailers in MetaData.Request"
The trailers methods on MetaData.Request are used for sending requests but not for receiving them.

[2017-07-17 09:37] gregw commented on #1671
@sbordet what do you think of this change? worthwhile?

[2017-07-17 10:43] gregw opened #1672 "ProxyConnection NPE"
The `ConnectHandlerTest.testCONNECTAndGETPipelinedAndOutputShutdown` method often fails.  If run in a loop:
[code]

it fails for me in between 1 and 30 iterations.

The test sends a connect and request, then half closes the socket.  It expects to receive the complete response on the half closed socket, but sometimes it does not.

[2017-07-17 10:55] joaoplm commented on #1669
Thank you Greg. I used the wrong example, and I did not know about the internal Metada class. I recommended this strategy because I thought it would be simple to apply. But at least I hit the spot, the Request class could benefit from some kind of refactoring right?

[2017-07-17 11:25] jagland opened #1673 "jetty-demo/etc/keystore should not be distributed"
Jetty should not be distributing a static private and public key within their Jetty-distribution, which is currently distributed in the file ` jetty-demo/etc/keystore`, you should move to a model of scripting the creation of a unique private and public key within a keystore, and instructing users of the `jetty-demo` folder to run that script before hand.

If you leave these keys hanging around, so

[2017-07-17 11:32] BodoWissemann opened #1674 "java.lang.ClassNotFoundException: org.eclipse.jetty.http2.server.HTTP2ServerConnectionFactory"
Hey,

i'm new to jetty at all and i'm trying to enable http2 in a jetty9-app (java version "1.8.0_131").
I have to configure it all by using xml-files.. and right now i use the jetty-xml-files provided in the documentation: http://www.eclipse.org/jetty/documentation/9.3.x/configuring-connectors.html

I try to load the alpn-boot-jar by adding it to `<jvmArgs/>` in `pom.xml`. It matches my OpenJDK-v

[2017-07-17 13:24] gregw commented on #1672
The issue was that the proxy tests are misusing the HttpTester.from(InputStream) method.  It was called multiple times for the same inputstream, so content could be read, buffered and then ignored!

[2017-07-17 13:24] #1672 closed

[2017-07-17 13:26] joakime commented on #1673
This would apply to the [`jetty-home-<version>.<archive>`](http://central.maven.org/maven2/org/eclipse/jetty/jetty-home/) distribution.

[2017-07-17 21:45] knes1 opened #1675 "Session id should not be logged with INFO level in AbstractSessionCache"
Many projects that use Jetty may have INFO level logging turned on at root logger level (such as Spring Boot for example). In such default configs AbstractSessionCache will under certain circumstances log active session IDs to the log file. This is not a good security practice. Reference: OWASP ASVS standard ( download here: https://www.owasp.org/images/3/33/OWASP_Application_Security_Verification

[2017-07-17 21:47] joakime commented on #1675
Jetty logging has no concept of TRACE.
Setting it to DEBUG makes sense though.

[2017-07-18 07:24] janbartel commented on #1675
I'll take a look and see what I can change to DEBUG level instead. However, whilst laudable in motive, requirement 8.1 and 8.4 on page 36 are somewhat in conflict - very hard to include necessary info on error logging for sessions without including the session id!

[2017-07-18 07:46] janbartel commented on #1675
Changed 2 INFOs (1 identified in AbstractSessionCache and another in Session) to DEBUG.

[2017-07-18 07:46] #1675 closed

[2017-07-18 07:47] janbartel commented on #1602
@joakime any comment on this one?

[2017-07-18 08:47] knes1 commented on #1675
Thank you!

[2017-07-18 10:43] gregw commented on #1673
Agreed.  However, I'll fix #1615 first and create a testssl module, which we can then experiment with using a scripting approach rather than a distributed keystore.

The major hurdle here is actually documentation/education.  @WalkerWatch what do you think about these changes? Should we do them in 10.0.x?   I'm thinking we could do them in 9.4.x but it has been like this for literally decades, so

[2017-07-18 10:57] gregw commented on #1669
@joaoplm well it is true that Request is a very large somewhat ugly class that is carrying lots of history with it. It also fulfils several roles: internal jetty request that is mutable; standard API class that is not mutable.. except via dispatch.

It is the mutability aspect of the class that makes it rather difficult to simplify.  It would be much easier if there was an immutable core class tha

[2017-07-18 11:10] gregw opened #1676 "Remove Deprecated classes & methods?"
There are several classes and many methods deprecated in jetty-9.4.x.  Should these be remove in Jetty-10.x?

- IPAddressMap
- PathMap
- FileResource
- ...

[2017-07-18 11:19] gregw commented on #1676
Any reason why not? @sbordet @janbartel  @joakime @jmcc0nn3ll @WalkerWatch @olamy ?

[2017-07-18 11:59] WalkerWatch commented on #1673
@gregw I think this is something we should tackle as part of Jetty 10.x. As you've said, it has been like this for many, many years. I think it might be worthwhile writing up a blog or page that goes into the contents of the distribution more specifically.

I'd be remiss if I didn't say though that there is only so much we can do to protect users from themselves. I do think this would be a smart m

[2017-07-18 12:02] WalkerWatch opened #1677 "Expand documentation on demo-base"
As per discussion on #1673: Create/expand documentation about the contents of the `demo-base` webapp included with the distribution. Include warnings about use in production, and explain the use of the different parts of the `demo-base` that users can utilize to see working examples of different Jetty functionality.

[2017-07-18 12:36] jmcc0nn3ll commented on #1676
Jetty 10 would be the proper time and place, yes.

[2017-07-18 12:44] olamy commented on #1676
If deprecated in 9.4 no reason to not remove

On Tue, 18 Jul 2017 at 10:37 pm, Jesse McConnell <notifications@github.com>
wrote:

--
Olivier

[2017-07-18 12:45] WalkerWatch commented on #1676
+1 for removal in 10.x - would like a full list once we do this so we can include in migration guide(s).

[2017-07-18 13:21] joakime commented on #1676
Would also encourage use of the new @Deprecated annotation in Java 9 for those methods that cannot be removed (yet).

There will also be some existing @deprecated methods that cannot be removed (such as the `Request.getRealPath(String)`)

[2017-07-18 13:43] gregw commented on #1676
@WalkerWatch I'll do the removal commit by commit, so git will tell us the complete list.
I just removed jetty-continuations.... what a historic step!

[2017-07-18 14:15] janbartel commented on #1623
@olamy could you take another look at this code? I'm trying to merge it into branch issue-1640 and a couple of questions arose:

In JettyRunMojo:

- why are the dependencyResources treated differently than the dependencyFiles? Can the method getDependencyFiles() return either the location of the jar for dependencies that are not in the reactor, or the location of the classes dir for dependencies t

[2017-07-18 14:16] joakime commented on #1676
@gregw btw, this is a duplicate of Issue #616

[2017-07-18 14:49] gregw commented on #616
Closing in favour of #1676 (wow more than a 1000 issues later!)

[2017-07-18 14:49] #616 closed

[2017-07-19 07:11] gregw commented on #1615
@WalkerWatch Can you check these changes and update doco?

[2017-07-19 10:09] joaoplm commented on #1669
Hi @gregw. Thank you for the answer.  I have a short list of classes in which I have also identified opportunities:

ContextHandler
WebAppContext
Response
AbstractSessionManager
ContextHandler$StaticContext
ServletHandler

Could you please take a look and tell me if it's viable? Maybe some of these classes can be cleaned with a simple refactoring, similar to the one I proposed.

[2017-07-19 11:57] olamy commented on #1623
sure. looks better to simplify!
As far I remember I had issues with web-fragment for directories dependencies.
Anyway I did the changes here https://github.com/olamy/jetty.project/tree/bugfix/maven_plugin_fix_master
And yes I have issues with web fragments.
I will investigate. If you have any ideas?

[2017-07-19 12:07] andreysubbotin opened #1678 "Please merge "JarFileResource improve performance of exist method" to 9.2 version"
See https://github.com/cuba-platform/jetty.project/commit/7da5db8dc9e1b6a0a4683085cac7e5217ef66d24

[2017-07-19 13:54] janbartel commented on #1623
In JettyRunMojo on line 591, can you add a Log statement like the one on line 602?

I think the problem you are experiencing is to do with MavenWebInfConfiguration around line 206: we are only adding resources to the virtual WEB-INF/lib iff they are jar files.  To fix:  change MavenWebInfConfiguration.findJars to call JettyWebAppContext.getWebInfJars() instead of getClassPathFiles(). For consisten

[2017-07-19 14:03] vishwajeetdusane commented on #1641
Thanks @joakime  -Realized that Java8 with GCM has performance issue, causing performance issue i was facing. Java9 has addressed this issue but still native is performing 2x.

[2017-07-19 14:03] #1641 closed

[2017-07-19 14:10] joakime commented on #1676
Should we remove the `deprecated="<property>"` attributes from the xml files too?

eg:

[code]

https://github.com/eclipse/jetty.project/blob/jetty-9.4.6.v20170531/jetty-server/src/main/config/etc/jetty-ssl.xml#L29

[2017-07-19 14:11] jmcc0nn3ll commented on #1676
+1

[2017-07-19 14:20] gregw commented on #1551
I didn't move the whole class, as it depended on the Servlet API.  Instead I just moved the parsing core of the class.

[2017-07-19 14:20] #1551 closed

[2017-07-19 14:20] joakime commented on #1641
@vishwajeetdusane you can use openssl and its specialized s_client called s_time to perform a simple test of the various cipher timings on your java server.

Example Script:

Be sure to set `192.168.1.116:8443` to be the server you are testing.
And adjust the `-www /` to be the resource path that will return a status code 200.

[code]

[2017-07-19 14:21] gregw commented on #1676
OK will do....

On 19 July 2017 at 16:13, Jesse McConnell <notifications@github.com> wrote:

--
Greg Wilkins <gregw@webtide.com> CTO http://webtide.com

[2017-07-19 14:23] gregw commented on #1678
@jmcc0nn3ll what is the current state of 9.2?  Are we doing open source releases still?

[2017-07-19 14:26] joakime commented on #1678
9.2.x has not even been announced for EOL yet.
When Java 9 is officially released is when the EOL announcement will occur (set for 6 months after announcement to be officially EOL).

In summary: Jetty 9.2 EOL is Java 9 official release date + 6 months.

[2017-07-19 14:30] vishwajeetdusane commented on #1641
Thanks @joakime  - i already did the benchmark. BTW benchmarking with C++ with openssl shows significant performance numbers compare to Java 8.

Is there a consideration to use openssl in Jetty ? Like Apache Crypto has binding with openssl?

[2017-07-19 14:37] gregw commented on #1678
@joakime I'm not sure why you think 9.2 EOL is related to java 9 release?    Jetty 9.2 is Java 7 and that has been EOL since April 2015.   9.4 is current stable version for java 8 and it will live on as long as Java 8 does.

@jmcc0nn3ll can you confirm where we are at with 9.2

[2017-07-19 15:15] joakime commented on #1641
@vishwajeetdusane last time we looked the various openssl integration layers with java were very poor.  the JNI layer added performance issues or ALPN support requirement we have was non-existent in the integration layer.

We have considered boringssl, but hit issues.

At this point, if you want native ssl handling, consider putting haproxy (or to a lesser extent nginx) in front of jetty to offloa

[2017-07-19 17:22] joakime commented on #1537
Current HEAD in jetty-9.4.x seems to behave properly.
A variety of connection issues now have tests to prove out the behavior.

[2017-07-19 17:22] #1537 closed

[2017-07-19 17:23] joakime commented on #1327
This has already been dropped in Jetty 9.4.4+ already.

[2017-07-19 17:23] #1327 closed

[2017-07-19 17:24] joakime commented on #1322
Closing as not an issue.

[2017-07-19 17:24] #1322 closed

[2017-07-19 17:25] joakime commented on #1602
What's a good example of a failed deployment?

[2017-07-19 17:25] joakime commented on #1149
These validations have been adjusted in jetty-9.4.7-SNAPSHOT and newer.

[2017-07-19 17:25] #1149 closed

[2017-07-19 17:26] joakime commented on #473
No longer failing.

[2017-07-19 17:26] #473 closed

[2017-07-19 17:27] joakime commented on #438
This has been implemented and shows up in the following releases already

jetty-9.2.16.v20160407+
jetty-9.3.9.v20160517+
jetty-9.4.0.v20161207+

[2017-07-19 17:27] #438 closed

[2017-07-19 17:28] joakime commented on #155
jetty-9.4.x (jetty-9.4.7-SNAPSHOT) and master (jetty-10.x) branches have support for this via configuration of the internal HttpClient now.

[2017-07-19 17:31] joakime commented on #1293
jetty-9.4.x (jetty-9.4.7-SNAPSHOT) has testcases that prove the 1001 going away behavior.
The ability of a websocket to send 1001 is dependent on many networking factors and states, a best effort is made, but there is no 100% guarantee that the 1001 will be received by the opposite side (OS behavior, various network buffers, etc all have an impact on this ability)

[2017-07-19 17:31] #1293 closed

[2017-07-19 17:31] joakime commented on #1250
No longer able to reproduce this on jetty-9.4.x (jetty-9.4.7-SNAPSHOT) and newer.

[2017-07-19 17:31] #1250 closed

[2017-07-19 17:37] joakime commented on #1642
merged into jetty-9.4.x

[2017-07-19 17:37] #1642 closed

[2017-07-19 17:54] joakime commented on #1004
Not going to backport. closing.

[2017-07-19 17:54] #1004 closed

[2017-07-19 18:08] rothskeller opened #1679 "DeploymentManagerMBean not usable through JMX"
JMX calls to various methods of the DeploymentManager fail due to NotSerializableException.  For example, when sending a getApps() request to the DeploymentManager mbean, the response is a NotSerializableException for org.eclipse.jetty.deploy.App.

After some code analysis, I believe the reason for this is that DeploymentManager has the "@ManagedObject" annotation, and its getApps method has the "

[2017-07-19 18:35] dreis2211 commented on #1004
@joakime May I ask what changed your mind?

[2017-07-19 18:53] jmcc0nn3ll commented on #1004
9.3 is a dead end, likely only getting security releases or support updates from here on out

[2017-07-20 01:00] jmcc0nn3ll commented on #1678
Last 9.2.x release was in June and it is still lingering around as client supported, we'll patch for security issues of course but doing little to no open source support on it unless it is something critical.  The thinking with regards to java9 + 6mo is that while java 7 has been EOL we still see a fair amount of people using it.  Once java 9 has landed the point of java7 being 2 full versions beh

[2017-07-20 04:16] olamy commented on #1623
definitely helps!!
see #1680
Can you merge in master as well so I can keep working on #1670
Remember to use -Prun-its to run Maven it tests :-)

[2017-07-20 07:14] gregw commented on #1679
method purely for management need to be on the MBean class... in this case it is missing annotations

[2017-07-20 11:00] natros commented on #1623
I'm testing jetty-maven-plugin:9.4.7-SNAPSHOT and I'm getting this NPE with manual hot reloading
[code]

[2017-07-20 11:16] janbartel commented on #1623
@olamy merge is done into master.

@natros  I'll look into that

[2017-07-20 11:25] janbartel commented on #1623
@natros fix pushed.

[2017-07-20 11:26] janbartel commented on #1623
@olamy  can you add a test for causing a restart of the webapp?

[2017-07-20 13:09] janbartel opened #1681 "Remove cookie setting from all session tests"
The HttpClient handles setting of cookies, so the code does not need to explicitly to do it.

[2017-07-20 13:20] joakime commented on #1679
Adding @ManagedObject to App means we need to implement serializable for it, CollectionHandler, WebAppContext, and everything that WebAppContext has too (which they currently do not).

There is no point exposing the whole App object anyway for JMX, its too detailed, and make it more difficult for other JMX methods to use as well.

I explored having it return the MBean reference to the WebAppContex

[2017-07-20 13:29] gregw commented on #1679
@joakime You are misunderstanding me.   I'm not saying return the App objects.   I'm saying that when we add methods that are just there for JMX, do not add them to the main class.  Instead add them to the MBean class.

The MBean class exists in this case, but is not being correctly used because it has not been correctly annotated.     So either the MBean class needs to be fixed or it needs to be

[2017-07-20 13:30] joakime commented on #1679
Ah, gotcha, you are talking about the `.jmx.<Class>MBean` specific implementation of the DeploymentManager, not the generic MBean implementation stuff.

[2017-07-20 13:56] rothskeller commented on #1679
@gregw, if both classes are annotated, the methods and attributes of the MBean class take precedence, but annotated methods and attributes on the main class will be used if the MBean doesn't have equivalents for them.  (Also, annotated methods and attributes on the superclasses of either MBean or the main class, likewise.)

[2017-07-20 14:16] janbartel commented on #1681
Done in jetty-9.4.x

[2017-07-20 14:16] #1681 closed

[2017-07-20 16:09] jbrazeau opened #1682 "Jetty-WarFragmentFolderPath directive has no effect in eclipse runtime mode except for the first launch"
Let's consider I have a plugin that contains a webapp (according to https://www.eclipse.org/jetty/documentation/9.4.6.v20170531/framework-jetty-osgi.html#_deploying_bundles_as_webapps ) using `Jetty-WarFolderPath` directive in its `META-INF/MANIFEST.MF` :
[code]
Let's imagine I have a very simple webapp with a single `index.html` resource in it (`web.xml` is almost empty, it only contains XML root

[2017-07-20 18:23] #1679 closed

[2017-07-21 00:51] olamy commented on #1623
@janbartel yup

[2017-07-21 14:46] Horcrux7 opened #1684 "javax.net.ssl.SSLHandshakeException: no cipher suites in common"
The method org.eclipse.jetty.util.ssl.SniX509ExtendedKeyManager.chooseServerAlias() should never return null because this result in a "javax.net.ssl.SSLHandshakeException: no cipher suites in common"

See also at https://stackoverflow.com/questions/41293778/jetty-javax-net-ssl-sslhandshakeexception-no-cipher-suites-in-common for details.

If this is a configuration error then is should throw an ex

[2017-07-21 16:48] WalkerWatch commented on #1615
@gregw Sure thing. I will make sure to include as well as part of #1677

[2017-07-22 16:38] vishwajeetdusane commented on #1641
@joakime  - Thanks for the information. I came across https://github.com/wildfly/wildfly-openssl/ which provides a interfacing with OpenSSL. I have not benchmarked yet but would like to know you opinion on this project.

[2017-07-23 12:36] olamy commented on #1623
@janbartel this looks to be a console scanner restart so I cannot generate this with the maven it test. Weird but I cannot generate a restart with touching files. Scanner supposed to generate the restart? It looks not

[2017-07-23 12:47] we3geeks opened #1685 "Update ALPN support for Java 8u141"
After updating to latest Java 8 JDK (released 2017-07-18), it looks like ALPN needs to be updated:

[code]

[2017-07-24 01:21] olamy commented on #1685
see #1686.
@we3geeks   feel free to use the file in the pr.

[2017-07-24 09:13] #1685 closed

[2017-07-24 09:35] sbordet opened #1687 "Missing callback notification when channel not found"
In `HTTP2ServerConnection.onData()` there is a code path where the callback is not notified when the channel is not found.

[2017-07-24 09:39] #1687 closed

[2017-07-24 11:47] mrossi975 commented on #1602
hi,
I am getting this too - example of a failed deployment is when something goes wrong with the initialisation of a webapp. In this particular instance I am trying to start up a spring-boot webapp but it could happen for many reasons.

[2017-07-24 13:50] janbartel commented on #1623
Touching one of the monitored files should generate a restart. There's a description here of what the monitored files are: http://www.eclipse.org/jetty/documentation/current/jetty-maven-scanning.html

[2017-07-24 15:37] janbartel commented on #1602
@joakime I've seen it happen a number of times, but I can't make it happen again now. I've tried throwing a RuntimeException in a servlet.init(), in a listener constructor and in a ServletContainerInitializer.onStartup() method and none of them provoke the problem. I'll have a deeper look tomorrow to try to get a repro test case. In the meanwhile, perhaps @mrossi975  can provide a better example?

[2017-07-24 15:42] joakime commented on #1602
Every failure in deployment I've tried results in the App being undeployed and the env being cleaned up.
I can't see a code path that allows the App to exist in a bad LifeCycle if it fails to deploy.
Presumably that's the only way the env can be in a this reported/strange state.

[2017-07-24 15:43] joakime commented on #1602
@mrossi975 are you using spring-boot standalone? or via a webapp deployed normally in Jetty?

[2017-07-24 16:03] mrossi975 commented on #1602
hi,
I am using spring-boot as a war file deployed to Jetty.
And since we are talking about it, I can tell you that we are having a nightmare setting it up.
The webapp centralised logging described here http://www.eclipse.org/jetty/documentation/9.4.x/example-logging-logback-centralized.html does not work and it causes an infinite loop of the "scanning" part at the beginning.
We are gathering data

[2017-07-24 16:43] joakime opened #1688 "Request with `Content-Encoding: gzip` should not perform parameter extraction"
Since Jetty does not support Request decompression, if a request shows up with `Content-Encoding: gzip` and the servlet does a HttpServletRequest.getParameter*() method call, then this should automatically fail, as its not possible for Jetty to satisfy this kind of request.

[2017-07-24 16:46] joakime commented on #1688
Perhaps access to HttpServletRequest.getInputStream() should also be protected.

[2017-07-25 08:41] sbordet commented on #1688
@joakime `HttpServletRequest.getInputStream()` should be accessible from applications so that they can ungzip the content.

[2017-07-25 09:13] sbordet commented on #1674
It's a weird configuration.

HTTP/2 is a feature of the Servlet Container (the server), not of a web application.

As such, it is weird that you are trying to load Jetty (the server) configuration classes from a web application path (`${basedir}/src/main/webapp/WEB-INF/`).
If that is what you're trying to do (load server classes from a web application) then it's not going to work, and it's probabl

[2017-07-25 11:00] #1671 closed

[2017-07-25 11:50] olamy commented on #1623
weird I can't get this working see pr #1689

[2017-07-25 16:49] sbordet opened #1690 "Jetty 9.4.x must depend on javax.websocket 1.0"
@joakime, `javax.websocket` should remain at 1.0 for 9.4.x and 1.1 for 10.0, right ?

Current 9.4.x `pom.xml` has a dependency on 1.1.

Also, the `pom.xml` for module `test-jetty-webapp` hardcodes version 1.0, while instead it should inherit from the project `pom.xml`.

[2017-07-25 17:03] sbordet opened #1691 "WebSocket EndPoint throw-away instantiation"
`ServerContainer.assertIsValidEndpoint()` instantiates (via the zero-argument constructor) a throw-away WebSocket `EndPoint` to perform validation checks.

`EndPoint`s are created via `ServerEndPointConfig.Configurator.getEndpointInstance()` and application are entitled to use any constructor they want, and omit the zero-argument constructor. This is what CometD does.

I think the validation shoul

[2017-07-25 17:12] WalkerWatch commented on #1615
@gregw From a feature standpoint this looks good and it works. If you want to go ahead and merge it, thatd be great. I will make sure it ends up documented.

[2017-07-25 19:23] joakime commented on #1691
Yeah, this is bad.

[2017-07-25 19:37] joakime commented on #1691
This is part of the ServerContainer.addEndpoint() layer, which is tied to the ServletContext init phase.
Which is part of the WebSocket init and DeployException requirements of the JSR.
The existing EndpointFunctions / CommonEndpointFunctions is where this needs to be fixed, and that's a crucial layer between the internal implementation and the end users websocket endpoint.

[2017-07-25 19:37] joakime commented on #1690
This can go either way.
Its a minor decision in the grand scheme of things.

Personally, i would like to see the javax.websocket-1.1 support announcement at least.

[2017-07-25 19:42] joakime opened #1692 "Annotation scanning should ignore `module-info.class` files"
If a class has a JDK9 / JPMS specific feature known as `module-info.class`, then this class should never be scanned for annotations by Jetty's bytecode scanner.

To reproduce this bug, include the following classes in the `WEB-INF/lib` of a war file.

`slf4j-api-1.8.0-alpha2.jar`
`log4j-over-slf4j-1.8.0-alpha2.jar`
`jcl-over-slf4j-1.8.0-alpha2.jar`

[2017-07-25 19:43] joakime commented on #1692
See: https://stackoverflow.com/questions/45311295/slf4j-error-when-starting-jetty-server

[2017-07-26 07:39] janbartel commented on #1692
Done for jetty-9.4.x.

[2017-07-26 07:39] #1692 closed

[2017-07-26 07:42] janbartel commented on #1602
@mrossi975 do you have a stack trace for the "Name already bound" exception you can post so @joakime  can see it?

[2017-07-26 08:49] vishwajeetdusane opened #1693 "Support for native OpenSSL for secure channel"
Hi,

It would be good addition and performant to support java binding to OpenSSL.
[Wildfly-openssl](https://github.com/wildfly/wildfly-openssl) is good candidate.

Proposal is to provide preference in SSLSocketFactory to load openssl library using wildfly JNI interface library. If fails then fallback to JSE.

Any thoughts?

[2017-07-26 09:20] janbartel commented on #1623
Looks like it works to me:

[code]

[2017-07-26 09:43] sbordet commented on #1693
See also #215 and #812.

[2017-07-26 11:13] olamy commented on #1623
doh interesting!
What are your os and jvm?
mine
`
MacBook-Pro:jetty.project olamy$ mvn -v
Apache Maven 3.5.1-SNAPSHOT (b1002575177abd1108fe50f457cceb9c7c3cf7d8; 2017-07-19T11:33:59+10:00)
Maven home: /Users/olamy/softs/maven/trunk
Java version: 1.8.0_121, vendor: Oracle Corporation
Java home: /Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/jre
Default locale: en_AU, platform encod

[2017-07-26 11:14] olamy commented on #1623
so the test in pr #1689 is working but not on my machine :-)

[2017-07-26 12:29] HashZhang opened #1694 "DNS reverse resolve is too slow"
In SslConnectionFactory.java:
[code]

endPoint.getRemoteAddress() returns slowly because of DNS reverse resolving; however, in cloud environment, rely on this to get hostname is really troublemaking;
do you have some solution other than modify /etc/hosts or /etc/resolv.conf? tks~

[2017-07-26 12:40] janbartel commented on #1623
@olamy
[code]

[2017-07-26 13:17] mrossi975 commented on #1602
hi Jan, I don't have it handy now and I need some time to re-create the situation. Will post it right away as soon as I get time to do it. thanks.

[2017-07-26 15:41] WalkerWatch opened #1695 "Remove deprecated IP Access Handler Documentation in Jetty 10.x"
Has been removed in https://github.com/eclipse/jetty.project/commit/3a4da94e1a69ee4c9cd3c936f50d58ee3440188e .New module/xml created for `inetaccess`.

[2017-07-26 15:59] #1462 closed

[2017-07-27 08:59] janbartel commented on #1682
Thank you very much @jbrazeau  for the repro test case! I'd like to run it, but as I'm not an Eclipse plugin developer, I'm not sure exactly how to go about it - can you give me some pointers?

In your setup, is it possible to put a breakpoint in the org.eclipse.jetty.osgi.boot.utils.internal.DefaultFileLocator.getBundleInstallLocation(Bundle) method around line 96 and report what the URL is that

[2017-07-27 15:41] jbrazeau commented on #1682
Thank you @janbartel to pay attention to this issue I've reported.

I hav put the breakpoint you describe (and I added a condition to the breakpoint so that it is activated only when the bundle is `org.jetty.test.webapp`, which I guess is the one you want me to test). In both cases (first startup & second), it returns the same information: `bundleentry://32.fwk173099767/META-INF/MANIFEST.MF`.

Thi

[2017-07-27 22:45] Maaartinus opened #1696 "WriteFlusher debug of onFail does not log stacktraces"
TL;DR The bug is in `JettyAwareLogger.log(Marker marker, int level, String msg, Object[] argArray, Throwable t)` line 620.

This is a trivial bug causing exceptions not being logged. I'm using
[code]
The intent is obviously to log the cause:
[code]
But it's absent from the logfile.

It gets passed further to
[code]
and
[code]
and
[code]
Now, the `FormattingTuple` contains the exception, but it's s

[2017-07-27 23:03] joakime commented on #1696
The line: https://github.com/eclipse/jetty.project/blob/jetty-9.4.0.v20161207/jetty-io/src/main/java/org/eclipse/jetty/io/WriteFlusher.java#L482

[code]

does not log a stacktrace.

It would have to be:

[code]

to have a stacktrace be logged.

It has nothing to do with slf4j or logback.

[2017-07-27 23:04] joakime commented on #1696
@sbordet up to you, do you want the stacktraces (or not) to show up in the debug log?

[2017-07-28 01:49] Maaartinus commented on #1696
It does as `JettyAwareLogger implements org.slf4j.Logger` just like `ch.qos.logback.classic.Logger` does and they behave differently in this case. The latter *does log* the exception when called as `logger.debug("ignored: {} {}", this, cause)`.

It produces something like "WriteFlusher@38211e27{IDLE}->null {}" followed by the exception (with stacktrace). The `{}` come form the special treatment of

[2017-07-28 06:55] karussell opened #1697 "StringIndexOutOfBoundsException when calling httpReq.getLocale()"
There is some problem in jetty for a certain locale:

[code]

This might be [this code line](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-http/src/main/java/org/eclipse/jetty/http/QuotedQualityCSV.java#L113) in jetty for an empty buffer:

[code]

See https://github.com/graphhopper/graphhopper/issues/1118 where we are using jetty 9.4.2.v20170220

[2017-07-28 06:58] karussell commented on #1697
Sorry for the hassle, seems like a duplicate of #1577

[2017-07-28 06:58] #1697 closed

[2017-07-28 07:04] karussell commented on #1351
If this was fixed in 9.3.x it should be also fixed in 9.4.2.v20170220? But it occur to us - see #1697, so I wonder if this is really fixed when the parameter 'buffer' is empty?