[2020-01-21 16:21] gregw commented on #4247
See also https://github.com/eclipse-ee4j/servlet-api/pull/271

[2020-01-21 16:30] gregw commented on #4508
If any of the dispatch methods are called before the container-initiated dispatch
that called startAsync has returned to the container, the following conditions
must hold during that time between the invocation of dispatch and the return
of control to the container:
  * any dispatch invocations invoked during that time will not take effect until after the container-initiated dispatch has returned

[2020-01-21 16:35] gregw commented on #4508
I believe all of these conditions hold true.  We don't have a test for `isAsyncStarted()`, but the code is:
[code]
This while the request is dispatched (state==HANDLING) all async requests return true.

[2020-01-21 16:35] #4508 closed, assigned to janbartel

[2020-01-21 17:46] sbordet commented on #4503
`HttpClient` supports SPNEGO authentication, so it's just a matter of properly configuring `HttpClient`.

See examples at: https://github.com/eclipse/jetty.project/blob/jetty-9.4.26.v20200117/jetty-client/src/test/java/org/eclipse/jetty/client/util/SPNEGOAuthenticationTest.java

Once you have a configured HttpClient, you can pass it to WebSocketClient that will use it for the HTTP/1.1 upgrade to W

[2020-01-21 17:46] #4503 closed, assigned to nobody

[2020-01-21 19:43] sbordet commented on #4501
The main reason for `SharedBlockingCallback` was that the `Blocker` instance returned was allocated once, and then reused over and over, thus saving the allocation of the `Callback` required by the async call.

The opposite of this statement was the reason to create `SharedBlockingCallback`.

To achieve the same, one would need a `j.u.l.Lock`, and a reusable `BlockingCallback` stored as field that

[2020-01-22 06:07] gregw commented on #4501
Plus I think that in many cases we really don't need the `j.u.l.Lock` anyway, so we can just replace `SBCB` with a `FutureCallback` with `BlockingCallback` features added.

[2020-01-22 09:47] highfestiva commented on #2074
This breaking change may or may not follow spec, but for me this means reverting to an older version or in the longer term replacing with a different server to keep legacy code running. I suggest you fix according to least astonishment asap and ignore vague spec wordings.

[2020-01-22 09:48] #4505 closed, assigned to janbartel

[2020-01-22 10:57] gregw commented on #4504
As you say, the definition of `X-Forwarded-Server` is kind of confused.
For now I suggest  a work around of disabling that header with `customizer.setForwardedServerHeader(null)`

I'll consider if/how we can add precedence in the next release.

[2020-01-22 18:20] deebaprithy commented on #4500
[401_Unauthorized_Issue.txt](https://github.com/eclipse/jetty.project/files/4099134/401_Unauthorized_Issue.txt
sorry for delayed response, PFA the complete log

[2020-01-22 18:44] #4500 closed, assigned to nobody

[2020-01-22 18:53] jmcc0nn3ll commented on #4500
@deebaprithy could you reach out to me at jesse@webtide.com please?

[2020-01-23 09:09] #4360 closed, assigned to janbartel

[2020-01-23 09:35] LOCwalker commented on #4504
Thanks, the proposed fix works for me! The workaround (calling `forwardedRequestCustomizer.setForwardedServerHeader(null);`) is of course also viable but depending on the meta framework used to bootstrap jetty, it is not necessarily straight forward to do.

[2020-01-23 14:35] sbordet commented on #2074
@highfestiva what older Jetty version shows a behavior that's good for you?

[2020-01-23 16:12] himanshukapoor-izettle opened #4513 "CrossOriginFilter.java should allow regex in the Access-Control-Allow-Headers list"
**Jetty version**
9.4.18.v20190429
**Java version**
13
**Question**
CrossOriginFilter.java does not allow `Access-Control-Allow-Headers` to accept headers as a regex pattern. In some cases we don't want client to allow anything therefore it is quite tedious to keep on adding headers name to the list. It would be great if regex can be provided. Should I raise an issue for this? Or is there any work

[2020-01-24 00:52] lachlan-roberts commented on #4383
A simple fix was added in 9.4.26 to avoid the NPE (#4479).
A more substantial fix using synchronization has been merged to jetty-10.0.x (#4498) which also ensures the parts are always cleaned up properly when parsing the multipart form asynchronously.

[2020-01-24 00:52] #4383 closed, assigned to lachlan-roberts

[2020-01-24 06:15] lachlan-roberts opened #4515 "Validation extension should not downcast CoreSession"
**Jetty version**
10.0.x

**Description**
WebSocket validation extension should use static methods for validation instead of down casting the CoreSession.

[2020-01-24 06:25] lachlan-roberts commented on #4148
Jetty specific websocket settings such as `autoFragment`, `maxFrameSize`, `outputBufferSize` and `inputBufferSize` can now be configured through `EndpointConfig.getUserProperties()` or `Session.getUserProperties()` since PR #4295 . Properties like `org.eclipse.jetty.websocket.autoFragment` can be set and this will call the appropriate setter on the `CoreSesion`.

@WalkerWatch maybe this is somethi

[2020-01-24 06:25] #4148 closed

[2020-01-24 06:32] raul1991 opened #4516 "Https request being forwarded as http request"
**Jetty version**
9.3.21
**Java version**
1.8

**OS type/version**
RHEL7

** ALPN VERSION**
I don't know how to find this out.

**Description**
I sent out a request from jmeter as an https request but when debugged on the server code, the url was http.

On Jmeter:
**https**://hostname:13443/path

On Server:
**http**://hostname:13443/path

**Jetty.xml**

[code]

[2020-01-24 07:13] sbordet commented on #4516
Well, there is little evidence of what you say, so we cannot really help you much.
We need hard evidence of the issue, either in form of DEBUG logs or reproducible test case.

Jetty 8.1.x is End-Of-Life, so you may want to consider upgrading to Jetty 9.4.x.

Is there a load balancer between your client and server?

[2020-01-24 07:31] raul1991 commented on #4516
![Capture](https://user-images.githubusercontent.com/1281636/73051844-a6f9b800-3ea9-11ea-91d7-2e09adf782d6.PNG)

Here is what I debugged on the server.

[2020-01-24 07:32] raul1991 commented on #4516
The request sent from jetty is an https request for port 13443

[2020-01-24 07:45] sbordet commented on #4516
`ContainerRequest` is not a Jetty class.
Either you are not running Jetty, or something else is wrapping Jetty requests and giving to you a `http` URI.

[2020-01-24 11:45] raul1991 commented on #4516
There was some mistake with the jetty version. Its 9.x and the server replied with 200 ok but I got the following error during the ssl handshake.

ALPN the server did not agree to the protocol.

Is there an issue with the supported tls version on jetty ?

[2020-01-24 12:08] sbordet commented on #4516
@raul1991 please close this issue if it's solved for you.
Open a new issue with all the details, including precise Jetty version, JDK version, ALPN version you are using, stack trace, etc.

[2020-01-24 12:09] raul1991 commented on #4516
Sure.

[2020-01-24 14:10] steffyP opened #4517 "Self-signed expired certificates not validated on client side?"
**Jetty version**
9.4.19.v20190610 but there is still the same code in the master repo

**Java version**
tested with 1.8 and 11 (but java version doesn't really matter)

**Question**
I recently discovered a problem when the certificate of my server expired. For testing reasons, we use self-signed certificates, however, I believe this shouldn't matter at all.
When my client (using the jetty websock

[2020-01-24 17:40] lorban opened #4518 "Add a mechanism that allows running multiple protocols on the same port"
**Jetty version**
9.4.x

**Description**
Generalize the mechanism introduced by #3311, in particular for the proxy protocol.

[2020-01-26 16:07] dhawal96 opened #4520 "Jetty jdbc session manager causing exceptions for violating primary key in inserting session in the table"
**Jetty version**
9.4.26.v20200117 and jetty-9.4.25.v20191220, maybe some older versions too

**Java version**
8

**Description**
Our application uses dropwizard 1.3.15, which comes shipped with Jetty version 9.4.18.v20190429. We have had to force bump all jetty modules to jetty-9.4.25.v20191220 in order to expose setting the samesite attribute to the session cookie for Chrome 80. Unfortunately, o

[2020-01-26 17:20] janbartel commented on #4520
It looks to me like there is a request that is finished being processed, which is why the session is being saved. The session's last saved field is 0, meaning that it has never been saved before, thus it is strange that there should already be an existing key for it in the database.

Can you please paste all of your configuration for sessions in jetty.

Also, please turn on debug logging for sessi

[2020-01-26 18:08] dhawal96 commented on #4520
Here is our table schema in liquibase
[code]

Here is the settings we have set:

[code]

[2020-01-26 18:11] dhawal96 commented on #4520
Here is our schema in liquibase:

[code]

Here is our session configuration:
[code]

[2020-01-26 18:19] dhawal96 commented on #4520
actually @janbartel the `0.0.0.0` is not the last saved field, but the `VIRTUALHOST` column. (see the primary key I've listed in the above comment. Correct me if I'm wrong.

[2020-01-26 20:44] janbartel commented on #4520
Thanks for the info, I will look it over.

I'm referring to the lastsaved field on the SessionData object, not the virtual host field as shown in the primary key.

[2020-01-27 04:13] raul1991 commented on #4516
Well there is jetty involved in this issue. Here is something I found upon further analysis

`*   Trying 10.61.45.225:13443...
* TCP_NODELAY set
* Connected to <my_confidential_domain> (10.61.45.225) port 13443 (#0)
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations:
*   CAfile: /etc/pki/tls/certs

[2020-01-27 07:02] raul1991 commented on #4516
Here is a stack trace that I got on sending a curl request

[code]

[2020-01-27 10:02] sbordet commented on #4516
@raul1991 I don't understand what the issue is. Your logs show a request and a 200 OK in response.

Please close this issue as it's not any more about `https` vs `http` and open a new one and state clearly what the problem is.

[2020-01-27 10:15] #4516 closed, assigned to nobody

[2020-01-27 10:22] raul1991 opened #4521 "ALPN error during ssl handshake with JETTY server"
**Jetty version**
9.3.X
**Java version**
1.8
**OS type/version**
RHEL7
**Description**
I sent out a https request to a jetty server with valid client certificates in a request using the below curl command

Taking a debug on the server I found that the request which initiated as a HTTPS request was now a HTTP request.

Running curl in verbose mode showed the following error

Full curl logs

[code]

[2020-01-27 12:45] sbordet commented on #4521
You need to configure the `http2` module in Jetty, and ALPN, following the [documentation](https://www.eclipse.org/jetty/documentation/current/).

What you have configured above, if that is your only XML configuration file, configures HTTP/1.1 only, so there is no HTTP/2 and no ALPN.

Please read the documentation.

[2020-01-27 15:34] sbordet commented on #4517
You don't clarify how you configure the client-side `SslContextFactory`.

However, if you have just one self-signed certificate, and you use that as a trusted certificate on the client (i.e. it's a `trustedCertEntry` in the client trust store), then the certificate is trusted and there are no checks on its validity, not even the time validity.
This is how the JDK implementation works.

If you want

[2020-01-28 10:03] janbartel commented on #4520
@dhawal96 I'm really going to need to see the log output with session debug enabled, please post as soon as you have it.

Also, can you please dump out the database row for some of these sessions that exhibit the problem, and post those as well as the jetty log.

[2020-01-28 11:19] janbartel commented on #4520
@dhawal96 also, there is something odd about your session ids as reported by the database exception: the settings you posted for the DefaultSessionIdManager should result in each session id being prefixed by "node0", yet I don't see that. Is it possible that a different session id manager is being used, or that there are other settings being applied?

[2020-01-28 12:01] bruceGordon commented on #4480
Likewise I am seeing this issue after HTTP Central Maven access disabled.
Can anyone provide the exact command line syntax to overcome this issue(I am using a docker image with jetty 9.4.26)

DOWNLD: http://central.maven.org/maven2/org/apache/commons/commons-pool2/2.4.2/commons-pool2-2.4.2.jar to ${jetty.base}/lib/org/apache/commons/commons-pool2/commons-pool2-2.4.2.jar
2020-01-28 11:57:05.936  [

[2020-01-28 12:55] vinay-500 commented on #3891
Any luck?

[2020-01-28 17:17] amandeep33 commented on #918
@sbordet wanted to know if we can have the same functionality in 9.2.x release also as version 9.3.x requires JDK 8.

[2020-01-28 17:32] sbordet commented on #918
No, we won't backport this to 9.2.x because Jetty 9.2.x is [End-Of-Life](https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html).

[2020-01-28 22:15] #4462 closed, assigned to nobody

[2020-01-29 09:56] janbartel commented on #4520
@dhawal96 any progress?

[2020-01-29 10:16] Amarendraar23 opened #4524 "Enabling debug log throws NullPointer Exception"
Jetty version = 9.4.26

Java version = IBM Jdk 1.8

OS type/version = RHEL 7.3

I enabled debug logs by adding the below options to jvm args.

This throws Nullpointer exceptions whenever i try to access a ssl enabled page hosted on the jetty server.

Attaching the jetty logs here

[jetty.log.D20200129.T050713.zip](https://github.com/eclipse/jetty.project/files/4127380/jetty.log.D20200129.T050713.z

[2020-01-29 10:17] #4226 closed

[2020-01-29 10:17] #4450 closed, assigned to lachlan-roberts

[2020-01-29 10:54] sbordet commented on #4524
The logs show 2 places where the NPE happens: `SslConnection:902` and `SslConnection:1317`.
For 9.4.26, those 2 lines are accessing field `LOG` which is `static final` and it is initialized.
I have no idea how you can get a NPE, unless it's a JVM bug.

[2020-01-29 15:01] andreabazerla opened #4525 "Java RESTful Web Service return 404 error with jetty-maven-plugin: version problem?"
**Jetty version: 9.4.25.v20191220**

**Java version: 1.8.0_232**

**OS type/version: Linux Ubuntu 19.10**

Java Restful Web Service return 404 error, but it works with jetty maven plugin version 9.3.11.v20160721: why? Thanks

[2020-01-29 15:12] dhawal96 commented on #4520
@janbartel we are using SLF4J logging, putting it on debug mode may take some time, because the application having the issues is in prod deployment. I will look into providing that info when possible. By the way, where is the code that prefixes session IDs with "node0"? I'm not aware of this, maybe newer Jetty versions removed this? Also, not sure if this helps, but I looked at a couple login call

[2020-01-29 15:13] janbartel commented on #4525
@andreabazerla there's really not enough information here to be able to help you.

Does it work with jetty-maven-plugin 9.4.25?
How is the configuration different between the plugin and running it in the distro?
What is the url that you use with the plugin vs with the distro?

[2020-01-29 15:13] dhawal96 commented on #4520
@janbartel we are using SLF4J logging, putting it on debug mode may take some time, because the application having the issues is in prod deployment. I will look into providing that info when possible. By the way, where is the code that prefixes session IDs with "node0"? I'm not aware of this, maybe newer Jetty versions removed this? Also, not sure if this helps, but I looked at a couple login call

[2020-01-29 15:24] janbartel commented on #4520
@dhawal96  for the prefix of "nodeX" see line https://github.com/eclipse/jetty.project/blob/jetty-9.4.26.v20200117/jetty-server/src/main/java/org/eclipse/jetty/server/session/DefaultSessionIdManager.java#L270, and also https://github.com/eclipse/jetty.project/blob/jetty-9.4.26.v20200117/jetty-server/src/main/java/org/eclipse/jetty/server/session/DefaultSessionIdManager.java#L327.  The code you pas

[2020-01-29 17:06] andreabazerla commented on #4525
No, it doesn't work with the last version 9.4.25.v20191220 but with 9.3.11.v20160721 yes it works.

My program that I'm using is a simple Hello World RESTful Web Service in Java with jetty-maven-plugin.

The URL for testing it is a simple localhost:8080/api/test/...; with last version it doesn't work.

I'm following this italian tutorial, nothing in particular: https://www.html.it/guide/restful-we

[2020-01-29 17:40] dhawal96 commented on #4520
@janbartel Ok.. actually I do see piece I left out:

[code]

So it makes sense we don't see "node0", we have our own implementation for getting the value.

I am now setting DEBUG mode on, will provide an update shortly with a better stacktrace. By the way, I noticed the log "org.eclipse.jetty.server.session - Error loading session 1128335879937lon6lkswm1f85qadzwh5tw128" was recently added in a new

[2020-01-29 18:03] janbartel commented on #4520
@dhawal96 I think I have an idea what is going on. You are on the right track.

For some reason, your database is intermittently reporting it cannot load an existing session. Seems like it is not consistent, sometimes it can load it, sometimes not.   The fix for #3913 was done for jetty-9.4.21, and it appears that in it we changed behaviour by not rethrowing an UnreadableSessionDataException upon

[2020-01-29 18:34] dhawal96 commented on #4520
@janbartel if I'm understanding correct, the old behavior throws an exception, which basically recreates a new session ID if the load fails for some reason, even though db entry exists. The new behavior will simply return "null", equivalent to saying "session doesn't exist", then tries to insert it into the database even though the id is already inserted. Is that correct?

Also, "I'm working on a

[2020-01-29 19:21] dhawal96 commented on #4520
@janbartel I've enabled debug mode. Waiting for the next exception and then I'll post a stacktrace

[2020-01-29 21:21] olamy opened #4526 "Experiment having jar with shaded classes relocated to jakartaee"
the build will produce normal jar and same jar with relocating javax.servlet classes to the new namespace.
Still to figure out how to do it for jetty-home (tar.gz distribution) etc...

[2020-01-29 22:10] #4502 closed, assigned to lachlan-roberts

[2020-01-30 08:51] lachlan-roberts commented on #3678
@gregw the following name change has been made for the websocket modules in jetty-10 (#4441)

`javax-websocket-client` -> `websocket-javax-client`
`javax-websocket-server` -> `websocket-javax-server`
`javax-websocket-common` -> `websocket-javax-common`
`javax-websocket-tests` -> `websocket-javax-tests`

`jetty-websocket-api` -> `websocket-jetty-api`
`jetty-websocket-client` -> `websocket-jetty-cli

[2020-01-30 09:00] gregw commented on #3678
awesome

[2020-01-30 09:00] #3678 closed

[2020-01-30 09:03] janbartel commented on #2609
I will re-evaluate where I am with this one.

[2020-01-30 09:11] lachlan-roberts commented on #2174
I'm fine with the current websocket-core structure, but will leave this and #2173 open for discussion.
It is not so important for a 10.0.0 release so I have removed it from that project.

[2020-01-30 09:33] lachlan-roberts commented on #4447
@gregw is this something you want me to prioritise get done before the release of 10.0.0?

[2020-01-30 09:49] janbartel commented on #4247
The samesite  attribute can now be set via a context default value. Thus, the samesite attribute will be present if it is either set explicitly, or there is a default value set for the context. According to the documentation links provided on this issue, chrome will use a default value of LAX if no samesite value is present in a cookie.

[2020-01-30 09:49] #4247 closed

[2020-01-30 10:11] janbartel commented on #4520
Raised PR #4528

[2020-01-30 11:31] MatthijsEM opened #4529 "ErrorHandler showing servlet info, can not be disabled unless overriding most of its functionality"
**Jetty version**
9.4.26.v20200117

**Java version**
Does not matter

**OS type/version**
Does not matter

**Description**
Recently migrated some projects from 9.4.20.v20190813 to 9.4.26.v20200117. The error page response has changed somewhat and now also includes the Servlet name, e.g.

[code]

Like the Stacktrace and Powered-By info, which can be disabled, the Servlet parameter contains sensitiv

[2020-01-30 15:05] RamyaNaik847 opened #4531 "HTTP2Flusher: Failure generating frame HeadersFrame"
**Jetty version**
9.4.9.v20180320
**Java version**
java version "1.8.0_162"
**OS type/version**
windows
**Description**
Hi

I am using Jmeter4.x to send HTTP2 requests over tlsv1.2.

My usecase is to send one first Post request followed by PUT request.

I am trying to send PUT request over TLSv1.2 but i get the below NPE. I could successfully send POST request over TLSv1.2. What could be the issue

[2020-01-30 15:17] bruceGordon opened #4532 "On Jetty 9.4.26 maven.repo.uri is not taking effect"
Docker Image FROM jetty:9.4.26

RUN java  -Dmaven.repo.uri=https://repo1.maven.org/maven2/ -jar "$JETTY_HOME/start.jar"  --add-to-start=session-store-redis-remote,https

Error : - java.io.IOException: URL GET Failure [501/HTTPS Required] on http://central.maven.org/maven2/org/apache/commons/commons-pool2/2.4.2/commons-pool2-2.4.2.jar

[2020-01-30 15:57] gregw commented on #4532
I can't reproduce with a jetty module. eg:
[code]
correctly fails as URI is unknown and the following works:
[code]

Can you provide session-store-redis-remote.mod ?

[2020-01-30 16:23] sbordet commented on #4531
Do you get the same error with Jetty 9.4.26?

[2020-01-30 17:05] gregw opened #4533 "Reinstate hard close in dispatcher"
**Jetty version**
9.4.26

**Description**

The recent introduction of a `softClose` during `RequestDispatcher.forward` has introduced a problem for filters that wrap the output stream and intercept the close method.  I'm not sure if it is exactly legal to do so, but it appears common enough that we should revert to the previous behaviour.

[2020-01-30 18:28] #2643 closed

[2020-01-30 19:57] dhawal96 commented on #4520
@janbartel here's a debug log
[debug_stacktrace.txt](https://github.com/eclipse/jetty.project/files/4135971/debug_stacktrace.txt)

[2020-01-30 23:43] olamy commented on #3247
pr still ready for jetty-10 https://github.com/eclipse/jetty.project/pull/3364

[2020-01-31 04:02] RamyaNaik847 commented on #4531
Yes, i have tried with 9.4.26 jars as well. Same issue is observed. Attached the log where it works for POST request but not for PUT request.
[jmeter.log](https://github.com/eclipse/jetty.project/files/4137540/jmeter.log)

[2020-01-31 05:05] lachlan-roberts commented on #865
Doesn't look like there is anything to be done here.

[2020-01-31 05:05] #865 closed

[2020-01-31 12:59] #4533 closed, assigned to gregw

[2020-01-31 14:22] jmcc0nn3ll commented on #4526
Thinking a bit more about this approach.

What is stopping us from having the jetty-home artifact pulling the jetty javax.* artifacts and jakartaee.* shaded artifacts into separate lib directories, and then using the start.jar to toggle one or the other sets of jetty artifacts enabling either servlet 4.0 or servlet 5.0 packages?

That gives us one downloadable container for end users that they can

[2020-01-31 14:29] gregw commented on #4526
@jmcc0nn3ll I think the problem is that we will need to shade almost every one of our jars above jetty-server so we will pretty much end up with:
[code]

It could be done, but I'm dubious is doubling our download size is worth avoiding jetty-home-10 and jetty-home-jarkarta-10 as two artefacts.
But worth considering both options.

[2020-01-31 14:33] jmcc0nn3ll commented on #4526
Well, I don't think download size is truly that important anymore, and this would be only until we roll a Jetty 11 that would be strictly the jakartaee.* space.

We could label it experimental in jetty-home and make use of [download] I guess.

[2020-01-31 15:46] dhawal96 commented on #4520
@janbartel thank for you swiftly responding to this issue. Are you able to provide an ETA when the new jetty version can be released? As you know, Chrome 80 is set to release early next week, it would be great if we can utilize the new version asap. Thanks.

[2020-01-31 17:23] janbartel commented on #4520
@dhawal96  thanks for the debug logs. Very interesting.  I think you have bigger issues that just the fix (that I'll still do, because it re-instates previous behaviour).

It looks to me from the logs like you have multiple servers, and a non-sticky load balancer. The sessions are bouncing around from one server to the other, multiple servers handling the same session concurrently, and maybe even

[2020-01-31 17:48] janbartel commented on #4520
As regards same-site cookies, the next release for 9.4 will contain the ability to set a default value for the same-site attribute, see https://github.com/eclipse/jetty.project/pull/4512

[2020-02-01 13:49] andreabazerla commented on #4525
SOLVED

I need to delete web.xml with my configuration via ResourceConfig extension class.

[2020-02-01 13:49] #4525 closed, assigned to nobody

[2020-02-01 16:46] jbfru45 opened #4537 "High CPU on Jetty Websocket thread"
**Jetty version**
9.4.25.v20191220

**Java version**
OpenJDK 11.0.3

**OS type/version**
Amazon Linux 2

**Description**
One of our Spring websocket servers in production reported 100% CPU usage (one core on a 4 core machine). The instance had been running for several days. The CPU spike occurred instantly and remained until the instance was terminated.

`top -H` output showed a jetty server threa

[2020-02-01 18:59] sbordet commented on #4531
The NPE happens because some code is calling `HpackEncoder.encode(ByteBuffer buffer, MetaData metadata)` with `metadata=null`.

It is unlikely we do this in the Jetty high-level `HttpClient`.

If JMeter is using directly the low-level `HTTP2Client`, which is what they seem to do from the stack trace, this is likely a JMeter issue.

[2020-02-01 23:42] olamy commented on #4526
we will have to almost shade everything.. (except jetty-util, jetty-http, jetty-io, ?)
maybe we can have at the beginning a jakartaee module so users who want to try it will have to install it (jars will be downloaded as well) and I guess this module will need to have a special treatment when starting.
?

[2020-02-03 06:16] lachlan-roberts opened #4538 "review WebSocket MessageWriter and MessageReader"
**Jetty version**
10.0.x

**Description**
`MessageWriter` and `MessageOutputStream` look inefficient and are duplicated in both the jetty API and javax API implementations.

[2020-02-03 07:38] sbordet commented on #4529
Fixed in 9.4.27.

[2020-02-03 08:38] sbordet commented on #4255
We have tests for exactly this scenario with `delayDispatchUntilContent=true`, idle timeout, and request properly passed to handlers.

Please update to the latest Jetty and report back if it's still an issue.
If so, we need a reproducible test case that we can run.

[2020-02-03 08:48] sbordet commented on #4297
@jknack can you please try 9.4.26 or later? We have fixed #4461 that may be related.

[2020-02-03 12:11] jknack commented on #4297
Still see it. Will look again and try to give you more details

[2020-02-03 16:01] gregw commented on #4526
Having a module is a good idea - specially as we can have mutually exclusive modules and can give a clear error message if they try to enable both javax and jakarta APIs (with javax being enabled by default initially).

Also good idea to have the jakarta module initially get its jars by downloading.  Once there is significant demand, we can include them.

[2020-02-03 18:43] jjspiegel opened #4540 "ProxyConnectionFactory should not ignore TLVs"
**Jetty version**
master

**Java version**
all

**OS type/version**
all

**Description**
In version 2 of the proxy protocol, it allows for application-specific TLV types:
https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt

See section 2.2.7.  Basically the type code in range  0xE0..0xEF gets associated with an arbitrary block of bytes.

Currently it appears these custom TLVs are being ign

[2020-02-03 20:04] sbordet commented on #4540
@gregw this pairs with the new enhancement we did on the client in #4421.

What would be the best way to expose the TLV data?
Finding the `ProxyEndPoint` may be difficult (e.g. `SocketChannelEndPoint -> ProxyEndPoint -> DecryptedEndPoint -> HTTP2StreamEndPoint`), unless we introduce a "wrapper" `EndPoint.Wrapper` interface that can easily unwrap `EndPoint`s.

@jjspiegel is willing to produce a PR,

[2020-02-03 20:05] sbordet commented on #4540
Or perhaps a bean listener that is invoked for TLV events?

[2020-02-03 20:45] electrum opened #4541 "Jetty server always allocates maximum response header size"
`HttpConnection` always allocates the full value of `HttpConfiguration.getResponseHeaderSize()`, regardless of how much memory is actually needed to write the response. My expectation is that it should work similarly to `getRequestHeaderSize()` which is only a maximum (setting it to a large value does not result in large allocations unless required).

For testing purposes:
[code]

[2020-02-03 21:15] joakime commented on #4541
Those are insane configuration values for the Header size.
You open yourself to many kinds of other issues, and vulnerabilities, that the limited header sizes protect you from.
Plus, if you use those settings because you actually produce headers and whatnot of that size you'll hit issues with many HTTP Clients.

[2020-02-03 21:16] joakime commented on #4541
Both of those configurations allocate a java.nio.ByteBuffer at the configured size.
The problem isn't unique to response vs request.

[2020-02-03 21:24] joakime commented on #4541
The recommended maximum values for configured header data.

* Browsers (all modern) support up to 256kb (very few support larger header data, and of those the performance takes a huge hit)
* Proxies / Load Balancers support is stable up to 16kb (support for larger headers do exist, but is inconsistent)
* HTTP Client Libraries (eg: REST Clients) have stable support up to 16kb.

As for individual he

[2020-02-03 22:06] gregw commented on #4541
The difference between the two is parsing vs generation.

When receiving a request, we read the bytes in smaller buffers and convert the header values to strings, fields etc as we go.  So the memory is being allocated, but not as a single byte buffer. We police the maximum as we receive the bytes.

When sending a message, we generate the header into a buffer that is allocated at the maximum size.

[2020-02-03 23:32] sbordet commented on #4541
Or, put it in another way, we cannot generate 200 OK and some headers in the buffer, write over the network the buffer, then generate more headers in the buffer, only to figure out that they are too large, because at that point we should send a 5xx error but we cannot since we have already sent the 200.

We would have to pre-generate all headers, do the check on the max bytes and then generate (ag

[2020-02-04 03:12] olamy commented on #3318
to review if everything has been fixed

[2020-02-04 06:13] RamyaNaik847 commented on #4531
Okay thanks for the clarification.

[2020-02-04 06:13] #4531 closed, assigned to nobody

[2020-02-04 08:05] gregw commented on #4541
I had a look at HttpGenerator and it would be feasible to check size before each putTo and if there was not space to return with an action asking for a larger buffer.  But it would be a moderate increase in complexity.

The other option would be to start with a smaller buffer and try generate.   If the buffer overflows, then the exception can be caught, the buffer discarded, are new larger buffer

[2020-02-04 08:07] lachlan-roberts commented on #4537
@jbfru45 there is not quite enough information to know whats happening.

Could you get multiple jstack traces to help figure out what the thread is doing?
After doing that it would also be helpful if you could enable jetty debug logging to get some logs to help identify exactly why this is happening.

[2020-02-04 10:29] jbfru45 commented on #4537
I ran jstack a dozen times and it was always in the method above, so it seems like it was stuck looping in that method. I will grab debug jetty logs the next time it happens which seems to be about once a week for us.

[2020-02-04 11:32] #4225 closed

[2020-02-04 13:46] sbordet commented on #2174
@lachlan-roberts what's the status on this issue?

[2020-02-04 16:48] jjspiegel commented on #4540
For my purposes, I think the next Connection in the chain will always be the one consuming the TLVs.  But I understand you need to do this in a way that is broadly applicable.

I expect one common use case of these attributes is to do some sort of validation. In particular, I plan to close the connection if an attribute sent by the load balancer is not in some backend whitelist.  I'm not sure if t

[2020-02-04 16:57] sbordet commented on #4540
Where do you have this logic?

Is it in some Jetty `Handler`, or are you using Jetty embedded, so that you have access to Jetty APIs to close the connection?

Is it in some Servlet where you want to add `Connection: close` to the response?

[2020-02-04 17:11] gregw opened #4542 "servlet context root mapping incorrect"
As per the testing in https://github.com/eclipse-ee4j/servlet-api/issues/300 we are incorrectly setting the pathInfo for context root matched requests

[2020-02-04 17:12] gregw commented on #4542
@olamy can you look to see if there is a TCK test for this and are we passing or not?  Please comment on the servlet-api thread with any relevant findings.

[2020-02-04 17:56] jjspiegel commented on #4540
I'm using a custom ConnectionFactory/Connection (not http).  I haven't tried to make this validation yet but the thought was to check it in ConnectionFactory#newConnection.

i.e. inside this call:
https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-server/src/main/java/org/eclipse/jetty/server/ProxyConnectionFactory.java#L604

If validation fails, I guess in theory I could close the E

[2020-02-04 18:02] sbordet commented on #4540
Correct, although the client will have no idea why it has been closed (unless before closing you write a failure message).

[2020-02-04 18:16] jjspiegel commented on #4540
Yes, good point.  I need to think about that.

[2020-02-04 18:29] jjspiegel commented on #4540
I guess with your Wrapper idea, nested EndPoints would need to do something like this?

[code]

[2020-02-04 18:38] sbordet commented on #4540
Correct.

[2020-02-04 19:27] electrum commented on #4541
The values gave were for testing, since they immediately fail if anything allocates the max buffer size. We'd be targeting a max size of around 4MB.

The use case is that we have an existing protocol which uses HTTP headers for values and sometimes these values are quite large. We plan to change the protocol, but it's difficult due to backwards compatibility with existing clients, and making clien

[2020-02-04 20:04] joakime commented on #4169
Closing as https://github.com/dropwizard/metrics/pull/1490 was merged.

[2020-02-04 20:04] #4169 closed

[2020-02-04 20:06] #3524 closed

[2020-02-04 20:07] joakime commented on #3389
Closing. PR was merged.

[2020-02-04 20:07] #3389 closed

[2020-02-04 20:08] joakime commented on #3903
Closing.

[2020-02-04 20:08] #3903 closed

[2020-02-04 20:11] #1119 closed

[2020-02-04 20:12] joakime commented on #502
Tests on Windows 10 using `mklink /D <name> <dest>` work if using the `SameFileAliasChecker`.

[2020-02-04 23:16] lachlan-roberts commented on #4501
@gregw SharedBlockingCallback usages in jetty-10 websocket have been replaced with FutureCallback. Now the only usage that remains is in `HttpOutput`.

[2020-02-05 00:34] olamy commented on #4506
related to #4234?

[2020-02-05 07:23] ari commented on #4418
Here is a script to reproduce the problem and the debug logs in the output. Hopefully that's enough to give you some clues for where the problem is happening.

https://gist.github.com/angeloudy/fbc09619fd6c54544fd631b6f040cf1e

[2020-02-05 07:24] ari commented on #4418
Also inviting @battleblow to this ticket. He is the lead FreeBSD porter for openJDK and has reproduced the problem.

[2020-02-05 08:25] lorban commented on #4501
Sorry for being late to the party, but I also agree that `SharedBlockingCallback` is trying to do too much. `FutureCallback` is a much simpler and more elegant mechanism and it should be used instead of `SharedBlockingCallback`.

[2020-02-05 09:28] janbartel commented on #4506
@olamy yes I believe so. Your issue states that if metadata-complete==true, then ServletSecurity should never be processed. According to the new wording of the servlet spec, that isn't true - when you programmatically add a servlet using the ServletContext.createServlet methods, then you always have to introspect it for ServletSecurity/Multipart/PostConstruct/PreDestroy etc annotations regardless

[2020-02-05 09:32] gregw commented on #4541
@electrum can you try #4544
@sbordet what do you think of #4544 - I don't love it... and would kind of prefer to come up with pluggable behaviour... but we can consider this perhaps???

[2020-02-05 11:49] gopikrishnayaramothu opened #4545 "How to Load HTTP/HTTPS Connectors Prior to Deployment of Applications ?"
version -> jetty-distribution-9.4.12.v20180830

the main issue we are facing is http connectors are not being created prior to deploy of applications. is there any possibility to create connectors first and then deploy the applications ?

[2020-02-05 13:03] joakime commented on #4545
The default behavior is ...

1. Connectors created. (initialized)
2. Connectors opened. (bound to interface / port)
3. All other components started. (such as your webapp being deployed)
4. Connectors started. (accepting connections)

What specifically isn't working?

[2020-02-05 14:45] gopikrishnayaramothu commented on #4545
Thanks for reply.
Connectors are being created post deployment of all applications under webapps folders. Is there any possible option to create connectors prior to deployment action ?

[2020-02-05 15:21] dhawal96 commented on #4520
@janbartel any update when 9.4.27 can be released? thanks

[2020-02-05 17:30] wilkinsona opened #4546 "Each 9.4.x maintenance release breaks links to preceding version's documentation"
A Spring Boot user has [reported](https://github.com/spring-projects/spring-boot/issues/20044) a problem with Spring Boot's reference documentation linking to Jetty's documentation. Spring Boot's reference documentation links to the Jetty documentation for the specific version of Jetty that it built against. For example, the documentation for Spring Boot 2.2.4 links to  https://www.eclipse.org/jet

[2020-02-05 17:40] joakime commented on #4546
We have a "current" at https://www.eclipse.org/jetty/javadoc/current/
But that's not enough detail.  Especially as we are working towards Jetty 10.x (Jakarta EE 8 based) and 11.x (Jakarta EE 9 based) atm.

[2020-02-05 17:43] WalkerWatch commented on #4546
@wilkinsona Let me discuss with @jmcc0nn3ll. I think the idea has merits, as I know other projects in addition to Spring link to our documentation. We would need to create something like `/documentation/9.4.x/` for each major release version, in addition to `/documentation/current`, which should be feasible.

[2020-02-05 17:48] electrum commented on #4541
@gregw Thanks so much! I tried it out and this does exactly what we want. I'd be great if we can get this in an upcoming 9.4.x release.

[2020-02-05 17:56] aashishnaidu opened #4547 "org.eclipse.jetty.io.EofException: null (System unresponsive)"
Hi Everyone,

I am getting very frequently below error -
**ENV - Production**

**Jetty version -**
org.eclipse.jetty:jetty-client - 9.4.8.v20171121
org.eclipse.jetty:jetty-servlets - 9.4.11.v20180605
org.eclipse.jetty:jetty-webapp:- 9.4.11.v20180605
org.eclipse.jetty.http2:http2-server- 9.4.11.v20180605
org.eclipse.jetty:jetty-alpn-server- 9.4.11.v20180605

Application - springboot with Jetty with

[2020-02-05 18:02] joakime commented on #4547
The remote connection was closed before it was finished.
This is a common low level error, and can be caused by many things outside of the control of the Java application.

[2020-02-05 18:03] joakime commented on #4547
BTW, You really should upgrade, and use the same version of Jetty for all of your dependencies.

Version 9.4.26.v20200117 is now available.

[2020-02-05 18:18] aashishnaidu commented on #4547
Thanks joakime for the quick reply
But I have few questions
Why server becoming unresponsive?
Why out of more then 100 docker we are getting this issue in only 1 or 2 docker ? And after restart it will work without issue?

[2020-02-06 04:49] lachlan-roberts opened #4548 "duplicated classes between jetty and javax websocket implementations"
**Jetty version**
10.0.x

**Description**
The jetty and javax websocket implementation modules, specifically `websocket-jetty-common` and `websocket-javax-common` have many duplicated classes. By introducing a common module such as `websocket-common` or `websocket-util`, this duplication could be eliminated and this would make the code easier to update and maintain in the future.

[2020-02-06 04:51] lachlan-roberts commented on #3370
The duplication of this class and similar websocket classes will be addressed in issue #4548.

[2020-02-06 04:51] #3370 closed

[2020-02-06 07:56] gregw commented on #4545
The reason for starting the connectors last is to now allow any requests to be accepted that would return a 404 or 503.
Starting connectors first creates such a window in which requests can be received but there are no apps to handle them.

you are free to call start() directly on the connectors yourself if you wish.

[2020-02-06 08:15] gregw opened #4550 "XmlConfiguration constructor selection based on number of arguments"
**Jetty version**
9.4.x, 10.0.x

**Java version**
Perc Virtual Machine

See comment on #4086 regarding arguments

[2020-02-06 08:16] gopikrishnayaramothu commented on #4545
thanks for the update :) closing the issue

[2020-02-06 08:16] #4545 closed, assigned to nobody

[2020-02-06 08:17] gopikrishnayaramothu opened #4551 "Jetty Startup Time"
we are using jetty 9.4 version. we are deploying over 20 applications and jetty is taking around 5-10 minutes to deploy all the applications . is there any way to reduce the start up time ?

[2020-02-06 08:19] olamy commented on #4551
maybe you could use user mailing list for questions? https://www.eclipse.org/jetty/mailinglists.html

[2020-02-06 09:40] sbordet commented on #4551
@gopikrishnayaramothu Jetty itself starts in few milliseconds.
Likely what is taking time are the applications that take a long time to start up, for example because they do annotation scanning or even JDBC queries.
You need first to figure out what it is taking time to startup in your applications.

[2020-02-06 09:44] #3953 closed

[2020-02-06 10:44] olamy commented on #4551
@gopikrishnayaramothu try to isolate which application takes more time. Annotation scanning can be time consuming (especially for war with a lot of classes/.jar files) looks at the  logs `Annotation scanning elapsed time=...ms`

[2020-02-06 10:48] jmcc0nn3ll commented on #4551
Regarding startup speed directly, there is a mechanism in Jetty that will allow you to chop out a lot of the normal startup activities called Quickstart.

https://www.eclipse.org/jetty/documentation/9.4.x/quickstart-webapp.html

If it is annotation and classloader scanning sorts of activities that are behind your slow startup then this can help ameliorate  them.

[2020-02-06 19:33] jbfru45 commented on #4537
We had this reproduce in production again this morning. I grabbed multiple jstacks and every one was the same as above. I turned logs for the AbstractWebSocketConnection class to DEBUG for a couple minutes, and it traced these 2 messages several million times on the thread that was spinning:

`
"ReadState Action: DISCARD"
`

`
"Discarded buffer - DirectByteBuffer@5a06d4ef[p=0,l=17408,c=17408,r=174

[2020-02-06 22:02] #3334 closed

[2020-02-06 22:02] turcsanyip commented on #3662
@knoxxs @deemorph We are facing a very similar issue: connection opened, some data received, then nothing happens and idle timeout occurs in the end. It affects only a few requests, the majority of the requests are being served properly in parallel.
We use the same version of Jetty (9.4.11.v20180605), embedded in our app. The servers are located behind a firewall and a load balancer.

If you can r

[2020-02-06 23:34] lachlan-roberts commented on #4537
@jbfru45 Thanks for the extra info, I understand what is happening now.
I should be able to get a fix for this into the 9.4.27 release which should be coming soon.

[2020-02-07 05:15] #4447 closed, assigned to lachlan-roberts

[2020-02-07 08:09] sbordet commented on #4550
@gregw what's this issue about? The link to the issue seems wrong.

[2020-02-07 12:21] flsusp commented on #4464
Getting the same behaviour with Spring Boot and Jetty. The error happens sporadically but only affect one artifact (it is an error on a health check endpoint that is called by the same client and in the same network for a lot of other artifacts). Trying to disable Spring's `HiddenHttpMethodFilter` here and see if the problem goes away. Do you have any other suggestions?

Versions:
org.springframew

[2020-02-07 13:56] 9fl0w opened #4557 "Issue at ContentType header"
a

[2020-02-07 14:10] joakime commented on #4557
The `400 Bad Request` comes from the HttpParser and is produced while a Request is being parsed and it encounters a violation of the RFCs.

Hence it results in a Bad Request and is never dispatched to the application, as the Request is bad/incomplete.

[2020-02-07 14:12] joakime commented on #4557
See https://tools.ietf.org/html/rfc7231#section-3.1.1.1

The "Media Type" is defined as ...

[code]

It *MUST* contain `type "/" subtype` to be valid.

[2020-02-07 14:17] 9fl0w commented on #4557
So there is no way to filter it or "catch" it before it parses it?
Or changing the response of it?

[2020-02-07 14:22] joakime commented on #4557
That would require a custom HttpParser.

Note that your example Content-Type is also invalid on HTTP/2 (and HTTP/3)

The 400 response can be customized by overriding the `ErrorHandler` that the Server uses.
Create a custom `public ByteBuffer badMessageError(int status, String reason, HttpFields fields)`

https://github.com/eclipse/jetty.project/blob/7b38981d25d14afb4a12ff1f2596756144edf695/jetty-s

[2020-02-07 15:03] 9fl0w commented on #4557
I tried `@Provider
public class TestErrorhandler extends ErrorHandler {
    @Override
    public ByteBuffer badMessageError(int status, String reason, HttpFields fields) {
        System.out.println("Test");
        return super.badMessageError(status, reason, fields);
    }
}` and it does not log anything? did I do something wrong?

[2020-02-07 15:49] joakime commented on #4557
The `@Provider` annotation means nothing to Jetty.

You'll have to use the `server.setErrorHandler(new TestErrorHandler())` to tell the Server to use your version.
Ideally you'll want to set that before you start the Server.

[2020-02-07 22:16] boopathiraja opened #4559 "Jetty datasource bind using programmatically is not working."
We are using Jetty server and need an equivalent code for

`<resource-ref>
    <description>cardsdb</description>
    <res-ref-name>jdbc/cardsdb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>`

How to add resource-ref programmatically in jetty server.
we tried multiple ways  like below

`Resource resource = new Resource("java:comp/

[2020-02-07 22:36] janbartel commented on #4559
https://www.eclipse.org/jetty/documentation/9.4.26.v20200117/using-jetty-jndi.html

The org.eclipse.jetty.plus.jndi.Resource constructor takes 3 args: an object that is the scope, the relative name, the object to bind.

[2020-02-08 01:02] garan82 opened #4560 "build a simple InboundJaxrsResponse object"
**Jetty version**
jersey-client 2.27

**Java version**
1.8

**Question**
We have some code which works as follow.

    try {
        Response resp = someApiCall(...)
        return modify(resp);
    } catch (Exception e) {
        ...
        Response resp = Response.status(Response.Status.INTERNAL_SERVER_ERROR).build();
        return modify(resp);
    }

`modify(Response)` performs a few things

[2020-02-09 10:33] olamy commented on #4560
@garan82 any sample project on github?

[2020-02-10 01:03] olamy opened #4562 "Remove deprecated jetty-runner"

[2020-02-10 11:18] olamy commented on #4526
bad size of this:
- pom of shaded will be very wrong (users will have a ton of xml to write)
- osgi manifest might be wrong in the shaded jar

[2020-02-10 11:37] joakime commented on #4562
See #1905

[2020-02-10 12:47] ari commented on #4418
Is there any more we can do to help? We'd love to know why Jetty isn't properly closing sockets on FreeBSD?

[2020-02-10 13:10] joakime commented on #4418
A replication would help.
Do you have a series of steps with perhaps the demo-base (from the jetty-distribution) that can replicate on a freebsd docker image?

[2020-02-10 13:15] ari commented on #4418
There is a script in https://gist.github.com/angeloudy/fbc09619fd6c54544fd631b6f040cf1e

[2020-02-10 14:38] joakime commented on #4418
Your example is incomplete and bad.

From your gist logs ...
[code]

That says you are running an older version of the javax.servlet API then the server needs/supports.

## Test run

If we run https://github.com/jetty-project/embedded-jetty-cookbook/blob/master/src/main/java/org/eclipse/jetty/cookbook/SimplestServer.java
And your curl script from your gist then nothing outstanding happens.

[code]

[2020-02-10 14:39] joakime commented on #4418
Now lets see what happens when we use a load testing tool that was written properly, and not abusing curl.

[code]

[2020-02-10 18:34] WalkerWatch commented on #1905
@cor3000 Jetty-Home is just the Jetty distribution sans any of the example webapps and documentation.

[https://www.eclipse.org/jetty/documentation/current/quick-start-getting-started.html#jetty-home-downloading](https://www.eclipse.org/jetty/documentation/current/quick-start-getting-started.html#jetty-home-downloading)

[2020-02-10 21:19] ari commented on #4418
The problem is real (it happens in production), so I'll try your approach to get another better set of logs for you. Thanks for your time.

[2020-02-11 03:39] cor3000 commented on #1905
thanks for adding a link... still this doesn't restore the simplicity of the jetty-runner [Runner class](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-runner/src/main/java/org/eclipse/jetty/runner/Runner.java). I still need to tell a customer to download, unzip a package, while this could be happening perfectly via maven dependencies.
I also prefer the Runner class over the mave

[2020-02-11 18:43] martinkovacik commented on #4418
I can confirm the behavior described by @ari . My setup is slightly different however:
FreeBSD 11.3, 12.0, 12.1
openjdk11-11.0.5+10.1 from packages
jetty-9.4.24.v20191120

Inbound connections are non TLS HTTP/1.1 (TLS is terminated in NGINX in front of jetty).
Problem started after migrating from openjdk8 to opendjk11.

[2020-02-11 20:01] #3924 closed

[2020-02-11 21:26] sbordet commented on #4418
@ari @martinkovacik can you confirm that you get the stack trace reported [here](https://github.com/battleblow/openjdk-jdk11u/issues/94#issuecomment-559669209)?

If that is the case, then I think it's a JDK bug, as they should catch the `IOException` and continue the iteration in `SelectorImpl.processDeregisterQueue()`.

Unfortunately, because the exception happens during the `select()` operation,

[2020-02-11 21:37] sbordet commented on #4418
Sent a message to OpenJDK's nio-dev: https://mail.openjdk.java.net/pipermail/nio-dev/2020-February/007051.html

[2020-02-11 21:45] ari commented on #4418
@sbordet Yes, angeloudy actually works in my team and I asked him to investigate the cause of the problems we had in production.

I think you are right that this is a JDK bug since the problem goes away in Java 13. Your clue about processDeregisterQueue leads us to:

* [Java11](https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/5f01925b80ed851b133ee26fbcb07026ac04149e/src/java.base/share/classes/

[2020-02-11 22:00] sbordet commented on #4418
@ari, I think the locking issue is orthogonal to this problem, as the call to `kill()` can still throw and abort the iterator, and unwind to the outer `select()` call.

Basically Jetty does not like `select()` to fail at all - the only thing we can do is to close the selector, and we are not sure that is enough to close all socket channels either (and the selector can be in a state where the keys

[2020-02-12 01:11] lachlan-roberts commented on #4538
It would be good to implement `MessageWriter` with an `OutputStreamWriter` delegating to `MessageOutputStream`. However `OutputStreamWriter` uses `CodingErrorAction.REPLACE` and so will replace coding errors with a replacement character. But we really want `CodingErrorAction.REPORT` to get the coding errors as exceptions.

Invalid UTF-8 should be tested for both `MessageReader` and `MessageWriter`

[2020-02-12 08:39] martinkovacik commented on #4418
@sbordet yes I can confirm I'm getting exactly the same stack trace as reported [here](https://github.com/battleblow/openjdk-jdk11u/issues/94#issuecomment-559669209).

[2020-02-12 09:44] sbordet commented on #4418
@ari @martinkovacik the follow up on the nio-dev mailing list indeed points to a JDK issue.

This has been fixed (via other fixes) in OpenJDK 13 for the Oracle supported platforms (FreeBSD is not one of them).

I don't know if the FreeBSD OpenJDK 13 port has similar fixes, but there is not much we can do from the Jetty side.

[2020-02-12 17:35] ramtaneja commented on #918
@sbordet , I couldn't get this work for me,
IN my case I just need same keystore to be reloaded after I replace it manually
so I just used a dummy consumer
sslContextFactory.reload(scf -> {});

I could see log in at INFO level of SslContextFactory for change in X509 for my SslContextFactory, but browser wasn't able to detect change in certs, is there anything else needs to be done

[2020-02-12 18:41] sbordet opened #4567 "Jetty logging supporting Throwable as last argument"
**Jetty version**
10.0.x

**Description**
Like other logging frameworks, would be handy if Jetty logging (`StdErrLog`) could detect whether the last argument is a `Throwable` and if so print its stack trace.

In this way one could write:

[code]

rather than:

[code]

[2020-02-12 18:45] #3987 closed

[2020-02-12 19:44] jmcc0nn3ll commented on #3303
@gregw did this end up coming to pass?

[2020-02-12 19:51] joakime commented on #3303
[code]

That means version 4.0.3 has the `Automatic-Module-Name: java.servlet` (which is wrong IMO, it should have been `javax.servlet`)
And has no schemas.

[2020-02-12 20:02] WalkerWatch opened #4568 "Create Jetty 11.x Branch"
We need to decide when to spin off the Jetty-11 branch, and then do so.

[2020-02-12 20:11] joakime commented on #4568
Some dependencies we need to track.

### APIs from Jakarta EE 9 and implementations:

 - [x] **Servlet API** - available as Milestone - https://repo1.maven.org/maven2/jakarta/servlet/jakarta.servlet-api/5.0.0-M1/
 - [x] **WebSocket API** - available as Milestone - https://repo1.maven.org/maven2/jakarta/websocket/jakarta.websocket-api/2.0.0-M1/
 - [x] **JSP API** -
 - [x] **JSP Implementation** - A

[2020-02-12 21:27] sbordet commented on #4567
@joakime perhaps we can review the API and completely drop those that have an explicit `Throwable` last parameter, keeping just `Object...`?

[2020-02-12 21:54] joakime commented on #4567
Some other logging APIs.  (they actually use `Throwable` as the last argument)

* https://logging.apache.org/log4j/2.x/log4j-api/apidocs/index.html
* http://www.slf4j.org/apidocs/org/slf4j/Logger.html

[2020-02-12 21:55] sbordet commented on #4567
Yes, but there is no need to if you probe the last argument. One API only (`Object...`) does everything is needed.

[2020-02-12 22:17] lachlan-roberts commented on #4537
@jbfru45 thanks for reporting this. The fix from #4555 has been merged into the 9.4.x branch, and there should be a 9.4.27 release sometime next week.

[2020-02-12 22:17] #4537 closed, assigned to nobody

[2020-02-12 22:20] gregw commented on #4567
If we are changing logging, should we switch to String.format style rather than {} style?

[2020-02-12 23:14] joakime commented on #4567
The `{}` style is the facade API that all loggers use, not just `StdErrLog`, but also `Slf4jLog` and `JavaUtilLog`

[2020-02-12 23:16] joakime commented on #4567
If we are entertaining the cleanup of the logging API, how about we just drop all of Jetty logging and use `slf4j-api` everywhere.
We could then just implement a slf4j-impl that is our StdErr output (a `JettyStdErrSlf4jImpl` which does our formatted output)?

I think this is a good direction to go, and should also have a positive impact (simplifying) on our jetty-home logging modules.

[2020-02-13 00:07] ari commented on #4418
Thanks for all your work on this, it has been very helpful. I'll close this task since it isn't Jetty although it is triggered more often by Jetty than anything else.

https://github.com/battleblow/openjdk-jdk11u/ is the canonical FreeBSD port. Its nice to see that Oracle will probably fix this in a JDK11 patch. Would it help to create a ticket somewhere to track that, or do they have their own pr

[2020-02-13 00:07] #4418 closed, assigned to nobody

[2020-02-13 07:42] olamy commented on #4567
@joakime good idea! worth to try but no more LOG.ignore?

[2020-02-13 08:20] sbordet commented on #4418
@ari, I believe you will have more luck with @battleblow fixing the FreeBSD implementation to not throw, than Oracle doing a complicated backport to 11.
You can use https://bugreport.java.com/bugreport/ and point to the nio-dev discussion as well as this issue.

[2020-02-13 10:46] olamy commented on #2988
give it a bit of time

[2020-02-13 10:54] vinayakbmalagatti opened #4569 "After upgrading the Java 1.8.0_242, Jetty server is failing to start"
Below is the exception with Java version 1.8.0_242, but same code works with 1.8.0_201.
Tried with the Jetty version 9.4.26.v20200117
[code]

[2020-02-13 11:21] sbordet commented on #4569
The stack trace reports a NPE trying to load the `net` library, so it's impossible for the JVM to create sockets.

This has nothing to do with Jetty.

You probably have a bad JDK installation, or a bad environment or some other system misconfiguration.

[2020-02-13 11:40] sbordet commented on #918
So the server did the right thing, but the browser did not.
Perhaps the browser is using existing connections that won't pick up the new configuration (only new connections will).
Have you tried restarting the browser?
Since the server did the right thing, it's not a Jetty issue.

[2020-02-13 16:44] ramtaneja commented on #918
well, actually its working perfectly fine...!
That was my bad, I was running two servers on different ports, reloading on one of them and was browsing the other one...

[2020-02-13 16:59] joakime commented on #4567
# Proposal

## Drop org.eclipse.jetty.util.log

The entire package `org.eclipse.jetty.util.log` is deleted

## Create jetty-slf4j-impl module

A new module called `jetty-slf4j-impl` is created.

This module performs the equivalent to Jetty's StdErrLog.

* Same output formatting as `StdErrLog` in 9.x
* Supports `jetty-logging.properties` for configuring logging levels

It has a `META-INF/services/o

[2020-02-13 18:03] jmcc0nn3ll commented on #4567
Any special configuration challenges to capturing and directing webapp logging?

[2020-02-13 18:07] sbordet commented on #4567
Had a look at `System.Logger` APIs, whether we can use those instead of SLF4J now that they are in JDK 11.

But no, they lack features like MDC and the APIs require to pass a `Level` as first parameter (`log(DEBUG, ...)` rather than `debug(...)`) - not ideal.

I think the big overhaul of the logging would be a good change, but for Jetty 12.

For Jetty 10, probing just the last parameter should be

[2020-02-13 18:09] joakime commented on #4567
It would just be a configuration of the `WebAppContext` / `WebAppClassLoader` and its `ClasspathPattern` (Server & System) to support that.
We could have that be a module / configuration as well. something called `webapp-centralized-logging`

[2020-02-13 23:46] boopathiraja commented on #4559
thanks for your response.
As per the above link, still I need to have the xml in any of the scope right.
I don't want to use any xml and just wanted to try everything programatically.

[2020-02-14 00:48] lachlan-roberts opened #4571 "review performance of websocket MessageSink classes in jetty-10"
**Jetty version**
10.0.x

**Description**
It has been brought up in PR #4561 that the `MessageSink` implementations allocate too much memory for single frame binary messages. It looks like most of these `MessageSink` classes use similar patterns, these implementations should be cleaned up and optimised for performance where possible.

[2020-02-14 04:28] #1822 closed

[2020-02-14 08:11] gregw commented on #4567
I like the proposed change to direct use of log4j, but I don't think we can go directly there without deprecating the existing mechanism.

However, I do think within 10/11 we can change to using log4j directly and deprecate the old API, then 12 we can remove the old API.  Means we still have some module complexity for a while.. at least in the naming, but the contents should become simpler.   If w

[2020-02-14 10:58] joakime commented on #4567
log4j1 is not very performant and is abandoned now.
log4j2 is too bleeding edge, is still unstable, and has a history of JVM hanging issues.

Opened PR #4570 for the last argument sniffing for Throwable.

The time needed to make the change in the Proposal is only about 2 days.

[2020-02-14 15:24] joakime opened #4572 "Replace Jetty Logging"
# Proposal

## Drop org.eclipse.jetty.util.log

The entire package `org.eclipse.jetty.util.log` is deleted

## Create jetty-slf4j-impl module

A new module called `jetty-slf4j-impl` is created.

This module performs the equivalent to Jetty's StdErrLog.

* Same output formatting as `StdErrLog` in 9.x
* Supports `jetty-logging.properties` for configuring logging levels

It has a `META-INF/services/o

[2020-02-14 15:25] joakime commented on #4567
Opened Issue #4572 to track the larger Proposal separately

[2020-02-14 17:25] vinayakbmalagatti commented on #4569
Found the solution here https://github.com/MinecraftForge/ForgeGradle/issues/652

[2020-02-14 17:25] #4569 closed, assigned to nobody

[2020-02-14 19:45] rhuitl opened #4573 "Order dependency of X-Forwarded-Host and X-Forwarded-Port"
**Jetty version**
9.4.24

**Java version**
OpenJDK 11

**OS type/version**
Linux & MacOS

**Description**
I see different behavior when the `X-Forwarded-Host` and `X-Forwarded-Port` headers are reversed. The application is a Spring Boot application running either deployed as WAR on Jetty or as an executable JAR with embedded Jetty. Both variants fail the CORS check when the Port header appears bef

[2020-02-14 19:58] joakime commented on #4573
This seems like a duplicate (or at least related to the same root cause as) Issue #4504

[2020-02-14 20:23] rhuitl commented on #4573
I saw that one and briefly looked at the code. I didn't set the `X-Forwarded-Server` header so I'm not sure that the code change would fix this issue.

[2020-02-15 10:29] gregw commented on #4567
ooops did I say log4j,  I meant slf4j!  slf4j is just a facade like our own Logging API, so it essentially gives us the same flexibility, but with less complexity at the small cost of an API jar dependency.

[2020-02-15 10:32] gregw commented on #4572
While I think the number of users that program directly to our logging API is small, I'm not sure it is zero.  So it probably needs to be deprecated rather than dropped.
But we should be able to simply keep the module that maps the deprecated API to slf4j and make it use the new implementation there.

[2020-02-15 11:07] gregw commented on #4568
As an alternative, I'd like to consider making servlet-5.0 support an optional modules within jetty-10, so that it can support both servlet 4.0 and 5.0.  It would do this initially by facading the 5.0 API to run directly on top of the Jetty request/response/context/etc. even though they are dependent on 4.0.

The main issue will be how to support request/response wrapping as we currently depend on

[2020-02-15 17:31] ideatuples opened #4574 "[Report] ServletHandler.addServletWithMapping Error"
**Jetty version**
9.4.26.v20200117

**Java version**
JDK 11 (Amazon Corretto)

**OS type/version**
Ubuntu 18.04.3 LTS

**Description**
Hi Eclipse.Jetty,

I have been trying to configure with XML for DefaultServlet.
So, I added a file which name is 'jetty-test.xml' in $JETTY_BASE/etc

But I found that adding servlet to ServletHandler with Servlet object argument is failed.

`public ServletHolder ad

[2020-02-15 21:21] sbordet opened #4575 "Stopping ReservedThreadExecutor may hang"
**Jetty version**
10.0.x

**Java version**
13

**Description**
Running the test suite, test `org.eclipse.jetty.embedded.ExampleServerTest` may result in theJVM hanging during stop:

[code]

What above is trying to stop `HttpClient`, and its `QueuedThreadPool`, but the `ReservedThreadExecutor` seems to hang waiting for a thread, although there seems to be threads available in the pool (those `clien

[2020-02-15 21:21] sbordet commented on #4575
@gregw ideas?

[2020-02-15 21:24] sbordet commented on #4574
@ideatuples you probably have a problem in your XML, which you don't show.

The method works properly and we have tests that confirm this.

[2020-02-15 22:05] gregw commented on #4575
@sbordet I think the problem is that a reserved thread can be stopped either by: it sees that isRunning is false; or it is passed a poison pill.
This stack looks like we are trying to give the thread the poison pill, but it has already seen that isRunning is false and doesn't poll the synchronous queue.

The solution is that we should only ever stop a reserved thread with a poison pill, so that wa

[2020-02-15 22:06] gregw commented on #4575
This is likely to be a problem in jetty-9 also!

[2020-02-16 09:00] gregw commented on #4575
See #4576

[2020-02-16 09:05] gregw commented on #4562
Why was this deprecated and removed?

[2020-02-16 09:11] olamy commented on #4562
this big jar is a very big mess in the java 11 / jpms world.
I don't mind get it back but we must make it very clear it may not work well in such environment....

[2020-02-16 09:22] gregw commented on #4573
I think I have reproduced.... stand by...

[2020-02-16 09:52] liudonghua123 opened #4577 "request getPathInfo returns null"
**Jetty version**
9.4.26.v20200117

**Java version**
1.8.0_191

**OS type/version**
Windows 10 1909

**Description**
I use IPAccessHandler for restricting ip and url access. My config file is something like belows.
[code]

But when I browser http://127.0.0.1:8080/auditlog/, it always give me 403 error. After go through the code, I find it was `baseRequest.getPathInfo()` returned null instead of `/

[2020-02-16 10:06] gregw commented on #4573
Ah it was a cut and paste error!   We had `_for` instead of `_host` in one test.  Fixed in 652428ad7040444d46888f652fb4a0b1a28c7832 (accidentally committed directly the main branch rather than PR).
@joakime can you review the commit and extra tests - then close if you think this is OK.

[2020-02-16 10:11] gregw commented on #4562
I expect we will get complaints that it is gone.  I think having a single jar that can test run servlets/webapps is a good idea and we should think about how to do that in a JPMS world?   In fact isn't one of the main reasons for JPMS is to make executable jars with `jlink`?

So instead of deleting this module, how about we update it to jlink Runner as a JPMS executable?

[2020-02-16 10:18] gregw commented on #1905
I have reopened #4562 which removed the runner.  I think we should be looking at using jlink to create a Runner executable rather that deleting this functionality.
I wont reopen this issue - we can trace progress in the other issue.

[2020-02-16 10:26] gregw opened #4578 "Servlet 4.0 and 5.0 support in Jetty-10/11/12?"
This issue has been opened to discuss the possibility of supporting both Servlet 4.0 and 5.0 in the jetty-10 release (edit: now probably the Jetty-12 release)

[2020-02-16 10:28] gregw commented on #4568
I have created #4578 to discuss the alternative approach for supporting jarkata APIs within jetty-10.
If that approach is successful, then jetty-11 should only be created once we decide to rearchitect the core of jetty to be independent of any servlet version.

[2020-02-16 10:56] gregw commented on #4578
Currently the core of jetty is dependent on the `javax.*` servlet-api in a way that is best illustrated with the main signature of the [`Handler`](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-server/src/main/java/org/eclipse/jetty/server/Handler.java#L69) class:
[code]

This API passes both the core jetty request (called `baseRequest` throughout the code) and the servlet-api ve

[2020-02-16 10:56] olamy commented on #4562
@gregw sounds a good idea to try! let me try that
but we now have to change the issue title :)

[2020-02-16 11:10] gregw commented on #4578
Key to this approach working is that we need a good reimagining of the `Handler` API and contract.  So the first question is What should it be called?  If we are to run with both new and old `Handler`s it would be good to have an easy way to distinguish between them, but I can't think of any good pairings and all of the following are BAD:
   - `NewHandler`
   - `Handler2`
   - `HandlerNT`
   - `Pr

[2020-02-16 11:35] gregw commented on #4578
The key features that need to be considered in a new Handler API include:

Wrapping:
------------
If the wrapper is not passed in the handle signature, then we need CRUD mechanisms for the wrappers.  Note that there are serveral types of wrappers:
 + API wrappers that will wrap jetty requests, responses, contexts, etc. as one API or another.
 + API adaptors that will wrap application supplied List

[2020-02-16 11:46] gregw commented on #4578
Note about Application wrappers is that the spec requires that any wrapper passed in to a dispatcher is provided as the instance to the target resource.  Thus a wrapped request/response cannot be wrapped by the container to adapt the API, thus it is impossible to do cross context dispatch (which was a really bad idea in the first place)!

[2020-02-16 14:55] ideatuples commented on #4574
Hi sbordet,

For the clarification of the problem, I attached 2 log files here.

[jetty-test1.log](https://github.com/eclipse/jetty.project/files/4209856/jetty-test1.log)
< File 1. _SevletContextHandler.addServlet​(java.lang.Class<? extends javax.servlet.Servlet> servlet, java.lang.String pathSpec)_ >
[jetty-test2.log](https://github.com/eclipse/jetty.project/files/4209859/jetty-test2.log)
< File

[2020-02-16 16:04] sbordet commented on #4574
There is nothing to investigate. We read the XML file and invoke Java code.
The error you get it's because you have a problem in your XML.

Just copy/paste them in a comment, redacting sensitive information.

[2020-02-16 16:08] sbordet commented on #4577
@gregw since `IP|InetAccessHandler` is a Handler and can be set in front of many different contexts, why do we use `getPathInfo()` to match, instead of the full URI path?

[2020-02-16 16:29] #4575 closed, assigned to nobody

[2020-02-16 16:49] gregw commented on #4577
I think the idea was that if the access handler is installed outside of a context, then it will match paths on the entire URI.  If it is installed within a context, it will match paths against the URI stripped of the contextPath.

However, in this case the servlet path has also been taken from the pathInfo, leaving null.   So ideally we'd like to apply the path match before the servletHandler does

[2020-02-16 17:33] ideatuples commented on #4574
Hi sbordet,
Here is the config files and I hope you to change the extention from .txt to .xml and run one by one.

The only difference between 2 files is data type as I said.

[jetty-test1.txt](https://github.com/eclipse/jetty.project/files/4210380/jetty-test1.txt)
[jetty-test2.txt](https://github.com/eclipse/jetty.project/files/4210381/jetty-test2.txt)

Ah.. Plus..
I did try to turn on proxy feat

[2020-02-16 17:33] sbordet commented on #4577
@gregw ok so this needs a better fix than what provided in #4579, which is wrong because it only considers the context path.

[2020-02-16 17:40] sbordet commented on #4574
@ideatuples I don't understand.

You have one wrong XML file and you complain that it does not work.
Well, it does not work because it's wrong, as it tries to pass a Servlet _instance_ where a _class_ is required.

Then you have one correct XML file and it works.
Well, it works because it's correct, as it passes a String to the overloaded version of `addServlet` that takes a String as first parame

[2020-02-16 18:10] ideatuples commented on #4574
Hi Simone,

Have you checked out _ServletContextHandler.addServlet_ method signature in the API document?

According to API doc ([ServletContextHandler](https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/servlet/ServletContextHandler.html)),

`public ServletHolder addServlet​(java.lang.Class<? extends javax.servlet.Servlet> servlet, java.lang.String pathSpec)`

is completely legal and

[2020-02-16 18:16] sbordet commented on #4574
As I have already said, in `jetty-test1.xml` you are creating a new _instance_ via the element `<New>`.
The method signature takes a `Class`.

[2020-02-16 18:25] sbordet commented on #4518
Implemented.

[2020-02-16 18:25] #4518 closed, assigned to lorban

[2020-02-16 18:50] ideatuples commented on #4574
Hi Simone,

So.. you mean that it is a dynamic class loading and ServletHolder is a helper class for that purpose and it is encouraged to use ServletHolder rather than the dynamic class loading if there is a servlet exists

That's why 2 other addServlet methods has return value which type is ServletHolder.

OK.. I got it.

Thank you

[2020-02-16 18:54] sbordet commented on #4574
Please close the issue if it's resolved.

[2020-02-16 19:02] ideatuples commented on #4574
OK.. The case is now closed..

Thank you for the answer that made me stay up at night.

[2020-02-16 19:02] #4574 closed, assigned to nobody

[2020-02-16 20:53] olamy commented on #4542
@gregw I cannot find anything for this in the TCK tests

[2020-02-17 02:51] olamy commented on #4562
@joakime while investigating this I discover we're still packaging jetty-all as part of `eclipse-release` is intended or some leftover from 9.4  branch

[2020-02-17 07:17] gregw commented on #4577
@sbordet the solution is to use the target instead of the pathInfo as it will be the pathInContext if deployed in a context.  I have fixed in #4580, but I think we need to handle named dispatches also...

[2020-02-17 07:25] gregw commented on #4562
I think that is a separate... but similar issue.   The aggregate jars have been used by many, but again we need to determine how they work in a JPMS world.     Let's see how jlink works for the runner and then see if we still need `jetty-all`

[2020-02-17 07:32] gregw commented on #4542
OK, so we need to write our own test for this and then fix the behaviour.  @joakime do you want to have a go at this as I think the PathMapping stuff was last touched by you?

[2020-02-17 07:38] gregw commented on #4578
OK first handler experiment on removing target... yes it is best as a separate argument.

There are two primary cases where the target of the handling is completely different from the paths returned by the request:
 + `Dispatcher.include` where the request paths are unchanged, but servlet spec attributes are set with the include path - these attributes will now be in javax and jakarta variants
 +

[2020-02-17 08:39] liudonghua123 commented on #4577
@gregw @sbordet Thanks. Will the next release contain this fix?

[2020-02-17 10:13] gregw opened #4581 "Remove javadoc for overridden methods"
There are many methods in the source that have javadoc like:
[code]

We should remove all such empty javadoc as the `@Override` provides all the information needed.

[2020-02-17 10:14] gregw commented on #4581
@joakime @olamy @lachlan-roberts  Do you have any awk/sed/scripting magic that can do this?

[2020-02-17 10:48] janbartel commented on #4559
Please describe how you intend to do the lookup of the resource in your application code. Are you doing it from inside a servlet/filter, and are you expecting to do it with code like:

Alternatively, if you bind your resources to the jvm scope (see the document I linked for what that means), you can just do lookups  inside your servlets/filters as:

Or, regardless of however you scoped your Resouc

[2020-02-17 11:56] janbartel commented on #4578
As for names for the "new" Handler interface, it's almost impossible to find one! I don't like any of the following either:

- Manager
- Coordinator
- Visitor
- Mediator
- NeutralHandler
- AgnosticHandler

Maybe we should rename Handler in jetty-10 to something else, and call the new one "Handler"??!

Note that it won't just be the Handler level that needs to be independent of the javax. and jakar

[2020-02-17 11:57] janbartel commented on #4551
The question seems to have been addressed, so I'll close this issue.

[2020-02-17 11:57] #4551 closed, assigned to nobody

[2020-02-17 12:02] anpur opened #4582 "Some Jetty threads stuck on AbstractWebSocketConnection.onFillable indefinitely"
**Jetty version**
Last know working: 9.4.15.v20190215
Affected: 9.4.22.v20191022, 9.4.25.v20191220

**Java version**
JAVA_VERSION 11.0.6
JAVA_VERSION_DATE 2020-01-14
Azul Systems, Inc.
Zulu11.37+18-SA

**OS type/version**
Amazon Linux AMI release 2018.03

**Description**
We have a highly loaded websocket service (up to 5k concurrent connections with 400 new connections per second on each node) bas

[2020-02-17 14:11] joakime commented on #1905
I like the jlink approach, it would also allow us to prove our JPMS layers in yet another way.
Are you thinking that this is something we ship/deploy? or something we document how to do? (Make your own jetty-runner with exactly what you need)

Another approach is to enhance jetty-start to support a single jetty-home jar that could satisfy jetty-runner and jetty-all use cases as well.

[2020-02-17 14:25] joakime commented on #4542
I'll give it a shot. :-)

[2020-02-17 14:26] joakime commented on #4581
Not offhand, but I wonder if checkstyle (or some other tool) can detect javadoc that has no content like that?

[2020-02-17 14:28] joakime commented on #4582
This is a duplicate of Issue #4537 (identical stacktrace)
It has been addressed in the upcoming 9.4.27 release.

[2020-02-17 14:28] #4582 closed, assigned to nobody

[2020-02-17 17:36] sbordet commented on #4578
Why `Processor` is bad? It's what is does, it processes the HTTP request.

`HttpHandler`?

Just a reminder that `target` is also a `host:port` in case of CONNECT, and could be `*` in case of OPTIONS and PRI.

[2020-02-17 17:55] jmcc0nn3ll commented on #4578
Rode? The nautical term for a cable or chain that connects the anchor to the boat or ship.

Shank, Stem, Anchor, something fun.

[2020-02-17 18:53] boopathiraja commented on #4559
Basically I need to move the xml based deployment descriptor to programmatically.

Currently I have a
`<resource-ref> <description>dbname</description> <res-ref-name>jdbc/dbname</res-ref-name> <res-type>javax.sql.DataSource</res-type> <res-auth>Container</res-auth> </resource-ref>`

how I can achieve the same in code.

[2020-02-17 22:40] lachlan-roberts commented on #4475
This will be fixed in the 9.4.27 release.

This is not a problem for jetty-10 as we only receive the next frame once the callback has been succeeded, and there is logic to only succeed a `fin==true` frames callback once `onMessage` has exited.

[2020-02-17 22:40] #4475 closed, assigned to lachlan-roberts

[2020-02-18 00:37] lachlan-roberts commented on #4581
I tried running a few different regex replaces through Intellij, I'll put a PR up and see how it looks.

[2020-02-18 08:16] gregw commented on #4578
I'm now more inclined to change the Handler contract for the whole server.  I'm given that a go in a branch and will make a draft PR soon.
So far it is not very invasive... just ubiquitous.  But worth it if we can avoid needless name duplication and better prepare for the future.

[2020-02-18 09:03] gregw commented on #1905
I'll respond in #4562

[2020-02-18 09:15] gregw commented on #4562
In #1905 @joakime asked:

I think it has to be something we ship/deploy as the Runner class has a contract/usage and user base that would be hard to replicate in a document only approach.  However, I'm not sure that jlink executables can be shipped/deployed via maven central? So perhaps it is a combination of shipping enough that can be used to generate the executable?

So something like:
[code]
N

[2020-02-18 09:20] sadko4u opened #4585 "Very slow thread shrinking after rapidly grow."
Hello!

We're currently exploring the problem of spontaneous and rapid grow of thread pool after switching from old version of Jetty to the latest one. Currently there is no reason to say that the cause is Jetty internals but we've met a very strange behaviour at thread shrinking.

Consider looking at this monitoring graph:

![image](https://user-images.githubusercontent.com/12834464/74720913-9a1d

[2020-02-18 10:34] sbordet commented on #4585
The code is doing the slow shrinking by design: the idea is that if you had a load spike that caused the creation of lots of threads, you don't want to shrink too aggressively because you can have another load spike.
Therefore we only shrink 1 thread every `idleTimeout` rather than all of those that are idle.

Please make sure you are on the latest version of Jetty, since we have fixed a couple of

[2020-02-18 10:35] janbartel commented on #4559
@boopathiraja you haven't given me enough information. I want to know how you are doing the lookup in your code, and whether you have any ability to make changes?

The servlet-spec way to do things without an xml descriptor is to use annotations, which is why I suggested using the @Resource annotation injection of your datasource.

If you can't change your servlet code to use annotations, then you

[2020-02-18 10:43] #4548 closed, assigned to lachlan-roberts

[2020-02-18 10:46] lachlan-roberts commented on #4581
Fixed in jetty-10 with PR #4583.

[2020-02-18 10:46] #4581 closed, assigned to nobody

[2020-02-18 11:21] sadko4u commented on #4585
For that configuration we have idleTimeout parameter. If we know that the spike will occur within N seconds since last spike, then we'll probably just grow the idleTimout value.
By the other side, even low settings of idleTimeout (5 seconds) last shrinking process for hours. I believe in most cases minutes are enough to guarantee that we've served the spike and it won't occur in the nearest future

[2020-02-18 11:31] hareve opened #4586 "Problem with capturing response (buffering)"
**9.4.25.v20191220 (and newer)**

**openjdk version "11.0.6" 2020-01-14**

**Linux/CentOS 8**

**
PR #4409 (Jetty 9.4.x 4331 async close complete3) broke the ability to modify responses through capturing the response and writing it when done (as per https://docs.oracle.com/javaee/6/tutorial/doc/bnagb.html#bnagd). When trying to write output to the request when accessing / you will get "EOF"-except

[2020-02-18 12:59] gregw commented on #4586
I think this is a duplicate of the already fixed for next release #4533
It would be great if you could test a SNAPSHOT to confirm.

[2020-02-18 13:29] joakime commented on #4562
I was actually thinking of bundling up ALL of what's in `jetty-home-<ver>.tar.gz` into a single jar file.
There would be no need to unpack `jetty-home-10.0.0.jar`, and only those classes associated with the selected jetty module are actually loaded by the jetty-start classloader. (note: this is NOT a uber jar, that's not what i'm proposing)

So for jetty-runner replacement ...

[code]

or for jett

[2020-02-18 14:18] gregw commented on #4562
@joakime that kind of thing used to be very difficult to achieve because jars inside jars just didn't work very well and you needed to unpack to make it work.  Perhaps jar handling is better now?

The idea of the distro itself (jetty-home.jar) being both an archive and an executable is kind of cool - specially if it gave access to the Runner class?   Worth investigating in parallel.

[2020-02-19 08:08] sbordet commented on #4585
@gregw thoughts?

[2020-02-19 08:51] sbordet commented on #4585
Perhaps we can introduce `expireThreadCount` (or perhaps `idleTimeoutDecay`?) that is the number of threads that we attempt to expire for every `idleTimeout`.
With `expireThreadCount=1` we have the current behavior, while @sadko4u can set it to a larger value if a more aggressive expiration is desired.

`ReservedThreadExecutor` is already idle timing out all threads at once, which means they will

[2020-02-19 09:14] gopikrishnayaramothu opened #4589 "Jetty QuickStart"
we are trying to move from WebAppContext to QuickStartWebApp on standalone jetty server , we will deploy the individual war file inside webapps folder. we are facing below issue when we ran with quickstart

2020-02-19 14:31:28.878:INFO:oejs.Server:main: Started @3728ms
2020-02-19 14:31:29.486:WARN:oejw.WebAppContext:main: Failed startup of context o.e.j.q.QuickStartWebApp@587c290d{/XXXXXXXX,file:/

[2020-02-19 09:30] gregw commented on #4585
Firstly, what version is your "latest" ? We have had some recent releases that did create spikes in the number of threads due to a race in the new thread logic that created more than were needed.

I am firmly of the belief that we do not wish to let all threads die the moment they are idle. Having slow shrinking has been a worthwhile feature for a long time and helps to smooth the churn in thread

[2020-02-19 10:09] janbartel commented on #4589
Please provide:

- the version of jetty you are using.
- are you running in the distro or embedded.
- how you have enabled quickstart (depends on if running in distro or embedded).
- are you deploying as a .war or an unpacked war.
- does your webapp contain a WEB-INF/lib
- what configuration have you put in your context xml file

[2020-02-19 10:11] gregw commented on #4578
Summary of discussions so far:

Versions
-----------
Jetty Version | Servlet 4.0 (javax.*) | Servlet 5.0 (jakarta.*) | comment | release prospects
------------ | ------------- | -- | -- | --
10 | Yes | No | Almost ready to go | ASAP
11 | No | Yes | Simple rename of 10 | Soon after 10 if needed
12 | Yes | Yes | Needs significant work | 3 to 6 months if possible

This issue is primarily about discus

[2020-02-19 10:18] gopikrishnayaramothu commented on #4589
1. jetty version - jetty-distribution-9.4.12.v20180830
2. distributed jetty environment (standalone)
3. java -jar $JETTY_HOME/start.jar --add-to-start=quickstart
4. we are deploying a war file
5. not in project post deployment libs will be copied into WEB-INF/lib
6.  class="org.eclipse.jetty.quickstart.QuickStartWebApp"

please let me know if any additional details are required .
Thanks in advance

[2020-02-19 10:22] gopikrishnayaramothu commented on #4589
After pre-genrating quickstart-web.xml ($ java -cp [jetty classpath] org.eclipse.jetty.quickstart.PreconfigureQuickStartWar myapp.war)  .
we have seen below exception when we ran **java -jar start.jar**
2020-02-19 15:50:54.690:WARN:oejw.WebAppContext:main: Failed startup of context o.e.j.q.QuickStartWebApp@7dc222ae{/ConfigurationService,file:///C:/Oracle/SimphonyHome/jetty/ra/apps/ConfigurationSer

[2020-02-19 10:45] janbartel commented on #4589
Those line numbers don't line up with jetty-distribution-9.4.12.v20180830.

Also, the exception is different to the one you posted earlier. That makes it very difficult to understand what is going on.

9.4.12 is many versions old. Can you upgrade to the latest 9.4.26 version?

I would try configuring your jetty distro with the quickstart module, and follow the documentation for how to set up your

[2020-02-19 11:38] gopikrishnayaramothu commented on #4589
autoPreconfigure is correct if we use this quickstart-web.xml was not generated so we have pre-generated quickstart-web.xml using below line
$ java -cp [jetty classpath] org.eclipse.jetty.quickstart.PreconfigureQuickStartWar myapp.war
post executing above command quickstart-web.xml was generated under web-inf folder, then we have tried java -jar start.jar here we got latest exception i have posted

[2020-02-19 11:48] gopikrishnayaramothu commented on #4589
one small update we are using 9.4.21.v20190926 version

[2020-02-19 12:44] kandrej opened #4591 "InfinispanSessionData fails to deserialize"
**Jetty version**
9.4.26

**Description**

Jetty throws an exception whenever a session is saved to a cache that has **storeAsBinary** enabled. To test this, you can modify the setup method in org.eclipse.jetty.server.session.InfinispanTestSupport class

` InfinispanTestSupport

    public void setup() throws Exception
    {
        File testdir = MavenTestingUtils.getTargetTestingDir();
        F

[2020-02-19 13:32] janbartel commented on #4589
If you remove the WEB-INF/quickstart-web.xml from your webapp, then change your context xml file so that autoPreconfigure=true, then when you start jetty, the quickstart-web.xml should be regenerated. If this is not happening, that is a problem.  Please try that. If that does not work, attach your (sanitized where necessary) context xml file, and listing from java -jar start.jar --list-modules and

[2020-02-19 14:02] gopikrishnayaramothu commented on #4589
we have tried above approach quickstart-web.xml was not generated. following is the context file content
xml version="1.0" encoding="UTF-8"
DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_3.dtd"
Configure class="org.eclipse.jetty.quickstart.QuickStartWebApp"
  Set name="autoPreconfigure">true</Set
  Set name="contextPath">/xxxxx</Set
  Set name="war"><P

[2020-02-19 16:27] gregw commented on #4578
Thought bubble time.....

one of the worst things about the servlet spec is that it both allows application wrapping of the request object, but also insists that the container doesn't wrap in order to do things like `RequestDispatcher.forward`.  A forward needs to mutate the following attributes of the request:
   + requestURI and variants
   + contextPath, servletPath and pathInfo
   + query stri

[2020-02-19 17:12] joakime commented on #4550
Reopening as 9.4.27 version on PR #4553 is not merged yet.

[2020-02-19 18:44] boopathiraja commented on #4559
okay make sense. thanks for your help.

[2020-02-19 21:05] #4559 closed, assigned to janbartel

[2020-02-19 21:16] sadko4u commented on #4585
Thank you for your response.
I can tell tomorrow the verision we're using.

[2020-02-20 00:35] olamy commented on #4562
jetty-runner restored

[2020-02-20 08:59] sadko4u commented on #4585
Currently we're using the following version: **9.4.26.v20200117**.
I believe it's a latest stable release according to the contents of Maven repositories.

[2020-02-20 09:56] gregw commented on #4585
That is indeed the latest.  9.4.27 is just about to be built, but it only has a small tweak to the reserved thread pool.   So you don't have any know reason for creating too many threads for a spike.

Do you believe the jump from 100 to 350 threads was reasonable?  Could your load of had several hundred simultaneous requests in a burst?

Are you satisfied that setting a low idleTimeout on the thre

[2020-02-20 10:23] #4541 closed, assigned to gregw

[2020-02-20 10:26] #4550 closed, assigned to nobody

[2020-02-20 10:27] sadko4u commented on #4585
We can not currently say that the problem is Jetty itself. We noticed that our pretty rare JDK had SSL cache issues described here:
https://bugs.openjdk.java.net/browse/JDK-8129988

The overall problem is that suddenly one thread acquires lock on an SSL cache and forces all other threads to wait for about 2.5 minutes while the cache gets clean. Here's the most interesting stack trace of the proble

[2020-02-20 11:33] sbordet commented on #4578
@gregw another thought: the previous `Handler` design was based on the fact that requests were synchronous. This allowed the use of `try/finally` idioms in many places, where in the `finally` we were doing cleanup work.

But with async processing of requests, the `finally` had to become more complicated.

Is it worth to design the new Handler to be asynchronous by default, so that the `finally` ar

[2020-02-20 11:40] sbordet commented on #4585
This issue has been backported to OpenJDK 8, so you want to use a recent version of OpenJDK 8 to avoid the JVM lockup.

A JVM lockup like what you describe would definitely cause a spike in the number of threads when the lockup resolves.

What do you mean by "pretty rare JDK"?

[2020-02-20 12:25] sadko4u commented on #4585
I mean we've used Oracle JDK 1.8 below 1.8.211 version.
Now we've upgraded to the latest 1.8 version and obverving the behaviour of the system.

[2020-02-20 13:11] gonphsn opened #4594 "ServletContextListeners added to _destroyServletContextListeners in ContextHandler::startContext() are not removed by ContextHandler::removeEventListener()"
Jetty Version is:
9.4.26

Java Version is:
java version "1.8.0_241"
Java(TM) SE Runtime Environment (build 1.8.0_241-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.241-b07, mixed mode)

Windows, Linux, Qnx

See Jetty ContextHandler.java Looks like a bug in jetty, see where on startup the content of the _servletContextListeners is copied to _destroyContextListeners:

https://github.com/eclipse/je

[2020-02-20 16:23] joakime commented on #4594
We should also fix that typo: _destroySer**V**letContextListeners

[2020-02-20 17:02] gregw commented on #4578
@sbordet at the very least we need better support for async completion as the logic in finally blocks can be rather convoluted.
However, I do think the scoping nature of the try/finally calling hierarchy of the existing handlers is meaningful in an async environment, as it allows a thread to be annointed with thread locals, classloaders, etc. in an extensible way.   Hmmm but perhaps we need to mak

[2020-02-20 17:14] gregw commented on #4594
This problem was introduced with the fix for #412

[2020-02-20 17:17] gregw commented on #4594
Interestingly enough that interpretation means that only listeners that have initialized called will get destroyed called.  So a listener added after initialization will not have destroy called!!  A bit strange, but defensible I guess.

[2020-02-20 17:22] joakime commented on #4594
See also https://github.com/eclipse-ee4j/servlet-api/issues/152

[2020-02-20 17:30] gonphsn commented on #4594
Thanks for the fast turnaround!

[2020-02-20 18:50] joakime commented on #4567
Reopening for Jetty 9.4.x too

[2020-02-20 22:27] beatofandhra commented on #2169
@mrossi975 Did you fix your issue? We are having the same problem in our production. Any help is appreciated.

[2020-02-21 03:40] lachlan-roberts commented on #4319
Closing due to lack of information and unable to reproduce.

@zcs100 let us know if you still get this error on the latest version of Jetty.

[2020-02-21 03:40] #4319 closed, assigned to lachlan-roberts

[2020-02-21 04:34] #3277 closed

[2020-02-21 08:38] #4540 closed, assigned to nobody

[2020-02-21 12:36] #3261 closed

[2020-02-21 19:40] gregw opened #4598 "Add URI mapping to InetAccessHandler"
InetAccessHandler was added in #882, but lacks the URI mapping support that exists in IPAccessHandler

[2020-02-21 19:46] gregw commented on #4598
Note also that InetAccessHandler has connector name and InetAddress matching, but doesn't use the correct logic from IncludeExcludeSet.matchCombined - so some work is needed... specially if a third include/exclude set is added.

The logic has to be ((NoIncludes || (included by one set)) && (excluded by no sets))

[2020-02-22 15:14] joakime commented on #4594
PR #4595 merged.

[2020-02-22 15:14] #4594 closed, assigned to gregw

[2020-02-22 15:15] joakime commented on #4567
PR #3596 merged.

[2020-02-22 15:15] #4567 closed, assigned to joakime

[2020-02-23 17:53] gregw commented on #4598
@lachlan-roberts have a go at this!

[2020-02-24 07:55] gregw commented on #4577
yes

[2020-02-24 07:55] #4577 closed, assigned to nobody

[2020-02-25 14:03] janbartel commented on #4340
Maybe we just need a coding pattern? For example the AnnotationConfiguration loads ServletContainerInitializers from the ServiceLoader like this:

[code]

[2020-02-25 14:20] gregw commented on #4340
@janbartel the problem with that pattern is that it doesn't catch the exceptions that are thrown from `iter.hasNext()`, which has caused us problems.  Hence the idea of putting it into a util class where it is done right and can be maintained, updated for all usages.

[2020-02-25 14:24] janbartel commented on #4340
@gregw ah yes, I remember the problem now.

[2020-02-25 15:12] janbartel commented on #4589
There's something wrong with the way you have configured your jetty base.  You have configured the Deployer to look in ra/webapps/, but yet the webapp you're trying to deploy is in ra/apps.  So it can't be the Deployer that is finding your webapp to quickstart, it must be via some other means? Is the context xml file for your quickstart webapp in ${jetty.base}\etc\yyyyy.xml ???? If so, that is not

[2020-02-26 08:51] sbordet opened #4603 "Investigate WebSocketOverHTTP2Test.testServerConnectionClose()"
**Jetty version**
10.0.x

**Description**
The test passes, but sometimes this NPE happens:

[code]

[2020-02-26 11:59] joakime opened #4605 "Review DateCache for performance"
StdErrLog uses DateCache and separately handles the ms.  So why can't we depend on jetty-util?      I know it is a very old class.... but when it was introduced it was VERY beneficial.  If we are doing full logging, we can avoid thousands of time formats per second - well worth it!

_Originally posted by @gregw in https://github.com/eclipse/jetty.project/pull/4601_

We should do some tests for per

[2020-02-26 12:08] gregw commented on #4605
I'm pretty sure that we will still find this class worthwhile in cases were we do hundreds or thousands of formats per second.   So I don't think it needs to be reviewed for efficiency.  Perhaps it's API and implementation can be updated a bit

[2020-02-26 12:14] joakime commented on #4605
This is a historical class.

It existed well before the new date time APIs in Java 8.
Those original classes were slow, expensive to create and use, and were not thread safe ([even causing performance issues on heavy use](https://stackoverflow.com/questions/22098904/how-to-improve-performance-of-simpledateformat-wrapped-in-threadlocal))

The new Java 8 APIs for Date / Time are [6x faster then the

[2020-02-26 12:28] gregw commented on #4605
Maybe - but that is a premise you must prove before taking out usages of DateCache rather than something we need  to disprove to argue to reinstate optimisations that have bin in place for decades!

[2020-02-26 12:58] joakime opened #4606 "DateCache.formatNow(long now) does not honor the passed in long"
**Jetty version**
All versions

**Java version**
All versions

**OS type/version**
All versions

**Description**

If using `DateCache.formatNow(long now)` ...

https://github.com/eclipse/jetty.project/blob/7ce14a419fd1c7cec42d808ac3e6fd862ce517b4/jetty-util/src/main/java/org/eclipse/jetty/util/DateCache.java#L212-L222

And the passed in `long now` is a cache miss, the `Tick formatTick(long now)` i

[2020-02-26 13:00] joakime commented on #4606
Should probably bring this simple bug fix back into Jetty 9.4.27 too.

[2020-02-26 13:03] joakime commented on #4606
Filed PR #4607 against `jetty-9.4.x` branch

[2020-02-26 13:04] joakime commented on #4605
Agreed, data is important here.

[2020-02-26 14:29] sbordet commented on #4340
I am not sure this is a good idea.

The problem is that `ServiceLoader` calls are caller-sensitive.

With JPMS using `ServiceLoaderUtil` may result in the fact that you have to give special visibility (read/open) to `jetty-util` that you don't need when you use `ServiceLoader` directly.

We have had similar issues with `MethodHandle` utility methods, where we need to open up or otherwise use looku

[2020-02-26 15:28] gregw commented on #4340
@sbordet this is why the call to ServiceLoader.load is not done within the utility method, but in the caller scope.  The utility method is essentially only wrapping the iterator that is returned, which should be allowed by any caller-sensitive code.

[2020-02-26 15:33] manishpandeyhere opened #4608 "Jetty reaching out to w3.org for schema definitions"
**Jetty version**
9.4.12
**Java version**
java-1.8.0-openjdk-1.8.0.212.x86_64
**OS type/version**
Centos 7.2
**Description**

Firewall blocked 7 outbound connections from storage's IP to the IP 128.30.52.100 on port 80 on the 30th October between 11:30 and 11:30 EST

https://nimblestorage--c.na97.content.force.com/servlet/servlet.FileDownload?file=00P2H00001IoYW9

- Further checks on LAB arrays su

[2020-02-26 15:42] joakime commented on #4608
I just set my `/etc/hosts` entry to a bogus ip for `www.w3.org` and tried the demo-base tests with success.
I was expecting warnings, errors, etc...

[code]

Note: on my network, there is nothing using 192.168.1.5

Are you perhaps replacing your xml parser on your environment?  (this was a common practice long ago, and is no longer recommended)

[2020-02-26 15:44] sbordet commented on #4340
@gregw the iterator is allocated in the call site, but it's a lazy operator. It's when you call `next()` that the service instance is actually created and that is performed in the context of a `jetty-util` class.

However, I checked the JDK code and the caller check is only performed at creation time (`ServiceLoader.load()`) so I _think_ we are good with respect to this.

[2020-02-26 15:49] gregw commented on #4340
@sbordet the first iteration of this had the load in the util and it did not pass tests.  This passes tests.
We definitely need something like this to avoid all the repeated mistakes (eg catching exceptions from `next()` but not `hasNext()`
Perhaps it could just be a wrapper for the Iterator?   But I don't mind the loadAll() and loadFirst(Predicate) style either as it reads well.

[2020-02-26 15:51] sbordet commented on #4340
@gregw returning a `Stream` would allow you to access the full `Stream` API, whether you want a `List` or just the first, or filter them, etc.
The `Stream` could wrap the `Iterator` and take care of the exception handling.

[2020-02-26 16:25] joakime commented on #4340
I threw together a simple experiment project with ServiceLoader as I was curious as to how the stream API worked.

Project can be found at https://github.com/joakime/serviceloader-experiments

The stream API usage can be found at https://github.com/joakime/serviceloader-experiments/blob/master/drinker/src/main/java/org/eclipse/jetty/demo/Drinker.java

Looking like this ...

[code]

The entire erro

[2020-02-26 17:04] joakime commented on #4340
This works too, to skip errors / nulls during iteration.

[code]

[2020-02-26 20:58] consultantleon commented on #3891
I came to this page as we're experiencing the same error, randomly but frequent. Running a Jetty base service in Azure and calling it once every 15 minutes.

Once or twice an hour it returns with a similar stack:
GET request failed, URL=https://api.xyz.cloud/aaa-management/v1/connection-details: ==> java.util.concurrent.ExecutionException - javax.ws.rs.ProcessingException: java.io.EOFException: Ht

[2020-02-26 21:16] joakime commented on #4568
I see Jasper 10.0.0-M1 available on maven central now - https://search.maven.org/artifact/org.apache.tomcat/tomcat-jasper/10.0.0-M1/jar

[2020-02-26 21:28] joakime commented on #4598
Reasoning for this decision was briefly mentioned in Issue #1072 and an alternate solution was proposed by @sbordet

[2020-02-27 03:28] #4123 closed

[2020-02-27 12:21] sbordet opened #4612 "ReservedThreadExecutor hangs when the last reserved thread idles out"
**Jetty version**
9.4.x

**Description**
Since #4495 and #4575 `ReservedThreadExecutor` hangs when the last reserved thread idles out.

[code]

[2020-02-27 12:31] #4612 closed, assigned to sbordet

[2020-02-27 17:02] joakime commented on #4606
Done in 9.4.x and merged to 10.0.x

[2020-02-27 17:02] #4606 closed, assigned to nobody

[2020-02-27 17:13] #4586 closed, assigned to nobody

[2020-02-27 17:49] joakime opened #4613 "Update Setuid to 1.0.4"
**Jetty version**
9.4.26

**Java version**
All versions

**OS type/version**
Linux and OSX (all versions)

**Description**
The setuid toolchain has been updated to 1.0.4, we need to update jetty-home to use it.

[2020-02-27 19:02] joakime commented on #4613
Closing, as this has already been done in `jetty-9.4.x` branch.

[2020-02-27 19:02] #4613 closed, assigned to joakime

[2020-02-28 00:45] lachlan-roberts commented on #4340
@joakime I tried using a standard iterator for this test, none of the examples throw in the call to `hasNext()` which is what it says it can do in the javadoc.

When we reach the call to `provider.get()` we already have a `ServiceLoader.Provider<T>` so surely we've already done the locating step by then.

[2020-02-28 05:02] Security3rd opened #4616 "There are several CVEs in the project dependencies"
I found your project used some dependencies that contain CVEs. I suggest a library update to avoid potential risks. Details are listed below:
* **Vulnerable Library Version:** org.apache.derby : derby : 10.4.1.3
  **CVE ID:** [CVE-2009-4269](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-4269), [CVE-2015-1832](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-1832), [CVE-2010-2232](

[2020-02-28 06:13] olamy commented on #4616
Good catch regarding Hazelcast but except Hazelcast everythinh else is used for test.
Maybe you should probably update your robot to not report error regarding dependencies with scope test?

[2020-02-28 10:15] rhuitl commented on #4573
I tested it and can confirm that the issue is fixed with Jetty 9.4.27! Thank you.

[2020-02-28 10:15] #4573 closed, assigned to nobody

[2020-02-28 15:52] joakime commented on #2074
I cannot find an issue filed at https://github.com/eclipse-ee4j/servlet-api asking for clarification on this.

So I asked https://github.com/eclipse-ee4j/servlet-api/issues/308

[2020-02-28 16:21] joakime commented on #3735
@lachlan-roberts can branch `jetty-9.4.x-3735-multipart-quotedPrintable` be deleted now?

[2020-02-28 16:29] joakime commented on #4235
@lachlan-roberts are you still working this?  Can branch `jetty-9.4.x-4235-OpenIdErrors` be deleted?

[2020-02-28 17:25] joakime commented on #2626
These tests were written because of Bug [403513](https://bugs.eclipse.org/403513) and created in commit 25f5e38e13f78209648276eabbc309801b325e3b
Moving them to `test-distribution` will not address the concerns brought up in the original bug.

[2020-02-28 17:26] sbordet commented on #4340
@lachlan-roberts I'm thinking that the `Stream` approach is enough. While it may be possible that iterating over the _providers_ may throw, I doubt that's the case.

It's when trying to instantiate the _service_ that an exception may happen, because it's the wrong class version (e.g. ALPN), or some dependency is not available, etc.

I think we should just follow the idiom of using the `Stream` and

[2020-02-28 17:30] joakime commented on #2626
I wonder if the port reuse in these test cases is the reason for the problem.
As it was `testStartStopSamePortDifferentKey` that failed in the past.

The testcase ...
1. starts a ShutdownMonitor on port 0 (have system bind to available port).
2. remember port number assigned.
3. stop ShutdownMonitor
4. set port to remembered port
5. start ShutdownMonitor again

I can see the port being "stolen" ag

[2020-02-28 17:58] gregw commented on #4340
Would a utility method that mapped an Provider<T> to an Optional<T> help with a nice usage of streams, without the need for a verbose try{}catch{}?

[2020-02-28 17:59] joakime commented on #4340
I went ahead and added more testcases to https://github.com/joakime/serviceloader-experiments that @gregw asked about.

In that example project we have the following jar files, which all have `META-INF/services/org.eclipse.jetty.demo.BarService` files.

* `dive-bar.jar` - valid service at org.eclipse.jetty.demo.DiveBar
* `fancy-bar.jar` - valid service at org.eclipse.jetty.demo.FancyBar
* `lost-th

[2020-02-28 18:00] joakime commented on #4340
The extra `Optional` isn't necessary, the stream + `ServiceLoader.Provider` does what we need.

[2020-02-28 18:01] joakime commented on #4340
Also, even with the old school `ServiceLoader` iterator behavior, nothing will throw an exception on `.hasNext()`

[2020-02-28 18:04] gregw commented on #4340
@joakime I'm sure we have had problems with exceptions thrown from hasNext, that is what started this process in the first place.  Perhaps it is only on some JVMs

[2020-02-28 18:06] joakime commented on #4340
The `try {} catch (ServiceConfigurationError error) {}` is still going to be usage specific.

Example:

The loading of `ServletContainerInitializers` will log differently if the failure is because access issues between webapp and server classloader.
Which is acceptable and common enough.

And websocket would log at debug/info for Extension load issues, but warn/error (possibly even fatal exception

[2020-02-28 18:11] joakime commented on #4340
There's only 1 reported issue with ServiceLoader and hasNext().
https://bugs.openjdk.java.net/browse/JDK-8230843

The `hasNext()` issue was due to multiple threads accessing the ServiceLoader (and its iterator) at the same time on early versions of Java 11.
Basically, ServiceLoader is not thread-safe.

If this is a issue for us, using Optional isn't going to fix things, or let us limp along, we ha

[2020-02-28 18:12] joakime commented on #4340
Open question, will ServiceLoader on OSGi with SpiFly still work if we create a utility class?

[2020-02-28 18:26] gregw commented on #4340
A utility mapping method can make the stream code a little nicer:
[code]

But the map->filter->map->collect is still a bit verbose.     Perhaps somebody with some better stream-foo than me can come up with a better way to do this, so we can collapse down the try catch but not have too many steps?

[2020-02-28 18:36] gregw commented on #4340
This is better:
[code]

[2020-02-28 20:06] joakime commented on #4340
No need for `Stream.of()`, or the creation of the `flatMap()`

[code]

[2020-02-28 22:32] sbordet commented on #4340
@joakime, Greg's version is better, no `null`s around and no need to filter.

[2020-02-29 15:44] #3300 closed

[2020-02-29 15:47] kaifeng-h opened #4619 "Inconsistent library versions notice."
Hi. I have implemented a tool to detect library version inconsistencies. Your project have 12 inconsistent libraries and 3 false consistent libraries.

Take org.apache.derby:derbytools for example, this library is declared as version 10.4.1.3 in tests/test-loginservice, 10.12.1.1 in tests/test-sessions/test-jdbc-sessions and etc... Such version inconsistencies may cause unnecessary maintenance eff

[2020-03-01 03:05] TezzerFX opened #4620 "Using console-capture with StdErrLog results in empty log file"
The "jetty.console-capture.dir" was set and the server created the ...jetty.log file on launch, but the log messages were still being written to the console's Stderr and Stdout. As a workaround I replaced the
StdErrLog.class in the jetty-util-9.4.27.v20200227.jar with the version from jetty-util-9.4.26.v20200117.jar which restored the 9.4.26 behavior, writing the messages to the log file as per th

[2020-03-01 03:32] joakime commented on #4620
Interesting ...

[2020-03-01 07:43] #4598 closed, assigned to lachlan-roberts

[2020-03-01 09:09] olamy commented on #4619
thanks for the notice.
Please note all those librairies are used in test scope only.
But anyway we will fix this.

[2020-03-01 09:23] jbonofre opened #4621 "jetty-jaspi in jetty-all uber aggregate artifact requires javax.security.auth.message.AuthException which cannot be included"
**Jetty version**

Any version equal or greater than Jetty 9.4.23.

**Java version**

Any

**OS type/version**

Any

**Description**

Several projects (for instance Apache ActiveMQ) use jetty-all uber artifact (`org.eclipse.jetty.aggregate:jetty-all:uber`) doesn't include `org.eclipse.jetty.orbit:javax.security.auth.message`.
This missing artifact cause issue when using the `ConstraintSecurityHand

[2020-03-01 23:19] #847 closed

[2020-03-02 10:14] dikkedimi commented on #2688
I am sorry, but I'm not a java buff. I'm a simple dumb end-user that does not know how to diagnose all those things. I just follow where google queries take me and add to the discussion if I think my issue is related.

Turns out Jetty did not like me casting a string to a number type variable, or something like that. Issue is now resolved.

[2020-03-02 10:16] dikkedimi commented on #2688
Thanks, this is very helpful information.

[2020-03-02 11:13] kaifeng-h commented on #4619
Thanks for that.

[2020-03-02 15:01] joakime opened #4628 "Add support for conditional module dependencies in jetty-start"
**Description**

The jetty-start module mechanism could benefit from having `[depends]` on modules that may or may-not actually be present.

This would simplify behaviors like the ones identified (by @sbordet) with alpn and Java 8 update 252 and newer having built-in support for ALPN (no longer any need for alpn-boot).

Proposed syntax:

[code]

That would mean if the `alpn-boot/alpn-boot-${java.v

[2020-03-02 15:03] sbordet commented on #4628
See #4443 for ALPN support in 8u252 without `alpn-boot`.

[2020-03-02 15:10] joakime commented on #4628
would it make more sense to have this be a different section?

[code]

I don't know a good name for this section as `[optional]` is already taken.

Some alternate thoughts on names ...

* assume
* rely
* expect
* attach
* entrust
* confer
* delegate
* furnish
* pivot

[2020-03-02 16:20] joakime commented on #4620
A minimal fix to `console-capture.xml` can be found at in commit 6bf868e03b5982aa067238b1c8cd6dbaf1f4580d

https://github.com/eclipse/jetty.project/blob/6bf868e03b5982aa067238b1c8cd6dbaf1f4580d/jetty-util/src/main/config/etc/console-capture.xml#L20-L23

Line 21

[2020-03-02 18:05] joakime commented on #4620
Opened PR #4630

[2020-03-02 18:07] joakime commented on #4620
The minimal fix to `console-capture.xml` (in commit 6bf868e03b5982aa067238b1c8cd6dbaf1f4580d) would make `console-capture` dependent on StdErrLog, which it historically hasn't been.

So the behaviors of StdErrLog with regards to alternate PrintStream has been restored, allowing console-capture to do it's thing.

[2020-03-02 19:23] TezzerFX commented on #4620
Thanks Joakim, that did the trick... Prior to the quick fix there was warning message
`"...WARN:oejx.XmlConfiguration:main: Ignored arg: <Arg name="threadpool"><Ref refid="threadPool"/></Arg>",` what was that about?

[2020-03-02 21:06] joakime opened #4631 "Startup XmlConfiguration WARN on Arg threadpool"
_Originally posted by @TezzerFX in https://github.com/eclipse/jetty.project/issues/4620#issuecomment-593572876_

There's a WARN message on startup about the threadpool ...

[code]

[2020-03-02 22:26] joakime commented on #4631
This is ultimately a bad warning, the argument isn't being ignored, and is being used properly.

It's just a later check for `<Arg>` is incorrectly generating a WARN level message when it shouldn't.

[2020-03-02 22:31] joakime commented on #4620
@TezzerFX opened Issue #4631 about the WARN on threadpool.  It's harmless, and works in spite of the warning message, but still needs to be fixed (in PR #4632)

[2020-03-02 23:47] olamy commented on #4621
I'm not sure we can legally include those classes `javax.security.auth.message.*`
@janbartel @joakime WDYT?

[2020-03-03 00:21] olamy commented on #4619
done with https://github.com/eclipse/jetty.project/commit/3a8b45d20c35ed77fc66d582d7d453f3e2b9276a

[2020-03-03 00:21] #4619 closed, assigned to olamy

[2020-03-03 00:26] joakime commented on #4621
If the origin is from Jakarta with the EPL license then I think we would be ok.

But this Uber artifact is not for direct consumption, never was.
It only exists to teach about jetty basics from the documentation point of view.

[2020-03-03 00:28] olamy commented on #4621
@joakime yup but It looks some projects such Apache ActiveMQ use it as a normal artifact... :(
@jbonofre you guys lazy to include more artifacts? (come on it's only a matter of editing some osgi MANIFEST.MF :P )

[2020-03-03 05:17] jbonofre commented on #4621
I fixed the issue (in ActiveMQ) but including jetty.orbit:javax.security.auth.message artifact.
My concern is the fact it works with Jetty 9.4.22 (without adding the artifact) and it doesn't work out of the box since 9.4.23. That's why I consider this issue as a regression.
The problem is not related to OSGi, but to the uber shade.
I can refactore to use atomic Jetty artifacts instead of the uber

[2020-03-03 06:12] olamy commented on #4621
@jbonofre sorry for the trouble :(
 @joakime maybe we should keep backward compat for 9.4.x and to avoid such issue we should simply stop building/deploy it with 10 wdyt?

[2020-03-03 06:27] jbonofre commented on #4621
It makes sense to remove for Jetty 10.
No problem for the change, it was just "surprising".

[2020-03-03 09:13] olamy commented on #4621
ok as you don't need it anymore we can just close it.

[2020-03-03 10:34] vmassol commented on #2960
Hello @janbartel (long time no talk ;)). Thanks for the explanations about this issue, which we're hitting on XWiki in our automated functional tests. We're using the official jetty image from dockerhub. Do you see a way to disable the mail module from the docker run command line (without having to create our own custom image)? Thanks a lot. I've checked https://www.eclipse.org/jetty/documentation

[2020-03-03 11:53] joakime commented on #4621
If you are using the Eclipse RT (RunTime) and OSGi, then use the version from orbit.

If you are NOT using the Eclipse RT and OSGi then use the official artifacts from the jakarta effort. (they even have good quality OSGi manifest information!)
https://search.maven.org/artifact/jakarta.security.auth.message/jakarta.security.auth.message-api/1.1.3/jar

`javax.security.auth.message` is only used by

[2020-03-03 11:58] joakime commented on #2960
@vmassol see https://github.com/appropriate/docker-jetty/issues/108 - a fix to the official docker images should be done there.

[2020-03-03 12:51] jbonofre commented on #4621
No directly use of JASPI, the code didn't change: it was working with Jetty 9.4.22, and after upgrading to any version equal or great to Jetty 9.4.23, it failed.

I proposed the PR at least of 9.4.x branch to be backward compatible. If you want I can do a `git bisect` to identify the change between 9.4.22 and 9.4.23 causing the issue.

[2020-03-03 17:44] joakime commented on #4620
Merged PR #4630

[2020-03-03 17:45] joakime commented on #4628
Merged PR #4629

[2020-03-04 09:20] kvopencode opened #4634 "Jetty9.4.4 jdk1.8 ByteBuffer.limit() Nosuchmethoderror"
Dear team, I am experiencing the below issue post upgrade of jetty9.4.4 in my dev. Please find below the details. Unfortunately my application cant be moved / upgraded to Java9/higher. Do we have a solution for this to run in jdk1.8 ? Do we have a jetty-util version which does the typecasting (Buffer). Any timely help is much appreciated.
<img width="759" alt="Screenshot 2020-03-04 at 09 19 11" sr

[2020-03-04 09:49] sbordet commented on #4634
See https://github.com/eclipse/jetty.project/issues/3244#issuecomment-495322586.

Please upgrade to a recent Jetty version such as 9.4.27.

[2020-03-04 09:49] #4634 closed, assigned to nobody

[2020-03-04 10:11] kvopencode commented on #4634
Yes i went through the comment sbordet. Can you please confirm if jetty 9.4.27 works fine with JDK1.8_201 ?

[2020-03-04 11:25] kvopencode opened #4635 "NoSuchMethodError: javax.servlet.ServletContext.createServlet(Ljava/lang/Class;)Ljavax/servlet/Servlet;"
**Jetty version**
9.4.27.v20200227

**Java version**
1.8.0_201

**OS type/version**
Red hat enterprise server linux 6.1 (Santiago)

**Description**
@sbordet - when a http resource is requested i get the below error and 500 server error.
Can you please check and help here ? Let me know if you need any further information.
<img width="1062" alt="Screenshot 2020-03-04 at 10 59 03" src="https://user-i

[2020-03-04 11:26] kvopencode commented on #4635
WARN HttpChannel: /rest/mypage

[2020-03-04 11:29] joakime commented on #4635
`ServletContext.createServlet()` was added in Servlet 3.0

See: https://docs.oracle.com/javaee/7/api/javax/servlet/ServletContext.html#createServlet-java.lang.Class-

That means your Jetty setup is using an old Servlet API jar (probably 2.5 or 2.4)

Since you are using Jetty 9.x you should be using Servlet 3.1

See: https://stackoverflow.com/questions/44730096/javax-servlet-http-httpservletrespons

[2020-03-04 11:29] #4635 closed, assigned to nobody

[2020-03-04 12:21] kvopencode commented on #4635
@joakime Thanks for your pointers. It worked well. My app had indeed javax-servlet-api 3.1 jar
but i found conflicts of javax.Servlet class with other jars tomcat, weblogic etc.
I removed the mvn dependencies of the jar and it worked well. Attached other jars which were causing the conflict
<img width="169" alt="Screenshot 2020-03-04 at 12 20 07" src="https://user-images.githubusercontent.com/9547

[2020-03-04 13:43] joakime commented on #4634
Jetty 9.4.27 will work with Java 1.8.0 update 201 just fine.
See: https://github.com/eclipse/jetty.project/blob/jetty-9.4.27.v20200227/pom.xml#L1920-L1931

However, JDK 1.8.0 update 201 is old and expired (in April 2019).
See: https://www.oracle.com/technetwork/java/javase/8u201-relnotes-5209271.html

Don't expect anything related to SSL/TLS to work properly (due to that JDK update being expired).

[2020-03-04 14:19] joakime commented on #4635
@kvopencode you might want to use https://github.com/basepom/duplicate-finder-maven-plugin to see what other duplicate classes you have present.
It's really fishy that you have `tomcat-servlet-api-<ver>.jar` and `weblogic-<ver>.jar` on your classpath when using Jetty.

[2020-03-04 15:17] attiand opened #4636 "How to configure Hazelcast cluster address"
**Jetty version**

jetty:9.4.26-jre11-slim (Docker image)

**Java version**

jetty@34b2e7432e9f:/var/lib/jetty$ java --version
openjdk 11.0.6 2020-01-14
OpenJDK Runtime Environment 18.9 (build 11.0.6+10)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.6+10, mixed mode)

**Question**
I try to use the session-store-hazelcast-remote module and I seem to have it working with a single hazelcast server on 127

[2020-03-04 19:30] TheWizz opened #4637 "How to WebSocketClient resource usage?"
Jetty version: 9.4.18.v20190429

Java version: 1.8-202

I'm using the WebSocketClient. Things works fine. However, profiling this shows a significant number of threads (almost 10) being started for each new WebSocketClient. This is the code I use to open a connection:

[code]

Is there anything I can do to reduce the number of threads being created for each websocket client opened? E.g., can any o

[2020-03-04 19:50] joakime commented on #4637
Create 1 (and only 1) `WebSocketClient` (and `HttpClient`) for the life of the JVM, then use it connect to any number of remote endpoints with any combination of local endpoint implementations.

Think of the WebSocketClient and HttpClient like a web browser, and each .connect() a tab in that web browser.
You don't force a new web browser instance (and all of it's resources) for each web page you o

[2020-03-04 21:04] joakime opened #4638 "maxFormContentSize fix in Issue #3856 broke JenkinsCI/Winstone"
Note that this is incompatible as seen in https://github.com/jenkinsci/winstone/pull/95/commits/8a8a146c88e55e2258e063a041fb43c21753cf5b.

_Originally posted by @jglick in https://github.com/eclipse/jetty.project/pull/3899_

---

The fix in PR #3899 (Issue #3856) seems to have broken JenkinsCI

[2020-03-04 21:08] joakime commented on #4638
@jglick it's not obvious from your linked testcases ( https://github.com/jenkinsci/winstone/commit/8a8a146c88e55e2258e063a041fb43c21753cf5b ) what is happening on your testcase.

Can you explain that testcase some?

[2020-03-04 21:26] joakime commented on #4547
If it only happens on 1 or 2 docker images out of 100 then this doesn't seem like a Jetty issue.
The stacktrace you provided shows a low level (even below java) and common (happens often on all servers, even non-java ones) networking behavior.

[2020-03-04 21:26] #4547 closed, assigned to nobody

[2020-03-04 21:26] joakime commented on #4591
PR #4600 opened on this issue.

[2020-03-04 21:30] joakime commented on #4524
Since the errors are on SSL, I think this is related to Issue #2921 and IBM's decision to NOT use RFC Standard Cipher Names.

[2020-03-04 21:32] joakime commented on #4521
Jetty 9.3.x is deprecated - https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html

Upgrade to Jetty 9.4.x if you want to use HTTP/2 (it's far more up to date)

[2020-03-04 21:32] #4521 closed, assigned to nobody

[2020-03-04 21:35] TheWizz commented on #4637
Thanks. That sounds like a good plan. If I need a unique set of headers per request, then I'd still need to instanciate a unique ClientUpgradeRequest for each request. But perhaps that's not a heavy operation, and would be quite OK. Presumably it's the HttpClient and WebSocketClient that are the heavy hitters here, right?

-JM

[2020-03-04 21:40] joakime commented on #4637
Yes, the WebSocketClient and HttpClient are heavyweight components, it's not wise to constantly create/start/use/stop/gc each of them.

[2020-03-04 21:42] itselov opened #4640 "org.eclipse.jetty.util.thread.ShutdownThread._thread potential memory leak"
**Jetty version**
9.4.25.v20191220

**Java version**
java-1.8.0-openjdk-1.8.0.232.b09

**OS type/version**
Linux 2.6.32-573.22.1.el6.x86_64

**Description**
We performed load testing of our application (REST API Server) in lab and found that right after load test ends heap size increased almost twice and kept on same level.

We gather heap dump and found that almost half of heap consumed by org.ec

[2020-03-04 21:43] TheWizz commented on #4637
Thanks for confirming. Will I need to take any explicit steps to stop those components' lifecycles at shutdown, or will they "register themselves" somehow so that stopping of Jetty during server shutdown automatically stops those too?

-JM

[2020-03-04 21:49] joakime commented on #4640
This is likely fixed in Jetty 9.4.26.v20200117 as a result of Issue #4575

The current stable release is 9.4.27.v20200227, please try with that version.

[2020-03-04 21:53] joakime commented on #4637
The components are just threads.
Your threading model and decisions are ultimately going to determine how those components behave at shutdown.
You can, alternately, just `.stop()` the components on your own too.
Or you can register `Runtime.getRuntime().addShutdownHook(new MyRuntimeShutdownImpl());` to do that work for you.

[2020-03-04 21:53] #4637 closed, assigned to nobody

[2020-03-04 22:06] joakime commented on #3428
@lachlan-roberts we should look into this for Jetty 10

[2020-03-04 22:37] jglick commented on #4638
The test case in https://github.com/jenkinsci/winstone/pull/95 was merely adding retroactive coverage for a longstanding bit of code in Jenkins which attempted to set a maximum form content length (by default to -1, i.e., no maximum). I think it should be pretty self-explanatory: submit some really big forms and see if the servlet is able to process parameters without error.

The original method J

[2020-03-04 23:08] joakime commented on #4638
@jglick thank you for the explanation.

There were a few reasons for the change in behavior here.

1. the Issue #3856 report where there was a difference in behavior with HTTP/1 and HTTP/2 and whether or not the `Content-Length` header was present (lack of that header has meaning on HTTP/1 but HTTP/2 doesn't need or use the header)
2. We had others asking for per-context based configuration of the

[2020-03-05 02:32] olamy commented on #4638
so in case of an existing context server configuration is not read anymore I guess we need to fix the code or the doc :)

https://www.eclipse.org/jetty/documentation/current/configuring-form-size.html

[2020-03-05 14:30] mattiaslundstrom opened #4641 "Handling of minRequestDataRate is too fragile against short process delays"
**Jetty version**
9.4.21.v20190926

**Java version**
OpenJDK 64-Bit Server VM 18.9 (build 11.0.2+9, mixed mode)

**OS type/version**
Linux Mint

**Description**
When using minRequestDataRate, the algorithm is fragile against any short "stutter" or delay in the server process and may incorrectly reject valid requests depending on timing.

The code in question in HttpInput is
[code]
where the reques

[2020-03-05 16:09] TheWizz commented on #4637
Sorry to resurrect this thread. What if I want to have different setMaxTextMessageBufferSize for different websockets? Then I can't share the WebSocketClient, as this setting is on the WebSocketClient. Perhaps I can still share the underlying HttpClient, and that would save some overhead?

-JM

[2020-03-05 16:09] itselov commented on #4640
@joakime, thx for quick response.
Will try 9.4.27.v20200227 soon.

For the sake of experiment we downgrade our lab from OpenJDK (java-1.8.0-openjdk-1.8.0.232.b09) to Oracle JDK (jdk1.8.0_192-amd64) and issue no longer reproducible.

Can it be platform dependent?

[2020-03-05 16:41] mattiaslundstrom commented on #4641
I added a quick commit/pull request to illustrate the above suggested solution for the issue
https://github.com/eclipse/jetty.project/pull/4642

[2020-03-05 16:47] joakime commented on #4637
If you have questions, its best to either [open a new question](https://github.com/eclipse/jetty.project/issues/new/choose), [ask on stackoverflow](https://stackoverflow.com/questions/tagged/embedded-jetty), or to use the [jetty-users mailing list](https://accounts.eclipse.org/mailing-list/jetty-users).

The short answer to your question.

WebSocketClient is just the default value.
The Session is

[2020-03-05 21:12] olamy commented on #1511
@joakime sounds good for 10 :)

[2020-03-05 21:28] jmcc0nn3ll commented on #808
I don't think we want to reference anything from orbit in Jetty 10.  Anything lingering in the build should be redirected to a more appropriate maven coordinate.  Anything remaining because it is required specifically for osgi just makes the case that jetty osgi components need cut out of the build.  That is not to say stop making legitimate jetty artifacts osgi bundles, just anything beyond I que

[2020-03-06 01:07] #3323 closed

[2020-03-06 07:40] TobiX commented on #4529
The fix looks incomplete: It only removes the servlet from the text and json outputs, not he HTML output...

[2020-03-06 08:45] MatthijsEM commented on #4529
It appears one was missed. Also needs the `isShowServlet()` over here:

[code]

https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ErrorHandler.java#L419

[2020-03-06 10:34] sf-bit opened #4644 "no injection of env-entry if env-entry-value is whitespace only or missing"
In jetty-9.4.27.v20200227 (but presumably in all versions) values for environment entries that are defined in WEB-INF/jetty-env.xml (or similarly) are not injected if env-entry-value in WEB-INF/web.xml is whitespace only or missing. This does not depend on annotations, I only used injection-target in web.xml.

Hubspot does not let me upload the example webapp I prepared so I will only post excerpt

[2020-03-06 10:45] sf-bit commented on #4644
The culprit seems to be in https://github.com/eclipse/jetty.project/blob/jetty-9.4.27.v20200227/jetty-plus/src/main/java/org/eclipse/jetty/plus/webapp/PlusDescriptorProcessor.java:

[code]

[2020-03-06 10:48] joakime commented on #4644
That logic has been there since the beginning of Jetty's support for JNDI.
Why do you think this is invalid?

[2020-03-06 11:02] sf-bit commented on #4644
It's a violation of the spec, e.g. https://download.oracle.com/otn-pub/jcp/servlet-3.0-fr-eval-oth-JSpec/servlet-3_0-final-spec.pdf, page 158f: "The specified resource will be injected into the target during initialization of the class by either calling the set method for the target property or by setting a value into the name filed."

[2020-03-06 11:50] sf-bit commented on #4644
Additionally, from https://download.oracle.com/otn-pub/jcp/ejb-3.1-fr-eval-oth-JSpec/ejb-3_1-fr-spec.pdf, "16.4.1.3 Declaration of Simple Environment Entries in the Deployment Descriptor", page 436-440: "[...] If  the  Bean  Provider  provides  a  value  for  an  environment  entry  using  the  env-entry-value  element, the value can be changed later by the Application Assembler or Deployer. [...]

[2020-03-06 12:42] poochiethecat opened #4645 "Empty "X-Forwarded-Port" header results in NumberFormatException"
**Jetty version**
9.4.25.v20191220
**Java version**
OpenJDK build 1.8.0_232-09
**OS type/version**
Linux 4.15.0-74-generic #83~16.04.1-Ubuntu
**Description**
If the "X-Forwarded-Port" header is present but empty, a NumberFormatException is thrown:

`java.lang.NumberFormatException: For input string: ""`

This is likely not a correct state for the headers, but it would be nice to at least have a mo

[2020-03-06 12:51] mattiaslundstrom commented on #4641
My original diagnosis of the problem was incorrect. The theory was that there were multiple short reads with internal process delays between, but some additional debugging shows that this is not the case.

After doing some debugging, I can see that `HttpInput.addContent` is called with a zero size Content. (This is for GET requests so, no content is correct I guess)

So in `HttpInput.addContent` w

[2020-03-06 13:24] mattiaslundstrom commented on #4641
The more general question about timing sensitivity for the minRequest/ResponseDataRate can I think be handled in the older issue #4014

[2020-03-06 15:09] YeTingGe commented on #3711
I have similar issue with vertx+netty
In one of my env, the thread number keep increasing when I use vertx 3.8.3
When I swtich back to 3.7.1, everthing seems fine.

"vert.x-eventloop-thread-1" #21626 prio=5 os_prio=0 tid=0x00007fa8997cd000 nid=0x3fbe runnable [0x00007fa77e8b6000]
   java.lang.Thread.State: RUNNABLE
        at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
        at sun.nio

[2020-03-06 20:12] joakime commented on #4529
This is built into the standard servlet spec.
Just specify a `<error-page>` in your `WEB-INF/web.xml` such as ...

[code]

And make that HTML whatever you want it to be.
Such as an empty file.

[2020-03-06 20:24] hanlinlisumo opened #4646 "Recommend a jetty solution for clustered session management?"
**Jetty version**
9.4.19.v20190610
**Java version**
java 8
**Question**
We have a clustered web service running on Jetty. Session is sticky in the sense that the initial login can go to any node, but the subsequent requests all go to the same node where login happened. A user can log in on different devices/browsers and have active sessions on multiple nodes in the cluster.

We are trying to find

[2020-03-08 11:17] olamy opened #4647 "Hazelcast remote.xml configuration file do not configure hazelcast remote addresses"
issue from question #4636

[2020-03-08 11:17] olamy commented on #4636
This sounds to be an issue.
In the file hazelcast/src/main/config/etc/sessions/hazelcast/remote.xml can you try adding
`<Set name="configurationLocation"><Property name="jetty.session.hazelcast.configurationLocation" default="127.0.0.1" /></Set>`
Bug created here #4647

[2020-03-08 13:02] attiand commented on #4636
Yes, I have already tried that. I got the address issue solved with the XML configuration, however then I think I ran into this issue: https://github.com/eclipse/jetty.project/issues/3571. So I tried to configure the SessionDataSerializer in the XML as it is done in the default configuration `org.eclipse.jetty.hazelcast.session.HazelcastSessionDataStoreFactory`. But then I runned into class loadin

[2020-03-08 21:03] olamy commented on #4636
@attiand can you give us more details on your modified version of HazelcastSessionDataStoreFactory? Or maybe provide a pr so we can fix it for everyone?
Thanks

[2020-03-09 07:51] SerCeMan opened #4650 "Do not use ServiceLoader every time a WebSocketSession is created"
**Jetty version**
`9.4.27.v20200227`

**Java version**
[code]

**OS type/version**
`Ubuntu 18.04.4 LTS`

**Description**

Hey, Jetty Maintainers! After running a benchmark with a few thousands of WebSocket clients, we noticed in the CPU profile (it was also very noticeable in the allocation profile) that jetty scans jars looking for `org.eclipse.jetty.websocket.common.RemoteEndpointFactory` for ev

[2020-03-09 07:54] prateekkohli2112 opened #4651 "Too much time taken to send a DataFrame"
Below are jetty logs for communication over 1 jetty stream:

[code]

It seems that the time taken between sending the DataFrame and actually flushing it is too much.
Flushing time : 07:57:58.724
Sending time : 07:57:58.671

Difference :  53 ms

Is it the expected behavior or do I need to configure any buffers to reduce this time.

Thanks
Prateek

[2020-03-09 08:25] gregw commented on #4650
@SerCeMan Good catch!
I think a once only (perhaps not static - but maybe if no suitable lifecycle exists) is a good idea.  I PR would be most welcome.  @joakime and/or @lachlan-roberts can you give advice here as to the best way forward?

[2020-03-09 08:49] mattiaslundstrom commented on #4014
One additional problem with the read side of this implementation (ie minRequestDataRate handling) is that it is only measured on the data content. This gives some protection against a slow POST DoS attack, but no protection against a classical Slowloris attack where the client is sending the header data extremely slowly. It would be much better if the data rate could be measured for all network re

[2020-03-09 09:28] gregw commented on #4628
@sbordet  How is this different from the existing `[optional]` mechanism?

[2020-03-09 10:33] #4636 closed, assigned to nobody

[2020-03-09 10:53] gregw opened #4652 "WebAppClassLoader should protect ServiceLoader access of `META-INF/services` and `getResource()` lookups"
If a webapp uses the ServiceLoader, then the WebAppClassLoader should handle server classes by:
- not finding a resource  `/META-INF/service/org.some.Service` if `org.some.Service` is a server class
- filtering the content of any `/META-INF/service/org.some.Service` file so that any implementations listed within the file that are server classes are also removed

[2020-03-09 11:11] gregw commented on #4628
@sbordet has explained the difference to [optional].  An optional dependency is just ordered but not enabled - it has to be explicitly enabled by something else.
This mechanism is for real dependencies that might not exist, but if they do exist they are definitely enabled and ordered.

Thus my issue with this is the name - `NotRequired` is the wrong name as it implies optional.  I think `Condition

[2020-03-09 11:19] janbartel commented on #808
Anything that is referencing the orbit jars is doing so because their manifests are known to work.  I think these are mostly used in osgi, or for testing.

[2020-03-09 11:20] gregw commented on #4641
So is it OK to close this issue in favour of #4014?

[2020-03-09 11:23] gregw commented on #4014
It is possible for use to capture a timestamp of the very first select that relates to a request (ie as parsing is started).  The HTTP parser could then check the data rate easily enough as it is already tracking the header size to protect against large headers.   @sbordet could h2 do the same?

[2020-03-09 12:19] mattiaslundstrom commented on #4641
I think so. Closing and moving the discussion to #4014

[2020-03-09 12:19] #4641 closed, assigned to nobody

[2020-03-09 14:34] #4506 closed, assigned to janbartel

[2020-03-09 15:03] sbordet commented on #4651
Please report what Jetty version are you using. The logs you show are incomplete or important bits redacted out or you are using an old Jetty version.

[2020-03-09 15:18] sbordet commented on #4651
Very likely you are hitting the session flow control window.
The logs you reported are incomplete though, so difficult to tell.
Please report complete DEBUG logs.

[2020-03-09 15:59] janbartel commented on #4644
From the schema javaee-8.xsd for env-entry:

So, if jetty-env.xml did not exist - or the 3rd argument of the EnvEntry was `false` instead of `true` -  I'd argue that the code is currently correct.

However, as jetty-env.xml allows you to specify values that will _override_ those in web.xml (that 3rd argument!), then it does seem reasonable that the injection would be created and use the value from

[2020-03-09 16:01] sbordet commented on #4014
@gregw a HTTP/2 client that wants to send headers very slowly would have to use a `HEADERS` frame + `CONTINUATION` frames.
We should be able to record the unfinished `HEADERS` frame time and track the arrival of subsequent `CONTINUATION` frames.

[2020-03-09 16:25] sbordet commented on #4014
@mattiaslundstrom @gregw note also that a client sending the headers slowly is not a big problem, since we don't allocate a thread until we have all the headers.
So a client sending the headers slowly will just cause NIO to wake up, read and parse the little it sent, store that as (part of) a header, and go idle threadless again.
I don't think we should complicate things too much for slow headers

[2020-03-09 16:56] sbordet commented on #4014
For reads the current behavior is that we record the first timestamp `t0` when the first content arrives, and sum the bytes of content arrived (`C`) in `HttpInput.addContent()`.
Then, we check the rate inside `read(byte[], int, int)`.

In 9.4.x HTTP/1.1 we only trigger content arrival every time we read:

[code]

In 9.4.x HTTP/2 content arrives at any time and it's queued:

[code]

In Jetty 10.0.x

[2020-03-10 00:17] hanlinlisumo commented on #4646
@janbartel  would you be able to help take a look at this question, thanks!

[2020-03-10 00:33] #4647 closed, assigned to olamy

[2020-03-10 00:33] olamy commented on #4647
pr merged thanks!

[2020-03-10 01:37] pedro-abundio-wang opened #4653 "How do you use HTTP2Client send to POST parameters?"
**Jetty version**
9.3.3.v20150827
**Java version**
JDK 8u121
**OS type/version**

**Description**
How to post parameter using http2client

i have reading example code like :

https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/http2/client/HTTP2Client.html

and i want to know post parameter and i can receive those parameter in http2 server like

request.getParameter("key")

can you pro

[2020-03-10 02:25] pedro-abundio-wang commented on #4653
client code:

	public void post(String host, int port, String uri, String params) throws Exception{

        // Create and start HTTP2Client
        HTTP2Client http2Client = new HTTP2Client();
        SslContextFactory sslContextFactory = new SslContextFactory(true);
        http2Client.addBean(sslContextFactory);
        http2Client.start();

        // Connect to host
        FuturePromise<Sess

[2020-03-10 02:49] olamy opened #4654 "Hazelcast configurationLocation is not configurable via mod files"

[2020-03-10 08:33] sbordet commented on #4653
Use `HttpClient`:

[code]

[2020-03-10 10:05] #4507 closed, assigned to janbartel

[2020-03-10 13:06] janbartel commented on #4646
Well, there have been some fixes in more recent 9.4 versions of some race conditions that can happen with sessions and concurrent requests, so you should try upgrading to the latest and retesting with the NullSessionCache and deleting the session directly in the store. However, if you have multiple concurrent requests for the same session on the same node, each request will have its own copy of th

[2020-03-10 13:58] #2788 closed

[2020-03-10 14:16] gregw opened #4656 "XmlConfiguration cleanup"
Currently XmlConfiguration is a little irregular in what features can be attributes or elements.  This needs to be generalised in 10.

See good description of needed changes in #4659

[2020-03-10 14:16] joakime opened #4657 "Configure_10_0.dtd should be validated in jetty-xml"
Starting in Jetty 10.x we should enable XML+DTD validation in jetty-xml to present warning when the XML violates the DTD rules.

This validation exists, but is currently false in Jetty 9.4.x

[2020-03-10 14:17] joakime opened #4658 "Jetty XML should fail if there is a `<Arg>` misplaced"
I would like to see a test where there is a `Arg` misplaced, as below, so that we define in a test how we should behave.

[code]

_Originally posted by @sbordet in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0MzgyNjQxOTQ3/pull_requests/unread_timeline_

[2020-03-10 14:22] joakime opened #4659 "Jetty XML Configure_10_0.dtd should handle AttrOrElementNode behavior"
As a result of the work done in #4631 (PR #4632) the `<Configure>` element in the `Configure_10_0.dtd` doesn't not seem to have the same Attr or Element behaviors defined like `<Call>` and `<New>` have.

https://github.com/eclipse/jetty.project/blob/678385bfda0f90a0bcccf7f86aa272073c1b4f29/jetty-xml/src/main/resources/org/eclipse/jetty/xml/configure_10_0.dtd#L45-L46

https://github.com/eclipse/jet

[2020-03-10 14:29] joakime commented on #4656
See also #4657 and #4658 and #4659

[2020-03-10 16:49] gregw commented on #4658
Note that will currently fail with an ISE saying the "Arg was not skipped" - so I think the action is good, but the message could be improved.

[2020-03-10 16:50] gregw commented on #4659
Closed as duplicate of #4656

[2020-03-10 16:50] #4659 closed, assigned to nobody

[2020-03-10 16:56] gregw commented on #4657
Currently the parser defaults to validating if
`SAXParserFactory.newInstance().getClass().toString().startsWith("org.apache.xerces.")`

But it appears that the current implementation provided by the JVM is `com.sun.org.apache.xerces.`

[2020-03-10 18:20] sbordet commented on #4014
@gregw @lorban your thoughts?

[2020-03-10 23:03] hanlinlisumo commented on #4646
@janbartel  thanks for the reply! I'm now trying to make it check if lastSaveTime > 0 before writing to store, will update here once I have anything

[2020-03-11 00:29] jeffrey-easyesi opened #4662 "Jetty 9.4.21+ calls ServletContextListener.contextDestroyed() too early"
**Jetty version**
9.4.26.v20200117
**Java version**
OpenJDK 1.8.0_242
**OS type/version**
Ubuntu 18.04
**Description**
We have a web application using Jetty's WebAppContext. It uses a javax.servlet.ServletContextListener class provided by Spring (ContextLoaderListener) to create the main Spring container, which is depended upon by various Filters, Servlets, and a custom SessionCache.

Up to Jetty

[2020-03-11 01:04] lachlan-roberts commented on #4645
@poochiethecat we have decided it would be best to throw `BadMessageException`and return a 400 status code if a bad or empty port was provided in this header.

If you want a workaround to ignore this header you could configure a `HttpConfiguration.Customizer` such as [RewriteCustomizer](https://www.eclipse.org/jetty/javadoc/9.4.27.v20200227/org/eclipse/jetty/rewrite/RewriteCustomizer.html) in fron

[2020-03-11 03:16] #4571 closed, assigned to lachlan-roberts

[2020-03-11 04:25] prateekkohli2112 commented on #4651
Thanks for the reply.

I have attached the logs for a complete stream and also the MBean attributes.

[Stream_4372853_logs.txt](https://github.com/eclipse/jetty.project/files/4316004/Stream_4372853_logs.txt)
![Http2ClientMBean](https://user-images.githubusercontent.com/17244992/76382167-d2fbca80-637d-11ea-8655-76b3b7e707a9.PNG)
![HttpClientBufferPool](https://user-images.githubusercontent.com/1724

[2020-03-11 04:47] #4538 closed, assigned to lachlan-roberts

[2020-03-11 07:21] prateekkohli2112 commented on #4651
Jetty Version : 9.4.24.v20191120

[2020-03-11 09:03] sbordet commented on #4651
@prateekkohli2112 you have not reported the full DEBUG logs, so it's difficult to say anything about what's going on. Don't remove lines from the logs or we will be unable to understand what's going on.
Also, you should really print out also the thread name or id to better understand what thread does what.

One log line that is present is the following:

[code]

It says that the session flow contr

[2020-03-11 10:48] prateekkohli2112 commented on #4651
We are using tomcat server.

We changed the session flow control window to 655350 bytes, but still there is no improvement.

I am attaching the full logs and tcpdump.

tcpdumps are taken on port 1091.

[jettylogs.txt](https://github.com/eclipse/jetty.project/files/4317703/jettylogs.txt)

[tcpdump.zip](https://github.com/eclipse/jetty.project/files/4317662/tcpdump.zip)

[2020-03-11 11:31] sbordet commented on #4651
What does that mean? No improvements in what exactly?

Are you taking into account pauses due to GC?
Maybe that's what's slowing down your client, not HTTP/2.

[2020-03-11 12:26] sbordet commented on #4651
From your latest logs I don't see any slow down sending DATA frames.
I do see occasional 100+ ms pauses, but I think those are due to GC.

[2020-03-11 13:43] prateekkohli2112 commented on #4651
Below is our use case:

-  We have one Java embedded tomcat Http2 server which receives an http2 request and that request is transmitted to the jetty http2 client.

- This jetty http2 client forwards the request to another embedded tomcat server and receives the response.

As the load on the 1st tomcat increases, we can observe a dip in the throughput.

We are investigating this issue and looking

[2020-03-11 14:29] sbordet commented on #4651
It's unlikely that Jetty will cause any throughput issue since its HTTP/2 implementation powers others projects that require a very high throughput that would have noticed immediately if there was a problem.

Have you tried Jetty as a server?

[2020-03-11 17:06] manishpandeyhere commented on #4608
Sorry for delay!

If i understand your question correctly. you ask if we have replaced parser offlate to parse the nimble-vasa.xml.
We have not done so, in fact that is a configuration that we give to jetty and if I am not wrong Jettyu uses its parser to parse the config.

By the way, Can i please ask , how is this question related to Jetty reaching out to  w3 for validations DTD?

[2020-03-11 18:07] joakime commented on #4608
The XML parser can come from the JVM, or from a library (like Apache Xerces).

The loading of XML should be using our **XML Catalog** for Servlet and related specs to load the XML / DTD / XSDs from information present in the classloader or filesystem (never the network).

See: https://github.com/eclipse/jetty.toolchain/blob/master/jetty-schemas/src/main/resources/javax/servlet/catalog.xml

But for

[2020-03-12 02:38] lachlan-roberts commented on #4650
I don't think it will be easy to do without using the static, the only way I see of doing it would be to add a method to the `WebSocketContainerScope` interface which is not ideal. I don't imagine many people will be using the feature to provide a custom `RemoteEndpoint` anyway, and its not a feature in jetty-10.

I think the best way to do this is probably just as a static on the `WebSocketSessio

[2020-03-12 04:12] manishpandeyhere commented on #4608
Thanks!,

One of our customers have a problem as Jetty is reaching out to w3 on the network.

"But for w3.org, that would be more fundamental lookups of the basics for XML (like XMLSchema), that the JVM XML parser uses it's own catalog for."

Are you suggesting that changing configuration to point to file system, from where it loads the content , will stop the lookups happening to w3.org.Or are yo

[2020-03-12 07:41] pedro-abundio-wang opened #4665 "java.lang.IllegalStateException: No protocol factory for SSL next protocol: 'HTTP/2.0' in ServerConnector@1817d444{SSL,[ssl, h2]}{0.0.0.0:18002}"
**Jetty version**
9.4.26.v20200117
**Java version**
JDK1.8.0_u121
**OS type/version**
Windows
**Description**

Here is my code

[code]

On jdk8 i have already config -Xbootclasspath/p:F:\maven-repository\org\mortbay\jetty\alpn\alpn-boot\8.1.11.v20170118\alpn-boot-8.1.11.v20170118.jar

and got the following erorr on startup

Exception in thread "main" java.lang.IllegalStateException: No protocol fa

[2020-03-12 07:43] #4653 closed, assigned to nobody

[2020-03-12 09:08] sbordet commented on #4665
The problem is this line:

[code]

The correct name for the HTTP/2 protocol is `h2` not `HttpVersion.HTTP_2.asString()`.
Use this instead:

[code]

Note also that you are creating a connector that will only be able to speak HTTP/2 over TLS. This is called "HTTP/2 with prior knowledge" and clients may or may not be able to support this mode.

For example, `curl` supports it via `curl --http2-prior-

[2020-03-12 09:35] janbartel commented on #4662
Yes, I think your analysis is correct and the ServletContextListener.contextDestroyed methods are being called before the filters and servlets are destroyed. Working on a fix.

[2020-03-12 12:43] gregw commented on #4662
Here is an interaction diagram of our horrendously complex start/stop sequence, indicating where the mistake is and how we think it should be fixed.    This seriously needs to be simplified in a future major release!

![cdraw](https://user-images.githubusercontent.com/70829/76522663-3f9ec400-6467-11ea-8eb6-09a3490482ee.png)

[2020-03-12 18:06] Dean-J123 commented on #2010
I have a product that has two separate instances of Jetty (9.4.18) running (long history).  One is embedded, so I created the override SslContextFactory class and it works fine.  However, the other Jetty is a vanilla, unaltered copy of Jetty where we basically unpack the Jetty tarball and run start.jar, configuring everything via .xml and .ini files.  Is there a way to configure Jetty to use the c

[2020-03-12 18:10] joakime commented on #2010
@Dean-J123 be aware of the security reports against Jetty.

https://www.eclipse.org/jetty/security-reports.html

9.4.18 is subject to several of them.

[2020-03-13 11:45] siyuqxxx commented on #3891
same error and similar stack below:

[code]

[2020-03-13 12:46] sbordet commented on #3891
@siyuqxxx the stack trace only reports that the server has closed the connection, which is perfectly legit for a server to do at any time.

[2020-03-13 15:24] sbordet commented on #4665
Closing as I think this is solved. Please comment if you still have troubles.

[2020-03-13 15:24] #4665 closed, assigned to nobody

[2020-03-13 15:26] sbordet commented on #4585
@sadko4u news about the behavior of your system?

[2020-03-13 15:29] sadko4u commented on #4585
After Java update we haven't noticed rapid thread grow on our system.
I believe the topic can be closed if you won't implement possibility to use another thread shrinking strategy.

[2020-03-13 15:40] sbordet commented on #4585
@gregw I think we should discuss this further.

All the GC in modern versions of Java can now give back uncommitted memory to GC, so in cloud environment you can pay less if the server is idle.
Being able to control the decay rate of idle thread seems to be a good feature as it will reduce the memory needed by an idle server. Maybe for Jetty 10?

Note also that a reserved thread that expires goes

[2020-03-13 16:38] lorban commented on #4014
So you're basically suggesting to take both timestamps and checking them in the `HttpInput.read()` method?

This sounds like the most straightforward and reasonable method to me.

[2020-03-13 16:51] gregw commented on #4585
@sbordet The threadpool already has it's own idleTimeout, which can be configured to an aggressive small number if desired.  There is very little difference between shrinking 100 threads every 600ms vs 10 threads every 6000ms vs 1 thread every 60000ms.

The only tweaks that I can think of are:
 + making the idleTimeout of the RTE independent of the QTP timeout.  Perhaps having a large number of re

[2020-03-13 17:08] gregw commented on #4014
I can see a problem with this new approach.... ah but it also affects our current approach.     Ah but my idea for fix will solve both problems:
Consider receiving chunked content like:
[code]
If we block for some time waiting for this raw content, then the initial small chunk will be added and we'll read only 5 bytes, but the read could have taken a long time because the second chunk is really ra

[2020-03-13 17:25] hengah opened #4671 "CustomRequestLog throws NullPointerException when no request cookie is present"
This happens when the custom log format is configured to log an optional cookie.
For example: %{cookieName}C

The expectation is an '-' in the request log if the cookie is missing.
Instead we get a NullPointerException and nothing is logged to the request-log if no cookies exists on the request.

Stacktrace(sorry for the formatting):
[code]

It appears that there is missing a null-check in CustomR

[2020-03-13 18:09] sbordet commented on #4014
I don't understand this. The read does not take time because it's the read that triggers the read+parse of the chunk, so the read, if there is data, takes no time.

Checking before blocking is not correct, because it won't take into account the time we block, which we must.

Pseudo code:
[code]

[2020-03-13 18:22] sbordet commented on #4014
@gregw I don't see the problem.

I don't think reads take time if there is content, no matter how large it is.
If there is content, we copy it into the `byte[]` and return immediately.
Even if the application gives a `byte[1]`, but we have content available, we will have a very short time to just fill the array, so the rate won't be tripped, even if the application does `read() + sleep() + read()

[2020-03-13 18:24] sbordet commented on #4014
Also, if we have gzipped content, what do we measure as data rate? The gzipped content, or the ungzipped content?

[2020-03-13 18:35] sbordet commented on #4585
Closing then.

[2020-03-13 18:35] #4585 closed, assigned to nobody

[2020-03-14 18:06] knaccc commented on #2896
I think this is resolved now. I have a single jetty instance configured with two different webapps, each with its own domains and certificate. SNI was failing with Conscrypt 2.2.1 but seems to be working OK now with 2.4.0.

[2020-03-15 16:25] rhuitl opened #4673 "Short reads break form-data multipart parsing"
**Jetty version**
9.4.27

**Java version**
11, 13

**OS type/version**
Linux, MacOS

**Description**
The parsing of form-data multipart requests is broken in Jetty 9.4.27 (and probably earlier) when data cannot be read fast enough.

In my production setup, the problem occurs with requests where the multipart boundary stretches across the 1346 bytes that were available when the parser reads data fo

[2020-03-15 23:40] lachlan-roberts commented on #4645
Fixed with PR #4648.

[2020-03-15 23:40] #4645 closed, assigned to lachlan-roberts

[2020-03-16 00:28] lachlan-roberts commented on #4671
Yep you're right, we need a null check similar to what is being done in the method below `logRequestCookies`. But I don't think we can allow Request.getCookies to return an empty array instead, as it implements `HttpServletRequest.getCookies` and the javadoc says we must return null.

[2020-03-16 02:35] pedro-abundio-wang commented on #4665
Got it working.

Thanks for your help.

[2020-03-16 10:12] sbordet opened #4676 "ALPN support for Java 15"
**Jetty version**
9.4.x

**Java version**
15

**Description**
Add `alpn-15` file.

[2020-03-16 10:23] #4676 closed, assigned to nobody

[2020-03-16 10:54] prateekkohli2112 commented on #4651
Ours is a legacy application in which we have already used Tomcat server and cannot change.

We have kept the default values for Max requests queued per destination and max connections.

And we are creating a single client for all the traffic in jetty as per the HTTP2 RFC recommendation to keep only a single connection open with 1 host and port.

We have 1 more application in which we are creating

[2020-03-16 12:20] sbordet commented on #4651
Single connection per destination is only good for browsers (maybe).

If you are writing a proxy, or a load test, etc. you don't want to use a single connection because you will be severely limited by the session flow control window.

Don't configure Jetty's `HttpClient` with `maxConnectionsPerDestination=1`.
Either leave the default (64) or set it to a larger value.

Always use just one `HttpClie

[2020-03-16 13:41] leosun620 opened #4677 "use HttpClientTransportOverHTTP2 to send patch"
**Jetty version**
9.4.19.v20190610
**Java version**
12.0.2
**OS type/version**
windows10
**Description**
my code is:

[code]

the error logs is:
[code]

[2020-03-16 15:16] sbordet commented on #4677
You are missing `.scheme("https")` when you build the request.

[2020-03-17 00:03] #4671 closed, assigned to lachlan-roberts

[2020-03-17 01:47] leosun620 commented on #4677
it's useful ,thanks a lot.

[2020-03-17 01:47] #4677 closed, assigned to nobody

[2020-03-17 08:38] #4656 closed, assigned to gregw

[2020-03-17 08:38] #4657 closed, assigned to nobody

[2020-03-17 09:15] gregw commented on #4014
@sbordet Consider the following:
 + Data rate is set to 100 bytes per second.
 + The first read blocks for 10 seconds,
 + Data arrives that is a 1 bytes chunk followed by a 1000 thousand byte chunk.

With the current algorithm, on the first read parseAndFill will add the 1 byte chunk and we divide 1 byte by the 10s block and the data rate is failed.
With your proposal, the first read still blocks

[2020-03-17 09:17] gregw commented on #4014
With regards to gzip/transformations, I think we should check raw bytes.    So I propose that we check data rate of raw_bytes/total_time only before we block or schedule an async callback.

[2020-03-17 09:24] sbordet commented on #4014
@gregw I don't understand. If an application initiates a read where it blocks for 10s and after 10s it receives 1 byte only, that's exactly the case we want the min data rate to apply, as it is evidently an attack.

[2020-03-17 09:31] gregw commented on #4014
@sbordet but it didn't receive 1 bytes.  The client sent 1001 bytes plus chunking framing.  It was just an artefact of the transport framing and our implementation that does not aggregate chunks that we see those 1001 bytes  in 10 seconds as 1 byte after 10 seconds and 1000 bytes instantly after that.

[2020-03-17 09:49] gregw commented on #4014
Also note that we need to protect the initial read from short times as it will be very chaotic.
Also probably reset the total time if a 100 continues is sent.

[2020-03-17 10:14] sbordet commented on #4014
@gregw let me see if I understand; this is what you're proposing:

[code]
We never check when we have data to return to the application.
We only check if we are about to block (or schedule callback), so when there is no data.
The check is for the total raw content and total time, when total time > 1 s to avoid to trip the min data rate if the content is small but also the time is small.

We may ne

[2020-03-17 11:16] gregw commented on #4014
@sbordet That is indeed a problem, but I think it is a small one.      Essentially if the application is not reading fast enough so the pipe congests and then doesn't achieve it's data rate target, then it hasn't achieved it's data rate target.   Now this could be because of an evil client... or simply that because the app was slow then the TCP/IP and/or h2  flow control windows were never grown (

[2020-03-17 13:52] sbordet commented on #4014
I still don't like this. It's a mechanism to protect the server against bad clients, and basing the algorithm on what the server application does feels not correct.
We want to get rid of bad clients, not penalize weird/slow server applications.

Having said that, I'm not sure we can do better than what proposed here.

Perhaps we can adjust for application idleness? I.e. rather than counting time `

[2020-03-17 15:29] prateekkohli2112 commented on #4651
We have already kept 64 maxConnections and 1024 maxRequestsQueued per destination.

And we are using 1 HttpClient instance.

We have observed that as we increase the number of HttpClient instances, our throughput also increases.

[2020-03-17 16:19] sbordet commented on #4651
This is strange. If that's the case, you have something configured wrongly.

We have used one `HttpClient` instance to send tens of thousands of requests/s without throughput issues, if not hundreds of thousands. Is your throughput greater?

[2020-03-17 17:18] uschindler commented on #4621
I have the same problem. I have a simple standalone app just setting up a webapp context and it fails asap with this error. No code change anywhere, just update of jetty-uber.jar.

[2020-03-17 17:19] #2537 closed

[2020-03-17 17:21] uschindler commented on #4621
I tried to follow this issue: Will it be fixed in next point release, or is it won't fix?

[2020-03-17 17:25] joakime commented on #4621
@uschindler what happens if you don't use the uber classified artifact? but use the normal artifacts instead?

[2020-03-17 17:36] joakime commented on #4621
If you are using the combination of spring / spring-boot and activemq, you need to exclude `jetty-all` from activemq in your build.
It conflicts with the proper usage of jetty artifacts that spring/spring-boot uses.

Bug filed at ActiveMQ about this a while ago - https://issues.apache.org/jira/browse/AMQ-7364

[2020-03-17 17:42] uschindler commented on #4621
The problem here is that it has nothing to do with ActiveMQ. Here it's really a project not using Maven and just having the uber.jar in classpath.

I have another version working here that just uses a ServletContextHandler, this works without any problems. But As soon as you use a WebappContextHandler it breaks.

I will report back when I found out what's causing this. It looks like the uber JAR i

[2020-03-17 17:52] joakime commented on #4621
Since you are using a WAR, do you have jetty jars in your `WEB-INF/lib` or jetty classes in your `WEB-INF/classes` perhaps?

[2020-03-17 17:53] joakime commented on #4621
Are you changing the `WebAppContext` classloader or parentyLoaderPriority?

[2020-03-17 17:59] uschindler commented on #4621
Hi,
there is nothing in the single webapp deployed in the jetty. It's just a stupid AXIS 1.4 instance (for legacy reasons). The problem occurs on booting up.

But I figured out the problem: If you don't use the uber.jar file, all works fine (it has nothing to do with a WebappContext). With the Uber.JAR, I can also make the ServletContextHandler fail in same way.

It's plain simple: In Jetty 9.4.22

[2020-03-17 18:03] uschindler commented on #4621
So the fix is to remove the faulty META-INF/services/org.eclipse.jetty.security.Authenticator$Factory file which should not belong there. It's a bug as it lists a class which does not exist.

[2020-03-17 18:57] joakime commented on #4621
Opened PR #4679

[2020-03-17 22:40] lachlan-roberts commented on #4650
Fixed with PR #4664

[2020-03-17 22:40] #4650 closed, assigned to nobody

[2020-03-17 22:42] #2896 closed

[2020-03-18 02:57] prateekkohli2112 commented on #4651
No, we are expecting around 10,000 only.

But the throughput which we are getting is only 2-3k.

[2020-03-18 08:10] sbordet commented on #4651
You have not given enough information to help you more, sorry.

What's the `max_concurrent_streams` that the Tomcats send to the clients?
Can you enable JMX for Jetty's `HttpClient` and actually report how many connections are actually opened?

[2020-03-18 09:48] sbordet opened #4681 "OSGI tests fail with OpenJDK <next> (14, 15, 16, etc.)"
**Jetty version**
9.4.x and following

**Java version**
The next with respect to the current

**Description**
Every time there is a new OpenJDK version the OSGi tests fail.
We typically fix them for the current OpenJDK by updating ASM or SpiFly, but then as soon as there are builds available for the next OpenJDK, the OSGi tests fail again, and like this every 6 months.

This issue is _the_ where w

[2020-03-18 09:54] prateekkohli2112 commented on #4651
We have kept max_concurrent_streams as 200 and maxConnections have been changed to 100.

But I can see in the tcpdump that **only 1** connection is made to the destination. I do not how will these connections increase.

Below is the HTTPClient JMX output:

![HttpClientMBean](https://user-images.githubusercontent.com/17244992/76948091-98210600-692c-11ea-935b-c653a5839598.PNG)

[2020-03-18 09:59] sbordet commented on #4651
This is the `HttpClient` in the client, or the `HttpClient` in the proxy?

[2020-03-18 10:11] sbordet commented on #4651
The way connections are used in HTTP/2 is that one connection is opened and used until `max_concurrent_streams` is reached; after that, if another request is queued a new connection is opened, etc.

If your client is sending requests from a single thread sequentially, then only one connection will ever be opened (and only one stream will be active at a time).
If your client is sending requests but

[2020-03-18 11:25] sbordet commented on #2010
@Dean-J123 sorry but it's unclear what you are doing, it's unclear what does not work and from your comment not clear if it is related to this issue?

[2020-03-18 16:01] prateekkohli2112 commented on #4651
I am attaching the JMX output below. Only 1 HttpConnection is made in our case as per the JMX output.

Also, we have observed that in jetty 9.4.8 version multiple connections were established at the start (i.e. it did not wait for the max_concurrent_streams to reach its max value) but only 1 of them was being used to sent the requests.

But in 9.4.24 version only 1 connection is established at the

[2020-03-18 16:09] sbordet commented on #4651
This was issue #2293 that we fixed.

If you are waiting for the response before sending the next request, then you only ever have 1 outstanding request at a time, and therefore just 1 HTTP/2 stream, and therefore you will never open more than 1 connection because you will never reach `max_concurrent_streams`.
And if you are waiting for the response before sending the next request, you are not meas

[2020-03-18 16:32] prateekkohli2112 commented on #4651
Due to our design constraint we are sending synchronous requests to jetty client using **50** threads.

Even if we use Jetty's asynchronous API we will have to use synchronous listeners in our design.
Do you still think will it improve the overall throughput.

[2020-03-18 17:09] sbordet commented on #4651
50 threads means at most 50 concurrent requests/streams.
Not enough to pass the `max_concurrent_streams` which you set at 200, so you will always have just 1 connection.

You are not measuring throughput, but latency.

The number you are getting is not something that represents the throughput (as in max number of requests/s) of your system.

If you are interested, you can contact [Webtide](https:/

[2020-03-18 21:54] lachlan-roberts commented on #4673
@rhuitl thanks for reporting this. We now have a fix for this merged into the jetty-9.4.x branch (#4680), and this will available in the 9.4.28 release.

[2020-03-18 21:54] #4673 closed, assigned to lachlan-roberts

[2020-03-18 22:09] rhuitl commented on #4673
Thanks @lachlan-roberts! As far as I can see, only the new `MultiPartFormInputStream` (RFC7578 compliant) implementation is using `SearchPattern`, the old legacy (but still default) `MultiPartInputStreamParser` does not. Just want to confirm that this is not an oversight on my end, because I'd have to make adjustments to use the new implementation then.

[2020-03-18 22:28] lachlan-roberts commented on #4673
@rhuitl yes that's correct, you will have to update your code to use `MultiPartFormDataCompliance.RFC7578` to get the fix for this.

In Jetty-10 the LEGACY version has been removed completely, and there are also some other known issues with it, so I would recommend updating to use the new version anyway.

[2020-03-19 08:38] hanswesterbeek opened #4682 ""UnreadableSessionDataException Unreadable session ..." after upgrading to 9.4.27"
**Jetty version** 9.4.27.v20200227

**Java version** openjdk11

**OS type/version** centos

**Description**

After upgrading from 9.4.25.v20191220 to the above, we often see Warnings like this in our logs:
`UnreadableSessionDataException
Unreadable session node0q5obwgxy5xig1pk5hkb6lpdbp7 for node0__controlroom_0.0.0.0`

Stacktrace below shows a regular request, but this also occurs when the `House

[2020-03-19 08:41] sbordet commented on #4443
@AlanBateman FYI this is now complete. We use reflection to detect whether the new APIs are available and use them if so.

The [Jetty ALPN Agent](https://github.com/jetty-project/jetty-alpn-agent) has been updated to 2.0.10 to support all Java 8 versions, including 8u252 and later.

No more releases for the [Jetty ALPN boot library](https://github.com/jetty-project/jetty-alpn) since they are not r

[2020-03-19 08:41] #4443 closed, assigned to nobody

[2020-03-19 08:59] hanswesterbeek commented on #4682
Possibly related to #4528

[2020-03-19 09:37] janbartel commented on #4682
I think you're just now seeing the exception that was hidden before by bug #4528
Seems like the input stream of the attribute blob from the db is being truncated such that the jvm can't even read the first byte to check that it's a serialized object.

A few things:

* turn on DEBUG level logging for org.eclipse.jetty.server.session and repost the log output
* post any configuration settings for yo

[2020-03-19 10:16] hanswesterbeek commented on #4682
First I'll answer the questions, then move onto getting more data (eg logs).

Yes we have sticky sessions on two nodes, but that is not my first suspect.

Upon closer inspection I found out that the codeI do suspect some of the code that sets up the configuration (the code I inherited does this programatically).

Thank you for your quick reply. So I know believe that this is caused by an imperfect

[2020-03-19 10:57] janbartel opened #4683 "jetty-slf4j-impl has incorrect manifest"
**10.0.0**

The manifest for the new jetty-slf4j-impl has incorrect/missing manifest entries that would make the logging work in osgi.

[2020-03-19 11:21] hanswesterbeek commented on #4682
I've just found a session object with empty session data.

[code]

That would indeed lead to the exception above.

What can cause this situation to occur?

[2020-03-19 14:38] hanswesterbeek commented on #4682
I am also seeing occurances of #4520 in my logs

[2020-03-19 15:07] janbartel commented on #4681
_Edit: I started writing this here, but I think it's better if I put this content into the new jetty-osgi/test-jetty-osgi/README.txt file that is part of PR #4683._

There are generally only ever 2 things wrong with the jetty/osgi interworking:

1. you've added or changed an existing jetty-whatever subproject to use the java ServiceLoader, but you haven't put the right entries into the jar's manif

[2020-03-19 15:29] joakime commented on #4683
Opened issue at slf4j too - https://jira.qos.ch/browse/SLF4J-488

[2020-03-19 15:32] janbartel commented on #4682
@hanswesterbeek  a 0 length for the attributes map is not necessarily a problem. If the map contains no attributes, then we write an array of length 0 to the db for that column. It's only a problem if you're expecting there to be attributes.

You'll have to enable DEBUG logging for sessions, and trace through the lifecycle of these sessions, and correlate them with the content of the database.

[2020-03-19 15:32] joakime commented on #4520
Jetty 9.4.27.v20200227 has been released.

[2020-03-19 22:06] sbordet opened #4685 "jetty-util must not depend on jetty-slf4j-impl"
**Jetty version**
10.0.x

**Description**
`jetty-util`'s POM has a dependency on `jetty-slf4j-impl`.

This is wrong because embedded application that use `jetty-util` but also SLF4J with another binding (e.g. LogBack) will now have 2 bindings in the classpath and the logging system won't be configured properly.

The `module-info.java` is correct since it only requires the SLF4J API.

The `jetty-ut

[2020-03-19 22:09] joakime commented on #4685
Should I include `jetty-slf4j-impl` in `jetty-all`?

[2020-03-19 22:24] sbordet commented on #4685
Is `jetty-all` still a thing in 10? I thought we were removing it.

[2020-03-20 10:21] #4382 closed, assigned to nobody

[2020-03-20 17:03] tipsy opened #4687 "Possible bug in WebSocketServlet session"
**Jetty version**
9.4.25.v20191220

**Java version**
Any

**OS type/version**
Any

**Description**

In my code-base, I have been running this for a long time:

[code]

In the code above, `httpServlet` is a `javax.servlet.http.HttpServlet`, and `wsServlet` is a `org.eclipse.jetty.websocket.servlet.WebSocketServlet`.
The first line of the `ServletContextHandler` for the `httpServlet` checks if the r

[2020-03-20 17:04] #4685 closed, assigned to joakime

[2020-03-20 17:38] joakime commented on #4687
You have 2 different `ServletContextHandler` setup.
Which means you have 2 different Session scopes too.
And you can't have the same context path. (as once you enter a ServletContextHandler you generally don't exit, with rare exception).

You don't have to do that.
Use one ServletContextHandler.

I see 2 choices with this approach.

**Option 1:**

You can use the `WebSocketUpgradeFilter` (my prefe

[2020-03-20 17:58] tipsy commented on #4687
Thanks @joakime, I want you to know I really appreciate all the effort you put into your replies.

I trust you when you say that it's wrong to have 2 `ServletContextHandler` objects, but I really wish Jetty could tell me that instead. The fact that everything related to the session is the same (except the session attributes) is also very confusing to me. Shouldn't my `WebSocketServlet` then return

[2020-03-20 19:27] #3935 closed

[2020-03-21 02:01] dhawal96 commented on #4682
@hanswesterbeek @janbartel +1 to this issue as I am also seeing the same java.io.EOFException exception after testing Jetty version 9.4.27.v20200227 and I am also seeing empty session data in the map column. Note that if I downgrade to a lower Jetty version, re-running the same steps for my application does not show empty session data in the serialized bytes from the map column.

[2020-03-21 10:36] janbartel commented on #4682
@dhawal96 let me repeat that since 9.4.21 you wouldn't have seen any exceptions when trying to write the session, but the failed write would result in the removal of the row, so everything would seem normal.

Can both you and @hanswesterbeek check your database logs and see if there is anything happening at the time of the session write (that could cause the 0 length) and at the time of the sessio

[2020-03-21 11:26] janbartel commented on #4682
Ah! I think I see a problem: we changed the handling of how we write out sessions to include classloading information in #2932 . As part of that change, we write out 0 bytes if there are no session attributes, but when we need to read the the session attributes, the classloading handling is unable to read the zero bytes as an empty object. I'm working on a fix.  Thanks for persisting with this iss

[2020-03-21 13:34] janbartel commented on #4682
@hanswesterbeek and @dhawal96  if either of you have a test bed, please checkout the fix associated with PR #4688, build and verify it's good.

[2020-03-21 18:49] joakime commented on #4620
This fix didn't get merged to Jetty 10.0.x properly.

[2020-03-21 19:03] joakime opened #4690 "Allow DistributionTester to work with log files, not just System.err"
**Jetty version**
10.0.0

**Description**
The current `DistributionTester` checks on progress of the actions against the Distribution by looking at the output on System.err

But if we want to test logging behaviors, such as `console-capture` or `log4j1` with a log file, then we cannot use the `DistributionTester` as it is today.
Being able to give the `DistributionTester` a log file to interrogate

[2020-03-22 14:32] sbordet opened #4691 "Use MethodHandles.lookup() consistently in WebSocket code"
**Jetty version**
10.0.x

**Description**
Usage of `MethodHandles.lookup()` and all its variants needs to be done consistently in WebSocket classes.

Particular care must be taken when method handles are looked up in application classes - usage of `MethodHandles.publicLookup().in(...)` is probably best in that case as we want to separate the various lookups for every webapp with a different class

[2020-03-23 02:05] cowwoc opened #4693 "Version 9.4.25 breaks binary compatibility by renaming Response.closeOutput()"
**Jetty version**
9.4.25.v20191220

**Description**
Version 9.4.24.v20191120 contains `org.eclipse.jetty.server.Response.closeOutput`. Version 9.4.25.v20191220 removes it. The method was never deprecated and the changelog did not mention this change.

Consequently, downstream packages fail at runtime:

[code]

Consider restoring this method or at the very least documenting a migration path.

[2020-03-23 02:13] cowwoc commented on #4693
I tracked this down to https://github.com/eclipse/jetty.project/commit/c5acf965067478784b54e2d241ec58fdb0b2c9fe#diff-03fcd9b9e322e2bb4fdb46f2bbea27b3 which renamed the method from `closeOutput()` to `completeOutput()`. Consider restoring the original method, deprecating it, and delegating to the new method name.

[2020-03-23 08:16] hanswesterbeek commented on #4682
@janbartel That's great. I don't have a non-risky way of verifying this but I think your diagnosis and solution are pretty conclusive.

Looking forward to .28.

[2020-03-23 08:35] olamy commented on #2676
give this more time but we need it

[2020-03-23 08:39] gregw commented on #4014
I believe I convinced simone on a hangout of the approach I'm suggesting (checking total_data/total_time only when about to block), but for completeness I'll respond to his comment above.

This mechanism is to protect against a bad client, but that doesn't mean we have to check before every read.   The badness we are protecting against is a deliberately slow client blocking lots of application thr

[2020-03-23 09:31] prateekkohli2112 commented on #4651
Thanks for the help, will surely consider this.

Just 1 question, is it possible to open static connections to Http2 server, i.e. open 2-3 connections while creating the HttpClient object, before calling the request.send() method and use those connections to then send all the subsequent requests.

[2020-03-23 09:34] gregw commented on #1056
The CookieCutter class already has a cache of cookies in the CookieCutter, which works for Request objects recycled within a connection.   This is fine for HTTP1, but doesn't work for h2 as the HttpChannel is not recycled.    I think we'd be better off working out how to recycle the HttpChannel in h2 and leaving this cache as is

[2020-03-23 09:34] #1056 closed

[2020-03-23 09:36] prateekkohli2112 commented on #4651
I am using the below API:

HTTP2Client jettHttp2Client = new HTTP2Client();
SslContextFactory sslContextFactory = configureSSL(certificateLocation, certificatePassword,
                endpointIdentification);

jettHttp2Client.setSelectors(1);
jettHttp2Client.setExecutor(new QueuedThreadPool(400));

HttpClientTransportOverHTTP2 httpClientTransportOverHTTP2 = new HttpClientTransportOverHTTP2(jettHt

[2020-03-23 09:37] gregw opened #4695 "HttpChannel recycling in h2"
Currently `h2` does not recycle the `HttpChannel`.   This does create more garbage and also invalidates the `Cookie` caching done in `CookieCutter` (see #1056 )

It is unclear why recycling is not done in h2.  If it is not possible, then a definitive reason should be known.
We probably also need to do some benchmarks to see if HttpChannel recycling is still beneficial.

We should either recycle fo

[2020-03-23 10:06] sbordet commented on #4651
There is a `RoundRobinConnectionPool` that you can use that will select connections using a round-robin algorithm.

[code]

where `N` is the numbers of connections you want.
Note that this will always use a different connection for sequential requests - it may or may not be what you want.
There is also a risk that you are maxing out the connections and may spend time in the connection pool trying

[2020-03-23 10:15] janbartel commented on #4591
Thanks @kandrej for the PR and the collaborative tweaking ;) I've committed it to 9.4.x branch.

[2020-03-23 10:15] #4591 closed, assigned to janbartel

[2020-03-23 11:21] ManiMozhiGayathri opened #4696 "RST_STREAM is set to HTTP2 requests when connection is not available between the client and server."
Jetty Version : 9.4.19
Java version : Java 8
Description : When the client IP is down for few minutes and once its up and running all the requests generated in the downtime has rst_stream been set in the requests. Why is this happening and how to not have rst_stream been added to the requests during the downtime.

[2020-03-23 11:58] sbordet commented on #4696
HTTP/2 is based on TCP, so if your TCP connection is down while you have outstanding requests, the server won't be able to send back responses, so the requests will fail.
If the request is trying to be sent while the client has no network access, well then the request fails to be sent and it's failed.

Why are you surprised that if you don't have a network your requests fail?

[2020-03-23 12:31] tipsy commented on #4687
I tried the alternative suggestion, and I'm pretty happy with how the code for that looks. I give my `WebSocketServlet` the `HttpServlet`, and I switch between them in the `service` method:

[code]

[2020-03-23 13:23] joakime commented on #4687
WebSocketServlet already does that for you.

See: https://github.com/eclipse/jetty.project/blob/jetty-9.4.27.v20200227/jetty-websocket/websocket-servlet/src/main/java/org/eclipse/jetty/websocket/servlet/WebSocketServlet.java#L155-L177

https://github.com/eclipse/jetty.project/blob/a304fd9f351f337e7c0e2a7c28878dd536149c6c/jetty-websocket/websocket-servlet/src/main/java/org/eclipse/jetty/websocket/s

[2020-03-23 13:30] joakime commented on #4687
One important thing to recognize from the example code, is that **I do not give websocket the HttpSession object**.

This is important, as HttpSession belongs to HTTP and once you are upgraded to WebSocket, you are no longer HTTP.
All HTTP objects are free to be recycled by the container (and we do).
That includes the HttpServletRequest, the HttpServletResponse, the HttpSession, security contexts,

[2020-03-23 13:36] #4620 closed, assigned to joakime

[2020-03-23 14:13] ManiMozhiGayathri commented on #4696
HTTP2 client Application is sending requests every 30 seconds and if the server connection is down for 2 minutes all the requests are getting accumulated and then been sent with RST_STREAM instead I would want the requests to removed after conection timeout.

Though server can process multiple requests with RST_STREAM, I dont want to send the request with RST_STREAM and only would like to have the

[2020-03-23 14:27] sbordet commented on #4696
Sorry, you first said that it was the client IP down, but now it's the server that is down.
You are not specifying if you are using the Jetty client, or the Jetty server, or both.

Requests are not "sent with RST_STREAM", so I don't understand what you mean there.

Please provide a way for us to reproduce the problem with actual code.
Alternatively, provide both client and server DEBUG logs.

[2020-03-23 14:42] janbartel opened #4697 "Default and EffectiveSessionTrackingModes should throw UnsupportedOperationException"
**jetty 10.0**

According to the Servlet Spec, ServletContext.getDefaultSessionTrackingModes and ServletContext.getEffectiveSessionTrackingModes should throw an UnsupportedOperationException if they are called from ServletContextListener.contextInitialized() for a ServletContextListener that was programmatically added.

[2020-03-23 15:05] ManiMozhiGayathri commented on #4696
Client Server Details : Jetty HTTP2 Client and Tomcat/anyother Server.

Client side configurations - > Connection timeout 2 seconds, Idle timeout -> 30 seconds.

Step to reproduce :
1. Client is sending  http requests every 30 seconds.
2. Start collecting pcap.
3. Do ifconfig down for 2 minutes in Client side.
4. Do ifconfig up.

If we see in pcap 3 requests with RST_STREAM and one request with pr

[2020-03-23 15:29] sbordet commented on #4696
Sorry it's still not clear what you are doing, what you are seeing and what you expect to see instead.
If you see a RST_STREAM frame, it means that your connection is not down like you think it is.

Please client DEBUG logs and pcap (only if it's decrypted or can be decrypted).

[2020-03-23 15:41] mehdi-vaadin opened #4699 "ServletContainerInitializer.onStartUp is not called with maven jar packaging using Jetty Maven Plugin"
**Jetty version**
9.4.27.v20200227

**Java version**
JDK 1.8

**OS type/version**
macOS 10.15.3

**Description**
I have a class implementing `ServletContainerInitializer` annotated with `HandleTypes` annotation in a jar library. It handles classes annotated with `MyAnnotation`. In my main web app project, which also has `jar` packaging, I have classes annotated with `MyAnnotation` annotation. When

[2020-03-23 16:00] joakime commented on #4699
Why do you have JAR packaging for a webapp?  I want to understand your usecase better.

[2020-03-23 16:06] gregw commented on #4693
Sorry about that  - we don't really have a good boundary of what are internal methods and are thus changeable in a dot release.   Obviously we got it wrong on this one.
Reverted.

[2020-03-23 16:06] #4693 closed, assigned to gregw

[2020-03-23 16:07] mehdi-vaadin commented on #4699
@joakime thanks for your quick response. In component projects, which have Jar packaging, we don't create another module for integration tests. Instead, we put required classes for testing purpose in the test folder and use the following config for the Jetty Maven plugin:

[code]
You can see an example of such kind of projects here: https://github.com/vaadin/component-starter-flow.

[2020-03-23 16:10] joakime commented on #4693
Out of curiosity, can you explain why are you using `Response.closeOutput()`?
I ask, as there might be a much more reasonable API choice for you to accomplish the same end goal (and more properly).

[2020-03-23 17:03] janbartel opened #4700 "ServletContext.createXXX() methods should throw UnsupportedOperationException"
**jetty 10.0x**

According to the spec, the ServletContext createListener(), createServlet(), createFilter() methods should throw UnsupportedOperationException if they are called from a ServletContextListener that has been programmatically added.

The javadoc also implies that ServletContext.createListener() is allowed to create an instance of ServletContextListener from a ServletContextListener,

[2020-03-23 17:28] janbartel commented on #4699
The problem appears to be at this line: https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-maven-plugin/src/main/java/org/eclipse/jetty/maven/plugin/JettyRunMojo.java#L485

This line was added in this commit: https://github.com/eclipse/jetty.project/commit/4c11f245c975ace3773c00d502cc37aaea634f5c
@olamy did you know why this line might have been added?

[2020-03-23 17:37] cowwoc commented on #4693
@gregw No worries.
@joakime I'm just a user of the jersey library. I'm not sure why the author chose to use that method. Sorry I couldn't be of more help. I suggest asking at https://github.com/eclipse-ee4j/jersey/

[2020-03-23 18:01] tipsy commented on #4687
Thank you for your support @joakime, I have a solution now that I'm happy with.

I still think that it's weird that the second `ServletContextHandler` I used to have in my old solution was able to get the `HttpSession` itself and call most methods on it, but not able to access the session-attributes.  I can live with it though, if having two `ServletContextHandler` objects isn't supposed to be sup

[2020-03-23 18:01] #4687 closed, assigned to joakime

[2020-03-23 18:12] joakime commented on #4693
Here's the Jersey usage ...

https://github.com/eclipse-ee4j/jersey/blob/master/containers/jetty-http/src/main/java/org/glassfish/jersey/jetty/JettyHttpContainer.java#L323-L335

That seems wrong to me.
@gregw perhaps we need to file an issue at Jersey about that.

[2020-03-23 18:14] joakime commented on #4693
Wow, Jersey is even using `org.eclipse.jetty.continuation.Continuation`!

[2020-03-24 00:41] olamy commented on #3332
@mironbalcerzak  this generate https://github.com/eclipse/jetty.project/issues/4699

[2020-03-24 01:51] #4654 closed, assigned to olamy

[2020-03-24 08:55] ManiMozhiGayathri commented on #4696
From the client side we are bringing the network interface down. Post which the requests generated from client side are having rst_stream in their requests.
Which we do not want to be present in the request from client.

Please find the pcap image for you reference.

![CapturedPcap](https://user-images.githubusercontent.com/62544342/77406834-402a4980-6ddb-11ea-92e3-ffaa0169d618.jpg)

Below are few

[2020-03-24 09:16] sbordet commented on #4696
Sorry, I cannot understand who's sending the RST_STREAM. To me it seems that your client interface is not down, the client is sending requests, but the server rejects them with a RST_STREAM.
Please look in the pcap for the source IP/port pair to understand who's sending what.

DEBUG logs?

[2020-03-24 09:26] prateekkohli2112 commented on #4651
Thanks, but still it did not improve.

I have 1 different question.
Is there any way in which we can configure the max number of streams for a connection at client end.
So that after this stream count is exhausted a new connection is automatically established. I know maxConcurrentStreams is a server property. But is there any way I can just restrict the max stream Id count, so that the stream coun

[2020-03-24 10:14] sbordet commented on #4651
I believe you are looking in the wrong place. Your initial problem was "slow" sending of DATA frame. From the DEBUG logs you provided, that was not the problem, or it was a GC issue, not a HTTP/2 issue.

You are complaining about a generic throughput problem, but I have yet to see a concrete issue about that. You are using a limited number of threads on the client, there is no information about th

[2020-03-24 12:40] gregw commented on #746
See also #4542

[2020-03-24 12:42] gregw commented on #4542
I want to work on something fixable for a bit.... so I'll take this one back.

[2020-03-24 13:05] ManiMozhiGayathri commented on #4696
I don't have the debug level logs. But could you provide answers for below queries.

When will RST_STREAM be sent in requests from the client ?
What happens when connection timeout or idle timeout occurs in client side ?
Would that create new connection on connection timeout or idle timeout ?

[2020-03-24 15:14] janbartel opened #4707 "Value for ServletContext.setSessionTimeout is wrong in StandardDescriptorProcessor"
**jetty-10.0.x**

o.e.j.webapp.StandardDescriptorProcessor.visitSessionConfig() method is incorrectly multiplying the value of the session-timeout from web.xml by 60 to convert to seconds before calling ServletContext.setSessionTimeout(), which is in fact expecting minutes.

[2020-03-24 15:37] sbordet commented on #4696
In a few number of situations, due to a number of reasons.

The in-flight requests are canceled via a RST_STREAM, and a GOAWAY is sent to the server.

I don't understand this one.

They will show _exactly_ what's going on, saving us both a lot of time.

[2020-03-24 15:46] sbordet commented on #4603
@lachlan-roberts as per our discussion, I would like to understand better why the NPE happens (what race triggers it) before a fix is attempted. Then maybe the fix is the same, but at least we know what it is.

Please document in this issue what is the race.

[2020-03-25 03:10] lachlan-roberts commented on #4691
fixed in PR #4694

[2020-03-25 03:10] #4691 closed, assigned to lachlan-roberts

[2020-03-25 03:14] lachlan-roberts commented on #4340
fixed with PR #4602

[2020-03-25 03:14] #4340 closed, assigned to lachlan-roberts

[2020-03-25 05:12] dsyzhu opened #4709 "loadSystemClasses() got inconsistent results"
Hi,

I have a question about loadSystemClasses().

We are trying to add customized system classes.

https://github.com/eclipse/jetty.project/blob/jetty-9.3.x/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/WebAppContext.java#L806

If server is null we got default set.

If not null we got the set customized.

Is this expected? If not what could be the reason? How to fix it?

Thanks

[2020-03-25 10:16] #4697 closed, assigned to janbartel

[2020-03-25 10:17] #4700 closed, assigned to janbartel

[2020-03-25 12:10] gregw opened #4711 "Reset trailers on recycled response"
+ https://jenkins.webtide.net/job/nightlies/job/servlettck-run-jetty-10.0.x/361/testReport/com_sun_ts_tests_servlet_api_javax_servlet_http_httpservletresponse40_Client/java/TrailerTest/
 + https://jenkins.webtide.net/job/nightlies/job/servlettck-run-jetty-10.0.x/361/testReport/com_sun_ts_tests_servlet_api_javax_servlet_http_httpservletresponse40_Client/java/TrailerTestResponseCommitted/
 + https:/

[2020-03-25 12:13] gregw commented on #4711
[code]

[2020-03-25 12:20] gregw commented on #4711
I've also noted that sending and error has not reset either the transfer-encoding nor the trailers themselves!

[2020-03-25 13:47] janbartel opened #4713 "AsyncContext.dispatch does not remember the query string of the request"
**jetty-10.0.x**

TCK test com/sun/ts/tests/servlet/api/javax_servlet/asynccontext/URLClient.java#forwardTest1 fails. The test does a forward dispatch to a url like: "/AsyncTestServlet?testname=forwardDummy1". Inside the forward, Request.startAsync() is called followed by a AsyncContext.dispatch(). The URI that is used for the dispatch does not include the query string ?testname=forwardDummy1, cau

[2020-03-25 14:23] sbordet commented on #4711
@gregw trailers done, but `Transfer-Encoding` (or anything else) not done, so I'm leaving this issue open.

[2020-03-25 20:52] swankjesse opened #4714 "Low setMaxConcurrentStreams causes "1/unexpected_data_frame" errors"
**Jetty version**
9.4.27.v20200227,
HEAD as of this message 528d6088605d49e56af2c7287b055b6c732a611e

**Java version**
openjdk version "11.0.6" 2020-01-14

**OS type/version**
macOS 10.15.3

**Description**
We’re using a deliberately low max concurrent streams in our HTTP/2 connections. We have a large number of servers, a small number of clients, and keeping the concurrent streams low helps to ba