[2022-02-23 15:26] sunng87 opened #7643 "Unconsumed content for http/3"
**Jetty version(s)**
10.0.8 and current HEAD version on default branch

**curl version**
[code]

**Java version/vendor** `(use: java -version)`
11

**OS type/version**
Linux

**Description**
Not sure if this is an issue with jetty or curl. Using `curl --http3 ` always end up with body unread from jetty http3 server.

The curl output for requesting a demo server, written with jetty-http3 and should

[2022-02-23 16:02] gregw commented on #7643
The basic issue here is that jetty will does not like servlets/applications that do not read the whole content of a request.    Jetty will make an attempt to read any unconsumed content, but if that reading stalls, then we reset the connection.  So firstly, perhaps this behaviour is not necessary in h3, where the content is easier to ignore without blocking.

However, the strange thing is, that fr

[2022-02-23 17:24] lorban commented on #7643
The `IOException: Unconsumed content` is a red herring: this exception is only printed at `DEBUG` log level and only to indicate the original cause of the `consumeAll` call; it's not indicating an error of any kind.

The real problems seems to be that for whatever reason, curl could not or did not read the 8 bytes of the response as I understand from that line:
[code]

Since the quiche client seem

[2022-02-23 18:11] joakime opened #7645 "Update copyright range in `jetty-12.0.x`"
**Jetty version(s)**
12.0.x

**Description**

The copyright range in the `jetty-12.0.x` branch is still ending in 2021. need to update it.

[2022-02-24 00:00] #5009 closed, assigned to nobody

[2022-02-24 00:00] #4993 closed, assigned to nobody

[2022-02-24 02:14] cowwoc opened #7647 "Document org.eclipse.jetty.client.Socks4Proxy "secure" parameter"
**Target Jetty version(s)**

11.0.8

**Enhancement Description**

Socks4Proxy has a constructor that takes a `boolean secure` argument. I'd love to understand the implication of `true` and `false` values for this parameter. All I know is that when I set `secure=true` I am no longer able to tunnel through a SOCKS proxy :)

First, I'd like to understand what's insecure about `secure=false`. Secondly

[2022-02-24 04:28] olamy commented on #7636
nah it's silently ignored (even with debug level)

[2022-02-24 05:13] avin15cs opened #7648 "Steps to trace embedded jetty logs using log4j2."
**Jetty version**
9.4.45
**Java version**
11.0.5
**Question**
What is the correct step to trace embedded jetty logs using log4j2? I went through jetty documentation but exact steps where not mentioned.

Thanks.

[2022-02-24 06:08] olamy commented on #7648
maybe it would be better to use slf4j on the top of log4j2.
I have just added an example here https://github.com/jetty-project/embedded-jetty-logging-examples/tree/jetty-9.4.x/slf4j-log4j2-logging

[2022-02-24 09:56] janbartel commented on #7636
Closing as this problem has been resolved (old plugin configuration).

[2022-02-24 09:56] #7636 closed, assigned to nobody

[2022-02-24 10:50] joakime commented on #5006
Closing as this appears to have been solved at https://github.com/google/conscrypt/issues/929

[2022-02-24 10:50] #5006 closed, assigned to nobody

[2022-02-24 12:44] dzoech opened #7650 "QueuedThreadPool: Stopped without executing or closing null"
**Jetty version(s)**
9.4.44.v20210927

**Java version/vendor** `(use: java -version)`
Java 17
we use `gcr.io/distroless/java17-debian11:nonroot`

**OS type/version**
Debian 11

**Description**
We use Spring Boot 2.6.2 with Jetty.

In our logs the following log appears:

`WARN [SpringApplicationShutdownHook] QueuedThreadPool: Stopped without executing or closing null`

This seems to be the code tha

[2022-02-24 13:44] sunng87 commented on #7643
Gzipped log when requested from curl
[http3.log.gz](https://github.com/eclipse/jetty.project/files/8132873/http3.log.gz)

Gzipped log when requested from quiche client
[http3-quiche.log.gz](https://github.com/eclipse/jetty.project/files/8132875/http3-quiche.log.gz)

[2022-02-24 18:00] joakime opened #7652 "Catch up `jetty-12.0.x` with missing PRs"
**Jetty version(s)**
12.0.x

**Description**

The following PRs that were merged up to `jetty-11.0.x` are currently missing (or incomplete) from `jetty-12.0.x`

_Check off the ones that you have manually cherry-picked (see comments below for assistance)_

 - [x] #7522
 - [x] #7516
 - [x] #7576
 - [x] #7441
 - [x] #7417
 - [x] #7374
 - [x] #7596
 - [x] #7547
 - [x] #7521
 - [x] #7532
 - [x] #6765

[2022-02-24 18:54] joakime commented on #7652
I've been having luck with cherry-picking these commits from `jetty-11.0.x` to `jetty-12.0.x` (while detecting the renamed/moved files) on the command line using ...

[code]

You can setup an alias for this, like this one I called `cherry-pick-renamed`

[code]

[2022-02-25 00:00] #4986 closed, assigned to nobody

[2022-02-25 07:58] youngledo opened #7653 "I want to get the role information, but it is private."
**Target Jetty version(s)**
jetty-11.0.6
**Enhancement Description**
![1645775750385](https://user-images.githubusercontent.com/68590897/155677136-385cb7c0-1085-44b7-9c6a-e032c81b0edc.jpg)

[2022-02-25 08:37] janbartel commented on #7653
@youngledo what is your use-case for exposing the roles? I'm not sure we want to expose them in the `DefaultUserIdentity`, but you should be able to provide your own `UserIdentity` implementation to achieve whatever it is you want to do.

[2022-02-25 10:14] janbartel opened #7655 "Remove unused imports in jetty-gcloud"
**jetty-10**

There are old, unused test imports in the `jetty-gcloud/jetty-gcloud-session-manager` which should be removed:

[code]

[2022-02-25 10:26] janbartel opened #7657 "Remove unused test imports in jetty-nosql"
**jetty-10**

Unused test imports present in jetty-nosql:

[code]

[2022-02-25 10:40] lorban commented on #7643
Do you know which implementation of HTTP3 and QUIC your build of curl is using? According to [this doc](https://github.com/curl/curl/blob/master/docs/HTTP3.md) curl seems to support ngtcp2 and quiche, and it would be useful to know which one you're using.

[2022-02-25 14:53] joakime commented on #7652
Closing as complete/done.

[2022-02-25 14:53] #7652 closed, assigned to nobody

[2022-02-25 15:04] joakime commented on #7647
This setting is for the initial tunnel established between the client and the socks4 proxy server, before the request is sent.

`secure=false` is a socks4 proxy server using a scheme of `http` and no ssl.
`secure=true` is a socks4 proxy server using a scheme of `https` and mandatory ssl.

If you have a tunnel that's unencrypted between the client and the socks4 proxy server, but a request that's h

[2022-02-25 15:05] joakime commented on #7647
The most common setup we encounter is `secure=false` btw.
There's really no point in encrypting twice.

[2022-02-25 15:13] cowwoc commented on #7647
@joakime If I understood you correctly, given:

* Proxy client
* Proxy server
* Destination server

When `secure=false` the request and response sent between the proxy client and server will be unencrypted but the communication between the proxy and destination servers might be encrypted if the request is HTTPS.

Is that correct?

[2022-02-25 15:40] sunng87 commented on #7643
@lorban according to the `curl --version` output, it should be based on quiche 0.11.0, the same backend for jetty.

[code]

[2022-02-25 16:17] joakime commented on #7647
@cowwoc not sure I understand.

You start with an HttpClient that wants to talk to a destination making a request for a specific resource, using HTTP.

Lets say you have ...
1. A Socks Proxy on proxy.machine.com port 9999
2. A Request to https://eclipse.org/jetty/

This now becomes ...
1. HttpClient connects to socks proxy server at proxy.machine.com at port 9999
2. HttpClient sends socks4 proxy p

[2022-02-25 18:47] cowwoc commented on #7647
@joakime I think we're on the same page.

My understanding is that if `secure=false` then the communication between HttpClient and the proxy server will remain unencrypted, regardless of whether the proxied request is HTTP or HTTPS.

Meaning, if I issue an HTTPS request to eclipse.org through proxy.machine.com then:

1. HttpClient will send an (unencrypted) HTTP request to proxy.machine.com
2. pro

[2022-02-25 19:03] joakime commented on #7647
Incorrect, there's no HTTP request here.
It's just the simple SOCKS4 proxy protocol.
The only information passed to the proxy.machine.com at this step is ...

1. A request to "connect" to "eclipse.org" on port 9999 (this the request to tunnel)
2. authentication details for the proxy.machine.com

This "connect" is just a simple tcp connect from proxy.machine.com to eclipse.org:9999, nothing else, n

[2022-02-25 19:54] joakime commented on #7647
Here's the basics of SOCKS ...

[`socks-basics.puml`](//www.plantuml.com/plantuml/png/XP91IeCn48NtESNGbIvw0J5IgGjTk6cym90yJ6YSI38jU7j3VtumIkmol2zlFeRPDUMgfuzih2LN_B7HCqjeaOyWQyq-9uZIze4sI-fGpwYREtgHf6jyl_qJxsCf3VHuqaYlq5Z2lEj2zIXvLj1D-THKXFFjl7xyuPGLPaGkOzwulaD_I1KHUFsDzluPYZ2H61bZxVhgwdH0vg__r-SWWPvOUUvz1PwP7-2HpbZukVo0xI2X7y4t)

![socks-basics](https://user-images.githubusercontent.com/191721/15

[2022-02-25 20:51] cowwoc commented on #7647
Thank you.

So if I understand correctly, `secure=true` protects against man-in-the-middle attacks between the proxy and myself. It prevents third parties from finding out which servers I am connecting to and/or changing which servers I connect to. Is that correct?

I'm still a bit confused about the socks handshake though. In the following scenario, who is the "client", "socks server" and "target

[2022-02-26 00:00] #5913 closed, assigned to nobody

[2022-02-26 00:00] #5911 closed, assigned to nobody

[2022-02-26 05:56] youngledo commented on #7653
I want to make the role information available for authentication and authorization. Although I can implement it based on UserIdentity, it is not necessary just for this role information.

[2022-02-26 07:31] gregw commented on #7638
So this is the structure I think we should go for, which is pretty much jetty-11 with extra:
 + build-resources
 + demos
 + jetty-slf4j-impl
 + jetty-ant
 + jetty-util
 + jetty-jmx
 + jetty-io
 + jetty-quic
 + jetty-http
 + jetty-http2
 + jetty-http3
 + jetty-server - _this contains the jetty-core-server code_
 + jetty-session - _new module for common session code_
 + jetty-xml
 + jetty-security

[2022-02-26 07:59] gregw commented on #7638
For the jetty-12-hackathone I think we should try to make the following example work:

DELETED THIS EXAMPLE (with classloaders).  See next comment instead.

[code]

[2022-02-26 21:38] joakime commented on #7638
Some good points here.

Let's finish exorcising servlet from current `/jetty-core/` and see what we have after that effort.  I suspect we'll be close to what you are suggesting, but let's take it one step at a time.

[2022-02-27 00:00] #5920 closed, assigned to nobody

[2022-02-27 08:05] gregw commented on #7638
Actaully,  let's do this initial goal without classloader complication, because "javax.*" and "jakarta.*" can coexist we can do ee10 and ee8 together like:
[code]

@joakime & @olamy what we need to achive with this from a git perspective (not sure if it is possible) is:
 + the module 'jetty-servlet' should contain common files (eg Holder) that are the direct decendent of the jetty-11 version.
 + t

[2022-02-27 08:16] gregw commented on #7638
@joakime missed your comment.   Yes, let's take it 1 step at a time... continue working in the core structure for now... and plan what we want some more before acting again.
I think even if we start again from jetty-11, it will be purely to move the files into the right location and then to dump on top of them with the code from the current core modules in 12.0.x - ie it can be done at the end if

[2022-02-27 08:19] gregw commented on #7638
Note, I'm giving up on the source code compatible idea for porting embedded applications from jetty-9/10/11 to 12.     Whilst that would be possible, it would result in our main classes having strange package/class names, whilst our legacy stuff squatted on the good package/class names.  We'd forever have the problem of same package/class in multiple jars.     Moving the legacy code to ee8 and ee9

[2022-02-27 17:34] rfox12 opened #7659 "Question on web socket sendString() IOException"
**Jetty version**
11

**Java version**
17

**Question**
The [javadoc](https://www.eclipse.org/jetty/javadoc/jetty-11/org/eclipse/jetty/websocket/api/RemoteEndpoint.html#sendString(java.lang.String)) for `sendString` states: "Throws java.io.IOException - if unable to send the text message"

How should a user of Jetty handle the exception?  Retry?  Wait and retry?  Assume the connection is dead and

[2022-02-28 00:16] lachlan-roberts commented on #7659
@rfox12 most of the time an exception from `sendFrame` means that the connection is closed by the implementation. Looking at the code I can see a few exceptions where this is not the case, for example if you have a write pending or an invalid frame the connection will not be automatically closed.

If an exception occurs I would not retry, I would just rethrow or close the connection.
But you can c

[2022-02-28 04:31] lachlan-roberts commented on #6016
Closing as this is implemented for Jetty 10+.

A custom `DeflaterPool` can be set as a `ServletContext` attribute at `jetty.websocket.deflater`, or one can be set as a bean on the `Server` and all contexts will use it if there is none on the `ServletContext` attribute.

[2022-02-28 04:31] #6016 closed, assigned to nobody

[2022-02-28 09:43] janbartel commented on #7638
Contains code dependent on `ee8/9/10`.

Needs to be in `ee8/9/10` as it directly depends on eg `WebAppContext`.

Needs to be in `ee8/9/10` as it depends on `javax/jakarta` classes. Or split (if possible) into common and api modules.

Needs to be in `ee8/9/10` as it depends on `javax/jakarta` classes. Or split (if possible) into common and api modules.

Contains some tests eg sessions that are depe

[2022-02-28 12:19] janbartel commented on #7653
@youngledo jetty uses the `DefaultUserIdentity` to represent an _authenticated_ user. It is not used to _do_ the authentication step. The role info inside it is only used to do _authorization_ (roles play no part in authentication). So I think you're already stepping outside the bounds, as it were, so I think your best course of action would be to subclass `DefaultUserIdentity`.

[2022-02-28 12:22] lorban commented on #7643
This seems to be caused by a bug in curl. AFAICT curl seems to get confused by the fact that Jetty writes the HTTP response in two QUIC packets.

After I hacked the [QuicStreamEndPoint.flush()](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-quic/quic-common/src/main/java/org/eclipse/jetty/quic/common/QuicStreamEndPoint.java#L171) method to copy all the buffers into a single one (

[2022-02-28 12:23] rfox12 commented on #7659
@lachlan-roberts Thank you!  Much appreciated.  I've learned a lot about Jetty; but I still don't feel like I know the internals.

[2022-02-28 12:23] #7659 closed, assigned to nobody

[2022-02-28 12:30] rfox12 commented on #7648
You could do something like this at the top of your program...
[code]
or to dig into a specific area...
[code]

[2022-02-28 19:03] niwinz opened #7675 "Issue on upgrading http connection to websocket asynchronously on thread not managed by Jetty"
**Jetty version(s)** 10.0.8

**Java version/vendor** `(use: java -version)`
openjdk version "17.0.2" 2022-01-18
OpenJDK Runtime Environment Temurin-17.0.2+8 (build 17.0.2+8)
OpenJDK 64-Bit Server VM Temurin-17.0.2+8 (build 17.0.2+8, mixed mode, sharing)

**OS type/version**
Ubuntu LTS/Docker

**Description**
I don't know if this a bug or is something I'm doing incorrectly. After some hours of inve

[2022-03-01 02:14] lachlan-roberts commented on #7675
I wouldn't expect this to work unless you used `asyncContext.start()` to start your thread, but after testing I can see even that does not work. @gregw do you think this is a bug that `Request` return a null `ServletContext` after an `asyncContext.start()`?

@niwinz is it possible for you call `request.getServletContext()` before you start your other thread and then capture the correct `ServletCon

[2022-03-01 02:20] lachlan-roberts opened #7676 "Stream cancellation is never called on QpackDecoder/QpackEncoder"
**Description**

`QpackDecoder` and `QpackEncoder` have a `streamCancellation(long streamId)` method to notify them in case a HTTP/3 stream is cancelled. On the decoder this sends an instruction to the remote encoder, but on the encoder it sends no instruction and just cleans up some local state.

These methods are currently unused and never called by the Jetty HTTP/3 implementation.

[2022-03-01 03:04] unb opened #7677 "jetty-maven-plugin - maven internal dependencies included on webapp classloader"
**Jetty version(s)**
9.4.38.v20210224

**Maven version**
3.6.3

**Description**

When using maven to run a webapp using jetty:run some of the maven's internal dependencies are included on the classpath used to launch the jetty-maven-plugin.

This includes jsr305-3.0.2.jar (com.google.code.findbugs:jsr305), depended on by org.apache.maven:maven-core.
This jar includes a javax.annotation package, wh

[2022-03-01 05:28] olamy commented on #7677
You should try with a more recent version of Maven Core (3.8.4 should not have this problem anymore if still I can have a look at fixing it).

By the way you should notice jsr 305 have been voted as dormant (so almost dead).
Not sure what tool you are using for those annotations but you should have a look at spotbugs which is the kind of standard tool and have his own similar annotations.
In your

[2022-03-01 06:45] niwinz commented on #7675
Hmm, I think no, but i can be wrong. This is the flow:
1. jetty servlet handler starts executon pasing the target, request and response
2. I just start async conctext calling request.startAsync()
3. call some function that runs async stuff with a callback, callback will run on the other thread
4. if some conditional on callback args, I try to start the upgrade process (that already works if everyt

[2022-03-01 09:06] gregw commented on #7638
I have created https://github.com/eclipse/jetty.project/tree/jetty-12.0.x-hackathon restarted from jetty-11

I've copied the servlet/webapp to an ee9 structure and made them all compile, so now we have both `org.eclipse.jetty.servlet` and `org.eclipse.jetty.ee9.servlet` with duplicate content, but the later in the ee9 name space.  The former will be converted to the common code and the later conve

[2022-03-01 09:46] gregw commented on #7638
ee10 has been added

[2022-03-01 10:26] janbartel commented on #7677
@unb interesting. Could you share more about how you are starting and configuring your osgi container via the `jetty-maven-plugin`, and how the `jsr305-3.0.2.jar` is related to your webapp? For example, are you specifically deploying that jar from your webapp?

The `jsr305-3.0.2.jar`, whilst it contains the package `javax.annotation` has no overlap at all with the `javax.annotation` packages in `j

[2022-03-01 14:22] niwinz commented on #7675
I have tried it:
1. get the servletcontext before spawning any thread
2. proceed with normal async flow explained before
3. then run JettyWebSocketServerContainer.getContainer(previoslyObtainedServletContext) in the other thread as result of exection of async flow
4. other similar NPE is raised inside Jetty.

Looks like jetty expects the websocket upgrade happen in the same thread at least in two

[2022-03-01 14:26] niwinz commented on #7675
The main reason I need it is because I want to run the session handling asynchronously (using redis async client, and then decide if proceed with websocket upgrade or return error). The redis async client runs the "callback" on their own threadpool, that causes the upgrade process happen in other thread. For now we are running this code synchronously, performing blocking operation the jetty thread

[2022-03-01 16:42] BrahmKauntey opened #7681 "Jetty client is adding "accept-encoding:gzip" header to requests by its own"
**Jetty version(s)**
9.4.43.v20210629

**Java version/vendor** `(use: java -version)`
17.0.1

**OS type/version**
Linux

**Description**
Jetty client is adding "accept-encoding:gzip" header to requests while routing out to host by its own.

**How to reproduce?**
Setup client like following code:

[code]
send an http2 request and check for "accept-encoding" header.

[2022-03-01 18:33] joakime commented on #7638
~ee10 is not present in either the now mangled `jetty-12.0.x` or the new `jetty-12.0.x-hackathon` branch.~ (edit: found them)

I see `jetty-ee9` and `jetty-ee10` though.

~Neither had their history preserved (which is possible btw). - the old `jetty-12.0.x` structure with `/jetty-core/` had preserved history.~
~This also means we don't benefit from git rename tracking.~
~If you want the history, y

[2022-03-01 18:44] joakime commented on #7638
How are we structuring the various "big" categories now?

1. Core
2. EE#
3. Home (Home + Start, which is neither Core nor EE)
4. Support Layer (Where the things that are not core, but exist to support the ee# category exist, like ee-spec-"common" artifacts such as jetty-proxy-common, or jetty-servlet-common, or jetty-deploy-common)
5. Integrations (This is our integration with 3rd party things go,

[2022-03-01 19:01] joakime commented on #7675
How does the "redis async client" differ from our own async HttpClient (which doesn't suffer from this issue)?
And how does a client impact the server handling of upgrade?

Also be super careful about HttpSession and WebSocket.
Once the WebSocket is upgraded, it is no longer HTTP, and that means the HttpSession is no longer part of the Servlet handling, or HTTP handling, or even connected to the r

[2022-03-01 19:20] joakime commented on #7648
Are you asking about Log4j's TRACE level?

[2022-03-01 19:31] niwinz commented on #7675
Thank you for the advice but I'm already aware of this. I'm not doing anything similar, neither use the HttpSession. I used the http session concept just as an example.

There are "some logic that processes the request", this logic is asynchronous (can be access to the database in a worker thread, can be http call to other service, etc), then the asynchronous response callback is scheduled to be e

[2022-03-01 19:58] joakime commented on #7681
The Gzip handling is just part of the standard `org.eclipse.jetty.client.ContentDecoder` behavior.

The specific `GZIPContentDecoder` implementation is added by default (on startup).
The `HttpClient.getContentDecoderFactories()` is interrogated, with each `ContentDecoder.getEncoding()` resulting in a value-list added to the `Accept-Encoding` header for all Requests by that client instance.

Since

[2022-03-01 21:49] sbordet commented on #7681
That is intended.

[2022-03-01 22:12] gregw commented on #7638
There is now no core. Just jetty server in it's normal location.

Ultimately anything dependent on a servlet api will need to move under a jetty-eeX module. I've only done the servlet/webApps for now as that's what we should work on next week.  Things like jetty-home will stay top level.

I'm not sure why you think 12.0.x is mangled? It's not been touched by this whilst i trial these ideas Ina dif

[2022-03-01 22:25] joakime commented on #7638
Preserving the maven coordinates for those modules that will now have servlet removed will be awkward to explain/support.

But the "compat" layers (within ee10) that we talked about at the old coordinates does make sense.

So, that means `ee10/jetty-ee10-server-compat` will be the replacement of the existing `org.eclipse.jetty:jetty-server:12.0.0` maven coordinates.
Even if that `*-compat` (maven)

[2022-03-01 22:39] joakime commented on #7675
Yeah, lets not mix HttpSession into this issue :-)

Lets just use your backend database check as a step before upgrade is determined as a good example instead.

Using the Servlet API, I've seen this done with a WebSocketServlet (Jetty concept) and WebSocketPreFilter (app concept), where the WebSocketPreFilter does the validation and other things within it's own AsyncContext, and once things are OK

[2022-03-01 23:04] niwinz commented on #7675
Here I have a small java file that reproduces the issue, so we can talk over clear example, and see if I'm doing something wrong or is a bug:

[code]

You can imagine that the runAsync code is just a callback that is run (after some hypothetical checks and conditions) on different thread and tries to upgrade the connection to a websocket.

[2022-03-01 23:10] niwinz commented on #7675
The printed exception is:

[code]

[2022-03-01 23:13] niwinz commented on #7675
And this exception is raised if I get the servletContext syncronously on the jetty thread and then pass it to the `JettyWebSocketServerContainer.getContainer(sctx)` on the async callback:

[code]

[2022-03-01 23:14] joakime commented on #7675
First thing I would change is ... never extend from (or use directly) the class `ServletHandler`, that's an internal class of the `ServletContextHandler` and it's own `ServletHolder`.

The way you have this setup, you have no common `javax.servlet.ServletContext` across those separate `ServletHandler` instances (even tho you attempted to declare them against the `ServletContextHandler`).

Use norm

[2022-03-01 23:16] unb commented on #7677
@janbartel We don't use jsr305-3.0.2.jar. It's being pulled in by Maven.

You can see it is a dependency of maven-core by running:

[code]

(replace $HOME/.m2/repository with wherever your maven repository is located)

The workaround shown in the original post adds the dependency on maven-core so it can exclude js305.

We embed the Atlassian Plugin Framework, which uses Apache Felix.
Part of the b

[2022-03-01 23:17] joakime commented on #7675
Split your `MyAsyncWebsocketHandler` up.
The async before upgrade in a `Filter` and the upgrade itself in a separate `Servlet`.
Handle the pre-websocket async in the Filter implementation, and once you are sure you want to upgrade use the filter chain to progress the request to the Servlet (as this will setup the scope for the everything properly on that Servlet call)

[2022-03-01 23:24] niwinz commented on #7675
I understand, but I think is not an option from my side. As a context: yetti is an adapter of Jetty to be used with Ring interface, that is a common "protocol" for http servers on Clojure. Here, jetty serves as http/websocket server, but all the following stuff is already happens on the ring async flow. I'm just unable to use Filters and other Jetty facilities, because this code happens outside of

[2022-03-01 23:25] niwinz commented on #7675
Hmm interesting. In fact, I'm using this in this manner because this is how was done in the original code I have forked. Is there a way to use websockets without the need of ServletHandler, and just using plain jetty Handler ?

[2022-03-01 23:28] joakime commented on #7677
@unb that jar (`jsr305`) is from maven yes, and from many different places in maven too (core, shared components, surefire, assembly plugin, etc), and its existence in your project and/or plugin is a bug in maven, supposedly fixed in maven 3.8.4. (newer plugin versions also upgraded the version of `jsr305` dependency to at least version 3.0.3)

[2022-03-01 23:38] joakime commented on #7675
Btw, if Ring is using the `ServletHandler`, they better be using 1 and only ever 1 `ServletHandler` with no additional modifications (like extra filters or extra servlets, as that's not supported in Jetty 10).  It was barely supported in Jetty 9 to use a `ServletHandler` directly (it had TONS of limitations, restrictions, and gotchas if you did), and is wholly unsupported in Jetty 10+.

As for a p

[2022-03-01 23:53] unb commented on #7677
@joakime & @olamy I can still see it on the classpath when running jetty under Maven 3.8.4. I also updated jetty to 9.4.45.v20220203
You can see it is still a dependency of maven-core:

[code]

[2022-03-01 23:56] niwinz commented on #7675
Yeah, this is how it is used, just a single handler, without anything else, and it works pretty well. In any case, thanks for the advice, I will look on alternatives on my own fork.

Thanks, I will try it.

[2022-03-02 00:01] joakime commented on #7677
Obviously maven-core itself will show that dependency.

What about your project?

[2022-03-02 00:15] olamy commented on #7677
I guess this change in jetty-10.0.x might help you https://github.com/eclipse/jetty.project/pull/7626
any chance you could try with Jetty 10.0.9-SNAPSHOT?

[2022-03-02 00:39] unb commented on #7677
@joakime It doesn't show up in a `mvn dependency:tree` listing
Running `mvn -X -e jetty:run` I can see maven creating a ClassRealm with it included.
Attaching to the running webapp with a debugger, there is no `jsr305-3.0.2.jar` in the ucp of `org.eclipse.jetty.webapp.WebAppClassLoader`. It is however in the parent `org.codehaus.plexus.classworlds.realm.ClassRealm` classloader `ClassRealm[plugin>o

[2022-03-02 00:45] olamy commented on #7677
@unb do you have a simple project we could use to reproduce?

[2022-03-02 00:50] unb commented on #7677
@olamy Not as yet. I will try and produce one in the next day or so.

[2022-03-02 03:46] unb commented on #7677
The zip [jetty-7677.zip](https://github.com/eclipse/jetty.project/files/8166426/jetty-7677.zip) demonstrates the issue.

It produces a listing of all of the jars available to the servlet when launched by `mvn  jetty:run`

To use, download and:
1. `jar xvf jetty-7677.zip`
2. `cd jetty-7677`
3. `mvn jetty:run`
4. `curl http://localhost:8080/test`

If com.google.code.findbugs:jsr305 is present, it wi

[2022-03-02 09:58] BrahmKauntey commented on #7681
After doing changes as suggested, jetty is not sending accept-encoding header now. We have removed GZIPContentDecoder, what will be the impact of this if response is received with encoding as gzip?

[2022-03-02 10:07] sbordet commented on #7681
That it will not be decoded, so you will have to do it if you need to see the uncompressed content.

May I ask why you want to remove this feature? This is very useful for clients such as the one you have shown above.

[2022-03-02 10:37] gregw commented on #7638
I don't see a problem with the preserved maven coordinates:
 + `jetty-server` is still `jetty-server`, so it should be at the same coordinate.
 + Something like `jetty-servlet` or `jetty-webapp` will now have common code in it, probably an abstract `o.e.j.servlet.ServletHandler` that has javadoc telling them that they need to use a `o.e.j.eeX.servlet.ServletHandler`, so in that case the preserved

[2022-03-02 10:48] gregw commented on #7638
I've now pushed the new `jetty-server` arch to the hackaton branch.   I've been very careful to preserve unit tests, so we don't lose any goodness (many were missing in the current 12.0.x).    It has been broken up  as follows:
 + Jan has moved session stuff out of `jetty-server` to `jetty-session`, which will hold the common code (SessionData) that is not API dependent.  Session tests should have

[2022-03-02 10:59] joakime commented on #7638
OK, but there's 2 things that still need to happen.
There cannot be any ee# dependency mentioned at the top level pom, or first level "old school" modules.
Only the jetty-ee#/ trees have servlet/jakarta/ee dependency mentions.

With this structure, that ALSO means /jetty-home/ and /tests/ cannot have servlet references, even transitively.

This is 100% ee specific, and should live in the appropria

[2022-03-02 11:01] janbartel commented on #7677
@unb I've raised a pr to exclude `jsr305` jar from the `maven core` dependency, see #7682.   That seems to be the most straightforward way to solve this. Alternative solutions would require knowlege of how org.twdata.pkgscanner.PackageScanner scans the classloader hierarchy - ie how far up it traverses.

[2022-03-02 11:14] gregw commented on #7638
Exactly

But jetty-home will still need to exist at the top level. We will still have it as our primary distribution.    Ultimately ee8/ee9/ee10 become jetty modules that can be deployed into jetty-home, adding the right servlet-api in the right places.

Perhaps not 100%.  JuliLog is not servlet-api specific.... but it may not be worth having a common module for one little class like that.

That i

[2022-03-02 12:07] #5965 closed, assigned to joakime

[2022-03-02 14:42] joakime commented on #7681
If you have a server sending gzip encoded content (indicated by the `Content-Encoding: gzip` response header) without first receiving an `Accept-Encoding: gzip` header, then you have a server not following the HTTP and w3c specs.
In this case, you'll have to uncompress the content yourself (like @sbordet pointed out), by using the binary representation of the body content.
If the `Content-Encoding

[2022-03-02 18:03] jaroslawr opened #7683 "GZIPContentDecoder ignores setUseInputDirectByteBuffers setting and always uses non-direct buffers (causing GC locking)"
**Jetty version(s)**

10.0.8

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version**

[code]

**Description**

GZIPContentDecoder ignores setUseInputDirectByteBuffers setting and always uses non-direct buffers:

https://github.com/eclipse/jetty.project/blob/jetty-10.0.8/jetty-http/src/main/java/org/eclipse/jetty/http/GZIPContentDecoder.java#L435

This came to my attention beca

[2022-03-03 04:35] BrahmKauntey commented on #7681
Our application is working as a proxy, whether client or servers can handle gzip content is not known to application. If client is not expecting gzipped response and not adding "accept-encoding: gzip" header, our application is adding it. Also, if one "accept-encoding" header is present in the request, jetty is adding one more "accept-encoding" header with value as gzip.

Jetty should honor what "

[2022-03-03 08:53] sbordet commented on #7681
For proxy use cases it is correct to clear the content decoder factories.
You should also re-configure other things, see:

https://github.com/eclipse/jetty.project/blob/79cc9cf90ed1d7844fde4376001a5d54d6c68975/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/AbstractProxyServlet.java#L330

and following lines.

[2022-03-03 08:54] #6013 closed, assigned to nobody

[2022-03-03 09:10] sbordet commented on #7683
@lachlan-roberts would it be possible to use direct buffers in Jetty 10+ since we can leverage the new APIs?

[2022-03-03 11:12] joakime commented on #4414
Current `GzipHandler` in Jetty 10 and 11 will always inflate if the request contains `Content-Encoding: gzip` header.
There's no filtering/include/exclude for inflation for anything (path, method, mime-type, etc)

[2022-03-04 03:20] jiang-cao opened #7688 "Read data to native memory from HttpInput"
**Target Jetty version(s)**
jetty-11.0.9
**Enhancement Description**
Our purpose is read data direct to native memory from jetty direct buffers, then we could do CPU heavy compute with native lib without copy data between java heap and native heap.

Jetty has provide flexibility let us inherit class and implement our special code. The problem is some fields/methods in HttpChannel and HttpInput are

[2022-03-04 04:10] jiang-cao commented on #7688
PR: https://github.com/eclipse/jetty.project/pull/7689

With this change, we implement a new method in sub class of HttpInput.

    public int read(long address, int off, int len) throws IOException, CSException {
    ...
    }

The input data will write to native address.

[2022-03-04 09:06] sbordet commented on #7688
I'm not sure I understand this change?

If you use a direct `ByteBuffer` to read data from `HttpInput` there is no copy, and you can use the direct `ByteBuffer` with native libraries.

I'd rather add a `read(ByteBuffer)` method than a raw `read(long, ...)` that cannot be used without resorting to `Unsafe`.

Can you detail your exact use case? Would a `read(ByteBuffer)` be enough for you?

[2022-03-04 14:58] jiang-cao commented on #7688
Thanks for your review!
In my case, I did want the unsafe method, read the data to native buffer address.  In our case, the native memory is not owned by java layer,  so we prefer to have more flexibility to implement read(long, ...) in sub classes.

read(ByteBuffer) is a good extension, but not match our current requirement.

[2022-03-04 15:16] joakime commented on #7688
You haven't said why you need this.
What is your use case?

Most of the existing usages in Jetty are ByteBuffer based, and we are consuming more and more JDK APIs that themselves are ByteBuffer based.
Wouldn't a direct ByteBuffer be sufficient to satisfy your native vs heap memory concerns?

[2022-03-04 15:41] jiang-cao commented on #7688
Explain more detail about my case:
We receive data from HTTP,  the data will be used do some CPU heavy compute work like md5, CRC, Erasing Coding, then the data will be send to remote node by RDMA NIC.   Avoid memory copy is important in the data path.  The idea way is direct used RDMA registered buffer to receive HTTP data and keep all CPU heavy work under native layer.  Use native buffer address

[2022-03-05 00:00] #5890 closed, assigned to nobody

[2022-03-05 06:22] ramtech123 opened #7691 "Jetty on JDK11 SSL Handshake failure with PKIX KMF algorithm and valid SAN DNS Name used as FQDN"
**Jetty version(s)**
9.4.45.v20220203

**Java version/vendor** `(use: java -version)`
[code]

**OS type/version**
[code]

**Set up**
I have a Jetty server running on JRE 11 with BouncyCastle JCE provider and Sun JSSE provider.
The ssl.KeyManagerFactory.algorithm is set to PKIX.

The configured SSL certificate has below configuration
RSA 2048 bit key size,
SHA-256 with RSA signature algorithm
Multi

[2022-03-05 11:14] joakime commented on #7691
On startup of the Jetty server, enable the "Dump After Start" boolean to true and report back the server dump.

Your server configuration is important to know now.
The dump will report all of the TLS protocols and cipher suites and their states (included/excluded, by config, or security policy of your JVM).
Also, configuring TLS via `Security.setProperty("ssl.*", value)` properties is not sufficie

[2022-03-05 13:44] jingke commented on #4209
@sbordet recently we found the jetty-client library also encounter some TLS connection was closed from client side due to this change when fill() encounter netFilled == -1. Do you think this is only work for side?

                            if (netFilled < 0 && isHandshakeInitial() && BufferUtil.isEmpty(_encryptedInput))
                                closeInbound();

[2022-03-05 20:25] sbordet commented on #4209
@jingke please open a new issue.
Do you have a reproducible test case?

[2022-03-07 00:00] #3765 closed

[2022-03-07 02:02] lisay-yan opened #7692 "jetty-client close TLS connection unexpectly."
**Jetty version(s)**
Jetty-9.4.43.v20210629

**Java version/vendor** `(use: java -version)`
Java 11

**OS type/version**
linux
**Description**
My application use HttpClient and SslContextFactory.Client for HTTPS traffic.
Based on pcap, jetty-client may send FIN rather than client hello.
![image](https://user-images.githubusercontent.com/61861257/157146462-7e377962-7283-4a3d-98b1-096429563c65.png)

[2022-03-07 21:53] sbordet commented on #7692
The pcap shows that it is the server sending the FIN, not the client.

[2022-03-07 22:43] lisay-yan commented on #7692
@sbordet

Oh, sorry. That is my fault.
I edit and update correct pcap in initial description.

BTW, not sure if I can consult generally when jetty-client side take initiative to close TLS connection?
In below pcap, Alert also send from client side after received server response around 540ms.
Precondition:
Both HTTP Client and HTTP Request idle time already set to 0 since expect reuse TLS connectio

[2022-03-07 22:45] lisay-yan commented on #7692
@sbordet

BTW, the encrypted alert is type 21 for close notify.
Look forward to your valuable feedback and nice help. Thanks.
![image](https://user-images.githubusercontent.com/61861257/157130658-335e74a8-6fac-4644-8503-38cb33b94144.png)

[2022-03-08 01:55] SerCeMan commented on #6328
Hey, @lachlan-roberts and the team! Would you accept a PR that replaces a large number of method handles with a single one considering that the benchmarks above show no negative performance impact? After attempting to upgrade to 10.0.8, we still see a large amount of CPU time spent resolving method handles.

<img width="1786" alt="Screen Shot 2022-03-08 at 12 52 09 pm" src="https://user-images.git

[2022-03-08 12:30] joakime opened #7710 "Unable to set HttpCompliance mode for org.eclipse.jetty.http2.server.HTTP2CServerConnectionFactory"
**Jetty version(s)**
9.4.x

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
Unlike the normal `org.eclipse.jetty.server.HttpConnectionFactory` which has a `.setHttpCompliance(HttpCompliance)` method, the
`org.eclipse.jetty.http2.server.HTTP2CServerConnectionFactory` class does not have the ability to set the `HttpCompliance` mode.

This is only an issue

[2022-03-08 14:08] joakime commented on #7569
PR #7570 merged.

[2022-03-08 14:08] #7569 closed, assigned to joakime

[2022-03-08 14:30] lachlan-roberts commented on #6328
@SerCeMan I think this could be difficult to implement, even more so if you are not already familiar with the Jetty WebSocket implementation. I will not have time to attempt this for a few weeks.

Can you attach the full flamegraph file instead of just the screenshot? Also if you have some reproducer code which can reproduce this checkCustomized branch, it would be good to see that as well.

[2022-03-08 18:07] ramtech123 commented on #7691
Hi @joakime ,

Thanks for the details, I will share some updates soon based on the pointers that you provided.

[2022-03-08 18:44] joakime commented on #7710
Closing, as using the `ServerConnector` scoped `HttpCompliance` works already.

[code]

[2022-03-08 18:44] #7710 closed, assigned to nobody

[2022-03-09 05:27] olamy opened #7711 "Flaky StressTest.doLoops:330->doPaths:427 » Socket Connection reset"
observed here https://jenkins.webtide.net/job/jetty.project/view/change-requests/job/PR-7695/2/

[2022-03-09 06:28] jiang-cao commented on #7688
@sbordet @joakime any suggestion on what I could do to get this extend ability?

[2022-03-09 06:29] boekhold opened #7712 "High CPU in qtp `HttpInput.nextInterceptedContent()`"
**Jetty version(s)**
9.4.7.v20170914, embedded

**Java version/vendor** `(use: java -version)`
java version "1.8.0_162"
Java(TM) SE Runtime Environment (build 1.8.0_162-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12, mixed mode)

**OS type/version**
Windows Server 2012, Version 6.2 build 9200

**Description**
We have an internal application running, for which I observed high CPU usage wh

[2022-03-09 07:49] gregw opened #7713 "Jetty-12 URI encoding"
There has always been an issue with URI handling in the servlet URI and in jetty that we had a choice between working with:
 + encoded URIs - which have too many variations of the equivalent URI (eg encoding characters that do not need to be encoded)
 + decoded paths, that work fine for most cases, but lose information if the original URI contained `%2F` encodings or encoded `.` or `..` segments

[2022-03-09 07:53] gregw commented on #7713
@joakime I'm not sure we have time to do the resource service this week, but I think you and I should work on this - perhaps I'll do the URI decoding side if you look at the resource service (and rewrite) assuming a canonically encoded path (which I think just means `%2F` will remain encoded... hmmm perhaps also `%25` so we can deal with `%252F`)

[2022-03-09 08:14] gregw commented on #7403
closing, as we have progressed and any API changes will come with subsequent review and new issues.

[2022-03-09 08:15] gregw commented on #7432
closing as progress has been made and further comments/issues will come out of review

[2022-03-09 08:15] #7432 closed, assigned to nobody

[2022-03-09 09:34] joakime commented on #7688
In practice, a direct ByteBuffer is a native buffer, been this way since Java 1.4.
I would expect your native code would allocate a new direct ByteBuffer, and the Java code uses it.
Same end result.
Tricky part becomes managing the custom ByteBufferPool you have to implement if you want to handle more than 1 concurrent incoming request at a time.

You MUST work with the ByteBuffer construct on the

[2022-03-09 09:36] joakime commented on #7712
Are you using logback, or logback access perhaps?  Or something similar that doesn't do `access.log` properly (you should see the 400 responses for those 3 example requests in your access.log if you are using a proper RequestLog setup in Jetty).

Improper RequestLog usage is the most common reason for your high CPU.
Where the RequestLog access the request body content (a giant no-no) either direct

[2022-03-09 09:38] joakime commented on #7688
Hooking into HttpInput also means you'll be accessing servlet style data outside of the servlet scope (such as what happens in some request/access logging libraries, after the response is committed, and after the request is dispatched to the webapp).

[2022-03-09 09:53] joakime commented on #7712
Note that a consumeAll fix was implemented in Jetty 9.4.40.v20210413 as part of Issue #6168

Also note that Java 1.8.0_162 expired in January 16, 2018 and should not be used in production right now.
See: https://www.oracle.com/java/technologies/javase/8u162-relnotes.html
The expiration dates of Java are vitally important in production, especially so if you use SSL/TLS anywhere (even used as an HTT

[2022-03-09 09:55] #6042 closed, assigned to nobody

[2022-03-09 09:57] joakime commented on #7712
The latest release, 9.4.45.v20220203 has fixes for logback access and bad request log implementations as well (specifically to address high CPU issues)

[2022-03-09 10:03] joakime commented on #7712
Since Jetty 9.4.7, several bugs were fixed in multiple code area whose impact could solve your reported issue.

 * https://github.com/eclipse/jetty.project/issues/5605
 * https://github.com/eclipse/jetty.project/pull/5637
 * https://github.com/eclipse/jetty.project/issues/5937
 * https://github.com/eclipse/jetty.project/issues/6168
 * https://github.com/eclipse/jetty.project/pull/6973

Upgrading t

[2022-03-09 10:26] boekhold commented on #7712
Hi Joachim, thank you very much for all your comments and details. Indeed this application seems to write `access.log` via Logback through a `Filter` class. I don't see any references however to `getInputStream()` or `getParameters()` however:

[code]

Can you see anything wrong in the above? In the mean time I will study the issues you linked to, in the hope I can use them to convince our develop

[2022-03-09 11:09] gregw commented on #7713
Note the other thing we need to think about with regards to resource service, is should the mimetype stuff move from the servlet contexts to the core context - ie allowing each core context to have it's own mapping of extensions to mime type and from mimetype to encodings etc.

[2022-03-09 12:14] joakime commented on #7712
Does your configured logback pattern include references to request parameters?

Also note that a Filter based approach for RequestLog is not going to work reliably.
You also wont get RequestLog events for things that don't match your servlet context / webapp. (example, bad requests, 400, requests that trigger an unhandled exception, etc.  there's several dozen edge cases)
You also will get what th

[2022-03-09 12:21] joakime commented on #7713
If we have core level MimeTypes, does that mean the Servlet level inherits the configuration from core, and then applies it's own MimeTypes on top of it (eg: from the web descriptor)?

[2022-03-09 12:39] boekhold commented on #7712
I've searched our code base for any filters used, and cannot find any direct references to request body and/or parameters. However, a few of the filters delegate to 3rd-party libraries, and I cannot be sure what's happening inside those.

Your point on Filters not being suitable for implementing an access.log is taken. I'll bring this info to the development team and hopefully they'll agree to mig

[2022-03-09 12:39] #7712 closed, assigned to nobody

[2022-03-09 12:46] joakime commented on #7712
The question was about your logback configuration, usually in the form of a `logback.xml`.
Do any of the format strings in there, attempt to look up a request parameter?
This kind of configuration is typically not present in code, but I don't know your app well enough to say for sure.

[2022-03-09 13:07] boekhold commented on #7712
Joakim, although "access logging" is done through logback, I don't think logback is involved in any way except to just write a string. The logic is fully contained inside that `RequestLogFilter` for which I included the code above.

Here are the relevant bits of our `logback.xml`:

[code]

[2022-03-09 13:12] ramtech123 commented on #7691
Hello @joakime ,

Find some updates as below based on my verification with different Jetty versions:

1. I tested my server with different versions of jetty-server 9.4.x. It turns out, the issue happens if I use v9.4.41 and above. With v9.4.40 and lower versions of jetty, I do not face this issue.

2. Based on above, I **guess** it is something to do with fix #6099 in [jetty-9.4.41.v20210516](http

[2022-03-09 14:39] ramtech123 commented on #7691
Tried the custom X509ExtendedKeyManager as indicated in above test. Its working fine with that workaround.

However, still trying to understand the differences between 9.4.40 and 9.4.41 indicated in the previous comment. Thanks.

[2022-03-09 15:35] joakime commented on #7691
In the "failed" log you have ...

[code]

In the success log you have ...

[code]

They appear to be similar.

In both, you only have 2 cipher suites enabled.
And you only have TLSv1.2 enabled.

[code]

Which basically means your configuration only support key exchanges with ECDH256.
Both of those cipher suites are considered medium strength ciphers when used with an RSA certificate within Bouncyc

[2022-03-09 15:43] joakime commented on #7691
Also, both failed and success show ...

[code]

Your configuration seems to not be using a keystore/truststore.
Your configuration have decided to not configure the `SslContextFactory.Server.setProvider(String)` to use Bouncycastle.
That means default JVM Provider is used for ...

* java.securit.cert.CertificateFactory.getInstance(String type, String provider)
* java.securit.cert.CertStore.getInst

[2022-03-09 15:48] joakime commented on #7691
The relevant change is the SNI alias matching fix as part of https://github.com/eclipse/jetty.project/issues/6099 - in 9.4.40 it would often select the wrong alias, either it would be first one, or it would pick a default one (if the hostnames are reported to Jetty as mangled, see JVM bug linked in that issue, along with [explanation by @sbordet](https://github.com/eclipse/jetty.project/issues/609

[2022-03-09 15:57] joakime commented on #7691
Also, your bouncycastle jars are incorrect for your JVM.

[code]

See https://www.bouncycastle.org/latest_releases.html

Since you are using "OpenJDK Runtime Environment Zulu11.54+24-SA (build 11.0.14+9-LTS)", that
means you should be using the `-jdk15on-` classified artifacts from bouncycastle to have support for JDK 11.
This also means you need to be on Bouncycastle 1.46 (or newer) to have prope

[2022-03-09 19:41] ramtech123 commented on #7691
Thanks @joakime for detailed analysis. Please find below the responses:

Yeah, ciphhers are applied as below from a configurable list. So, this is not an issue.
`sslContextFactory.setIncludeCipherSuites(serverSettings.getCipherSuites().split(","));`

I have the JRE embedded in my product and `java.security` providers configuration overridden to set BouncyCastle as the first/default provider for th

[2022-03-09 21:11] joakime commented on #7691
The affected version is how the baseline normal JDK behaves.
You have Bouncycastle involved, so it has it's own bugs.

The algorithm to select a certificate was wrong prior to 9.4.41.
_If_ you had multiple certificates, we wouldn't know that, we would just get called multiple times and not know there were more possible certificates.
We wound up picking the first certificate in most cases.  Even wh

[2022-03-09 21:59] joakime commented on #7691
Still need to call `SslContextFactory.Server.setSslContext(Context context) ` with an `javax.net.ssl.SSLContext` you created from Bouncycastle.

That technique of setting the first/default provider and hoping/praying it works everywhere in all situations is not considered best practice, and only applies to a limited number of scenarios, of the 5 JVM APIs we mentioned in an earlier comment on this

[2022-03-09 22:51] sbordet commented on #7688
@jiang-cao can you use [JEP 352](https://openjdk.java.net/jeps/352) or similar mechanism to map the RDMA memory into a mapped `ByteBuffer`?

Alternatively, look at [JEP 412](https://openjdk.java.net/jeps/412): you would be able to do something like this (pseudo-code):
[code]
The `bb` object would be mapped to the address you want, and copying bytes into it should have the effect that you want.

Le

[2022-03-10 01:04] jiang-cao commented on #7688
@joakime  Thanks for your detail explanation! I agree with you and will try use directBuffer instead of native address.

In my case, the input HTTP content/body length may several MB to hundred MB. We don't have other encode/decode process, if I understand correctly, for most data, there are two copies: native socket buffer -> DirectBuffer inside jetty -> my  DirectBuffer.  We still depends on oth

[2022-03-10 02:53] ramtech123 commented on #7691
Thanks @joakime , its more clear now.
And also thanks for the observations and suggestions on sslContext and other APIs. Will look into that.

Closing the ticket as all the queries have been answered.

[2022-03-10 02:53] #7691 closed, assigned to nobody

[2022-03-10 08:30] avin15cs commented on #7648
@joakime , Yes!

[2022-03-10 08:38] avin15cs opened #7718 "Jetty Doesn't give error for incorrect Port."
**Jetty version(s)**
9.4.45

**Java version/vendor** `(use: java -version)`
JDK 11.0.7

**OS type/version**
Microsoft

**Description**
I have added incorrect port no in jetty.xml, but jetty doesn't stop/throw error

**How to reproduce?**
1. Edit jetty-http.xml and update below value:
[code]
2. Start jetty.

This will start jetty.

Older jetty v6.1.7 throws NumberFormatException

[2022-03-10 09:40] joakime commented on #7648
Jetty 9.4.x doesn't use TRACE level logging (along with other common event levels) with it's own ancient (circa 1995) logging facade.

See: https://javadoc.io/static/org.eclipse.jetty/jetty-util/9.4.45.v20220203/org/eclipse/jetty/util/log/Logger.html

However, when mapping the Jetty 9.4.x logging facade to other implementations (implementations other than Jetty's own StdErrLog), the levels are map

[2022-03-10 09:45] joakime commented on #7718
Run your Jetty with ...

[code]

Then report back your output.
The easiest explanation is that you have `jetty.http.port` or `jetty.port` defined properly, so the `default="$C(PORT)"` is never even used.

BTW, Use jetty-home correctly, you should have a split directory, one for `$JETTY_HOME` and one for `$JETTY_BASE` (and they should not be nested inside of each other in either direction).  Don't

[2022-03-10 09:47] joakime commented on #7718
If the value in `jetty.http.port` is invalid you get ...

[code]

Which is the NumberFormatException you are expecting.

[2022-03-10 10:41] joakime commented on #7713
We should decode all characters that do not result in a character in the URI `reserved` set (aka: delimiters)

From https://datatracker.ietf.org/doc/html/rfc3986#section-2.2

[code]

Here's an example of using URI Template.

[code]
The encoded form is maintained.

But what if the request is encoded oddly?

Example: all `a` characters are encoded to `%61`
[code]

This means Jetty decodes the reques

[2022-03-10 10:55] joakime commented on #7713
Some equivalent URI examples.

Are these equivalent?

Example: 1

[code]

Example: 2

[code]

[2022-03-10 10:56] joakime commented on #7713
Per https://datatracker.ietf.org/doc/html/rfc3986#section-7.3

[code]

and https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2.2

[code]

We should leave the reserved characters alone when decoding.

[2022-03-10 11:03] #7074 closed, assigned to olamy, joakime

[2022-03-10 11:11] #7420 closed, assigned to nobody

[2022-03-10 11:12] joakime commented on #7504
@avin15cs  Can we close this issue?

[2022-03-10 11:15] gregw opened #7721 "Jetty-12 hackathon issues"
Issue that have come out of the Jetty-12-hackathon:
 + [x] The great renaming. Many names are not exactly right. At some stage we need to review names and have a big renaming.
 + [x] `demandContent(Runnable)`. Are we happy with this now?  Yes. Perhaps some renaming (see above) for `demandContent(...)` -> `demand(...)`.
 + [x] `Content readContent()` returns a sliced buffer from the network buffer.

[2022-03-10 11:31] avin15cs commented on #7718
Hi @joakime ,
I have used embedded jetty and have modified default value of jetty-http.xml to `"$C(PORT)"` . I am not passing any value separately for `jetty.http.port`, the default value is picked up automatically. Can you try this?

Don't pass its value separately and just update port to `"$C(PORT)"` in jetty-http.xml. You will hit this issue.

[2022-03-10 11:33] avin15cs commented on #7718
My jetty-log:

[code]

[2022-03-10 11:57] joakime commented on #7713
I see the following as a sane approach.

We have tiers of information on the request URI

1. Raw URI - necessary for request signatures
  a. Decode Unreserved - safe decode, entire provided URI, all parts
  b. Split (scheme, userinfo, hostport, path, query, fragment) - URI / HttpURI object
      * Path normalize - canonical path

Resulting in accessing the URI in the following APIs.

[code]

When

[2022-03-10 12:12] joakime commented on #7718
You have 2 errors visible in that log.

* 2022-03-10 14:00:47.812:WARN:oejx.XmlConfiguration:Jetty Web Server Start Thread: Config error at `<Set name="port">|          <Property name="jetty.http.port" deprecated="jetty.port" default="$C(CTS, JETTY_PORT)"/>|        </Set>` java.lang.reflect.InvocationTargetException in file:///C:/Documentum/CTS/jetty/base/jetty-http.xml
* 2022-03-10 14:00:47.812:W

[2022-03-10 12:16] joakime commented on #7718
Your usage of `XmlConfiguration` isn't allowing the errors/exceptions to flow out and stop the server startup.

[2022-03-10 12:29] gregw commented on #7713
@joakime I'm not exactly on the same page as you... maybe it is naming.

Firstly I don't think we need new Request methods, rather we need to better define the existing methods on HttpURI that is available from the request.   We have gone to a lot of effort to ensure that the same information is not available from more than 1 method in request (where possible) to ensure that wrapping is as simple

[2022-03-10 13:49] joakime commented on #7713
Per RFC naming ...

* `HttpURI.getCanonicalURI()` would be defined as full-uri normalization (which is the combination of "[6.2.2 : Syntax-Based Normalization](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2)", "[6.2.2.1 : Case Normalization](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2.1)", and "[6.2.2.2 : Percent-Encoding Normalization](https://datatracker.ietf.org/doc

[2022-03-10 13:49] avin15cs commented on #7718
Ohh...Okay, How can I stop this then? Or atleast throw an error from jetty side?

[2022-03-10 14:14] joakime commented on #7718
It does.

Proper usage of `XmlConfiguration.configure()` will throw an Error or Exception.
Just don't swallow it and proceed.

[2022-03-10 14:19] joakime commented on #7718
A typical API usage of `XmlConfiguration` seen in various embedded projects.

See [embedded-jetty-cookbook: XmlEnhancedServer](https://github.com/jetty-project/embedded-jetty-cookbook/blob/jetty-9.4.x/src/main/java/org/eclipse/jetty/cookbook/XmlEnhancedServer.java) for more complete example.

[code]

[2022-03-10 15:16] sunng87 opened #7722 ""classpath:/" URL support for Resource?"
**Target Jetty version(s)** 10.0.8/11.0.8

**Enhancement Description**

The `Resource.newResource` API currently has support for `jar:`/`jar:file:`/`file:` support. It would be nice to add `classpath:` for loading resources in embedded scenario. I can create a pull request for that if it makes sense.

[2022-03-10 15:50] gregw commented on #7713
Interestingly enough we already have `String URIUtil.getCanonicalPath(String)` and `String URIUtil.getDecodedPath(String)`, with the former doing just dot segment removal and the later doing full % decoding.
They are called moderately frequently, from numerous locations.  Thus if we change them, we will need to review the callers in detail.... but then I think we need to do that also.

I would lik

[2022-03-10 16:18] joakime commented on #7722
To support `classpath:` you would need to pass in the `ClassLoader` scope it needs to search from.
And it's fundamentally broken, as you cannot reference directories, only files.

Just use this instead.

[code]

Note that classloader lookup cannot find resources that are a directory in a consistent way across all JVMs and OSs.
It's designed to find resources that are files, things that can be open

[2022-03-10 16:24] joakime commented on #7722
Also, if you are referencing URLs, that are in themselves `jar:file://path/to/foo.jar!/deep/ref/` then you need to be aware of jar file URL caching, and need to support the `useCaches` boolean (critically important on Windows).

You might assume all classloader based resources would use `useCaches`, not true for all classpath usages, some classpath results can easily be just a simple `file://path/

[2022-03-10 16:27] joakime commented on #7722
Also note that if you don't care about Classloader, and always want to use the thread context classloader, just use ...

[code]

See: https://github.com/eclipse/jetty.project/blob/jetty-9.4.45.v20220203/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java#L217

The rules on file vs directory on `classloader.getResource(String path)` still apply though, keep that in mind.

[2022-03-10 16:31] joakime commented on #7722
Another option is [`Resource.newClasspathResource(String path)`](https://github.com/eclipse/jetty.project/blob/jetty-9.4.45.v20220203/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java#L270), but you are on the hook to use it with the correct classloader scope.

[code]

[2022-03-10 16:54] joakime commented on #7713
That's not what it means.

It means that `http://host/foo,bar` is not equivalent to `http://host/foo%2cbar`.
Those reference different resources, in all cases, client terms (think cache matching), proxy terms, and server terms. (covered in the RFC).

The canonicalURI method should not _encode_ those reserved characters.  In fact it I strongly believe that it should never encode characters.  If you

[2022-03-10 19:52] niwinz commented on #7675
On the end, I didn't found a solution for this. In any case it looks intended behavior so I close this issue.

[2022-03-10 19:52] #7675 closed, assigned to nobody

[2022-03-11 04:37] test-kouichi-shinotsuka opened #7723 "Can not implement https server at Android."
Jetty Version: org.eclipse.jetty.websocket:websocket-server:9.4.45.v20220203

Java Version: openjdk 11.0.7

OS type: Android 9(API: 28)

Description:
I try to implement https server with jetty at android.
But when I start https server, "NoClassDefFoundError" is occurred at org.eclipse.jetty.util.ssl.X509 Constructor.
Not found classes are javax.naming.ldap.LdapName and javax.naming.ldap.Rdn.
Andro

[2022-03-11 04:39] avin15cs commented on #7718
@joakime ,
My implementation is similar. Can you please check?

 I have tried to replication my project's jetty implementation here: https://github.com/avin15cs/JettyTest
But somehow jetty logs are not coming in this project though I have set vm option -Dorg.eclipse.jetty.LEVEL=DEBUG .
If you run this project, you will find jetty is running though invalid port no is passed.

Thanks,
Avinash.

[2022-03-11 05:41] avin15cs commented on #7718
Hi @joakime ,
Thanks for pointing out!
I had missed handling exception from my end. Gotcha!

[2022-03-11 05:41] #7718 closed, assigned to nobody

[2022-03-11 09:43] joakime commented on #7723
Android only supports a subset of the OpenJDK 8 classlib.
AFAIK, Android does not yet support OpenJDK 11.

Don't use the standard Jetty artifacts from maven.

You'll need to use the Jetty 9 `compact3` aggregate build from this github repository.

[code]

You now have a minimal Jetty artifact you can use in your Android project.

Your local Maven Repository now has the following artifact you can us

[2022-03-11 17:05] gregw commented on #7713
@joakime I don't think you have interpreted the RFC correctly. Specifically `file:/tmp/foo%2cbar` and `file:/tmp/foo,bar` are indeed the same resource.
From [RFC 3986 2.4 When to Encode or Decode]( https://datatracker.ietf.org/doc/html/rfc3986#section-2.4):

   **significant to the scheme-specific dereferencing process** (if any)
   must be parsed and separated before the percent-encoded octets wi

[2022-03-11 18:04] #6039 closed, assigned to nobody

[2022-03-11 18:05] joakime commented on #7713
"scheme-specific" is important in that statement.
The IANA registered schemes - https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml
The schemes "http" and "https" are registered at https://www.rfc-editor.org/rfc/rfc8615.html

Lets look at https://www.rfc-editor.org/rfc/rfc8615.html#section-3

So it defers to RFC7230, which has a section about the Scheme "http" and "https" registration a

[2022-03-12 04:51] sunng87 commented on #7722
Thank you for detailed explanation. I was trying to load ssl keystore from classpath via `SslContextFactory`'s `setKeyStorePath` which only accepts url as string and delivers to `Resource.newResource` API. So other resource APIs may not help in this case.

[2022-03-12 04:51] #7722 closed, assigned to nobody

[2022-03-12 11:26] sbordet commented on #7688
@jiang-cao I would prefer option 1, i.e. add a new `HttpInput.read(ByteBuffer)` method.

[2022-03-12 12:11] gregw commented on #7713
Exactly!  `%2F` is meaningful in both `http:` and `file:` schemes.   But `%2C` is meaningful in neither.

So we are definitely going to leave `%2F` encoded in the canonical uri/path
But I believe that we should decode `%2C` in the canonical uri/path, else we create an alias with two URIs referencing the same resource.

The problem comes with how do we systematically determine which characters we s

[2022-03-12 12:33] gregw opened #7728 "Jetty-12 Callback wrapping."
The Callback contract needs to be clear that succeeded() and failed(t) are idempotent and mutually exclusive. Most of our core Callback implementations are indeed idempotent, but wrappers do not necessarily have the same atomic protections. We need to investigate if we can improve Callback contract and/or provide better utilities for wrapping to help. Why is HttpStream is-a Callback, but we pass a

[2022-03-12 12:43] gregw commented on #7728
@sbordet quick question.  Why was `Callback.completeWith(CompletableFuture<?> completable)` added as a default method and not as a static utility method?

[2022-03-12 13:13] gregw commented on #7728
Below is a naive first implementation of how we might create an advanced `Callback` that captures the semantic this issue discusses

__I'm not advocating we do this. Nor do I like this impl.  I'm just writing down the semantic as I understand it to make sure we are all on the same page__

[code]

There are lots inefficiencies and issues with this approach,    But before we discuss those and analys

[2022-03-12 16:56] joakime commented on #7722
Use [`SslContextFactory.setKeyStoreResource(Resource resource)`](https://github.com/eclipse/jetty.project/blob/jetty-9.4.45.v20220203/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java#L1579) instead.

Like this...

[code]

[2022-03-13 07:47] tk0214 opened #7730 "the connection is in pending state, could not work correctly."
**Jetty version(s)** 9.4

**Java version/vendor** `(1.8)`

**OS type/version** windows

**Description**
in org.eclipse.jetty.client.AbstractConnectionPool#tryCreate method, finally would call org.eclipse.jetty.io.ManagedSelector.Accept#run method.
in org.eclipse.jetty.io.ManagedSelector.Accept#run method, createEndPoint(channel, key) would throw IOException.
when this Exception occrured, the org.e

[2022-03-13 10:30] sbordet commented on #7728
Because it was acting on an existing `Callback` instance, and it was more natural to add it as non-static.
I have no objections converting it to a `static` method.

[2022-03-13 10:34] sbordet commented on #7728
Semantic seems right to me.
What inefficiencies do you refer to, exactly? The fact that we run twice the callback wrappings?

[2022-03-13 14:14] gregw commented on #7728
@sbordet I've been doing some experiments, but am finding it hard to be conclusive one way or the other as so much of the branch doesn't compile.     I think I will defer further effort/discussion on this until we have a clean build, so we can reason about callback usages/extensions/wrappers without dealing with broken code.

[2022-03-13 18:01] sbordet commented on #7713
Don't forget `\`, i.e. `%5C`, as in `http://host/windows%5Cpath`.

[2022-03-13 23:14] jiang-cao commented on #7688
@sbordet Thank you! I will prepare a draft version for review.

[2022-03-14 00:00] #5961 closed, assigned to nobody

[2022-03-14 05:54] test-kouichi-shinotsuka commented on #7723
Thanks for your reply.
I try to use jetty-all-compact3-9.4.45.v20220203.jar.
But when I start https server, "NoClassDefFoundError" is occurred at org.eclipse.jetty.util.ssl.X509 Constructor.
Not found classes are javax.naming.ldap.LdapName and javax.naming.ldap.Rdn.
What should I do?

[2022-03-14 08:16] gregw commented on #7713
@sbordet that doesn't need to be encoded for the sake of interpreting the URI.   It is not ambiguous in a URI path as `\` is not significant.      It is significant on a windows files style, which is why we should not do `new File(base + pathInContext)`, but must instead go via the URI class.

[2022-03-14 13:13] joakime commented on #7723
At this point, it might make more sense to provide ldap stub classes in your android specific project.

See: https://github.com/eclipse/jetty.project/blob/jetty-9.4.45.v20220203/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/X509.java

You'll want stub classes for ...

[code]

To handle the calls to ...

https://github.com/eclipse/jetty.project/blob/4a0c91c0be53805e3fcffdcdcc9587d5301863db/je

[2022-03-14 16:21] joakime commented on #7713
When handling a raw URI, it should be handled in layers.

1. Raw URI to uri-subcomponents (gen-delims)
2. uri-subcomponents split (sub-delims)
3. scheme specific behaviors in uri-subcomponents

# URI reserved character basics

This is the defined list all the way up at the URI spec (no scheme specifics)

[code]

## gen-delims

These reserved characters are used to separate the uri-subcomponents.

[2022-03-14 23:50] minduch opened #7740 "Firefox WebSocket Client does not seem to work using HTTP/2 or HTTP/3"
**Jetty version(s)**
11.0.8

**Java version/vendor** `(use: java -version)`
Temurin 11.0.14.1, but also in Java 17.x

**OS type/version**
Windows 11, but also Linux in various versions

**Description**
Embedded Jetty WebSocket connections fails when HTTP/2 or HTTP/3 is enabled, regardless of Conscrypt usage.

**How to reproduce?**
Embedded Jetty WebSockets always fails in browsers (latest Chrome,

[2022-03-14 23:58] minduch commented on #7740
To see our server in action using Jetty 11.0.8 WebSockets with Conscrypt and without HTTP/2 and HTTP/3, open a browser (e.g. Chrome) at [iizi Demo Server at mt.iizi.co](https://mt.iizi.co), then click on "...everything starts here...". You can e.g. open the app "CarRental" -> "start", it will be running using Jetty 11.0.8 embedded version with the code above, but then Conscrypt is used and HTTP/2

[2022-03-15 00:34] minduch commented on #7740
Perhaps I need to be a little more specific: the WebSocket is configured with the code above, then referencing the Java class attached. The websocket is configured with the code below:
[code]
The WSCreator class is attached:
[WSCreator.java.txt](https://github.com/eclipse/jetty.project/files/8249212/WSCreator.java.txt)

[2022-03-15 04:38] test-kouichi-shinotsuka commented on #7723
Thanks for your reply.

Actually I implemented stub for 2 classes before I posted this ticket here.
I attach the files below.
Note:  LdapName.getRdns() returns non empty list for Rdn because exception is thrown if LdapName does not have "CN".

[LdapName.java.txt](https://github.com/eclipse/jetty.project/files/8249380/LdapName.java.txt)
[Rdn.java.txt](https://github.com/eclipse/jetty.project/files/

[2022-03-15 04:44] test-kouichi-shinotsuka commented on #7723
Thanks for your reply.

Actually I implemented stub for 2 classes before I posted this ticket here.
I attach the files below.
Note:  LdapName.getRdns() returns non empty list for Rdn because exception is thrown if LdapName does not have "CN".

[LdapName.java.txt](https://github.com/eclipse/jetty.project/files/8250232/LdapName.java.txt)
[Rdn.java.txt](https://github.com/eclipse/jetty.project/files/

[2022-03-15 06:36] gregw commented on #7728
@sbordet OK I lied... my brain didn't defer this until later and I was tossing and turning the last few nights about this.   I don't think this works as it turns async code into a synchronous calling chain between the decision to act and the actual act.
For example, consider the current processor code like:
[code]

If we start thinking that Callback should provide protected before and after action

[2022-03-16 10:01] santh5858 opened #7747 "Custom Error Handler Added to ServerBeans is not used for ErrorHandling"
**Jetty version(s)**

**Java version/vendor** `(use: java -version)`

**OS type/version**

**Description**

I have been trying to setup a jetty server with common error handling. As per the [jetty-9 doc](https://www.eclipse.org/jetty/documentation/jetty-9/index.html#custom-error-pages), i have written a class that extends ErrorHandler class and overrides the handle() method. I exported it as a jar

[2022-03-16 12:41] joakime commented on #7747
There's nothing about common error handling across webapps in the jetty 9 doc.

The `Server.setErrorHandler(ErrorHandler)` is what you want to use for non-webapp error handling.

It's not really possible to have a single `ErrorPageErrorHandler` across multiple webapps, as each webapp will configure different handling of various pages/status codes/exceptions per the servlet spec to suit their needs

[2022-03-16 12:49] joakime commented on #7747
The reason that every `WebAppContext` has it's own `ErrorPageErrorHandler` is due to the servlet spec.

One area of the Servlet spec has to do with mapping of situations to error pages.
This is done by mapping ...

* Response status codes to page
* Throwable/Exceptions to page
* Global to page (if not matching above)

This requires the `ErrorPageErrorHandler` to exist in the `WebAppContext` due to

[2022-03-16 13:23] santh5858 commented on #7747
Basically i'm looking for a way to handle errors/exception for webapps in that server instance with a custom error page.
Here, by error/exception, i mean anything thrown that is not handled by the webapp. For example, instead of mapping 404 pages in web.xml for each webapp or handling a specific type of exception, i'd like to configure it outside the webapp. So in case the webapp throws an error a

[2022-03-16 14:06] joakime commented on #7747
That `org.eclipse.jetty.server.handler.ContextHandler` does not use `ErrorPageErrorHandler`, it uses the server level error handler.
This is simply because it is not a `WebAppContext`.

404 is handled entirely within the `WebAppContext`, if you have no 404 mapping specified in the webapp, then the `DefaultServlet` answers the 404, no error handler involved.
This again is standard Servlet behavior,

[2022-03-16 19:03] joakime opened #7748 "Allow overriding of url-pattern mapping in ServletContextHandler to allow for regex or uri-template matching"
**Target Jetty version(s)**
10.0.9

**Enhancement Description**

The current ServletContextHandler does it's job nicely with regards to Servlet "url-pattern" based lookups of mapped servlets and filters.
But internally our Path Mapping layer (at `org.eclipse.jetty.http.pathmap`) supports Regex and UriTemplate as well as the original Servlet url-pattern.

Rework `ServletContextHandler` to allow mor

[2022-03-17 02:51] test-kouichi-shinotsuka commented on #7723
@joakime

There is a description that "jetty powered by devices such as Android" at below page.
https://www.eclipse.org/jetty/

So I was conceived that jetty https server can start at android.
But developer needs stubs for javax.naming classes.
Please write notation somewhere that developer needs stubs.
For example, ReadMe.md.

[2022-03-17 03:29] santh5858 commented on #7747
I think i understand now. Thanks for the detailed explanation. I'll try implementing it in the way you suggested. Thanks

[2022-03-17 03:29] #7747 closed, assigned to nobody

[2022-03-17 13:14] selva3k opened #7749 "Does Jetty 9.4.x supports RESTEasy 6?"
**Jetty version**
9.4.35

**Java version**
1.8

**Question**
Does Jetty 9.4.35(java version:1.8) supports RESTEasy 6?  If yes, please share some material for the integration (if you have any reference)

[2022-03-17 16:07] joakime commented on #7749
https://docs.jboss.org/resteasy/docs/6.0.0.Final/userguide/html_single/index.html#standalone_resteasy

This would be a better question to ask the folks at Resteasy.
We don't know the internals of Resteasy to be able to answer that.

[2022-03-17 16:07] #7749 closed, assigned to nobody

[2022-03-18 06:40] ritzow opened #7750 "HttpURI.toURI() does not copy fragment"
**Jetty version(s)**

11.0.7

**Java version/vendor** `(use: java -version)`

Oracle OpenJDK 17 (from jdk.java.net)

**OS type/version**

Windows 10.

**Description**
The fragment does not get copied into the URI object, the final parameter in the URI constructor is set to null, even though HttpURI can handle fragments. This is very unexpected, and I assume, a bug.

https://github.com/eclipse/jett

[2022-03-18 10:21] gregw commented on #7750
It was/is kind of a deliberate bug.   Browsers should never send a fragment to the server and as HttpURI is primarily a class used for our server to handle/manipulate URIs, we left the fragment out so that even if some non-browser client sent one, we would drop it and not copy it.     This was done more so that we didn't have to think about any consequences of propagating a fragment in server rath

[2022-03-18 13:15] jiang-cao commented on #7688
I create https://github.com/eclipse/jetty.project/pull/7751 for review.  The solution works in my project.
@sbordet  could you help review it?

[2022-03-18 14:22] ritzow commented on #7750
@gregw Good to know. I was just going to use it in a Location header from the server side to have the browser automatically scroll to a specific tag, which appears to be accepted by all browsers and in the HTTP spec. I ended up just using specific HttpURI methods instead of HttpURI or URI toString() because it gives more control over the format anyways, but it would be good to at least have a java

[2022-03-18 14:38] joakime commented on #7750
Just adding information (for others that see this in the future)

The HTTP protocol, be it HTTP/1.1 or HTTP/2 (or HTTP/3), basically says that the resource being requested is defined by the ABNF for `path-absolute` as defined by [RFC3986: Section 3](https://datatracker.ietf.org/doc/html/rfc3986#section-3) with an optional query portion. (this definition for how the protocol is used never has a `fr

[2022-03-18 16:09] tresf commented on #7078
@lachlan-roberts

[This change](https://github.com/eclipse/jetty.project/pull/7079/files#diff-3130cf117f2f223d3c500009477bf6bf2c994b5ae3380d79e62942e999b1ee3dL80) now appears to prevent `configuration` from being initialized when calling `WebSocketUpgradeFilter.configure(context);`, potentially causing NPE when calling something like `webSocketUpgradeFilter.addMapping(...)`.  A workaround is to us

[2022-03-18 16:12] mattiasbe opened #7752 "Setting a StatisticsHandler makes http.spi.JettyHttpServer unstartable with exception"
**Jetty version(s)**
9.4.45

**Java version/vendor** `(use: java -version)`
1.8.0_241; Java(TM) SE Runtime Environment 1.8.0_241-b07, Java HotSpot(TM) 64-Bit Server VM 25.241-b07; Oracle Corporation

**OS type/version**
Windows 10 64bit

**Description**

Setting a StatisticsHandler makes http.spi.HttpServer unstartable with exception:
[code]

Reason:
The method `JettyHttpServer#findContextHandlerC

[2022-03-18 17:00] joakime commented on #7078
@tresf is this embedded Jetty or standalone?

If embedded, how are you initializing websocket?

It should look like this ...

[code]

Note that you can use `WebSocketUpgradeFilter` and configure it when you setup the `ServletContextHandler`, like this ...

https://github.com/eclipse/jetty.project/blob/4a0c91c0be53805e3fcffdcdcc9587d5301863db/jetty-websocket/jetty-websocket-tests/src/test/java/org/

[2022-03-18 17:11] joakime commented on #7752
Set `server.setDumpAfterStart(true);` when you create your `server` instance, but before you start it, and report back the output.

In step 2, you don't describe what `handlers` is.

Also, your version of [Java (1.8.0_241) expired on May 14, 2020](https://www.oracle.com/java/technologies/javase/8u241-relnotes.html) - you need to upgrade it.

[2022-03-18 19:46] mattiasbe commented on #7752
Thanks for the really quick reply.

 I'll see if I can minimize it somewhat or make a minimum standalone reproducable case instead.

In this case:
[code]
But multiple things adding/using the contexts... I'll update later on.

Thanks for pointing this out, it's just one java 8 jdk folder I had on my workstation and I could reproduce it with the first one I found so went with that.

[2022-03-18 19:55] mattiasbe commented on #7752
Attached the server dump, might be a bit much in the classloader when I quickly reproduced it, but relevant information seems to be there.

[serverdump.txt](https://github.com/eclipse/jetty.project/files/8307279/serverdump.txt)
.

[2022-03-18 20:04] mattiasbe commented on #7752
That was with the patched. Here is without the patch. Along with the complete exception and stacktrace afterwards.

[serverdump_unpatched.txt](https://github.com/eclipse/jetty.project/files/8307353/serverdump_unpatched.txt)
.

[2022-03-18 20:18] mattiasbe commented on #7752
A minimal reproducible case is attached along with the server dump.

[serverdump_unpatched.txt](https://github.com/eclipse/jetty.project/files/8307414/serverdump_unpatched.txt)
[StatisticsJettyProblem.java.txt](https://github.com/eclipse/jetty.project/files/8307419/StatisticsJettyProblem.java.txt)
.

[2022-03-20 16:24] TimePerformance opened #7754 "jetty.sh ignores JAVA_OPTIONS environment variable"
**Jetty version(s)**
10.0.8

**Java version/vendor** `(use: java -version)`
OpenJDK Runtime Environment Corretto-17.0.2.8.1

**OS type/version**
Amazon Linux 2

**Description**
Jetty failed to start after migrating from 10.0.6 to 10.0.8 (no jetty-start.log, no jetty.log)

What is strange is that in jetty.sh, JAVA_OPTIONS is mentioned in the doc in the header of the file but it is not used (except

[2022-03-20 17:25] joakime commented on #7754
`RUN_ARGS` must be built from `--dry-run` to avoid a forked JVM.

That means JAVA_OPTIONS must come from your `${jetty.base}` configuration (see `jvm` module).

Your change allows for a forked JVM.

The other option you have is to use `$JETTY_SYS_PROPS` instead of `$JAVA_OPTIONS`. (this is because `$JAVA_OPTIONS` does not carry over to the forked JVM, but the `$JETTY_SYS_PROPS` will)

[2022-03-20 18:42] TimePerformance commented on #7754
thanks a lot for the explanation

[2022-03-21 13:21] jaroslawr commented on #7683
@lachlan-roberts I created a fix for this, partially based on your old commit https://github.com/eclipse/jetty.project/commit/7a04b3eb19820c66b65d026cfd972a49689dc582 that you later partially reverted in https://github.com/eclipse/jetty.project/commit/2f23c5936e0159d345a93035d7ef14be87516efd. I added back the reverted code from `7a04b3e` in GzipHttpOutputInterceptor, but conditionally on direct bu

[2022-03-21 14:39] joakime commented on #7615
Closing, Merged PR #7763

[2022-03-21 16:33] gregw commented on #7615
Reopening as not yet merged to 10, 11 & 12!

[2022-03-22 04:45] lachlan-roberts commented on #7078
@tresf I see from your stacktrace the error is from `PrintSocketServer`.

It doesn't make much sense to be configuring the mappings before starting as the mappings are cleared on restart, so this change was intentional as without it other use cases are broken. I see that this change does break your usage of `WebSocketUpgradeFilter.addMapping()`, I think this method should probably be deprecated as

[2022-03-22 06:32] lachlan-roberts commented on #7740
@minduch can you try setting your alpn default protocol to `HTTP/1.1`.

WebSocket upgrade comes as an HTTP/1.1 request, with the exception of RFC8441 where a single HTTP/2 stream is upgraded to websocket and this is not widely supported yet.

I was able to test your example code and changing `alpn.setDefaultProtocol(protocol)` to `alpn.setDefaultProtocol(httpProtocol)` worked for me.

[2022-03-22 08:13] npantelic opened #7766 "Jetty rejects encoded URIs with HTTP/2"
**Jetty version(s)**
`9.4.44.v20210927`

**Java version/vendor**
`Open JDK version 11.0.14.1`

**OS type/version**
Both MacOS and Linux.

**Description**
Jetty does not accept encoded URIs over HTTP/2. It returns `<h1>Bad Message 400</h1><pre>reason: Ambiguous path separator</pre>`

**How to reproduce?**
- Use HTTP/2 connector (with ALPN; in my case with chained protocols `h2, h2-17, http/1.1`).
-

[2022-03-22 08:54] gregw commented on #7748
Needs merging to 12.

[2022-03-22 12:52] joakime commented on #7766
Seems that Issue #7710 is related

[2022-03-22 12:52] joakime commented on #7766
Or you can move to Jetty 10.0.x which has HttpCompliance and UriCompliance across all Connection Factories.

[2022-03-22 13:24] minduch commented on #7740
Yes we know this works - i.e. that using only HTTP/1 and disabling HTTP/2 and HTTP/3 works with WebSockets. This, however, turns our Jetty-based server into an "OLD" HTTP/1.1 server that cannot serve the new protocols HTTP/2 and HTTP/3. About 99% of the requests are the new protocols, and 1% at maxiumum for WebSockets. So the "bug" according to us, is the WebSocket upgrade process that should - fo

[2022-03-22 13:41] minduch commented on #7740
I am reading about Chrome's support for WebSockets over HTTP/2. Then there are stuff written for Bootstrapping WebSockets with HTTP/2 and for Bootstrapping WebSockets with HTTP/3. Is there no way that Jetty performs Bootstrapping WebSockets to "upgrade" the connection to "HTTP/1.1"?

[2022-03-22 13:48] minduch commented on #7740
Couldn't the upgrade process for WebSocket look like somthing described below in order for WebSockets to be able to function in a HTTP/3, HTTP/2 and HTTP/1 environment with security enabled (HTTPS or TLS).

The handshake from the client looks as follows:

[code]
 The handshake from the Jetty would look like:

[code]

[2022-03-22 13:51] joakime commented on #7740
HTTP/3 support in Jetty is currently experimental and is not ready for production.

Now, with HTTP/2, we support [RFC8441: Bootstrapping WebSockets with HTTP/2](https://datatracker.ietf.org/doc/html/rfc8441), so using HTTP/2 for WebSocket should work on compatible browsers.

* Chrome 91+ supports it - https://chromestatus.com/feature/6251293127475200
* Firefox 65 was the first one with support, bu

[2022-03-22 13:53] joakime commented on #7740
That is not an HTTP/2 request.
That's an HTTP/1.1 request attempting to use HTTP/2 or HTTP/3.
The existence of the `Host` header is the clue (that only exists on HTTP/1.1).

The HTTP/2 support for WebSocket uses [the spec](https://datatracker.ietf.org/doc/html/rfc8441) defined CONNECT + "websocket" protocol technique.

Also, the `Upgrade`, `Connection` headers are not permitted on HTTP/2, and the

[2022-03-22 14:56] joakime opened #7767 "Jetty Release 9.4.46"
**Jetty Versions:**
This release process will produce releases: 9.4.46

**Target Date:**
March 28, 2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "relea

[2022-03-22 14:57] joakime opened #7768 "Jetty Releases 10.0.9, 11.0.9"
**Jetty Versions:**
This release process will produce releases:
10.0.9 and 11.0.9

**Target Date:**
March 28, 2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue

[2022-03-22 15:00] joakime commented on #7767
I'll be taking the release manager role for this release.

[2022-03-22 15:02] #7617 closed, assigned to joakime

[2022-03-22 15:40] joakime commented on #5681
How about this result?
Seen in PR #7769

[code]

[2022-03-22 15:44] joakime commented on #6552
Postponing to 10.0.10

[2022-03-22 17:54] joakime commented on #7768
I'll be the "release manager" for this release.

[2022-03-22 22:07] lachlan-roberts commented on #7740
Jetty 10+ does support the HTTP/2 WebSocket upgrade, but it is a CONNECT request and only upgrades a single HTTP/2 stream not the entire connection. Jetty does not support WebSocket over HTTP/3 and I have not seen any spec for this either.

@minduch I wasn't suggesting you disable HTTP/2 and HTTP/3, if you set the alpn default protocol to HTTP/1.1 doesn't turn Jetty into a OLD HTTP/1.1 server, it

[2022-03-23 16:24] tresf commented on #7078
@lachlan-roberts, @joakime much thanks, minor changes (commented) all working now. 🍻

[code]

[2022-03-23 16:48] joakime opened #7771 "Clarify WebSocketUpgradeFilter.addMapping() method usage"
_Originally posted by @lachlan-roberts in https://github.com/eclipse/jetty.project/issues/7078#issuecomment-1074721606_

[2022-03-23 17:09] joakime commented on #7078
I went ahead and opened Issue #7771 about this, and updated the javadoc in PR #7772 to clarify this behavior in javadoc a bit more.

[2022-03-23 18:06] #7548 closed, assigned to sbordet

[2022-03-23 18:25] #7182 closed, assigned to nobody

[2022-03-23 18:32] joakime opened #7774 "Flaky Test : DataDemandTest.testBlockingReadInADifferentThread()"
**Jetty version(s)**
10.0.9-SNAPSHOT

**Description**

[code]

[2022-03-23 19:01] joakime commented on #6184
Here's an example of how to use the JVM specific Privileged Thread Factory in our code.
Commit: https://github.com/eclipse/jetty.project/commit/3c462c35f349f749b2d5247cf41a8ba5b81ee9df

[2022-03-23 19:26] sbordet commented on #6079
@gregw why this?

Wrapping OpenSSL with JSSE is a monumental work (look at Conscrypt).

Conscrypt is a OpenSSL fork so would not that be enough?

[2022-03-23 19:32] joakime commented on #7771
Opened PR #7772

[2022-03-23 19:50] mezhaka commented on #2759
I have a legacy app that writes logs to a file.  I now run it as a K8s deployment and would like it to write the logs to stdout, where K8s can pick it up.  Is there absolutely no way to specify the `--log` parameter to use stdout?

[2022-03-23 20:34] joakime commented on #2759
If it's embedded, the way to configure it is with whatever that embedded solution offers you.
It's really out of Jetty's hands at this point.

[2022-03-23 20:57] sbordet commented on #7766
Duplicate of #7710.

[2022-03-23 20:57] #7766 closed, assigned to nobody

[2022-03-23 21:02] #6879 closed, assigned to olamy

[2022-03-24 04:43] lachlan-roberts opened #7775 "Failure in Jetty 12 HTTP/2 TrailersTest: RetainableByteBuffer already released"
**Description**

Got once off failure when running `org.eclipse.jetty.http2.tests.TrailersTest#testRequestTrailerInvalidHpackReceived`.
I ran the test again a few times but did not reproduce the error.

Looks like there is a race where sometimes the buffer is released twice.

[code]

[2022-03-24 08:02] npantelic commented on #7766
@joakime Thanks for the answer, it helped 😄

[2022-03-24 10:57] mezhaka commented on #2759
Jetty is not embedded.  The app uses jetty-runner.  The solution is to specify `/dev/stdout` for `--log` parameter:
[code]

[2022-03-24 17:04] #7683 closed, assigned to lachlan-roberts

[2022-03-24 17:39] sbordet commented on #7692
@lisay-yan if you can reproduce this issue, can you enable DEBUG logging and attach the logs here?

The pcap shows that the client sends a CONNECT, receives a 200 and then sends encrypted data like it should.
Do you expect this?

Also, you could enable the system property `-Djavax.net.debug=all` to see what the OpenJDK TLS implementation sees.

I would also double check the idle timeouts to avoid

[2022-03-24 18:14] #7771 closed, assigned to joakime

[2022-03-24 21:56] olamy opened #7777 "Failing Test Jetty 11 - ServletContextHandlerTest.testAsyncServletRequestListenerListener"
Jetty 11 build keep failing with this
[code]

https://jenkins.webtide.net/job/jetty.project/job/jetty-11.0.x/1026/testReport/

[2022-03-24 21:57] joakime commented on #7777
Should be looked at before we cut the Jetty 11.0.9 release?

[2022-03-24 23:43] minduch commented on #7740
@lachlan-roberts @joakime

Just to be sure: calling `alpn.setDefaultProtocol(httpProtocol)`, where `httpProtocol` is the `String` returned by the `HttpConnectionFactory` will allow HTTP/3, HTTP/2 and HTTP/1.1 (perhaps also HTTP/1.0)?

To be really clear, if the client (browser/WebView) connects using HTTP/3 or 2, then that protocol will be used, regardless of the `alpn.setDefaultProtocol(...)` set

[2022-03-24 23:46] minduch commented on #7740
@lachlan-roberts @joakime When would Jetty support HTTP/2 (and/or 3 [I know 3 is "hardly RFC" yet]) WebSocket Bootstrapping? Will it be announced somewhere so I can keep track of it?

[2022-03-24 23:53] minduch commented on #7740
@lachlan-roberts @joakime Sorry: forgot some questions, what does the browsers or WebViews request as default protocol below:

1. Chrome?
2. MS IE 11?
3. MS Edge?
4. macOS/iOS Safari?

Please specify the (browser/WebView major) version numbers where changes may occur, if any (or the browser/WebView `userAgent` string).

[2022-03-25 00:00] #5074 closed, assigned to nobody

[2022-03-25 00:00] #5073 closed, assigned to nobody

[2022-03-25 02:03] joakime commented on #7740
WebSocket over HTTP/2 is currently supported in Jetty 10.0.8 and 11.0.8

WebSocket over HTTP/3 is not (yet).

[2022-03-25 03:15] jiang-cao commented on #7688
@sbordet  I create https://github.com/eclipse/jetty.project/pull/7778 base on your comments. Please help review it.

[2022-03-25 08:49] #4318 closed, assigned to lorban

[2022-03-25 08:57] lorban commented on #7730
@tk0214 if my understanding of your description is right, the only way you can enter this code path is by setting the `ConnectBlocking` property to true on your `HttpClient` instance. Could you please confirm and try out without that setting to see if that helps?

Regarding the `createEndPoint()`call in `Accept.run()` I fail to see how it could throw IOException. Did I overlook something? Could yo

[2022-03-25 10:30] #7774 closed, assigned to sbordet

[2022-03-25 16:57] #7688 closed, assigned to nobody

[2022-03-25 17:25] #5681 closed, assigned to gregw

[2022-03-25 17:29] joakime commented on #7777
This isn't a flaky test, it's failing 100% of the time.

[2022-03-25 17:40] joakime commented on #7777
Fixed in `jetty-11.0.x` (where it was failing)

[2022-03-25 17:40] #7777 closed, assigned to nobody

[2022-03-25 21:39] minduch commented on #7740
@lachlan-roberts @joakime Our product IIZI (accessible using https://mt.iizi.co), is currently using Jetty 11.0.8 with HTTP/1.1 (with the code attached in this case, plus much more).

However, turning on HTTP/2 like said in the discussion above to set ALNP default protocol to HTTP/1.1, our server causes Chrome Version 99.0.4844.84 (Official Build) (64-bit) to not display the "home page", but rathe

[2022-03-27 08:48] geekbeast commented on #5051
I just upgraded to Jetty 10 and the org.eclipse.jetty.server.webapp.ContainerIncludeJarPattern is working as expected. I've been happily using the AnnotationConfiguration hack since 2014 (https://bugs.eclipse.org/bugs/show_bug.cgi?id=404176#c15) and when I went to upgrade our project for Jetty 10, I added the ContainerIncludeJarPattern line back and it worked like a charm (Still no luck on Jetty 9

[2022-03-27 08:49] geekbeast commented on #5051
Also thanks for all the hard work on Jetty :)

[2022-03-28 08:57] #3248 closed

[2022-03-28 11:40] #7657 closed, assigned to janbartel

[2022-03-28 12:21] #7655 closed, assigned to nobody

[2022-03-28 13:38] lachlan-roberts commented on #7740
@minduch now I don't think the ALPN default protocol is actually related to your issue.

I can actually run your code without modifications and connect to WebSocket over HTTP/2.
Here is a simplified version of your sample code which does work with WebSocket.

Try running this and connecting with https://lachlan-roberts.github.io/util/websocket.html.  _(I needed to visit `https://localhost:8443/` i

[2022-03-28 19:36] joakime commented on #7767
I'll take the role of "build manager" for this release.

[2022-03-28 19:37] joakime commented on #7767
Staged `9.4.46.v20220328` is available at https://oss.sonatype.org/content/repositories/jetty-1751/

[2022-03-29 00:00] #5922 closed, assigned to nobody

[2022-03-29 00:00] #4795 closed, assigned to nobody

[2022-03-29 07:54] kfir91 opened #7795 "Closed error when using HttpServlet with JAVA"
**Jetty version(s)**
9.4.38

**Java version/vendor** `(use: java -version)`
11.0.10+9

**OS type/version**
Windows 10

**Description**
 I wrote HttpServlet doGet method this is the servlet:

[code]
this code working perfect with jetty 8.1.16 on port 8888 but when I using jetty 9.4.38 i got this error:

[code]
at this line:
`IOUtils.copy(content, out);`

what can i do? Considering I can not change

[2022-03-29 09:59] sbordet commented on #7795
Try setting _all_ response headers _before_ `IOUtils.copy()`.

[2022-03-29 10:00] #7575 closed, assigned to sbordet

[2022-03-29 10:01] joakime commented on #7795
You cannot do compression in Servlet 3.1+  using a Servlet Filter.

use the `GzipHandler` present in Jetty instead.

Also, do not set the `Content-Length` response header when doing compression.

And finally, make sure you set the `Content-Type` response header that is appropriate for your content (before you start sending it)

[2022-03-29 10:32] kfir91 commented on #7795
same issue

[2022-03-29 10:34] kfir91 commented on #7795
i using product that using jetty, i have no option the change something there, i change only in the servlet code. The same code worked perfect with jetty 8.1.16

[2022-03-29 13:26] joakime commented on #7795
You have moved into a new set of rules when you went Jetty 8.x to Jetty 9.x

The biggest change is the introduction of Async I/O in Servlet 3.1
That change, caused a massive amount of change on Servlet Containers.
The Servlet API itself changed as well.
Your Filter at `com.github.ziplet.filter.compression.CompressingServletOutputStream` is most assuredly NOT using the up to date `javax.servlet.Ser

[2022-03-29 15:41] janbartel opened #7801 "Session cookie can be set twice after session id changed"
**jetty 9,10,11**

When Request.changeSessionId() is called, the `isIdChanged` flag on the `Session` is used to indicate that a new `Set-Cookie` should be generated with the new session id. However, this flag is not cleared after the cookie is successfully generated. Thus, on the _next_ request, the `Set-Cookie` header will be generated again. The flag is then cleared correctly. Note that both `Se

[2022-03-30 16:41] joakime commented on #7767
Dropped Staged `9.4.46.v20220328`

[2022-03-30 16:42] joakime commented on #7767
Staged `9.4.46.v20220330` is available at https://oss.sonatype.org/content/repositories/jetty-1753/

[2022-03-30 17:35] joakime commented on #7768
Staged release `10.0.9` is available at https://oss.sonatype.org/content/repositories/jetty-1754/

[2022-03-30 20:42] joakime commented on #7768
Staged release `11.0.9` is available at https://oss.sonatype.org/content/repositories/jetty-1755/

[2022-03-30 22:27] lachlan-roberts commented on #7676
@sbordet This seems to be the problematic situation.

1. The encoder sends `EncodedFieldSection` with non-zero required insert count.
2. Reading is abandoned before this `EncodedFieldSection` is received.
3. The decoder will never acknowledge that encoded section because it never receives it.

So any references taken by the encoder to send the `EncodedFieldSection` will never be released as no `Se

[2022-03-31 00:21] #4501 closed, assigned to lachlan-roberts

[2022-03-31 10:51] navinko opened #7812 "java.util.concurrent.TimeoutException: Idle timeout expired"

[2022-03-31 10:51] #7812 closed, assigned to nobody

[2022-03-31 16:29] joakime commented on #7767
Dropping Staged `9.4.46.v20220330` (needs reroll)

[2022-03-31 17:22] joakime commented on #7767
Staged `9.4.46.v20220331` is available at https://oss.sonatype.org/content/repositories/jetty-1756/

[2022-03-31 20:08] edavedian opened #7814 "Jetty Proxy with “Fire and Forget”"
**Jetty version**
Latest 9

**Java version**
8

**Question**
Hello, thank you very much for jetty-proxy module. It is very helpful.
We have a use case where we want to proxy the request but don’t want to wait for the response.
I tried a few things but was unable to achieve this and I was wondering if there is a mechanism in which we could achieve this even if we need to override a method.

[2022-03-31 20:14] edavedian commented on #7814
To clarify further, the response to the client could be SC_ACCEPTED and in this case the client isn’t interested in the actual result of the proxied call.

[2022-03-31 21:33] joakime commented on #7814
The `202 Accepted` response is an odd one for a proxy.
Does this mean the proxy has to store the response for the later request to same resource from the same client? (yeah, that's not the role of a proxy)
Does that mean the proxy now has to track cookies of it's own, ones not related to the backend server? (nope, cannot do that in all circumstances)

[2022-03-31 22:37] edavedian commented on #7814
Thank you very much for the reply. In this use case the proxy doesn’t need to store the response and the client will not inquire about it later.  The proxy can just respond to the client with 202 Accepted and then proceed to proxy the request.

[2022-04-01 01:51] joakime commented on #7814
How would the proxy know what requests should be normally proxied, and which ones should be async processed with a `202 Accepted` response?

[2022-04-01 02:24] edavedian commented on #7814
Thank you very much for the reply. We are currently migrating applications form one cloud provider to another.  We had a need to capture and replay requests from the live instance of the application to the migrated instance to make sure that the migrated instance functions properly and can handle similar load.

We successfully implemented this using nginx’s mirror module (https://nginx.org/en/docs

[2022-04-01 02:33] edavedian commented on #7814
If the 2 servlet solution is not possible, we could still maintain nginx but make the mirror be a local instance of jetty-proxy with a single servlet running in spring boot and that is also when we would like for the mirror request to be async processed to the migrated instance of the application and respond with 202 Accepted.
We could create an init-parameter for configuration of async request fo

[2022-04-01 10:17] mjs8002 opened #7817 "Spring Framework RCE via Data Binding on JDK 9+:CVE-2022-22965"
**Jetty version(s)**
9.4.43.v20210629
**Java version/vendor** `(use: java -version)`
jdk 1.9
**OS type/version**
linux
**Description**
_Do not report security issues here! See [Jetty Security Reports](https://www.eclipse.org/jetty/security_reports.php)._
A Spring MVC or Spring WebFlux application running on JDK 9+ may be vulnerable to remote code execution (RCE) via data binding. The specific expl

[2022-04-01 10:27] uschindler opened #7818 "Modifying of HTTP headers in HttpChannel.Listener#onResponseBegin is no longer possible with Jetty 10"
**Jetty version(s)**
Jetty 10.0.8

**Description**
I asked this already on the mailing list:

I have a Jetty server that was upgraded from 9.4 to 10.0. There is one requirement to do some "header maintenance": Before the response is sent to client, I want all headers created by several addHeaders in a bunch of servlets, filters and other handlers to be cleaned up. In my case, this is deduplication

[2022-04-01 11:08] TimePerformance commented on #7754
It seems that $JETTY_SYS_PROPS is redefined in the jetty.sh like that
`JETTY_SYS_PROPS=$(echo -ne "-Djetty.home=$JETTY_HOME" "-Djetty.base=$JETTY_BASE" "-Djava.io.tmpdir=$TMPDIR" `
Thus previous value of $JETTY_SYS_PROPS is ignored

I've tried to use the jvm module. I've set system properties in jvm.ini with the -DMY_VAR=VALUE syntax. However, in the  RUN_CMD generated by the dry run, ${MY_VAR} ar

[2022-04-01 11:43] joakime commented on #7817
Jetty 10.0.0+ does not have `jetty-spring`
And the use of `jetty-spring` is only for old users of spring, from the days before springboot, spring-mvc, or spring-webflux.

Duplicate of Issue #6756 fixed in PR #7813

[2022-04-01 11:43] #7817 closed, assigned to nobody

[2022-04-01 11:50] joakime commented on #7754
for property expansion in start modules (be it in `*.mod`, or `*.ini`, or `*.xml`), use simple post-jar properties, don't rely on system properties (that's last resort, backup solution, not the primary solution)

for your example, the use of `JETTY_ARGS` to set the simple property should be enough.  (don't prepend with `-D`)

[code]

[2022-04-01 11:52] uschindler commented on #7818
FYI, I found a solution using an Interceptor to handle this:

[code]

I am installing this interceptor inside the `onRequestBegin()` callback of the listener.

This is a workaround but far from elegant.

[2022-04-01 12:04] joakime commented on #7818
Very detailed issue, thank you.

Looking at this today.

[2022-04-01 12:06] joakime commented on #7817
If you are using Java 9+, why are you not using Jetty 10+? (which is designed for the post Java 8 runtime world we live in now)

Jetty 9.x only exists for those users that are stuck on Java 8.

[2022-04-02 03:39] mjs8002 commented on #7817
if we use jetty9.x on Java 8，Does not involve this bug ?

[2022-04-02 09:03] olamy commented on #7817
please read the announcement from vmware here https://tanzu.vmware.com/security/cve-2022-22965
as you said there is

[2022-04-02 13:25] cowwoc opened #7822 "What does "SOCKS4 tunnel failed, connection closed" mean?"
**Jetty version**
11.0.8

**Java version**
17

**Question**
While sending out many HTTP requests over a SOCKS proxy I get `SOCKS4 tunnel failed, connection closed`. This is coming from https://github.com/eclipse/jetty.project/blob/cb127793e5d8b5c5730b964392a9a905ba49191d/jetty-client/src/main/java/org/eclipse/jetty/client/Socks4Proxy.java#L164

The stack-trace looks like this:

[code]

I don't und

[2022-04-02 13:57] joakime commented on #7817
For you to be impacted by CVE-2022-22965, **all** of the following must be true.

1. You are using spring-mvc or spring-webflux
2. You are using Tomcat standalone
3. You are using WAR deployment
4. You are using a Java 9+ runtime environment.
5. You are using Spring version 5.3.17 (or older)

To break this down in terms for Jetty ...

Nothing in Jetty uses spring-mvc or spring-webflux. (point 1)
W

[2022-04-03 11:22] joakime commented on #6052
Merged PR #6053

[2022-04-03 11:22] #6052 closed, assigned to nobody

[2022-04-04 00:00] #4125 closed

[2022-04-04 00:00] #4073 closed

[2022-04-04 07:11] RahimAmeen opened #7824 "HTTP ERROR 403 No valid crumb was included in the request"
when I create Jenkins job creation I'm getting this error .

[2022-04-04 08:02] sbordet commented on #7824
Not enough information. "Crumb" is not something related to Jetty, you should look into Jenkins maybe.

[2022-04-04 09:14] janbartel commented on #7531
Had a go at reinstating this in PRs #7565 and #7564 but after a great deal of discussion it seems like the fix is too difficult/complicated to achieve in the short term, so this is going onto the backburner.

[2022-04-04 11:47] gregw commented on #7748
We may also need this in a 9.4 release

[2022-04-04 18:05] thecodewarrior opened #7833 "Jetty injects `Content-Length: 0` into HEAD responses"
**Jetty version(s)**

10.0.7

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version**

macOS 12.3

**Description**

Jetty always sends a `Content-Length` header in `HEAD` requests. As per [RFC 7231 §4.3.2](https://httpwg.org/specs/rfc7231.html#HEAD) they should send the same headers as a `GET` request would have sent. Inferring the `Content-Length` makes the correct behavior im

[2022-04-04 19:04] joakime commented on #7833
Section https://datatracker.ietf.org/doc/html/rfc7231#section-4.3.2 doesn't mention anything about adding a `Content-Length` header if it's missing.

The use of `Transfer-Encoding: chunked` by a response should be preserved, and no `Content-Length` header should be required to be present on the HEAD response if the actual response is chunked.

I have verified this is a bug, and the behavior is pre

[2022-04-04 19:37] joakime commented on #7833
Interesting...

If the `Transfer-Encoding: chunked` is determined via hinting, the test fails.
But if the `Transfer-Encoding: chunked` is forced then the test passes.

So this servlet (returning 1GB+ content) fails ...

[code]

But this one doesn't fail, and passes.

[code]

[2022-04-04 19:42] joakime commented on #7833
When you see `Content-Length: 0` in the response is from when the response metadata is generated (it always generates with `Content-Length: 0`).
And then later once the body content technique is determined, it either becomes a known number, or is replaced with `Transfer-Encoding: chunked`.
This is the hinting I was referring to above.

This step (going from hint to specific behavior) doesn't happe

[2022-04-04 22:38] greengooru opened #7835 "OSGi - java.lang.ClassNotFoundException: org.eclipse.jetty.websocket.server.WebSocketServerFactory not found by org.eclipse.jetty.util"
Using version 9.4.46
I am writing a simple WebSocket Server in OSGi. The Service is configured and initialized properly and it starts, however, when it receives the first connection, the Server fails to initialize and returns the following exception: `java.lang.ClassNotFoundException: org.eclipse.jetty.websocket.server.WebSocketServerFactory not found by org.eclipse.jetty.util `

The file `org.ecl

[2022-04-04 22:49] joakime commented on #7835
Can you detail how you have started your OSGi environment.
Including which bundles you are using. (all of them, including any from the jetty-osgi sub-project bundles that you might have present)
Also include any ServiceLoader configurations you have for your OSGi environment as well (eg: spifly or equivalent).

[2022-04-04 23:25] greengooru commented on #7835
Hello @joakime
I use this class to start the WebSocket:

[code]

[code]

And finally:
[code]

The Bundles I am using with `<jettyVersion>9.4.46.v20220331</jettyVersion>`:

        <dependency>
            <groupId>org.eclipse.jetty.websocket</groupId>
            <artifactId>websocket-api</artifactId>
            <version>${jettyVersion}</version>
        </dependency>
        **<dependency>

[2022-04-05 03:23] joakime commented on #3926
@sbordet aren't you working on this for jetty 12?

[2022-04-05 04:46] moadi opened #7836 "Jetty quickstart with spring boot does not startup in k8s"
**Jetty version**
9.4.44.v20210927 (docker)

**Java version**
1.8.0_322-b06

**Question**
Hello,

I've been following the instructions outlined [here](https://www.eclipse.org/jetty/documentation/jetty-9/index.html#quickstart-webapp) to pre-generate the `quickstart-web.xml` file so that we can improve startup times for our Java services running within docker. In our dockerfile, we transfer the expl

[2022-04-05 05:01] moadi commented on #7836
Apologies - I checked the help of the `PreconfigureQuickStartWar` class file and realized I wasn't actually passing in the path to the context XML!

Changing my script to:

[code]

did the trick

[2022-04-05 05:01] #7836 closed, assigned to nobody

[2022-04-05 08:52] olamy commented on #7824
Usually happens in Jenkins when you are not logged in.

[2022-04-05 08:52] #7824 closed, assigned to nobody

[2022-04-05 10:29] gregw commented on #7833
@thecodewarrior  Note my highlight below in what you said:

The fact that your app is skipping the actual payload when it sees a HEAD request makes it very difficult for jetty to send the same headers for a HEAD as for a GET.

I think the bug is that currently jetty is not committing the response to a HEAD request when the amount of bytes written would have overflowed the buffer and forced the hea

[2022-04-05 10:50] gregw commented on #7833
Ah!   Part of this problem might actually be the servlet specifications implementation of `doHead` up to [servlet 5.0](https://github.com/jakartaee/servlet/blob/5.0/api/src/main/java/jakarta/servlet/http/HttpServlet.java#L191-L196):
[code]

You can here that content-length is being explicitly set only for head request.    So have you overridden this method?

If I update @joakime tests to override

[2022-04-05 15:21] gregw opened #7844 "PathMappings efficiency"
**Target Jetty version(s)**
Jetty-12

**Enhancement Description**

Currently when mapping a servlet, there is  code to the effect of:
[code]

Depending on the `PathSpec` type, this can be very inefficient. For example with `RegexPathSpec` in each of the three calls the following code can be executed:
[code]
So the same regex has the 3 matchers created for the same path!  The best case is the `Serv

[2022-04-05 15:57] MrAkansh commented on #7817
@joakime , thanks a lot for analysing in details for jetty 9.x users world

[2022-04-05 16:30] joakime commented on #7835
Your listed dependencies have no ServiceLoader support for OSGi.

[code]

That artifact is merely an OSGi declaration of the serviceloader namespace, and does not actually provide the ServiceLoader SPI that OSGi and Jetty needs.

Consider installing an OSGi ServiceLoader SPI (eg: Apache SpiFly) and try again.

[2022-04-05 18:10] greengooru commented on #7835
Perhaps if you could be a little more specific about what Bundle exactly should be added in order to make it work. I just tried with this SpiFly dependency:

[code]
But still the same issue. Is there one dependency you know about?
Here bellow you can see the StackTrace of the exception:

[code]

[2022-04-05 22:04] thecodewarrior commented on #7833
The reason we don't know the content length is that it's dynamically generated, so just copying until the buffer overflows isn't very efficient. However, using `flushBuffer` works perfectly!

Honestly the idea of writing to a head request anyway so jetty can infer headers never even occurred to me. In that case inferring the content length makes sense. Thanks for the tip about `flushBuffer`!

[2022-04-06 08:02] geekbeast commented on #5051
@janbartel I spoke too soon! Went to deploy code that was working fine in IntelliJ and the WebApplicationInitializers did not get picked up again. This time though I was able to track down the issue. We use the gradle application plugin to bundle our dependencies and due to a command line length limitation on windows we set that classpath via a manifest file in the main jar. It turns out that addi

[2022-04-06 09:11] joakime commented on #5051
That gradle jar / manifest config is for the Server itself (in other words, what class is started by the JVM), and would have no impact on a WebAppContext and it's own isolated WebAppClassloader.

[2022-04-06 09:26] gregw commented on #7748
Closing as:
 + cherry picked 10 to 9
 + improved in 9
 + cherry picked 9 to 10
 + merged to 11
 + cherry picked to 12
 + manually fixed when cherry-pick to 12 missed the renamed files!

whew!

[2022-04-06 09:53] janbartel commented on #7835
I think you're missing some setup.  Take a look at this example project here: https://github.com/jetty-project/embedded-jetty-websocket-examples/tree/9.4.x/native-jetty-websocket-example.  It shows you the code you need, plus the `pom.xml` should show you the list of jars/bundles you need on the classpath.

[2022-04-06 11:12] greengooru commented on #7835
Thank you @janbartel , but it needs to be an OSGi WebSocket. The example you share is for a standalone application. In a standalone application it surely works normally.

It is in OSGi where the exception occurs.

[2022-04-06 15:48] janbartel commented on #7835
@greengooru what I'm trying to tell you is that you have setup missing in your server setup class - it should be about the same as the standalone code in the example.

[2022-04-06 15:53] joakime commented on #7835
How can the ClassNotFoundException be triggered **from** `org.eclipse.jetty.websocket.servlet.WebSocketServletFactory` saying it cannot find `org.eclipse.jetty.websocket.servlet.WebSocketServletFactory` ?

It seems to indicate that `org.eclipse.jetty.util` is attempting to access `org.eclipse.jetty.websocket.servlet.WebSocketServletFactory`, but nothing in util even knows about websocket.

[2022-04-06 16:49] joakime commented on #7818
Opened PR #7850 with proposed fix

[2022-04-06 17:21] greengooru commented on #7835
Thanks @janbartel , @joakime
The CkassNotFoundException is triggered because of this line:
`Class.forName("org.eclipse.jetty.websocket.server.WebSocketServerFactory"...);`
Line 51, in the `ServletFactory` of the WebSocket. We all know that using `Class.forName` in OSGi is not a good idea, nevertheless, if the library already has an explicit requirement to `org.eclipse.jetty.websocket.servlet.WebSo

[2022-04-06 17:35] uschindler commented on #7818
I reviewed the PR: looks fine to me. I did no local tests, but the fix was what I expected and the test is basically the code from above. I was just not sure if moving the listener callback may have any other side effects, but after reviwing again the order does not matter (except for this issue).

[2022-04-06 17:42] uschindler commented on #7818
### Some idea related to this issue:

Do you think it might be useful to have a ready-to-use handler/wrapper like this to allow users to "normalize" headers? To me `Cache-Control` and `Vary` headers are typical examples that should be deduplicated and merged together, if you check some web applications and look at the outputs it looks like a desaster of duplicates.

If you think this is a good ide

[2022-04-06 18:09] geekbeast commented on #5051
So I am guessing the class loader for the manifest file is separate from WebAppContext class loader and the reason that the workaround works is that the WebAppContext class loader delegates to System class loader which handles class path variables.

In which case, it seems like the key part is to make sure any initializers are registered with the System class loader if you are using embedded jetty

[2022-04-06 18:46] joakime commented on #5051
WebAppContext does not delegate to system classloader in the way you expect.

The Servlet Spec specifically calls out the classloader to be the opposite of the Java standard Classloader behavior with regards to parent classloader behavior.
This is all under the umbrella of WebApp Classloader Isolation (which Jetty implements).

This can often cause problems on platforms like OSGi and JPMS.

[2022-04-06 20:07] joakime commented on #7768
Done.  Releases 10.0.9 and 11.0.9 are now available in the usual places.

[2022-04-06 20:07] #7768 closed, assigned to joakime

[2022-04-06 20:07] joakime commented on #7767
Done.  Release 9.4.46.v20220331 is now available in the usual places.

[2022-04-06 20:07] #7767 closed, assigned to joakime

[2022-04-06 22:23] xiaochen-db opened #7852 "Jetty WebSocketClient hanging threads after connection is closed"
**Jetty version**
9.3.27

**Java version**
1.8.0_282

**Question**
I am using WebSocketClient for connecting to servers that supports websocket protocol. The code snippet is written in scala but using Jetty's Java interfaces. I allocated a thread pool to help track the threads allocated by WebSocketClient, as I give each thread a name in form of `ws-client-%d` (%d is the serial number)

[code]
I u

[2022-04-06 22:28] janbartel commented on #7835
@greengooru there are many many places in jetty where we use dynamic class loading. We do some special work in our own osgi infrastructure to ensure that this style of classloading works (see eg https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-osgi/jetty-osgi-boot/src/main/java/org/eclipse/jetty/osgi/boot/internal/webapp/OSGiWebappClassLoader.java).  I think this dynamic loading her

[2022-04-07 00:08] greengooru commented on #7835
Yes, but this particular classloader does not work in OSGi. There are other sites who also report the same problem ([http://eriklievaart.com/web/osgiwebsockets.html](url)), so it has been there for some time.

The question is: Is there any workaround to this? In that website they propose one, but I am afraid that for newer versions, it does not work.

Or perhaps, you should create an OSGi version

[2022-04-07 02:41] bp1990 commented on #7436
[http-dmp3.txt](https://github.com/eclipse/jetty.project/files/8439083/http-dmp3.txt)

We tried updating Jetty to 11.0.8 and sent requests to two servers(test1.com and test4.com) at the rate of 3K and collected the http dumps(attached) on OOM. We even tried to use -XX:+HeapDumpOnOutOfMemoryError and -XX:ErrorFile to collect the heap dump and error log, but we didn't get any logs in it. The other w

[2022-04-07 08:23] janbartel commented on #7835
@greengooru you could certainly work around it by using TinyBundles, wrapping the existing `websocket-servlet` bundle and adding a manifest entry for the import of the `org.eclipse.jetty.websocket.server` classes. If you let me know that works, I'll look at adding a similar manifest-only entry to the `websocket-servlet` bundle.

[2022-04-07 09:23] sbordet commented on #7852
Most likely the executor is your problem. Please try again using `QueuedThreadPool`, or a `ThreadPoolExecutor` with an unbounded queue.

Without stack traces is not possible to tell, but likely the threads you report are selector threads.
If that's the case, they are normal and expected.

[2022-04-07 09:42] youngledo opened #7853 "How do I use roles under OpenID authentication"
**Jetty version**
jetty-10.0.x
**Java version**
Java 11
**Question**
I'm learning about unit testing under the jetty-openid module, and I can't find a way to set roles so that I can't access the /admin path.
<img width="449" alt="image" src="https://user-images.githubusercontent.com/68590897/162167871-9e10a6d3-4637-482b-a9eb-8702140e66b7.png">
<img width="713" alt="image" src="https://user-images.

[2022-04-07 09:44] janbartel commented on #7835
@greengooru also I should have said that you should try jetty-10, as websockets are implemented differently and no longer seems to contain the problematic classloading in the WebSocketServletFactory. See the doco at https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-server-websocket-jetty

[2022-04-07 09:49] janbartel commented on #7853
@youngledo can you show your code? You might not have set up the realm properties file correctly, or you might not have set the constraints correctly.

[2022-04-07 10:06] youngledo commented on #7853
The code is based on unit tests with only minor modifications.

[code]

the `realm.properties`:
[code]

[2022-04-07 10:48] joakime commented on #7852
Jetty 9.3.x is EOL, please upgrade to at least Jetty 9.4.x.

[2022-04-07 10:50] joakime commented on #7852
Also Java 1.8.0_282 expired on April 20, 2021 and is not meant to be used anymore.
See release notes that came with that JVM.

You are strongly encouraged to upgrade that as well.

[2022-04-07 14:17] joakime commented on #5810
Closed in favor of the approach in #7748

[2022-04-07 14:17] #5810 closed, assigned to nobody

[2022-04-07 14:17] #7748 closed, assigned to joakime

[2022-04-07 16:01] gonphsn opened #7855 "Remove accidentally included package-info.class in all packages"
**Jetty version**
jetty-all-compact3-9.4.46.v20220331.jar vs jetty-all-compact3-9.4.45.v20220203.jar

**Java version**
N/A

**Question**
I observed in a diff of the contents of jetty-all-compact3-9.4.45 and jetty-all-compact3-9.4.46 that the latter now contains a package-info.class at every package. See:

![image](https://user-images.githubusercontent.com/32906094/162246610-79eb93e9-cfc5-4661-b877

[2022-04-07 16:49] joakime commented on #7855
There's been no updates to the pom for the compact3 build in a long time.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/aggregates/jetty-all-compact3/pom.xml

The most recent update was 17 months ago. (commit https://github.com/eclipse/jetty.project/commit/3e35ec362cf408ee254002bfb2c785cccb50e4ca)
And was first present on `jetty-9.4.35.v20201120`

Not sure how you see differences in 9

[2022-04-07 16:56] gonphsn commented on #7855
@joakime I've concluded that this is not a compact3 specific issue - it is just where I noticed it first since that is the build we consume. Sorry for the red herring.

See the following diff just from standard profile distributions published at maven central:

![image](https://user-images.githubusercontent.com/32906094/162256730-0120053c-482e-4957-a505-5b1a44444cd1.png)

[2022-04-07 17:15] joakime commented on #7855
I can confirm that `package-info.class` is now present on 9.4.46, but not older releases.
This seems like a `maven-jar-plugin` behavior change.

@olamy any thoughts?

[2022-04-07 17:17] joakime commented on #7855
The `maven-compiler-plugin` is actually compiling them into `${project.basedir}/target/classes`.  Hmm...

[2022-04-07 17:20] joakime commented on #7855
Confirmed, `maven-compiler-plugin` version 3.10.0 (and the newest 3.10.1) both start compiling the `package-info.java` files into `target/classes`.
The older `maven-compiler-plugin` 3.9.0 does not.

[2022-04-07 17:24] joakime commented on #7855
This behavior change in `maven-compiler-plugin` 3.10.0 comes from.

* https://issues.apache.org/jira/browse/MCOMPILER-205
* https://github.com/apache/maven-compiler-plugin/pull/88

[2022-04-07 17:51] gonphsn commented on #7855
Ok, thanks for the confirmation on your end.

[2022-04-07 17:51] #7855 closed, assigned to nobody

[2022-04-07 18:43] joakime commented on #7855
I opened PR #7856 to configure the maven-compiler-plugin to not do that anymore on our builds.

You can compile with `-Dmaven.compiler.createMissingPackageInfoClass=false` to make the compiler plugin behave like before.

[2022-04-07 19:25] edavedian commented on #7814
@joakime thank you very much again for looking into this issue. Did you by any chance see my last replies?

[2022-04-07 20:22] greengooru commented on #7835
That is a curiosity, because the `websocket-servlet` already has a `DynamicImport-Package` to `websocket.server`.

Anyways, I will surely try jetty-10 and see how it works. I'll keep you posted on the results.

[2022-04-08 00:26] #5997 closed, assigned to nobody

[2022-04-08 00:31] xiaochen-db commented on #7852
@sbordet Thanks for the reply!

I tried the `QueuedThreadPool` and there's the stack trace for one such "runnable" thread (other "runnable" threads show similar stack trace):
[code]

All threads states:
[code]

If selector threads are normal, what are they doing? What jetty or non-jetty behaviors cause the number of selector threads to rise or drop? Can more threads to be used if we didn't clean u

[2022-04-08 00:33] xiaochen-db commented on #7852
@joakime Thanks for the reply! Java 1.8.0_282 happens to be where I tested the snippets. I will push our team for upgrading jetty to 9.4.x.

[2022-04-08 07:52] sbordet commented on #7852
@xiaochen-db yes those are selector threads, and they are used by Jetty for non-blocking I/O, so they are normal and expected.
Their number is fixed.

If you see 1000+ blocked threads, you have another problem. Take a thread dump of the 1000+ threads, and you will see where they are blocking. I'm expecting either your own code, or they are blocked in I/O due to the receiving side not reading fast

[2022-04-08 08:28] JensGabe opened #7858 "GZipHandler does not play nice with other handlers in HandlerCollection"
**Jetty version(s)**
Jetty 11.0.2

**Java version/vendor** `(use: java -version)`
Temurin 17.02+8

**OS type/version**
Windows Server 2016

**Description**
Handler configuration:
[code]
The GZIPHandler is configured with minSize=1024 and includes javascript and other text files.

When requesting a root static file with a size over 96K, the GZIPHandler will gzip the part of the content which exceed

[2022-04-08 11:31] joakime commented on #7858
What is the declared context path of your ServletContextHandler ?

[2022-04-08 13:27] JensGabe commented on #7858
"/" - The request in question never touches the ServletContextHandler.

[2022-04-08 13:51] joakime commented on #7858
If your `ServletContextHandler` is on context path of `/`, then simplify your entire structure by using Servlet url-patterns properly and eliminating your `ResourceHandler` entries.

[code]

See example at
https://github.com/jetty-project/embedded-jetty-cookbook/blob/jetty-11.0.x/src/main/java/org/eclipse/jetty/cookbook/DefaultServletMultipleBases.java

Why do this?

`GZipHandler` is not meant to

[2022-04-08 14:29] JensGabe commented on #7858
Thank you, and yes, I am aware of the fact that the construction is weird. (Historical reason).
The solution you described, is also what I already implemented as I stated in the bottom of the bug report.
The reason I did the bug report, was to emphasize that the GZipHandler did not function as the other handlers, and perhaps this should either be described in the documentation or refactored to alw

[2022-04-08 14:43] joakime commented on #7858
When you see `if (request.isHandled()) return;` in a Handler, that's for when you are not using a handler collection (`HandlerList`, `HandlerCollection`, or `ContextHandlerCollection`).
It could only be triggered if you are using a `HandlerWrapper` that doesn't check for `request.isHandled()` before triggering it's wrapped handler (which would be a bug in that `HandlerWrapper`)

If you are using a

[2022-04-08 14:44] joakime commented on #7858
In your setup, if the initial `ResourceHandler` (on `/`) sets `request.setHandled(true)`, then the subsequent entry `GzipHandler` wouldn't even be called, as the `HandlerList` is the one doing the `request.isHandled()` check.

[2022-04-08 21:10] markslater opened #7863 "Default servlet drops first accept-encoding header if there is more than one."
**Jetty version(s)**
11.0.9

**Java version/vendor** `(use: java -version)`
N/A

**OS type/version**
N/A

**Description**
When `DefaultServlet` handles a request with multiple `accept-encoding` headers, it attempts to combine their values, but it drops the value of the first header (and produces a value with a leading comma).

**How to reproduce?**
Test case to follow.

[2022-04-11 06:09] JensGabe commented on #7858
Thank you again for the followup, and yes I'm aware of all the points you are making - we have already restructured our handler configuration .
Our weird handler configuration has been in use and working fine for >5 year, the last ~1 year with v11 on multiple installations, until not working anymore in this one installation.
Can you shed some light on why this is the case? (Specifically as to why

[2022-04-11 07:38] gregw commented on #7858
@JensGabe I agree that there is a bug there.  Regardless of if your setup is correct/best or not, I don't think GzipHandler should act in the way you are describing.  If the request has been handled by a prior ResourceHandler, then the GzipHandler should be a noop.

[2022-04-11 11:11] joakime commented on #7858
I mocked this layout up, and the HandlerCollection (top level) does not call the GzipHandler if the ResourceHandler before it handled the request.
No code in GzipHandler is even called, the rest of the HandlerCollection (top level) is skipped.

[2022-04-11 12:14] JensGabe commented on #7858
I simplified out initial weird configuration to this oneliner - GZipHandler#handle is called on every request:
[code]

[2022-04-11 15:26] joakime commented on #7858
A more reliable setup, use HandlerList instead of HandlerCollection

[code]

[2022-04-11 15:35] joakime commented on #7858
Opened PR #7872 (for `jetty-9.4.x`)

[2022-04-12 02:43] lachlan-roberts commented on #7853
@youngledo Your `realm.properties` file should not have passwords to work with jetty-openid. This nested `LoginService` is only used to associate User IDs with roles. Keep in mind that the UserID used here is not actually the name but the `sub` claim of the openid id_token.

so your `realm.properties` file should look more like this:
[code]

<hr>

Note that `OpenIdProvider` is a class designed jus

[2022-04-14 01:28] cowwoc commented on #2553
Was this issue resolved by https://github.com/eclipse/jetty.project/issues/288? If not, what is the difference between the two?

[2022-04-14 03:58] ReillyBrogan commented on #2553
It was not because that only covers serving pre-compressed files. This issue is for integrating a brotli encoder into Jetty such that it's possible to serve content that was not already compressed with brotli by the time it got to Jetty (for instance compressing JSON responses from your web application running with Jetty as the HTTP server).

[2022-04-14 05:15] cowwoc commented on #2553
Makes sense.

How do we remove the stale label?

[2022-04-14 07:54] geekbeast commented on #5051
I see, somehow adding it to classpath is causing the WebAppContext to pick it up, but even after reading the WebAppClassloader docs I'm not entirely sure how.

Also want to not that I have two initializers and one wasn't getting picked up either because it is empty (and some how getting omitted) or because whatever mechanism is used to detect WebApplicationInitializers doesn't pick up implementati

[2022-04-14 08:18] janbartel commented on #5051
Jetty isn't responsible for instantiating and calling your `WebApplicationIntializers`, that is a Spring concept. Spring has an implementation of `ServletContainerInitializer` that we _are_ responsible for finding, and then that in turn looks for the `WebApplicationInitializers`.  See https://docs.spring.io/spring-security/site/docs/4.2.4.RELEASE/apidocs/org/springframework/security/web/context/Ab

[2022-04-14 08:21] gregw commented on #2553
stale label removed.  Still a low priority and may only get addressed in jetty-12

[2022-04-14 11:45] joakime commented on #2553
Before Jetty can use the `jvm-brotli` project (mentioned by @nixxcode) the license needs to be properly identified.

I opened an issue there for the licensing issue https://github.com/nixxcode/jvm-brotli/issues/44

Once that is addressed, we can submit a request for use to Eclipse IP (known as a CQ) and see if the license and code vetting allow Jetty to use it.

[2022-04-14 20:54] markslater opened #7880 "DefaultServlet should not overwrite programmatically configured precompressed formats with defaults"
**Jetty version(s)**
11.0.9
**Java version/vendor** `(use: java -version)`
N/A
**OS type/version**
N/A
**Description**
When `DefaultServlet` is instantiated, most of the properties of its `ResourceService` retain their values unless they have been configured by an `InitParameter`.  This means the behaviour can be configured programmatically on the `ResourceService`.  However, this does not hold fo

[2022-04-15 17:59] geekbeast commented on #5051
Thanks Jan! I am little confused because based on the comments in `SpringServletContainerInitializer` it declares `@HandleTypes` for `WebApplicationInitializer` and the container (i.e Jetty) was responsible for class path scanning and passing them in as an argument. I was able to use the `ContainerIncludeJarPattern` in combination with adding my jars to the classpath (i.e -cp jvm arg) to get it fu

[2022-04-17 18:10] tipsy commented on #2553
@joakime just a heads up, @nixxcode has seemingly disappeared from the internet, the project can probably be considered abandoned. On the bright side, it's been included in [Javalin](https://javalin.io/) for 3 years, with no (reported) issues.

[2022-04-17 20:21] joakime commented on #2553
@tipsy shame, as we would be force to remove it from Jetty as it's abandonware due to various corporate policies around this kind of thing.

Is there a fork of the project that's better maintained somewhere?

[2022-04-17 20:38] tipsy commented on #2553
This appears to be the only fork ahead of @nixxcode: https://github.com/SiggiIO/jvm-brotli. Are you interested in releasing and maintaining your fork @SiggiIO? I worked with @nixxcode when he implemented it, and it didn't seem like too much work (it's mainly wrapping the Google library). He also appears to have done a good job documenting everything, so it shouldn't be a big effort to maintain.

[2022-04-18 02:15] WesternIcelander commented on #2553
My fork only has very minor changes to make jvm-brotli work on Apple Silicon Macs running natively and not using Rosetta.  I don't mind if anyone wants to include my commits in their own fork, but I'm not able to maintain or provide support for my fork at this time.

[2022-04-18 18:09] joschi commented on #2553
A quick search on Maven Central brought up this library, which could be used for this feature and looks well maintained: https://github.com/hyperxpro/Brotli4j

It also seems to be used by vert.x: https://github.com/eclipse-vertx/vert.x/pull/4262

[2022-04-18 20:06] tipsy commented on #2553
Inspired by @joschi's comment I did a little digging too, and it seems the official Google release is https://mvnrepository.com/artifact/org.brotli/dec/0.1.2, which is used by 60 artifacts (https://issues.sonatype.org/browse/OSSRH-25741?jql=text%20~%20%22brotli.org%22).

[2022-04-19 07:23] gregw opened #7891 "Better Servlet PathMappings for Regex"
**Jetty version(s)**

**Description**

The path mappings for RegexPathSpec does not use groups for prefix matches to set `servletPath` and `pathInfo`.

[2022-04-19 08:39] andresluuk opened #7893 "the clinit of MimeTypes can fail with nullpointer"
**Jetty version(s)**
latest Jetty: 9.4.46.v20220331 and earlier

**Java version/vendor** `(use: java -version)`
JDK 8, but does not matter

**OS type/version**
I used windows, but does not matter

**Description**
The static initializer of MimeTypes has a 2 lines with:
try (InputStream stream = MimeTypes.class.getClassLoader().getResourceAsStream(resourceName)) {
those can fail with nullpointer if

[2022-04-19 12:31] joakime commented on #7891
We could allow users to label their groups for what they want those sections to be when using more complex regex patterns.

Eg:

[code]

Output:

[code]

[2022-04-19 12:51] joakime commented on #2553
The google brotli lib is only at 0.1.2 on maven central.

https://search.maven.org/artifact/org.brotli/dec

And hasn't seen a release since May 2017

Meanwhile, the main codebase still chugs on, all the way up to version 1.0.9

https://github.com/google/brotli

Both the Brotli4j and Google projects rely on JNI to native libs to function.
This will complicate things for us as both projects have ext

[2022-04-19 16:05] jluehe commented on #7891
@gregw @joakime, this looks a little verbose to me. How about adopting a convention where there can be at most two groups per matched regex pattern, where the first group denotes the `servletPath`, and the (optional) second group, if present, denotes the `pathInfo`?

I've rewritten all our regex patterns for servlet mappings accordingly, and applied the following "hack" to `ServletPathMapping`, wh

[2022-04-19 16:11] joakime commented on #7891
The first group is rarely the servletName

Some examples.
[code]

[2022-04-19 16:22] gregw commented on #7891
The other thing to consider with using group names is that it could be possible to use them to break the invariant that `path = contextPath + servletPath + pathInfo` which may have some unintended consequences elsewhere.

@jluehe is the linked PR workable?   (other than it still does the match multiple times)

[2022-04-19 17:05] jluehe commented on #7891
@gregw, I've tried out the linked PR and ran into an issue:

URI=https://localhost:6101/services/data/v56.0/connect/knowledge-migrations

Pattern: ^(.*/services/data[/|\.]?)(.*)$

Expected assignments:

_servletPath: /services/data/
_pathInfo: v56.0/connect/knowledge-migrations

Assignments with linked PR:

_servletPath: /services/data/v56.0/connect/knowledge-migrations
_pathInfo: null

[2022-04-19 17:33] joakime commented on #7891
That pattern is odd and would not match the provided URI path.

Try it yourself on regex101.com...

https://regex101.com/r/XfSIo7/1

The dot at the beginning would mean a match of any single character _before_ the `/services` portion, which your input doesn't have.

Here's an slightly adjusted regex, with similar results.
The other parts of your regex (eg `[/|.]?`) are matching things I don't thin

[2022-04-19 17:48] jluehe commented on #7891
Sorry, @joakime, the pattern I quoted was supposed to read: `^(.*/services/data[/|\.]?)(.*)$`

I agree the leading `.*` could be omitted - it was supposed to more closely match the original pattern in our custom regex support, which used to look like `/services/data(/|\.)*`, but the implementation was using `Matcher.find` instead of `Matcher.match`, for some obscure historical reasons

[2022-04-19 17:58] joakime commented on #7891
I'm beginning to feel that the invariant you mention is irrelevant when using UriTemplatePathSpec or RegexPathSpec.
That's really just a ServletPathSpec behavior.

Or we should just take a page from Servlet url-pattern suffixes and just treat the whole input request (post context) to be the Servlet Path, and have no Path Info?

Example:
* context path is `/ctx`
* url-pattern is `*.dump`
* request

[2022-04-19 17:59] joakime commented on #7891
A regex pattern starting with `.*` is a suffix based pattern, similar to url-pattern of `*.do`, and as such has no ability to find the separation from Servlet Path to PathInfo.
That's how RegexPathSpec was written.

If we support the named groups, then you can override this behavior, by specifying the groups you want to be Servlet Path vs PathInfo.

[2022-04-19 18:02] joakime commented on #7891
We could also put the `java.util.regex.MatchResult` from the regex match into the request attributes, which would allow you to pull any information from the `RegexPathSpec` match for your own purposes.

[2022-04-19 18:11] joakime commented on #7891
Here's the example of your pattern but with named groups.

https://regex101.com/r/7O6M7Q/1

These named groups would allow you to specify where the important details separation should be.
Your `data[/|\.]?` would be matching on the character `/` or `.` 1 or 0 times.
This means your Servlet Name would contain the trailing slash or dot, perhaps you meant for that part of the match to be in the pathI

[2022-04-19 18:17] rkennedy-mode opened #7894 "CrossOriginFilter continues chain when origin does not match"
**Jetty version(s)**

9.4.35+

**Java version/vendor** `(use: java -version)`

All

**OS type/version**

All

**Description**

CrossOriginFilter continues the filter chain when the request `Origin` header value does not match any allowed origins: https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-servlets/src/main/java/org/eclipse/jetty/servlets/CrossOriginFilter.java#L309

This mean

[2022-04-19 18:31] jluehe commented on #7891
Thx, @joakime! I've compared with our original pattern and ran related functional tests, and as it turns out, the `/`or `.` is indeed expected to belong to the `servletPath` portion.

Still not sure what extra benefit the _named_ groups would give us ...

Re: _Btw, you don't need the escape on the \. in the character list definition, the dot character is always a literal within the character list.

[2022-04-19 18:36] joakime commented on #7891
Including the slash on the request.getServletPath() is an odd choice.

If we look at the normal url-pattern for prefix based matches on the Servlet spec, the separation works like this.

[code]

A setup of ...

* Context Path at `/ctx`
* Servlet "dump" at url-pattern of `/dump/*`

Request URI: `/ctx/dump/this`
* Request Context Path: `"/ctx"`
* Request Servlet Path: `"/dump"`
* Request Servlet Pat

[2022-04-19 18:40] joakime commented on #7894
Are `host-a.com` and `host-b.com` both hosted on the same Jetty instance?
What does virtualhosts setup look like?

[2022-04-19 18:45] rkennedy-mode commented on #7894
Let's assume they are not (in the case I've run into locally they are not).

There is no virtualhosts setup.

[2022-04-19 19:00] joakime commented on #7894
If your `CrossOriginFilter` configuration for `"allowedOrigins"` doesn't have `host-b.com` then none of the `CrossOriginFilter` behaviors are applied, regardless of the HTTP Method.

For the cases where you care about Cross Origin behaviors (ie: browsers), a properly setup `CrossOriginFilter` will return the list of origins it allows in the `Access-Control-Allow-Origin` response header, from there

[2022-04-19 19:01] jluehe commented on #7891
@joakime, I agree that would make more sense, and we can revisit later - for now, I just want to get the existing patterns working with Jetty 10 ...

[2022-04-19 19:28] rkennedy-mode commented on #7894
Every CORS preflight request is an `OPTIONS` request: https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request. CrossOriginFilter knows this as it's one of the things that it checks for when evaluating whether a request is a preflight request or not: https://github.com/eclipse/jetty.project/blob/69c208b6e4f8e16429a3e09b4b9e874e3c76cafb/jetty-servlets/src/main/java/org/eclipse/jetty/serv

[2022-04-19 23:19] sebastianguarin opened #7895 "Jetty runner SLF4J not found"
**Jetty version(s)**
10.0.7
10.0.8
10.0.9

**Java version/vendor**
openjdk 11.0.9.1 2020-11-04 LTS
OpenJDK Runtime Environment Corretto-11.0.9.12.1 (build 11.0.9.1+12-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.9.12.1 (build 11.0.9.1+12-LTS, mixed mode)

**Description**
Jetty runner does not find a SLF4J  provider by default, not sure if I'm missing something as there isnt too much documentation a

[2022-04-20 11:07] joakime commented on #7895
You can provide your own logging implementation.

The decision was made to not bundle the Jetty specific logging implementation, allowing users, like yourself, to pick a logging implementation from the slf4j choices (logback, log4j2, java.util.logging, jetty-logging, simple logging, anything supporting jakarta-commons-logging, etc)

This ability to configure the logging is the most often requested

[2022-04-20 13:08] sebastianguarin commented on #7895
right, then a bit lost with `jetty-slf4j-impl`, isn't that one that acts as a default provider, which  behaves as the previous one StdErrLog.

Sorry, if I'm a bit off, just that not really a java developer, our project is in ruby and then transpiled to JAVA using JRuby. to then be compiled into a war file.
so just wanted to be sure that is something related to the project and not Jetty-runner, as

[2022-04-20 13:19] joakime commented on #7895
If you want to use the jetty implementation ...

[code]

Substitute any other sfl4j 2.x provider (a concrete logging implementation) using the same classpath techniques.

https://www.slf4j.org/manual.html#swapping

_Example (if you wanted to use log4j2)_

[code]

[2022-04-20 13:26] sebastianguarin commented on #7895
thanks,
then I will have to check my local, I get the same output.

[code]

[2022-04-20 15:02] joakime commented on #7894
The Jetty implementation of `CrossOriginFilter` was created against the original spec at https://www.w3.org/TR/2020/SPSD-cors-20200602/

This specifically calls out that a Preflight request without a matching Origin is to skip the steps of Preflight.

https://www.w3.org/TR/2020/SPSD-cors-20200602/#resource-preflight-requests  (See sub-point 2)

[2022-04-20 16:18] rkennedy-mode commented on #7894
CrossOriginFilter doesn't terminate, however. It continues on [executing the rest of the filter chain](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-servlets/src/main/java/org/eclipse/jetty/servlets/CrossOriginFilter.java#L313) as though the request isn't a preflight request.

This results in the whatever Servlet/JAX-RS resource that is bound to the requested URL being executed,

[2022-04-20 16:50] rkennedy-mode commented on #7894
Nevermind, I think my understanding of CORS preflight requests may be incorrect.

[2022-04-20 16:50] #7894 closed, assigned to nobody

[2022-04-20 23:36] sebastianguarin commented on #7895
@joakime could you please confirm that adding the Jar to the classpath works for you, and you dont have any jetty installation in the machine?

I tried locally and remotely with one of our servers, but I'm still getting the same issue.

** Java version **
openjdk 11.0.9.1 2020-11-04 LTS
OpenJDK Runtime Environment Corretto-11.0.9.12.1 (build 11.0.9.1+12-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.

[2022-04-21 00:52] olamy commented on #7895
Please try this way
[code]
or
[code]
depending which slf4j implementation you want to use.
I tried
[code]

it's a interesting problem to figure out why the algorithm used by slf4j cannot find the implementation when mixing `-cp` and `-jar` options

[2022-04-21 03:22] sebastianguarin commented on #7895
Great!

it works for me as well. now I have to deal with some other external libraries for my project but now I have more info.

Thanks @olamy

[2022-04-21 05:32] cowwoc opened #7899 "Ability to limit the number of connections per proxy"
**Target Jetty version(s)**
11.0.8

**Enhancement Description**
When using SOCKS proxies over ssh, the default value of `MaxSessions` is 10. `HttpClient` has `setMaxConnectionsPerDestination()` but I need to be able to limit the number of connections per proxy; otherwise, the proxy begins rejecting new connections.

I'm expecting the client to queue outgoing connections the same way it does in ord

[2022-04-21 08:00] cowwoc commented on #7899
It turns out that the problem wasn't the number of outgoing connections but rather the destination hostname. If the remote hostname does not exist, the SSH server closes the connection without an explanation. But then if you run `tail -f /var/log/secure` you will see:

`sshd: error: connect_to <hostname>: unknown host (Name or service not known)`

I still think that supporting an overall limit wou

[2022-04-21 13:46] sbordet opened #7905 "Support Java 18 Foreign APIs"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
The QUIC implementation has a binding to Java 17's Foreign APIs, but Java 18's are different.
Update the implementation to detect the Java version and use the correct implementation.

[2022-04-21 18:23] cowwoc commented on #7822
I ran across one scenario where this happens:

* HttpClient is configured to use a SOCKS4 proxy over an SSH connection.
* HttpClient attempts to send a request to a non-existent hostname.
* The operation fails with `java.io.IOException: SOCKS4 tunnel failed, connection closed`.
* If you read the server-side log at `/var/log/secure` you will see: `sshd: error: connect_to [hostname]: unknown host (N

[2022-04-21 22:16] GaryWKeim commented on #4717
We're seeing this happen consistently with Terracotta BigMemory 4.x (Jetty 9.4.45.v20220203) on MacOS (Monterey 12.3.1) with the newest Zulu-8 (1.8.0_322) but not in any newer JDK versions.

[2022-04-21 23:24] joakime commented on #4717
@GaryWKeim can you enable debug logging temporarily and capture some activity?  (maximum of 5 minutes).
That should indicate what's consuming the CPU.
Bonus if you can confirm the CPU usage remains high even when there are no active connections.

[2022-04-22 02:11] GaryWKeim commented on #4717
Also, when this occurs, the process becomes a zombie that can't be terminated in any way and a reboot is necessary to free up any files/ports the zombie is holding open:

% ps auxww | grep "(java)"
% gkeim            37381   0.0  0.0        0      0   ??  ?E    8:18PM   0:00.00 (java)

What packages would you like me to log at DEBUG?

[2022-04-22 02:15] joakime commented on #4717
Log at DEBUG level on the named logger `org.eclipse.jetty`

[2022-04-22 08:40] lorban commented on #4717
@GaryWKeim Have you tried the workaround I mentioned earlier, i.e.: set the `java.nio.channels.spi.SelectorProvider` system property to `sun.nio.ch.PollSelectorProvider`?

[2022-04-22 11:27] #7853 closed, assigned to nobody

[2022-04-22 14:52] GaryWKeim commented on #4717
Yes, the work-around seems to work.

[2022-04-22 16:05] lorban commented on #4717
Your description seems to confirm what I previously stated: this seems to be caused by a bug somewhere between the JVM and the OS, and there is little Jetty can do to solve it.

I'm afraid your only options are either to use the workaround or a JDK more recent than 1.8.

[2022-04-22 16:58] joakime commented on #7893
I cannot see a valid workaround for this.
MimeTypes (and anything else that needs ClassLoader resources) just cannot exist on the bootclasspath.

[2022-04-23 00:00] #4964 closed, assigned to nobody

[2022-04-23 06:59] prateekkohli2112 opened #7910 "Initial burst of requests processed slowly due to class loading"
Jetty Version - 9.4.43.v20210629
Java Version - 1.8.0_261

Jetty classloader loads all the jersey & model classes dynamically when the 1st request comes to Jetty server.
Because of which initial burst of requests take time to get processed, hence some of them gets timed-out as well.

Is there any solution for this issue, such that the initial requests are not processed slowly at jetty server.

[2022-04-23 12:30] joakime commented on #7910
This is highly unlikely to be a simple classloading issue.

You could try configuring the jersey servlets to initialize on server startup within your webapp's descriptor.

Also, review your `WEB-INF/lib/*.jar` files ...

If you have any content with `META-INF/resources`, consider expanding them into your webapp before you package it up (bonus is you'll actually resolve conflicts that the servlet s

[2022-04-24 00:00] #6077 closed, assigned to nobody

[2022-04-25 05:47] andresluuk commented on #7893
I think a getClassLoader() == null check would also be good there or replacing the get with .class.getResourceAsStream(...) without directly finding out the classloader? I think jetty 10 does it that way.
I think it would be fine if it does not find any resources there, it would just be better if it would not have a fatal fail on clinit.

[2022-04-25 05:57] xiaochen-db commented on #7852
@sbordet I think I found the root cause in my application: we keep creating new `WebSocketClient` against the same shared thread pool without calling `WebSocketClient.stop()` on old ones. As a result, the selector threads accumulate to the maximum thread pool capacity and causes the pool to stall.

I _think_ the old `WebSocketClient`s are GC'ed, but I am little surprised that the selector threads

[2022-04-25 06:48] gregw commented on #7891
merged to 11, cherry-picked to 12

[2022-04-25 08:51] gregw opened #7911 "Jetty-12 configuration / start"
**Target Jetty version(s)**
Jetty-12

**Enhancement Description**

With jetty 9/10/11, the start.jar mechanism configures the server by using the enabled modules and their ini files to create:
 + a set of properties
 + a classpath list of jars & directories
 + a list of XMLs to execute

This can no longer be done as-is for jetty-12 because there will be modules that cannot cohabit the same classlo

[2022-04-25 09:14] gregw commented on #7911
modulo jpms complications

[2022-04-25 16:40] jluehe commented on #7891
@gregw @joakime, I've tried out your patch https://github.com/eclipse/jetty.project/commit/efd9f26024e9d1e3ffd45c81fbba7a1c1e2f49c7, and it does not seem to work for our use cases.

Example:
pathSpec=RegexPathSpec@df111421{^(/[A-Za-z0-9]{3})(/.)?$}
pathInContext=/0XA/e

Expectation:
_servletPath=/0XA
_pathInfo=/e

Actual result with patch:
_servletPath=/0XA/e
_pathInfo=null

This goes back to my e

[2022-04-25 18:28] joakime commented on #7891
The current `jetty-10.0.x` HEAD has this fix currently.

[2022-04-25 18:52] joakime commented on #7891
The regex pattern `^(/[A-Za-z0-9]{3})(/.)?$` of is identified as a signature of `gl` (glob + literal).
That's a `SUFFIX_GLOB` type of PathSpec mapping.
This is a glob followed by a suffix. (in url-pattern terms, that's the equivalent of `*.do`)

This categorization is important when resolving across all of the PathSpec's you have registered.
The lookup order across all defined PathSpec's is ...

1

[2022-04-25 19:23] jluehe commented on #7891
Thx, @joakime! Can the current implementation be enhanced to support our use case? I've enabled Jetty 10.0.9 in our dev branch, with my patch (hack) as mentioned [above](https://github.com/eclipse/jetty.project/issues/7891#issuecomment-1102830365) applied to it, and things are looking very promising so far! Alternatively, could the current implementation be changed to support custom pattern matchi

[2022-04-25 20:47] joakime commented on #7891
I'm making some improvements to RegexPathSpec in regards to how often it does matching. (going from 3 per hit to 1 per hit)
Your changes from above are being evaluated.

[2022-04-25 20:58] jluehe commented on #7891
Awesome, @joakime!

[2022-04-25 22:24] GaryWKeim commented on #4717
I was only able to get some logging after the problem occurred. Maybe it will help
[jetty-4717.zip](https://github.com/eclipse/jetty.project/files/8558357/jetty-4717.zip)
.

[2022-04-26 00:00] #3395 closed

[2022-04-26 03:42] lachlan-roberts commented on #7852
No, if the `OnWebSocketClose` method has been called a close response will be automatically sent after, you should not need to close the `Session` from `OnWebSocketClose` unless you try to send a custom close frame.

The resources associated with that specific WebSocket connection are released. However one `WebSocketClient` may have many WebSocket connections so there are still resources the clien

[2022-04-26 08:15] gregw opened #7918 "PathMappings.asPathSpec does not allow root ServletPathSpec"
**Jetty version(s)**
all

**Description**

The ServletPathSpec of "" (empty string) is the root only match.  This is not allowed by `PathMappings.asPathSpec`, which can prevent code that does not explicitly use ServletPathSpec from matching root.

[2022-04-26 08:45] lorban commented on #4717
@GaryWKeim since you seem to be able to reproduce this problem, maybe you could test a candidate fix?

I've created a branch which contains a change that should/could solve this problem: https://github.com/eclipse/jetty.project/tree/jetty-9.4.x-4717-macos-high-cpu

I'd be glad if you could build it, try it out to see if the problem goes away AND make sure we're not leaking file descriptors with pa

[2022-04-26 17:18] gregw commented on #7918
merged to 10,11 & 12.  Waiting for build for 9

[2022-04-26 20:29] joakime commented on #7918
Fully merged now.

[2022-04-26 20:29] #7918 closed, assigned to nobody

[2022-04-27 10:44] joakime opened #7927 "Flaky Test: org.eclipse.jetty.http.client.HttpClientStreamTest.testFileUpload(Transport)[5] HTTP3"
**Jetty version(s)**
10.0.x HEAD

**Java version/vendor** `(use: java -version)`
Java 17 (not Java 11)

**OS type/version**
Ubuntu (Virtualized in containerd)

**Description**

[code]

[2022-04-27 11:14] joakime opened #7928 "Review ResourceService._preferredEncodingOrderCache"
@gregw I agree that this loop is quite convoluted. It feels like it was written that way to optimize the cases where there is no accept-encoding header or when it contains a single value.

The existing code also is buggy in the sense that it forgets to include the first accept-encoding value in the key it builds in case there are multiple values for that header, which poisons the cache with incorr

[2022-04-27 16:55] hyperxpro commented on #2553
Classes that are modified have dual-license which are Apache 2.0 License and MIT License. Classes that are as-it-is only have Google Brotli MIT License.

As mentioned above, Brotli4j contains both modified and unmodified code.

There are modifications to make the library work like changing JNI method names.

Currently, Brotli4j tracks the latest Brotli commit from the Google Brotli repository. I w

[2022-04-27 22:25] prenagha opened #7929 "Correct requestlog formatString commented default"
**Jetty version(s)**
10.0.9

**Java version/vendor**
17 Coretto

**OS type/version**
Mac 12.3.1

**Description**
Align the commented default `jetty.requestlog.formatString` mentioned in the `requestlog.ini` with the default used in the code (`CustomRequestLog`).
Currently the comment refers to a `%B` that isn't used by the code nor is mentioned as being valid by the documentation.
Also adjust the

[2022-04-27 22:25] prenagha commented on #7929
PR in a moment

[2022-04-28 07:56] gregw commented on #7929
@lachlan-roberts needs to be merged to 12

[2022-04-28 08:01] imdad000 opened #7932 "the jvm DEBUG flag is not working in Jetty 9.4.44 org.eclipse.jetty.LEVEL=DEBUG"
Jetty version - 9.4.44

Java version - ./jdk/bin/java -version
java version "1.8.0_271"
Java(TM) SE Runtime Environment (build 8.0.6.20 - pxa6480sr6fp20-20201120_02(SR6 FP20))
IBM J9 VM (build 2.9, JRE 1.8.0 Linux amd64-64-Bit Compressed References 20201102_458768 (JIT enabled, AOT enabled)
OpenJ9 - 5b31a42
OMR - 6ad3a34
IBM - b7e48f4)
JCL - 20201119_01 based on Oracle jdk8u271-b09

OS type/versio

[2022-04-28 11:29] lachlan-roberts commented on #7929
done with 24c0e9d4dd5bea62963e664441db7c7cfcba75f5

[2022-04-28 11:29] #7929 closed, assigned to lachlan-roberts

[2022-04-28 12:07] joakime commented on #7932
This has one of 2 causes.

1. Your use of the IBM J9 JVM (which has unresolved static initializer bugs similar to this)
2. Your configuration / initialization of the Jetty Logger is not valid.

In both cases, you wind up with a `org.eclipse.jetty.util.log.Log` which isn't sane.

Code to initialize logging cannot be in an adapter or anything else that executes late in the JVM.

If you are initializ

[2022-04-28 22:13] GaryWKeim commented on #4717
After pounding on this for several days now using your branch, I have not been able to reproduce the problem and I see no leaking file descriptors.

[2022-04-29 09:26] sbordet opened #7935 "Review HTTP/2 error handling (CVE-2022-2048)"
**Jetty version(s)**
9.4.x+

**Description**
Review HTTP/2 error handling, in particular during request processing.

**Fixes Security Advisory**
https://github.com/eclipse/jetty.project/security/advisories/GHSA-wgmr-mf83-7x4j
CVE-2022-2048

[2022-04-29 20:01] jluehe commented on #7891
Re: https://github.com/eclipse/jetty.project/issues/7891#issuecomment-1102923925, turns out the leading `.*` inside the servletPath group actually is intentional, to map something like `/connect/communities/005x00AA/services/data/v56.0/connect/file`

[2022-05-01 00:00] #6116 closed, assigned to nobody

[2022-05-01 15:25] madrob opened #7939 "Redirect GET request creates content type and body"
**Jetty version(s)**

Jetty 10.0.8

**Java version/vendor** `(use: java -version)`

Java 11

**OS type/version**

macOS Monterey

**Description**

When Jetty creates a request redirect, it adds a content type and content body even if there was none previously. This is a regression from 9.4.43 when the redirected request would have matching no content-type and no content body.

**How to reproduce?*

[2022-05-02 16:00] joakime opened #7946 "New stacktrace from Java 11.0.15+ in org.eclipse.jetty.server.ConnectorTimeoutTest.lambda$testMaxIdleNothingSent"
**Jetty version(s)**
9.4.x HEAD

**Java version/vendor** `(use: java -version)`
11.0.15

**OS type/version**
Linux / Ubuntu

**Description**

The CVE fix in the JVM seems to be triggering a new stacktrace on some tests.

Not sure if this means we have a code change we need to make (or not).

[code]

[2022-05-02 22:49] ghost opened #7948 "Unable to get log4j2 running in Jetty 11.0.9"
**Jetty version(s)**
11.0.9

**Java version/vendor** `(use: java -version)`
openjdk 17.0.3 2022-04-19
OpenJDK Runtime Environment (build 17.0.3+7-Ubuntu-0ubuntu0.20.04.1)
OpenJDK 64-Bit Server VM (build 17.0.3+7-Ubuntu-0ubuntu0.20.04.1, mixed mode, sharing)

**OS type/version**
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.4 LTS
Release:        20.04
Codename:       focal

**Description**
He

[2022-05-02 23:37] #7852 closed, assigned to nobody

[2022-05-03 09:08] lorban opened #7949 "Review H3 stream closing logic"
**Jetty version(s)**
10.0.x

**Description**
In H2 we first close the stream then notify listeners, but in H3 we do it the other way around.

This was brought to attention because some `ClientServerTest` tests started failing flakily in 12.0.x. See 62779fde53fbb7dc310632de0389d8f6bbedd64f

[2022-05-03 17:12] gsavin opened #7951 "OutputStreamContentProvider blocks forever during an HTTP2 upload after idle timeout is reached"
**Jetty version(s)**

Tested on:
* `9.4.31.v20200723`
* `9.4.36.v20210114`
* `9.4.46.v20220331`

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version**

Centos 8.5

**Description**

I am using an HTTP2 client to upload large file. During upload, if the network link is cut (I am unplugging it), the `DeferredContentProvider` I am using (through `OutputStreamContentProvider`) is

[2022-05-03 18:18] joakime commented on #7948
Need to investigate this.

We have unit tests for log4j2 that pass now.

https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/LoggingOptionsTests.java

I have not verified this issue (yet).

[2022-05-03 18:28] joakime commented on #7951
Don't think the `header(HttpHeader.AUTHORIZATION, "Bearer __TOKEN__")` is important here.
What kind of server are you uploading to?
This seems to be a simple POST with `Content-Type: application/octet-stream`, is that a correct assumption?

[2022-05-03 18:38] joakime commented on #7939
There's no body content in a `HttpServletResponse.sendRedirect(*)` usage by Jetty server.

Example:

[code]

[2022-05-03 19:02] gsavin commented on #7951
Agree, the bearer does not matter.
It's uploaded to a Jetty server. And your assumption is correct, it's `application/octet-stream`.

[2022-05-03 20:43] olamy commented on #7948
Agree as it's used as well without problem when running the TCK suite.

[2022-05-03 20:58] joakime commented on #7948
I've been able to somewhat confirm this issue.

[code]

This is a warning and doesn't impact the use of log4j2 on Jetty 11.0.9

This is not a bug in Jetty, but rather a bug in log4j2

See https://issues.apache.org/jira/browse/LOG4J2-3139

[2022-05-04 00:18] olamy commented on #7948
@joakime good finding.
@jmihalichuber can you give us some details on what is not working? thanks

[2022-05-04 04:21] ghost commented on #7948
Yes, I am aware of that issue with log4j2 and slf4j.  That's what I was referring to in my original post about slf4j's breaking non backward compatible change.

I am unable to get as far as you did.

I'm trying to reproduce this again.  i will post back with what i wind up with.

[2022-05-04 05:25] ghost commented on #7948
OK, seriously, i cannot reproduce this now, and i have no idea why.  I was getting this consistently for 2 days.  I just unzipped a fresh jetty 11.0.9 and added the modules and now i don't get the exception anymore.

So, while i seek therapy for this, let me have you answer my other issue i mentioned, which i still have, from my original post:

How can i get the jetty start/shutdown logs like thes

[2022-05-04 06:57] ghost commented on #7948
I guess I'm answering my own questions tonight.  I removed the console-capture module, and replaced it with a rolling file appender in the log4j2.xml file, and now everything is going to my one log file.  So this works for me.

[2022-05-04 07:02] olamy commented on #7948
you can use something such `java -jar start.jar` as well to test your configuration.

[2022-05-04 07:03] olamy commented on #7948
@jmihalichuber I'm closing it now. feel free to reopen if you have more questions.

[2022-05-04 07:03] #7948 closed, assigned to nobody

[2022-05-04 07:21] gsavin commented on #7951
I don't know if it helps, but if I replace the `OutputStreamContentProvider` with an `InputStreamContentProvider` in my example code (removing the writing block), the idle timeout is detected.

[code]

[2022-05-04 09:30] gsavin commented on #7951
I managed to make it work with `OutputStreamContentProvider`, overriding the `onComplete` method of the listener to notify the provider. Not sure this is the _proper_ way to do it, but at least it's working.

[code]

[2022-05-04 12:27] joakime commented on #7951
This still smells like a bug on our side.

[2022-05-04 13:46] joakime commented on #7712
logback-access has several bugs surrounding the assumptions of what is valid from the HttpServletRequest and HttpServletResponse.
It also attempts to load request body content at the wrong time.

See:
* #7617

[2022-05-05 16:06] joakime opened #7958 "EOL (End of Life) for Jetty 9 - January 2025"
It’s been 9 years since Jetty 9 was released and it is time to announce some changes regarding the end of community support for Eclipse Jetty 9.x.

June 1st, 2022 will mark the official _End of Community Support_ for Eclipse Jetty 9.x.

While users of Jetty 9.x will continue to see releases for security and critical issues until 9.x goes _End of Life_ (EOL), the only ongoing support provided will

[2022-05-05 17:51] jmcc0nn3ll commented on #7958
Let's push it to June 1st, first of the month is always good for this sort of announcement and 10 days might panic someone.  No need to cause a heart attack.

[2022-05-05 17:57] joakime commented on #7958
I agree. Updating ...

[2022-05-05 18:09] joakime commented on #7958
We should send an email to the jetty mailing lists - https://www.eclipse.org/jetty/mailing_lists.php

* https://accounts.eclipse.org/mailing-list/jetty-users
* https://accounts.eclipse.org/mailing-list/jetty-dev
* https://accounts.eclipse.org/mailing-list/jetty-announce

And we should update the version table at https://www.eclipse.org/jetty/download.php

[2022-05-05 18:13] jmcc0nn3ll commented on #7958
Announcements sent, I'll update that table now.

[2022-05-05 19:40] prenagha commented on #7958
The title of the issue here implies the end of the 9 series entirely. But the issue details all talk about 9.4.x being ended. I assume we really mean that 9.4 is ending and there are no future versions of 9 planned (other than noted major bug fix). Might be worth calling that out explicitly. Or perhaps just refer to 9.x everywhere in this issue and communications.

[2022-05-05 20:18] joakime commented on #7958
All versions before 9.4.x are already End of Life / Deprecated.
See: https://www.eclipse.org/jetty/download.php#version-table

There will never be a 9.5.x, so the title saying 9.x is actually correct.
All of the 9 series is included in this announcement.

I updated the original text to only use "9.x" and no longer use "9.4.x"

[2022-05-06 00:00] #3060 closed

[2022-05-07 00:00] #2852 closed

[2022-05-08 04:57] ThiyagarajanManivannan opened #7964 "Hpack exception causes the connection drop with client"
We get below exception some time http2 server response to client, we use the pax-jetty version: 9.4.46.v20220331

HTTP/2 connection terminated with client after this exception

[code]

Same problem stated in this Issue #2048 · eclipse/jetty.project is fixed in jetty version 9.4.x, though fix is already available in below jetty version

Used version in our system:
karaf version: 4.3.7
Jetty version

[2022-05-08 06:03] jockie commented on #6232
Still an issue for me.

[2022-05-09 00:00] #4297 closed

[2022-05-09 00:00] #2745 closed

[2022-05-09 00:00] #2638 closed

[2022-05-09 00:00] #2613 closed

[2022-05-09 05:58] #4414 closed, assigned to lachlan-roberts

[2022-05-10 06:20] miriambron opened #7970 "Maven Plugin - the option to set extraClasspath in the plugin configuration isn't working"
**Jetty version : 10.0.8**

**Java version/vendor :jdk-11.0.12**

**OS type/version : Windows 10**

**Description**
In version 10.0.8 , the class `org.eclipse.jetty.webapp.WebAppContext` is no more POJO class,
since there  is an overloading to the setter `setExtraClasspath` :
[code]
so that , the maven plugin can't set this value , since the sisu-plexus is taking the 1st setter by reflection , ass

[2022-05-10 13:46] #2248 closed

[2022-05-10 14:32] amarshall45676 opened #7975 "`ForwardedRequestCustomizer` setters do not clear existing handlers"
**Jetty version(s)**
10.0.8

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.1+13)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.1+13, mixed mode)

**OS type/version**
macOS Monterey Version 12.1

**Description**
We use ForwardedRequestCustomizer to dynamically configure the header to use instead of "X-Forw

[2022-05-10 15:23] sbordet commented on #7964
Can you detail what do you mean by "intermittently"?

I ask because for a single Jetty setup, either the `PreEncodedHttpField`s have all been discovered, or not, so your responses should all pass or all fail, not "intermittently".

Are you reloading the server between requests? Making requests to different Jetty, possibly configured differently?

[2022-05-11 02:33] ThiyagarajanManivannan commented on #7964
Intermittently states that this issue happens some execution run in "Continuous Integration and deployment" staging job. When this happens all test fails. Below is the HTTP response received and attached the complete jetty debug logs.

When we re-triggered the failed job then all times it get failed with the same hpack exception.
It looks error occurs during the build and deployment time for speci

[2022-05-11 04:28] ThiyagarajanManivannan commented on #7964
@sbordet Intermittently states that this issue happens some execution run in "Continuous Integration and deployment" staging job. When this happens all test fails. Below is the HTTP response received and not reloading the jetty server between requests.

When we re-triggered the failed job then all times it get failed with the same hpack exception.
It looks error occurs during the build and deploym

[2022-05-11 07:58] EricBlanquer opened #7977 "UpgradeHttpServletRequest.setAttribute & UpgradeHttpServletRequest.removeAttribute can throw NullPointerException"
if the "request" object is null
UpgradeHttpServletRequest.setAttribute:
https://github.com/eclipse/jetty.project/blob/2c812f631e3a5c2fd69147f34f5c65cd36dd2137/jetty-websocket/websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/internal/UpgradeHttpServletRequest.java#L433
and
UpgradeHttpServletRequest.removeAttribute:
https://github.com/eclipse/jetty.project/blob/2c812f631e3

[2022-05-11 08:59] sbordet commented on #7964
IIUC, you start a job on your CI, and all the tests fail with that error.
If that's the case, then you don't have setup Jetty in the correct way, likely you lack the HTTP/2 libraries like reported in #2048.

In particular you probably lack the `http2-hpack` artifact, which is typically resolved as a transitive dependency.
In your case, you seem to get the error during the write of a response on th

[2022-05-11 12:40] joakime commented on #7977
Can you show us a full stacktrace of your NullPointerException?

[2022-05-11 15:28] #7935 closed, assigned to nobody

[2022-05-11 21:07] joakime commented on #7863
All merged into `jetty-9.4.x` and `jetty-10.0.x`+

[2022-05-11 21:07] #7863 closed, assigned to nobody

[2022-05-11 21:08] #7880 closed, assigned to joakime

[2022-05-11 21:39] joakime opened #7979 "Port StatisticsHandler.getResponsesThrown to Jetty 12"
**Jetty version(s)**
12.0.x

**Description**

Port commit 39c478461b92adceeb7a442037d27690bcec8770 to Jetty 12.0.x

[2022-05-12 06:13] lachlan-roberts commented on #7977
I think we are just missing the else branch here as `request` could be null.
See:

https://github.com/eclipse/jetty.project/blob/2c812f631e3a5c2fd69147f34f5c65cd36dd2137/jetty-websocket/websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/internal/UpgradeHttpServletRequest.java#L428-L434

[2022-05-12 06:15] lachlan-roberts commented on #7977
Opened PR #7982

[2022-05-12 07:03] EricBlanquer commented on #7977
@joakime I don't think that will help you, but as @lachlan-roberts says, the "else" is missing

[code]

[2022-05-12 09:48] maucimino opened #7984 "Setting Traffic Class in HTTP Server underling Socket"
Jetty 11.0.8

JDK 16

I'd like to set the traffic class in my Jetty HTTP server responses in the underling socket. I have seen that Java offers the `setTrafficClass` method in the `Socket` class.

I was not able to understand how I can reach this method through my Jetty HTTP server. I'm instantiating a server as following:

[code]

It's very basic, but I need to set the traffic class (or the TOS)

[2022-05-12 11:22] sbordet commented on #7984
May I ask why you need to set this configuration? As it is just a hint, and most of the times is ignored.

[2022-05-12 11:41] maucimino commented on #7984
Unluckily it's for requirements, you know.. :D

[2022-05-12 12:05] sbordet commented on #7984
This will set the traffic class in every connection opened by the given `ServerConnector`.

You have to setup this code at `Server` configuration/startup, as you cannot do it from a `Servlet`.

[code]

[2022-05-12 12:24] joakime commented on #7977
It may seem obvious, but how did his code even reach this point where request is null?
Having a null request is only possible if using those classes directly, the null checks we have there are to fufill our unit testing requirements where we access those objects directly, not a real server.

The fact that there's a ServletRequestWrapper in the stacktrace is a red flag indicating bad usage of the A

[2022-05-12 12:41] joakime commented on #7984
Before you do this, be aware that IP_TOS is broken and not well supported on the open internet.

My advice is to not even waste your time on this, as no features associated with IP_TOS works today.  If you were investigating this back in 1998, with Java 1.2 you might have a shot at making it work, but today?  Your chances are incredibly slim, and it would never work on the open internet.  It would

[2022-05-12 13:15] maucimino commented on #7984
Thanks for the explanation! As I said, I'm using Jetty 11.0.8 but I'm not able to find the `configure` method when extending the `ServerConnector` class. Also in the Jetty javadoc I'm not able to find any reference about the `configure(Socket socket)` method.

[2022-05-12 13:27] joakime commented on #7984
Ah, yes. `ServerConnector.configure(Socket)` was removed in PR #7100 when HTTP/3 QUIC was introduced. (When using HTTP/3 QUIC there's no Socket)

[2022-05-12 13:32] maucimino commented on #7984
So there's no other way? Because I tried with the following suggestion:

But I get the exception `IP_TOS not supported` when using the `setOption` method.

[2022-05-12 13:54] sbordet commented on #7984
That's what we tried to tell you. You want to set a socket option that is at best ignored, but in reality is not even supported.

And before you ask, this is the JDK implementation of `Socket.setTrafficClass()`: https://github.com/openjdk/jdk/blob/jdk-18-ga/src/java.base/share/classes/java/net/Socket.java#L1456.

Just don't set it.

[2022-05-12 14:32] maucimino commented on #7984
I see, but my Jetty server is not working in open internet, otherwise I might understand and move on as you suggested.
I'm working in a private enterprise network where the TOS is very important, that's why it seems strange there's not a way to set it properly.

[2022-05-12 14:37] joakime commented on #7984
If you got a ChannelException attempting to use `setOption(IP_TOS, val)` then you have 2 potential causes.

1. The OS/platform just doesn't support IP_TOS at all (the most common scenario)
2. The OS/platform doesn't support the specific value you have given (on Linux, for example, you need special admin/root level permissions for certain value ranges).

Neither of which can be fixed by Jetty or Ja

[2022-05-12 14:40] joakime commented on #7984
There's also rules on IP_TOS on some OS/Platforms.

For example, you cannot set IP_TOS on connected sockets on many OS/Platforms that even support IP_TOS, meaning only the client side can set IP_TOS, and it has to set it before the connection is attempted.  These kind of OS/Platform environments makes server side IP_TOS configuration impossible to achieve.

[2022-05-13 00:00] #6156 closed, assigned to nobody

[2022-05-13 02:41] prenagha opened #7986 "Show session attribute key name when error serializing"
**Target Jetty version(s)**
10, 11

**Enhancement Description**
I am migrating an existing Websphere application to Jetty and running into issues serializing data to the session. Mostly because we (sadly) don't have only proper `Serializable` data in our session. `SessionData` class has a bit of debug logging, and throws an exception but for me it would be more helpful if the exception wrapped in

[2022-05-13 02:47] lachlan-roberts commented on #7977
The original intention in this code was to copy the request attributes across to this `UpgradeHttpServletRequest` after the upgrade so that the attributes would still be accessible after the upgrade when the request has been recycled.

But we have discouraged the reliance on this by having the `HttpServletRequest` only available from the `JettyServerUpgradeRequest` during the websocket negotiation

[2022-05-13 06:35] maucimino commented on #7984
Okay, so this is the only way right now to set the IP_TOS bits in Jetty?

[2022-05-13 06:55] sbordet commented on #7984
You are not setting IP_TOS in Jetty. You are setting it on the JDK classes.
We gave you a way to access the JDK classes from Jetty, but turns out your OS/platform does not support setting IP_TOS.

[2022-05-13 06:58] EricBlanquer commented on #7977
I need to route client HTTP request and WebSocket based on informations that can be found into headers, cookie or path of the request
for that I've use the wapper to use the same code on HTTP/WS request and that's OK

now, I need to provide some metrics on each requests: time, user name found, etc...
for that, when a user is found, I have added this **setAttribute** to be able to retreive it when

[2022-05-13 07:38] maucimino commented on #7984
Okay crystal clear, thank you!

[2022-05-13 07:38] #7984 closed, assigned to nobody

[2022-05-13 12:36] joakime commented on #7986
We have to be careful to not leak back user provided content to the http response here. (that becomes a security issue)

[2022-05-13 12:43] joakime commented on #7977
@EricBlanquer you need to go further.

**This is important.**
Once you enter WebSocket, aka onConnect, you _must not_ use any HTTP component from the Servlet API.
This includes the HttpServletRequest, HttpServletResponse, or HttpSession.
Doesn't matter if it's in its natural form, raw form, wrapped form, etc, you cannot use those classes anymore, HTTP is over, those classes are closed/recycled and

[2022-05-13 12:58] joakime commented on #1771
@lachlan-roberts opened PR #7983

[2022-05-13 12:59] joakime commented on #1787
The improved exception message was added in Jetty 9.4.7.v20170914 via commit eec6453daa0287283bffabab1dcc839413609891

[2022-05-13 12:59] #1787 closed

[2022-05-13 13:12] janbartel commented on #7986
It would be better to debug log it.

[2022-05-13 13:36] prenagha commented on #7986
@joakime do people use user provided content as a session attribute key?

@janbartel issue here is we don't normally leave debugging on, and it can be tricky to figure out which session attribute caused the problem after the fact as we have lots of different pages writing data. So if we don't know which attribute caused the problem then figuring out how to resolve is extremely difficult - we almos

[2022-05-13 14:08] boommanpro opened #7990 "jetty.xml set maxFormContentSize not effect"
**Jetty version(s)**

jetty-9.4.20.v20190813

https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.20.v20190813

**Java version/vendor**

java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

**OS type/version**
windows 10

**Description**

in documentation/jetty-documentation/src/main/asciidoc/ol

[2022-05-13 14:15] joakime commented on #7986
Not super common, but it has been done.

[2022-05-13 14:18] joakime commented on #7990
You are using an old version of Jetty (version 9.4.20), upgrade (to at least 9.4.46) and try again.
I don't think 9.4.20 supported what you are attempting to do.

_Note: Jetty 9.x is entering End of Community support at the start of next month. (See: #7958)
You should be transitioning to Jetty 10+ soon._

[2022-05-13 14:19] prenagha commented on #7986
That is unfortunate @joakime , but the code already logs that same field, which also shouldn't ever be done for user provided content. So perhaps this is no worse than what is already in place.

Anyway you all let me know if I should pursue this. If not I will just override locally somehow to catch it.

[2022-05-13 14:20] joakime commented on #7990
Also, Java 1.8_191 expired back on Feb 15, 2019.
That JVM should not be used in production, for any reason.
Especially so if you are using it on the public internet.

See https://www.oracle.com/java/technologies/javase/8u191-relnotes.html

[2022-05-13 14:57] joakime commented on #7986
Logging only is fine, but reporting it back to the user on an HTTP Response is where the security problem starts.

[2022-05-13 15:13] boommanpro commented on #7990
I try jetty-runner-9.4.46.v20220331.jar  to run project, use
[code]
no effect

but use this config   effect
[code]

[2022-05-13 15:15] boommanpro commented on #7990
so i think should to modify the doc ( documentation/jetty-documentation/src/main/asciidoc/old_docs/security/configuring-form-size.adoc ) content

[code]

[2022-05-13 15:34] prenagha commented on #7986
I'll just override locally then

[2022-05-13 15:34] #7986 closed, assigned to janbartel

[2022-05-13 16:03] prenagha commented on #7986
If anyone else ends up here in the future wanting same... I added a try catch around the Jetty `SessionData` serialize static method, then rerun the below to give me a more detailed error message I then put in a wrapped regrown exception

[code]

[2022-05-14 13:08] MobAbi opened #7992 "JettyWebSocketFrameHandlerFactory.createAnnotatedMetadata(...) does not provide handle methods for Ping and Pong"
Jetty Version 10.0.9

Java 11

I upgraded from Jetty 9 to 10 and noticed that the Ping/Pong does not work anymore as before.
If I debugged that correctly, then it is because in websocket-jetty-common-10.0.9.jar
the jettyWebSocketFrameHandlerFactory.createAnnotatedMetadata() method does not supply metadata
for the handleMethods for Ping and Pong.

Is this a bug or a feature?

[2022-05-14 21:52] cotej opened #7993 "HttpClient idleTimeout configuration being ignored/overridden"
**Jetty version(s)**

jetty-client 10.0.9

**Java version/vendor**

java version "11.0.11" 2021-04-20 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.11+9-LTS-194)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.11+9-LTS-194, mixed mode)

**OS type/version**

macOS Monterey 12.3.1

**Description**

The `idleTimeout` configuration that's set on an `HttpClient` is ignored when making a reque

[2022-05-16 00:00] #4833 closed, assigned to nobody

[2022-05-16 01:08] lachlan-roberts commented on #7992
Can you show us what WebSocket endpoint you had when using `9.4` that does not work in `10.0.9`.

That `createAnnotatedMetadata()` method is for finding the methods on the endpoint annotated with Jetty WebSocket API annotations, and this did not have any ping/pong specific annotations even in `9.4`. You either use the `OnWebSocketFrame` annotation or `WebSocketFrameListener` or `WebSocketPingPongL

[2022-05-16 02:44] #7635 closed, assigned to lachlan-roberts

[2022-05-16 03:21] cowwoc opened #7994 "Ability to construct a detached client Request"
**Target Jetty version(s)**
10

**Enhancement Description**
It would be nice to be able to construct a client-side `Request` independently of an `HttpClient` instance.

Use-case:
* I want to distribute requests among proxies, and explicitly specify which proxy each request is sent to.
* `HttpClient` does provide the ability to specify proxies at request-construction time, so I am forced to constru

[2022-05-16 04:42] #7977 closed, assigned to lachlan-roberts

[2022-05-16 04:48] lachlan-roberts commented on #7977
Merged PR #7982 which prevents NPE when changing attributes after WS upgrade.

These changes will be available in the next release (`10.0.10`/`11.0.10`).

[2022-05-16 16:15] joakime commented on #7994
Seems like the `Request.tag(String)` facilities is what you are looking for.

https://javadoc.io/doc/org.eclipse.jetty/jetty-client/10.0.9/org.eclipse.jetty.client/org/eclipse/jetty/client/api/Request.html

[2022-05-16 16:30] sbordet opened #8007 "Support Loom"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
With project Loom being integrated in Java 19+22, we should offer an option to call `Handler`s with a virtual thread.
This would allow testing by early adopters.

[2022-05-16 17:23] cowwoc commented on #7994
I'm familiar with setting a request tag in one section of the code and looking it up in a different section, but I don't see how this can help with the above scenario.

I assume you mean using different proxies depending on the Request tag, but I'm not sure how to do that. Can you please clarify what you meant, and possibly provide some example code?

[2022-05-17 13:34] fizietechD opened #8009 "Jetty Releases 9.4.x, 10.0.y, 11.0.y"
**Jetty Versions:**
This release process will produce releases:

**Target Date:**

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [ ] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "release manager".
- [ ] Rev

[2022-05-17 13:39] fizietechD opened #8010 "Latest"
**Jetty version(s)**

**Java version/vendor** `(use: java -version)`

**OS type/version**

**Description**
_Do not report security issues here! See [Jetty Security Reports](https://www.eclipse.org/jetty/security_reports.php)._

**How to reproduce?**

[2022-05-17 13:39] fizietechD opened #8011 "Latest"
**Target Jetty version(s)**

**Enhancement Description**

[2022-05-17 13:51] fizietechD opened #8012 "Create"

[2022-05-17 13:51] fizietechD commented on #8009
Build

[2022-05-17 14:30] #8010 closed, assigned to nobody

[2022-05-17 14:30] #8011 closed, assigned to nobody

[2022-05-17 14:30] #8012 closed, assigned to nobody

[2022-05-17 14:31] #8009 closed, assigned to nobody

[2022-05-17 15:55] sbordet commented on #8009
@MrfizieeD please stop creating spam issues and comments, or we will report you.

[2022-05-17 17:14] sbordet opened #8014 "Review HttpRequest URI construction (CVE-2022-2047)"
**Jetty version(s)**
10.0.x

**Description**
Certain URIs may be misconstructed by `HttpRequest`, possibly resulting in a wrong `Host` header.

**Fixes Security Advisory**
https://github.com/eclipse/jetty.project/security/advisories/GHSA-cj7v-27pg-wf7q
CVE-2022-2047

[2022-05-17 17:37] sbordet commented on #7994
@cowwoc not sure I understand what you're trying to achieve.

From your description you don't need to build a request to look it up in the cache, you just use whatever information you already have (which you would put into a `Request` object).

If there is a cache hit, you don't build the `Request`, you just return the server response.

If there is a cache miss, you pick the proxy, which means you

[2022-05-17 17:45] sbordet commented on #7994
You can use a tag to differentiate between proxies (you need to write your own Proxy subclass though - I did not try but should be doable, something along the lines of `TaggedHttpProxy extends HttpProxy`).

The idea is that `HttpClient` picks the `Proxy` based on the `Origin`, which contains the tag.
So you can add N proxies, and each one of them will check if the tag matches.

In pseudo code:

[c

[2022-05-18 00:02] #6256 closed, assigned to nobody

[2022-05-18 08:13] lorban opened #8016 "Upgrade quiche native libs to version 0.13.0"
**Target Jetty version(s)**
10.0.x, 11.0.x, 12.0.x

[2022-05-18 20:12] #7858 closed, assigned to nobody

[2022-05-19 05:37] laeubi opened #8021 "Can we test the deployment of P2 with the new tycho version + signature?"
**Jetty version**
10.x , 11.x

**Java version**

don't matter :-)

**Question**

I'd like to ask if it would be possible to once again spin a special "snapshot deploy" to test the new tycho-version before the next release (is there a schedule?) to make sure the following work:

- no additional items included
- PGP signatures are setup

Would be great if that's possible to catch any issues early :+

[2022-05-19 06:40] olamy commented on #8021
they usually run daily if source code change
https://jenkins.webtide.net/job/nightlies/job/jetty-10.0.x-snapshots-deploy/
https://jenkins.webtide.net/job/nightlies/job/jetty-11.0.x-snapshots-deploy/

so you can see date/time of last run

[2022-05-19 07:25] laeubi commented on #8021
@olamy the "problem" is that the daily run do not PGP sign the artifact, at least last time there must be some "magic" enabled for that (I can't find the issue right now).

[2022-05-19 07:53] olamy commented on #8021
oh ok. I guess the magic last time was my fingers 🤣
I will do it

[2022-05-19 07:56] #829 closed

[2022-05-19 10:36] olamy commented on #8021
@laeubi both branches deployed with my sig
enjoy!

[2022-05-19 10:47] laeubi commented on #8021
Great, the signatures are there, but I notice that when looking at the `artifacts.xml` here

https://oss.sonatype.org/content/repositories/jetty-snapshots/org/eclipse/jetty/jetty-p2/10.0.10-SNAPSHOT/jetty-p2-10.0.10-20220519.075904-31-p2site.zip

it seems missing a lot of the jetty bundles missing, also for older builds this is the case, currently the repo references the

https://github.com/eclips

[2022-05-19 11:40] gregw opened #8024 "Jetty12 ee9 request recycling"
**Jetty version(s)**

jetty-12 ee9

**Description**

If AsyncContext.complete is called from a random thread, then the context exit listeners see a recycled request. For example when running: `org.eclipse.jetty.ee9.servlet.AsyncServletTest#testStartWaitComplete` I get:
[code]

[2022-05-19 11:43] gregw commented on #8024
@sbordet @lorban @lachlan-roberts Do we think this is a problem?   I lean to yes, as these listeners are part of our Debugging handler and have worked before.  There are probably similar problems with servlet-spec listeners as well.

Not sure how we can fix this? how to delay the recycling until all our API calls have returned.  Note that in this case we are still within the scope of a complete ca

[2022-05-19 12:10] olamy commented on #8021
Oh I think I know. I used -T3 so because of this it looks the p2 is build before some other modules and not at the end because they are not declared in p2 pom.
I will redeploy tomorrow and try to fix that

[2022-05-19 12:14] laeubi commented on #8021
Good to find that early now :-) Maybe you have a better idea to let the p2 depend on "everything else" instead of referencing the bom or literally every single module?

[2022-05-19 12:15] laeubi commented on #8021
Maybe `<scope>import</scope>` would be required here?

[2022-05-19 15:04] ginkosen commented on #2326
**jetty**: 9.4.30.v20200611 **jdk**:11.0.7

same issues with jstack

![image](https://user-images.githubusercontent.com/2233819/169328781-f9226bdd-d2ec-4ff6-a56d-5e4bc2280fdd.png)

[2022-05-19 16:03] joakime commented on #2326
@ginkosen what OS?

And upgrade your Jetty version, version 9.4.30 is subject to several security vulnerabilities.
See: https://www.eclipse.org/jetty/security_reports.php

[2022-05-19 16:05] lorban commented on #8016
Currently blocked by https://github.com/cloudflare/quiche/issues/1232.

[2022-05-19 18:17] devilchn commented on #2326
We were not able to figure it out and moved to Apache HTTP client prior to the issue. So I was not able to follow up and I am sorry I never said so. A JVM expert did some analysis and pointed away from the JVM and we had it on multiple OS.
He said there are multiple "ManagedSelector" instances alive that no one uses. He was sure that this would be solvable with a good understanding of the Jetty Fr

[2022-05-20 07:39] olamy commented on #8021
@laeubi I have redeployed both branches without using -T option so it should ok.
but try this `mvn clean install  -DskipTests -pl :jetty-p2 -am` and there is a problem
`<scope>import</scope>` is not possible for a `<dependency>` outside of `<dependencyManagement>`
but looking at it.

[2022-05-20 07:44] lorban commented on #8016
Quiche 0.13.0 has a bug that Jetty easily triggers which makes the JVM crash. We have to skip this release and wait for the next one.

[2022-05-20 07:44] #8016 closed, assigned to lorban

[2022-05-20 07:46] olamy commented on #8021
the easy solution is to make it depending on jetty-home :)

[2022-05-20 07:47] laeubi commented on #8021
thanks this looks much better now!

I think I'll try to enhance this with a LifeCyleListener that adds all reactor projects as a dependency but this still won't work well with `-pl`  /  `-am` and will most probably only be for Tycho 3.0 so if we can found a nice maven trick it would be cool.

If nothing helps, adding all jetty modules would be possible, I just fear if adding new ones might be forg

[2022-05-20 07:50] olamy commented on #8021
`jetty-home` already depends on everything :)

[2022-05-20 07:53] laeubi commented on #8021
Good to know! If you could adjust this then I think we should be "safe" for the next release many thanks!

[2022-05-20 07:54] ginkosen commented on #2326
@joakime

centos7.9

4 physical  cpu with 20 thread

1T memory

we upgrade jetty still not work.

we use jar decency and start with java main function