[2021-06-29 09:49] sbordet opened #6480 "Update to ASM 9.2"
**Target Jetty version(s)**
9.4.x

**Enhancement Description**
ASM 9.2 has been released, with support for Java 17 and 18.

[2021-06-29 16:10] joakime opened #6482 "URIUtil.canonicalPath() should not decode all pct-encoded values"
**Jetty version(s)**
All

**Description**
Per https://datatracker.ietf.org/doc/html/rfc3986#section-2.3

The unreserved characters, when encountered in pct-encoded form, should not be decoded.

That means the following should not be decoded by canonicalPath()

Desc | Codes
---- | ----
ALPHA | `%41`-`%5A` and `%61`-`%7A`
DIGIT | `%30`-`%39`
hyphen | `%2D`
period | `%2E`
underscore | `%5F`
tilde | `

[2021-06-29 21:20] arykov opened #6483 "Jetty http client SSL connectivity over CNTLM proxy fails"
**Jetty version(s)**
9.4.36.v20210114.

**Java version/vendor** `(use: java -version)`
1.8.0_281

**OS type/version**
Windows 10

**Description**

This is taking place in an environment where internet access can only be performed over a forward proxy(blue coat from what I can tell) that has the following characteristics:
1) MITM is done by the proxy - it generates certificates using its own CA cer

[2021-06-29 21:22] arykov commented on #6483
The log attached
[log.txt](https://github.com/eclipse/jetty.project/files/6736553/log.txt)

[2021-06-29 22:07] sbordet commented on #6483
The logs shows this request:

[code]

and this response:

[code]

So the server is telling the client that it's closing the connection.

It's a buggy proxy, ask them to not send the `Connection: close` header in the response -- that's just wrong.

[2021-06-29 22:32] gregw commented on #6482
I think you are more reading that section. To me it says that unreserved characters should not needlessly be encoded and Matt be decided at any time. It does not restrict the encoding of reserved characters other than in the next section where it says deciding should only be done once

[2021-06-29 22:59] gregw commented on #6482
From the section above:

So I think it is clear that reserved characters can be encoded and should thus be decoded.   Section 2.3 is about making comparison simpler by avoiding needless encoding of non reserved characters:

Section 2.4 is about the danger of double decoding and how URI parsing must be done before decode, which we do.

I think we are correctly implementing this part of the specific

[2021-06-29 22:59] #6482 closed, assigned to gregw

[2021-06-30 00:16] gregw commented on #6479
The only use that Jetty makes for path parameters (themselves a now totally un-standardized concept) is to: a) strip them from decoded path URI strings; b) use a trailing path parameter as an opaque session ID comprised on non-reserved characters (`Long.toString(r, 36)`).

In neither case does jetty require the parameter to either be encoded or decoded.

Furthermore, we never make our extracted ve

[2021-06-30 00:31] gregw commented on #4652
Taking the second question first.  The case is possible because a webapplication can itself contain jetty classes within it's WEB-INF/lib.  So for example, there could be code within a webapp using the service loader to find implementations of `org.eclipse.jetty.http.HttpFieldPreEncoder` - but that is the webapps classloaders version of that class and not the servers version of it.   Thus the serv

[2021-06-30 01:08] gregw commented on #6469
Hmm because Jetty's internals are `ByteBuffer`s and the servlet-api is `byte[]` it may be more efficient to find a way to not go via the servlet-api... however, it may be a good first step to get a feel for the setup.

[2021-06-30 04:39] gamma commented on #6470
This issue is preventing us from upgrading to the latest release including a recent CVE fix.

[2021-06-30 07:05] gregw commented on #6460
Peter,

I'm going to close this for now, as there is nothing here to indicate a jetty problem.   However, if you do work out that the browser is resetting the connection due to something that is being sent by jetty (or even if you just capture the conversation that leads up to a reset that you suspect may be caused by jetty), then please either reopen this or raise a new issue.

In either case, ha

[2021-06-30 07:05] #6460 closed, assigned to nobody

[2021-06-30 08:11] janbartel commented on #2072
@hieplq the code area you referenced in your previous post cannot be the problem for `Require-Bundle` bundles **unless** in your osgi environment your bundle install location is either a directory (ie the bundle is unpacked into a directory) _or_ it ends with `.jar`.  Can you post what  `DefaultFileLocatorHelper.getBundleInstallLocation()` reports for the bundle that is a Required bundle?

[2021-06-30 08:43] hieplq commented on #2072
thank @janbartel i will check build issue of vn.cxf.client.demo also output of DefaultFileLocatorHelper.getBundleInstallLocation() and report you soon

[2021-06-30 09:26] lachlan-roberts commented on #6470
This has been fixed with PR #6486 and will be in the upcoming `9.4.43` release.

[2021-06-30 09:26] #6470 closed, assigned to lachlan-roberts

[2021-06-30 09:32] joakime commented on #6470
Shouldn't `ByteBufferPool.release(ByteBuffer)` always throw an exception on an attempt to release nonsense buffers? (read-only, zero length, memory-mapped, etc)

[2021-06-30 09:36] sbordet commented on #6479
Will not be supported.

[2021-06-30 09:36] #6479 closed, assigned to nobody

[2021-06-30 09:47] sbordet commented on #6460
Even if an application is setting the `Connection` header in the response, Jetty's HTTP/2 implementation will not send it to the client, to comply with the HTTP/2 implementation.

Bear in mind that cancelled streams may be due to browser activity caused by a human, for example page refresh or closing the browser, or closing the laptop lid, etc. so they are typically expected.

If they are not expe

[2021-06-30 09:58] sbordet commented on #4652
Also, remember that service loading is very different with JPMS, where JPMS modules declare the service class and what are the implementations, etc.

Any solution would need to be tested with JPMS as well.

[2021-06-30 17:02] kprabha7 commented on #6472
Till now, in our debugging efforts, it looks like Jetty Websocket version is the reason. Upgrading to version 9.4.4, I was able to see that this warning is not seen in similar scenario or test case.

We also made some low level design changes when it comes to clean up after onError. Client disconnect and stop are now done from the main service thread (this is different from thread spawned by Jetty

[2021-06-30 17:04] joakime opened #6487 "Expose ServletHolder getter in ServletHandler$ChainEnd for auditing libraries to use"
**Jetty version(s)**
9.4.42

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
If an audit library wants to hook into the `FilterChain` of the `ServletHandler`, they use the new APIs such as `ServletHandler.newFilterChain(FilterHolder filterHolder, FilterChain chain)` introduced in Issue #5022

However accessing the `ServletHolder` isn't that easy, and yo

[2021-06-30 21:21] arykov commented on #6483
Does not this mean that the proxy requests close after the exchange is complete? Basically don't send other HTTP requests via the same pipe. Jetty client appears to close right away unlike other clients.

This header appears to be sent back by CNTLM unless upstream proxy sends keep-alive back, which seems incorrect if I read HTTP 1.1. spec right

[2021-06-30 22:08] sbordet commented on #6483
The exchange between client and proxy is completed: a `CONNECT` with a 200 response.

The client asked for a tunnel, the server is replying 200 with a `Connection: close`, which does not make sense because why would the tunnel be opened if then the client cannot even send a request through it because the proxy says "tunnel ok, but don't send anything. Bye"?

"Keep-alive" is a thing of 20+ years ag

[2021-07-01 01:57] arykov commented on #6483
It is not configurable. Culprit code on the line 767 [here](https://github.com/versat/cntlm/blame/084d75ba3947694a2a89d8d89cb309444c1fc660/forward.c) is 11 years old. This code appears to replicate HTTP/1.0 spec, rather than HTTP/1.1. And removing it indeed allows jetty client to function properly. It is just curious that in 10+ years of using CNTLM jetty client is the first client that I noticed

[2021-07-01 06:21] sbordet commented on #6483
@arykov the versat/cntlm project seems maintained, perhaps you can open an issue there.

If you have done this scavenging, do you know what for example `curl` does when it receives a `Connection: close` for a `CONNECT`?

[2021-07-01 07:05] janbartel commented on #2072
@hieplq  I've prepared a tentative fix in this branch:  https://github.com/eclipse/jetty.project/tree/jetty-10.0.x-2072-dup-osgi-annotation-parsing

It would be great if you could run it in your environment and check it works for you.

[2021-07-01 07:26] lachlan-roberts opened #6489 "Some URI valid compliance modes cannot be set in .ini file."
**Jetty version(s)**
10.0.x - 11.0.x

The `RFC3986_UNAMBIGUOUS` and `UNSAFE` URI compliance modes are not able to be set with `jetty.httpConfig.uriCompliance` in the `server.ini` file.

[2021-07-02 02:42] arykov commented on #6483
I tried curl, wget and chrome and captured [tcpdump.zip](https://github.com/eclipse/jetty.project/files/6751552/tcpdump.zip) (attached all but chrome and there are two curl dumps with -L and not) and they all seem to ignore close(note the "source" port that remains the same).

Further I captured curl log
[log.zip](https://github.com/eclipse/jetty.project/files/6751750/log.zip) using curl -v -L htt

[2021-07-02 06:17] #6413 closed, assigned to lachlan-roberts

[2021-07-02 07:52] sbordet commented on #6483
@arykov I would open an issue anyway to `cntlm`.

@gregw what do you think?

That a proxy sends an explicit `Connection: close` in the 200 response to a `CONNECT` is IMHO a blatant proxy bug.

I would rather push back and have the issue fixed in the proxy, than to introduce a special handling in Jetty's `HttpClient` to work around some other library bugs.
We have a single point in `HttpClient` whe

[2021-07-02 12:56] sbordet opened #6491 "onDataAvailable() not called when HttpParser is closed prematurely"
**Jetty version(s)**
9.4.42

**Description**
If the `HttpParser` is closed prematurely (state = `CLOSE`), then trying to read content asynchronously fail because `HttpConnection.fillAndParseForContent()` tests whether the parser is in content state.

[2021-07-02 15:50] arykov commented on #6483
Although I created an issue and pull request for CNTLM, I don't anticipate this fix trickling downstream any time soon. Ubuntu and Redhat/centos packages still reference its old home on the sourceforge which has not been showing too much life since 2012

[2021-07-02 21:01] sbordet commented on #6483
@arykov we will discuss if it's the case for Jetty's `HttpClient` to ignore `Connection: close` for `CONNECT`s -- as I said, I think technically the enhancement is simple, but if we start working around someone else's bugs, we will never end 😃

[2021-07-03 09:20] r-jo opened #6492 "long polling, server push, async, AsyncServlet, memory overhead, max handling capacity per jetty instance (per 600mhz cpu & 256mb ram), async http vs. websockets"
**Jetty version**
10.0.5
**Java version**
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.20.04)

**Question**
I am amateur as far as servers are concerned. I have a google app engine project where some nginx Google Frontend load balancer forwards to my **java 11 web app where I use embedded jetty** (fat jar created with maven shade plugin). I realize I have a lot of responsibilities

[2021-07-03 09:53] r-jo commented on #6492
I used this servlet for testing:

package fun.gomo.servlets;

import javax.servlet.AsyncContext;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import java.util.HashMap;
import java.util.Map;
import java.util.UUID;
import java.util.logging.Level;
import java.util.logging.Logger;

public class LongPollTest extends

[2021-07-03 11:52] sbordet commented on #6492
I strongly suggest that you look into [CometD](https://cometd.org), a sister project of Jetty. It does exactly what you're trying to do.

I just ran the [CometD benchmark](https://docs.cometd.org/current6/reference/#_benchmarking) and after a full GC the server, for 1000 connected clients using HTTP long poll, shows:

[code]

So 1000 HTTP clients require 179 MiB.
WebSocket does not change much, ab

[2021-07-03 15:48] r-jo commented on #6492
Thanks for your answer! Super useful!
I will take a look at CometD! Thanks again!
F1 instance class is the smallest. You can have other instances as well but they cost linearly more :)
https://cloud.google.com/appengine/docs/standard#second-gen-runtimes
It was 128mb before java11... I guess for sync request processing under small load it is ok.
It has the advantage though that we really have to th

[2021-07-03 15:48] #6492 closed, assigned to nobody

[2021-07-03 19:26] gregw commented on #6483
@sbordet I've seen it argued that the entire conversation is the body of a CONNECT response, so that if you accept that, then the close applies after the conversation.

I'm not sure I agree, but then I'm not sure I don't. So if the work around is simple....

[2021-07-05 02:02] lachlan-roberts commented on #6473
This is done in both the 9.4.43 project and the 10.0.6/11.0.6 project so I think this issue can be closed.

[2021-07-05 02:02] #6473 closed, assigned to nobody

[2021-07-05 02:07] lachlan-roberts commented on #6447
UTF16 encoding has been deprecated and is now disabled in 10.0.x/11.0.x by default. It can be re-enabled by using a `UriCompliance` mode to enable `Violation.UTF16_ENCODINGS`.

[2021-07-05 02:07] #6447 closed, assigned to nobody

[2021-07-05 03:20] leonchen83 opened #6493 "HttpParser.parsedHeader consume too much memory"
**Jetty version(s)**

10.0.5

**Java version/vendor** `(use: java -version)`

openjdk version "11.0.2"

**OS type/version**

NAME="CentOS Linux"
VERSION="8 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="8"
PLATFORM_ID="platform:el8"
PRETTY_NAME="CentOS Linux 8 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:8"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.o

[2021-07-05 04:09] gregw commented on #6493
@leoluecken83 Can you give us the exact stack trace of the areas you circled in red?
Also some examples of the headers you are sending would be useful

[2021-07-05 04:19] leonchen83 commented on #6493
@gregw is this related issue [5562](https://github.com/eclipse/jetty.project/issues/5562)?
you can download [admin-20210702-01.zip](https://github.com/eclipse/jetty.project/files/6761409/admin-20210702-01.zip) in attachment and open svg in chrome. then click red areas you can see stack trace in red areas

[2021-07-05 04:21] leonchen83 commented on #6493
this profile generated by [async-profiler](https://github.com/jvm-profiling-tools/async-profiler).

[2021-07-05 04:31] gregw commented on #6493
@leonchen83 OK I can see the full stack traces now, so it is indeed effort spent building the header cache.
So firstly you can disable the header cache if it is not suitable for you load profile.
It's kind of related to #5562 as its the same memory usage. But the fix to that issue has been applied, so the cache should only be created on second requests on a connection.

But again, I can't tell you

[2021-07-05 04:42] leonchen83 commented on #6493
@gregw
[code]

[code]

[code]

[code]

we refresh chrome and execute above requests many times, then we got the profiler

[2021-07-05 04:43] gregw commented on #6493
Ahhh!!! The proposed fix for #5562 of only creating the expensive header cache on a second request was taken out of the fix for #5562.
So we still always create the expensive header cache, even if it is not used.

@leonchen83 it is really important for us to see the headers of your requests so that we can improve our cache handling.  It may just be that you have non-persistent HTTP requests, so th

[2021-07-05 04:46] gregw commented on #6493
@leonchen83 our comments passed!    Thanks for that.  You are using curl to send individal requests with lots of custom headers.  So each connection only ever has a single request, thus the header cache is of zero use to you (unless your real load actually does use persistent connections).   If you only ever have a single request per connection, then set the header cache size to 0.

@sbordet I rea

[2021-07-05 05:52] zjffdu opened #6495 "`ReservedThreadExecutor` blocked in `tryExecute`"
**Jetty version(s)**. 9.4.31.v20200723

**Java version/vendor** `(use: java -version)`. openjdk version "1.8.0_252"

**OS type/version**: centos 7

**Description**, Jetty has not response, and no logs in jetty server

**How to reproduce?** It would not be easy to reproduce, I run jetty server in my app for more than 5 days, and it happens suddenly.

Here's the thead dump and I suspect it might be

[2021-07-05 17:47] joakime commented on #6495
Can you cause this to happen?

Using : 9.4.31.v20200723
Does this happen in 9.4.42.v20210604?

[2021-07-05 23:32] gregw commented on #6495
I can see two threads trying to produce, but waiting on the lock:
[code]
and `qtp431687661-1435772` is the same.    They can't get the lock because it is already held by:
[code]

which is an already producing thread offering a produced task to a reserved thread.   But the offer is blocked on the lock: 0x00000000ffa73038.... which is not held by any other thread, the reason being that is a `Synchro

[2021-07-05 23:39] gregw commented on #6495
The only change between 9.4.31 and head in `ReservedThreadExecutor` is 265886543ff197b1d6a60ec994162bd6cbf0a06d, which is about stopping so I think it is unrelated and HEAD will probably have same issue.

[2021-07-06 00:05] gregw commented on #6495
So tasks are only offered to a reserved thread that is taken from the stack.   So for this problem to happen, there must somehow be a reserved thread on the stack that is not listening (`reservedWait`ing) .... either it was never listening or it just stopped listening.   So how do reserved threads get on the stack?  They put themselves there with:
[code]
So perhaps we need to check the return of t

[2021-07-06 00:19] gregw commented on #6495
The other thing of note, is that there a zero reserved threads.  The most common snapshot of a server should have a few reserved threads, so it is unusual to see absolutely no reserved threads.  This offer must have been for the last reserved thread....

[2021-07-06 00:27] gregw commented on #6495
the size and pending atomics could probably be merged into an AtomicBiInteger, but again I can't see how that is related.

[2021-07-06 00:28] gregw commented on #6495
We don't decrement the pending count if an execution of a reserved thread is rejected, but again that doesn't put a thread onto the stack, so not related.

[2021-07-06 05:05] gregw commented on #6495
@zjffdu how many times has this occurred?  Does it always happen for you after a few days?  If you leave a server idle does it happen?

Can you try a different JVM?

[2021-07-06 05:08] zjffdu commented on #6495
@gregw This is the first time I hit this issue, I could try again to see whether I reproduce it again

[2021-07-06 05:14] gregw commented on #6495
@zjffdu it is a very VERY strange thread dump.   We have no idea how it can happen like that!!  So any extra information you can give us would be most appreciated... even if it is the same information from a re-occurance, or if it doesn't reoccur for some time  etc.

[2021-07-06 05:58] #6489 closed, assigned to lachlan-roberts

[2021-07-06 06:48] macmon-secure commented on #6495
Hi. I've the same problem on a test server with two server connector on two different ports in the following environment:
**Jetty version(s):** 9.4.35.v20201120
**Java version:** openjdk version 11.0.11
**OS type/version:** Debian 10.9

I also can't really reproduce it but I hope this info helps you to find the problem.

I encountered the problem after some other services just blocked in a API cal

[2021-07-06 07:12] gregw commented on #6495
@macmon-secure thanks for that report.  We have 2 theories... either the same cosmic ray that hit @zjffdu's server continued on through the earth and hit yours as well; OR there is a real problem!!

We have looked hard at our code and can't see an issue, so suspect a possible JVM library issue, but you saw the problem on a different JVM, so that is even less likely.

We can think of some changes t

[2021-07-06 07:23] macmon-secure commented on #6495
@gregw thanks for the fast reply. I'll try to use a small timeout on the clients side to workaround the problem for now.

[2021-07-06 07:46] gregw commented on #6495
@macmon-secure if the problem is really an issue for you, then you can configure the server to use 0 reserved threads.  This will have a performance cost, but should avoid this issue entirely.
However, if you don't mind failing a bit longer... then we'd certainly appreciate any data you can give us on how often it occurs or any other details.

[2021-07-06 10:58] macmon-secure commented on #6495
@gregw thank. I'll consider that solution on the productive server. If I can reproduce the problem on the test server I'll let you know.

[2021-07-06 11:03] sbordet commented on #6495
@macmon-secure what is your exact JDK version/vendor? Can you please report the full output of `java -version`?

[2021-07-06 11:10] macmon-secure commented on #6495
Full output of `java -version` is:
[code]

[2021-07-06 11:22] sbordet commented on #6495
@macmon-secure your call, but I would advise against Debian builds of OpenJDK.

If possible, use AdoptOpenJDK builds, at least it is clear and known what source they are built from (i.e. the official OpenJDK tags).

[2021-07-06 11:46] sbordet commented on #6495
@macmon-secure @zjffdu when you reproduce this issue, could you take a server dump as explained here:
https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-troubleshooting-dump

That would hopefully allows us to see the internal state of the `ReservedThreadExecutor` to see if there is anything wrong.

[2021-07-06 13:17] macmon-secure commented on #6495
@sbordet I can't change the environment where the application is running.

[2021-07-07 00:01] joakime opened #6497 "Replace SameFileAliasChecker"
**Target Jetty version(s)**
9.4.x+

**Enhancement Description**
The current SameFileAliasChecker is almost a no-op based on changes before it is called.

We should address the 2 common usages.

1. Case Insensitive aliases - for windows requests (ala `/index.html` vs `/INDEX.HTML`)
2. FileSystem Normalization - for OSX and ZFS based filessytems that treat UTF-8 encoding differently on request vs st

[2021-07-07 00:02] joakime opened #6498 "Resource.addPath() should enforce child path references."
**Target Jetty version(s)**
9.4.x+

**Enhancement Description**
All uses of Resource.addPath(String) should enforce that the requested child resource is always within the Resource, never navigating out of the Resource.

[2021-07-07 00:03] joakime opened #6499 "ValidUrlRule should have more illegal characters"
**Target Jetty version(s)**
9.4.x

**Enhancement Description**
We should reject other characters, like `\` or `%5c` too.

[2021-07-07 02:51] #6493 closed, assigned to gregw

[2021-07-07 07:15] dwen77 opened #6501 "Idle timeout occurs if same request object is reused to send request multiple times"
**Jetty Client version(s)**. 9.4.22.v20191022 and above

**Java version/vendor (use: java -version)**. openjdk version "11.0.2" 2019-01-15

**OS type/version** macOS Big Sur

**Description**, Client gets Idle timeout error if the same [Request](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-client/src/main/java/org/eclipse/jetty/client/api/Request.java) object is reused to send r

[2021-07-07 09:32] sbordet commented on #6501
`Request` objects are not reusable.

We should clarify this in the documentation.

[2021-07-07 10:32] dwen77 commented on #6501
Hi @sbordet , thanks for the quick response! It would be great if the document can be updated to describe this constraint. I came across this constraint when bumping up the jetty client version in my project. Just out of curiosity, is there any reason to have such a constraint as the older versions seem to work?Thanks!

[2021-07-07 11:47] joakime commented on #6501
What older version are you referring to?

All releases of Jetty 9.x have had this constraint.

[2021-07-07 11:49] joakime commented on #6501
@sbordet lets tag the `Request` object as "used" or "dirty" and reject it with a clear error message if reused.

[2021-07-07 11:52] dwen77 commented on #6501
Hi @joakime , the old version i was referring to is `9.4.19.v20190610`. The sample project I mentioned could reuse the same request object without any issue if the version is earlier than `9.4.22.v20191022`. Client start to get `Idle timeout` error if version is `9.4.22.v20191022` or later.

[2021-07-07 12:18] joakime commented on #6501
The only differences in the `Request` and `HttpRequest` implementation between 9.4.19 and 9.4.42 is the addition of an optional `tag` to allow hooking into specific tagged connections on the connection pool.

The constraints we are talking about were present in Jetty 9.4.19 as well.

@sbordet be careful about running the demo project at https://github.com/dwen77/jetty-client-demo  - change the URL

[2021-07-07 12:21] dwen77 commented on #6501
Thanks for explaining the details! Did you mange to see the different results when running different versions? or @sbordet will do that?

[2021-07-07 15:20] lorban commented on #5791
Saw it again just now, on a PR build of `jetty-10.0.x`.

Assertion failure:

[code]

Console output:

[code]

[2021-07-07 15:57] joakime commented on #6450
Accidentally closed.

[2021-07-07 16:04] 38leinaD opened #6506 "jetty, myfaces and weld: Expired session cleanup is failing: WELD-001303: No active contexts for scope type javax.enterprise.context.SessionScoped"
**Jetty version**
We are using Jetty 9.4.42.v20210604 in combination with
- Weld 3.1.5.Final
- MyFaces 2.3.8

**Java version**
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment 18.9 (build 11.0.8+10)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.8+10, mixed mode)

**Question**
We are seeing below exception for invalidated sessions and trying to make sense of it:

[code]

Essentially, as

[2021-07-07 16:06] joakime commented on #6498
@gregw I think this change should go into Jetty 10+ (no change in Jetty 9) wdyt?

[2021-07-07 17:46] joakime commented on #6506
Looks like the session was destroyed during a HouseKeeper.scavenge() which occurs at a later time.
I thought  we set the scope properly for that flow.

Do you have an example project that can cause this?

[2021-07-07 22:52] gregw commented on #6498
Reserve judgement until i see pr

[2021-07-08 02:22] janbartel commented on #6506
@38leinaD can you post a small, simple reproduction?

Jetty uses a background thread to periodically search for `HttpSessions` that have expired, and then calls into the jetty `contexts` to invalidate a session with the matching `id` (can be more than one `context` due to the "wonders" of cross `context` dispatch).  Before the `HttpSessionListener.sessionDestroyed` method is called, we anoint the

[2021-07-08 08:00] lachlan-roberts commented on #6497
The documentation should be also updated to explain why you should not use `SameFileAliasChecker` or `ApproveAliases` unless you are sure of what you are doing.

[2021-07-08 09:57] #6443 closed, assigned to lorban

[2021-07-08 12:49] 38leinaD commented on #6506
I have prepared a "small" reproducer: https://github.com/38leinaD/jetty-issue-reproducer-cleanup-session
- git clone https://github.com/38leinaD/jetty-issue-reproducer-cleanup-session.git
- ./gradlew run (With JDK 8)
- Open http://localhost:8080/index.xhtml
- Close browser again
- Wait ~ 1 minute and you should see the exception (i have set session-timeout to 1 minute and also SessionHouseKeeper I

[2021-07-08 14:24] White-invite commented on #4061
config.yaml
logging:
  config: ./cfg/config.groovy

config.groovy
appender("ssl-handshake", RollingFileAppender) {
    rollingPolicy(TimeBasedRollingPolicy) {
        fileNamePattern = "${LOG_PATH}/%d{yyyy-MM-dd}.ssl-handshake.log"
    }
    encoder(PatternLayoutEncoder) {
        pattern = PATTERN
    }
}
logger("org.eclipse.jetty.io.ssl.SslConnection", DEBUG, ["ssl-handshake"], false)

[2021-07-08 17:13] #6450 closed, assigned to joakime, lachlan-roberts

[2021-07-09 01:06] olamy commented on #6343
fixed

[2021-07-09 01:06] #6343 closed, assigned to olamy, joakime

[2021-07-09 01:07] olamy commented on #5711
some work started here https://github.com/eclipse/jetty.project/pull/6057

[2021-07-09 03:52] olamy commented on #5754
we can close this as `jetty-servlet-api` is using `jakarta`:
[code]

[2021-07-09 03:52] #5754 closed, assigned to olamy

[2021-07-09 12:32] dwen77 opened #6512 "The usage of preCreateConnections method of AbstractConnectionPool"
**Jetty version**

org.eclipse.jetty:jetty-client:9.4.36.v20210114

**Java version**

openjdk version "11.0.2" 2019-01-15

**Question**
Hi people,

I have an application which uses Jetty client to communicate with a bunch of other systems. The first request or a few concurrent requests to the application normally get slow response since it takes time to create connections toward other systems, esp

[2021-07-09 13:03] joakime commented on #6512
I would think the `preCreateConnections` should be part of the connection pool factory impl.
And setup before you call `httpClient.start();`

Like you see in the test cases - https://github.com/eclipse/jetty.project/blob/jetty-9.4.43.v20210629/jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientTest.java#L1866-L1873

https://github.com/eclipse/jetty.project/blob/526006ecfa3af7f1a27ef3a28

[2021-07-09 13:14] sbordet commented on #6512
Method `preCreateConnections(int)` creates the given number of connections. To what server address though?

You have to tell `HttpClient` at least one destination for the `ConnectionPool` to be instantiated and the connections pre-created.

Use `HttpClient.resolveDestination(...)` to resolve the destination you want to pre-create connections for -- you don't need to send a request.
Sending a reque

[2021-07-09 13:20] dwen77 commented on #6512
Thanks to both of you! Great answers!
It makes perfect sense to tell the `HttpClient` about the destinations. Let me try to use `HttpClient.resolveDestination(...)`!

[2021-07-09 15:18] 38leinaD commented on #6506
I now also created a small example using a servlet and a @SessionScoped bean and no myfaces. But i am not able to reproduce the issue here.
https://github.com/38leinaD/jetty-issue-reproducer-cleanup-session/tree/no-jsf
- Same steps as before; just open Open http://localhost:8080/hello
- Close browser...
No Exception. So, does this indicate that the issue only happens when myfaces is in the mix? Or

[2021-07-09 15:57] dwen77 commented on #6512
The suggested approach works like a charm, let me close the ticket and thanks again for the help!

[2021-07-09 15:57] #6512 closed, assigned to nobody

[2021-07-10 00:11] gregw commented on #5810
@joakime is there still demand for this?

[2021-07-10 01:58] janbartel commented on #6506
@38leinaD thanks for the reproduction test cases, so helpful!

I actually converted them to maven too, to build a standard webapp that I could deploy, just to eliminate any possibility that your embedded code was involved in the problem (it wasn't).

So, from following the stacktraces through the `myfaces` and `cdi` code, it appears that `myfaces` is aware that a `HttpSession` can be expired outsi

[2021-07-10 08:34] hieplq commented on #2072
hi @janbartel
1. i'm fixed my test project (vn.cxf.webapp) to can build success and redo issue
2. i don't know how to do

3. to test your patch, i going to update vn.cxf.webapp to use jetty 10.0.6 but i get bellow error show not yet confirm patch
[main] WARN org.eclipse.jetty.servlet.BaseHolder - Unable to load class org.eclipse.jetty.servlet.listener.ELContextCleaner
java.lang.ClassNotFoundExcept

[2021-07-10 08:55] hieplq commented on #2072
run bellow command to redo error
[main] WARN org.eclipse.jetty.servlet.BaseHolder - Unable to load class org.eclipse.jetty.servlet.listener.ELContextCleaner
java.lang.ClassNotFoundException: org.eclipse.jetty.servlet.listener.ELContextCleaner

git clone -b jetty-10 git@github.com:hieplq/vn.cxf.client.demo.git
cd vn.cxf.client.demo/
./gradlew clean build
cd vn.cxf.client.app/target
jar xvf vn.cxf.c

[2021-07-10 09:34] hieplq commented on #2072
i'm fixed Unable to load class org.eclipse.jetty.servlet.listener.ELContextCleaner
on my webapp bundle add import package org.eclipse.jetty.servlet.listener, org.eclipse.jetty.servlet

confirmed: jetty 10.0.6 resolved issue without your patch

**output log**
____________________________
Welcome to Apache Felix Gogo

g! Jul 10, 2021 4:28:27 PM org.apache.aries.spifly.BaseActivator log
INFO: Registe

[2021-07-12 01:30] janbartel commented on #6432
Closed via PR  #6438

[2021-07-12 01:30] #6432 closed, assigned to janbartel

[2021-07-12 01:31] janbartel commented on #6430
Closed via pr #6435

[2021-07-12 01:31] #6430 closed, assigned to janbartel

[2021-07-12 01:31] janbartel commented on #6431
Closed via pr #6436

[2021-07-12 01:31] #6431 closed, assigned to janbartel

[2021-07-12 15:19] 38leinaD commented on #6506
Thanks @janbartel !
As suggested, I have created issues with...
* Weld: https://issues.redhat.com/browse/WELD-2676
* MyFaces: https://issues.apache.org/jira/browse/MYFACES-4407

[2021-07-12 17:37] dwen77 opened #6514 "How to warm up SslConnection"
**Jetty version**
org.eclipse.jetty:jetty-client:9.4.36.v20210114
**Java version**
openjdk version "11.0.2" 2019-01-15
**Question**
Hi Community,

It is a follow up question of a [question](https://github.com/eclipse/jetty.project/issues/6512) that I raised earlier. I tried to use `preCreateConnections` and `resolveDestination` to pre create connections in connection pool. The time that is spent o

[2021-07-12 20:11] sbordet commented on #6514
Just to be clear, method `wrap()` is always called, both during the TLS handshake, but also when encrypting data after the TLS handshake.

However, yes, we don't have a way to force the TLS handshake, which is always initiated lazily when the first request is sent.
Typically this is not an issue because the cost is amortized among many requests on that connection, but I can see how having an optio

[2021-07-12 21:05] dwen77 commented on #6514
Hi @sbordet , thanks for the clarification and hopefully the feature can be supported officially!

In my application, there is a class implements the interface[ Request.Listener](https://github.com/eclipse/jetty.project/blob/b56edf511ab4399122ea2c6162a4a5988870f479/jetty-client/src/main/java/org/eclipse/jetty/client/api/Request.java#L619) in order to record the time spent on each step.

What I obs

[2021-07-12 21:36] sbordet commented on #6514
Yes that will work the problem around by "priming" the connection and forcing the TLS handshake.

[2021-07-12 21:49] CrazyCoder80 opened #6515 "multiple version of same jars with setParentLoaderPriority(false) in Embedded Jetty causing issue"
**Jetty version(s)** **9.4.40v20210413**

**Java version/vendor** `(use: java -version)` **openjdk version "11.0.9"**

**OS type/version** **AIX 7.1.5**

**Description**: We are using embedded jetty and we have several vendors deploying war files to this jetty webserver. We are seeing some class loading issues. The webapp.setParentLoaderPriority(false); Which means the classes contained within WEB

[2021-07-12 21:55] joakime commented on #6515
The default is `setParentLoaderPriority(false)` which enforces the standard servlet webapp classloader isolation.

There is something else going on.
You mention "loader", is this referring to the `java.util.ServiceLoader` usage? (if so, then track the open issue #4652 for this)

Also, have you customized the ClasspathPattern (includes or excludes) on either the specific webapps, or the default one

[2021-07-12 22:07] CrazyCoder80 commented on #6515
No its not the serviceLoader. What I suspect the appLoader is loading the class from the class path but why is it going to the apploader when the dependency is present in WEB-INF/lib.  As u mentioned it should enforce the standard servlet webapp classloader isolation.

No we have not customized any classpath pattern it should be using the default one on the server. Is there a way to debug as to wh

[2021-07-12 22:10] dwen77 commented on #6514
Hi @sbordet ! Do you think the solution even works if application sends concurrent requests sent as soon as it is started? I thought concurrent requests may need to use multiple connections from connection pool and the dummy request cannot force TLS handshake of all these connections. Is my understanding correct?

[2021-07-12 22:18] joakime commented on #6515
Try setting a breakpoint on `WebAppClassLoader.findClass(String name)` and see what the call stack is.

My theories ...

1. There is something ahead of it that is using the `java.util.ServiceLoader`
2. Or is doing custom classloading on top of the `WebAppClassloader` improperly
3. Or is doing some kind of `Enumeration<URL> classloader.getResources(String)` for classes (which is super odd).
4. Or y

[2021-07-12 22:21] joakime commented on #6515
There is also the option to configure the server and system classes to manipulate the classloader isolation.
Such as forcing the webapp to use the server classes for specific packages, never using the ones in WEB-INF/lib (or WEB-INF/classes) that match that same package.
This is helpful when you have to use server classes (such as server logging, or server based JDBC, or server based JNDI referenc

[2021-07-13 00:55] gregw commented on #6515
Does you app use Threads at all?  If so, the Thread's context class loader might not be set correctly and you need to be a lot more clear when you say "the loader", as there are multiple loaders.

I simple reproduction would be helpful.

[2021-07-13 01:20] janbartel commented on #6515
(Sanitized) log file output and stacktrace would be helpful, as would a description of which jars you are talking about, and an idea if these classes are configured as 'System' or 'Server' classes  (see https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jetty-classloading).

[2021-07-13 01:24] janbartel commented on #6506
For those following this issue, it looks like this is a known problem for some versions of MyFaces: https://issues.apache.org/jira/browse/MYFACES-4382

[2021-07-13 07:32] 38leinaD commented on #6506
Seems to be indeed fixed with myfaces 2.3.9. Will monitor it for a few days in our application and then close this.

[2021-07-13 18:21] CrazyCoder80 commented on #6515
Thanks for all your prompt responses. After debugging the WebAppClassLoader.loadClass.
I guess I know the root cause but still not able to figure out how to get over it.
The javax.ws.rs.ProcessingException that webAppLoader was not able to load was due to the else condition of WebAppClassLoader.loadClass which says
`if (_context.isParentLoaderPriority())
            {

            }
            el

[2021-07-13 19:41] sbordet commented on #6514
Yes you would need to force the TLS handshake on all connections.
That is a bit tricky but doable with a request `begin` listener that sends the 2nd, then the 3rd, etc. in a blocking way.

Consider whether this is worth the effort. Lots of complexity for 100 ms that are amortized.

[2021-07-13 19:48] joakime commented on #6515
Ah, the class `javax.ws.rs.ProcessingException` starts with the magic package namespace `javax.` which (per the Servlet spec) is not allowed to be overridden by a WebApp. (a variation of point 5 on my previous "theories" response)

https://github.com/eclipse/jetty.project/blob/jetty-9.4.43.v20210629/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/WebAppContext.java#L106-L116

https://github.co

[2021-07-13 21:23] dwen77 commented on #6514
Hi @sbordet , thanks for the explanation!  As the logic will become quite complicated, I will try to just send a single dummy request to force handshake of a single connection and see if the application could gain any performance.

[2021-07-14 00:23] gregw commented on #6515
@CrazyCoder80 Note that you can configure this behaviour. If you want `javax.ws.rs.*` to be loaded from the webapp classloader, then you need to prepend `-javax.ws.rs.` to the system classes (defined on the WebAppContext).   If you want those classes to never be loaded from the container, then you can also add `javax.ws.rs.` to the server classes.

However, a better solution would be to just not h

[2021-07-14 06:13] #6366 closed, assigned to lachlan-roberts

[2021-07-14 06:59] olamy commented on #6373
with the help of this https://github.com/eclipse/jetty.project/pull/6516 we can reuse that for different session storage.
but other modules are a bit different.

[2021-07-14 07:00] lachlan-roberts commented on #2690
This was since classified as a bug and has been fixed. We will not dispatch the thread for the next message until the thread for the previous message leaves its `onMessage()` method. The messages should be received one at a time and in the same order they were sent.

[2021-07-14 15:37] CrazyCoder80 commented on #6515
@gregw Thanks for response. I did try to some packages to the system classes so that these classes are loaded from the webapp classloader. I see a majority of my classes getting loaded from the webapp but still there are a couple of classes get loaded from the server as well even after explicitly specifiying those packages.
This is what I have added
**WebAppContext.addSystemClasses(server, "-javax

[2021-07-14 16:16] joakime commented on #6515
The call to ...

[code]

Sets the server default values for when a new WebAppContext is created.
That call would need to occur before any WebAppContext is created for it to take effect.

Set the `Server.setDumpAfterStart(true)` before the `Server.start()` is called, or just call `Server.dumpStdErr()` after it it started, to know what the settings are at runtime.
That will show the server level con

[2021-07-14 17:22] joakime commented on #6515
@gregw Prepend is no longer needed, the methods that used to do prepend are now deprecated anyway.

I added a simple testcase to demonstrate.

https://github.com/eclipse/jetty.project/pull/6517/files

[2021-07-14 19:26] CrazyCoder80 commented on #6515
@joakime I tried setting the patterns even before I start the server. I also took a Dump but it does not give any conclusive information regarding the context.
Below is how I set the patterns before I start the server. But the behavior does not change. I am also attaching the logs. Classes are still being looked for, at the webserver classpath.
Am I missing something here:
[code]
[Dump.txt](https:

[2021-07-14 20:13] CrazyCoder80 commented on #6515
One more interesting thing that I am noticing is that by adding patterns ClasspathPattern classes which were previously getting loaded from webserver classpath are getting loaded from WEB-INF/lib except a few which I am confused about.

[2021-07-15 00:28] olamy commented on #6373
@janbartel what should be the target for this 10.0.x or even 9.4.x?

[2021-07-15 00:35] janbartel commented on #6515
@CrazyCoder80 you should start with the default system classes and then poke holes into it for your specific situation. As it is, you've completely replaced what the system classes are.

Do something like:
[code]

When you set `dumpAfterStart` true, you will see what each webapp thinks the `system` and `server` class settings are. Here's how the dump looks from one of the standard jetty webapps (*

[2021-07-15 01:37] joakime commented on #6373
Perhaps something like what was done for testing the logging modules?

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/LoggingOptionsTests.java

[2021-07-15 03:19] olamy commented on #6373
Not sure as some mod have very specific needs. In the case of sessions we might need something abstract and different external resources start (jdbc, infinispan, memcached etc..)

[2021-07-15 20:59] CrazyCoder80 commented on #6515
@janbartel This is what I am trying

[code]

The result is still the same. the Dump is also not what u have in ur response.
Just wandering if I am trying this on the right version? I am on **jetty-server-9.4.40.v20210413**

[2021-07-15 21:28] joakime commented on #6515
@CrazyCoder80 get rid of that `webapp.start();` it's not needed, as the `server.start()` does that for you (and you are starting things out of order).

What does the output of server dump show?
The last one you attached was mangled by the classloader logging you were doing and was basically unreadable.

[2021-07-15 21:31] gregw commented on #6515
Note also that you can call server.dumpStdErr() directly as well.

On Fri, 16 Jul 2021 at 07:29, Joakim Erdfelt ***@***.***>
wrote:

--
Greg Wilkins ***@***.***> CTO http://webtide.com

[2021-07-15 21:57] gregw commented on #6515
Also, you need to follow Jan's example and base your settings on the server
defaults.

On Fri, 16 Jul 2021, 07:30 Greg Wilkins, ***@***.***> wrote:

[2021-07-16 00:14] rushalias opened #6519 "Socket timeout exception is thrown without utilizing allocated ConnectTimeout"
**Jetty version(s)**
9.4.42.v20210604

**Java version/vendor (use: java -version)**
openjdk 11.0.11 2021-04-20 LTS
OpenJDK Runtime Environment Corretto-11.0.11.9.1 (build 11.0.11+9-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.11.9.1 (build 11.0.11+9-LTS, mixed mode)

**OS type/version**
In Kubernetes
Ubuntu 20 in userland container
Ubuntu 18 in kernel

**Description**
We have a subclass of AsyncMid

[2021-07-16 14:18] gencarnacao opened #6520 "Error page has HTML error when writePoweredBy is enabled."
**Jetty version(s)**
At least since 9.4.x

**Description**
The footer of the page, containing the "Powered By" line has an incorrect closing html tag. This causes issues when trying to parse the file automatically although visually in browsers this is undetectable.

**How to reproduce?**
With the Powered By footer enabled, trigger any error page (easiest is 404). I detected this on a running Jenki

[2021-07-16 16:00] sbordet commented on #6520
@gencarnacao as the fix is trivial, would you be interested in issuing a PR to fix it?

[2021-07-16 16:19] CrazyCoder80 commented on #6515
@joakime after getting rid of the `webapp.start()` i am able to see the server dump as expected. I am attaching the same.
` +> -org.glassfish.hk2.
|     |  +> -org.glassfish.jersey.
|     |  +> -org.glassfish.jersey.internal.`
are listed under Systemclasses
Even after that the  classes that are in webServer class path is getting picked up. The weird thing is so classes adhere to this rule and some

[2021-07-16 16:28] joakime commented on #6520
We validate that the JSON error output is sane in our ErrorHandlerTest.
Perhaps we should do the same with the HTML (we should be generating XHTML compliant output) and the XML output too.

[2021-07-16 16:49] joakime commented on #6515
The dump shows that you have many libs in your `WEB-INF/lib` that requires bytecode scanning and annotation scanning to function properly, yet you haven't enabled that configuration on your environment.

To enable the Jetty Annotation scanning:

1. add the `jetty-annotations-<ver>.jar` to your server classpath
2. for Jetty versions before Jetty 10.0.0, add the following code for your server init.

[2021-07-16 18:20] gencarnacao commented on #6520
@sbordet I tried. There should be a PR pending. Somewhere.

[2021-07-16 19:03] joakime commented on #6520
Opened proper fix (with testcase to verify output format validitiy) as PR #6525

[2021-07-16 20:23] gencarnacao commented on #6520
Saw the PR, unless I misundertood I think there is a typo.
You modified the opening `<hr>` tag not the closing `<hr/>` one which should be `</hr>.`

[2021-07-16 20:32] joakime commented on #6520
The `<hr>` element (aka the "Horizontal Rule") has no body.

So this is invalid: `<hr>body</hr>`
but this is not: `<hr/>body<hr/>`.

While in strict HTML5 you don't have to close the `<hr>` element, you do have to close it if you want to conform with XHTML.

[2021-07-17 00:43] gregw commented on #6495
@zjffdu @macmon-secure Has the issue re-occured for you?     If you can reproduce then it would be really valuable if you could run the jertty built with https://github.com/eclipse/jetty.project/pull/6496
This should not only stop the thread blocking forever, but will give us valuable debug about what is happening so we can diagnose.

We are reluctant to make a full release with such changes as th

[2021-07-19 08:56] l0rinc commented on #5048
Unfortunately we need JDK 8 compatibility - is it possible to backport the buffer usage optimizations to 9.x?

[2021-07-20 02:25] gregw commented on #5048
@paplorinc Jetty-9 is in feature freeze other than for sponsored work for our commercial clients.   We have to give priority to stability in 9 rather than features, so we now do not back port work from 10 unless there is good reason to,  especially with websocket, where the implementations are significantly different and the risk of breaking something is high.

Thus we are unlikely to do this ours

[2021-07-20 13:18] baranvtek opened #6528 "Thread stuck on parsing infinite loop on invalid HTTP chunked response"
**Jetty version(s)**
Jetty client 9.3.16.v20170120
**Java version/vendor** `(use: java -version)`
jdk1.8.0_281

**OS type/version**
Red Hat Enterprise Linux Server release 7.9 (Maipo)

**Description**
We discovered this issue during E2E integration with another company's team which was sending invalid chunked response and it will be fixed on their end. Nevertheless it might worth to fix also on je

[2021-07-20 20:56] joakime commented on #6528
Jetty 9.3.x is EOL / End of Life.

See: https://www.eclipse.org/jetty/download.php#version-table

Does this still happen with Jetty 9.4.43.v20210629?

https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.43.v20210629

[2021-07-21 02:38] #4968 closed, assigned to olamy

[2021-07-21 02:38] #3672 closed

[2021-07-21 02:38] #4972 closed, assigned to nobody

[2021-07-21 02:38] #4352 closed, assigned to joakime

[2021-07-21 02:38] #2966 closed

[2021-07-21 02:38] #2626 closed

[2021-07-21 02:38] #4608 closed, assigned to nobody

[2021-07-21 02:38] #2676 closed

[2021-07-21 02:38] #2443 closed

[2021-07-21 02:38] #4947 closed, assigned to nobody

[2021-07-21 02:38] #4798 closed, assigned to nobody

[2021-07-21 02:38] #3543 closed

[2021-07-21 02:38] #4916 closed, assigned to nobody

[2021-07-21 02:38] #3724 closed

[2021-07-21 05:50] janbartel commented on #6506
@38leinaD how did you go? Can we close this issue on the jetty side?

[2021-07-21 13:26] sbordet commented on #3509
Also, I think `MBeanServer` supports interceptors, it could be an alternative way of supporting this feature.

[2021-07-21 13:29] sbordet commented on #3490
This has been reworked entirely in Jetty 10 documentation, so I consider this issue closed.

[2021-07-21 13:29] #3490 closed

[2021-07-22 02:09] janbartel opened #6531 "Missing <Arg> should either throw xml parse error or succeed"
**Jetty 9.4.x **

There is no error from the xml parser with a construct like:

[code]
The above snippet is missing `<Arg>` inside the `<Call>` statement.

When the above statement is executed, there is no error, but neither does the `add(String)` method appear to be executed.

[2021-07-22 04:47] gregw commented on #6531
Actually, when writing a test for this I discovered that DTD validation should find such problems, so I don't think we want to duplicate the validation.

[2021-07-22 04:47] #6531 closed, assigned to nobody

[2021-07-22 08:22] 38leinaD commented on #6506
Problem was no longer seen with latest myfaces version.
thanks for your support!

[2021-07-22 08:22] #6506 closed, assigned to janbartel

[2021-07-23 06:03] gregw opened #6536 "Refine Transfer-Encoding handling"
**Target Jetty version(s)**

Jetty>=10

**Enhancement Description**

Implement https://github.com/httpwg/http-core/pull/905/files

[2021-07-23 13:02] baranvtek commented on #6528
Hi,

I have checked version 9.4.43.v20210629 it unit test and looks like it was fixed.

Thanks!

[2021-07-23 13:09] joakime commented on #6528
Closing as fixed in newer version of Jetty.

[2021-07-23 13:09] #6528 closed, assigned to nobody

[2021-07-23 17:56] #6520 closed, assigned to nobody

[2021-07-24 09:14] #6322 closed, assigned to lorban

[2021-07-24 15:16] vikkyomkar commented on #6413
Thanks for the suggestion @lachlan-roberts. I am able to print request logs in console output but it doesn't have latency value.
Is there any way to modify EXTENDED_NCSA_FORMAT to get latency aswell ?

[2021-07-25 00:10] lachlan-roberts commented on #6413
@vikkyomkar yes, you can provide a customised format string to the CustomRequestLog.

Take a look at the Javadoc for an explanation of how to use it.

https://www.eclipse.org/jetty/javadoc/jetty-9/org/eclipse/jetty/server/CustomRequestLog.html

I believe the code you're looking for is something like %{ms}T.

[2021-07-26 00:45] gregw commented on #6322
Once the next release is out, we need to ask for a few ByteBufferPool dumps from real deployments so we can plot histograms of buffer sizes in the pool.

[2021-07-26 09:34] lorban opened #6541 "Improve BlockingArrayQueueTest to remove @DisabledIfSystemProperty markers"
Improve the performance of `testTake()` and `testConcurrentAccess()` such as they can always be enabled.

Relates to #5684 and #6327

[2021-07-27 07:22] ofrias opened #6544 "Using jetty.gzip.excludedMimeTypeList property results in an error"
**Jetty version(s)**
10.0.6

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)

**OS type/version**
Ubuntu 20.04.2 LTS

**Description**
When setting `jetty.gzip.excludedMimeTypeList` configuration parameter Jetty does n

[2021-07-27 08:29] ofrias opened #6545 "image/webp MIME type support"
**Jetty version(s)**
 10.0.6

**Java version/vendor**
openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)

**OS type/version**
 Ubuntu 20.04.2 LTS

**Description**
image/webp is not registered as a MIME type

**How to reproduce?**
Deploy any .webp image and check that

[2021-07-27 09:15] ritesh3d opened #6546 "Request.isSecure() and scheme does return true for HTTPS"
**Jetty version(s)**
9.4.38.v20210224

**Java version/vendor** `(use: java -version)`
IBM java 8
**OS type/version**
Linux and windows
**Description**
When HTTPS request is sent from external source the Request parameters" isSecure" is set to "false" and getScheme() also returns "http" rather than "https".

I have seen there is a bug reported and fixed in jetty 10.x . Will the same fix and clean u

[2021-07-27 09:33] sbordet commented on #6546
Looks like you did not configure the `SecureRequestCustomizer`.
See for example: https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-server-http-connector-protocol-http11-tls.

[2021-07-27 11:24] ritesh3d commented on #6546
@sbordet Thank you for responding and this suggestion has worked. However i have run into

javax.xml.stream.XMLStreamException: org.eclipse.jetty.io.EofException: Closed
	at com.ibm.xml.xlxp.api.stax.msg.StAXMessageProvider.throwXMLStreamException(StAXMessageProvider.java:64)
	at com.ibm.xml.xlxp.api.stax.XMLStreamWriterImpl.close(XMLStreamWriterImpl.java:631)
	at com.ibm.xml.xlxp.api.stax.XMLOutp

[2021-07-27 12:18] sbordet commented on #6546
There is nothing related to Jetty in your XML stack trace.

[2021-07-27 12:36] joakime commented on #6545
Typically, if you want an extra mime-type over what comes with the container you can ...

1. manually specify it on your response `Content-Type` header.
2. customize the `org.eclipse.jetty.http.MimeTypes` within your `ContextHandler` (or `ServletContextHandler` or `WebAppContext`) with the `.getMimeTypes()` access (be sure to think about how `charset` for the mime-type operates, and also how it sh

[2021-07-27 13:33] ofrias commented on #6545
It looks like `image/webp` is not yet in [the official mime-types list](https://www.iana.org/assignments/media-types/media-types.xhtml#image).

Currently we are using option 3 of your list, but it looks like `GzipHandler` constructor is not using our configuration because Jetty applies gzip compression to our .webp files.

This code from `GzipHandler` constructor is not working for us (I assume `M

[2021-07-27 13:56] ofrias commented on #6545
Both Chrome and Firefox include `image/webp` in their `content-type` request header when requesting a .webp image.  So it is already being used although it is not in the official list yet.

[2021-07-27 14:32] joakime commented on #6545
Some resources about webp ...

* https://developers.google.com/speed/webp - official webp home page
* https://developers.google.com/speed/webp/faq#server-side_content_negotiation_via_accept_headers - indicates that `image/webp` is the content negotiation type
* https://chromium.googlesource.com/webm/libwebp - official webp source repository
* https://github.com/webmproject/libwebp/ - mirror of the

[2021-07-27 14:34] joakime commented on #6545
A previous person asking the same question as me in the webp mailing lists ...

https://groups.google.com/a/webmproject.org/g/webp-discuss/c/FAaCCW5E__w/m/iCtF8H_UYt8J

[2021-07-27 15:36] joakime commented on #6545
Opened PR #6548

[2021-07-27 16:25] joakime commented on #6544
I have been able to replicate.

[2021-07-27 16:42] joakime commented on #6544
Opened PR #6550

Turns out the `set(Include|Exclude)MimeTypeList(String)` methods were never added.
Those were needed to support the single String split into multiple entries for `set(Include|Exclude)MimeTypes(String ...)` methods.

[2021-07-27 22:07] joakime opened #6552 "FileBufferedInterceptor.dispose not working due to locked file"
**Jetty version(s)**
9.4.x - HEAD

**Java version/vendor** `(use: java -version)`
Java 8u292 and 11.0.1

**OS type/version**
Windows 10

**Description**
The FileBufferedInterceptor.dispose() attempts to clean up files it has recently used.
However, this is not possible currently on windows, as it will throw a AccessDeniedException due to the fact that the file is currently locked.

We need to veri

[2021-07-28 00:50] janbartel commented on #6472
Closing this issue, as it seems to have been addressed. If you still have concerns, please reopen with fresh info.

[2021-07-28 00:50] #6472 closed, assigned to nobody

[2021-07-28 00:52] janbartel commented on #6501
@sbordet @joakime  are there documentation changes to be done here or code changes? If documentation, please assign to Chris, if code changes, a PR :)

[2021-07-28 00:55] janbartel commented on #6405
I am assuming that due to lack of further comment by the OP that this issue can be closed.

[2021-07-28 00:55] #6405 closed, assigned to nobody

[2021-07-28 00:58] janbartel commented on #6370
Closing this issue in favour of #6372

[2021-07-28 00:58] #6370 closed, assigned to joakime

[2021-07-28 01:01] janbartel commented on #6350
@olamy nudge

[2021-07-28 01:17] janbartel commented on #6326
@sbordet @lachlan-roberts can this be closed or is this something we want to pursue?

[2021-07-28 01:19] lachlan-roberts commented on #6326
Yep, I think this can be closed.

[2021-07-28 01:19] #6326 closed, assigned to lachlan-roberts

[2021-07-28 06:19] lachlan-roberts opened #6553 "Review usage of Authentication.UNAUTHENTICATED in SecurityHandler"
Review usage of `Authentication.UNAUTHENTICATED` in `SecurityHandler`.

The `JaspiAuthenticator` may return this in the case that it did not receive a `Principal` to use and returning `UNAUTHENTICATED` the request to continue through the `SecurityHandler` even if authentication was mandatory.

I think we may need to add a case in `SecurityHandler.handle` for:
[code]

[2021-07-28 06:34] lachlan-roberts opened #6554 "Allow creation of DefaultIdentityService without realmName."
`SecurityHandler.doStart()` has the following logic:
[code]

I am not sure we need the check for `if (_realmName != null)` to create the `DefaultIdentityService`.

This has caused previous issues with some people trying to configure `jetty-openid` from xml before. It would also make it easier to configure and use JASPI without this check.

[2021-07-28 08:14] #6491 closed, assigned to sbordet

[2021-07-28 08:25] janbartel opened #6556 "MemcachedSessionDataMap needs to set the context classloader before serialization/deseriazliation."
Because the MemcachedSessionDataMap does not use ContextHandler.handle(Runnable), the context classloader is not set correctly when the SessionData is serialized into memcached.

[2021-07-28 10:40] ritesh3d commented on #6546
@sbordet this is the full stack trace.

javax.xml.stream.XMLStreamException: org.eclipse.jetty.io.EofException: Closed
	at com.ibm.xml.xlxp.api.stax.msg.StAXMessageProvider.throwXMLStreamException(StAXMessageProvider.java:64)
	at com.ibm.xml.xlxp.api.stax.XMLStreamWriterImpl.close(XMLStreamWriterImpl.java:631)
	at com.ibm.xml.xlxp.api.stax.XMLOutputFactoryImpl$XMLStreamWriterProxy.close(XMLOutputF

[2021-07-28 11:57] joakime commented on #6546
That says you were stopping your connector.
If that's what you did, of course it's going to EOF.

[2021-07-28 11:57] sbordet commented on #6546
You are getting the `EofException` because the `ServerConnector` has been stopped as reported in the line above.

The fact that it has been stopped by the AWT thread is really a surprise.
Is this a Swing client application that starts Jetty as a server?

This is likely an application mistake and not a Jetty issue.
I recommend you double check what your application is doing.

[2021-07-28 15:19] sbordet opened #6558 "Allow to configure return type in JSON array parsing"
**Target Jetty version(s)**
9.4.x

**Enhancement Description**
Currently, `JSON.parse("[1]")` returns an `Object[]`, while `AsyncJSON` returns `List<Object>`.

This is a bit inconsistent, although there is no standard, so that many different implementation return different types (e.g. Jackson vs Gson vs Jetty), so applications need to be aware of these differences and "sniff" the type before casti

[2021-07-28 23:47] gregw commented on #6495
Whilst we never found the root cause of this problem, we have completely refactored the ReservedThreadExcecutor to be simpler and to totally avoid blocking.

[2021-07-28 23:48] gregw commented on #6495
reopened for port to 10/11

[2021-07-29 09:11] #6541 closed, assigned to lorban

[2021-07-29 14:13] MacX19 opened #6562 "HttpOutput.write(ByteBuffer buffer)"
**Jetty version** 9.4.43

**Java version** 1.8.0_261

**Question**
I am using the methods `HttpOutput.write(ByteBuffer buffer)` and `HttpOutput.write(byte[] b, int off, int len)` to send the response. Also I am using GzipHandler. I am testing with the same response data. When I use the `write(byte[] b, int off, int len)` method, the _Content-Length_ header is set in the response. When I use the `w

[2021-07-30 00:13] gregw commented on #6562
It is indeed a buglet!   Thanks for noticing and your diagnosis!
Reproduced with some extra tests and `s/_written/written/` fixes those tests.  But I've found a couple of other semi-related issues, so doing some more testing and improving code coverage. Standby...

[2021-07-30 06:14] janbartel commented on #6554
Not checking the `_realmName` would make sense to me: we've already tried to find the `LoginService`, and if there was one, we would have asked it for it's `IdentityService`. As we didn't find one, it seems to be irrelevant to check the `_realmName`. In fact, it maybe should be an error for either of the 2 following conditions:
1.  we get this far with a `realmName` configured, but we didn't find

[2021-07-30 06:15] janbartel commented on #6553
Looks good - PR?

[2021-07-30 14:01] FlyingSheepOnSailfish commented on #6396
We too have just suffered from this problem (though not related to Avatica).

We use Jetty as an Embedded WebServer in a Java Server using the Spark Java microframework.

The “GSSException: Failure unspecified at GSS-API level (Mechanism level: Invalid argument (400)“ is an issue that can have many causes.  Identifying the cause can be like looking for a needle in several haystacks!

It took us a

[2021-07-30 14:27] joakime commented on #6396
@FlyingSheepOnSailfish thanks for the details.  What did you do to fix your situation on Spark?  Did you use a custom ThreadFactory as @stoty did?

[2021-07-30 14:38] sbordet commented on #6396
@FlyingSheepOnSailfish are you using the deprecated `SpnegoAuthenticator`?
Because the new `ConfigurableSpnegoAuthenticator` should do the right thing with respect to `Subject.doAs()` calls.

[2021-07-30 15:11] FlyingSheepOnSailfish commented on #6396
@joakime I only discovered this thread once we already had a viable workaround, and had even nailed down the exact Jetty version. So our workaround is different. I can now configure my application to do either of:
a) start Spark (and thus Jetty) in the Subject.doAs()
b) call our SPNEGO authentication code in its own Subject.doAs() - Actually this was the approach we started with many years ago, be

[2021-07-30 15:27] FlyingSheepOnSailfish commented on #6396
Having established that the problem was not really a Kerberos problem, but caused by the Subject context getting lost, we called the function below at several points in our code to narrow down where. This function was inspired by one in the JRE class GSSUtils. Essentially it asks the question "in the context of which subject, if any, are we running at this point?".

[code]

[2021-07-30 16:21] joakime commented on #6396
Oh no. `AccessController` and `AccessController.doPrivileged` use ...

Those are currently deprecated in Java 17 and will be removed entirely in Java 18.

[2021-07-30 16:41] FlyingSheepOnSailfish commented on #6396
@joakime  tx, we have just moved from Java 8 to Java 11: that code snippet was inspired by Java 11 JRE code. I can look into what newer JREs do instead. [I will have to read this 8-)](https://openjdk.java.net/jeps/411)
...[and it looks like Subject.doAs() will be deprecated or replaced in the future too.](https://bugs.openjdk.java.net/browse/JDK-8266592)

[2021-07-30 18:06] joakime commented on #6552
After a conversation with @sbordet we are going to use the Java 9+ JVM feature `java.lang.ref.Cleaner` on Jetty 10+ to cleanup temp files in `FileBufferedHandler` properly for all OS's, including Linux.

[2021-07-30 18:47] #6544 closed, assigned to joakime

[2021-07-30 23:10] gregw commented on #6396
@FlyingSheepOnSailfish do keep us informed with your findings after researching newer JREs.  If there is something we should be doing better with our managed threads, then do ask!

[2021-07-31 07:16] 30010041 commented on #6274
Hello, friend.
Jetty version
9.4.42.v20210604
Description
Class X509 removes restriction
![image](https://user-images.githubusercontent.com/88180687/127732143-bbda6439-0630-4cea-ba63-ba005fe0cddb.png)

However, Class SslContextFactory  does not perform corresponding processing. As a result, an exception is reported when both DNS and CN exist.
![image](https://user-images.githubusercontent.com/8818

[2021-07-31 19:19] sbordet commented on #6274
@30010041 sorry your report is not clear.
Please make an example of a domain that does not work.

[2021-08-01 02:06] gregw opened #6565 "Improve deployment of symlinked webapplications"
**Target Jetty version(s)**
9, 10

**Enhancement Description**

After #6114 we can now deploy symlinked war files with the correct context path. eg.
[code]
But the following does not work correctly:
[code]

[2021-08-01 02:08] gregw commented on #6565
I think that at deployment time, either the deployer or the WebAppContext needs to resolve the base resource to its real path, but use the linked path for determining the context path (if none is set).
Removing any symlinks in the base Resource at deployment will simplify the considerations of #6540

[2021-08-01 03:04] gregw commented on #6565
It looks like this can be fixed by resolving to the real file either in the deployer or in the ContextHandler.  This first corrects this issue only for deployed webapps, whilst the later will resolve for all usages.

[2021-08-01 05:09] nezoat opened #6566 "High CPU use due to new thread created on every websocket message in DispatchedMessageSink"
In websocket-jetty-server 11.0.6, the class "org.eclipse.jetty.websocket.core.internal.messages.DispatchedMessageSink" accept method starts a new Thread (NOT using a thread pool).  In my app this is causing a new thread creation for every web socket message (not connection).  As a result, I am seeing about 4x total app CPU usage.  As a workaround, I updated the code to use a Thread Pool and now se

[2021-08-01 14:51] nezoat commented on #6566
Well, the high CPU issue is back for me even with the thread pool modification, so this may not be a Jetty issue although I still question why a new thread is created in the class above instead of a thread pool.

[2021-08-01 15:35] joakime commented on #6566
If you are using java.io Stream based reads (eg: InputStream, Reader) then per spec we are required to spawn a new thread for each incoming message.

That style of read is for VERY long lived (and undetermined length) messsages, think gaming, or video chat.

It is inappropriate to use for short messages (how short is short? well, that depends on a huge number of factors, from your hardware, memory

[2021-08-01 15:39] joakime commented on #6274
That seems like it should be a new issue as well.

[2021-08-01 21:10] nezoat commented on #6566
Thank you so very much for taking the time to respond and explain, really.  I had no idea WebSocket.onMessage(InputStream) vs non-stream methods made such a difference in implementation.  I am now using onMessage(ByteBuffer) and this has solved the problem of creating a new thread for every message.    I am still, unfortunately, having the issue of very high CPU since switching from Jetty 9 (15% c

[2021-08-01 21:18] xipki commented on #3219
Since BouncyCastle version 1.69, you also need to copy the bcutil-&lt;version>.jar to lib/ext.

[2021-08-02 00:04] #6556 closed, assigned to janbartel

[2021-08-02 00:19] gregw commented on #6566
Was the only change jetty 9 -> 11?
Taking multiple thread dumps at short intervals whilst you are in high CPU can be a rudimentary way to find busy threads.
Better still, if you inspect the contents of `/proc/$PID/task/*/stat` you can find the actual thread that is burning CPU and match it to one in the thread dump.

[2021-08-02 00:30] janbartel commented on #3219
@0Steve0 OSGi classloading is completely different from standard jvm classloading.  That is why we provide a bunch of helper osgi bundles to make webapp classloading work in this environment which are discussed here: https://www.eclipse.org/jetty/documentation/jetty-9/index.html#framework-jetty-osgi.

Explicltly setting the context classloader as the classloader that loaded some particular class m

[2021-08-02 00:37] nezoat commented on #6566
The change was jetty 9->11 but also from not embedded to embedded.  I need to have embedded so now in the process of downgrading from 11->9 embedded.   At this point, trying to maintain the performance of 9.4 just changing to embedded.

[2021-08-02 00:44] nezoat commented on #6566
Also, thank you for the tips in dumping thread info!  That's gold.

[2021-08-02 05:35] lachlan-roberts commented on #6554
@janbartel This change will not currently work because the `DefaultAuthenticatorFactory` will return a `BasicAuthenticator` even if the AuthMethod is null. So if you create a `DefaultIdentiyService` it will always create a `BasicAuthenticator`.

I am not sure why we are doing this in `DefaultAuthenticationFactory`, doesn't seem like we should need to. There is a test towards the end of `SecurityHa

[2021-08-02 07:01] FlyingSheepOnSailfish commented on #6396
@gregw

Here is the summary of some quick research into future JDKs and the changes they plan for Security Manager et al.

https://openjdk.java.net/jeps/411

https://bugs.openjdk.java.net/browse/JDK-8267108
Suggested fix:
[code]

Meanwhile, OpenJDK 16 `GSSUtil.searchSubject()`, which inspired my function `testSubjectFound()`, is still using `AccessController`.

https://github.com/openjdk/jdk16/blo

[2021-08-02 07:02] janbartel opened #6570 "Review all Configuration classes and move to appropriate modules where possible"
**jetty-10.0.x/jetty-11.0.x**

Many Configuration classes for all kinds of integrations have been swept into the jetty-webapp module:  jaas, jndi, jsp, jmx to name a few. However, the ideal situation is that these Configuration classes reside in their _own_ module.  Sometimes this might not be possible due to circular dependencies, however we should review these and move Configurations where it is

[2021-08-02 08:16] #6565 closed, assigned to nobody

[2021-08-02 08:23] 30010041 commented on #6274
Hello, when the certificate contains both DNS and CN and the values are not the same
![image](https://user-images.githubusercontent.com/88180687/127824720-618fac0a-688e-4fdc-b918-50465c879f20.png)

1.” if (cn != null && cn.contains(".") && !cn.contains(" ")){”restriction is removed from class X509. When the addName method of class X509 is invoked, two pieces of data "localhost" and "127.0.0.1" are

[2021-08-02 08:35] gregw commented on #6570
If a module depends on `jetty-webapp`, then it should contain it's own `Configuration`s
If `jetty-webapp` depends on the module, then `jetty-webapp` will need to contain the `Configuration` on it's behalf.
If neither of the above applies, then the module can have an optional dependency on `jetty-webapp` and contain it's own `Configuration`s.

This is the point when @joakime and @sbordet  and @olam

[2021-08-02 08:44] sbordet commented on #6274
@30010041 still not clear.

First, a DNS name of `127.0.0.1` is illegal, it must be a host name, not an IP address.
Second, `_certHosts.size > 1` is correct because you have 2 names for that certificate, `localhost` and `127.0.0.1`.

What exception do you get? Please report the whole stack trace.

[2021-08-02 09:54] 30010041 commented on #6274
The value of DNS is “duckduckgo.com“. The value of CN is “localhost“.
It's the same kind of problem.

java.lang.IllegalStateException: KeyStores with multiple certificates are not supported on the base class org.eclipse.jetty.util.ssl.SslContextFactory. (Use org.eclipse.jetty.util.ssl.SslContextFactory$Server or org.eclipse.jetty.util.ssl.SslContextFactory$Client instead)

[2021-08-02 10:24] sbordet commented on #6274
@30010041 please read the exception message carefully.

The problem is not in the certificate handling like you think, it's that you have to use the correct `SslContextFactory` subclass as the  exception reports.

[2021-08-02 10:58] sbordet commented on #6570
@janbartel unfortunately the `Configuration` class is in `jetty-webapp`, so you can't make more generic modules such as jaas, jndi, jmx to depend on webapp.

So the implementation for those must be in the webapp module (what @gregw says above).

[2021-08-02 12:23] joakime commented on #6570
@sbordet @gregw yet we successfully do that for some `Configuration` classes now.

We have 3 in websocket that disprove this absolutism.

[2021-08-02 12:24] joakime commented on #6570
I completely agree with @janbartel and want to see those implementations of Configuration (and their associated service files) in the correct places.

[2021-08-02 14:29] joakime commented on #6570
One of the more complicated examples brought up by @sbordet is `JmxConfiguration`.

Which exists in `jetty-webapp`, along with it's services file (which is the wrong place).
But if you move `JmxConfiguration` to `jetty-jmx`, then you'll create a dependency from `jetty-jmx` to `jetty-webapp`, which causes a cyclic dependency issue.

[code]

[2021-08-02 14:46] lachlan-roberts commented on #6570
When doing the `JaspiConfiguration` class I was able to keep this in `jetty-jaspi` module and only have an optional dependency on `jetty-webapp`. I think this is also possible for some of the other configurations currently in `jetty-webapp` like the `JaasConfiguration`.

[2021-08-02 22:30] nezoat commented on #6566
The only change made now, is from Jetty 11 embedded to 9.4 embedded, and CPU went from 60% to 15%.   Something going on, I no idea what.  Here is the server startup code this is used:

[code]

[2021-08-02 22:40] nezoat commented on #6566
![Screen Shot 2021-08-02 at 7 45 20 PM](https://user-images.githubusercontent.com/5832693/127936852-c6a5f318-77d4-4e08-9fed-d3c2d1c44c52.png)

![gc](https://user-images.githubusercontent.com/5832693/127937100-bf39d09a-3aca-41c0-9bc0-9802da18a3c6.png)

This is the before/after.  Dramatic CPU reduction after dropping back to Jetty 9.4.    Nearly all the consumed CPU usage was going to the Garbage Co

[2021-08-03 00:11] nezoat commented on #6566
OS: | Linux, 4.14.238-182.422.amzn2.aarch64 (2 cores)
Java: | OpenJDK Runtime Environment, 15.0.1+9-18
VM args:

-XX:-OmitStackTraceInFastThrow
-XX:+UseZGC
-Xmx9G
-XX:ThreadStackSize=256k

[2021-08-03 00:50] janbartel commented on #6570
@gregw, @joakime @sbordet not to concentrate on jmx, but as it has entered the discussion ... there is _no_ reason for the dependency of `jetty-webapp` on `jetty-jmx`.  No code in `jetty-webapp` has any `import` statements for `org.eclipse.jetty.jmx`. It is in fact only a `test` dependency, and when it is removed `jetty-webapp` builds without any errors. So I see no reason to maintain a dependency

[2021-08-03 01:22] lachlan-roberts opened #6578 "Resource.getAllResources() will hang forever if symlink loop exists within resource directory."
If there is a circular symlink directory structure somewhere within the resource directory, calling `getAllResources()` will never complete.

I did a flamegraph while this was happening and `getAllResources()` was on the stacktrace about 30 calls deep from recusing into other resources.

[2021-08-03 02:01] gregw commented on #6578
Does it hang forever or stack overflow? eitherway, it needs to be fixed.   We have loop detection elsewhere.

[2021-08-03 02:16] lachlan-roberts commented on #6578
It didn't stackoverflow for me after a few minutes but didn't seem to be progressing at all.
I guess it probably would have stackoverflowed if it was left running for a long enough time.

[2021-08-03 03:37] zhangforbai opened #6580 "jetty Selector threads is Always runable status resul in no available threads"
![image](https://user-images.githubusercontent.com/49714074/127953717-2d1329f3-82ca-4be9-8e12-d6c55ded1c55.png)
![image](https://user-images.githubusercontent.com/49714074/127953784-772b639d-ed91-4478-b110-9150cf8d3592.png)
fixed 4 thread .

[2021-08-03 03:39] zhangforbai commented on #6580
hallo Mr.@sbordet could you pls help cc ?

[2021-08-03 03:52] zhangforbai commented on #6580
the version is 9.4.11.v20280605

[2021-08-03 03:53] lachlan-roberts commented on #6552
@joakime @sbordet I think we already looked into doing this before and determined it was not possible, see issue #6046.

[2021-08-03 04:04] lachlan-roberts commented on #6580
@zhangforbai that version is quite old, can you try upgrading to `9.4.43.v20210629` and see if you have the same problems.

[2021-08-03 04:32] zhangforbai commented on #6580
ok , I'll try .

[2021-08-03 07:42] 30010041 commented on #6274
@sbordet  hello friend
First, one certificate contains both DNS and CN information, not multiple certificates.
Second, "if (cn != null && cn.contains(".") && !cn.contains(" ")){" is deleted from class X509 in version 9.4.42, the semantics are changed. As a result, "_certHosts.size > 1" is abnormal.

[2021-08-03 07:48] sbordet commented on #6580
@zhangforbai the acceptor thread blocked in `accept0()` and the selector threads blocked in `epollWait()` is a completely normal and expected condition.
They are reported as RUNNABLE by the JVM and that's normal too.

Your problem is that you have a thread pool that is too small: 4 threads are way too few, why did you configure it in this way?

Jetty's default is 200 threads, and they will only be

[2021-08-03 07:52] sbordet commented on #6274
@30010041 you insist reporting a single `if` statement, without ever reporting what the problem is.
That you insist to say that the line is wrong is not enough evidence that there is a problem.
As I said, the exception you get is not due to the line you report, which is correct, but to the fact that you're using the wrong `SslContextFactory` subclass.

[2021-08-03 08:32] sbordet commented on #6566
@nezoat can you also report the heap size?

In the graphs above, at what time did you switch to Jetty 9.4.x?

[2021-08-03 10:07] zhangforbai commented on #6580
but we use 4 threads are normal
<html>
<body>

previous |  
-- | --

<br class="Apple-interchange-newline">
</body>
</html>

[2021-08-03 10:07] #6580 closed, assigned to nobody

[2021-08-03 10:12] zhangforbai commented on #6580
but we use 4 threads are normal previou ， but one day , the threads are all  reported as RUNNABLE and there are no threads can process the request . and the normal state of the thred is wait on condition by test .
![image](https://user-images.githubusercontent.com/49714074/127998915-ea45a844-49a8-4ab5-a62b-bd7de4cdb86a.png)

[2021-08-03 10:14] zhangforbai commented on #6580
this problem is the threads are reported as RUNNABLE all the time . and cat process the request .

[2021-08-03 10:30] zhangforbai commented on #6580
The scenario of this problem is that we use 5 threads in the production env almost 1 years and never meet the prolem . but the can't process the request at  15/07/2021 , and there are no threads can process . we try restarted the service and linux but no effect。   so we change the server , use  the same code and Configuration ， the new server can process the requset .
![image](https://user-images.

[2021-08-03 11:16] zhangforbai commented on #6580
@sbordet could you pls cc? I think there sitll have some prolems .

[2021-08-03 11:26] sbordet commented on #6580
@zhangforbai 4-5 threads for a server is not a wise choice.
How it worked before, I have no idea, probably just luck, or some different configuration.

There is no need whatsoever to restrict the number of threads.
Use the default and you will be good.

Please also read the section about what is an acceptor thread and a selector thread, and if necessary configure those.
https://www.eclipse.org/jet

[2021-08-03 11:28] zhangforbai commented on #6580
ok , many thx !

[2021-08-03 11:38] joakime commented on #6552
@sbordet and I tested this, we think we have a solution specific for FileBufferedInterceptor, but only on Jetty 10.0.x+

[2021-08-03 12:43] joakime commented on #6566
Just some minor things noticed in your code (which has nothing to do with your issue) ...

Did you mean to set that twice?

This is true by default.
What it means to be true is ...

* HTTP/1.0 connections will have the response header `Connection: keep-alive` automatically added. (but only if the client doesn't send the `Connection` request header, and the application doesn't set the `Connection`

[2021-08-03 13:30] nezoat commented on #6566
Heap is 9G.  The switch from 11-->9.4.x on the CPU graph is around 18:20, and on the GC graph its just past 22:00 hrs.

[2021-08-03 13:39] sbordet commented on #6566
Not sure I understand.

Are you saying that the switch happened at 18:20 on the CPU graph, but at 22:00 on the GC graph?
So the two graphs are unrelated, meaning not from the same run?

What load are you running?
It's a load test? It's a real application?
Both 9.4.x and 11 are run with the same JVM vendor/version/configuration (especially with the same GC)?

We don't see this high CPU in our load

[2021-08-03 13:45] nezoat commented on #6566
@joakime Thank you very much, yes I think ForwardedRequestCustomizer() is what I was looking for.  My server code is still checking  X-FORWARDED-FOR headers if present so I had not yet followed up to see if the Proxy code was handling this for me, but it appears ForwardedRequestCustomizer is what I actually need.  I've made the other code adjustments based on your comments as well.

[2021-08-03 13:47] sbordet commented on #6552
@lachlan-roberts in #6046 I wanted to deallocate the memory explicitly by invoking an API.
This is what `sun.misc.Cleaner.clean()` was doing for e.g. `DirectByteBuffer`.

However, turns out that `java.lang.ref.Cleanable.clean()` has a completely different semantic and it's not possible to use it for #6046.

However, it is possible to do unrelated actions (such as close a `File`), which is what @jo

[2021-08-03 13:52] sbordet commented on #6570
@janbartel it's the other way around: if we move `JmxConfiguration` to `jetty-jmx` we have problems.
So it needs to remain in `jetty-webapp`.

[2021-08-03 13:55] nezoat commented on #6566
@sbordet. Sorry for the confusion, I should have clarified the graphs are from different apps but they are of the same run, correlation of the CPU dropping and GC going to nearly zero is still correct.  The CPU graphs is from an Amazon EC2 CloudWatch dashboard and is my local time, and it capturing aggregate data of all three servers in a cluster.  The green GC chart is from JavaMelody and is in U

[2021-08-03 14:02] joakime commented on #6566
@nezoat did you actually do the required code change when going from Jetty 9.4.x to Jetty 11.x? (due to the Jakarta "Big Bang")

[2021-08-03 14:06] nezoat commented on #6566
The app handles the server side of a chess app, syncing moves between players, profile data, lists of games, etc.  Messages are all simple JSON requests (HTTP POST for non websocket clients, websocket all others).  The load in the graphs are from the live production servers. Each of the three servers handles around 2500 requests per minute.

Yes, the GC load increases over time but that's partly d

[2021-08-03 14:12] nezoat commented on #6566
![Screen Shot 2021-08-03 at 10 11 11 AM](https://user-images.githubusercontent.com/5832693/128030462-7913473d-6132-4d36-9c98-ecdccc6f3325.png)
![Screen Shot 2021-08-03 at 10 11 30 AM](https://user-images.githubusercontent.com/5832693/128030474-2d834bb8-ffbc-4ff1-a760-5294b75f6a50.png)

Just to help clarify, here is updated charts from just now, from the same server (in production) showing the drop

[2021-08-03 14:16] joakime commented on #6274
@30010041 that error message is telling you what you need to do.

We cannot pick the one you should be using for you, only you and your specific usage of `SslContextFactory` determines that.
You **MUST pick one of those two specific sub-types** for your specific Keystore demands (you have multiple certificates, as reported in that error)
Make that change in your code and try again.

If you don't m

[2021-08-03 14:26] nezoat commented on #6566
And this is the basics of the MainServlet where the WebSocket upgrade occurs:

public class MainServlet extends WebSocketServlet {

 @Override
    public void configure(WebSocketServletFactory factory) {
        factory.register(InnerWebSocket.class);
    }

 @WebSocket
    static public class InnerWebSocket {

        @OnWebSocketMessage
        public void onMessage(byte[] b, int offset, int len

[2021-08-03 14:34] nezoat commented on #6566
Yes, all my servlets were updated with base class and method parameters due to the Jakarta namespace change for Jetty 11, and then switched back to javax for Jetty 9.4.

[2021-08-03 15:27] TheGoesen commented on #2205
Hello,
I can join into the chorus of "jetty works everywhere, except for that one customer where it eats all cpu".  I have two questions:

1. Has someone successfully fieldtested the selector-hack branch, or is it more a theory-craft?
2. Would a workaround be possible by providing a custom ServerConnector that uses blocking io and a few extra threads instead of selectors? Is such a class already a

[2021-08-03 16:20] sbordet commented on #6566
@nezoat we need more information.
If you can reproduce this, would be great if you can profile the CPU/allocation with AsyncProfiler, and attach the flame graphs to this issue.
Or send us a minimal reproducer so that we will do it.

[2021-08-03 16:28] nezoat commented on #6566
I'll see if I can get a simple client/server example setup with load to reproduce it.

[2021-08-03 16:45] joakime commented on #2205
Try to gather as much information about their system.
Network hardware they have, Network drivers they have, any kind of network monitoring tools they have active on that server, any kind of "security" services that they have on that server (such as virus scanning, firewalls, etc)

It usually comes down to a few things:

1. They are using network hardware that has a flaw/bug (replacing with new ve

[2021-08-03 16:53] sbordet commented on #2205
On Linux.

[2021-08-04 08:35] #6558 closed, assigned to nobody

[2021-08-04 20:15] nezoat commented on #6566
[jetty-test.zip](https://github.com/eclipse/jetty.project/files/6934103/jetty-test.zip)

Not a perfect test, but the attached is three projects, a client, and a jetty9 server and jetty11 server.  The servers just echo the data back to the client.  Client starts a couple threads and loops 50k random bytes.    I ran it long enough to see that the issue does still show up in this test, most noticeabl

[2021-08-04 20:59] sbordet commented on #5090
Closing as JNR is phased out in favor of Java 16 Unix-Domain support.
See also #6043.

[2021-08-04 20:59] #5090 closed, assigned to nobody

[2021-08-04 23:13] #6562 closed, assigned to gregw

[2021-08-05 01:25] lachlan-roberts commented on #6552
@sbordet And we can't just do this in the callback because the `MappedByteBuffer`s are somehow holding the file open until they are garbage collected?

[2021-08-05 02:40] gregw commented on #6552
How about we just don't use filemapped buffers on windows?

[2021-08-05 07:50] janbartel commented on #6570
Further info:

Whilst it is possible to use the maven `<optional>true</optional>` dependency to create a module that does not require another downstream module to use `jetty-webapp`, it is not possible to do the same with `module-info.java`.  Making `jetty-webapp` a `requires static` is fine, but you cannot then declare the `Configuration` class as a service via a `provides Configuration with MyCo

[2021-08-05 07:52] janbartel commented on #6570
I think the only way of proceeding is to do some refactoring, involving moving some or all of the Configuration class and associated concepts into `jetty-util` (which avoids any circular dependencies). Probably this refactoring would be too much for jetty-10/11 and should be pursued in an experimental branch.

[2021-08-05 07:57] janbartel opened #6586 "Remove some unnecessary dependencies"
**Jetty 10.0.x **

apache-jsp/pom.xml
jetty-jndi/pom.xml
jetty-webapp/pom.xml

have some dependencies that aren't used and aren't necessary

[2021-08-05 08:04] #6043 closed, assigned to nobody

[2021-08-05 08:13] joakime commented on #6566
Reopening as github closed this issue due to the merge of the speculative PR #6585

[2021-08-05 09:49] sbordet commented on #6570
I fail to understand why?

I don't see any difference having the `Configuration` subclasses in `jetty-webapp`, and I think moving `Configuration` to `jetty-util` is wrong, as `Configuration` is a webapp specific concept.

I also fail to understand what the problem is?
The current status is optimal, and I don't see any reason to move things around?

[2021-08-05 10:05] sbordet commented on #6552
Correct.

With `sun.misc.Cleaner.clean()` we could have released the mapped buffer immediately, but we cannot use the API, not even via reflection (due to JPMS).

With `java.lang.ref.Cleanable.clean()` we have to wait for the GC to release the mapped buffer, and then we can close the file.

Not a bad idea 😃

[2021-08-05 10:18] 4devwithgit opened #6587 "CORS error when trying request Options"
**9.4.39**

**Java version** - JDK8

**Question** -  With jetty 6.1.26, CORS was working for customer in the default config. However, when they shifted to our product which is using 9.4.39 jetty, its not working. So, was it default skipped to check CORS in 6.1.26? We have to explicitly enable it in 9.X?
https://www.eclipse.org/jetty/documentation/jetty-9/index.html#cross-origin-filter

Thanks
Dev

[2021-08-05 10:26] sbordet commented on #6587
It's very little information to help you out.

The CORS filter is working fine, so you need to provide evidence of what you say.

[2021-08-05 10:27] 4devwithgit commented on #6587
Basic question is, was CORS filter not there in jetty 6.1.26?

[2021-08-05 10:33] sbordet commented on #6587
I don't think the `CrossOriginFilter` was implemented for Jetty 6.
It was first introduced in Jetty 7.0.0.RC2.

[2021-08-05 10:42] 4devwithgit commented on #6587
ok, thanks for the quick response. Please close this request.

[2021-08-05 10:42] #6587 closed, assigned to nobody

[2021-08-05 10:56] sbordet commented on #6476
Thanks for the suggestion, it is indeed useful.

Transparently copying the first JVM parameters to the spawned JVM might work, but the main concern I have is that for large heaps sizes, a large heap is allocated for the first JVM that does nothing.

So perhaps a WARN message is better.
@joakime opinions?

[2021-08-05 12:38] joakime commented on #6587
Jetty 6.1.26 code is archived at ...

https://github.com/jetty-project/codehaus-jetty6/tree/jetty-6.1.26/

A search for `Access-Control-Allow-Origin` in the archive produces nothing ...

https://github.com/jetty-project/codehaus-jetty6/search?q=Access-Control-Allow-Origin

And just for completeness, here's what the same search looks like in this active repository (for Jetty 9, 10, 11)

https://git

[2021-08-05 20:48] joakime commented on #6552
That would mean everywhere we currently use `BufferUtil.toMappedBuffer` would need to be reviewed.

In `jetty-10.0.x`, that's a short list ...

* `org.eclipse.jetty.server.CachedContentFactory`

https://github.com/eclipse/jetty.project/blob/49a08450c2f03e4ed4a3c81866274735ba7c97ee/jetty-server/src/main/java/org/eclipse/jetty/server/CachedContentFactory.java#L337-L352

* `org.eclipse.jetty.server.h

[2021-08-05 20:55] joakime commented on #6552
We also have usages of `java.nio.channels.FileChannel.map()` directly to review.

https://github.com/eclipse/jetty.project/blob/49a08450c2f03e4ed4a3c81866274735ba7c97ee/demos/embedded/src/main/java/org/eclipse/jetty/demos/FastFileServer.java#L196-L197

https://github.com/eclipse/jetty.project/blob/49a08450c2f03e4ed4a3c81866274735ba7c97ee/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/AfterConte

[2021-08-05 20:57] joakime commented on #6552
Opened PR #6588 to show proposal of usage.

One wart I don't like, is if the JVM closes before the phantom reference is reached, the registered action does not seem to execute.

[2021-08-05 23:02] gregw commented on #6570
@sbordet The issue is for modules like jndi. It doesn't depend on webapp and could be used without it. Ideally it would contain it's open JndiConfiguration as an optional dependency on webapp. But as Jan explained jpms does not allow that.

[2021-08-06 00:43] janbartel commented on #6570
@sbordet the problem is:
+ some `Configurations` cannot currently reside inside the module they configure which would be the natural situation maintaining encapsulation
+ undeploying these modules therefore does not also remove their `Configuration`
+ these `Configurations` have to introduce workarounds like checking for one of their module's classes on the classpath to know if they are enabled or

[2021-08-06 02:07] #6373 closed, assigned to olamy

[2021-08-06 07:30] ritesh3d commented on #6546
@sbordet Thank you for all the help.

[2021-08-06 07:30] #6546 closed, assigned to nobody

[2021-08-06 08:01] sbordet commented on #6546
@ritesh3d what was the problem, just curious?

[2021-08-06 10:07] lm0303 commented on #2399
Hello, I also encountered the same problem as you in the recent development. How did you solve it

[2021-08-06 10:44] sbordet commented on #5805
Closed by #6509.

[2021-08-06 10:44] #5805 closed, assigned to sbordet, WalkerWatch

[2021-08-06 10:48] sbordet commented on #5269
Closing as answered.

[2021-08-06 10:48] #5269 closed, assigned to sbordet

[2021-08-06 10:51] ritesh3d commented on #6546
we are still working  on the EOF issue, there seems to be some issue with socket closing in windows platform , we don't see this issue in linux box. As of now we have put a workaround for it while we get the root cause for this.

[2021-08-06 15:58] sbordet commented on #6566
@lachlan-roberts for "large messages", say 50000 bytes as in this issue, in both Jetty 9.4 and 10 a 4k network buffer is used.

In Jetty 10 with `autoFragment=true` (the default), the implementation creates a synthetic frame with a sliced direct ByteBuffer as payload, which is then passed to `JettyWebSocketFrameHandler.accept()` and then to `ByteArrayMessageSink` where it is copied multiple times:

[2021-08-06 23:55] gregw commented on #6566
Definitely let's look at reducing copying.... but also 4K is either a massively too large buffer for many ws messages.... or an entirely too small one for many others.    Can we be a bit more dynamic in choosing the size?  or at least configurable?

[2021-08-07 07:20] gregw commented on #6476
The other option is to do what we do with the docker setup for jetty: use start.jar with --dry-run to generate the start line that you then run directly without keeping the first JVM running.    Hmmmm perhaps we should document how to do that...

Something like `java $(java -jar start.jar --dry-run)`

[2021-08-08 14:22] jnehlmeier commented on #6476
@gregw The whole issue is that when using jetty provided modules it is unclear wether or not they use `[exec]` from one release to another. Basically you have to know how modules are implemented in order to launch jetty correctly.

With Jetty 10 we now have a custom my-jvm.mod file in our docker container which contains
[code]
and then launch jetty directly using `--dry-run` while making sure para

[2021-08-08 16:51] joakime commented on #6476
@jnehlmeier the `--list-config` output should show if exec will happen or not.

[2021-08-08 23:18] gregw commented on #6476
@jnehlmeier by "launch directly using `--dry-run` do you mean something like: `java $(java -jar start.jar --dry-run)`?
What are the steps you need to take to "making sure parameter expansion works"? An example would be interesting.

If you are doing the `--dry-run` style startup, then there is no need to know if a module has exec or not.

Also, you say you are using docker, so why not use our dock

[2021-08-09 05:29] zjffdu opened #6592 "Fail to upgrade jetty to 9.4.43.v20210629"
**Jetty version(s)**

9.4.43.v20210629

**Java version/vendor** `(use: java -version)`

Java(TM) SE Runtime Environment (build 1.8.0_211-b12)

**OS type/version**

Mac OS

**Description**

I used `9.4.31.v20200723`, and it works very well. But after I upgrade to `9.4.43.v20210629`, my web app fails to start. Here's the error I see in log:

[code]

**How to reproduce?**

[2021-08-09 06:17] gregw commented on #6592
That exception indicates that a class is already set for a servlet holder that has a jsp-file element.

Can you confirm if your web.xml has any servlets with a jsp-file element? If so, do they also have a servlet-class element?

[2021-08-09 06:53] zjffdu commented on #6592
@gregw Here's the servlet config in my web.xml

[code]

[2021-08-09 07:07] macmon-secure commented on #6495
@gregw sorry for the late answer but no, we weren't able to reproduce it.

[2021-08-09 08:10] gregw commented on #6592
@zjffdu there must be another servlet somewhere because your exception is definitely from the handling of a `jsp-file`.
Hmmm we could have logged the failed servlet better.

Can you run with full jetty debug turned on and attach the log?

[2021-08-09 09:15] jnehlmeier commented on #6476
Our jetty 9 image did not use `--dry-run` since we never needed it. But now with Jetty 10 we are using it because of `exec`. However given we have environment variables placed in a custom `jvm.mod` (see above) these need to be expanded. Something like `$(java -jar start.jar --dry-run)` does not work, as it does not expand the environment variables in the command line that `--dry-run` produces.

So

[2021-08-09 11:56] joakime commented on #6476
Here's the docker images: https://hub.docker.com/_/jetty
And the source repository for those images: https://github.com/eclipse/jetty.docker

[2021-08-09 14:09] qingdaoheze opened #6593 "h2c upgrade request failed when request body is big"
**Jetty version**
9.4.41.v20210516

**Java version**
1.8

**Tomcat version**
9.0.45

**Question**
The Tomcat server supports both HTTP1.1 and H2C. If the request body of the first upgrade request is larger than 1MB and Tomcat receives the request header but does not complete the request body, it will conclude that the upgrade is successful based on the request header and close the socket connectio

[2021-08-09 14:19] joakime commented on #6593
Can you run with full DEBUG logging on Jetty side, and reproduce the issue?
We would like to see the DEBUG logs.

[2021-08-09 14:22] sbordet commented on #6593
@qingdaoheze you should look at why the server closed the connection. Does not look like a Jetty issue.

[2021-08-09 17:31] CrazyCoder80 opened #6594 "Need to get Jetty integrated with osgi"
**Jetty version** 9.4.40.v20210413 Embedded

**Java version** Java 11

**Question** We are using embedded to host various webApps and several webApps are developed by our vendors and we dont have control on the various dependencies used by these vendors and we run into class loading issues. To counter this we are planning to use OSGI to deploy the webApps as bundles.
So far
1.) We have have bundle

[2021-08-09 17:58] joakime commented on #6594
Going from traditional WebApp deployment with traditional Servlet classloader isolation and behavior to OSGi, is making your problem space actually much larger and far more complicated.

Keep in mind that OSGi will only be used for the server level, and not at or within the WebAppContext.  All of the behaviors of the WebAppClassloader which are troubling you now will still trouble you.

I would en

[2021-08-10 01:37] janbartel commented on #6594
@CrazyCoder80 I don't think osgi is going to be the panacea for you. As the jetty osgi infrastructure will also look inside wars deployed as osgi bundles to find WEB-INF/lib, if your fundamental problem is that webapps have poorly controlled WEB-INF/lib jars then this will also carry over to the osgi environment: a webapp that fails to deploy outside of osgi is also unlikely to deploy inside of os

[2021-08-10 02:49] qingdaoheze commented on #6593
I think it is a correct action that the server received the headers, concluded the server do support the h2c, and it return the http status 101. When the jetty client receives the 101 response code, there is no need to continue sending data, whatever problems arise afterwards.

In org.eclipse.jetty.io.WriteFlusher#flush method, the following statement has sent some data to the server, and the next

[2021-08-10 04:31] olamy opened #6595 "Re-enable distribution tests for third parties webapp not migrated to Jakarta namespace"
**Jetty version(s)**
11.0.x

Tests disabled here: https://github.com/eclipse/jetty.project/pull/6589

[2021-08-10 07:57] sbordet commented on #6593
@qingdaoheze I don't understand.

Why are you sending an upgrade request with a body in the first place, if you just want to test if the server supports `h2c`?

Furthermore, if the server supports `h2c` why does it close the connection?

As I said, I don't think this is a Jetty issue -- Jetty is behaving as expected by actually sending request content, it's just that the server closes the connecti

[2021-08-10 08:00] lorban commented on #6552
@joakime You could work around that problem by restricting the mechanism to only deleting files instead of executing any random job and completing it with `File.deleteOnExit`.

But I'm not fond of this idea, I think any mechnism that relies on the GC to manage OS resources is doomed to fail soon or late, so I'd rather invest time in Greg's proposal of not using file mapped buffers anymore.

[2021-08-10 20:24] joakime commented on #6592
@gregw he redefined the default servlet to some other servlet-class.

@zjffdu please (temporarily) change your `<servlet-name>default</servlet-name>` to something else, like `<servlet-name>xdefault</servlet-name>` and try again.
As the name "default" is a reserved name for the servlet spec implementations to use for handling static file serving and errors.

[2021-08-11 06:18] janbartel commented on #6592
@zjffdu also please describe your environment in terms of are you running embedded or with the distro, how do you configure your servlets (web.xml, web-fragment.xml, custom webdefault.xml etc). You should be able to replace the servlet with the existing name of "default" (which is the jetty DefaultServlet, configured in webdefault.xml), but it would be interesting if you do as @joakime suggests an

[2021-08-11 07:42] zjffdu commented on #6592
@joakime @janbartel  change `default` to `xdefault` doesn't work, same error as before. BTW I am using jetty as embedded web server.

[2021-08-11 07:55] #6369 closed, assigned to sbordet

[2021-08-11 13:09] bjorncs opened #6600 "Support zstandard encoded request/response content"
From https://facebook.github.io/zstd/:

Zstandard has improved performance/compression ratio over gzip. It's already supported by some HTTP clients (e.g curl https://daniel.haxx.se/blog/2020/08/19/curl-7-72-0-more-compression/).

[2021-08-11 18:34] joakime commented on #6600
Note, there is a 100% java implementation of zstd available at ...

https://github.com/airlift/aircompressor/tree/master/src/main/java/io/airlift/compress/zstd

Which is Apache 2.0 licensed - https://github.com/airlift/aircompressor/blob/master/license.txt

Available on maven central at https://search.maven.org/artifact/io.airlift/aircompressor

[2021-08-11 19:10] martinmeeser opened #6601 "jetty-websocket-core not usable standalone, only with websocket-javax-server or websocket-jetty-server"
**Jetty version(s)**
Jetty 10.x, Jetty 11.x

**Java version/vendor** `(use: java -version)`
not java version dependent

**OS type/version**
not os related

**Description**
I am using an embedded jetty. I am NOT using ServletContext handler.
I was using Jetty 10 beta.

I directly used a WebsocketUpgradeHandler from jetty-websocket-core, basically following the examples from the tests (ChatServer).

[2021-08-11 21:39] joakime commented on #6601
Just to be clear, are you sure you are using `jetty-websocket-core`, which doesn't exist in Jetty 10+?

All of the websocket artifacts have the `websocket-<impl>-<feature>` name.
Where `<impl>` is one of: `core`, `javax`, `jakarta`, or `jetty`.
and `<feature>` is one of: `common`, `client`, `server`, `api`, `test`

The `WebSocketUpgradeHandler` is part of the `websocket-core-server` artifact.

The

[2021-08-11 21:55] acdcjunior opened #6602 "SessionTracker memory leak on WebSockets that close immediately"
**Jetty version(s)**

Tested on: 11.0.3 and 11.0.6

**Java version/vendor** `(use: java -version)`

Tested on:
- jre/jdk 11.0.10_9 (openj9-0.24.0)
- openjdk hotspot 11.0.12+7

**OS type/version**

Tested on: Windows 10, Linux Alpine

# **Description**

Opening a WebSocket that immediately closes leaves a `session` instance indefinitely on
[org.eclipse.jetty.websocket.common.SessionTracker#sessions

[2021-08-12 05:35] prakashnandihal opened #6603 "HTTP/2 max local stream count exceeded"
**Jetty version(s)** 9.4.41.v20210516

**Java version/vendor** 1.8.0_271

**OS type/version**: Linux and Windows 10 machine

**Description**
HTTP/2 max local stream count exceeded

We were using jetty 9.4.35 version  and we encountered this "HTTP/2 max local stream count 1 exceeded" error ,Simon suggested us to upgrade jetty version to 9.4.41 , so we did jetty jar upgrade to 9.4.41 version , but s

[2021-08-12 05:49] prakashnandihal commented on #6603
Below is the Exception Stack trace
[code]

[2021-08-12 05:52] lachlan-roberts commented on #6602
@acdcjunior thanks for the detailed report.
I think this should be relatively straightforward to fix, I will put up a PR.

[2021-08-12 10:49] lorban opened #6605 "Flaky test: HttpOutputTest.testEmptyBufferKnown"
**Jetty version(s)**
9.4.x

**Description**
`HttpOutputTest.testEmptyBufferKnown` fails about 1 of every 20 times on the following assertion:

[code]

[2021-08-12 12:23] sbordet commented on #6603
@prakashnandihal what's your configuration for `maxConcurrentStreams` on the server?

Do your request have a request body?

Do your request have a total timeout (i.e. `request.timeout(...)`)?

Do you have other failures in your client-side logs, like `TimeoutException`, etc.?

[2021-08-12 13:21] sbordet commented on #6603
Actually, can you attach a reproducible Maven project that shows the issue if it's that simple for you to reproduce?
I ask because we do the same kind of tests that you're doing, but we cannot reproduce the failure, so it must be some different configuration or something different that you do.

[2021-08-12 15:52] joakime commented on #6592
@zjffdu there's not enough information left from your original question to help.
Is this project somewhere public we can look at it?
Or can you replicate this in a smaller project?
Or give us details on how you configure both your Jetty `Server` and your `WebAppContext` in your embedded code?

[2021-08-12 16:03] zjffdu commented on #6592
@joakime Here's our project https://github.com/apache/zeppelin and PR for upgrading jetty https://github.com/apache/zeppelin/pull/4160

[2021-08-12 16:09] phantoriahx opened #6608 "404 when logging in"
After logging in with Gatech account, I received the following:

HTTP ERROR 404
Problem accessing /identity/feedback.htm. Reason:
    /feedback.xhtml Not Found in ExternalContext as a Resource

[2021-08-12 16:10] joakime opened #6609 "SniSslConnectionFactoryTest on Windows fails due to TLS behavior differences"
**Jetty version(s)**
9.4.43, 10.0.6, and 11.0.6

**Java version/vendor** `(use: java -version)`
AdoptOpenJDK 8, and 11
Adoptium 8, 11, and 16

**OS type/version**
Windows 10

**Description**
The TLS behaviors that `SniSslConnectionFactoryTest` is testing cannot be reliably tested on Windows 10 due to apparent TLS implementation differences.

The tests that expected a  `javax.net.ssl.SSLHandshakeEx

[2021-08-12 16:25] joakime commented on #6592
@zjffdu cool.  I'll clone it and check out the PR ...
Wow, big project!

[2021-08-12 16:30] sbordet commented on #6608
Closing, there is nothing related to Jetty.

[2021-08-12 16:30] #6608 closed, assigned to nobody

[2021-08-12 16:49] prakashnandihal commented on #6603
@sbordet  Please find the answers inline.
what's your configuration for maxConcurrentStreams on the server?
Answer :  Our Client application runs on tomcat server and makes request to destination host https://api.push.apple.com
using jetty http2 API, are you asking about maxConcurrentStreams configured on destination server(https://api.push.apple.com) ?

Do your request have a request body?
Answer

[2021-08-12 16:56] joakime commented on #6592
btw, your project doesn't compile with newer versions of Maven (i'm using 3.8.1) due to the use of `http://` instead of the mandatory `https://` that newer versions of maven require.  This is a maven CVE that was fixed in a newer `org.apache:apache` parent pom.

See: https://github.com/joakime/zeppelin/commit/34d59c7442aafccce7947ebd6210b4ee80fcf66b

Also, how do you compile this monster?
It's not

[2021-08-12 17:06] joakime commented on #6603
From https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns/

[2021-08-12 17:10] joakime commented on #6603
@sbordet can we turn off HTTP/2 PRIORITY frames in our Http2Client and never send them?

[2021-08-12 18:35] joakime commented on #6592
Some thoughts on a review of [ZepplinServer.java](https://github.com/apache/zeppelin/blob/master/zeppelin-server/src/main/java/org/apache/zeppelin/server/ZeppelinServer.java)

---

Don't use `WebAppContext.setParentLoaderPriority(true);`

https://github.com/apache/zeppelin/blob/100cdb6021f3f8132ca9b3ed3beff507125cce78/zeppelin-server/src/main/java/org/apache/zeppelin/server/ZeppelinServer.java#L58

[2021-08-12 18:44] joakime commented on #6592
There are many examples of `WEB-INF/web.xml` that attempt to redefine the "default" servlet.

[code]

* zeppelin/zeppelin-web-angular/WEB-INF/web.xml
* zeppelin/zeppelin-web/dist/WEB-INF/web.xml
* zeppelin/zeppelin-web/src/WEB-INF/web.xml

Change all of these to use a name other than `<servlet-name>default</servlet-name>` as jersey cannot be a the Servlet Spec mandated Default Servlet.
The way you

[2021-08-12 20:44] sbordet commented on #6603
@joakime I changed the title back to original. To what server the client is connecting to is irrelevant, this is a client issue.

[2021-08-12 23:28] gregw commented on #6603
So if I'm reading between the lines of what @joakime and @sbordet are saying.... the issue might be that the APN server is setting the max streams per connection to 1 (which is the limit that we see in the exception) in such a way that it causes a race in our client connection pool.    The client should never see this exception because when the max streams is exceeded a new connection is created..

[2021-08-13 02:43] gregw opened #6611 "Add server classes for unknown Configurations"
**Jetty version(s)**
10, 11

**Description**

If a WebAppContext has an unknown Configuration, it's server class inclusions are not added to the server classes.
More documentation on how/when/why Configurations apply to the classpath would be useful... specially `AbstractConfiguration`

[2021-08-13 02:43] gregw commented on #6611
@janbartel FYI

[2021-08-13 06:02] akurtakov commented on #6403
What is the status of this one ? Tycho 2.4.0 is released. If this p2 site will make it to 10.0.7 and released soon enough I would rather skip generation eclipse platform specific p2 repo but use the new general one instead. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=575313 where 10.0.6 is requested for CVE fix.

[2021-08-13 06:40] laeubi commented on #6403
@akurtakov afaik the idea was to wait for

- https://github.com/eclipse/tycho/pull/204

but @mickaelistria has had some concerns (or at least wants to review it in more detail). If we can get this done and no more issues arise from either jetty or tycho side I think the only thing left would be a Tycho 2.4.1 release (or maybe even 2.5.0).

I think it would be good to generate a (local) version of

[2021-08-13 06:59] mickaelistria commented on #6403
Why is https://github.com/eclipse/tycho/pull/204 a requirement for this one? Why is the assemble-maven-repository mojo really necessary? Wouldn't a target + a category.xml + a pom.xml be able to achieve the result right now?

[2021-08-13 07:15] laeubi commented on #6403
@mickaelistria see comments [here](https://github.com/eclipse/jetty.project/pull/6404#pullrequestreview-716520468 ), the goal is to not have additional artifacts like targets (that won't work anyway for 'pure' maven projects), category and so on for such projects as jetty that don't like to put additional effort in managing those things explicitly, but still provide a fully useful p2-site for ecli

[2021-08-13 07:28] mickaelistria commented on #6403
OK, but that is already achievable with a combination of target+category+pom file, isn't it?

[2021-08-13 07:50] laeubi commented on #6403
not that I'm aware of... all of current tycho mechanism still require to deploy the artifacts on a dedicated server or additional transformation and modification steps are required that make several assumptions (e.g. all artifacts are produced by tycho and are part of an update-site already).

The assemble-maven-repository mojo on the other hand:

1. do not require (even though it possible) any sp

[2021-08-13 08:02] mickaelistria commented on #6403
Did you see https://www.eclipse.org/tycho/sitedocs/tycho-p2/tycho-p2-repository-plugin/remap-artifacts-to-m2-repo-mojo.html ?
Tycho is expected to keep GAV for artifact that come from a Maven repo (and not from a p2 repo) with pomDependencies=consider or Maven location in .target file; then these artifacts are aggregated and this mojo will just replace the p2 metadata to reference the artifact loc

[2021-08-13 08:09] laeubi commented on #6403
As mentioned above this requires that all artifacts are:

1. build by tycho / (maybe works with `pomDependencies=consider ` also but never used that) /  (maybe also with tycho m2e target location but never tested that)
2. including them in an update-site to be build (requires additional build time + disk space)
3. requires additional modification steps e.g. delete all remapped artifacts from plugi

[2021-08-13 08:38] mickaelistria commented on #6403
Wrong

Not so important

Wrong, the remap mojo is expected to take care of that.

Yet it would be enough as a 1st iteration for Jetty to easily enough build a p2 repo; and doesn't require to wait for a new release of Tycho.
I'll try to submit a solution for Jetty based on that soon.

[2021-08-13 08:43] laeubi commented on #6403
I don't think so, the recent eclipse-infra outage has shown that backups/mirror are a crucial part of an reliable infrastructure.

Anyways when providing a solution please make sure it works with the current reactor build (no need for an additional deploy step) and no further manual configuration is required. Anyway I think it would be better to invest time/resources in building a reliable first-c

[2021-08-13 08:47] mickaelistria commented on #6403
I just discussed with @akurtakov  and the actual requirement is not to have a p2 update-site; it's to have signed artifacts.
How is signing supposed to happen with assemble-maven-repository?
IMO, the solution is more to have Jetty actually produce signed artifacts and publishing them as regular Maven artifacts (for example with a different classifier). Once we have it, Platform can use pomDependen

[2021-08-13 08:50] akurtakov commented on #6403
I don't like the different classifier solution. It's time to embrace PGP signatures.

[2021-08-13 08:55] mickaelistria commented on #6403
OK, but before doing so, let it be clear about how PGP signatures are working in p2 now: anyone who install an artifact which has a PGP signature will see the "Trust" dialog and will be asked whether to trust the key or not. There is no official/verified trust chain we can rely on to automate a decision for users.

[2021-08-13 08:56] laeubi commented on #6403
I don't see how signed artifacts should have an additional classifier. As jetty is an eclipse project it could sign the main artifacts simply with the eclipse-web service, there seem to be some setup already in the pom but I think @janbartel or @joakime can tell more about that.

Anyway signing itself does not require any special technique, as proven in m2e  where we sign artifacts from a differen

[2021-08-13 09:02] laeubi commented on #6403
The logical choice for this would be an official eclipse-PGP key and/or key server as suggested here https://github.com/eclipse/tycho/issues/203#issuecomment-890452940

[2021-08-13 11:32] mickaelistria opened #6612 "Publish some artifacts jarsigned with Eclipse certifiacte"
**Enhancement Description**
The Eclipse Simultaneous release currently requires that content (jars) it ships is jarsigned with the Eclipse certificate. Eclipse Platform heavily relies on Jetty artifacts. Currently, Platform used to alter and sign the p2 artifacts; but that can be error prone.
Jetty doesn't sign its artifacts for some compatibility reasons with some deployments. Fine.
It would be n

[2021-08-13 11:38] mickaelistria commented on #6403
Last time we discussed that, in the Architecture Council about 3 months ago IIRC, Jetty was clearly not willing to have jarsigned artifacts by default because jarsigning seems to have caused issue with bytecode manipulation or other stuff. Unless that changes, we'd need new artifacts.

But then, they become different artifacts from what's initially published by the project.

As a reminder,
The bes

[2021-08-13 11:57] laeubi commented on #6403
if they produce new artifacts the same happens + it consumes useless space on maven central... so for me this is "not profitable"

Simple as that: Drop P2 completely from platform/eclipse/tycho and consume/publish everything from standard sources (e.g. maven central), or stop complaining that there is no user story for maven hosted P2 sites...

For me this whole "there is no user story" / "complex

[2021-08-13 12:09] joakime commented on #6612
This is a requirement for Eclipse, and has been brought up before for Eclipse Jetty. (in mailing lists, bugzilla, phone discussions, issues, etc over the years).

If we cryptographically sign our Jars, we've just created a compatibility mess for other consumers of the Eclipse Jetty jars that rely on runtime modification of the Eclipse Jetty classes (for audit reasons, for metrics reasons, etc).

[2021-08-13 12:27] laeubi commented on #6612
I think this is the whole point of code-signing, as it allows to verify (and restrict!) code at runtime, while a signature/hash of the jar itself only can be used with exactly that artifact (e.g. requires file access to it!).

Anyways it seems that code-signing has never get its way into common deployment scenarios and can't hold its claims for providing some way of trust in a world that evolve fa

[2021-08-13 12:28] joakime commented on #6403
Something else to consider.

Eclipse Jetty does not release on Eclipse Infrastructure, or use Eclipse Infrastructure to build / test.

We are often too bleeding edge for the Eclipse Infrastructure tooling (for build requirements), or far too aggressive for Eclipse Infrastructure tooling (for test requirements).

Example: we've had recent discussions on making the build + release process require JD

[2021-08-13 12:32] laeubi commented on #6403
At laest for me, this is not a requirement of my request/proposal for maven based updatesites but a pure eclipse-platformm issue and I would never expect this as a perquisite to use this feature. If jetty easily can (what not seems to be the case) provide signed artifacts this would be an additional bonus to me...

Whether or not a specific signature is desired can (and should) be handled at the c

[2021-08-13 12:35] laeubi opened #6613 "Remove outdated profiles from the pom"
In https://github.com/eclipse/jetty.project/issues/6612#issuecomment-898413539 it was mentioned that eclipse-infra is not used anymore and signing is not applied.

I think the sections in the pom referencing the eclipse cbi should be removed then, e.g.

https://github.com/eclipse/jetty.project/blob/324fe5e3ee97c76d0db6125cfdedaf1008269196/pom.xml#L1546

[2021-08-13 12:37] laeubi commented on #6612
btw this is what code-signing should protect users against, so its perfectly reasonable that this is not possible when using it.

[2021-08-13 12:38] joakime commented on #6612
Here's a small example of a code signing issue that doesn't require runtime bytecode manipulation to trigger.

Jetty server (lets call it version 10.9.9) with traditionally signed jars.
A webapp is deployed that has jetty jars in its `WEB-INF/lib` but at version 10.0.6. (there are many examples of this, proxy, DoSFilter, QoSFilter, WebSocket client, HttpClient, etc)
The use of those webapp classes

[2021-08-13 12:43] joakime commented on #6403
When this topic has come up in the past, the Eclipse requirement was that only Eclipse Infrastructure jarsigning was allowed, and only with the Eclipse keys.
Has this requirement changed?

[2021-08-13 12:43] laeubi commented on #6612
That's what I mean with "it seems that code-signing has never get its way into common deployment scenarios" as this also indicates some kind of problem/vulnerability and might have security impacts. Anyways I would consider something like " strip class signatures from jars" if it is absolutely required and the security implications are clear I fully understand  that this is not realistic in most s

[2021-08-13 12:55] joakime commented on #6613
@laeubi that was added by @rgrunber in PR #2786 for other Eclipse projects that want to build Jetty for their own purposes. (P2 repository building for equinox IIRC)

[2021-08-13 12:58] laeubi commented on #6403
There recently where some discussions on the mailinglist (scroll down a bit as I can't find a direct reference to the mailinglist post): https://www.eclipse.org/lists/cross-project-issues-dev/msg18150.html

edit: reading it again, actually signing is only required for **sim-rel** participation... so if (theoretical) platform would leave sim-rel platform would no longer require signed artifacts...

[2021-08-13 13:01] laeubi commented on #6613
@rgrunber @akurtakov is this actually used anymore? Just wondering....

[2021-08-13 13:38] akurtakov commented on #6613
Not AFAICT. Old way was rebuilding jars from source which is totally undesired .

[2021-08-13 14:07] mickaelistria commented on #6403
From Platform POV, the whole story behind Jetty (re-)packaging is jar signing that is required by SimRel.
Having a p2 repo in Jetty that doesn't contain signed jar wouldn't be more useful than current state with Platform rebuilding a p2 repo for Jetty artifacts just to have them jarsigned with Eclipse certificate. Even if Jetty publishes a p2 repo without signed artifacts, then those artifacts wou

[2021-08-13 14:16] joakime commented on #6403
The last we heard, P2 is going away in favor of something Tycho has developed based on the global repository system metadata. (what this issue is about, right?)
We were led to believe that P2 is no more, Orbit requirement is no more, and all of what that used to imply.
No repackaging in orbit, no rebuild for P2, just use what exists, and validate from maven repo signatures with a web-of-trust cros

[2021-08-13 14:20] donvi-bz opened #6614 "Getting `Unconsumed Content` on every request even though I'm consuming all content to the best of my knowledge."
**Jetty version**
11.0.6
**Java version**
11
**Question**
How do I properly consume all content? / What am I doing wrong?
**Background**
I'm attempting to make a lightweight webhook handler to connect two services together (one has APIs for multiple programming languages, the other is sort of forcing me to receive webhooks or add minutes of delay and use a REST API) and for some reason the service

[2021-08-13 14:26] mickaelistria commented on #6403
p2 is still here, but can be hidden inside Tycho so producer of OSGi bundles don't need to care about p2 specifically. So you're right, one can consume any OSGi artifact from Maven -with or without p2 metadata- into a Tycho build and reuse what's there.
One reason of Orbit is that same as the one we discuss here: jarsigning. If jarsigning were not required, many Orbit bundles could be dropped as l

[2021-08-13 14:26] joakime commented on #6614
How are you sending the request?

You mentioned `curl` on the stackoverflow question, can you show us your version of curl and what your command line is?

You can add `curl -vvv <rest of command line>` to show some DEBUG on the curl side.
It might reveal something interesting and useful.

_(This is not your issue btw, but something I noticed)_

[code]

Are you exclusively using HTTP/1.0 and never

[2021-08-13 14:32] laeubi commented on #6403
But we can prepare for them today... For me its simply chicken-egg-problem, as there is no (widely used) project providing a p2 site that only contains PGP signatures there is not much spin in supporting this use-case, and as there is no support for this we are waiting for "several months" (the PGP discussion is already half a year old if I remember correctly)... and so we are waiting forever.

Th

[2021-08-13 14:33] donvi-bz commented on #6614
Whoops, that  `response.addHeader("Connection", "keep-alive");` was from my end-of-the-day just try random stuff. I'm not sure that had much of an effect on it. Also, another silly mistake on my end, I was testing both from linux and from windows and what I was using to test was this:
[code]
in **PowerShell** (whoops).  Sending the equivalent from Ubuntu though gives me a similar Unconsumed Conten

[2021-08-13 14:38] laeubi commented on #6403
By the way as mentioned before, PGP signatures are next [on my todo list](https://github.com/eclipse/tycho/issues/203) for this feature once [the deploy issue is fixed](https://github.com/eclipse/tycho/issues/201).

Platform could still decide *not* to use it, but I understood @akurtakov request here that he better sooner than later want to use the official ones... if PGP is the only issue holding

[2021-08-13 14:38] donvi-bz commented on #6614
Okay, so the keep alive header was removed, I restarted the server, added a bunch of blank lines in the middle of the debug output, then ran the command mentioned above in powershell, then added another large group of blank lines, then ran/recieved this in Ubuntu:
[code]
Here is the [new output](https://pastebin.com/raw/nXhJWsz3).

[2021-08-13 14:41] mickaelistria commented on #6403
@laeubi I think you should read archive of the various cross-project discussions about SimRel. It's something that's slow to change because of bureaucracy, fear of change, many participants, people who sets expectation being sometimes far away from those who use or those who develop the tool..., so every item takes a long time to reach consensus. Because Platform adds PGP won't remove the requirem

[2021-08-13 15:32] #6476 closed, assigned to nobody

[2021-08-13 15:39] #6372 closed, assigned to sbordet

[2021-08-13 16:05] dj110919871 opened #6615 "Jetty Releases 9.4.x, 10.0.y, 11.0.y"
**Jetty Versions:**
This release process will produce releases:

**Target Date:**

**Tasks:**
- [x] Create the release(s) issue.
- [ ] Update the target Jetty version(s) in the issue.
- [ ] Update the target release date in the issue.
- [ ] Link this issue to the target [project(s)](https://github.com/eclipse/jetty.project/projects).
- [ ] Assign this issue to a "release manager".
- [ ] Review [dr

[2021-08-13 16:05] #6615 closed

[2021-08-13 18:54] donvi-bz commented on #6614
Since I hadn't been able to get anywhere further with this approach, I decided to implement my webhook listener a third time, and this time switch languages (I went to JS). The newest version functioned basically identically to the last two versions I made (the jetty one being attempt 2) and it looked *almost* identical in wireshark, but the same service thats been sending the requests still says

[2021-08-14 05:10] laeubi commented on #6403
I subscribed to the list right now lets see what happens there. I also opened

- https://github.com/eclipse-cbi/org.eclipse.cbi/issues/53

so maybe signing artifacts afterwards become more consistent.

[2021-08-14 08:56] agavrilov76 opened #6617 "Add basic auth support for OpenId token endpoint (client_secret_basic)"
**Target Jetty version(s)**
9, 10, 11

**Enhancement Description**

Some open ID providers use only Basic Authentication (`client_secret_basic`) to protect token endpoint(s) as described in https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication. The Jetty's open id module supports only `client_secret_post` authentication scheme, that is the client secret is posted as a form par

[2021-08-14 14:35] agavrilov76 opened #6618 "ID token `azp` claim should not be required if `aud` is single value array"
**Jetty version(s)**
9,10,11

**Java version/vendor** `(use: java -version)`
N/A

**OS type/version**
N/A

**Description**
If audience of an ID token is an array containing a single value, the `azp` claim should not be required.
https://openid.net/specs/openid-connect-core-1_0.html#IDToken

**How to reproduce?**

A sample ID token:

`eyJraWQiOiIxIiwiYWxnIjoiUlMyNTYifQ.eyJhY3IiOiIxIiwic3ViIjoiNTg5O

[2021-08-15 04:15] anishsharma91 opened #6619 "SpringFramework 5 taglibs are not loading using Jetty 10.0.1"
HTTP ERROR 500 org.apache.jasper.jasperException : line[3] column[0], The absolute URI : [http://www.springframework.org/tags] cannot be resolved in either web.xml or the jar files deployed with the application.

This is the error showing on the screen while loading the application.
I am including the spring 5 taglibs in my jsp which is not loading

<%@ taglib prefix = "spring" uri ="http://www.sp

[2021-08-15 07:59] olamy commented on #6619
Hi
Do you have any sample project we could use to reproduce?
Are you using an embedded application or jetty distribution?
Do you have the same issue when using jetty 9,4.x?

Thanks
Olivier

On Sun, Aug 15, 2021 at 2:15 PM anishsharma91 ***@***.***> wrote:

--
Olivier

[2021-08-15 19:00] joakime commented on #6619
Perhaps you are being hit by this?
https://stackoverflow.com/a/4222768

What spring dependencies do you have in your new war file's WEB-INF/lib/ directory?

Make sure you have the `annotations` module enabled (if using the `jetty-home`/`jetty-base` concepts)

[2021-08-16 00:53] lachlan-roberts commented on #6618
It looks like you're sending the `aud` as an array type with a single value, Jetty incorrectly assumes that it contains multiple audiences but there is only one.

I have put up PR to fix (see #6620).

[2021-08-16 02:58] anishsharma91 commented on #6619
Hi @olamy @joakime
Thank you so much for your response.

This issue is fixed now. The problem was that the application was not able to load taglibs of spring using  uri ="http://www.springframework.org/tags"
so I downloaded the spring.tld file from the respective jar and placed to webapp/WEB-INF location and included the taglibs like this : <%@ taglib prefix = "spring" uri ="/WEB-INF/spring.tld" %

[2021-08-16 04:40] janbartel commented on #6619
@anishsharma91 if the spring 5 jar is on the container's classpath, then you would need to set the `org.eclipse.jetty.server.webapp.ContainerIncludeJarPattern` with the name of the jar in order for jetty to know it contains tlds that need to be loaded - there is an example here: https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-javaserver-faces-taglibs.  If the sp

[2021-08-16 04:50] janbartel commented on #6612
@joakime the suggestion was to publish _additional_ artifacts with the classifier `-signed`. If these are additional jars, then they can't affect users of the "normal" jars, so are there other factors that mitigate against us releasing these additional signed artifacts?

[2021-08-16 05:11] laeubi commented on #6612
@janbartel if I understand correctly this would require to build+deploy on eclipse-infra whats seems problematic as jetty requires special setup. Beside that, I don't think its a good idea to publish the same artifact twice just to sign it for one consumer... it could then simply be singed on eclipse-platform side if required (I have opened https://github.com/eclipse-cbi/org.eclipse.cbi/issues/53

[2021-08-16 06:46] janbartel commented on #6612
@laeubi thanks, those were the datapoints I was missing.

[2021-08-16 13:06] rgrunber commented on #6613
It was used in https://ci.eclipse.org/jetty/job/jetty-rt-bundles-9/ . If that is no longer in use, then it can be removed.

[2021-08-16 23:28] #6602 closed, assigned to lachlan-roberts

[2021-08-16 23:32] gregw opened #6624 "org.eclipse.jetty.client.HttpClientTLSTest#testForcedNonDomainSNI fails on java17"
**Jetty version(s)**
9, 10, 11

**Java version/vendor** `(use: java -version)`
[code]
also
[code]
**OS type/version**

linux

**Description**

Test org.eclipse.jetty.client.HttpClientTLSTest#testForcedNonDomainSNI fails on java17:
[code]

[2021-08-16 23:46] gregw commented on #6624
It is failing on an IPv6 hostname: host='0:0:0:0:0:0:0:1'

[2021-08-16 23:51] gregw commented on #6624
Issue is due to a "work around" of JVM host name validation:
[code]

[2021-08-17 01:55] gregw opened #6626 "Flakey infinispan session test on 9.4 CI"
**Jetty version(s)**

9

**Description**

Infinispan session tests are not exiting cleanly and failing after 1h on CI.
See this [CI](https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-9.4.x-6624-disable-ipv6-test/2/pipeline) timeout.
[code]

[2021-08-17 04:08] gregw commented on #6624
IPv6 part of the test commented out for now and marked with a TODO

[2021-08-17 06:38] janbartel commented on #6626
@olamy  any ideas? I don't see those tests failing on the 9.4.x branch at all ...

[2021-08-17 06:58] #6586 closed, assigned to janbartel

[2021-08-17 07:39] olamy commented on #6626
@janbartel ? this one is 9.4 :)

[2021-08-17 07:43] olamy commented on #6626
it's strange because the logs says:
[code]
as if all the tests were executed.

[2021-08-17 08:19] prakashnandihal commented on #6603
@sbordet : I have attached maven project for your reference.
 https://github.com/prakashnandihal/jetty-http2client-repo.git

As per apple developer documentation , APNS supports multiple concurrent streams and number of concurrent streams varies depending upon the server load.

https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_

[2021-08-17 08:54] sbordet opened #6631 "Does JettyWebSocketServlet require JettyWebSocketServletContainerInitializer?"
**Jetty version**
10.0.x

**Question**
Given:

[code]

If I want to use only `JettyWebSocketServlet`, why do I have to explicitly configure the `JettyWebSocketContainer` through `JettyWebSocketServletContainerInitializer`?
Can that line be removed?

[2021-08-17 08:56] sbordet commented on #6631
@lachlan-roberts @gregw it is currently necessary to call `JettyWebSocketServletContainerInitializer.configure(handler, null)` because it creates the necessary `WebSocketComponents` object.

I wonder, however, if we can hide that call, or organize the creation of the `WebSocketComponents` object in a different way so that users are not forced to write the `JettyWebSocketServletContainerInitializer

[2021-08-17 09:55] hugocabaco opened #6632 "Does jetty-jaas-9.4.38.v20210224.jar supports LDAP communication using StartTLS ?"
**Jetty version**
jetty-jaas-9.4.38.v20210224.jar

**Java version**
openjdk 11.0.12 2021-07-20 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.12+7-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.12+7-LTS, mixed mode, sharing)

**Question**
We are using jetty-jaas-9.4.38.v20210224.jar and we are having issues connecting to an LDAP server that only supports StartTLS as a security policy (so no unse

[2021-08-17 10:27] olamy commented on #6632
actually it is not supported.
would you be interested to contribute or sponsor such new feature?

[2021-08-17 12:00] sbordet commented on #6632
This is actually supported by the JDK, see https://docs.oracle.com/javase/jndi/tutorial/ldap/ext/starttls.html.

[2021-08-17 12:07] ritesh3d commented on #4936
@gregw @joakime @sbordet  I have recently facing similar issue, when multiple request are triggered at once then we see the following issue but request individually process just fine.

org.eclipse.jetty.http.BadMessageException: 500: Response header too large
	at org.eclipse.jetty.server.HttpConnection$SendCallback.process(HttpConnection.java:762)
	at org.eclipse.jetty.util.IteratingCallback.proce

[2021-08-17 13:10] bwauu opened #6633 "first bug"
hej.dll

[2021-08-17 13:10] #6633 closed, assigned to nobody

[2021-08-17 13:10] bwauu commented on #6633
fixed

[2021-08-17 13:12] joakime commented on #4936
@ritesh3d then you likely have an honest scenario of response headers that are too big.  pointing to a possible bug in your code.

Setup a debug break-point here ...

https://github.com/eclipse/jetty.project/blob/jetty-9.4.38.v20210224/jetty-server/src/main/java/org/eclipse/jetty/server/HttpConnection.java#L759-L766

https://github.com/eclipse/jetty.project/blob/288f3cc74549e8a913bf363250b0744f269

[2021-08-17 14:57] sbordet commented on #6603
@prakashnandihal the token is already expired, unfortunately, so I just get 403.

Can you please run your test project with the system property `-Dorg.eclipse.jetty.http2.LEVEL=DEBUG`, then gzip and attach the resulting log file to this issue?

[2021-08-17 16:37] sbordet commented on #6624
@gregw I put up another PR with a proper fix.

Unfortunately, Java 17 perform stricter checks on the SNI names.

We could bypass this on the client with a custom `SNIServerName` subclass, but on the server the SNI bytes are reconstructed into a `SNIHostName`, which perform the strict checks, so we are out of luck.

[2021-08-17 16:41] prakashnandihal commented on #6603
@sbordet
Just generated new JWT token ,Can you use this jwt token and try, it is valid for another 1 hour
eyJraWQiOiJGTUJEVVpNSjU2IiwiYWxnIjoiRVMyNTYifQ==.eyJpc3MiOiJWWUFLUzdXN1ZDIiwiaWF0IjoxNjI5MjE4NDE2fQ==.MEQCIBq8is+NFmJaNFort5op1uDvrdp7RoCBmtkBJ3zBUKM+AiBxh7tS4tT8eEx5TvMnj/+H+VSc0ia3nlIBLsEga6kjww==

[2021-08-17 16:45] sbordet commented on #6603
@prakashnandihal trying.

[2021-08-17 16:51] prakashnandihal commented on #6603
@sbordet
In my code, i am making post to dummy device tokens , we get below json response from APNS
{"reason":"BadDeviceToken"} and Status code:400
, BadDeviceToken error reason is expected as per APNS documentation for the dummy device tokens. And for some requests  i see below error :
java.lang.IllegalStateException: Max local stream count 1 exceeded

[2021-08-17 17:34] joakime commented on #6624
Why are we attempting to support IP literals in SNI?

It is not allowed per the specs.

* TLS: Server Name Indication: https://www.rfc-editor.org/rfc/rfc4366#section-3.1
* TLS Extensions: Server Name Indication: https://www.rfc-editor.org/rfc/rfc6066#section-3

[code]

[2021-08-17 20:00] sbordet commented on #6624
Because it was a sponsored change.

[2021-08-17 22:35] gregw commented on #6626
@olamy i think it was a timeout after 1h. So no tests failed. It just didn't complete.

[2021-08-17 23:18] olamy commented on #6626
yup number of tests not correct

[2021-08-18 06:04] janbartel commented on #6619
@anishsharma91 I'll close this issue for now - if you want to change your webapp to _not_ extract the taglibs, then please reopen and provide: where the spring 5 jar is located (on server classpath or WEB-INF/lib) and jetty log output with DEBUG enabled for `org.eclipse.jetty.webapp`.

[2021-08-18 06:04] #6619 closed, assigned to nobody

[2021-08-18 06:05] janbartel commented on #6594
@CrazyCoder80 ?

[2021-08-18 06:06] janbartel commented on #6592
@zjffdu is this issue closeable?

[2021-08-18 06:30] zjffdu commented on #6592
@janbartel  I don't have time to verify the above solution, let me try it asap

[2021-08-18 06:37] janbartel opened #6637 "A custom mimetype should be able to be excluded from gzip"
**9.4 onwards **

Currently, if a new mimetype is specified in web.xml it is not able to be excluded from the GzipHandler. It should be possible for custom mimetypes defined in web.xml to be able to be excluded from being gzipped.

Related to: #6545

[2021-08-18 06:38] janbartel commented on #6545
Looks like the default mimetype list has been updated with the ones you were interested in.

However, I think Jetty could do a better job of integrating custom mimetypes from web.xml with the GzipHandler, so I've opened #6637

[2021-08-18 06:38] #6545 closed, assigned to nobody

[2021-08-18 07:32] janbartel commented on #6406
@frode, merged #6412. Thank you for all your work on this one!

[2021-08-18 07:32] #6406 closed, assigned to nobody

[2021-08-18 09:52] joakime commented on #6637
I think this is a duplicate of issue #6544

The fix and testcase are in PR #6550

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-servlet/src/test/java/org/eclipse/jetty/servlet/GzipHandlerTest.java#L827-L870

It was not backported to Jetty 9.4.x, as it has no ability to include/exclude by mime-type, that's a new feature introduced for Jetty 10.0.x

[2021-08-18 14:52] CrazyCoder80 commented on #6594
@janbartel As recommended by you we are not going ahead with the osgi approach. We are now trying to configure jetty to isolate the webapps.
Thanks you guys for your help and guidance.

[2021-08-18 15:04] sbordet commented on #6603
@prakashnandihal I think we have found the problem.

It should be fixed in this branch: `jetty-9.4.x-6603-max-concurrent-streams-exceeded`.
Are you able to try it out to confirm the fix?

[2021-08-18 16:34] prakashnandihal commented on #6603
@sbordet   yes i will try

After cloning jetty-9.4.x-6603-max-concurrent-streams-exceeded branch,  i hope below steps are correct to test the fix, please confirm
1)go to directory jetty-9.4.x-6603-max-concurrent-streams-exceeded and run mvn clean install
2)use this jetty 9.4.44-SNAPSHOT version in my maven project's pom.xml
3)Build and  Run the application

[2021-08-18 17:08] joakime opened #6641 "FileSessionDistributionTests.stopRestartWebappTestSessionContentSaved fails on Windows"
**Jetty version(s)**
Jetty 10.0.x

**Java version/vendor** `(use: java -version)`
Adopt 11

**OS type/version**
Windows 10

**Description**
FileSessionDistributionTests.stopRestartWebappTestSessionContentSaved does not work on Windows.

**How to reproduce?**

[code]

[2021-08-18 17:11] joakime commented on #6603
@prakashnandihal

These are the commands ...

[code]

Then use 9.4.44-SNAPSHOT in your project.

[2021-08-18 17:29] joakime opened #6642 "WebSocket handling of Connection: upgrade,close."
**Jetty version(s)**
Jetty 10+

**Description**
In Jetty 9.4.x, there was a test for bad client `Connection` headers.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-websocket/websocket-server/src/test/java/org/eclipse/jetty/websocket/server/FirefoxTest.java

This concept needs to be restored in a new testcase on the Jetty WebSocket rewrite.

Two test cases need to be tested and e

[2021-08-18 23:40] lachlan-roberts commented on #6618
Fixed in both 9.4.x branch and 10/11.0.x branches.

[2021-08-18 23:40] #6618 closed, assigned to lachlan-roberts

[2021-08-19 02:19] janbartel commented on #6637
@joakime ok, so then this needs to become a documentation exercise, as I don't see any info on how to exclude mimetypes (including ones that have been added from web.xml) from the GzipHandler.

[2021-08-19 06:24] lachlan-roberts commented on #6617
This can now be configured through the constructor of `OpenIdConfiguration`.

For standalone jetty there is a setting which can be configured in the `openid.ini` file.
You can set
[code]

[2021-08-19 06:24] #6617 closed, assigned to lachlan-roberts

[2021-08-19 11:56] #6624 closed, assigned to nobody

[2021-08-19 15:08] prakashnandihal commented on #6603
@joakime : Thanks for providing info.

@sbordet : Issue is Fixed. I tested fix from jetty-9.4.x-6603-max-concurrent-streams-exceeded branch, i did not see this error "max local stream count exceeded".

When will this fix publicly available ?

When i set High value like 500 or 1000 to maxConnectionsPerDestination, i got below intermittent errors
1)**java.nio.channels.ClosedChannelException**
2)**ja

[2021-08-19 15:18] joakime commented on #6603
This is not recommended.
Create only 1 HttpClient instance, ever.
The only reason to have more than 1 HttpClient is if you simultaneously want to stay on Jetty 9 and support both HTTP/1.1 and HTTP/2 at the same time (then you'll have at most 2 HttpClient instances, one configured for HTTP/1.1 exclusively and one configured for HTTP/2 exclusively).
If you move to Jetty 10, then even this is moot, a

[2021-08-19 15:24] peterlynch commented on #6400
@gregw this is documented as fixed in 9.4.43.v20210629

https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/VERSION.txt#L6

should this issue be Closed then?

[2021-08-19 15:26] joakime commented on #6400
PR #6409 is merged.  Closing.

[2021-08-19 15:26] #6400 closed, assigned to gregw

[2021-08-19 16:23] ssk512 opened #6645 "How Can modify header value in intial request in Request class or HttpChannel in Websocket server - Jetty11"
**Jetty version** :11

**Java version** :11

**Question**
How Can modify header value in intial request in Request class  or HttpChannel in Websocket server

[2021-08-19 16:29] joakime opened #6646 "Deadlock in HTTP2Flusher when using a small thread pool due to incorrect InvocableType"
**Jetty version(s)**
10.0.x HEAD

**Java version/vendor** `(use: java -version)`
11.0.12+7

**OS type/version**
Windows 10

**Description**

[code]

[2021-08-19 16:38] prakashnandihal commented on #6603
@joakime
Let me explain our use case, we have integrated with APNS to send push notification, We can send notifications to any number of ios apps using APNS.
Let say we want to send push notification 5 different Apps using single destination(APNS)  , Every app will have unique credentials .
When we are sending push notifications to all the five app using Jetty http2 library, we have to create 5 in

[2021-08-19 16:43] sbordet commented on #6646
@gregw the dump shows that we have a job to wakeup a blocked write (`SocketChannelEndPoint@5e609c9c`) that is sitting in the job queue and there are no threads to execute it.

There is also a `ReservedThread` submitted as a job that has no threads that execute it, so it is also sitting in the job queue.

There are 5 threads only: 1 reserved, 1 selecting, 1 accepting and 2 blocked in writes.

Looki

[2021-08-19 19:52] joakime commented on #6603
You still don't need multiple `HttpClient` instances for that.

You should be able to use the Request tagging for those 5 applications. (see `Request.tag(Object)`)
Each tag would represent the individual application.
Which will isolate those applications to those specific connections in the `ConnectionPool` with the same tag.

[2021-08-19 20:24] sbordet commented on #6646
@gregw so the `HTTP2Flusher` is a `InvocationType.BLOCKING` callback.

When NIO wakes up from a TCP congested write, it asks the `SocketChannelEndPoint` a task, `runWritable` is returned, which asks to the `WriteFlusher` what `InvocationType` it has a pending write for.

Does not feel right, but seems so across the board (WebSocket, etc.). We need to discuss this.

[2021-08-19 20:56] sbordet commented on #6603
Thanks for the feedback!

With Jetty 9.4.44, the date is not set yet.

All of them seem caused by an underconfigured machine (a machine that is too small or configured too small for the job).

We cannot tell you the max throughput, you have to measure it.
It depends on the size of the requests, the response, the network speed, the OS, the JVM version, and probably a million other things that I can

[2021-08-19 23:43] gregw commented on #6646
I'm moderately confident that this is just a labelling problem.    If we look at HttpOutput then the callback for a write is always non blocking, both for a blocking write (which uses a [Blocker](https://github.com/eclipse/jetty.project/blob/jetty-10.0.6/jetty-util/src/main/java/org/eclipse/jetty/util/SharedBlockingCallback.java#L125)), and for async writes (which uses a[AsyncWriteCB](https://gith

[2021-08-20 01:58] dwoznicki opened #6650 "Can debug logging be enabled at runtime?"
**Jetty version**
9.4.39.v20210325

**Java version**
openjdk version "11.0.11" 2021-04-20

**Question**
I'm encountering a very difficult to reproduce bug with my web server, and I'd like to be able to quickly turn on debug logging when it occurs (and then turn it back off again as the debug log tends to fill up the disk).

I've tried

[code]

but the calls duly warn that `setDebugEnabled not impl

[2021-08-20 02:15] olamy commented on #6650
using jetty logger it's not possible.
Maybe (not tested) if you use slf4j implementations such Log4j(1/2) or logback you can try those implementations specifics to change dynamically logging level.

[2021-08-20 06:36] gregw commented on #6650
The StdErrLog is a JMX MBean, so it should be possible to control logging via JMX... let me test....

[2021-08-20 06:53] gregw commented on #6650
If you run with JMX enable, you can use jconsole to access `org.eclipse.jetty.util.log:type=stderrlog,id=0` and set the `debugEnabled` attribute to true.
There are also java.util.logging mbeans, so you can also direct logging to jul and use their bean for more fine grained control.

[2021-08-20 08:10] sbordet commented on #6650
This is documented here:
https://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html#og-troubleshooting-logging

We appreciate feedback for the documentation, so if you think that section could be improved, let us know.

[2021-08-20 08:12] olamy commented on #6650
oh jmx is so magic :)

[2021-08-20 14:10] joakime commented on #6650
Jetty 10 logging is based on slf4j, and ships with it's own `jetty-slf4j-impl` which is also controllable via JMX at runtime.

[2021-08-20 18:44] dwoznicki commented on #6650
https://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html#og-troubleshooting-logging

Aha, this is precisely what I was looking for (specifically, the "Enabling DEBUG Logging for SubPackages" section looks very promising). Here are some thoughts:

- This exactly addresses my problem, but I didn't know how to find it. This one is probably on me.
- I'm not really familiar with

[2021-08-23 07:11] lachlan-roberts commented on #6642
@joakime what are we supposed to do in the case of `Connection: close, Upgrade`?
Are we supposed to ignore the `close` part and keep the connection open to be used by websocket.

We don't even support this case in 9.4.

[2021-08-23 07:16] lachlan-roberts commented on #6645
I'm assuming this is related to https://github.com/jetty-project/embedded-jetty-websocket-examples/issues/58, and you are trying to work around the fact that the client is sending `Connection: close, Upgrade` header which is closing the underlying connection after it has been upgraded to websocket.

I don't know how to workaround this other than removing the `close` from the header on the client s

[2021-08-23 09:47] sbordet opened #6652 "Improve ReservedThreadExecutor dump"
**Target Jetty version(s)**
9.4.x

**Enhancement Description**
`ReservedThreadExecutor.dump()` can yield un-intuitive output; for example with capacity 1, this may happen:

[code]

which is un-intuitive because there are 3 threads when the capacity is 1.

The state of `ReservedThreadExecutor` is correct because there is only 1 thread that is `RESERVED`.
One is `RUNNING` and the one `PENDING` will

[2021-08-23 15:30] prakashnandihal commented on #6603
@sbordet  Thanks For Your Info.
can you please tell us tentative date for 9.4.44 release?

[2021-08-23 15:48] EricBlanquer opened #6654 "ServerUpgradeRequest.getCookies() can throws NullPointerException"
https://github.com/eclipse/jetty.project/blob/b2c420a124392b3e79a6abf263ec00f51e387409/jetty-websocket/websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/ServerUpgradeRequest.java#L93

Hi,
request.getCookies() can be null and this code can throws a NullPointerException

[2021-08-23 16:32] joakime commented on #6654
Not a bug in Jetty 9.4.x

https://github.com/eclipse/jetty.project/blob/jetty-9.4.43.v20210629/jetty-websocket/websocket-servlet/src/main/java/org/eclipse/jetty/websocket/servlet/ServletUpgradeRequest.java#L99-L117

https://github.com/eclipse/jetty.project/blob/526006ecfa3af7f1a27ef3a288e2bef7ea9dd7e8/jetty-websocket/websocket-servlet/src/main/java/org/eclipse/jetty/websocket/servlet/ServletUpgrad

[2021-08-23 18:43] joakime commented on #6654
Opened PR #6655

[2021-08-23 18:58] sbordet commented on #6603
@prakashnandihal we are still discussing what is the best fix for this issue, so we don't have a date yet.

[2021-08-24 01:53] joakime commented on #6642
I'm not 100% sure what the behavior should be here.

On one hand, it wouldn't be too hard to argue that "close" is only for HTTP layer, once the connection is upgraded, the "close" behavior should no longer take effect.

On the other hand, the transition from HTTP to WebSocket is an HTTP Response with an upgraded connection. (the websocket handshake)

But I believe that's just a side effect of web

[2021-08-24 01:54] joakime commented on #6642
You could argue that `Connection: closed` is also only for controlling HTTP persistence on HTTP/1.1, which an upgraded connection doesn't participate in anyway.

[2021-08-24 02:30] dwoznicki commented on #6650
Okay, I think I've found a solution to my problem.

I attempted to change the log level using the JMX solution above, which required by to download and install the latest [`jetty-slf4j-impl`](https://mvnrepository.com/artifact/org.eclipse.jetty/jetty-slf4j-impl) JAR file. However, my project uses logback as the logging provider, so of course it didn't work because slf4j doesn't accept two logging

[2021-08-24 02:30] #6650 closed, assigned to nobody

[2021-08-24 06:45] martinmeeser commented on #6601
The problem is that in jetty 10 beta websocket-core-server was usable standalone.
In 11 that is not possible anymore.
The classes for deflating are present. The got loaded at runtime.
`new WebSocketUpgradeHandler(components);` takes care of everything.

But no program is able to create an instance. The java module system will prevent it.

The exception is exactly at:
`DecoratedObjectFactory` l87

[2021-08-24 06:48] martinmeeser commented on #6601
Sidenote:
my gradle looks like this
[code]

[2021-08-24 09:08] zjffdu commented on #6592
@joakime I update the `web.xml`, but still doesn't work.  Here's error I can see

[code]

[2021-08-24 09:35] martinmeeser commented on #6601
So I looked at the "official" example by joakime [here](https://github.com/jetty-project/embedded-jetty-websocket-examples/blob/11.0.x/native-jetty-websocket-example/src/main/java/org/eclipse/jetty/demo/EventServer.java).

I do not want to add all the boilerplate servlet context but just get it working...

Updated gradle to:
[code]

Upgraded server configuration to:
[code]

The example is still no

[2021-08-24 10:16] joakime commented on #6592
@zjffdu did you address the other things in comment https://github.com/eclipse/jetty.project/issues/6592#issuecomment-897877018 ?

As that stacktrace tells me you haven't.

The stacktrace tells me you are still using `.setForcedPath("rest")`, that's not what that method is for, that method exists solely for JSP definitions from the `WEB-INF/web.xml` `<jsp-file>` definition.

[code]

https://github

[2021-08-24 11:39] lachlan-roberts commented on #6601
@martinmeeser I have been able to reproduce this. I'm currently working on a fix and to find out why this hasn't shown up in our current testing.

[2021-08-24 14:25] martinmeeser commented on #6601
AFAIK  if you are using classpath only without module-path these examples will work.I remember JUnit Jupiter always uses classpath to make testing possible.

??

however I am not 100% about that and with a quick search I did not find any reference.

[2021-08-24 14:40] joakime commented on #6609
Including text from discovery.

This code (in `private void start(BiConsumer<SslContextFactory.Server, SecureRequestCustomizer> config) throws Exception` of `SniSslConnectionFactoryTest`) would make things work in Windows.

[code]

[2021-08-24 16:22] joakime opened #6660 "Investigate why Windows returns ClosedChannelException in Http2Client instead of ConnectException"
**Jetty version(s)**
Jetty 10.0.x

**Java version/vendor** `(use: java -version)`
Java 11.0.12

**OS type/version**
Windows 10

**Description**

When an attempt is made to connect to a remote that isn't listening, Windows will return a `ClosedChannelException` instead of the expected `ConnectException`.

This is the following stacktrace seen in `WebSocketOverHTTP2Test.testWebSocketConnectPortDoesN

[2021-08-24 21:01] joakime opened #6661 "Some SocketOptions not supported on Windows"
**Jetty version(s)**
10.0.x

**Java version/vendor** `(use: java -version)`
11.0.12

**OS type/version**
Windows 10

**Description**

The recent work on Issue #6372 is not compatible with Windows 10.

[code]

[2021-08-24 21:19] joakime commented on #6661
Opened PR #6663

[2021-08-25 03:55] #6553 closed, assigned to lachlan-roberts

[2021-08-25 05:04] alex73 opened #6664 "ServerConnector.setPort doesn't exist"
**Jetty version(s)**
Jetty 10

**Description**
From https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html :

// The clear-text connector.
ServerConnector connector = new ServerConnector(server, new HttpConnectionFactory(httpConfig));
connector.setPort(8080);

[2021-08-25 07:17] olamy commented on #6664
Did you try to compile the code?
Look at the javadoc here https://www.eclipse.org/jetty/javadoc/jetty-10/org/eclipse/jetty/server/ServerConnector.html
It's an inherited method from `AbstractNetworkConnector` https://www.eclipse.org/jetty/javadoc/jetty-10/org/eclipse/jetty/server/AbstractNetworkConnector.html

[2021-08-25 08:14] alex73 commented on #6664
I was not able to compile some hours ago, but it works now. Sorry, probably it was wrong import. Fixed

[2021-08-25 08:14] #6664 closed, assigned to nobody

[2021-08-25 08:18] #6652 closed, assigned to nobody

[2021-08-25 11:03] #6661 closed, assigned to joakime

[2021-08-25 11:27] joakime commented on #6660
I just noticed a test failure on `ConnectorTimeoutTest` that seems to overlap with this issue.

[code]

[2021-08-25 18:48] #6654 closed, assigned to joakime

[2021-08-25 23:28] #6646 closed, assigned to nobody

[2021-08-26 03:16] lachlan-roberts commented on #6217
@lorban do you want to look into this one? This one seems to fail a lot on CI.
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-6569/8/tests/

[2021-08-26 08:47] ChristianGruen opened #6667 "Duplicate charset declaration in <meta http-equiv="Content-Type"/>"
**Jetty version(s)**

9.4.43.v20210629

**Java version/vendor** `(use: java -version)`

openjdk version "1.8.0_302"

**OS type/version**

Windows 10 Home 19043.1165 (latest)

**Description**

If the following HTML snippet…

[code]

…is sent to a Jetty output stream (which seems to be an HttpOutput instance), an additional `charset` property seems to be added. This is what the client receives:

[co

[2021-08-26 11:32] joakime commented on #6667
Jetty doesn't get involved in mutating output content.

Looking at the basex code, the response header manipulation makes a few assumptions about behavior that seemed fishy, but we have specific testcases for those behaviors already.

Example seen in `basex-api/src/main/java/org/basex/http/HTTPConnection.java` - (set charsetencoding, then set content-type with charset too):

[code]

This works as

[2021-08-26 11:49] ChristianGruen commented on #6667
Thanks a lot, Joakim, for taking your time. Your hint that Jetty doesn’t change the content was very helpful.
The issue will be further investigated and resolved in BaseX.

[2021-08-26 11:49] #6667 closed, assigned to nobody

[2021-08-26 14:45] sbordet opened #6669 "Move usage count out of `Pool`"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
`Pool.Entry`'s usage count should be moved out of `Pool`, since a similar feature, usage expiration, has already been implemented out of `Pool` in 0dec883fdad0951b212545ce76deda748c0c4957.

[2021-08-26 15:00] sbordet opened #6670 "Support decrement of max_concurrent_streams"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
Currently, if a server advertises that it supports 100 concurrent streams, then a client is entitled to open that many.

If the server decrements `max_concurrent_stream` to e.g. 5, while the client is busy sending requests, there is a natural race where the client still thinks it is allowed to send 100 concurrent streams.

So e.g. 15

[2021-08-26 15:05] sbordet commented on #6670
Frankly, I think the current implementation is enough.

Fail the streams locally, or fail them because the server refused them is a failure anyway for the client, so fail early seems more efficient to me.

Trying to queue the extra concurrent streams seems like a lot of work for a very unlikely use case -- a server advertising "send me 100 concurrent request", but then changing its mind to "oops n

[2021-08-27 01:26] janbartel commented on #6626
I haven't seen this problem again on the CI system. I think it was some kind of hiccup in CI. I'm going to close this issue for now, but will re-open if it occurs again.

[2021-08-27 01:26] #6626 closed, assigned to olamy, janbartel

[2021-08-27 01:40] lachlan-roberts commented on #6645
@ssk512 we are working on this for issue #6642 and have a PR up to fix this in Jetty-10/11 (see #6657).

[2021-08-27 02:09] janbartel opened #6671 "Update to apache jsp 8.5.70"

[2021-08-27 02:26] janbartel commented on #6671
CQ23670 raised.

[2021-08-27 05:15] ssk512 commented on #6645
@lachlan-roberts  Thanks for update, please let me know once it ready

[2021-08-27 07:01] gregw commented on #6670
I don't think this is a high priority, but I think it is possible that we will eventually encounter a h2 impl that does decrement the max streams.

I think the solution is possible, as we just need to make sure that once we have checked that the creation of a stream is OK against the current max, then we don't send the ack for any subsequent settings frame until all the approved streams header fra

[2021-08-28 02:07] janbartel opened #6677 "Update to apache jasper 9.0.52"
Update jetty-10.0.x to jasper 9.0.52 - supports jdk17 for jsp compilation and a couple of bugfixes.

[2021-08-28 02:28] janbartel commented on #6677
Raised CQ 23672

[2021-08-28 12:50] boughtonp opened #6678 "Proxy module is not usable out of the box - loop causes 502 error"
**Jetty version(s)** 9.4.x (including 9.4.43)

**Java version/vendor** `OpenJDK 11, OpenJDK 8, Oracle 8

**OS type/version** Debian GNU/Linux 10

**Description** Trying to use Jetty as reverse proxy via ProxyServlet results in 502 error (even for unrelated webapps).

Per Simone:

**How to reproduce?**
Enable the proxy module using --add-to-start
Example script at https://www.eclipse.org/lists/jett

[2021-08-28 16:47] boughtonp commented on #6678
My use case is attempting to serve static files whilst proxying all other requests (for a single context) to another server.

The aim is to use TryFilesFilter to serve static files with Default
servlet then have all other URLs proxied to a non-Jetty backend server
over HTTP. (It doesn't currently support FastCGI or I'd use that.)

So yeah, no need for balancing, content transforming, etc - just ne

[2021-08-30 02:07] janbartel opened #6679 "Update to Apache Jasper 10.0.10"
jetty-11.0.x

[2021-08-30 02:21] janbartel commented on #6679
Raised CQ 23673

[2021-08-30 02:25] janbartel commented on #6671
Closed via pr #6676

[2021-08-30 02:25] #6671 closed, assigned to janbartel

[2021-08-30 09:44] prakashnandihal commented on #6603
@sbordet : We have to release fix for this bug to production Pod, Please notify us the once the release date of 9.4.44 is finalized. so that We will plan release of this fix to production pod.

[2021-08-30 12:46] lorban commented on #6217
There seems to be a race condition between the calls to `HttpChannelOverFCGI.eof()` and `HttpChannelOverFCGI.failAllContent()`. The former should always be called first but it seems that in rare occurrences it is called second.

This has a side-effect that the `Connection: close` header is added to the response, so the connection is removed from the pool, which eventually triggers the assertion er

[2021-08-30 14:31] sbordet opened #6683 "Introduce non-multiplexed pool"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
Class `Pool` was introduced to improve the performance of `HttpClient`'s connection pools.
As such, it was implemented with multiplexing built-in.

However, it is now being reused in other cases (e.g. deflater/inflater pools, and possibly for `ByteBuffer` pools) where multiplexing makes no sense.

The idea is to split the functionalit

[2021-08-30 23:28] gregw commented on #6683
The multiplexing methods on `Pool` have been deprecated, thus I think that it will be OK to make the util `Pool` class into a mono class.

Are there any other uses of MultiPool other than the connection pool?   If not, then I suggest that we just reimplement the Pool algorithm directly in the AbstractConnectionPool class rather than try to make a generic multi pool with only 1 examplar usage.

[2021-08-30 23:55] gregw opened #6685 "Jetty Releases 9.3.30"
**Jetty Versions:**
This release process will produce releases: 9.3.30 to update several CVEs

**Target Date:**

2021-09-07

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issu

[2021-08-31 00:02] gregw commented on #6072
Need to backport to 9.3

[2021-08-31 00:03] gregw commented on #6263
back port to 9.3

[2021-08-31 00:05] gregw commented on #6277
backport to 9.3

[2021-08-31 00:34] lachlan-roberts commented on #6566
By using the websocket-core demand API in the `MessageSink`s we have reduced the copying for WebSocket whole binary messages. See PR #6635.

@nezoat if you can try out the current 11.0.x branch to see if that resolves your issue then that would be great. Otherwise you could wait to try it out when 10.0.7/11.0.7 are released.

[2021-08-31 04:25] #6642 closed, assigned to lachlan-roberts

[2021-08-31 04:53] lachlan-roberts commented on #6645
This has been fixed in the current `10.0.x`/`11.0.x` branches and will be available in the next releases `10.0.7`/`11.0.7`.

[2021-08-31 04:53] #6645 closed, assigned to lachlan-roberts

[2021-08-31 07:49] #6605 closed, assigned to lorban

[2021-08-31 08:51] lorban commented on #6217
This race condition is intrinsic to the way FCGI currently is implemented. There needs to be adjustments such as the parser doesn't run concurrently with the dispatched servlet thread anymore.

[2021-08-31 11:00] EricBlanquer commented on #5989
After an upgrade with Jetty 10.0.6, this issue still occurs :(

[2021-08-31 11:30] gregw commented on #5989
@EricBlanquer I had a quick look at your code and I can't see anything wrong in that simplified version, although it doesn't look particularly async.  My understanding is that the ClusterHttp class is invoked b the servlet, it starts the async, but then starts a context managed thread to call the proxy method.   This thread then uses the client in a blocking mode to send a request and wait for a r

[2021-08-31 12:42] catap commented on #232
@sbordet how does it possible to customise such value via `ProtocolHandlers` api?

[2021-09-01 08:27] #6603 closed, assigned to nobody

[2021-09-01 10:26] joakime opened #6687 "Upgrade Infinispan in all active Jetty branches"
**Jetty version(s)**
9.4.x, 10.0.x, and 11.0.x

**Description**

Our usage of infinispan is getting long in the tooth.

We have Infinispan `9.4.8.Final` in all of our branches.
Which uses Hibernate `5.10.3.Final`

Infinispan version 9.4.8.Final is subject to CVE-2019-10158, and [CVE-2019-10174](https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2019-10174).

Infinispan version 12.1.7.Final has been r

[2021-09-01 10:32] joakime commented on #6687
Also, about our Hibernate version, all version of Hibernate up to version `5.4.23.Final` have multiple vulnerabilities.
Fixed in Hibernate version `6.0.18.Final` and `6.1.0.Final`

Our hibernate usage is tied to our infinispan usage, so upgrading infinispan to version might not be sufficient.

Eg: Infinispan `12.1.7.Final` is using Hibernate `6.0.2.Final`, so we'll need to manually upgrade hiberna

[2021-09-01 10:58] olamy commented on #6687
see some work started here https://github.com/eclipse/jetty.project/pull/6057
maybe we can close https://github.com/eclipse/jetty.project/issues/5711

[2021-09-01 15:26] boughtonp commented on #6678
I've been experimenting with using BalancerServlet with a single member as a workaround, and found a minor bug.

If there are no members defined it gives a divide by zero error. (I expected something along the lines of "no balancer members defined").
Adding a member via setInitParameter balancerMember.a.proxyTo and it then starts proxying.

However, there is also a more significant issue:
Given a

[2021-09-01 21:50] olamy commented on #5711
see #6687

[2021-09-01 21:50] #5711 closed, assigned to olamy, janbartel

[2021-09-02 00:05] janbartel commented on #6677
CQ approved

[2021-09-02 00:06] janbartel commented on #6679
CQ approved

[2021-09-02 00:14] janbartel commented on #6641
I think you've fixed this  with the commit for #5684 because I see this annotation on the test:

`@DisabledOnOs(value = OS.WINDOWS, disabledReason = "File always locked between stop/start")`

[2021-09-02 00:14] #6641 closed, assigned to nobody

[2021-09-02 00:17] janbartel commented on #6687
I think this might potentially be difficult: there's a chance that infinispan has changed to use their own threads for reads and maybe not allow a classloader to be set on them ... see my last comment on #6057

[2021-09-02 00:31] lachlan-roberts commented on #6601
@martinmeeser this has been fixed by PR #6680, we now export the websocket-core-common module to jetty-util for the `DecoratedObjectFactory`. If you want you can run with the current `10.0.x`/`11.0.x` branches to test  the fix.

[2021-09-02 02:33] lachlan-roberts commented on #3709
I think we can leave 9.4.x websocket sub-protocol validation as is.
For more thorough validation you can upgrade to 10/11.

[2021-09-02 02:33] #3709 closed

[2021-09-02 02:42] lachlan-roberts commented on #1826
I think we can close this one.

We now have the `ssl-reload` module which will hot reload the keystore if any changes to the file are detected. This can be used with a certbot post-hook script to generate the keystore file and switch out with the one used by Jetty which will be automatically detected and switched without needing to restart the server.

[2021-09-02 02:42] #1826 closed

[2021-09-02 02:55] lachlan-roberts commented on #6437
Closing as no info available on the failure and cannot reproduce.
Will re-open issue if the failure occurs again.

[2021-09-02 02:55] #6437 closed, assigned to lachlan-roberts

[2021-09-02 02:59] lachlan-roberts commented on #6100
@joakime do you know if this can be closed after the #6581 PR?

[2021-09-02 03:01] lachlan-roberts commented on #6100
Looks like the windows run on jetty-10.0.x seems to be passing on jenkins.
https://jenkins.webtide.net/job/nightlies/job/jetty-10.0.x-windows-nightly/

Although there is some failures for jdk-17
https://jenkins.webtide.net/job/nightlies/job/jetty-10.0.x-windows-nightly-jdk17/

[2021-09-02 14:18] sbordet opened #6693 "FastCGI review"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
In Jetty 10, FastCGI has been minimally updated to drop the support for multiplexing (#2095), as the protocol itself does not support it right, and in practice this feature is never used.

However, a lot of code that was handling multiplexing was left there.
The client is more inefficient and the server produces race conditions such a

[2021-09-02 14:18] sbordet commented on #6217
Closed in favor of #6693.

[2021-09-02 14:18] #6217 closed, assigned to sbordet

[2021-09-02 17:03] openconcerto commented on #1826
Humm... so you are stating that a post-hook has to create a keystore?

Why not, but it will expose the keystore password in the post-hook script.

Ouch.

[2021-09-02 19:19] sbordet commented on #1826
That is exposed anyway because it's necessary to create a KeyStore.
And it is in a file owned by a super-user.

Your example code in the first comment will have to be invoked with an exposed password, or it should generate a password that needs to be exposed to Jetty in `ssl.ini`.

I don't see a way around?

[2021-09-02 19:47] openconcerto commented on #1826
Sure, but it's a bit more "hidden" in a jar file if its generated.

I will look at how the "ssl-reload" works to use it to monitor the files and reload the keystore from PEMs.

But I'm still a bit perplexed to see how a standard thing like loading a pem file (as other webserver do) with a so short code addition, is not included (a bit like JSON in the JRE...).

[2021-09-02 20:53] sbordet commented on #1826
Because:
* it's not standard in Java (neither to load a PEM, nor to run the Java process with enough permissions to read the private key PEM);
* the code is not so short when you want to make it generic;
* it's way more complicated when you want to support multiple domains with different private keys;
* you still need an external post-hook script to reload the Jetty configuration when the PEMs are

[2021-09-03 00:16] #6554 closed, assigned to lachlan-roberts

[2021-09-03 08:48] sbordet commented on #6017
The problem is present in 9.4.x too, and it's due to the presence of an `[ini]` section.

[2021-09-03 09:14] karthickm512 opened #6695 "Frame size error while using Http/2 in Jetty 9.4.40"
**Jetty version(s)**
9.4.40

**Java version/vendor** `(use: java -version)`
Java 1.11

**OS type/version**
SUSE Linux 15

**Description**
We use Jetty for Http/2 handling in 2 environments with different versions.
Http/2 traffic towards Jetty 9.3.21 works fine. Here the frame size was set to 8 Mb.
Http/2 traffic towards 9.4.40 fails with Frame_size_error . I have tried changing the frame size to 8

[2021-09-03 09:37] sbordet commented on #6695
There is a `DATA` frame with length 21543 which is beyond the default frame size of 16 KiB.

What client are you using?

[2021-09-03 12:23] karthickm512 commented on #6695
I am using Synopsys Defensics. I will check with them on how to reduce the DATA frame size, however I am wondering how the same requests (of equal DATA length) was successful on old Jetty versions. Do you know of any fixes/improvements done on this part at Jetty in 9.4.x ?

[2021-09-03 12:56] joakime commented on #6695
The HTTP/2 Frame max size default is 16,384 bytes (0x4000) - this is per spec - https://datatracker.ietf.org/doc/html/rfc7540#section-4.1
It's been that way since Jetty 9.3.0.M0.

See: https://github.com/eclipse/jetty.project/blame/jetty-10.0.x/jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/frames/Frame.java#L19

We were actually out of HTTP/2 spec compliance on a few new max lengt

[2021-09-03 13:38] sbordet commented on #6695
@karthickm512 we need the server-side DEBUG logs to understand what's going on.

[2021-09-03 13:58] karthickm512 commented on #6695
Hi @sbordet , I now reduced the payload size to 13kb and it worked successfully. But the problem is, real time traffic will be in Mega Bytes. The logs are what I attached earlier, showing the DATA frame size.

[2021-09-03 14:03] sbordet commented on #6695
@karthickm512 the Jetty logs you posted are just 2 lines.
We need the whole communication between the client and the server.

I think it's a client problem. Jetty has no problem handling any size of uploads with HTTP/2 compliant clients such as browsers and other libraries.
I would reach out to Synopsys Defensics.

Do you have the same problem if you use a different client?

[2021-09-05 02:46] SerCeMan opened #6696 "High WebSocket memory usage in Jetty 10"
**Jetty version(s)**

`10.0.6`

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version**

Mac/Ubuntu

**Description**

Hi, Jetty maintainers!

I got back to trying to reproduce https://github.com/eclipse/jetty.project/issues/6328. While I wasn't able to reproduce the referenced issue yet, I seem to have found the main issue that we experienced with the upgrade to Jetty 10, which

[2021-09-05 14:50] joakime commented on #6696
I'm a bit confused.
You state the issue is in version `10.0.6`, but then reference the work in issue #6328.

Are you using 10.0.6 (public release)? or 10.0.7-SNAPSHOT (from snapshots repo)? or are you building and testing the `jetty-10.0.x` branch HEAD?

[2021-09-05 15:09] afarber opened #6697 "jetty 10 demo-simple example not working on macOS BigSur 11.5.2"
**Jetty version(s)**

10.0.6

**Java version/vendor** `(use: java -version)`

11.0.12

**OS type/version**

macOS BigSur 11.5.2

**Description**

When trying to follow:
https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-begin-deploy-war
the commands below do not start anything listening at port 8080 and the URL http://localhost:8080/demo-simple does not show anythi

[2021-09-05 15:29] joakime commented on #6697
You forgot to add a connector.
Your startup shows no ServerConnector available.

Try adding `--module=http` to your startup command line to test that in a temporary/non-permanent sense.

[2021-09-05 16:02] afarber commented on #6697
Yes, Joakim, then it works:

[code]

However it seems to me, that the doc could be improved there.

[2021-09-05 20:57] joakime commented on #6697
I agree.  Changing this issue to a documentation task.

[2021-09-06 00:26] SerCeMan commented on #6696
Hi, @joakime! As far as I can tell, the issue affects all versions on the `10.x` branch, the reproducer is built on the latest stable `10.x` release, `10.0.6`, [build.gradle#L17-L22](https://github.com/SerCeMan/jetty10-memory-test/blob/670730027d2c913f61705994810cc44d713d13d1/jetty10/build.gradle#L17-L22).

[2021-09-06 06:11] jschwartzenberg commented on #6483
Maybe you could help getting a newer version version of the fork packages for distributions you use? :) At least a PPA/COPR with newer cntlm packages would be nice. A next step would be seeing if something could be submitted to Debian/Fedora (to get it in turn into Ubuntu/RHEL).

[2021-09-06 07:07] sbordet commented on #6697
Although it is written in the documentation in the previous section, about 10 lines above the section you reference in your first comment.

[2021-09-06 07:46] lachlan-roberts commented on #6696
Interestingly enough the test at https://github.com/SerCeMan/jetty10-memory-test fails on `10.0.6` but not on the latest `10.0.x` branch. It now appears to perform the same as 9.4 in this test. This may be due to the improvements from PR #6635.

Either way we can cleanup the `WebSocketNegotiation` to not store the original `Request` object after the upgrade.

[2021-09-06 12:05] prateekkohli2112 opened #6699 "Late timeouts for requests in Jetty Client"
We have implemented a Jetty Client that sends synchronous requests to 30 servers over HTTP2. We have configured a request timeout of 3seconds with each server.

Incidentally, all 30 servers have stopped receiving requests due to a network failure. In such a case, most of the requests are timedout within 3seconds and we get a callback for it.
But in some cases we see that the callback is delayed by

[2021-09-06 13:05] afarber commented on #6697
Ah, now I see that it is meant as step-by-step guide, until demo-simple.

My impression (me being perfect "idiot tester") was that it were different independent sections.

[2021-09-06 15:30] sbordet commented on #6699
Could be, but unlikely.
You did not provide any evidence of these 5 or 7 seconds, so we cannot tell what could be.

[2021-09-06 16:15] sbordet commented on #6697
Well, now that I look at it, there already is an admonition (NOTE) in the deploy section that specifies that you need to also enable a protocol module, just after the `java -jar $JETTY_HOME/start.jar --add-module=deploy` line.

I don't think there is more to add documentation wise, as it is all there already.

[2021-09-06 16:15] #6697 closed, assigned to sbordet

[2021-09-06 20:43] martinmeeser commented on #6601
Thank you very much.
Not sure if I already can pull it with gradle, I will give it a try in the next 2-3 weeks. (sorry I can not return to the topic earlier)

[2021-09-07 07:57] #6693 closed, assigned to sbordet

[2021-09-07 08:57] ginccc opened #6701 "Jetty Client EOF Exception on server to server communication"
**Jetty version(s)**
9.4.42.v20210604

**Java version/vendor** `(use: java -version)`
11

**OS type/version**
linux

**Description**
On our production servers we sometimes experience an EOFException. It is the jetty client consuming an api. Usually it works fine, but sometimes it throws this exception below.. I haven't been able to reproduce, but it keeps happening..

I thought I reach out to see

[2021-09-07 12:38] sbordet commented on #6701
The call to `HttpReceiverOverHTTP.shutdown()` in the stack trace means that the other end closed the connection prematurely.

You should look at the other side and see why it closed the connection.

[2021-09-08 13:55] sbordet opened #6728 "QUIC and HTTP/3"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
This is the umbrella issue for the implementation of QUIC and HTTP/3.

QUIC: [RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000)
HTTP/3: https://datatracker.ietf.org/doc/html/draft-ietf-quic-http

[2021-09-08 14:31] sbordet opened #6729 "HTTP3: support discovery"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
Related to #6728.

The client may be made aware of the mechanisms with which a server advertises HTTP/3 support, as described [here](https://datatracker.ietf.org/doc/html/draft-ietf-quic-http#section-3.1).

However, applications may also e.g. parse the `Alt-Svc` header defined by [RFC 7838](https://datatracker.ietf.org/doc/html/rfc783

[2021-09-08 14:37] sbordet opened #6730 "HTTP3: update Quiche to 0.9.0"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
Related to #6728.

Branch `jetty-10.0.x-quic-http3`: Quiche needs to be updated to 0.9.0.

[2021-09-08 15:16] sbordet opened #6731 "HTTP3: Qpack and Http3Fields"
**Target Jetty version(s)**
10.0.x

**Enhancement Description**
Class `Http3Fields` seems to be used only by the encoder to do a job that in HTTP/2 was done by the encoder.
Note how `Http3Fields` has similar fields to `HpackEncoder`.
Is `Http3Fields` needed?

[2021-09-08 15:16] sbordet commented on #6731
@lachlan-roberts please work on branch `jetty-10.0.x-quic-http3`.

[2021-09-08 16:53] sreedharj commented on #5792
We are also getting similar issue  when posting concurrent 100mb files,, with http only.

@joakime   on this statement  "**NIO select should never wake up with none selected**." , I have few questions.    When  wakup() method is called on Selector,    will make the  select() method to return  even no keys are selected.     So, if we look  at the ManagedSelector.java code,  in the submit method,  i

[2021-09-08 22:24] gregw commented on #5792
All I think there could be a number of different issues reported here, all with different causes but similar symptoms.

@sreedharj indeed wakeup can be called on a selector to wake it up with zero keys, but we will not do that spontaneously and almost never in a server situation.

@nikhilbansal064 can you describe what you mean by sending content in 5MB chunks?   Is it you are sending a chunk of d

[2021-09-09 01:15] janbartel opened #6735 "infinispan-embedded-query and infinispan-remote-query modules broken"
Broken in jetty-10 and jetty-11 branches.

[2021-09-09 02:07] #6677 closed, assigned to janbartel

[2021-09-09 02:49] prenagha opened #6752 "DefaultSessionCache more extensible using ConcurrentMap"
**Target Jetty version(s)**
10.x
11.x

**Enhancement Description**
DefaultSessionCache is designed to be extended, by virtue of its protected session map. Subclasses can set their own map instance instead. However the session map is specified as ConcurrentHashMap, when it only needs to be ConcurrentMap.
Changed data type to ConcurrentMap to allow for wider options for subclasses, such as those wan

[2021-09-09 02:57] prenagha commented on #6752
PR coming shortly

[2021-09-09 03:07] lachlan-roberts commented on #6696
Closing as this seems to be fixed in `10.0.x` and PR #6698 has been merged to remove the reference to the original `Request` object.

[2021-09-09 03:07] #6696 closed, assigned to lachlan-roberts

[2021-09-09 03:35] sreedharj commented on #5792
@gregw  Thanks for the response.  Here Server is calling wakup() call on the selector for every read call on the stream, almost every 1 millisecond.  please see the below stacktrace for the wakeup ().   Every time read call is made on the inputstream from the servlet, wakeup() method is called on the selector.

at java.lang.Thread.dumpStack(Thread.java:462)
 	at com.sterlingcommerce.perimeter.api.

[2021-09-09 04:11] gregw commented on #5792
@sreedharj that is not necessarily an issue.
Can you show us the full stack trace?  What is calling read?  If it is from a container dispatched thread then it will often be the case that submit does not need to call wakeup.

Calling wakeup can be normal, so the wakeup with zero keys is only a debug and @joakime perhaps over stated it when he said it should never happen.  We try to minimize it in n

[2021-09-09 04:19] lachlan-roberts commented on #6731
@sbordet the reason I separated the logic from the Encoder is because it really has nothing to do with QPACK.

QPACK is just specifying how the headers are encoded not what pseudo headers must be generated, the QPACK specification has no mention of pseudo-headers. The logic in this class may be actually be incorrect for HTTP/3 as I have not checked if there is a difference from HTTP/2.

Maybe ther

[2021-09-09 06:00] sreedharj commented on #5792
here is the entire stacktrace.
 java.lang.Throwable

 	at java.lang.Thread.dumpStack(Thread.java:462)
 	at com.sterlingcommerce.perimeter.api.nio.PsSelector.wakeup(PsSelector.java:248)
 	at org.eclipse.jetty.io.ManagedSelector.submit(ManagedSelector.java:305)
 	at org.eclipse.jetty.io.ManagedSelector.submit(ManagedSelector.java:280)
 	at org.eclipse.jetty.io.ChannelEndPoint.changeInterests(Channel

[2021-09-09 06:00] prateekkohli2112 commented on #6699
We are on Jetty version 9.4.31 and we are facing delayed timeouts.

So can our issue be related to https://github.com/eclipse/jetty.project/issues/6323

[2021-09-09 06:27] gregw commented on #5792
If you are handling 100,000 requests per second, then every ms is not that frequent.  Besides, it is not a problem, it is by design.        If you have a problem with early eof, it is almost certainly nothing to do with this.

[2021-09-09 06:28] gregw commented on #5792
oh but thanks for the full stack trace.  I will look to see if we can wakeup less frequently, but again, that is not a problem.

[2021-09-09 06:54] sreedharj commented on #5792
Thanks @gregw  not sure this frequent wakup() calls are the reason for early EOF exception or not.  Will share the logs soon, on a separate ticket.   But as such  I feel, there is a flaw on the current design.  From the Server read call ( from Servlet ), wakup call is made,  which triggers the select method to return immediately, again one more thread calls select method,

[2021-09-09 12:02] joakime commented on #6699
Upgrade to 9.4.43.v20210629 and try again please.

Reasons:

1. Version 9.4.31 is subject to several security vulnerabilities. (see https://www.eclipse.org/jetty/security_reports.php)
2. Version 9.4.31 is old, and is 14 minor versions behind current. (keep in mind Jetty versioning since 1995 is `<ee_support_level>.<major_version>.<minor_version>`)  - you are not merely 14 point releases out, you a

[2021-09-09 12:20] joakime opened #6756 "Deprecate `/jetty-spring/` artifact in `jetty-9.4.x` releases."
**Jetty version(s)**
9.4.x

**Java version/vendor** `(use: java -version)`
All

**Description**
The `/jetty-spring/` artifact in `jetty-10.0.x` has already been dropped.

But the `/jetty-spring/` artifact on `jetty-9.4.x` is still using Spring 3.2.8.RELEASE (which was declared EOL in [Dec 2016](https://github.com/spring-projects/spring-framework/wiki/Spring-Framework-Versions#supported-versions))

[2021-09-09 12:23] joakime commented on #6756
Also of note, Spring 3.2.x has a supported JDK version range of 1.4 thru 1.7. (it does not support JDK 8 or JDK 11, and is known to not work on JDK 11 properly)
We should have dropped `/jetty-spring/` back when Jetty 9.x was started.

[2021-09-09 13:32] sreedharj opened #6759 "Getting org.eclipse.jetty.io.EofException: Early EOF after ~90mb files while using SterlingCommerce"
**Jetty version(s)**   9.4.40

**Java version/vendor** `(use: java -version)`

**OS type/version**

**Description**
When sending  100mb files concurrently  to Jetty Server,, transfer is failing.  With out debug mode 2 concurrent requests are failing.  There are no errors/exceptions logged . With the jetty debug mode,  Early EOF exceptions are seen .  when sending 20 concurrent large files.
[163119

[2021-09-09 14:03] sreedharj commented on #6759
[jetty.log.D20210909.zip](https://github.com/eclipse/jetty.project/files/7137124/jetty.log.D20210909.zip)
[jetty.log.D20210909 (2).zip](https://github.com/eclipse/jetty.project/files/7137147/jetty.log.D20210909.2.zip)
[jetty.log.D20210909 (3).zip](https://github.com/eclipse/jetty.project/files/7137150/jetty.log.D20210909.3.zip)
[jetty.log.D20210909 (4).zip](https://github.com/eclipse/jetty.project

[2021-09-09 14:04] sreedharj commented on #5792
@gregw  have created new issue https://github.com/eclipse/jetty.project/issues/6759  and attached the logs.

[2021-09-09 21:38] sbordet commented on #6759
The only exceptions present in your logs are:

[code]

It is very unlikely that `NotYetConnectedException` is thrown for a `SocketChannel` that obviously _was_ connected, because Jetty was able to read a request from it.

Since it is the code at `com.sterlingcommerce.perimeter.api.nio.PsSocketChannel` throwing this weird exception, I would ask/check there -- I don't think this is a Jetty issue at

[2021-09-09 22:39] gregw commented on #5792
@sreedharj I don't believe the wakeup is a design flaw.    If the selector is selecting and a read does not produce any data, then the selector needs to be woken up so that new interest set can be used for the selection.   But the wakeup will not occur if:
 - there was data already available to read
 - the server was busy, so that a selecting thread had not yet arrived to do the select after the p

[2021-09-09 22:45] gregw commented on #5792
I think this issue has got a bit mixed up, so I'm going to close it.
@nikhilbansal064 I believe there is a good chance that your earlyEOF problem is due to some timeout in the client or intermediaries that comes into play as content reaches 50-60MB in size, but it may be a jetty problem.     Eitherway, to debug we need more information, specifically tcpdump and/or jetty debugging traces that show

[2021-09-09 22:45] #5792 closed, assigned to joakime

[2021-09-09 23:03] gregw commented on #6759
I had a look at your trace.   Am I correct in saying that 59113 is the server and 47610 is the client?

Either way, I can see a lot of chunked data being sent from 47610 to 59113 in 2048 byte chunks (you see a 800 on its own line in the data at regular intervals).

There is no terminal chunk of 0 bytes sent, just a final chunk of 800.    So firstly this is a 1 in 2048 chance that the content was e

[2021-09-10 00:08] #6752 closed, assigned to nobody

[2021-09-10 00:12] #6735 closed, assigned to janbartel

[2021-09-10 05:32] lachlan-roberts opened #6767 "Create new module jetty-nested to allow nested server inside Jetty."
Create new module jetty-nested to allow nested server inside Jetty.

This module could be used to nest jetty-11 inside of jetty-10 to allow use of both javax and jakarta servlets in the same server.

[2021-09-10 19:14] thanhvg opened #6769 "jetty websocket 10/11 server throws ClosedChannelException on closing connection for Firefox client"
**Jetty version(s)**
10.0.6 and 11.0.6

**Java version/vendor** `(use: java -version)`
openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (build 11.0.11+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (build 11.0.11+9, mixed mode)

**OS type/version**
Ubuntu 18.04.1

**Description**
A websocket client running on Firefox connects to a Jetty websocket server. When the s

[2021-09-10 23:41] janbartel opened #6770 "Bulk update of osgi testing dependencies"
Update to:

org.eclipse.platform:org.eclipse.osgi:3.16.300
org.eclipse.platform:org.eclipse.osgi.services:3.10.100
org.eclipse.platform:org.eclipse.osgi.util:3.6.0
biz.aQute.bnd:biz.aQute.bndlib:5.3.0

[2021-09-10 23:47] janbartel opened #6772 "Update to asm 9.2"
Update to asm 9.2, spifly 1.3.4 for osgi testing.

[2021-09-11 00:10] janbartel commented on #6679
Closed via PR #6690

[2021-09-11 00:10] #6679 closed, assigned to janbartel

[2021-09-11 14:34] sreedharj commented on #6759
thanks @gregw    I still think issue is with the Jetty .  these concurrent large file transfer is working fine with Jetty V 9.4.26,  After upgrading to 9.4.40,  we are  seeing  issue..  In fact,  issue was seen in all the jetty versions   after  9.4.26.  With out jetty debug mode,  2 to 4 concurrent 100m requests itself fails.

[2021-09-11 23:01] gregw commented on #6759
@sreedharj perhaps the issue is with jetty.  But it is just as likely that jetty stand alone is OK, but perhaps we changed something in the internals that your PS classes are extending and now there is a mismatch.

In the TCP trace, I am clearly seeing an early EOF, as the message is not correctly terminated.   So jetty is correct in throwing an earlyEOF exception.    Now there may be some contrib

[2021-09-12 15:28] joakime commented on #6759
@sreedharj 9.4.40 has 3 open security vulnerabilities on it - https://www.eclipse.org/jetty/security_reports.php
I would not stay with 9.4.40, even if you find out the solution to your sterling issues, have you tried with 9.4.43?

@sreedharj try again without the sterling layer.
If it works without issue, then you know the issue is in that sterling layer.

Doing a quick search online, there's nume

[2021-09-13 00:14] #6770 closed, assigned to janbartel

[2021-09-13 00:15] #6772 closed, assigned to janbartel

[2021-09-13 01:46] lachlan-roberts commented on #6769
It looks like the firefox websocket client isn't completing the websocket close handshake and is just closing the connection straight away after receiving a close frame.

Because of this you get a close status of "NO_CLOSE" code 1006, and in Jetty-10 you are also notified of the read error that occurred in the `onWebSocketError` notification which is called directly before the `onWebSocketClose` n

[2021-09-13 02:00] thanhvg commented on #6769
Thanks for your help.

Ignoring the whole `ClosedChannelException` is a bit too much for me, is there any safety check I can add to make sure that  `ClosedChannelException` is thrown because of the client's side in this case?