[2021-09-13 03:29] lachlan-roberts commented on #6769
Not sure what you mean by this. Jetty is just calling `onWebSocketError` to notify you of the read error caused by the client closing the connection without completing the close handshake. Nothing you can do about this on the server side.

If you initiate the WebSocket close handshake from the client side in JavaScript you should not have the same issues. It seems firefox handles this case better

[2021-09-13 03:46] thanhvg commented on #6769
Well I can't change how the clients behave but please correct me if I am wrong: is `ClosedChannelException` is safe to ignore across jetty websocket server? I need to log out errors for my app and if `ClosedChannelException` is benign then I can filter it out.

[2021-09-13 04:20] lachlan-roberts commented on #6769
It could be that the client was going to send more messages but the connection failed, so I think how you handle it depends on your application.

[2021-09-13 04:52] firoj07 opened #6774 "https://github.com/eclipse/jetty.project/pull/6588#discussion_r683850125Also is the icb really the right object? Surely it should be the buffer? icb doesn't even have a reference to the buffer."
Also is the icb really the right object?  Surely it should be the buffer?   icb doesn't even have a reference to the buffer.

_Originally posted by @gregw in https://github.com/eclipse/jetty.project/pull/6588#discussion_r683851012_

[2021-09-13 04:52] firoj07 commented on #6774
https://github.com/eclipse/jetty.project/issues/6774#issue-994451301

[2021-09-13 04:57] #6774 closed

[2021-09-13 05:01] firoj07 commented on #6774
Do your job well and whatever it is, work with everyone's consent you think it is not

[2021-09-13 05:02] firoj07 opened #6775 "Jetty Releases 9.4.x, 10.0.y, 11.0.y"
**Jetty Versions:**
This release process will produce releases:

**Target Date:**

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "release manager".
- [x] Review [dr

[2021-09-13 05:15] lachlan-roberts commented on #6774
Feel free to comment directly on PR #6588 if you have any comments or concerns regarding those changes.

[2021-09-13 05:20] lachlan-roberts commented on #6775
This issue template is only for committers to manage the release process.

[2021-09-13 05:20] #6775 closed

[2021-09-13 11:16] joakime commented on #6769
Firefox has 3 open issues regarding their websocket close wasClean=true behavior

* https://bugzilla.mozilla.org/show_bug.cgi?id=1370760
* https://bugzilla.mozilla.org/show_bug.cgi?id=1412104
* https://bugzilla.mozilla.org/show_bug.cgi?id=1426815

[2021-09-13 13:08] sreedharj commented on #6759
@gregw  @joakime  Thanks for your inputs..  I will try to run these tests with Jetty alone i.e with out PS.
As I said about same PS code works very well with  SFTP Server, which also uses nio.

[2021-09-13 14:40] #6769 closed, assigned to lachlan-roberts

[2021-09-13 16:53] #6731 closed, assigned to lachlan-roberts

[2021-09-13 18:26] bernermic opened #6799 "server.jetty.connection-idle-timeout unclear meaning"
**Jetty version**
jetty-9.4.43.v20210629

**Java version**
Java 16

**Question**
I have a Jetty (server) Web Application in which I want to stop requests after a timeot threshold is exceeded.
According to Spring-Boot Docs for Jetty I configured the property [server.jetty.connection-idle-timeout](https://docs.spring.io/spring-boot/docs/current/reference/html/application-properties.html#application-

[2021-09-13 18:36] sbordet commented on #6799
In your example you `Thread.sleep()` inside the controller, which I assume it is called synchronously from `HttpServlet.service()`.

The Servlet specification requires that idle timeouts are ignored when threads are dispatched to `HttpServlet.service()`, unless they are doing blocking reads or blocking writes.

The behavior you see from Jetty is expected and correct.

[2021-09-13 18:58] joakime opened #6800 "Update Mongo versions"
**Jetty version(s)**
9.4.x, 10.0.x, 11.0.x

**Description**
We are currently using Mongo version 2.13.2

Version 3.12.10 is currently available.

We should upgrade our dependencies (including mongo docker image version).

This is a major version update and will require some work.

[2021-09-13 19:00] joakime opened #6801 "Update Felix version"
**Jetty version(s)**
9.4.x, 10.0.x, 11.0.x

**Description**
We are currently using `org.apache.felix.framework` 6.0.3.
The current version is 7.0.1

Our felix maven plugins are also on odd/old versions that need review.

This is a major version update and will require some work.

[2021-09-13 22:48] gregw commented on #6799
To add some extra information....  the idle timeouts only apply to servlet container managed IO operation: waiting for a new request; reading a request; writing a response.    The servlet spec requires that if a thread is dispatched to the application, then it can take unlimited time  - even if that is a infinite loop or a sleep(forever).   The reason being that interrupting/stopping an applicatio

[2021-09-13 22:48] #6799 closed, assigned to nobody

[2021-09-14 02:03] janbartel commented on #6801
For jetty-10 and jetty-11:

Already up-to-date with org.apache.felix.framework 7.0.1.
org.apache.felix:maven-bundle-plugin is at 5.1.1, latest version is 5.1.2 - surely dependabot will find that.

For jetty-9.4:
org.apache.felix.framework is at 6.0.3, latest is 7.0.1
org.apache.felix:maven-bundle-plugin is at 3.5.1, latest version is 5.1.2

I'm not convinced of the utility of the test-felix-webapp

[2021-09-14 04:58] sreedharj commented on #6759
[tcpdump-jetty-issue.zip](https://github.com/eclipse/jetty.project/files/7158969/tcpdump-jetty-issue.zip)
@gregw   I have captured new tcp traces  from the start of the request to end.  This time I have disabled the  Jetty debug logging, so that issue can be seen with 2 concurrent requests itself.

Jetty server port is :  59113

[2021-09-14 05:20] rrimmana opened #6817 "Missing p2 repo for Jetty 10.0.x. This is needed for eclipse users with Eclipse platform v4.20. please publish it."
**Jetty version(s)**

**Java version/vendor** `(use: java -version)`

**OS type/version**

**Description**

**How to reproduce?**

[2021-09-14 07:50] gregw commented on #6759
@sreedharj your latest trace confirms my previous diagnoisis.   Your stream starts with:
[code]

We can see it is a chunked POST request.   We can see the first chunk is of size 0x800 (as are all subsequent chunks) and contains some kind of text record that ultimately ends with a single line `Z` and then a blank line.  You can see that the start of the next record is also in the first chunk, and t

[2021-09-14 10:21] sreedharj commented on #6759
Thanks @gregw  for analyzing the tcp trace.    Time out is happening from the Jetty.  I had configured idle time out as 180 secs.  From the application side,  servlet is waiting for the data . Here is the thread dump.
t java/lang/Object.wait(Native Method)
at java/lang/Object.wait(Object.java:172(Compiled Code))
at org/eclipse/jetty/server/HttpInput.blockForContent(HttpInput.java:584)
at org/eclip

[2021-09-14 10:35] lorban commented on #6730
Done, upgraded quiche to 0.9.0 with native libs built for:
 - Linux x86-64
 - Windows x86-64
 - Macos x86-64
 - Macos aarch64

[2021-09-14 10:35] #6730 closed, assigned to lorban

[2021-09-14 18:03] joakime commented on #6817
See PR #6404

[2021-09-14 18:07] joakime commented on #6817
We don't create/manage the Eclipse P2 repositories you are using.

Those P2 repositories are managed by the Eclipse IDE folks for specific usage of the Help System within the Eclipse IDE.
(The help system doesn't need/use apache-jsp, osgi-boot, or jaspi to name a few of our artifacts)
The use of the P2 repositories at Eclipse is not for general purpose use by users.

Of note, the work on Eclipse T

[2021-09-14 20:42] joakime commented on #6801
The `test-felix-webapp` exists because a weird felix and WebAppClassLoader interaction that can lead to a stackoverflow exception (from Issue #3700).

It happens because felix uses URL Protocol Handlers on the URL class to handle it's bundles, which causes a crazy catch-22 on the WebAppClassLoader.

[2021-09-15 00:29] gregw commented on #6759
Then it indeed looks like a problem with the PsSelector code.   Can you tell us more about what it is and why you are using it?

[2021-09-15 01:40] olamy opened #6832 "9.4.x upgrade maven-bundle-plugin 5.1.2 (or more)"
The branch 9.4.x is still using 3.5.1 version of the plugin.
This update works with jdk11 and jdk17 but not with jdk 1.8

[2021-09-15 02:02] joakime commented on #6832
Is there a newer version of maven-bundle-plugin in the 3.x range we can use instead? (one still compatible with jdk 8)

[2021-09-15 02:03] olamy commented on #6832
nope it's 3.5.1 -> 4.0.0

[2021-09-15 03:11] sreedharj commented on #6759
@gregw  I think, some race condition in the jetty code.  I have added few debug statements in the PS code.  I see,  read calls from Jetty thread, even when the  read is not ready.

ava.lang.Thread.getStackTrace(Thread.java:1117)
 com.sterlingcommerce.perimeter.api.nio.PsSocketChannel.read(PsSocketChannel.java:261)
 com.sterlingcommerce.perimeter.api.nio.PsSocketChannel.read(PsSocketChannel.java:24

[2021-09-15 03:41] sreedharj commented on #6759
A perimeter server is a software tool for communications management that can be installed in a DMZ. The perimeter server manages the communications flow between outer layers of your network and the TCP-based transport adapters. A perimeter server can solve problems with network congestion, security, and scalability, especially in high-volume, Internet-gateway environments. .   https://www.ibm.com/

[2021-09-15 05:43] gregw commented on #6759
@sreedharj,

It is perfectly reasonable to try reading before registering interest.   Using a selector to register interest is a moderately expensive operation, thus jetty will always attempt a read first and only register with the selector for read interest if the read returned 0 bytes read.

But in the stack trace you have provided, there is interest registered because there is a callback availa

[2021-09-15 06:42] sreedharj commented on #6759
@gregw   I am the  part of Sterling Commerce team  and trying to troubleshoot this issue .

I have added few debug statements into the PS code  , interest register, select, read operations went fine for some time,  after read call from Jetty, there is interest registered.

[2021-09-15 11:11:49.254] WARN HttpServerAdapter_HttpServerAdapter_node1-Thread-12 #### PsSelectionKeyhash=[49948f0d], liveRea

[2021-09-15 08:50] #6817 closed, assigned to nobody

[2021-09-15 12:09] joakime opened #6853 "Remove pack200 plugins"
**Jetty version(s)**
9.4.x, 10.0.x, and 11.0.x

**Description**
The pack200 plugins we have in the active builds should be removed.
Eclipse is no longer requiring them.

https://www.eclipse.org/lists/cross-project-issues-dev/msg18273.html

[2021-09-15 17:30] #6853 closed, assigned to joakime

[2021-09-15 17:42] #5229 closed, assigned to sbordet

[2021-09-15 18:34] sreedharj commented on #6759
@gregw   @joakime

[jetty.log.D20210915.zip](https://github.com/eclipse/jetty.project/files/7172483/jetty.log.D20210915.zip)
 I have captured one more jetty log with  org.eclipse.jetty.io.LEVEL=DEBUG,

[2021-09-15 23:32:01.443] ALL 000000000000 GLOBAL_SCOPE 2021-09-15 23:32:01.443:DBUG:oeji.ChannelEndPoint:qtp_HttpServerAdapter_HttpServerAdapter_node1-640: filled 0 HeapByteBuffer@32ed86f7[p=0,l=0,

[2021-09-16 01:23] gregw commented on #6759
@sreedharj are you able to try jetty-10?   The HttpInput of Jetty-10 has been significantly reworked and simplified and is a lot easier to debug as a result.
The other option is for you to bisect the changes between 9.4.26 to 9.4.27 to identify the exact change in behaviour that is causing your problem.

[2021-09-16 02:06] olamy commented on #3514
to prevent issues with the current usage of ${} in mod files. Interpolation of values from pom will be based on the delimiter `@....@` such `@log4j2.version@`

[2021-09-16 03:07] gregw commented on #6759
@sreedharj another idea, can you run the jetty-io tests from a checkout of jetty using your Ps layer.   Hopefully this may reproduce your problem and give a simpler reproduction on which to diagnose.

[2021-09-16 03:40] sreedharj commented on #6759
@gregw   does the above jetty log gives any clue on the  read interest registration?   Looks like it has updated the key with the interest as 0 and after that nothing happened

I can try with jetty-10.  I hope, there won't be any integration issues  with webapp deployment etc.

I tried building  jetty-io  but was not successful , as it getting time out during the tests execution, so built the proj

[2021-09-16 05:06] gregw commented on #6759
@sreedharj the log `changeInterests p=false 0->1` says that the interest ops where changed from 0 to 1, ie changed to being read interested.   But note that this is our version of the interest ops and is not immediately set on the selector.   Since changing interest is moderately expensive and it is a frequent change to see interest go 1->0->1 we only do the actual update just before the selection

[2021-09-16 05:33] sreedharj commented on #6759
@gregw   please let me know which package you want to me enable the debug to see the queued execution details.

on the jetty-io, I was able to run the tests now.  It was failing because of my code changes in the ManagedSelector class, , after reverting back ,  it was working.

So for now, lets focus on 9.4.40  only,  based on your above log analysis, we just need to figure out,  queued interest ch

[2021-09-16 06:36] sreedharj commented on #6759
@gregw   I have added debug statement  ManagedSelector#submit() method. as below

    private void submit(SelectorUpdate update, boolean lazy)
    {
        if (LOG.isDebugEnabled())
            LOG.debug("Queued change lazy={} {} on {}", lazy, update, this);

        Selector selector = null;
        synchronized (ManagedSelector.this)
        {
            _updates.offer(update);

            if

[2021-09-16 07:04] gregw commented on #6759
typically _selecting is set to false when a previous submit has already done a wakeup on teh current cycle, so there is no need for another wakeup call (which is expensive) as the selector is already going to wakeup.

Does the selector wakeup after this?

[2021-09-16 07:22] prateekkohli2112 commented on #6699
Thanks, we are trying on the latest version. Will let you know the results.

Just 1 more doubt regarding Http2, what would be the behavior of Jetty client when it sends the MAGIC frame, but server does not send the HTTP2 Settings frame in the initial handshake.
Would the client wait indefinitely for the settings frame or will it retry after a certain timeout?

[2021-09-16 08:54] sreedharj commented on #6759
@gregw  no,  selector wakeup  did not happen.  Please see the attached log
[jetty.log.D20210916.zip](https://github.com/eclipse/jetty.project/files/7176354/jetty.log.D20210916.zip)

[2021-09-16 08:56] sreedharj commented on #6759
just waited for the Idle time out to occur

2021-09-16 11:59:40.558] ALL 000000000000 GLOBAL_SCOPE 2021-09-16 11:59:40.558:DBUG:oeji.ManagedSelector:qtp_HttpServerAdapter_HttpServerAdapter_node1-621: Queued change lazy=false org.eclipse.jetty.io.ChannelEndPoint$$Lambda$215/000000008400B000@5013b1e8 on ManagedSelector@f75d8c14{STARTED} id=0 keys=3 selected=0 updates=1
[2021-09-16 11:59:40.558] ALL

[2021-09-16 09:03] sreedharj commented on #6759
@gregw
[2021-09-16 11:59:40.556] ALL 000000000000 GLOBAL_SCOPE 2021-09-16 11:59:40.556:DBUG:oeji.ManagedSelector:qtp_HttpServerAdapter_HttpServerAdapter_node1-623: Queued change lazy=false org.eclipse.jetty.io.ChannelEndPoint$$Lambda$215/000000008400B000@57f4ac62 on ManagedSelector@f75d8c14{STARTED} id=0 keys=3 selected=0 updates=0
[2021-09-16 11:59:40.556] ALL 000000000000 GLOBAL_SCOPE 2021-09-16

[2021-09-17 02:13] gregw commented on #6759
So how sure are that the PsSelector is handling calls to wakeup correctly?

We set _selecting to be true just before entering selecting.  We set it to false after we have called wakeup.      I believe the normal selector deals correctly with the small window that exists there that might mean we call wakeup just before select is called, and the normal selector does wakeup.

Perhaps your PsSelector

[2021-09-17 04:03] sreedharj commented on #6759
@gregw  let me add  few debug statements in PsSelector wakeup method

[2021-09-17 06:12] gregw opened #6860 "IPv6 format"
**Jetty version(s)**
9.4.x

**Description**

After fix #5128 for #5079, it is no longer possible to configure how an IPv6 address is returned from the servlet-api.  Some applications are expecting the address to be bracketed, others without brackets and yet others might depend on receiving the address exactly how it is received.   This is causing problems on PAAS/SAAS providers that cannot modify

[2021-09-17 19:30] ssmogos opened #6866 "Large amount of warn entries for "fill with unconsumed content" generated by Jetty"
**Jetty version(s)**
9.4.39.v20210325

**Java version/vendor** `(use: java -version)`
openjdk version "1.8.0_302"
OpenJDK Runtime Environment (build 1.8.0_302-b08)
OpenJDK 64-Bit Server VM (build 25.302-b08, mixed mode)

**OS type/version**
Docker container with base image:
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=bus

[2021-09-17 20:03] joakime commented on #6866
You have a server/servlet/endpoint that isn't reading all of the content being sent by the clients.

This is a bad thing, as you break the HTTP/1.1 connection persistence doing that.
You should read all of the content that is being sent on the HTTP Request level.
If you don't read the request content, the connection cannot remain persistent and MUST be closed (per spec).

For REST endpoints, you s

[2021-09-17 20:05] joakime commented on #6866
Version: 9.4.39.v20210325

You should also upgrade, as you are using a vulnerable version.
See: https://www.eclipse.org/jetty/security_reports.php

[2021-09-17 20:28] ssmogos commented on #6866
thanks a lot @joakime for the quick response. (we're in the process of updating jetty as well for the reasons that you mentioned).

We're using dropwizard 2.x and as far as I've tried to google this, I could not find options for such configuration. But I'm probably searching for the wrong thing.
Do you happen to have some examples/references at hand on how this is configured on some rest libraries

[2021-09-18 14:10] TimePerformance opened #6868 "_uriCompliance attribute has been forgotten in the HttpConfiguration constructor from another configuration"
**Jetty version(s)**
10.0.6 and 10.0.7-SNAPSHOT

**Java version/vendor** `(use: java -version)`
any

**OS type/version**
any

**Description**
In the constructor `public HttpConfiguration(HttpConfiguration config)`, the `_uriCompliance` is not copied from the original.

**How to reproduce?**
setting the jetty.httpConfig.uriCompliance to LEGACY in start.d/server.ini has no effect on the HttpConfigur

[2021-09-19 16:23] boughtonp opened #6869 "Correct Content-Type within HTML error pages"
**Jetty version(s)**
9.4.43 and 10.0.1

**Description**
A Jetty-generated 404 response includes header `Content-Type: text/html;charset=iso-8859-1`

The returned HTML includes `<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>`

Directory browsing response has utf-8 for both; I haven't checked other generated pages so there may be other mismatches.

**How to reproduce?**

	JETTY_

[2021-09-19 21:37] boughtonp opened #6870 "Encode control characters in URIUtil.encodePath"
**Jetty version(s)**
9.4.43 and 10.0.1

**Description**
Runing Jetty with DefaultServlet, `http://localhost/%0A` returns a 404 - as expected.

However, when using BalancerServlet, the same request URL causes a 500 error. Same goes for anything from %01 to %1F (i.e. encoded control characters).

By simplifying to a minimal example, it turns out the issue does not occur without the rewrite module en

[2021-09-20 05:14] #6868 closed, assigned to nobody

[2021-09-20 06:12] sbordet opened #6875 "Jetty Release 9.4.44"
**Jetty Versions:**
This release process will produce releases:
9.4.44

**Target Date:**
2021-09-27

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "release manager"

[2021-09-20 07:01] gregw commented on #6487
@joakime I'm closing this as both PRs are merged.

[2021-09-20 07:01] #6487 closed, assigned to joakime

[2021-09-20 09:06] jongyoul commented on #6592
It's awesome. I wanted to refactor and make ZeppelinServer clearly but didn't have much knowledge about Jetty itself. Thank you for all of your considerate reviews. I'll fix some issues reviewed. cc/ @zjffdu

[2021-09-20 16:38] sreedharj commented on #6759
@gregw  I have done further analysis on the PsSelector wakeup method.    Some times, this wakeup method is not able to  notify the selector, as it is trying to  process the selected keys and return. During this time wakeup method will not be able to notify the selector as it is not able to get the permit ( semaphore)..  So for now, I have added retry logic for the wakeup call to wait for  1ms to n

[2021-09-20 18:02] #6515 closed, assigned to janbartel

[2021-09-20 18:03] joakime commented on #6495
Closing as forward port PR #6559 has been merged.

[2021-09-20 18:03] #6495 closed, assigned to nobody

[2021-09-20 23:15] gregw commented on #6759
@sreedharj thanks for the update.  It is what we suspected about `PsSelector.wakeup()`!

Reducing the number of wakeup calls is an important optimization in jetty.   We certainly don't want to do more frequent wakeups in normal jetty.

Potentially we could change the `submit` and `wakeup` methods from private to protected, so that you could override them with implementations that always did a wake

[2021-09-20 23:15] #6759 closed, assigned to nobody

[2021-09-21 01:51] janbartel commented on #6687
Updated to infinispan version 11.0.11 for jetty-10 and jetty-11 via PR #6766

[2021-09-21 05:14] olamy opened #6879 "Remove jminix (not maintained) module as hawtio provide same features"
jminix is not maintained anymore (last release from 2015).
Hawtio is well maintained and provide same and even more features.

[2021-09-21 06:08] #6869 closed, assigned to nobody

[2021-09-21 08:13] sreedharj commented on #6759
Thanks @gregw .  if we can optimize the jetty code to reduce the wakeup calls on the selector, then that would really improve the performance, may not get into this situation.   Essentially, one jetty thread is updating the key and another jetty thread is calling wakeup on the same selector.,

com.sterlingcommerce.perimeter.api.nio.PsSelector.softWakeup(PsSelector.java:220)
 com.sterlingcommerce.p

[2021-09-21 09:32] lachlan-roberts commented on #6497
I think this needs to be done in 9.4 as well.

[2021-09-21 16:39] 2is10 opened #6883 "Welcome file redirects do not honor the relativeRedirectAllowed option"
**Jetty version(s)**

9.4.43.v20210629

**Java version/vendor** `(use: java -version)`

openjdk version "11.0.12" 2021-07-20 LTS

**OS type/version**

macOS Big Sur 11.6 (20G165)

**Description**

Last year #5029 Relative Redirection introduced a new `relativeRedirectAllowed` option. (Thanks!) Unfortunately, at least some of the redirects that Jetty itself initiates do not yet honor that option.

[2021-09-21 18:05] joakime commented on #6883
I don't quite follow your steps to reproduce.
What does the servlet at step 2 do?

[2021-09-21 18:27] 2is10 commented on #6883
The servlet could just serve static files from a directory tree.

[code]

[2021-09-21 20:06] cryoshida opened #6884 "java.lang.UnsupportedOperationException: Pipelined requests not supported for PUT requests"
Hi! We're using HttpClient for both PUT and POST requests. Occasionally we get the following bug
[code]
for both of them. I understand that pipelining should not be used for POST requests, and so we added `Connection: close` header for those. However, why would this exception be thrown for PUT requests in the first place? And is there other practices that can be done to prevent this exception?

[2021-09-21 20:12] sbordet commented on #6884
This exception belong to category "this should never happen".

Can you detail how your application sends those requests? Concurrently? Do you use an explicit `Connection` to send a request, or you always send them via `Request.send()`?

Do you have a reproducible code that we can try ourselves?

[2021-09-21 20:23] joakime commented on #6884
Also, what version of Jetty are you using?

[2021-09-21 20:24] joakime commented on #6884
@sbordet is this another case of someone reusing a `Request` object?

[2021-09-21 20:36] cryoshida commented on #6884
Jetty version is **9.4.24v20191120**.

We do something like
[code]
for each request (only the `client` is reused), and the requests are not sent concurrently either.

I do not have a reproducible code at hand since our customer has been the only one who has been able to reproduce the issue.

[2021-09-21 20:38] sbordet commented on #6884
We have many tests with the code you show above, and none fail, so it must be something else.
We need more information about your failing case.
If you can get DEBUG logs or the code producing the error, or some other evidence will be great.
So far there is not much we can work on.

[2021-09-21 20:40] joakime commented on #6883
So, the addition of the missing slash is because as far as HTTP is concerned, a request for `/docs` is a different resource than `/docs/`.

This distinction matters when you are using a case insensitive file system, where this is possible ...

[code]

This would mean requesting `/docs` would return the file.
But requesting `/docs/` would be handled by the directory.

The setting `HttpConfiguration

[2021-09-21 20:59] joakime commented on #6884
Is that really a POST or PUT without a request body?

[2021-09-21 21:19] cryoshida commented on #6884
Apologies for the delayed response. Was trying to get a green light on sharing snippets of our customer's log...

No, that was a really reduced example. Our production code does use `.content(new StringContentProvider(...))`.

Understandable. Here is a snippet of the redacted debug log (let me know if you need a bit more of the log).

[code]

[2021-09-21 21:41] sbordet commented on #6884
I agree with @joakime that this looks suspiciously a reuse of the same `Request` object for 2 different requests.
Requests are logged with their hashcode, for example from the logs above:

[code]

Search _before_ that log line if a request `@33f3e88c` has already been sent.

[2021-09-21 22:00] 2is10 commented on #6883
@joakime The main reason for the code that adds a trailing slash is for relative URLs in a welcome page to resolve properly in the browser. For example, if a docs/index.html page contains `<a href="dogs.html">`, the trailing slash is needed in the page’s URL for that link to correctly resolve to /docs/dogs.html instead of just /dogs.html.

The simplest solution for this specific redirect, I think,

[2021-09-21 22:46] gregw commented on #6883
@joakime the issue is not so much with `encodeURL` or `sendRedirect`, but as @2is10 says, it is that the `ResourceService` starts with `getRequestURL()` rather than `getRequestURI()`.
So I think this is fixable at low risk.   I'm just pondering if we should use the URI only if `isRelativeRedirectAllowed` is true or all the time.   I'm tending to think the former for 9.4 to minimize behaviour chang

[2021-09-21 22:58] gregw commented on #6883
The `ResourceService` does `sendRedirect` in 3 places, and 2 of them use  relative URIs, including when we strip an unnecessary trailing `/`, so I think it is OK to make it always use relative for the addition of a required `/`.   PR coming... stand by....

[2021-09-21 23:22] gregw commented on #6883
PR #6883 created.  Can we please review/test ASAP as we are trying to catch the current release train!

[2021-09-22 07:24] prakashnandihal commented on #6603
@sbordet  what is the release date of 9.4.44?

[2021-09-22 11:03] #6860 closed, assigned to gregw

[2021-09-22 11:15] joakime opened #6892 "Review `HttpField.contains(String)` for case insensitive behavior"
**Jetty version(s)**
9.4.x thru 11.0.x

**Description**
As part of the review of PR #6886 it was discovered that `HttpField.contains(String)` should probably not be case insensitive. (see https://github.com/eclipse/jetty.project/pull/6886#discussion_r713831344)

[2021-09-22 11:33] gregw commented on #6017
@sbordet can this be bumped 9.4.45?

[2021-09-22 11:37] joakime commented on #6497
This is fully merged in 9.4.x and 10.0.x onwards

[2021-09-22 11:50] joakime commented on #6870
This is merged for 9.4.x
What about 10.0.x?

[2021-09-22 12:05] lachlan-roberts commented on #6497
Has not been ported to `9.4.x` yet.

[2021-09-22 12:08] joakime commented on #6497
Then what was PR #6540 for?

[2021-09-22 12:09] joakime commented on #6017
@gregw bumped

[2021-09-22 22:17] joakime commented on #3514
PR #6839 is merged.

[2021-09-22 22:17] #3514 closed

[2021-09-22 22:22] gregw commented on #6892
Also the contains methods in org.eclipse.jetty.http.tools.matchers.HttpFieldsMatchers#containsHeaderValue(java.lang.String, java.lang.String) need similar review and potentially have an exact match option added.

[2021-09-22 22:24] 2is10 commented on #6883
Thanks @joakime and @gregw for the timely responses and quick fix!

[2021-09-22 22:40] cryoshida commented on #6884
I see. But unfortunately no, only the connection `HttpConnectionOverHTTP@51da5611` is reused again and again for destination `33f3a728`. The request itself only shows up for this one time. If you would like and possible, is there a private email to send the full logs since it contains our stack and other sensitive information?

I'm mainly trying to understand in what cases could we have `abort=Tru

[2021-09-22 23:44] lachlan-roberts commented on #6497
That was the original PR that was for `9.4.x`, however it was not merged and was closed. We instead developed a fix for the `10.0.x`/`11.0.x` branches (#6681) and the plan was to port a minimal fix back to `9.4.x`.

[2021-09-23 00:02] joakime commented on #6884
A reproduction case/project would be useful.

[2021-09-23 00:20] gregw commented on #6870
Doh! created branch but forgot to push....

[2021-09-23 05:37] #6870 closed, assigned to nobody

[2021-09-23 05:37] #6883 closed, assigned to nobody

[2021-09-23 06:35] prateekkohli2112 opened #6896 "No response of Magic from Http2 server, client still sends requests"
9.4.43.v20210629

jdk1.8.0_261

What would be the behavior of Jetty client when it sends the MAGIC frame, but server does not respond with HTTP2 Settings frame in the initial handshake.

In our case, we can see a connection established at TCP level and client is trying to send requests on that connection.

Would the client wait indefinitely for the settings frame or will it retry after a certain t

[2021-09-23 14:11] ArfyFR opened #6915 "WAR which uses JNI / a library - LD_LIBRARY_PATH is purged by openjdk"
**Jetty version**
jetty-9.4.24.v20191120 - 20 November 2019

**Java version**
openjdk version "1.8.0_302"
OpenJDK Runtime Environment (build 1.8.0_302-b08)
OpenJDK 64-Bit Server VM (build 25.302-b08, mixed mode)

**OS type/version**
cat /proc/version
Linux version 3.10.0-1062.9.1.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC) ) #1 SMP Fri Dec 6

[2021-09-23 14:15] joakime commented on #6915
First, are you using the official docker images?

* https://hub.docker.com/_/jetty
* https://github.com/eclipse/jetty.docker

Next, if you are not using one of those, are you perhaps using a `${jetty.base}` configuration that is causing a forked JVM? (see `--exec` or output of `--list-config`)
A forked JVM will not propagate the LD_LIBRARY_PATH environment or the System properties from the parent

[2021-09-23 14:29] ArfyFR commented on #6915
If I compare all environment variables set before the call to
`java -jar "$JETTY_HOME/start.jar" $JETTY_OPTIONS $JETTY_STOP_OPTIONS --module=ext jetty-started.xml
`
and after (I mean inside a java in a War deployed), most of them (too much to check them all) are well set ... **but no more LD_LIBRARY_PATH**

That's why I searched in Jetty, then openjdk if one may purge it.
And there it was:  https:

[2021-09-23 19:55] sbordet commented on #6896
We expect the server to reply correctly with the HTTP/2 server preface.
If that does not happen and the connection goes idle, the idle timeout on the client will kick in and close the connection.

[2021-09-24 11:12] Geooorg opened #6923 "MimeType/CharSet initialization fails on M1 architecture"
This is a follow-up on https://github.com/localstack/localstack/issues/4625
Localstack uses DynamoDB with Jetty.
The executable DynamoDB jar used by LocalStack is currently statically included from https://github.com/localstack/localstack-artifacts/blob/master/dynamodb-local-patch/etc/DynamoDBLocal.zip

**Jetty version(s)**

This zip contains dependencies on Jetty 9.4.18.v20190429

**Java version/

[2021-09-24 11:37] joakime commented on #6923
I've started the conversation at the original issue - https://github.com/localstack/localstack/issues/4625#issuecomment-926555052

[2021-09-24 13:47] joakime opened #6924 "Consider sortpom maven plugin to get checkstyle like functionality on our poms"
**Target Jetty version(s)**
All active branches.

**Enhancement Description**
The sortpom maven plugin at https://github.com/Ekryd/sortpom

Can be used to both verify (checkstyle like) and sort/organize the entire pom.
This would make the poms more consistent across all multi-modules, and also across branches of Jetty.
The sort logic would also benefit us in having a consistent organization of our

[2021-09-24 13:57] joakime opened #6925 "Enable codeql on eclipse/jetty.project"
**Target Jetty version(s)**
All active branches

**Enhancement Description**
We should add a `.github/workflows/codeql-analysis.yml` to allow codeql to run against our active branches.

For example configuration see: https://github.com/github/codeql-action

Per an old (now closed) issue (https://github.com/github/codeql/issues/5235) the maven command line used for the codeql autobuild is ...

[cod

[2021-09-24 21:59] gregw commented on #6875
@sbordet I've ticked through to the build stage and assigned @joakime to build 9.4
We do need to split out 10 & 11

[2021-09-25 20:59] Masber opened #6926 "org.eclipse.jetty.io.EofException: Early EOF"
**Jetty version(s)**
9.4.27.v20200227

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.6" 2020-01-14 LTS
OpenJDK Runtime Environment Corretto-11.0.6.10.1 (build 11.0.6+10-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.6.10.1 (build 11.0.6+10-LTS, mixed mode)

**OS type/version**
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Ama

[2021-09-27 08:42] firoj07 opened #6927 "Jetty 9.4.x is in maintenance mode."
Jetty 9.4.x is in maintenance mode.
It is taking bug fixes and security fixes at the moment, not new functionality.

Active branches for new functionality is Jetty 10.0.x and Jetty 11.0.x.

If you want Servlet 4.0 behavior you have to be using Jetty 10.0.x (which supports Servlet 4.0).
Jetty 9.4.x is for Servlet 3.1.0.

Also note that `javax.servlet.*` is dead, you should move to `jakarta.servlet.

[2021-09-27 09:09] firoj07 opened #6928 "https://github.com/eclipse/jetty.project/issues/4000#issue-482388946Hejsan!"
Hejsan!

The Swedish characters å ä and ö have different rules depending on where in the URL they are used.

* If they show up in the URL authority portion (host name), then ([RFC 5895](https://tools.ietf.org/html/rfc5895): IDNA 2008) punycode is preferred encoding.
* If they show up in any HTTP header (example: the `Host:` header) for HTTP, then they must be % encoded
* If they show up in the pat

[2021-09-27 09:21] AlBundy33 opened #6929 "(Maybe) SSL-Bug with certificates?"
Jetty 9.4.41
java: AdoptOpenJDK 11.0.12+7
OS: SLES (server), Windows 10 (client)

Usually we're using PKCS12-Keystores (*.pfx) for SSL and this works mostly as expected.

But now I have a pfx-File that does not work as expected.
keytool -list -v -keystore test.customer.com.pfx

shows 4 entries.

1. entry
Alias name: customer issuing
Entry type: trustedCertEntry
Owner: CN=Customer Issuing CA, ...
I

[2021-09-27 11:18] joakime commented on #6928
Spam. Closing.

[2021-09-27 11:18] #6928 closed

[2021-09-27 11:18] joakime commented on #6927
Spam. Closing.

[2021-09-27 11:18] #6927 closed

[2021-09-27 11:20] joakime commented on #6929
Please copy/paste the error as you see it. (and any stacktraces too if presented).

[2021-09-27 12:11] AlBundy33 commented on #6929
there is no "error" in the log.
It's "just" not working because the browser shows that the certificate is untrusted (I've tried IE, Edge, Chrome and Firefox)

All browser are showing only the certificate for the host (in my example 3. entry) and therefore the chain of trust cannot be validated because only the root-certifcated is deployed on the windows-machines.

[2021-09-27 12:25] joakime commented on #6929
To have it work on Edge / Chrome / Firefox you have to ensure that you are using a root CA that exists and is trusted by those browsers.

Speaking of Windows behaviors with Browsers ...

* Edge (based on Chromium) uses the Windows Certificate Store just fine, in fact I'm not aware of a browser specific certificate store with Edge.
* Chrome also uses the Windows Certificate Store, but often has iss

[2021-09-27 12:41] AlBundy33 commented on #6929
SLES (SuSE Linux Enterprise Server) can of course not read a Windows-Truststore. :-)
The Root CA is also available on the windows-machines.

But If I check the certifiactes that are displayed in the browser there is only the certificate form test.customer.com shown.

Here is an example from google:
![image](https://user-images.githubusercontent.com/6294586/134909122-e4a0589d-018b-4677-afd2-a2014ec

[2021-09-27 15:56] sbordet commented on #6929
I don't think the `PrivateEntry` is setup correctly.

On our website, which has a proper, non-failing, certificate signed by LetsEncrypt, we have:

[code]

So the issuer is not itself, but the first CA in the chain.

[2021-09-27 18:00] AlBundy33 commented on #6929
I know - on other cuetomer-systems we also have a chain where the issuer != owner for the PrivateKeyEntry.

But according to the entry type even my failing pfx seems to be correct (maybe).
private key has issuer = owner and the chain of trust is defined with entry types trustedCertEntry.

but this is only how I would read the output of keytool -list - how others would handle that file.

[2021-09-27 19:21] sbordet commented on #6929
@AlBundy33 I think this is just a KeyStore issue.

Either you properly sign and import the CSR, or you trust a self-signed certificate.

Jetty will use the KeyStore as a TrustStore if you don't explicitly specify a TrustStore, so having a trusted certificate entry in the KeyStore will also act as a trusted certificate as if it was in a TrustStore.

[2021-09-27 23:26] abhishekm-egain opened #6934 "How Jetty handles class data sharing"
**Jetty version**
jetty-10.0.6 - 29 June 2021

**Java version**
OPENJDK 13.0.2

**Question**
We  are passing Class data sharing files with JVM Attribute:  -XX:SharedArchiveFile=c:\jsa\ApplicationClassData.jsa while starting the jetty.  We noticed that able to load the classes from the JSA file.
We are trying to follow the jetty code, which is responsible to use JSA File.
Can someone please provide

[2021-09-28 07:21] prateekkohli2112 commented on #6896
I read below statement in HTTP2 RFC:

### If the sender of a SETTINGS frame does not receive an acknowledgement within a reasonable amount of time, it MAY issue a connection error (Section 5.4.1) of type SETTINGS_TIMEOUT.

But it is not happening in Jetty client.

In case of idle timeout GOAWAY frame will be sent, but no SETTINGS_TIMEOUT frame.

[2021-09-28 07:40] sbordet commented on #6896
@prateekkohli2112 it's specified as a `MAY`, see https://datatracker.ietf.org/doc/html/rfc2119.

We do not do this timeout because we have another timeout, the idle timeout, that achieves the same: it eventually closes the connection.

[2021-09-28 07:41] sbordet commented on #6934
I'm afraid is it not clear what you are doing, nor what you are trying to achieve.

Jetty is not responsible to use the JSA file. The JVM loads the JSA file.

[2021-09-28 08:28] abhishekm-egain commented on #6934
Hi @sbordet ,

Thanks for your response. trying to re-phrase the question.
While starting jetty server, we are using following command.

### With Jetty:
java -XX:SharedArchiveFile=c:\jsa\ApplicationClassData.jsa -jar {JETTY_HOME}\start.jar --lib=c:\jars\main.jar

- main.jar has references of other jars in its manifest file.
- ApplicationClassData.jsa contains the references of classes from all jar

[2021-09-28 13:25] sbordet commented on #6934
Sorry, I still don't understand.

If everything works with Jetty, then great.

The other case without Jetty we have no idea what classes you use and what you are doing, so we cannot help.

[2021-09-28 13:41] joakime commented on #6934
Note that `-jar {JETTY_HOME}\start.jar` could fork a new JVM depending on your configuration in your `${jetty.base}`.
In the working case you might _not_ have a `-XX:SharedArchiveFile` argument actually present on the JVM that is in use.

[2021-09-28 15:17] joakime commented on #6934
Make sure you always use `-Xshare:on` with `-XX:SharedArchiveFile=<path>` and don't leave it at "auto", that way you'll discover issues with your JVM startup faster.
You can also check the flags in use by the running JVM (using the pid of the JVM) to know what's actually in use (`jinfo -flags <pid>`), this result might surprise you.

Anyway, this doesn't seem to be a Jetty issue, so I'm going to c

[2021-09-28 15:17] #6934 closed, assigned to nobody

[2021-09-28 16:42] AlBundy33 commented on #6929
Maybe this was really due to a wrongly converted file.

It seems that the customer has created the pfx manually from p7b and the private-key file.

Today I've extracted the private key and the certifactes from the from pfx and p7b and created a new pfx - it seems that this is working now because I can see the complete chain if I display the certificate in chrome.

[2021-09-28 16:42] #6929 closed, assigned to nobody

[2021-09-28 21:50] kabutz opened #6938 "module-info.java file do not use the canonical order for the elements"
It seems that the canonical order of the elements inside the module-info.java file in the OpenJDK/src is always the same:

`module some.module.name {
requires ...

requires transitive ...

exports ...

exports ... to
...

opens ... to
...

uses ...

provides ... with
...
}`

The order in our module-info.java files were a bit muddled, with requires sometimes appearing near the end.

Furthermore, th

[2021-09-28 21:51] kabutz commented on #6938
@sbordet

[2021-09-28 23:23] firoj07 commented on #6447
I will strictly follow and promote the code of conduct Thank you and connecting numbers

[2021-09-29 12:14] DhanunjayaY opened #6941 "Scanned from multiple locations - Jetty Runner"
**Jetty version** 9.4.43.v20210629

**Java version** Java 1.8

**Question**

Greetings,
I've noticed that the recent versions of the jetty runner is logging an (scanned from multiple locations) warning.
It may cause a significant delay while starting a jetty server due to printing to the console.

Here I  would like to know, Is this feature is added in recent versions and is there any way to hide

[2021-09-29 12:21] joakime commented on #6941
You have the same class in multiple locations.

This is a **really** bad idea, as there is no classloader order guarantee that the same class from the same location will be loaded with each run.
One run will work with class A (version 1.0) from A.jar and work, then the next run will load class A (version 2.2) from B.jar and break.

Lets take a look at one of your entries, but broken down.

[code]

[2021-09-29 12:21] #6941 closed, assigned to nobody

[2021-09-29 12:24] olamy commented on #6925
https://github.com/eclipse/jetty.project/pull/6500

[2021-09-29 12:37] DhanunjayaY commented on #6941
Thanks, @joakime for quick pointers

Yes, I understand the warning and it's valid … just want to ensure is it added recently as the same warning was not seen in _9.2.26.v20180806_ version.

Thanks..

[2021-09-29 12:51] joakime commented on #6941
"added recently" ??

It was committed to Jetty 9.4.x in Sept 2017.
That was 9,435 commits ago.
There have been 70 minor releases since then.
There have been 4 major releases (9.3.0, 9.4.0, 10.0.0, and 11.0.0) since then. (Reminder, Jetty versioning since 1995 is `<servlet_support_rev>.<major_version>.<minor_version>`)
The major releases branches 9.2.x and 9.3.x have been declared EOL (End of Life)

[2021-09-30 12:28] lachlan-roberts commented on #6072
@joakime @gregw can we close now that this has been merged to 9.3?

[2021-09-30 12:32] joakime commented on #6072
@lachlan-roberts yes, this is complete in my mind.

[2021-09-30 12:32] #6072 closed, assigned to nobody

[2021-09-30 12:39] #6566 closed, assigned to lachlan-roberts

[2021-09-30 12:40] #6601 closed, assigned to lachlan-roberts

[2021-09-30 12:41] lachlan-roberts commented on #6601
Is fixed in `10.0.x`/`11.0.x` branches and will be released in upcoming `10.0.7`/`11.0.7` releases.

[2021-09-30 18:59] roman-kitko opened #6947 "Do not include jakarta.servlet packages in jetty.servlet.api"
Jetty version : **11.06 **

java version : **15,16,17**

OS : **any**

jetty.servlet.api module, which is used in org.eclipse.jetty.server includes jakarta packages.

But there are already now official jakarta jars that other projects normally use as dependency :
https://mvnrepository.com/artifact/jakarta.servlet/jakarta.servlet-api

Those jars are automatic java modules, so they export all packag

[2021-09-30 19:03] joakime commented on #6947
The official jakarta servlet api is broken for JPMS (see xsd / resource loading issues with the official jars).

Jetty 10.x and 11.x both use fixed jakarta.servlet (artifact) jars with proper JPMS layer and include the web/jsp/servlet resources that cause the official jars to be so broken.

This might be fixed in Jakarta EE 10, but not before then, as Jakarta EE 9 (and earlier) will never have the

[2021-09-30 19:03] #6947 closed, assigned to nobody

[2021-09-30 19:05] joakime commented on #6277
Opened PR #6948 for minimal backport to `jetty-9.3.x` of fix (no tests)

[2021-10-01 01:17] janbartel commented on #6915
@ArfyFR you didn't answer the question of which docker image you are using.

[2021-10-01 02:30] lachlan-roberts commented on #6926
This exception means that the client has terminated the connection before sending all the expected content. Could be a bug in the client code or maybe just the client had a network failure before it had sent all its content.

[2021-10-01 06:42] ArfyFR commented on #6915
People from build team just told me: docker from scratch, they don't use official docker images as lot of other tools and backend DEV are included.

And about "forked JVM": I replied, all other environment variables before the
`java -jar "$JETTY_HOME/start.jar" $JETTY_OPTIONS $JETTY_STOP_OPTIONS --module=ext jetty-started.xml
`
are kept ... but LD_LIBRARY_PATH vanished.

Inside a deployed WAR, I p

[2021-10-01 07:25] #6938 closed, assigned to sbordet

[2021-10-01 08:03] sbordet opened #6950 "Jetty Releases 10.0.7, 11.0.7"
**Jetty Versions:**
This release process will produce releases:
10.0.7, 11.0.7

**Target Date:**
2021-10-11

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "r

[2021-10-01 08:03] #6403 closed, assigned to nobody

[2021-10-01 11:02] MacX19 opened #6951 "AsyncListener.onComplete() is sometimes not called"
**Jetty version(s)**
9.4.43.v20210629

**Java version/vendor** `(use: java -version)`
java version "1.8.0_261"
Java(TM) SE Runtime Environment (build 1.8.0_261-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.261-b12, mixed mode)

**OS type/version**
Windows 10 1809

**Description**
I use StatisticsHandler to perform a graceful shutdown. Sometimes server.stop() waits until timeout. There are no ac

[2021-10-01 20:17] sbordet commented on #6951
You are waiting 965 ms on the server and cancelling after 1 second on the client, and this leads to races.

Sometimes you can complete, sometimes you cannot write, sometimes you get a reset.

`onComplete()` is only called for a successful `complete()`.

For the failure cases, you have the other methods.

As long as the total number of notifications you get is correct (complete+error+failed=total),

[2021-10-02 12:26] MacX19 commented on #6951
If so, the StatisticsHandler would not work properly when I set `gracefulShutdownWaitsForRequests` to `true`
https://github.com/eclipse/jetty.project/blob/9f1f1fea1bd84590739cdf26b04e92052a1fa465/jetty-server/src/main/java/org/eclipse/jetty/server/handler/StatisticsHandler.java#L264-L273
StatisticsHandler uses onComplete() for graceful shutdown:
https://github.com/eclipse/jetty.project/blob/9f1f1f

[2021-10-04 14:09] rymsha opened #6958 "Default ErrorHandler may be used for fishing attacks"
**Jetty version(s)**

ANY

**Java version/vendor** `(use: java -version)`

ANY

**OS type/version**

ANY

**Description**

One of our customers pointed out that it is possible to use Default ErrorHandler for "fishing" attacks as it is possible to print a message from the URL (obscured) on a legitim domain.

The suggestion for a fix is to introduce other flag controlling the output of _URI_.
It wou

[2021-10-04 15:45] #6875 closed, assigned to joakime, sbordet

[2021-10-05 00:35] gregw commented on #6951
Hmmmm there indeed could be an issue with the `StatisticHandler`, as it may need to decrement some more counters in `onError`... but I'm not sure we can entirely distinguish between a final onError call vs one that might be called before a onComplete?   Hmmm the listener may need to be stateful?

@olamy do you have any spare cycles  to write a test for this... probably adding a test to StatisticsH

[2021-10-06 00:07] janbartel opened #6963 "Update to bndlib 6.0.0"
jetty-10.0.x

Will require some work to resolve incompatibilities with pax exam version for osgi testing.

[2021-10-06 11:39] joakime opened #6965 "Expose Spec `ServerContainer.upgrade()` API"
**Jetty version(s)**
9.4.x +

**Description**

The upcoming `jakarta.websocket.server.ServerContainer.upgradeHttpToWebSocket(Object httpServletRequest, Object httpServletResponse, ServerEndpointConfig sec, Map<String,String> pathParameters)`
from https://github.com/eclipse-ee4j/websocket-api/pull/375 has shown industry adoption of this API in other containers.

spring-framework is using this patte

[2021-10-06 14:25] jnehlmeier opened #6966 "URL paths with german umlaut characters can not be served on OS X"
**Jetty version(s)**

9.4.44

**Java version/vendor** `(use: java -version)`

openjdk version "15.0.2" 2021-01-19
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.2+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 15.0.2+7, mixed mode, sharing)

**OS type/version**

OS X - 10.15.7 - using APFS (case insensitive, which is the default)

**Description**

We have a file called `übersicht.txt` and t

[2021-10-06 15:21] joakime commented on #6966
This was originally filed as Issue #4000

The Mac OSX APFS FileSystem performs UTF-8 normalization to NFD encoding (IIRC), and you cannot access it via NFC encoding.
In our maintenance branch `jetty-9.4.x` we have a `SameFileAliasChecker` which will work for you, but be aware that the active/stable codebases in `jetty-10.0.x` and `jetty-11.0.x` have that class deprecated.

@lachlan-roberts @gregw

[2021-10-06 15:41] jnehlmeier commented on #6966
Oh didn't found that

With the old HFS+ the file system did normalize to NFD in OS X. Now with APFS this has been moved a layer up into Apple APIs. So if you use Apple TextEdit and save a file, if will be saved as NFD because it uses Apple APIs. If you open terminal and touch a file it will be saved as NFC, since it does not use high-level Apple APIs.

So the encoding on disk when using APFS can b

[2021-10-06 16:37] joakime commented on #6966
You can add/remove arbitrary `AliasChecker` implementations against the `ContextHandler`.

 * `void ContextHandler.addAliasChecker(AliasChecker check)`
 * `List<AliasChecker> ContextHandler.getAliasCheckers()`
 * `void ContextHandler.setAliasChecks(List<AliasCheck> checks)`
 * `void ContextHandler.clearAliasChecks()`

Implementations of `ContextHandler`, like `ServletContextHandler` or `WebAppCont

[2021-10-06 17:58] joakime commented on #6685
Done.

[2021-10-06 17:58] #6685 closed, assigned to olamy

[2021-10-07 06:16] janbartel commented on #6926
@Masber seems your question is answered - the client has closed the connection when the server side is expecting some content in order to log it.

[2021-10-07 06:16] #6926 closed, assigned to nobody

[2021-10-07 06:52] janbartel commented on #6915
@ArfyFR I've tried setting the LD_LIBRARY_PATH and modifying the standard jetty test webapp to print out both the LD_LIBRARY_PATH and the java.library.path and both are populated. I'm using Ubuntu linux.
I would check what your docker images are doing with LD_LIBRARY_PATH.

[2021-10-07 06:59] ArfyFR commented on #6915
@janbartel I also populated the LD_LIBRARY_PATH inside the docker.  In bash it's OK
In scripts, it's OK
But inside Jetty/Java, it's reset-ed to NULL

You're also using openjdk  ?  Another version ?

[2021-10-07 10:28] joakime commented on #6915
@ArfyFR is your custom docker image causing a forked JVM with your specific configuration? (the question I asked 14 days ago)
That can easily make it appear to your code that the LD_LIBRARY_PATH is being reset.

If you use the official docker image you'll see that we intentionally work around configurations that cause forking to prevent situations like yours.
First step, verify that you are using

[2021-10-07 12:09] ArfyFR commented on #6915
@janbartel I asked to the docker team:
The docker base used is a centos:7 official with java-1.8.0-openjdk

How can they test if the "custom docker image causing a forked JVM" ?

[2021-10-07 13:00] joakime commented on #6915
It's not docker causing the forked JVM, it's the configuration of your `${jetty.base}` that could cause the forked JVM.
Some configurations (in your `${jetty.base}`), be it something as mundane as logging, or attempts to configure the JVM (be it memory settings, or agents, or gc tweaking, or the existence of some system properties, etc) will trigger the `start.jar` to fork a JVM to satisfy that co

[2021-10-07 14:50] ArfyFR commented on #6915
@janbartel
Here is the way our "jetty" is build for docker

A Jetty 9 not modified then (jetty-9.4.24.v20191120 in production)
Then
[code]
Nothing else is modified "by hand"
One of these force a forked JVM ?

I had a look at https://github.com/eclipse/jetty.docker/tree/master/9.4-jdk8 but didn't notice something about forked JVM
(the set -- java ... ?)

And once again, **other exports I do before

[2021-10-07 15:04] joakime commented on #6915
Assuming you have no other config, or a pre-existing `${jetty.base}`, or an intermediate jetty-dir ...

Then `--add-to-start=logging-jul` will fork the JVM on Jetty 9.x (it does not fork on Jetty 10.x as the logging layer has been completely rewritten)

This because in order to have JUL logging actually work with Jetty 9.x logging, it has to be enabled from the start of the JVM, practically speaki

[2021-10-07 15:09] joakime commented on #6915
The whole effort around `--dry-run` is how the forked JVM is avoided.

If you can upgrade to Jetty 9.4.44.v20210927, then you have a better option (this extension to the `--dry-run` feature does not exist on 9.4.24)

[code]

[2021-10-07 23:39] janbartel commented on #6915
@joakime @ArfyFR the missing `LD_LIBRARY_PATH` is nothing to do with jetty, nor with the jvm, but more to do with however @ArfyFR is setting up his docker.

You can verify all this by running the following command, which assumes I have a jetty 9.4 distribution in the working directory:

`docker run -it --rm  -p 8080:8080 --mount type=bind,source="$(pwd)",target=/tmp/jetty jetty:latest bash -c "cd

[2021-10-07 23:50] janbartel commented on #6687
Done.

[2021-10-07 23:50] #6687 closed, assigned to nobody

[2021-10-08 02:04] lachlan-roberts opened #6969 "Getting 404 failures when trying to enable `logging-log4j` module."
**Jetty version(s)**
9.4.44, and does not occur in 9.4.43 or earlier.

**Description**
Getting 404 failures when trying to enable `logging-log4j` module.

[code]

[2021-10-08 04:26] olamy commented on #6969
temporary workaround is to start jetty:
`java -jar start.jar log4j.version=1.2.17`

[2021-10-08 09:42] Charchad commented on #6128
Hi, I'm having a similar issue.

I'm currently implementing a chatbot using cometd, so in my Android project I have the following dependency:

[code]

Whenever I try to build the project I get the following error:

[code]

So the error is triggered in `jetified-jetty-util-9.4.33.v20201020.jar:org/eclipse/jetty/util/ModuleLocation.class`

My current min SDK version is 22 so change it to 26 is not a

[2021-10-08 10:39] joakime commented on #6128
@Charchad upgrade your version of Jetty 9.4.x
That specific one was fixed in issue #6052

[2021-10-08 11:04] Charchad commented on #6128
@joakime According to your link and if I understand correctly the issue should have been fixed on `9.4.39.v20210325`, right?

For me it still doesn't work

[2021-10-08 11:15] Charchad commented on #6128
I just tried with `implementation 'org.eclipse.jetty:jetty-util:11.0.6'` which is the latest version for this library, and it gives the same error but just for another class:

[code]

[2021-10-08 13:52] joakime commented on #6128
Jetty 11.x is for Java 11+ with the new `jakarta.servlet` namespace that Jakarta EE 9 introduced.

Stay in Jetty 9.4.x series for Android.
Use https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.44.v20210927

[2021-10-08 15:22] dimas opened #6973 "Jetty starts consuming CPU that remains high even without any traffic"
**Jetty version(s)**
`9.4.41.v20210516`
`9.4.43.v20210629`

**Java version/vendor** `(use: java -version)`
[code]
**OS type/version**
Ubuntu 18.04

**Description**
We had an issue with some of the production servers spiking with CPU use.
We do not know what triggered it. When affected servers are removed from load balancer and all traffic to them ceases, the CPU usage still remains high.

About 5

[2021-10-08 19:14] joakime commented on #6973
The stacktrace shows the following, which gives hints that you are suffering from an OLD security issue ...

[code]

This stacktrace is during a POST request parsing of a request with `Content-Type: application/x-www-form-urlencoded`.

The most important thing you need to check right now.
Make sure you have sane values for the "maxFormContentSize" and "maxFormKeys".

Defaults:

 * `ContextHandler.

[2021-10-08 19:22] joakime commented on #6973
Also of note, logback-access was written in the time of Jetty 7.x and Jetty 8.x, and hasn't kept up with Jetty 9.1, 9.2, 9.3, or 9.4 changes.

The Request Logging facilities in Jetty 9.4.44, for example, never trigger request body parsing just to log a request (oh that's a decision in logback-access that has bitten many a user of logback-access.  Which is what your stacktrace shows btw.)

Note tha

[2021-10-08 19:28] joakime commented on #6973
The stacktrace also shows a bug in logback-access ...

[code]

The parser failed, triggered a `badMessage`, and then logback-access attempted to log the request.
But the first thing it does is attempt to parse the request body content.
Uh, the request is bad, there is no valid request body content.
logback-access should not be attempting to parse the request body content.

[2021-10-08 19:30] joakime commented on #6973
@gregw What do you think about flagging the bad `Request` object so that calls to access the request body also fail early with an IOException?

[2021-10-08 19:42] joakime commented on #6973
@gregw Perhaps even have the Request be set to "complete" before the `onCompleted()` is called, to prevent behavior that can alter the Request after it's complete and before it's recycled. (such as a logging framework attempting to read the request body content after the `Request` is complete).

[2021-10-08 19:48] dimas commented on #6973
@joakime , first of all thanks for a very quick reply.
It will take me some time to dive into your comment regarding the logging stuff but here is a quick reply for the first one. "Some sort of attack" was my second thought (after "Amazon load balancer issue") because these servers are often probed by various scanning tools so it would not surprise me....

However... You are saying it was fixed in

[2021-10-08 19:50] slipcon opened #6974 "Major websocket memory change in 9.4.36"
**Jetty version(s)**

We've been using 9.4.18 for a long time, but having trouble updating to the latest 9.4.x.
I've narrowed the problem down to starting in 9.4.36.

**Java version/vendor** `(use: java -version)`

openjdk version "11.0.2" 2019-01-15

**OS type/version**

Seen on multiple OSes - MacOS, Windows & Linux.

**Description**

Our application has a websocket servlet, which creates a clas

[2021-10-08 20:01] joakime commented on #6974
Upgrade.

Jetty 9.4.36 has a buffer aggregation bug fixed in PR #6056 that could be biting you.

Please always upgrade to the newest version in your major version space (you are using 9.4.x, which means [9.4.44.v20210927](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.44.v20210927) is your best choice for upgrade)

BTW, version 9.4.36 is subject to several published security advis

[2021-10-08 20:04] slipcon commented on #6974
Sorry I should have been clearer -  all versions 9.4.36 and newer, including 9.4.44,  show the same behavior for us.   The security advisories are why we are trying to move forward from 9.4.18

[2021-10-08 20:25] joakime commented on #6974
This should be upgraded as well.
Version 11.0.2 [expired on April 16, 2019](https://www.oracle.com/java/technologies/javase/11-0-2-relnotes.html)
Version 11.0.12 is available. (note that [this version expires on Oct 19, 2021](https://www.oracle.com/java/technologies/javase/11-0-12-relnotes.html), so keep an eye out for a newer release soon)

I take it you did a memory dump?
Where are those HeapByt

[2021-10-08 20:43] dimas commented on #6973
Re logback bug that makes it parse the request body content... I do not think logback knows the request should not be logged - this code
[code]
sends the request to logger like any other request. And I checked Jetty's own `CustomRequestLog` code and I do not see any special handling for "bad message" there - these requests are treated the same way as any normal ones. Maybe I am missing something.

[2021-10-08 20:48] slipcon commented on #6974
Thanks again for your help -  I have tried other JVMs, I don't think thats the issue but I will update to the latest next week to be sure.

I am using YourKit - have taken many memory dumps.    Here's a path view of the object's path just a few minutes after starting the server, with just a couple of clients connected.    On older Jetty (<= 9.4.35)  the HeapByteBuffer retained size sticks around 5

[2021-10-08 21:23] joakime commented on #6915
Went down a rabbit hole here today.

Started out by just creating a simple `${jetty.base}` and including 1 custom XML file.

[code]

When executing you will see the ENV printed out ...

[code]

The ENV in your docker image is greatly impacted by the way you create your docker image.

For example, docker-compose have several bugs around how ENV variables are created/populated during the different p

[2021-10-08 21:25] joakime commented on #6974
@lachlan-roberts can you take a look here too?

[2021-10-08 21:33] joakime commented on #6973
`CustomRequestLog` will use the committed state of the request/response objects to avoid changes caused by the application after the request/response is committed.
It also does not use APIs that will trigger state changes in the request/response objects.

[code]

The fact that logback-access calls `Request.getParameterNames()` is a big no-no for request logging, it should never do that.
That will

[2021-10-08 21:49] joakime commented on #6973
Here's another example of where logback-access gets things wrong.

https://github.com/qos-ch/logback/blob/v_1.2.6/logback-access/src/main/java/ch/qos/logback/access/jetty/JettyServerAdapter.java#L49

[code]

That will not have the correct response status code, as the status code is not immutable on the servlet spec.
Eg: It can be sent as one value on the network, and then changed after the fact, b

[2021-10-09 12:13] dimas commented on #6973
@joakime , I see your point now. Thanks for taking time to explain it.

I agree that logback should not have triggered request reading by trying to access request parameters. Unfortunately it does and I am sure they won't accept a PR to stop it from happening because there is probably a lot of people out there who now rely on it as their logging appenders/formatters are configured to log certain p

[2021-10-09 13:06] joakime commented on #6973
There's absolutely no need to switch from `logback` to `log4j`. (We here at Eclipse Jetty are huge fans of slf4j and logback)

Note that `logback-access` is just a small optional sub-component of `logback`, you can still use the rest of `logback` as-is without `logback-access`, even with `CustomRequestLog`.

If you decide to look into `CustomRequestLog`, know that you can set it to use the [`Slf4j

[2021-10-09 13:41] joakime commented on #6973
I went ahead and opened 2 issues on the logback side as well ...

* https://jira.qos.ch/browse/LOGBACK-1580 - logback-access uses response.getStatus improperly
* https://jira.qos.ch/browse/LOGBACK-1581 - logback-access should not use Request.getParameterNames

[2021-10-09 21:13] MacX19 commented on #6951
I also noticed that the `_errors` variable
https://github.com/eclipse/jetty.project/blob/4aed1f33772a685689ff48af9e178dd62951a112/jetty-server/src/main/java/org/eclipse/jetty/server/handler/StatisticsHandler.java#L61
is missing in the statsReset() method
https://github.com/eclipse/jetty.project/blob/ca8d147ec4de9bc9174594a53f3ff0002c493466/jetty-server/src/main/java/org/eclipse/jetty/server/handle

[2021-10-10 09:35] dimas commented on #6973
Thank you for reaching out to logback team!

Re `CustomRequestLog` - I would happily use it but from the code I read it seems like it can only form plaintext strings. We moved to structured text (JSON) everywhere long time ago because it allows us to have these logs nicely indexed in either elasticsearch/logstash/kibana stack or in CloudWatch. Plaintext feels just wrong when the app started with a

[2021-10-10 12:08] joakime commented on #6973
Can you share your logback-access configuration?

[2021-10-10 12:46] dimas commented on #6973
Sure. https://gist.github.com/dimas/c5df027a86f9fd31745ad5ce860c6ab9

Feels like I need to explain myself because that whole thing may look overcomplicated (and it probably is).
Historically we used ELK (elasticsearch+logstash+kibana) so our main log appender was https://github.com/logstash/logstash-logback-encoder that was configured to format log entries as JSON and send them directly to logstas

[2021-10-11 02:29] #6969 closed, assigned to nobody

[2021-10-11 04:00] gregw commented on #6367
@sbordet , @janbartel, @lorban, @joakime, @lachlan-roberts, @olamy, @jmcc0nn3ll

The servlet-api has accepted the [removal of Object Wrapper Indentity](https://github.com/eclipse-ee4j/servlet-api/pull/413)(OWI), which is a big win for reducing complexity in jetty-12... but might give us a bit more work to do!

The primary driver for removing OWI is to avoid races of async handlers accessing the re

[2021-10-11 04:04] gregw commented on #4275
Need to cherry-pick #6939 to jetty-10

[2021-10-11 07:40] malvarezdiaz opened #6977 "Reloading web application (Enter) fails due to java.lang.ClassNotFoundException error"
Reloading a web application executed with maven-jetty-plugin 9.4.43.v20210629, 9.4.44.v20210927 or 11.0.6 (at least) is failing when executing with apache maven 3.8.2 or 3.8.3, but it worked fine with maven 3.8.1.

Error is different with maven-jetty-plugin 9.x vs 11.x ,but in both cases, the base error is due to java.lang.ClassNotFoundException error (different classes in each case, but classes w

[2021-10-11 07:46] olamy commented on #6977
any sample project to reproduce?

[2021-10-11 09:35] malvarezdiaz commented on #6977
I have attached a simple Apache Maven project with two submodules presenting the fail in a very simple scenario:
 - Subsytem test-project-util defines a class extending HttpServlet
 - Subsystem test-project-service defines a class HelloServlet extending the class in the test-project-util subsystem

NOTE: In the jax-rs project, error is different, but probably the cause is the same.

Steps to repro

[2021-10-11 10:21] olamy commented on #6977
sounds due to a core maven issue https://issues.apache.org/jira/browse/MNG-7220 see all linked issues...
3.8.1 seems to be the safe option...
but I will look into more details.

[2021-10-11 10:33] malvarezdiaz commented on #6977
https://issues.apache.org/jira/browse/MNG-7220 seems to affect to 3.8.2. I am not sure if it is fixed in 3.8.3, but problem described in https://github.com/eclipse/jetty.project/issues/6977 is also affecting Apache Maven 3.8.3. If you prefer, I could open this task in the Apache Maven core project and close this one.

[2021-10-11 10:42] olamy commented on #6977
there are many issues in Apache Maven core related to.
But wait I need to confirm it;s due to this. ATM it's just a guess

[2021-10-11 13:02] joakime commented on #6973
Thanks.

One thing I noticed immediately is something that's surprised logstash users in the past, so I mention it to make sure you are aware of it too.

If the request fails during HttpParser, you have essentially an empty request, which will result in no dispatch to a context, and a 400 response to the client with a connection closure.
Lastly, it will be sent to the RequestLog implementation.

T

[2021-10-11 13:11] joakime commented on #6973
That is ancient advice about the request thread.

That request thread statement was true around Servlet 2.3 (about the end of 2001).

The request thread statement became no longer true when Servlet 2.4 (end of 2003) was introduced and the `SingleThreadModel` was deprecated in the servlet spec.

Servlet 3.0 (end of 2009) put another nail in that coffin for the request thread behaviors.
The idea tha

[2021-10-11 13:33] dimas commented on #6973
That is correct. But I kinda understand why it is the way it is - when `prepareForDeferredProcessing()` is called, logback does not know yet what appenders will end up receiving this log event. So it is not known what of the request properties be required. There in theory can even be multiple appenders with different requirements. Because of that they opted for just copying everything available. N

[2021-10-11 23:48] olamy commented on #6977
@malvarezdiaz ok definitely related to Maven core issue..
Just looking at your poms.
I would recommend you set the `jetty-maven-plugin` version in parent pom using `pluginManagement` section:

[code]
This will enforce using last 9.4.x version and with such configuration you will be able to simply `mvn jetty:run` from top directory and this will include compiling every dependant modules (i.e no mor

[2021-10-11 23:48] #6977 closed, assigned to nobody

[2021-10-12 04:12] lachlan-roberts commented on #6974
This looks like it would be related to this change from PR #5574 which was introduced in `9.4.36`. This changes the WebSocket `CompressExtension` to use buffers from the `ByteBufferPool` instead of allocating temporary ones. I can't see any possible causes for a memory leak here. The logic for this is contained within `ByteAccumulator` which is always used from a try with resources block, so it sh

[2021-10-12 04:57] gregw commented on #6367
Another important issue is going to be naming.     Currently we have modules like `jetty-servlet`, `jetty-annotation`, `jetty-webapp` that are all implicitly versioned against the servlet-api by the version of jetty.

If we go the jetty-nested approach, we can keep this as we end up just saying that a context is a jetty-10, jetty-11 or jetty-12 context and the classloader has different versions of

[2021-10-12 05:03] janbartel commented on #6367
If we wind up going this route, IMHO this is the best option.

[2021-10-12 07:52] malvarezdiaz commented on #6977
Ok, thanks. I have created a new issue in Maven core: see https://issues.apache.org/jira/browse/MNG-7300 .

[2021-10-12 11:23] olamy opened #6980 "ELContextCleaner failed because cannot access a member of class javax.el.BeanELResolver with modifiers "private static final""
**Jetty version(s)**
10.0.6

stacktrace:
[code]

[2021-10-12 11:25] olamy commented on #6980
even if it's only a warning and do not cause more issues. It simply doesn't work the field use by reflection must be marked as accessible.

[2021-10-12 23:51] janbartel commented on #6980
@olamy what jvm was this using?

[2021-10-13 00:08] janbartel opened #6985 "ELContextCleaner references javax class in jetty-11"
jetty-11

https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/listener/ELContextCleaner.java#L50

[2021-10-13 00:38] olamy commented on #6980
`Java version: 11.0.12, vendor: Eclipse Foundation, runtime: /Library/Java/JavaVirtualMachines/temurin-11.jdk/Contents/Home`
I discovered this by implementing jetty-10 support for Arquillian.
https://github.com/arquillian/arquillian-container-jetty/pull/71

[2021-10-13 06:46] gregw commented on #6367
@joakime if you want to make the case that we should get rid of `org.eclipse.jetty.util.Resource` and just use `Path` instead... then now is the time to make that case!

[2021-10-13 07:58] gregw commented on #6367
Below is a thought bubble of what a core Request/Response could look like.

This is orthogonal to any handling of the request/response so there are no methods like startAsync etc. as they are all something a handling layer might wrap around this.  This idea is that a connector/connection can provide implementations of these instead of talking to HttpChannel/HttpTransport.     These requests would

[2021-10-13 14:53] dimas commented on #6973
@joakime we reproduced the problems with really simple logback config (see below).
Requests that we send there go into that infinite loop trying to read data from the connection and eating server CPU. You can send multiple requests potentially eating all the threads.

Do you want to provide the reproducible case here or should we go security issue route?

[code]

[2021-10-13 20:15] markslater opened #6987 "jetty-unixdomain-server is missing from jetty-bom"
**Jetty version(s)**
10.0.7/11.0.7

**Java version/vendor** `(use: java -version)`
N/A

**OS type/version**
N/A

**Description**
`org.eclipse.jetty:jetty-bom:10.0.7` doesn't include `org.eclipse.jetty:jetty-unixdomain-server:10.0.7`

**How to reproduce?**
N/A

[2021-10-13 20:47] joakime commented on #6973
I'm not convinced it's a security issue (yet).
I've been attempting to recreate the conditions in a unit test, but have failed so far.

[2021-10-13 20:56] pbtura opened #6989 "Attempting to add the slf4j-log4j is resulting in 404 errors"
I'm currently in the process of setting up a new jetty 9.4 server. I'm trying to add the slf4j implementation module for logging. When I run the command `java -jar start.jar --add-to-start=slf4j-log4j` the maven download is failing with an http 404 error. Looking at the stacktrace, it seems like it doesn't know which version of log4j it is supposed to be downloading. Is there a configuration step

[2021-10-13 20:57] markslater opened #6990 "UnixDomainServerConnector throws misleading exception on invalid socket path"
**Jetty version(s)**
11.0.7

**Java version/vendor** `(use: java -version)`
[code]

**OS type/version**
[code]

**Description**
Whenever any `Throwable` is thrown binding to a UNIX domain socket, `UnixDomainServerConnector` wraps it in an `UnsupportedOperationException` with message `Unix-Domain SocketChannels are available starting from Java 16, your Java version is: <your java version>`.  Howeve

[2021-10-13 22:11] joakime commented on #6973
I've been able to get your configuration running with the following `${jetty.base}` ...

[code]

It's been hard to troubleshoot as there so many bugs in the logback-access implementation.

Take this example.

![logback-access-jetty-status-failure-httpparser-error](https://user-images.githubusercontent.com/191721/137218414-d9cbeae5-1ebe-4c47-817c-634c0201592d.png)

The first request is a `GET / HTT

[2021-10-13 22:58] olamy commented on #6989
@pbtura have a look at the same issue https://github.com/eclipse/jetty.project/issues/6969
there is a workaround
`java -jar start.jar --add-to-start=slf4j-log4j log4j.version=1.2.17`

[2021-10-13 22:59] #6989 closed, assigned to nobody

[2021-10-13 23:56] dimas commented on #6973
My colleague created this test case - https://github.com/baranchikovaleks/jetty-6973

To be honest I do not know if server returns valid response or not - we never looked at the response. The issue is that server thread hangs starting eating the CPU.
Another check we had is to set a breakpoint in logback's `AccessEvent.prepareForDeferredProcessing()` and when it is hit - step over couple of method

[2021-10-14 00:06] #6987 closed, assigned to nobody

[2021-10-14 03:42] ale-class opened #6993 "org.eclipse.jetty.http.BadMessageException: 400: Bad Request, org.eclipse.jetty.util.Utf8Appendable$NotUtf8Exception: Not valid UTF8! byte D0 in state 2 of jetty9.4.28.v20200408"
[**Jetty] version(s)**
[jetty-9.4.28.v20200408]
**Java version/vendor** `(use: java -version)`
openjdk version "1.8.0.282"
**OS type/version**
Red Hat Enterprise Linux Server release 7.9（Maipo）
**Description**
Looking forward to your reply. Please help solve the following issues:
My request URL contains Chinese, such as "http://127.0.0.1/demo?abc=中文", and the jetty version is 9.4.28.v20200408. Jet

[2021-10-14 11:26] joakime commented on #6973
That reproduction is odd.

The looping I experience is actually caused by logback-access not being able to write the log file (the directory `/tmp/log/` doesn't exist on my system, and logback-access version 1.2.4 has a bug that keeps retrying infinitely).

When I upgrade logback-access to 1.2.6 I stop experiencing the the spin on attempting to create/write to the log file.
But then it just simply

[2021-10-14 11:58] joakime commented on #6993
[code]

That's not valid HTTP, this is an un-encoded URL, which means your HTTP Client is not URLEncoding the query before sending it.
Fix your client.  If this is manually entered, you made a mistake.
If this is created by javascript, then you need to encode the query before sending it. (eg: `encodeURI()`)
If this is due to clicking a link in your HTML, then you need to encode that query string i

[2021-10-14 12:28] charlieslade commented on #6980
Having the same problem when stopping embedded jetty server.

Is this problem with my code or jetty specific?

jetty version: 10.0.5
jvm version (openjdk): 11.0.10

[2021-10-14 13:09] dimas commented on #6973
Firs of all, my apologies for using a complex path to the log file. We did have this directory in `/tmp` so never ran into the issue you faced first.

We do normally upgrade Jetty when Github flags repository with a security advisory. I do not know where Github sources their data but none of our repositories with 9.4.41 is flagged with a vulnerability report.

What is the first version it went int

[2021-10-14 13:16] dimas commented on #6973
Checked - we have only two servers running `9.4.44`. They are running for 7 days and they did not see that spike in CPU during that time where `9.4.41` saw them multiple times already.

[2021-10-14 13:36] joakime commented on #6980
@charlieslade this is a flaw in the EL API code that Jetty is attempting to work around.

We've filed an issue about this with the Jakarta EL group at https://github.com/eclipse-ee4j/el-ri/issues/171
Our attempted work around is currently buggy in Jetty 10 and Java 9+ (which changed the reflection rules).
PR #6981 is the fix we need.

[2021-10-14 13:41] charlieslade commented on #6980
Got it, thanks!

[2021-10-14 14:50] ale-class commented on #6993
Thank you very much for your reply
For example, "http://127.0.0.1/demo?abc=中文", the jetty version is 9.4.28.v20200408 is indeed org.eclipse.jetty.http.BadMessageException: 400: Bad Request, on the IE browser. But, Jetty version before upgrade: 9.2.10.v20150310, this version supports Chinese parameters, the request is normal, please help explain why this is.
thanks

[2021-10-14 15:50] joakime commented on #6973
I filed a PR at logback to do things properly ... https://github.com/qos-ch/logback/pull/532

[2021-10-14 16:27] joakime commented on #6993
To support raw unicode in the HTTP request line or headers is to allow for a wide variety of security vulnerabilities.

Your specific scenario is the Request line, and more specifically the Query section.
Which is handled by the spec at https://datatracker.ietf.org/doc/html/rfc3986#section-3.4

Which defines the query as ...

[code]

The same spec, in _Appendix A_ shows the other definitions here.

[2021-10-14 16:49] joakime commented on #6993
This behavior with parsing raw unicode was fixed in commit dff8fb6b90952a92e308d7687bfaf597393876f4 as part of release Jetty 9.3.18.v20170406

[2021-10-14 16:54] ale-class commented on #6993
Thank you very much for replying.
I want to know if it is possible to add some configuration or some configuration in jetty version: 9.4.28.v20200408, which can be used in IE browser: such as:, "http://127.0.0.1/demo?abc=中文", The request is normal, so that the effect is the same as the jetty version 9.2.10.v20150310. Both Chinese parameters can be passed to obtain the normal data of the request, i

[2021-10-14 17:06] joakime commented on #6993
This is not normal, and will not be supported by Jetty.

The use of non-ASCII is strictly forbidden by multiple specs. (w3c, ietf, HTTP/1.1, URL, URI, etc).
More and more sub-specs are even declaring non-ASCII invalid (Accept-Encoding spec, Cookie spec, Content-Type spec, etc)
Note that non-ASCII is also strictly forbidden in HTTP/2 and HTTP/3, and a compliant implementation MUST fail the connecti

[2021-10-14 23:00] #6980 closed, assigned to olamy

[2021-10-15 07:28] ale-class commented on #6993
Thanks a lot for reply.
For "http://127.0.0.1/demo?abc=中文", I have problems with any version of jetty above 9.3.x (including 9.4.x, 10.xx, 11.xx). Any version of jetty version 9.2.x is normal. so,

Maybe jetty-9.3.18.v20170406 version fixes the problem you think, but it does not fix this problem: org.eclipse.jetty.http.BadMessageException: 400: Bad Request, org.eclipse.jetty.util.Utf8Appendable$No

[2021-10-15 08:42] dimas commented on #6973
Cool. Let's see what they think of it.
Looking at your PR I am curious why you always `catch`'ing `Throwable` everywhere... From my experience you do not want to deal with JVM errors, like classloader failures, OOMs etc. So I wonder why...
Here for example https://github.com/qos-ch/logback/pull/532/files#diff-9b9321bd50b274e1931fecd57ad95ae4eec570599d7cb7e8643995adcf86f7a8L503-R513 it used to be `

[2021-10-15 08:51] ale-class commented on #6993
Thanks for the reply.
The problem I encountered is not the same problem you mentioned.

Because the problem is triggered when I operate through IE browser, what happened at this time: IE browser sent a request to jetty service, jetty-9.3.x and above versions failed to parse as garbled and there was a problem, why jetty-9.2. Any version of x is normal. I did an experiment, all other external factor

[2021-10-15 20:30] greatpsi opened #7002 "Jetty 9.4.44 - Failed to instantiate SLF4J LoggerFactory"
Basic Jetty startup produces SLF4J exception:

me@awesome00:~/jetty/jetty-distribution-9.4.44.v20210927$ java -jar start.jar
Failed to instantiate SLF4J LoggerFactory
Reported exception:
java.lang.NoClassDefFoundError: org/apache/log4j/Level
	at org.slf4j.LoggerFactory.bind(LoggerFactory.java:150)
	at org.slf4j.LoggerFactory.performInitialization(LoggerFactory.java:124)
	at org.slf4j.LoggerFactory

[2021-10-15 20:40] joakime commented on #7002
@greatpsi  have a look at the same issue #6969
there is a workaround
[code]

[2021-10-15 20:40] #7002 closed, assigned to nobody

[2021-10-15 20:56] joakime commented on #6993
You don't need to configure IE directly to fix this.

You need to fix ...

* the HTML you serve to IE (to ensure that you don't rely on automatic encoding behavior that non-IE browsers do for you)

  An example of bad HTML would be ...

[code]

  The href isn't encoded, it should be.

* your Javascript you use on IE to encode queries before sending requests (IE doesn't do this automatically, like

[2021-10-15 21:18] #6993 closed, assigned to joakime

[2021-10-15 23:54] gregw commented on #6367
My ideas have progressed a lot in the last few days.  Here is my current thinking about API contracts:
[code]

@lachlan-roberts how does this match up semantics with your nested Request/Response?

[2021-10-15 23:56] gregw commented on #6367
Here is how the API above could work
![diagram-18182388981118054928](https://user-images.githubusercontent.com/70829/137565426-50ce6ce9-4b9f-4462-94d7-eb6a44414472.png)

[2021-10-16 00:04] gregw commented on #6367
@janbartel Note that the API's etc. I've outlined above are now below the level of scoping and dealing with servlet container concerns etc.   If we can convince the likes of @sbordet that something like the above is the way to go for the contract with the protocol layer, then we need to start focusing on how such request/responses can be wrapped to provide contexts, scoping, sessions, etc.
Note al

[2021-10-16 10:12] a1730 opened #7003 "Configure HostHeaderCustomizer"
**Jetty version**
10.0.6
Started ServerConnector@59349a26{[proxy], ([proxy], http/1.1, h2c)}{server:8080}
**Java version**
openjdk version "17" 2021-09-14
**Question**
We are trying to upgrade from Jetty 9 to Jetty 10. Jetty is behind HAProxy in our deployment and we leverage haproxy protocol to reduce the pain of getting real client-IP behind multiple intermediate proxies. Jetty 7,8, and 9 worked

[2021-10-16 13:19] joakime commented on #7003
What does this mean?  Are you using something like Proxy Protocol V2 or similar?

Can you explain this in a bit more detail?

That hints at a Request Authority issue, either as a bug in `ForwardRequestCustomizer`, or as a configuration error in your `HttpConfiguration`.
I'd like to know the IP addresses of everything involved, your `HttpConfiguration` details, and the `Forwarded` header details yo

[2021-10-16 13:38] joakime commented on #7003
I still don't understand how you managed to make this work in Jetty 7, 8, or 9 _without_ the `ForwardedRequestCustomizer` as that is the only thing modifying the client details in those versions of Jetty.

I'm talking about the APIs ..

* `HttpServletRequest.getRemoteAddr()`
* `HttpServletRequest.getRemoteHost()`
* `HttpServletRequest.getRemotePort()`

Those values come from 1 of two places.
The r

[2021-10-16 15:45] a1730 commented on #7003
Hi @joakime,
I do not  know why/how it works but please see our configuration from start.jar --list-config [jetty9.txt](https://github.com/eclipse/jetty.project/files/7357777/jetty9.txt). I generated that file from our production environment running Jetty 9. I hope it proves that we do not use the ForwardedRequestCustomizer (at least not deliberately.)

The layout in this setup is as follows:
huma

[2021-10-16 15:59] joakime commented on #7003
Thank you for that `--list-config` output, it helps focus the issue greatly.

Hmm, I think this might be the technique you are using.

[code]

That would be the file in your `${jetty.home}` (thank you for using the `${jetty.base}` and `${jetty.home}` split properly btw).

It looks like this on Jetty 9.4.44

https://github.com/eclipse/jetty.project/blob/jetty-9.4.44.v20210927/jetty-server/src/main/

[2021-10-16 16:08] joakime commented on #7003
What do you mean exactly when you say "Jetty 10 keeps sending the response to 10.x.x.x"?
Jetty is on the receiving end here, it doesn't initiate anything out to another site in your configuration. (you have no reverse proxy or forward proxy on Jetty defined at the level of `--list-config`)

Are you perhaps referring to your application responding with a redirect (like a 302 redirect) but it has a

[2021-10-17 02:04] a1730 commented on #7003
I meant that the browser was getting a wrong Location header of 10.x.x.x and the user becomes stuck. The only change between the two experiments is the value of JETTY_HOME (9.4.44 vs 10.0.7)

[2021-10-17 02:17] a1730 commented on #7003
Please see attached output from --list_config from jetty-10 [jetty10.txt](https://github.com/eclipse/jetty.project/files/7358562/jetty10.txt), and the debug of the proxy-protocol handler. [debug.txt](https://github.com/eclipse/jetty.project/files/7358564/debug.txt)
Thank you.

[2021-10-17 17:25] ekoemets commented on #6974
I think I am able to reproduce a similar issue in 9.4.44 that will lead to high heap memory usage with the following steps:

1. Start a basic WebSocket server that will just consume the message
2. Create a WebSocket client that uses the permessage-deflate extension
3. With client send a string message of random characters with size of ~200KB
4. Repeat the last step multiple times, each time increa

[2021-10-17 21:12] catapop84 opened #7004 "Upgrading to Jetty 11.0.7: does not define or inherit an implementation of the resolved method 'abstract java.lang.String getRequestedApiVersion()'"
**Jetty version(s)**
11.0.7
**Java version/vendor** `(use: java -version)`
16.0.2
**OS type/version**
Windows 10
**Description**
Upgrading from jetty 11.0.6 to 11.0.7 throws this error:

[code]

**How to reproduce?**
Upgrade to Jetty 11.0.7 , downgrading back to 11.0.6 the warning doesn't appear

[2021-10-17 22:55] #6497 closed, assigned to lachlan-roberts

[2021-10-18 00:06] gregw commented on #6974
We definitely need to have a max pool size turned on by default.    However, I think we also need to consider have exp. buffer buckets on by default (see #6538) as there is no good reason a 200KB message should use buffers from a different bucket to a 210KB message or 220KB message.   Linear buckets are just wasteful.

@sbordet @lorban I remember that one of you had objections to the exp. buckets

[2021-10-18 00:34] olamy commented on #7004
how do you reproduce this?

[2021-10-18 01:01] gregw commented on #6974
@sbordet @lorban ping lachlan and me when you are up.  We need to talk through a couple of things related to buffer pools

[2021-10-18 01:17] slipcon commented on #6974
To add a bit of context - and I'm happy to try to gather specific data if anyone wants me to.... unfortunately I don't have a simple reproducer example.... our application is pretty complex.    I can reproduce it easily enough in my test environment, however, and would be happy to enable debug logging or run with a test release if it could help narrow the problem down.

Our Jetty application is th

[2021-10-18 01:38] gregw commented on #6974
So looking through our buffer pool handling (mostly from 10, but perhaps also in 9.4)  I have the following comments:
 + We lack a lot of javadoc, specially with regards to what -1 means for max limits (does it mean no limit of a heuristic).
 + In `HttpConnection` we `findOrAdapt` a `RetainableByteBufferPool` from a `ByteBufferPool`:
    * why is this necessary since `AbstractConnector` ensures a

[2021-10-18 09:00] lorban commented on #6974
@gregw my objection with the exp. buffer buckets is the amount of "waste" that it's going to introduce which may have an impact on the minimal memory requirement one need to serve a certain throughput. What I call waste is memory that is reserved but isn't used, so it can be at most 1023 bytes with linear buckets, and next power / 2 - 1 with exp buckets.

TLS is a prime example because it needs bu

[2021-10-18 10:57] markslater commented on #7004
I think this is caused by Jetty's SLF4J dependency changing to `2.0.0-alpha5` in `11.0.7` (previously it depended on `2.0.0-alpha1`).

I saw a very similar failure when upgrading due to declaring a dependency on `org.slf4j:slf4j-nop:2.0.0-alpha1` in my project.  It was fixed by replacing that with `org.slf4j:slf4j-nop:2.0.0-alpha5`.

If you have SLF4J dependencies declared in your project, you mig

[2021-10-18 11:31] greatpsi commented on #7002
**Workaround suppresses error message, but Jetty does not start.**

_Console output follows:_

`me@awesome00:~/jetty/jetty-distribution-9.4.44.v20210927$ java -jar start.jar --add-to-start=logging-log4j log4j.version=1.2.17 --approve-all-licenses`
INFO  : All Licenses Approved via Command Line Option
INFO  : slf4j-api       transitively enabled
INFO  : log4j-impl      transitively enabled
INFO  :

[2021-10-18 12:00] joakime commented on #7002
Of course, the command line you ran did what you told it to do.

`--add-to-start=<modules>` is terminal, it configures and exits.

The option `log4j.version=1.2.17` is the key piece to your issue.

Using it with `--add-to-start=<modules>` will satisfy that one step, configuring your start for log4j.

Now execute jetty like before.

If you still have issues, make sure to add the line `log4j.version

[2021-10-18 12:06] joakime commented on #7004
When we upgraded to `slf4j-api` `2.0.0-alpha4` that typo was fixed by slf4j, so our implementation at `jetty-slf4j-impl` was updated as well.

See commit 518c13a636f06dcbed7abb505b5af93360d8c94c

Jetty releases 10.0.7 and 11.0.7 contain this fix.

Jetty 10.0.7 and 11.0.7 shipped with slf4j-api at `2.0.0-alpha5`

https://github.com/eclipse/jetty.project/blob/jetty-11.0.7/pom.xml#L118

[2021-10-18 12:06] #7004 closed, assigned to nobody

[2021-10-18 13:00] pethers opened #7008 "Problem with jetty.sh start regression 10.0.6 -> 10.0.7 when using JETTY_USER"
**Jetty version(s)**
10.0.7

**Java version/vendor** `(use: java -version)`
Openjdk 17

**OS type/version**
Ubuntu 21.10

**Description**
When using JETTY_USER,   "jetty.sh start"  fails to startup.

**How to reproduce?**
Setting JETTY_USER and configure as a service /etc/init.d/jetty
Worked with 10.0.6 (changes https://github.com/eclipse/jetty.project/commit/2b0161e743ac4f536e2017148551487624c367

[2021-10-18 13:49] joakime commented on #7008
We need to know more details here.

You are using init.d, not system.d, right?
Are you using native init.? or the emulated one that system.d provides? or something custom?

Do these steps describe your configuration?

[code]

This shows a result of ...

[code]

I need to investigate further.

[2021-10-18 14:18] joakime commented on #7008
:notebook: _Note: if I use the above and simply swap out to using `ubuntu:20.04` or `ubuntu:18.04` then it works as intended.
There's something about `ubuntu:21.10` that's aggravating the `jetty.sh` or `start-stop-daemon` in the wrong way._

Using the `ubuntu:21.10` docker image and instructions in the last commit, the `start-stop-daemon` is used.

In Jetty 10.0.7, the `RUN_ARGS` is ...

[code]

T

[2021-10-18 14:39] pethers commented on #7008
Have similar behavior, but building a deb package so slightly different setup.

Setting up variables https://github.com/Hack23/cia/blob/master/cia-dist-deb/src/main/config/etc/default/cia
and creating base dir and init.d setup https://github.com/Hack23/cia/blob/master/cia-dist-deb/src/main/unix/scripts/postinst

Strange "jetty.sh run" will actually start jetty.

All works with 10.0.6 version of je

[2021-10-18 14:54] joakime commented on #7008
I opened up PR #7009 with an updated `jetty.sh` that works for me.

Can you try it on your environments too?

That's likely because `jetty.sh run` doesn't use `start-stop-daemon`, it just executes java directly.

[2021-10-18 14:56] joakime commented on #7008
Seems the `start-stop-daemon` is _far more picky_ on it's command line options than before.

We chose the set of options we used in `start-stop-daemon` to work with the widest variety of versions of `start-stop-daemon`.
The fixes in PR #7009 is likely to break users of very old versions of `start-stop-daemon` (which I'm ok with doing for Jetty 10+, but not Jetty 9)

[2021-10-18 15:01] pethers commented on #7008
Tested the above https://github.com/eclipse/jetty.project/blob/c89866682c14ca1da0ce482eeca0953375b25da8/jetty-home/src/main/resources/bin/jetty.sh and it works as expected :+1:

[2021-10-18 21:42] gregw commented on #6974
Yep, the idea of building a `RetainableByteBufferPool` from an old `ByteBufferPool` is fundamentally broken because of the different paradigms.   With the RBBP, buffers are always members of the pool, even if they are in-use (perhaps multiple times), whilst for a BBP, once a buffer is allocated, it is forgotten until it is released.    Thus the max heap sizes are different things -for the RBBP it

[2021-10-19 01:58] andrewxian opened #7010 "Jetty CPU usage remains high even without any traffic"
**Jetty version(s)**
9.4.6

**Java version/vendor** `(use: java -version)`
java -version
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS type/version**
Windows 10

**Description**
We had an issue of CPU spike usage on the jetty server with little or no traffic on an idle node. Restarting the app (

[2021-10-19 02:50] lachlan-roberts commented on #7010
@andrewxian Version `9.4.6` is very old, please upgrade to the latest version Jetty 9 (currently `9.4.44.v20210927`). There has been many bug fixes and security fixes since `9.4.6` so it is likely the issue you are experiencing is fixed in the latest version.

[2021-10-19 03:28] andrewxian commented on #7010
Hi @lachlan-roberts,

Unfortunately, it is not easy for us to upgrade the jetty version as the issue happened on customer's site.
I agree with you that upgrading the jetty version is the best option, but it takes some procedures.

In the meantime, can I ask what jetty is trying to do in the stack trace?
I would be very grateful if that could be explained to me.

Thanks.

[2021-10-19 04:18] janbartel commented on #6985
Closed via #6999

[2021-10-19 04:18] #6985 closed, assigned to olamy

[2021-10-19 04:20] janbartel commented on #6966
@jnehlmeier if your problem is solved, can we close this issue?

[2021-10-19 04:25] janbartel commented on #6950
Releases done.

[2021-10-19 04:25] #6950 closed, assigned to sbordet

[2021-10-19 04:27] janbartel commented on #6915
@ArfyFR I think we've thoroughly discussed the docker ENV issue and you should have enough info to progress, so I'll close this issue now.

[2021-10-19 04:27] #6915 closed, assigned to nobody

[2021-10-19 05:05] ArfyFR commented on #6915
As said on my post on 23 sept 2021:

So I found a way to make it work, but not with LD_LIBRARY_PATH =)

[2021-10-19 05:43] idikshit opened #7011 "Query on Jetty Client verison upgrade"
**Jetty version**
9.4.42.v20210604

**Java version**
17

**Question**
Hi, we are currently using 9.4.42.v20210604 version of Jetty Client. Is there a planned action item to retire Jetty Client 9.4 series after the release of Jetty Client versions 10 and 11. If yes, is there any planned date for it?

[2021-10-19 06:12] janbartel opened #7012 "Remove all old geronimo spec jars from jetty-10"
All of the geronimo spec jars should be replaced by the jakarta equivalents that target the `javax` namespace.

[2021-10-19 08:22] jnehlmeier commented on #6966
@janbartel I haven't tried the `SameFileAliasChecker` yet, but code wise it seems like it should fix it. But given we prepare usage of jetty 10 I hoped for a verifying answer regarding Jetty 10/11 as well, given that this AliasChecker is deprecated for those versions.

[2021-10-19 09:58] joakime commented on #7003
@a1730 the `SameFileAliasChecker` (Jetty 9) was replaced with `AllowResourceAliasChecker` (Jetty 10+) as part of Issue #6497 and PR #6668

[2021-10-19 10:21] joakime commented on #7010
It appears to be reading/parsing from an SSL/TLS connection.
Without a DEBUG log, the exact reason for this read/parse is unknown, the stacktrace just tells us a generic detail at that 1 point in time.

Also, an **important note**, since you are using SSL/TLS _you must keep your JVM up to date_.

Java 1.8.0_144 expired on October 17, 2017, and contains none of the updated SSL/TLS cryptograph datab

[2021-10-19 10:31] joakime commented on #7011
Jetty 9 is currently in maintenance mode (no new features, only bug fixes), and it's EOL (End of Life) is dependent on a few things.

* How active is the open source Java 8 community.
* Are up to date (non-expired) Java 8 JVM releases available to the world as a whole and not locked down behind "Extended Support Contracts".

Currently, we see far more Java 11+ users than Java 8 (based on the quest

[2021-10-20 08:32] #4317 closed, assigned to lachlan-roberts

[2021-10-20 08:55] Niko-O opened #7018 "How to change the prefix of the console output log?"
**Jetty version**
According to the "Server" response header: `Jetty(9.4.16.v20190411)`

**Java version**
Output of `java -version`:
[code]

**Question**

How can I configure the way that console outputs from my Java code gets logged?

I have an inherited project where I don't know exactly how everything is configured. Jetty is started by `/etc/init.d/jetty9`, which looks like it's this script:
htt

[2021-10-20 10:20] joakime commented on #7018
The output format `Oct 20 10:16:59 testpi jetty9[559]: Hello World` is not something Jetty produces.

Jetty uses the format `<timestamp:EEE MMM dd HH:mm:ss zzz yyyy.000> <level>: <name>:<thread-name>: <source> <msg>\n<throwable>`

The `jetty9[559]` portion looks like it might be `<service_name>[<pid>]` (nothing in Jetty even attempts to identify the pid of the running JVM, nor even knows of the ex

[2021-10-20 10:30] joakime commented on #7018
Another thing to consider, have you configured your logging to capture all of the logging events from the other logging libraries and route them to log4j for logging?
If not, then you could be experiencing results of having an unconfigured logging library.

Common logging libraries (in order of most to least common):

* java.util.logging (the most common)
* log4j 1.x
* slf4j
* log4j 2.x (not compa

[2021-10-20 19:12] christrotteradhoc opened #7021 "Inconsistent exception (SSLException or SocketException) returned when client is untrusted (needClientAuth=true)"
**Jetty version(s)**
10.0.7, others not tested.

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.12" 2021-07-20
OpenJDK Runtime Environment Homebrew (build 11.0.12+0)
OpenJDK 64-Bit Server VM Homebrew (build 11.0.12+0, mixed mode)

**OS type/version**
MacOS 10.15.7

**Description**
With jetty configured for SSL with needClientAuth=true, a connection from a client with an untru

[2021-10-20 20:47] rabelenda opened #7022 "Reuse HTTP1 to HTTP2 upgraded connection"
**Jetty version**
11.0.6

**Java version**
11.0.10

**Question**

When I try a code like following with a server that support HTTP1 to HTTP2 upgrade, I get 2 connections to the server:

[code]

Is there a way to reuse the upgraded connection?

As far as I have seen, it seems that the connection is not reused due to [this line](https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/jetty-client

[2021-10-20 21:49] sbordet commented on #7022
The first request starts as HTTP/1, but then upgrades to HTTP/2. From that point on, that connection can only speak HTTP/2.

The second request you make is a plain HTTP/1 request, so it cannot reuse the previous connection, which speaks HTTP/2.

To reuse the first connection, you have to explicitly configure the protocol version:

[code]

This is necessary because the server speaks 2 different pro

[2021-10-20 21:49] #7022 closed, assigned to nobody

[2021-10-20 21:58] rabelenda commented on #7022
Great, thanks!

[2021-10-21 06:23] #6965 closed, assigned to lachlan-roberts

[2021-10-21 10:31] fbuechler opened #7026 "`ForwardedRequestCustomizer.setForwardedHostHeader(null)` has no effect in in Jetty 10.0.x"
**Jetty version(s)**
10.0.6

**Java version/vendor** `(use: java -version)`
openjdk 11.0.10 2021-01-19
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.10+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.10+9, mixed mode)

**OS type/version**
Debian GNU/Linux 10

**Description**
We use an embedded Jetty with a `ForwardedRequestCustomizer`. Because we want to ignore the X-Forwarded-Host hea

[2021-10-21 12:07] joakime commented on #7026
That is an unexpected use case.

I hesitate to support this, as the `ForwardedRequestCustomizer` is one of most delicate piece of code in the project due to how messed up the non-standard `X-Forwarded-*` headers are in the real world.

Why do you do this?
Do you not trust your load balancer?  (why is it either not sending you the correct `X-Forwarded-Host` header, or not stripping it before sendin

[2021-10-21 20:55] Niko-O commented on #7018
Thank you for the extensive explanation!
I'll try to address your points in order.

I am on a Raspberry Pi. The fact that I linked a file relating to Ubuntu is concidental. I just googled the name of the author ("Philipp Meier") with some keywords.
You mentioned that I should ask "the Ubuntu folks" before. Knowing that I'm using a Raspberry Pi, does that change who I should ask? I'd assume so. The

[2021-10-21 23:01] joakime commented on #7018
No the `console-capture` module (and xml) does not format it's logs like what you see.
And it does not use the filename `jetty-console.log` (it will always have a filename with a timestamp).

The fact that your log4j outputs only to Console means something else, outside of the JVM is creating those log files.
At this point, you should be looking at the debian service logging techniques, as that's

[2021-10-22 14:46] #7008 closed, assigned to joakime

[2021-10-22 15:56] mperktold opened #7031 "ResponseWriter.println(char) does not print newline"
**Jetty version(s)**
10.0.7

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.9+11)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.9+11, mixed mode)

**OS type/version**
Windows 10, 64 bit

**Description**
When a single character is passed to `response.getWriter().println`, the newline after the character is

[2021-10-22 16:59] joakime commented on #7031
This is quite the surprising issue.

For many reasons ...

* We don't have a test case for this.
* Nor do any of the other dozen open source projects that use Jetty that we build/test releases against.
* Nor does the actual Servlet TCK have a test for this.

[2021-10-22 17:06] joakime commented on #7031
So ...

The `response.getWriter().println()` and `response.getWriter().println(char)` are both implemented by `javax.servlet.ServletOutputStream`.
Both wind up calling `javax.servlet.ServletOutputStream.println(String)` with appropriate parameters.  (this is the behaviour in Jakarta EE 8 / Jakarta Servlet 4.x, unknown if Java EE 7 / Servlet 4.x does the same, need to investigate)

The implementati

[2021-10-22 18:09] mperktold commented on #7031
I'm talking about this one in [`ResponseWriter`](https://github.com/eclipse/jetty.project/blob/b56edf511ab4399122ea2c6162a4a5988870f479/jetty-server/src/main/java/org/eclipse/jetty/server/ResponseWriter.java#L345-L366):

[code]

It only calls `out.write(c)` without writing a newline, whereas e.g. [`println(String)`](https://github.com/eclipse/jetty.project/blob/b56edf511ab4399122ea2c6162a4a5988870

[2021-10-22 21:36] joakime commented on #7031
I'm in the process of improving code coverage for both `response.getServletOutputStream()` and `response.getWriter()` based actions.
This has already revealed more issues in other places.
Stay tuned for PR.

[2021-10-22 21:45] joakime commented on #7031
Opened PR #7032

[2021-10-22 23:25] joakime commented on #7031
Two bugs were found and fixed in PR #7032

1. `response.getWriter().println((char)c)` would not include the `System.lineSeparator()`.
2. `response.getWriter().println((boolean)b)` would include `System.lineSeparator()` twice.

[2021-10-23 12:59] richardkrasowski0000 opened #7033 "how to configure SslContextFactory.Server via jetty.xml"
**Jetty version** 10.0.6

**Java version** 11.0.6

**Question**
hello...
I am using the maven-jetty-plugin:10.0.6 and a jetty configuration (jetty.xml jetty-https.xml) which I have configured the following:

[code]

jetty.xml
========

[code]

jetty-https.xml
===========

[code]

I am trying to setup a server with tls encryption. I read about the configuration of a new SslContextFactory.Server cla

[2021-10-23 14:14] joakime commented on #7033
It is possible to do in XML, that's how `jetty-home` works.

Would advise that you review the techniques used in `jetty-home` (lots of great examples of XML configuration there).

https://github.com/eclipse/jetty.project/blob/jetty-10.0.7/jetty-server/src/main/config/etc/jetty-ssl-context.xml

https://github.com/eclipse/jetty.project/blob/da8a4553af9dd84080931fa0f8c678cd2d60f3d9/jetty-server/src/m

[2021-10-25 00:10] lachlan-roberts opened #7034 "Lots of Session tests seem to be flaky."
**Description**
Lots of Session tests seem to be flaky, particularly the "remote" tests.
Here are some examples I have collected after looking back though some recent test failures:

**RemoteClusteredInvalidationSessionTest, RemoteClusteredSessionScavengingTest, RemoteInfinispanSessionDataStoreTest, RemoteInfinispanSessionDataStoreTest**
https://jenkins.webtide.net/blue/organizations/jenkins/jetty

[2021-10-25 04:45] janbartel commented on #7034
The CachingSessionDataStoreTest was some kind of transient docker problem with ports:

@olamy is there something that could be improved in the test-container setup for memcached?

For the other tests, they are all remote infinispan session tests.  These seem to have become a little flakey since the upgrade to infinispan and or docker test containers.  I will take a closer look into them.

[2021-10-25 05:49] olamy commented on #7034
I need to review some code because not sure we cleanup correctly resources.
I will try to change some k8s setup as well.

[2021-10-25 11:12] dimas commented on #6973
JFYI, we haven't seen the problem for a week after we upgraded all our servers to the 9.4.44
I do not know if it is just a coincidence or it was properly fixed in that version.

[2021-10-25 11:23] dimas commented on #7010
Given your CPU remains high even without any traffic, it could be something similar to the issue we had even though stacktrace is different - https://github.com/eclipse/jetty.project/issues/6973
In our case issue was triggered by problems in logback library but I believe the root cause is somewhere in Jetty code where some edge case allowed reading from already closed connection or something like

[2021-10-25 12:05] joakime commented on #6973
PR #6997 has been opened to address this issue in a different way as well.

Once merged, logback-access cannot access the request body once it reaches the "RequestLog" stage.
The Response is also reset with regards to status / headers to what was actually committed so that logback-access writes the correct information.

[2021-10-25 13:50] idikshit opened #7041 "Jetty Client randomly ignores response from back-end services"
**Jetty version(s)**
9.4.42.v20210604

**Java version**
16

**Description**
Hi, we are currently using 9.4.42.v20210604 version of Jetty Client with Java 16 support. We observe a random intermittent behavior where Jetty Client randomly ignores the response received and sends RESET_STREAM towards back-end services. The issue is observed while running traffic of around 500-1000 TPS.

Please find deb

[2021-10-25 14:58] joakime commented on #7041
Please try 9.4.44, it has some improvements around terminated parsers and connections.

[2021-10-25 17:22] sbordet commented on #7041
@idikshit your log file does not show any problem.

Please be more specific, point out exactly where the request that should receive a response does not receive it.

Also, I would recommend you triple check your application code, because very likely the problem is not in Jetty.

FTR, 500-1000 requests/s is almost nothing for Jetty's client.

[2021-10-25 22:53] lachlan-roberts opened #7042 "Simplify configuration to use different OpenIdConfiguration per webapp."
Currently to use different OpenID providers for different webapps you must configure everything in the context xml for each webapp and manually add security handler with `Authenticator` and `OpenLoginService` etc.

It would be a lot better if this could be simplified if this could be discovered and set up automatically based on realm name. Similar to how the `LoginService` is  found by the `Securi

[2021-10-25 22:57] fbuechler commented on #7026
Thanks for the detailed answer. Extending the `ForwardedRequestCustomizer` should work for us.

We chose to ignore the header because we wanted to prevent Host header attacks without having to rely on the load balancer being configured to remove an external `X-Forwarded-Host` header.

While I agree that this is an unexpected use case, I still think that the current behavior is a bug.
For one thing

[2021-10-26 08:05] akurtakov commented on #6403
So this one is included in 10.0.7, right? What is the url for the p2 repo?

[2021-10-26 08:07] olamy commented on #6403
look here https://repo.maven.apache.org/maven2/org/eclipse/jetty/jetty-p2/

[2021-10-26 08:19] laeubi commented on #6403
`mvn:org.eclipse.jetty:jetty-p2:10.0.7:zip:p2site`
`mvn:org.eclipse.jetty:jetty-p2:11.0.7:zip:p2site`

[2021-10-26 08:22] akurtakov commented on #6403
Thanks!

[2021-10-26 09:14] brunoborges opened #7044 "Can't run jdeps"
**Jetty version(s)**
11.0.7

**Java version/vendor** `(use: java -version)`
openjdk version "17" 2021-09-14
OpenJDK Runtime Environment Microsoft-26987 (build 17+35)
OpenJDK 64-Bit Server VM Microsoft-26987 (build 17+35, mixed mode, sharing)

**OS type/version**
Linux/Ubuntu (Focal)

**Description**
jdeps fails with the following output, when analyzing a jar-with-dependencies of a hello world Jett

[2021-10-26 09:20] sormuras commented on #7044
My intial guess: `jetty11-1.0-SNAPSHOT-jar-with-dependencies.jar` contains a module descriptor named `org.eclipse.jetty.server` that in turn contains a directive reading `requires org.slf4j;`. And module `org.slf4j` is not observable.

- Should `--ignore-missing-deps` bypass this? Perhaps.
- What happens if you provide `org.slf4j` via `--module-path` to `jdeps`?

[2021-10-26 09:26] brunoborges commented on #7044
`org.slf4j` is a required transitive package: https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/jetty-server/src/main/java/module-info.java#L18

Not sure how to test the second part.

[2021-10-26 09:28] sormuras commented on #7044
Try s/t like: `jdeps --module-path PATH/TO/slf4...jar[:|;]OTHERS --print-module-deps ...`

[2021-10-26 12:56] joakime commented on #6367
The ContextHandler with 2 ClassLoaders makes sense.

The Context Classloader Layer should be the WebApp itself.

The API Classloader Layer should be "Jakarta EE ##" (Servlet, WebSocket, JSP, EL, CDI that all works together)
_(I kinda think of this "API Layer" as a "WebApp Specific Server/System Classloader")_

Couldn't this "API Layer" be a Handler.Wrapper as well? (`ScopedClassLoaderHandlerWrappe

[2021-10-26 15:29] #7031 closed, assigned to joakime

[2021-10-26 16:34] sormuras commented on #7044
Running `mvn verify` on @brunoborges reproducer repo https://github.com/brunoborges/jetty-11-bug-jdeps and then:

`java --module-path target --describe-module org.eclipse.jetty.server`

yields:

[code]

[2021-10-26 18:47] mlchung commented on #7044
`requires transitive` is not an optional dependency at runtime; it's implied readability.   Hence, since slf4j cannot be found, so the module resolution fails.

[2021-10-26 18:54] sormuras commented on #7044
Are all the following modules shadowed into the `jetty11-1.0-SNAPSHOT-jar-with-dependencies.jar` file?

[code]

If yes, you need to remove those from the module descriptor.

[2021-10-27 08:14] brunoborges commented on #7044
@sormuras I don't know if they are or not. I'd have to dig in. But I was also hoping folks from jetty team could take a look at this.

[2021-10-27 11:13] joakime commented on #6367
I'd like to start a "New in Jetty 12" page in the jetty-documentation that we can add concepts we've changed from Jetty 11.
Would make a good announcement / blog topic too.

[2021-10-27 11:26] joakime commented on #7031
Some history, this bug was introduced in the Unchecked Print Writer commit 0dc394869b63a4573f9882275f1df59d89e2f810 (introduced in Jetty 9.3.0)

This has been fixed in all active branches.

[2021-10-27 14:26] sbordet commented on #7044
I have to say that I'm at a loss at understanding what the problem is...

The `org.eclipse.jetty.server` module declares `requires transitive org.slf4j`. That should be enough for `jdeps`.

@brunoborges can you simplify your project to not use `jar-with-dependencies` and a proper `module-info.java`?
Not sure what you're trying to accomplish with your project?

[2021-10-27 14:35] sormuras commented on #7044
That are good points and questions, Simone.

What-ever Bruno is up to, I think that `jetty11-1.0-SNAPSHOT-jar-with-dependencies.jar` shoud not (read: must not) contain a `module-info.class` at all. Assuming that it contains all required 3rd-party deps within itself, there's no need to require any external module and having a module descriptor in such an uber-JAR only confuses users and tools.

[2021-10-29 04:14] lachlan-roberts commented on #2504
@joakime are you sure we want all these details about the session in the dump?

We could have an extremely large number of active sessions and to include all that information could potentially be hundreds of lines of information per session.

Also I don't think we currently have the information available for the Connection and Network Endpoints of each websocket session, not sure how we could do t

[2021-10-29 06:52] lachlan-roberts commented on #4167
I don't think demand is very useful in the Jetty WS API, the demand would not work at all for anything but partial message handling, because normally you get notified on a full websocket message and not on every frame. So it is only really usable with  `WebSocketPartialListener + WebSocketPingPongListener` or `WebSocketFrameListener`. But the session doesn't know what listener type is being used s

[2021-10-29 08:42] tivervac opened #7059 "NPE in AllowedResourceAliasChecker.getPath()"
**Jetty version(s)**
10.0.7

**Java version/vendor** `(use: java -version)`

openjdk 11.0.13 2021-10-19
OpenJDK Runtime Environment 18.9 (build 11.0.13+8)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.13+8, mixed mode, sharing)

**OS type/version**

Fedora 34; kernel 5.14.13-200.fc34.x86_64

**Description**

**How to reproduce?**
Create a server with a `ServletContextHandler` without a `baseResource`

[2021-10-29 11:52] joakime commented on #7059
It's always a good idea to define a Base Resource.
Even if you all you do is point to an empty directory in your JAR file.

Having no Base Resource will break many APIs.

Not just this `AllowedResourceAliasChecker`.
You'll also break things in the servlet jar itself, so we cannot fix those broken things.

I know that if you, or any of your libraries, call things like ...

ServletContext.getRealPat

[2021-10-29 15:15] joakime opened #7062 "`test-keystore.p12` is no longer packaged in jetty-home"
**Jetty version(s)**
10.0.7

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**

When enabling the `test-keystore` module, the actual test keystore is not put into place.
In fact, it's not even present in the `jetty-home` artifact to be able to be put into place.

The `test-keystore.mod` refers to it like this ...

https://github.com/eclipse/jetty.project/

[2021-10-29 15:28] joakime opened #7063 "Simplify command line use of org.eclipse.jetty.util.Password"
**Jetty version(s)**
10+

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
The documentation gives example on using `org.eclipse.jetty.util.Password` like ...

[code]

and

[code]

But the `org.eclipse.jetty.util.security.Password` class has logging, so this makes the command line a bit more complex ...

Example:

[code]

I see a few options here.

1. Th

[2021-10-29 15:30] joakime commented on #7063
For the record, the minimal command line is now ...

[code]

[2021-10-29 15:44] joakime opened #7064 "Cleanup or clarify `(null)` in output of `--list-config`"
**Target Jetty version(s)**
10+

**Enhancement Description**

When using `--list-config` the output can often contain `(null)` entries, like this ...

[code]

We should clean this up, and make it more clear what that is meaning.

[2021-11-01 02:30] janbartel commented on #7034
See #7066

[2021-11-01 04:00] lachlan-roberts commented on #7062
@joakime the `test-keystore` module generates a test keystore when the server is started and deletes on exit. It uses the properties from the ini file to generate the keystore.

I just tested this and it is still working as expected.

[2021-11-01 07:32] lachlan-roberts commented on #7059
@tivervac this exception is caught in `getPath(Resource)` and is being logged with `LOG.ignore(t)` and not rethrown, so you shouldn't be seeing this in the logs unless you've set your logging level to ALL.

What exactly do you see to be the issue here, is it just that you think this should be logged at a higher level like debug or warn with a more descriptive message?

[2021-11-01 10:17] sveniu commented on #6974
Fwiw, we're likely seeing this issue as well, on Jetty v9.4.43. The jvm keeps growing in rss memory, most of which ends up in zlib's deflateInit2 (i.e. it's neither in the heap, non-heap, nor jvm "native memory"). With our workload, we run out of memory within a week or two, on 16 GB servers.

Profiler outputs attached, generated by libjemalloc's jeprof. One is with all compression extensions enab

[2021-11-01 23:29] lachlan-roberts commented on #6974
@sveniu with this issue you should only be seeing a build up in heap memory usage in the `ByteBufferPool`. I think your issue is more related to #300 than this one. We had attempted to fix by implementing pooling for `Inflater` / `Deflater` instances. In jetty-10 the default is sized to the max number of threads from the `ThreadPool` but looks to be default unlimited size in 9.4.

Can you take a [

[2021-11-01 23:37] #7012 closed, assigned to janbartel

[2021-11-02 10:40] tivervac commented on #7059
@lachlan-roberts I saw it by running my application as debug with an NPE breakpoint on.

My issue is that if you look at the code, it's very obvious `org.eclipse.jetty.server.handler.ContextHandler.getBaseResource()` that `null` is a valid return value. Using a `catch(Throwable)` to deal with NPEs is AFAIK bad practice.

IMO it would be better to handle this case specifically, checking for null be

[2021-11-02 15:52] naveenk26 opened #7072 "Jetty with HTTP/2 enabled has CLOSE_WAIT Sockets and High CPU Issue"
We are using Jetty 9.4.40 with dropwizard, java version 1.8.0_302. Trying to enable HTTP/2. When we enable the HTTP/2 support, the application works without any issues for 5 to 6 hours, after that, we see a lot of CLOSE_WAIT connections and CPU usage also goes up.

Jetty is behind the ELB. When we analyzed the thread dump, the thread which was consuming a high CPU had the following stack trace.

s

[2021-11-02 16:33] sbordet commented on #7072
Where do you see those CLOSE_WAIT connections? Between the ELB and Jetty? On the ELB side or on the Jetty side?

The stack trace seems irrelevant, it shows that it's parsing a `HEADERS` frame.

Would be great if you can grab debug logs that shows what happens to a connection that remains in CLOSE_WAIT, or a network trace with Wireshark.

[2021-11-02 16:36] joakime commented on #7072
Release version 9.4.40 has some security advisories listed against it.
See https://www.eclipse.org/jetty/security_reports.php

Are you using logback-access by any chance?
See other issue with someone reporting CPU usage issue on Amazon - https://github.com/eclipse/jetty.project/issues/6973#issuecomment-950811154
Can you upgrade, to at least 9.4.44 and see if this still happening?

[2021-11-02 16:37] naveenk26 commented on #7072
We see the CLOSE_WAIT connections between ELB and Jetty on the Jetty side.  I added the stack trace because that thread was consuming almost 90%+ of CPU.

[2021-11-02 16:39] joakime commented on #6566
FYI, Jetty 10.0.7 and 11.0.7 were released with this fix.

[2021-11-02 16:39] joakime commented on #6328
@lachlan-roberts is this still reproducible on current Jetty 10.0.x and/or 11.0.x HEAD?

[2021-11-02 16:40] sbordet commented on #7072
Then we need the DEBUG logs or network trace.
What's your idle timeout setting?

[2021-11-02 16:43] naveenk26 commented on #7072
Idle timeout is 30 sec, will try to get the debug logs.

[2021-11-02 16:53] naveenk26 commented on #7072
We are not using the logback-access, just checked.

[2021-11-02 17:23] Okapist opened #7073 "Error in parse parameter in broken UTF-8 encoding"
**Jetty version(s)**
9.4.44.v20210927

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.8+10, mixed mode)

**OS type/version**
Any

**Description**
Jetty fail with 5xx with error
[code]
in async Spring call

**How to reproduce?**

Controller
[code]

Call
`c

[2021-11-02 18:06] joakime commented on #7073
That is a bad URI.  (Google Chrome Javascript agrees)

![issue-7073-bad-uri](https://user-images.githubusercontent.com/191721/139921038-398456b7-f537-4737-b868-6ef655ef82fa.png)

[2021-11-02 18:09] joakime commented on #7073
If you were attempting to use LATIN SMALL LETTER E WITH GRAVE -> `è`

https://www.cogsci.ed.ac.uk/~richard/utf-8.cgi?input=e8&mode=hex

Hex Code Point: 00E8
Hex UTF-8 Bytes: C3 A8

The correct URL would be ..

[code]

[2021-11-02 18:15] joakime commented on #7073
OpenJDK 11.0.12's JShell agrees with Jetty as well.

That is a bad URI.

![issue-7073-bad-uri-query](https://user-images.githubusercontent.com/191721/139921968-eb485e92-c7f3-40de-b776-7f8cc8d2a4ea.png)

Notice that the bad character is replaced with the **�** character?
This is the UTF-8 "Replacement Character", meaning it's bad.

See:

* https://en.wikipedia.org/wiki/Specials_(Unicode_block)#Repl

[2021-11-02 18:16] joakime commented on #7073
Closing as "Not a bug".

[2021-11-02 19:16] joakime opened #7074 "Jetty 12 API Layer"
**Target Jetty version(s)**
Jetty 12

**Enhancement Description**

With the proposed separation of the API layer from the Server to the WebApp, we need to come up with a structure for this.

1. In the git repository
2. In the Maven multi-module tree
3. In jetty-home structure
4. In jetty-home / jetty-base modules system
5. In deployment to select the APIs

[2021-11-02 19:18] joakime commented on #7074
Here's a proposed structure for the jetty-home / jetty-base with an eye on the module system and the deployment.

These API layers should exist as jetty-home modules, but they now only take effect when deploying a webapp.
The classes / libs they introduce won't exist on the Jetty Server classpath now.

[code]

[2021-11-02 19:21] joakime commented on #7074
I see this "API Layer" as a fake "Server/System" classloader layer/scope between the Jetty Server Core and the WebApp.

This is where the `WebAppClassloader` behaviors should sit with regards to system/server ClasspathPatterns.

The whole "API Suite" are connected at the hip, so that using Servlet 4 means Jakarta EE 8 with a unique jetty-annotations / jetty-plus / jetty-webapp / jetty-servlet for

[2021-11-02 19:33] joakime commented on #7074
I imagine it will work like this ...

![Jetty 12 Tech](https://user-images.githubusercontent.com/191721/139940071-5e1317a6-3aee-4dcb-a0e5-1bfcd8b6626d.png)

[2021-11-02 20:28] Okapist commented on #7073
I know that it's malformed URL, but 5xx response looks bad.
May be change it to some 4xx code? Or put null into parameter and work normally?

Users make those requests by some scripts or other software without validation. 5xx response look for them like server work incorrectly. Not like incorrect request.

[2021-11-02 20:34] joakime commented on #7073
The 500 response is not being returned by Jetty.
Jetty produces a 400 response.

**Jetty 10.0.7 example ...**

[code]

**And Jetty 9.4.44 example ...**

[code]

[2021-11-02 20:36] joakime commented on #7073
Even if all you talk is `application/json` to Jetty you'll get a 400 response from Jetty.

[code]

This is the behavior of the Server level `ErrorHandler` btw.

[2021-11-02 20:41] joakime commented on #7073
I'm reopening to check the specific use case ...

[code]

[2021-11-02 20:42] Okapist commented on #7073
Check async. Sync work correct.
[code]

[2021-11-02 22:12] joakime commented on #7073
Using `startAsync` with bad query does not produce an error 400 or 500.

Opened PR #7075 with testcase.

[2021-11-02 23:59] SerCeMan commented on #6328
I haven't been able to reproduce it in a synthetic environment, stumbled across https://github.com/eclipse/jetty.project/issues/6696, and now that `10.0.7`, I'm planning to try to upgrade again. Because I can't reproduce it in a synthetic environment, I can close the issue and re-open it with additional information if it manifests again.

[2021-11-03 00:11] lachlan-roberts commented on #6328
The separate spikes on the flamegraph are reproducible, but I think it is really just an interaction between the profiler and MethodHandles and is unlikely to be causing any performance degradation.

I am still planning to do a PR to use only final unbound MethodHandles to see if it is any better, but I haven't gotten around to doing it yet. So I would leave this issue open for this reason.

There

[2021-11-03 00:25] lachlan-roberts commented on #7059
@tivervac I agree, I'll put up a PR for this.

I don't think a null base resource should produce a warning here as it is a valid configuration. I think it should just set some flag to completely disable the `SymlinkAllowedResourceAliasChecker` which is added by default.

[2021-11-03 17:39] sbordet commented on #7074
What's interesting is that there is one more ClassLoader in the hierarchy.

I imagine `jetty-util` be in the blu-ish top `ClassLoader`, say "server" ClassLoader.

However, `jakarta.servlet-api` must be in a child ClassLoader (as there could be different versions), say the "container" ClassLoader;

Also, any resource that may be specified in `web.xml` would need the interface (e.g. `jakarta.mail.Se

[2021-11-04 04:30] naveenk26 commented on #7072
I am in the process of extracting the debug logs. The threads which were taking more CPU time were last printed these lines and they continued to be in the runnable state for a long time

Thread 1: dw-81361
2021-11-03T22:13:24Z
EatWhatYouKill@7bac2477/HTTP2Producer@753d8dea/PRODUCING/p=false/InstrumentedQueuedThreadPool[dw]@11ab8594{STARTED,1<=92<=2048,i=13,r=-1,q=0}[ReservedThreadExecutor@e66575{

[2021-11-04 08:31] sbordet commented on #7072
Given the stack trace you reported and these lines, Jetty is actively parsing HEADERS frames from the network.

The fact that the threads consume CPU is normal, if there is traffic and bytes to parse.

These connections however, have `[pc=0,pic=0,pec=0,epc=0]`, which means that no task has been produced as a result of parsing those frames, and that is strange.

A theory to explain this could be th

[2021-11-04 10:35] lachlan-roberts opened #7078 "CompressionPools are not shared between multiple contexts for 9.4 WebSocket"
**Target Jetty version(s)**
9.4.x

**Enhancement Description**
There should be only one instance of `InflaterPool` and `DeflaterPool` kept on the server and shared with all contexts.

[2021-11-05 21:09] sveniu commented on #6974
@lachlan-roberts I've finally been able to produce the server dump. Here's the abridged dump, showing the InflaterPool and DeflaterPool info, with all other branches pruned.

[code]

Some context:
- The JVM was at 6.3 RSS mem when stopping; the JVM heap is fixed at 3.0 GB.
- Without websocket compression, the JVM runs at a steady 3.6 GB RSS mem.
- The server was idle, with traffic moved away from

[2021-11-06 02:50] lachlan-roberts commented on #6974
@sveniu thanks for the info. I have also opened #7078 as a speculative cause. It would also be useful to know some extra information, so can you post the whole dump if possible. Unfortunately the `ByteBufferPool` information isn't available from the dump so if you could get that from JMX that would also be useful.
- the max number of threads for your `ThreadPool`.
- if you have any other contexts

[2021-11-08 02:50] leonchen83 opened #7086 "WebSocket: java.lang.IllegalStateException: already released RetainableByteBuffer"
**Jetty version(s)**
10.0.7
**Java version/vendor** `(use: java -version)`
openjdk 11
**OS type/version**
Linux version 2.6.32-642.el6.x86_64 (mockbuild@worker1.bsys.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-17) (GCC) ) #1 SMP Tue May 10 17:27:01 UTC 2016
**Description**
occur exception on our prod env

[code]
_Do not report security issues here! See [Jetty Security Reports](https://w

[2021-11-08 05:04] lachlan-roberts commented on #7086
There is not enough information to tell why this is happening.

@leonchen83 are you using the Jetty API or the Javax WebSocket API? and  what type of message handler are you using for this websocket connection?

[2021-11-08 06:34] leonchen83 commented on #7086
we extend spring `WebSocketHandler` and handle text message with client
code like following
[code]

[2021-11-08 11:32] gallajagadeesh opened #7087 "error 403"
showing error while adding git reporsitory in jenkins..

[2021-11-08 11:50] sbordet commented on #7087
Not a Jetty issue.

[2021-11-08 11:50] #7087 closed, assigned to nobody

[2021-11-09 03:28] lachlan-roberts commented on #7086
I think I've figured out why this is happening.

The `WebSocketCoreSession.demand()` method will throw ISE if the session is no longer open. And this is typically done in a format like this:
[code]

So if demand throws because the session is closed then it is both succeeding and failing the callback. You can trigger this by sending an error close frame from the `onMessage` method. See fix in PR #7

[2021-11-09 11:03] ghost opened #7091 "Add SOCKS5 support"
**Target Jetty version(s)**
We are currently using the jetty websocket 10 using SOCKS4 proxy.
**Enhancement Description**
We need to support in the feature websocket via SOCKS5 proxy.
Would it be possible to have the SOCKS5 version in the next release of jetty?

[2021-11-09 13:38] joakime commented on #7091
The spec for SOCKS5 can be found at https://datatracker.ietf.org/doc/html/rfc1928

This would be a low priority for us at the moment, as we are focused on HTTP/3 and Jetty 12 with Servlet 6.

We'll happily take a PR to add SOCKS5 support to Jetty 10.

[2021-11-10 06:15] janbartel commented on #7063
Possibly the Password and Credential classes could be changed to throw ISE insead of doing logging.  Some of the logging they're doing is pretty questionable anyway (see https://github.com/eclipse/jetty.project/blob/0ad49fd1fd9565eeec3878d9e5c0e986ec272dbd/jetty-util/src/main/java/org/eclipse/jetty/util/security/Credential.java#L158 - prints out a warning it can't check CRYPT and then goes on to c

[2021-11-10 06:36] olamy commented on #7063
maybe a very simple jetty-util shaded jar with necessary logging impl (i.e simple slf4j)?

[2021-11-10 21:48] chiralsoftware opened #7095 "Jetty.sh start does not work when run as root"
**Jetty version(s)**

Java 17

**Java version/vendor** `(use: java -version)`

openjdk version "17" 2021-09-14
OpenJDK Runtime Environment (build 17+35-2724)
OpenJDK 64-Bit Server VM (build 17+35-2724, mixed mode, sharing)

**OS type/version**

Ubuntu 20.04.3 LTS

**Description**

Jetty does not run when started using `jetty.sh` when that is run as root.

**How to reproduce?**

[code]
This seems l

[2021-11-10 21:55] joakime commented on #7095
This feels like a duplicate of #7008

Can you try the fix listed in there?

Namely the version of `jetty.sh` from https://github.com/eclipse/jetty.project/blob/c89866682c14ca1da0ce482eeca0953375b25da8/jetty-home/src/main/resources/bin/jetty.sh

[2021-11-10 22:22] chiralsoftware commented on #7095
Thanks Joakime. I simply replaced my `jetty.sh` file with `https://raw.githubusercontent.com/eclipse/jetty.project/jetty-10.0.x/jetty-home/src/main/resources/bin/jetty.sh` and it all worked. This was really a confusing situation but it seems to work now.

[2021-11-10 22:23] joakime commented on #7095
@chiralsoftware we are starting the process of the next Jetty 9/10/11 releases.  Expect a new Jetty 10 release with this fix in it before the end of the month.

[2021-11-10 22:24] joakime commented on #7095
Closing, as fixed.

[2021-11-10 22:24] #7095 closed, assigned to nobody

[2021-11-10 22:46] naveenk26 commented on #7072
Hi

Here is the jetty debug log for the issue: https://github.com/naveenk26/jetty-debug
Couple of observations we made.

1. Host reaches 100% CPU after processing ~120K HTTP/2 requests
2. When the CPU is 100%, we stopped the requests entering that host, in a couple of scenarios host recovered, but not always.
3. We tested with 9.4.44, the same issue is observed

[2021-11-11 04:24] janbartel commented on #7062
Closing the issue as according to @lachlan-roberts everything is working as expected.

[2021-11-11 04:24] janbartel commented on #7034
Fixed via #7066

[2021-11-11 11:14] sbordet opened #7099 "Improve Callback/Promise APIs"
**Target Jetty version(s)**
12

**Enhancement Description**
`Callback` (and `Promise`) APIs currently have only 2 methods: `succeeded()` and `failed(Throwable)`.

These methods are used by both code that *acts* on the callback received from some other code (by calling the methods), and by code that *implements* the methods and passes the callback around.

This model does not allow to verify, for e

[2021-11-11 11:26] gregw commented on #7099
I see this more as a utility implementation of Callback (like CompletableFututre is a utility implementation of Future).

It might also be good to have an abstract version where the state being switched is something useful. Eg in my jetty-12 with I'm already using this pattern over and over again... but the state switched is an atomic reference to another object that is being used.

So i can see a

[2021-11-11 12:18] sbordet commented on #7099
Sure, although eventually nobody uses `Future` or `CompletionStage` when it can use `CompletableFuture`...
I'm not sure we have the case for being polymorphic on a `Callback` interface... it can just be a class like `CompletableFuture` is.

[2021-11-11 12:27] joakime commented on #7062
Reopening, as we should delete the file in source ...

https://github.com/eclipse/jetty.project/blob/jetty-10.0.7/jetty-server/src/main/config/modules/test-keystore/test-keystore.p12

[2021-11-11 22:00] gregw opened #7101 "Review ByteBufferUtil"
**Jetty version**
Jetty-12

**History**

The `BufferUtil` class is used as part of the jetty code base convention of leaving a buffer in flush mode unless otherwise indicated.    A bit of history for how it evolved will help explain its usage... we can also check how usage has changed to see if we can improve/replace the class.

The basic parsing loop used in jetty is some variation of the pseudo

[2021-11-11 22:01] gregw commented on #7101
@sbordet you said that you've recently had 2 bugs due to BU usage.  Can you give a detailed explaination of what those bugs were so we can understand why BU usage might be confusing?

[2021-11-11 22:20] sbordet commented on #7101
First issue was using `BufferUtil.copy()` as it leaves the buffer-to-be-copied untouched, while it should be consumed.
External code was passing the buffer to a parser, which was copying the buffer to put it aside (not enough bytes), but since the original buffer was left untouched, a subsequent read and parse would duplicate what was put aside.

Incidentally, a copy with BU is:

[code]

[2021-11-11 22:25] joakime commented on #7101
You mean `BufferUtil` right?

This is a great description of the `BufferUtil` and our history with `ByteBuffer`.

[2021-11-11 22:44] sbordet commented on #7101
Second issue was `QpackEncoder`, a generator (not a parser), which wanted to dictate a "mode" for the buffers that it was receiving as parameters, then internally flip them to write bytes to them, and reflip them upon exit.

This was not working because the external code could set the buffer indexes to generate from, because it has to put the generated length _before_ the generated data, but it ca

[2021-11-11 23:34] sbordet commented on #7101
@gregw I think the case where 1 byte only is parsed as content and given to applications that do not consume it is there with or without `BufferUtil`.

Using `ByteBuffer` APIs would make the buffer consumed with `pos=lim=1`, we could `limit(capacity())` instead of `clear()` and fill starting from pos=2, again with some heuristic like you suggest.

My main objection is not the number of flips (alth

[2021-11-11 23:41] gregw commented on #7101
@sbordet yeah the copy, put, append method are all a bit inconsistent, badly named and have strange argument orderings.  Regardless of our flipping usage,  there is need for util methods, so we need to review them all and fix such inconsistencies.   I think the non consuming copy is there for the use case of adding some constant buffer without the need to slice it all the time. I think that usecas

[2021-11-11 23:51] gregw commented on #7101
@sbordet i agree that the 1 message problem exists for either approach. However with BU we have a more natural place to make heuristic decisions about space and reuse....  although I am tempted by the idea of a buffer abstraction as @lorban suggested to hide byte buffer entirely.

Note that you have not yet shown that the number of flips is different between the two styles.  I believe they are the

[2021-11-12 00:25] sbordet commented on #7101
I don't think `QpackEncoder` should use `BufferUtil` at all to flip to some "mode". That is just wrong because it is the caller that controls the buffer.

As I said, I am not worried about the number of flips, more about the "mode".

That is exactly my point: it shows that `BufferUtil` is not needed at all. So why keep it, maintain it, etc?

An example of really awkward API is when you put aside s

[2021-11-12 02:12] gregw commented on #7101
@sbordet I just don't understand what you mean by "mode".   It's like you are the little boy in the matrix saying "there is no spoon".   In our world there are most definitely a spoons and ByteBuffer has modes!  The javadoc describes the `flip` operation says:

If preparation for subsequent calls is not a mode then I don't know what is???  If you don't prepare, then the subsequent operations will

[2021-11-12 03:50] janbartel opened #7103 "Rework LaF of distro landing page"
The landing page when running the distro is looking tired, needs some tlc.

[2021-11-12 10:42] sbordet opened #7106 "Consume ByteBuffer payloads sent via WebSocket"
**Jetty version(s)**
10

**Description**
Following #4341, payloads to WebSocket frames are not consumed.

This is surprising as:
* HttpOutput.send(ByteBuffer) consumes the buffer
* HttpOutput.write(small) aggregates into the aggregation buffer, which is then consumed when sent
* sending an HTTP/2 DataFrame consumes the buffer
* reading from an InputStream consumes it
* etc.

See also discussion in

[2021-11-12 11:51] clardeur opened #7107 "Client timeout and async close exceptions when setting max duration on pool"
**Jetty version(s)**

11.0.6

**Java version/vendor** `(use: java -version)`

openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)

**OS type/version**

Linux 5.4.0-89-generic #100~18.04.1-Ubuntu SMP Wed Sep 29 10:59:42 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

*

[2021-11-12 17:19] #6990 closed, assigned to sbordet

[2021-11-12 17:33] sbordet commented on #6109
Closing as this mechanism has been incorporated in the work done in #6765.

[2021-11-12 17:33] #6109 closed, assigned to sbordet

[2021-11-12 17:57] sbordet opened #7109 "Deprecate UnixSocket JNR support"
**Jetty version(s)**
10

**Description**
Modules `jetty-unixsocket` and children should be deprecated now that there is support for UnixDomain socket based on JEP 380 introduced in Java 16.

[2021-11-12 18:40] joakime opened #7111 "Add support to deprecate jetty-home modules"
**Jetty version(s)**
10.x +

**Description**
We need a feature to allow deprecation of modules.

It should notify on add and use.
It should also allow freeform text to indicate what the suggested action on the deprecation. (such as an alternate module name)

[2021-11-12 19:33] joakime commented on #7109
Opened Issue #7111 for a more generic module deprecation feature

[2021-11-13 16:19] sbordet opened #7113 "Improve Unix-Domain client documentation"
**Target Jetty version(s)**
10

**Enhancement Description**
Unix-Domain documentation needs improvements regarding the client documentation.

[2021-11-13 16:42] sbordet commented on #7111
@joakime there already exist a "deprecation" mechanism, see https://github.com/eclipse/jetty.project/blob/jetty-11.0.7/jetty-home/src/main/resources/modules/deprecated.properties.
The file above is loaded by the `Modules` class.

However, that seems more a "removed" rather than "deprecated" mechanism (as the warning is printed only if the module is missing), to support complete removal of modules

[2021-11-14 23:57] gregw commented on #7106
I believe a WebSocket Frame is somewhat a higher level object than a ByteBuffer.    It does contain a ByteBuffer, but it there is not a is-a relationship to ByteBuffer.   Thus I think it is reasonable for the following to be true:
[code]

It is somewhat analogous to the `HttpContent` class we use in the resource service which combines meta data and the ByteBuffer containing the content.   That Byt

[2021-11-14 23:57] gregw commented on #7106
@lachlan-roberts thoughts?

[2021-11-15 00:10] gregw commented on #7106
Note also, that the Frame API is used for both sending and receiving, plus it has text frames.   So things like: `frame.setPayload("HelloWorld")` can result in a frame that consumes the string.
Should methods like `frame.getPayloadAsUTF8()` consume?

Also I think I'd find it confusing if a Frame's payload was ever partially consumed.      Let's say we have a Frame with 32KB bytes of payload.  It's

[2021-11-15 03:42] lachlan-roberts commented on #7106
We should also consider this from the Jetty/Javax WebSocket API level which what was being discussed in #7088.

[code]

I have written a test for this which runs over Jetty, Tomcat & Undertow.
- Jetty does not modify the buffer.
- Tomcat does not modify the buffer.
- Undertow sets position to 0 and the limit to the capacity, which increased the `remaining` to max capacity of the buffer.

Not sure

[2021-11-15 03:50] lachlan-roberts commented on #7106
Actually it seems both tomcat and undertow do the same thing, it just happens that tomcat had a buffer of exactly the same size as the message, and it looks like undertow was using some pooled buffer so had a capacity larger than the message.

[2021-11-15 05:26] gregw commented on #7106
@lachlan-roberts I think that indicates that both Tomcat & Undertow are doing a buffer.clear(), which puts the buffer back into fill mode.   So that's something different yet again.

Eitherway, that is an API with takes a ByteBuffer directly, which is a little different to an API that takes an entity that has-a ByteBuffer

[2021-11-15 07:25] prateekkohli2112 commented on #6646
Hi,

Jetty Version : 9.4.43

In a long run my Jetty server gets stuck for some time and recovers automatically.

All the server threads are stuck in the below mentioned state:

stackTrace:
java.lang.Thread.State: WAITING
at sun.misc.Unsafe.park(Native Method)
- parking to wait for <8b28c47> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)
at java.util.concurrent.locks.Lock

[2021-11-15 08:58] sbordet commented on #7106
@gregw I think the buffer should be consumed.

[code]

From the point of view of the `while` loop, it should not matter whether I'm using a "direct" API or wrap the `ByteBuffer` into another object: I am producing a buffer that should be consumed by a send operation, and it does not matter if the implementation aggregates it, splits it, slices it, or pass it immediately to a `Channel.write(ByteBuf

[2021-11-15 09:27] gregw commented on #7106
@sbordet
I don't understand the point of your example.   Your loop clears the buffer at the start of every iteration, so it doesn't matter if it is consume or not.  Even if the buffer is consumed, it needs to be cleared to be reused in that example, so there is zero difference in the code if the buffer is consumed or not.    I think your example is showing that it doesn't really matter either way

[2021-11-15 09:51] dejpec opened #7117 "Timeout with Expect 100 continue when using ProxyServlet"
**Jetty version**
9.4.43, 9.4.44

**Java version**
OpenJDK 11

**OS type/version**
Windows 10

**Description**
I am using embedded jetty version 9.4.43 and use ProxyServlet to reverse proxy requests to the server.
A servlet behind this proxy which reads all lines causes a timeout when Expect: 100-continue is set.
If servlet reads all bytes binary it works. Whithout reverse proxy the servlet works

[2021-11-15 18:45] sbordet commented on #6646
@prateekkohli2112 I don't think it is. Please open a new issue. We need the full thread dump, not just one thread.

[2021-11-15 19:11] sbordet commented on #7072
@naveenk26 I don't see any evidence of threads spinning, nor of close issues in the logs that you provided.
Are you sure this is a Jetty issue?

We need a clear correlation between the logs and at least one of the threads that is spinning the CPU at 100%, and a clear correlation between the logs and at least one of the socket in CLOSE_WAIT.

In the logs there are 29 open for sockets on port 8081 a

[2021-11-15 19:17] naveenk26 commented on #7072
@sbordet Thank you for the response, will get back to you with different debug logs and thread ids.

[2021-11-15 23:39] janbartel opened #7119 "Upgrade to infinispan 13"
Infinispan 13 has support for jdk17 but is compatible with jdk8/11.
Turns out that the binary storage format from 10 onwards is not backwardly compatible with 9.4, so only upgrading to 11 did not remove the need for users to deal with the format change. So, we may as well work on upgrading to the latest and greatest.

[2021-11-16 05:21] #7062 closed, assigned to nobody

[2021-11-16 05:26] #2690 closed

[2021-11-16 05:32] #7086 closed, assigned to lachlan-roberts

[2021-11-16 06:14] prateekkohli2112 opened #7120 "Jetty Server stops responding after some time"
**Jetty version(s)**
9.4.43

**Java version/vendor** `(use: java -version)`
1.8.261

**OS type/version**
Linux

**Description**
Jetty server gets stuck for some time and recovers automatically and gets stuck again.

Please find attached the thread dump at the time of the issue.

**SBI F-E-2081-pool -> Jetty server threads**

**How to reproduce?**
Usually happens when we send requests to Jetty serv

[2021-11-16 09:33] sbordet commented on #7120
What's your server-side thread pool configuration?
What's your server-side idle timeout?

You have 190 server threads blocked in writes.

This means that the client is not reading what the server is sending, so now you have to wait the idle timeout (or the client to read) to unblock those blocked writes.

16000 threads on the client is probably an indication that you're doing some load test, and d

[2021-11-16 09:53] ArfyFR opened #7121 "Jetty 9 doc issue - WebSocket message size"
**Jetty version(s)**
9

**Description**
In WebSocket Introduction I can read:
_A single message in WebSocket can be of **any size** (the underlying framing however does have a single frame limit of 63-bits). There can be an unlimited number of messages sent. Messages are sent sequentially, the base protocol does not support interleaved messages._
Link: https://www.eclipse.org/jetty/documentation/j

[2021-11-16 10:07] olamy commented on #7034
still happening

[2021-11-16 12:00] lorban commented on #7107
Thanks for the detailed report, and thank you very much for the reproducing instructions as those are invaluable.

Indeed there is a problem when the connection expiration feature is enabled on a multiplexed connection pool.

I'm currently working on a fix and will keep you updated soon.

[2021-11-16 15:07] #7064 closed, assigned to joakime

[2021-11-16 15:13] joakime opened #7124 "Add default methods on LifeCycle.Listener interface"

[2021-11-16 22:50] lachlan-roberts commented on #7078
Merged PR #7079.

[2021-11-16 22:50] #7078 closed, assigned to lachlan-roberts

[2021-11-16 22:51] #1087 closed

[2021-11-16 23:34] janbartel commented on #7034
Attaching relevant log files from a local successful run vs a failed jenkins run. Note the warnings from infinispan about losing contact with a node just prior to the test failure. This failure is never seen in a local environment without jenkins/kubernetes etc.

[infinispan-jenkins-fail.txt](https://github.com/eclipse/jetty.project/files/7550557/infinispan-jenkins-fail.txt)
[infinispan-local-succ

[2021-11-16 23:48] lachlan-roberts commented on #7121
This section is talking about the WebSocket protocol and not related to the settings from the JSR-356 (javax.websocket) API. The protocol itself defines no limits on the overall message size.

This is to demonstrate how you can set the value to something other than the default.

[2021-11-16 23:49] lachlan-roberts commented on #7121
But I think it would be beneficial to have a section describing settings like this and their default values. In Jetty 10-11  we have the [`WebSocketConstants`](https://github.com/eclipse/jetty.project/blob/dd0613193cae9f95d7b042c79765cf552f29eef4/jetty-websocket/websocket-core-common/src/main/java/org/eclipse/jetty/websocket/core/WebSocketConstants.java) class which defines the default values used

[2021-11-17 00:50] olamy commented on #7034
@janbartel see #7122

[2021-11-17 03:10] #7103 closed, assigned to janbartel

[2021-11-17 05:28] janbartel commented on #7119
Issue raised with Infinispan: https://issues.redhat.com/browse/ISPN-13486.

[2021-11-17 05:50] #7034 closed, assigned to olamy, janbartel

[2021-11-17 07:15] flymoondust opened #7126 "How to get server's response when create websocket failed"
**Jetty version**
jetty9

**Java version**
java 8

**Question**
I recently have a need to know the error message responsed from server when create websocket, but i don't know how.
I only have this error log:
[2021-11-17 10:58:05,310][ERROR][0][0][DriverFrameworkService][HttpClient@dbd8da9-1251][ROOT][com.huawei.ies.restconnectorservice.connection.handler.WebsocketHandler][152] websocket is onError

[2021-11-17 07:28] flymoondust commented on #7126
OMG!!! I already find out the way:
`HttpContentResponse response = (HttpContentResponse) ((HttpResponseException) thr.getCause()).getResponse();
            LOGGER.error("sss: {}", new String(response.getContent()));`

[2021-11-17 07:28] #7126 closed, assigned to nobody

[2021-11-17 08:22] yuandongjie opened #7127 "JasperException: PWC6349"

[2021-11-17 14:01] sbordet commented on #7127
Honestly, too little information, don't you think?

[2021-11-17 14:12] #7113 closed, assigned to sbordet

[2021-11-17 15:41] lorban commented on #7107
I believe I nailed the problem and have a fix ready, hopefully it will get reviewed and merged soon: https://github.com/eclipse/jetty.project/pull/7123

Please note that my PR is against 10.0.x because this bug impacts both 10.0.x and 11.0.x identically, and probably 9.4.x too.

[2021-11-17 16:30] mperktold opened #7131 "Use Charset instead of encoding string where possible"
**Target Jetty version(s)**
Jetty 10.0.x

**Enhancement Description**
We've noticed a few places where a string charset is passed to a JDK method even if it would be possible to directly use a Charset instead:
- [HttpRequest#urlEncode](https://github.com/eclipse/jetty.project/blob/ec3d7dbe92532cfdbb719cb7b736ad115aea40e5/jetty-client/src/main/java/org/eclipse/jetty/client/HttpRequest.java#L916)
-

[2021-11-17 18:44] joakime commented on #6017
Fix in ec3d7dbe92532cfdbb719cb7b736ad115aea40e5

[2021-11-18 00:51] gregw commented on #6367
I'm closing this as we are now doing real jetty12 development and musings are best done in the PRs

[2021-11-18 00:51] #6367 closed, assigned to gregw

[2021-11-18 02:30] janbartel commented on #7127
@yuandongjie you must be using jetty-9.3 or earlier. Have a look at this issue: https://github.com/jetty-project/embedded-jetty-jsp/issues/6  and also please read the jetty documentation regarding jsp that matches your jetty version.

[2021-11-18 15:43] clardeur commented on #7107
Here are some logs about our pool blocked in a bad state, all our client requests generate these logs :
[code]

No sockets opened to the destination, verified with `netstats`. We have tried to remove the `maxDuration` param and use the `maxUsage` only, no more `AsynchronousCloseException` but a pool still in a bad state.

@lorban do you think this is an other issue, not related with this one ? Do

[2021-11-18 17:08] lorban commented on #7107
`maxDuration` and `maxUsage` rely on the same buggy code path to figure out when to close connections. I'm not certain both features are impacted by the identified bug, especially since you report that the symptoms are slightly different, but it may be the case.

The logs you included are too brief to jump to any conclusion but since you suspect your connection pool being stuck, I would advise you

[2021-11-18 23:20] janbartel opened #7132 "Tidy up demo webapps"
The demo jetty webapps need some attention: some text is incorrect, the jetty banner is outdated, and generally they could do with some sprucing up.

[2021-11-19 06:52] xex89 opened #7134 "ى"
**Jetty version(s)**

**Java version/vendor** `(use: java -version)`

**OS type/version**

**Description**
_Do not report security issues here! See [Jetty Security Reports](https://www.eclipse.org/jetty/security_reports.php)._

**How to reproduce?**

[2021-11-19 07:16] olamy commented on #7134
please provide more details

[2021-11-19 07:16] #7134 closed, assigned to nobody

[2021-11-19 17:03] joakime commented on #7131
Opened as PR #7137

[2021-11-19 22:17] #7131 closed, assigned to joakime

[2021-11-19 22:19] joakime commented on #7131
Merged into `jetty-10.0.x` and `jetty-11.0.x`

[2021-11-21 12:12] azagniotov opened #7139 "Unexpected ISHUT for HTTP2ServerSession, results in EofException: Close no_error/ (stop)"
Jetty Team,

**Jetty version(s)**
- `v9.4.44.v20210927`

**Jetty related libraries on the classpath**
- `org.eclipse.jetty:jetty-alpn-openjdk8-server:9.4.44.v20210927`
- `org.eclipse.jetty.http2:http2-server:9.4.44.v20210927`
- `org.eclipse.jetty:jetty-servlets:9.4.44.v20210927`

**Java version/vendor** `(use: java -version)`
[code]

**cURL**
[code]

**OS type/version**

[code]

**Description**
Ma

[2021-11-21 14:11] amsmax opened #7140 "ClientConnector is not registered as a bean what results in a NullPointerException"
**Jetty version(s)**
10.0.7

**Java version/vendor** `(use: java -version)`
11.0.12

**OS type/version**
Ubuntu 20.04.1

**Description**
NullPointerException occurs when an SSLContext is added to an HTTPClient. While creating the HTTPClient a ClientConnector is created but this ClientConnector is not registered as a managed bean.

**How to reproduce?**
SSLContext sslContext = SSLContext.getDefault

[2021-11-21 14:24] amsmax opened #7141 "Improve documentation about HTTPClient and HTTP/2"
**Target Jetty version(s)**
10.0.7

**Enhancement Description**
The [documentation](https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-client) describes the following:

_The High-Level HTTP Client Library for HTTP/1.1, HTTP/2 and FastCGI_

It looks like if the HTTPClient can do HTTP/2 calls but if I'm not mistaken the low level HTTP2Client is still required. The o

[2021-11-21 14:38] sbordet commented on #7141
In the [HTTP client documentation](https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-client-http), the 4th paragraph talks about the different transport:

"Jetty’s HTTP client supports different transports: HTTP/1.1, FastCGI and HTTP/2."

The words "different transports" are a link to the pluggable transport section, where you can find the snippet that you report

[2021-11-21 15:05] sbordet commented on #7140
The `SslContextFactory` is initialized when `HttpClient` -- and therefore `ClientConnector` -- is started.
This is to allow to set the `SslContextFactory` on `ClientConnector` in case of advanced configuration.

Do this instead:

[code]

Or, if you want to use a more advanced configuration:

[code]

[2021-11-21 15:05] #7140 closed, assigned to nobody

[2021-11-22 09:32] amsmax commented on #7141
I was expecting something like:
HttpClient httpClient = new HttpClient();
httpClient.setProtocol(H2)
It feels a little bit strange that two 'HttpClients'  are needed HttpClient and HTTP2Client. It is now all clear to me.

My goal is to use Jetty in a Spring WebClient. Some background information. Spring offers the class RestTemplate to do blocking calls to backend services. This RestTemplate is no

[2021-11-22 13:39] c-legrand commented on #7107
Here a full dump of pools when the issue occurs :
[code]
Where the one in bad state is :
[code]

Hope it can help to fix the issue.

[2021-11-23 05:12] lachlan-roberts commented on #7042
Merged #7043.

[2021-11-23 05:12] #7042 closed, assigned to lachlan-roberts

[2021-11-23 10:23] lorban opened #7157 "Multiplexed connection pools retain CLOSED entries"
**Jetty version(s)**
11.0.6

**Description**
Multiplexed connection pools can end up in this state:
[code]
which can happen when a server stream idle-times out.
See: https://github.com/eclipse/jetty.project/issues/7107#issuecomment-975532425

[2021-11-23 10:55] lorban commented on #7107
Thank you for reporting the pool dump, it really helped figuring out what state the pool and its connections ended up in so I could reproduce the problem locally.

That is caused by second bug for which I opened a different issue: #7157.

This issue's fix has already been merged into the `jetty-11.0.x` branch, so you could check it out, apply the fix for #7157 (there's a PR out for 10.0.x but I th

[2021-11-23 12:48] wilkinsona commented on #4033
There seems to have been a change in this area in Jetty 10 or 11. Before opening a new issue, I thought it best to mention it here to hopefully learn if it's intentional. A test that tries to access a static resource named `nested-reserved-!%23$%25&%27()*+,/:%3B=%3F@%5B%5D-meta-inf-resource.txt` that passed with Jetty 9 (200 response) is failing with Jetty 11 (400 response).

[2021-11-23 13:33] #7107 closed, assigned to lorban

[2021-11-23 14:28] DenisDudinski commented on #4948
Hi @mklinger, @sbordet! It seems, that we experience somewhat similar problem with jetty embedded in hadoop hdfs namenode (jetty version 9.4.20.v20190813 as reported by maven). Upload silently fails on server side during upload of file, and debug log shows, that last filled ByteBuffer somehow is not applied to HttpInput, but no errors or warns is produced. Clients behaves itself in two ways - it e

[2021-11-23 14:29] joakime commented on #4033
What is the static filename (in the raw, without URI encoding/decoding) on your filesystem (be it a real filesystem, network filesystem, or jar/zip filesystem)

Is it `nested-reserved-!#$%&'()*+,/:;=?@[]-meta-inf-resource.txt` ?

I use this tiny project to test encoding/decoding and static resources ...
https://github.com/joakime/maniacal-servlet-encoding

So far, I can access all of the content i

[2021-11-23 17:09] c-legrand commented on #7107
Thank you for fixing quickly these issues.

We would like to try the `jetty-11.0.x` version with the fix #7157 but the problem occurs only on our production environment and we prefer to wait for the release (11.0.x) for stability reason.

Thanks again for your help.

[2021-11-23 17:23] wilkinsona commented on #4033
Thanks, @joakime. The file's in a jar file and it's named `META-INF/resources/nested-reserved-!#\$%&()*+,:=?@[]-meta-inf-resource.txt`. I'm working on a branch of Spring Boot that upgrades to Jakarta EE 9 and, among many other things, Jetty 11 is part of that. Now that I know that this should still work, let me dig a bit and see if I can pinpoint what's changed. I'll open a new issue with a reprod

[2021-11-23 18:14] wilkinsona opened #7160 "HttpURI considers %25 to be ambiguous, preventing access to static resources with % in their name"
**Jetty version(s)**

11.0.7

**Java version/vendor** `(use: java -version)`

openjdk version "17" 2021-09-14
OpenJDK Runtime Environment Temurin-17+35 (build 17+35)
OpenJDK 64-Bit Server VM Temurin-17+35 (build 17+35, mixed mode, sharing

**OS type/version**

macOS

**Description**

This is a follow on from the [discussion in #4033](https://github.com/eclipse/jetty.project/issues/4033#issuecommen

[2021-11-24 00:54] lachlan-roberts commented on #7160
@wilkinsona This was done as a protection against things like double URI decoding vulnerabilities. You will need to configure your `UriCompliance` mode to allow `AMBIGUOUS_PATH_ENCODING`.

You can use one of the following compliance modes; `UriCompliance.LEGACY`, `UriCompliance.RFC3986` or `UriCompliance.UNSAFE`.

There is a setting in `start.d/server.ini` if using standalone Jetty. Otherwise it y

[2021-11-24 03:07] moadi opened #7161 "Limiting concurrency with QoSFilter"
**Jetty version**
9.4.43

**Java version**
Java 8

**Question**
Hi folks,

On a production server we are looking to limit the maximum number of inflight requests being handled by a given Jetty instance. Reading the documentation and some associated past issues for limiting concurrency and keeping memory usage under control, it seems like the general advice is to go for the QoSFilter instead of att

[2021-11-24 03:34] moadi commented on #7161
I wonder if I am misunderstanding how to configure the QoSFilter now. I have currently set the `waitMs` param to `50` and `suspendMs` param to 500. Does this imply the service will return a 503 once the `suspendMs` timeout has expired? Should I set this to a higher value?

[2021-11-24 08:13] wilkinsona commented on #7160
Isn't the protection over-zealous in this case as there's no double encoding involved? How can one access static resources with `%` in their name without becoming exposed to double decoding vulnerabilities?

[2021-11-24 10:04] lachlan-roberts commented on #7160
@wilkinsona It might be over-zealous to be rejecting ambiguous path encodings by default. The double decoding vulnerability was reported against `ConcatServlet` and `WelcomeFilter` which have since been fixed. So if you change `UriCompliance` mode to allow ambiguous encodings there should be no issue unless the application or a framework is accidentally re-decoding the decoded path.

@gregw what d

[2021-11-24 14:20] azagniotov commented on #7139
I came across this SO reply by @sbordet :  https://stackoverflow.com/a/55092354, where basically
[code]
I am curious if this is what is happening here - the server decided to close the connection after successfully writing all the frames to the client (cURL). I am just puzzled about the `Unexpected ISHUT for HTTP2ServerSession`

[2021-11-24 14:29] sbordet commented on #7139
@azagniotov from your logs I see that the client does not send the required GOAWAY frame when closing the connection, so that's why Jetty logs (at DEBUG level, though) that it received an unexpected ISHUT.

Clients should send a GOAWAY frame, but since they often don't, we just behave as if they did and close the connection, and only log at DEBUG level.

[2021-11-24 15:09] azagniotov commented on #7139
Thank you, @sbordet

I will close this issue.

[2021-11-24 15:09] #7139 closed, assigned to nobody

[2021-11-24 19:10] amsmax opened #7164 "404 in API documentation"
**Jetty version(s)**
Jetty 10

**Java version/vendor** `(use: java -version)`
not applicable

**OS type/version**
Ubuntu with Chrome Browser

**Description**
Search functionality in online API doesn't work fully. Sometimes it results in a 404.

**How to reproduce?**
- Go to https://www.eclipse.org/jetty/javadoc/jetty-10/index.html?overview-summary.html.
- Search for ClientConnector
- Click on the

[2021-11-24 22:52] lachlan-roberts commented on #7124
Merged #7143.

[2021-11-24 22:52] #7124 closed, assigned to nobody

[2021-11-25 05:34] gregw commented on #7161
Mohammad,

quick answer because I'm not at my usual desk.

The QoSFilter can be configured with a longer delay to avoid (well delay)
sending the 503.  500ms may not be long enough to suspend.   It is a
threadless suspend, so you can try 10000ms (ie 10s) and still be under the
timeouts of most HTTP intermediaries

cheers

On Wed, 24 Nov 2021 at 14:34, Mohammad Adi ***@***.***> wrote:

--
Greg Wilki

[2021-11-25 09:42] #7157 closed, assigned to lorban

[2021-11-25 11:31] sbordet commented on #7164
@jmcc0nn3ll we need to update the script that uploads the javadocs to the website to take the javadocs built with Java 17, not Java 11.

It's a javadoc issue that was fixed in Java 12.

[2021-11-25 16:24] moadi commented on #7161
@gregw thank you very much! tested with the higher timeouts and it works as expected.

[2021-11-25 16:24] #7161 closed, assigned to nobody

[2021-11-26 09:05] prateekkohli2112 commented on #7120
What's your server-side thread pool configuration? - Max threads 200, default values for other parameters
What's your server-side idle timeout? - default

I think what you mentioned about client overloading was right as we can see **TCP Zero Window** packets from client side in our snoops.
But we can also observed some **TCP Zero Window** from server side and all the threads in server are now in w

[2021-11-26 10:14] sbordet commented on #7120
@prateekkohli2112 this seems just a badly setup load test.

You have configured each HTTP/2 session with 2500 streams, which is just an unrealistic scenario.
You will never configure a server like that.
Whatever number you get out of it, it will be completely meaningless, as real world scenarios will be entirely different.

Furthermore, with 2500 streams per connection, you are likely to cause TCP

[2021-11-26 10:43] cstamas opened #7168 "Jetty rewrites header values breaking AWS signatures"
**Jetty version(s)**
Tested 9.4.41 (version s3proxy uses) but locally same behaviour with 9.4.44

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.13" 2021-10-19
OpenJDK Runtime Environment Temurin-11.0.13+8 (build 11.0.13+8)
OpenJDK 64-Bit Server VM Temurin-11.0.13+8 (build 11.0.13+8, mixed mode)

**OS type/version**
Linux Mint 20.2 kernel 5.4.0-90-generic

**Description**
See

[2021-11-26 11:09] cstamas commented on #7168
Created Jetty UT that demonstrates the issue: https://github.com/eclipse/jetty.project/pull/7169

[2021-11-26 12:57] joakime commented on #7168
Considering that the https://datatracker.ietf.org/doc/draft-ietf-httpbis-message-signatures/ is still a a draft and every revision on it introduces more and more "but this field is also case insensitive", I bet this is yet another situation just like this. (All mime-type and charset usage in any http field is case-insensitive already per the HTTP/1.x specs)

The translation of the HTTP Fields from

[2021-11-26 14:53] cstamas commented on #7168
Disabling CACHE for our use case of s3proxy would work (we use it in ITs as "upstream"), but would not fix s3proxy issue.

But re "All mime-type and charset usage in any http field is case-insensitive already per the HTTP/1.x specs", if so, then why is Jetty altering valid "utf-8" to (another valid) "UTF-8"? (Especially as lower case one is also in cache https://github.com/eclipse/jetty.project/bl

[2021-11-26 19:00] michael-o commented on #7168
@cstamas Let me guess: It uses Java's `Charset` class which will generate an uppercase to string representation of the parsed value. Note that Apache HttpClient does the same.

[2021-11-26 19:17] cstamas commented on #7168
No, on cliend side guava is used, and guava defines mediatype with lowercase. So that is signed, but while it arrives to s3proxy (that is a jetty handler) it becomes uppercase 😞

[2021-11-26 19:22] michael-o commented on #7168
The you need a canoncial representation otherwise this will not work.

[2021-11-27 10:30] sbordet commented on #4948
@DenisDudinski the image you attached shows that HTTP/1.1 is in use. This issue is about HTTP/2, so please open a new issue.

[2021-11-28 02:10] elanvital8 commented on #6973
Thank goodness I finally found this thread.  I'm having the same issue and some internet attack is clogging my Jetty servers in this exact way.
I am hoping to find a way to replicate this bug by creating a POST with curl which will cause it, so that I can then upgrade my Jetty servers and/or logback and/or JVM and see if the POST no longer works to trigger this.
Is there any advice on how to artif

[2021-11-28 15:43] dimas commented on #6973
We created a test case - see this comment https://github.com/eclipse/jetty.project/issues/6973#issuecomment-942806324
There is Java code that sends the request that caused problem on our servers.

To find the request - we removed all traffic from the impacted server, observed it still uses a lot of CPU even though not serving any user requests, took a heap dump and analyzed it with a profiler look

[2021-11-29 03:42] aaronjwhiteside opened #7170 "Jetty does not deal well when no body is returned in the response"
**Jetty version(s)**
9.4.44.v20210927

We upgraded from 9.4.24.v20191120, which didn't exhibit this problem.

**Java version/vendor** `(use: java -version)`
[code]
**OS type/version**
[code]

**Description**
It seems there is some issue with handling responses with no body, jetty throws two exceptions and closed the socket, but only after the response has actually been sent.

[code]

[code]

The i

[2021-11-29 03:47] aaronjwhiteside commented on #7170
You can compare the log output to one with a response body.

[jetty log with a response body.log](https://github.com/eclipse/jetty.project/files/7615403/jetty.log.with.a.response.body.log)

[2021-11-29 07:10] elanvital8 commented on #6973
My goodness, thank you so much for responding on a holiday weekend.  I was able to take the test and use just the Socket connection piece to hit my test server and it replicated the issue.  This will help greatly to know when an upgrade makes it possible to block this, hopefully just with the latest Jetty version.

[2021-11-29 09:36] dimas commented on #6973
As per https://github.com/eclipse/jetty.project/issues/6973#issuecomment-943346500 - `9.4.44` solved the issue for us. So I guess anything above that should be fine.

[2021-11-29 14:16] joakime commented on #7170
I'm trying to replicate this reported issue.

BTW, If a client failed this, then that would be a badly implemented client not following the HTTP spec.
The server is free to close the connection at any point per spec.

[2021-11-29 15:02] joakime commented on #7170
Small note, your Apache HttpClient is still sending ...

[code]

... on HTTP/1.1 requests.
Make sure you configure your Apache HttpClient to not do that.
That token `keep-alive` has absolutely no meaning to any HTTP/1.1 server. (it's specifically not present in the HTTP/1.1 spec)
That's an HTTP/1.0 concept and feature, and should not be sent to HTTP/1.1 endpoints.
This header can trip up many prox

[2021-11-29 15:32] joakime opened #7178 "Logging in AbstractConnection.onFillInterestedFailed should not trigger exception"
**Jetty version(s)**
10.0.7

**Java version/vendor** `(use: java -version)`
11

**OS type/version**
Linux

**Description**
When logging at DEBUG level is on, and the connection is closed, the logging at `AbstractConnection.onFillInterestedFailed` can trigger an exception when it attempts to get the remote address.
This should not fail like this, the attempt to retrieve the socket address should re

[2021-11-29 16:17] joakime commented on #7170
I tried to replicate in a simple testcase which can be found at ...

https://github.com/joakime/jetty-issue-7170-no-body-response

It simply has a `WebAppContext` with a servlet on url-pattern `/nobody` that just returns status code 501 on method DELETE and does nothing else.
This produces a response with no body, as expected, without the issues seen in your logs.

Your logs with `org.eclipse.jett

[2021-11-29 23:43] gregw commented on #7160
I'm inclined to relax double encoding check in 10 & 11 by default.   We don't protect for this in 9, and with servlet6 there is a much better definition of what we should be doing, so it will be better fixed in jetty-12, so let's not be special in jetty-10 & jetty-11.  i.e let's go with the flow and act the same as the other containers.

[2021-11-30 04:19] prateekkohli2112 commented on #7120
We understand that this has to be a limitation on the client side. But we are not just testing Jetty server but a pipeline having Jetty server and client as attached in a picture below.

![pipeline](https://user-images.githubusercontent.com/17244992/143984575-60c52253-a7ed-4af6-ae36-d6a334cf71a9.png)

In such a pipeline without latency we are able to achieve the expected throughput which is not to

[2021-11-30 08:59] sbordet commented on #7120
Your expectations are wrong. If you inject a 7 s latency on a system that can do 8k requests/s, you need to buffer 56k requests before receiving the first response.
With only 300 connections, you now have a completely different system from before, with queueing happening everywhere: on the client, on the TCP connection, on the server in multiple places, etc.
The system will just behave differently

[2021-11-30 16:53] amsmax opened #7181 "The license of org.eclipse.jetty.toolchain:jetty-servlet-api is much more strict than comparable jars"
**Jetty version(s)**
not applicable

**Java version/vendor** `(use: java -version)`
not applicable

**OS type/version**
not applicable

**Description**
The following library causes a build breaker in Nexus IQ due to a license issue.
`<dependency>
    <groupId>org.eclipse.jetty.toolchain</groupId>
    <artifactId>jetty-servlet-api</artifactId>
    <version>4.0.6</version>
</dependency>`

The jar co

[2021-11-30 17:51] joakime commented on #7181
The artifact `org.eclipse.jetty.toolchain:jetty-servlet-api` is the combination of the artifacts ...

* [`jakarta.servlet:jakarta.servlet-api:4.0.4`](https://repo1.maven.org/maven2/jakarta/servlet/jakarta.servlet-api/4.0.4/) - EPL 2.0 _OR_ GPL 2.0 w/CPE
* https://github.com/eclipse-ee4j/jakartaee-schemas - EPL 2.0 _AND_ GPL 2.0 w/CPE

Along with a JPMS `module-info.java` - https://github.com/eclip

[2021-11-30 17:59] joakime commented on #7181
We cannot remove the EPL 2.0 or GPL 2.0 w/CPE, those have to stay.
We should, however, remove the Apache license from the servlet-api jars we are aggregating.
We are hopeful that Jakarta EE 10 (Servlet 6.0) will eliminate our need for this aggregate jar (as we need the JPMS layer), we'll go to using the official jars instead of our aggregate.

Frankly, I'm surprised that tomcat has a jar without t

[2021-11-30 21:07] ianrifkin opened #7182 "jetty.sh start process should remove jetty_state whenever deleting the pid"
Jetty version(s)
9.4.x
10.x
11.x

In the stop process right after the JETTY_PID file is deleted it will delete the JETTY_STATE file, but this does not happen in the running() routine when it will only delete the PID and not JETTY_STATE if there is an orphaned pid file.

Why this matters: You can end up starting jetty with an outdated JETTY_STATE file. If the contents in JETTY_STATE say "STARTED" i

[2021-11-30 23:41] #7160 closed, assigned to nobody

[2021-12-01 01:48] ianrifkin commented on #7182
If you agree with this bugfix, I have submitted a PR for 9.4.x (#7186) and 10.x (#7184) and 11.0.x (#7193). If you disagree with this or want to take a different approach, no worries! Thanks! -Ian

EDIT: I closed the PRs for 10.x and 11.x since I learned I only need one PR for this! Oops! Thanks again.

[2021-12-01 07:11] mjs8002 opened #7187 "JNR/UnixSocket connect does not release?"
**Jetty version(s)**
9.4.43.v20210629
**Java version/vendor** `(use: java -version)`
1.8
**OS type/version**
linux
**Description**
_Do not report security issues here! See [Jetty Security Reports](https://www.eclipse.org/jetty/security_reports.php)._
we use HttpClientTransportOverUnixSockets
send request such as ：
  HttpClientTransportOverUnixSockets transport = new HttpClientTransportOverUnixSock

[2021-12-01 07:19] mjs8002 commented on #7187
![image](https://user-images.githubusercontent.com/41276528/144189557-5f67cc4e-641f-4dab-8d2a-004022dc5a04.png)

we find the warn in log

[2021-12-01 07:23] gregw opened #7188 "org.eclipse.jetty.server.HttpServerTestBase#testFullMethod is flakey"
**Jetty version(s)**

9.4.x

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.13" 2021-10-19

**OS type/version**
linux

**Description**

fails about 1 in 4 runs with:

[code]

[2021-12-01 15:20] sbordet commented on #7187
Support for Unix-Domain sockets via `jetty-unixsocket` and related modules is experimental and deprecated (see #7109).

I recommend that you switch to Java 16 or later and use OpenJDK Unix-Domain support, which is supported in Jetty 10 via the `jetty-unixdomain` modules.

[2021-12-01 15:31] joakime commented on #7187
@sbordet what's the OpenJDK Unix-Domain replacement for HttpClient's HttpClientTransportOverUnixSockets?

[2021-12-01 17:49] FreeGuwop opened #7190 "Upgrading Jetty Results in EofException Reset no_error being Thrown"
**Jetty version(s)**

Upgrading from 9.4.31.v2020072 to 9.4.44.v20210927

**Java version/vendor** `(use: java -version)`

Amazon Corretto 11

**OS type/version**

Amazon Linux 2

**How to reproduce?**

When upgrading Jetty, we have noticed that this error is being thrown in one of our servlets. This servlet is sending a redirect response to a client. Upon inspection, the client is not terminating

[2021-12-01 21:26] patsonluk opened #7192 "InputStreamResponseListener occasionally hangs waiting for response body chunk"
**Jetty version(s)**
jetty-client-9.4.34.v20201102 and jetty-client-9.4.44.v20210927

**Java version/vendor** `(use: java -version)`
openjdk version "11.0.7" 2020-04-14

**OS type/version**
ProductName:	macOS
ProductVersion:	11.6.1
BuildVersion:	20G224

**Description**
We work with a [fork of lucene solr](https://github.com/fullstorydev/lucene-solr) which uses jetty http client/server for communic

[2021-12-01 23:01] sbordet commented on #7192
What OpenJDK vendor are you using?

This looks suspicious:

[code]

It's the first time I see a "waiting to re-lock" and "waiting on <no object reference available>", as I don't think we have such case in the Jetty code where you could actually see a "waiting to re-lock" unless you are really lucky with the timing of the thread dump.

I found this, not sure it's related:
https://bugs.openjdk.java.

[2021-12-02 02:13] mjs8002 commented on #7187
@sbordet Is there a good solution on jetty 9?

[2021-12-02 03:22] patsonluk commented on #7192
Thank you for your help! 😊

java.vendor = AdoptOpenJDK

openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.7+10, mixed mode)

we have tried to enable debug on `org.eclipse.jetty.http2` but it produces huge log files, do u have any suggestions of which class/packages we should enable DEBUG for please?

We

[2021-12-02 08:46] sbordet commented on #7187
Unfortunately no, JNR is not stable enough and now that support for Unix-Domain landed in the JDK I don't think we will try and chase down bugs in JNR.

Note that using Jetty 10's `HttpClient` is probably just a drop in replacement for Jetty 9's `HttpClient`, so I recommend that you upgrade - you will probably have to change very little in your client application.

[2021-12-02 08:52] sbordet commented on #7192
As a shot in the dark, we recently fixed https://github.com/eclipse/jetty.project/issues/7157.

Can you try the latest HEAD code for branch `jetty-9.4.x`?

I know the logs are huge, but if you can reproduce they might be the only way to understand what's going on.

[2021-12-02 08:55] #2504 closed

[2021-12-02 09:09] #7111 closed, assigned to nobody

[2021-12-02 11:59] #7109 closed, assigned to nobody

[2021-12-02 12:09] sbordet commented on #7190
Can you please add few log lines before and after the line that logs the above stack trace?
It will help understanding what part of the code logs this asynchronous exception.

[2021-12-02 14:59] ianrifkin commented on #7182
My proposed solution above is just consistently deleting the state file when we delete the pid. But another approach is instead change the lines that grep the state file to instead `tail -1` the file then grep that -- because really I think we should only care about what the last line says, this way avoiding the whole issue of if the state file wasn't deleted. Let me know your preference.

[2021-12-02 15:50] patsonluk commented on #7192
For sure we will try `jetty-9.4.x` - just a newbie question : I assume we would have to build that ourselves? Or are there any existing repo that builds latest HEAD of such branch?

[2021-12-02 15:58] joakime commented on #7192
@patsonluk there are snapshot builds available via the official snapshot repository at https://oss.sonatype.org/content/repositories/jetty-snapshots/

You'll want to use `9.4.45-SNAPSHOT`

[2021-12-02 16:37] patsonluk commented on #7192
@joakime thanks! I read this late and built it myself 😓

Unfortunately, that did not seem to fix our issue:
[code]

[2021-12-02 17:00] sbordet commented on #7192
The stack trace you report is different from the initial description of this issue, no?

At this point we need to be able to reproduce it ourselves, or get from you DEBUG logs, or a reproducible standalone case.

Does it fail on non-Mac? Does it fail with different Java versions?

[2021-12-02 17:19] patsonluk commented on #7192
Sorry about the confusion. The stack trace quoted in the initial comment is when the thread hangs. While the previous stack trace is when the hang is interrupted as eventually there's a "go away" event which terminates the connection.

There are 2 layers of this problem:
1. Usually the requests should all be done within a second, it's unexpected that the client would wait for anything more than th

[2021-12-02 17:25] sbordet commented on #7192
@patsonluk we're interested in getting to the bottom of this issue. Let us know if you can isolate it, otherwise we'll need instructions on how to run this test with your solr fork ourselves.

[2021-12-02 19:20] FreeGuwop commented on #7190
Interestingly, despite logging the exception and swallowing the exception, it is still thrown somewhere later in the Jetty code. This is all the visibility we have into this error.

Full stack trace:

[code]

[2021-12-02 21:15] sbordet commented on #7190
I suspect that server receives a RST_STREAM from the client, it wakes up a blocked read in an application Servlet, and it's the application Servlet that logs the stack trace.

Unfortunately, the information you posted so far is insufficient to determine what code is logging this exception, so I would suggest you debug or trace what code is logging this exception -- my suspect is that it's not Jett

[2021-12-02 21:23] FreeGuwop commented on #7190
Sorry, the formatting blocked the right thing from showing.  I just edited and fixed it. I agree, the application servlet is logging the stack trace. It is also the one logging the exception above. However, after that log message, we swallow the exception.

That same exception is then rethrown somewhere else in the Jetty code which we cannot control. That is the part which I am escalating. If we c

[2021-12-02 21:26] sbordet commented on #7190
Why do you say that? Do you have proof? The stack trace you posted is from application code, so it's not Jetty.

[2021-12-02 21:32] FreeGuwop commented on #7190
Yes, we have proof. The stack trace I posted above is from the exception that Jetty bubbles-up to the servlet. However, that exception is swallowed. This is the code that logs and swallows the exception.

[code]

Let me post the one that is re-thrown after this is swallowed.

[2021-12-02 21:57] FreeGuwop commented on #7190
After that exception in the Servlet is caught as indicated above, it surfaces again in the filter proceeding the servlet. If the filter was not there, it would be thrown outright. This is a filter we use to log metrics and uncaught exceptions:

Code:

[code]

Exception:

[code]

[2021-12-02 21:58] FreeGuwop commented on #7190
Excuse the caps, no idea why I typed it like that. Really appreciate you engaging with us on this :-) !

[2021-12-03 00:08] janbartel opened #7201 "Flakey FCGI test"
jetty-10

See jenkins run:
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-7153/3/pipeline

[code]

[2021-12-03 07:07] janbartel commented on #7168
See comment over at https://github.com/gaul/s3proxy/issues/392

[2021-12-03 07:50] idikshit opened #7206 "Jetty Client HTTP2 Ping timeout"
**Jetty version**
9.4.42.v20210604

**Java version**
17

**Question**
Hi, we are using jetty client Http2 PING functionality in our project. Is there a way to configure timeout for Http2 PING, if not what is the default duration after which Http2 ping fails if the timeout value is not set? Thank you in advance !

[2021-12-03 08:37] sbordet commented on #7206
Applications, if they need to, should setup a timeout in case they don't receive a PING reply.
This is typically fairly easy to setup, since `HTTP2Client` exposes a `Scheduler` that can be used to setup a timeout task.

[2021-12-03 09:02] idikshit commented on #7206
Thanks @sbordet. What would be the default timeout value if timeout is not set/ not provided?

[2021-12-03 09:22] sbordet commented on #7206
There is no timeout for PING frames.
If you want a timeout for PING frames you have to implement it yourself.

The only timeout enforced by Jetty is when the whole connection goes idle, i.e. the idle timeout, which causes the connection to be closed.

[2021-12-03 11:36] sbordet commented on #7190
Can you put a `try/catch` around the `sendError()` that you have in the `catch` block in the Servlet?
`sendError()` should not throw, so I still don't understand how the exception is rethrown.

Are you sure it's not caused by 2 different requests, one whose exception is caught, and another whose exception is not caught and logged by the filter?

[2021-12-03 14:24] sbordet opened #7207 "QuicTLS for QUIC/HTTP3"
**Target Jetty version(s)**
10+

**Enhancement Description**
https://devblogs.microsoft.com/dotnet/http-3-support-in-dotnet-6/

Using Quiche may not yield the expected performance/benefits, so in case we have demand, we could use [QuicTLS](https://github.com/quictls) and re-implement QUIC in Java, dropping the usage of Quiche.

[2021-12-05 02:55] olamy opened #7209 "Flaky test org.eclipse.jetty.http2.client.GoAwayTest#testServerGoAwayWithStalledStreamServerConsumesDataOfInFlightStream"

[2021-12-05 20:09] amsmax opened #7211 "Wich Jetty Reactive Client to use in Springboot WebClient with Jetty 10.0.7"
**Jetty version**
10.0.7

**Java version**
11.0.11

**Question**
I'm using Spring boot with Jetty 10.0.7. I want to use the Spring boot WebClient for doing calls to the backend. Which Jetty reactive client version do I need to use?
I read [here](https://webtide.com/reactive-httpclient-1-1-5-2-0-0-and-3-0-0/) that version 2.0.0 is not compatible with Spring WebFlux but regarding this blog version 2

[2021-12-05 22:52] lachlan-roberts commented on #6974
Both #7203 and #7079 have been merged.
This should resolve the WS memory issues in the upcoming `9.4.45` release.

[2021-12-05 22:52] #6974 closed, assigned to lachlan-roberts

[2021-12-06 01:42] yannmar opened #7212 "Deadlock when number of simultanious concurrent requests exceeds max thread count in thread pool"
**Jetty version**

11.0.6

**Java version**

java.vm.name=OpenJDK 64-Bit Server VM
java.vm.version=11.0.5+10-b520.38

**Question**

Hi team.

I am observing a deadlock with my custom local endpoint which I want to use to invoke jetty programmatically in async manner. That's how it happens:

1. When endpoint write operation is asynchronous (and it looks like it's allowed to make it async, because t

[2021-12-06 06:08] FreeGuwop commented on #7190
I'll try out this theory by logging a unique request ID in both exceptions. Will get back to you on this by Tuesday.

[2021-12-06 10:21] sbordet commented on #7212
It's not clear what you want to do, and your analysis is incorrect.

You are performing blocking write calls, this is evident from the stack trace. It's Jersey that performs the blocking writes on behalf of your application.

Jetty's threading model is such that even if all threads are blocked in writes due to TCP congestion, they will be unblocked by the selector thread performing a non-blocking

[2021-12-06 10:32] sbordet commented on #7211
Have you actually tried?

I ask because it seems that Spring Boot's `WebClient` depends on version 3.0.x, which should be practically identical to 2.0.x.
This means that Spring has updated the API usage since the blog from one year ago.

[2021-12-06 14:36] amsmax commented on #7211
Yes, I tried version 1.1.10, 2.0.4 and 3.0.4. They are all working. Springboot 2.5.7 comes default with version 1.1.10. I guess the cause of this is that Jetty 9 is the default version in Springboot 2.5.7. Version 3.0.4 will be the default version in the coming Spring framework 6 / Spring boot 3. I think for now I need to use 2.0.4.

[2021-12-06 17:43] joakime opened #7217 "Jetty Release 9.4.45"
**Jetty Versions:**
This release process will produce releases:

9.4.45

**Target Date:**

Dec 15, 2021

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "relea

[2021-12-06 17:44] joakime opened #7218 "Jetty Releases 10.0.8 & 11.0.8"
**Jetty Versions:**
This release process will produce releases:

10.0.8 and 11.0.8

**Target Date:**

Dec 15, 2021

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue

[2021-12-06 17:45] joakime commented on #7217
Assigned to myself as the Release Manager

[2021-12-06 17:46] joakime commented on #7218
Assigned to myself as the Release Manager

[2021-12-06 17:49] joakime opened #7219 "Migrate from stalebot to github actions stale"
**Description**

Looks like stalebot is being deprecated in favor of just using github actions with a crontab instead.

We should

* Remove `.github/stale.yml`
* Create a `.github/workflows/stale.yml` based on our configuration.   See https://github.com/antonbabenko/pre-commit-terraform/blob/master/.github/workflows/stale-actions.yaml for example.

[2021-12-06 17:50] joakime opened #7220 "Notify downstream maintainers."

[2021-12-06 17:50] joakime commented on #7220
Accidentally created.
Closing.

[2021-12-06 17:50] #7220 closed, assigned to nobody

[2021-12-06 18:14] sbordet commented on #7211
You can use 2.0.x if you use Java >= 11.
If you use Java < 11, then you have to use 1.1.x.

[2021-12-06 19:26] joakime commented on #5930
Also related to #7063

[2021-12-06 19:29] joakime commented on #7219
When asked if stalebot still works no comment from maintainers ...

https://github.com/probot/stale/issues/349

Other projects have started to move to the github actions version instead.

[2021-12-06 19:30] joakime commented on #7219
This change also makes the management of stale under the committers control, not the Eclipse Foundation (which has to have the stalebot bot activated at the org level)

[2021-12-06 19:38] joakime commented on #7219
Opened PR #7221

[2021-12-06 19:40] yannmar commented on #7212
Hi Simone @sbordet. Thank you for your reply.

Standard socket connector was not used. I am trying to figure out how to develop custom local connector and custom local endpoint to make it possible to call jetty programmatically in async manner, therefore there are neither selector nor selector threads in my use case. Jetty is needed to handle http protocol and another nio library (grizzly or netty

[2021-12-06 20:22] joakime commented on #7212
The [`LocalConnector`](https://github.com/eclipse/jetty.project/blob/jetty-10.0.7/jetty-server/src/main/java/org/eclipse/jetty/server/LocalConnector.java) exists for this purpose (which we use extensively for our own unit testing).

You might want to also look at how the UnixSocket implementations in Jetty 10+ are done, they might help you understand a bit on how to implement this layer.

Why?  Ne

[2021-12-06 21:30] yannmar commented on #7212
Hi Joakime @joakime thank you for your reply.

LocalConnector is not suitable unfortunately, it's not async and cannot be used for high throughput, it has no threading model support, we may want to have some threading model support in order for example to easier integrate with threading model of custom transport (say, netty has explicit threading model where each socket channel is associated with