[2020-07-22 21:15] mohanrao commented on #5074
Thanks @joakime for the reply

we tested the socket connection by issuing a simple openssl command too. it fails to connect.

Sorry it's not really a custom SSL socket factory. it is a ssl socket factory instance with our own keystore and trust store i mean like below

`
SslContextFactory sslContextFactory = new SslContextFactory();
`

We see also the below errors

`
sun.nio.ch.EPollSelectorImpl@1

[2020-07-22 22:33] #5043 closed, assigned to lachlan-roberts

[2020-07-23 03:45] karthickm512 commented on #5073
Thanks for the quick response. Is there any plans for you to backport the necessary modules from Jetty 9.4.x to 9.3.x ?

[2020-07-23 07:18] #5064 closed, assigned to lachlan-roberts

[2020-07-23 07:23] lachlan-roberts commented on #5018
@michaelkwan we have also addressed the issue about cancelling the future in PR #5030, now if the `Future` is cancelled it will also abort the upgrade request.

Both these fixes will be in the 9.4.31 release which should be out in the next week or so.

[2020-07-23 07:29] #5062 closed, assigned to lachlan-roberts

[2020-07-23 11:28] joakime commented on #5073
Jetty 9.3.x is no longer supported.

See: https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html

We maintain at most 3 versions of Jetty.

Which currently is: 9.4.x, 10.0.x, and 11.0.x

[2020-07-23 11:29] joakime commented on #3898
This has been fixed in https://github.com/eclipse/jetty.toolchain/issues/25

[2020-07-23 11:29] #3898 closed

[2020-07-23 11:31] joakime commented on #5074
9.4.14 is a bit old, and subject to several security reports at this point in time.
https://www.eclipse.org/jetty/security-reports.html

You should really upgrade.

The `SslContextFactory` itself has undergone many changes since 9.4.14

[2020-07-23 13:14] mohanrao commented on #5074
Thanks @joakime . We will upgrade and hoping it should fix the issues.

[2020-07-24 04:35] prathamk commented on #5068
Hi,

Tried with the latest version (**9.4.30.v20200611**) also, still the same issue.

As we are trying to create a round-robin connection pool, with configurable stream IDs. The streams of a connection gets exhausted on reaching the value of max streams per connection.

So we have extended the class _AbstractConnectionPool_ (also implements _Multiplexable_) and created our connection pool by over

[2020-07-24 08:33] vn7n24fzkq opened #5076 "Can't use keyStores with multiple certificates for SSL ServerConnector"
**Jetty version**
9.4.30.v20200611
**Java version**
java 11
**OS type/version**
Windows 10
**Description**
Here are part of my code and output message
[code]
[code]

[2020-07-24 09:49] vn7n24fzkq commented on #5076
I solve it.
Change SslContextFactory to SslContextFactory.Server() can fix this.
But I forget recompile code.😅

[2020-07-24 09:49] #5076 closed, assigned to nobody

[2020-07-24 11:19] #5072 closed, assigned to nobody

[2020-07-24 11:45] prathamk commented on #5068
hi,

As part of our ongoing investigation, we had below observation:

Whenever we hit a request, the request lands on the _HttpDestination_ class. In this  class a private method _process()_ is invoked from the _send()_ method, which gets the connection pool and on that connection process that request.

With the existing implementation, we are getting the connections used count getting incremented

[2020-07-24 18:21] sbordet commented on #5068
If you have `maxConnectionsPerDestination=5`, then there will never be more than 5 connections created for that destination.
Therefore, I don't understand why you expect a new connection to be created on the 51st request?

Using a lock per destination is not something we will do - it will kill the performance.
However, if it works for your custom connection pool, go for it.

In summary, I don't un

[2020-07-25 03:40] #3801 closed

[2020-07-25 05:43] bowbahdoe opened #5078 "Jetty and Loom"
**Jetty version**
10.0.0-SNAPSHOT
**Java version**
Project Loom Pre-release JDK Build
**Question**
I am experimenting with the project loom pre release builds and I am trying to figure out how to properly configure Jetty to make use of virtual threads.

Quite a bit of the code seems centered around thread pooling and managing capacity, but that isn't quite as applicable to virtual threads. I figur

[2020-07-25 09:30] sbordet commented on #5078
I took the liberty of renaming this issue so that it can be used as an umbrella for experiments about Jetty and Loom.

I will be looking at Loom and Jetty in the following days, so I will be able to be more precise about the answer.

/cc @gregw @lorban

[2020-07-26 14:35] lubinson opened #5079 ":authority header for IPv6 address not having square brackets"
**Jetty version**
9.4.30.v20200611
**Java version**
11
**OS type/version**

**Description**
The :authority header Jetty Http Client send out for IPv6 endpoint is
`:authority: 2356:0102:3238:3876:1122:2232:4321:80`
As per the IPv6 host literal the value should be
```[2356:0102:3238:3876:1122:2232:4321]:80```

[2020-07-26 15:13] sbordet commented on #5079
AFAIK, the square brackets for IPv6 addresses are only needed in URIs.

I'm not aware of the IETF IPv6 specification to mandate square brackets and I don't think they should be sent in the HTTP/2 `:authority` pseudo header.

I know of HTTP/2 deployments over IPv6 and we have not had reports of problems for lack of square brackets in `:authority`.

Do you have any authoritative reference or interop

[2020-07-26 16:28] joakime commented on #5079
What does curl produce when you force http2 and ipv6?

[code]

[2020-07-26 17:11] prathamk commented on #5068
Hello sbordet,

Thanks for your response.

Basically our requirement is to configure maximum streams per connection. In the current implementation, each connection serve Integer.Max_Value streams. we need to configure these stream id's per connection, so when each connection completed configured number of stream, it will set for Idle Timeout and new connection would be created to maintain maximum

[2020-07-26 18:14] lubinson commented on #5079
@sbordet

Thanks for your response.
Please refer  [https://tools.ietf.org/html/rfc7540#section-8.1.2.3](https://tools.ietf.org/html/rfc7540#section-8.1.2.3)  for the `:authority` header definition and it refer to the [https://tools.ietf.org/html/rfc3986#section-3.2](https://tools.ietf.org/html/rfc3986#section-3.2) for Authority definition and [https://tools.ietf.org/html/rfc3986#section-3.2.2](htt

[2020-07-26 20:09] sbordet commented on #5079
I verified that `curl` sends `:authority` with value `[::1]:8080`.
The server is able to parse that correctly through class `HostPort`, which accepts also IPv6 without brackets.

The client should also take into account `CONNECT` requests that have an authority request-target, and take into account the behavior mandated by RFC 8441.

[2020-07-26 21:46] sbordet commented on #5068
I think this is the same as #4809 then.

Does your implementation work after the changes?

[2020-07-27 06:37] AlanBateman commented on #5078
I'm working on Project Loom. If you run into any questions, or issues with the early access builds, then you are welcome to bring them to the OpenJDK loom-dev mailing lists.

As it happens, I did create a demo that embeds Jetty and it was very easy to get started. I created a `org.eclipse.jetty.util.thread.ThreadPoo` with `execute` implemented to run the task in a virtual thread. Most things "just

[2020-07-27 09:32] gregw commented on #5078
For our experiments with Loom, these are the questions that I'd really like answered:
 - What exactly is the aim of using Loom.  Using less OS threads should not be an aim in itself as OS threads are themselves a virtual concept and jetty can already run with a low max threads.  Is the aim to save memory? increase throughput? reduce latency?  unless we know what the goal is, then we don't know wha

[2020-07-27 10:17] sbordet opened #5081 "Review HouseKeeper locking"
Spawned by #5083.

**Jetty version**
9.4.x

**Description**
Review `HouseKeeper` locking.
Especially, `startScavenging()` cannot be called right after `stopScavenging()` because it needs the call to `findScheduler()` which is not using any locking.

Concurrent calls to `setIntervalSec()` should atomically either start or stop the scavenging.

[2020-07-27 11:44] AlanBateman commented on #5078
[State of Loom](https://cr.openjdk.java.net/~rpressler/loom/loom/sol1_part1.html) provides a good overview/status of Project Loom. There is a section on pinning that provides an overview of the short term limitations with respect to parking while holding a monitor. Fairness is not changed in the current prototype. Loom doesn't use "cooperative multithreading" (there are no explicit scheduling poin

[2020-07-27 13:30] gregw commented on #5078
@AlanBateman interesting read... But I'll have to go over it a few more times to fully digest.
Loom might not be strictly "cooperative multi threading", but as @sbordet is currently preparing a monster PR to replace many synchronize blocks with Locks so as to give Loom opportunity to "preempt", it does kind of feel like we are making explicit scheduling points... or at least have to be aware of wh

[2020-07-27 15:32] bowbahdoe commented on #5078
@gregw My understanding is that while locks and platform IO are considered "logical scheduling points", they aren't required for another virtual thread to preempt and they can be interrupted just like normal threads. I'm not entirely sure on that though and would have trouble proving it, since I can't come up with a case that would show it.

I think that is the purpose of the `tryPreempt` method o

[2020-07-27 16:51] bowbahdoe commented on #5078
My instinct with the concerns about reserved threads and how Jetty currently does scheduling is that if those concerns do end up being valid, a new scheduler roughly matching Jetty's current semantics could be written and used in place of ForkJoinPool.

[2020-07-27 18:00] AlanBateman commented on #5078
Running with the system property `jdk.tracePinnedThreads` set on the command line will help identify cases where a thread parks will holding a monitor. The intention is remove the limitation in time.

@bowbahdoe Ignore the Continuation and tryPreempt for now. Yes, there is support at the lower level for forced preemption but this is not exposed to custom schedulers at this time.

[2020-07-27 18:57] dsyzhu opened #5082 "jetty-9.4.30.v20200611 blocks all OPTIONS request"
**Jetty version**

9.4.30.v20200611

**Description**

Just  tried this version of jetty. Found all OPTIONS requests got 403 response. This doesn't happen in  jetty-9.4.29.v20200521

[2020-07-27 19:42] #5082 closed, assigned to nobody

[2020-07-27 19:43] dsyzhu commented on #5082
not a general case

[2020-07-27 19:49] prathamk commented on #5068
Hello sbordet,

We are able to close the connection, when the max stream per connection are consumed, by making the connection idle timeout, and not getting the exception _AsynchronousCloseException_.
But not able to workout the scenario as mentioned above (unless make the _send()_ method synchronized). The count of streams consumed of a connection is getting increased more number of times than th

[2020-07-27 21:04] sbordet commented on #5068
We fixed #4904 in 9.4.31 (sorry, above I said 9.4.30, but it's in 9.4.31).
We have implemented `AbstactConnectionPool.acquire(boolean)` that should help in your case.
Give the latest code a try.

[2020-07-27 21:11] sbordet opened #5083 "Convert synchronized usages to AutoLock"
**Jetty version**
10.0.x

**Description**
To be more Loom friendly we need the usages of `synchronized` to be converted to use `java.util.locks.Lock` or, better, Jetty's `AutoLock`.

This would allow early testing of Loom prototypes on a more fair basis.

[2020-07-27 21:19] sbordet commented on #5083
This issue is under the Loom umbrella issue #5078.

[2020-07-28 04:00] prathamk commented on #5068
The JARs for version 9.4.31, are not yet available in maven repo. Where can we get the latest JARs?

[2020-07-28 06:26] prateekkohli2112 opened #5085 "Big performance Dip with TLS when using Jetty Client and Server Http2"
**9.4.24.v20191120**

**jdk1.8.0_221**

We are using Jetty Server and Jetty Client for HTTP2 communication.

When we use it without TLS(HTTP) we get around 30500 TPS(Transactions per second) performance with all the default values.

But when we enable SSL(HTTPS) in the same setup which is using conscrypt at both Client and Server end, the TPS dips to almost 8500.

As we did not change any configur

[2020-07-28 07:32] sbordet commented on #5085
The performance dip is expected from clear-text to encrypted.

The JDK TLS implementation is known to be quite slow and memory hungry and that is why we typically recommend offloading to load balancers or proxies.

If you want to do TLS in the JVM, you can try the `Conscrypt` provider for better performance, see https://www.eclipse.org/jetty/documentation/current/configuring-ssl.html#conscrypt.

[2020-07-28 07:38] sbordet commented on #5068
You can build Jetty yourself (easy, see https://www.eclipse.org/jetty/documentation/current/contributing-source-build.html and build skipping the tests: `mvn clean install -DskipTests`).

Or you can reference this repository in your POM:
https://oss.sonatype.org/content/groups/jetty-with-staging

It currently contains version 9.4.31 that has been staged, we are testing it, and we will release it i

[2020-07-28 07:39] prateekkohli2112 commented on #5085
I am already using Conscrypt in my Jetty Client and server.

I was surely expecting some dip, but 30000(HTTP) to 8000(HTTPS) is huge.

[2020-07-28 07:48] sbordet commented on #5085
What TLS protocol version are you using, and what cipher has been negotiated?

Also, make sure you use persistent connections. Open the connections once, and then keep them open, reusing them for many requests.

The initial TLS handshake is the most expensive operation in TLS, so if you close connections often you will have a big performance impact.

[2020-07-28 08:41] prateekkohli2112 commented on #5085
Protocol : TLSv1.3
Cipher Suite: TLS_CHACHA20_POLY1305_SHA256

We are not closing the connection. A connection will be used as long as it is not closed by jetty.

[2020-07-28 10:01] gregw commented on #5083
But this change needs to stand on it's own merits rather than be justified by Loom.

[2020-07-28 10:10] prathamk commented on #5068
Hello sbordet,

We tried with version **9.4.31** also, but still having the issue.

In the latest code also, the _acquire()_ method is called with the boolean _create_ variable. In this case the connection will only be created when the **connection is null** and **create is true**.
[code]
But the _acquire()_ method is still called more number of times, which in turn calls _activate()_ method.
The

[2020-07-28 10:13] sbordet commented on #5085
If you are already using Conscrypt, then TLS is done natively in C and you are as fast as Apache httpd or Nginx or similar.
I would double check that you are not closing connections unexpectedly because that would explain the big difference.

Other than that, it really depends on your load test setup and how you measure things - it's easy to get load tests wrong.

[2020-07-28 10:22] sbordet opened #5086 "Review Scanner locking"
**Jetty version**
9.4.x

**Description**
`Scanner` needs a review regarding synchronization/locking.
Many methods have the `synchronized` modifier, and other methods that access the same fields don't synchronize.
Also, listeners are sometimes called with the lock held, etc.

This issue should be resolved after #5083.

[2020-07-28 10:25] sbordet commented on #5083
@gregw this change has already improved locking in few places, clarified others and spun off #5081 and #5086.

Overall it is a good cleanup, but obviously getting rid of all `synchronized` is much more than just fixing a few things.
However, we would not have found the few things if we did not do this review :smiley:

[2020-07-28 10:32] prateekkohli2112 commented on #5085
Do you think upgrading to Jetty 9.4.30.v20200611 can help?

CPU and the memory consumption for both client and server are very low.

[2020-07-28 13:30] gregw commented on #5078
More pondering on what we'd need to change to make best usage of Loom.    I no longer think we need to change `HttpChannel`, `HttpInput` and `HttpOutput` as the servlet API requires async behavior and unless we want to give up on that API, modelling blocking as async is the best way to go for that level API.

However, we probably could experiment with writing a loom specific `Connector` that avoid

[2020-07-28 13:35] sbordet commented on #5085
@prateekkohli2112 upgrading is always good as you get both performance improvements and fixes.

Whether it helps for your case depends on your case, so you have to measure.

[2020-07-28 14:15] AlanBateman commented on #5078
If it helps, here's the stack trace of a simple service that fetches a resource from another endpoint. It's running on a virtual thread so the blocking operation, to establish the TCP connect to the remote service, just parks the virtual thread (and releasing the underlying carrier thread to do other work).

[code]

[2020-07-28 14:25] sbordet opened #5087 "Review DeploymentManager locking"
Spawned by #5083.

**Jetty version**
9.4.x

**Description**
Method `DeploymentManager.addOnStartupError()` has the modifier `synchronized` to write the field, but `doStart()` is the only place where the field is read and it is running with a lock held.

Seems to me that the modifier `synchronized` is not necessary and should be removed.

[2020-07-28 14:27] joakime commented on #5085
Some general advice.

The performance of `/dev/random` and `/dev/urandom` has an impact on your encryption performance. (on linux, there's many different options for configuring both the PRNG that the OS uses and the PRNG that Java itself uses)

Don't run your load/performance tests entirely on the same machine.

Move your clients off to a different machine, and makes sure you have multiple physic

[2020-07-28 15:22] sbordet opened #5088 "Review ContextHandler locking"
Spawned by #5083.

**Jetty version**
9.4.x

**Description**
`ContextHandler` uses a mix of `synchronized` modifiers and `synchronized (this)` inside methods that is difficult to reconcile.

Furthermore, it has a `setClassLoader()` method that allow to arbitrarily change the `_classLoader` field but the rest of the code does not protect with a lock this field, nor it reads the field only once.
For

[2020-07-28 15:38] joakime commented on #5088
I vote that `.setClassLoader(ClassLoader)` should not be allowed after the `ContextHandler` is started/running.

Changing the classloader after some classes have been loaded cannot lead to good things.

[2020-07-28 16:23] prateekkohli2112 opened #5089 "Getting "IllegalStateException: Unexpected wrap result BUFFER_OVERFLOW" in my Jetty server logs"
**9.4.30.v20200611**

**jdk1.8.0_221**

I can see below exception in my Jetty server logs coming very frequently:

2020-07-28 17:56:10.880:WARN:oejs.HttpChannel:test/SBIFE/SBI F-E-1091-pool-134: /test/
java.lang.IllegalStateException: Unexpected wrap result BUFFER_OVERFLOW
        at org.eclipse.jetty.io.ssl.SslConnection$DecryptedEndPoint.flush(SslConnection.java:1106)
        at org.eclipse.jett

[2020-07-28 17:14] prateekkohli2112 commented on #5006
I got this issue even with Jetty version 9.4.30.v20200611.

@scherny1 were you able to find the root cause for this issue.

[2020-07-28 17:30] sbordet commented on #5006
@prateekkohli2112 can you get DEBUG logs?

[2020-07-28 17:34] sbordet commented on #5089
Duplicate of #5006.

[2020-07-28 17:35] #5089 closed, assigned to nobody

[2020-07-28 19:01] janzantinge opened #5090 "Jetty CPU utilization spike using Unix Domain Sockets handling HTTP2 connections"
**Jetty version**
9.4.28.v20200408

dependencies:
[code]

**Java version**
11.0.7

**OS type/version**
Linux 4.14.181-142.260.amzn2.x86_64 (EKS pod container)

**Description**
Jetty appears to be using a large amount of CPU (150% of a 1 CPU kubernetes allocation, 2 CPU limit, normal CPU utilization is around 40-50%) when handling requests received from a Unix Domain Socket. It appears as if a sing

[2020-07-28 19:26] sbordet commented on #5090
Unix Domain Sockets support is experimental and not really recommended - JNR may not be that stable.

The fact that Jetty NIO continuously selects may mean that the JNR implementation returns incorrectly that there is an event for a socket when in reality there is none.

If you can reproduce, DEBUG logs would help understand.

Unix Domain Sockets are ok if you want to experiment - be prepared to b

[2020-07-28 21:39] joakime commented on #5090
See also other past issues about jnr / unixsockets.

https://github.com/eclipse/jetty.project/issues?q=is%3Aissue+jnr

[2020-07-28 21:39] #4865 closed, assigned to nobody

[2020-07-29 07:28] sbordet opened #5092 "Review RolloverFileOutputStream locking"
Spawned by #5083.

**Jetty version**
9.4.x

**Description**
`RolloverFileOutputStream` locking should be improved/removed.

Currently it locks on a class lock for no reasons, since `__rollover` is only ever written in the constructor (and thus could be `final`).

There should be some synchronization between the writes and the scheduled task (so that the file can be swapped without losing log lines

[2020-07-29 07:51] sbordet opened #5093 "Review UrlEncoded locking"
Spawned by #5083.

**Jetty version**
9.4.x

**Description**
`UrlEncoded` needs a serious review.

It is used almost only for its `static` methods, however is itself a `MultiMap` and can decode a query string into itself, which is only used in tests.

The `static` methods return void but require a `MultiMap` parameter that is always created anew, but it is used as a lock inside the `UrlEncoded` met

[2020-07-29 07:57] gregw commented on #5093
I'll target this for 10 as it may be significant

[2020-07-29 08:01] sbordet opened #5095 "Review XmlConfiguration locking"
Spawned by #5083.

**Jetty version**
9.4.x

**Description**
`XmlConfiguration` has a `static` instance of `XmlParser` and in the constructor locks on it and performs the parsing.

This is fine from the locking point of view, but it grabs a JVM-wide lock so that `XmlConfiguration`s can only execute serially, which may not be desirable and may slow down startup.

The JVM-wide `XmlParser` instance wa

[2020-07-29 08:03] lachlan-roberts opened #5096 "using JettyWebSocketServlet without having a WebSocketUpgradeFilter"
**Jetty version**
10.0.x

**Description**
The `WebSocketUpgradeFilter` is added automatically by the `JettyWebSocketServletContainerInitializer` but the filter is not required if websocket upgrades are being done by a `JettyWebSocketServlet`.

There should be some option to not automatically create this this in the `JettyWebSocketServerContainer`.

[2020-07-29 08:18] janbartel commented on #5036
I'm closing this issue for now as there  hasn't been any further activity. If the problem persists after following the advice given, please reopen with the DEBUG log information requested.

[2020-07-29 08:18] #5036 closed, assigned to nobody

[2020-07-29 08:21] janbartel commented on #5035
@zhengshundong01 I'm closing this issue as there hasn't been any activity on it for a month, so I assume the advice given has resolved the problem. If not, then please reopen, and provide a full list of jars that are on the container path and webapp path (use dumpAfterStart=true in server.ini) and full DEBUG logs.

[2020-07-29 08:21] #5035 closed, assigned to nobody

[2020-07-29 08:39] janbartel commented on #5015
RequestLogHandler is for use when you want different request logging for _another_ handler/context etc. Setting the RequestLog directly on the server means it will be used for all contexts/handlers.

[2020-07-29 08:39] #5015 closed, assigned to nobody

[2020-07-29 10:48] joakime commented on #5096
This hints at a lazy initialized `WebSocketUpgradeFilter`.

Some things to consider ...

* The `JettyWebSocketServerContainer` can be accessed by the application, and it can use `.addMapping()` at any time.
* The `WebSocketUpgradeFilter` should be the first filter in the chain, if we create it.
* The `WebSocketUpgradeFilter` can be added by the application (such as in the `WEB-INF/web.xml`), and w

[2020-07-29 15:12] joakime opened #5100 "Add serialVersionUID in all Serializable classes"
We should make this change for all of our Serializable classes.

https://product.hubspot.com/blog/java-11-dont-rely-on-generated-serialversionuid

_Originally posted by @joakime in https://github.com/eclipse/jetty.project/pull/5084#discussion_r462323200_

[2020-07-29 16:42] joakime commented on #5078
Disclaimer: These are not benchmarks. (but ...)

I was curious to see what a simple ThreadPool change would do.
See https://github.com/jetty-project/jetty-loom/blob/master/src/main/java/org/eclipse/jetty/loom/LoomThreadPool.java

Code at https://github.com/jetty-project/jetty-loom

The results:

**With Loom**
[code]

**Without Loom (Using QTP)**
[code]

[2020-07-29 20:06] sbordet commented on #5068
The design of `HttpClient` is such that the sender and the receiver threads concurrently try to send queued requests.

This is done for necessity (if the sender thread stops sending, queued requests need to be sent by the receiver thread) as well as performance. We are not going to change this.

A `ConnectionPool` pools connections and applications should not be much concerned about how this is do

[2020-07-29 20:17] bowbahdoe commented on #5078
@joakime Can you run that test but with the 0s replaced by Integer.MAX_VALUE just to see how/if that affects things?

[2020-07-29 20:33] joakime commented on #5078
@bowbahdoe ~it becomes unstable~. (if I run the same `ab`, instead of an unstable command line, then it doesn't seem to show much change)

Commit https://github.com/jetty-project/jetty-loom/commit/4710f66ce46a22a9a691b311afa48f1d773d98a2

**Results with Loom** (edit: now using same ab command line as before)
[code]

[2020-07-30 15:54] joakime commented on #3916
Merged PR #5102

[2020-07-30 15:57] #5093 closed, assigned to gregw

[2020-07-30 15:58] #5088 closed, assigned to gregw

[2020-07-31 10:28] travisspencer opened #5103 "Proxy sets protocol version to 2.0 instead of 1.1 when accessed from H2 client"
**Jetty version**

9.4.30.v20200611

**Java version**

1.8.0_261

**OS type/version**

Mac

**Description**

When AsyncProxyServlet is exposed via H2, the protocol version in the request line sent downstream to the origin server is copied from the caller's request and set to H2. The actual message, however, is encoded as 1.1. This should be fixed by setting the version explicitly to 1.1.

Refer to

[2020-07-31 10:33] travisspencer opened #5104 "AbstractProxyServlet include incorrect protocol version in Via header when accessed over H2"
**Jetty version**

9.4.30.v20200611

**Java version**

1.8.0_261

**OS type/version**

Mac

**Description**

The Via header of the `AbstractProxyServlet` has http/1.1 hard coded in the `addViaHeader` method. When a client accesses it using HTTP 2, this is not right. This should be fixed by:

1. Not including the protocol at all (if consumed via HTTP)
2. Using the client's protocol version instead

[2020-07-31 11:38] thomasdraebing opened #5105 "Graceful shutdown does not wait for resumed requests"
**Jetty version**
9.4.30.v20200611

**Java version**
[code]

**OS type/version**
OSX 10.15.6

**Description**
When a resumed request is running and the server is shut down gracefully, the `StatisticsHandler` does not consider this request, when deciding, whether to let the server shut down. The reason seems to be that the first time `StatisticsHandler.handle()` is called the `_requestStats._curren

[2020-07-31 11:51] lucamilanesio commented on #5105
@sbordet could you provide some guidance to @thomasdraebing to how resolve this problem? This issue is breaking the rolling restart experience because of the breakages of incoming Git/HTTP requests. Thanks for your feedback.

[2020-07-31 12:07] joakime commented on #5105
Wonder if a new GracefulShutdownHandler is in order.

One that simply uses the information from HttpChannel.Listener to know if the request is complete or not.
For purposes of Graceful Shutdown, we don't care about the nuances of what the request is doing (request / dispatched / async / wait / etc), we only care if they have been completed.

[2020-07-31 14:21] thomasdraebing commented on #5105
A GracefulShutdownHandler sounds like a good idea to me. I also agree that a graceful shutdown should wait requests in all states to complete.

[2020-07-31 16:32] ravishmahur commented on #3891
@sbordet I am also getting this issue, very intermediately though.
Error -
```java.util.concurrent.ExecutionException: java.io.EOFException: HttpConnectionOverHTTP@18fef33c::DecryptedEndPoint@665a5f6d {charon-downstream.i.prod/10.30.139.70:443<->/172.17.0.4:57616,OPEN,fill=-,flush=-,to=1176973/0```
I have created a proxy layer in my service, which calls the same service deployed in different regio

[2020-07-31 16:58] sbordet commented on #3891
@ravishmahur this may not be a problem at all, as servers can close connections at any time.
Please post full stack trace for confirmation.

[2020-07-31 17:44] ravishmahur commented on #3891
@sbordet I am working on getting the stack-trace (since issue is not easily reproducible) , in the meanwhile how can we prevent server from closing connection? since server is also owned by me only. I read above that client idle timeout should be less than server idle timeout. Where are these idle timeouts configured for client and server for a jetty based service?
Client that i am using is - org.

[2020-07-31 18:16] sbordet commented on #3891
Use `HttpClient.setIdleTimeout(...)` for the client.

Use `ServerConnector.setIdleTimeout(...)` on the server.

If you use Jetty standalone, you have to detail what's your configuration and we'll help you.

[2020-07-31 19:13] zzebj commented on #5040
Hi Simone, thank you very much for you notice this issue, I was asked to help this issue. Please see below code:

[code]
First request by customer A with querystring="1" will quickly response to the browser, but the following request by customer B with querystring = "2" will be blocked until the "sleep(10000)" finished. (Of cause, the 2 requests are sent almost sametime)  You will see the system o

[2020-07-31 19:29] sbordet commented on #5040
Using multiple `HttpClient`s is wrong, do not do it.

[2020-07-31 19:41] zzebj commented on #5040
Oh, could you please explain why using multiple HttpClient is wrong? do you have any other solution?

[2020-07-31 19:51] sbordet commented on #5040
@zzebj I just tried your setup and it works perfectly fine for me.
I have response 2 coming back immediately, and response 1 coming back after the sleep.

Please write a reproducible test case that shows your issue, that can be built with Maven, so that we can try it, zip it and attach it to this issue.

I think you have a code problem or a configuration problem, and I don't think it's a Jetty iss

[2020-07-31 20:26] zzebj commented on #5040
@sbordet I upload a demo code at "https://github.com/zzebj/jetty-dojo", and add a readme file. Please help review, thank you very much. Please notice, the jetty  version is 9.2.30.v20200428, I can't change it since it is production environment. But I guess the latest version should have same behavior.

[2020-07-31 20:35] joakime commented on #5040
@zzebj I tried it too.
It works as expected.

Here's the small demo code - https://github.com/joakime/jetty-proxy-issue-5040

Fork that and add a new testcase to show what you are experiencing.
Start by looking at the code for https://github.com/joakime/jetty-proxy-issue-5040/blob/master/src/test/java/org/eclipse/jetty/demo/TestDemoServer.java

Which shows that request `?1` is requested and `?2` i

[2020-07-31 21:16] zzebj commented on #5040
Hi @joakime , thank you very much for your demo code, what I experiencing is the pipelined requests, please see the log that you pasted, please notice the timestamp:

[code]
Here ?2 request uses about 10 seconds, it doesn't make sense, do you think so?  In my scenario, the 2 requests are comes form different customers. The customer who send the ?2 request complain that their requests are blocked s

[2020-07-31 21:32] joakime commented on #5040
That's because you are waiting in `onProxyResponseSuccess` to notify of success of the response, the next request cannot start until that is finished.
A totally bizarre location to toss in a `Thread.sleep()` IMO.

Look at the `TrackRequestState` entries ...

[code]

The `[proxy] onRequestEnd //localhost:8080/example?1` has to occur before the next request (`example?2`) can even begin on that same

[2020-07-31 21:44] joakime commented on #5040
Assuming that those 2 clients / customers are talking to your Jetty proxy directly (and there is not an intermediary in front of your proxy) then that will never result in a shared persistent connection.
That would always be 2 separate connections, from 2 separate clients, from 2 separate addresses, from 2 separate client ports.

If you DO have an intermediary in front of your Jetty Proxy (such as

[2020-07-31 21:50] zzebj commented on #5040
Yes, we have a F5 hardware before Jetty proxy.

[2020-07-31 21:57] zzebj commented on #5040
Ok, I understand your point, I will let network engineer check the F5 configuration. Thank you very much.

But my concern is: this F5 has millions of end user, if F5 --> jetty proxy couldn't reuse a persistent connection for different remote address, it will have a big performance issue.

[2020-07-31 22:24] sbordet commented on #5040
`onProxyResponseSuccess()` is the wrong method to override for anything but timing or logging.
Playing there with the proxy request or the proxy response like reported in this issue is just not right.

Remember that if you need professional/commercial support for Jetty you can contact [Webtide](https://webtide.com).

[2020-07-31 22:28] zzebj commented on #5040
Hi @joakime , I understand it will work if I change the code as you posted: move sleep(1000) after super.onProxyResponseSuccess, but I can't do it for some reason, could you please take a look on this work around and give some suggestion:
https://github.com/zzebj/jetty-dojo/blob/master/src/main/java/zz/jettytest/HelloProxyServlet.java
I override the method getHttpClient() to use different connecti

[2020-07-31 22:44] joakime commented on #5040
The multiple `HttpClient` instances is a horrible idea!

You are breaking many assumptions and behaviors by doing that.
:information_source:  **Don't create multiple `HttpClient` instances.**

You are also exponentially using more resources (memory, threads, selectors, byte buffers, etc.)
:warning: **Don't create multiple `HttpClient` instances.**

And you also completely break the networking back

[2020-07-31 22:54] sbordet commented on #5040
@zzebj the fact that your attempt at using multiple `HttpClient`s work is probably entirely unrelated to this issue.

If F5 is pipelining requests to your proxy, it does not matter how many `HttpClient`s you use in the proxy, you have a bigger problem.

I would not use your simple "I made it work with multiple `HttpClient`s" solution as something you can use in production, without understanding _e

[2020-07-31 23:26] zzebj commented on #5040
@sbordet I fully understand your concern, I will ask team to use AsyncMiddleManServlet as you said early to rewrite it. And we will also do enough tests about multiple HttpClient under long run behind F5 to make sure if it cause any problem except more resource.
Hi @joakime @sbordet , thank you very much.  Please keep this issue to be opened for a few days, we will give you our feedback.

[2020-08-01 08:05] prateekkohli2112 commented on #5006
I was unable to reproduce this issue when I ran Jetty in debug mode.

But I changed the maxConcurrentStreams to 20 from default 128 and I am not getting this error anymore.

Not sure how they are related, but earlier I was getting this error very frequently, but after changing the maxConcurrentStreams to 20 I did not get this error even after running my application for more than 2 days.

[2020-08-01 09:00] janbartel opened #5106 "Dump all UrlClassLoaders in parent classloader hierarchy"
**9.4.x**

Currently, the ClassLoaderDump will stop dumping the hierarchy when it gets to the classloader that loaded Server.class: see https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/main/java/org/eclipse/jetty/server/ClassLoaderDump.java#L59.  In the case where there is a deep hierarchy of UrlClassLoaders, we won't see them on the dump, which can hamper detection of du

[2020-08-01 09:48] ravishmahur commented on #3891
@sbordet Here is the stack trace -
```Caused by: java.util.concurrent.ExecutionException: java.io.EOFException: HttpConnectionOverHTTP@43e5a4db::DecryptedEndPoint@6e415863{charon-downstream-fnt.i.test.fctsordering.expedia.com/10.34.25.208:443<->/172.17.0.4:56240,CLOSED,fill=-,flush=C,to=3/20000}\n\tat org.eclipse.jetty.client.util.FutureResponseListener.getResult(FutureResponseListener.java:118)\n

[2020-08-01 11:46] sbordet commented on #3891
Stack trace shows that the server closed the connection in the middle of a request.

[2020-08-02 21:39] sbordet opened #5108 "Improve SessionTracker scalability"
**Jetty version**
9.4.26 and later

**Description**
`SessionTracker` holds a list of session in a `COWAList`.

Unfortunately it's a singleton-like object, so if an application opens and closes WebSocket connections at a high rate, it becomes a bottleneck because of lock contention.

[2020-08-02 22:03] joakime commented on #5108
IIRC, The SessionTracker has a few purposes.

1. To avoid the `addBean()` `removeBean()` contention of the previous impl (and `dump()` issues)
2. Holds the collection of open Sessions to allow for proper graceful shutdown.
3. To satisfy the needs of [`javax.websocket.Session.getOpenSessions()`](https://docs.oracle.com/javaee/7/api/javax/websocket/Session.html#getOpenSessions--)

While 1 and 2 can

[2020-08-02 22:08] sbordet commented on #5108
@joakime do we only need it for the JSR implementation, or also the Jetty APIs have a similar method?

We can use a more efficient data structure as `getOpenSessions()` is not called that often, so that we do not pay the price every time a connection is opened/closed.

[2020-08-03 00:36] lachlan-roberts commented on #5108
@sbordet the Jetty WebSocket API does have similar methods as well.

[2020-08-03 08:18] leonchen83 opened #5113 "Change WebSocketRemoteEndpoint private method to protected that allow user directly send ByteBuffer as TextFrame to client"
**Jetty version**
jetty-9.4.x
**Java version**
jdk 1.8
**Question**
Change WebSocketRemoteEndpoint private method to protected that allow user directly send ByteBuffer as TextFrame to client

we want send bytebuffer as TextFrame directly. for example
[code]
add an extra method `public void sendString(ByteBuffer text)` to avoid create new string and avoid byte array copy,
and we know that `ByteBuff

[2020-08-03 08:18] leonchen83 commented on #5113
in our scenario we push to client many tiny json message like `{"event":"QUOTE","data":[["1215235156379296277",3,16842753,"1596441319629","105.915","105.914"]["1215235156018585109",5,16842770,"1596441319586","1.19985","1.19984"],["1215235157620820501",5,16842780,"1596441319777","1.07343","1.07342"]]}`

1. we first use jackson to serialize Java Object to json byte array
[code]
2. then we create spr

[2020-08-03 08:19] leonchen83 commented on #5113
related pr [#5112](https://github.com/eclipse/jetty.project/pull/5112), [#5110](https://github.com/eclipse/jetty.project/pull/5110)

[2020-08-03 08:31] lachlan-roberts commented on #4919
PR #4931 ensures that we try closing all open sessions before closing the `Connectors`.

We should also ensure we do not accept any new websocket connections once we start the Graceful shutdown.

[2020-08-03 09:56] janbartel commented on #5106
I'm going to close this issue. When enabling any of the `dump` methods on Server, the classloader hierarchy will be dumped back as far as it is possible to go. For any given context, the classloader dump stops at the classloader that loaded the Server class to prevent duplicating all of this hierarchy for every context.

[2020-08-03 09:56] #5106 closed, assigned to janbartel

[2020-08-03 11:46] gregw commented on #5100
We also should review which classes need to be serializable.   In the dark ages, the entire Jetty server was Serializable, so you could save a server with all it's configuration!    I think this was even used by some.    But it has long ago ceased to be meaningful or to actually work.    So there are probably a few classes left over that don't need to be Serializable and then they probably have so

[2020-08-03 11:54] gregw commented on #5092
The `__rollover` field is static, so the lock is ensuring that only a single static timer is created for all RoFOSs.  Perhaps Timer is no longer the best class and maybe we should somehow allow the servers scheduler to be accessed, but we don't want to create a Timer thread for every instance.

[2020-08-03 12:04] joakime commented on #5113
Sending raw ByteBuffer as a TEXT frame is in violation of the WebSocket protocol.
Per spec, we (the implementation) MUST validate the buffer to be UTF-8 compliant before we send it.

Yes, this is exactly how all implementations of the websocket spec are supposed to function.
The implementation of the websocket spec MUST validate the buffer before sending, and not trust the application.
The impleme

[2020-08-03 13:02] joakime commented on #5113
Here's a testcase for you to noodle through, to demonstrate the problems with allowing [`TextMessage(byte[])`](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/socket/TextMessage.html#TextMessage-byte:A-)

[code]

Incidentally, about 90% of the above sequences are actually part of the websocket spec protocol and api tests. (eg: on the client tests they fail

[2020-08-03 13:06] lachlan-roberts commented on #5113
@joakime it would be possible to do the validation step to check the `ByteBuffer` contains valid UTF-8 without doing the conversion to string and back.

[2020-08-03 13:09] joakime commented on #5113
@lachlan-roberts for whole message sends probably, partial message sends would need to hold the prior incomplete sequences.
and we'd need to keep the utf-8 check code up to date with the updates in the unicode spec and what is supported by the jvm. (eg: java 8 supports less then java 11)

When we keep the API as using String, even with the partial sends, it's actually not possible to have incomple

[2020-08-03 13:23] lachlan-roberts commented on #5113
@joakime There is some code in Jetty 10 websockets which does this in `ValidationExtension`, it uses `NullAppendable` which extends `Utf8Appendable` but discards all bytes. This validates the UTF-8 in websocket TEXT messages and can do partial UTF-8 sequences split over multiple frames.

Maybe this is not worth polluting the API with as we'd have to add 4 methods, when we already have the `String`

[2020-08-03 13:25] joakime commented on #5113
Instead of exposing all of the internal machinations / methods you do in PR #5112 perhaps a different API is in order?

_It should be noted that starting in Jetty-10, there's another API lower then the "Jetty WebSocket API" you see in Jetty-9.
There's a "WebSocket Core API" where you can do all sorts of things at a very low level, including inventing Frames out of thin air._

In Jetty-9, a "FrameR

[2020-08-03 17:02] sbordet commented on #3926
@lachlan-roberts is this still to do?

[2020-08-03 19:26] sbordet opened #5114 "Derive class API stability from documentation examples"
**Jetty version**
10.0.x

**Description**
The new way of writing documentation examples using real code that is then included in `*.adoc` files has the remarkable side effect that the `import` statements for those code examples list all the classes that an application is supposed to use - the "stable" API classes for embedded usage.

We can grep those example classes for their imports, convert the

[2020-08-03 19:38] sbordet commented on #5092
The `__rollover` field should be initialized in a static field, not in the constructor.

If we can also get rid of `Timer` that will be great, we can use `Executors.newSingleThreadScheduledExecutor()` instead.

Yes we need to keep the locking between writes and the task to avoid losing log lines.

[2020-08-04 02:29] leonchen83 commented on #5113
for now we work around with java reflection API as following. but I think it's not a good way to do this.
[code]

[code]

register java SPI
[code]

[2020-08-04 07:16] prateekkohli2112 commented on #5085
The performance increased from 8500 to 25000 as I decreased my maxConcurrentStreams from 128 to 20.

[2020-08-04 08:22] leonchen83 commented on #5113
@lachlan-roberts
could we directly invoke `public void uncheckedSendFrame(Frame frame, WriteCallback callback)` without invoke `lockMsg` and `unlockMsg` ? is there any risk to do so ?

[2020-08-04 09:55] gregw commented on #5113
Can we step back a bit from this issue, as I think we are trying to fix the wrong thing.   The suggested "solution" to allow unchecked frames to be sent is not the only solution to the problem... which was too much data copying when sending their frame.

So the problem we want to solve is how can we send a java object (that can be serialised with jackson to json) with minimal copying, maximum thro

[2020-08-04 10:48] lachlan-roberts commented on #5108
PR #5109 fixes the scalability issue by using a set derived from `ConcurrentHashMap` instead of the `CopyOnWriteArraySet`.
This has been merged into the 9.4.x branch and will be available in a 9.4.32 release.

[2020-08-04 10:48] #5108 closed, assigned to lachlan-roberts

[2020-08-04 15:29] #5083 closed, assigned to sbordet

[2020-08-04 18:50] SpComb commented on #2306
nginx 1.15 adds an `upstream { keepalive_timeout ...}` configuration setting: http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive_timeout

This defaults to 60s, which is longer than the default `jetty.http.idleTimeout=30000`. This configuration introduces a race condition when using HTTP keepalive, resulting in sporadic nginx `upstream prematurely closed connection while reading

[2020-08-04 23:35] lachlan-roberts commented on #3974
I have re-enabled this test in `jetty-9.4.x`.
If I don't see any failures after a while I will close the issue.

[2020-08-04 23:37] #5096 closed, assigned to lachlan-roberts

[2020-08-05 09:16] larrywest42 opened #5118 "eclipse.org/jetty/download.html says release notes are in the GitHub releases page, but they are not"
On https://www.eclipse.org/jetty/download.html

The "GitHub Releases" text there links to https://github.com/eclipse/jetty.project/releases where you will find many releases with exactly zero words of release notes.'

![image](https://user-images.githubusercontent.com/31381548/89394980-97adbf80-d6c1-11ea-9bb7-33ab97452850.png)

[2020-08-05 11:34] joakime commented on #5118
See the individual releases tags.

[2020-08-05 11:39] joakime commented on #5118
See the individual releases tags. (Github, for some reason, equates releases and tags, which isn't correct).
We make tags, with descriptions.
The existence of a tag does not mean a release exists with that tag. (it could have been a tag that is currently being tested in a staged release mode).

But if you want to know the details of a specific tag, click on it.

Example: https://github.com/eclipse

[2020-08-05 12:08] janbartel commented on #4996
The work in progress is being done on jetty-10.0.x, as any changes to the logging are too hard to port forward.

[2020-08-05 13:05] #5118 closed, assigned to joakime

[2020-08-05 16:03] sbordet commented on #5079
See #1503.

[2020-08-05 19:18] rofreytag opened #5120 "Jetty startup fails when using -XX:+PrintGCDetails"
**Jetty version**
9.4.31

**Java version**
openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-b01)
OpenJDK 64-Bit Server VM (build 25.265-b01, mixed mode)

**OS type/version**
tested on docker linux and docker on mac

**Description**

I sunk a couple of hours updating jetty from 9.3 to 9.4, just to find out that the flag `-XX:+PrintGCDetails` is causing a silent crash of the

[2020-08-05 19:35] sbordet commented on #5120
Can you please report this to the [official Jetty Docker repository](https://github.com/eclipse/jetty.docker)?

[2020-08-05 21:18] #5081 closed, assigned to janbartel

[2020-08-05 21:33] joakime commented on #5113
There's also the option to use Writer ...

Which skips 3 layers in Jackson, and 2 layers in jetty.

[code]

[2020-08-05 22:10] larrywest42 commented on #5118
@joakime Huh.  You're right (of course).

I've never come across that before in the "releases" GitHub tab.

_E.g._, [Spring Boot release](https://github.com/spring-projects/spring-boot/releases):

![image](https://user-images.githubusercontent.com/31381548/89468724-f0667200-d72c-11ea-8ebd-3bfcca519c2d.png)

Or [grpc releases](https://github.com/grpc/grpc/releases):

![image](https://user-images.gi

[2020-08-05 23:11] #5044 closed, assigned to lachlan-roberts

[2020-08-05 23:44] joakime commented on #5118
We've been experimenting with the release-drafter github action in other repositories to better understand how to configure it.

https://github.com/marketplace/actions/release-drafter

So you should start to see github release pages better filled out. (the ones for Jetty-10.0.0 and Jetty-11.0.0 will be thousands of entries long though, so not sure how valuable those specific ones will be)

We don'

[2020-08-06 03:54] leonchen83 opened #5121 "Add if (LOG.isDebugEnabled()) in CompressExtension.decompress"
**Jetty version**
jetty-9.4.x
**Java version**
java 1.8.u202
**Question**
jetty should add `if (LOG.isDebugEnabled())` in `CompressExtension.decompress` method befor `LOG.debug`
we profile memory allocation and found that `LOG.debug("Decompress: read 0 {}", toDetail(inflater)); break;` cosume some of memory as bellow
<img width="1104" alt="2020-08-05-7 29 44" src="https://user-images.githubusercon

[2020-08-06 04:02] leonchen83 commented on #5113
@joakime
thanks. that's helpful

[2020-08-06 04:03] sagarikat-26 commented on #3106
Hi @lachlan-roberts is the websocket connection stats now available with 9.4.31v .As i was trying to get the numberof active websocket connections for the server still don't see any difference

[2020-08-06 04:27] lachlan-roberts commented on #3106
@sagarika-hp yes these stats are available in 9.4.31 by using the `ConnectionStatistics` class.

This is also tested in the jetty code in `WebSocketStatsTest` so you could look to that for an embedded example how this is to be used, and it seems to be working. Can you open a new issue for this and detail your setup and show how you're trying to get these stats.

[2020-08-06 04:53] sagarikat-26 opened #5122 "Retrieving websocket connections via jmx"
**Jetty version**
9.4.31v

**Java version**
1.8

**Question**
I am trying to fetch the connection stats for my websocket server via jmx
so while fetching this mbean
org.eclipse.jetty.io:context=HTTP_1_1@15bb6bea,id=0,type=connectionstatistics
as part of the attributes ,i get the number of current connections value as
connections (long, r) =52

This is the number of HTTP upgrade connections that ha

[2020-08-06 05:46] lachlan-roberts commented on #5121
Yeah you're right, these debug logs should be guarded with the `LOG.isDebugEnabled()` check.
I will put up a PR to fix this.

[2020-08-06 06:06] leonchen83 commented on #5113
I will close this issue and related pr

[2020-08-06 06:06] #5113 closed, assigned to lachlan-roberts

[2020-08-06 06:36] lachlan-roberts commented on #5122
@sagarika-hp The `ConnectionStatistics` can tell you the number of active connections on the `Connector`, this can include stats from both HTTP connections and WebSocket connections.

When using WebSocket with `ConnectionStatistics`, there is the HTTP connection used for the HTTP/1.1 websocket upgrade, this is closed and a WebSocket connection is opened. The `ConnectionStatistics` will give you th

[2020-08-06 06:47] lachlan-roberts commented on #5121
I'm going to reopen this issue until the PR gets merged.

[2020-08-06 06:49] sagarikat-26 commented on #5122
@lachlan-roberts  is there a way to find out that if how many connections have got upgraded ?  so when we say there are 52 connections how will i know if its an http upgrade connection or a websocket one. I am not saying its a wrong value ..trying to understand how its calculated .

[2020-08-06 07:14] lachlan-roberts commented on #5122
`ConnectionStatistics` doesn't differentiate between the HTTP connections and the WebSocket ones, it is just giving you stats for all connections on that `Connector`.

If you want stats for only websocket Connections you could try subclassing it to only get stats for instances of `AbstractWebSocketConnection`.
[code]

You can also get detailed info about the state of open WS sessions through a dum

[2020-08-06 07:36] sbordet commented on #5122
@lachlan-roberts perhaps we should make a `WebSocketConnectionStatistics` so that it can be used out of the box by users?

[2020-08-06 09:42] quaff opened #5124 "Provide a dummy SessionHandler to disable container session management"
Sometimes we implement session management by wrapping `HttpServletRequest` in application, so It's reasonable that jetty could provide such as this:
[code]
or provide a option at context or server level to disable session
[code]

[2020-08-06 11:56] joakime commented on #5124
If you are using embedded-jetty, why not just use `ServletContextHandler` instead of the `WebAppContext` (which mandates SESSION features)?

[code]

[2020-08-07 00:16] quaff commented on #5124
I'm embedding jetty to war and deploy it self via `java -jar ROOT.war`, I need `WebAppContext::setWar`.

[2020-08-07 00:31] quaff commented on #5124
It's applicable even not using embedded-jetty.

[2020-08-07 06:52] quaff commented on #5124
Resolved by
[code]

[2020-08-07 06:52] #5124 closed, assigned to nobody

[2020-08-07 09:09] gregw opened #5127 "Investigate need to implement Cache-Status"
https://httpwg.org/http-extensions/draft-ietf-httpbis-cache-header.html

[2020-08-07 10:04] sagarikat-26 commented on #5122
@lachlan-roberts  when will this parameter be available in which release ?

[2020-08-07 10:05] gregw commented on #3916
This fix broke several tests in DefaultServletTest:
[code]

[2020-08-07 14:40] asiemsuk opened #5129 "No jars added when using a folder in extraClasspath of the webapp context xml file"
**Jetty version**
9.4.31.v20200723

**Java version**
jvm 1.8.0_231-b11

**OS type/version**
Windows 10 64-bit

**Description**
I have a folder with a couple of jars:
E:\path\to\libs\jar1.jar
E:\path\to\libs\jar2.jar

In my webapp context xml file, I have this line:
`<Set name="extraClasspath">E:\path\to\libs\</Set>`

I am starting the server with this command:
java -Dorg.eclipse.jetty.webapp.WebAp

[2020-08-07 15:47] joakime commented on #5129
The protocol error is new.
The two attempts you have  used ...

* `<Set name="extraClasspath">E:\path\to\libs\</Set>` - this will set the directory as a Resource, which is a normal behavior of a classloader for content that needs to exist on the filesystem and not in a JAR
* `<Set name="extraClasspath">E:\path\to\libs\*</Set>` - this is the correct syntax, and should add it.

As a result of this f

[2020-08-07 15:56] joakime commented on #5129
As a workaround, you can use URI syntax instead.

So change this ...

[code]

to

[code]

and it will use a different path within Jetty to resolve those libs.

[2020-08-07 16:13] asiemsuk commented on #5129
Thnx for the quick response, it works with the workaround !

[2020-08-07 18:05] joakime commented on #5129
This is a revival of Issue #3489

Seems that this new one is now triggering in the WebInfConfiguration

[2020-08-07 19:06] joakime commented on #5129
Opened PR #5131

[2020-08-07 19:11] joakime opened #5132 "Improve MultiPartFormInputStream behavior and testing"
**Jetty version**
9.4.31

**Java version**
All

**OS type/version**
All (with particular emphasis on Windows)

**Description**
The current implementation of MultiPartFormInputStream is messy (from years of partial improvements).

This issue is to cleanup the MultiPartFormInputStream by starting with more testing of behaviors and then general cleanup to make the code easier to maintain and understa

[2020-08-08 07:23] gregw commented on #3916
@joakime nudge.... build is broken

[2020-08-08 12:00] joakime commented on #3916
This is the heart of the issue ...

[code]

That isn't true in some test cases.

In one testcase ...

[code]
But the Response.getContent().length() is 243

In a different testcase ...

[code]

But the Response.getContent().length() is 372

I have no idea how eliminating 1 set of "\r\n" during a OutputStream.write() messed up the calculation of Content-Length during the generation of the response h

[2020-08-08 12:18] joakime commented on #3916
Pushed fix (2206b3edaea03d21bac7c8c98956a72fbf2f8529) to `jetty-9.4.x` directly.

[2020-08-08 21:05] joakime commented on #3916
Closing with commit dcf867cd2b52d843641729d6307c1cca1d9f5c67

[2020-08-08 21:05] #3916 closed

[2020-08-09 12:05] #4517 closed, assigned to nobody

[2020-08-10 07:49] sbordet commented on #5063
Closing as answered.

[2020-08-10 07:57] sbordet commented on #5052
I don't see that in the logs, can you post the DEBUG logs in full?

What I see from what you posted is that a request is being dispatched to the application and it is still there when the client closes the HTTP/2 connection, so the request is aborted.

I would recommend that you take a thread dump to know if your threads are blocked while processing a request.

[2020-08-10 07:58] #5063 closed, assigned to nobody

[2020-08-10 08:31] #1337 closed

[2020-08-10 12:58] joakime opened #5133 "Improve ResourceFactory and Resource list handling"
**Jetty version**
10.0.x

**Description**
While reviewing PR #5131 it was discovered that the WebAppClassLoader constructor automatically added the WebAppContext.getExtraClassPath() entries on it's own.
While at the same time WebInfConfiguration was processing the WebAppContext.getExtraClassPath() in it's own Servlet specific ways.

https://github.com/eclipse/jetty.project/blob/e117fbe8281bd43ec56

[2020-08-10 16:38] joakime commented on #5133
@janbartel if I remove these 2 lines from the jetty-9.4.x branch then the WebAppClassLoader is not updated from the extraClasspath.

Should WebInfConfiguration set the WebAppClassLoader? or is that handled in a later Configuration from the MetaData?

[2020-08-11 15:07] joakime opened #5137 "WebAppContext Tests need cleanup"
As pointed out by @janbartel in PR #5131, the WebAppContext tests are a bit messy right now.

This is a tracking issue to cleanup the WebAppContext tests to be more sane and easier to maintain.

[2020-08-11 16:03] mitchdennett opened #5138 "JNDI With Embedded Jetty Example Doesn't work."
**Jetty version**
9.4.31.v20200723

**Java version**
14 OpenJDK

**OS type/version**
MacOS

**Description**
I'm trying to follow this example. https://www.eclipse.org/jetty/documentation/current/jndi-embedded.html

But I cannot get it to work.

[code]

First thing is it complains about not being able to find `org.eclipse.jetty.jndi.factories.MailSessionReference`
I have the following dependencies

[2020-08-11 16:10] joakime commented on #5138
The example is from ....

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/examples/embedded/src/main/java/org/eclipse/jetty/embedded/ServerWithJNDI.java

Which is actually tested with each build ...

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/examples/embedded/src/test/java/org/eclipse/jetty/embedded/ServerWithJNDITest.java

So we know it works.

So, lets narrow down wha

[2020-08-11 16:13] mitchdennett commented on #5138
Let me create a git repo real quick

[2020-08-11 16:33] mitchdennett commented on #5138
Hmm so its working now. My apologies for opening this issue. When I created my new Maven project to reproduce this it worked there after pulling down the maven dependancies. Now my original one works too. Something was screwed up with my maven repo.

[2020-08-11 16:33] #5138 closed, assigned to joakime

[2020-08-11 16:46] joakime commented on #5138
No worries.  Good luck.

[2020-08-11 19:00] #5079 closed, assigned to sbordet

[2020-08-12 08:11] #1473 closed

[2020-08-12 10:06] janbartel commented on #5133
@joakime I think that WebInfConfiguration should do the parse of the extraClassPath and then poke the results into the WebApPClassLoader, because it is already poking the WEB-INF/classes and WEB-INF/lib jars into it.

WebInfConfiguration should not create the WebAppClassLoader, that is handled by the WebAppContext in it's startup sequence, and allows for the user to supply their own.

[2020-08-12 10:11] janbartel commented on #5121
Merged for 9.4.32 and above.

[2020-08-12 10:11] #5121 closed, assigned to lachlan-roberts

[2020-08-12 10:26] janbartel commented on #5105
@sbordet is the fix for this to take into account the _asyncDispatches, as well as the requestStats?

[2020-08-12 12:35] james-z-repo opened #5140 "How does Jetty skip multiple JAR scans"
**Jetty version**
9.4.19
**Java version**
jdk8
**Question**
How does Jetty skip multiple JAR scans，like tomcat：tomcat.util.scan.DefaultJarScanner.jarsToSkip=bcprov*.jar
Jetty started scanning incorrectly because some of the jars in our project were jar obfuscations

[2020-08-12 13:03] janbartel commented on #5140
@zhengshundong01  jetty will scan all of the jars in your WEB-INF/lib, unless you tell it not to. You do this by setting the context attribute `org.eclipse.jetty.server.webapp.WebInfIncludeJarPattern`. Here is the link to the documentation on using annotations in jetty, which discusses how to limit which jars are scanned: https://www.eclipse.org/jetty/documentation/9.4.31.v20200723/using-annotatio

[2020-08-12 14:17] #4809 closed, assigned to sbordet, lorban

[2020-08-12 14:18] sbordet commented on #4809
@prateekkohli2112 this has now been implemented.

[2020-08-12 14:22] sbordet commented on #5068
@prathamk one of your requirements, max streams per connection - or more in general, max usage per connection, has been implemented in #4809.

Can you please try the latest code, and set your desired max usage count?

[2020-08-12 15:31] joakime commented on #5129
Merged PR #5131 to `jetty-9.4.x`

[2020-08-12 15:31] #5129 closed, assigned to joakime

[2020-08-12 16:28] joakime commented on #5137
Opened PR #5141

[2020-08-12 19:01] joakime commented on #5133
Opened PR #5142

[2020-08-13 07:03] james-z-repo opened #5145 "Remove Powered by Jetty in 404 And 503"
**Jetty version**
jetty-7.6.0.v20120127
**Java version**
JDK7
**Question**

![image](https://user-images.githubusercontent.com/33625419/90103946-f9cb8c00-dd75-11ea-897a-572342a14c5a.png)

Our client wants to remove this field. What should I do?

[2020-08-13 08:18] olamy commented on #5145
You must configure a different error handler look https://www.eclipse.org/jetty/documentation/current/custom-error-pages.html
hth

[2020-08-13 08:56] janbartel commented on #5145
For the 404, that means no context matched and handled the request. You need to look at Jetty's DefaultHandler, doco here: https://www.eclipse.org/jetty/documentation/9.4.31.v20200723/default-handler.html. For the 503 you can configure your own error page as olamy says, and you can also set the following property in server.ini to prevent jetty writing out the powered by message on the pages where

[2020-08-13 08:57] #5145 closed, assigned to nobody

[2020-08-13 08:58] #5140 closed, assigned to janbartel

[2020-08-13 09:04] navalgoyal opened #5147 "Set MaxUsageCount with existing connection pool changing the behavior"
Jetty version
9.4.32-SNAPSHOT

Java version
Java 1.8

Question
#4809
I was test the setMaxUsageCount with each connection locally and i found some behavior changes in the existing connection pool implemented in Jetty.

My Configuration is Max connection is set to 3 and Max usage for each connection is 5.

When i use RoundRobinConnectionPool and sending 18 request from client. There is random behav

[2020-08-13 09:09] sbordet commented on #5147
Can you attach some evidence? DEBUG logs?

We have test cases that shows that `maxConnections` is never exceeded, so you setting it to 3 and seeing 5-6 connections opened it's not right.

[2020-08-13 09:15] navalgoyal commented on #5147
@sbordet i am not saying that all connection are open. some connection goaway i saw in snoops those might be because of maxUsageCount of connection reached but for roundrobin connection pool behavior should not be random where some time 5 connection or some time 6 connections.

[2020-08-13 09:31] sbordet commented on #5147
@navalgoyal this has been discussed in #5068.

Please have a read there to see whether your case is the same or similar.

If it's different, then let's discuss it further.

[2020-08-13 09:40] navalgoyal commented on #5147
@sbordet #5068 is different where it is using old jetty version: 9.4.24. i am using 9.4.32-SNAPSHOT which is latest code and There is changes in Connection Pool.

i saw some changes in the behavior of connection pool where older roundrobin always sent request in different connection using index but in the new implementation i saw more request are sent to one connection even other connection are av

[2020-08-13 09:54] sbordet commented on #5147
@navalgoyal sorry but there is no evidence and not enough information.
If you send the requests one after the other, I bet you get the behavior you want.

If you send the requests concurrently without waiting for responses, then you are in the same case of #5068 and the fact you did not see this behavior before was probably just a case.

[2020-08-13 10:15] navalgoyal commented on #5147
@sbordet i ran same test with old and new algo. in the new algorithm i see the difference in roundrobin and multiplex pool. In the previous roundrobin also if i send 100 request with 5 connection, each connection always serve 20 request even i sent request concurrently but now this behavior is random. Now some connection have more than 20 request where some have less then 20 request.

Similar with

[2020-08-13 11:28] hypervisorfdi opened #5149 "Jetty not throwing EOF exception on browser tab close"
**9.4.25.v20191220**

**JavaSE-1.8 / jdk1.8.0_231**

What are the criteria for EOF exception to be thrown?
My code is doing response.getOutputStream().write(byte)

but when the user is closing the browser tab, Im not getting any exceptions, currently the code is proxying, so on Exception, I would like to stop the requests to backend.

UPDATE:
exception is seen, I wonder why the exception is not pr

[2020-08-13 12:13] lachlan-roberts commented on #5122
@sagarika-hp the PR is still under review but will likely be merged before a 9.4.32 release.

[2020-08-13 12:19] joakime commented on #5145
Jetty 7.x is EOL (End of Life) and unsupported, as of November 2014.

https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html

Be aware of the security reports you are subject to with this unsupported version of Jetty.

https://www.eclipse.org/jetty/security-reports.html

[2020-08-13 12:33] joakime commented on #5149
On HTTP/1.1, you are subject to normal TCP/IP behaviors.

Exceptions will be thrown by Java once the OS + network and all of the network buffers notice, or idle timeout kicks in.

If the client is totally gone, but the client didn't close the TCP/IP connection (common in a browser tab closure scenario), then
you would have to write enough to trigger network backpressure (halting further activity o

[2020-08-13 13:05] #5104 closed, assigned to nobody

[2020-08-13 13:07] olegmoz opened #5150 "Zero connection timeout is not supported in HTTP client with non-blocking connect"
Jetty version: `org.eclipse.jetty:jetty-client:9.4.30.v20200611`
Java version: `1.8`
OS: `Windows 10`

I am trying to set infinite connection timeout in `HttpClient` by setting it's connection timeout to zero value. The setting does makes connection timeout infinite in blocking mode (`HttpClient.setConnectBlocking(true)`) and makes connections fail with timeout exception in non-blocking mode (`Htt

[2020-08-13 15:14] hypervisorfdi commented on #5149
- Exceptions will be thrown by Java once the OS + network and all of the network buffers notice, or idle timeout kicks in.
yes I can see the exception, but its not propagating up to my code.

- If the client did close the TCP/IP connection, the writes will still succeed up until there is an attempt to write to the network.
yes, the client is closing the connection, and a flush is being called, thu

[2020-08-13 15:50] sbordet commented on #5149
The code at `HttpOutput.java:828` and related show that the exception is rethrown to user code, as it should.
This hits `com.v2.proxy.code.ProxyCall.writeResponse()` and if that is your code, you should see the exception.

Note also that "closing a tab in a browser" does not mean that the connection is closed.
Browsers keep a connection pool, and the connection may be used for something else.

[2020-08-13 15:56] sbordet commented on #3248
`ConnectionPool.preCreateConnections(int)` has been introduced by #4975.

The use case would be to pre-create the connections because you know you're going to use them, but then they will undergo the usual logic for idle timeout and eventually the pool could go back to zero connections opened.

I'm not sure we should provide more complicated behavior for now, such as `minConnections` etc. - always

[2020-08-13 16:01] sbordet commented on #5147
@navalgoyal you are not detailing your test, so cannot really help you here. What you describe is exactly what's in #5068.
If it is different, it's not enough that you say it, you must provide evidence, for example DEBUG logs or a network trace.

Note that we have also introduced pre-opening of connection, so you can leverage that if you really need more control.

What I think it happens in your c

[2020-08-13 16:14] geeknotnerd commented on #1053
is this still a high priority security issue?

[2020-08-13 16:43] sbordet commented on #1053
I don't think it is.

[2020-08-13 16:57] sbordet opened #5152 "HttpClient should handle unsolicited responses"
**Jetty version**
9.4.x

**Description**
HAProxy can be configured to idle timeout a connection with an HTTP response 408.

When `HttpClient` receives this unsolicited response, it does not have a matching request and fails to close the connection.
Reports are that the connection was closed at least in 9.4.20.

Investigate this behavior and perhaps make it configurable - these unsolicited response

[2020-08-13 17:03] sbordet commented on #1503
This has been fixed with the work for #5079.

[2020-08-13 17:03] #1503 closed

[2020-08-13 20:06] hypervisorfdi commented on #5149
no, it shows a stack trace that was printed by Jetty and the exception was swallowed up, my code is freezing/blocked at response.getOutputStream().write(...)

No, the browser connection is closed, see the exception is from flushing operation that goes bad.
java.io.IOException: An established connection was aborted by the software in your host machine

so wont blame browsers here.

[2020-08-13 21:08] jwalker-highspot opened #5153 "Improper use of Servlet InputStream Async I/O results in 100% CPU"
**Jetty version**
9.4.28.v20200408

**Java version**
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment (build 11.0.5+10-post-Ubuntu-2ubuntu116.04)
OpenJDK 64-Bit Server VM (build 11.0.5+10-post-Ubuntu-2ubuntu116.04, mixed mode, sharing)

**OS type/version**

Ubuntu 16.04.6 LTS

**Description**

I have a jetty server listening for web socket requests ultimately handled by an implement

[2020-08-13 21:42] joakime commented on #5153
That version of Eclipse Jetty is subject to some security reports.
Be aware of them.

https://www.eclipse.org/jetty/security-reports.html

Eclipse Jetty 9.4.31.v20200723 is available has many fixes, some even in websocket.

That stacktrace shows code that is doing a Servlet spec Async I/O read of HTTP Servlet Request bytes.
That has nothing to do with WebSocket.

Issue #5090 is unique to the UnixS

[2020-08-13 21:47] joakime commented on #5153
Can you describe the steps you take to reproduce the problem with this project?

[2020-08-13 21:51] joakime commented on #4717
Akka reports : JDK 11: Async channel closing semantics changed

https://github.com/akka/akka/issues/25913

This is something to confirm on our behaviors as well.

[2020-08-13 22:52] jwalker-highspot commented on #5153
@joakime

Here are 10 thread dumps taken with jstack -l -e taken 10 seconds apart.  I've clipped everything except one of the hung threads.

It looks like it's reading data from the stack trace but other things suggest it might not be.  For example, in the netstat -n -e -t output, no established tcp connections on the server's port are listed. (This server has been removed from load balancer and i

[2020-08-14 00:38] joakime commented on #5153
The code at https://github.com/projectodd/sockjs-servlet/blob/master/src/main/java/org/projectodd/sockjs/servlet/SockJsServletRequest.java#L89-L104

... has a few bugs with how it's using Servlet Async I/O.
And one of them causes an infinite loop.

Servlet Async I/O has many gotchas, and your code for Async I/O read definitely has a few.

Read this https://www.slideshare.net/SimoneBordet/servlet-3

[2020-08-14 07:31] navalgoyal commented on #5147
@sbordet Multiplex pool is now not opening many connection after the fix applied.

my use case is for Round Robin pool is that i want use connection in RoundRobin Fashion. i want maxUsage support as well where once maxUsage reached then connection will not serve any more request and closed sliently.

In my case i have given maxConnection 3 and maxUsage 5 and i am sending 18 request concurrently. S

[2020-08-14 13:53] zhugf opened #5155 "Jetty 9.4.31 WebSocketClient.stop() hang on stop"
**Jetty version**
9.4.29.20200521
9.4.31.20200723

**Java version**
jdk 11/jdk 14

**OS type/version**
Ubuntu 20.04.1 LTS
Linux 5.4.0-42-generic #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description**
Jetty websocket client hang while stopping. From the stacktrace, it seems that the selector thread is not wakeup by stop thread, then the stop thread waits for sig

[2020-08-14 13:57] hypervisorfdi commented on #5149
thanks

[2020-08-14 13:57] #5149 closed, assigned to nobody

[2020-08-14 14:29] joakime commented on #4213
Hasn't happened again in the past 6 months.

[2020-08-14 14:29] #4213 closed

[2020-08-14 14:31] zhugf commented on #5155
Just found the root cause: the code try to destroy websocket client from handleTransportError() thread.

Destroy the websocket client from a new thread, it works!

[2020-08-14 14:31] #5155 closed, assigned to nobody

[2020-08-14 14:55] joakime commented on #5155
Yeah, that makes sense.

The WebSocketClient.stop() is supposed to attempt a graceful shutdown of all open sessions and then finally stop.
If you are attempting to stop WebSocketClient from a thread that is part of the graceful shutdown, then you are essentially in a deadlock.

[2020-08-14 15:07] thomasdraebing commented on #5105
I tried to implement @joakime 's suggestion in #5156. So far, it does most of what I would expect, but it does not work in one case:

If a request is being served, when the shutdown is triggered and then after the trigger of the shutdown is cancelled by the client, the server continues to wait for the request to finish until the timeout. Do you have any idea, how I could detect whether the request

[2020-08-14 15:57] jwalker-highspot commented on #5153
@joakime

Thanks for the quick and thorough response!

We will look at patching sockjs-servlet or moving to a different sockjs implementation.

[2020-08-14 16:35] sbordet commented on #5150
Fixed by #5151.

[2020-08-14 16:35] #5150 closed, assigned to sbordet

[2020-08-15 16:27] oliviercailloux opened #5162 "DecoratingListener raises a NullPointerException"
**Jetty version**
9.4.31.v20200723 (Maven)

**Java version**
OpenJDK 11

**OS type/version**
Debian stable

**Description**
The sample code from the [Weld embedded](https://www.eclipse.org/jetty/documentation/current/framework-weld.html#weld-embedded) section in the Jetty Reference raises a NullPointerException.

Here is the stack trace.

[code]

This could be a usage problem. It is unclear to me,

[2020-08-17 02:02] james-z-repo opened #5163 "Does Jetty support JMS、JCA1.7?"
**Jetty version**
9.4.19.v20190610
**Java version**
1.8
**Question**
I can't find JMS、JCA in this page：https://www.eclipse.org/jetty/documentation/current/jetty-javaee.html
Does Jetty support JMS、JCA1.7?

If yes, how should I use it?

thanks

[2020-08-17 02:29] olamy commented on #5163
Please have a look here https://www.eclipse.org/jetty/documentation/current/jndi-configuration.html#configuring-jms-queues-topics-connectionfactories
JMS, JCA are app server features so Jetty do not support this out of the box.

[2020-08-17 02:29] #5163 closed, assigned to nobody

[2020-08-17 09:26] gregw commented on #5162
Sorry for the confusion.  We are always a bit confused with CDI as well.... the problem being that there is no standard nor agreement between the CDI implementations as to how they should integrate with a servlet container, further complicated by the historic usage of jetty APIs for integration that were not meant to be public and have now changed.

We've tried to push the implementations to a sin

[2020-08-17 09:44] gregw commented on #5162
So there is definitely at least something wrong with both sets of embedded documentation as `DecoratingListener` will not work with a default constructor unless called from the scope of a context listener or similar.     Thus in the embedded examples, at the very least the constructor that takes a context needs to be used.   It may also be the case that `CdiDecoratingListener` should be used.

Thi

[2020-08-17 09:58] gregw commented on #5105
I don't quiet understand the OPs analysis.  When an async request is dispatched "resumed" the request stats are not incremented.  However, when that async request completes, the [request count is checked](https://github.com/eclipse/jetty.project/blob/450ba27947e13e66baa8cd1ce7e85a4461cacc1d/jetty-server/src/main/java/org/eclipse/jetty/server/handler/StatisticsHandler.java#L108) and if zero then th

[2020-08-17 10:02] gregw commented on #5105
@lachlan-roberts as you've recently worked on graceful shutdown, can you tune into this issue and help out (or take over from?) @sbordet

[2020-08-17 10:07] davido commented on #5105
@thomasdraebing

Do we have a reproducer? Ideally, a unit test that would fail on gerrit@HEAD?

[2020-08-17 10:09] gregw commented on #5105
@thomasdraebing with regards to the issue of detecting client closes, this is not really possible with HTTP/1.

When a request is suspended and not doing any IO activity, there is no way to know if the connection has been closed.  In order to detect a closer, the container would have to try to read or write something.  If it tried to read something then it would detect closures... but it might als

[2020-08-17 10:13] gregw commented on #5105
So if the problem is that your graceful shutdown is being held up by such closed connections, then perhaps we do need to provide a "mostly graceful" option that shutsdown the container once there are no dispatched requests.     This would have to be optional behaviour, and we'd need the same behaviour in both the Stats handler and any Gracefulshutdown handler.

Perhaps your PR could be modified to

[2020-08-17 10:57] thomasdraebing commented on #5105
@davido No we unfortunately don't have a test for Gerrit testing this. I did the testing manually, but I could push a change adding a test that reproduces the issue. I would have done this anyway, when we would have updated jetty or applied a different fix.

For now, let me describe how I am able to reproduce the issue in the context of Gerrit:

- In Gerrit configure httpd.gracefulStopTimeout to a

[2020-08-17 11:09] gregw commented on #5105
@thomasdraebing if it is true that "the current request stat is 0 and the current dispatched stat is 1" then that is definitely a jetty bug.  @lachlan-roberts can you check the code see if you can find a way for this to happen? I can't see it, other then perhaps in transitory states.

[2020-08-17 11:13] thomasdraebing commented on #5105
@gregw Thanks for all your comments and suggestions! I agree that the code duplication should be reduced, e.g. by having the StatisticsHandler extending the GracefulShutdownHandler. I also agree, that both handlers should still provide a method to gracefully shutdown, if only to provide backward compatibility.

If we however, have both handlers using the same condition to decide, when the shutdown

[2020-08-17 11:14] thomasdraebing commented on #5105
However, if you are right and this is a bug in Jetty somewhere else, a new handler or a change in the Statisticshandler might not be required. Let's wait for what @lachlan-roberts finds out.

[2020-08-17 11:57] gregw commented on #5105
@lachlan-roberts @sbordet et al,
I read the code as follows:
 + for any dispatch, the [`_dispatchedStats` are incremented](https://github.com/eclipse/jetty.project/blob/jetty-9.4.31.v20200723/jetty-server/src/main/java/org/eclipse/jetty/server/handler/StatisticsHandler.java#L152)
 + for any non async dispatches (ie initial) the [`_requestStats` are incremented](https://github.com/eclipse/jetty.pro

[2020-08-17 12:12] davido commented on #5105
Can you past here to stack traces, one that is trigerring line 150 and another that is triggering line 193 code paths?

[2020-08-17 12:12] thomasdraebing commented on #5105
I think the issue is, that in the requests I observed `isSuspended` returned `false` during the initial handle. Thus, `_requestsStats` got decremented and the listener was not added to the state. In my PR, I also had to extend the condition to also ask `isDispatched` to make it work for my use case.

[2020-08-17 12:23] thomasdraebing commented on #5105
@davido (line numbers differ a bit. The ones above are from `master`. In Gerrit, we use [this version](https://github.com/eclipse/jetty.project/blob/jetty-9.4.30.v20200611/jetty-server/src/main/java/org/eclipse/jetty/server/handler/StatisticsHandler.java) of the StatisticsHandler.
during `GET /<project.git/info/refs?service=git-upload-pack`

[code]
and
[code]
during `POST /<project>.git/git-upload

[2020-08-18 07:40] sbordet commented on #5152
Since Jetty 9.4.21 and the fix for #4113, the client does not close anymore the connection when receiving "garbage" bytes from the server, because it has to process the additional TLS bytes.

[2020-08-18 09:39] sbordet opened #5165 "Wrong messagesIn count for HttpClient"
**Jetty version**
9.4.31

**Description**
The `messagesIn` count in the client is incremented for every call to `HttpChannelOverHTTP.receive()`.
However, that method is called every time there are bytes to read from the network, so if a response is send a byte at a time, the `messagesIn` count gets incremented for each byte, not for the full response.

[2020-08-18 10:22] #5165 closed, assigned to sbordet

[2020-08-18 15:43] sbordet commented on #5147
I'm working on this and will keep you posted.

[2020-08-18 16:20] oliviercailloux commented on #5162
Thanks for investigating!

I do not understand this sentence. I thought I’d better _first_ make sure Jetty and Weld work together, before trying to tackle the (or what I thought to be the) additional difficulty of making Jersey also work with Jetty and Weld (meaning, make my Jersey-operated Jax-RS servlet handle dependency injection).

Does your sentence suggest that it is in fact easier to set up

[2020-08-18 16:38] joakime commented on #5162
Can you explain this in a bit more detail?
Which container?
Jetty (which isn't involved in DataSource behaviors)?
Jersey (which is also a container)?
Weld (which is also a container)?
Or something else?

[2020-08-18 18:08] joakime opened #5168 "Jetty 10 artifact archives should have EPL 2 license in them."
**Jetty version**
10.0.x

**Description**
Currently some of the artifact archives do not have the EPL 2 license in them, this needs to be addressed.

Example: the `jetty-home` and `jetty-distribution` archives ...

[code]

The JAR files, however, seem to be set properly.

[code]

[2020-08-18 18:11] joakime commented on #5168
Update: JAR Manifest information is also set properly.

[code]

[2020-08-18 21:22] pkcs11newbie opened #5169 "Servlet Serializable in Jetty"
Hello

Jetty version: 9.4.26
Java version: OpenJDK11

I have a coverity issue (CID 414118 Se: Incorrect definition of Serializable class (FB.SE_BAD_FIELD)) in our jetty embedded server application that I'm looking for help.

Excerpts of our code:
Servlet handled by jetty :

[code]

servlet code:

[code]

I could resolve this issue by marking the field as transient. However, I would appreciate if I

[2020-08-18 21:57] joakime commented on #5169
Ignore it.

Configure Coverity to exclude the Serializable check for anything based on `javax.servlet.GenericServlet`.

Technically, per some very old Servlet spec, the Servlet Container is allowed to passivate the Servlet object to disk.
This is never done by Jetty, and I don't think there's a modern Servlet container out there that still does this odd quirk of the Servlet spec.
It's legacy bagga

[2020-08-19 00:32] lachlan-roberts opened #5170 "NullPointerException in HttpReceiverOverHTTP during WebSocket client Upgrade"
**Jetty version**
10.0.x

**Description**

Had this exception come up a few times in different websocket tests. This stack trace is from `WebSocketStatsTest`.
This seems to occur very infrequently, have to run the test many times for this to have a chance of happening.

[code]

[2020-08-19 01:01] joakime opened #5171 "GzipHandler Vary head should be configurable"
**Jetty version**
9.4.31

**Description**
The current implementation of the `GzipHandler` produces a `Vary` response header.
It only has 2 possible values depending on User-Agent configuration.

* `Vary: Accept-Encoding, User-Agent` (if there are User-Agent configurations present in the GzipHandler)
* `Vary: Accept-Encoding` (if there are no User-Agent configurations present in the GzipHandler)

T

[2020-08-19 01:03] joakime commented on #5170
This is probably due to Issue #4971 and we likely missed a step on the websocket side related to that change.

[2020-08-19 06:28] calvincodes opened #5172 "Adding custom handler throws ClassNotFoundException"
**Jetty version**
9.4.29.v20200521

**Java version**
1.8.0

**Description**

While injecting a custom handler (`extends AbstractHandler`), `--list-config` displays the handler on the classpath, but upon starting Jetty `ClassNotFoundException` is thrown.

There are two ways I have tried this.

1. Writing the handler class (`CustomHandlerWarPackaged`) in a module which is packaged as a `war`, and th

[2020-08-19 07:33] oliviercailloux commented on #5162
I should have written: “one of the things I am interested in is to have **a** container react to `@Transactional` annotations (using JPA and a JTA transactional manager).” (I also would like to use the other CDI basic stuff such as `@Inject`, of course.)

AFAIU, this is a job for CDI together with some TransactionManager (which registers CDI interceptors to act upon `@Transactional`). See [this po

[2020-08-19 08:05] thomasdraebing commented on #5105
I found a minimal fix for my issue. It appears that the async request can already start before the finally block in the StatisticsHandler is reached. In that case the StatisticsHandler does not see it as an async request and will handle it as a synchronous request and directly marks it as finished. By not only checking, if the request is suspended but also if an async request is started, this is f

[2020-08-19 08:07] olamy commented on #5168
fixed by https://github.com/eclipse/jetty.toolchain/pull/42
when merged and release it's only a matter of updating the poms

[2020-08-19 08:15] lachlan-roberts commented on #5105
@thomasdraebing I agree, I was looking into this earlier and I think the `state.isSuspended()` check can really just be replaced with `state.isAsyncStarted()`.

I am currently preparing a PR which will make this change and but also add an optional configuration to not wait for the async requests when doing a graceful shutdown, but instead shutdown when there are no actively dispatched requests.

[2020-08-19 08:46] olamy commented on #5168
once

[2020-08-19 09:18] cstamas commented on #5016
I think we got a lead: there was a corruption in out storage, so briefly what happens:
- we get content metadata, set up headers for content delivery response (say `Content-Length: 100`)
- we start Async IO to deliver content
- but alas, the actual content is not 100 bytes but 80
- and here it (I believe) Jetty triggers `500 - insufficient content written`
- our error page assumes we are SYNC and

[2020-08-19 09:18] #5016 closed, assigned to nobody

[2020-08-19 09:28] lachlan-roberts commented on #5172
@calvincodes your second example where you have with the jar in `jetty-base/lib/ext/`, you are not getting the `ClassNotFoundException`. You are getting an error that `Server` does not have a method called `insertHandler` which takes the type you are giving it, that method needs to take a `HandlerWrapper`. If you use `setHandler` instead it should work.

[2020-08-19 09:42] lachlan-roberts commented on #5172
And for the first example where you add to the server classpath with a `--lib` parameter, it should work if you just use
`--lib=target/classes/` instead of `--lib=target/classes/com/github/calvincodes`.

But you will run into the same issue as the other example unless you either change `CustomHandlerJarPackaged` to extend `HandlerWrapper` or to use `Server.setHandler()` instead.

[2020-08-19 10:04] gregw commented on #5162
@oliviercailloux I've now found a few niggling problems with the various ways that jetty can integrate with Weld when used in an embedded style, specially following our examples.  So I will be doing a PR to fix them up.... mostly the issue is that all the goodness we've written for CDI integration is within a ServletContainerInitializer that may not be triggered by embedded usage.

For now you sho

[2020-08-19 11:40] gregw commented on #5162
Looking for better ways to start CDI embedded....  ultimately it is best to just use the `ServletContainerInitializers`.

If you are not using a real webapp, ie using `ServletContextHandler` instead of a `WebppContext`, then you can achieve this by clearing a little class like:
[code]

Your startup code then can look like:
[code]

So that could be simplified a little (eg we should provide a utilit

[2020-08-19 11:47] joakime commented on #5162
I was able to not use jetty-cdi at all, and rely solely on the weld-servlet-core artifact.

This works for `ServletContextHandler` just fine.
And isn't appropriate when using `WebAppContext`.

[code]

[2020-08-19 11:55] joakime commented on #5162
This works too.
For both `ServletContextHandler` and `WebAppContext` usages.

[code]

[2020-08-19 12:15] gregw commented on #5162
@joakime that method only partially works.  It uses the Weld integration which will give you the log message:
[code]
ie Listener injection is not supported.

This way will also not work with jetty-10.

[2020-08-19 13:46] btsweber commented on #111
I ran across this issue searching for clues to my attempt to solve the same problem. I wanted to specify a jetty config that referenced a WAR file which is a dependency in my POM. I was trying to use the 'properties' goal of the dependency plugin to specify the location of the WAR file in my local repository. For example, I have a dependency that looks like this:

		<dependency>
			<groupId>com.my

[2020-08-19 13:54] pkcs11newbie commented on #5169
Thank you for confirming.

[2020-08-19 14:12] #5169 closed, assigned to joakime

[2020-08-19 16:47] janbartel commented on #111
@btsweber can you explain how you use that war dependency in your project? The jetty plugin is already interpreting any war dependencies as overlaid wars, see: file:///home/janb/src/jetty-eclipse/jetty-9.4.x/jetty-documentation/target/docbkx/html/jetty-maven-plugin.html#using-overlaid-wars.

[2020-08-19 17:13] btsweber commented on #111
I manage to disable the overlay using the war plugin configuration like so:

				<configuration>
					<overlays>
						<overlay>
							<groupId>com.mydomain</groupId>
							<artifactId>mywebapp</artifactId>
							<excludes><exclude>*</exclude></excludes>
						</overlay>
					</overlays>
           			        <failOnMissingWebXml>false</failOnMissingWebXml>
				</configuration>

I thought setti

[2020-08-19 21:16] joakime opened #5174 "Reorganize jetty-distribution in version 10.0.0 to encourage jetty-home vs jetty-base split"
**Jetty version**
10.0.0

**Description**

Proposed New Jetty Distribution.

[code]

[2020-08-20 06:25] lachlan-roberts commented on #5170
I managed to reproduce this with some logging enabled.

Looks like the `HttpReceiverOverHTTP` read 0 bytes so released the network buffer, then after that another thread gets to the websocket upgrade in `HttpReceiverOverHTTP.onUpgradeFrom()` and there is a null network buffer because it was already released.

[code]

[2020-08-20 10:27] janbartel opened #5178 "Update to asm 8.0.1"
**jetty-10.0.x**

Update to asm 8.0.1 for jetty-10 and above.

[2020-08-20 19:14] #4572 closed, assigned to joakime

[2020-08-21 07:45] calvincodes commented on #5172
@lachlan-roberts Thanks a lot for your feedback. Your suggested changes fixed the issue and the server is starting now. I had been struggling with this for a while. Let me update my repo also with the fix.

[Suggest]: I could not find proper examples of creating and injecting such a custom handler via XML. It would be great to have them. (I would love to contribute to creating these examples.)

[2020-08-21 08:20] lachlan-roberts commented on #5172
@calvincodes glad to help, I will go ahead and close this this issue if it is working now.

If you wanted to open a PR to improve the documentation around adding custom handlers with XML it would be welcome. It seems a new section in [writing-custom-handler.adoc](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-documentation/src/main/asciidoc/development/handlers/writing-custom-hand

[2020-08-21 08:20] #5172 closed, assigned to lachlan-roberts

[2020-08-21 08:39] #5178 closed, assigned to janbartel

[2020-08-21 09:20] janbartel opened #5181 "Update to spifly 1.3.0"
**Jetty-10.0.x**

Update to spifly 1.3.0. This entails a couple of extra dependencies in the osgi pom, and also a couple of other asm bundles to be deployed during testing.

[2020-08-21 15:22] gonphsn opened #5185 "Introduce DoSFilter Listener for Alert messages"
Presently the "DOS Alert" family of messages in the DosFilter class is transparently passed to the assigned Logger to the warn level as shown:

[code]

each time a DOS event is triggered. While this certainly succeeds in communicating the DOS condition to the user, we have had feedback that the repeated messages from a same source, as is likely to actually be the case in DOS conditions, has the un

[2020-08-21 15:29] joakime commented on #5185
This is usually a feature of your logging framework.

logback, log4j2 both have duplicate message suppression features.

We've had feedback this kind of message is useful to determine the severity of the DOS event and automatically trigger actions based on various thresholds.

Such as .. if the same IP occurs X times in N seconds then ban IP at firewall for Z minutes.

There's various tooling on l

[2020-08-21 15:35] gonphsn commented on #5185
Thanks for the feedback - We are just using a JUL integration without any overlaying log framework. I agree that the present solution would allow you to see the "severity" of the DOS condition, but I suppose I'm still interested in some manner of Jetty application layer correction independent of the logger framework present. I absolutely want this logger on since it *is* valuable, I just want to a

[2020-08-21 15:54] joakime commented on #5185
Having those events be sent to a Listener, where the default implementation is to log is sane enough.

But switching the event level to severe will just suppress other valid events.
That's not a great solution if you had the listener.
You would need to suppress based on the combination of remote.address and remote.port at a minimum.
Allowing other addresses and port combinations to still trigger e

[2020-08-21 16:10] gonphsn commented on #5185
Agree on the short comings of vanilla JUL, but framework switch is a completely different beast at this point. Even with context I agree it might be difficult to properly tune the suppression if the attacker was clever enough to manipulate the principal user or requested session, so IP address and port, assuming they can't be manipulated, would have to be the basis of filtering. Seems I'm stuck in

[2020-08-21 17:15] gonphsn commented on #5185
Thinking your comment over:

"Having those events be sent to a Listener, where the default implementation is to log is sane enough."

I think this is the ideal scenario. Rather than sending the rejected, throttled and delayed events to the log, send them to a listener that the embedded instance can override and then I can decide whether or not to send them to the log. A default listener that maint

[2020-08-22 20:13] sbordet commented on #5147
@navalgoyal can you please try branch `jetty-9.4.x-5147-h2_round_robin_max_usage` and see if it works for you?

[2020-08-24 05:25] lachlan-roberts commented on #3974
This test has still been failing and messing with the CI results. I can't reproduce the failure on my machine so it is hard to debug, I ran it 10k times without a failure.

 I am going to disable only the `testAfterContentTransformerOverflowingToDisk()` test this time, and not all the other tests in `AsyncMiddleManServletTest` as they have not been failing.

[2020-08-24 09:48] gregw commented on #5171
I also wonder if it is time to just drop the default configuration to exclude MSIE6.  It is beyond wasteful to make literally billions of checks for user agent when that is only necessary to help an ancient broken browser.

I'm not sure that just lying about the user-agent pattern is the correct thing to do?

[2020-08-24 09:51] gregw commented on #5171
Alternately, in jetty-10, we could just entirely remove the User-Agent handling from GzipHandler.  Instead we could have an optional rewrite and/or customiser that removes Accept-Encoding from MSIE6.

We already have MsieSslRule, so in 10, let's replace that with MsieRule that does both the accept encoding fiddle and the ssl keep alive fiddle.   Perhaps we should then have a msie module that depen

[2020-08-24 12:51] #5181 closed, assigned to janbartel

[2020-08-24 13:44] flymoondust opened #5193 "WebSocket unimplemented BINARY message handling can result in TEXT message delivery to fail"
**Jetty version** 9.4.27.v20200227 to 9.4.31

**Java version**

**OS type/version**

**Description**
When the websocket is established, the client always miss the first message from the server,then it work fine.
Following is the debug log:

[code]

[2020-08-24 13:45] flymoondust commented on #5193
WebSock...Data0_0 is the first message, WebSocket_Data1_0 is the second message, IESWebSocketClnt$WebSocketEventHandler is the client that complete @WebSocket

[2020-08-24 13:48] flymoondust commented on #5193
9.4.19.v20190610 is fine, so i suspect it may be some bugs in the new versions.

[2020-08-24 14:21] flymoondust commented on #5193
I‘m lost now,because I find this bug occur when the server is netty, but not occur in tomcat server.

[2020-08-24 14:27] lachlan-roberts commented on #5193
I can't see anything strange going on in that debug log, the first frame with `WebSocket_Data0_0` is being parsed and given to the `AbstractEventDriver`. More information about your setup will help us debug what is happening.

Are you using the Javax or the Jetty websocket API?
Is your websocket endpoint annotated or implementing the listener interface?
What type of `onMessage` method are you usin

[2020-08-24 14:33] gregw opened #5194 "Remove usages of `setAccessible`"
**Jetty version**
10

**Java version**
11+

**Description**

The reflection method `setAccessible` when used can produce the warning:
[code]
We need to remove usages of that for fields and methods.  Hopefully there is a better way?

[2020-08-24 15:01] joakime commented on #5185
Opened PR #5195

[2020-08-24 15:15] #4996 closed, assigned to janbartel

[2020-08-24 15:22] #5087 closed, assigned to janbartel

[2020-08-24 15:43] joakime commented on #5194
How to find our own direct usages of .setAccessible(boolean) ...

[code]

[2020-08-24 16:00] #5095 closed, assigned to gregw

[2020-08-24 21:09] sbordet commented on #5194
This has to do with JPMS modules, so one way to fix it is to make sure the application `opens` its classes to the Jetty modules that require deep reflection such as `jetty-plus`.
Similarly to how a JPA application would need to open its entity classes to the JPA implementation.
For tests, we may need some additional command line options in the Maven Surefire Plugin configuration to get rid of the

[2020-08-25 01:46] flymoondust commented on #5193
[code]

[2020-08-25 01:47] flymoondust commented on #5193
The only strange going on is that the AbstractEventDriver seem not callback the onMessage func in the fisrt message,but then callback fine.

[2020-08-25 05:35] lachlan-roberts commented on #5193
@flymoondust can you create a minimal reproduction test case? I cant seem to reproduce this same issue. I can reproduce all those same jetty debug logs to happen, but the `onMessage` still always receives the first text message.

[2020-08-25 09:38] shwetaCummins opened #5197 "Getting SSLHandshakeException: Received fatal alert: certificate_unknown error"
**Jetty version**
9.4.18.v20190429
**Java version**
1.8.0_261
**OS type/version**

**Description**
I am using Spark web server in one of our IOT device. I have Self Signed certificate. When I try to open the UI on any browser like chrome, I get below errors.
[code]
Thank you in advance,

Regards,
Shweta

[2020-08-25 10:32] gregw opened #5198 "Update GzipHandler"
GzipHandler can user the ByteBuffer API in Jetty-10.
There are also several other open GzipHandler issues that might be addressed in an update: #4988, #4317, #2553, #1761

[2020-08-25 12:16] janbartel commented on #5194
Shows you why modules just don't work for containers - it's completely unreasonable to expect webapps to have to know the module names of the _implementation_ of all the containers they might run in.

[2020-08-25 13:13] sbordet commented on #5197
Browsers don't typically send certificates to servers, so your report is unlikely.
If you do send certificates from the browser, you have to detail _exactly_ what is your setup, what is the server configuration, etc.
This seems to be just a TLS configuration issue, not a Jetty issue.

[2020-08-25 14:20] sbordet commented on #5147
Branch `jetty-9.4.x-5147-h2_round_robin_max_usage` has been merged to `jetty-9.4.x`.
@navalgoyal are you able to try the latest code?

[2020-08-25 15:15] sbordet commented on #5149
@hypervisorfdi you closed this issue because it was solved for you? Can you detail how?

[2020-08-25 17:01] sbordet commented on #3974
I believe this was addressed by 0b8b7061b8f7cb68a42d9e30a2005c49630c4c86.
Keeping open for a few days to see if the fix worked.

[2020-08-25 20:57] olamy commented on #5194
#3396

[2020-08-26 00:28] lachlan-roberts opened #5201 "QueuedThreadPool setDetailedDump gives less detail"
**Jetty version**
9.4.x

**Description**
It looks like `QueuedThreadPool.setDetailedDump(true)` seems to give less detail than when `detailedDump` is false. I think this option shouldn't omit details in the detailed dump that we already had in the standard dump.

detailed dump off:
[code]

detailed dump on:
[code]

[2020-08-26 02:05] flymoondust commented on #5193
the server is a little complecated, it's implemented by netty, and nginx front of it.I can compare some different scene and get the debug log.wait for me to obtain the log.I'll look for the netty code of server,try to find how it response.

[2020-08-26 05:20] lachlan-roberts commented on #5193
@flymoondust I don't think it would be a problem with the server if we have received and parsed the text frame.

We know the frame gets to `AbstractEventDriver.incomingFrame()` but does not make it to the endpoint `onMessage`, there is not much code between these two points, and very little of the code has been changed since 2013. So not sure how this would be possible.

@joakime any idea how to d

[2020-08-26 06:44] shwetaCummins commented on #5197
My server implemented at device is sending the certificate while handshaking with browser as a client. I am getting errors on device side.
Here is my configuration for device at server side
         secure(keyStore, keyStorePwd, null, null);
        SslContextFactory sslContextFactory = new SslContextFactory();
        sslContextFactory.setIncludeProtocols("TLSv1.2");

[2020-08-26 06:50] #5152 closed, assigned to sbordet

[2020-08-26 06:55] sbordet commented on #5201
@lachlan-roberts I think more details are dumped for threads that are not "known" ("known" threads are idle in the pool, or in `select()`, etc. IIRC the whole stack trace is printed.

So perhaps it's worth normalizing the "known" threads output although it does not seem to add much - I won't object if
`java.base@11.0.5/jdk.internal.misc.Unsafe.park(Native Method)` is removed.

[2020-08-26 06:58] sbordet commented on #5197
Sorry but the information you give is not enough. If you are getting error on the server-side, and the error is that the certificate is unknown, then the server is complaining about certificates, which is unlikely.

`secure(...)` is not a Jetty method, so no idea what it does.

Please double and triple check on your side that you are doing things correctly - it's most likely an issue on your side

[2020-08-26 07:22] shwetaCummins commented on #5197
secure( .. ) is method of spark web server. I know I am missing something at server side. Can you guide me to identify this.
In spite of having the certificate_unknown exception, I am able to access the UI. Also I observed that I am not getting such exception when I use Firefox as a browser.
I am not sure where I am missing anything while configuring the embedded jetty server

[2020-08-26 08:19] janbartel commented on #5194
@gregw where did you see this exception? I've just run the test-spec webapp and the test-jndi webapp and neither of them produce this warning.

[2020-08-26 08:58] lachlan-roberts commented on #5194
@janbartel I've seen this error from the tests of `jetty-webapp` which I've been able to fix with `--add-opens java.base/java.net=ALL-UNNAMED` in the pom file. Have not seen it anywhere else yet.

[2020-08-26 09:10] janbartel commented on #5194
@lachlan-roberts can you be more specific - what tests are you referring to, and how are you running them?

[2020-08-26 09:16] lachlan-roberts commented on #5194
@janbartel The tests from `jetty-webapp/src/test/java/org/eclipse/jetty/webapp/*`, running them with intellij. This is just some test usages of `setAccessible()` producing the warning.

[2020-08-26 11:03] joakime commented on #5193
Why do you have ...

[code]

You seem to be in a race to close the connection quickly after it's open?

[2020-08-26 11:23] flymoondust commented on #5193
i think this line would not cause the connection closed.I just use the closeLatch for timing.
In the function open(), I call awaitClose for waiting to be connected for 15 seconds, then connect,i call countDown() to stop timing,nothing more.

[2020-08-26 11:59] joakime commented on #5193
I created a PR #5202 that adds way more logging to the EventDriver layer.

@flymoondust can you build Jetty from branch `jetty-9.4.x-5193-better-websocket-event-logging` and see if this extra logging helps diagnose what's going on in that layer?

[2020-08-26 16:13] sbordet opened #5203 "Reimplement --jpms with JPMS module APIs"
**Jetty version**
10.0.x

**Description**
Currently, `java -jar start.jar --jpms` forces the fork of another JVM: the first JVM computes the module-path and the class-path and then passes them as command line options to the second JVM.

This has been done because Jetty 9.4.x is based on Java 8 but could be run in Java 9+, and therefore we could not use the JPMS module APIs.

However, in Jetty 10 w

[2020-08-26 18:21] joakime commented on #3974
Got an interesting stackless Exception (seen on https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/PR-5202/1/tests/ ) ...

[code]

I've rejiggered the AsyncMiddleManServletTest to be more selective in it's Stackless logging in branch `jetty-9.4.x-3974-flaky-asyncmiddlemanservlet-test-overflow`

[2020-08-26 20:07] sbordet opened #5204 "SNI does not work with PKIX"
**Jetty version**
9.4.x

**Description**
When setting `SslContextFactory.Server.setKeyManagerFactoryAlgorithm("PKIX")`, and the keystore contains multiple aliases to support SNI, the wrong alias is chosen for the server certificate, causing a TLS handshake error.

This is caused to https://bugs.openjdk.java.net/browse/JDK-8246262.
There are reports that not only the OpenJDK implementation "leaks"

[2020-08-26 21:26] WalkerWatch opened #5206 "Rename Guides for Documentation"
Guides need renamed for split in Jetty 10.

Quickstart Guide -> Getting Started
Distribution Guide -> Operations Guide
Embedded Guide -> Programming Guide

[2020-08-26 21:55] #5171 closed, assigned to gregw

[2020-08-27 02:41] james-z-repo opened #5207 "Does Jetty support Double certificates?"
**Jetty version**
9.4.19.v20190610
**Java version**
JDK8
**Question**
Does Jetty support Double certificates?

Dual certificate refers to signing certificate and encryption certificate, not client authentication

[2020-08-27 03:43] flymoondust commented on #5193
[code]

[2020-08-27 03:46] flymoondust commented on #5193
the different is the first message don't call func onTextFram()，but i dont know why

[2020-08-27 04:01] flymoondust commented on #5193
[code]

[2020-08-27 04:03] flymoondust commented on #5193
i add a additional log and found that when the first message come, the activeMessage=org.eclipse.jetty.websocket.common.message.NullMessage@3939a75,then the activeMessage=null

[2020-08-27 05:53] lachlan-roberts commented on #5193
Ok that is strange... `activeMessage` should not be already set unless we are on a continuation frame.

Ahhh ok I think I see the issue now, there is a bug when we assign the `NullMessage`. After assigning this we return immediately, but we really need to still call `appendMessage(buffer, fin)` which will reset the `activeMessage` to null if `fin` is set. So you will have received a binary frame d

[2020-08-27 07:28] flymoondust commented on #5193
So the scene is that when a binary message comes before the first text message, then the bug will happen?
But i don't find a binary annotation to register

[2020-08-27 07:29] flymoondust commented on #5193
And i'm confused why jetty 9.4.19.v20190610 not has the bug?

[2020-08-27 07:36] lachlan-roberts commented on #5193
But i don't find a binary annotation to register

@flymoondust  Yes, you must have received a binary fin frame just before the text frame. The bug is triggered because you do not have the binary annotation registered, that is when `NullMessage` is used.

The bug was introduced in PR #3885 which was released with jetty 9.4.20. So that explains why you do not have the bug in 9.4.19.

[2020-08-27 07:37] lachlan-roberts commented on #5193
@flymoondust as a work around you could just register a dummy binary `onMessage` method. Something like this:

[code]

[2020-08-27 07:58] sbordet commented on #5207
I'm afraid you have to be more specific: can you please clarify with an example what you exactly mean with "double certificates"?.

Jetty fully supports TLS, up to version 1.3.

If you need to use certificates for other things such as digital signatures and such, you have to write your own logic, which may be integrated in Jetty (for example to trigger for every request).

[2020-08-27 08:07] flymoondust commented on #5193
thanks, i'll try the binary method to try to fix this.

[2020-08-27 08:21] flymoondust commented on #5193
yeah, this method work fine, the bug is fix by adding the following code

[code]

[2020-08-27 08:44] sbordet commented on #5170
@lachlan-roberts this is a classic case where the HTTP response finishes before the HTTP request.

When the response completes, it nulls out `HttpReceiverOverHTTP.networkBuffer`, but it is only when the request also completes that `HttpReceiverOverHTTP.onUpgradeFrom()` is called (from the sender thread).

The simple fix is to add a null guard in `onUpgradeFrom()`.

[2020-08-27 11:25] joakime commented on #5193
Good analysis!

But wouldn't his new debug logging output show this errant onBinaryFrame or onBinaryMessage (from the logging branch I created)?
It would probably show up before the section that the OP has copy/pasted a few times.

[2020-08-27 14:44] lachlan-roberts commented on #5193
@flymoondust can you check the full logs you had to confirm whether you received a binary frame right before your problem occurred?

[2020-08-27 18:59] maugomez77 opened #5209 "500 jetty responses"
**Jetty version**
9.4.29.v20200521

**Java version**
openjdk version "11.0.5" 2019-10-15 LTS

**OS type/version**
Linux rn-aosd-d00-lapp01.rno.apple.com 3.10.0-1127.8.2.el7.x86_64 #1 SMP Wed May 13 17:48:48 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux

**Description**
My jetty is behind a load balancer.

All calls works perfectly if i hit directly one instance

But there are failing if i hit via load b

[2020-08-27 19:05] maugomez77 commented on #5209
What other info is required here @joakime ?

[2020-08-27 19:06] joakime commented on #5209
There's not enough information to troubleshoot this.

Who are you getting the 500 from?
The load balancer?
If so, then it's likely a misconfiguration on your load balancer.

Or the Jetty instance?
Then your logs and HTTP responses will tell you why.

[2020-08-27 19:08] maugomez77 commented on #5209
but how can i debug the method that the load balancer is sending back to jetty?.

previous binary with jetty works perfectly, new binary does not work, how can i see the debug level from jetty as a start point ?

[2020-08-27 19:13] maugomez77 commented on #5209
17.150.217.226 - - [27/Aug/2020:12:12:33 -0700] "GET /8021/fragment/v1/retrieveFragmentKeysForVersion?version=test-impl HTTP/1.1" 500 0 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.135 Safari/537.36"

that from nginx reporting 500, logs in jetty does not show anything

[2020-08-27 19:19] joakime commented on #5209
If the logs in Jetty do not show anything, then it's likely that the request never even reached Jetty.
Do the access/request logs on Jetty even show a request being processed?

[2020-08-27 19:20] joakime commented on #5209
Might want to look into the "upstream logs" on nginx as well.

https://www.nginx.com/blog/logging-upstream-nginx-traffic-cdn77/

[2020-08-28 05:01] flymoondust commented on #5193
[code]

[2020-08-28 05:03] flymoondust commented on #5193
yeah, binary message can be found in the old debug log,it's a message of 'success'.
So, in my opinion,the bug is triggered when the fisrt message come because when the connection is opened, the server will send a binary message before the text message.
And if the server send binary message before every text message,then i'll never recieve any message at all.

[2020-08-28 05:33] lachlan-roberts commented on #5105
This has been fixed by PR #5175 and will be available in a 9.4.32 release.

[2020-08-28 05:33] #5105 closed, assigned to sbordet, lachlan-roberts

[2020-08-28 07:14] thomasdraebing commented on #5105
Thanks for the discussion and the quick fix!

[2020-08-28 07:25] lucamilanesio commented on #5105
That's great news, thanks everyone for helping fixing this issue.

[2020-08-31 10:39] #2609 closed

[2020-08-31 13:50] ebremer opened #5214 "Servlet HEAD doesn't support content-length over Integer.MAX_VALUE"
9.4.31.v20200723

(build 11.0.8+10-jvmci-20.2-b03

Windows 10

When doing a HEAD request to retrieve file size using Jetty, anything one byte or more over 2^31 returns Content-Length: 0.

[2020-08-31 14:00] gregw commented on #5214
Can your server serve that resource if it is a GET request?   Does it return with a content-length or chunked or connection:close ?

[2020-08-31 14:12] ebremer commented on #5214
It works when doing a GET with the Content-Length being correct.

GET REQUEST
Request Headers ============================
GET /image.svs HTTP/1.1
Host: localhost:8899
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:80.0) Gecko/20100101 Firefox/80.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, def

[2020-08-31 14:22] joakime commented on #5214
Just tested this on Linux.

It fails on Linux as well. for 4GB and 10GB files from DefaultServlet. (See commit 116871362bf41115bda3522d244112d5dae2fba1)
Looking into it.

[2020-08-31 14:30] joakime commented on #5214
This is a bug in the servlet-api layer.

When the HEAD request arrives to `javax.servlet.http.HttpServlet.service(HttpServletRequest, HttpServletResponse)` the servlet API will create a
`javax.servlet.http.HttpServlet$NoResponseBody` (HttpServletResponseWrapper) to handle this request.
But that implementation is limited to `int` values on Content-Length.

@gregw the branch `jetty-9.4.x-5214-head-h

[2020-08-31 15:04] joakime commented on #5214
Opened PR #5215

[2020-08-31 15:34] joakime commented on #3974
When the client request times out (after 5 seconds) this is the state of the client, server, and threaddump.

## Client Dump
[code]

## Server Dump
[code]

## Thread Dump
[code]

[2020-08-31 16:38] joakime commented on #3974
So far, I've found that the `FileChannel.force(true)` in `AfterContentTransformer.Source()` seems blocked (or at least taking it's sweet time to complete) when the test fails.

Line 311 below ...

https://github.com/eclipse/jetty.project/blob/ad9d702adba9e5409a7426cdb81868ad07d203c4/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/AfterContentTransformer.java#L307-L319

We can avoid this FileChan

[2020-08-31 16:40] joakime commented on #3974
Now that I think of it, when the test fails, there's a tremendous amount of FileSystem I/O going on within the physical CI server. (lots of overlapping builds and testing)
So this could just be a normal FileSystem I/O behavior in this scenario, just waiting for the FileSystem to catch up, but the client connection times out before then.
WDYT?

[2020-09-01 06:30] zzebj commented on #5040
Hello, we will verify the multiple HttpClient in Oct due to some reason, sorry for I can't give you a clear answer now. This issue could be closed now.

[2020-09-01 07:22] gregw commented on #4888
I'm just tuning in to this issue to see if I can help.
It should not be possible to race on Request._session value as there should only ever be a single thread calling getSession for a request... at least with normal dispatching.
@cshannon do you know if your app has async threads that are passed the request object and may call getSession on them?     Also we are coming into a release cycle, so if

[2020-09-01 07:27] gregw commented on #4888
Of course the problem with allowing an async thread to call getSession is that if a request is not dispatched then you don't know what context to get the session from.

[2020-09-01 07:40] gregw commented on #5022
@joakime does the `newCachedChain` method need to return a `CachedChain`?  Can it just return a `FilterChain` ?

[2020-09-01 09:23] sbordet opened #5217 "Review RoundRobinConnectionPool"
**Jetty version**
9.4.x

**Description**
With the work of #4975 and #5147 `RoundRobinConnectionPool` has received some attention, but could be improved.

Add javadocs and describe the peculiar behavior of round robin in detail.
Make tests less likely to fail.

[2020-09-01 10:07] #5040 closed, assigned to nobody

[2020-09-01 11:27] gregw commented on #4888
@janbartel and I have walked through this and there is something about your usage that we just don't understand:

If a session does not exist, then a new one must not be made with the same session id - as that could result in all sorts of security issues.    We have only very limited cases in which we will reuse a session ID and they basically are involved only with cross context dispatch.  We wil

[2020-09-01 13:35] manovotn commented on #4888
@gregw I think I might have bumped into a similar error just today with Weld servlet test using Jetty 9.4.31.

The test in question is [this one](https://github.com/weld/core/blob/3.1/environments/servlet/tests/base/src/main/java/org/jboss/weld/environment/servlet/test/lifecycle/HSCycleTest.java).
Here is what the console is spitting out for me https://pastebin.com/NTfu8Y3q.
It should be using emb

[2020-09-01 14:50] janbartel commented on #4888
@manovotn thanks for that repro test case and stack trace. I think I can see what is happening, but you will have to confirm my theory with your greater knowledge of weld.

I believe the request comes in either without a session id or at least an unknown session id. The app calls Request.getSession(true) and we are in the process of creating the new session [A]. We have to call any HttpSessionList

[2020-09-01 14:54] ebremer commented on #5214
tested with PR for jetty-9.4.x-5214-head-huge-static and it works!

[2020-09-01 15:35] joakime commented on #5214
@ebremer great news!  thanks for the feedback.

[2020-09-01 15:41] janbartel commented on #4888
@manovotn if you have time, you could checkout my PR and build against that and see if that fixes your test. See PR https://github.com/eclipse/jetty.project/pull/5220

[2020-09-01 16:14] manovotn commented on #4888
I'll have to debug it to be able to say more. The app (the test archive itself) is pretty dumb and doesn't itself create session. What's going to create session is Weld trying to initialize session context to store session bean in (`Pinger` class is a session scoped bean). And the test is somehow triggering that repeatedly via additional listener and CDI observer which eagerly uses that bean. But

[2020-09-01 16:20] joakime commented on #4888
[code]

At this point you have it compiled against the branch that PR #5220 is based on.

You can find the artifacts, including jetty-home (and the older jetty-distribution) in your `$HOME/.m2/repository`

Use version `9.4.32-SNAPSHOT` when testing it.

[2020-09-02 05:56] lachlan-roberts commented on #5193
Fixed with PR #5208.

[2020-09-02 05:56] #5193 closed, assigned to lachlan-roberts

[2020-09-02 07:57] #5204 closed, assigned to sbordet

[2020-09-02 08:06] #3974 closed

[2020-09-02 13:14] peterlynch opened #5224 "HttpServletRequest.getServerName can include port when using ForwardedRequestCustomizer"
**Jetty version**
9.4.30

**Java version**
Any supported

**OS type/version**
Any supported

**Description**

Nexus Repository Manager was upgraded from using Jetty 9.4.18 to 9.4.30.

Customers have reported certain combinations of previously working X-Forwarded-* headers to no longer work. ( https://issues.sonatype.org/browse/NEXUS-25158 ).

It appears a certain combination of X-Forwarded headers

[2020-09-02 14:04] sbordet commented on #5147
@navalgoyal news?

[2020-09-02 14:28] joakime commented on #5224
Thanks for filing this issue.

But before I get into it I need to do my usual spiel.
The `X-Forwarded-*` headers are not a standard, and have many different (and conflicting) interpretations.

If you want consistent behavior, you should be using the RFC7239 `Forwarding` headers only.

Since you stated going from Jetty 9.4.18 to 9.4.30 you have progressed through 7 reported issues with `X-Forwarded

[2020-09-02 14:35] manovotn commented on #4888
@janbartel only just got to it. I've run Weld test with your fix and can confirm that it works.

[2020-09-02 14:35] joakime commented on #5224
Branch `jetty-9.4.x-5224-xforwarded-multiple-ports` has testcase that replicates the report on this issue.

Adding port support to `X-Forwarded-Host` is possible, but what other things will we break (again)?

[2020-09-02 15:31] joakime commented on #5224
Opened PR #5226

[2020-09-02 15:45] #5103 closed, assigned to sbordet

[2020-09-02 15:58] peterlynch commented on #5224
Hi @joakime ,

We have shared this message with some of our customers based on previous 'spiels' we have seen in other Jetty issues 😀 .

However based on some of our research, many of the common webservers and load balancers [do not natively support setting the Forwarded header](https://issues.sonatype.org/browse/NEXUS-25095?focusedCommentId=962506&page=com.atlassian.jira.plugin.system.issuetabpan

[2020-09-02 16:18] sbordet commented on #5224
Ah, the curse of being sooo good at riding the front wave!

:smile:

[2020-09-02 18:00] joakime commented on #5214
PR #5215 merged.

[2020-09-02 18:00] #5214 closed, assigned to joakime

[2020-09-02 18:14] joakime commented on #5224
@peterlynch please see the commits on PR #5226, especially on the Test cases.

You'll see a few things.

First, there's a few variations of your headers, in different orders.
Which result in different values.

This is because once `X-Forwarded-Port` is seen, it has an impact on the provided authority as seen by the `Host` header (based on default configuration of the `ForwardedRequestCustomizer`).

[2020-09-02 21:25] joakime opened #5227 "Review jetty-all 10.0.x LICENSE files for Jakarta EE 8"
**Jetty version**
10.0.0

**Description**
The LICENSE files in the `jetty-all` artifact need a review, to ensure that they use the correct Jakarta EE 8 licenses.

[2020-09-02 21:26] joakime opened #5228 "Review jetty-all 11.0.x LICENSE files for Jakarta EE 9"
**Jetty version**
11.0.0

**Description**
The LICENSE files in the `jetty-all` artifact need a review, to ensure that they use the correct Jakarta EE 9 licenses.
Especially the `javax.*` references. (even in filenames)

[2020-09-02 22:08] lachlan-roberts opened #5229 "WebSocket documentation in Jetty 10"
**Jetty version**
10.0.x

**Description**
Write the documentation for websocket in jetty-10.

This should be split into different sections for each API.

- Client
    - Jetty
    - Javax
    - Core

- Server
    - Jetty
    - Javax
    - Core

[2020-09-03 03:14] navalgoyal commented on #5147
@sbordet i am currently testing it. Will let you know once completed.

[2020-09-03 04:53] #3132 closed

[2020-09-03 14:03] bhuvangu commented on #4125
@gupta-sumit how did you solved it. I think it the problem of `sgprodr4xapi.navitaire.com` . Did you find any config/solution to solve it

[2020-09-03 16:00] WalkerWatch commented on #5206
Closed via #5221

[2020-09-03 16:00] #5206 closed, assigned to WalkerWatch

[2020-09-03 19:11] joakime commented on #5185
PR #5195 has been merged.

[2020-09-03 19:11] #5185 closed, assigned to joakime

[2020-09-03 19:12] #5174 closed, assigned to nobody

[2020-09-03 21:50] janikgithub opened #5232 "Controlling embedded jetty logging"
Hello, I am using embedded Jetty 9.4.15.v20190215. Logging level of my application is DEBUG.
Every REST call places http headers into the log file. I assume it is done by the Jetty because my app. doesn't do it.
Example:
[code]

I would like to show only some of the headers.
I looked at the [Example](https://gist.github.com/joakime/27c42782c9a2712a1010), but decided to choose a more simple approac

[2020-09-04 04:27] lachlan-roberts commented on #5232
@janikgithub I would not recommend using the `CustomRequestLog` like that. You can customize the output of the `CustomRequestLog` with the format string, and you can adjust the destination of the output logs with the the `RequestLog.Writer`. By changing the format string you can output only the request headers you want to see using the `%{VARNAME}i` code, you should not need to subclass it.

Take

[2020-09-04 07:16] #5201 closed, assigned to lachlan-roberts

[2020-09-04 13:15] janikgithub commented on #5232
Thank you @lachlan-roberts. You mentioned changing the logging level to INFO for jetty classes. How do I do this? Thanks

[2020-09-04 13:26] joakime commented on #5232
When you mention DEBUG and logging you are referring to the normal JVM wide logging.

That can be done with any number of Logging libraries. (slf4j, log4j, logback, java.util.logging, commons-logging, juli, etc)

The `CustomRequestLog` is specifically for producing a "Request Log" (aka: Access Log, or NCSA Access Log).
That is limited to producing a logging event for each completed http exchange.

[2020-09-04 14:55] janikgithub commented on #5232
Thank you @joakime. I am using logback for logging. I found this [Embedded Jetty 9 Logging with Logback](https://stackoverflow.com/questions/26506318/embedded-jetty-9-logging-with-logback) and will try to follow it.

[2020-09-04 15:45] peterlynch commented on #5224
@joakime The tests look good to me - thank you for quickly addressing the issue.

Given that the _Host_ header is allowed to contain a port, my initial reaction to these statements was disagreement. It sounds like support for port inside X-Forwarded-Host has now been added, and thus you have reversed your viewpoint?

Just curious - why does Jetty decide that order of request headers matters? Accor

[2020-09-04 15:58] #5232 closed, assigned to nobody

[2020-09-04 16:25] joakime commented on #5224
The `X-Forwarded-Host` header has _many_ interpretations, approximately 20% of them say it's related to the Client provided `Host` header (most do not).

The change we made will likely cause us headaches with IPv6 users that don't properly format their IPv6 host addresses in `X-Forwarded-Host` (the majority of documented behavior for `X-Forwarded-Host` specifically calls this out as the why treati

[2020-09-04 17:22] joakime opened #5233 "Bad/Unsupported HTTP version should return 505 not 400"
**Jetty version**
9.4.31

**Description**
There are 3 cases in HttpParser for dealing with errors around HTTP version.

* The compliance mode. (eg: no version specified in protocol, such as HTTP/0.9)
* A HTTP version that isn't recognized. (eg: `HTTP/1.2`)
* A HTTP version that is recognized but unsupported (eg: `HTTP/0.9`)

We currently return an response `400 Bad Version` in these cases.
The cor

[2020-09-07 15:08] ichigo77 opened #5241 "Warning ReadPendingException for each http request after migration to 9.4.28.v20200408"
**Jetty version**: 9.4.28.v20200408
**Apache Camel**: 2.25.1
**CXF**: 3.3.6

**Java version**: 1.8.0_162_x64

**OS type/version**: Windows 10

**Description**:
Hello,

we have a middleware application which uses Apache-Camel and CXF for receiving, processing and forwarding SOAP-WS messages. It runs as a web application in a jetty standalone server. I migrated alle jetty dependencies and the server

[2020-09-07 15:27] #3485 closed

[2020-09-07 23:31] joakime commented on #5241
Please upgrade your Jetty dependencies to at least 9.4.30, you are subject to a severe security vulnerability with 9.4.28.
See: https://www.eclipse.org/jetty/security-reports.html

The side effect of the vulnerability is that it will break bytebuffer pooling, and this alone can explain many issues, including your ReadPendingException.

[2020-09-08 07:15] ichigo77 commented on #5241
Thanks for the hint.
I upgraded to 9.4.30.v20200611 but sadly the log file still has the same warning entry. Additionally, I found the following Warnings:
[code]

What can I do to gain any insights?

[2020-09-08 10:06] sbordet opened #5242 "Make IteratingCallback easier to use"
**Jetty version**
10.0.x

**Description**
`IteratingCallback` can only be used if subclassed, because `process()` and its return type `Action` are `protected`.

However, `IteratingCallback` may only need `process()` to be overridden, so a `Supplier<Action>` would do just fine, but would require that `Action` be `public`.

This would allow `IteratingCallback` to be used in this way:

[code]

Furthe

[2020-09-08 15:27] 38leinaD opened #5244 "jetty distribution + jsf/myfaces: registration via .tld file"
Hi,
(Sorry if this is a duplicate: i tried to post on the jetty-users mailing list, but already in the past, my mail did not seem to get through.)
I am using the jetty distribution 9.4.29.v20200521 with some javaee dependencies like cdi/weld, jsf/myfaces in lib/ext.
Unfortunately, I am getting when starting my application:

java.lang.IllegalStateException: No Factories configured for this Applicat

[2020-09-08 15:44] joakime commented on #5244
Does your JSF implementation have a ServletContainerInitializer that it expects to be run?
If so, does your embedded-jetty code have the necessary setup to allow that ServletContainerInitializer to be found and executed?

[2020-09-08 16:03] 38leinaD commented on #5244
Yes, it seems to have one: https://github.com/apache/myfaces/blob/714b0add67f4e853a9b831d4fc8250da74190d40/impl/src/main/java/org/apache/myfaces/webapp/MyFacesContainerInitializer.java
But, based on what i read, i was under the impression that this ServletContextListener is what needs to be invoked/registered: https://github.com/apache/myfaces/blob/714b0add67f4e853a9b831d4fc8250da74190d40/impl/src

[2020-09-08 16:17] joakime commented on #5244
OK, lets start over ...
Are you having this issue with standalone `jetty-home` (or the older `jetty-distribution`)?
Or are you having this issue with embedded Jetty?

You seem to want some kind of auto-registration of the apache-myfaces components.
That's typically done with either a `ServletContainerInitializer` or a web-fragment.

Check your apache-myfaces jar files.

* For ServletContainerIniti

[2020-09-08 16:58] 38leinaD commented on #5244
Ok, let me try to answer your questions:

I not sure i understand what is the "standalone jetty home". I am using the jetty distribution package (org.eclipse.jetty:jetty-distribution:9.4.29.v20200521@zip); i unzip it; it is my jetty.home.

No embeeded jetty.

Yes, that is what i want. Again, this is basically what is described here also: https://jsflive.wordpress.com/2012/08/19/jsf-2-on-jetty-8/
A

[2020-09-08 17:02] janbartel commented on #5244
@38leinaD probably you have not told jetty that you have jar files on the container classpath that contain tlds that need to be scanned.  We do not scan every jar on the container classpath because this would take far too long, we only scan a selection of jars, as determined by the setting of the context attribute "org.eclipse.jetty.server.webapp.ContainerIncludeJarPattern".  By default, the patte

[2020-09-08 17:06] janbartel opened #5245 "GzipDefaultServletTest test failures in jetty-10.0.x"
**jetty 10.0.x**

See the CI test failures for the GzipDefaultServletTest here:
https://jenkins.webtide.net/blue/organizations/jenkins/jetty.project/detail/jetty-10.0.x-2609-add-graceperiod-filesessiondatastore/1/tests

[2020-09-08 17:09] joakime commented on #5245
Does your branch have commit feb859e0e902b950f1cbaa94f5249e86ad86746b ? (that fixed a recent GzipDefaultServletTest issue?)

[2020-09-08 17:15] joakime opened #5246 "GzipHandler's DeflaterPool should be dumpable"
**Jetty version**
9.4.31

**Description**
The DeflaterPool being used by the GzipHandler is not included in the server dump output.
This should be dumped, including details of how big the pool currently is.

[2020-09-08 17:45] joakime opened #5247 "Improve ForwardRequestCustomizer authority priority"
**Jetty version**
9.4.31

**Description**
The `ForwardedRequestCustomizer` has a torturous implementation of priority for how the authority (server name:port) is calculated.

We should improve this to implement a clear priority of what header fields are interrogated, and under what order they resolve to an authority.
Bonus is an improved javadoc that documents this behavior.
On a brief discussion

[2020-09-08 18:26] tandraschko commented on #5244
In MyFaces we have both: a ServletContainerInitializer and a web-fragment with the StartupServletContextListener.

[2020-09-08 18:38] 38leinaD commented on #5244
Ahhh. Now we are getting closer! I only read this page: https://www.eclipse.org/jetty/documentation/current/configuring-jsp.html#using-jstl-taglibs-for-jetty7-jetty8
And I understood it as an opt-in feature and by default it scans the whole classpath; seems like it is the opposite. I will look into it tomorrow and try it out.

Thanks!

[2020-09-09 06:21] prateekkohli2112 commented on #3111
I am also facing this issue with Jetty - 9.4.24.v20191120 and Conscrypt - 2.1.0 .

Will it be fixed if I upgrade my Jetty to 9.4.31.v20200723 and Conscrypt to 2.5.0?

[2020-09-09 07:52] janbartel commented on #5245
@joakime the branch claims to be up-to-date with head of jetty-10.0.x

[2020-09-09 14:23] joakime commented on #5233
Merged PR #5234

[2020-09-09 14:23] #5233 closed, assigned to joakime

[2020-09-09 14:42] sunng87 commented on #3111
Unfortunately we are still experiencing memory leak with latest conscrypt. The issue is now tracked in https://github.com/google/conscrypt/issues/835

[2020-09-09 14:51] prateekkohli2112 commented on #3111
Is there any workaround for this?

Or do we need to go with JDK8 ALPN.

[2020-09-09 16:00] sbordet opened #5250 "Collapsible TOC in documentation"
**Jetty version**
10.0.x

**Description**
Would be great if the TOC (left panel) in the Jetty documentation can be collapsed/expanded.
See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html as an example.

[2020-09-09 16:39] #4504 closed, assigned to nobody

[2020-09-09 16:41] joakime commented on #5224
PR #5226 merged.

Opened Issue #5247 to address this in a more well documented way

[2020-09-09 16:41] #5224 closed, assigned to joakime

[2020-09-09 18:03] peterlynch commented on #5247
I noticed `X-Forwarded-Server` header was omitted from the opening issue description. It might need to be considered as well for Authority Host?

`org.eclipse.jetty.server.ForwardedRequestCustomizer.setHostHeader(String)` seems also designed to force the authority to be whatever an admin configures it to be, overriding inbound host inspection?

[2020-09-09 20:27] joakime commented on #5247
Opened PR #5247 to address this.

This is the search order for request.authority in an incoming request now.
(this same table is in the javadoc for ForwardedRequestCustomizer in PR #5247)

num | Value Origin | Host | Port | Notes
-- | -- | -- | -- | --
1 | `Forwarded` Header | Required | Authoritative | From left-most `host=[value]` parameter (see rfc7239)
2 | `X-Forwarded-Host` Header | Required

[2020-09-09 20:57] ebremer opened #5252 "How to get Jetty server and Jetty client to talk on same computer without using a socket?"
**Jetty version**
Latest supported

**Java version**
Latest supported

**Question**

Is it possible to get a Jetty client and a Jetty server on the same computer to talk to each other without using a socket?  I know they will nicely over localhost and the port the Jetty server is set to listen on, but for various reasons, I would like to eliminate the socket for same-computer use.

[2020-09-09 21:08] joakime commented on #5252
The server can run a `LocalConnector` that requires you to access the LocalConnector instance and then send / receive raw bytebuffers to the container (for requests and responses).
But the client has no such mode of operation.
You could use the HttpTester facilities to create requests and parse responses.

[2020-09-09 21:11] ebremer commented on #5252
Thanks, I will try it out!

[2020-09-09 21:11] #5252 closed, assigned to nobody

[2020-09-09 21:16] joakime commented on #5252
Take a look at the unit tests in Jetty, search for LocalConnector and HttpTester and you'll find many examples.

Example: https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-servlet/src/test/java/org/eclipse/jetty/servlet/GzipHandlerTest.java

[2020-09-09 21:40] janbartel commented on #5245
Issue is apparently fixed.

[2020-09-09 21:40] #5245 closed, assigned to nobody

[2020-09-10 05:24] bhuvangu commented on #3022
@prasadlvi how did you guys  manage this behavior?

[2020-09-10 05:26] prasadlvi commented on #3022
@bhuvangu It was fixed after updating to Java 11.

[2020-09-10 05:41] lachlan-roberts commented on #4824
We have added configuration on `RemoteEndpoint` to optionally restrict the number of data frames which can be queued up to be sent.

This can be set with `RemoteEndpoint.setMaxOutgoingFrames()`, where the default value of `-1` does not restrict the number of frames which can be queued up. The user will need to pay attention to the `WriteCallback` to ensure they do not send too many frames if they

[2020-09-10 05:41] #4824 closed, assigned to lachlan-roberts

[2020-09-10 11:32] #3766 closed

[2020-09-10 11:50] janbartel opened #5253 "Check if FileSessionDataStore.deleteUnrestorableFiles is needed"
The FileSessionDataStore.deleteUnrestorableFiles setter may not be needed, because we have the more generic mechanism in AbstractSessionCache.removeUnloadableSessions.

[2020-09-10 12:03] 38leinaD commented on #5244
It is working perfectly now after i adjusted my jetty xml:

[code]

Thanks,
Daniel

[2020-09-10 12:03] #5244 closed, assigned to nobody

[2020-09-10 14:51] sunng87 commented on #3111
Yes JDK 8u252 has built-in ALPN support. Not sure about its real performance though

[2020-09-10 20:38] sbordet opened #5254 "Short list of Jetty modules"
**Jetty version**
10.0.x

**Description**
Would be great if users could explore what modules are available in a fresh install of Jetty:

[code]

where `--show-modules` produces a shorter output rather than the current 799 :open_mouth: lines of output, where the modules available are completely lost in the amount of other information.

The output of `--show-modules` would be something like:

[code]

[2020-09-11 07:22] gregw commented on #5254
We already have --list-modules, which has descriptions, dependencies etc plus a filtering mechanism

[2020-09-11 07:27] gregw commented on #5254
i wouldn't object to making "show" a synonym for "list" in all our options.... plus "--add" should be the same as "--add-to-start"

[2020-09-11 07:41] sbordet commented on #5254
@gregw `--list-modules` produces 800 lines of output.

[2020-09-11 10:27] janbartel commented on #5254
I find it confusing to have both --show-xxx and --list-xxx. Also to me --show-xxx implies more detailed info than --list-xxx. How about we keep just --list-modules and either add --verbose or alternatively --quiet to change the amount of info output??

[2020-09-11 10:31] gregw commented on #5254
Then let's improve the format of `--list-modules`, with the default being more compact, perhaps leaving out the dependencies.
Maybe we then have a `--show-module=name,name,....`  that shows the full details of the given modules?

[2020-09-11 10:40] sbordet commented on #5254
Any solution would work for me.

My point is that a user would probably like to see the list of available modules to glance interesting ones:

[2020-09-11 10:48] gregw commented on #5254
OK - I'll do this one.

[2020-09-11 11:19] joakime opened #5256 "Cleanup Jetty 10 Start"
**Jetty version**
10.0.0

**Description**
Some changes discussed.

1. Change `--list-modules` shows a single line for each module. (the name and the first line of description)
2. Add `--show-modules` for the full / detailed module list
3. Deprecate `--create-startd` (show warning)
4. The behavior of `--create-startd` is set to default mode, creating files in `${jetty.base}/start.d/` by default.
5.

[2020-09-11 12:47] sbordet commented on #5256
@gregw we have `add-modules` already in the `[jpms]` directive in a `*.mod` file.
How about `--enable-modules` instead?

[2020-09-11 12:50] gregw commented on #5256
I think we need the word `--add` in there some where to distinguish between `--module=foo` which enables module foo for this run vs `--add=foo` which persistently adds the module to the base for all future runs.

If there is already a `--add-modules`, then I think we go with just `-add` as an abbreviation of either `--add-to-start` or `--add-to-startd`, whichever is in-use or the default.

[2020-09-11 12:52] sbordet commented on #5256
@gregw however, both in the documentation and in the output of the command:

[code]
The word "enabled" is mentioned multiple times - it's exactly what we do, we enable the module permanently.

[2020-09-11 20:08] gregw commented on #5256
1. and 2. are done in #5257

[2020-09-14 04:11] #2578 closed

[2020-09-14 07:27] ichigo77 commented on #5241
The issue was caused by our source code. To prevent class leaks, the application had a servlet filter which removes all references from ThreadLocals.
Thanks for your support.

[2020-09-14 07:27] #5241 closed, assigned to nobody

[2020-09-14 07:38] joakime opened #5263 "Introduce jetty-home contamination warning"
**Jetty version**
10.0.x

**Description**
In light of the changes coming for Issue #5256
We should move the `home-base-warning` module (xml, and class too) into start.jar itself now.

Warn when attempting to modify the jetty-home directory.
New command line option to bypass this contamination.

[2020-09-14 07:40] joakime opened #5264 "Create demo module"
**Jetty version**
10.0.x

**Description**
In light of the changes for Issue #5256, we need to migrate the existing demo-base to a new `demo` module.

This should probably exist in the `/examples/demo-module/` directory in source control.

It might make sense to also have the individual test webapps be modules themselves that the new `demo` module just depends on.
It could make adding a test webapp

[2020-09-14 12:02] gregw commented on #5264
We already have a `demo.mod` that configures the demo, so i think that just needs to be moved to somewhere that can be pulled into the standard modules of jetty-home and the mod file modified to pull in the webapps and config files needed either from a `demo.d` and/or from maven

[2020-09-14 13:38] joakime commented on #2578
This was closed via PR #2511 and PR #3966

[2020-09-14 16:30] sbordet commented on #4313
I'll probably remove this profile for now, as we want the web side online, and the rest can be done later, if really needs.

[2020-09-14 16:32] sbordet commented on #2979
I think we are good on this - we did a large chunk of work.
The 2 releases (9.4.x and 10.0.x) are rolling well and we'll eventually address small differences.

[2020-09-14 16:32] #2979 closed

[2020-09-14 16:34] sbordet commented on #4773
This was fixed by #4777.

[2020-09-14 16:34] #4773 closed, assigned to nobody

[2020-09-14 16:40] sbordet commented on #4387
For HTTP/2 we would need to setup a `SslContextFactory` with a `KeyStore`, and then TLS and then HTTP/2, so it'll be quite some work.

Delaying after Jetty 10.0.0.

[2020-09-14 16:49] sbordet commented on #3738
Closing for #3164.

[2020-09-14 16:49] #3738 closed

[2020-09-14 16:50] sbordet commented on #2394
This is resolved by the work in #3164.

[2020-09-14 16:50] #2394 closed

[2020-09-14 17:58] rymsha opened #5268 "WARN Ignoring eviction setting: 0"
**Jetty version**

9.4.31.v20200723

**Java version**

11

**OS type/version**

any

**Description**

When `NullSessionCacheFactory` is in use, there is always a warring in logs

There reason for this is that `AbstractSessionCacheFactory` (super class for `NullSessionCacheFactory`) always calls `setEvictionPolicy`
[code]

IMO Log level should be `debug` at most.

[2020-09-14 19:54] hellium01 opened #5269 "Proxy request timeout on closing connection"
**Jetty version**
9.4.20.v20190813
**Java version**
1.8.0_181
**OS type/version**
Linux 4.15.0-1065-aws
**Question**
After we receive success from POST request and trying to terminate the request, we receive timeout constantly for certain requests, can someone who is familiar with Jetty tell us on why would we receive idle timeout closing a connection after receive response?

[code]

[2020-09-14 20:23] sbordet commented on #5269
The response was never received.
The request has been sent, but the server did not reply, and after 30 seconds the client timed out.

[2020-09-15 05:45] lachlan-roberts commented on #5122
From 9.4.32 we will have the `IncludeExcludeConnectionStatistics`, which will allow you to only collect stats for specific types of `Connection`. This can be done with the following java code or the XML equivalent:

[code]

[2020-09-15 05:45] #5122 closed, assigned to lachlan-roberts

[2020-09-15 09:54] #5256 closed, assigned to gregw

[2020-09-15 10:07] gregw commented on #5217
Repoen for #5218

[2020-09-15 13:39] joakime commented on #5122
@lachlan-roberts is this documented yet?

[2020-09-15 13:47] gregw commented on #5022
If we are going to expose more of this API.... we need to clean it up... in fact this whole class needs a bit of a  refresh.... changing title!

[2020-09-15 14:48] janbartel commented on #5268
Thanks for the issue, I've raised https://github.com/eclipse/jetty.project/pull/5270

[2020-09-15 15:25] janbartel opened #5272 "The UserStore and PropertyUserStore classes are hard to re-use for caching eg JDBC data"
**9.4.x**

The o.e.j.security.UserStore and o.e.j.security.PopertyUserStore classes are hard to re-use. The intention is to provide an L1 cache of user authentication and authorization information, with the various XXXLoginService classes providing the interface to the persistent store. However, the way the classes are currently written, they are only used by the HashLoginService class. Some of th

[2020-09-15 19:32] janikgithub opened #5274 "Intermittent onWebSocketClose message with code: 1001, reason: "none""
**Jetty version**  9.4.15.v20190215.

**Java version** 1.8.0_181

**Question** I am getting intermittent onWebSocketClose  messages with code: 1001, reason: "none",
which I assume happens due to some error.
In my application I need to do invoke certain protocol when user closes browser or leaves the page.
However I can't detect a distinction between the above mentioned "error" 1001 and a normal 10

[2020-09-15 19:37] joakime commented on #5274
You are subject to several security issues with 9.4.15.
Please be aware of them - https://www.eclipse.org/jetty/security-reports.html

Please try  on 9.4.31.v20200723 (there's been many updates to close handling in websocket since 9.4.15), close should generally behave more cleanly for you.

If you get a status code 1001, that means "Shutdown" or "GoAway", which means either the local side, or the

[2020-09-15 20:01] janikgithub commented on #5274
Thank you, @joakime

[2020-09-15 20:01] #5274 closed, assigned to nobody

[2020-09-16 06:06] lachlan-roberts commented on #5122
@joakime I don't think so, I'll put up a PR.

[2020-09-16 07:59] sbordet opened #5277 "Move async-rest webapp from examples/ to tests/test-webapps/"
**Jetty version**
10.0.x

**Description**
The `async-rest` webapp is the only one that remains under `examples/`, so it should be moved under `tests/test-webapps`.
Also, it should be deployed to Maven Central to help with the documentation (we have an example to `curl` and deploy).

[2020-09-16 08:02] sbordet opened #5278 "test-jetty-webapp should not be deployed to Maven Central"
**Jetty version**
10.0.x.

**Description**
The `test-jetty-webapp` webapp should not be deployed to Maven Central.
It's just a test artifact, and it requires the login module, so it's not even usable as a simple example.

[2020-09-16 08:03] sbordet opened #5279 "Remove examples/embedded"
**Jetty version**
10.0.x

**Description**
The `examples/embedded` directory contains examples that should be instead present in the documentation as code snippets.

Eventually all the files under `examples/embedded` should go away as the documentation covers them.

[2020-09-16 09:27] janbartel commented on #5268
Fixed, thanks.

[2020-09-16 09:27] #5268 closed, assigned to janbartel

[2020-09-16 09:51] gregw commented on #5279
I disagree.

The examples in the documentation are very specifically laid out and marked up.  They are not suitable for a programmer who checks out the source code and wants to go find some examples to start working with.

I'm happy if we somehow update examples/embedded so that they can also be used by the documentations, but we can't have it that a programmer that starts from the source has to l

[2020-09-16 09:54] gregw commented on #5277
It is an example so having it in an example directory makes sense.

I agree it should be in maven central and we should have a `demo-async-rest.mod` modules that downloads and deploys it to a jetty-base (all our demos should be deployed that way rather than with curl).

[2020-09-16 10:54] janbartel opened #5280 "Remove unused methods on SessionHandler"
**jetty-10**

I don't think these methods are used and so should be removed:

[2020-09-16 13:39] sbordet opened #5282 "Introduce a "work" module"
**Jetty version**
10.0.x

**Description**
The new `work` module should be introduced so that when enabled, it creates the `$JETTY_BASE/work` directory.
It needs to be explicitly enabled, because its behavior, to persist web application unpacked resources, may not be wanted.

[2020-09-16 13:47] sbordet commented on #5279
Agreed.

[2020-09-16 13:47] #5279 closed, assigned to nobody

[2020-09-16 14:22] gregw commented on #5282
Fixed by afe5044d8c313906ef62f971a9f1fc8dcce5be2c

[2020-09-16 14:22] #5282 closed, assigned to gregw

[2020-09-16 15:45] janbartel opened #5284 "Need link from session_sessionhandler.adoc to statistics_handler.adoc"
**jetty-10**

The Programming Guide session_sessionhandler.adoc needs to refer to the statistics_handler.adoc, but the latter is currently in the Operations Guide.

[2020-09-16 17:01] oliviercailloux commented on #5162
Thanks for your very prompt reaction. I see that the related PR (including changes to the documentation, if I understand correctly) has now been merged into 9.4.x. Any idea when this will be consumable through [Maven central](https://search.maven.org/artifact/org.eclipse.jetty/jetty-server) and when the documentation changes will be visible online (the [“current” documentation](https://www.eclipse

[2020-09-16 17:44] joakime commented on #5162
PR #5177 was merged.

@gregw can we close this issue?

[2020-09-16 20:38] joakime opened #5285 "Per RFC7694, if a Content-Encoding isn't recognized, reject with 415 Unsupported Media Type"
**Jetty version**
9.4.31

**Description**
Per https://tools.ietf.org/html/rfc7694

If the `Content-Encoding` from the client isn't recognized, the server should reject the request with "415 Unsupported Media Type".

We currently reject `Content-Encoding` during `HttpServletRequest.getParameter*()` method calls with a "501 Unsupported Content-Encoding", which is incorrect.

https://github.com/eclip

[2020-09-16 20:58] #5162 closed, assigned to gregw

[2020-09-16 21:15] gregw commented on #5254
@WalkerWatch #5257 included an update to the module descriptions... but can you review them in a new PR to improve the voice of them.

[2020-09-17 02:53] lachlan-roberts opened #5287 "CompressionPools should use the new jetty-util Pool class"
**Jetty version**
10.0.x

**Description**
The new `org.eclipse.jetty.util.Pool` class is more efficient and we should try to implement `CompressionPool` using this.

[2020-09-17 07:40] gregw opened #5289 "Review async-demo"
**Jetty version**
10.0.0-SNAPSHOT

[code]

[2020-09-17 07:42] gregw commented on #5289
@lachlan-roberts can you try to reproduce???? This appears for me in about 1 in 10 reloads of the page.
Looking at the code, I do not understand how it could even happen?!?!?

[2020-09-17 10:01] oliviercailloux commented on #5162
I saw that that PR has been merged to 9.4.x, but my question was about concrete availability as a consumable Maven artifact.

Is there some documentation about the release policy? I’d like to know if I can expect the patch to become available in the nearby future. (I am not requesting any specific, precise date; I know that this is not how things work.) The last 9.x [release](https://search.maven.

[2020-09-17 10:55] joakime commented on #5162
nightly snapshots are available on oss.sonatype.org

URL - https://oss.sonatype.org/content/repositories/jetty-snapshots/

We are working towards a 9.4.32 release, which will contain this fix.

[2020-09-17 11:37] sbordet opened #5290 "Programmatically set jetty-web.xml"
**Jetty version**
10.0.x

**Description**
Would be good if there is a possibility to programmatically set a Jetty context XML file that is run _after_ the processing of `web.xml`.
The use case would be for the deployer of a web application to be able to add or override `init-param`s that depend on the deployment (e.g. the host, the timezone, the geographical location, the language, etc.).

Current

[2020-09-17 11:55] oliviercailloux commented on #5162
Thanks. Please consider documenting this “nightly snapshot” URL, perhaps in the [about](https://www.eclipse.org/jetty/about.html) section. (In retrospect, I admit I should have thought about searching there for snapshots, but better make it explicit as I suppose others could find it useful.)

[2020-09-17 12:16] joakime commented on #5290
The DeploymentManager has a context attributes configuration that will apply the context attributes for all deployed apps.

[2020-09-17 12:18] joakime commented on #5290
Those would also be great subjects for server level JNDI configuration that the webapp just uses.

[2020-09-17 12:41] lambdaupb opened #5291 "ArrayTenaryTrie bug. Infinite Loop with many Handlers"
[code]

fails with
[code]

The trie only contains ~15k entries of the 60k that were all acknowledged with a true return on .put().

This fails no matter what capacity is given to the Trie.

This leads to an infinite loop in org.eclipse.jetty.server.handler.ContextHandlerCollection.newHandlers with a lot (>50k im my case) of handlers.

[2020-09-17 12:54] gregw commented on #5289
... and it feels rather slow as well???

[2020-09-17 13:05] gregw commented on #5291
It fails at 32_763, so fells like a power of 2 thing going on....

[2020-09-17 13:37] lambdaupb commented on #5291
Maybe some wraparound. Could try replacing the math with `Math.xxxExact(a,b)`, especially the hilo() method looks risky with its MAX_VALUE thing.

Haven't tried this though, don't have the project checked out.

[2020-09-17 13:42] lambdaupb commented on #5291
scratch the `hilo()` bit, that does not seem to be called in `put()`

[2020-09-17 13:42] joakime commented on #5291
Some discoveries on `loopTest(size)` ...

* size is `21841` the last time you get 100% success.
* size is `21842` you get 0 correct, 21842 missing, 0 incorrect.
* size is `21843` you get 1 correct, 20,066 missing, 1776 incorrect.

[2020-09-17 13:51] gregw commented on #5291
OK I can see what is going on..... but before I get into the details I'll just say.... > 50k context handlers ... whaaaaaaaaaaaaat!?!?!?!
I'm sure there is some very good reason for that, but it is kind of exceptional.... and we like jetty to be used in exceptional circumstances.... but still wow!!!!

So the problem is that `ArrayTenaryTrie`'s main data structure is a character array, with each 4

[2020-09-17 13:52] gregw commented on #5291
@lorban I think this is a good one for you post your current rabbit hole!

[2020-09-17 13:58] lambdaupb commented on #5291
:smiley:
Its either that, or essentially re-implementing path dispatch again in a catch-all handler, which was not very appealing.

[2020-09-17 13:59] joakime commented on #5162
We generally encourage people to build and test from the git repository.
Not to rely on nightly snapshots, as those can often contain experimental code, or even failed / partial snapshot deployments.

[2020-09-17 14:01] joakime commented on #5291
You might want to look into the `PathMappings` component in Jetty.

https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/http/pathmap/PathMappings.html

Examples: https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-http/src/test/java/org/eclipse/jetty/http/pathmap/PathMappingsTest.java

[2020-09-17 14:01] gregw commented on #5291
I've created PR #5293 with a quick fix.  It lacks test harnesses and leaks impl details to the usage of the Trie.
But perhaps we sneak something like this into the next release while we contemplate a better solution....  @lambdaupb would you be able to work with your own local build of the PR branch to get you further while we take a few weeks to come up with a nicer solution?

I think we still ne

[2020-09-17 14:13] lambdaupb commented on #5291
Possibly related: #1353 ?

---

For better or for worse, for the time being, I'll probably have to re-implement the path lookup with a catch-all handler on our side, that seems a lower maintenance burden, so take your time to do it right.

[2020-09-17 14:34] joakime commented on #5291
Here's a template for you to start with ...

[code]

You use it like this ...

[code]

Example results.

[code]

[2020-09-17 15:11] joakime commented on #5285
PR #5286 merged.

[2020-09-17 15:11] #5285 closed, assigned to joakime

[2020-09-17 15:12] joakime commented on #5217
PR #5218 merged.

[2020-09-17 15:12] #5217 closed, assigned to sbordet

[2020-09-17 15:13] joakime commented on #5246
Opened PR #5248 for `jetty-10.0.x`

[2020-09-17 15:28] joakime commented on #5246
Opened PR #5294 for `jetty-9.4.x`

[2020-09-18 08:30] james-z-repo opened #5296 "Does jetty have a method to convert bean into XML?"
**Jetty version**
9.4.19.v20190610
**Java version**
jdk1.8
**Question**

Does jetty have a method to convert bean into XML?

I created an object in Java and I want to convert it into XML. Does jetty have a built-in method that can be called?

![image](https://user-images.githubusercontent.com/33625419/93575417-31100700-f9cc-11ea-8451-f3546e7dc1a9.png)

[2020-09-18 08:47] gregw commented on #5296
unfortunately no.

It is something that we thought about a few times, but the problem is that while simple setter/getter only cases are pretty simple, the general solution is not really possible.   Specifically because configuring and object can also call methods like `addSomething(value)` or `getSomething().setValue(value)` or `getArray()[index]=value`.   Plus there are stateful methods like `sta

[2020-09-18 08:47] #5296 closed, assigned to nobody

[2020-09-18 09:23] l0rinc commented on #5048
We've bumped into this issue recently, any plans to tackle this in the near future?

[2020-09-18 09:52] erstaae opened #5297 "After upgrade from JDK 8.0.241 to JDK 8.0.261 Http2 client is not working. Throwing Timeout error"
Jetty version : 9.4.19

Java version :jdk 8.0.261

OS type/version :Red hat 7

Description  : After upgrade of JDK 8.0.261, our http2 client is not working. its unable to send the request and getting timeout error.
Got an exception java.util.concurrent.TimeoutException:

Hence, we tried to upgrade jetty 9.4.28 and tried both by removing and adding alpn bootpath. only when the alpn boot path is add

[2020-09-18 13:28] sbordet commented on #5297
Read https://webtide.com/jetty-alpn-java-8u252/.

If still does not work, we need details about the error (stack traces, etc.).

[2020-09-18 14:11] joakime commented on #5297
Would recommend upgrading to 9.4.31, as 9.4.28 is subject to several security reports - https://www.eclipse.org/jetty/security-reports.html

[2020-09-19 17:03] oliviercailloux opened #5299 "Documentation fails to build when project path contains accented characters"
**Jetty version**
Both 9.4.x and 10.0.x.

**Java version**
openjdk version "11.0.8" 2020-07-14

**OS type/version**
Debian buster

**Description**
The docbkx plugin, required to build the documentation, (sometimes?) fails to run when the project path contains an accented character (Développement, for example). Strangely enough, the problem does not arise when the path contains spaces and no accent

[2020-09-19 17:55] oliviercailloux commented on #5162
I just built the doc from source. I am able to make injection work by following the new instructions. Great! (I use the jetty-snapshot, contrary to instructions here above, because I did not manage to compile jetty from sources yet, I hope that is okay.)

I have however a few questions because I am not sure I am setting things up as I should. Perhaps the doc could be improved so as to remove any d

[2020-09-19 18:01] oliviercailloux commented on #5162
Perhaps interestingly, the illegal reflective access happens in [this class](https://github.com/weld/core/blob/master/impl/src/main/java/org/jboss/weld/util/bytecode/ClassFileUtils.java), which seems to mention (if I understand it correctly) that this is because “the integrator does not fully implement ProxyServices”. Is this something that jetty can solve, or due to me not having followed the ins

[2020-09-20 21:05] #4016 closed

[2020-09-21 00:03] lachlan-roberts commented on #5299
Looks like from Jetty-10 onwards we are using only asciidoctor plugin to generate the documentation instead of using docbkx. I have tested on `10.0.x` and I could not reproduce the same problem.

[2020-09-21 00:39] lachlan-roberts commented on #5048
@paplorinc Yes, I have been working on a PR for this, although it will probably not make 9.4.31.
This is a general review of temporary buffer usage, can you provide more info about the issue you had, is there a specific case that was causing you concern and you would like addressed in the PR?

[2020-09-21 00:41] #1761 closed

[2020-09-21 00:41] #4988 closed, assigned to nobody

[2020-09-21 00:41] #5198 closed, assigned to lachlan-roberts

[2020-09-21 00:41] #5246 closed, assigned to lachlan-roberts

[2020-09-21 06:22] l0rinc commented on #5048
Hey Lachlan, we'd like to reuse buffers when sending and receiving [binary messages](https://github.com/eclipse/jetty.project/issues/5048#issuecomment-658613635), i.e. `onWebSocketBinary`, but with a `ByteBuffer` to avoid the GC penalty for many small messages.

[2020-09-21 06:45] oliviercailloux commented on #5299
You are right. My bad. The problem I encountered with `10.0.x` differs (doc requires other modules, and I can’t `mvn test` the whole project because some tests fail). So this bug report concerns only the `9.4.x` branch.

[2020-09-21 07:24] lachlan-roberts commented on #5299
@oliviercailloux If you want to build the documentation in `10.0.x` you could run `mvn clean install -DskipTests` for the whole project. Then go specifically to the `jetty-documentation` directory and run `mvn clean install`. That should allow you to build the documentation without running any tests.

@WalkerWatch is there any reason we need docbkx for `9.4.x` and we can't do the same thing we do

[2020-09-21 11:32] gregw commented on #4877
I believe this is complete.  @lorban @lachlan-roberts reopen if it is not.

[2020-09-21 11:32] #4877 closed, assigned to lorban

[2020-09-21 11:35] lachlan-roberts commented on #5170
Reopening to verify that this issue does not exist in `9.4.x` as well.

[2020-09-21 12:06] gregw commented on #3247
I believe this is fixed?  @olamy reopen if there is more to do

[2020-09-21 12:06] #3247 closed

[2020-09-21 12:09] #4321 closed, assigned to nobody

[2020-09-21 12:14] gregw commented on #4005
Whilst this is important, it is not a show stopper for 10.0.0 - bumping to 10.0.1

[2020-09-21 12:16] gregw commented on #3164
@sbordet can we split this issue into 2:
 + restructure documentation - which has to be done before 10.0.0 release
 + fill out documentation - which can be done over time after 10.0.0. release

[2020-09-21 12:20] gregw commented on #2983
Closing as fixed. @sbordet open a more specific issue if there is one!

[2020-09-21 12:20] #2983 closed

[2020-09-21 12:23] gregw commented on #3318
Closing as fixed. @olamy please open a specific issue if there is more to do.

[2020-09-21 12:23] #3318 closed

[2020-09-21 12:35] gregw commented on #5289
I think this was just ebay having problems.  We could perhaps improve the error handling, but for now this doesn't need to be fixed in a hurry.
Perhaps reivew, refresh and update at some stage.

[2020-09-21 12:38] gregw commented on #3395
I've removed from 10.0.0 project.
@janbartel  Can this be closed? what will trigger further work?

[2020-09-21 12:41] #5280 closed, assigned to janbartel

[2020-09-21 12:43] gregw commented on #4313
Closing as documentation is under significant reworking.

[2020-09-21 12:43] #4313 closed, assigned to sbordet

[2020-09-21 12:43] janbartel commented on #3303
This has been done for jetty-11.

[2020-09-21 12:43] #3303 closed

[2020-09-21 13:19] gregw commented on #4501
Removing this from 10.0.0 project.   Once HttpInput refactor is in, we can look at review/simplification of HttpOutput to remove last usage of this class.

[2020-09-21 13:23] gregw commented on #5284
Not a show stopper for 10.0.0

[2020-09-21 13:25] gregw commented on #5263
I will implement this.  I think it is sufficient to do this when automatically creating a start.d directory.

[2020-09-21 13:39] erstaae commented on #5297
I tested 9.4.31 without alpn. it is working fine. I want to just know any fix has been on 9.4.28 related to it.

[2020-09-21 13:54] sbordet commented on #5297
Related to what? It turned out there was no issue at all, so you need to be more specific.

[2020-09-21 15:04] #746 closed

[2020-09-21 15:12] gregw commented on #5017
Still needed for logging for a specific context.... but perhaps that can be solved some other way?
But not needed for 10.0.0

[2020-09-21 15:17] erstaae commented on #5297
In 9.4.28, i tested without alpn-boot and it is not working. But when I upgrade to 9.4.31 it is working fine. Hence I thought to ask if any changes related to alpn-boot is wne in.

[2020-09-21 15:47] sbordet commented on #5297
We thoroughly tested 9.4.28.
Nothing has changed regarding ALPN between 9.4.28 and 9.4.31.
"Not working" is not enough information, so please be more specific.

[2020-09-21 17:06] joakime opened #5304 "HTTP/2 with HttpServletRequest.getHeader("Host") returns null on Jetty 10, but a valid value on Jetty 9"
**Jetty version**
10.0.x

**Description**
If you make an HTTP/2 request, and then in your servlet you use `HttpServletRequest.getHeader("Host")` the value is null on Jetty 10.
But it returns a value on Jetty 9.

**Screenshot of Jetty 9** (notice the "Host" header in the enumerated headers)

![jetty-9-chrome-http2-authority-header](https://user-images.githubusercontent.com/191721/93797993-8fbec600-

[2020-09-21 17:13] sbordet opened #5305 "Remove jetty.http.connectTimeout from the http module"
**Jetty version**
9.4.x

**Description**
`jetty.http.connectTimeout` is a client property and has no sense on a server module.

[2020-09-21 17:41] gregw commented on #5304
I don't think we should always add a Host header for HTTP/2, as that is a lot of wasted work for apps that don't use the Host header.   Instead we could either write an optional customizer and/or rewrite rule that will add a Host header from the authority of a HTTP/2 request

[2020-09-21 17:43] sbordet opened #5306 "Default jetty.*.acceptors should be 1"
**Jetty version**
10.0.x

**Description**
Given that connections are more and more persistent (due to protocols keeping them open for performance reasons), and many many cores, I think the current heuristic is too generous (up to 23 cores yields 2, up to 31 cores yields 3, more yields 4), and a fixed heuristic of `1` is plenty enough.

[2020-09-21 17:45] WalkerWatch commented on #3164
@gregw +1

We have already split, but work will be ongoing for additions.

[2020-09-21 17:46] joakime commented on #5304
Note (to others that read this) that to get the authority from the `HttpServletRequest`, you can use the existing methods ...

* `HttpServletRequest.getServerName()`
* `HttpServletRequest.getServerPort()`

See: https://github.com/eclipse-ee4j/servlet-api/blob/4.0.4-RELEASE/api/src/main/java/javax/servlet/ServletRequest.java#L214-L228

[2020-09-21 17:52] joakime commented on #5304
We could probably improve the `HostHeaderCustomizer` to set the `Host` header too.

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-server/src/main/java/org/eclipse/jetty/server/HostHeaderCustomizer.java

[2020-09-21 18:58] joakime commented on #5304
@gregw I think we should have a module to enable the `HostHeaderCustomizer` for `http2` on jetty-home.

[2020-09-21 19:24] sbordet opened #5308 "Extract httpConfig and scheduler configuration out of jetty.xml"
**Jetty version**
10.0.x

**Description**
I guess for historical reasons, `jetty.xml` contains `HttpConfiguration` configuration, which should instead be factored out into its own module.

Similarly, the scheduler configuration should be factored out, like it has already been done for the thread pool and the bytebuffer pool.

[2020-09-21 19:28] gregw commented on #5306
I think I'd prefer 0 to be the default so we can do async accepting.

[2020-09-22 02:53] zjffdu commented on #2380
@tryge Which version do you upgrade ? I meet the same issue in 9.4.27.v20200227

[2020-09-22 10:24] sukawanth opened #5310 "Jetty Http2 client discards the response fames when there is GOAWAY and sends RST_STREAM"
**Jetty version**  9.4.27.v20200227

**Java version**  OpenJdk 14

**OS type/version** Linux master 4.1.12-112.16.4.el7uek.x86_64 /Deployed in Kubernetes cluster

**Description**
We are using Jetty Http2 client in our application. We have a scenario where the server will terminate the connection by sending GOAWAY frame with no error along with the response header and data frames. But Jetty client

[2020-09-22 11:53] sbordet commented on #5310
You do not say what the problem is, you just describe a normal scenario.

Why do you think what you describe is an issue?

[2020-09-22 12:07] gregw commented on #5310
@sukawanth What we see in your trace does indicate your server is a little strange.  We see
[code]

Very strange there is more conversation after the goaway and its response.  Also the multiple settings are confusing.
Can you display source and destination port as well as I think multiple connections may be in play.

[2020-09-22 14:26] sukawanth commented on #5310
hi @gregw  yes you are correct there are multiple connections in play. I filter out one connection and attached the pic. We are facing a scenario where server is gracefully shutting down and is gracefully terminating all the connections established to it. So when new connections are established to the server and request is sent to it, server is accepting connection and responding to request with 2

[2020-09-22 14:48] sbordet commented on #5310
The problem seems on the server.

The client sends a "magic" + its settings + window_update
The server replies with its own settings + settings reply acknowledging the client one + window_update
The client sends a POST request
The server sends a GOAWAY and then the response?!?

What server is it (product and version)?

What do you exactly mean by "scenario where server is gracefully shutting down

[2020-09-22 16:11] gregw commented on #4795
Good idea... but no time for 10.0.0

[2020-09-22 16:16] gregw commented on #1586
This has been left open for a while now.  I'm not going to change jetty 9 as the 'getPushBuilder' returns a Jetty API anyway.
Closing!

[2020-09-22 16:16] #1586 closed

[2020-09-22 16:18] WalkerWatch opened #5313 "Review Modules for Consistent Language"
Module files need to be reviewed so their language and explanations all flow similarly.

[2020-09-22 16:23] #5263 closed, assigned to gregw

[2020-09-22 16:24] #4430 closed, assigned to janbartel

[2020-09-22 17:24] #5133 closed, assigned to joakime

[2020-09-22 18:04] bala-sundhar opened #5314 "Websocket connection closes with closure code 1011 and closure reason EoFException"
**Jetty version**
9.4.31.v20200723 (Recently upgraded from 9.4.6.v20170531)

**Java version**
openjdk version "1.8.0_265"

**Question**
We are using jetty as our websocket server. Recently upgraded the version to the one mentioned above.

Sample (truncated) logs :

9/21/209:02:09.015 PM | INFO  \| 2020-09-21 21:02:09,015 \| qtp1663166483-132 \|  [WsListener::onWebSocketClose::70]    wsSessionIdent

[2020-09-23 05:02] darmbrust commented on #4578
Is this still a plan for jetty 12?  I'm guessing that supporting javax.* and jakarta.* is still in the 3-6 month out range?  I've been testing with 11, trying to update some code... but sort of a mess, when many projects are ignoring that the rename even happened, so I've ended up with a mixed code base.  Anyone aware of a codebase that can present javax code as jakarta code?  I've seen the projec

[2020-09-23 06:50] gregw commented on #4578
@darmbrust We are a few weeks (at most) away from having jetty-10.0.0 (servlet 4.0) and jetty-11.0.0(servlet 5.0) releases.

We have not yet got any firm plans for a jetty-12, least not committing to supporting both javax and jakarta namespaces... even if we did, it would likely not be within the same context... and no matter what history tells us it is much more than 3-6 months away.

Plus we'd r

[2020-09-23 08:30] sukawanth commented on #5310
Hi @sbordet, Thanks for the reply

Below is more details explanation is the issue:

Environment:
we are using Spring cloud gateway as a reverse proxy in our environment. SCG receives a request and uses jetty http2 client library to send request to backend server.
Backend server is Envoy proxy V1.11.0.
We are using jetty round robin connection pool to establish connections to backend.
This solution

[2020-09-23 09:15] janbartel opened #5315 "Linking to .mod files in the documentation"
**Jetty -10**

Currently the operations guide links through to the .mod files when discussing configuration parameters. My concern is that this will lead to users mistakenly modifying the `.mod` files to change params instead of the `.ini` files. Although we do document that `.ini` files should be edited instead of `.mod` files, unless you've read the whole guide very closely you can miss this poi

[2020-09-23 11:55] gregw commented on #5315
It should be pretty easy to write a script that can generate adoc files from out mod files that would well present the name, description, dependencies and the ini template, without the need to just import the whole file

[2020-09-23 12:07] joakime commented on #5314
Usually an `EofException` points to a connection that was closed.

The stacktraces would tell us more about the nature of the specific EofException you are encountering.

[2020-09-23 13:05] #5304 closed, assigned to gregw

[2020-09-23 13:25] gregw commented on #5306
I'm bumping this to 10.0.1 so we can better evaluate impacts

[2020-09-23 13:59] sbordet opened #5316 "Review <Map> element in Jetty XML"
**Jetty version**
10.0.x

**Description**
The `<Map>` element is not used in Jetty XML files.

It cannot be customized to create `Map` implementations, it only creates `HashMap`s.

`<Map>` takes a list of `<Entry>` elements, but `<Entry>` takes a list of 2 `<Item>`, which is error prone (e.g. pass a number of items different from 2).

There is `<Put>` already that however is constrained to have a

[2020-09-23 14:08] gregw commented on #5316
I don't think we can remove it without deprecating it for some time first.
Also I'd like to see `Put` enhanced  to support:
[code]
Which is on trend for removing values from element parameters anyway!

If we can do that quickly.. then maybe we can just remove Map and have a configuration-10.dtd

BUT IT HAS TO BE DONE TODAY if it is to make it into 10.0.x

[2020-09-23 15:01] #5316 closed, assigned to nobody

[2020-09-23 15:02] sbordet commented on #5316
Added `class` attribute and `Class` element to `Map` so that the implementation can be specified.

The other proposed changes were either backwards incompatible or too complex.

[2020-09-23 15:35] joakime opened #5317 "Remove jetty-all from Jetty 10"
**Jetty version**
10.0.x

**Description**
With all of the discovery mechanisms currently present, the jetty-all artifact no longer has a functional purpose.
Remove it.

[2020-09-23 15:36] joakime commented on #5317
Closed in commit ccec28e7d489f91ccfb5882de1b4c4b69f702669

[2020-09-23 15:36] #5317 closed, assigned to joakime

[2020-09-23 15:37] joakime commented on #5227
Closing in favor of Issue #5317

[2020-09-23 15:37] #5227 closed, assigned to olamy

[2020-09-23 16:23] sbordet commented on #5310
Ok, so the HTTP/2 client implementation does not wait for responses after it receives a GOAWAY, that's why it resets the stream.
The spec contemplates for the scenario that the client should wait for responses, so we will implement it.

[2020-09-23 18:11] #5313 closed, assigned to WalkerWatch

[2020-09-23 18:21] ChaitanyaKiranPVN opened #5318 "EofException during flush"
**Jetty version**
Jetty version 9.4.5
**Java version**
jdk1.8
**Question**
Recently iam getting the below issue in the Prod Enviornment

org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.io.ChannelEndPoint.flush(ChannelEndPoint.java:292)
	at org.eclipse.jetty.io.WriteFlusher.flush(WriteFlusher.java:429)
	at org.eclipse.jetty.io.WriteFlusher.completeWrite(WriteFlusher.java:384)
	at org.eclips

[2020-09-23 18:45] joakime opened #5319 "Jetty 10 build does not use `webapp_4_0.xsd` XSD declaration as found in servlet spec"
Oddly, no other web descriptor in `jetty-10.0.x` uses the correct XML intro.

From: https://javaee.github.io/servlet-spec/downloads/servlet-4.0/servlet-4_0_FINAL.pdf

[code]

Changing this for `demo-jetty-override-web.xml` breaks things.
Lets work this out in a different PR.

_Originally posted by @joakime in https://github.com/eclipse/jetty.project/pull/5292#discussion_r493812536_

[2020-09-23 19:26] janbartel commented on #5319
The web.xml schemas have _always_ been named web-app_x_y.xsd  .... even web-app_x_y.dtd.

[2020-09-23 19:52] sbordet commented on #5318
The stack trace shows that your server was writing to an connection that was TCP congested, and when it resumed writing the connection was closed by the client.

The exception is reported to the application that failed to write, so it has the chance to do something.
If the application lets the exception to flow out, Jetty by default will log it at DEBUG level.

[2020-09-23 19:58] gregw commented on #5319
added support for the WRONG xsd coords with c26eef418cd485432f8af9a94e62553c84c5a527

[2020-09-23 19:58] #5319 closed, assigned to nobody

[2020-09-23 19:58] joakime commented on #5318
You should upgrade, you are subject to several Security issues with that version of Jetty.

See: https://www.eclipse.org/jetty/security-reports.html

[2020-09-23 20:57] michael-nilson-yardi opened #5320 "Using WebSocketClient with jetty-websocket-httpclient.xml in a Jetty web application causes ClassCastException"
**Jetty version**
9.4.31
**Java version**
OpenJDK 1.8.0_251
**OS type/version**
Windows 10 64 bit
**Description**
Typically, using a JSR-356 javax.websocket.ClientEndpoint annotated websocket client with the javax.websocket.ContainerProvider$WebSocketContainer works fine within a Jetty web application.

However, when you add the jetty-websocket-httpclient.xml file to perform any configuration (e.g

[2020-09-23 21:09] joakime commented on #5320
You have `org.eclipse.jetty.client.HttpClient` in your `WEB-INF/lib/` too.
Remove it from there.

[2020-09-23 21:15] joakime commented on #5247
Merged #5251

[2020-09-23 21:15] #5247 closed, assigned to nobody

[2020-09-23 22:12] michael-nilson-yardi commented on #5320
I have removed the jetty-client.jar which contains HttpClient from my WEB-INF/lib/ and now am getting a `java.lang.ClassNotFoundException: org.eclipse.jetty.client.HttpClient`. I'm assuming I need the following modules in my start.ini so I have added them `server,client,webapp,websocket`

[2020-09-23 23:09] lachlan-roberts commented on #5314
@bala-sundhar You could get a `EofException` in the case that the underlying connection was closed before the websocket close handshake could complete. Likely that it was writing a frame at the time and `EndPoint.flush()` threw `EofException`. You can look at the stacktrace from your `onWebSocketError` method to be sure.

[2020-09-23 23:49] lachlan-roberts commented on #5048
@paplorinc PR #5045 should improve the temporary buffer usage for small binary messages. But we are still not reusing the buffers.

We use `ByteArrayOutputStream` to aggregate the payloads of a frames making up a websocket message. I will investigate improving this in jetty-10, maybe by having a version of `ByteArrayOutputStream` which uses the jetty `ByteBufferPool`.

In the case of a single fram

[2020-09-24 00:00] joakime commented on #5320
@lachlan-roberts can you take a look at this issue?

[2020-09-24 01:21] #5264 closed, assigned to joakime

[2020-09-24 01:24] joakime opened #5321 "javadoc:aggregate-jar broken in Jetty 10"
**Jetty version**
Jetty 10.0.x

**Description**
When you attempt to perform a javadoc:aggregate-jar build the javadoc fails.

[code]

These modules need to be properly setup with `module-info.java` files, or excluded from the javadoc build.

[2020-09-24 01:25] joakime commented on #5321
To replicate locally, run the same build as Jenkins does.

[code]

[2020-09-24 06:43] l0rinc commented on #5048
Hey Lachlan, thanks for the update.
I saw that Jetty was using a `ByteArrayOutputStream` to aggregate the continuation frames to a final buffer in `SimpleBinaryMessage`.
What if instead of that, we returned a blocking inputstream, which would fetch until `isFin` is true, reading from the underlying, read-only `ByteBuffer`s?
Also, do you consider the `10x` or `11x` branches stable for production? I

[2020-09-24 07:17] lachlan-roberts commented on #5048
Take a look at [MessageInputStream](https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/websocket/common/message/MessageInputStream.html), this will allow you to declare an `@OnWebSocketMessage` annotation to receive an `InputStream`.  Looks to not be as efficient in `9.4.x` either, I can see that it is still copying the payload which it is not doing in `10.0.x`. We might be able to re

[2020-09-24 07:42] olamy commented on #5321
replicate with ` mvn clean package source:jar javadoc:jar -Peclipse-release -DskipTests -Dpmd.skip=true -Dcheckstyle.skip=true`

[2020-09-24 12:49] janci007 opened #5323 "ArrayTernaryTrie max capacity"
**Jetty version** 9.4.30

**Java version** 8 (not relevant)

**OS type/version** Linux (not relevant)

**Description**

For org.eclipse.jetty.util.ArrayTernaryTrie

Expected:
- the maximum capacity will be stated in documentation

Actual:
- the maximum capacity is not stated in documentation

Expected:
- Trie created with large capacity by new ArrayTernaryTrie(65536)  would work correctly OR the c

[2020-09-24 14:34] joakime commented on #5321
PR #5322 merged.

[2020-09-24 14:34] #5321 closed, assigned to nobody

[2020-09-24 14:37] joakime commented on #5323
This is a duplicate of #5291
And is being worked on in PR #5293

[2020-09-24 14:37] #5323 closed, assigned to nobody

[2020-09-24 16:36] sbordet opened #5324 "Jetty XML <Get> should support nested elements"
**Jetty version**
10.0.x

**Description**
The `<Get>` element should support nested `Id` and `Class` elements.

[2020-09-24 16:40] #5324 closed, assigned to nobody

[2020-09-25 03:07] lachlan-roberts commented on #5170
Fixed in `9.4.x`.

[2020-09-25 03:07] #5170 closed, assigned to lachlan-roberts

[2020-09-25 13:47] michael-nilson-yardi commented on #5320
We stumbled across [this article](https://www.eclipse.org/lists/jetty-dev/msg03096.html) yesterday and it seemed very similar to our circumstances when encountering the LinkageError. We gave it a try both with the approach that worked for the OP as well as the alternate approach you had provided Joakime but we still had the same result; both when programatically manipulating the SslContextFactory

[2020-09-25 15:08] joakime commented on #5320
The LinkageError is when you have the same class in multiple classloaders, but from different origins, and there's an attempt to use the classes across the classloaders.

The `jetty-websocket-httpclient.xml` is loaded by the [`org.eclipse.jetty.websocket.client.WebSocketClient`](https://github.com/eclipse/jetty.project/blob/jetty-9.4.31.v20200723/jetty-websocket/websocket-client/src/main/java/org/

[2020-09-25 15:13] joakime commented on #4918
Not sure if this is supported (or not).
I'll have to reread the spec.

[2020-09-25 15:21] natan-abolafya opened #5325 "Websocket client UpgradeException: 101 Switching Protocols caused by NullPointerException"
**Jetty version**
9.4.31.v20200723

**Java version**
openjdk 11.0.8+10

**OS type/version**
Ubuntu 18.04.1

**Description**
Unfortunately I can't give a very clear description but I'm hoping the exception stack trace will help. This feels like a version mismatch but as far as I can see all the jetty jars are 9.4.31.

First, stack trace:
[code]

I only use the websocket client for some integration

[2020-09-25 15:25] joakime commented on #5325
This is a duplicate of #5170
It's been fixed in `jetty-9.4.x` and is due out in the next release, Jetty 9.4.32

[2020-09-25 15:25] #5325 closed, assigned to nobody

[2020-09-25 15:27] natan-abolafya commented on #5325
Ah, should have searched for NullPointerException instead of UpgradeException. Thanks.

[2020-09-25 15:31] joakime commented on #5325
No worries.  This one was tricky to search for.
The stacktrace you show is one of many that can trigger due to the underlying cause that was identified and fixed in #5170.

[2020-09-25 17:25] oliviercailloux opened #5326 "Illegal reflective access because of partial implementation of ProxyServices?"
**Jetty version**
9.4.32-SNAPSHOT

**Java version**
OpenJDK 11

**OS type/version**
Debian stable

**Description**
Following the new instructions for setting up CDI with Weld leads to an “illegal reflective access” (according to the log). Looking up the Weld source code, it mentions that the reason could be that “the integrator does not fully implement ProxyServices”. Is this something that jetty

[2020-09-25 18:18] joakime commented on #5326
Our CDI integration is vendor neutral ATM.

It supports both Weld and OpenWebBeans.
Looks like `org.jboss.weld.serialization.spi.ProxyServices` would be weld specific.

If we implemented it, then wouldn't that mean CDI is no longer a Server level feature?

As an implementation of `ProxyServices` expects to be registered at each individual `WebAppClassLoader`, which the server level one is not resp

[2020-09-25 21:39] hossman commented on #4936
Why does the linked CVE indicate that "in case of too large response headers, Jetty throws an exception to produce an HTTP 431 error." ?

- as far as i can tell from manual testing and a casual reviewing of the code/test modified in this issue, "Response header too large" always results in a 500 error
  - `throw new BadMessageException(INTERNAL_SERVER_ERROR_500, "Response header too large");`
  -

[2020-09-25 23:20] michael-nilson-yardi commented on #5320
I've been attempting to recreate the problem and have used your sample project [found here](https://github.com/joakime/javaxwebsocket-client-returncode/tree/34d67aa364264cb2e2d16388d10289e3fabe592c) as a starting point. I have adapted it slightly to add the config to make it a webapp and add a servlet for testing purposes. I've uploaded my repo [here](https://github.com/michael-nilson-yardi/Websoc

[2020-09-26 11:30] oliviercailloux commented on #5326
I understand the concern that Jetty should be vendor neutral.

Could you confirm that my sample code implemented Jetty CDI integration in the recommended way (i.e. that I made no mistake in interpreting the documentation), considering my three “related questions” in particular?

[2020-09-26 14:57] gregw commented on #5326
@oliviercailloux there are actually a lot of different ways to integrate weld into Jetty! See: https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-cdi/src/test/java/org/eclipse/jetty/embedded/EmbeddedWeldTest.java

Very hard to say what is the preferred.  Personally like the `CdiServletContainerInitializer+EnhancedListener` as that is using the SPI, which is meant to be the way to inte

[2020-09-26 14:58] gregw commented on #5326
oh yes our documentation does need to catch up a bit with some recent changes to how this is done embedded.

[2020-09-26 15:07] gregw commented on #4936
@hossman, you are correct.  We return a 500 and did so before the CVE and fix as well.
@WalkerWatch can you ask for the text of the CVE to be updated?

[2020-09-27 13:39] joakime commented on #4124
Merged PR #4147

[2020-09-27 13:39] #4124 closed

[2020-09-27 13:42] #330 closed

[2020-09-27 19:48] gregw commented on #1940
i will retest with latest CDI integrations.

[2020-09-27 20:10] gregw opened #5327 "NPE from jetty test webapp"
**Jetty version**
10.0.0-SNAPSHOT

**Description**

[code]

[2020-09-28 08:00] bhawani1978 commented on #2205
Hi @harishmurali-hub

Any update on this, I am also getting this in jetty with 9.4.21 as well with 9.4.31, seems it started somewhere last year. In our case works fine for 1-2 weeks and then suddenly it stops working with same stack trace.

"qtp525571-72617" Id=72617 RUNNABLE (in native)
    at sun.nio.ch.WindowsSelectorImpl$SubSelector.poll0(Native Method)
    at sun.nio.ch.WindowsSelectorImpl$Su

[2020-09-28 08:03] sbordet opened #5354 "h2spec tests fail to run"
**Jetty version**
9.4.x

**Description**
Installed `docker` as specified [here](https://docs.docker.com/engine/install/) - in particular, for Ubuntu, *not* `apt install docker`, but as documented `apt-get install docker-ce docker-ce-cli containerd.io`.

Tried to run the h2spec tests yields:

[code]

Trying branch `jetty-9.4.x_skip_h2spec_if_no_docker` yields:

[code]

But the h2spec tests are not

[2020-09-28 08:09] liwei2015cd opened #5355 "org.springframework.web.multipart.MultipartException: Failed to parse multipart servlet request; nested exception is java.lang.OutOfMemoryError: Java heap space"
Jetty version: 9.4.27
Java version: 1.8
Jvm options: -Xms2048m -Xmx2048m
Description: This exception is thrown when uploading a large file：
         org.springframework.web.multipart.MultipartException: Failed to parse multipart servlet request; nested exception is java.lang.OutOfMemoryError: Java heap space

[2020-09-28 09:18] joakime commented on #5355
Not enough information to work with.

What was your stacktrace?
What was your Multipart configuration?
What did the data look like?

[2020-09-28 09:21] joakime commented on #2205
@bhawani1978 that stacktrace shows a properly operating selector.

Turn on DEBUG logging for `org.eclipse.jetty.io.ManagedSelector`.
Look for "woken with none selected" line in your logs.
If you see that, then you have the selector bug on Windows.
The root cause of which is something on your OS or your network drivers.
It's a bug that neither Jetty nor the JVM can work around.

[2020-09-28 11:36] #5327 closed, assigned to gregw

[2020-09-28 13:22] michael-nilson-yardi commented on #5320
I recognized that we were still dropping a lot of warnings due to having the javax.servlet jar included in our web-inf/lib. I've pulled that jar out and uploaded a [new gist](https://gist.github.com/michael-nilson-yardi/e77f0dc3b0d69cf5a818dd8e7f7f7024) that contains the startup logs. Still the same issue though: ClassNotFoundException for org.eclipse.jetty.client.HttpClient.

[2020-09-28 15:00] lachlan-roberts commented on #5320
@michael-nilson-yardi I have been able to replicate this issue and I don't think it is due to incorrect configuration on your part. You can try adding these lines to your `start.ini` as a workaround while we work on a better solution.

[code]

[2020-09-28 15:14] michael-nilson-yardi commented on #5320
Thanks for the help @lachlan-roberts . After adding the above config we saw the below output in the logs after making a websocket connection.
[code]

I tried adding similar config for org.eclipse.jetty.util.component which got us past the NoClassDefFoundError for LifeCycle but then the jetty server would stop immediately after the websocket connection closed. I can get more debug info if it is hel

[2020-09-28 15:15] joakime opened #5357 "Update http://eclipse.org to https://eclipse.org in source"
**Jetty version**
9.4.x

**Description**
We have many references in source to the older `http://eclipse.org/...` URLs.

Those are no longer valid, and will result in a redirect to the secure version `https://eclipse.org/...`

[2020-09-28 15:24] joakime opened #5359 "jetty-documentation JXURL should point to github tagged contents, not maven XREF"
**Jetty version**
9.4.x

**Description**
Currently the jetty-documentation has references to maven xref results like this ...

[code]

it should probably be like ...

[code]

[2020-09-28 16:05] lachlan-roberts commented on #5320
@michael-nilson-yardi if you are calling `LifeCycle.start(webSocketClient)` or `LifeCycle.stop(webSocketClient)` try replacing that with `webSocketClient.start()` / `webSocketClient.stop()`.

Or try adding this to `start.ini`

[code]

[2020-09-28 16:15] janbartel opened #5360 "demo-spec module incorrectly depends on demo-jndi"
**Jetty-10**

The `demo-spec` module has a [depends] clause for `demo-jndi`, but it should not, because these two webapps are entirely independent.

[2020-09-28 16:19] janbartel opened #5361 "Some elements do not have an origin attribute in quickstart-web.xml"
**Jetty-9.4**

o.e.j.annotations.WebListenerAnnotation class does not set the metadata origin. This means that the `origin` attribute will be skipped in quickstart-web.xml.

o.e.j.annotations.ServletAnnotation does not set the metadata origin for servlet-mappings in the annotation, thus the `origin` attribute will be missing in quickstart-web.xml.

o.e.j.annotations.FilterAnnotation does not set t

[2020-09-28 16:22] michael-nilson-yardi commented on #5320
@lachlan-roberts the issue with jetty stopping was related to an oversight in our sample project. Will there be an issue we can track for watching for the "better solution"? In the meantime we'll proceed with testing the start.ini config you have provided with our actual product instead of the sample. Thanks again.

[2020-09-28 16:54] joakime opened #5362 "Default ProxyServlet cannot proxy to https urls"
**Jetty version**
9.4.x

**Description**
If you have a default proxy setup like this ...

**WEB-INF/web.xml**

[code]

Then the ProxyServlet will fail as the internal HttpClient has no support for SSL/TLS enabled.

[2020-09-28 16:55] joakime commented on #5362
Talked with @sbordet and we'll just enable a default `SslContextFactory.Client` within `AbstractProxyServlet.newHttpClient()`

But do we want to introduce a `newSslContextClient()` method?

[2020-09-28 17:26] bhawani1978 commented on #2205
Hi @joakime,

Yes I can see "woken with none selected" in the debug logs. Its windows 2016 server. We have have similar installation at many customer sites but at this site only we see the issue.

If its infact a OS or network drivers issue, then let me know if have any pointer to pin point this or debug so can get a fix for this.

-Bhawani