[2020-12-10 12:07] lachlan-roberts commented on #5783
@sbordet that will also reset all the other statistics like total number of messages and bytes in/out, also total number connections and stats about the duration.

[2020-12-10 15:26] joakime opened #5791 "Flaky Test: HTTP2-Client / GoAwayTest / testServerGoAwayWithStalledStreamServerConsumesDataOfInFlightStream"
**Jetty version**
Seen in branch `jetty-11.0.x`

**Java version**
Seen in several builds now, openjdk 11 and openjdk 15

**Description**

org.eclipse.jetty.http2.client.GoAwayTest.testServerGoAwayWithStalledStreamServerConsumesDataOfInFlightStream

Output is rather consistent with "reset".

Test assertion failure ...

[code]

With console output of ...

[code]

[2020-12-10 17:33] nikhilbansal064 opened #5792 "Getting org.eclipse.jetty.io.EofException: Early EOF frequently after ~60mb upload"
I am working on uploading files from a mobile client to the database in the form of chunks(~ 5MB chunks). Client sens individual request to upload 5 MB chunk. I am using InputStream sent by the client in request and using inputStream.read(byteArr, offset, len) method to read bytes from the stream.
Till 50-60 Mb upload workes fine but after that, I started receiving **org.eclipse.jetty.io.EofExcept

[2020-12-10 17:47] joakime commented on #5792
Looking at your stacktrace, this "Early EOF" is the server triggering the error because it reached an end of stream on the request body content.
But that end of stream was too early (likely because the client told the server a specific size in it's headers and then didn't send it all)

First, upgrade to [Jetty 9.4.35.v20201120](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.35.v20

[2020-12-10 18:34] joakime commented on #5784
cc @waynebeaton for clarification of below ...

The NOTICE and LICENSE files are generated for us by Eclipse Legal, so I'm keen to trust those formats as-is.

Both of those have SPDX lines defined as ...

[code]

https://github.com/eclipse/jetty.project/blob/b9645a17373e4e9b7f30b6c0a07defcea2cb660b/LICENSE#L493-L494

https://github.com/eclipse/jetty.project/blob/b9645a17373e4e9b7f30b6c0a07defcea2c

[2020-12-10 18:52] waynebeaton commented on #5784
These may have been provided early in our adoption of SPDX. We certainly would not recommend having multiple SPDX-License-Identifier entries in a single file now.

We've since provided a documentation generator that makes use of SPDX expressions which describe how the licenses are combined ("AND" has a very different meaning than "OR" in a multiple license configuration; it helps to think of it fr

[2020-12-10 18:55] zregvart opened #5793 "Fix for Bug 475546 reverted on 9.4 onward"
**Jetty version**
I'm using 9.4.35.v20201120, I see that the issue is present on versions [9.4.x](https://github.com/eclipse/jetty.project/blob/ea621cea9b5cc67ee5efc2608b6e913fa64a504b/jetty-client/src/main/java/org/eclipse/jetty/client/http/HttpChannelOverHTTP.java), [10.0.x](https://github.com/eclipse/jetty.project/blob/1753dec7205784025fbe4d01af4ba9de2b134bfb/jetty-client/src/main/java/org/ecli

[2020-12-10 19:04] joakime commented on #5784
@waynebeaton thank you.

I just noticed that the top of the LICENSE file also has text about "secondary"

https://github.com/eclipse/jetty.project/blob/b9645a17373e4e9b7f30b6c0a07defcea2cb660b/LICENSE#L1-L8

That should probably be simplified to ...

[code]

Either that, or remove that entire start section.
Effectively starting the [LICENSE file at line 11](https://github.com/eclipse/jetty.project

[2020-12-10 19:26] arshadwkhan commented on #5685
@gregw any update on this issue ? This looks like a defect. Can you please confirm ?

[2020-12-10 19:37] waynebeaton commented on #5784
Change it to a single SPDX-License-Identifier line and you get my +1

The SPDX-License-Identifier tells automated tools, like scancode (which is used by ClearlyDefined) what you mean. This makes it easier for folks to adopt your content and validate licensing compliance with tools.

[2020-12-10 20:00] joakime commented on #5793
This is something different.

The test introduced by the original fix `HttpClienTest.testCONNECTWithHTTP10()` (b1b569bd231e5d9c379e6970a1a1b585b0daeb8b)

That test is still present on Jetty 9.4.34, and the code it introduced has changed has evolved many times over the years.

https://github.com/eclipse/jetty.project/blob/jetty-9.4.35.v20201120/jetty-client/src/test/java/org/eclipse/jetty/client/Ht

[2020-12-10 20:27] zregvart commented on #5793
@joakime thanks for quick response, this is the code I test with:

[code]

And this is the debug log: [jetty-debug.log](https://github.com/eclipse/jetty.project/files/5675417/jetty-debug.log). I just noticed that for, whatever reason, the proxy is responding with `Connection: close` header, this could be a bug in the proxy I use (Fiddler). So that prompted me to test with Squid instead, and it doe

[2020-12-10 20:27] #5793 closed, assigned to nobody

[2020-12-10 21:59] joewitt opened #5794 "ServerConnector leaks closed sockets which can lead to file descriptor exhaustion"
**Jetty version**
9.4.35.v20201120 and older
**Java version**
OpenJDK Runtime Environment (build 1.8.0_272-b10) and others
**OS type/version**
OSX and Linux
**Description**
The ServerConnector class in openAcceptChannel creates a local variable which is an opened server socket channel.  Then when attempting to bind to the specified port, if there is an exception, it will throw a new exception and

[2020-12-10 22:08] joakime commented on #5784
PR #5795 opened.

* Changes to LICENSE text are in commit ea38e53b9201af4efad119ecfb23901c83306a1a (1 file changed)
* Changes to header-template are in commit 31e5030550e317dfd2cabbec0eb29a7082a1edd9 (1 file changed)
* Changes to source headers are in commit f0badc5c5ec6ceb8a5d45eccfb0bc284f65471f5 (3,000 files changed)

[2020-12-11 01:43] justtonytone opened #5796 "Context restart breaks JSR 356 endpoints"
**Jetty version**
9.4.35.v20201120

**Java version**
1.8

**OS type/version**
OSX

**Description**
Apologies if this isn't the correct place to post this issue or if this has been posted before (I searched, but didn't find it).

We have an app where we added a proof of concept for websockets (via JSR 356), when we start the app up (via `mvn jetty:run`), all the endpoints work great. The problem co

[2020-12-11 06:42] lachlan-roberts commented on #5796
This looks like a Jetty bug which occurs when restarting a `WebAppContext`. The javax.websocket endpoints aren't re-added to the mapping for some reason. It doesn't seem to be related to the jetty-maven-plugin because I can reproduce this with a webapp running with jetty-home.

Also you say you are using version `9.4.6.v20170531` but in the pom you are using `9.4.35.v20201120`. There has been lots

[2020-12-11 08:17] #4276 closed

[2020-12-11 08:45] cor3000 opened #5798 "jetty-runner startup error with jetty-10"
**Jetty version** 10.0.0

**Java version** openjdk version "11.0.9.1" 2020-11-04

**OS type/version** Linux Mint 20

**Description**

Starting any war file or webapp folder (I tried so far) using the jetty-runner results in the exceptions below
accessing localhost:8080 results in an error code 503

The same war files work with jetty-runner 9.4.35.

[code]

[2020-12-11 08:46] sbordet commented on #4414
@lachlan-roberts isn't this feature present already?

[2020-12-11 08:48] cor3000 commented on #5798
related https://github.com/eclipse/jetty.project/issues/1906

[2020-12-11 09:04] #5779 closed, assigned to gregw

[2020-12-11 09:05] lorban opened #5799 "Allow specifying the duration an object can stay in a pool"
**Jetty version**
9.4.x

**Description**
Currently, the `Pool` class keeps the objects it contains for an indefinite duration. While the number of times a pooled object can be used before it has to be closed can be configured which allows limiting the maximum time an object can stay in its pool, this can seriously shorten their useful lifespan if they are heavily used.

Introducing a new configura

[2020-12-11 13:43] justtonytone commented on #5796
Thanks Iachlan! Our app is using an older version, but I wanted to be on the latest for the sample app. I've updated my post so that it reflectst `9.4.35.v20201120`. We will work on upgrading our app.

Are we saying this is a jetty issue?

We've switched the proof of concept over to use the jetty websocket api (which looks to require a servlet mapping), and everything works well on a reload.

[2020-12-11 14:35] justtonytone commented on #5796
Apologies for the off topic question. I wanted to ask if `WebSocketAdapter` is equivalent to a class annotated with `@WebSocket`, is there an appropriate place where I can post this question?

[2020-12-11 15:21] WalkerWatch commented on #4362
Closing this for now. Can reopen if @skpaterya provides requisite information.

[2020-12-11 15:21] #4362 closed, assigned to janbartel

[2020-12-11 17:37] #5784 closed, assigned to joakime

[2020-12-12 02:49] lachlan-roberts commented on #5796
Yes I think this is a Jetty issue, there is nothing wrong with the code you posted.
I will investigate the exact cause of this on monday.

You can always open new issues if you have a question and apply the `question` label. The `WebSocketAdapter` is equivalent to using the the `WebSocket` annotation. It is also probably going to be more efficient as it doesn't need to discover the annotated metho

[2020-12-14 00:05] lachlan-roberts opened #5805 "Jetty 10 documentation generating .png files within src directory."
**Jetty version**
10.0.x

**Description**

In the operations-guide directory I'm getting a lot of generated .png .svg files. These files should probably be generated in the target directory so they're ignored by git.

[code]

[2020-12-14 08:46] sbordet commented on #5805
@lachlan-roberts I don't see this.

Please delete these files are try again, perhaps they were generated a while back but not anymore?

[2020-12-14 09:19] #5763 closed, assigned to janbartel

[2020-12-14 10:21] #5755 closed, assigned to nobody

[2020-12-14 11:17] gregw commented on #5794
#5802 modified to be based on #5797 and both now merged.  thanks @joewitt

[2020-12-14 11:17] #5794 closed, assigned to gregw

[2020-12-14 15:06] oleg-nenashev commented on #5766
Thanks for the clarification!

[2020-12-14 15:16] joakime opened #5808 "Jetty 10+ Documentation missing versions table"
**Jetty version**
Jetty 10 and Jetty 11

**Description**
The old Jetty versions table is missing from the new documentation.
We need that back, and in way that is linkable.

Example of old table - https://www.eclipse.org/jetty/documentation/jetty-9/index.html#what-jetty-version

[2020-12-14 16:19] WalkerWatch commented on #5808
@joakime Why explicitly in the documentation. This information exists on the homepage of the Jetty project to some degree but the table itself lives on the [Downloads](https://www.eclipse.org/jetty/download.php) page in full.

I believe it was @sbordet who wanted to clean out some of the intro stuff to the docs. That said, we can add it back in if the consensus agrees.

[2020-12-14 17:04] 1lolbus1 opened #5809 "Stack trace for 500 error when response header is hidden in DEBUG. Why is that?"
**Jetty version**

9.4.34.v20201102

**Java version**

Java 8

**Question**

We were seeing some 500 response errors coming from our server despite having the transaction execute successfully on our backend. Confused, we dug in to see what could be causing the issue. Nothing in our log, I thought maybe we were swallowing stack traces somewhere however it seems that this is the case for Jetty when

[2020-12-14 17:26] nikhilbansal064 commented on #5792
@joakime

I tracked the upload. For the first 50-60 MB of the file, we are getting Content-Length:  6291455 Bytes (~ 6 MB) in request header and able to read that much data from the stream but after that, we start to get EOF after reading approx 2293118 Bytes (~ 2 MB)  and then this behavior continues in all subsequent request.

The question is if anything wrong with streaming data, why it is work

[2020-12-14 18:17] joakime commented on #5792
There is nothing special about 6MB or 50MB or 60MB, those are fairly small sized uploads in the grand scheme of things.

Capture the traffic with a tool like Wireshark.
Make sure you read up on the SSL/TLS decoding features of Wireshark so you can see the data you are actually sending.
Or, better yet, if you can replicate without SSL, then turn off SSL/TLS and then capture the traffic.
That will g

[2020-12-14 18:43] cen1 commented on #5746
Solving downstream.

[2020-12-14 18:43] #5746 closed, assigned to nobody

[2020-12-14 19:46] arshadwkhan commented on #5685
@gregw @joakime is there a way I can escalate this ? This is definitely a bug.

[2020-12-15 00:14] lachlan-roberts commented on #5798
I can't get this to work either, I'm getting the same error described here even for a simple webapp. This issue (#4562) is relevant as well, apparently there are some issues using this with Java 11 and JPMS.

[2020-12-15 05:39] lachlan-roberts commented on #5805
On my Mac I deleted them a few times and they kept coming back, I haven't seen it come back on Ubuntu machine yet, so if I don't see this for a while I will close the issue.

[2020-12-15 10:09] lachlan-roberts commented on #5499
Closing as PR #5574 has been merged and has improved the memory allocation from `PerMessageDeflateExtension`.

[2020-12-15 10:09] #5499 closed, assigned to lachlan-roberts

[2020-12-15 12:08] shwetaCummins commented on #5197
Apologized I was off this topic due to some other work. I think is my certificate causes this issue? I am using keytool -genkey -keyalg RSA -alias selfsigned -keysize 2048 -storepass 12345asdfgh -validity 3650 -keystore keystore.jks  this command to generate my self signed certificate

[2020-12-15 20:47] joakime opened #5810 "Allow Advanced PathSpec optional behavior in ServletContextHandler addServlet and addFilter"
**Jetty version**
Jetty 9.4.x

**Description**
Currently the `ServletHandler` uses the `PathMappings` feature of Jetty internals.

And it (correctly) only adds `ServletPathSpec` in response to the web descriptor or embedded usage
of ServletContextHandler.addServlet() or ServletContextHandler.addFilter() usage.

This is a request to add the ability to add servlets or filters based on one of the mor

[2020-12-16 00:18] chiralsoftware opened #5815 "Setuid module incorrect JAR reference"
Steps to reproduce:

[code]

The JAR is wrong.

[2020-12-16 07:16] olamy commented on #5815
I can definitely reproduce.
But it's really strange as those files has not been touched for a while and I can't reproduce with current head of jetty-10.0.x branch

[2020-12-16 07:31] gregw commented on #5810
Two approaches:
  1) allows arbitrary types of path spec to be passed in as Strings.  This would need less plumbing changes and would allow such patterns to come from more sources.  But we'd need a robust way of converting from such an arbitrary string to a specific pathSpec type.  Also would need optional validation so that we could enforce normal pathspecs only from webapps.
  2) add API that al

[2020-12-16 10:16] jwhgithub commented on #3663
Seems this change was overridden by #3730 (PR https://github.com/eclipse/jetty.project/pull/4423)? Could someone comment on this?

I got same error in version 9.4.35.v20201120 when create WebsocketClient with given HttpClient.

`
SslContextFactory sslContextFactory = new SslContextFactory.Client();
sslContextFactory.setTrustAll(true);
sslContextFactory.setEndpointIdentificationAlgorithm("HTTPS");

[2020-12-16 10:19] janbartel commented on #5796
@lachlan-roberts restarting the context via the jetty-maven-plugin is different to the "restart" that happens in the distro if you, for example, change the context xml file. The distro deployer _destroys_ the context and creates a fresh one: the jetty-maven-plugin does _not_ destroy the context, merely stops it and restarts it (after perhaps having reconfigured it). So, if the websocket stuff is d

[2020-12-16 15:07] janbartel commented on #5815
It is a bit of a mystery. The versions were definitely updated in jetty-10.0.x branch back in February this year: https://github.com/eclipse/jetty.project/commit/95f20ddfebd27ed05962c849316e6a9df072cf70. How the jetty-10.0.0 tag only has the changes from the .mod file, but not the jetty-home/pom.xml file is ... weird.  If we can work out how the tag came to be missing changes, then we can confiden

[2020-12-16 15:20] joakime commented on #5815
The diff between the tag and 10.0.x doesn't show this difference in the jetty-home/pom.xml ??

https://github.com/eclipse/jetty.project/compare/jetty-10.0.0...jetty-10.0.x

The command line shows the difference though ...

[code]

[2020-12-16 15:56] joakime commented on #5815
Here's something equally bizaree, asking git itself which branches and tags the 95f20ddfebd27ed05962c849316e6a9df072cf70 commit is in.

[code]

Branches:

[code]

Tags:

[code]

So, git thinks that commit is present in tag `jetty-10.0.0`.
That means something else replaced that line of code.

[2020-12-16 19:33] sbordet opened #5816 "JMX-ify Scheduler implementations"
**Jetty version**
9.4.x

**Description**
`Scheduler` implementations lack JMX annotations.
Would be useful to know the scheduler name, the number of scheduler threads, whether it is daemon, etc.

[2020-12-16 20:48] joakime opened #5817 "Provide more filtering for CustomRequestLog"
**Jetty version**
9.4.35+

**Description**
The current `CustomRequestLog` has only 1 filter option, which is the request uri path.

Provide more filtering options.

* Response status code (very useful)
* Content-Type (can narrow down specific behaviors)
* User-Agent (can identify specific user agents you are interested in)

I think just supporting a `BiPredicate<Request,Response>` on `CustomReques

[2020-12-16 22:58] sbordet opened #5818 "JMX-ify children of unmanaged beans"
**Jetty version**
9.4.x

**Description**
The `ContextHandler.MANAGED_ATTRIBUTES` context parameter key allow webapps to declare a comma-separated list of context attribute names.

When the webapp calls `ServletContext.setAttribute(name, obj)` with one of the names of the list, `ContextHandler` adds the value as an _unmanaged_ bean to itself.
This in turn triggers listeners such as `MBeanContainer`

[2020-12-17 08:51] marcphilipp commented on #5731
Any chance this can get backported to 9.4.x?

[2020-12-17 09:19] marcphilipp commented on #5731
I did some digging. Looks like this was broken in ba22c08fde5362fe2e89e9c417d2a90658c74283 which was released in 9.4.32.v20200930.

@lorban Could you please backport this change to 9.4.x? We'll be stuck on JDK 8 for a while and hence cannot upgrade to 10.0.x or 11.0.x.

[2020-12-17 09:31] olamy commented on #5815
fixed by https://github.com/eclipse/jetty.project/commit/9b100a5bfb5267635de33ee6317204ccfa04e468

[2020-12-17 09:31] #5815 closed, assigned to nobody

[2020-12-17 09:59] rk1165 commented on #5817
Hi @joakime ,
I followed the class and method you mentioned. How do I start working on it, can you please help me?
I have already cloned the project, signed the contributor agreement and subscribed to the mailing list. Is there anything else I need to do?
Also, please let me know if there's any prerequisite I need to read up or anything.

[2020-12-17 10:00] rk1165 commented on #5816
Hi @sbordet ,
How can I work on this, can you please guide me?
I have already cloned the project, signed the contributor agreement and subscribed to the mailing list. Is there anything else I need to do?

Also, please let me know if there's any prerequisite I need to read up or anything.

[2020-12-17 12:23] joakime commented on #5731
@marcphilipp the Pool on 9.4.35.v20201120 (which is in maintenance mode) is not the same as the Pool on 10.0.0 (active development branch).
It's a completely different codebase.
This issue isn't really possible on 9.4.x, as the cause of the divide by zero was the result of a throwable from the use of the Trie in 10, (9.4.x's Pool doesn't use Trie)

If you are having an issue, please open a new iss

[2020-12-17 12:39] marcphilipp opened #5819 "Sporadic ArithmeticException when sending WebSocket upgrade requests on 9.4.x"
**Jetty version**

9.4.35.v20201120

**Java version**

1.8 (let me know if you need to know the exact update)

**OS type/version**

Linux 4.4.0-1052-aws

**Description**

We're sporadically seeing exceptions like the following when sending `WebSocketUpgradeRequests`:

[code]

We've limited the `maxRequestsQueuedPerDestination` on the `HttpClient` to 4 in case that's relevant.

[2020-12-17 12:40] marcphilipp commented on #5731
Thanks for the reply! It looked so similar that I apparently didn't look closely enough.

I've now raised #5819 for 9.4.x.

[2020-12-17 14:17] sbordet commented on #5816
@rk1165 thanks for volunteering!

Please read the contributor guidelines: https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/CONTRIBUTING.md

In particular you have to make sure your commits are signed-off (the other requirement was the ECA, but you already signed it).

Then please have a look at how `QueuedThreadPool` is annotated with Jetty JMX annotations, and do something similar for `

[2020-12-17 15:26] #5819 closed, assigned to lorban

[2020-12-17 17:15] rk1165 commented on #5816
Hi, @sbordet
I made the aforementioned changes and raised the following PR #5821
Can you please review?

[2020-12-17 17:46] JohnnyPendlebury opened #5822 "Prevent Invalid Headers Being Relayed"
**Jetty version**
 9.4.15.v20190215

**Java version**
11

**Question**

Using Jetty Client I notice that compressed responses from a server are automatically decompressed. However, the CONTENT-ENCODING header still contains GZIP. In a situation such as proxied requests how can the service using Jett Client remove invalid headers to prevent relaying them to its own client?

Thanks in advance
J

[2020-12-17 19:17] sbordet commented on #5822
Not sure I understand.

If you use `HttpClient` in a proxy, you want to disable gzip, cookie handling, etc. See for example:
https://github.com/eclipse/jetty.project/blob/jetty-9.4.35.v20201120/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/AbstractProxyServlet.java#L278

Even if you don't do what above, you get the response headers and the response content from the remote server, and you can d

[2020-12-17 19:50] joakime commented on #5822
The key line to disable the automatic decompression is ...

https://github.com/eclipse/jetty.project/blob/bdc54f03a5e0a7e280fab27f55c3c75ee8da89fb/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/AbstractProxyServlet.java#L338-L339

[2020-12-17 20:52] JohnnyPendlebury commented on #5822
Thanks all,

That seems like a reasonable solution to the issue, to allow a proxy to simply forward the CONTENT-ENCODING header as is.

Thanks again,
J

[2020-12-18 01:02] lachlan-roberts commented on #5817
@rk1165 there's no prerequisites other than signing the ECA. If you want to help out and work on this you can implement this feature on your branch, write some junit tests for it, then you can create a pull request to the `jetty-9.4.x` branch. You should sign your commits with the email you used to sign the ECA. Then the PR will be reviewed and merged if it is approved and passes all the tests.

[2020-12-18 01:16] lachlan-roberts opened #5823 "Can't get lifeCycleStopped event from Listeners on ContextHandler"
**Jetty version**
10.0.x

**Description**
The `ContextHandler.doStop()` clears all non-durable `EventListener` in its `doStop` method. In `AbstractLifeCycle` the `LifeCycle.Listener.lifeCycleStopped()` is called directly after `doStop`. Because of this any `LifeCycle.Listener` added on the `ContextHandler` will never have `lifeCycleStopped()` called.

The only way to add "durable" listeners onto t

[2020-12-18 07:22] lachlan-roberts opened #5824 "Build up of ConstraintMappings when stopping and starting WebAppContext"
**Jetty version**
10.0.x

**Description**
After calling `stop()` then `start()` a bunch of times on a `WebAppContext`, I get a build up of constraint mappings.
Here is a section of a dump I took showing the `ConstraintMapping`s, I improved the `toString` of `ConstraintMapping` in my local code to get extra info on the mappings.

[code]

[2020-12-18 08:54] #5816 closed, assigned to nobody

[2020-12-18 10:20] rk1165 commented on #5786
Hi @sbordet,
I didn't get this part - "Also, replace Atomic* with LongAdder." I tried searching for Atomic in MonitoredQueuedThreadPool class but couldn't find any reference.

[2020-12-18 11:23] sbordet commented on #5786
@rk1165 sorry the replacement of `Atomic*` with `LongAdder` has already been done in #2288 -- ignore it.

However, please do fix `getTasks()` and replace usages of deprecated `set()` methods.

Work from branch `jetty-9.4.x`.

Thanks!

[2020-12-18 12:27] rk1165 commented on #5786
@sbordet
Created the following PR #5825
Please review.

[2020-12-18 13:05] rk1165 commented on #1969
@sbordet , @olamy
We can use one command in git to get the author names. It is akin to `git log --format="%aN"`. Can this be used to generate a list of contributors?

[2020-12-18 13:13] sbordet commented on #1969
@rk1165 I think @joakime has addressed this issue for the forthcoming releases.

[2020-12-18 13:16] rk1165 commented on #1969
Ok @sbordet

[2020-12-18 15:07] joakime commented on #1969
See last 10.0.0 release notes for example.

https://github.com/eclipse/jetty.project/releases/tag/jetty-10.0.0

Considering this issue closed.

[2020-12-18 15:07] #1969 closed

[2020-12-18 15:13] sbordet opened #5826 "Improve ConnectionStatistics to report dynamic information"
**Jetty version**
9.4.x

**Description**
`ConnectionStatistics` gathers statistics from the connections only when they are closed.

This is not optimal for benchmarks that perform a run, but then keep connections open.

It would be great if `ConnectionStatistics` (or perhaps another class, say `DynamicConnectionStatistics`) had a mode where upon an API call (e.g. `DynamicConnectionStatistics.colle

[2020-12-18 16:04] rk1165 commented on #5826
Hi @sbordet ,
Please correct me if I am wrong.
This task entails either adding a `collect()` method in `ConnectionStatistics` class or creating a new class `DynamicConnectionStatistics` which will have a `collect()` method that will gather statistics from the open connections.

[2020-12-18 16:27] sbordet commented on #5826
@rk1165 I think `ConnectionStatistics` works well for its use case and so I think we should not touch it.

This issue is another use case, somehow similar to what is covered by `ConnectionStatistics`, but different.

Let's say I start some benchmark that opens `conn1` and `conn2`.
Both connections are recorded by the new statistics class.
Then the benchmark ends, but the connections remain open.
I

[2020-12-18 21:04] sbordet opened #5827 "MonitoredQueuedThreadPool should monitor tryExecute()"
**Jetty version**
9.4.x

**Description**
`MonitoredQueuedThreadPool` does not "wrap" `tryExecute(Runnable)` like it wraps `execute(Runnable)`, and therefore statistics are incomplete (or completely lacking) when the pool is in EPC mode.

[2020-12-18 22:38] sbordet opened #5828 "Allow to create a WebSocketContainer passing HttpClient"
**Jetty version**
10.0.x

**Description**
Client applications that want to use JSR WebSocket should be able to pass `HttpClient` to support TLS and have more configuration flexibility.

This is currently not possible because `JavaxWebSocketClientContainer` is in an internal package and not unconditionally exported.

However, `JavaxWebSocketClientContainerProvider` is accessible, so perhaps adding

[2020-12-18 22:39] sbordet commented on #5828
Furthermore, the `JavaxWebSocketClientContainer(HttpClient httpClient)` constructor should not change the name of the `HttpClient`, since it is provided externally and not owned by the client container.

[2020-12-19 01:08] majones713 opened #5829 "java.util.concurrent.ExecutionException: org.eclipse.jetty.client.HttpResponseException: HTTP protocol violation: Authentication challenge without WWW-Authenticate header"
**Jetty version**

Gradle Dependency
implementation 'org.eclipse.jetty:jetty-reactive-httpclient:3.0.0'

**Java version**
1.11

**OS type/version**
macOS High Sierra/10.13.6

**Other**
Using Springs WebFlux (2.4.0) WebClient with Jetty

**Description**
When executing request I'm getting 401 status code from response.  Because of that 401 status code Jetty is throwing this exception:

[code]

The r

[2020-12-19 10:36] sbordet commented on #5829
This is a server web application problem.

A web application cannot reply with a 401, asking the client to authenticate, without providing the `WWW-Authenticate` header, exactly like the exception says.
See the specification: https://tools.ietf.org/html/rfc7235#section-3.1.

This is not a Jetty client problem, not a Jetty server problem, it's a web application problem.
You should contact the autho

[2020-12-19 10:36] #5829 closed, assigned to nobody

[2020-12-19 11:14] joakime commented on #5829
Capture the good request/response with a tool like Wireshark.
Then Capture the bad request/response.
Compare the two.

There will be a difference.
That difference will tell you what you need to fix.

[2020-12-19 11:39] sbordet commented on #5783
@gregw I don't think calculating the rate since the last call to the rate methods is meaningful.
If you poll every 5 s, you poll on the total and then you derive the rate based on the 5 s period.

What I really want from the user perspective is something since I last reset (which could be never).

I open JMC and I see the right numbers immediately, calculated from startup.
Let's say that I then ru

[2020-12-19 14:36] gregw commented on #5783
@sbordet I don't think that a rate since last reset is all that meaningful  and it is too sensitive to exactly when sampled.  It becomes only useful for automated solutions that will do a reset, run a test, then sample the rate - without any human delays.   More over, having to reset the stats to obtain a meaningful rate means that you may lose lots of longer lived statistics.

So at the minimum,

[2020-12-20 07:51] gregw commented on #5826
@rk1165 regardless of if it is in `ConnectionStatistics` or a new class, you are correct, this requires a semantic that will gather statistics from open connections.   More over it will have to remember the individual totals for each connection so that it doesn't "collect" the same bytes twice.

There is a cost associated with this of keeping a dynamic list of all open connections.... which unfort

[2020-12-20 14:31] sbordet commented on #3663
@jwhgithub what exact error do you get? The `LinkageError`?

The code snippet above it's done inside a web application?

[2020-12-21 03:52] #5706 closed, assigned to lachlan-roberts

[2020-12-21 05:07] lachlan-roberts commented on #5783
@gregw @sbordet I could add an option in `ConnectionStatistics` to not reset the rates in the `getRate` methods, and add a new method called `resetRates()` which resets the rates but not the totals.

[2020-12-21 05:09] #5757 closed, assigned to lachlan-roberts

[2020-12-21 05:12] #5785 closed, assigned to lachlan-roberts

[2020-12-21 11:28] akurtakov opened #5830 "Jetty-util contains wrong Import-Package"
**Jetty version**
10.0.0

**Java version**
openjdk version "11.0.9.1" 2020-11-04
OpenJDK Runtime Environment 18.9 (build 11.0.9.1+1)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.9.1+1, mixed mode, sharing)

**OS type/version**
Fedora 33

**Description**
Trying to use jetty-util in osgi context fails to resolve with:
[ERROR]   Missing requirement: org.eclipse.jetty.util 10.0.0 requires 'java.package;

[2020-12-21 11:45] janbartel commented on #5830
@akurtakov thanks for the report. That is very odd, I cannot see why the maven-bundle-plugin is producing an Import-Package statement for "com.sun.nio.file", I'll look into it.  I do note though that our osgi tests don't fail when we deploy jetty-util, so there must be something different about our environments, any clue what it could be?

[2020-12-21 15:01] Kristianusr opened #5831 "Changing the HTTP response code during the hot deploy new war/jar process"
During the ‘hot deployment’ jetty process when a new war / jar package is deployed, it returns an HTTP ‘_503 Service Unavailable_’ message, which suggests that the Jetty server is down or out of order.
Some of the tools for monitoring http websites, in case of receiving the 503 message alerts about the service failure.

From the functional point of view it would be more appropriate to return the H

[2020-12-21 17:21] sbordet opened #5832 "Ctrl-C after jetty:run produces NoClassDefFoundError"
**Jetty version**
10.0.x

**Description**
Starting Jetty 10 in a terminal window with the Jetty Maven Plugin via `jetty:run`, and then hitting ctrl-c produces:

[code]

[2020-12-21 18:22] janbartel commented on #5832
What webapp?

[2020-12-21 18:56] sbordet commented on #5832
@janbartel with the CometD Demo WebApp. Not sure where that `HttpClient` being stopped comes from, I don't think it's CometD, especially not registered in `ShutdownThread`.

Could be the `HttpClient` used by WebSocket? @lachlan-roberts?

[2020-12-21 23:37] lachlan-roberts commented on #5832
@sbordet If you call `ContainerProvider.getWebSocketContainer()` it will register the `JavaxWebSocketClientContainer` with the shutdown thread and this contains an `HttpClient` so it could be the websocket one. But it is strange because the `NoClassDefFoundError` is for the jetty-util `BlockingArrayQueue` and not the `HttpClient`.

[2020-12-21 23:37] olamy commented on #5832
is this line https://github.com/eclipse/jetty.project/blob/06df421b56c62263311330b26b233c4dd27adca7/jetty-websocket/websocket-javax-client/src/main/java/org/eclipse/jetty/websocket/javax/client/JavaxWebSocketClientContainerProvider.java#L64 registering a shutdownHook?

[2020-12-21 23:41] lachlan-roberts commented on #5832
I think I've seen this before. See issue #4410.

This can happen with any version of Jetty and the Jetty Maven Plugin.
It's random, and can happen at any time, with no work around that we are aware of.

[2020-12-21 23:47] olamy commented on #5832
yes it's documented on maven core side (I don't remember the link). Maven core is very aggressive to close classloader. So when a registered shutdown hook try to run the context classloader has been closed and so classnotfound.

[2020-12-21 23:52] olamy commented on #5832
link http://maven.apache.org/plugin-developers/common-bugs.html#using-shutdown-hooks

[2020-12-22 02:41] quaff commented on #5782
Any clue?

[2020-12-22 03:16] joakime commented on #5782
Just so you know, we maintain an example project that builds a live war file using embedded Jetty properly.
And it doesn't use jetty-all (which is deprecated, and fully removed in Jetty 10.0.0+)

See: https://github.com/jetty-project/embedded-jetty-live-war

[2020-12-22 03:54] lachlan-roberts commented on #5832
@sbordet when you do Ctrl-C, this will end up in the `ShutdownThread` for the server. So even if you have the `JavaxWebSocketClientContainer` attached to some LifeCycle in cometd you will still end up in the shutdown thread and may still encounter this maven bug.

Also the `ContainerProvider.getWebSocketContainer()` instance will be using the servers version of the `jetty-util` classes and not the

[2020-12-22 05:33] jwhgithub commented on #3663
Hi Sbordet,

Thanks for your reply.

Yes, the code above is inside a web application. Error message is like below:

2020-12-15T23:18:31,189 [qtp738772871-36] WARN  [AbstractWebSocketWrapper] - WebSocket error.

java.lang.LinkageError: loader constraint violation: when resolving method
"org.eclipse.jetty.websocket.client.WebSocketClient.<init>(Lorg/eclipse/jetty/client/HttpClient;)V"
the class load

[2020-12-22 06:56] lachlan-roberts commented on #3663
@jwhgithub do you have the websocket client jars included in your WEB-INF/lib, or are you using provided dependency from the server?

If you are using the websocket client jars as provided dependencies from the server, you would need to configure the `HttpClient` with `jetty-websocket-httpclient.xml` file in your resources directory. This xml file will be run with the server classloader instead of

[2020-12-22 08:27] sbordet commented on #5832
I don't see how? If the component is already stopped, it will have removed itself from the `ShutdownThread` registration and should not end up trying to stop again.

[2020-12-22 08:30] gregw commented on #5831
Why do you think a 404 is more appropriate?    That suggests that the target of the URL was not found and gives no hint that the server might be able to serve that URL in future.    The service has been found, it has just not yet been started so it is unavailable, but it may become available, so a 503 appears to be the appropriate response.

Having said that, we only respond with a 503 from a cont

[2020-12-22 10:05] akurtakov commented on #5830
My guess would be that the target platform you run your osgi tests against contains a.jre.javase IU for older Java version and thus contains the com.sun.nio.file package.

[2020-12-22 10:41] janbartel commented on #5830
@akurtakov I've narrowed this down to this line in `org.eclipse.jetty.util.PathWatcher`:

`Class<?> c = Class.forName("com.sun.nio.file.SensitivityWatchEventModifier");`

That seems to cause the maven-bundle-plugin to generate the `Import-Package` statement for `com.sun.io.file`. Interestingly, there's a `Class.forName` a couple of lines above that does _not_ generate an `Import-Package`:

` Class

[2020-12-22 11:31] janbartel opened #5834 "o.e.j.servlet.listener.ContainerInitializer does not respect servlet spec contract for ServletContainerInitializers"
**jetty 9.4.x**

See https://github.com/eclipse/jetty.project/pull/3706.

The premise of the org.eclipse.jetty.servlet.listener.ContainerInitializer according to the comments is to ease using ServletContainerInitializers in embedded scenarios. Unfortunately, it calls the SCI from a ServletContextListener: according to the spec, a ServletContextListener cannot add another ServletContextListener. Th

[2020-12-22 12:04] gregw opened #5835 "Review Durable Filters, Servlets and Listeners"
**Jetty version**

9.4.x

**Description**

Several issues have been seen with durable filters, servlets and listeners:

- Filters, Servlets and Listeners added via the embedded API are assumed to be durable, however if they are added during starting phase, they should be assumed to be non durable
- non durable ServletContextListeners are removed before the contextDestroyed event is called, so it i

[2020-12-22 12:05] gregw commented on #5835
@lachlan-roberts anything else we discussed?

[2020-12-22 12:07] gregw commented on #5834
One solution may be to use a jetty lifecycle listener instead of a ServletContextListener

[2020-12-22 12:11] gregw commented on #5782
I can kind of see something wrong in ContextHandler.doScope, but I can't make a reproduction so I can't be sure.
Anything you can tell us about your webapp with regards to listeners and servlet container initializers?

[2020-12-22 12:22] lachlan-roberts commented on #5823
I talked with @gregw, and he says that `lifeCycleStopped()` should not be called if `lifeCycleStarted()` was not called, and in this case it was added after starting the `ContextHandler` so it is intentional that `lifeCycleStopped()` is skipped.

[2020-12-22 12:22] #5823 closed, assigned to nobody

[2020-12-22 12:37] gregw commented on #5782
@quaff can you look at #5836 and try it against your usage.   It may fix the problem but without a reproduction I can't be sure.

[2020-12-22 13:52] janbartel commented on #5725
In jetty-9.4, many of them can be marked as Deprecated, as they were fixed for eg jdk8. I think in jetty-10 we can remove them.

[2020-12-22 14:14] janbartel commented on #5830
Raised PR #5838

[2020-12-22 15:20] joakime commented on #5834
for embedded-jetty, I would love to see an API like ...

[code]

Then let Jetty work out the internals of how that should come to be.

[2020-12-22 23:58] fluidsonic commented on #4877
FYI this made it as a binary-incompatible change into patch 9.4.30. Not sure if that's intentional.

9.4.29:
https://github.com/eclipse/jetty.project/blob/77c232aed8a45c818fd27232278d9f95a021095e/jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/PathSpec.java#L24

9.4.30:
https://github.com/eclipse/jetty.project/blob/271836e4c1f4612f12b7bb13ef5a92a927634b0d/jetty-http/src/main/java/org/eclip

[2020-12-23 00:45] quaff commented on #5782
You remind me, I'm hacking threadLocals on `ServletContextListener::contextDestroyed` to eliminate tomcat warnings, I will fix it, thanks for your help.

[2020-12-23 00:45] #5782 closed, assigned to gregw

[2020-12-23 10:33] janbartel opened #5841 "Allow override of init-params set in webdefault.xml by a web-fragment.xml"
webdefault.xml sets up some default init-params for the default servlet. It is currently possible to override those values in a web.xml file but not from a web-fragment.xml. It should be possible to override them in a web-fragment.xml given these constraints:

* if the last descriptor to set the init-param was webdefault.xml a web.xml, web-fragment.xml or override-web.xml should be able to change

[2020-12-23 10:59] janbartel commented on #5824
@lachlan-roberts did you specify a ConstraintSecurityHandler in a context xml or code equivalent, or did you let jetty create it for you on startup?

[2020-12-23 15:26] evgenysavostyanov commented on #5577
I added the above mentioned jars as dependencies and the server started up successfully. However, the recent penetration test revealed that the server still accepts requests from all origins, so the filter does not work as expected. Below is the current filter configuration in web.xml on JBOSS. Please, advise on what we did wrong here.

[code]

[2020-12-23 15:37] joakime commented on #5577
Since this is a Filter, it will only produce the CORS headers on requests that go to that webapp.

Other requests, not destined for that webapp would not have those CORS headers.
It's common for penetration testing tools to use a variety of requests that can often result in requests that do not go through your webapp.

[2020-12-23 15:44] evgenysavostyanov commented on #5577
Thanks for your prompt response @joakime . To be more specific, below is the direct webapp request I just sent using OWASP ZAP tool and the response it got from the webapp, I do not see any CORS headers in it, though the pentester did get them somehow. Any further ideas or suggestions?

**Request from ZAP**
[code]
**Response to ZAP**
[code]
**Response that the pentester reported**
[code]

[2020-12-23 17:32] janbartel commented on #5824
This is applicable for jetty-9.4 as well.

ConstraintMappings are never cleared out of the ConstraintSecurityHandler, thus if they were added via a web.xml/web-fragment.xml, annotation or javax.servlet api call, they will be duplicated when the context restarts.

Note that this generally isn't a problem when running in the distro, as the deployer removes the WebAppContext and creates a fresh one w

[2020-12-23 17:36] janbartel commented on #5824
Opened PR #5842

[2020-12-24 10:51] evgenysavostyanov commented on #5577
Ok, I was able to find the request that is returning Access-Control-Allow-Origin and Access-Control-Allow-Credentials response headers, it is coming from a specific servlet of our web application, please see below. Well, we can remove this servlet to solve the CORS issue, but I am wondering why the jetty filter with the above-mentioned configuration did not solve it for us...

**Request**
[code]
*

[2020-12-24 11:09] #1677 closed

[2020-12-24 11:09] #326 closed

[2020-12-24 11:09] #452 closed

[2020-12-24 11:09] #92 closed

[2020-12-24 11:09] #1257 closed

[2020-12-24 11:09] #962 closed

[2020-12-24 11:09] #2356 closed

[2020-12-24 11:09] #2116 closed

[2020-12-24 11:09] #1781 closed

[2020-12-24 11:09] #1414 closed

[2020-12-24 11:09] #1962 closed

[2020-12-24 11:09] #670 closed

[2020-12-24 11:09] #1263 closed

[2020-12-24 11:09] #3098 closed

[2020-12-24 11:09] #3112 closed

[2020-12-24 11:09] #2325 closed

[2020-12-24 11:09] #1011 closed

[2020-12-24 11:09] #2007 closed

[2020-12-24 11:09] #178 closed

[2020-12-24 14:57] janbartel commented on #5725
Fixed by #5839

[2020-12-24 14:57] #5725 closed, assigned to janbartel

[2020-12-25 09:38] lolilp opened #5843 "Lol"
**Jetty version**

**Java version**

**OS type/version**

**Description**

[2020-12-25 09:38] lolilp commented on #5843
🐳

[2020-12-25 09:50] morgwai opened #5844 "--download flag to jetty-start causes NullPointerException"
**Jetty version**
9.4.35

**Java version**
OpenJDK 64-Bit Server VM (build 11.0.9.1+1-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)

**OS type/version**
ubuntu-18.04

**Description**

java.lang.NullPointerException
	at org.eclipse.jetty.start.StartArgs.addFile(StartArgs.java:248)
	at org.eclipse.jetty.start.StartArgs.parse(StartArgs.java:1133)
	at org.eclipse.jetty.start.StartArgs.parse(StartArgs.ja

[2020-12-25 10:18] #4328 closed, assigned to joakime

[2020-12-25 10:18] #2854 closed

[2020-12-25 10:18] #2386 closed

[2020-12-25 10:18] #875 closed

[2020-12-25 10:18] #2196 closed

[2020-12-25 10:25] #5843 closed, assigned to nobody

[2020-12-27 19:13] PrintEngineering commented on #3954
I was able to get the above example program to start, but I am having an issue that Google is not able to help with:

2020-12-27 13:43:37.314:INFO::main: Logging initialized @277ms to org.eclipse.jetty.util.log.StdErrLog

I have spent all morning Googling versions and dependencies and trying to get this running. This is as far as I could get. Once I can establish a connection and get the raw data

[2020-12-27 19:51] PrintEngineering commented on #3954
I copied a pom.xml file from another project to run it directly and got the following:

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/E:/Users/Gary%20Barbour%20II/eclipse/plugins/org.eclipse.m2e.maven.runtime.slf4j.simple_1.16.0.20200610-1735/jars/slf4j-simple-1.7.5.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [file:/E:/Users/Gary%2

[2020-12-27 23:36] PrintEngineering commented on #3954
I think I solved the "SLF4J: Class path contains multiple SLF4J bindings." problem (I thought I had but now it is back). Now (also) this:

2020-12-27 18:20:06.491:INFO::main: Logging initialized @269ms to org.eclipse.jetty.util.log.StdErrLog
Usage - java org.eclipse.jetty.util.security.Password [<user>] <password>
If the password is ?, the user will be prompted for the password

How and where do I

[2020-12-28 04:59] lachlan-roberts commented on #3954
@PrintEngineering if you have more questions can you open a new issue, doesn't seem like your problem is related to this issue.

Are you doing an embedded application or using this within a webapp. The pom is bringing in dependencies which will be provided by the server, that's probably why you're getting the multiple SLF4J bindings problem. You can change the scope of these websocket dependencies

[2020-12-28 08:49] mperktold opened #5845 "Use UTF-8 encoding for client basic auth if requested"
**Jetty version**: 9.4.35.v20201120
**Java version**: AdoptOpenJDK 11.0.9
**OS type/version**: Windows 10 64 bit

**Description**
When using the `HttpClient` with basic authentication, Jetty always encodes the credentials using ISO 8859:
https://github.com/eclipse/jetty.project/blob/cbdfaaa335904a7ecc2a7b20208de00f798a5e04/jetty-client/src/main/java/org/eclipse/jetty/client/util/BasicAuthenticatio

[2020-12-29 05:31] ilatypov commented on #2867
Upgrading my use of jetty-maven-plugin from 9.4.8.v20171121 to 11.0.0 took a few uneducated guesses. I figured I needed to replace my source code imports of `javax.servlet` with `jakarta.servlet` ones, but also to replace the servlet API dependency,
[code]
with the jetty API using the "provided" scope because the API is automatically pulled by the plugin and because adding the API as a "compile" s

[2020-12-29 09:03] morgwai commented on #5844
affects also version 10.0.0:

	at org.eclipse.jetty.start.StartArgs.addFile(StartArgs.java:250)
	at org.eclipse.jetty.start.StartArgs.parse(StartArgs.java:1142)
	at org.eclipse.jetty.start.StartArgs.parse(StartArgs.java:1053)
	at org.eclipse.jetty.start.Main.processCommandLine(Main.java:309)
	at org.eclipse.jetty.start.Main.main(Main.java:76)

[2020-12-29 13:15] joakime commented on #2867
The `org.eclipse.jetty.toolchain:jetty-jakarta-servlet-api:5.0.1` is for Jakarta EE 9, and Jetty 11.
And that's the "big bang" release of Java EE which moved from the `javax.*`  to the `jakarta.*` namespace.

If you didn't ALSO upgrade your Java to 11+, and your Jetty to 11.0.0+, then that dependency is actually not being used by your JVM.

[2020-12-29 14:50] sbordet commented on #5577
@evgenysavostyanov I'm not sure I understand what is the problem. You said you were not getting CORS headers, but then you report the Atmosphere request that has them.

`CrossOriginFilter` simply adds the headers required by the CORS specification, and then forwards the request to the application.
The application can therefore examine the added headers and add/modify/remove them.

`CrossOriginFilt

[2020-12-29 15:17] evgenysavostyanov commented on #5577
Thanks for your response @sbordet. I was trying to implement the full-fledged CORS policy that only allows requests from specified domains, their sub-domains and blocks requests from origins not specified as allowed using jetty's `CrossOriginFilter`.

If your `CrossOriginFilter` does not enforce cross-origin rules but simply adds the headers as stated above, then perhaps my understanding of its ca

[2020-12-29 15:17] #5577 closed, assigned to nobody

[2020-12-29 15:58] openconcerto opened #5846 "Redirect header encoding/decoding"
**Jetty version**
9.3 and 9.4
**Java version**
Java 8 and Java 11
**OS type/version**
Windows & Linux
**Description**

If in an Handler, you use :
`response.sendRedirect("/é");`

The source code is encoded in UTF8,
app started with -Dfile.encoding=UTF-8
and  System.setProperty("org.eclipse.jetty.util.UrlEncoding.charset", "UTF-8"); as first line in main

The redirect is encoded as  /%E9  which is

[2020-12-29 16:27] sbordet commented on #5577
FTR we chose to not have the approach where the filter is blocking requests for the reason that an application can perform more dynamic checks and update the CORS headers following a more dynamic logic that would be difficult to embed in a filter.

Also, CORS is a _client-side_ mechanism. It is perfectly fine for a Java HTTP client to perform cross-origin requests and have them fulfilled while the

[2020-12-29 17:00] sbordet commented on #5845
@mperktold can you try branch `jetty-9.4.x-5845-basic_auth_charset` to see if it works for you?

[2020-12-29 18:48] sbordet commented on #4448
Closing as no further information was provided.

[2020-12-29 18:48] #4448 closed, assigned to nobody

[2020-12-30 09:23] gregw commented on #5846
The issue here is that `sendRedirect` is not really an encoder. It's parameter is a URL and thus should already be encoded.
The actual encoding being done here is by the HTTP generator that takes the field and encodes it as USASCII assuming 8859-1 as per RFC7230.

I'm really not sure what more we can do here.... although it feels like we should.
If we treated the location passed as unencoded, then

[2020-12-30 09:59] mperktold commented on #5845
@sbordet works fine, thanks! 👍

[2020-12-30 10:31] janbartel commented on #5761
Fixed by #5762

[2020-12-30 10:31] #5761 closed, assigned to janbartel

[2020-12-31 05:35] james-z-repo opened #5849 "Used Http Keep-Alive，Jetty Throw ClosedChannelException And Close Connection"
**Jetty version**
9.4.19.v20190610
**Java version**
1.8
**OS type/version**
centos6.5
**Description**

1、I used http/1.1 keep-alive with jetty，i got a error with :
[code]
2、i have a tcpdump is:

![image](https://user-images.githubusercontent.com/33625419/103396086-15d89a00-4b6c-11eb-8ac9-c5e756b7e4e8.png)

my question is:
Q1 : Why should the server close HTTPS long connections after reporting an e

[2020-12-31 12:27] sbordet commented on #5849
Can you please upgrade to Jetty 9.4.35 and see if the issue is still present?

Also please post the full DEBUG logs, so that we have a better context of what request actually failed.

[2020-12-31 13:24] joakime commented on #5849
You are using HTTP/1.1 per your pcap.

That means you as subject to RFC7230 specs (not the obsoleted RFC2616 spec, which was rendered obsolete back in June 2014)
The up to date specs, point out that the header `Connection: keep-alive` is meaningless. (the token `keep-alive` is not used on HTTP/1.1, that's a HTTP/1.0 token)
See:
 * https://tools.ietf.org/html/rfc2616 - obsolete HTTP/1.1 spec (see t

[2020-12-31 15:53] padisah opened #5850 "NPE at WebSocketSession.java, public Principal getUserPrincipal() method"
**Jetty version**
10.0
**Java version**
11.0
**OS type/version**
Xubuntu 20.04
**Description**

the     WebSocketSession.getUserPrincipal reads for **this.frameHandler.getUpgradeRequest()**
but the JavaxWebSocketFrameHandler.upgradeRequest is null

the setter for upgradeRequest has no reference, and in my debugging, it wasn't called
the method JavaxWebSocketFrameHandlerFactory.newJavaxWebSocketFra

[2021-01-04 01:56] james-z-repo commented on #5849
on the http/1.1, When will Jetty send a Connection: close on the Response Headers ? I want debug to look at the code

And，I have a question, jetty close the tcp connection(when request have keep-alive), why jetty did't send ```connection: close``` header ?

Tas v2.8.9 is i changed jetty's header

[2021-01-04 08:31] VasilVasilev93 opened #5851 "org.eclipse.jetty.websocket.servlet.WebSocketServlet cleanup"
**Jetty version**
9.4.30.v20200611

**Description**
Hello and happy new year, wish you all the best!
Ater using `websocket-servlet` in osgi environment, I found that a single instance of `org.eclipse.jetty.websocket.servlet.WebSocketServletFactory` always remains in memory after uninstall of the bundle jar. Looking at the code it seems that the factory object is not getting removed from the contex

[2021-01-04 09:15] sbordet commented on #5849
@zhengshundong01 the answer to your questions will be just guesses and we won't proceed at solving this issue.
Can you reproduce the issue? Do you have DEBUG logs? The DEBUG logs will tell us what happened.

What _could_ have happened is the following:

* The application received the `/getToken` request.
* The application itself replied with a 500 explicitly (Jetty does not add "Request failed." a

[2021-01-04 09:36] sbordet commented on #3891
This issue has been used for multiple reports, possibly all different, so I'm going to close it with final recommendations.

First of all, upgrade Jetty to the latest version.

From @Andremoniy original logs, it was a case of the server closing the connection exactly while the client picks it up to send a request.
This case causes the exception to happen randomly with very low frequency, as you ha

[2021-01-04 09:36] #3891 closed

[2021-01-04 11:58] Kristianusr commented on #5831
Sorry for the little confusion. You're right.

Let's assume the server is running in standalone mode on Linux machine.
During hot-deployment, the server returns the http 404 code, and it would be better if it returned the http 50x code, informing that the service is unavailable at the moment. In the first message I wrote the opposite case.

When we have a service that sends HTTP requests to the Je

[2021-01-04 12:18] lukago commented on #5078
I am also interested in this topic, I see above some experiments with custom connectors were started.
@sbordet @gregw Any results from this? Is it possible to solve c10k problem with fibers based connector?

[2021-01-04 12:46] sbordet commented on #5078
@lukago the c10k problem is solved since long time, see https://webtide.com/do-looms-claims-stack-up-part-1/ where an untuned laptop can do 32k threads.

We would love to hear what your use case!
Do you have a case where you need a single server to handle more than 10k concurrent threads?
Or a case where you want to handle more than 10k connections with a thread-per-connection model?
Thanks!

[2021-01-04 13:08] lukago commented on #5078
@sbordet What i mean is if we can achieve with jetty loom something like in this example based on netty: https://github.com/Jotschi/vertx-c10k-example

I runned similar tests (-c > 1000) for jetty with fiber based thread pool based on this example: https://github.com/tipsy/loomylin (javalin is based on jetty)

[code]

Despite using fiber thread pool there is 759 socket errors. I guess this happen

[2021-01-04 13:55] lukago commented on #5078
Also i wonder if tuning jetty connectors for fibers will get its performance closer to what we see in netty example where for 10k concurrent connections it handles 7k req/s.

[2021-01-04 14:30] sbordet commented on #5078
@lukago I have pushed Jetty+CometD to 400k connections a few years ago (I think it was Jetty 8) so c10k is not a problem since many years. We have clients in production that have > 100k connections on a single server, running easily.
Both use async APIs on the server.

I have not run `wrk` or `javalin` but typically it's the client that can't cope with the load that itself generate, so I would tak

[2021-01-04 14:42] gregw commented on #5078
@lukago I doubt we will ever use Loom within jetty for connectors.  Jetty is already fully async internally and we have to do a lot of clever things to prevent head-of-line blocking and even dead locks if important tasks like HTTP/2 flow control get deferred.  Virtual threads can easily be deferred, so we just don't think they are suitable (I'll say yet... but I dubious they eve will be).

However

[2021-01-04 14:44] gregw commented on #5078
See blog posts:
 + https://webtide.com/do-looms-claims-stack-up-part-1/
 + https://webtide.com/do-looms-claims-stack-up-part-2/

Also see reddit discussion:
 + https://www.reddit.com/r/java/comments/kmn6m3/do_looms_claims_stack_up_part_1_millions_of/

[2021-01-04 15:28] lukago commented on #5078
@sbordet what do you mean by async APIs, do you have any example? I dont have any knowledge about cometD but using Async Servlet seems to be not enough as I still get only ~250 max concurrent connections. I am mostly interested in sync applications but it will be good to know how to configure it for async apps too.

@gregw so if i run jetty from your test branch with config `org.eclipse.jetty.io.u

[2021-01-04 21:43] bowbahdoe commented on #5078
@lukago Just a general note that might be useful for spectators to the discussion even if its not what you were asking exactly.

An "async api" is any api that will not deliver its result immediately, such as later calling a callback or by returning an object that callbacks can be attached to.

Async Apis:

[code]

Synchronous Apis:

[code]

If most of your code is written using synchronous apis t

[2021-01-05 08:34] yyconstantine commented on #3266
I have many servers(different application, but all provide HTTP API) run in jetty, some of these have no blocked threads, but some servers do, that bothers me a lot

[2021-01-05 08:58] sbordet commented on #3266
If they are acceptor threads, that is normal.

[2021-01-05 09:22] yyconstantine commented on #3266
They are acceptor threads, but some of my application run in same version of jetty don't have blocked acceptor threads
In my opinion, they shuold show same status

[2021-01-05 10:00] janbartel opened #5853 "Multiple session cookies"
**9.4.34**

Information provided by the OP:

At first look, there is a problem with the browser/client (multiple cookies of the same name, and even same contents), but the first response from jetty is concerning too:

We know from the log that session 1jk28dc2s7prt9zqg0yrb2faq1kmn881t05szq1c46w93gr38nq exists and is not expired, but yet we are sending back a Set-Cookie for it: jetty only sends a S

[2021-01-05 10:35] sbordet commented on #3266
You probably have a different configuration, then.

[2021-01-05 11:44] gregw commented on #3266
You can configure jetty connectors to have 0 acceptor threads and then the accepting is done asynchronously by the selector.   If you have persistent connections with few accepting events, then async accepting is probably best.   But if you have many CPU cores and frequent new connections, then acceptor threads are better.

[2021-01-05 21:06] sbordet opened #5855 "HttpClient may not send queued requests"
**Jetty version**
9.4.x

**Description**
Concurrent usage of `HttpClient` may cause requests to remain queued for longer then necessary.

For example, when sending N requests and having the server hold them until the Nth is received by the server, it may happen that the client only opens N-1 connections, therefore leaving one request queued.

Typically this request would be sent as soon as one of

[2021-01-05 21:19] sbordet commented on #5855
This issue has been introduced by the changes for #5217 as well as the work done in #4904.

The remarks done in #4904 continue to apply: in case of concurrent requests, there is no guarantee that the pool will open the minimum amount of connections. For example, sending 20 requests concurrently may open 21 connections.

[2021-01-05 22:26] sbordet opened #5857 "Deprecate AbstractConnectionPool "callback" methods"
**Jetty version**
9.4.x

**Description**
`AbstractConnectionPool` has the following "callback" methods:

* `onCreated(Connection)`
* `idle(Connection, boolean)`
* `acquired(Connection)`
* `released(Connection)`
* `removed(Connection)`

They were introduced as "callbacks" for subclasses to override, but since they are called "after the fact", the `Connection` status maybe already changed.

For exam

[2021-01-06 11:17] janbartel commented on #5853
The OP reports that the problem was caused by faulty application code trying to re-set the session cookie.

[2021-01-06 11:17] #5853 closed, assigned to janbartel

[2021-01-06 13:16] lukago commented on #5078
@gregw I'd like to aske one more thing about jetty I/O model. As I understand current version of Jetty use similar model to Netty for handling I/O. So there is a separate thread pool where each thread (aka event loop) is asking kernel for new I/O events and then dispatching it to another thread pool for blocking servlets or doing evertyhing on I/O pool for async servlets.
What If we change I/O thr

[2021-01-06 13:24] gregw commented on #5078
Lukasz,

I'm not familiar with Netty's internals, but our scheduler is not like you
describe.

Having a selector thread that always dispatches to a thread pool means that
there is always extra latency and often you will end up with a cold CPU
cache and get parallel slowdown (see
https://webtide.com/avoiding-parallel-slowdown-in-jetty-9/)

If you never dispatch, then you end up with deadlock and/or

[2021-01-06 16:44] jalberti commented on #5650
@joakime and @sbordet thank you for looking into this issue, we made multiple passes at this, but we have not made much progress, looking at the latest release from the WildFly colleagues, we still see the same issue with Jetty. Would you be able to help pin point the root cause? Thank you! And btw. a Happy New Year to everybody that reads this, and who follows the Gregorian calendar. :)

[2021-01-07 12:20] VasilVasilev93 opened #5859 "Classloader leaks from ShutdownThread and QueuedThreadPool"
**Jetty version**
9.4.35.v20201120

**Description**
Hello, when running inside `osgi` environment, both classes allow classloader leaks. I noticed the leaks when using jetty's `WebSocketClient` from a bundle. After uninstall of the bundle, and of course cleaning up the `WebSocketClient` instance, its classloader remains referenced inside `ShutdownThread`'s inheritedAccessControlContext protection

[2021-01-07 17:01] janbartel commented on #5859
@VasilVasilev93 I believe the classloader pinning by the WebSocketClient instance is being fixed in PR #5840, but perhaps @lachlan-roberts can comment more about that?

As for the QueuedThreadPool contextClassLoader, I'll take a look at that, or we'd be happy to review a PR if you want to submit one?

[2021-01-08 02:48] lachlan-roberts commented on #5859
I don't think this is related to PR #5840, that PR is for jetty 10 and is the  Javax client `WebSocketContainer` is being registered with the shutdown thread.

But in Jetty 9.4 the `WebSocketClient` is also registered with the shutdown thread by default. From the code it looks like the `WebSocketClient` will always deregister itself from the `ShutdownThread` in its `doStop()` method. So are you su

[2021-01-08 03:13] lachlan-roberts commented on #5851
I think the ServletContext attributes should be cleared when the context is stopped, so if you're getting to `destroy` then the attributes should be cleared shortly after. @janbartel any idea why this would be happening?

Your suggested cleanup sounds reasonable so I will put a PR up for this, thanks.

[2021-01-08 06:31] wass9085 opened #5863 "Jetty ssl KeyStorePath and TrustStorePath doesn't work with absolute path"
**Jetty version**
9.4.34.v20201102   9.4.35.v20201120

**Java version**

**OS type/version**

**Description**

Error:

I updated jetty to  9.4.34.v20201102 and 9.4.35.v20201120 and got an error with the absolute path to KeyStorePath and TrustStorePath

It seems other users have faced the same issue https://github.com/eclipse/jetty.project/issues/5689.

Solution:
I modified the jetty-ssl-context.xm

[2021-01-08 06:39] lyg1234 opened #5864 "12545"

[2021-01-08 08:13] #5864 closed, assigned to nobody

[2021-01-08 08:24] lachlan-roberts opened #5865 "Upgrade response stored by the WebSocketSession is recycled."
**Jetty version**
10.0.x

**Description**
The `UpgradeResponse` stored by the `WebSocketSession` is recycled by Jetty after the websocket upgrade.
At the point where the upgrade response is committed we need to copy the correct response details so we can store them in the `WebSocketSession`.

[2021-01-08 08:55] gregw commented on #5865
I think `UpgradeResponse` should be like `UpgradeRequest` and NEVER have a reference to the `HttpServletResponse`.   The whole point of these classes is to break that dependency so that they can exist beyond the lifecycle of the request/response.

[2021-01-08 09:01] akurtakov commented on #5830
Will this land in Jetty 10 branch too?

[2021-01-08 09:07] sbordet commented on #5830
@akurtakov yes we merge from branch `jetty-9.4.x` forward to Jetty 10 and 11.

[2021-01-08 09:28] lachlan-roberts commented on #5865
@gregw on the server the `UpgradeResponse` is also used in the negotiation and allows you to set different extensions and headers in the response which is sent back to the client.

[2021-01-08 11:09] lachlan-roberts opened #5866 "Support Programmatic WebSocket upgrade in Jetty 10"
**Jetty version**
10.0.x

**Description**
Issue brought up on the jetty-dev mailing list by @rstoyanchev.

[2021-01-08 12:22] sbordet commented on #5866
@lachlan-roberts please consider that this seems the same use case that is already implemented in CometD, so perhaps we don't need anything because it's already there?

[2021-01-08 12:59] lachlan-roberts commented on #5866
@sbordet I think CometD is still using the `WebSocketUpgradeFilter`, and it would be registering the mappings through the `JettyWebSocketServerContainer`.

[2021-01-08 15:07] sbordet commented on #5866
@lachlan-roberts the upgrade mechanism is a standard in Servlet APIs, so I'm not sure what exactly is that we can't already do?

And if we really want to use a Jetty specific mechanism, `WebSocketMappings.upgrade()` is not enough?

[2021-01-08 15:20] VasilVasilev93 commented on #5859
@lachlan-roberts Uhm, the problem is not related to how `WebsocketClient` is using the `ShutdownThread`, I just gave an example. In osgi environment, `ShutdownThread` class is not loaded until a call is made from a bundle, f.e. `ShutdownThread.deregister()/register()/getInstance()`. When instantiating the thread, the protection domain - inheritedAccessControlContext.context (ProtectionDomain[]) -

[2021-01-08 16:35] gregw commented on #5865
@lachlan-roberts, sure, but can't it do that without a reference to the real response.  Remember everything and then when the real response is sent, they are taken from the upgrade response?

[2021-01-08 19:21] rstoyanchev commented on #5866
@sbordet my request is for a programmatic way to perform a WebSocket upgrade at runtmie without having to register mappings. Those mappings are already maintained independently.

[2021-01-08 20:06] sbordet commented on #5866
@rstoyanchev did you try the standard Servlet 4.0 API for upgrade? Not good/enough for your case?

[2021-01-08 20:43] sbordet commented on #5863
Duplicate of #5689.

[2021-01-08 20:43] #5863 closed, assigned to nobody

[2021-01-08 21:51] rstoyanchev commented on #5866
The only thing I'm aware of is the `upgrade` method on `HttpSevletRequest` but if IIRC that is a low level hook created for JSR-356 to get access to the underlying connection while the Servlet API remains unaware of any further details. Is there anything else I'm not aware of? I want to upgrade and handle the WebSocket with an `@org.eclipse.jetty.websocket.api.annotations.WebSocket` handler.

[2021-01-09 07:35] gregw commented on #5866
@sbordet we don't support the standard upgrade mechanism. Plus it won't upgrade to our websocket implementation even if we did.

[2021-01-09 08:45] SerCeMan opened #5868 "Cleaning up request attributes after websocket upgrade in Jetty 10"
**Jetty version**
10.0.0

**Description**

Hi, Jetty maintainers!

I'm currently in the progress of migrating from `9.4.x` to `10.0.0`, and I stumbled across a difference in the behaviour of the `JettyWebSocketCreator`. In Jetty `9.4.x`, the upgrade request allows for removing servlet attributes:
https://github.com/eclipse/jetty.project/blob/403d5ec318ffaa20f1f2c0b62df217cfc99ebbe0/jetty-websocket

[2021-01-09 11:24] janbartel commented on #5859
@VasilVasilev93  for the QueuedThreadPool: as a request handling thread drains out of a context, its context classloader is reset, so I'm not sure why the bundle classloader is still seen on the thread?

[2021-01-09 17:41] robozb opened #5869 ""cannot get exclusive access to" in Win 10"
<groupId>org.eclipse.jetty</groupId>
<artifactId>jetty-maven-plugin</artifactId>
<version>9.4.30.v20200611</version>

jdk1.8.0_261

Win 10 - 1909

Sadly If you want to edit(save changes) the served files (e.g. index.html) during the running jetty you get this error message in Win 10 "cannot get exclusive access to ..."  that file. It hold back the rapid developing :(

[2021-01-09 17:56] robozb commented on #5869
Thanks your any help!

[2021-01-09 19:09] robozb commented on #5869
It doesn't solve the problem :(

Troubleshooting Locked Files on Windows

https://docs.huihoo.com/jetty/the-definitive-reference/troubleshooting-locked-files-on-windows.html

[2021-01-09 19:21] robozb commented on #5869
It does: https://app.assembla.com/wiki/show/liftweb/Fix_file_locking_problem_with_jettyrun

[2021-01-09 19:24] robozb commented on #5869
An example:

            <plugin>
                <groupId>org.eclipse.jetty</groupId>
                <artifactId>jetty-maven-plugin</artifactId>
                <version>9.4.30.v20200611</version>
                <configuration>

                    <scanIntervalSeconds>10</scanIntervalSeconds>
                    <webApp>
                        <contextPath>
                            /ckf

[2021-01-09 19:25] robozb commented on #5869
the important lines:

                    <_initParams>
                        <org.eclipse.jetty.servlet.Default.useFileMappedBuffer>false</org.eclipse.jetty.servlet.Default.useFileMappedBuffer>
                    </_initParams>

[2021-01-09 19:28] robozb commented on #5869
I checked two times :)

[2021-01-09 21:07] #5869 closed, assigned to nobody

[2021-01-09 21:42] unb opened #5870 "jetty-maven-plugin fails to run ServletContainerInitializer on Windows due to URI case comparison bug"
**Jetty 9.4.35.v20201120**

**Java 1.8.0_191**

**Windows 10**

**Maven 3.6.3**

The jetty-maven-plugin can fail to run ServletContainerInitializers on Windows due to a URI case comparison bug.

My maven project includes:

[code]
This jar includes:
  * META-INF/services/javax.servlet.ServletContainerInitializer -> org.apache.logging.log4j.web.Log4jServletContainerInitializer
  * META-INF/web-fragm

[2021-01-10 02:17] unb commented on #5870
Passing maven dependency paths via getCanonicalFile() generates the correct URI e.g.:
[code]
produces: file:///C:/maven/repository/org/apche/logging/log4j/log4j-web/2.14.0/log4j-web-2.14.0.jar

(c.f. ``new File("c:\\maven\\repository\\org\\apche\\logging\\log4j\\log4j-web\\2.14.0\\log4j-web-2.14.0.jar").getCanonicalFile().toURI())``  --> file:/C:/maven/repository/org/apche/logging/log4j/log4j-web/

[2021-01-10 16:08] jaroslawr commented on #5605
@gregw After upgrading from jetty 9.4.31 to 9.4.35 async threads trying to read request body will sometimes hang forever with a stack like this:

[code]

I suspect it is because of the fix for this issue (PR #5637), as it's the only recent change in HttpInput (and the reason we upgraded in the first place). Is this expected after the fix, do you maybe have an idea why this started happening? Shoul

[2021-01-10 16:27] sbordet commented on #5605
Waiting in `blockForContent()` means that the client did not send all the bytes (or the server did not detect that).

You need to verify if this is the case, i.e. compare `Content-Length` sent by the client with number of bytes actually read by the server with number of bytes actually sent by the client.

Setting `minRequestDataRate` is only useful to protect the server from attacks that sends con

[2021-01-10 17:18] jaroslawr commented on #5605
@sbordet I understand this probably happens due to a client fault but we serve a huge number of requests/s and faulty clients will always happen, the server needs to work despite this. I am not 100% sure, but I also think it did not block indefinitely like this before the Jetty upgrade.

You are right regarding minRequestDataRate, I was confused by the comment in HttpConfiguration stating that blo

[2021-01-10 18:03] sbordet commented on #5605
Blocking reads will timeout after the `idleTimeout` setting.
If you have it at 30 seconds, the default, that call should eventually resume with an exception.

What's your `idleTimeout` value?

Also, when you get this situation, it is useful to get a Server dump via JMX as explained here:
https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jetty-server-dump.

With the server dump we will

[2021-01-10 18:52] jaroslawr commented on #5605
@sbordet I will configure the server dump and post it here when this happens again. I haven't changed the default `idleTimeout`, yet it seems like the thread is stuck indefinitely like this. How is the idleTimeout enforced in this case? The thread is stuck in the `else` branch here:

[code]

and it looks like timeout is set based on `_blockUntil` and `_blockUntil` is calculated based on `getBlocki

[2021-01-10 20:40] sbordet commented on #5605
If you block on the `else` branch then `_blockUntil` is not in the picture.
The `wait()` is notified by the `BlockingReadCallback`.

At this point we need the Server dump to gather more information -- that the idle timeout does not kick in and wakes up the blocked wait is strange.

[2021-01-11 08:32] VasilVasilev93 commented on #5859
@janbartel Is this happening somewhere outside the QueuedThreadPool class?

[2021-01-11 09:09] janbartel commented on #5859
@VasilVasilev93 yes, this happens in ContextHandler when a request is leaving a context, see: https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java#L1287

The above link is for jetty-10, but it's the same code for jetty-9.

It would be interesting if you could find out more about the thread in QueuedThreadPool tha

[2021-01-11 09:30] janbartel commented on #5824
Fixed by PR #5842

[2021-01-11 09:30] #5824 closed, assigned to janbartel

[2021-01-11 09:52] VasilVasilev93 commented on #5859
@janbartel Thanks, I will check this out, and I will upload screenshots from eclipse memory analyzer later

[2021-01-11 10:23] #5844 closed, assigned to sbordet

[2021-01-11 10:23] #5855 closed, assigned to sbordet

[2021-01-11 11:53] #4188 closed

[2021-01-11 11:53] #4262 closed

[2021-01-11 11:53] #4373 closed, assigned to joakime

[2021-01-11 12:03] morgwai commented on #5844
how about 10.0.x branch?

[2021-01-11 14:55] gregw commented on #5605
I looked at  (PR 5637) and can see nothing there that would change blocking behaviour.

If you are in the else branch, then there appears to be no timeout.  It is then possible to wait forever for a bad client that does not send the full request.

[2021-01-11 15:04] gregw opened #5871 "ExtraClasspath strips `file:` from windows paths"
**Jetty version**

**OS type/version**

Windows

**Description**

See https://github.com/eclipse/jetty.project/pull/5131#issuecomment-757905710 for description that generates:
[code]

[2021-01-11 15:30] sbordet opened #5872 "Improve JMX support for Jetty logging"
**Jetty version**
10.0.x

**Description**
Since the Jetty Logging is initialized before anything else, it cannot rely on Jetty JMX annotations.

However, it would be great if JMX support is improved (for example by specifying parameter names to operations like `JettyLoggerFactoryMBean.setLoggerLevel(String, String)`.

JMX has a basic support for annotations via `java.management.DescriptorKey`, whi

[2021-01-11 15:57] sbordet commented on #5844
Work in 9.4.x is merged forward (unless specific to 9.4.x only), so it's in 10.0.x and 11.0.x too.

[2021-01-11 21:54] sbordet commented on #5605
@gregw I don't think it's possible to wait forever, modulo bugs.
The idle timeout will kick in, the read callback will be failed, and the `wait()` will be notified and the blocked thread woken up.

[2021-01-12 04:00] jwhgithub commented on #3663
@lachlan-roberts  Thanks a lot for your detailed reply. Sorry for providing my feedback so late.
I tried the first solution with XML Config. It works with jetty 9.4.35.v20201120.

When I tried the same with jetty 9.4.14.v20181114, I noticed the "DefaultHttpClientProvider" could provide a httpClient with SslContextFactory[trustAll=false], seems the XML Config doesn't impact DefaultHTTPClientProvide

[2021-01-12 06:18] #1673 closed

[2021-01-12 06:35] lachlan-roberts commented on #3663
@jwhgithub there have been fixes to the `HttpClientProvider` mechanism since `9.4.14` so that could explain your issues with that.  It should be all working now but if you experience similar problems after `9.4.35` you should open a new issue for it.

[2021-01-12 08:50] gregw commented on #5650
I'm not even sure where to look to address this one.

Perhaps an instrumented version of jetty can be written that records the exact sequence of calls made to SslEngine API to accept the connection.     I test server could them be written to perform exactly this sequence to see if the issue can be reproduced without Jetty involved.

@jalberti is this something you can do or would you need our assi

[2021-01-12 09:43] #5689 closed, assigned to sbordet

[2021-01-12 10:30] #5845 closed, assigned to nobody

[2021-01-12 10:42] janbartel commented on #5830
Fixed by #5838.

[2021-01-12 10:42] #5830 closed, assigned to janbartel

[2021-01-12 11:02] janbartel commented on #5870
Fixed by #5873.

[2021-01-12 11:02] #5870 closed, assigned to janbartel

[2021-01-12 11:07] janbartel commented on #5684
@joakime after fixing PathWatcher in #5830, can you please check if it is still necessary to keep the PathWatcherTest disabled?? I ran it (on linux) without problems.

[2021-01-12 13:41] gregw commented on #5834
@lachlan-roberts I think you are already addressing this one in #5840
I think you are just deprecating it rather than fixing it... @janbartel is that OK?

[2021-01-12 13:44] gregw commented on #5132
@lachlan-roberts hasn't this already been substantially done?   We have an old impl for backwards compatibility and a new impl that is cleaned up?

[2021-01-12 13:52] gregw commented on #5871
A string like `/C:/some/path` is neither a URI nor a file path, thus it cannot be unambiguously supported.  It was a bug if previous versions did accept that as a file path.

[2021-01-12 13:52] #5871 closed, assigned to joakime

[2021-01-12 14:33] janbartel commented on #5834
I'm ok with deprecation if it is entirely removed in jetty-10 and above.

[2021-01-12 15:06] janbartel commented on #5810
Late to the party here, but I just want to note that I am **not** in favour of putting any extended path syntax into web.xml or annotations.

[2021-01-12 15:47] #5799 closed, assigned to lorban

[2021-01-12 16:31] sbordet commented on #5650
@jalberti I looked at the implementations of Conscrypt, OpenJDK, Netty, etc. and all return a non-null `byte[]`.

Either you are using an old implementation that could return `null`, or otherwise I don't see how that bug is possible (modulo JIT/GC bugs).

This is not something that depends on Jetty: we get the session id from standard APIs, and that should not be `null`.
I would double check exact

[2021-01-12 16:48] joakime commented on #5810
I agree with this.
IMO, Leaving this feature for only embedded-jetty users and `WEB-INF/jetty-web.xml` users are the only acceptable solutions.

[2021-01-13 00:01] lachlan-roberts commented on #5866
@rstoyanchev PR #5874 is ready if you want to take a look and give some feedback for your use case.

This exposes some additional classes including `Handshaker` in the `websocket-core` API. However you should avoid using websocket-core directly if possible. We have added a way to do programmatic websocket upgrades directly using the Jetty WebSocket API.

[code]

[2021-01-13 00:15] lachlan-roberts commented on #5834
`ContainerInitializer.ServletContainerInitializerServletContextListener` is a public class so we cant just remove it. And we have already done a release of jetty-10, so I think the best thing we can do is deprecate it right now.

[2021-01-13 01:01] #5850 closed, assigned to lachlan-roberts

[2021-01-13 01:04] lachlan-roberts commented on #5850
@padisah this has now been fixed in the 10.0.x branch, the fix will be available in a `10.0.1` release.

[2021-01-13 09:21] gregw commented on #5650
@sbordet is there any chance we get confused and think the SslEngine has completed its handshake before it really has?

[2021-01-13 11:22] rstoyanchev commented on #5866
@lachlan-roberts this looks good from an initial look. I will perform a more complete experiment next to confirm but as an API this is what I was looking for.

[2021-01-13 14:43] sbordet commented on #5650
@gregw even so, which I doubt, all implementations I have seen return an empty, non-null, `byte[]` if the session id is not available.

[2021-01-13 15:03] gregw commented on #5810
So I have changed the PR so that rather than an extra non-standard `PathSpec` plus a String[] of stnadard path specs, all mappings are now stored as `PathSpec[]`, including constraints, filters and servlets.
The string based methods remain, but only work on `ServletPathSpec`.  Using the `PathSpec` API is the only way to add arbitrary path spec types.

I've added some testing, but more is probably

[2021-01-13 21:14] #5310 closed, assigned to nobody

[2021-01-13 21:25] sbordet commented on #5786
Thanks @rk1165!

[2021-01-13 21:25] #5786 closed, assigned to nobody

[2021-01-14 07:48] chietti opened #5878 "NullPointerException when calling Request.getParameterNames()"
**Jetty version**
9.4.35 (embedded)

**Java version**
OpenJDK 64-Bit Server VM, Version: 11.0.8, Vendor: AdoptOpenJDK

**OS type/version**
Linux

**Description**

We observed this NPE once in one of our automated test setups:

[code]

The request is handled asynchronously in a worker thread (as seen in the stack above). To me it looks like the request is recycled in between these calls in **org.ec

[2021-01-14 08:11] gueuselambix commented on #1503
This issue has not been fixed. Brackets are still added to the IPv6 address. The remote address is not a _hostname_, so brackets should not be added.

[code]
You marked this as fixed, but is isn't.
With the removal of the STRIP_IPV6 property it's even worse now.

[2021-01-14 13:52] mduft opened #5879 "Jetty 11.0.0 P2 Update Site/Repository"
**Jetty version**
11.0.0

**Java version**
11

**Question**
We're currently using Jetty 9.x from the official update site: https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/

We are now forced to update to jakarta namespaces due to updates to Jersey (& co.). Thus I would like to update Jetty to 11 as well - where can I find the according P2 repository for this?

[2021-01-14 14:03] joakime commented on #5879
We don't manage the p2 update site / repositories at eclipse.

That's done by folks at eclipse that have the osgi experience (and rights to publish p2 bundles).
@rgrunber is this something you can kick off?

[2021-01-14 14:13] joakime commented on #1503
@gueuselambix your issue has nothing to do with ForwardedRequestCustomizer.

The reason you are seeing brackets is because `HttpServletRequest.getRemoteAddr()` is returning the brackets on IPv6 addresses because of changes from issue #5079.
An IPv6 address with brackets is not a hostname, it's an `IP-Literal` per spec.

Please open a new issue if you feel this is inappropriate.

[2021-01-14 14:25] rgrunber commented on #5879
Looking at the Jenkins jobs https://ci.eclipse.org/jetty/ , my guess would be we don't currently produce Jetty 11 update sites. The biggest determinant would be whether the Eclipse platform intends to move to the newer version, and having just spoken to @akurtakov , it seems the plan is for Jetty 10.

From my understanding, rather than producing p2 update sites for Jetty, they will be consuming th

[2021-01-14 14:30] mduft commented on #5879
Ugh - that would prevent any consumer of Eclipse RCP to update to a newer Jetty version as long as we don't have maven (which we don't have, we only have plain P2 update sites)... Hmm..

[2021-01-14 14:46] akurtakov commented on #5879
Nothing prevents anyone from taking care of generating such p2 repos. Neither me nor Roland are Jetty developers but we did it because our project (Eclipse SDK) needed it.
Even in the (unlikely) case that we don't manage to make use of the new Tycho features now and have to generate p2 repo for Jetty 10 it will be shortterm until we manage to skip that extra step.
Jetty 11 would be extra work whic

[2021-01-14 14:51] mduft commented on #5879
OK, sad story :| but understandable...

[2021-01-14 14:51] #5879 closed, assigned to nobody

[2021-01-14 15:20] sbordet commented on #1503
@gueuselambix can you please detail what the problem actually is?

It's just a logging issue on the request log?
Is it just a formatting issue?

Using the Java APIs, there is no difference if an IPv6 address is bracketed or not.

Our point is that the latest specification for [`Forwarded`](https://tools.ietf.org/html/rfc7239) treats IPv6 addresses always as bracketed, so while `X-Forwarded-*` may

[2021-01-14 15:32] joakime commented on #1503
If you use `X-Forwarded-For` with a IPv6 address that also contains a port, then you must use the IP-Literal form with brackets as well.

[2021-01-14 15:46] sbordet opened #5880 "Move test-simple-webapp to demos"
**Jetty version**
10.0.x

**Description**
There is a super-simple test webapp that would be handy to use in the documentation, and therefore it'll be better if it's a demo with a `[files]` section so that it can be used with `--add-module`.

[2021-01-14 18:45] rstoyanchev commented on #5866
I have now done a deeper experiment successfully. I still need to do some more testing on the async side but overall I can confirm the API is good for our needs.

Note that I did run into other challenges due to types that have moved or changed, e.g. `Frame`, `ExtensionConfig`, `WebSocketPolicy`. This a challenge for us because we'll support both Jetty 9 and 10 for a while. I've been able to work

[2021-01-14 18:52] joakime commented on #5866
@rstoyanchev lots of internals changes from Jetty 9 to Jetty 10 (and just as big from Jetty 10 to Jetty 11)

[2021-01-15 08:38] gueuselambix commented on #1503
After processing of the X-Forwarded-For, ServletRequest.getRemoteAddr() returns the bracketed address. But I would expect the unbracketed IP address according to
https://www.javadoc.io/doc/javax.servlet/javax.servlet-api/latest/javax/servlet/ServletRequest.html#getRemoteAddr--

The brackets should IMHO only be added in a context where it is not clear to distinguish it from the port.

I am using a

[2021-01-15 09:02] sbordet commented on #1503
JDK's `InetAddress` is able to handle both un-bracketed and bracketed, so I'd suggest that Guava should do the same (maybe file an issue there?).

@gueuselambix `getRemoteAddr()` is unfortunately loosely defined when it mentions proxies or CGI. When the `Forwarded` header brackets the IP it's not clear that we should unbracket it.

@gregw we go back to "what's the difference between `getRemoteHost

[2021-01-15 09:44] gueuselambix commented on #1503
@sbordet "For HTTP servlets, same as the value of the CGI variable REMOTE_ADDR." If you look at the spec of REMOTE_ADDR in the CGI spec https://tools.ietf.org/html/rfc3875#section-4.1.8, it revers to "Internet Protocol Version 6 (IPv6) Addressing Architecture" https://tools.ietf.org/html/rfc3513#section-2.2
That latter spec does not mention anything about adding brackets to the string repepresenta

[2021-01-15 10:00] sbordet commented on #1503
@gueuselambix by the same rfc3875, `REMOTE_HOST` also would be unbracketed.

No matter what, the moment we decide on one behavior, we break someone.

I think in the long run it would be better to not care at all about bracketing, like JDK's `InetAddress`.
IMHO Guava should be more lenient about this, since it seems to replicate a JDK class.

@gregw maybe you can raise it at the Servlet Specificati

[2021-01-15 12:15] sbordet commented on #5827
Questions to answer while implementing this.

* is a reserved thread the same as a normal thread wrt to stats or we need to keep them separate (e.g. number of concurrently "active" threads, time to run a task, etc. refer to fields `threadStats` and `taskLatencyStats` -- should we have similar for reserved threads or not?)
* there is no queueing for reserved threads, should we measure the latency t

[2021-01-15 14:23] sbordet opened #5882 "Simplify ALPN modules"
**Jetty version**
10.0.x

**Description**
For Jetty 10, there is no need to have dependencies of ALPN modules where `alpn.mod` depends on `alpn-impl/alpn-<java_version>.mod`, because the ALPN APIs are available and we always use those.

In fact, all the `alpn-impl/alpn-<java_version>.mod` are identical.

[2021-01-15 14:35] lorban opened #5883 "FileSystemResourceTest.testAccessUniCodeFile fails on *nix when LANG env var does not contain some UTF flavor"
**Jetty version**
9.4.x, 10.0.x, 11.0.x

**Java version**
1.8, 11, probably newer ones too

**OS type/version**
Linux, probably all other *nix flavors too

**Description**
When the LANG env var is absent or is set to "C" the JVM is unable to read files that contain non-ASCII characters in their name.  Since FileSystemResourceTest.testAccessUniCodeFile tests exactly this behavior, the build should

[2021-01-15 14:48] joakime commented on #5883
I can think of 2 approaches to this ...

1. add an assumption on the exception from file create is probably enough to skip the test if the runtime (jvm and/or filesystem) doesn't support it.
2. make this more generic with a new `void assumeRuntimeSupportsUTF8()` method that is called at the start of each test method that needs UTF8 support?

[2021-01-15 14:57] lorban commented on #5883
MacOS Catalina 10.15.7 seems to be totally unaffected by the contents of the LANG env variable: the test passes no matter what that env variable is set to.

[2021-01-15 15:06] joakime commented on #1503
RFC3513 is obsolete, replaced by RFC4291 in 2006.
RFC4291 is now also obsolete, replaced by RFC5952, RFC6052, RFC7136, RFC7346, RFC7371, and RFC8064 as far back as 2010. (and still being updated!)

Guava has a long history of issues around IPv6 support.
It doesn't support the same level of IPv6 that the JVM itself supports.

Guava doesn't support ...
* IPv6 with scope (supported by JVM, and is wha

[2021-01-15 15:15] joakime commented on #5883
Be aware of ...

https://github.com/eclipse/jetty.project/blob/bdc54f03a5e0a7e280fab27f55c3c75ee8da89fb/jetty-server/src/main/java/org/eclipse/jetty/server/SameFileAliasChecker.java#L43-L45

[2021-01-15 15:26] sbordet opened #5885 "CDI tests broken in Java 16"
**Jetty version**
9.4.x

**Description**
Since Java 16-ea-28 deep reflection on Java classes is forbidden, and Weld wants to call `protected ClassLoader.defineClass()`.

[code]

[2021-01-15 15:27] sbordet commented on #5885
This can be worked around with a command line argument `--illegal-access=debug`.

Or the test can be disabled until Weld fixed the issue.

[2021-01-15 15:30] joakime commented on #5885
Weld issue is https://issues.redhat.com/browse/WELD-2620 - currently unresolved.

[2021-01-15 16:28] lorban commented on #5883
@joakime Your proposal of adding some assumptions in the junit tests themselves sounds appealing, but I can't think of a way to make that happen in java code as it seems that it's the JVM's internal conversion of java to C strings using libc that is the culprit here.

[2021-01-15 16:51] lorban commented on #5883
Note that `LC_ALL` and `LC_CTYPE` can also impact this test, and they take precedence over `LANG` according to https://pubs.opengroup.org/onlinepubs/7908799/xbd/envvar.html

[2021-01-16 04:00] Denii1 opened #5887 "Unicredit"
**Jetty version**

**Java version**

**OS type/version**

**Description**

[2021-01-16 04:00] Denii1 commented on #5887
gh pr checkout 5526

[2021-01-16 04:00] Denii1 commented on #5887
gh pr checkout 5526

[2021-01-16 08:24] gregw commented on #1503
I'm very much against changing what we return by default.... again.   We have been pushed  back and forth by this as the world appears split between those that expect []; those that don't; and the growing group of those that can go either way.

Possibnly, we could possible add a compliance mode that stripped them from `getRemoteAddr`.

[2021-01-16 08:29] gregw commented on #5827
A reserved thread looks to the QTP as a non-idle thread blocked in its task... which it is as its task is to wait for a call to tryExecute.
Collecting stats on the ReservedThreadExecutor might be interesting, but only if we knew what to do with them and were having a big tuning effort.  So yes let's have a feature request to gather more stats, but it is a low priority until such time as we need th

[2021-01-16 15:31] #5887 closed, assigned to nobody

[2021-01-17 22:40] sbordet opened #5888 "Limit usage of HTTP/2 connections"
**Jetty version**
9.4.x

**Description**
HTTP/2 connections have an implicit max usage count determined by the fact that stream ids can go up to `2^31-1` and cannot be negative.

As such, the HTTP/2 client connection pool should default to close connections as they reach that limit (or maybe just before that).

[2021-01-17 23:00] WalkerWatch commented on #3897
The work to separate these has already been done. Work is ongoing to migrate old docs. I think this particular issue can be closed.

[2021-01-17 23:00] #3897 closed

[2021-01-18 01:43] yagurlova2 opened #5889 "Thank"

[2021-01-18 01:45] #5889 closed, assigned to nobody

[2021-01-18 06:18] james-z-repo opened #5890 "jetty how to config useBodyEncodingForURI and URIEncoding"
**Jetty version**
9.4.19.v20190610
**Java version**
1.8
**Question**

i hava a war deploy in tomcat:

<Connector URIEncoding="UTF-8" connectionTimeout="20000" port="8090" protocol="HTTP/1.1" redirectPort="8443" useBodyEncodingForURI="true"/>

but, in jetty, i don't know how to config useBodyEncodingForURI and URIEncoding

[2021-01-18 09:17] #5882 closed, assigned to sbordet

[2021-01-18 09:18] VasilVasilev93 commented on #5859
@janbartel I tested the above, it is working as you say, the classloader is reset indeed, but the issue here is that the thread is instantiated with the bundle's classloader and after the bundle gets uninstalled, the thread is still holding it.

![image](https://user-images.githubusercontent.com/8179335/104895563-bad1e000-597e-11eb-8e7b-97ddf628c1f5.png)

[2021-01-18 09:57] lorban commented on #5883
Windows completely ignores these env variables, the test passes no matter what these env variables are set to.

[2021-01-18 10:03] lorban opened #5891 "build-resources module does not specify source encoding"
**Jetty version**
9.4.x

**Description**

The `build-resources` module does not inherit from any other module and lacks the following maven property:

[code]

which makes maven log this classic warning:

[code]

[2021-01-18 10:34] sbordet commented on #5891
@joakime is there a reason `build-resources` does not inherit from the parent POM?

[2021-01-18 12:30] janbartel commented on #5859
@VasilVasilev93 interesting.  We will have to take a look in a non-osgi environment: presumably the thread's contextClassLoader would still be that of a context that had been undeployed ....

How are you running jetty with osgi?  Are you starting an osgi container from with a webapp or are you starting an osgi container and then starting jetty within it?

[2021-01-18 13:30] VasilVasilev93 commented on #5859
@janbartel Starting jetty within an osgi container.

[2021-01-18 14:03] joakime commented on #5890
We don't know what those configuration values are intended to do.
Can you explain?

[2021-01-18 14:05] joakime commented on #5891
@sbordet it cannot inherit the parent, as the parent needs/has a dependency on, build-resources.

[2021-01-18 14:34] sbordet opened #5893 "Backport useful JMX modules from 10 to 9.4"
**Jetty version**
9.4.x

**Description**
. Backport `jmx-remote-auth` and `jmx-remote-ssl` from 10 to 9.4
. Add a warning to the `jmx-remote` module that says that it's not secure.

For the latter, it may be needed to sniff system properties to emit a warning if they're not set.

[2021-01-18 14:37] sbordet commented on #5893
Also, review `demos/embedded/ServerWithJMX` to add a warning/comment for insecure `JMXServiceURL`.

[2021-01-18 15:04] janbartel commented on #5859
@VasilVasilev93 ah hah!  There are circumstances in which a queued thread pool thread is inside a context (thus with that context's classloader set on it), and it then creates another thread pool thread because all threads are currently busy. According to the constructor of Thread, a thread will inherit the context classloader of the thread that created it - in this case it would be the context's

[2021-01-18 15:26] VasilVasilev93 commented on #5859
@janbartel Yes, this is ok and it seems logical, I have it tested, it's working.

[2021-01-18 16:15] sbordet commented on #5891
@joakime `build-resources` is a module of the main POM, which therefore cannot have a dependency on it (otherwise it would be cyclic).

[2021-01-18 16:48] janbartel commented on #5859
@VasilVasilev93 excellent!  I've raised #5894 with this fix.

I'll do a separate PR for the ShutdownThread.

[2021-01-19 08:25] VasilVasilev93 commented on #5859
Okay, thanks :)

[2021-01-19 09:32] janbartel commented on #5859
@VasilVasilev93  re-reading the problem reported with the ShutdownThread, it seems to me that the QueuedThreadPool threads should also suffer from the retention of the inheritedAccessControlContext and it's associated ProtectionDomains, and hence the pinning of the contextClassLoader.  Is this not the case?

[2021-01-19 10:15] janbartel commented on #5878
@chietti  how is the Request passed into your async handling code? Is it obtained from javax.servlet.ServletRequest.startAsync() or javax.servlet.ServletRequest.startAsync(ServletRequest,ServletResponse)? Or are you holding a reference to the original Request and accessing that?  There's not enough jetty code references in the stacktrace to be diagnostic, so you'll have to provide more information

[2021-01-19 10:19] ChrisHuebsch-FLIG opened #5895 "Enabling slf based logging breaks remote debugging"
**Jetty version** 9.4.32.v20200930

**Java version**
openjdk version "1.8.0_262"
OpenJDK Runtime Environment (Zulu 8.48.0.52-SA-win64) (build 1.8.0_262-b19)
OpenJDK 64-Bit Server VM (Zulu 8.48.0.52-SA-win64) (build 25.262-b19, mixed mode)

**Question**
I develop a soap webservice using jetty.
I use eclipse and remote debugger to debugg my code.
Recently I enabled the module "logging-jul" which rel

[2021-01-19 10:38] chietti commented on #5878
Hard to say. The request is injected by Jersey since it is a REST resource. The resource looks like this:

[code]

I will follow up with our REST framework team to get info about how Jersey is doing the whole async request injection

[2021-01-19 10:39] janbartel commented on #5849
@zhengshundong01 has you question been answered? If so, please go ahead and close the issue. If not, please provide the information requested otherwise we can't progress this issue.

[2021-01-19 10:43] janbartel commented on #5822
Closing the issue as the OP reports the question has been satisfactorily answered.

[2021-01-19 10:43] #5822 closed, assigned to nobody

[2021-01-19 10:49] janbartel commented on #5809
@1lolbus1 connection failure is really frequent for many reasons (mobile loses wifi/4g, user closes browser/window/laptop lid etc etc) so the log would be absolutely full up with very noisy stack traces.

[2021-01-19 10:49] gregw commented on #5878
@chietti I do not believe it is safe to call most request methods asynchronously because not only can the request be recycled, it can change significantly with regards to servletPaths and pathInfos etc.

Best practise is to extract the information you need from the request before starting the async processing.    Or alternately defer the call to AsyncContext.complete to the async thread so that at

[2021-01-19 10:49] #5878 closed, assigned to janbartel

[2021-01-19 10:52] gregw commented on #5809
Actually, if it is possible to differentiate between remote failures (eg a connection being closed) vs a bad application action (eg response headers too big), then we should log the later at warn level.  Reopening to have a look....

[2021-01-19 10:56] janbartel commented on #5805
@lachlan-roberts and @sbordet I get these .png files too on Ubuntu when I open the documentation in Eclipse with the asciidoc plugin.   I don't know if it is caused by the plugin, or by some native rendering code that the plugin uses. I haven't found a way of configuring it yet.

[2021-01-19 11:28] chietti commented on #5878
sounds plausible, thanks!

[2021-01-19 12:45] joakime commented on #5895
On Jetty 9.4.x, if you enable any of the logging modules with start.jar, then the JVM forks to satisfy the needs of the logging framework.
To enable remote debugging, you'll have to pass the JVM args to the forked JVM.
See the `jvm` module, and know that you'll have to add those JVM args to the content in your `${jetty.base}/start.d/jvm.ini`.

This is the reason your breakpoints don't trigger, as

[2021-01-19 14:13] ChrisHuebsch-FLIG commented on #5895
Awesome! Thank you so much for your anwer.
It works!

In case someone else is reading this ticket... put this in jvm.ini:

[code]

Each one on its own line.

[2021-01-19 14:13] #5895 closed, assigned to nobody

[2021-01-19 15:13] sunng87 commented on #5866
I'm working on a Clojure websocket server based on jetty too. As in Jetty 9, it relies on `WebSocketHandler` to [configure websocket policy and create the creator](https://github.com/sunng87/ring-jetty9-adapter/blob/master/src/ring/adapter/jetty9/websocket.clj#L196)

As I checked demos of Jetty 10, the new APIs requires subclassing `JettyWebSocketServlet` and give the servlet `class` to `ServletCo

[2021-01-19 23:01] ysuei opened #5896 "Proxy timeout when downloading file"
**Jetty version**
9.4.35.v20201120

**Java version**
openjdk version "1.8.0_252"

**OS type/version**
OSX 10.15.7

**Description**
When attempting to download a large file from a server, the proxy will timeout with the following exception:

[code]
-----

Any idea how we could fix this?  Thanks

[2021-01-20 04:59] lachlan-roberts commented on #5851
We now remove the `WebSocketServletFactory` ServletContext attribute in the `destroy` method.

[2021-01-20 04:59] #5851 closed, assigned to lachlan-roberts

[2021-01-20 05:07] #5866 closed, assigned to lachlan-roberts

[2021-01-20 09:04] sbordet commented on #5896
You have configured the request to the server with a total timeout, and it elapsed while downloading the large file.
Increase the timeout, or speed up things in proxy or server or both (more hardware).

[2021-01-20 09:35] lorban commented on #5888
@sbordet I've submitted a draft PR that enforces such limitation in `HttpClientTransportOverHTTP2`. Did you have something more sophisticated in mind?

[2021-01-20 11:05] VasilVasilev93 commented on #5859
@janbartel In our specific case it doesn't cause issues, but yes, I believe so.

[2021-01-20 11:50] sbordet commented on #5888
@lorban streams are incremented by 2, so it should be something like `(2^31-1)/2` as the max usage count.
And we have to make sure that we don't accidentally go off-by-one (i.e. use the stream one more time that would produce a stream id of `2^31`).

`2^31-1 = 2147483647`

On the client, stream usage `N` produces stream id `N*2-1`, so we _should_ be safe with `N=1073741823`.
However, we need to ta

[2021-01-20 12:09] sbordet commented on #4485
ALPN modules in Jetty 9.4.x now use the `maven://` scheme which defaults to `https://repo1.maven.org/maven2/`.

[2021-01-20 12:09] #4485 closed, assigned to nobody

[2021-01-20 13:46] akurtakov opened #5898 "Consider signing Maven artifacts"
With new capabilites in Tycho and PDE, Eclipse Platform considers using Jetty Maven artifacts directly instead of generating p2 repo for them.
Issue is that artifacts in p2 repo are signed while artifacts in maven central are not. Would you please consider signing them prior to publishing to maven central?
Signing is done via https://www.eclipse.org/cbi/maven-plugins/documentation/1.1.3/eclipse-ja

[2021-01-20 13:53] jaroslawr commented on #5605
@sbordet I performed the server dump on an app stuck like this: [jetty-dump.txt](https://github.com/eclipse/jetty.project/files/5842719/jetty-dump.txt).

I monitored this app for several minutes and several threads are stuck forever with a stack like the one I posted earlier, despite using the default 30s timeout:

[code]

[2021-01-20 14:24] gregw commented on #5605
@jaroslawr what protection do you have to ensure that your non container thread is not trying to read from the request after it has completed of failed?

@sbordet @lorban I'm looking at the code and I think that it could be that because blockForContent  ultimately does a tryFillInterest, that it may fail for some reason and thus we end up blocking for ever if the connection is already closed/compl

[2021-01-20 14:26] joakime commented on #5898
Maven central requires that all artifacts (not just jar files) are capable of being verified via an associated gpg signature.
The gpg signatures used by Jetty developers are present in a file in our repo.

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/KEYS.txt

If the eclipse-jarsigner-plugin modifies the META-INF/MANIFEST.MF with signatures, then this is undesired for general usage o

[2021-01-20 14:32] akurtakov commented on #5898
It's a requirement for Eclipse SimRel (https://wiki.eclipse.org/SimRel/Simultaneous_Release_Requirements#Signing_.28tested.29) I wish we lift it in favor of solution like described at https://www.eclipse.org/lists/p2-dev/msg05910.html but it will take time to get an agreement and even more to implement.
I wish for easier path for me but looks like we are not there yet. Thanks for the fast reply!

[2021-01-20 14:32] #5898 closed, assigned to nobody

[2021-01-20 14:33] mickaelistria commented on #5898
https://wiki.eclipse.org/IT_Infrastructure_Doc#What_about_GPG_signing.3F makes it clear: jar-signing (if happening) must happen *before* pgp signing. So one cannot jar-sign a published jar on Central after the fact; adding jar-signature requires a rebuild and a new release. It's not that complicated to setup though, but it's definitely extra work...

[2021-01-20 14:37] joakime commented on #5898
@mickaelistria the order of the build is not the issue here.

It's the existence of standard java JAR signatures in the META-INF/MANIFEST.MF is the problem for many of our users.

Eclipse SimRel, RCP, and OSGi requirements should not break our other users.

[2021-01-20 14:39] mickaelistria commented on #5898
OK. I'm curious, do you have reference to concrete issues about that?

[2021-01-20 14:41] jaroslawr commented on #5605
@gregw We call `asyncContext.startAsync()` in the servlet, we submit a task to our own thread pool, we let the servlet doPost() method finish, then the non-container thread calls `asyncContext.getRequest()`, reads from the request input stream, and after it finishes processing it calls `asyncContext.complete()` - we just assume between `startAsync()` and `complete()` the request object is usable.

[2021-01-20 14:52] joakime commented on #5898
There is large variety of bytecode manipulation tools/libs trigger these issues.

A common scenario are those that modify/instrument the Jetty internals and even the Servlet APIs to for auditing and metrics reasons.
When the JARs have signatures, those classes are not allowed to be modified at the classloader level.

There's many different bytecode manipulation techniques out there.  It seems the

[2021-01-20 15:01] mickaelistria commented on #5898
OK, I was expecting jarsigning/bytecode manipulation to be more separated (ie jarsigning only happening when reading the .class file and that's all, allowing further bytecode manipulation to happen. But indeed, if this prevents bytecode manipulation, it's a major limitation!

[2021-01-20 15:04] joakime commented on #5898
To be clear, the bytecode manipulation I'm talking about is at runtime, not build time.

[2021-01-20 15:06] mickaelistria commented on #5898
Yes, but still; I'm surprised and just didn't know well enough jarsigner. I wasn't expecting jarsigner would be doing so (too) much about classloading lifecycle, I thought it just hooked at resource loading.

[2021-01-20 15:12] joakime commented on #5898
I'm not sure when the classloader behavior changed, but my recollection was that it was late in the Java 7 cycle.
In the past, the default behavior of the java classloaders `defineClass` was essentially (paraphrasing here) create class from bytes (with no `java.lang.Package` or `java.security.ProtectionDomain` defined)
Now its behavior is `ClassLoader.getAndVerifyPackage()` and then create class f

[2021-01-20 18:16] hilts-vaughan opened #5899 "Normalized IPv6 port changes is a breaking change in the format of the string literals"
**Jetty version**

9.4+

**Java version**
Any

**OS type/version**
Any

**Description**

Per https://github.com/eclipse/jetty.project/pull/5128, a change was made to add square brackets for :authority which would be spec complaint. However, anyone that calls `getRemoteAddr` (including a servlet wrapper or some other client) now gets this value too since it's non-conditional and lower level. This m

[2021-01-20 18:16] ysuei commented on #5896
Thanks.  How can I increase the timeout?
I am simply starting a proxy as such:

        proxy = new Server(new QueuedThreadPool());
        proxyConnector = new ServerConnector(proxy);
        proxyConnector.setHost(host);
        proxyConnector.setPort(port);
        proxy.addConnector(proxyConnector);
       proxy.addConnector(proxyConnector);
       proxy.setHandler(new ConnectHandler());

[2021-01-20 18:31] hilts-vaughan commented on #5899
https://github.com/eclipse/jetty.project/issues/1503#issuecomment-760222131

There appears to be some talk about this recently.

[2021-01-20 18:47] hilts-vaughan commented on #5899
I also suspect that this decision would matter less if one of the more popular libraries being used (Guava) just supports both out of the box, so perhaps that is the route to take.

[2021-01-21 14:27] #5880 closed, assigned to sbordet

[2021-01-21 15:21] sbordet opened #5901 "Starting Jetty with JPMS produces warnings about Servlet resources not found"
**Jetty version**
10.0.x & 11.0.x

**Description**
Start Jetty with `--jpms` and you'll see a number of warning like the one below:

[code]

[2021-01-21 15:47] sbordet opened #5902 "Grab Jetty startup output in documentation"
**Jetty version**
10.0.x

**Description**
In the documentation there are copy/paste sections of the output produced by Jetty when it starts.
This is useful in the operations guide to show in the documentation what Jetty does and what is printed in the terminal.

However, this copy/paste easily rots as the output changes and it reports dates and Jetty versions; also, it hardcodes the JETTY_HOME and

[2021-01-21 16:30] lorban commented on #5605
@jaroslawr while we investigate on our side, would it be possible for you to try out Jetty 10.0.0 to see if it suffers from the same problem? `HttpInput` was completely redesigned a rewritten for that release so there's a possibility that it's not impacted by this problem.

[2021-01-21 19:50] simonlee opened #5904 "jetty 11 mismatch version of setuid jar"
The included setuid jar file:
[code]
does not match the jar referenced in `modules/setuid.mod`:
[code]

[2021-01-21 21:20] olamy commented on #5904
fixed with https://github.com/eclipse/jetty.project/commit/5b7472f616ebd23efe02ba658dc1b1e5b4f0e3e7#diff-c14d587c50eced6d1cbad346cd86e3efebbefa200848f52bb813b388b5c65cce

what jetty 11 version are you using?

[2021-01-21 22:02] simonlee commented on #5904
I am using jetty 11.0.0

11.0.0 tgz.sha1 06bb0ad49d9c18b21053ff5f34d8a55e28d4f606

[2021-01-21 22:11] sbordet commented on #5896
[code]

[2021-01-22 00:08] ysuei commented on #5896
Thanks so much !!!  Greatly appreciated.

[2021-01-22 04:11] wass9085 opened #5905 "Jetty ssl KeyStorePath and TrustStorePath still doesn't work with absolute path"
**Jetty version**
9.4.36.v20210114

**Java version**
zulu11.39.15

**OS type/version**
windows

**Description**
I updated jetty to 9.4.36.v20210114. During testing, I still get same error with keystorepath.

Illustration:
![image](https://user-images.githubusercontent.com/8788364/105443812-3effbe00-5c32-11eb-8e20-8e050fe51dde.png)

This is an example of my jetty-ssl-context.xml file:
`<Set name="K

[2021-01-22 04:29] wass9085 commented on #5905
`<Set name="KeyStorePath">
    <Property name="jetty.sslContext.keyStoreAbsolutePath">
      <Default>
        <Property name="jetty.base" default="." />/<Property name="jetty.sslContext.keyStorePath" deprecated="jetty.keystore" default="D:/workdir/devunits/rc6svy_jetty_9.4.35.v20201120/out/rt/key_manager_server/ssl/server.jks"/>
      </Default>
    </Property>
  </Set>`

[2021-01-22 06:07] james-z-repo commented on #5890
How does jetty allow unsafe characters ？

I have a request under ie that contains Chinese parameters, but ie can't specially convert characters. My request was returned to 400

http://localhost:8080/example/jsp/jndiTest.jsp?name=任务中心

in tomcat i can configure this, in jetty how to configre?
[code]

I have another question， Can jetty dynamically parse request parameters according to the character

[2021-01-22 08:20] #5891 closed, assigned to lorban

[2021-01-22 08:21] #5883 closed, assigned to lorban

[2021-01-22 09:37] sbordet commented on #5905
@wass9085 can you try without `./` at the beginning?

[2021-01-22 10:51] ThiyagarajanManivannan opened #5907 "Lots of ClassNotFoundException for jmx.ObjectMBeanContainer on Jetty startup"
**Jetty version**
9.3.21.v20170918
**Java version**
openjdk version "1.8.0_222"

**OS type/version**
Description: Red Hat Enterprise Linux Server release 7.7 (Maipo)
Release: 7.7
Codename: Maipo

**Description**
In our Restful service we use Jetty server of version 9.3.21.v20170918 (Java version : jdk1.8.0_222).
When we continuously send HTTP2 Request towards the server using HTTP2 Simulator clien

[2021-01-22 10:57] ThiyagarajanManivannan commented on #5907
[JFR.zip](https://github.com/eclipse/jetty.project/files/5855309/JFR.zip)
JFR attached for ClassNotFoundException

[2021-01-22 10:59] akrourkarim opened #5908 "Http parsing error leaves the http connection in unexpected state."
**Jetty version** 9.4.35-v20201120
**Java version** openjdk 11.0.9.1 2020-11-05 LTS
**OS type/version** win10 - 10.0.18363 Build 18363

**Description**
Hi,
I'm facing the following strange behavior of the HttpParser when parsing error is thrown.

The max header size (_maxHeaderBytes) is initialized to 32768 bytes
1. :green_circle: . When a request is parsed with headers of 55 bytes, the request is

[2021-01-22 11:09] olamy commented on #5904
Thanks for the report.
But it's already fixed in jetty-11.0.x branch and will be part of next release.

[2021-01-22 11:09] #5904 closed, assigned to olamy

[2021-01-22 11:31] lorban commented on #5605
@jaroslawr Something I find odd is that you said you're using the servlet async API, but the stack trace you shared shows a call to `HttpInput.blockForContent`. That method should only ever be called internally by `HttpInput` when the servlet blocking API is used, so I wonder if you mistakenly mixed both async and blocking API use by accident?

Could you share the code of the servlet that makes us

[2021-01-22 11:44] sbordet commented on #5908
Do you have evidence in the form of DEBUG logs that we can look at?

[2021-01-22 12:35] sbordet commented on #5907
Please upgrade to the latest Jetty 9.4.x as the Jetty JMX support has been optimized.

[2021-01-22 12:35] #5907 closed, assigned to nobody

[2021-01-22 13:39] jaroslawr commented on #5605
@lorban Only the servlet is async - we do `request.startAsync()`, we submit the processing to a separate worker thread outside of the container and then we let the servlet `doPost()` method exit. In the worker thread, we take `asyncContext.getRequest().getInputStream()` and read from it "traditionally", we **do not** use a ReadListener.

[2021-01-22 14:57] joakime commented on #5908
We need to see a small reproducer project for this.
Also, the version of Jetty you specified doesn't exist (seems like a typo).
Did you really mean version [9.4.5.v20170502](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.5.v20170502)? (that would be quite old)

[2021-01-22 16:25] somayedubati opened #5909 "Cannot disable HTTP OPTIONS Method"
Please assist us for Disable HTTP OPTIONS Method in Jetty-9.4.18.20190429. We are getting this as a Moderate Vulnerability in the scans. Jetty is part of the product we are using the Job Scheduler JOC Cockpit Version 1.13.8.

Thanks and appreciate your help!

[2021-01-22 16:27] joakime commented on #5909
Specify the constraints in the `WEB-INF/web.xml` to disable OPTIONS.

[code]

[2021-01-22 17:38] somayedubati commented on #5909
thanks a lot for your assistance! I will update the web.xml and let you know if any issues.

[2021-01-22 17:49] sbordet commented on #5787
@gregw @lorban after our investigation, I think it's useful to report (per selector):

* total keys
* average selected keys
* max selected keys
* number of select() calls

[2021-01-22 18:19] sbordet commented on #5818
@gregw now that CometD has its own executor and scheduler, it would be great if this is implemented. Thoughts?

[2021-01-22 18:27] sbordet commented on #5818
Also, there may be classloader issues?

As `jetty-jmx` is provided by the server, can web application objects such as CometD objects share the JMX mechanism with the server?

Or perhaps we just add `jetty-jmx` to the web application and create another `MBeanContainer` but this time in the web classloader space?
Could there be a clash with the `ObjectName`s, if e.g. another `QueuedThreadPool` is re

[2021-01-22 18:40] sbordet commented on #5909
@somayedubati please note that `OPTIONS` is a required method to support CORS for browsers -- make sure applications deployed in Jetty does not need to support CORS.

[2021-01-22 18:58] somayedubati commented on #5909
@sbordet Thanks for your inputs! We will review and make sure that CORS support needed or not before deployment.

[2021-01-22 19:38] somayedubati commented on #5909
@joakime,  I updated the web.xml file but still showing the HTTP OPTIONS as a Vulnerability. do you have any suggestions?
 Thanks for your assistance!

[2021-01-22 19:55] akrourkarim commented on #5908
I've just updated the version of Jetty directly in my message. Was a typo.

[2021-01-22 19:56] akrourkarim commented on #5908
Will try to provide you with a public project I can reproduce with.

[2021-01-22 21:59] ysuei commented on #5896
I added this to the code, but it is still failing with the same message.  The total timeout is still 60000ms.
Below is the log:

HttpChannel:HttpClient@67e2d983-scheduler-1: Commit failed
org.eclipse.jetty.io.EofException
	at org.eclipse.jetty.server.HttpConnection$SendCallback.reset(HttpConnection.java:708)
	at org.eclipse.jetty.server.HttpConnection$SendCallback.access$300(HttpConnection.java:66

[2021-01-23 13:50] jaroslawr commented on #5605
@lorban I just noticed that when a thread gets stuck jetty logs the following:

[code]

[2021-01-24 10:05] shimon-cherny opened #5911 "Logging non-confidential requests when jetty is configured with security constraint - transport-guarantee “CONFIDENTIAL”"
Adding security constraint with transport-guarantee “CONFIDENTIAL” to the web.xml:

<security-constraint>
    <web-resource-collection>
      <web-resource-name>Everything in the webapp</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </securi

[2021-01-24 12:41] joakime commented on #5911
The request log should show the various 302 redirects happening.

[2021-01-24 13:22] cowwoc opened #5912 "Provide more context when server responds with 401 Unauthorized that violates HTTP specification"
**Jetty version** 11.0.0

**Java version** 15.0.1

**OS type/version** 10.0.19042.746

**Description**

I don't know if all cloudfront instances violate the HTTP specification, but here is what a `DEBUG` log shows one such server returning:

[code]

Subsequently jetty fails with:

[code]

It's rather annoying to track down this problem because the response is only logged when `DEBUG` logs are enab

[2021-01-24 13:48] cowwoc commented on #5912
I guess I wanted to ask three things here:

1. Is it possible to add more context when this exception is thrown?
2. Has it been your experience that cloudfront servers always violate the HTTP specification this way?
3. Is it possible to configure the client to still return HTTP 401 to the caller?

In my case, I'd know what to do with an HTTP 401 even without a header. Is the only way for me to han

[2021-01-24 20:12] akrourkarim commented on #5908
Unfortunately I was not able to reproduce the issue with a simple project. Based on the recommendation of **sbordet** here are the logs when the error 431 is thrown when the request violates the constraint regarding the header size. The same logs is generated the next request with a request that has a little bit smaller header but lower than the max header size.

[code]

[2021-01-25 09:16] leontievle commented on #5911
The goal is to understand WHY the redirection happens.

[2021-01-25 10:33] gregw commented on #5908
Can you give us all of the debug output rather than just snippets?

How sure are you of the header size?  For example, could the later requests have cookies added that increase their sizes? A wire capture of the actual headers would be handy.

[2021-01-25 10:41] gregw commented on #5818
Adding application objects as anything but unmanaged beans will introduce classloading issues.
An unmanaged bean is dumped simply by calling it's toString method.
For an application object to be managed and deeply dumped, it would need to have access to the container classes for LifeCycle and Dumpable... probably more.

To make this workable, we'd need to devise some kind of JMX/Dump interface tha

[2021-01-25 11:24] gregw commented on #5911
I think we could perhaps have some better debug logs in `SecurityHandler` and `ConstraintSecurityHandler`.
@leontievle would that be sufficient? You would have to configure your logging to show the debug from `ConstraintSecurityHandler`, which is currently not much at all, but we could augment to give the reason for failure and/or redirection.
We are not going to log these as errors, because for m

[2021-01-25 13:21] #5902 closed, assigned to sbordet

[2021-01-25 15:24] janbartel commented on #5909
@somayedubati the url-pattern should probably be `/*`, not just `/`:   ` /*` will cover all urls in your webapp, whilst / will only apply to the root page.

[2021-01-25 15:57] robertofelgin opened #5913 "Missing jar files in Eclipse hosted P2 repository"
Starting with 9.4.35, there are 3 missing jars from the Jetty osgi bundle. The source jar files are there but not the compiled versions.

- org.eclipse.jetty.apache-jsp
- org.eclipse.jetty.osgi.boot.jsp
- org.eclipse.jetty.security.jaspi

Downloading from
http://www.eclipse.org/downloads/download.php?file=/jetty/updates/jetty-bundles-9.x/9.4.36.v20210114/Jetty-bundles-repository-9.4.36.v20210114.z

[2021-01-25 16:09] joakime commented on #5913
We don't create/manage the Eclipse P2 repositories you are using.

Those P2 repositories are managed by the Eclipse IDE folks for specific usage of the Help System within the Eclipse IDE.
(The help system doesn't need/use apache-jsp, osgi-boot, or jaspi)

Of note, the work on Eclipse Tycho and the build system means that even those P2 repositories are going away in the near future.
In favor of usi

[2021-01-25 16:21] gregw commented on #5909
The problem could be with a `OPTIONS * HTTP/1.1` request.   We pass this first to a `Server.handleOptions` method and if that does nothing, then we do try to handle normally, but I'm not sure how a URI of `*` will be routed.  Testing now.

[2021-01-25 16:22] robozb opened #5914 "Maven jetty:run automatic restarting at simple client's URL request"
Jetty version:
9.4.36.v20210114

Java version:
jdk1.8.0_261

OS type/version:
Win10 - 1909

If I use maven jetty:run, a client can trigger the automatic restart of the jetty server with a socket connection, with a simple URL openStream. I don't understand why, because with a simple browser request the restart doesn't happen. The restart can cause that the server is unavailable.

Maven plugin: jett

[2021-01-25 16:26] joakime commented on #5914
What is this `Scanner` class you are using?

[2021-01-25 16:29] somayedubati commented on #5909
@janbartel and @gregw , thanks for your assistance!
I tried to give both / and /* options and did not help.
@gregw , thanks for testing on your end.

[2021-01-25 16:33] gregw commented on #5909
@somayedubati Do you know if the check is sending an `OPTIONS * HTTP/1.0` request?
Currently I see that we will route such a request to the root context.  Not sure how we could match `*`?    Investigating more....

[2021-01-25 16:43] gregw commented on #5909
@somayedubati can you try with no url-pattern element at all?

[2021-01-25 16:54] robozb commented on #5914
I updated my first post, thanks!

[2021-01-25 17:17] gregw commented on #5909
@somayedubati We have tested the suggestion of @joakime and it is working for us, but it must be on the root context.
However, we have found some other problem with uncovered path warnings.

So perhaps you can try just adding:
[code]

This may deploy with a warning, but should work.

[2021-01-25 17:20] sbordet commented on #5909
@somayedubati I would also question the tool you are using that reports `OPTIONS` as a moderate vulnerability.

`OPTIONS` is a legit HTTP method, it is heavily used in CORS and therefore important and necessary.

Reporting `OPTIONS` as moderate vulnerability would be like reporting `GET` as a moderate vulnerability, in general.

Maybe `OPTIONS` is reported as moderate vulnerability because your ap

[2021-01-25 18:39] somayedubati commented on #5909
@gregw , I was using the following based upon application of context. I was getting Forbidden if I use "/" as a context. I will try the new snippet and let you know.

	<security-constraint>
    <web-resource-collection>
      <web-resource-name>Disable OPTIONS</web-resource-name>
      <url-pattern>/api/*</url-pattern>
      <http-method>OPTIONS</http-method>
    </web-resource-collection>
    <au

[2021-01-25 18:41] somayedubati commented on #5909
@sbordet , I will find out HTTP OPTIONS using. Thanks

[2021-01-25 18:42] sbordet opened #5915 "Review property precedence in start mechanism"
**Jetty version**
9.4.x

**Description**
A `$JETTY_BASE/modules/foo.mod` with an `[ini]` section that specifies a property is not overwritten neither by the correspondent `$JETTY_BASE/start.d/foo.ini`, nor by an explicit command line property.

[2021-01-25 18:43] joakime commented on #5909
It could be a misinterpretation of the report from your security tool.

The `OPTIONS` method is very much a required feature for nearly all modern browsers.
Please dig into the reason for that report, as it's probably something the tool is expecting in the response headers that isn't present.

[2021-01-26 08:50] gregw commented on #5909
@janbartel and I have found an issue with this.  The main constraint to block OPTIONS works fine, but there is a problem combining the omitted methods as we already have the following in defaultweb.xml:
[code]
There is some strangeness in how the TRACE and OPTIONS omission constraints are merged.   However, we do believe that the following will be sufficient to block all OPTIONS methods unless mat

[2021-01-26 15:48] janbartel commented on #5914
@robozb  without knowing what the Scanner class is doing, it's impossible to say. Perhaps you could try capturing the http dialog with wireshark or something similar to see what requests are being sent and what responses are generated.

For maven jetty:run, the only files we monitor that could cause a restart are:

+ pom.xml
+ web.xml, web-default.xml, web-override.xml, jetty-env.xml, jetty-web.xm

[2021-01-26 16:25] lorban commented on #5605
After quite some investigation, I managed to trace back the problem and reproduce it locally. It is caused by a combination of async request, blocking IO and async timeout. The core of the problem is that if the async request times out while a thread is blocked in `ServletInputStream.read()` there is a possibility that the thread will stay stuck in it forever.

We're currently busy working on a fi

[2021-01-26 17:43] robozb commented on #5914
Dear Janbartel!

I use Netbeans 12.0. OK, I'll check the details again. This is very interesting, I used simple HTTP requests with java URL class or Apache HTTP client, and all the time something triggers Jetty to restart. I guess something wrong in the same jvm, but I tried it with a parallel IDE (Netbeans 11 or 12.2, client and server in different IDE) as well with the same result.

Thanks: Beci

[2021-01-26 18:16] sbordet commented on #4495
@lorban do you have more thoughts about this issue?

[2021-01-26 18:22] jmcc0nn3ll opened #5920 "Provide a Healthcheck Module"
**Jetty version** Jetty 10+

**Java version** N/A

**OS type/version** N/A

**Description**

I wonder if it makes sense for us to offer a healthcheck module along the lines of this Informational RFC

https://tools.ietf.org/html/draft-inadarei-api-health-check-05

Something like the example below, much like elements of the output from the statistics handler but formatted to this convention and put

[2021-01-26 19:02] joakime commented on #5920
Also, "health check" is an existing EE standard used in MicroProfile.

* https://projects.eclipse.org/projects/technology.microprofile
* https://microprofile.io/
* https://github.com/eclipse/microprofile-health/releases/tag/3.0

[2021-01-26 19:07] jaroslawr commented on #5605
@lorban Thanks for the info! This explanation makes sense, I meanwhile discovered this only happens for us on a few specific machines which due to some low-level OS bug have abnormally high load, otherwise reading the request would never take that long in our environment.

[2021-01-26 19:19] jmcc0nn3ll commented on #5920
Right, that is mentioned somewhere in one of the issues I was reading through on the github project.  I have noticed the concept on the rise recently, or I have just been reading more things in related areas, which is what prompted me to look around for some sort of standard.

[2021-01-26 19:31] joakime commented on #5539
Merged in PR #5560, and is available on jetty version 9.4.35.v20201120

[2021-01-26 19:31] #5539 closed, assigned to joakime

[2021-01-26 19:31] wass9085 commented on #5905
Hi  @sbordet removing the ./ fixed the issue for me. However, we didn't experience this issue in the in jetty versions before  **9.4.34.v20201102** . Basically, what I am asking is what changed, in jetty 9.4.34.v20201102 that we now need to remove the ./

[2021-01-26 21:18] sbordet commented on #5905
@wass9085 you are setting the absolute path as the default for the `jetty.sslContext.keyStorePath`, which is the relative one.

Do not modify XML files.

Instead, modify `ssl.ini` and set the property:

[code]

[2021-01-26 23:41] jalberti commented on #5650
We made some progress with this issue, we still do not understand why it is working or not, but we can confidently state that when we have a client that uses in the client hello message the extension `server_ticket` and the server actually in response generates a "new session ticket" ... the reported issue can be observed. If the client does not request, or the server does not generate.. the hands

[2021-01-27 07:58] gregw commented on #5915
Are you sure?  Properties are well ordered and we even use += and ?= operators that rely on ordering to work.

But to contradict myself, perhaps [ini] sections are intended to be durable, else they would be in a [ini-template] ???

[2021-01-27 08:01] lorban commented on #4495
@sbordet I wonder if the `ConcurrentLinkedDeque` `_stack` could be replaced by a `Pool`.

[2021-01-27 08:08] gregw commented on #4495
@lorban I don't think Pool is suitable as it expects number of entries that are taken from and put back into the pool.
The RTE is more like a quota, with a limit on the number of threads that can be waiting for a tryExecute, but those threads themselves are taken from the larger threadpool.   Once a reserved thread is given a task, it is no longer reserved and not counted in the RTE. The only thin

[2021-01-27 08:14] janbartel commented on #5901
Fixed by releases 4.0.6 and 5.0.2 of the toolchain servlet-api, see pr #5918 and #5919.

[2021-01-27 08:14] #5901 closed, assigned to janbartel

[2021-01-27 09:17] 4devwithgit opened #5922 "regression tests getting stuck with jetty upgrade of v9.4.33"
**Jetty version -v9.4.33**

**Java version - IBM JDK 8 SR6 FP20**

**After we upgraded the jetty in our product from v9.4.26 to 9.4.33/9.4.35, the regression tests cases are consistently getting stuck after running for couple of hours at different tests cases. But if we downgrade the jetty version back to 9.4.26, the tests continues as usual.
We do have some stack trace where jetty classes are get

[2021-01-27 10:28] chietti commented on #5605
@lorban Would non-blocking I/O using ReadListener also be affected by this bug? Or is it only affecting blocking calls?

[2021-01-27 10:44] lorban commented on #5605
@chietti using a `ReadListener` would work around that bug, as it's really dependent on the async request/blocking IO/async timeout trio.

[2021-01-27 15:45] gregw commented on #5922
Not much there for us to go on!   Perhaps share your thread dumps and stack traces?
Also if you can get a [jetty server dump](https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jetty-server-dump) as well?

[2021-01-27 15:46] gregw commented on #5922
Also, tell us about your app.  Is it using async servlets? async IO? websocket? JDBC?????

[2021-01-27 19:32] joakime opened #5924 "Javadoc build triggers maven error on java.lang.NoSuchMethodError: 'org.apache.http.HttpHost org.apache.http.client.utils.URIUtils.extractHost(java.net.URI)'"
**Jetty version**
jetty-10.0.x build

**Java version**
Java 11 and Java 15

**OS type/version**
Unix / Linux

**Description**

Full reactor build fails in `javadoc` module on Jetty 10.0.x

[code]

[2021-01-27 19:44] joakime commented on #5924
Running locally with a pristine maven local repository and using this command line can occasionally trigger the issue.

[code]

This is a flaky behavior at the low level Maven build (not a specific plugin like dependency or javadoc).
I can see from the downloaded content in my local repository that apache httpclient 4.0.2 was downloaded.

Here's my local failure (looks identical)

[code]

[2021-01-27 21:23] jmcc0nn3ll commented on #5924
On a fresh checkout and build with ci profile (and errorprone is what I had) you can build and it will fail, if you then comment out every module aside from jetty-documentation and build it will fail (so just two modules in the reactor).  Then you remove the jetty-documentation module and build it will pass, downloading some new jars and then it will just work from then on it seems.

This is what

[2021-01-27 21:41] joakime commented on #5924
This triggered the failure for me.

[code]

[2021-01-27 21:45] joakime commented on #5924
I captured the failure during `mvn --debug`.

[build-docdebug.log.gz](https://github.com/eclipse/jetty.project/files/5883285/build-docdebug.log.gz)

[2021-01-27 22:07] joakime commented on #5924
Olivier, here's the rundown of all of the downloaded artifacts in the local repo, and which ones have the `org.apache.http.client.utils.URIUtils` class.

Command line used to generate this:

[code]

[build-javap.log.gz](https://github.com/eclipse/jetty.project/files/5883387/build-javap.log.gz)

You'll see that only the actual httpclient artifacts have that class.
And only version 4.0.2 is missing

[2021-01-27 22:15] robozb commented on #3833
Thanks @Janbartel, It helps me at another project :)

[2021-01-28 07:48] 4devwithgit commented on #5922
Here is the thread dump, though we dont see much with jetty threads
[swathi_regression_jvm_dumps.zip](https://github.com/eclipse/jetty.project/files/5885581/swathi_regression_jvm_dumps.zip)

[2021-01-28 12:51] joakime commented on #5924
PR #5925 merged.

[2021-01-28 12:58] robozb commented on #5914
In Eclipse I don't experience the problem, but if the server is in eclipse and the client in Netbeans the Jetty restart automatically itself at a simple HTTP request. The Netbeans run output is:

`cd C:\Users\Beci\Desktop\TMP\TesztHTTPClient; "JAVA_HOME=C:\\Program Files\\Java\\jdk1.8.0_261" cmd /c "\"C:\\Program Files\\NetBeans-12.0\\netbeans\\java\\maven\\bin\\mvn.cmd\" -Dexec.args=\"-classpath

[2021-01-28 13:26] joakime commented on #5924
Reopening as `<module>javadoc</module>` is still disabled in main `pom.xml`

Both in the `eclipse-release` profile ...

https://github.com/eclipse/jetty.project/blob/fb4ecf09e91c07d4ede7a89810b4861fad5d5685/pom.xml#L1320-L1326

and the `ci` profile ...

https://github.com/eclipse/jetty.project/blob/fb4ecf09e91c07d4ede7a89810b4861fad5d5685/pom.xml#L1386-L1403

[2021-01-29 00:04] olamy opened #5930 "Update documentation to Obfuscate and De-obfuscate passwords"
**Jetty version**
10.x
Because of slf4j the simple command doesn't work anymore:
[code]

[2021-01-29 09:28] 4devwithgit commented on #5922
We are using jetty with the http server for the product Sterling B2B integrator. We dont use asyncServlets, but it does have JDBC,  websocket.
I believe you mentioned about jetty server dump. But, since, we dont really see error with jetty threads, will it be really useful here to get jetty server dump?

[2021-01-29 15:56] sbordet opened #5931 "SslConnection should implement getBytesIn()/getBytesOut()"
**Jetty version**
9.4.x

**Description**
`SslConnection` does not implement `getBytesIn()/getBytesOut()` but it should, so that load test reports are accurate in showing how many bytes traveled through the network.

Using `IncludeExcludeConnectionStatistics` would allow to select what connection needs to be tracked to avoid double-reporting the bytes.

[2021-01-29 16:26] joakime commented on #5924
Still happening!  grrr ....

[2021-01-30 03:24] SerCeMan commented on #5868
Hey, @lachlan-roberts! I'm just wondering if you could suggest a workaround for this issue. I'm thinking of adding another filter that re-packs all attributes into a holder attribute which can later nullify all of the references, however, the workaround feels incredibly hackish.

[2021-01-30 15:52] joakime commented on #5924
A slightly faster build command line to trigger this issue ...

Assuming your local repository is in `~/.m2/repository/` ...

[code]

[2021-01-31 11:28] olamy commented on #5924
should not affect profile `eclipse-release` because we download m-javadoc-p earlier to build every module javadoc-jar file.
simple workaround could be to run per default javadoc:jar for jetty-util

[2021-01-31 11:58] olamy commented on #5924
should be fixed by https://github.com/eclipse/jetty.project/pull/5932

[2021-01-31 23:32] #5924 closed, assigned to joakime

[2021-02-01 00:35] olamy opened #5933 "ClientCertAuthenticator is not taking account SslContext configuration"
**Jetty version**
10.0.x (but might a 9.4.x issue as well)

**Description**
Using CLIENT-CERT as login with a configured trustStore via ssl.ini.
[code]
The used `ClientCertAuthenticator` instance is not using the configuration from the instance SslContextFactory instance.

[2021-02-01 08:49] gregw commented on #5868
@SerCeMan that approach would work, but is a bit hackish.    Best is that we allow you to remove those attributes.  I've flagged this to be fixed in the next release.

[2021-02-01 08:55] SerCeMan commented on #5868
Thanks, @gregw! Let me know if you'd prefer me to submit a pull request, I could try to give it a go.

[2021-02-01 09:25] 4devwithgit commented on #5922
Any update or findings on this issue?

[2021-02-01 09:48] 4devwithgit commented on #5922
We have 30k test cases, so will the jetty server dump going to help? Its getting stuck after 13.5k tests, just wondering if it fills up the machine, without generating the key data point that we need?

[2021-02-01 10:34] janbartel commented on #5922
The thread dumps don't even mention jetty, and I don't even see any jetty classes listed in the java classpath:  looks like all that is listed is just cruisecontrol, not what cruisecontrol is running.  I would try running these tests outside of cruisecontrol, maybe that will give you some better thread dumps.

When you say the tests "hang" what does that mean? Is there a garbage collect in progres

[2021-02-01 16:58] sbordet commented on #5933
@lachlan-roberts do you want to tackle this?

Ideally, web applications that need this kind of authentication will need to setup a custom Jetty context XML file, where the configure the authenticator.

However, we want to have a good default if that custom XML is not there.

The idea is that, in `DefaultAuthenticatorFactory.getAuthenticator(...)` we create a `ClientCertAuthenticator` passing to th

[2021-02-01 18:09] sbordet commented on #5896
@ysuei can we close this issue then?

[2021-02-01 18:30] sbordet commented on #5912
@cowwoc RFC 7235 [states](https://tools.ietf.org/html/rfc7235#section-3.1):

   a WWW-Authenticate header field (Section 4.1) containing at least one
   challenge applicable to the target resource.

What do you mean by "context"?

I'm not sure whether it's cloudfront not sending the header, or it is being stripped by something in the middle.

Currently not possible.
It's a rather major violation o

[2021-02-01 18:34] cowwoc commented on #5912
Show the full HTTP request/response leading to this failure. HTTP method, URL, headers, body... That sort of thing.

Digging into this further, I think we can leave things as-is: keep on throwing that exception and users can check for `HttpResponseException.getResponse().getStatus() == UNAUTHORIZED_401`. The only thing we're really missing at this point is a more helpful exception message as menti

[2021-02-01 18:39] sbordet commented on #5912
@cowwoc don't you have everything already available?

[code]

[2021-02-01 19:09] cowwoc commented on #5912
In my case, the exception catching occurs further up the stack from the code sending the request. I don't want to handle this exception lower down because I want a single retry loop across multiple requests.

Any chance of adding `HttpResponseException.getRequest()` or would that cause its own set of problems?

[2021-02-01 19:13] joakime commented on #5912
The `Response.getRequest()` API not working for you for some reason?

[2021-02-01 19:17] cowwoc commented on #5912
🤣 Well played. I wasn't aware this even existed.

We can close this ticket. I wish this information was more discoverable but in any case I've now got everything I need. Thank you!

[2021-02-01 20:06] #5912 closed, assigned to sbordet

[2021-02-01 20:20] cowwoc commented on #5912
@joakime Sorry. I have a follow-up question. `Request.send()` returns `ContentResponse` but `HttpResponseException.getResponse()` returns a `Response`. Why does the latter not return a `ContentResponse`? Am I supposed to check it using `instanceof` and cast it as needed? Or is something else going on?

[2021-02-01 20:25] ysuei commented on #5896
Thanks.  Closing the issue.

[2021-02-01 20:25] #5896 closed, assigned to nobody

[2021-02-01 20:33] sbordet commented on #5890
As per specification, query parameter values must be URL-encoded, so it must be:

`jndiTest.jsp?name=%E4%BB%BB%E5%8A%A1%E4%B8%AD%E5%BF%83`.

To support your use case, you can do this:

[code]

This works as long as the client (browser or other) sent the URI with the proper format, and this is not always the case.
For example, from HTML you have to set `accept-charset` attribute explicitly.

Your b

[2021-02-01 20:35] sbordet commented on #5912
Why do you need to cast it down?

[2021-02-01 20:54] joakime commented on #5890
IIRC, When you move to HTTP/2 or HTTP/3 you will no longer be able to send that badly formatted URL/URI query section.

Also note, that just because your browser shows those characters in it's location bar does not mean it sent those character in the raw.
Nearly all browsers will convert unicode characters to UTF-8 before sending to the destination server, but will present the unicode glyphs on th

[2021-02-01 21:58] cowwoc commented on #5912
@sbordet If the request was successful I invoke `ContentResponse.getContentAsString()` and parse the response body.

[2021-02-01 22:30] sbordet commented on #5912
But the response is not successful -- you just got an exception and you're pulling a `Response` out of the exception.

The exception reports a `Response` and not a `ContentResponse` because in case of I/O exceptions you may not even received a response, or maybe only some part of it.

[2021-02-02 05:27] 4devwithgit commented on #5922
Do you have any suggestion, if our tests are hung, how can we troubleshoot it wrt jetty?

[2021-02-02 06:00] 4devwithgit commented on #5922
The VM where the CI tests are running is at 75 % CPU
free -g
              total        used        free      shared  buff/cache   available
Mem:             45           8           1           0          36          36
Swap:            12           3           8

[2021-02-02 07:48] 4devwithgit commented on #5922
we are using junit-4.4

[2021-02-02 07:53] cowwoc commented on #5912
That makes sense. Thank you for the clarification.

[2021-02-02 09:13] akrourkarim commented on #5908
I would have liked to provide you all the debug output but cannot "anonymize" the huge number of logs. Will try again to do the exercice.
To answer your question about the header size. I control the size of the request because I manually sent the HTTP request as RAW data to my service..
However when I compare the two projects, the one for which the issue occurs and the other without the issue, the

[2021-02-02 12:25] lachlan-roberts commented on #5783
PR #5789 has been merged and fixed the ConnectionStatistics rate calculation.

[2021-02-02 12:25] #5783 closed, assigned to nobody

[2021-02-02 12:37] lachlan-roberts commented on #5868
@SerCeMan I have opened PR #5935 to fix this, feel free to add your review. With the PR you should now be able to set request attributes in the `JettyWebSocketCreator`.

[2021-02-02 15:42] charlag opened #5937 "Unnecessary blocking in ResourceService"
**Jetty version**
9.4.27.v20200227

**Java version**
14

**OS type/version**
GNU/Linux

**Description**
It seems Jetty is doing unnecessary blocking in ResourceService. There's a decision taken based on the content size:

https://github.com/eclipse/jetty.project/blob/b16313b1c89d86f025cbbeccf7aa1a8861788c57/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java#L686-L687

If the

[2021-02-02 16:04] joakime commented on #5937
Have you changed your response buffer size?

At default value, if the content size is less than the buffer size, that sendContent should never block.
It's a simpler code path than the async one, with the same end result, send of the content without blocking.

@gregw Perhaps we should just skip the simpler code path if the response buffer size has been changed from default?

[2021-02-02 20:15] joakime opened #5938 "CustomRequestLog doesn't report remote address on 505 errors"
**Jetty version**
9.4.36.v20210114

**Java version**
11.0.9

**OS type/version**
Linux

**Description**
The following setup of jetty base

[code]

Start the server, and then issue the following request a few times (to allow the requestlog to buffer enough to write a few lines)

[code]

You see the following in the request log ...

[code]

So there's a few questions on this behavior ...

1. Why 2 e

[2021-02-02 20:18] joakime commented on #5938
Also, is this behavior at the requestlog level unique to CustomRequestLog or something more fundamental?

[2021-02-02 21:30] akrourkarim commented on #5908
Here is the full debug stack of Jetty based on the following requests:

1. 🟢 Request with short header -> 400 Http Error Code expected and received
2. 🟢 Request with an header of **32Kb - 1** -> 400 Http Error Code expected and received
3. 🟢 Request with an header of **32 Kb** -> 431 Http Error Code returned
4. 🔴 Request with an header of **32 Kb -1** -> 431 Http Error Code returned but was 400 th

[2021-02-03 01:42] olamy opened #5939 "Use unwrapped exception as exception type for error handling"
some context here https://github.com/jetty-project/tck-run/issues/14

[2021-02-03 11:08] sbordet commented on #5937
I agree with the OP that the `if` statement in `ResourceService` should be split.

@charlag would you like to provide a PR?

[2021-02-03 11:10] charlag commented on #5937
@sbordet we just removed the size conditon completely and as you mention "split" it seems like you have something else in mind.

[2021-02-03 12:16] sbordet commented on #5937
@charlag yes I meant to remove the buffer size condition. @gregw do you recall why that check was added?

[2021-02-03 12:25] joakime commented on #5937
The `ResourceService` line for selecting async based on size came from a refactor to create the `ResourceService` in commit 460e6e2ff343bb651857fa8aa7d3ea98562a76e7

Prior to that, the line in question was in the `ResourceHandler`.

https://github.com/eclipse/jetty.project/blob/7b713507c68a07c3031dfd1aa4077450cd271573/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ResourceHandler.java

[2021-02-03 12:56] 4devwithgit commented on #5922
@janbartel do u have any response based on my previous messages?
This is a critical issue for us, and all the customers of Sterling B2B Integrator, and we cant really upgrade from 9.4.26 to higher secure version (9.4.33 psirt fix)given our regressions tests are not completing.

[2021-02-03 13:13] jmcc0nn3ll commented on #5922
If time is an issue you may want to consider support through webtide.com since open source support is on an as available basis, especially if you are hesitant to share information. This sort of triage is a normal aspect of that support and is typically isolated or specific enough to a situation like yours as to be ill-suited for support in this project forum. It would be different if you could poi

[2021-02-03 13:26] gregw commented on #5922
@4devwithgit sorry but we just don't have enough information.   We don't even known what "getting stuck" means in your context?   Is it jetty not responding?  Or just a test that doesn't complete?

Of your 30k tests, you say it is getting "stuck" after 13.5k of them.  Can you identify that individual test that it get's stuck on?  Can you run just that test by itself? Does it pass?    If you remove

[2021-02-03 13:41] gregw commented on #5937
My recollection is that small content was not explicitly sent using asynchronous because it was aggregated into the output buffer, which could then asynchronously flushed.   Also, small contents are less likely to block and can be entirely flushed within the call to sendContent, so the blocker may never block.

However, I'm not so sure that the response buffer size is a reasonable definition of "s

[2021-02-03 13:58] joakime commented on #5922
Changes in websocket since 9.4.26

* #5785 - removed log warning message on CompressExtension failure
* 639cad63fe3085648194f6a982e88f7bf88e3981 - present parser warnings better in logs
* #5726 - added example of proxy support for websocket
* #5499 - use ByteBufferAccumulator for compression extensions
* #5368 - when using streaming delivery (InputStream / Reader) only move to next message once th

[2021-02-03 14:13] joakime commented on #5922
@gregw if their code is using `InputStream` or `Reader` as a message delivery option with the `javax.websocket` API **and** the OP has implemented some kind of workaround for message deliver (or message order) because of how the threading works with the streaming delivery options in 9.4.26 then those workarounds will likely be the cause of the issues they are experiencing now.

Keep in mind that `

[2021-02-03 14:25] #5787 closed, assigned to sbordet

[2021-02-03 16:13] janbartel opened #5941 "Use jakarta.servlet.jsp.jstl version 2 implementation from Eclipse Glassfish"
For jetty-11, we have been mashing up the 1.2 version of the org.apache.taglibs implementation to shade in the jakarta.servlet api instead of the javax.servlet api. This was just a temporary fix to allow us to keep developing jetty-11 with the jakarta.servlet namespace. Note also that while our org.mortbay.taglibs-standard.jar contained the shaded classes, the -source jar we have been publishing s

[2021-02-04 02:45] lachlan-roberts commented on #5938
@joakime You are probably getting the 505 because `echo` is not interpreting the `\r\n` as CRLF and just sending it as text, if you use `echo -e` this seems to work properly and you instead get `Bad Message 400: Bad URI`.

When I tried this I also never got 2 request log entries per request just the 1.

[2021-02-04 06:52] akrourkarim commented on #5908
I close this issue since I cannot reproduce the issue with JUnit tests.
Having a look to the full logs, the last request is increased with a new header in background: "Connection: keep-alive".
So @gregw you were right, the Http client I'm using is not as passive as I though.

Edit:
- In fact according to the logs of Jetty that display the received request, the second request that fails has less he

[2021-02-04 06:52] #5908 closed, assigned to nobody

[2021-02-04 07:15] 4devwithgit commented on #5922
Thanks for the above explanation. @joakime @gregw @jmcc0nn3ll

Just to clarify further,
9.4.26 - There is no issue seen, and this is what the product is using right now.
9.4.33 - This had the psirt fix, and so we wanted to upgrade to minimum this version. But, we see the issue here.
9.4.35 - We see the same issue here as well.
9.4.36 - We have not tested it yet.
**Latest tests - 9.4.27 - its compl

[2021-02-04 08:46] gregw commented on #5908
Thanks.  If the pain does give some more definitive info at any stage, then please reopen and we'll see what can be done.

[2021-02-04 12:36] wilkinsona opened #5943 "Jetty 10.0.0 cannot be used with a production-ready version of Logback"
**Jetty version**

10.0.0

**Java version**

11.0.7

**OS type/version**

All

**Description**

I am trying to add support for Jetty 10 to Spring Boot. Our default logging system is Logback and we use the latest production-ready version of Logback which, at the time of writing, is 1.2.3. Unfortunately, this does not work with Jetty 10 due to its dependency on an alpha of the SLF4J 2.0 API which re

[2021-02-04 14:02] joakime commented on #5943
SLF4J 1.7 does not support JPMS, which is one of our focuses on Jetty 10+.

SLF4J 2.0 does.

[2021-02-04 14:15] joakime commented on #5943
The slf4j-api is stable.
If you don't need jpms, then swap the slf4j-api-2.x.jar on the server for slf4j-api-1.7.x.jar and use your logback-classic-1.2.3.jar instead.
If you need jpms, then you have to use slf4j-api-2.x.jar (as slf4j-api-1.7.x.jars are not compatible)

[2021-02-04 14:30] wilkinsona commented on #5943
Comparing the 1.7 API and the 2.0 API, I don't believe it is stable. For example, [`Logger`](https://github.com/qos-ch/slf4j/blob/e2c29c81df6fb405a3c5a6dfd1cf28ba26a7c1d6/slf4j-api/src/main/java/org/slf4j/Logger.java) has 6 methods (at the time of writing) that are new in 2.0.

If Jetty isn't using any of the new in 2.0 methods then downgrading to 1.7.x should work but it makes me a little wary of

[2021-02-04 14:39] joakime commented on #5943
The new 2.0 APIs in slf4j-api-2.x.jar are part of the fluent APIs introduced in the 2.x series.
We do not use the fluent slf4j API in Jetty (mainly due to lack of support in other tooling, the ides, checkstyle, errorprone, spotbugs, etc.. which incorrectly flags use of the fluent API as a bug in logging)

[2021-02-04 14:41] joakime commented on #5943
Experiments in other projects have indicated that using the fluent slf4j API is more memory intensive (lots more garbage created).
We'll be unlikely to use the fluent API in the future for that reason alone.

[2021-02-04 15:09] sbordet opened #5944 "Introduce alias --files for --download"
**Jetty version**
10.0.x

**Description**
Command line option `--download` does what the `[files]` section does, so it should be aliased to `--files`.

[2021-02-04 15:10] joakime commented on #5944
The syntax would be `--file=<arg>` where arg is actually defined in `FileArg` class.

https://github.com/eclipse/jetty.project/blob/4c67b886a4f3ef61392a1cf70184105949b15c88/jetty-start/src/main/java/org/eclipse/jetty/start/FileArg.java#L40-L47

[2021-02-04 15:12] joakime commented on #5944
We need another example for `maven:<groupId>:<artifactId>` style uris too.

See:

https://github.com/eclipse/jetty.project/blob/4c67b886a4f3ef61392a1cf70184105949b15c88/jetty-start/src/main/java/org/eclipse/jetty/start/fileinits/MavenLocalRepoFileInitializer.java#L35-L42

[2021-02-04 15:18] sbordet opened #5945 "Introduce alias --skip-create-files to replace --skip-file-validation"
**Jetty version**
10.0.x

**Description**
Replace `--skip-file-validation` with `--skip-create-files` to be more consistent with the existing option `--create-files`.

[2021-02-04 15:19] joakime commented on #5944
Not sure we want to attempt to support comma delim `--files=<arg>(,<arg>)*` syntax here.
What if the filename has a comma?
You want a file called `resources/foo,bar.xml` to be present.

`--files=resources/foo,bar.xml` ?

[2021-02-04 15:33] sbordet opened #5946 "Introduce alias for --include-jetty-dir"
**Jetty version**
10.0.x

**Description**
`--include-jetty-dir` effectively specifies a `JETTY_BASE` with less priority than the current `JETTY_BASE`.
Rename to `--parent-base-dir`, maybe?

[2021-02-04 16:28] sbordet opened #5948 "-Dn?=v in *.ini file leaks n? system property"
**Jetty version**
10.0.x

**Description**
Adding `-Dfoo?=bar` in an `*.ini` file or on the command line produces a system property with name `foo` but also a system property with name `foo?`, which should not be there.

[2021-02-04 16:47] joakime commented on #5948
This probably true for Jetty 9.4.x too.

[2021-02-04 17:13] gregw commented on #5946
I don't like parent as it is unclear if parents have more or less priority.
How about `--base-base-dir` or `--default-base-dir` or `--add-base-dir` or `--extra-base-dir` ?

[2021-02-04 17:19] gregw commented on #5922
So it is hanging between tests.    Potentially jetty is leaking something or filling something up?  But still hard to say without your test frame work.

Is this possible: use you test framework to start a jetty server how you currently start it and deploy the simplest webapp possible.  Then have a really simple test that you some how duplicate 20k times.    This might tickle the same problem and h

[2021-02-04 17:20] gregw commented on #5922
The other thing to do is to get get your application and stop/stop it 15k times in a similar environment to your test setup and see what happens.

[2021-02-04 18:19] jaroslawr commented on #5605
@gregw @lorban I worked around this issue by decreasing the idleTimeout, but now ran into another similar one on the write side - two of the non-container threads get stuck while writing a response. Maybe the PR that is in progress fixes it, I attach a thread dump of the relevant threads in case it is of interest:

[code]

I also attach the server dump taken on the server with this issue:
[jetty-w

[2021-02-05 01:55] #5758 closed, assigned to nobody

[2021-02-05 08:08] charlag commented on #5937
For us introduction of many small files resulted in exhausted thread pool (and downtime) with blocking in that place in HttpOutput. I checked and I didn't find us changing buffer size anywhere but I'm not 100% on this to be honest.

[2021-02-05 08:43] gregw commented on #5937
@charlag Interesting!  Can you give us some numbers on "small" and "many" ?

I think it is a no-brainer that we should change this to HttpConfiguration._outputAggregationSize, second option  is make it configurable and third option is always go async if possible.  @sbordet @lorban thoughts?

[2021-02-05 09:06] sbordet commented on #5937
@gregw IIUC this is either past the aggregation, which only happens in `HttpOutput.write()`, or a direct call to serve static content from e.g. `DefaultServlet`.

I fail to see why there is any logic in there about buffer sizing -- I would just remove the check.

[2021-02-05 09:23] lorban commented on #5605
@jaroslawr the linked PR handles the problem on both reading and writing sides. It's in the final review stage and we're fairly confident that it should fix the bug you're experiencing.

Would it be possible for you to check it out, build it locally and test it to make sure it does solve your problem? Such test would be very valuable as it would give both of us strong confidence in the fix and avo

[2021-02-05 12:30] 4devwithgit commented on #5922
Thanks for the suggestions @gregw . I will see if I can get to generate data using the approaches you suggested.

Meanwhile, I ran tests using **9.4.27 and 9.4.29, and both passed** i.e. no hung state for tests.

We are testing it now with the versions,
9.4.30
9.4.36

Does 9.4.36 have any known issues that we need to be aware?

[2021-02-05 12:37] charlag commented on #5937
@gregw with new release of https://mail.tutanota.com (still up) we had around 50 bundles, few kb each. As browsers started detecting the update files started being downloaded by few hundred thousand users at once.

I hope this is enough info, feel free to ask for more details.

[2021-02-05 14:45] jtnord opened #5950 "Deadlock due to logging inside classloaders"
**Jetty version**

9.4.35.v20201120

**Java version**

OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_265-b01)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.265-b01, mixed mode)

**OS type/version**

Windows 10, (but also seen on Linux)

**Description**

It is possible to deadlock Jetty by enabling FINEST logging.
This is becsause the `WebAppClassLoader` itslef uses logging, and also th

[2021-02-05 15:48] jaroslawr commented on #5605
@lorban I will run tests beginning of next week, thanks!

[2021-02-05 15:50] joakime commented on #5950
The entire `-verbose:<arg>` section of JVM command line arguments is for increasing the verboseness of the native code in the JVM.

The specific `-verbose:class` is logging events at the JVM level (not the classlib level), the ClassLoader logic has already occurred, and is asking JVM to realize the the `Class` object, which it will hand back to the ClassLoader for it to then do what it needs (secu

[2021-02-05 15:50] joakime commented on #5950
This seems like it might be related to (or a duplicate of) the previous Issue #1563

[2021-02-07 12:20] 4devwithgit commented on #5922
I see regressions tests are getting completed, with 9.4.30 and 9.4.36. So, most likely the issue is introduced in jetty v9.4.31/32.

We will evaluate, if we can upgrade to 9.4.36, since its quite new, we need to review.

Thanks
Dev

[2021-02-08 09:37] oglueck commented on #4275
Well, it's not just about security restriction in Jetty. It's also a publishing issue. You publish /ws/v1 on a reverse proxy to the Internet, but /foo only to internal networks. Both without security configuration in Jetty, but solely access restrictions on reverse proxy. Now any Internet use can abuse this path traversal to access /foo.
Also if ; is used as a parameter separator, why is `/ws/v1/.

[2021-02-08 11:39] gregw commented on #4275
On review, I agree that the normalisation is strange.  It is a bad combination of two reasonable steps: it is according to the spec to not consider "..;" the same as a ".." segment;  It is a reasonable decoding of a "..;" segment to result in "..".

Internally we don't have a security issue, because we apply the same process to matching and security constraints, but I agree that in a wider system

[2021-02-08 12:59] sbordet commented on #4275
/ws/v1/.. and its parmeters are /.. and /foo .

I don't think that is correct since `/` is a reserved character, so I interpret `/ws/v1/..;/..;/foo` as `/ws/v1/..`, then an empty parameter for segment `/..`, then another segment `/..`, again with an empty parameter, then `/foo`.
So excluding segment parameters, the URI is `/ws/v1/../../foo`, which normalizes to `/foo`.

To have `/ws/v1/..` with 2

[2021-02-08 13:21] gregw commented on #4275
@sbordet The problem is that there are multiple paths through the specifications:
1. It is wrong to normalise `/ws/v1/..;/..;/foo` to `/foo` because RFC 3896 explicitly only allow a segment of exactly  `..` as a relative segments.
2. But is is valid for the servlet spec to ignore internal parameters and thus it is OK to strip parameters from `/ws/v1/..;/..;/foo` to get `/ws/v1/../../foo`.  If the

[2021-02-08 13:22] oglueck commented on #4275
@sbordet I agree. It was new to me that each path segment could have parameters. And probably it is to reverse proxy implementors. Apache for example doesn't normalize it like that and will happily request the wrong backend.

[2021-02-08 13:33] gregw commented on #4275
@sbordet .... and we do just drop middle segment parameters.... that's the problem as it normalises to `/foo` when it should not according to a direct interpretation.
I think giving a 400 for any of these segments is the best way to not get involved in some kind of exploit, since whatever interpretation we adopt, if some intermediary or application adopts a different interpretation then problem ca

[2021-02-08 14:31] sbordet commented on #4275
@gregw I don't see in https://tools.ietf.org/html/rfc3986#section-3.3 that `..` must not have parameters.

In any case, I agree that a 400 is acceptable -- such weird paths are typically just used as attacks, not in real applications.

[2021-02-08 14:41] gregw commented on #4275
@sbordet the RFC talks about

Also it says:

So `.` and `..` resolution take place in the general URI normalisation; whilst things like parameters are scheme-specific.
There is nothing in the RFC that allows you to strip parameters and then normalise `..` and `.`

[2021-02-08 14:48] jtnord commented on #5950
related in the way that - there is class loading going on during logging, and the class loader is logging....

I see this not only at shutdown, that stack above was just an example stack trace I had to hand.  I can cause this deadlock at startup.

which is why when doing any of the above you need to be *really* careful about what you do or do not do,and when you do, or do not do it, especially whe

[2021-02-08 15:15] gregw commented on #5950
I think we should just remove logging from WebAppClassLoader loading methods and any methods it calls from them.
It is more valuable to be able to ask users to turn on fine logging without risk, than it is to get debug from within load on the very rare times we have a problem.  Actually when we do have a classloading problem, it is more often than not resolved by a dump/log of the static setup of

[2021-02-08 15:20] joakime commented on #5950
You are not just removing logging from WebAppClassLoader, you are also removing it from anything that WebAppClassLoader uses while it's attempting to resolve / load a class or resource.
That means quite a few places in jetty-util (all of TypeUtil, URIUtil, Resource tree, etc), jetty-servlet, and jetty-webapp as well.

[2021-02-08 15:25] joakime commented on #5950
Here's what's impacted ...

* org.eclipse.jetty.util.ClassVisibilityChecker
* org.eclipse.jetty.util.IO
* org.eclipse.jetty.util.TypeUtil
* org.eclipse.jetty.util.URIUtil
* org.eclipse.jetty.util.resource.Resource (and all derived versions)
* org.eclipse.jetty.util.resource.ResourceCollection (and all derived versions)
* org.eclipse.jetty.webapp.Context (and all derived versions)
* org.eclipse.jet

[2021-02-08 15:34] gregw commented on #5950
@joakime I'm saying we should remove logging from just the methods called whilst loading a class.  I do not believe the list is very extensive.. so it is worth investigating how extensive because I think there is a reasonable chance of a simple change avoiding this issue entirely.... but I could be wrong.

[2021-02-08 15:37] vitormcruz opened #5955 "Error while using QuickStartWebApp"
**Jetty version**
jetty-9.4.36.v20210114

**Java version**
8

**OS type/version**
Windows 10

**Description**
Trying to use QuickStartWebApp, I have put the following in my /WEB-INF/jetty-web.xml:

[code]

but I got the following error while starting up the server:

[code]

Seems to it is not applying the configuration, as it tries to setAutoPreconfigure in WebAppContext instead of QuickStartWebAp

[2021-02-08 17:34] surli opened #5956 "regression: ContextHandler#_baseResource considered as alias in 9.4.34 and not in 9.4.29"
We are using jetty in XWiki platform for a long time, and we recently performed an upgrade from 9.4.29 to 9.4.34 where we discover a regression in the way `ContextHandler#_baseResource` is resolved.
We are using jetty with a configuration file containing `<SystemProperty name="jetty.home" default="."/>/../webapps/xwiki</Set>` (from: https://github.com/xwiki/xwiki-platform/blob/master/xwiki-platfor

[2021-02-08 19:07] joakime commented on #5955
The `/WEB-INF/jetty-web.xml` is an inappropriate place to use `org.eclipse.jetty.quickstart.QuickStartWebApp` as this file is read far too late in the process for the WebApp.

It's recommended to use the XML deployable in your `${jetty.base}/webapps/<name>.xml` to use that `org.eclipse.jetty.quickstart.QuickStartWebApp`.
If you don't do this, then the webapp is deployed using a `org.eclipse.jetty.

[2021-02-08 19:34] joakime commented on #5956
The relative path reference in 9.4.29 with `...jetty/webapps/../../xwiki/` should have resulted in an `.isAlias()` returning `true`, that was definitely a bug.

But I don't think looking at `Resources.isAlias()` is the right place to pay attention to this.
Why is the path normalized in the 9.4.29 case, but not the 9.4.34 case?  That's more interesting.
Looking at 9.4.29 vs 9.4.34 the `ContextHandl

[2021-02-08 20:03] vitormcruz commented on #5955
So it isn't possible to configure the context class from the `/WEB-INF/jetty-web.xml`? Is this an expected behavior?

That means I cannot use quick start with with jetty maven plugin? I could only find a property to configure it to find jetty-web.xml, if that wont work I cannot use quick start with the plugin?

[2021-02-08 20:17] joakime commented on #5955
The `<jettyXml>` configuration option in the `jetty-maven-plugin` is the equivalent to the context deployable XML.  Use that.

So a few notes about your setup.

~Striking that original "first" comment, I got my reviews mixed up.~

Why are you using QuickStart with jetty-maven-plugin?
If you are building your war every time (like what the jetty-maven-plugin is designed to do), then the quickstart a

[2021-02-08 21:39] vitormcruz commented on #5955
Actually, I just bumped at QuickStart in the docs while trying to make Jetty do not scan my classpath for servlet 3.1 annotations, but was unable to make it work.

Maybe I understand wrongly what quicksetup does to me? I figured that it bypasses scanning and uses the quickstart-web.xml as an effective web.xml, so I could generate quickstart-web.xml once in a while, since actual servlet configurati

[2021-02-08 22:11] joakime commented on #5955
There's 2 parts for quickstart.

1. [Build Time] The generation of the `WEB-INF/quickstart-web.xml`, which will still scan the files, start jetty, and record the state of the "fully started" webapp.
2. [Deployment Time] The use of `org.eclipse.jetty.quickstart.QuickStartWebApp` which will read this `WEB-INF/quickstart-web.xml` and skips the scanning of jars and what not in order to start the webap

[2021-02-09 08:49] #5937 closed, assigned to nobody

[2021-02-09 08:49] #5909 closed, assigned to nobody

[2021-02-09 09:03] #5939 closed, assigned to nobody

[2021-02-09 13:34] vitormcruz commented on #5955
The documentation led me to think that step 1 don't need to execute every time:

[code]

Then, I think I could run once with this property set to true, store the generated quickstart-web.xml into project and set `autoPreconfigure` to false in production. Also, "Pre-generating the quickstart-web.xml" section suggests this is possible, it is not?

I already explored how to make Jetty ignore scanning

[2021-02-09 14:59] joakime commented on #5955
The `autoPreconfigure` means that if the `WEB-INF/quickstart-web.xml` doesn't exist, it's created and added to the webapp.
This still requires the use of `org.eclipse.jetty.quickstart.QuickStartWebApp` base in the XML deployable.

I took a look at that question, the problem they are having is that they attempted to use the property in the `jetty-web.xml` which is far too late in the configuration

[2021-02-09 16:46] wilkinsona commented on #5943
Thanks, @joakime. We'll downgrade SLF4J to 1.7.x.

[2021-02-09 16:46] #5943 closed, assigned to nobody

[2021-02-09 21:17] jaroslawr commented on #5605
@lorban We are running the tests, and with Jetty 9.4.x everything is looking fine so far. After decreasing the idle timeout, even before introducing the fix, the last problem I described (and last one remaining) happened only a few times over the last week, across several servers. So we will test the fix for a few more days to give the problem some more chance to manifest.

I also tested Jetty 10.

[2021-02-09 23:56] #4515 closed, assigned to lachlan-roberts

[2021-02-09 23:56] #5865 closed, assigned to lachlan-roberts

[2021-02-09 23:56] #5868 closed, assigned to lachlan-roberts

[2021-02-10 01:03] #5933 closed, assigned to nobody

[2021-02-10 08:03] gregw commented on #5605
@jaroslawr thanks for that testing.
@lorban interesting that 10 is having problems on HttpOutput.close?  However the line number 602 doesn't really match any source I have... in fact it is more like Jetty-9 source than 10??

However, a quick inspection indicates that we are probably not well handling the   CLOSE|CLOSING states with API states of  BLOCKING|BLOCKED.   I think the same fix we did for

[2021-02-10 08:39] lorban opened #5961 "Test SslBytesServerTest.testHandshakeWithResumedSessionThenClose is not stable"
**Jetty version**
9.4.x, 10.0.x

**Description**

Running `SslBytesServerTest.testHandshakeWithResumedSessionThenClose` continuously makes it fail within 30s with the following assertion error:

[code]

[2021-02-10 10:27] janbartel commented on #5955
@vitormcruz  take a look at the jetty-maven-plugin documentation here: https://www.eclipse.org/jetty/documentation/jetty-9/index.html#jetty-maven-plugin

We have the maven goal "effective-web-xml" ie mvn jetty:effective-web-xml  which will generate a complete web.xml that can be used with the quickstart feature. But, as the documentation says, the jetty-maven-plugin is not designed for use with th

[2021-02-10 13:32] vitormcruz commented on #5955
I have made that question :) I did all that was described there and read all the documentation on classpath inclusion and exclusion and about quick start.

This is a little counterintuitive for me, being jetty-web.xml a configuration file I expected the latter applied configuration to overlap those first applied. Anyway, I did created a \<name\>.xml into webapp like this:

[code]
It should ignore

[2021-02-10 15:19] jaroslawr commented on #5605
@gregw The thread dumps I attached are from my most recent tests of @lorban PR tree here (I built a snapshot jar and used it for tests):
https://github.com/eclipse/jetty.project/tree/3c4713db69b9e35b629031d855c4f6380a3dddd8, so that line 602 refers to:
https://github.com/eclipse/jetty.project/blame/3c4713db69b9e35b629031d855c4f6380a3dddd8/jetty-server/src/main/java/org/eclipse/jetty/server/HttpOut

[2021-02-10 15:58] janbartel commented on #5955
@vitormcruz  scanning takes place if web.xml is not metadatacomplete, OR if there is a ServletContainerInitializer on the classpath that has a non-empty `@HandlesTypes` annotation OR if you are using the jetty specific mechanism to force discovery.

If scanning is to take place, the following files are scanned:

* everything in `WEB-INF/classes`
* only those jars from the server's classpath that m

[2021-02-10 16:35] gregw commented on #5605
@jaroslawr We've found and fixed another issue on the write side that can affect both 9 and 10 (calls to close can also block, so also needed to be handled).
We can also see the issue with 10, which had all of HttpInput reworked.  In 9, HttpInput has a big lock on all operations so only 1 thread can be active in read at once, but in 10 we no longer have that lock as we wrongly assumed only a singl

[2021-02-10 17:08] lorban commented on #5605
@jaroslawr Thank you very much for working with us on this very tough bug, your responsiveness is incredibly helpful!

The blocked threads during write-side closing issue is much harder to reproduce that the blocked readers one, we haven't managed to do that yet. It's also surprising that it only impacts 9.4 in your testing as the problem seems to be shared across the two versions.

We believe we

[2021-02-10 18:18] vitormcruz commented on #5955
That is what I have made, and AnnotationParser still reports scanning. When I use both:
[code]

Then jar scanning is ceased, but `WEB-INF/classes` still happens.

I am doing something wrong, or this isn't holding true.

[2021-02-10 18:44] joakime commented on #5955
To state what @janbartel said, but in a different way, there are 3 categories being searched...

1. Container - controlled by `org.eclipse.jetty.server.webapp.ContainerIncludeJarPattern`
2. WebApp's `WEB-INF/classes` - controlled by metadata complete, OR if there is a ServletContainerIntiailizer on the classpath that has a non-empty @HandlesType, OR if you are using jetty specific mechanism to for

[2021-02-10 18:47] joakime commented on #5955
Out of curiosity, your requirements for not scanning is counter to the philosophy behind a WebApp deployable, which focuses on discovery.

Have you considered not using a formal Servlet WebApp deployment? (or is this a requirement outside of what's happened in this discussion so far?)
Perhaps going with a statically defined ServletContextHandler within an Embedded Jetty?  (you have 100% control ov

[2021-02-10 19:47] joakime opened #5963 "Improve QuotedQualityCSV for CVE-2020-27223"
**Jetty version**
9.4.36

**Description**
The QuotedQualityCSV needs a review to see if we can simplify the class some more.

For CVE-2020-27223 from https://github.com/eclipse/jetty.project/security/advisories/GHSA-m394-8rww-3jr7

[2021-02-10 21:02] vitormcruz commented on #5955
Yes, I forgot to put here my web.xml:

[code]

`metada-complete` is true, `absolute-ordering` is empty. There is a ServletContainerInitializer with a non empty @HandleTypes from a 3rd part framework on my classpath, how does Jetty finds that out before doing the actual scanning? Don't it need scanning to look for such Servlet?

[2021-02-10 21:05] janbartel commented on #5955
@vitormcruz ServletContainerInitializers are loaded via the ServiceLoader mechanism, not scanning.  All SCIs on the classpath will be found. This page describes how you can select which to use and how to order them:
  https://www.eclipse.org/jetty/documentation/jetty-9/index.html#using-annotations.

[2021-02-10 21:18] vitormcruz commented on #5955
More or less. I dislike the discovery philosophy a little bit, but the actual problem is control. For example, I prefer to declare my spring beans programmatically, but it is fine to use annotations if I can define at least which packages should be scanned. Some big applications using Spring and servlet annotations features can be severely impacted by the scanning mechanism. Last year I helped imp

[2021-02-10 21:21] janbartel commented on #5941
Closed via #5942

[2021-02-10 21:21] #5941 closed, assigned to janbartel

[2021-02-10 21:31] joakime commented on #5955
I'm still curious what kind of webapp you have that it takes minutes to deploy?

I test with a stupid large war (war is 909MB, with 518 jars in WEB-INF/lib, totaling 926,685 entries across the jar files) a few times a year to verify scanning behavior.
A full deploy of that war takes about 3 seconds for me.

[2021-02-10 21:36] vitormcruz commented on #5955
@janbartel

It is odd that containers jars are scanned and I can only prevent it by defining the `org.eclipse.jetty.server.webapp.ContainerIncludeJarPattern`, which by the documentation shouldn't be needed as no scans of the containers should be made.

This loading scheme is from servlet specification, yes? It is very confusing and I have seen something similar on Tomcat.

[2021-02-10 21:38] vitormcruz commented on #5955
@janbartel Oh!!! `org.eclipse.jetty.containerInitializerExclusionPattern`did the trick for ServiceLoader mechanism!!! Thanks!

[2021-02-10 21:52] vitormcruz commented on #5955
Don't get near this actually, the webapp I was talking about had about 200 Mb and about 10k files (WEB-INF/classes). In that case spring scanning was taking minutes to execute, and that would vary wildly across developer machines (some had better machines, whiles others not). Many things added to the final loading time: scanning, loading stuf, queries etc.

[2021-02-10 22:17] wh81752 opened #5964 "jetty-maven-plugin:11.0.0 not picking up @WebServlet"
**Jetty version**
11.0.0

**Java version**
[code]

**OS type/version**
[code]

**Description**
I have a (simple) Servlet 3.0 servlet, i.e. `@WebServlet` instead of `web.xml`. I use `jetty-maven-plugin` to test my servlet during development.

This works as expected using Jetty version 9.4.36.v20210114 and 10.0.0. It does *not* work any longer using Jetty 11.0.0. It looks like `@WebServlet` is not p

[2021-02-10 22:26] wh81752 commented on #5964
A reference project demonstrating the problem is available here: https://github.com/wh81752/cxf-spring-servlet/tree/servlet-3.0 => The problem is shown when changing fom version 10.0.0 to 11.0.0

[2021-02-10 22:40] joakime commented on #5964
Jetty 11 is based on Jakarta Servlet 5.0

That means you have to use the `jakarta.servlet.annotation.WebServlet` annotation (look at the package namespace)

https://github.com/eclipse-ee4j/servlet-api/blob/5.0.0-RELEASE/api/src/main/java/jakarta/servlet/annotation/WebServlet.java

There is no backward compatibility with `javax.servlet.annotation.WebServlet` (notice the package namespace difference

[2021-02-10 22:44] joakime commented on #5964
Some more information about this change ..

* https://www.eclipse.org/community/eclipse_newsletter/2019/may/jakartafuture.php
* https://www.eclipse.org/community/eclipse_newsletter/2019/may/javax.php
* https://www.eclipse.org/community/eclipse_newsletter/2020/may/1.php
* https://eclipse-foundation.blog/2020/12/08/jakarta-ee-9-delivers-the-big-bang/
* https://www.infoworld.com/article/3600158/enter

[2021-02-11 07:46] wh81752 commented on #5964
Ahhhh, the namespace of course. Didn't think one second on that, my Intellij even hides all import statements.

I wonder whether it would also be disallowed to scan for the presence of `javax.*` annotations and log warnings about being ignored?

All fine if that `jakarta.*` namespace stays forever.

Anyway, thx for your swift & helpfull response and let's close this issue.

[2021-02-11 07:46] #5964 closed, assigned to nobody

[2021-02-11 11:31] sbordet opened #5965 "Option --write-module-graph produces wrong .dot file"
**Jetty version**
10.0.x

**Description**
[code]

produces a file, but then:

[code]

[2021-02-11 13:53] sbordet opened #5966 "jetty-home should not have a webapps/ directory"
**Jetty version**
10.0.x

**Description**
Building the `jetty-home` module produces a `jetty-home/target/jetty-home/webapps/` that should not be there.

[2021-02-11 14:05] joakime commented on #5966
Opened PR #5967

[2021-02-11 14:28] vitormcruz commented on #5955
Quickstart worked using webapp/<name>.xml, so if quickstart is not expected to work on jetty-web.xml then this bug can be closed.

Disabling classpath scan worked with the following xml both on jetty-web.xml or webapp/<name>.xml (in this case, setting the war file is necessary).

[code]

I was able to turn off/on scanning completely. Selective scanning, on the other hand, is harder to make correct

[2021-02-11 15:03] joakime commented on #5955
Glad you reach the goal you were looking for.
Feel free to close the issue.

[2021-02-11 15:05] #5955 closed, assigned to nobody

[2021-02-11 15:22] jaroslawr commented on #5605
@lorban @gregw I now retested using https://github.com/eclipse/jetty.project/tree/14108c8e58214164cea5e3304106a3a00f9a5258 (10.x with latest fixes) and I still have this problem. If there are any particular bits of state of interest, I can take a heap dump after stopping traffic to the service, since the thread is stuck it still could be possible to extract some useful information. The stack trace

[2021-02-11 15:32] WalkerWatch opened #5968 "Include EFTL License for TCK"
**Jetty version**
11.0.X

For TCK certification we must produce final binaries with the EFTL license according to [guidelines here](https://jakarta.ee/committees/specification/tckprocess/).

`Projects MUST produce a final candidate binary that includes the EFTL license. The Jakarta EE Specification Committee will sign and promote project TCK binary for distribution via Eclipse infrastructure on fi

[2021-02-11 15:42] joakime opened #5969 "Provide alternative syntax for start.jar --download"
**Jetty version**
9.4.x

**Description**
Currently, the `--download=<arg>` command line argument has a syntax in the `<arg>` with a pipe symbol `|`.
This complicates usage on a command line as it's [a special character interpreted by the shell](https://mywiki.wooledge.org/BashGuide/SpecialCharacters).

Consider an alternative (optional) character that can be used in the `<arg>` section.

[2021-02-11 16:10] lorban commented on #5605
@jaroslawr Thanks for the update. We're back to the drawing board and will keep you posted as soon as we have some news.

[2021-02-11 16:16] jaroslawr commented on #5605
@lorban Btw there are some errors logged that were not there with Jetty 9.4.x, maybe one of those is related:

[code]

and

[code]

[2021-02-11 16:18] joakime commented on #5968
IIRC the EFTL license is for those projects that implement the TCK, such as ...

* https://github.com/eclipse-ee4j/servlet-api
* https://github.com/eclipse-ee4j/websocket-api

[2021-02-11 16:19] joakime commented on #5968
I think we need to file something more along the lines of what the Tyrus project filed against the websocket spec.

Example: https://github.com/eclipse-ee4j/websocket-api/issues/361

[2021-02-11 16:34] joakime opened #5970 "Using start.jar --create-startd --add-to-start=<module> results in existing start.ini being deleted"
**Jetty version**
9.4.36.v20210114

**Description**
Steps to reproduce ...

[code]

The code seems to indicate that the start.ini is to be moved to `start.d/`, it doesn't seem to work.

I also disagree with that move of start.ini behavior, that's would be quite a shocking and unexpected change.

[2021-02-11 16:37] joakime commented on #5970
This behavior remains the same even if using the older (now deprecated) command line option `--add-to-startd=<name>`

[2021-02-11 16:51] jmcc0nn3ll opened #5971 "Incorporate Dash into a maven profile."
**Jetty version**
9.4.x

**Java version**
n/a

**OS type/version**
n/a

**Description**
Dash is something that Wayne has been working on for a while which will ideally help automate much of the IP validation and verification process. I plan is to get this into a maven profile that we can activate on CI as a check against IP creep and once the feature is enabled, to open CQ's automatically on our b

[2021-02-11 17:00] jmcc0nn3ll commented on #5968
Agreed, the guidelines linked indicate we have to we have to make a statement accepting the terms of the EFTL in the certification request but I think you are right that the EFTL requirement is in a different part of the guidelines related to the TCK themselves.

[2021-02-11 17:01] WalkerWatch commented on #5968
Sounds good to me, perhaps I just misread.

[2021-02-11 17:02] #5968 closed, assigned to nobody

[2021-02-11 18:00] jmcc0nn3ll commented on #5971
@waynebeaton FYI, I wired this into the build under a dash profile and tied it the validate phase and set inheritance so it only runs from the top level.

Committed and pushed to dash-ip-check branch. Below is the raw output for jetty 10 from running:

`mvn clean validate -P dash
`

maven/mavencentral/org.eclipse.jetty/jetty-slf4j-impl/10.0.1-SNAPSHOT, , approved, eclipse
maven/mavencentral/org.jr

[2021-02-11 18:04] jmcc0nn3ll commented on #5971
@janbartel @WalkerWatch There are a number of items in here that are marked 'restricted' which on the surface would indicate something that ought to be reviewed.  Having said that, this is a fairly new tool and it is possible we are missing some related context since we certainly don't distribute everything that is listed as a dependency in the build.

[2021-02-11 18:11] jmcc0nn3ll commented on #5971
maven/mavencentral/org.jruby/dirgra/0.3, NOASSERTION, restricted, clearlydefined
maven/mavencentral/org.jruby/jruby/9.2.13.0, GPL-2.0 OR (LGPL-2.1 OR EPL-2.0), restricted, clearlydefined
maven/mavencentral/org.jboss.weld.module/weld-web/3.1.5.Final, Apache-2.0, restricted, clearlydefined
maven/mavencentral/org.apache.lucene/lucene-facet/5.5.5, Apache-2.0, restricted, clearlydefined
maven/mavencent

[2021-02-11 18:16] joakime commented on #5971
Having this automated is a great goal!
This is a good start, but it needs some help.  Is the code open source somewhere and accepting contributions from pull requests?  (If it's git.eclipse.org and gerrit you'll get far fewer contributions)

Seems like the tool isn't taking into account scopes correctly in many cases. (some of these are purely in `<scope>test</scope>`).
Does this tool have configu

[2021-02-11 18:23] jmcc0nn3ll commented on #5971
https://github.com/eclipse/dash-licenses

Project is here, we talked about it on the AC call today and now that it has a maven plugin I figured I would give it another whirl, I ran it manually quite a while back and it wasn't in good enough shape at that point. I think we are creeping into something very workable so I figured we ought to start working with it and seeing how we can help it along.

[2021-02-11 20:43] waynebeaton commented on #5971
Some of the _restricted_ entries may just be gaps in our mapping data. That is if you notice that it's highlighting something for which you have a CQ,  please let me know. FWIW, any improvement that you've noticed in the identification of content is likely as a result of our backend data being enhanced, not any specific change in the tool itself.

The Maven plugin is relatively new and just powers

[2021-02-11 22:15] jmcc0nn3ll commented on #5971
I think it makes a lot of sense to add an artifactExcludes configuration list to the plugin, though it if there are different classes it may make sense to have different configuration options, like worksWithExcludes and testOnlyExcludes, something that declaratively states why certain coordinates are being excluded.

[2021-02-11 22:22] joakime commented on #5971
I agree, but it should probably be limited to whatever projects are present in the maven reactor.
So that you are declaring a component of the reactor as excluded (and as a consequence it's specific dependency usage), not specific dependencies that a component uses (far more awkward).
Even if this is done at the individual reactor module/project with project properties it would work.

ala ..
[code

[2021-02-11 22:34] jmcc0nn3ll commented on #5971
Not sure we can get away from narrowly defining dependencies though, a module may have a toolingExclude on something like jruby which should be suppressed, but then might also have a dependency on slf4j which absolutely should be validated.  Dash will produce an exhaustive report but the onus is then on a careful review to determine if something should be excluded or if it truly needs to be fixed

[2021-02-12 11:25] jaroslawr commented on #5605
@gregw @lorban I was able to identify the kind of client-Jetty exchange that results in a thread getting stuck (I took a pcap dump and heap dump and correlated the two). In every case Jetty sends out the first TCP segment of a `Transfer-Encoding: chunked` HTTP response and then receives a RST+ACK from the client. This is what it manages to send out: [jetty-response.txt](https://github.com/eclipse/

[2021-02-12 14:47] lorban commented on #5605
@jaroslawr thanks again for your help investigating this, it's been invaluable! Thanks to those clues, I managed to pinpoint the problem. You need two conditions to trigger this bug:
1) The client MUST close the connection with a TCP RST.
2) The server MUST have the `GzipHttpOutputInterceptor` registered.
We're still looking at the best way to fix the bug but in the meantime, you could disable gzi

[2021-02-12 16:46] lorban commented on #5605
@jaroslawr We analyzed this bug and it's a new, slightly unrelated one that was introduced between 9.4 and 10.0. I've pushed a fix in my PR branch, hopefully everything will work as it should this time.

[2021-02-13 20:31] cbrendible opened #5972 "Error Caused by"
java.lang.NoSuchMethodError: setNvmeInfo
	at com.micron.msd.api.ApiNative.getAllDriveInfo(Native Method)
	at com.micron.msd.api.ApiAccess.getAllDriveInfo(ApiAccess.java:308)
	at com.micron.msd.gui.web.system.DrivesModel.load(DrivesModel.java:48)
	at com.micron.msd.gui.web.system.DrivesModel.load(DrivesModel.java:22)
	at org.apache.wicket.model.LoadableDetachableModel.getObject(LoadableDetachableMo

[2021-02-14 01:00] joakime commented on #5972
This error is not happening in Jetty.
The `com.micron.msd.api` library is causing it.

[2021-02-14 01:00] #5972 closed, assigned to nobody

[2021-02-15 11:13] janbartel commented on #5859
Fixed via PR #5894

[2021-02-15 11:13] #5859 closed, assigned to janbartel

[2021-02-15 11:19] janbartel commented on #5720
Approved and applied.

[2021-02-15 11:19] #5720 closed, assigned to nobody

[2021-02-15 11:23] janbartel commented on #5596
@lorban can you link this to the PR and then close this issue?

[2021-02-15 11:25] #5596 closed, assigned to gregw, lorban

[2021-02-15 13:25] jaroslawr commented on #5605
@lorban Everything seems to work fine now, thanks for the fixes!

[2021-02-15 14:46] joakime commented on #5969
Related to #5944

[2021-02-15 15:41] jaroslawr commented on #5605
@lorban Small update, while we can now run jetty 10.x for hours which was not possible earlier, some threads still get stuck, either like this:

[code]

or like this:

[code]

This is with jetty at https://github.com/eclipse/jetty.project/tree/bf9318f2b8a53c8d8c1d572ad7f3e982e2613c82, without the latest commit https://github.com/eclipse/jetty.project/commit/4ec51fbbcafbc720808342d6702bbedf816d5a25

[2021-02-15 18:16] jaroslawr commented on #5605
(I meant to say without https://github.com/eclipse/jetty.project/commit/4ec51fbbcafbc720808342d6702bbedf816d5a25, https://github.com/eclipse/jetty.project/commit/bf9318f2b8a53c8d8c1d572ad7f3e982e2613c82 was included in the tests)

[2021-02-15 18:21] #5966 closed, assigned to joakime

[2021-02-15 18:33] lorban commented on #5605
@jaroslawr I just pushed what should be the final version in my PR with some cleanups.

[2021-02-15 21:11] sbordet opened #5973 "Proxy client TLS authentication example"
**Jetty version**
9.4.x

**Description**
Would be great to have examples of a proxy that uses TLS client authentication both with the remote client and with the server.

The idea is that for each user, there is a certificate signed by the server that the remote client uses to contact the proxy; and a correspondent certificate for the same user that the proxy uses to contact the server, so that the

[2021-02-16 10:25] ankit58 opened #5975 "tcpstream getting reset in 30sec but we don’t see any method to configure tcpstream reset time , connection reset timer is 60sec"
**Jetty version**
<jetty-version>9.4.18.v20190429</jetty-version>
**Java version**
1.8
**OS type/version**
Kubernets
**Description**
The connection reset is 60sec and we see tcpstream reset in 30sec but we don’t see any method to configure tcpstream reset time. Is there any way by which we can configure this tcpstream reset timer for idle timeout activity ?

[2021-02-16 11:03] sbordet commented on #5975
You need to be more clear about what you mean by "tcpstream reset" and "connection reset".

The default `ServerConnector` idle timeout is 30 seconds, after which the TCP connection is closed.