[2022-08-12 22:15] gregw commented on #8443
If we could arrange for `getPath()` to never return null, then we would not need the resource class and could just use `Path`.    However, that fails on the `ResourceCollection` issue that we are required to provide aggregate base resources and to do so without necessarily extracting.

However, we could have that a non-directory resource would always return a path.

Having resolve never return nul

[2022-08-14 09:53] AlanBateman commented on #8007
Just a quick comment to say that testing if the Thread.startVirtualThread method is present will help detect if the runtime is 19+, using Runtime.version().feature() >= 19 would be simpler. Also just to say that this method throws UOE if not running with --enable-preview.

One thing you might want to consider is creating an ExecutorService with Executors.newVirtualThreadExecutor rather than using

[2022-08-14 21:49] sbordet commented on #8007
@AlanBateman thanks for the suggestions! We'll make the changes.

[2022-08-14 22:43] janbartel opened #8460 "Log or throw exception if DefaultSessionIdManager is used but has not been started."
Add a check for being started to the `DefaultSessionIdManager` and either log or throw an exception if it is not started. This will avoid an NPE when a session is serialized if a non-started `DefaultSessionIdManager` is used to generate the session ids.

[2022-08-14 23:23] arjunballa opened #8461 "How acceptThreads and acceptQueueSize impact concurrent requests?"
@sbordet
@Joakim Erdfelt

**Jetty version**
Jetty version is 7.4

**Java version**
OS: OpenAdopt JDK 8

**Question**

I am new to Jetty.

*We are running into an issue with an application using Jetty 7.4 under a load test. Any requests to the Jetty server gets stuck and there is no response returned, even after several hours. Also, new requests seem to behave the same way, just waiting for a respo

[2022-08-14 23:33] olamy commented on #8461
Thanks for using Jetty.
Please first use a supported Jetty version at least 10.0.11 (see https://www.eclipse.org/jetty/download.php and read this https://github.com/eclipse/jetty.project/issues/7958)
Then if you still think you have issue.
Please report a thread dump.

[2022-08-14 23:42] arjunballa commented on #8461
@olamy @joakime
I know Jetty 7.4 is end of life but customer is not in a position to upgrade to new version of our product where we upgraded Jetty.

I want to understand acceptors threads, selectors, jetty worker thread, acceptQueueSize, acceptTimeout. Any pointer to learn the concepts?

We need to prove to the customer that, issue is with jetty version and will be fixed with jetty upgrade.

I nee

[2022-08-15 03:03] arjunballa commented on #8461
@joakime I want to understand acceptors threads, selectors, jetty worker thread, acceptQueueSize, acceptTimeout. Any pointer to learn the concepts?

[2022-08-15 03:08] gregw opened #8462 "Jetty-12 EE10 handling of %2F as Alias"
**Jetty version(s)**
jetty-12 ee10

**Description**

The `org.eclipse.jetty.ee10.webapp.WebAppContextTest#testProtectedTarget` has some important use-cases commented out with regards to handling of %2F

[2022-08-15 03:21] gregw commented on #8462
The new behaviour of servlet 6.0 allows a servletPath and/or pathInfo to contain a %2F as an encoded `/` character.

For example, a request to `/WEB-INF%2Ftest.xml` is currently resolving to a `Resource` with:
[code]

So this has been resolved incorrectly.   Either the path should be for the (probably) non-existent `WEB-INF%2Ftest.xml` OR if it does resolve to `WEB-INF/test.xml` then is should be

[2022-08-15 04:01] gregw commented on #8462
Commit edba0c3 "fixes" this issue by fixing a big in URIUtil that prevented the resource from being seen as an alias.
However, a real fix should involve allowing an encoded %2F to be used to select a resource that actually has an encoded / in the filename?  So I'm leaving this open for now.

[2022-08-15 04:09] gregw commented on #8461
@arjunballa te key word in your request for support on jetty 7.4 is "customer".   Support for old versions can be available, but not on an opensource basis.  Please contact sales@webtide.com for commercial support.

But whilst I'm here... the number of acceptors is almost certainly unrelated.   Probably the same for acceptQueue.   The issue is more likely to be in the thread pool or thread pool qu

[2022-08-15 13:02] joakime commented on #8462
Commit edba0c3 broke the `org.eclipse.jetty.util.resource.FileSystemResourceTest.testAccessUniCodeFile` test.
Looking into it now.

[2022-08-15 14:42] joakime commented on #8461
@arjunballa we are currently working on Jetty 12 at the moment, know that Jetty 7.4 represents nearly 10 major versions of Jetty difference.

Reminder: Jetty versioning since 1995 has been `<servlet-support>.<major-version>.<minor-ver>`.    (See [Jetty Versions Table](https://www.eclipse.org/jetty/download.php#version-table))
Jetty 12 has broken from this old versioning scheme and will be the firs

[2022-08-15 15:15] sbordet commented on #8461
@arjunballa from the only stack trace that you posted, the server thread is blocked trying to write content to the client.
This means that the client is not reading the content that the server sends, or it does not read fast enough.

This is typical for load tests, where the client is typically the bottleneck and it is not configured to sustain the load that itself generates towards the server.
Fo

[2022-08-15 15:17] #8007 closed, assigned to sbordet

[2022-08-15 16:46] arjunballa commented on #8461
@sbordet Thanks for the response.
Is there a configuration for how much time Jetty should wait for client to ack that it has read the response?
Customer says, server got stuck for more than 2 hrs on all load test requests and any new request is also getting stuck.

They are using Jmeter  to do load test and I dont know why Jmeter is not able to read the response quickly.

[2022-08-15 18:54] joakime commented on #8461
This is the reason that JMeter has a distributed/remote testing configuration.

https://jmeter.apache.org/usermanual/remote-test.html

[2022-08-16 02:12] gregw commented on #8461
Closing as jetty-7 is well beyond end of life and 4 engineers have already spent time on this!

[2022-08-16 02:12] #8461 closed, assigned to nobody

[2022-08-16 07:43] edhn3000 commented on #5451
is this bug fixed in 9.3.x? I found #5451 commit in [9.3.29.v20201019](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.3.29.v20201019), but the bug fix report(CVE-2020-27216) and this page both has not say about it,  https://github.com/eclipse/jetty.project/security/advisories/GHSA-g3wg-6mcf-8jj6#advisory-comment-63053
so can I use any version in 9.3.x to fix it?
because when we upgr

[2022-08-16 11:49] joakime commented on #5451
@edhn3000 check the VERSION.txt

https://github.com/eclipse/jetty.project/blob/jetty-9.3.30.v20211001/VERSION.txt

Know that Jetty 9.3.x was EOL in early 2020 - https://www.eclipse.org/lists/jetty-announce/msg00140.html
So that's why it's not mentioned on the CVE from November 2020. (As is practice in CVE reporting, Versions that are no longer supported are not mentioned)

Also, Jetty 9.4.x is now

[2022-08-16 19:08] joakime opened #8469 "Flaky Test: MultiPartRequestContentTest.testFileFromInputStream([2] HTTPS)"
**Jetty version(s)**
Jetty 12

**Description**

Experienced this as a flaky test twice.

[code]

[code]

[2022-08-16 19:13] joakime commented on #8469
Just experienced another variation of this ...

[code]

[2022-08-17 09:16] #8353 closed, assigned to nobody

[2022-08-17 20:59] joakime opened #8474 "Jetty 12 : Resource API Review"
# org.eclipse.jetty.util.resource.Resource Proposal

## High level

The `Resource` abstract class should be made into an Interface, with minimal default implementations (if any).
Existing static methods behaviors stay.

The `ResourceCollection` should be renamed.
It's ultimately how we composite a set of Resources together.

Its current implementation is a List, so calling it `ResourceList` is tem

[2022-08-17 23:17] janbartel commented on #8474
You've left out the use-case from the jetty maven plugin: the `WebAppContext` can be configured directly in the `pom.xml`.  Therefore a user may have configured a resource base that is either a single `Resource`, or a `ResourceCollection`. The plugin then needs a way to overlay on top of that all of the various unassembled directories and/or wars that are declared dependencies. So  the base resour

[2022-08-18 06:38] xinguangduan commented on #8445
any body can answer me?

[2022-08-18 07:14] sbordet commented on #8445
There is not enough information. The log you posted shows that the windows are open.
I don't think there is a problem with Jetty's HTTP/2 windows.

[2022-08-18 07:44] nhenneaux commented on #7481
Hi @joakime
Were you able o dig further on this issue? This is still happening randomly and impacting the service I'm working on.
Thanks for the help!

[2022-08-18 13:36] joyfulnikhil opened #8476 "Jetty Client sending RST_STREAM towards the server after n seconds of idleness on a particular Stream ID even if idleTimeout is set to 0"
**Jetty version(s)**
11.0.7

**Java version/vendor** `(use: java -version)`
Oracle JDK 17

**OS type/version**
CentOS

**Description**
We have a Microservice-A that uses Jetty Client to communicate with downstream Microservices. We are observing an intermittent issue of RST_STREAM being sent from MS-A to the downstream if there is no traffic exchanged on that specific stream ID after 4 seconds.

!

[2022-08-18 13:55] sbordet commented on #8476
`common.jettyclient.HttpClient` is not a Jetty class, so we cannot say what's doing.

From `httpClient.setRequestTimeout(3000);` I may imagine that if the request is not replied within 3 seconds it gets aborted, and that would explain the RST_STREAM.

Other than this guess, there is not enough information.

Can you provide the client DEBUG logs?

[2022-08-18 20:58] gregw commented on #8474
With regards to the question of should resolved return s resource that does not exist, i think it should.

There is the rare case of needing to support PUT. Also i think we create resources in things like quick start

Checking for exists if pretty much the same hassle as null checking anyway

[2022-08-20 04:55] olamy opened #8480 "skip deployment of test modules for jetty 12"
currently during a `mvn deploy` all the `test-eeX-sessions` are deployed.
there is no need for this.

[2022-08-20 09:54] #8480 closed, assigned to olamy

[2022-08-21 00:00] #5048 closed, assigned to lachlan-roberts

[2022-08-21 13:08] eyal20 commented on #4746
Hello,
I'm having exactly the same issue after upgrading from 9.4.40 to 10.0.11
and I get it also when trying to upgrade to 9.4.48
I'm not really sure if it’s possible to remove jetty-jaspi in my case so I prefer to leave it there.
My question is how to avoid this exception without removing this lib

Thanks!
  Eyal

[2022-08-22 00:00] #4852 closed, assigned to nobody

[2022-08-22 20:07] #6593 closed, assigned to nobody

[2022-08-23 00:00] #3509 closed

[2022-08-23 04:54] lachlan-roberts commented on #4746
@eyal20 I think you should either add the `geronimo-jaspi` dependency. Or you should register the `org.eclipse.jetty.security.jaspi.DefaultAuthConfigFactory` with the static `javax.security.auth.message.config.AuthConfigFactory.setFactory` method.

should be a bit more info on that here
https://www.eclipse.org/jetty/documentation/jetty-10/operations-guide/index.html#og-jaspi

[2022-08-23 13:54] xinguangduan commented on #8445
@sbordet, I don't say this is problem, I just want to known how to open the jetty logs for HTTP/2 windows.

[2022-08-23 14:49] sbordet commented on #8445
The HTTP/2 flow control window on the Jetty server is opened by consuming the data that is received.

Please see the documentation about the low-level API usage here: https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-server-http2-flow-control.

If you use Servlets, it is enough that you read the request content until you see EOF. The Jetty implementation will tak

[2022-08-24 05:23] lachlan-roberts commented on #8426
PR #8449 has been merged so I think this can be closed.

As a summary, the same AliasCheck class is now used for jetty-core, ee10 and ee9.  Multiple `AliasCheck`s can be added to a `org.eclipse.jetty.server.handler.ContextHandler`, and `ContextHandler.checkAlias()` is used to go through all the `AliasCheck` of the context.

Jetty-core and ee10 use the core `ResourceService` which now uses the `Con

[2022-08-24 05:23] #8426 closed, assigned to lachlan-roberts

[2022-08-26 12:42] Madhavisuresh opened #8488 "403 error"
why I'm getting 403 no valid crumb was included in this request error while configuring Jenkins job and while installing plugins also getting same error. i'm a student , not able to practise ..so please look into this

[2022-08-26 18:55] jmcc0nn3ll commented on #8488
This doesn't sound related to Jetty itself, rather Jenkins or some other third party user of Jetty.

[2022-08-26 18:55] #8488 closed, assigned to nobody

[2022-08-26 19:48] jmcc0nn3ll opened #8489 "Jetty 12 documentation artifact not releasing"
https://repo1.maven.org/maven2/org/eclipse/jetty/documentation/jetty-documentation/12.0.0.alpha0/

the -html artifact is not getting included with the release process, we'll need to sort that for alpha1 so we can get the website process ironed out

[2022-08-27 09:52] sbordet commented on #6669
Fixed in #8458.

[2022-08-27 09:52] #6669 closed, assigned to nobody

[2022-08-28 00:00] #6233 closed, assigned to nobody

[2022-08-29 15:09] joakime commented on #7481
The CompletableFuture in the JVM is where this appears to be failing.
But we don't know why yet.

So far, an analysis of Jetty shows that no component in Jetty itself can cause this issue.

The remaining culprits would be in your own code.

Example: your custom Connectors.

I would start with checking your `.toString()` implementations to ensure that _nothing_ can throw an exception there.
You cou

[2022-08-29 15:25] nhenneaux commented on #7481
I applied further changes and in particular set the shutdown idle timeout to both ServerConnector I was using. This is helping and I don't have long timeout shutdown anymore. It is no taking 2-3s and some times 15s.

[2022-08-29 15:25] #7481 closed, assigned to nobody

[2022-08-29 15:34] joakime commented on #8445
@xinguangduan if you are asking about Logging in Jetty? then I can answer.

In Jetty 10+ the slf4j-api logging facade is used by Jetty to generate logging events.

This means if you want to see these events, you will use any slf4j-api supported logging implementation (which is quite an extensive list) to configure the events and the output to suit your needs.

There are many named loggers within J

[2022-08-29 16:06] joakime commented on #6609
PR #6581 disabled these problematic tests on Windows.

[2022-08-29 16:06] #6609 closed, assigned to nobody

[2022-08-30 10:13] lorban opened #8493 "Review HTTP client feature `setRemoveIdleDestinations`"
**Jetty version(s)**
9.4.x, 10.0.x+

**Description**
The `removeIdleDestinations` feature always was racy, but with the advent of #5218 the race went from benign to problematic, because the `Pool` object does not give back connections when it is closed.

Also review why we use both `HttpDestination.close()` and `HttpDestination.doStop()` to manage lifecycle, and why `HttpDestination` is both added

[2022-08-30 17:47] sbordet commented on #8493
@lorban here's an idea for fixing this issue.

`HttpClient.resolveDestination()` is implemented to call a new method, `HttpDestination.stale()` (not just a getter because it has a side effect).

[code]

Then, if `removeIdleDestination==true`, we use a `Sweeper` to periodically sweep destinations:

[code]

The sweeper's attempt to remove/stop the destination gets pushed into the future every time `

[2022-08-31 11:58] Michal-Cho opened #8496 "jetty traffic ends up in big tcp payloads"
**Jetty version**
9.4.44.v20210927
**Java version**
java version "11.0.3" 2019-04-16 LTS
**Question**
Hello!
We are using jetty client in our project for http2 traffic. During one of stress tests we could observe that after reaching some TPS TCP frames containing http2 traffic grows quite a lot (see the screenshot). As a consequence there's no traffic received on the server side - here I suspect t

[2022-08-31 12:17] MoonLord-LM opened #8497 "`jetty-bom/11.0.11` depends on `jetty-slf4j-impl/10.0.8-SNAPSHOT` that cause 404 error"
**Jetty version(s)**
https://mvnrepository.com/artifact/org.eclipse.jetty/jetty-bom/11.0.11

**Java version/vendor** `(use: java -version)`

**OS type/version**

**Description**
[ jetty-bom/11.0.11 ] depends on [ jetty-slf4j-impl/10.0.8-SNAPSHOT ]
BUT this is not found in the maven repo !
https://mvnrepository.com/artifact/org.eclipse.jetty/jetty-slf4j-impl/10.0.8-SNAPSHOT
404 error !

**How to re

[2022-08-31 14:00] sbordet commented on #8496
You should see retransmits on the client then. Do you see these?

During load tests this scenario is quite common, and can be tuned with `HTTP2Session.setWriteThreshold(int)`, which is set with the value from `HttpConfiguration.getOutputBufferSize()` on the server, but it's left at default (32 KiB) on the client.

We would need a new property, perhaps `HTTP2Client.outputBufferSize` and then pass t

[2022-08-31 14:07] Michal-Cho commented on #8496
Thank you for a quick response!
Let me try to get full wireshark recording and analyse it. I will come back with the feedback

[2022-08-31 14:11] Michal-Cho commented on #8440
Thank you @sbordet  for the suggestion.

In the end I've implemented some workaround - we have switched to RoundRobin pool.
I've created a `ConnectionPool.Factory` implemenation that returns my own pool extending `RoundRobinConnectionPool`.
The factory use `preCreateConnections(int)` in `newConnectionPool(HttpDestination destination)`.

On top of that I've added an extra thread to the actual pool

[2022-08-31 14:27] sbordet commented on #8440
Great you could make it work.

FTR, I still think it's a bit overkill and that the 3GPP specification is too vague about the requirement (and you worry too much after reading the spec), but fine.

Feel free to close the issue if it's resolved for you.

[2022-08-31 14:36] #8440 closed, assigned to nobody

[2022-09-01 12:45] #8493 closed, assigned to lorban

[2022-09-01 14:15] sbordet opened #8532 "Review System.nanoTime() usages"
**Jetty version(s)**
10+

**Description**
`System.nanoTime()`, as specified in its javadocs, can roll-over.
Because of that, it's wrong to use the `<` operator between values, as well as `Math.min()` etc.

This problem has already been reported in CometD, see https://github.com/cometd/cometd/issues/1215.

The whole codebase should be reviewed so that `System.nanoTime()` is properly used.

[2022-09-01 14:25] Michal-Cho commented on #8496
Hello,
there are no transmits in pcap file. Can it be related to some network configuration?

Have I understood  `HTTP2Session.setWriteThreshold(int)` correctly - let's say I set it to 1000 - it would mean that after reaching 1000 bytes in a buffer a TCP write will be performed?

[2022-09-01 14:30] sbordet commented on #8496
It means that if you _exceed_ 1000 bytes a TCP write will be performed -- it's a threshold, not a strict value.

The default frame size for HTTP/2 is 16 KiB, so if an application sends a single DATA frame of, say, 12 KiB, that will not be split by Jetty.
It will be beyond the threshold of 1000, so Jetty won't aggregate other frames in that write, but it's still a 12 KiB write.

Have to say that tr

[2022-09-01 14:33] Michal-Cho commented on #8496
I understand.
Let me experiment a bit with the property that you have suggested.

[2022-09-01 14:39] Francis-Valcke opened #8533 "Disable revocation checking"
**Jetty version**
9.4.19
**Java version**
17
**Question**
The CertificateValidator hardcodes revocation checking on line 228:
`pbParams.setRevocationEnabled(true);`
I have a use case in an internal organization environment where I want to disable revocation checking.
Is there any way to do this with Jetty?
Thanks!

[2022-09-01 14:57] joakime commented on #8533
If you are using PKIX with Java then having `pbParams.setRevocationEnabled(false)` is not recommended.

In all of the PKIX vendors we've tested, having `pbParams.setRevocationEnabled(false)` will result in one of the two scenarios

1. PKIX featureset is disabled entirely, causing a server that cannot support PKIX.
2. PKIX fails to start/init causing a System.exit() and no server instance running.

[2022-09-01 20:55] #8497 closed, assigned to nobody

[2022-09-02 00:00] #6501 closed, assigned to sbordet

[2022-09-02 04:48] gregw commented on #8533
As indicated above, it is not really best practise for us to support this, thus making it configurable is not going to be a high priority for us.  It is a little bit of work as it appears that we have not made the CertificateValidator instance pluggable where it is used, so it will be difficult to extend.  The class itself is also not that well setup for being extended.

I suggest that you create

[2022-09-02 07:51] Francis-Valcke commented on #8533
Hey, thanks for the replies. Is it a viable strategy to introduce a system variable that allows for configuring/overriding this?

[2022-09-02 09:25] sbouchet commented on #8439
there is not even a jetty-p2 for 10.0.11 or a 11.0.11 neither :(

[2022-09-02 11:38] elipsion opened #8536 "HotSwapHandler race condition"
**Jetty version(s)**
All current

**Java version/vendor**
N/A

**OS type/version**
N/A

**Description**
`setHandler()` in `HotSwapHandler` has a race condition where the current handler is stopped before the new one is bound, because it uses `updateBean()`. This could lead to requests being dropped during the swap operation. A less racy implementation would look something like this, more or less i

[2022-09-02 13:57] sbordet commented on #6683
@lorban should we close this after #8458?

Does it still make sense to have a specialized, non-multiplexed `Pool`?
We would save a number of calls to `getMaxMultiplex(T)`, increments, decrements and comparisons with maxMultiplex, etc. but the state would still be an `AtomicInteger` for -1, 0, 1.

[2022-09-02 16:06] lorban commented on #6683
I think this was done when `MonoEntry` / `MultiEntry` were introduced. With the cleanups and simplifications we did in 12, they went away as they weren't needed anymore since the `AtomicBiInteger` state could be replaced with a `AtomicInteger` state in all cases.

I agree that getting rid of increments and the `getMaxMultiplex` calls aren't likely to improve perf in any meaningful way.

[2022-09-02 16:10] #6683 closed, assigned to nobody

[2022-09-02 19:17] garydgregory opened #8538 "[jetty-proxy] NullPointerException at org.eclipse.jetty.proxy.AsyncMiddleManServlet.onContinue(AsyncMiddleManServlet.java:177)"
**Jetty version(s)**
9.4.48.v20220622

**Java version/vendor** `(use: java -version)`
openjdk version "1.8.0_342"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_342-b07)
OpenJDK 64-Bit Server VM (Temurin)(build 25.342-b07, mixed mode)

**OS type/version**
Microsoft Windows [Version 10.0.19042.1889]

**Description**
[code]

**How to reproduce?**

Configure Jetty with a `AsyncMiddleManServlet` an

[2022-09-02 20:02] joakime commented on #8538
Was your `POST` one with the `Expect: 100-continue` header or not?

A quick test of Jetty 10.0.11 (the currently supported minimum version of Jetty) using curl with a no-body POST (`curl -X POST http://example.com`, which does not produce an `Expect: 100-continue`) shows that it works.

[2022-09-02 21:17] MoonLord-LM opened #8540 "Maven pom is not correct for `org.eclipse.jetty/infinispan-embedded` and `org.eclipse.jetty/infinispan-remote`"
**Jetty version(s)**
10.0.x
11.0.x
12.0.x

**Java version/vendor**

**OS type/version**

**Description**
【org.eclipse.jetty/infinispan-embedded】
【org.eclipse.jetty/infinispan-remote】

404 Not Found:
https://repo1.maven.org/maven2/org/eclipse/jetty/infinispan-embedded/10.0.11/infinispan-embedded-10.0.11.jar
https://repo1.maven.org/maven2/org/eclipse/jetty/infinispan-remote/10.0.11/infinispan-remote

[2022-09-02 21:37] MoonLord-LM commented on #8540
Oh, I see.
It is about the classifier 【`<classifier>config</classifier>`】.

https://repo1.maven.org/maven2/org/eclipse/jetty/infinispan-embedded/10.0.11/
https://repo1.maven.org/maven2/org/eclipse/jetty/infinispan-remote/10.0.11/

The correct jar file link is:
https://repo1.maven.org/maven2/org/eclipse/jetty/infinispan-embedded/10.0.11/infinispan-embedded-10.0.11-config.jar
https://repo1.maven.org

[2022-09-02 21:39] MoonLord-LM commented on #8540
I will fix this.

[2022-09-02 23:49] gregw commented on #8533
System properties are a poor way to configure jetty as we frequency have multiple connectors per server and sometimes multiple servers per JVM.   Thus a system property based PR would be unlikely to be accepted into the main line.

We prefer to configure things like this via setters that can be called directly in code or via XML injection.

[2022-09-02 23:57] gregw commented on #8533
System properties are a poor way to configure jetty as we frequency have multiple connectors per server and sometimes multiple servers per JVM.   Thus a system property based PR would be unlikely to be accepted into the main line.

We prefer to configure things like this via setters that can be called directly in code or via XML injection.

[2022-09-03 00:10] gregw commented on #8536
Thanks,  Good catch.

However, I'm wondering about if we should always start the swapped handler?  Perhaps we start it only if the handler we are replacing was started?

[2022-09-03 00:17] MoonLord-LM opened #8545 "infinispan projects have been moved in 12.0.x, so renaming is needed."
[ infinispan ] projects have been moved, so renaming is needed.

_Originally posted by @MoonLord-LM in https://github.com/eclipse/jetty.project/issues/8542#issuecomment-1235964809_

[2022-09-03 00:27] MoonLord-LM commented on #8545
https://github.com/eclipse/jetty.project/pull/8542/commits/d4cd67c1c3183af325ca57a1c4e90842c7d953c4

[2022-09-03 03:54] #8540 closed, assigned to nobody

[2022-09-03 03:59] #8545 closed, assigned to nobody

[2022-09-03 03:59] olamy commented on #8545
PR merged.
thanks!

[2022-09-04 04:57] onkar4in opened #8546 "org.eclipse.jetty.io.EofException: null"
Hi I am using 9.4.x version of jetty  which acts as client to connect to the server. In my client application, I start multiple sockets (about 100) sequentially. Out of 100 websockets, i get below error for like 20.

Can anybody guide me as to how do I fix this? It says "An established connection was aborted by the software in your host machine"
Java 1. 8
Spring boot
Windows OS

 stored flush exce

[2022-09-05 09:39] #6695 closed, assigned to nobody

[2022-09-05 10:35] Francis-Valcke commented on #8533
Yeah, I understand! I'll try to find another way of tackling this problem. Thanks for the responses!

[2022-09-05 10:35] #8533 closed, assigned to nobody

[2022-09-06 00:00] #2205 closed

[2022-09-06 01:05] olamy commented on #8439
this should be fixed with this commit https://github.com/eclipse/jetty.project/pull/8034.

[2022-09-06 04:16] laeubi commented on #8439
Thanks!

[2022-09-06 07:30] #8532 closed, assigned to sbordet

[2022-09-06 10:51] thomasnikolay commented on #8422
@joakime But the implementation for the "message" is implemented in this project. https://github.com/eclipse/jetty.project/blob/cb127793e5d8b5c5730b964392a9a905ba49191d/jetty-annotations/src/main/java/org/eclipse/jetty/annotations/AnnotationParser.java#L563

The warn message is fine for me but it should be configurable, when I am sure there is no problem with the conflict. Otherwise to many warnin

[2022-09-06 12:13] joakime commented on #8422
If the conflict is at the same classloader level, it's a bug you can fix by correcting what you put in your classloader at that level.

If the conflict is across classloader parent levels, then it's bug you can correct by either correcting what you put in your classloader at one level or the other, or it's a bug you can correct by specifying the scope of scanning.

* If it's the container jars tha

[2022-09-06 12:16] joakime commented on #8546
Jetty 9.x is now at End of Community Support.

* https://github.com/eclipse/jetty.project/issues/7958

Does this happen with Jetty 10.x?

If you cannot upgrade, know that Commercial Support for Jetty 9.x is offered via [webtide.com](https://webtide.com) (contact [sales@webtide.com](mailto:sales@webtide.com) for details)

[2022-09-06 13:01] StefanViljoen opened #8549 "Embedded Jetty 10 and up - WebAppContext cannot parse jar:file ExternalForm resources from JAR"
Jetty Version: Jetty 10.0.0 up to Jetty 11.0.11 inclusive

Java Vendor: java version "17.0.4.1" 2022-08-18 LTS
Java(TM) SE Runtime Environment (build 17.0.4.1+1-LTS-2)
Java HotSpot(TM) 64-Bit Server VM (build 17.0.4.1+1-LTS-2, mixed mode, sharing

Operating system: Linux, Ubuntu 20.04 LTS

Description:

In a .jar with an embedded Jetty from version 10.0.0 and up,  the  WebAppContext class cannot p

[2022-09-06 13:29] joakime commented on #8549
Some things that stand out ...

Keep in mind that Jetty 10+ jar files have valid module-info.class files.
This means the JVM access rules for what's in the JAR files are different than Jetty 9 and older.
This is important to recognize.

Don't use a jar-with-dependencies with a WebApp / WAR based context.
WebApp rules on packaging are super strict and about how components are found/discovered.

Don

[2022-09-06 13:33] StefanViljoen commented on #8549
Thanks joakime! What would you suggest? I cannot easily convert the format of this project to a .war (for example) as it is a -massive- project of which Jetty is but a tiny, embedded part.

[2022-09-06 13:47] joakime commented on #8549
First off, which style of "jar-with-dependencies" are you using?
(I've seen about 6 different types in the wild now).

If you rely on dependencies to be linked in `META-INF/MANIFEST.MF` then you have a lot of work ahead of you.
As once you cross the JVM barrier from Java 8 (where this was common and pretty reliable) to Java 9+ (where `module-info.class` is important to the JVM to specify cross dep

[2022-09-06 14:04] StefanViljoen commented on #8549
How can I determine what type I'm using?

It is a Maven based project and Maven (as far as I can tell) handles all the implementation details of the "jar-with-dependencies".

The problem is this project was inherited from someone senior who is no longer available to advise.

How can I tell if I rely on meta-inf/MANIFEST.MF ? I have these files in several folders in the project "jar-with-dependenci

[2022-09-06 14:43] joakime commented on #8474
This is how it currently is in Jetty 12.0.x.

See testcase: https://github.com/eclipse/jetty.project/blob/8953873e67cebd204366c9c95ab68660f56f0b4a/jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/ResourceCollectionTest.java#L134-L174

You can combine (using `ResourceFactory.combine()`) two or more resources regardless of type (eg: `PathResource` and `ResourceCollection`), and ge

[2022-09-06 15:06] StefanViljoen commented on #8549
Hi Joakime

Discussed this a bit with some guys here and we simply cannot make the time investment to effectively redevelop a project with six man years invested in it just so we can read resources for Jetty from a JAR, and host in a detached JRE on a Linux machine.

Because that is all that is broken -  we cannot get resources out of a .JAR under JDK 17 and Jetty 11.0.11. Otherwise, it all still

[2022-09-06 15:09] joakime commented on #8474
Checking Jetty 9/10/11 I see a PutFilter, not there in Jetty 12.0.x

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-servlets/src/main/java/org/eclipse/jetty/servlets/PutFilter.java

It doesn't use Resource anyway, so not a problem.

QuickStart has a few places where it creates a Resource, those all need to be addressed, as it doesn't take into account composite behaviors, and can

[2022-09-06 16:43] joakime commented on #8549
The change required is how you start your project, the rest of the code wouldn't need to change.
In other words, you have to start the JVM correctly depending on how you intend to use the JVM (eg: classpath mode vs module mode).
Maven, for example, will execute your projects with module mode if you have module-info.class files present, classpath if you don't.

This is not unique to yourself or you

[2022-09-06 16:53] joakime commented on #8549
The only rewrite would be for the Jetty 11 and its use of Jakarta EE 9 and the namespace change.

If you go to Jetty 12, then you'll have a different rewrite to not use deprecated methods in the servlet spec (they have been deprecated for a while, and are now removed in Jakarta EE 10, which will ship with Jetty 12)

Note, that if you move to Jetty 11, these JSP files will need to be touched / upda

[2022-09-07 00:13] olamy opened #8555 "Jetty Releases 9.4.49"
**Jetty Versions:**
This release process will produce releases: 9.4.49 (9.4.49.v20220914)

**Target Date:**
9/9/2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issu

[2022-09-07 07:12] sbordet commented on #8549
@joakime I think what reported by @StefanViljoen is a legit regression.

Should not matter whether we have `module-info.java` files in Jetty 10+, and neither whether the JVM starts with JPMS.

@lorban can you please write a test and verify whether we really can't serve `jar:file:` resources?
I'm surprised we don't have a test already.

[2022-09-07 07:50] StefanViljoen commented on #8549
How would I do that? E. g. start the JVM in the "correct way" and switch between these two modes? I've not seen any references anywhere about the above, all this is completely  new to me... thanks for  assisting.

That makes sense, but it still calls into question the entire Jetty / Java infrastructure we've spent... well, not millions, but close to it, to invest in and build up over about seven y

[2022-09-07 08:21] StefanViljoen commented on #8549
I don't understand... as I've found, -everything- with JDK 17, Jetty 11.0.11 works perfectly as-is - as long as I stay **inside the NetBeans 14 IDE**. You've explained why that is the case, yet here you state a rewrite would have to be done for Jetty 11 and if I use the Jakarta EE 9 artifacts - we do use them already, and it works as is in Netbeans 14, with JDK17 and Jetty 11.0.11?

Cause we did n

[2022-09-07 08:23] lorban commented on #8549
@StefanViljoen

Jetty 11 has a test that ensures serving static content from a jar:file: URI works: https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/jetty-servlet/src/test/java/org/eclipse/jetty/servlet/DefaultServletTest.java#L270

I also tried following your instructions and I could not reproduce your problem: I created a class file that starts Jetty as you've shown, serving static fil

[2022-09-07 09:04] StefanViljoen commented on #8549
@lorban

Good day sir, thank you for replying!

Ok... does that test imply running the produced JAR under JDK17 with Jetty 11.0.11 outside the IDE? E. g. tests are  usually IDE driven... and execute in the realm of the IDE's "view" of the local configured JRE.

I'll take a look at the link you posted now and see  if I can implement that in my setup and what happens.

Did you check if you run it ou

[2022-09-07 10:42] StefanViljoen commented on #8549
@lorban I've tried repeatedly now to attempt to implement your test's setup code as given at

https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/jetty-servlet/src/test/java/org/eclipse/jetty/servlet/DefaultServletTest.java#L270

But I cannot get the code to run at all.

Here's my code:

``
public boolean startJetty(Server server) throws Exception, InterruptedException {
        boolean ret

[2022-09-07 10:56] StefanViljoen commented on #8549
@lorban I've tried now to implement your test's code at

https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/jetty-servlet/src/test/java/org/eclipse/jetty/servlet/DefaultServletTest.java#L270

to test (I assume this is one thing you want me to try?)

However, I seem to be lacking some dependencies to even minimally try to emulate what you do to establish that jar:///file resources work in t

[2022-09-07 11:16] StefanViljoen commented on #8549
@ lorban

Would you mind sharing the method you did the above in?

I want to see if I implement it EXACTLY like you do on my side, it makes any difference.

It is getting to be an extremely desperate situation on my side, 98+ total hours of development invested in this already to get embedded Jetty in our use case to read HTML, JS, etc. resources out of a JAR. Managers here want to pull the plug o

[2022-09-07 11:17] lorban commented on #8474
I think that by removing `Resource.isMemoryMappable` you introduced a bug. That call was used by `BufferUtil.toMappedBuffer(Resource)` to memory map resources backed by filesystem files.

But if a `Resource` is backed by a jar file, it cannot be memory mapped and without that `isMemoryMappable`  check, `BufferUtil.toMappedBuffer(Resource)` throws an exception instead of returning null.

[2022-09-07 11:35] lorban commented on #8549
I've created a project over here: https://github.com/lorban/jetty-fatjar-static-resource-serving

Simply building it with `mvn clean package` then starting it with `java -jar target/reproducer-8549-1.0-SNAPSHOT-jar-with-dependencies.jar` will make Jetty listen on port 8080 and serve the static files that are in the jar's `/static` folder.

[2022-09-07 11:39] joakime commented on #8549
Your NetBeans 14 IDE likely has too many dependencies that are irrelevant now once you crossed into the Jakarta EE 9 namespace.
Dependencies that are literally never used by anything at runtime.

Copy this class into your project, put it somewhere nearby where you have the Jetty code, and run it from your IDE.

[code]

If you get responses on `javax.servlet.ServletContext`, then your list of depen

[2022-09-07 14:07] StefanViljoen commented on #8549
.
.
.

Ok, I got this back:

[code]

So that at least is good to go.

That is what I suspected was going on. You gotta love democracy.

Hmm ok my version of Netbeans is apparently set to HTML strikethrough any deprecated code -  cannot spot "struck through" code anywhere in the Jetty setup code or in most of the APIs code that run through Jetty.

Phew. One thing is correct! Yay.

Ok... my JSPs cur

[2022-09-07 14:30] StefanViljoen commented on #8549
@lorban

How do I do that?

(I will go read up and try to figure out how to do that, never used GitHub before.)

However, what I did do is to replace my Jetty startup method with the one you give here, and the behaviour is 100% the same as before: it ONLY works inside the IDE. Compile it into a JAR, and it does not work at all when run in JDK 17 outside the NetBeans 14 IDE. Still 404 when running

[2022-09-07 14:47] StefanViljoen commented on #8549
Ok figured out how to clone the project down and followed your directions.

It does work as you say... I copied my "static" folder into it, built the JAR with dependencies, copied it to my Linux testing server and ran it there under the official Oracle JDK 17 - and then it CAN serve my HTML etc. correctly out of the same JAR Jetty 11 is running out of.

Thanks! This is some hope.

[2022-09-07 17:53] lorban commented on #8549
As @joakime pointed out at https://github.com/lorban/jetty-fatjar-static-resource-serving/commit/2340476d03a832d6764cb12f7295bc3dee1ec0dd#r83302224 this project of mine using the assembly plugin with jar-with-dependencies to create a fat jar only works by chance, and should build the fat jar with the shade plugin instead.

You can try it out by replacing the assembly plugin with the shade plugin t

[2022-09-08 06:35] lprimak opened #8556 "ServletContext.getSessionTimeout() incorrectly throws IllegalStateException"
**Jetty version(s)**
10.0.11 and newer

**Java version/vendor** `(use: java -version)`
Doesn't matter

**OS type/version**
Doesn't matter

**Description**
Jetty throws `IllegalStateException` when `ServletContext.getSessionTimeout()` is called from a servlet filter, or a plain servlet.
This violates the servlet spec.
See Javadoc: https://javadoc.io/static/javax.servlet/javax.servlet-api/4.0.1/java

[2022-09-08 08:33] StefanViljoen commented on #8549
@joakime I've now implemented the Jetty uber jar Maven POM you linked to, e. g.

https://github.com/jetty-project/embedded-jetty-uber-jar/blob/jetty-11.0.x/pom.xml#L160-L236

My project now uses much the same POM, and as far as I can tell from the console output, it is now using the shade plugin, plus it is applying the various exclude tags you list there in that POM example to get rid of META-INF

[2022-09-08 09:00] StefanViljoen commented on #8549
@joakime Additionally, if I now try to run the new "shaded" JAR in the Oracle JDK 17 JRE on Linux, via

[code]

the JRE returns

[code]

[2022-09-08 09:27] olamy opened #8557 "Jetty Releases 10.0.12, 11.0.12"
**Jetty Versions:**
This release process will produce releases: 10.0.12, 11.0.12

**Target Date:**
9/9/2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "r

[2022-09-08 09:28] StefanViljoen commented on #8549
@lorban In your Jetty test at

https://github.com/eclipse/jetty.project/blob/jetty-11.0.x/jetty-servlet/src/test/java/org/eclipse/jetty/servlet/DefaultServletTest.java#L270

You have this code

[code]

For my use case, I have changed this to

[code]

Since my folder is called "static" and definitely in my JAR contains a file "index.html".

I assume this is correct?

I have a question as well, in y

[2022-09-08 09:50] clardeur opened #8558 "Idle timeout occured sometimes on HTTP/2 client with `InputStreamResponseListener`"
**Jetty version(s)**
11.0.8

**Java version/vendor**
openjdk version "11.0.16" 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode, sharing)

**OS type/version**
Linux 5.4.0-125-generic 141~18.04.1-Ubuntu  x86_64 x86_64 x86_64 GNU/Linux

**Description**
We have switched in production the

[2022-09-08 10:24] StefanViljoen commented on #8549
@joakime I have now implemented the replacement of the WebAppContext with the Servlet as you demonstrate at

https://github.com/jetty-project/embedded-jetty-cookbook/blob/jetty-11.0.x/src/main/java/org/eclipse/jetty/cookbook/DefaultServletFileServer.java

**after switching to Maven shade** as you suggested and using the advised POM.xml as I describe in my above post.

In the NetBeans 14 IDE, (as y

[2022-09-08 10:31] joakime commented on #8556
Referenced code ...

https://github.com/eclipse/jetty.project/blob/jetty-10.0.11/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/ServletContextHandler.java#L1423-L1438

https://github.com/eclipse/jetty.project/blob/d988aa016e0bb2de6fba84c1659049c72eae3e32/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/ServletContextHandler.java#L1423-L1438

[2022-09-08 10:32] joakime commented on #8556
This is a curious one, as we pass the Servlet 4.0 TCK.  Wonder if this isn't even tested for in the TCK?

[2022-09-08 12:10] StefanViljoen commented on #8549
Investigated this a bit myself, and modified my startup code according to this link:

https://stackoverflow.com/questions/65637135/how-to-enable-jsp-in-a-jetty-server-in-a-jar-file

I now have functional JSP pages back while running the code inside the NetBeans 14 IDE, using a ServletContextHandler instead of a WebAppContext, using a Maven shade-ed JAR with Jetty 11.0.11 and Apache JSTL and Apache

[2022-09-08 13:29] lprimak commented on #8556
Probably not tested by the TCK…
This also needs to work regardless if there is a session present

[2022-09-08 13:54] lorban commented on #8549
This log is strange:
[code]
your Web Root URI seems to be blank which would explain your present problem: `Resource.newResource()` internally tries to convert the URI into a URL, but that only works with absolute URIs.

You should try simplifying the way you configure your static folder:

[code]

See if this helps.

[2022-09-08 14:03] StefanViljoen commented on #8549
Yes I noted that too...

Did the above, no change. That variable remains a zero-length string, resulting in the same exception.

Can I simply hardcode that string maybe? (I guess that will not work either.)

Much obliged.

[2022-09-08 14:05] StefanViljoen commented on #8549
@lorban here's my startup method that currently fails after applying the above kind suggestion:

[code]

[2022-09-08 14:26] StefanViljoen commented on #8549
@lorban Ok, tried to hardcode the URL, as I suspected that doesn't work either:

[code]

webRootURL now resolves to null:

[code]

Surely it is possible for Jetty to read a resource from a .JAR -without- using

[code]

(which doesn't work either) and is Bad Code according to @joakime  but that at least returns

[code]

None of the examples I could so far find or get from seem to work at all for re

[2022-09-08 15:51] lorban commented on #8549
The following line is incorrect:
[code]
`ClassLoader.getResource()` takes a resource name, not a URI string as parameter. If you would like to hardcode the URL, you have to do it this way:
[code]
One extra step you could take to figure out what Jetty can see from your static folder is to use the `Resource` object yourself before passing it to the context:
[code]
If the above code manages to print

[2022-09-08 20:08] henryrneh opened #8575 "Integrating jetty.project into OSS-Fuzz"
Hi all,

We have prepared the [initial integration](https://github.com/google/oss-fuzz/pull/8447) of jetty.project into [Google OSS-Fuzz](https://github.com/google/oss-fuzz) which will provide more security for your project.

Why do you need Fuzzing?
The Code Intelligence JVM fuzzer [Jazzer](https://github.com/CodeIntelligenceTesting/jazzer) has already found [hundreds of bugs](https://github.com/

[2022-09-08 20:51] joakime commented on #8575
Why monitor another project?
Why can't this be a normal github action that runs and reports in this project? (like every other code quality tool out there)

[2022-09-09 01:27] olamy opened #8576 "Use jackson-bom"
currently we use have multiple jackson dependencies and so when dependabot make PRs for each some fail because of enforcer rules.
Having only the bom version to change will validate in a single PR the upgrade

[2022-09-09 07:41] henryrneh commented on #8575
At the moment OSS-Fuzz does not support Github actions, but thanks for your feedback

[2022-09-09 10:45] StefanViljoen commented on #8549
@lorban @joakime

That worked!

At last. THANK YOU VERY MUCH.

Using the above guidance, by hardcoding the jar: URL for cases where the code must run in the datched JRE in Linux the deatched JRE can now find the  required resources from the jar while running outside the realm of the IDE...

So it is now working.

Thank you very much for the assistance guys.

Here's my final Jetty startup procedure

[2022-09-09 11:32] joakime commented on #8557
Why is documentation being deployed?

https://oss.sonatype.org/content/repositories/jetty-1783/org/eclipse/jetty/documentation/

[2022-09-09 11:35] olamy commented on #8557
I just ran the script.

[2022-09-09 11:36] olamy commented on #8557
but at least documentation can be simply deployed by downloading then unzip the file https://oss.sonatype.org/content/repositories/jetty-1783/org/eclipse/jetty/documentation/jetty-documentation/10.0.12/jetty-documentation-10.0.12-html.zip
as requested for 12 https://github.com/eclipse/jetty.project/issues/8489

[2022-09-09 11:40] joakime commented on #8557
Ah.  OK.

[2022-09-09 11:43] joakime commented on #8557
We should look into how we can automate attaching relevant tarballs to the staged release instead.

Example:

1. Main `jetty-home` tarball (and zip?)
2. Documentation tarball (or zip?)
3. Javadoc (as jar? tarball? zip?)

These can probably be triggered via a github action on release publish, to use the the associated release tag, download the jetty-home from central, build the documentation and ja

[2022-09-09 14:46] StefanViljoen commented on #8549
For completeness sake (and in case someone with a similar issue searches here later) the

enableEmbeddedJspSupport(context);

line in the code above refers to this method, which enables JSP functionality in the ServletContextHandler (used instead of WebappContext) above (found on stackoverflow - missing the link no though):

[code]

[2022-09-09 18:52] electrum opened #8578 "`getRequestURL` can append "null" if `getRequestURI` is unspecified in an authority-form request-target"
**Jetty version(s)**

9.4.x
10.x

**Description**

When upgrading to Jetty 9.4.48, we see that `AbstractProxyServlet.rewriteTarget()` calls `clientRequest.getRequestURL()` which results in `https://localhost:50393null` due to `getRequestURI()` returning null (since the URI path is null). While this `Request` behavior seems to have existed for ~10 years and is not the root issue, it still seems to

[2022-09-09 20:03] joakime commented on #8555
@olamy drop the current stage, we have to reroll for https://github.com/eclipse/jetty.project/pull/8579

[2022-09-09 20:05] joakime commented on #8578
Opened PR #8579 to solve for `jetty-9.4.x`.

Attempting to replicate in `jetty-10.0.x` now ...

[2022-09-09 20:14] joakime commented on #8557
Drop the current staged releases for 10 and 11.
They need to be rerolled with the fix for https://github.com/eclipse/jetty.project/pull/8580

[2022-09-09 20:16] joakime commented on #8578
Opened PR #8580 to solve for `jetty-10.0.x` (this will be merged to `jetty-11.0.x` once approved/merged)

[2022-09-10 00:00] #6595 closed, assigned to nobody

[2022-09-12 00:00] #6570 closed, assigned to janbartel

[2022-09-12 09:39] sbordet commented on #8558
@clardeur thanks for the detailed report!

I can definitely see a race condition, we're working to analyze it and fix it.

[2022-09-13 00:00] #6611 closed, assigned to gregw

[2022-09-13 16:03] joakime commented on #8578
Complete.

Merged from 9.4.x through to 12.0.x

[2022-09-13 16:03] #8578 closed, assigned to joakime

[2022-09-14 13:44] Horcrux7 commented on #7740
In the meantime there is [RFC9220 Bootstrapping WebSockets with HTTP/3](https://www.rfc-editor.org/rfc/rfc9220.html).

[2022-09-14 19:04] jmcc0nn3ll opened #8583 "Eclipse Jetty Website and Documentation"
### We are once more confronted with a problem related to the Eclipse Jetty Website.

The root of the problem stems from this [issue](https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/732) on the Eclipse helpdesk.  Nested in this issue are several objectives related to security and other factors, but the primary one I care about for this issue is that PHP support will be removed.  This was a

[2022-09-14 19:11] jmcc0nn3ll commented on #8583
Currently, I have a fork of the jetty.project repository that I have started massaging into the right structure across the `jetty-9.4.x`, `jetty-10.0.x`, `jetty-11.0.x` and `jetty-12.0.x` branches. I have a repository with a copy of the antora-default-ui that I have fiddled with a bit to see how it works. Finally, I have a local directory that I can use to build the site with Antora. It requires a

[2022-09-14 19:25] joakime commented on #8583
+1 (from me) for having the source of our documentation be based on asciidoc (or markdown).

[2022-09-14 19:55] cowwoc opened #8584 "org.eclipse.jetty.client.HttpRequest.send() never returns"
**Jetty version(s)**: 11.0.11

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version** Microsoft Windows [Version 10.0.19044.2006]

**Description**
_Do not report security issues here! See [Jetty Security Reports](https://www.eclipse.org/jetty/security_reports.php)._

**How to reproduce?**

I'm seeing an intermittent situation where invoking `org.eclipse.jetty.client.HttpReques

[2022-09-14 20:02] cowwoc commented on #8584
A few more points:
* I cannot share the application because it's commercial.
* I am using a single `HttpClient` instance with 1000 different proxies.
* Each proxy is mapped to a separate SOCKS tunnel that runs over SSH to a different remote computer.

Here is my `HttpClient` initialization code:

[code]

I doubt I'll be able to reproduce this with Jetty verbose logging enabled because the issue mi

[2022-09-14 20:44] joakime commented on #8584
Is this HttpClient only using HTTP/1 or is it setup for HTTP/2 as well?

[2022-09-14 20:49] cowwoc commented on #8584
@joakime I'm fairly sure I'm only using HTTP/1, but how can I check to be sure?

PS: I tried reproducing the issue with `DEBUG` logs enabled and was unable to, but it occurs (eventually) if Jetty's logging is set to `WARN`.

[2022-09-14 21:11] joakime commented on #7192
The new Issue #8558 shows the details we were missing.
I'm closing this specific issue, see #8558 for the effort to fix this issue.

[2022-09-14 21:11] #7192 closed, assigned to nobody

[2022-09-14 21:23] sbordet commented on #8558
@clardeur would you be able to try branch `jetty-10.0.x-8858-idle-timeout-http2-inputstreamresponselistener` and see if it solves the problem for you?

[2022-09-14 23:02] cowwoc commented on #8584
Another thing that comes to mind is that I'm using Intellij's Hotswap feature to modify the application's code without restarting the JVM. Is it possible that hotswap is somehow screwing up Jetty's state?

I'll let you know if I run across this bug without using hotswap.

[2022-09-15 07:58] clardeur commented on #8558
Hi @sbordet, could you backport the commit on the `11.0.x` branch ? We have dependencies like `websocket-jakarta-server` that does not exist on the branch `10.0.x`, it's easier to test for us on our production stack with the same major version.

If it's not possible, I can backport the changes myself locally just for testing purpose. But in any case, we need the fix on the `11.0.x` version. Thanks

[2022-09-15 08:18] #8558 closed, assigned to sbordet

[2022-09-15 08:22] sbordet commented on #8558
@clardeur I just merged the changes to Jetty 11 too, so you can build locally branch `jetty-11.0.x` and test.
Let us know how it goes. Thanks!

[2022-09-15 12:20] joakime commented on #8555
@olamy The entry titled "Create the [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects) for the next releases." means to create the NEXT Jetty release in the project pages. (not this one).

Eg: For this task list, that means 9.4.50 needs to be created as a project

[2022-09-15 12:21] joakime commented on #8557
@olamy The entry titled "Create the [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects) for the next releases." means to create the NEXT Jetty release in the project pages. (not this one).

Eg: For this task list, that means 10.0.13 and 11.0.13 need to be created as a projects

[2022-09-15 12:25] olamy commented on #8557
Not sure why but they are here https://github.com/orgs/eclipse/projects

[2022-09-15 12:26] olamy commented on #8555
Not sure why but it's here https://github.com/orgs/eclipse/projects

[2022-09-15 12:36] joakime commented on #8557
They were not there up until a few minutes ago, when I made them no longer hidden.
Next time, link to them here (like i did in the checklist above)

[2022-09-15 12:36] joakime commented on #8557
We need to figure out how to make them no longer "private" as well

[2022-09-15 14:33] clardeur commented on #8558
I have re-run a job that crash every time due to this issue and it goes well :+1:

_My 2 cents_
It could be benefit for the project to add more client/server chaotic "production" load test like the `HttpClientLoadTest` with some parametrized scenarios that mix different implementations like `Listener.Adapter` or `ConnectionPool` to detect race condition or just functionnal regressions. @sbordet WD

[2022-09-15 14:56] sbordet commented on #8558
@clardeur we have added your test to our suite, if that's what you meant.

The problem is that we can have a million edge cases, with 7 different transports, with many different ways of doing the same thing, and while we try, we cannot possibly cover all of them.

Your case only happens with HTTP/2, only with `InputStreamResponseListener`, only with more than 1 request sent iteratively, and only w

[2022-09-15 15:56] clardeur commented on #8558
IMO my test case is very specific and related to this issue. I'm not sure if it's a good test to add.

Hard to find, indeed :sweat_smile:

Yeah I know, a complex problem that requires time and expertise in testing. Since we have been using Jetty in production for 7 years now, some issues (https://github.com/eclipse/jetty.project/issues/7107) ([486829](https://bugs.eclipse.org/bugs/show_bug.cgi?id=

[2022-09-15 16:13] cowwoc opened #8590 "Improve exception message for request/response header too large"
**Jetty version(s)**: 11.0.11

**Enhancement Description**

When the request or response headers are too large, Jetty throws an exception stating `Request header too large` or `Response header too large`.

Is it possible to provide additional information such as: `Header size X was greater than HttpClient.requestBufferSize Y.`

This helps in two ways:

1. It gives the user a rough idea of how big

[2022-09-15 16:17] cowwoc commented on #8590
Additionally, it would be useful to view the offending header value. Even seeing a truncated value would help the user establish whether the client or server needs to be modified.

[2022-09-15 16:21] cowwoc opened #8591 "Indicate units of HttpClient properties"
**Jetty version(s)** 11.0.1

**Enhancement Description**

For example, I assume that `HttpClient.setRequestBufferSize()` and `HttpClient.setResponseBufferSize()` refer to a value in bytes but it would be helpful for the Javadoc to state this explicitly. Alternatively, rename the parameter name from say `requestBufferSize` to `requestBufferSizeInBytes`.

[2022-09-15 16:39] sbordet commented on #8591
Care to contribute a pull request? Against `jetty-10.0.x`, we will merge forward. Thanks!

[2022-09-15 17:40] joakime commented on #8590
This can be tricky, because on the server side you don't want to reveal any kind of configuration based information in an exception message as those can flow back to the user in various ways.

Traditionally, these are DEBUG logging messages, and improving those is definitely on the table.

[2022-09-15 19:04] joakime commented on #8555
@olamy This release is now present on Maven Central - https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-home/9.4.49.v20220914/

[2022-09-15 19:05] joakime commented on #8557
@olamy these releases are now available on Maven Central

* https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-home/10.0.12/
* https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-home/11.0.12/

[2022-09-16 00:01] #6612 closed, assigned to nobody

[2022-09-16 03:02] cowwoc commented on #8590
DEBUG logs are fine with me.

[2022-09-16 19:17] #8549 closed, assigned to nobody

[2022-09-17 00:36] olamy commented on #8557
done

[2022-09-17 00:36] #8557 closed, assigned to olamy

[2022-09-18 00:00] #6632 closed, assigned to nobody

[2022-09-18 00:00] #6631 closed, assigned to nobody

[2022-09-18 13:36] xinguangduan commented on #8445
@joakime  thanks a lot, I got it.

[2022-09-18 13:36] #8445 closed, assigned to nobody

[2022-09-19 00:00] #6594 closed, assigned to nobody

[2022-09-19 00:00] #5684 closed, assigned to gregw, joakime, sbordet

[2022-09-19 04:30] olamy commented on #8555
release done

[2022-09-19 04:30] #8555 closed, assigned to olamy

[2022-09-19 07:08] elipsion commented on #8536
I think the child handler should always be started if the `HotSwapHandler` itself is started (or starting).

I'd rather err on the side of caution and have started one too many as opposed to dropping requests on the floor because we didn't.

[2022-09-19 08:46] lachlan-roberts commented on #8137
fixed with #8155

[2022-09-19 08:46] #8137 closed, assigned to lachlan-roberts

[2022-09-19 08:56] cowwoc commented on #8584
This looks like a real bug. I've reproduced it without the use of hot swap, even running completely from command-line without any sort of debugging taking place.

How do we go about debugging this further?

[2022-09-20 17:22] cowwoc commented on #8584
In the minutes preceding this hang, I see request response time increases from a few seconds to multiple minutes.

I'm not sure if this is thread starvation or some sort of network throttling introduced by the servers I am hitting.

Is it theoretically possible for a server to keep a connection alive forever yet send no actual data over the wire (as a form of network throttling)? If so, are there

[2022-09-20 22:17] cowwoc commented on #8584
I think I found a solution. I registered event listeners with `Request.onRequestBegin()` and `Request.onResponseBegin()` that invoke `Request.abort()` or `Response.abort()` if the overall request time surpasses some limit. I'm pretty sure that this will solve the aforementioned hangs.

I'll let you know in a couple of days.

[2022-09-21 12:25] joakime commented on #6592
Fixed in https://github.com/apache/zeppelin/pull/4385

[2022-09-21 12:25] #6592 closed, assigned to nobody

[2022-09-21 13:14] sbordet opened #8606 "Jetty 12: restore scope listeners functionality"
**Jetty version(s)**
12

**Description**
@lachlan-roberts can you please have a look at `AsyncIOServletTest` in both ee9 and ee10 and restore the scope listener functionality?

[2022-09-21 18:21] joakime opened #8607 "Jetty 12: Missing `jsp_2_3.xsd` during Servlet web-app 4.0 XML validation"
**Jetty version(s)**
Jetty 12

**Description**
When using the web-app 4.0 xsd, there is a missing `javaee:jsp-configType`

The definition in `web-common_4_0.xsd` has an entry ...

[code]

That cannot be resolved, as there's no `jsp_2_3.xsd` anywhere in our dependency tree right now.

[code]

[2022-09-22 01:08] cowwoc commented on #8584
Unfortunately, the hang still occurs. I would appreciate your advice on how to best track this back to the source. It's difficult to figure out because the issue is intermittent. Are there any sort of event listeners I should make use of? Any sort of logging I should enable?

Remember, if I enable too many logs the problem seems to go away... so it's probably some sort of race condition.

[2022-09-22 06:05] navalgoyal opened #8608 "is Max Connection property of connection pool could be changed dynamically without impacting ongoing connection in live traffic processing"
**Jetty version**
9.4.43v20210629

**Java version**
Jdk 1.8

**Question**
We are using Jetty client for sending Http2 traffic to outside system where we are setting max connection property of connection pool. Initially the value is set to 5 connection and client is opening 5 connection to send traffic. after some time we need to change the value of max connection to 3. can this be possible without

[2022-09-22 17:14] sbordet opened #8613 "Update build for Java 19"
**Jetty version(s)**
10+

**Java version/vendor** `(use: java -version)`
19

**Description**
In Java 18, some API that we use was incubating but available without preview.
In Java 19, these APIs have moved to preview, so we need to update the POM files with the right profiles, especially the `quic-quiche` module that relies on the `foreign` APIs.

@lorban @olamy can you please look into this?

[2022-09-23 06:54] #8536 closed, assigned to nobody

[2022-09-23 09:09] lorban commented on #8613
Regarding the Foreign binding of Quiche, it's not going to be an easy change. The package changed from `jdk.incubator.foreign` to `java.lang.foreign` but there were other breaking API changes too.

I'm going to run `jextract` again on the quiche header file and update our current binding to make it work with JDK 19. But this new binding should replace the existing one; we don't want to keep both t

[2022-09-23 09:35] lorban commented on #8613
Interesting: jextract is now an [open-source project](https://github.com/openjdk/jextract/) but I could not find a pre-built binary. Building it myself is going to need a slightly bigger time investment.

[2022-09-23 16:25] lorban opened #8618 "Update Quiche Foreign mapping to JDK 19"
**Jetty version(s)**
10.0.x, 11.0.x, 12.0.x

**Java version/vendor** `(use: java -version)`
19+

**Description**
The current Quiche Foreign mapping targets the JDK 17 incubating API. It should be reworked to use the JDK 19 final API instead.

[2022-09-23 19:49] cowwoc commented on #8584
@joakime @sbordet
I managed to reproduce the problem with `DEBUG` logs enabled. Can one of the committers please work with me to isolate which portions of the log file you want me to share? I've got 16GB worth, so I assume I can't attach the full thing.

[2022-09-24 09:58] sbordet commented on #8613
@lorban yes we want to keep the Java 17 version, which I think is also valid for 18, and the Java 19 version.

They will be different modules under `jetty-quic-quiche` parent.

We have done this for years for ALPN for almost every JDK version, we can do 2 modules for foreign with the proper POM config and Jetty module config.

[2022-09-24 13:57] sbordet commented on #8608
This is currently not supported.

[2022-09-24 14:01] sbordet commented on #6699
It will wait for the idle timeout only, and then close the connection. It will not retry.

[2022-09-24 14:01] #6699 closed, assigned to nobody

[2022-09-24 14:18] #6701 closed, assigned to nobody

[2022-09-24 14:44] sbordet commented on #8489
It is nice (and IMHO important) to be able to update/clarify the documentation online _without_ making a new release.

So the documentation toolchain should not rely on Maven Central final artifacts, just the source code.
Rebuild it locally and re-deploy it would be my preference.

[2022-09-24 15:23] sbordet commented on #8354
Not a Jetty issue.

[2022-09-24 15:23] #8354 closed, assigned to nobody

[2022-09-24 15:24] sbordet commented on #8469
Not seeing this recently.

[2022-09-24 15:24] #8469 closed, assigned to nobody

[2022-09-24 16:27] jmcc0nn3ll commented on #8489
agreed, the antora work I am doing now would operate in this fashion for 9, 10, 11, and 12

[2022-09-25 00:42] joakime commented on #6923
Closing as solved at localstack/localstack#4625

[2022-09-25 00:42] #6923 closed, assigned to nobody

[2022-09-25 14:36] sbordet commented on #8348
I don't think it's right, and also don't think it's right to have a `jpms` _part_.

JPMS is orthogonal to what `--dry-run=<part>` does, so it should stay as it, behavior wise.

We should fix the handling of `--add-opens` etc. if they are explicitly added in an `[exec]` section, but without `--jpms`.
Should not be just a matter of blindly copying those lines to the constructed command line?

[2022-09-26 08:10] lorban commented on #8613
@sbordet unfortunately, our JDK 17 impl is not compatible with JDK 18. Maybe adapting it wouldn't take much but it definitely isn't source nor binary compatible.

[2022-09-27 08:41] vmassol opened #8622 "The jetty docker image leaks slf4j impl to the webapp"
**Jetty version(s)**
10.0.12

**Description**
XWiki has a webapp that contains slf4j and we've upgraded to version 2.0.0. This is causing a failure to start the official jetty docker image (tag `10-jdk11`), with the following error (see https://jira.xwiki.org/browse/XWIKI-20131 too):

[code]

We are able to start the jetty from the standard jetty zip withoot any problem when using `java -jar $JETT

[2022-09-27 09:24] vmassol commented on #8622
Is there a way to call the docker image and override the entry point/command properly to skip the `jetty.start` usage? I've tried the following (which ends up working, not sure why but no more slf4j error deploying the xwiki webapp :)) but it generates some warnings:

`docker run -v /Users/vmassol/dev/xwiki/xwiki-platform/xwiki-platform-distribution/xwiki-platform-distribution-flavor/xwiki-platfor

[2022-09-27 10:38] sbordet opened #8623 "Use AutoLock in InputStreamResponseListener"
**Jetty version(s)**
10+

**Description**
`InputStreamResponseListener` still uses `synchronized`, but should be using `AutoLock` instead.

[2022-09-27 10:45] #8623 closed, assigned to sbordet

[2022-09-27 17:48] jmcc0nn3ll commented on #8583
Ok, there is a some good and bad related to using Antora. I have managed to get a few hours on this now and wanted to give an update.

I have a fork running and started bringing jetty 9, 10, 11, and 12 into alignment with the structure.  It is pretty straight forward and works well in Intellij.

1. The structure is more rigid.

Under 9:
[code]
Under 10, 11, and 12, these exist:
[code]

Under each

[2022-09-27 17:54] jmcc0nn3ll commented on #8583
I should also add that there have been developments in the underlying push for all of this. The original issue has been closed and a new one opened [here](https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1991). There was a lot of complaining about the move and we have officially been grandfathered and our URL will not change anymore.

PHP will still be going away so we do have that to conte

[2022-09-27 19:44] jmcc0nn3ll commented on #8583
I think dropping the java side of the documentation generation would help in other ways as well. It would be nice if we could use [wshito/asciidoctor-chunker](https://github.com/wshito/asciidoctor-chunker) to split things out by chapter that might be interesting. Assuming it can be linked into Antora as well, not sure about that.

[2022-09-28 06:49] cowwoc commented on #8584
Any idea what would cause an HTTP request to stay in the queued state forever? I've got `maxConnectionsPerDestination` set to `Integer.MAX_VALUE` and the executor is `Executors.newThreadPerTaskExecutor()` which again should have no limit. In this case, do you ever expect requests to queue for a long time?

Also, does invoking `Request.abort()` also abort a response if it's in progress? Or do I nee

[2022-09-28 09:50] sbordet opened #8627 "Implement WebSocket over HTTP/3"
**Jetty version(s)**
10+

**Enhancement Description**
Implement WebSocket over HTTP/3 as specified by https://datatracker.ietf.org/doc/html/rfc9220.

Should be pretty much identical to WebSocket over HTTP/2.

[2022-09-28 09:51] sbordet commented on #8627
@lachlan-roberts if not too much work, and we can support this in Jetty 10, I would do it in Jetty 10.

[2022-09-28 12:12] sbordet commented on #8584
@cowwoc I'll look into this. Are your logs 16 GiB compressed?
Can you `split` the compressed file and attach the single split files?

[2022-09-28 15:42] mark-christiaens opened #8628 "Pseudo restore `PathMappings.getMatch(String)` for backwards compat reasons"
**Jetty version(s)**
10.0.10

**Java version/vendor**

Not relevant

**OS type/version**

Not relevant

**Description**

Commit `8de55150fe1889c2c748b821a4f76bce9cbf8f9a` deprecated ` PathMappings#getMatch(String)` _and_ made it throw an `UnsupportedOperationException`.

[code]

This is a non-backwards compatible change.  Our code now throws exceptions.  I suspect this should not be done in a mino

[2022-09-28 16:06] joakime commented on #8628
A bit surprised someone is using PathMapping directly like this.
It's not really exposed to outside use directly like that.
Typical usage is to just give either the ServletHolder/ServletHandler or WebSocketServer tree a PathSpec and the underlying implementation uses the PathMappings object to manage them.
How are you using it?

Anyway, the `.getMatch(String path)` was set to UnsupportedOperationE

[2022-09-28 16:21] joakime commented on #8628
Ah, yes.

The API is designed now to return `MatchedResource` which returns the pathSpec, Resource, pathMap, and pathInfo on the hit.
The old `MappedResource` is still there, as the input to establish the mapping, but not returned in any `.getMatch*()` API.

The `MappedResource` doesn't have the pathMap and pathInfo bits.
The new `MatchedResource` does, and is an object used with in the dispatch i

[2022-09-28 16:27] joakime commented on #8628
A pseudo backward compat option has been opened as PR #8629

[2022-09-29 16:26] #6896 closed, assigned to nobody

[2022-09-29 17:36] sbordet commented on #8584
@cowwoc the DEBUG logs will be great if you can provide them.

My impression is that this has something to do with the SOCKS configuration.

The DNS resolution should be subject to `HttpClient.addressResolutionTimeout`, but only if it's `SocketAddressResolver.Async`. Make sure you use that.

After the address is resolved, the connect attempt is subject to the `HttpClient.connectTimeout`.
So again

[2022-09-29 18:01] cowwoc commented on #8584
@sbordet Sorry for the delayed response. The original logs I collected did not contain enough information to track the transition from application threads to Jetty's threads and back. As usually happens in such cases, adding logs made the problem harder to reproduce. I'll let you know as soon as I've got updated logs showing this problem.

What's weird is that I've added a scheduled task that invo

[2022-09-29 19:43] cowwoc commented on #8584
@sbordet Got it!

1. I ran a debug session in Intellij with Jetty DEBUG level logs enabled.
2. The application ran the following code in some grandiose loop:

[code]

3. Eventually I got the error I was looking for: `14:38:08.226 [main] INFO  i.b.c.j.p.WorkScheduler$FlowControl.beforeTask() - Waiting to acquire a permit: FlowControl.WorkScheduler`
4. I paused the debugging session and took a threa

[2022-09-29 21:18] cowwoc commented on #8584
It looks like this is the default so I should be good: https://github.com/eclipse/jetty.project/blob/e3b0e80857cd3f2218f925702b22466a0c4e8bf7/jetty-client/src/main/java/org/eclipse/jetty/client/HttpClient.java#L211

I'll try to write a test case for this and report back.

That, or the server itself could be hanging the response forever as a form of throttling.

Were you successful in reproducing t

[2022-09-29 21:47] cowwoc commented on #8584
@sbordet I emailed you a link to the compressed log file. Please let me know once you finish downloading a copy.

[2022-09-30 01:44] pschaeffer opened #8632 "Response to request for host leads to flood of new requests"
I have found a possible bug in Jetty. I am not sure about this, and the bug may actually be elsewhere. Here is the scenario. A request for abc.com (not really abc.com) comes in. The request is handled by sending a request to abc.com for a response. Of course, the leads to a flood of requests.

I think it is obvious that a request to abc.com should not generate another request to abc.com. That is/w

[2022-09-30 03:11] lachlan-roberts commented on #8622
Your link to the WAR to reproduce gives a 404 response, so I could not reproduce.
I tried with `14.8` and `14.8-rc-1` and I did not get any error with these.

Btw the jetty docker images are maintained at https://github.com/eclipse/jetty.docker and not in this repository.

[2022-09-30 03:42] #8606 closed, assigned to lachlan-roberts

[2022-09-30 04:58] gregw commented on #8632
I think you need to explain a bit more.  What do you mean by "request is handled by sending a request to abc.com for response"?  Is this a proxy? or a redirect?

You are correct that jetty should not hang.  Can you get a thread dump from the JVM when you think it is hung?

[2022-09-30 05:20] vmassol commented on #8622
@lachlan-roberts Thanks for trying to reproduce. My bad for pointing to a snapshot that got removed, sorry about that. You cannot reproduce with `14.8` because we've had to revert the upgrade to slf4j 2.0.0 as the build wasn't passing (because of this issue).

However you should be able to reproduce with `14.8-rc-1`, that's weird. I've just tried it and I do get the error:

* `cd /tmp`
* `wget htt

[2022-09-30 05:31] vmassol commented on #8622
I guess the answer is yes so I've now created https://github.com/eclipse/jetty.docker/issues/118

[2022-09-30 05:31] #8622 closed, assigned to nobody

[2022-09-30 12:08] xinguangduan opened #8633 "upgrade jetty version from 9.4.48 to 11.0.11 got some errors"
**Jetty version**
11.0.11
**Java version**
Azul Zulu 11.0.14
**Question**
I used jetty as http2 server，when I upgrade jetty version from 9.4.48 to 11.0.11，client access the http2 server got some errors, could you please help me explain what might have caused it?

2022-09-30 19:55:41,705 [qtp785306763-26] DEBUG o.e.j.h.HTTP2Session:547 - Session abort input_shutdown for HTTP2ServerSession@5792b05c{

[2022-09-30 12:12] cowwoc opened #8634 "Does Jetty 11 support Virtual Threads?"
**Jetty version** 11.0.2

**Java version** 19

**Question**
I noticed that you explicitly added virtual thread support in Jetty 10 but did not see a corresponding update in Jetty 11. Is such an update forthcoming or does Jetty 11 already support virtual threads as well as Jetty 10 does?

Currently I am just invoking `HttpClient.setExecutor(Executors.newVirtualThreadPerTaskExecutor())`. Is this the

[2022-09-30 12:53] sbordet commented on #8634
Jetty 11 supports virtual thread: https://github.com/eclipse/jetty.project/blob/jetty-11.0.12/jetty-util/src/main/java/org/eclipse/jetty/util/VirtualThreads.java.

Jetty's `HttpClient` contract is that listeners invoked by the implementation should not block.
Therefore, it's not necessary to configure `HttpClient` with a virtual thread executor.
Rather, if you have blocking application logic, the

[2022-09-30 13:17] cowwoc commented on #8634
Hmm. I'm still confused. It looks like `VirtualThreads` is used by `AdaptiveExecutionStrategy` which is used by `ManagedSelector.doStart()`. Does that mean that Jetty only uses virtual threads for starting components because they may block?

And so, as an end-user, I do not need to change anything for Jetty to use virtual threads correctly?

Thank you.

[2022-09-30 13:48] sbordet commented on #8634
`AdaptiveExecutionStrategy` only uses virtual threads for tasks of type `InvocationType.BLOCKING`.

A typical case of such as task is invoking a `Servlet` since it may use blocking APIs (e.g. `InputStream` or `OutputStream`).

Jetty's `HttpClient` does not return blocking tasks to the `AdaptiveExecutionStrategy`, so virtual threads are never used because the tasks never block.
The contract with cl

[2022-09-30 13:52] joakime commented on #8632
Issue a request to something that is not part of your webapp.
 * eg: `/favicon.ico`
 * or something guaranteed to cause an error in the parser (eg `GET ---- HTTP/1.1`)

This can verify if the issue is due to behavior in your webapp, or behavior in Jetty.

Also verify that you have sufficient machine resources to satisfy the requests.
Example:
  * typical OS level configurations for high load syste

[2022-09-30 13:55] joakime commented on #8633
These are DEBUG messages, not WARN or ERROR or FATAL.
These are normal/common events that occur in various situations.

[2022-09-30 14:03] cowwoc commented on #8584
Looking at https://github.com/apache/mina-sshd/blob/65b80b57c9a9b474e8b42a6db6908425e92680a6/sshd-core/src/main/java/org/apache/sshd/core/CoreModuleProperties.java#L280 and https://github.com/apache/mina-sshd/blob/65b80b57c9a9b474e8b42a6db6908425e92680a6/sshd-core/src/main/java/org/apache/sshd/core/CoreModuleProperties.java#L338 it looks like the default sshd read timeouts are infinity.

If the se

[2022-09-30 14:34] sbordet commented on #8584
I might have missed it, but how is SSH involved here? You open an SSH tunnel and you send SOCKS through that SSH tunnel?

Also, can you clarify, when you send the request, if you set a total timeout, an idle timeout and whether you use the blocking `send()` API?

[2022-09-30 14:40] sbordet commented on #8584
@cowwoc can you build and try the changes in branch `jetty-10.0.x-8584-socks-idle-timeout`?
They should apply cleanly to Jetty 11.

[2022-09-30 14:57] cowwoc commented on #8584
Correct.

I couldn't find a mechanism to enforce total timeout in Jetty (let me know if I missed it) so I implemented my own. I schedule `Request.abort()` to run sometime in the future. If send() returns first, it cancels the event. Otherwise I am assuming the pending request/response should abort correctly.

I did not set an idle timeout before running into this bug. After I did, I decided to set

[2022-09-30 14:57] sbordet commented on #7822
The error you posted means that the Jetty `HttpClient` was trying to read from the SOCKS server, but the connection was closed by the server.

If the SOCKS bytes are sent to a SSH tunnel, then Jetty's `HttpClient` is actually connected to a local SSH "server" that runs the tunnel, so it could be that the SSH connection was closed.

I don't think it is possible to distinguish whether it's the SSH s

[2022-09-30 14:57] #7822 closed, assigned to nobody

[2022-09-30 15:05] cowwoc commented on #8634
Got it. Thank you.

When Loom came out I made the move from async to sync because my former implementation was very hard to read and suffered from a bunch of deadlocks.

Now, the application *is* blocking but only ever invoke `HttpClient.send()`. I only use event listeners for logging, and the implementation never blocks. Given this, I assume there is no way that the application would block Jetty.

[2022-09-30 15:10] sbordet commented on #7993
#8635 is related, but for the SOCKS proxy.

[2022-09-30 15:16] cowwoc commented on #8634
PS: I just noticed `Request.timeout()` will provide a total timeout for the request/response conversation, so I'll move to that now.

Does this work for `Request.send()` (synchronous implementation) as well?

[2022-09-30 15:19] sbordet commented on #8634
That is correct.

To be more precise you must not call any blocking API from _within_ `HttpClient` listeners such as `BeginListener`, `CompleteListener`, etc.

Logging is technically blocking, but only if the file system is blocking, which is a case that can be ignored, and currently (Java 19) even virtual threads will block when doing file system blocking operations.

Since you use blocking `Requ

[2022-09-30 15:23] sbordet commented on #8584
FTR, `request.timeout(...)` enforces a total timeout on the request/response cycle, no need to write your own scheduling of `Request.abort()`.

[2022-09-30 15:34] cowwoc commented on #8634
Thank you!

[2022-09-30 15:34] #8634 closed, assigned to nobody

[2022-09-30 17:07] cowwoc commented on #8584
@sbordet I'm 1:15 hours into the test and so far so good. Maybe it's a coincidence, but the transfer rates I'm getting now are way better than before... If more and more connections were converted into zombies in the past, it's conceivable that this would reduce the overall transfer speed.

Assuming that this fix works, is there a workaround I can use in production until you publish an official re

[2022-09-30 17:20] cowwoc commented on #8584
~Nevermind. I just got a hang :(~
There is a chance the test was using the wrong Jetty build. I am going to clean/build and try again.

[2022-09-30 18:48] pschaeffer commented on #8632
Gregw, how do I get a thread dump? How do I send it to you? My program (what I call abc.com for convenience) is sometimes used as a proxy. In other words, my program gets a request and then sends the request to some other machine for the answer. The problem is that in some cases, my program is sending the request back to itself. The leads to an overload condition where Jetty hangs (or so I think).

[2022-09-30 19:06] joakime commented on #8632
Are you using one of the Jetty `ProxyServlet` implementations to implement your proxy?

Regarding obtaining a Java Thread Dump, see https://www.baeldung.com/java-thread-dump

[2022-09-30 19:09] pschaeffer commented on #8632
Mr. Erdfelt, I tried https://www.owo.secure.dnsalias.com/favicon.ico and got the same result. I think I have plenty of resources. It looks like I have 250-260 threads in my Jetty instance. It looks like I am using Jetty 9.4,42, Could that be the problem? I am not sure either way.

[2022-09-30 19:14] joakime commented on #8632
9.4.42 is a bit out of date.
And is subject to a few Security vulnerabilities -> https://www.eclipse.org/jetty/security_reports.php

Can you upgrade?
[jetty-9.4.49.v20220914](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.49.v20220914) was released about 3 weeks ago.

[2022-09-30 19:14] joakime commented on #8632
Also, 9.4.x is now at end of Community Support.
See: https://github.com/eclipse/jetty.project/issues/7958

[2022-09-30 19:47] pschaeffer commented on #8632
Mr. Erdfelt, greggw

Attached you will find some thread dumps. Are these what you need?
![threaddump-1664565664168](https://user-images.githubusercontent.com/3717450/193345150-4bb7c64a-b221-423e-9b3d-bc6e199224ea.gif)
![threaddump-1664565631108](https://user-images.githubusercontent.com/3717450/193345190-97b72e35-4f26-4f34-86b3-2005b7a14266.gif)Note that the actual file type was tdump, not gif. Th

[2022-09-30 21:31] pschaeffer commented on #8632
Mr. Erdfelt, gregw,
I upgraded to 9.4.49. No change in observed behavior.
Thank you
Peter Schaeffer

[2022-09-30 23:21] cowwoc commented on #8584
@sbordet I think your fix works. I left the application running for 5 hours and it didn't hang once.

Going back to my earlier question: is there a workaround that I can use in production until the fix makes it into an official release? I assume the next release is 3 months away which is an eternity for me :)

[2022-10-01 00:02] #5989 closed, assigned to nobody

[2022-10-01 02:11] cowwoc commented on #8632
@pschaeffer
Do you happen to use HttpClient to make HTTP requests using a proxy (by that I mean `HttpClient.getProxyConfiguration().getProxies()`)? If so, take a look at https://github.com/eclipse/jetty.project/issues/8584

I doubt you are running into the same scenario as me, but I figured I'd mention it just in case.

[2022-10-01 03:58] pschaeffer commented on #8632
COWWOC, I am using HttpClient. However, I am not using a proxy (or at least I don't think so).
Thank you
Peter Schaeffer

[2022-10-01 08:28] sbordet commented on #7993
@cotej I have a fix in branch `jetty-10.0.x-7993-httpclient-proxy-timeout`.
Can you build it and test it out?

[2022-10-01 19:34] cotej commented on #7993
Hi @sbordet - I built the branch and did some quick testing... It seems to fix the _client's_ idleTimeout being ignored, but causes a new problem where the _request's_ idleTimeout now gets ignored.

Using the same test setup with a server that responds after 20s, here's a quick summary of what I'm seeing:

---

1) Client idleTimeout = 30000, with no idleTimeout on the request - this is the case th

[2022-10-02 01:28] euvitudo commented on #1820
One use case that may not have been considered is when a project has two war modules with different configurations that is built with mvnd.  When ShutdownMonitor is stopped when one of the modules finishes its integration tests, the other module fails the build since its integration tests cannot connect (as that particular instance of jetty is already shut down).

This project shows exhibits the i

[2022-10-02 03:15] gregw commented on #1820
@euvitudo That sound more like a use-case for something somewhere to do some reference counting and to only really shutdown after all the shutdown commands are issued.
Or better yet, if the test module is running in the one JVM, then it should not be able to directly stop the server that it used, rather than issuing a shutdown JVM command to the monitor.

[2022-10-02 03:27] euvitudo commented on #1820
@gregw Thanks for the follow-up.

Thing is, the proof of concept project I referenced starts two servers with jetty-maven-plugin--one for each maven module. I would expect each module's server to be sufficiently isolated so as to not cause issues with any other modules.  That's what sort of surprised me when I migrated to this plugin using mvnd--it's not behavior that I expected and it certainly w

[2022-10-02 03:27] gregw commented on #8632
If you are using HttpClient to make a request back to yourself, then isn't your application logic that is causing the loop?
Surely you should check that the requested resource is not yourself before issuing a new request?
Or perhaps add a header to the outgoing request, so that if you see that header on an incoming request then you have detected a loop.

[2022-10-02 03:30] gregw commented on #1820
@euvitudo But ShutdownMonitor is precisely for shutting down the entire JVM.   That is it's job.   To stop a single server, then just server.stop should be called.   If this needs to be remote, then a JMX call can be done to stop a single server.

So again, I don't think the problem is with ShutdownMonitor being a singleton.  The problem is that it is being used when it should not be.    I'll defe

[2022-10-02 04:15] euvitudo commented on #1820
@gregw Thanks for your explanation--it led me to consider the following.

The fundamental issue that led me down this path is that when using `mvnd` to build my (non-example) project that does have two integration-test modules that each use `jetty-maven-plugin` is the following message:

I traced this down to the the second startup of a jetty server instance that had a different port/key configure

[2022-10-02 04:17] pschaeffer commented on #8632
gregw, you are quite correct. I have changed my logic to check for "a request back to yourself". I now generate a 500 HTTP code and exit. However, I don't think Jetty should hang in any case.

[2022-10-02 04:33] cowwoc commented on #7207
Out of curiosity, did you guys consider using https://github.com/ptrd/kwik instead Quiche?

It is a 100% Java implementation that's been around since 2019. The license is LGPL with the possibility of other licenses if you contact the author.

There are some open questions in terms of whether it is production-ready, and the quality of their TLS implementation, but it might be worth a look.

[2022-10-02 19:14] sbordet commented on #7207
We did look at Kwik, but it's not feasible for the reasons you mention.

[2022-10-02 20:29] gregw commented on #8632
@pschaeffer i redirect the jetty hang was simply due to the thread pool bring totally consumed by there recursive nature of your request loop.

Note that if you had used async request handling and an async http client request, then jetty would not be blocked by a consumed thread pool.

[2022-10-02 20:29] #8632 closed, assigned to nobody

[2022-10-03 02:34] pschaeffer commented on #8632
gregw, I would think that Jetty would handle a consumed thread pool by failing requests (or doing something else). However, no such behavior was noted. What I actually got was a hang, with no observed failures.

[2022-10-03 05:01] gregw commented on #8632
Jetty can be configured with a quality of service monitor that would do that. However, many users want a constrained thread pool to limit resource allocation and cause extra response latency rather than failing requests. Hence that is not the default configuration. Most exhausted thread pools are not actually dead locked like yours was.

[2022-10-03 05:17] pschaeffer commented on #8632
gregw, I had the problem in #1894 (illegal state exception). What is the best set of modules for 9.4.49? I don't have openjdk8 or conscrypt in my path. Should I add them?

[2022-10-03 07:12] prathamk opened #8678 "Jetty client is not responding to GO_AWAY packet received from (Jetty) Server and continue to send traffic on same connection"
**Jetty version(s)**
_[Jetty 9.x is now at End of Community Support](https://github.com/eclipse/jetty.project/issues/7958)_

**Java version/vendor** `(use: java -version)`
java version "1.8.0_331"
Java(TM) SE Runtime Environment (build 1.8.0_331-b09)

**OS type/version**
NAME="SLES"
VERSION="15-SP2"
VERSION_ID="15.2"
PRETTY_NAME="SUSE Linux Enterprise Server 15 SP2"

**Description**
_Do not report

[2022-10-03 07:59] #8608 closed, assigned to nobody

[2022-10-03 09:55] sbordet commented on #8584
@cowwoc I think that if you set a total timeout to your requests you can workaround the immediate problem of requests never returning.
However, the proper fix would work better, so you'll have to wait for the next release.

[2022-10-03 11:20] joakime commented on #8678
Jetty 9.x is now at End of Community Support.

* https://github.com/eclipse/jetty.project/issues/7958

Does this happen with Jetty 10.x?

[2022-10-03 12:46] praveenchandna commented on #8678
Our application is supported on Java 8.x , whereas Jetty 10.x requires Java 11.x so didn't tried on it.
Is it a known issue or is it Fixed on Jetty 10.x ?

Thanks !!

[2022-10-03 13:47] sbordet commented on #8678
@praveenchandna see #5310.

Jetty is now following the HTTP/2 specification more closely, so Envoy sending a "graceful" GOAWAY must not be replied yet, until Envoy sends a final GOAWAY, which Jetty's client replies to.

The behavior you see is correct.

[2022-10-03 22:58] janbartel commented on #1820
@euvitudo I can't replicate your problem. For me, your project builds perfectly. Jetty starts and stops as expected. You are using jetty in an embedded mode, in that case "stop" does not stop the whole jvm, just the `Server` instance. The build proceeds sequentially, so a war is built, it's integration tests then executed and then the other war is built. So there is always only a single `Server` a

[2022-10-03 23:27] ramvem opened #8680 "spring boot app does not deploy to jetty 11 but does so in jetty 10"
My spring boot war doesn't get initialized though Jetty reports the app as STARTED. This happens in jetty 11.0.12 but not in 10.0.12.

Symptom is the war file is detected, and reported as "STARTED" in localhost:8080, but the spring initialization hooks are not invoked and servlet mappings are not set up. When I click on the application link on localhost:8080 I expect to be taken to the default pag

[2022-10-03 23:36] ramvem commented on #8680
Attaching console log for jetty 10 vs jetty 11 startup
[jetty-11-startup.log](https://github.com/eclipse/jetty.project/files/9701720/jetty-11-startup.log)
[jetty-10-startup.log](https://github.com/eclipse/jetty.project/files/9701721/jetty-10-startup.log)

[2022-10-04 00:01] olamy commented on #1820
@janbartel to reproduce you need to use `mvnd` not `mvn` ;)
https://github.com/apache/maven-mvnd

this is reusing jvm to avoid startup time

[2022-10-04 00:25] janbartel commented on #1820
@olamy well there's your problem then ;)

[2022-10-04 01:56] joakime commented on #8680
spring-boot (at least the one based on Spring versions before Spring 6.x) are based on the old school `javax.servlet.` namespace.

Spring 6.x (in dev now) will update to use the new Jakarta EE namespace of `jakarta.servlet.*` (which is a requirement for Jetty 11)

See: https://spring.io/blog/2021/09/02/a-java-17-and-jakarta-ee-9-baseline-for-spring-framework-6

[2022-10-04 01:56] #8680 closed, assigned to nobody

[2022-10-04 04:04] prathamk commented on #8678
Hi @sbordet Thanks for your reply.

Checked the issue https://github.com/eclipse/jetty.project/issues/5310, and what we observe is similar, but the issue in our scenario is on top of that.

As you said, the following is the order:

1. Envoy is sending graceful GO_AWAY with Last-Stream-ID set as Integer MAX.
2. Jetty client is setting the state as REMOTELY_CLOSED, and waiting for non-graceful GO_AW

[2022-10-04 05:45] euvitudo commented on #1820
@janbartel Yes, I realize that's the problem.  It wasn't clear from the documentation that I *shouldn't* necessarily be running two instances in the same JVM (i.e., not using deployMode=FORK).  If it's there, I simply missed it and would be grateful to be pointed to the location.

If the original suggestion by @sbordet to migrate ShutdownMonitor from a singleton were implemented (assuming the vari

[2022-10-04 06:01] olamy commented on #1820
@euvitudo if using `FORK` is fine for you. Can we consider this as fixed?

[2022-10-04 06:14] janbartel commented on #1820
@euvitudo any info on where the documentation needs improving would be gratefully accepted.

[2022-10-04 06:19] cowwoc opened #8681 "HttpRequest.send() returns "Address already in use: no further information""
**Jetty version(s)**
11.0.12

**Java version/vendor** `(use: java -version)`
[code]

**OS type/version**
Microsoft Windows [Version 10.0.19044.2006]

**Description**
I have an application that sends out thousands of requests concurrently. Each request uses a SOCKS proxy that runs over an SSH tunnel.

Every once in a while I get the following unexpected exceptions:

[code]

I am not expecting to ge

[2022-10-04 07:59] sbordet commented on #8678
@prathamk I see your point, we will look into it.

[2022-10-04 08:02] sbordet commented on #8681
You are running out of local ephemeral ports.
You are on Windows, so no idea how to tune that, but on Linux would be:

[code]

[2022-10-04 08:07] cowwoc commented on #8681
Wow. I would have never thought of that :) Thanks!

[2022-10-04 08:07] #8681 closed, assigned to nobody

[2022-10-04 13:18] sbordet commented on #7993
@cotej I pushed updated code on the same branch, can you please try again?

[2022-10-04 13:21] sbordet commented on #8584
@cowwoc do you confirm that the changes fix this issue?

[2022-10-04 14:56] euvitudo commented on #1820
@olamy Considering I'm not the one who originally created this issue, I'm not sure I'm the one who can say whether to close it.  I did end up highjacking it a bit, but I thought it was still relevant the original issue.  Maybe ask @sbordet?

Regarding the `jetty-maven-plugin` and the use of `FORK`, I'm fine running with that for now.

@janbartel I'll compose some notes and create a new issue.  Tha

[2022-10-04 15:42] cotej commented on #7993
@sbordet It seems much better now with the latest changes 👍

Here's the scenarios I checked, and I'm now getting the expected results in all cases.

| Idle timeouts               | HTTP (direct) | HTTP (via proxy) | HTTPS (direct) | HTTPS (via proxy) |
|-----------------------------| ------------- | ---------------- | -------------- |-------------------|
| client = 10s, request = -1  | t/o @ 10s

[2022-10-04 16:12] sbordet commented on #7993
@cotej thanks for confirming! 👍🏼

[2022-10-04 18:03] cowwoc commented on #8584
@sbordet Yes. It looks fixed to me. Thank you.

[2022-10-05 00:57] olamy commented on #1820
@euvitudo when this issue "ShutdownMonitor should not be a singleton" will be fixed. `mvnd` will not be a problem anymore when using non `FORK` :)

[2022-10-05 09:45] #8584 closed, assigned to nobody

[2022-10-05 09:46] #7993 closed, assigned to nobody

[2022-10-06 09:38] praveenchandna commented on #8678
Hello @sbordet ,

Thanks for your reply.
Will the FIX for this issue be provided on 9.4.x ?
Not sure, but still we have looked into the code of HTTP2Session class on jetty 10.x/11.x as well but we didn't find any differences, so this issue will be there as well.

Thanks !!

[2022-10-06 10:32] jmcc0nn3ll commented on #8678
@praveenchandna There is a chance that it may be addressed in 9.4.x, but it is unlikely as that release branch is no longer actively maintained for community issues.

[2022-10-06 12:13] #8628 closed, assigned to nobody

[2022-10-06 16:22] joakime opened #8690 "Confirm `merge-12-needed` labeled PRs have been merged"
**Jetty version(s)**
12.0.x

**Description**
Verify all remaining [`merge-12-needed`](https://github.com/eclipse/jetty.project/pulls?q=is%3Apr+label%3Amerge-12-needed+is%3Aclosed) labeled PRs have actually been merged to `jetty-12.0.x` branch.

Please verify each one, and check it off (also remove the `merge-12-needed` label)

## For @sbordet

 - [x] #7522
 - [x] #7563
 - [x] #7574
 - [x] #7637
 -

[2022-10-06 16:25] joakime commented on #8690
I'm taking #7547 as that spelling mistake is in more places than the original PR

[2022-10-06 16:30] joakime commented on #8690
Opened PR #8691 (inspired by for #7547)

[2022-10-07 08:59] neoxpert opened #8694 "Make QuicServerConnector respect configured key store instances"
**Jetty version(s)**
10+

**Enhancement Description**

As of now the `QuicServerConnector` does not respect a configured key store instance that might have been set on the respective `SslContextFactory` using `setKeyStore`. This makes the use of a in-memory managed key store really cumbersome, especially as it works without problems on other connectors like the http or http2 ones.

It would really

[2022-10-07 10:48] joakime opened #8695 "Update quiche to 0.16.0"
**Jetty version(s)**
Jetty 10, Jetty 11, and Jetty 12

**Description**
Time to update quiche again.

Version 0.15.0 and 0.16.0 were just released.

https://github.com/cloudflare/quiche/releases/tag/0.15.0
https://github.com/cloudflare/quiche/releases/tag/0.16.0

[2022-10-07 11:52] mgol commented on #288
I don't think following the order of declared compression formats is desirable. For regular script tags, both Chrome & Firefox send:
[code]
but that should still get the Brotli-compressed assets when available.

[2022-10-07 16:53] joakime commented on #8695
@lorban once this is updated for `jetty-12.0.x` branch, your task on Issue #8690 can be checked off.

[2022-10-09 13:24] #6128 closed, assigned to nobody

[2022-10-10 07:01] janbartel opened #8698 "jetty-12 ee8 JakartaWebSocketShutdownContainer NotFoundException"
**jetty-12**

Running the `ee8` demos you get `INFO` but nonetheless error messages from the `AnnotationConfiguration` class for every `ee8` webapp that is deployed, here's one example:

With some extra debugging in there, we see that all of the errors are caused by this:

Worth noting that this error does _not_ occur for `ee9`, from which `ee8` is a direct translation (nor FWIW `ee10`).

[2022-10-11 05:46] lachlan-roberts commented on #8698
This is resulting from an issue when generating the ee8 code.

In `ee8-websocket-javax.mod` there are a few problematic lines which still reference jakarta when it should be javax.
[code]

@olamy do you know where this can be fixed, I couldn't find the code for the plugin which does the translation from ee9 -> ee8.

It would be good if we could translate the class names as well, it is strange to s

[2022-10-11 05:52] olamy commented on #8698
there is not translation for mod files as there is not real pattern for file names :(
so there are in the sources tree :)  (here https://github.com/eclipse/jetty.project/blob/jetty-12.0.x/jetty-ee8/jetty-ee8-websocket/jetty-ee8-websocket-javax-server/src/main/config/modules/ee8-websocket-javax.mod )

uhm changing class names is a bit more complicated as this means changing a lot of other part of t

[2022-10-11 08:42] BertRobben commented on #8271
The order of events I see is:

(1) we call server.stop()
(2) first debug log of request is generated by jetty server
(3) server is waiting for other ongoing requests (that started before we
call server.stop()) to shut down
(4) incorrect response is sent / other requests come in and are rejected
(503)
(5) ongoing requests are all finished
(6) jetty shuts down

If the issue happens, then it's always

[2022-10-11 10:46] joakime commented on #8271
Jetty 9.4.x is now at End of Community Support.

* https://github.com/eclipse/jetty.project/issues/7958

[2022-10-11 12:39] #7615 closed, assigned to joakime

[2022-10-11 21:55] gregw commented on #8271
Thanks for the extra information.   It indeed looks like a race condition that allows the request(s) past the stats handler, but then later decides not  handle them, only for the stats handler to commit a 200 response (which is definitely wrong).

However, since 9.4 is end of community support, we will not be fixing this issue in 9.4 unless there is a commercial support request.   So I'll close th

[2022-10-11 21:55] #8271 closed, assigned to nobody

[2022-10-12 00:44] olamy commented on #8698
@lachlan-roberts the source code of the plugin translating ee9 -> ee8 is here https://github.com/jetty-project/jetty-modify-sources-maven-plugin

[2022-10-12 05:24] lachlan-roberts commented on #8698
fixed with https://github.com/eclipse/jetty.project/pull/8703

[2022-10-12 05:24] #8698 closed, assigned to lachlan-roberts

[2022-10-13 07:43] cuongngo-orientsoftware opened #8709 "Got error protocol_error/invalid_preface when using HTTP/2"
**Jetty version(s)**
Jetty 11

**Java version/vendor** `(use: java -version)`
Java 17

**OS type/version**
Windows 10

**Description**
I setup conector like this:
![image](https://user-images.githubusercontent.com/74752259/195532915-29b70958-32e2-44b7-bc45-d7aa6ea7fe18.png)

bug got error: protocol_error/invalid_preface

![image](https://user-images.githubusercontent.com/74752259/195533445-a93d3eb

[2022-10-13 08:01] sbordet commented on #8709
Please read the documentation about how to properly setup clear-text HTTP/2:
https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-server-http-connector-protocol-http2.

[2022-10-13 08:06] cuongngo-orientsoftware commented on #8709
I did same that but it just works on http/1.1
I separate connector to catch up error

[2022-10-13 08:22] sbordet commented on #8709
Does the client support HTTP/2?
If so, is it configured to send either an HTTP/1.1 upgrade to HTTP/2 request, or a prior knowledge HTTP/2 request?

Because it seems that it does not.
You don't show your client code, so I can't tell.

[2022-10-13 08:27] cuongngo-orientsoftware commented on #8709
I test with Google Chrome browser, Is it right client ?

[2022-10-13 08:34] mhalbritter opened #8710 "MethodType comparison with == instead of equals"
**Jetty version(s)**

11.0.12

**Java version/vendor** `(use: java -version)`

[code]

**OS type/version**

[code]

**Description**

In some places in the codebase, `MethodType`s are compared using `==` or `!=` and not with `equals`. This works on the JVM, but fails for example in a native image built with GraalVM.

See for example:

* [ByteBufferMessageSink](https://github.com/eclipse/jetty.proje

[2022-10-13 08:53] sbordet commented on #8709
Browsers don't support clear-text HTTP/2.

Use this configuration:
https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-server-http-connector-protocol-http2-tls

[2022-10-13 09:58] cuongngo-orientsoftware commented on #8709
Thanks !

I add more code:
![image](https://user-images.githubusercontent.com/74752259/195553963-26787f8c-2256-4c8c-aeee-3905b5786364.png)

then get the next erorr:
![image](https://user-images.githubusercontent.com/74752259/195566381-6b1d8990-78fb-4384-884d-f77f7fafa9a2.png)

Might I miss something ?

[2022-10-13 10:16] sbordet commented on #8709
You should use the `https` scheme in your browser.

[2022-10-13 10:37] cuongngo-orientsoftware commented on #8709
I tried upper test with https

[2022-10-13 10:58] cuongngo-orientsoftware commented on #8709
I try with Postman then get another error:
![image](https://user-images.githubusercontent.com/74752259/195579299-e10bb70f-0fef-4625-9cc6-b4c99a83a987.png)

[2022-10-13 11:42] joakime commented on #8710
Looks like an acknowledged bug in graalvm

https://github.com/oracle/graal/issues/5209#issuecomment-1277327852

[2022-10-13 11:50] mhalbritter commented on #8710
I wonder if the behavior that you always get the same `MethodType` back is specified or is an implementation detail of the JVM. If it's not specified, using `==` seems risky.

[2022-10-13 12:01] joakime commented on #8710
The MethodType has to be predictable like this.

Example:

The MethodType tests in the openjdk codebase ...

* https://github.com/openjdk/jdk/blob/master/test/jdk/java/lang/invoke/MethodTypeTest.java

Which uses Junit5 and it's `assertSame(o1, o2)` api.
Which is a comparison with `==` (not `Object.equals(o)`, which would be the `assertEquals(o1, o2)` junit api)

See: https://github.com/junit-team/

[2022-10-13 12:05] joakime commented on #8690
Yay. all done. closing this task.

[2022-10-13 12:05] #8690 closed, assigned to joakime, janbartel, sbordet, lorban, lachlan-roberts

[2022-10-13 12:17] mhalbritter commented on #8710
I see, thanks for the explanation!

[2022-10-13 12:17] #8710 closed, assigned to nobody

[2022-10-13 12:22] margus2 commented on #8628
This issue affects Jetty 9.4.49 too.

[2022-10-13 12:23] sbordet commented on #8709
You are probably using a bad certificate in the KeyStore.
Google around, as this is not a Jetty issue, as I understand you were able to make it work with browsers.

[2022-10-13 12:46] joakime commented on #8628
@margus2 Jetty 9.4.x is at End of Community support.

 * https://github.com/eclipse/jetty.project/issues/7958

[2022-10-13 12:47] joakime commented on #8709
Also, don't use the JDK/JRE provided cacerts as your keystore.

The shipped cacerts file with the JDK is a truststore, not a keystore.

[2022-10-13 15:06] cuongngo-orientsoftware commented on #8709
Thanks !

I tried to use KeyStore.jks file instead but get new error

![image](https://user-images.githubusercontent.com/74752259/195634386-07e8aaa6-e53a-47ca-89c9-be917dd32da5.png)

[2022-10-13 15:28] sbordet commented on #8709
Can you just post the whole stack trace rather than image snippets that are half-cropped in the most important parts?
You are making really difficult to help you.

[2022-10-13 15:36] joakime commented on #8709
Yes, please use copy/paste, not images.
This is useful for us, and the tooling here, and future folks that are trying to solve similar problems. (you can't search text in an image)

[2022-10-13 15:37] cuongngo-orientsoftware commented on #8709
I thought it is easier to see, sory about that

[debug log of jetty-http2.txt](https://github.com/eclipse/jetty.project/files/9778303/jetty-http2.txt)

[2022-10-13 15:37] joakime commented on #8709
You have to make your own keystore, with Java 9+ it's typically in the pkcs12 format, not jks.
Be careful to pick options in your certificates that work with TLS 1.3 and the version of Java you are using (example, don't use RSA or DES3 as those are disabled in Java)

[2022-10-13 16:52] cuongngo-orientsoftware commented on #8709
I created keystore.pfx
`keytool -genkey -alias test_PKCS12 -keystore keystore.pfx -storetype PKCS12 -keyalg RSA -storepass 123456 -validity 730`
 with keyalg:

- RSA or EC but get same upper error
- DSA like eror: https://bugs.openjdk.org/browse/JDK-8211426

[2022-10-13 17:03] joakime commented on #8709
Check the Java Crypto Roadmap and confirm you are satisfying all of the requirements for your chosen JVM.

* https://www.java.com/en/jre-jdk-cryptoroadmap.html

Example: RSA is not supported under certain key sizes (and you didn't specify a key size in your command line)

[2022-10-13 17:11] sbordet commented on #8709
The log is at DEBUG level and may report an error even if the server works fine.
The error is due to the client closing the connection.

I'm assuming you're using a self-signed certificate and typically browsers don't like them.
They will present you with a page saying whether you want to continue browsing even if the certificate cannot be trusted, etc.

[2022-10-13 17:43] joakime commented on #8709
Most browsers today also only support hostnames when connecting to HTTP/2.

IP addresses and localhost are not supported.

[2022-10-14 03:29] janbartel opened #8712 "ELContextCleaner no longer needed."
**jetty_10**

The `o.e.j.servlet.listener.ELContextCleaner` class is no longer needed, as the class that it attempts to clean up for `javax.el.BeanELResolver` no longer contains a static field called `properties` that was the problem.

[2022-10-14 05:03] janbartel commented on #8712
Note to self: when merging through to jetty-12, remember to modify `ee9` `ELContextCleaner` to also ignore `NoSuchFieldExceptions` to prevent lines like this during shutdown:

[2022-10-14 05:34] olamy commented on #8712
why not simply remove it in jetty-12?

[2022-10-14 05:35] janbartel commented on #8712
@olamy I've removed it already from ee10, but I figure I need to keep it consistent for ee8 and ee9.

[2022-10-14 08:10] sbordet commented on #8694
Unfortunately, not much we can do at the moment, since we depend on Quiche, and Quiche can only read PEM files from the file system.

[2022-10-14 08:27] sbordet opened #8715 "Jetty 12 - Optimize RequestLog information retrieval"
**Jetty version(s)**
12+

**Enhancement Description**
Following the comments in #8705, we should find a more efficient way to extract information from the current Jakarta EE request to be stored in the Jetty core request so that it is accessible to the `RequestLog`.
In particular, information that are specific to Jakarta EE such as the remote user, the real path and the Servlet name.

The `Request

[2022-10-14 11:04] neoxpert commented on #8694
That's clear to me. If I get it right, in order to extract the key pair and store it in the temp folder, so that Quiche can use it, right now the key store is loaded from the file system using the key store resource / key store location of the SslContextFactory.

Why not just extract the key pair from a already loaded key store if one has been set on the SslContextFactory instance. In the end this

[2022-10-14 12:13] joakime commented on #8694
Got an example, in Java code, of extracting a valid PEM from a KeyStore object?
(Keep in mind that many folks use SslContextFactory without an actual keystore file, but create the KeyStore object directly and give it to the SslContextFactory)

[2022-10-14 13:32] neoxpert commented on #8694
The required code to read and export a certificate from a key store as PEM is already contained within the constructor of the [SSLKeyPair ](https://github.com/eclipse/jetty.project/blob/cb127793e5d8b5c5730b964392a9a905ba49191d/jetty-quic/quic-quiche/quic-quiche-common/src/main/java/org/eclipse/jetty/quic/quiche/SSLKeyPair.java) class and its methods.

https://github.com/eclipse/jetty.project/blob/

[2022-10-14 16:15] joakime commented on #8694
That makes the assumption of `storeFile` which is not possible in 100% of use cases.
We have many valid scenarios of people with a `java.security.KeyStore` that was created without a File.

[2022-10-14 16:16] Hexcles commented on #7278
One more point: Jetty doesn't seem to throw on multiple `Host` headers (nginx, for example, does). Even worse, it seems to take the last value, which can be surprising: e.g. CDNs like Cloudflare usually proxy based on the first `Host`, so I was puzzled to see an unexpected domain in our backend server only reachable from Cloudflare and I even thought it was a critical Cloudflare bug for a while.

[2022-10-14 16:51] joakime opened #8716 "Multiple Host header values handled poorly"
**Jetty version(s)**
9.4.x thru 12.0.x

**Java version/vendor** `(use: java -version)`
All

**OS type/version**
All

**Description**
When a request is received with multiple host headers it's handled poorly.

This was pointed out by @Hexcles at https://github.com/eclipse/jetty.project/issues/7278#issuecomment-1279207755

Example using the jetty 11 demos.

[code]

So the key bits in the above examp

[2022-10-14 16:51] joakime commented on #7278
I just opened Issue #8716 about this

[2022-10-14 16:53] joakime commented on #8716
Looks like Jetty interprets the all field values, including commas, as a single "Host" (or Server Name), complete with commas.

[2022-10-14 17:15] Hexcles commented on #8716
Oh a minor correction: it's not multiple `Host` values that I encountered (I'm not sure if you're supposed to split `Host` value by commas like other headers), but multiple Host`` headers. You can't produce such a malformed request using curl, but you can use netcat: https://blog.shalvah.me/posts/fixing-the-host-header-vulnerability-with-nginx#:~:text=a%20custom%20middleware.-,Appendix,-If%20you%2

[2022-10-14 17:23] neoxpert commented on #8694
Yes, but what I linked is the current implementation. It requires a key store to already exist on the file system and does not allow to use a `java.security.KeyStore` that was not created from a file but using the API to create a instance "in memory". To use such a key store would be the point I'd like to have in addition to the current requirement of already having a key store in some "physical"

[2022-10-14 19:00] joakime commented on #8716
We might want to revive the closed PR #7279 as it addressed many of the "bad host" and "bad authority" cases. (just not the multiple header cases)

[2022-10-14 19:10] joakime commented on #8716
Opened PR #8717 as a simple way to address this

[2022-10-14 20:46] sbordet commented on #8694
@neoxpert, would you like to submit a pull request for this enhancement?

[2022-10-15 00:01] #6801 closed, assigned to nobody

[2022-10-16 00:01] #6832 closed, assigned to nobody

[2022-10-17 02:41] janbartel commented on #8712
Merged through to jetty-12.

[2022-10-17 02:41] #8712 closed, assigned to janbartel

[2022-10-17 03:08] cuongngo-orientsoftware commented on #8709
Now I get error when access from:
- Chrome browser: get error message like this: https://github.com/eclipse/jetty.project/issues/5197
- Firefox: have not error: [firefox_request.txt](https://github.com/eclipse/jetty.project/files/9796548/firefox_request.txt) but still get respone http/1.1

Any idea ?

[2022-10-17 08:12] dzoech commented on #7650
This issue is still occurring for us. Is there anything more I can do to help here?

[2022-10-17 10:44] vimukthiD opened #8719 "HttpClient fails to connect https target through http proxy with authentication when client's `strictEventOrdering` is set to true"
**Jetty version(s)**
9.4.40.v20210413 (also 11.0.12)

**Java version/vendor** `(use: java -version)`
openjdk 17.0.4 2022-07-19

**OS type/version**
macOS 12.6

**Description**
I tried to access a https target trough HTTP squid proxy but it keeps failing with `Pipelined requests not supported` exception ([jetty-client-stacktrace.log](https://github.com/eclipse/jetty.project/files/9799183/jetty-clie

[2022-10-17 12:50] lorban commented on #8695
Quiche 0.16.0 has been released, updating straight to that version.

[2022-10-17 12:51] joakime commented on #7650
Wonder how a null job even entered the queue.

We have handling for `null` on `_jobs.poll()` in other places in QTP, why not here?

[2022-10-17 14:25] joakime commented on #7650
Yeah, if you have a `QueuedThreadPool`, and you attempt to execute/offer a null job you'll get an exception.

[code]

[code]

[2022-10-17 18:02] delanym commented on #6661
Did this go in? I'm still getting this on Jetty 11.0.12
[code]

[2022-10-17 18:19] sbordet commented on #6661
The exception is logged at DEBUG level since 11.0.7.
If you have DEBUG logs enabled, you will "get" it.
Otherwise, you have to be more specific about where you "get" it.

[2022-10-17 18:20] joakime commented on #6661
@delanym That is Jetty reporting (via debug level logging event) that your JVM is unable to support SO_REUSEPORT on that Socket type.

Here's the code in 11.0.12 ...

https://github.com/eclipse/jetty.project/blob/jetty-11.0.12/jetty-server/src/main/java/org/eclipse/jetty/server/ServerConnector.java#L351-L362

And it being used to attempt to set SO_REUSEPORT

https://github.com/eclipse/jetty.projec

[2022-10-17 19:22] delanym commented on #6661
Thanks I'll see whats going on with the JDK. From my miserable understanding of Java serving up a stack exception is a costly affair so i'd like to avoid that, and reuse the port if possible.

[2022-10-17 21:19] joakime commented on #6661
This happens on the `ServerConnector` once only when the Listening socket is setup to accept incoming socket connections.
If you were using something like Java 1.4, it could be costly.  But that's not been true for a long time.  especially so with Java 11 (the oldest version you could be using).

Windows has all sorts of wonky and hard to follow rules on what socket options can be used under what

[2022-10-17 21:31] joakime commented on #6661
@delanym looks like many projects (even non-Java projects) do not set `SO_REUSEADDR` or `SO_EXCLUSIVEADDRUSE` (or `SO_REUSEPORT`) on Windows.

* https://github.com/python-trio/trio/issues/928
* https://github.com/tornadoweb/tornado/issues/550
* https://stackoverflow.com/questions/14388706/how-do-so-reuseaddr-and-so-reuseport-differ/14388707#14388707
* https://github.com/python-trio/trio/pull/1108

[2022-10-18 02:04] cowwoc commented on #2522
Now that virtual threads are out, I am no longer interested in this feature. I plan to happily use synchronous calls in place of `CompletionStage`. You can close this issue if no one else is interested in this request.

[2022-10-18 02:55] cowwoc opened #8720 "What causes "Connection refused: no further information"?"
**Jetty version**
11.0.12

**Java version**
JDK 19.0

**Environment**
Microsoft Windows [Version 10.0.19044.2006]

**Question**
Following up on https://github.com/eclipse/jetty.project/issues/8681, could `Connection refused: no further information` be triggered by ephemeral port exhaustion? Are there other situations that would trigger it?

**Scenario**

I am sending thousands of HTTP/1 requests

[2022-10-18 03:24] cowwoc commented on #8720
Looking at some debug logs, I'm pretty sure it's an SSH problem...

There is a period where I don't use the proxies for multiple minutes. An idle timeout is triggered and the SSH tunnel closes. A few minutes later, I ask Jetty to make an HTTP request through the SOCKS proxy that ran over the closed SSH connection and I get the aforementioned error.

I'm going to go ahead and close this issue for n

[2022-10-18 03:31] cowwoc commented on #8720
I've got a follow-up question: Is there a programmatic way to detect that the proxy that is associated with `HttpClient` is down?

[2022-10-18 06:35] janbartel opened #8721 "jetty:effective-web-xml doesn't generate quickstart information for web fragment jars that contain META-INF/resources"
**jetty-10**

The `jetty:effective-web-xml` goal does not generate `META-INF/resources` into the `effective-web.xml` file when there are web fragment jars that do contain `META-INF/resources`.

[2022-10-18 06:41] janbartel commented on #8721
Analysis:  the `JettyEffectiveWebXml` tries to work both for an external preassembled war file (ie external to the current project) _and_ also for an unassembled webapp (ie the current project). The relevant lines are:

After the execution of `super.configureWebApp`, `webApp.getWar()` will always return a value, even if the webapp is unassembled (ie the current project). That results in the call t

[2022-10-18 07:33] #8695 closed, assigned to lorban

[2022-10-18 08:41] dzoech commented on #7650
Would extending the if condition like this

[code]

be sufficient here? I can open a PR if you like.

[2022-10-18 08:52] sbordet commented on #8720
The proxy is a different host machine. Open a socket to it and see if you can.

[2022-10-18 14:15] cowwoc opened #8723 "Provide a thread-safe way to modify HttpClient proxies at runtime"
**Jetty version(s)**
11.0.12

**Enhancement Description**
`HttpClient.getProxyConfiguration().getProxies()` is backed by a `ArrayList` which is not thread-safe.

Currently, I am forced to externally lock each time I make an HTTP request, or modifying proxies. I am making thousands of requests per second, which means that I need to acquire a lock thousands of times per second.

**Possible solutions

[2022-10-18 14:17] cowwoc commented on #8720
@sbordet True.

But out of curiosity, does `HttpClient` know if the exception it is thrown is caused by the proxy or destination? If so, could it provide some sort of indication which case occurred (perhaps by wrapping proxy-thrown exceptions with another exception)?

[2022-10-18 15:35] harikrishnayadlapalli opened #8724 "Jetty is unable to redirect to the location header provided in the response received from the POST endpoint when the response status code is 307(TEMPORARY_REDIRECT) and response contains body."
**Jetty version(s)**
11.0.11

**Java version/vendor**
17

**Description**

Hi, we are currently using 11.0.11 version of Jetty Client with Java 17 support. We observed that when we sent HTTP/2 request to the POST endpoint using Jetty, then Jetty is unable to redirect to the location header provided in the response received from the POST endpoint when the response status code is 307(TEMPORARY_REDIR

[2022-10-18 15:54] sbordet commented on #8720
@cowwoc not sure I understand?

[2022-10-18 15:59] joakime commented on #8724
This appears to show curl issuing an HTTP/1.1 request to an HTTP/2 endpoint.
For HTTP/2 there should be no `Host` header (it would be `:authority` in HTTP/2)

[2022-10-18 16:52] joakime commented on #8724
Unable to replicate.

[code]

This works for HTTP/1.1 and HTTP/2 with and without body content on the 307 response.

[2022-10-18 17:33] sbordet opened #8726 "Jetty 12 - Improve ErrorProcessor to handle error pages"
**Jetty version(s)**
12+

**Description**
It would be nice if `ErrorProcessor` (or a subclass) can be configured with a mapping between the HTTP status code and an error page, something like:

[code]

[2022-10-18 17:38] sbordet opened #8727 "Jetty 12 - Improve usability for ResourceHandler"
**Jetty version(s)**
12+

**Description**
For usage from XML, would be nice if `ResourceHandler.setBaseResource()` takes a `String` or a `Path`, because currently only takes a `Resource` which is cumbersome to create in XML.

[2022-10-18 18:13] sbordet commented on #8723
Best would be to deprecate `getProxies()` and enhance `ProxyConfiguration` with `add()` methods and such so that the implementation is not leaked.

@cowwoc want to prepare a PR?

[2022-10-18 18:16] joakime commented on #8720
@cowwoc not sure that's possible, the client only has a socket connection, if a problem occurs, it's on that first socket from the point of view of the client.

Eg: your actual path to the resource could be ...

1. http client
2. local corporate proxy
3. destination http proxy / load balancer
4. destination http server
5. backend content system

The only knowledge / awareness the client has at the

[2022-10-18 18:19] joakime commented on #8723
The suggestion from @sbordet is good, but I'm curious ... what is your use case that you need to modify the proxy list so often?

[2022-10-18 18:53] cowwoc commented on #8720
@joakime I can see this for data being read/written, but can a client differentiate between connections closed by the destination and proxy?

When a destination closes a connection, the proxy *also* closes the connection? Or are the two events independent?

[2022-10-18 19:05] joakime commented on #8720
If the destination closes the connection, the proxy can close it too, but interestingly it's not really mandated by the specs that the proxy closes the client side connection too.

For example, in [RFC 7230: HTTP/1.1 spec - Section 6.1 - Connection](https://www.rfc-editor.org/rfc/rfc7230#section-6.1), if the client sends `Connection: close` (or any `Connection` header values) the proxy MUST remove

[2022-10-18 19:09] cowwoc commented on #8723
@joakime My proxies are running on AWS spot instances. Spot instances are cheaper, but they can get terminated at any time.

[2022-10-18 20:18] cowwoc commented on #8720
Got it. Thank you for the detailed explanation. I will close this issue.

[2022-10-18 20:18] #8720 closed, assigned to nobody

[2022-10-18 20:27] cowwoc commented on #8591
Done

[2022-10-18 20:49] joakime commented on #8591
Might want to link the PR here.
Looks like you went above and beyond with PRs for all three active branches.
We really only need `10.0.x` and we'll merge forward.

[2022-10-18 21:41] cowwoc commented on #8591
@joakime Here you go: https://github.com/eclipse/jetty.project/pull/8728

Sorry for the other PRs. I'll close the extra ones.

[2022-10-18 21:43] cowwoc commented on #8723
I've fixed this differently for version 10/11 and 12 because of the need to maintain backwards compatibility in the former versions. Please take a look:

Version 10,11: https://github.com/eclipse/jetty.project/pull/8731
Version 12: https://github.com/eclipse/jetty.project/pull/8733

[2022-10-18 21:50] gregw commented on #8727
I'll do this unless others have already started?

Note we used to have `setBaseResource(Resource)` and `setResourceBase(String)`, but I think that is too tricky and they should both be called `setBaseResource`

[2022-10-18 22:03] sbordet commented on #8727
@gregw beware of JMX as it produces the following log lines:

[code]

or

[code]

So perhaps instead of overloading, it's better to use another method name.

[2022-10-18 22:05] cowwoc commented on #8723
I've run into a bit of a snag. I was only planning to add `addProxy()`, `removeProxy()` methods to `ProxyConfiguration` and remove `getProxies()`. However, I just ran across `ProxyServletTest` that invokes `client.getProxyConfiguration().getProxies().get(0).getExcludedAddresses().add("127.0.0.1:" + port);`.

My line of thinking is that that `ProxyConfiguration` is there to configure `HttpClient`.

[2022-10-18 22:18] gregw commented on #8726
In order to do this, we would need an `ErrorPageErrorProcessor extends ErrorProcessor` that is aware of the server (or perhaps context).   Either way, there are two ways to implement:

1. On every error process call the `server.handle` method is called to get a processor for the error page.   This means there is a possible blocking call to `Handler.handle` before the processor is found.

2. During

[2022-10-19 01:04] gregw commented on #8727
@sbordet How about `setBaseResourceAsString(String)` and then probably `setBaseResourceAsPath(Path)` ?

[2022-10-19 05:04] BenBorre opened #8737 "Error in going to tutorials, C/C++ developments, in Eclipse IDE for C/C++ Developers"
Getting this error :
!SESSION 2022-10-19 06:00:57.612 -----------------------------------------------
eclipse.buildId=4.25.0.I20220831-1800
java.version=17.0.4.1
java.vendor=Eclipse Adoptium
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=fr_BE
Framework arguments:  -product org.eclipse.epp.package.cpp.product
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -product org.eclipse

[2022-10-19 05:56] olamy commented on #8737
this issue tracker is used only for issues related to the Jetty project.

[2022-10-19 05:56] #8737 closed, assigned to nobody

[2022-10-19 09:35] sbordet commented on #8726
@gregw left a feedback on the PR.

[2022-10-19 09:46] veita opened #8738 "System ID http://www.eclipse.org/jetty/configure_9_0.dtd and others no longer working"
**Description**
The Eclipse website seems to have completely switched from HTTP to HTTPS. As a consequence validated parsing of deployed Jetty configuration XML files that contain certain DTDs fails.

E.g. https://github.com/apache/solr/blob/main/solr/server/etc/jetty.xml and other files in the same directory.

Also see https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-xml/src/main/

[2022-10-19 12:40] joakime commented on #8727
`oejj.MetaData` is our class (`org.eclipse.jetty.jmx.MetaData`), surely we can address that in our MetaData class better.

[2022-10-19 13:35] joakime commented on #8738
Those `redirectEntity` entries keep you from hitting the public internet to parse the XML with validation turned on.

[2022-10-19 13:53] veita commented on #8738
Don't know if I understand you correctly, but yesterday the affected code worked without errors.

Today it started to throw an `org.xml.sax.SAXParseException`, probably due to the HTML HTTP body sent with the 301 response.

After replacing `http://www.eclipse.org/jetty/configure_9_0.dtd`with `https://www.eclipse.org/jetty/configure_9_0.dtd` in the Jetty configuration file all went back to normal.

[2022-10-19 14:07] joakime commented on #8738
Not reproducible.

This is run from a machine that has its internet turned off.

[code]

This is how Jetty's `XmlParser` works, it won't attempt to access the System ID due to the `redirectEntity` setup (which uses the entity from the classpath if it encountered during XML parse).

[2022-10-19 14:09] joakime commented on #8738
Even if you explicitly turn on the validation (which is true by default when run on OpenJDK) it still doesn't fail.

[code]

[2022-10-19 15:04] veita commented on #8738
This can be used to reproduce the error:

https://github.com/veita/jetty-8738

Tested with Java 17, 11, and 8.

[2022-10-19 15:30] joakime commented on #8738
That's an invalid test case.
It uses no Jetty classes.
It uses no Jetty dependencies.
It uses no form standard Java XML entity resolution.

* https://docs.oracle.com/en/java/javase/17/docs/api/java.xml/org/xml/sax/EntityResolver.html
* https://docs.oracle.com/en/java/javase/17/docs/api/java.xml/javax/xml/stream/XMLResolver.html
* https://docs.oracle.com/en/java/javase/17/docs/api/java.xml/javax/xm

[2022-10-19 15:47] joakime commented on #8738
Here's the testcase for using Jetty 10.0.x `XmlParser` directly.

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-xml/src/test/java/org/eclipse/jetty/xml/XmlParserTest.java#L25-L40

On Jetty 10.0.x, validation is true by default.

And the one from Jetty 9.x (validation is false by default)

https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-xml/src/test/java/org/eclip

[2022-10-19 16:02] joakime commented on #8738
This is not a bug in Jetty as it is using Java XML properly to avoid internet access for validating XML.
Closing.

[2022-10-19 16:02] #8738 closed, assigned to joakime

[2022-10-19 16:33] veita commented on #8738
I did not say that this is a bug in Jetty web server but a bug of the Eclipse Jetty website http://www.eclipse.org/jetty/.

It could cause errors in programs that have to deal with Jetty configuration XML files.

Since the Jetty project seems to have chosen http://www.eclipse.org/jetty/ as the location for some of its external entities, I assumed that it has at least some control over it and would

[2022-10-19 16:34] #8591 closed, assigned to nobody

[2022-10-19 16:48] joakime commented on #8738
This kind of change, where the host changes from http to https happens all the time.
(or the host owner changes, or the location changes, or the software is retired, etc)
This is why the recommendation has always been to not resolve over the internet, but resolve locally with xml resolvers (or catalogs).

It even happened recently to the core w3 / xml urls as well.

See https://www.w3.org/blog/202

[2022-10-19 16:57] joakime commented on #8738
Read the statement from w3.org about the XML System IDs.

https://www.w3.org/blog/2022/08/https-redirection-observations/

The names must not change (eg: from `http://...` to `https://...`), the reliance on remote resources is discouraged (need an internet connection), and catalog use is recommended.

The use of `http://www.eclipse.org/jetty/configure_9_0.dtd` (not `https`) is not considered a bug

[2022-10-19 17:19] sbordet opened #8740 "Jetty 12 - Move org.eclipse.jetty.server.context.ManagedAttributes to core"
**Jetty version(s)**
12+

**Description**
Currently, ee9 `ContextHandler` and ee10 `ServletContextHandler` have the constant `MANAGED_ATTRIBUTES=org.eclipse.jetty.server.context.ManagedAttributes` that it used to lookup a comma-separated list of attribute names whose values should be exposed to JMX.

This functionality should be moved to core.

[2022-10-19 17:49] harikrishnayadlapalli commented on #8724
We tried HTTP 307 redirect on our local system, using Jetty and found below.

1) We tried POST curl command without giving any body and flow is like
 Jetty -> Stub_1(Post endpoint return 307 status code and Stub_2 location header) -> Stub_2.
In this case, call successfully fetch the response from Stub_2 after redirection from Stub_1.

curl request with out body :
curl --noproxy "*" --http2-prior-k

[2022-10-19 18:31] joakime commented on #8724
Your issue reports "and response contains body".
But your recent message talks about request post body content.
Which one is causing you issues?

[2022-10-19 18:39] harikrishnayadlapalli commented on #8724
POST request with body.

[2022-10-19 19:30] sbordet commented on #8724
@harikrishnayadlapalli sorry but it's not clear.
Are you using Jetty's `HttpClient` or `HTTP2Client`?
Can you show the code?

In case of redirects, the POST content should be reproducible, otherwise the client cannot retrieve the content again to send it to the second host.

[2022-10-19 19:32] joakime commented on #8724
@harikrishnayadlapalli here's an example application.

https://github.com/joakime/jetty-redirect-experiments

The curl command line is present in the `README.md` there.

Example:
[code]

[2022-10-19 21:26] joakime commented on #7650
@gregw & @sbordet WDYT?

[2022-10-20 05:23] janbartel opened #8744 "jetty-12: Update to jasper 10.1.1"
Replace milestone build of Jasper with release 10.1.1.

[2022-10-20 16:57] joakime opened #8749 "Jetty 12 - `request.getContext().getContextPath()` should return full context, not just last one"
**Jetty version(s)**
12

**Description**
The `request.getContext().getContextPath()` only returns the last context seen, not the full context path up to this point.

[code]

In this scenario, where we have 3 `ContextHandler` nested inside of each other, the final Handler only sees the last contextPath.
(The assertion fails, as it expected `/a/b/c` but only got `/c`)

This makes it hard to rewrite

[2022-10-20 17:17] sbordet commented on #8749
Uhm. From the point of view of the last `Handler`, the `contextPath` is just `/c`.

The question is what does `request.getPathInContext()` return? I'd expect just `/d`.

And I expect `request.getHttpURI().getPath()` to be `/a/b/c/d`.

I would expect to receive a `contextPath=/a/b/c` if: `contextHandler = new ContextHandler("/a/b/c")` (not sure if that is even possible; must `contextPath` be a sing

[2022-10-20 17:30] joakime commented on #8749
Using the original setup of `/a -> /b -> /c -> handler` and requesting `/a/b/c/d`
The results are ...

[code]

[2022-10-20 20:51] danrohrer opened #8750 "AbstractProxyServlet.onServerResponseHeaders does not support headers with empty values"
https://github.com/eclipse/jetty.project/blob/8404eb0db1a362b20d4dc35a7d48ac2fe41ddfce/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/AbstractProxyServlet.java#L666

There were changes made some time ago to support setting headers with empty values (see: https://github.com/eclipse/jetty.project/issues/1116) however the change did not carry through to onServerResponseHeaders().

Wondering if thi

[2022-10-20 20:59] joakime commented on #8750
Wait, I thought a null headerValue means it doesn't exist, and an empty header value `""` means it exists, but has no value?
@gregw @sbordet thoughts?

[2022-10-20 21:03] gregw commented on #8749
This is kind of a very strange setup... but let's go with it.

The `request.getContext().getContextPath()` should definitely be only "/c", as that is the context and it is conceivable that there are multiple paths a request can take to get there (although we don't really support setting them up, but then this is a strange edge case).

Perhaps a new method `request.getFullContextPath()` is needed t

[2022-10-20 21:12] danrohrer commented on #8750
In this particular code, a null could be returned if the header name was being explicitly filtered out, hence the check for null in line 666 above. I'm referring to the case where a header (with an actual name) is assigned a value that is empty (as in myheader: \r\n). In such a case, the value's length will be 0, and the code will skip adding the response header.

[2022-10-20 21:14] joakime commented on #8749
Lets not go down this path just yet.
We need to better understand the implications of things like `RewriteHandler` under a `ContextHandler` first.
The differences in modifying and overriding/wrapping the `request.getHttpURI()` (like `RewriteHandler` does) vs the whole `request.getPathInContext()` behaviors inside of (and outside of) a `ContextHandler`)

[2022-10-20 21:16] joakime commented on #8749
A related question, If we had a setup of `/a -> /c -> /c -> MyHandler` (yes, that's intentionally two nested `/c` contexts)

how could `MyHandler` know the proper Context Path to issue a redirect with/to?

[2022-10-20 21:21] gregw commented on #8749
So I think we can support this without too much expense with the following method on Request:
[code]

which we would implement in Request.Wrapper as:
[code]

Which for the simple case of a single `Context` over the root `Context` would devolve to the moderately cheap:

[code]

So we could do it.

@joakime can you test this with your example?

[2022-10-20 21:22] gregw commented on #8749
Note that we'd need to be explicit in the javadoc about the difference between `request.getContextPath()` and `request.getContext().getContextPath()`, although for 99.99% of apps, they will produce the same result.

[2022-10-20 21:30] joakime commented on #8749
Where do you see that last snippet `getContextPath()` (with the `Request.Wrapper wrapper = this`) going?
The `ContextHandler.Context` doesn't fit.

[2022-10-20 21:32] gregw commented on #8749
@joakime that last snippet is not really code.... that is what the full impl devolves down to in the common case of a single context.  I was trying to demonstrate how it would be rather cheap unless we did have nested contexts.

[2022-10-20 21:33] joakime commented on #8749
@gregw the code in PR #8751 (currently draft, and doesn't compile) has your changes and the updated test case from the initial comment on this issue.

[2022-10-20 21:36] joakime commented on #8749
Reverted that change...

So `request.getContextPath()` is now `/a/b/c`, and `request.getContext().getContextPath()` is now `/c` with these changes.

[2022-10-21 06:12] sanjerai commented on #8724
I have tried both reactive and non reactive calls with jetty httpclient and noticed redirection is working fine.

But with Spring webclient together with jetty httpclient we get exception.
_Multiple subscriptions not supported on AsyncRequestContent_

Should this be a bug for Spring team?

More details posted on stackoverflow
https://stackoverflow.com/questions/74111474/http-307-redirect-fails-for

[2022-10-21 06:26] xinguangduan opened #8752 "How do I know if a websocket client message has been successfully sent to the Websocket Server side?"
**Jetty version**
11.0.12
**Java version**
11.0.14
**Question**
I use the jetty websocket client to send byte messages to the websocket server. I use the following method to asynchronously send data to the server and receive a successful callback result. Does that prove that it has been sent to the websocket server?
Or is it only sent to the local buffer or the local network adapter? How do I prov

[2022-10-21 10:14] sbordet commented on #8752
Yes, it proves that it has been sent, meaning it was handed to the OS for send. From the JVM point of view it is "sent" and you have the proof that you have done everything in your power to send the bytes -- there is nothing more that you can do from Java.
But the OS may have not sent it yet (and may not send it, in very rare cases).

However, that does not mean that it _reached_ the server.
It is

[2022-10-21 11:40] janvojt opened #8753 "Starting HttpClient with destinationIdleTimeout set throws NPE."
**Jetty version(s)**
\>= 11.0.x

**Java version/vendor** `(use: java -version)`
any

**OS type/version**
any

**Description**
If `HttpClient` is initialized with a default (implicit) scheduler and at the same time `destinationIdleTimeout` is set, then `HttpClient` cannot start and throws `NullPointerException`.

**How to reproduce?**

[code]

Throws:
[code]

[2022-10-22 09:51] xinguangduan commented on #8752
@sbordet , thanks for detail explain, understood.

[2022-10-22 09:51] #8752 closed, assigned to nobody

[2022-10-22 13:00] #7011 closed, assigned to nobody

[2022-10-22 13:11] #7018 closed, assigned to nobody

[2022-10-22 13:13] sbordet commented on #8753
Fixed by #8756.

[2022-10-22 13:13] #8753 closed, assigned to nobody

[2022-10-23 08:57] Unaimend opened #8757 "NoClassDefiniton found when running the app as .jar instead of in intelij"
**Jetty version(s)**
11.0.2

**Java version/vendor** `(use: java -version)`
openjdk version "18.0.1" 2022-04-19
OpenJDK Runtime Environment Homebrew (build 18.0.1+0)
OpenJDK 64-Bit Server VM Homebrew (build 18.0.1+0, mixed mode, sharing)

**OS type/version**
<img width="204" alt="Bildschirmfoto 2022-10-23 um 10 54 27" src="https://user-images.githubusercontent.com/7808379/197383283-a722ab83-1153-4

[2022-10-23 09:42] joakime commented on #8757
Don't use `maven-assembly-plugin` and `jar-with-dependencies`.

As the assembly plugin does not:

* merge `META-INF/services` files (CRITICAL STEP)
* handle the nuances of `module-info.class` (CRITICAL STEP, even if you decide to just exclude them)
* handle JEP-238 Multi-Release JAR files (CRITICAL STEP)
* handle duplicate classes correctly (Optional Step, your dependencies will determine if you n

[2022-10-23 11:09] Unaimend commented on #8757
Thank you very very much for your help. All this maven stuff is a little confusing to me

[2022-10-23 11:43] Unaimend commented on #8757
I removed the assembly-plugin and added
[code]

    which I found at https://maven.apache.org/plugins/maven-shade-plugin/examples/executable-jar.html
    But the problem is still there

[2022-10-23 11:44] Unaimend commented on #8757
Whole pom.xml

[code]

[2022-10-23 11:50] Unaimend commented on #8757
Apparently the plugin does not get executed when I do 'mvm package' in intellij

[code]

[2022-10-23 11:53] Unaimend commented on #8757
This fixed my problem:
https://stackoverflow.com/questions/42208526/maven-shade-plugin-is-not-called-automatically-for-goal-package

[2022-10-23 11:53] #8757 closed, assigned to nobody

[2022-10-24 01:55] #7033 closed, assigned to nobody

[2022-10-24 18:24] joakime opened #8759 "Jetty 12 - Review Handler.Collection.setHandlers use of "invocationType""
**Jetty version(s)**
Jetty 12

**Description**
Review method variable `invocationType`, as it is not apparently used for anything in the method.

[2022-10-25 07:54] #8723 closed, assigned to nobody

[2022-10-25 14:15] joakime opened #8763 "Review Dumpable on PathMappings an MappedResource"
**Jetty version(s)**
Jetty 12

**Description**

Review PathMappings with an eye on Dumpable.
Make sure MappedResource is Dumpable as well (and can show Dumpable hierarchy if the resource is also Dumpable)

[2022-10-25 14:17] joakime opened #8764 "Review PathMappings put(PathSpec, E resource) for replacement behavior"
**Jetty version(s)**
Jetty 12

**Description**
As pointed out at https://github.com/eclipse/jetty.project/pull/8748#discussion_r1003823744 if a new mapping is introduced that would replace an existing PathSpec,
we should be returning the old resource that was replaced in the `put()` method.

[2022-10-25 14:18] joakime opened #8765 "Review Handler.Container so that it only represents an immutable interface"
**Jetty version(s)**
Jetty 12

**Description**
The Handler.Container interface should be an immutable interface (without `addHandler()` methods).

[2022-10-25 16:58] ryryguy opened #8766 "WebSocket thread locking in blockingWrite"
**Jetty version(s)**
9.4.49.v20220914

**Java version/vendor**
openjdk version "17.0.4.1"
OpenJDK Runtime Environment Temurin-17.0.4.1

**OS type/version**
Ubuntu 20.04

**Description**
We're consistently getting locked threads on our production services running in AWS ECS.

There are several similar looking issues which have been resolved, most recently #2061 but we are on a version well past the

[2022-10-26 00:47] joakime commented on #7026
Addressed in Issue #7975

[2022-10-26 00:47] #7026 closed, assigned to nobody

[2022-10-26 01:14] lachlan-roberts commented on #8766
Note `9.4.x` version is community EOL (see https://github.com/eclipse/jetty.project/issues/7958)

So best step is to upgrade to Jetty to latest  `10.0.x`/`11.0.x` version and it is likely you would not experience this issue. https://www.eclipse.org/jetty/documentation/jetty-10/programming-guide/index.html#pg-migration-94-to-10-websocket

But previous issues with this were resulted from `permessage

[2022-10-26 12:27] joakime opened #8768 "JSON support for Java 16+ Records"
**Jetty version(s)**
Jetty 12

**Enhancement Description**
More and more JSON libs are supporting the serialization in/out of Java Record types.
We should support it too.

[2022-10-26 12:27] joakime commented on #8768
See https://github.com/google/gson/pull/2201

[2022-10-26 13:50] Mahdi-Seeker commented on #6600
Any progress on this issue?

[2022-10-26 14:37] joakime commented on #6600
Spec is at https://www.rfc-editor.org/rfc/rfc8878

This labeled as a "low priority" and "help wanted".

Do you even know of any 100% Java based implementations of this spec that can do compression & decompression?

[2022-10-26 14:44] joakime opened #8769 "Introduce CompressionHandler to support compression from gzip, brotli, and zstandard"
**Jetty version(s)**
Jetty 12

**Enhancement Description**
The current `GzipHandler` does a good job at handling `Content-Encoding: gzip` (and `Accept-Encoding: gzip`), but we shouldn't hardcode only gzip support.

Can we refactor the existing `GzipHandler` to be more generic, something like `DynamicCompressionHandler` and have the Gzip support (courtesy of the existing `GzipRequest` object) just

[2022-10-26 17:22] sanjerai commented on #8724
Attaching the logs snippet for spring webflux + jetty httpclient scenario which is failing.

`java.lang.IllegalStateException: Multiple subscriptions not supported on AsyncRequestContent@289f2284[demand=0,stalled=true,chunks=0]
        at
 org.eclipse.jetty.client.util.AsyncRequestContent.subscribe(AsyncRequestContent.java:83) ~[jetty-client-11.0.11.jar!/:11.0.11]`

[jettyFailureLogs.log](https://

[2022-10-26 17:49] sbordet commented on #8724
The problem is that the initial request contains a body that cannot be reproduced.
From the stack trace your initial request body is not reproducible, so you have to modify your code to take that into account.

You are sending a POST/PUT with content; imagine that content comes from a source that will give you the content once (e.g. an `InputStream`).
Your request travels to the server, that disca

[2022-10-26 17:52] sbordet opened #8770 "Review whether to send request body in redirects"
**Jetty version(s)**
10+

**Enhancement Description**
`HttpRedirector` should probe the request content to know whether it's reproducible like e.g. `AuthenticationProtocolHandler` does.

[2022-10-26 17:54] sbordet commented on #8724
Opened #8770 to behave a little better.
Beware that it won't solve this issue, which can only be solved by you avoiding the redirection.

[2022-10-26 18:55] sanjerai commented on #8724
Actually we need the redirection for POST/PUT specifically with content.
Are we saying that the redirection wont work with Rest APIs.

[2022-10-26 20:15] jhsenjaliya commented on #7894
I got slightly confused by the responses here ( specially from @joakime , saying this is not according to the spec) if that is the case , is there a plan to fix this by handling preflight requests before checking that origin must not be null ?

[2022-10-26 20:19] ryryguy commented on #8766
Thanks for the information. We do plan to upgrade to version 10 soon, we're waiting for the Spring updates to be officially released next month so that we can do them all at once.

The change we made to decouple the inbound thread from the message write operation has been in production for about 36 hours now, and we haven't seen the problem occur since then. It's hard to be sure that it has 100% f

[2022-10-26 20:40] sbordet commented on #8724
Yes, the way you do it.

Your redirect code is 307, so it is expected that the client re-sends the original request content.
But in your case, your original request content is not reproducible, so it cannot be re-sent.

Either change your server to send a non 307/308 redirect, for example 302/303 (and you will also need the fix for #8770).
Or change your client to send a reproducible content.
Or c

[2022-10-26 20:43] sbordet commented on #8770
Turns out that we are re-sending the request content even when the redirection changes the method to `GET`, which is not correct.
The request content should be resent only in case of `307` or `308`.

[2022-10-26 20:58] joakime commented on #7894
Don't follow you.  Can you give some details on what you are looking for?

[2022-10-26 21:13] jhsenjaliya commented on #7894
sure, sorry to miss the context, so basically building on what @rkennedy-mode explained in this comment: https://github.com/eclipse/jetty.project/issues/7894#issuecomment-1103012784

- preflight (OPTIONS) requests, fails on CORS, because CrossOriginFilter#handle checks origin present first before it tries to handle preflight request with `isPreflightRequest`.

so I was wondering that If you agree

[2022-10-26 21:43] joakime commented on #7894
So you have an `OPTIONS` (method) request, without an `Origin` header match (to what you have configured in the `CrossOriginFilter`)?

That's not a valid preflight request per the CORS spec.

 1. No Origin header is defined as outside of the spec (aka "not a CORS preflight request" state)
 2. No matching Origin header also puts the request into a "not a CORS preflight request" state.

Doesn't matt

[2022-10-26 21:52] joakime commented on #7894
If you get no (or blank) `Origin` header, that's not ever CORS preflight.

If you get a `Origin` header that doesn't match, then that's either a misconfigured `CrossOriginFilter` (you don't have that host in your `allowedOrigins`) or a misconfigured set of virtualhosts on your context (a common setup, where you only want specific hosts to even reach your context, all other hosts are 404).

[2022-10-26 23:32] joakime opened #8772 "Change `Resource.newByteChannel()` to return `SeekableByteChannel`"
**Jetty version(s)**
Jetty 12

**Description**
Currently the API `Resource.newByteChannel()` returns a `ReadableByteChannel`, we should change that to `SeekableByteChannel`.

Two arguments for this change:

1. `Files.newByteChannel(Path)` already returns a `SeekableByteChannel`
2. Serving static files with the byte-range support gets easier.

[2022-10-27 06:39] onkar4in commented on #8546
Hi Thanks for the reply.
The issue was the machine on which my program was running had a threshold of outgoing HTTP requests causing above exception. This was fixed by the network administrator by increasing the threshold and everything started to function as expected.

[2022-10-27 06:43] sanjerai commented on #8724
As we need the same http method after redirect our case needs 307 response from server.

We are using httpclient as our client as shown below. Do you guys have any suggestions we can follow to send a reproducible content.
![image](https://user-images.githubusercontent.com/116335417/198210192-5253d26f-edd7-49f3-8d18-fd917e6ab57d.png)

Call to redirect url using httpclient
![image](https://user-imag

[2022-10-27 09:14] sbordet commented on #8724
Since you are using the Spring APIs, the request body is a `Publisher`, and therefore the information about whether the content is reproducible is not available.

The only solution I see is for you to use directly Jetty's `HttpClient`, perform the request passing in a reproducible request content, and then convert the response body back to a `Mono<ResponseEntity<byte[]>>`.

[2022-10-27 10:42] #8546 closed, assigned to nobody

[2022-10-27 18:34] joakime opened #8779 "CompactPathRule drops query section on use"
**Jetty version(s)**
Jetty 10.0.12

**Description**
Using the `CompactPathRule` will result in the query section of the input URI being stripped.

[2022-10-27 22:23] olamy opened #8782 "Flaky test org.eclipse.jetty.server.handler.StatisticsHandlerTest.testDataWriteRate"
[code]

[2022-10-28 06:09] sanjerai commented on #8724
I was able to run same redirect rest api's with Jetty reactive
![image](https://user-images.githubusercontent.com/116335417/198515077-41e9a971-a2a5-423c-b867-4f5dbf55754a.png)

I will check with spring team why the request from spring webclient is non reproducible

[2022-10-28 10:19] ShashankSonavane opened #8783 "bad alias application doesnt start"
**Jetty version(s)**

Uber Jar 9.4.40

**Java version/vendor**
1.8.0.221

**OS type/version**
z/OS Unix OS/390 XXX 26.00 04 8562 on Spanish locale

**Description**

Hi Team,
Embedded jetty fails to start on z/OS Unix at customer site, but log ends with Jetty Server Started message.
The jetty.log file shows WARN:oejur.PathResource:main: bad alias (java.lang.ArrayIndexOutOfBoundsException ).
This is

[2022-10-28 11:02] joakime commented on #8783
Jetty 9.4.40 is now at End of Community Support.

See Issue #7958

Does this happen in Jetty 10?
Also, complete stacktraces are helpful, not just a single line.

[2022-10-28 11:05] joakime commented on #8783
Also Java 1.8.0 update 221 expired November 15, 2019 and should not be used in production today.

See: https://www.oracle.com/java/technologies/javase/8u221-relnotes.html

[2022-10-28 11:10] joakime commented on #8783
Without a stacktrace this will be difficult to fix.

Fundamentally, you have a bug, in that environment, in one of these Java APIs ...

[code]

That warning is telling you that the bug exists, but then continues on (ignoring the error).

[2022-10-28 11:13] joakime commented on #8783
A quick google search shows that this is a reported bug on IBM Z machines with Java.

https://www.ibm.com/support/pages/apar/IJ22219

[2022-10-28 11:13] #8783 closed, assigned to nobody

[2022-10-28 11:20] joakime commented on #8724
@sanjerai btw, the `StringRequestContent` is a Jetty `Request.Content` which, by design, provides the `Content-Type` as well.

Each `Request.Content` implementation has it's own default `Content-Type` (eg: `StringRequestContent` is a default of `text/plain;charset=UTF-8`)

But you can override this on every `Request.Content` implementation.

For example could use `request.body(new StringRequestCon

[2022-10-28 11:32] ShashankSonavane commented on #8783
pls check complete stack trace
2022-08-10 08:11:09.680:INFO::main: Logging initialized @1885ms to org.eclipse.jetty.util.log.StdErrLog
2022-08-10 08:11:09.958:INFO:oejs.Server:main: jetty-9.4.40.v20210413; built: 2021-04-13T20:42:42.668Z; git: b881a572662e1943a14ae12e7e1207989f218b74; jvm 8.0.5.41 - pmz6480sr5fp41-20190919_01(SR5 FP41)
2022-08-10 08:11:15.845:INFO:oeja.AnnotationConfiguration:main

[2022-10-31 00:00] #6925 closed, assigned to nobody

[2022-10-31 03:30] lachlan-roberts opened #8786 "KeyStoreScanner is not able to monitor a symlink file and always resolves to the target."
**Jetty version(s)**
9.4.x, 10.0.x, 11.0.x

**Description**
`KeyStoreScanner` is not able to monitor a symlink file and always resolves to the target.

There is a test `org.eclipse.jetty.test.KeyStoreScannerTest#testReloadChangingSymbolicLink` which is incorrectly testing that this use case works, but it is currently not possible to configure in `KeyStoreScanner`.

[2022-10-31 04:52] sanjerai commented on #8724
@joakime how jetty makes sure _StringRequestContent_ is reproducible for redirection scenarios.
I am trying to figure out if I can do similar fix in Spring _BodyInserters.fromValue_ while generating content

[2022-10-31 10:16] olamy opened #8788 "Test CloseableDoSFilterTest#testUnavailableIP flaky?"
Trace. Flaky?
[code]

[2022-10-31 23:31] gregw opened #8790 "Jetty-12 HttpContent should have an async API"
@lachlan-roberts has recently been working on the content caching mechanism for Jetty-12. He's been receiving contradictory advice: I've been advocating that `HttpContent` should have an async API (maybe even just implement `Request.Processor`, but I think others have been advocating for keeping the blocking `getBuffer()` approach.

So I'm opening this issue to capture some of the arguments/discus

[2022-10-31 23:47] gregw commented on #8790
So to take my proposal to it's logical extreme, we should change the method in  `ResourceHandler` from:
[code]

to

[code]

We may even save on the allocation of a lambda this way :)

[2022-11-01 00:02] gregw opened #8791 "Jetty-12 Should Request.Processors be reusable?"
Currently in Jetty-12, we do not specify in the `Request.Processor` contract/javadoc if it can be reused or not.  i.e, once a Processor has been obtained from `Handle.handle`, can it be used over and over with many different request/response/callback tupples?

This is analogous to `RequestDispatchers` in the servlet API, which currently may be reused multiple times.

In Jetty-12, many of our proce

[2022-11-01 05:26] lachlan-roberts commented on #8790
@gregw `HttpContent` is in jetty-http module so does not have access to `Request` and `Response` classes, so it cannot have the `httpContent.process(request, response, callback)` method you propose, and it cannot implement `Request.Processor`.

Do you think that `HttpContent` should be moved to jetty-server?

[2022-11-01 09:31] gregw commented on #8790
I'm just doing big picture here.... details like that are for you :)

[2022-11-01 09:57] lorban opened #8810 "`ArrayRetainableByteBufferPool` inefficiently calculates bucket indices"
**Jetty version(s)**
10, 11, 12

**Enhancement Description**
The `ArrayRetainableByteBufferPool.bucketFor()` method is on the fast path of every served request, and it delegates its index calculation to a `Function<Integer, Integer>` lambda. This implies boxing and unboxing are happening each time a bucket must be chosen, and this inefficiency started appearing in profiling reports.

This code sho

[2022-11-01 10:24] bjorncs opened #8811 "HTTP/2 session shutdown race may cause `Server.stop()` to block until stop timeout"
**Jetty version(s)**
11.0.12

**Java version/vendor**
17.0.5+8

**OS type/version**
RHEL 8.6

**Description**
Graceful server shutdown may block for full duration of stop timeout due to race condition in HTTP/2 session shutdown logic (`o.e.j.http2.HTTP2Session`).

Returned future of `HTTP2Session.shutdown()` may never be completed if it's invoked after `HTTP2Session.streamsState.closed` has reache

[2022-11-01 10:31] lorban commented on #8810
Here's an async profiler flame graph that shows `ArrayRetainableByteBufferPool.bucketFor()` is showing up almost 3% of the time:  [async-profiler-cpu.zip](https://github.com/eclipse/jetty.project/files/9908995/async-profiler-cpu.zip)

[2022-11-01 17:44] joakime opened #8815 "Flaky Test - `org.eclipse.jetty.quic.client.End2EndClientTest.testMultiThreadedHTTP1`"
**Jetty version(s)**
Jetty 10.0.x

**Description**
Flaky Test seen repeatedly on `jetty-10.0.x` branch (and PRs)

[code]

[2022-11-01 18:37] sbordet commented on #8786
I miss why do we want to monitor the symlink, seems to make no sense to me?

[2022-11-01 19:01] joakime commented on #8786
The symlink can be changed to point to a different location?
The underlying filesystem mounts can change, making what the symlink is pointing to different? (or even invalid)

[2022-11-01 19:06] joakime commented on #8786
@lachlan-roberts don't forget to set labels and projects.

[2022-11-01 21:47] gregw opened #8817 "Jetty Releases 9.4.50"
**Jetty Versions:**
This release process will produce releases: 9.4.50

**Target Date:**

Nov 4 2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign this issue to a "release

[2022-11-01 21:51] joakime commented on #8817
Changes in branch `jetty-9.4.x` since `jetty-9.4.49.v20220914`

* https://github.com/eclipse/jetty.project/compare/jetty-9.4.49.v20220914...jetty-9.4.x

[2022-11-01 21:52] joakime opened #8818 "Eclipse p2 maintainer."

[2022-11-01 23:11] gregw opened #8819 "Jetty-12 Improve CustomRequestLog efficiency"
**Jetty version(s)**
Jetty-12

**Enhancement Description**

The current handling for servlet attributes to be logged is in `ServletChannel`:
https://github.com/eclipse/jetty.project/blob/jetty-12.0.0.alpha2/jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletChannel.java#L793-L804

This is creating 3 map keys even if they are not used.  Either, they entries should onl

[2022-11-01 23:16] danrohrer commented on #8750
Any further thoughts on this? RFC 9110 Section 5.5 seems to allow for an empty header field value. Same was true of earlier RFCs. Section 5.1 also states "A proxy MUST forward unrecognized header fields unless ... the proxy is specifically configured to block, or
otherwise transform, such fields." Just wondering if this will be addressed or if I'll need to override the behavior in my own code.

[2022-11-01 23:32] lachlan-roberts commented on #8786
A user was requesting this feature, they wanted to modify the symlink file to point to a new target instead of just changing the target file of the symlink.

We had a test for it which was wrong. So very least we should fix the test to verify the behaviour we expect.

[2022-11-02 00:00] #6866 closed, assigned to joakime

[2022-11-02 03:17] gregw commented on #8750
@danrohrer what version of Jetty?   We are not making any changes like this to Jetty-9.4, which is end of life for community support.   But sounds like something we should address in >= 10

[2022-11-02 03:19] janbartel opened #8821 "Add comments to ResourceFactory"
**jetty-12.0.x**

There is insufficient javadoc in the `ResourceFactory` class to explain how that class is intended to be used. There is no indication of what `ResourceFactory.of(x)` and `ResourceFactory.root()` do.

[2022-11-02 03:23] gregw opened #8822 "Exception logged from passing test GzipDefaultServletTest testIsGzipByMethod"
**Jetty version(s)**
10

**Description**
The exception below is logged for a successful test.  Stack traces of expected exceptions should be suppressed.

[code]

**How to reproduce?**

build the project (or look at CI).

Note, may as well fix other such exceptions in the same PR.

[2022-11-02 03:34] gregw opened #8823 "HTTP2 PushedResourcesTest.testPushedResources() has NPE"
**Jetty version(s)**
12

**Description**
The pushed resources test passes, but has a disturbing exception logged.   If this is really expected, then the stack should be suppressed, but it does not look like a reasonable exception to expect???

[code]

**How to reproduce?**

[2022-11-02 10:05] joakime commented on #8815
Disabled in PR #8816 on `jetty-10.0.x`

[2022-11-02 10:39] sbordet opened #8854 "Jetty 12 - Review DefaultServlet.passConditionalHeaders()"
**Jetty version(s)**
12+

**Description**
`DefaultServlet.passConditionalHeaders()` has a strange logic when `include=true`.
It should return `false` when `include=true` because it does not serve anything and it does not complete the callback.

[2022-11-02 14:23] danrohrer commented on #8750
\>= 10 will work for me

[2022-11-02 19:37] sbordet opened #8858 "Jetty 12 - Review MovedContextHandler"
**Jetty version(s)**
12+

**Description**
`MovedContextHandler` is not tested and it's currently broken.
Methods are still named after Servlets, but should be renamed to a more generic naming.

[2022-11-02 21:38] #8779 closed, assigned to joakime

[2022-11-03 05:36] gregw commented on #8790
So thinking out loud here about how this could work  if `HttpContent implements Request.Processor` (or has a signature that can be returned as a method pointer as a Processor).

At the simplest level, we would have a `ResourceHttpContentFactory` that would return a `ResourceHttpContent` which would implement `process` to set the response headers and then use an Iterating callback to read & write t

[2022-11-03 06:44] diziaq commented on #8354
Guess somethimes my app is having somethig similar after Jetty version up, I'm trying to investigate if it is related.

@alekkol
The reproduction algorithm is not clear enough, so I cannot trace the bug.
Could you elaborate on how you reproduce the bug?

It seems the two locks are always being "logically" nested, because
`toString` is always being called AFTER entering `doAppend` method (i.e. sync

[2022-11-03 06:45] diziaq commented on #8354
Guess somethimes my app is having somethig similar after Jetty version up, I'm trying to investigate if it is related.

@alekkol
The reproduction algorithm is not clear enough, so I cannot trace the bug.
Could you elaborate on how you reproduce the bug?

It seems the two locks are always being "logically" nested, because
`toString` invocation always follows AFTER entering `doAppend` method (i.e. s

[2022-11-03 10:05] diziaq commented on #8354
@sbordet
Of course it is Logback fault, because it clearly violates the recommendation from EffectiveJava book (item 73):
`inside a synchronized region, do not invoke a method that is designed to be overridden`.

No offence, but Jetty fault (and your advocation about it) is relying on "potentially" error prone functionality, knowing for sure it could cause problems. Please, revise this warped appr

[2022-11-03 11:29] joakime commented on #8354
@diziaq that logic is a red herring, the problem has nothing to do with the `AdaptiveExecutionStrategy`.
The `AutoLock` on `AdaptiveExecutionStrategy` is unrelated to the issue, and was just caught up in the thread dump.

In this specific case (of the original issue) the custom appender (`CloudAppender`) is causing this issue entirely.

The original issue's `CloudAppender` (and `CircularBufferAppe

[2022-11-03 15:04] sbordet commented on #8823
Fixed by #8760 which needs approval.

[2022-11-03 15:04] #8823 closed, assigned to sbordet

[2022-11-03 22:09] dzikoysk opened #8863 "Provide a possibility to name virtual threads"
**Enhancement Description**

Jetty 11 supports Loom, but we don't have any control over the used executor:

https://github.com/eclipse/jetty.project/blob/1e0ef57bb4656b7e5e29bf38b1c7a2772e2d0a2a/jetty-util/src/main/java/org/eclipse/jetty/util/VirtualThreads.java#L34-L41

We should be able to customize executor using `OfVirtual`:

* https://download.java.net/java/early_access/loom/docs/api/java.bas

[2022-11-03 22:11] gregw commented on #8790
@lachlan-roberts @sbordet @lorban ^

[2022-11-03 22:36] gregw commented on #8863
A setter on `VirtualThreads` is not sufficient, as the executor there is static and if you are naming virtual threads, you may wish to have different names for different execution strategies.

The solution may be to have a `setVirtualThreadExecutor` on the `AdaptiveExecutionStrategy`, but the style of usage that we have for other options is to look for a sub interface on the passed `Executor`... w

[2022-11-03 22:37] gregw commented on #8863
Or maybe a setter for the name on the `VirtualThreads.Configurable` interface and it would wrap the executor to set the name?  Or maybe a `VirtualThreads.Configurable.setCustomizer` ???

[2022-11-03 22:59] xiaochen-db opened #8864 "How to efficiently increase jetty websocket throughput"
**Jetty version**
9.3.27

**Java version**
1.8.0_282

**Question**
Hi Jetty team, I built a communication channel based on Jetty websocket between two backend services with `WebSocketClient` on one end and `WebSocketHandler` on the other.  This works pretty well for my application which bidirectionally sends and receives text messages using following APIs:

[code]

As I understand, these APIs are

[2022-11-03 23:29] joakime commented on #8864
The entire Jetty 9.x line is now at End of Life (or in the case of 9.4.x it's End of Community Support, with End of Life later).

* https://github.com/eclipse/jetty.project/issues/7958

[2022-11-03 23:32] joakime commented on #8864
Since you are using such an old version of Jetty (9.3.27), please take a moment and see how many published vulnerabilities impact you. (quite a lot)

* https://www.eclipse.org/jetty/security_reports.php

We've helped many organizations (via the webtide.com support contract) upgrade from Jetty 9 (and Java 8) to Jetty 10 or 11 (and Java 11 or 17) with great success.
If you are interested, contact [J

[2022-11-04 00:48] lachlan-roberts commented on #8864
You would want to use separate websocket connections for each of the other applications, you can share the same `WebSocketClient` to make these separate connections. This way messages for each application can be delivered concurrently as each connection will have its own thread reading from the connection and providing the messages to the application.

[2022-11-04 17:02] sbordet commented on #8863
@gregw @dzikoysk I don't want to commit Jetty to Java preview APIs that could go on for years and change considerably in every Java version, so we would have Jetty methods that work on Java 19, but don't work on Java 20, but maybe they work again on Java 21, who knows.

We have already done this for the Java foreign APIs and it's a different Jetty module for every Java version.

The current approa

[2022-11-04 17:59] dzikoysk commented on #8863
If you'd open access to this field a little bit (by setter or sth) it'd be enough for me to inject my instance of `Executor` and you don't have to care about reflections as it's up to me to provide whatever I want that implements Executor here.

[2022-11-04 18:17] sbordet commented on #8678
@praveenchandna unfortunately I don't think this problem is solvable as it is inherently racy.

The client may acquire a connection which is still open, but before it actually gets the chance to send a request, the server will send the graceful GOAWAY and possibly also the normal GOAWAY.
By the time the request thread resumes, it will find that the session is now closed and it can only fail.

This

[2022-11-04 18:23] sbordet commented on #8863
Having a setter for an `Executor` opens the possibility of misuse though -- as you can set a non-virtual `Executor` and therefore there will be no virtual threads, leading to maximal confusion 😄

What exact problem do you have with thread names?
Would it be ok if the thread names are generated by Jetty?

[2022-11-04 18:54] dzikoysk commented on #8863
If someone will pass other executor impl to setter called `setVirtualThreadExecutor` then I'm not sure if it's really your problem 😅 That's kinda a design choice on Java side to use the same interface, personally, I wouldn't be confused by that.

We'd like to migrate to built-in Loom support in QueuedThreadPool in Javalin:

* https://github.com/javalin/javalin/blob/master/javalin/src/main/java/io/

[2022-11-04 22:12] dsmiley commented on #8558
A "randomized testing" philosophy is intended to address this.  Given enough randomized executions, you may well cover all of the scenarios :-). Apache Lucene and Solr embrace this philosophy.  We randomize the JDKs, GCs, TimeZones, and within Lucene & Solr, arbitrary choices in implementations or various things specific to a test.  Like randomly picking some data to use to test on.  The main requ

[2022-11-05 10:13] deepakab03 opened #8867 "Jetty maven plugin is not Maven toolchain aware"
**Jetty version(s)**
jetty-maven-plugin: all versions but checking the latest 9.x version: 9.4.49.v20220914 and latest 11.0.12 versions

**Java version/vendor** `(use: java -version)`
any, for e.g. 11.x or 17.x
**OS type/version**
Windows 11

**Description**
When Maven toolchains are used, the jetty-maven plugin does not use the JDK specified there but uses the JDK which is used to build maven

**

[2022-11-06 18:33] sbordet commented on #8790
The problem is that `HttpContent` is in `jetty-http` so any possible signature would be to only depend on `jetty-http` something like:

`HttpContent.write(HttpFields requestHeaders, HttpFields responseHeaders, Sink response, boolean last, ByteBuffer content)`

which is quite long and cumbersome, and it needs to be re-wrapped as a `Processor` anyway.
And it's going to be used by the server only, so

[2022-11-06 22:41] gregw commented on #8790
This is not an issue.  This design is only relevant to the server anyway, so it just needs to be in `ResourceService`, which could be written in terms of something like:
[code]
Or it could be a `HttpContent` extension that provides a `Processor` or that is-a `Processor`.    Eitherway, `HttpContent` could be left as is (well perhaps remove the mostly broken `getBuffer()` or at least remove all poli

[2022-11-06 23:20] sbordet commented on #8790
I'm still not convinced about this.
Remind me what's broken, because right now we have a fully performant, all cases supported, implementation.
The only problem I remember with the current implementation is that it can be misconfigured it in one specific case, which I feel too weak of a reason to redesign it.

So, `ResourceService` calls some `process()` on a CachingHC, which wraps a ResourceHC.
I

[2022-11-07 06:26] cowwoc commented on #8584
@sbordet Apologies, but I think this bug is not fixed. Should I open a new bug report or do you prefer re-opening this ticket?

To clarify, I checked out the v11 branch (commit 77ceb4172dde2e6c0c419f378b91126ce1e8e4a0), built a local SNAPSHOT version and used that to run my application.

I ended up with a hang which again seems centered around `send()` never returning, in spite of a request timeou

[2022-11-07 06:45] gregw commented on #8790
Yeah well, the convincing needs to go both ways!

I'm not convinced about the currently checked in code and I only acquiesced to several PRs being merged for expediency as lack of static resources was holding up other development.  We cannot allow incumbency in an alpha branch to be the determining factor of our final design.... else a lot more PRs are going to be -1 reviewed until they are perfec

[2022-11-07 13:24] lorban commented on #8790
@gregw If my understanding is correct, you're proposing to manage static content with a mechanism vaguely similar to the the 11.0.x handler one: pass the request/response/callback trio to some `ContentFactory` and let the latter serve the request if it can.

This raises two questions in my mind:
 - Is that going to be easier to write/maintain than the existing list of if/else we currently have in

[2022-11-07 16:05] gointuition opened #8869 "Http2: set SettingsFrame.MAX_CONCURRENT_STREAMS optional"
**11.0.12**

`org.eclipse.jetty.http2.client.HTTP2ClientConnectionFactory.HTTP2ClientConnection#onOpen`
[code]
As you can see, Jetty Http2ClientSession always sends the MAX_CONCURRENT_STREAMS in SettingsFrame, while some other http2 clients don't send it, like FireFox. Hope we can set MAX_CONCURRENT_STREAMS optional in Jetty, too.
Thanks.

[2022-11-07 17:32] sbordet commented on #8869
You can customize the `Map` as you like, by implementing `Session.Listener.onPreface()` and return a non-null `Map`.
See https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-client-http2-configure.

Having said that, a valid server implementation should be able to accept settings as the client sends them, independently from whether Firefox sends it by default or not

[2022-11-07 17:43] #8811 closed, assigned to nobody

[2022-11-07 18:38] joakime commented on #8869
@sbordet doesn't matter if you return a non-null map from `listener.onPreface()`

The `onOpen()` will add back the `MAX_CONCURRENT_STREAMS`.

https://github.com/eclipse/jetty.project/blob/c96b14f25ca10058ed64b764e69b3772a7c584ea/jetty-http2/http2-client/src/main/java/org/eclipse/jetty/http2/client/HTTP2ClientConnectionFactory.java#L96-L102

[2022-11-07 20:33] sbordet commented on #8869
@joakime right.
@gointuition why should I not send it?

[2022-11-07 21:11] joakime commented on #8817
Release 9.4.50.v20221107 is now staged at
https://oss.sonatype.org/content/repositories/jetty-1802

[2022-11-08 03:34] gregw commented on #8790
@lorban not really.... at least i don't think of it in that way.

I'm proposing to embrace the new design. A HttpContent is obtained from content factory more or less as done now in the alpha. But then letting the content serve itself rather than the service serving the content (by making a policy choice about calling getBuffer or creating an iterating callback that uses the channel from the resou

[2022-11-08 07:25] lachlan-roberts opened #8870 "dependency-reduced-pom.xml file generated from building project"
**Jetty version(s)**
12.0.x

Building the project sometimes generates a `tests/jetty-jmh/dependency-reduced-pom.xml` file which is not ignored by git.

[2022-11-08 08:08] olamy commented on #8870
ezy fix by adding this to `maven-shade-plugin` configuration:
[code]

[2022-11-08 09:00] sbordet commented on #8870
This is fixed already.
https://github.com/eclipse/jetty.project/commit/42255442224834b81ed1de1ff11899e0aaccf700#diff-cfe805e5d0f7642f5efc755500f11d7f49b768679dd7858764af172085b6b38e

[2022-11-08 09:00] #8870 closed, assigned to olamy

[2022-11-08 09:52] sbordet commented on #8790
@gregw it is currently not true that HC has access to request and response because it lives in `jetty-http` and not in `jetty-server`. At best it has access to source and sink and HttpFields.

Let's say that we move it to `jetty-server`.

A cache implementation will have to wrap the response with some complex logic about either aggregating buffers into a single one that it is going to be cached, o

[2022-11-08 11:14] gregw commented on #8790
I didn't say it did?    I'm OK with it being moved, or if the `ResourceService` is written in terms of a `HttpContentProcessor` API that has the content, the resource, the request, the response and the callback.   Implementation detail.

Why? I'm sure we already have code that can act as a `Content.Sink' and aggregate all the writes into a buffer (or sequence of buffers - implementation detail).

[2022-11-08 11:27] sbordet commented on #8790
@gregw I thought you wanted `HttpContent implements Request.Processor`?

If you precompute the file mapping, the caching etc. now all the work is being done by the constructor at the `HCF.getHttpContent(pathInContext)` call.

I thought we did not want to do that to avoid as much as possible the stampede effect.

So if we are still on that idea of `getHttpContent()` be fast and light, and do all th

[2022-11-08 14:17] sbordet commented on #8584
@cowwoc, first of all virtual threads are experimental, preview, etc. -- could be an OpenJDK bug.
The stack trace alone unfortunately is not enough to diagnose any problem.

Does it happen when you run without virtual threads?

Do you have DEBUG logs for this failure?

[2022-11-08 14:18] gointuition commented on #8869
@sbordet just a suggestion. It's a low-level library, it would be better to be more extensible, I thought.

[2022-11-08 14:43] sbordet commented on #8869
@gointuition if you want to prepare a pull request I won't mind (see https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/CONTRIBUTING.md).

The logic could be that if `getMaxConcurrentPushedStreams()` returns a negative value, then it is not set.

[2022-11-08 15:52] joakime commented on #8869
BTW, The logic in firefox is that if max concurrent streams is 0 or negative or unset, then http/2 push is disabled.  (a strange bit of logic there)

[2022-11-08 15:54] joakime commented on #8869
IIRC, not sending a max concurrent streams configuration will cause breakage on some servers. (most notably Apple and Cloudflare)

[2022-11-08 17:15] JuDev3 commented on #2890
How can we remove the usage of PropertyUserStore entirely ?

[2022-11-08 17:56] joakime commented on #2890
This is question on Jetty version 9.x.
That version is now at End of Community Support.

See:
* #7958

As for the general question that applies to Jetty 10+, `PropertyUserStore` is an implementation of `UserStore`, which is something that the `HashLoginService` needs to operate. (You would only see this warning/error if you are using the `HashLoginService` _and_ haven't configured the `PropertyUse

[2022-11-08 18:12] sbordet commented on #8583
@jmcc0nn3ll not sure what you mean by "dropping the java side of the documentation generation", but that is generating documentation using the distribution, and running it from Ruby would need glue code.
That generation is necessary for the documentation, it's just that because we use the Asciidoctor Maven Plugin, doing it in Java came natural.

[2022-11-08 18:18] jmcc0nn3ll commented on #8583
That would be via the maven plugin.  Javadoc has to remain all the same. I am conflicted on all of this at the moment, which is why I took a break from it. It is all very neat to use Antora and then knit it all together, but I am fatigued from being forced to change things over and over.  The original impetus has been pulled back on a bit so we have more time then originally thought.

I'll revisit

[2022-11-08 20:12] sbordet commented on #7117
Thank you for the reproducer, it is a bug: since we recycle the reader, we don't execute the code to send the 100 continue for the second request.

[2022-11-08 20:54] #8770 closed, assigned to nobody

[2022-11-08 22:23] gregw commented on #8790
No. read all my comments above  where I proposed:
[code]

This is server side only stuff, so it can be in o.e.j.server. If `HttpContent` is server only as well, then perhaps we move and combine.   But either way, it is just not a key issue. So long as there is an entity that has both the HC and a Processor, then this approach works.  Many ways to associated and I consider that an implementation de

[2022-11-09 10:06] sbordet opened #8876 "Jetty 12 - JMX-ify HttpContent.Factory implementations"
**Jetty version(s)**
12+

**Enhancement Description**
The various `HttpContent.Factory` instances should be JMX-ified using relevant annotations.
Also, they should be added to the component tree so that they get exposed as MBeans.

[2022-11-09 10:31] olamy commented on #8867
not sure which goal you would like to use with toolchain?
`jetty:run` is embedded so it can not use toolchain.

[2022-11-09 11:16] #7117 closed, assigned to nobody

[2022-11-09 14:44] sbordet commented on #8858
Fixed by #8859.

[2022-11-09 14:44] #8858 closed, assigned to nobody

[2022-11-09 17:58] joakime opened #8877 "Hazelcast Session Tests unable to start on CI / K8s"
**Jetty version(s)**
Jetty 10 + Jetty 11 + Jetty 12

**Description**
The Hazelcast Tests are unable to start with the new k8s configuration on CI.

The tests report that the nodes are unable to start ...

[code]

and

[code]

and

[code]

and

[code]

[2022-11-09 18:00] joakime commented on #8877
@olamy this could be related to https://github.com/hazelcast/hazelcast-kubernetes/issues/207

[2022-11-09 18:13] joakime commented on #8877
@olamy this is pretty important to fix.

I've started a draft PR at #8878 to attempt to address this

[2022-11-09 18:22] joakime commented on #8877
This started failing in all branches about 6 hours ago.

[2022-11-09 21:34] joakime commented on #8576
PR #8684 merged.

[2022-11-09 21:34] #8576 closed, assigned to olamy

[2022-11-10 05:54] #8330 closed, assigned to nobody

[2022-11-10 06:18] #8786 closed, assigned to lachlan-roberts

[2022-11-10 13:25] jarnegr opened #8879 "Can't stop/remove thread that does the SendMessage from a Jetty Websocket"
I ran in to a problem using a Jetty Websocket when connecting to an endpoint and sending Strings to it.

First off, the websocket is used to connect to a Sonos speaker using a Jetty websocket. Jetty version is 9.4.48 .

These connections can of course be interrupted by a loss of power, connection issues, ... The problem occurs when trying to clean up the threads when a the connection is interrupte

[2022-11-10 13:35] joakime opened #8880 "Jetty Releases 10.0.13, 11.0.13"
**Jetty Versions:**
This release process will produce releases:
Jetty 10.0.13 and Jetty 11.0.13

**Target Date:**
Nov 17, 2022

**Tasks:**
- [x] Create the release(s) issue.
- [x] Update the target Jetty version(s) in the issue.
- [x] Update the target release date in the issue.
- [x] Link this issue to the target [GitHub Project(s)](https://github.com/eclipse/jetty.project/projects).
- [x] Assign

[2022-11-10 15:24] joakime commented on #8879
@lachlan-roberts do we have test cases for this scenario?

[2022-11-10 15:26] joakime commented on #8880
I'll take "release manager" role for this

[2022-11-10 15:41] joakime commented on #8810
@lorban do you want to do this for the upcoming Jetty 10 / Jetty 11 releases?
Or postpone this? (if so, move this to the next project)

[2022-11-10 16:19] sbordet commented on #8810
@joakime @lorban I'll take this, there is `java.util.function.IntUnaryOperator` that has exactly the right signature and should have been used from the beginning.

[2022-11-10 16:39] joakime commented on #8132
Hasn't happened in months.

[2022-11-10 16:39] #8132 closed, assigned to sbordet

[2022-11-10 16:39] joakime commented on #7927
Hasn't happened in months.

[2022-11-10 16:39] #7927 closed, assigned to sbordet, lorban

[2022-11-10 16:41] lorban commented on #8810
@joakime It's not going to have much impact, no in terms of reliability (we're just replacing `Integer`s with `int`s) nor in terms of performance (the `AdaptiveExecutionStrategy` bottleneck is hiding this one) so it doesn't matter too much.

But we did agree that it is too late for #8762 to be included in the upcoming release.

[2022-11-10 16:43] shamsimam commented on #8678
Can you share configuration snippets to achieve this?

[2022-11-10 16:47] joakime commented on #8810
@lorban in that case, I've moved this from 10.0.13 to 10.0.14

[2022-11-10 17:42] #8822 closed, assigned to nobody

[2022-11-10 17:42] #8810 closed, assigned to sbordet

[2022-11-10 18:36] sbordet commented on #8678
[code]

Remember that in order to use any of these 2 mechanisms effectively, you have to somehow know that the server won't close before (or that it would be a very rare case that the server closes before).

Even if you're using the mechanisms above, I would still configure the client with a smaller idle timeout than the server.

[2022-11-10 21:03] amartya10 opened #8883 "Does the jetty proxy servlet support web socket?"
**Jetty version 11.0.11**

**Java version 11.0.14**

**Does the jetty proxy servlet support web socket?**
I tried but connection upgrade requests fails

Thank you for help. 😃

#proxy #jettyproxyservlet

[2022-11-10 21:14] sbordet commented on #8883
No, it does not support WebSocket upgrades.

[2022-11-10 21:52] gregw opened #8885 "Jetty-12, replacement for HttpChannel.Listener"
**Jetty version(s)**
Jetty-12

**Enhancement Description**

In Jetty-9/10/11 A `HttpChannel.Listener` can be added as a bean to an `AbstractConnector` and then efficiently retrieved in the constructor of every `HttpChannel`.

Jetty-12 has good interception points (not least with `HttpStream` wrappers), but has no similar convenience method for installing them.  Instead a handler needs to be used t

[2022-11-10 22:08] joakime commented on #8885
The Listener mechanism doesn't really encourage mucking with the exchange, it's more about announcing certain lifecycle events in the exchange.

IMO, A wrapper approach would be just encouraging all kinds of shenanigans that are not in the right place.
If you want a wrapper, make a proper Handler.

[2022-11-10 22:47] gregw commented on #8885
Good points.

So the combined approach would have a pure listener (incapable of significant or easy shenanigans (yeah I know... where there is a will ....)) and that only if we register such a listener on the connector, would a stream wrapper be installed to collect events for it.

If you want to manipulate a request, then a handler is the way to do that.

[2022-11-11 02:39] lachlan-roberts commented on #8879
Not sure about the tests for this in 9.4. It could be some bug in one of the flushers.

@jarnegr are these connections using `permessage-deflate` extension? and could you update to `10.0.x`+ and see if you still experience this bug.

[2022-11-11 02:39] lachlan-roberts commented on #8879
Looks like same issue as https://github.com/eclipse/jetty.project/issues/8766

[2022-11-11 03:19] janbartel opened #8886 "Changes to Resource no longer support custom url schemes."
**jetty-12**

In previous versions of jetty, a call like `Resource.newResource("bundleresource://62.fwk1116834242/org/eclipse/jetty/webapp/webdefault.xml")` would return a `URLResource` that could be used to eg open an input stream and read the xml content.

In jetty-12, we get the following exception instead:

[2022-11-11 03:34] gregw commented on #8886
@lorban @joakime can one of you take this issue. Moderately important as it is blocking Jan's work.

I think the issue is here: https://github.com/eclipse/jetty.project/blob/jetty-12.0.x/jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java#L87-L91

We assume a `URI` is either able to be handled by `PathResource` or it can be mounted.       This is not true for URIs tha

[2022-11-11 05:42] gregw opened #8887 "Jetty-12 client calls onDataAvailable with producing thread"
**Jetty version(s)**
12

**Description**

The HttpClient is calling onDataAvailable from within the parser, which is called from the producing thread.   This can be the last producing thread in the selector and it is invoked with `invokeNonBlocking`, yet it still blocks.
The producer should not call application code. It should produce tasks which call application code.

The following stack illustr

[2022-11-11 05:47] gregw commented on #8887
Note that if somehow the `HTTP2Stream` could be made to go via the new `Content.Source`, then the `Runnable` passed to demand can be an `Invocable` and thus could be called directly by the producer, but only if it declared itself non-blocking or either.    However, it would still need to be a produced task rather than a production.

[2022-11-11 06:41] xiaochen-db commented on #8864
@lachlan-roberts I generally agree with you on using isolated websockets for different applications. Thanks for the suggestion!

Also I was reading https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-message-streaming-reads and https://github.com/eclipse/jetty.project/issues/2690#issuecomment-879644785:

It sounds that the major benefit of streaming delivery is for

[2022-11-11 07:20] prathamk commented on #8678
Hi @sbordet Thanks for your reply.

The idea would be that upon receiving the first GOAWAY, the client removes the connection from the pool, so requests that are sent later will be forced to open a new connection.
However, there will still be the chance that the connection has already been acquired and that the request will fail.

Yes, to proceed around this issue, we have implemented the same beh

[2022-11-11 09:04] sbordet commented on #8678
@prathamk do you want to submit a pull request with your changes?

[2022-11-11 12:21] joakime commented on #8886
We should be super wary of supporting custom URL streams in the long run.
The JDK is undergoing some serious changes for how this works ATM.

[2022-11-11 12:25] amartya10 commented on #8883
Thank you  @sbordet
One more question
Does HTTP2 protocol supported by jetty proxy  ?

[2022-11-11 14:16] sbordet commented on #8883
Yes, HTTP/2 is supported.

[2022-11-11 16:21] joakime commented on #8886
Opened PR #8888 to experiment with having `Resource` be created from a registered list of URI schemes that can results in a `ResourceFactory` that knows how to support that URI scheme.
See `ResourceFactoryTest` there for example

[2022-11-11 16:24] lorban commented on #8886
This also looks related: https://bugs.eclipse.org/bugs/show_bug.cgi?id=570590

[2022-11-11 19:33] copperleaf91 opened #8889 "Preferred Way to Block HTTP/1.0 Requests"
**Jetty version**
9.4.49.v20220914

**Java version**
1.8.0_352

**Question**
What is the preferred way to block http/1.0 request coming in?

[2022-11-11 19:50] joakime commented on #8889
Interesting question.

Why are you wanting to block HTTP/1.0?
(I'm asking, as there might be a different way to block what you don't desire)

[2022-11-11 19:56] joakime commented on #8889
Jetty 9.x is now at End of Community Support:

See:
* #7958

In Jetty 10+ this could be implemented as an `HttpCompliance.Violation` for `HTTP_1_0` (just like we do for `HTTP_0_9`).
It would trigger a 400 Bad Request from the `HttpParser` if not set to allowed.

[2022-11-11 19:59] joakime commented on #8889
You could have an `HttpConfiguration.Customizer` that just rejects 1.0

The implementation would look something like ...

[code]

[2022-11-11 20:59] copperleaf91 commented on #8889
We currently have a support contract with you all (Tridium) for Jetty 9 and need to use it for our currently supported release. The issue we need to solve is the HTTP/1.0-Location issue. I know you have the HostnameCustomizer but that requires "knowing" the hostname to substitute in Location and for our embedded environment, may not be know, yet we are getting pinged for it, Our approach for solvi

[2022-11-11 21:48] gregw commented on #8887
An analysis with @sbordet and @lorban reveal that this issue is at least partially caused by a bad test, which was always demanding in onDataAvailable, even if EOF had been reached.   That was always going to loop forever, but in this case the loop happened on the selector thread.

Commit a812b86663e0b401bcb6e8e5404231061ac58bfb fixes the test.   However, this issue is still left open, as we shoul

[2022-11-12 12:11] sbordet commented on #8678
@prathamk can you please try out #8891 and see if it works for you?

[2022-11-12 15:32] aalku commented on #2981
I think you can do this if you make a reverse proxy. A reverse proxy is when you put an intermediate domain with it's own certificate and the proxy server receives the requests and make a new one to the final server and proxy the response back to the client. Client<-->https://myproxydomain.org<-->https://finalserver.com. That's two independent https communications and you could theoretically chang

[2022-11-12 20:43] sbordet opened #8892 "Document useVirtualThreads"
**Jetty version(s)**
10+

**Description**
The newly introduced support for virtual threads in #8007 was not documented, and it should be.

[2022-11-12 20:50] sbordet commented on #2981
@aalku you can only do it with a reverse proxy if you control the DNS of your domain(s) for both `myproxydomain.org` _and_ `finalserver.com`.
Otherwise you cannot.

For example, if the final server is `google.com` or any other website for which you don't own the domain you cannot do it, unless you have a custom client that does not do any client-side certificate verification (i.e. an insecure clie

[2022-11-12 20:59] aalku commented on #2981
No. That's not right.

A reverse proxy works like this. In my home I have a standard Chrome browser with standard configuration and I enter https://myproxydomain.org and it receives some content and that's it from it's point of view. It will inspect that the myproxydomain.org certificate used in the key exchange, of course and it will match myproxydomain.org.

If that domain has a reverse proxy th

[2022-11-12 21:36] sbordet commented on #2981
Are you saying that people that wants to use a browser to talk to `google.com` should instead remember to put in the address bar `myproxydomain.org`?
And that you have a different `myproxydomainXYZ.org` for every possible other domain out there?

[2022-11-12 21:40] aalku commented on #2981
No. I'm saying that that's possible, but you could invent some rewriting rule or any other way to tell the same server what to proxy like myproxydomain.org/google.com/
It can use always the same myproxydomain.org name and the same myproxydomain.org certificate.