[2020-09-28 17:50] joakime commented on #5360
Opened PR #5364

[2020-09-28 17:53] joakime commented on #2205
I have no advice on upgrading your OS or network drivers.
That's well out of scope for this issue tracker.
You'll have to dig into that yourself.
Know that you can now test it yourself.
If you see "woken with none selected" that means you have a network implementation that is prone to waking up the application even when there is no network activity to operate against.  This is the root cause of yo

[2020-09-28 17:54] joakime commented on #5361
@janbartel are you fixing this for the 9.4.32 release?

[2020-09-28 17:55] joakime commented on #5320
This is the issue to track.

The suggestion from @lachlan-roberts is merely a temporary workaround until we can get a fix into place (and a release with it in place).

[2020-09-28 18:00] bhawani1978 commented on #2205
Thanks @joakmine

[2020-09-28 19:16] gonphsn opened #5365 "org.eclipse.jetty.server.Request throws NullPointerException if SessionHandler newHttpSession returns null"
**Jetty version**
Jetty 9.4.32-snapshot as of September 28, 2020

**Java version**
D:\niagara\r410>java -version
java version "1.8.0_261"
Java(TM) SE Runtime Environment (build 1.8.0_261-b33)
Java HotSpot(TM) 64-Bit Server VM (build 25.261-b33, mixed mode)

**OS type/version**
Windows 10, amd64

**Description**
I'm not entirely sure if this is intentional behavior, but it _seemed_ wrong, or at lea

[2020-09-28 19:33] #5360 closed, assigned to joakime

[2020-09-28 20:06] diffractious-zz commented on #2205
Hi @joakime, I agree that it is an underlying problem with the OS, but there is a workaround that Jetty could do. Netty has functionality that, when it detects this spinning situation, will rebuild the selector. This is behind a system property, which Jetty could also do. See https://github.com/netty/netty/blob/3.9/src/main/java/org/jboss/netty/channel/socket/nio/AbstractNioSelector.java#L129.

[2020-09-28 21:55] joakime commented on #2205
@diffractious We've considered the Netty approach of rebuilding the selector several times, but you wind up losing all of the selector specific attachments when you do that.
There's an attempt to retrieve the keys from the old selector, but that just fails with either selector errors, or an empty key list.

That impacts all of the active connections attached to that selector.
Those impacted connec

[2020-09-29 09:21] janbartel commented on #5361
@joakime no, it's not critical for 9.4.32.

[2020-09-29 09:25] janbartel commented on #5361
Some other things I'm recording here:

* Quickstart generator doesn't generate `origin` for filter-mappings at all
* Quickstart generates an `origin` only for the top-level of servlet-mappings, although technically each mapping could come from a different descriptor
* `origin` is missing from welcome-file-list
* `origin` is missing from  security-role
* `origin` missing from env-entry
* `origin` m

[2020-09-29 10:16] Horcrux7 opened #5368 "WebSocket text event execute in same thread as running binary event and destroy Threadlocal"
**Jetty version**: 9.4.31

**Java version**: 11.09 but also with 8.0.x

**OS type/version**: any

**Description**

If the WebSocket MessageHandler is registered as:

[code]
then is can occur that inside `message.read()` in the same thread a text message will be processed. In this case two MessageHandler are share the same thread local variables. On security reasons our MessageHandlers destroy all

[2020-09-29 10:26] janbartel commented on #5365
I agree with you. Ideally I think SessionHandler.newHttpSession(Request) should throw Exception. That's a bit difficult to do in jetty-9.4 as it changes the method signature, but it can be done in jetty-10. For jetty-9.4 maybe I could throw IllegalStateException in Request.getSession(boolean).

[2020-09-29 10:59] petregeorgee opened #5369 "Unable to get KeyManagerFactory instance for algorithm [SunX509] on provider [Conscrypt]"
**jetty-distribution-9.4.31.v20200723**

**openjdk version "11.0.8" 2020-07-14 / oracle jdk 11**

**ubuntu 20.04**

**I've run the steps described on the official jetty documentation :https://www.eclipse.org/jetty/documentation/9.4.31.v20200723/jetty-ssl-distribution.html. but with no success..

Steps to recreate:

    java -jar start.jar --create-startd --add-to-start=ssl
    java -jar start.jar

[2020-09-29 11:58] joakime commented on #5368
Your description has not been a supported feature before or now.
The fact that it worked in 9.4.20 is likely a total accident.

How it works ...
A new thread is created for dispatching the initial message for `InputStream`, once you receive the `onMessage(InputStream)` you are in your own thread (a requirement of the javax.websocket spec) until you return from that dispatch/method call.
All update

[2020-09-29 14:47] joakime commented on #2205
@diffractious you can use a workaround ServerConnector to rebuild on spurious select 0.

See https://github.com/jetty-project/selector-hack

[2020-09-29 15:47] joakime commented on #5369
The `KeyManagerFactory` is created by using [`javax.net.ssl.KeyManagerFactory.getInstance(String algorithm, String provider)`](https://docs.oracle.com/javase/8/docs/api/javax/net/ssl/KeyManagerFactory.html#getInstance-java.lang.String-java.lang.String-)

The `algorithm` is a String populated from using [`javax.net.ssl.KeyManagerFactory.getDefaultAlgorithm()`](https://docs.oracle.com/javase/8/docs/

[2020-09-29 16:05] Horcrux7 commented on #5368
Yes, this is the feature that I expected and that Jetty not implement. Every event should be processed in its own thread from a pool.

Sounds you misunderstand me. I does not switch the thread. We save the scope of the current event in ThreadLocal variables. The problem is that Jetty handle a second event in the same thread inside the message.read() call. This override the ThreadLocal variables of

[2020-09-29 16:45] diffractious-zz commented on #2205
@joakime nice! Thank you!

[2020-09-29 16:58] joakime commented on #5368
This is standard, and has been this way since Jetty 9.1.0 (when javax.websocket was first supported)
That thread is created and handed off to your application via the `onMessage(InputStream)` call.
That's the thread you start your `InputStream.read()` logic on.
As soon as you return from the `onMessage(InputStream)` that thread is no longer used.
ThreadLocal works fine on that Thread, it has, and

[2020-09-29 19:07] joakime commented on #5362
PR #5363 merged.

[2020-09-29 19:07] #5362 closed, assigned to joakime

[2020-09-29 20:05] Horcrux7 commented on #5368
From your link:

This is the problem. Jetty interleave one onMessage() with another onMessage(). The stacktrace look like:

[code]

[2020-09-29 21:29] joakime commented on #5368
What's `read()` to you?

There's no method called "read()" in the javax.websocket APIs.

Note that you are using `MessageHandler.Whole<InputStream>` so that means the "must ensure that the corresponding onMessage() calls are called sequentially" refers only to the start of a NEW message, the actually "endpoint call" is the `onMessage(InputStream)`.

If the entire message fits in a handful of webso

[2020-09-29 22:06] joakime commented on #5368
Also, this part of the spec refers to use of the `MessageHandler.Partial<>` APIs.
Which are delivered sequentially, as parts of a message, even without using thread dispatch.
This text does not refer the `MessageHandler.Whole<>` API in combination to the various java.io streams `InputStream` or `Reader` (the "whole" in these APIs are the dispatch of a new thread to the application notifying it tha

[2020-09-30 00:42] lachlan-roberts commented on #5368
The changes made in #4486 seem relevant to this issue. Since `9.4.27` we use suspend and resume to control the incoming frames into the `MessageInputStream`. This means we should now only read the next frame when someone has read the data from the previous frame from the `InputStream`, this should also mean that the `onMessage()` calls are done sequentially in the correct order. If you return from

[2020-09-30 05:36] lachlan-roberts commented on #5368
@Horcrux7 can you give a full stacktrace of where the second `onMessage()` is called after you call `InputStream.read()` inside the first `onMessage()`?

[2020-09-30 09:14] Horcrux7 commented on #5368
Here is a stacktrace where:
- `com.inet.http.websocket.WebSocketEndpoint$1` is a - `MessageHandler.Whole<String>`
- `com.inet.http.websocket.WebSocketEndpoint$2` is a - `MessageHandler.Whole<InputStream>`

[code]

Message count and size: We use a large count of small messages (some KB) and a few large messages (<100MB) for file uploads. It is a mix of small and large messages.

[2020-09-30 09:59] janbartel commented on #5361
There are too many changes to attend to all of these in jetty-9.4. I'm just going to fix the missing `origin` for WebListener annotation, and then create another branch off jetty-10 to attend to the rest of them.

[2020-09-30 11:59] gregw opened #5372 "Enable/Disable Configurations per webapp"
**Jetty version**
10.0.x

**Description**

With the new Configuration mechanism in jetty-10:
 + Configurations are discovered by the `ServiceLoader` so typically they only need to be added to the classpath
 + The `Configuration.isAvailable` is called to check all the dependence are available (eg Jasper must be present for the JspConfiguration to be available)
 + The `Configuration.isEnabledByDefau

[2020-09-30 12:01] gregw commented on #5372
@lachlan-roberts for now any WebSocketClientConfiguration should be off by default, so it can be contained in the normal client jar.  You then need to add it in a `context.xml` file to individual webapps.   If this issue results in a feature, that will become a little easier.

[2020-09-30 13:26] janbartel opened #5373 "Should be able to override session-timeout from context xml"
**jetty 9.4 and beyond**

It would be reasonable to expect that a context xml file that calls `getSessionHandler.setMaxInactiveInterval(int)` would be able to override the default value of 30mins set by `webdefault.xml` in a `session-timeout`. However, this is not the case, as context xml files are applied _first_ and _then_  [webdefault/web/web-override].xml. So the only way to change the session

[2020-09-30 14:52] #5365 closed, assigned to janbartel

[2020-10-01 06:24] sagarikat-26 opened #5375 "How to enable websocket requests in access logs in jetty"
**Jetty version**
9.4.31
**Java version**
1.8
**Question**

How do we enable websocket requests in access logs ?
i have enabled request log module in jetty but that captures  only http requests , how do i capture the wss requests in my access logs ?

[2020-10-01 07:50] 38leinaD opened #5376 "How do Weld and Jetty integrate regarding logging? Want to set DEBUG loglevel for Weld."
**Jetty version**
9.4.29.v20200521

**Java version**
openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-b01)
OpenJDK 64-Bit Server VM (build 25.265-b01, mixed mode)

**Question**
I am using the jetty distribution and have weld 3.1.1.Final in the lib/ext folder as CDI implementation. My webapp is deployed on jetty and all is working fine in regards to CDI. I also see Weld log

[2020-10-01 08:22] 38leinaD commented on #5376
I have now been able to get the DEBUG output from Weld when configuring regular java.util.logging. So, in my case, jboss logging falls back to what is listed here (https://weld.cdi-spec.org/documentation/#10) as JDK Logging.
So, my question remains: Any idea what is needed to get jboss logging use jetty logging as it's logging implementation? The weld site here hints that this should work (https:/

[2020-10-01 09:21] petregeorgee commented on #5369
Hello Joakime,
Thank you for your answer. In the meantime, I was able to detect the real problem.

Setting the **jetty.sslContext.needClientAuth** to true, breaks my SSL configuration. Where should I found more information about that property and how to configure jetty in order to make it work?

[2020-10-01 09:56] joakime commented on #5376
You need to switch Jetty to using slf4j-api (note that Jetty 10 has switched to slf4j-api and no longer has a custom logging facade).

You start by having Jetty emit to it's Slf4jLog implementation.
Which in turn sends the logging events to slf4j-api.

From there, you have several dozens configurations to choose from.

Example 1:

* Weld emits to java.util.logging
* You have jul-to-slf4j.jar prese

[2020-10-01 10:00] joakime commented on #5369
**needClientAuth** requires your clients to send client certificates in order for the low level TLS/SSL connection to be established properly (if the client doesn't sent a client certificate, or one that isn't recognized by the server, then the connection is closed by the TLS/SSL layer in Java itself, Jetty is not involved in this decision).

[2020-10-01 10:02] joakime commented on #5375
How did you enable request logs? (there's about a dozen different ways)
If you did nothing more then just enable the `requestlog` module, that's a sufficient answer, but we really need to know this detail.

[2020-10-01 14:21] joakime commented on #5375
Also, are you asking about access logging the HTTP/1.1 GET request which upgrades to websocket?
or something else, like the websocket framing/messaging?

[2020-10-01 14:46] lachlan-roberts commented on #5375
@sagarika-hp there is currently no equivalent of the `RequestLog` to log websocket frames/messages, you should however be able to see the HTTP/1.1 upgrade request and response in the http request log.

If you want logging about the websocket messages received you could do some logging inside your application with the websocket endpoint.

Or it should be possible to implement this with an internal

[2020-10-01 15:07] 38leinaD commented on #5376
Thanks! That makes sense. For some reason, i read the weld page as if this should work "automagically" by just doing -Dorg.jboss.weld.LEVEL=DEBUG.
I will look into it.

[2020-10-01 17:47] #5376 closed, assigned to nobody

[2020-10-02 09:27] joakime commented on #2205
One other update here.

We've received reports that running Jetty behind IIS and it's `HttpPlatformHandler` as a cause of this behavior/issue as well (apparently this setup uses some shortcuts /  loopback network connector which triggers this bug on Windows).

[2020-10-02 09:42] sagarikat-26 commented on #5375
@lachlan-roberts  this answers my question, thank you for the help .

[2020-10-02 09:42] #5375 closed, assigned to nobody

[2020-10-03 04:58] #3886 closed

[2020-10-03 04:58] #2989 closed

[2020-10-03 16:51] sbordet opened #5378 "Filter/Servlet/Listener Holders are not started if added during STARTING state."
**Jetty version**
10.0.0.beta2

**Description**
See https://jenkins.webtide.net/job/cometd/job/6.0.x/57/

Apparently it's a NPE due to the latest changes to `FilterHolder` in #5032 - a request can arrive while the filter has been stopped already.

[2020-10-03 16:52] sbordet commented on #5378
@gregw rings a bell?

[2020-10-03 17:11] sbordet opened #5379 "Better handling for wrong SNI"
**Jetty version**
9.4.x

**Description**
When the client sends a wrong SNI, and `jetty.ssl.sniHostCheck=true` Jetty should return a 400, but it returns 200.

[2020-10-03 20:06] sbordet commented on #5379
@gregw strengthening the verifications when `jetty.ssl.sniHostCheck=true` fails a few tests that use a bogus certificate that has no CN and no SAN.

I don't think we should support bogus certificates like that, so I'm for do the strengthening and fix the tests.
WDYT?

[2020-10-03 22:29] joakime commented on #5378
Could be.
In a discussion with @gregw we changed the destroy order in the `FilterHolder.destroyInstance(Object o)` to be the same as it's done in the `ServletHolder.destroyInstance(Object o)`

Can you reproduce this NPE easily enough?
We can switch it back temporarily.

[2020-10-03 22:32] joakime commented on #5379
The 400 is returned from the SecureRequestCustomizer.  Is that present?

https://github.com/eclipse/jetty.project/blob/a76702baea01186d6349e62e4045968507e66649/jetty-server/src/main/java/org/eclipse/jetty/server/SecureRequestCustomizer.java#L246-L268

There's also a SNI check in SslContextFactory.Server

https://github.com/eclipse/jetty.project/blob/338ada6076ce454afeb10a88bc63e51dfb8c6dad/jetty-u

[2020-10-04 09:46] oliviercailloux commented on #5326
Thanks for the answer. The point of my issue is that I did my best to follow the instructions as the current (9.4.32-SNAPSHOT) documentation states. If the order is wrong, then the documentation should certainly be updated.

The documentation does indicate a preferred mode, which is the one I (tried to) implement.

[2020-10-05 07:39] gregw commented on #5378
@sbordet the changes to the filter were merged to 9.4, so any idea why you only get this problem on 10?
A filter should not be able to be stopped while requests are received.

[2020-10-05 07:43] gregw commented on #5378
Also do you have an idea if this is failing during start up (ie first request) or shutdown (after stop)?

[2020-10-05 07:53] gregw commented on #5378
I'm looking at FilterHolder prior to  #5032 and there is nothing there to stop a NPE if the holder is stopped while a request is in transit.   The last `isStarted()` check is in `ServletHandler.handle` (actually because of scoped handler it could have been in ContextHandler.handle), so there is definitely scope for the handler to be stopped in parallel to a request in transit.  But this has always

[2020-10-05 08:24] sbordet commented on #5378
@gregw @lachlan-roberts this is what I get after `Server.start()` after calling `JettyWebSocketServletContainerInitializer.configure(context, null)` which I think it's the right way to setup Jetty WS embedded in 10:

[code]

At line 6, the WSUF is STOPPED, while all the rest is STARTED.

[2020-10-05 10:33] gregw commented on #5378
I've added some tests in 6d69e31 but cannot reproduce.
The added holder should be started by the initialize method in updateMappings or ServletContextHandler doStart???

[2020-10-05 10:40] gregw commented on #5378
The test for calling initialize is `isStarted()` rather than `isRunning()`, so if you are adding these filters after the `ServletContextHandler` would have started them, but before it is actually started, there could  be a window.

[2020-10-05 10:59] janbartel opened #5394 "Quickstart does not inject/decorate objects"
**jetty-10**

Any objects that have resource annotations are not injected when using quickstart.

[2020-10-05 11:57] #5022 closed, assigned to gregw

[2020-10-05 16:05] gregw commented on #5378
@sbordet turns out we can use our API to add filters and servlets when STOPPED or STARTED, but not when STARTING.
So I think it is a bug in jetty-servlet.  However, @lachlan-roberts still would be best to avoid ensureFilter call from another servlet if possible... so if we can work out the filter is needed earlier, then that would be good.

[2020-10-06 00:43] lachlan-roberts commented on #5378
We only really know the `WebSocketUpgradeFilter` is needed when `addMapping()` is called on the `JettyWebSocketServerContainer`, and someone could call this at any time, and the first chance to call it is after startup.

So we could go back to always creating the `WebSocketUpgradeFilter` in the SCI, but it may not be used if only using the upgrade servlet. I don't think there is any other way to k

[2020-10-06 06:39] gregw commented on #5378
@lachlan-roberts Let's see how this PR helps (or not).

[2020-10-06 07:51] lachlan-roberts commented on #5378
@gregw I have written tests to reproduce the cometd failure in the jetty tests (see 5e1e93d162201f3688f8461108fe167a01cf68f9).
I tested it against your fix in PR #5397 and it makes the test pass.

[2020-10-06 11:43] #5394 closed, assigned to janbartel

[2020-10-06 11:47] janbartel opened #5399 "Quickstart injects objects from a metadata-complete web fragment."
**jetty-10**

Because when we generate a quickstart-web.xml, we lose the origin of the servlets/filters/listeners, when starting via quickstart, it is possible for a servlet/filter/listener to be injected or have its post-construct/pre-destroy listeners called from annotations even though it was originally declared in a web-fragment.xml that was metadata-complete.  Note this does not affect servle

[2020-10-06 13:15] janbartel commented on #5361
See #5373 :  I'm leaving off the origin of the `session-config` element because of the confusion between programmatic/context xml origin and descriptor origin. When #5373 is resolved, maybe revisit the origin generation for quickstart.

[2020-10-06 15:03] sbordet opened #5401 "Move jetty-http-tools under the project root"
**Jetty version**
10.0.x

**Description**
`HttpTester` is a useful tool to test HTTP requests/responses.

In Jetty 9.4.x, this was available in `jetty-http` with the classifier `tests`.

In Jetty 10.0.x it's not deployed to Maven Central because it's under `$JETTY_ROOT/tests/`, but would be great if it is available again in Central for other projects such as CometD to use it.

[2020-10-06 15:03] sbordet commented on #5401
Remember to add a `module-info.java` for it, likely just `requires transitive org.eclipse.jetty.http`.

[2020-10-06 15:36] joakime commented on #5401
Opened PR #5402

[2020-10-07 12:46] janbartel commented on #5372
It sounds more like you want to be able to enable/disable _modules_ per webapp rather than just _configurations_?

Disabling only a _configuration_ does not prevent the classes going onto the classpath, nor the execution of the xml files.

If we were to do it at a _module_ level:

The deployer already ignores directories in $jetty.base/webapps that end in `.d`. So maybe to enable modules for just

[2020-10-07 13:06] gregw commented on #5372
@janbartel I agree that conceptually we want to enable/disable modules per webapp.    However there is simply not the mechanism to do that as ini files are just a way to build up the command line for the entire server and there is no concept of a command line per webapp.

The way that a module exposes classes in jetty-10 is by adding jars to the classpath that include `Configuration`s that are dis

[2020-10-07 21:48] #5378 closed, assigned to gregw

[2020-10-07 23:10] ricardojlrufino opened #5407 "Jetty (maven plugin) behind an http proxy, does not preserve the https URI on redirect"
**Jetty version**
jetty-maven-plugin
9.4.32.v20200930

**Java version**
$ java -version
openjdk version "1.8.0_265"
OpenJDK Runtime Environment (build 1.8.0_265-8u265-b01-0ubuntu2~18.04-b01)
OpenJDK 64-Bit Server VM (build 25.265-b01, mixed mode)

**OS type/version**
ubuntu 18.04

**Description**
I'm having problems with the redirect where it loses https, and generates redirect to http. I realized

[2020-10-07 23:50] ricardojlrufino commented on #5407
req.getScheme(), return http

[2020-10-07 23:52] ricardojlrufino commented on #5407
Ngrok has sending headers:
![image](https://user-images.githubusercontent.com/515675/95399608-ec96cd80-08de-11eb-9b13-a804bd11b301.png)

[2020-10-08 00:01] ricardojlrufino commented on #5407
Debuging org.eclipse.jetty.server.Request i see:
![image](https://user-images.githubusercontent.com/515675/95400117-3207ca80-08e0-11eb-9a24-e7f3a701b0f3.png)

[2020-10-08 00:35] ricardojlrufino commented on #5407
I found solution, need set org.eclipse.jetty.server.ForwardedRequestCustomizer

[code]

[2020-10-08 00:35] #5407 closed, assigned to nobody

[2020-10-08 14:23] mperktold opened #5409 "HttpClient fails intermittently with "Invalid response state TRANSIENT""
**Jetty version**
9.4.32.v20200930

**Java version**
11.0.8+10

**OS type/version**
- Windows Server 2012 R2 Standard
- Windows Server 2016 Data Center
- Windows Server 2016 Standard

**Description**
Since upgrading to Jetty 9.4.31, Requests sent from a Jetty `HttpClient` in our production system fail intermittently with an error saying "Invalid response state TRANSIENT".
The code that throws this

[2020-10-08 14:36] joakime commented on #5409
Can you share a stacktrace or any debug logging when this occurs?

[2020-10-09 06:01] satya482 opened #5412 "Configure sending httpVersion header in the response as optional"
**Jetty version**
Any Jetty Version, which supports http/1.1
the enum HttpVersion is applicable to all Jetty release.

jetty-http/src/main/java/org/eclipse/jetty/http/HttpVersion.java

public enum HttpVersion
{
    HTTP_0_9("HTTP/0.9", 9),
    HTTP_1_0("HTTP/1.0", 10),
    HTTP_1_1("HTTP/1.1", 11),
    HTTP_2("HTTP/2.0", 20);
}

**Java version**
Any Java version compatible with jetty.

**OS type/v

[2020-10-09 07:10] daizhijie395 opened #5414 "How does this version customize its ErrorHandler?"
**Jetty version**
9.4.19.v20190610

**Java version**
jdk1.8

**Question**
How does this version customize its ErrorHandler?
https://www.eclipse.org/jetty/documentation/current/custom-error-pages.html
The method in the document is not available.
Because when creating WebAppContext, the ErrorPagErrrorHandler is created as the ErrorHandler.
public WebAppContext()
{
    this(null,null,null,null,null,n

[2020-10-09 07:19] sbordet commented on #5412
Ex:- Version: http/1.1

Jetty does not send the HTTP version using header `Version`.

[2020-10-09 08:07] satya482 commented on #5412
Any idea, where does it come from? I am hosting a jetty webserver and attached is response from it.

<img width="822" alt="Screenshot 2020-10-08 at 3 45 00 PM" src="https://user-images.githubusercontent.com/538988/95558801-71473000-0a34-11eb-9d71-aaba7a3e142e.png">

[2020-10-09 08:17] Sandykolas opened #5415 "jetty return to 500"
**Jetty version**

**Java version**

**OS type/version**

**Description**

[2020-10-09 08:24] navalgoyal opened #5416 "Custom Connection Pool not working after jetty upgrade"
**Jetty version**
9.4.31v20200723

**Java version**
Java 1.8.0_261

**OS type/version**
Any

**Description**
We have implemented Custom Connection Pool to support weight based and priority based connection pool. We have developed those custom pool in Jetty 9.4.24 version and those were working fine with that version. recently we have upgraded on jetty version 9.4.31 and now those custom pool is no

[2020-10-09 08:28] sbordet commented on #5412
You are not looking at the network bytes, but to a tool that may report things in a different way for easier understanding.

In your picture there would also be a `Transferred: 493B (352B size)` header that is obviously not present and you don't complain about.

The response headers reported below your highlighted part are probably more in line with what has been transferred over the network and d

[2020-10-09 08:28] #5412 closed, assigned to nobody

[2020-10-09 08:31] sbordet commented on #5416
"is not working" is not enough information to help you.

Write a test case that we can reproduce and attach it here.

[2020-10-09 08:35] navalgoyal commented on #5416
[code]

[2020-10-09 08:47] lachlan-roberts commented on #5414
@daizhijie395 what happened when you tried the approaches described in the documentation?

You can define the error pages in `web.xml`, or configure the existing `ErrorPageErrorHandler`.

 Or you could set your own `ErrorHandler` on the `WebAppContext` in `jetty-web.xml` and configure it how you like:
[code]

[2020-10-09 09:43] gregw commented on #5415
No info. Assuming a mistake.

[2020-10-09 09:43] #5415 closed, assigned to nobody

[2020-10-09 11:31] joakime commented on #5412
Flip the switch for "Raw" on the "Response Headers" section and see for yourself.
The `Version` header is not there.

What you are seeing in your developer tools is a "nice" and/or "human readable" representation of bits and pieces of the response.

It's likely just showing you the standard (and spec required) "Response Status Line" information in a friendly way.
https://tools.ietf.org/html/rfc723

[2020-10-09 11:34] joakime commented on #5416
How do you use that code?
What do you test it against?
How do you test it?
What happens?
Do you have any stacktraces?
And debug logs?
Any details on what actually happens vs what you expect to happen?

[2020-10-09 11:43] joakime commented on #5414
If all you want is custom error pages, you don't need a custom ErrorHandler.

Just use the web descriptor (`WEB-INF/web.xml`) elements already built in to specify the behavior.

Example of how to trigger a custom dispatch on a particular response status code.

[code]

Based on an unhandled Throwable / Exception type

[code]

General catch all if no specific `<error-page>` is configured.

[code]

Y

[2020-10-09 11:55] navalgoyal commented on #5416
How do you use that code?
We configured this Connection Pool in Http2 Connection Factory

We have activities where Jetty Server is used to accept request and then we send to Jetty client which again send to another Jetty server to test this scenario.

we do send load using simulator to send traffic.

with the 9.4.24 version this code is working fine and no error observed where with the 9.4.31 same

[2020-10-09 12:07] joakime commented on #5416
It is unclear what that implementation of yours is trying to do.

Also, why are you using entries and ids and all that rigmarole?  That entire layer appears to be thread unsafe.

Perhaps you can simplify that class a great deal by using the existing "Tag" concepts.
The Request can have a "tag" object associated with it. (see `HttpRequest.setTag(Object)`)
The lookup of the connection will use the `

[2020-10-09 12:23] navalgoyal commented on #5416
@joakime we want to multiple connection with the same destination. As in the current jetty implementation we have Round Robin, Multiple Connection pool we are implementing the Weighted Connection pool where we have assigned the weighted to each connection and through the Random API we calculate the weight and send the request to that connection. So that Maximum weight connection would serve more r

[2020-10-09 12:36] joakime commented on #5416
Then make the HttpRequest "Tag" the weight, use an Integer.
Limit to a few numbers, like 100, 75, 50, 25, 0, and you can get the weight features you want.

So basically maximum number of requests per connection?
That's built in, see PR #4975
See: https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/client/MultiplexConnectionPool.html#setMaxUsageCount(int)

Yes, as there were several imp

[2020-10-09 12:50] navalgoyal commented on #5416
@

Good if you can give some reference as we have user configurable weight for each connection. user can configure maximum 10 weights.

e.g user can give 10,10,10,10,10,10,10,10,10,10. here maximum 10 connection would be created and each is equal weight and through random number we are choosing the connection to send request.

[2020-10-09 13:16] navalgoyal commented on #5416
@joakime Correct me if i am wrong.. Tag will be used to send Http Request when multiple destination is available but i am not sure it will also work if single destination has multiple connection and we need to choose a connection from those available connections.

[2020-10-09 13:29] stuban opened #5417 "Badly configured HttpConfiguration.securePort can lead to wrong port produced by ForwardedHeader"
**Jetty version**
9.4.32

**Java version**
AdoptOpenJDK build 1.8.0_262-b10

**OS type/version**
Linux CentOS 7.8 Kernel 3.10.0-1062.el7.x86_64

**Description**
For us the changes related to #5224 or #5247 have some surprising regression with 9.4.32
Our reverse-proxy (haproxy) always sends a RFC7239 style forwarded header towards jetty.
This always worked fine with 9.4.31 but with 9.4.32 it sudden

[2020-10-09 14:14] sbordet commented on #5416
We have implemented usage count, so now you can use the built-in version rather than your own.

As for tags, they will create a different `HttpDestination` object with a separate `ConnectionPool`, but to the same server host and port.

I'm afraid you think weights are a good idea, but likely they are not.

In the connection pool rework we have done, it was evident that "round-robin" is impossible

[2020-10-09 14:58] joakime commented on #5417
Opened PR #5419

The port in the implied case, like yours, is being pulled from the HttpConfiguration you have.
The HttpConfiguration.securePort on your system is set to 8443.
If you change HttpConfiguration.securePort on your Jetty server side it to 443 it should operate properly.

The `HttpConfiguration.securePort` is the logical secure port for your server, it's not the one that the https/ssl/t

[2020-10-09 15:52] mperktold commented on #5409
Sure, I will gather a stacktrace.

Regarding the logs, we tried activating all Jetty loggers, but that was way to much to the point that the application didn't start anymore.
Can you point out the relevant packages or classes for which you would like to see the logs?

[2020-10-09 17:02] sbordet commented on #5409
Please enable DEBUG logs for `org.eclipse.jetty.client.HttpReceiver`.

[2020-10-10 02:40] kbryant31415 opened #5420 "Security Issue:HTTP Smuggling Detection"
**Jetty version**
9.4.28.v20200408
**Java version**
Any Java version compatible with jetty.
**OS type/version**
Applicable to all OS.
**Description**
Nessus has updated its rules recently. And a new security issue was found.
Posting the vulnerability information here for reference.
+++++++++++++++++++++
https://www.tenable.com/plugins/nessus/140735

HTTP Smuggling Detection
MEDIUM Nessus Plugin ID

[2020-10-11 10:34] joakime commented on #5420
According to https://portswigger.net/research/http-desync-attacks-request-smuggling-reborn
this is all about messing around with `Content-Encoding` and `Transfer-Encoding` headers.

We have mitigation in place for most of these listed scenarios, and tests to prove it out.

Some examples ...

[code]

This one is rejected by Jetty for having 2 Content-Length headers.

and

[code]

and

[code]

and

[2020-10-11 11:34] #3604 closed

[2020-10-11 17:53] joakime commented on #4061
bump

[2020-10-11 19:38] sbordet commented on #5420
@kbryant31415 also, this is not the way to report alleged security issues.

Please read carefully https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/CONTRIBUTING.md#reporting-security-issues.

[2020-10-11 23:38] #374 closed

[2020-10-11 23:38] #375 closed

[2020-10-12 00:26] lachlan-roberts commented on #4184
@sbordet we now have `IncludeExcludeConnectionStatistics` which can can only record stats for specific types of connection. This can be used to get stats for a specific protocol, for the websocket protocol we get stats by including `org.eclipse.jetty.websocket.common.io.AbstractWebSocketConnection`.

However this would be a much cleaner solution to have all the information in `ConnectionStatistics

[2020-10-12 08:55] KevinGit585 opened #5435 "HttpInput.blockForContent() makes CPU high"
**Jetty version**
9.4.28.v20200408
**Java version**
1.8
**OS type/version**
CentOS
**Description**
I set up a jetty server to process multipart request. The multipart request contains two parts:
[code]
I use Apache Commons FileUpload to parse the request. Sometimes it blocked when read the audio data. even though the client has closed the connection. The thread does not exist after a long time con

[2020-10-12 09:21] gregw commented on #5420
I'm closing this a false positive from the testing tool.
If there are other security concerns, please follow the security reporting guidelines posted above.

[2020-10-12 09:21] #5420 closed, assigned to nobody

[2020-10-12 09:37] joakime opened #5436 "QuickStartTest in Jetty 11 is failing."
**Jetty version**
11.0.x

**Description**

The generated quickstart is missing something related to the number of found classes for the SCI.

The issue presents itself like this ...

The SCI `com.acme.initializer.FooInitializer` ...

[code]

Is started and it's `onStartup(Set<Class<?>> classes, ServletContext context)` is called with the following 2 classes.

* 0 = {Class@3339} "class com.acme.tes

[2020-10-12 09:59] joakime opened #5437 "ForwardingRequestCustomizer can change request.metadata even if there are no Forwarding headers present"
**Jetty version**
9.4.32.v20200930

**Description**

Originally spotted by @bentmann on commit https://github.com/eclipse/jetty.project/commit/ac42cbd1436f6a161ef03e1ca7f9c4a2bf686933#r43135647

The `ForwardingRequestCustomizer` can change request.metadata even if there are no Forwarding headers present.

The example given is a Request with ...

* No Forwarding headers.
* An absolute Request URI i

[2020-10-12 10:13] joakime commented on #5278
This has been all superceded by the /demos/ effort.

[2020-10-12 10:13] #5278 closed, assigned to nobody

[2020-10-12 10:33] lorban commented on #5435
It looks like that thread got stuck in a weird state: the channel is marked as ISHUT, the parser is CLOSED but the HttpChannelState is IDLE for some reason and the HttpInput is in STREAM mode, has seen 0 byte consumed and has an empty content queue.

It looks like the input stream was remotely shut down which should have resulted in the server reading EOF but somehow that message got lost and the

[2020-10-12 10:39] olamy commented on #5436
difference in generated quickstart-web.xml see last line for each
quickstart-web.xml in 10
[code]
quickstart-web.xml in 11
[code]

[2020-10-12 11:14] #5401 closed, assigned to joakime

[2020-10-12 12:21] janbartel commented on #5436
Fixed. The  containerIncludeJar pattern used by QuickStartTest  was wrong for jetty-11: it referred to the servlet spec jar as it is named in jetty < 11.

[2020-10-12 12:26] joakime commented on #5436
Nothing was pushed to `jetty-11.0.x` to fix this.

[2020-10-12 12:27] janbartel commented on #5436
Pushed.

[2020-10-12 12:27] #5436 closed, assigned to janbartel

[2020-10-12 13:48] #5379 closed, assigned to sbordet

[2020-10-12 22:24] josepowera commented on #5409
We got something similar. The error does not occur every time (we download always fixed file from fixed server) - FLAPPING.

Using: <jetty.version>9.4.31.v20200723</jetty.version>

java.io.IOException: java.lang.IllegalStateException: Invalid response state TRANSIENT at org.eclipse.jetty.client.util.InputStreamResponseListener$Input.toIOException(InputStreamResponseListener.java:345) at org.eclips

[2020-10-12 22:28] josepowera commented on #5409
we also found this in logs:

`java.lang.IllegalStateException: Invalid response state TRANSIENT at org.eclipse.jetty.client.HttpReceiver$Decoder.resume(HttpReceiver.java:841) at org.eclipse.jetty.client.HttpReceiver$Decoder.access$000(HttpReceiver.java:766) at org.eclipse.jetty.client.HttpReceiver.demand(HttpReceiver.java:116) at org.eclipse.jetty.client.HttpReceiver$ContentListeners.demand(HttpRe

[2020-10-12 23:17] sbordet commented on #5409
@josepowera are you sure that the file is not gzipped?

The stack trace shows the client is in `Decoder.resume()`, which is invoked only if there is decoding to do.

[2020-10-13 02:39] #5416 closed, assigned to nobody

[2020-10-13 04:47] lachlan-roberts opened #5442 "Allow multiple authentication options for a web app"
**Description**

An example was brought up in a [post on stackoverflow](https://stackoverflow.com/questions/64278782/jetty-web-app-multiple-authentication-options) to use both OpenID and FORM authentication together.

I have also seen other combinations which have been asked about so could be a good idea to make this a generic mechanism if possible. For example `BASIC` and `FORM` authentication.

[2020-10-13 09:13] oyvindhorneland opened #5443 "Request without Host header fails with NullPointerException in ForwardedRequestCustomizer"
**Jetty version**
9.4.32.v20200930

**Java version**
11

**OS type/version**
Red Hat Enterprise Linux Server 7

**Description**
Requests (Healthcheck probes) using HTTP/1.0 without Host header started to fail after upgrade from 9.4.31.v20200723 to 9.4.32.v20200930 with http-forwarded module enabled.

Steps to reproduce:

1. Vanilla distribution 9.4.32.v20200930.
2. Add _--module=http-forwarded_ to

[2020-10-13 09:37] joakime commented on #5443
This kind of overlaps with #5437 ...
It's where ForwardingRequestCustomizer still does things, even though the Forwarding headers might not be present.
The failure in this specific case is due to request.metadata not being filled out by the time ForwardingRequestCustomizer runs.

[2020-10-13 09:53] janbartel opened #5444 "deploy-jndi.adoc is incorrect"
**Jetty 10**

The deploy/deploy-jndi.adoc file contains incorrect information.

The JNDI entry does not _need_ to be defined in a context XML file, it _can_ be defined there, or in a WEB-INF/jetty-env.xml file instead. It is a matter of preference whether you decide to put an entry in an external configuration file, or in one that is inside the webapp (although see the next point about the visibil

[2020-10-13 09:57] sbordet commented on #5444
@janbartel ok, then we need to explain before how the various overriding files work, and reference the overriding mechanism from the JNDI docs.

[2020-10-13 10:09] joakime commented on #5437
This was addressed in the changes from PR #5419 already.

[2020-10-13 10:16] joakime commented on #5443
Opened PR #5445

[2020-10-13 10:21] bentmann commented on #5437
Looking at said PR, I don't see how this would resolve the issue:
- https://github.com/eclipse/jetty.project/blob/c2266fdd63dea082dc83fc2ab031867d1d83ecc9/jetty-server/src/main/java/org/eclipse/jetty/server/ForwardedRequestCustomizer.java#L496 starts by setting `port = -1`
- next https://github.com/eclipse/jetty.project/blob/c2266fdd63dea082dc83fc2ab031867d1d83ecc9/jetty-server/src/main/java/org/e

[2020-10-13 10:41] sbordet commented on #5409
@mperktold can you please describe how do you read the response content? Do you also use `InputStreamResponseListener`?

[2020-10-13 10:49] janbartel commented on #5444
Maybe you should just link from the deploy documentation into the jndi documentation instead?

[2020-10-13 11:03] gregw commented on #5437
@joakim I think Issues/PRs have got crossed.
This issue will be addressed by #5445 not #5419

[2020-10-13 11:04] gregw commented on #5417
Fixed by #5419

[2020-10-13 11:04] #5417 closed, assigned to joakime

[2020-10-13 11:33] sbordet commented on #5409
I was able to reproduce the issue, working on a fix.

[2020-10-13 12:50] michael-simons opened #5446 "Parameter values of content-type headers must not be cached."
**Jetty version**

9.4.30.v20200611

**Java version**

JDK 11

**Question**

Given the following Java Code, simple Jetty Server, not having any handlers, but only the request log:

[code]

I would expect the following output

[code]

But apparently the accept type including it's parameters are cached:

[code]

While I do think that this is totally okay for type and subtype, I think it's wrong to a

[2020-10-13 13:40] mperktold commented on #5409
Great to hear! 👍

In case you still want to know, yes, we also use `InputStreamResponseListener` in this case.

[2020-10-13 13:52] joakime commented on #5446
You can turn off the various header caches with HttpCompliance features.

Here's a replacement for your Server initialization ...

[code]

That means it customizes the HttpCompliance setting.

* Starts with spec `RFC7230`
* Removes the `METHOD_CASE_SENSITIVE` compliance setting. (now HTTP methods are whatever case they are sent, not forced to uppercase per spec)
* Removes the `FIELD_NAME_CASE_INSE

[2020-10-13 14:06] michael-simons commented on #5446
That is an awesome response, thank you very much.

It works for my reproducer, let's see if I can find I way to bring it into "the real thing".

[2020-10-13 14:28] joakime commented on #5446
Be aware that some of the compliance settings I mentioned cannot be changed for newer HTTP versions (like HTTP/2 or HTTP/3). (or if your request goes through an intermediary that uses that newer HTTP version, such as a proxy / firewall / load balancer / etc)

_Example: in HTTP/2 the method name MUST be upper-case, and the field-name MUST be lower-case, always, otherwise it's a malformed header res

[2020-10-13 14:33] michael-simons commented on #5446
Haha :) No accident happened yet, but a test that I couldn't make fail as I never got the parameter in a different format into my handler.
I'm especially looking at parameter *values*.
(And fwiw I still do think that they should be cached in a case sensitive way).

I'm doing fine with me adding a good ol' cache buster to the parameters of the accept header in my test (read `var cacheBuster = ";cac

[2020-10-13 15:01] joakime commented on #5446
In your examples

[code]

Those are considered "equivalent" media types, and are not different per spec.

In fact, all of the following are equivalent.

[code]

A harsh interpretation would say that you having intentionally different behavior is in a violation of the RFC7230 spec.

See:
* https://tools.ietf.org/html/rfc7231#section-3.1.1.5 - Content-Type definition
* https://tools.ietf.org/html/rf

[2020-10-13 15:24] michael-simons commented on #5446
Well that's the reason I raised this more as a question, not an issue.
Anyway, in my book equals and equivalent are equivalent but not equals. And while the media type is equivalent, the parameters (or the meaning the might convey) are certainly not.

From the links you so kindly provided:

   Parameter values might or might not be case-sensitive, depending on
   the semantics of the parameter nam

[2020-10-13 15:27] michael-simons commented on #5446
And for the funniest part in that discussion now is the fact that the value is - also in our use case - totally case insensitive but to assert that *equivalence* I must have a way to pass them through Jetty in a case sensitive way, which you kindly provided.

[2020-10-13 16:22] gregw opened #5447 "Review HTTP2StreamEndPoint and websocket onOpen"
The [HTTP2StreamEndPoint](https://github.com/eclipse/jetty.project/blob/jetty-10.0.0.beta2/jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/HTTP2StreamEndPoint.java#L43) class needs to be reviewed in how it works with websocket onOpen.

The class bridged the difference between the jetty Endpoint async API (`fill` and `fillInterested` calls) to the reactive style of HTTP2 (`demand` an

[2020-10-13 17:39] joakime commented on #5443
PR #5445 merged (which fixes this)

[2020-10-13 17:39] #5443 closed, assigned to joakime

[2020-10-13 17:39] joakime commented on #5437
PR #5445 merged (which fixes this)

[2020-10-13 17:39] #5437 closed, assigned to joakime

[2020-10-13 17:57] sbordet commented on #5416
@navalgoyal care to say what solution did you choose, so others may benefit from your experience? Thanks!

[2020-10-13 18:25] oyvindhorneland commented on #5443
Impressive! :+1:

[2020-10-13 18:34] joakime opened #5448 "Request.isSecure() returns false for `https` schemes in Jetty 10"
**Jetty version**
10.0.x

**Description**
A request with `https` in it's scheme + authority will not return true for `Request.isSecure()`.

The recent merge from `jetty-9.4.x` to `jetty-10.0.x` with ForwardingRequestCustomizerTest improvements highlighted this behavior.
See merge: https://github.com/eclipse/jetty.project/commit/68560090fe7332e28335335ed3ac43492b1d391d#diff-6a150c3e05fb3d2c83189d7d

[2020-10-13 20:43] josepowera commented on #5409
@sbordet

Hi. I checked the file regarding gzip... The file on server is not gziped. But when we download it using chrome we see that server or cloudflare as proxy has dynamically gziped file for chrome.

[2020-10-13 20:45] joakime commented on #5409
@josephca is the file compressed with gzip and sent normally, or is the content-encoding on the http headers set to gzip and the body contents are sent gzipped? (small nuance, but it makes a difference)

[2020-10-13 20:54] josepowera commented on #5409
@joakime

These are headers from chrome...   I also sent link to DL link we have problems with to @sbordet via email. The file on server in filesystem is not gzipped.

[code]

[2020-10-13 21:10] joakime commented on #5409
Interesting, I see no `Content-Length` or `Transfer-Encoding: chunked` on those responses headers.

But that would mean the response must contain a `Connection: close` header to satisfy the transfer of the body content.
In other words, point 7 on "Message Body Length" in Section 3.3.3 on the HTTP/1.1 spec (https://tools.ietf.org/html/rfc7230#section-3.3.3)

[2020-10-13 21:21] sbordet commented on #5409
@mperktold @josepowera are you able to build branch ` jetty-9.4.x-5409-invalid_response_state_transient` to verify the fix?

[2020-10-14 11:04] janbartel commented on #5444
Fixed.

[2020-10-14 11:04] #5444 closed, assigned to sbordet

[2020-10-14 11:27] mperktold commented on #5409
Yes, I was able to build the branch, thanks. We will now deploy it for a while to verify.

[2020-10-14 14:02] #5409 closed, assigned to sbordet

[2020-10-14 14:11] gregw commented on #5448
Note that line 1700 is a more limited handling of https.  It is only for when it is in the URI - ie for a proxied or HTTP/2 request
It will not trigger if a customiser has set the scheme... but then it may not need to....

let's review together before meeting tonight.

[2020-10-14 21:01] joakime commented on #5137
PR #5141 merged.

[2020-10-14 21:01] #5137 closed, assigned to joakime

[2020-10-14 21:31] #5361 closed, assigned to janbartel

[2020-10-15 13:45] horizonzy commented on #2205
maybe this is the reason. https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6778476

[2020-10-15 14:28] joakime commented on #2205
I don't think a selector.select() in a hung state would result in extra CPU usage.

[2020-10-15 15:20] horizonzy commented on #2205
thanks, I got it😁

[2020-10-15 19:44] joakime opened #5451 "Improve Working Directory creation"
**Jetty version**
9.4.x

**Java version**
All

**OS type/version**
All

**Description**
When the WebInfConfiguration deploys an application, the temp directory creation is using an old Java Classlib API for creating unique directories.

Lets modernize this, as newer Java Classlib APIs exist to make this a single step.

[2020-10-15 20:01] sbordet commented on #5451
@joakime there are 22 usages of `File.createTempFile()`, mostly in tests, but also in a few other spots in the code.
Care to fix them all at this point?

[2020-10-15 20:06] joakime commented on #5451
The focus of this was Temp/Work Directories, not Temp/Work Files.

I was focusing this PR on those usages of File.createTempFile() that were using it to establish unique directory names (as opposed to unique file names).
There's only 2 of those scenarios I could find.

[2020-10-15 20:20] sbordet commented on #5451
But why not fixing them all?

[2020-10-15 20:33] joakime commented on #5451
It's a bigger change then you would expect.
Take this one for example ...

https://github.com/eclipse/jetty.project/blob/de97d26f7bd222a0e16831e353d702a7a422f711/jetty-util/src/main/java/org/eclipse/jetty/util/MultiPartInputStreamParser.java#L198-L200

This just causes a no-op on Windows, but works on Linux, and causes logging exceptions on OSX.
If I change that to use java.nio.files.Path concepts

[2020-10-15 20:52] joakime commented on #5451
I'll update the PR, but I'm not going to try to fix ...

[code]

as it gets too complicated outside of unix. (i really don't want to deal with ACL)

[2020-10-16 04:54] lachlan-roberts commented on #5368
This is fixed by PR #5377 and will be in the 9.4.33 release.

[2020-10-16 05:59] olamy commented on #5451
still this PR https://github.com/eclipse/jetty.project/pull/5453 to merge

[2020-10-16 06:10] lachlan-roberts commented on #5368
Reopening to verify fix in Jetty 10 as most of changes couldn't be merged.

[2020-10-16 07:10] kh4mell opened #5454 "Request error context is not reset"
**Jetty 9.4.22.v20191022**

**Java openjdk 11.0.8 2020-07-14 LTS**

**OS CentOS Linux 7**

I'm using jetty with pax-web 7.2.14 (Karaf 4.2.8).
I created bundle fragment and registered custom error handler using jetty.xml:

[code]
In most cases it works correctly, however there is a race condition: sometimes I receive default jetty error page.

Scenario:
* Access non-existing context-path (no applic

[2020-10-16 08:13] gregw commented on #5454
Thanks for the report.  The issue is not a race, simply that we do not reset the errorContext when a request is recycled.   This is normally not a problem as errors frequently close the connection and thus the request is not recycled.  But it can be reused in some circumstances and I have reproduced and fixed.  PR coming....

[2020-10-16 08:53] #5448 closed, assigned to nobody

[2020-10-16 13:08] joakime commented on #5451
PR #5453 merged.

[2020-10-16 13:08] #5451 closed, assigned to joakime

[2020-10-16 14:05] #5454 closed, assigned to nobody

[2020-10-16 22:18] mattnelson commented on #5052
I have confirmed this to be the case.

Gonna close this out, but I think it would still be worthwhile to change the log level if no action is required.

[2020-10-16 22:18] #5052 closed, assigned to sbordet

[2020-10-19 13:46] janbartel opened #5475 "Update to spifly 1.3.2 and asm 9"
**Jetty-10.0.x**

Update to spifly 1.3.2

[2020-10-20 08:30] mperktold commented on #5409
We deployed the branch to production for a few days and the problem has not appeared since then.
Previously, there were multiple failures per day.

So the problem seems to be fixed 👍

[2020-10-20 08:38] sbordet commented on #5409
@mperktold thanks for the feedback!

We are about to release Jetty 9.4.33 this week, so you will be able to upgrade soon.

[2020-10-20 16:34] #5475 closed, assigned to janbartel

[2020-10-20 20:38] joakime opened #5480 "NPE from WebInfConfiguration.deconfigure during WebAppContext shutdown"
**Jetty version**
9.4.x

**Description**
When shutting down WebAppContext, there occasionally is seen a NullPointerException.

[code]

[2020-10-20 20:45] joakime commented on #5480
It's easy to add the safety checks for this, but why was `WebAppContext.getTempDirectory()` null during `WebInfConfiguration.deconfigure(WebAppContext context)` ?

[2020-10-20 21:19] joakime commented on #5480
The only ways that `context.getTempDirectory()` could return a null during `WebInfConfiguration.deconfigure()` is ...

1. There was never a Temp Directory setup for the context.
2. A process outside of Jetty intentionally called `context.setTempDirectory(null)`
3. The `WebInfConfiguration.deconfigure(WebAppContext)` was run twice against the same WebAppContext.

For scenario 1, that's not really p

[2020-10-20 21:34] joakime commented on #5480
Opened PR #5481

[2020-10-21 08:46] gb6881 opened #5484 "ForwardedRequestCustomizer / getLeftMost"
Hi

in our code we overwrote getLeftMost so we could limit the Number  of IPs in that Header as, e.g. AWS/ApplicationLB does not replace, but append to the Header if the outside request contains it already.  But as that part is untrusted, we want to limit the how  many levels we accept.

in #5247  this method is made static, so we can not override it anymore.

if your are interessted we can also s

[2020-10-21 08:46] gb6881 commented on #5484
(currently we use 9.4.31)

[2020-10-21 09:31] joakime commented on #5484
What does that mean?  Can you explain the issue around "limit the number of IPs in that header"?
getLeftMost is per spec, and will only return the left-most value of the header value list.

A small example of this would be a request that has gone through 2 proxies before hitting Jetty.

https://github.com/eclipse/jetty.project/blob/f4c55c65e07e7fd810a96e4137b7adfe7e9829eb/jetty-server/src/test/jav

[2020-10-21 10:01] gb6881 commented on #5484
Hi,

our case is the following:

`http --header https://www.xxxx.com 'X-Forwarded-For: 10.1.1.1'` going through the AWS/ALB will result in Headers

[code]

while `x.x.x.x` being my IP-Address

getLeftMost() will now select 10.1.1.1, which i do not want, because i know, that that is injected from the outside, and in my logs i need the endpoints of the tcp connection to on the LoadBalancer (last poi

[2020-10-21 11:04] cstamas opened #5485 "ForwardRequestCustomizer is wrong if request enters via HTTPS connector but no Forward headers"
**Jetty version**
9.4.32

**Java version**
1.8

**OS type/version**
Linux/macOS

**Description**
IF ForwardRequestCustomizer in place (w/ default config), and request enters via HTTPS connector (let's say using 8443 port), and there are no Forward headers present in request, the ForwardRequestCustomizer misbehaves.

It **modifies** the `Host` header to `hostname:80`. What I'd expect, is to either

[2020-10-21 11:33] joakime commented on #5485
Fixed in `jetty-9.4.x` HEAD already.

https://github.com/eclipse/jetty.project/pull/5419

[2020-10-21 11:33] joakime commented on #5485
Jetty 9.4.33 (due out soon) will have this fix.

[2020-10-21 11:35] joakime commented on #5485
Be aware of the following ForwardRequestCustomizer fixes in 9.4.33 ...

* #5443 - Request without Host header fails with NullPointerException in ForwardedRequestCustomizer
* #5417 - Badly configured HttpConfiguration.securePort can lead to wrong port produced by ForwardedHeader
* #5437 - ForwardingRequestCustomizer can change request.metadata even if there are no Forwarding headers present

[2020-10-21 11:46] joakime commented on #5484
Ugh, that's a gross violation of various specs. (even the ones that are not specs, like `X-Forwarded-For`).

Fixing it via getLeftMost isn't going to work reliably (as that method is used for many fields, not just `X-Forwarded-For`), plus getLeftMost cannot be brought back into extensibility as it's used from inner classes and whatnot now.

But all is not lost, do this instead ...

Keep your exten

[2020-10-21 11:49] gb6881 commented on #5484
ok, thanks.

[2020-10-21 11:49] #5484 closed, assigned to nobody

[2020-10-21 11:50] joakime commented on #5484
I updated the example for you.

[2020-10-21 12:06] joakime commented on #5484
Heh, it is actually easier to implement then my prior example, I forgot we were dealing with HttpField (which has proper field value list logic built-in).
Example updated (again).

[2020-10-21 15:26] janbartel opened #5486 "PropertyFileLoginModule retains PropertyUserStores"
**9.4 and above*

In older versions of Jetty, we set a "refreshInterval" property on the PropertyFileLoginModule to force it to do regular hot reloads of the configured property file cached via the PropertyUserStore class.  When the PropertyUserStore changed to using PathWatcher, and the setter became hotReload=true/false rather than an interval, the PropertyFileLoginModule was not modified.

[2020-10-21 20:57] janikgithub opened #5487 "BadMessageException in the log coming from QueuedThreadPool"
**Jetty version**   9.4.31.v20200723

**Java version** JDK   1.1.8.0_181-b13

**OS type/version** Oracle Linux Server 7.4

**Description** Exceptions in the log file

I see exception below in the application log file. I am trying to figure out application issues  related to the `ScheduledExecutorService` and was wondering if this is relevant,

Thanks

[code]

[2020-10-21 21:00] joakime commented on #5487
Looks like someone is trying to find weaknesses and vulnerabilities in your Jetty server.

As you can see this is just a DEBUG level logging event, it's of no real consequence, Jetty determined it was a malicious URI and responded accordingly.
You might want to setup a RequestLog to track these requests (including their IPs) for audit reasons.

[2020-10-21 21:01] janikgithub commented on #5487
Thank you @joakime

[2020-10-21 21:01] #5487 closed, assigned to joakime

[2020-10-21 23:31] #5287 closed, assigned to lachlan-roberts

[2020-10-21 23:38] lachlan-roberts commented on #5314
Question answered, closing issue.

[2020-10-21 23:38] #5314 closed, assigned to lachlan-roberts

[2020-10-22 02:09] rushalias commented on #3645
Closing this issue.
It seems it was fixed here: https://github.com/eclipse/jetty.project/issues/4217

[2020-10-22 02:09] #3645 closed

[2020-10-22 03:38] navalgoyal commented on #5416
@sbordet as API level calling of acquire method is changed. Now i need to implement `acquire(boolean create)` in our custom connection pool classes. as we are taking care of connection management for our algorithm so we simply call `super.acquire(true); `inside method implementation.

[2020-10-22 07:29] sbordet opened #5488 "jetty-dir.css not found when using JPMS"
**Jetty version**
9.4.x

**Description**
`jetty-dir.css` provides a minimal CSS for directory listing.
It resides in the `jetty-util` module.

When running Jetty with `--jpms`, a directory listing page will request `jetty-dir.css` but a 404 is returned.

My guess is that because of JPMS, the file won't be found unless module `jetty.util` opens its resources to `jetty-servlet`, which is probably th

[2020-10-22 13:16] josepowera opened #5489 "jetty-9.4.33.v20201020 in Maven public repo"
**Jetty version**
jetty-9.4.33.v20201020  was released 2 days ago..

**Question**
After checking now in https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-http/ the package is still not available there?

[2020-10-22 13:19] sbordet commented on #5489
@josepowera Jetty 9.4.33 was not released yet. It's been staged and we are testing it before releasing it.

What notification did you get about 9.4.33? We need to disable it.

[2020-10-22 13:20] josepowera commented on #5489
https://github.com/eclipse/jetty.project/releases    than click "show 3 newer tags"

[2020-10-22 13:21] josepowera commented on #5489
jetty-9.4.33.v20201020 …
 1be6875  zip  tar.gz
2 days ago

[2020-10-22 13:33] sbordet commented on #5489
Sure that only means we have created a tag, not that we have released the code associated with that tag.
In fact, the tag was dropped and recreated 3 times because we found problems during the testing.

Stick to release announcements, not to tags.

As you can see, 9.4.33 does not show yet in the "Releases" tab.

[2020-10-22 13:33] #5489 closed, assigned to nobody

[2020-10-22 14:16] sbordet opened #5490 "DefaultServlet should serve favicon.ico"
**Jetty version**
10.0.x

**Description**
`DefaultServlet` does serve `jetty-dir.css`, the default stylesheet.

However, it does not serve `favicon.ico`, the default icon, but `DefaultHandler` does serve it.

I think `DefaultServlet` should have a `favicon` `init-param` (like it has a `stylesheet` `init-param`) and we should default to the Jetty favicon if the `init-param` is missing.

[2020-10-22 14:20] sbordet commented on #5490
@gregw @joakime opinions?

[2020-10-22 15:02] joakime commented on #5490
Would only make sense for a ROOT Context.
If you have a WebAppContext on say contextPath of `/app` then there would never be a request for `/app/favicon.ico`

[2020-10-22 15:05] joakime commented on #5490
It would make sense for a virtualhost setup with multiple WebAppContext on ROOT

[2020-10-22 15:12] sbordet commented on #5490
Furthermore, if I do directory listing I would like to avoid to put the file in the directory that I'm listing - as `init-param` I would be able to put it anywhere in the file systems.

[2020-10-22 15:49] joakime opened #5492 "Add ability to manage start modules by java feature"
**Jetty version**
9.4.x

**Description**
When writing optional modules that depend on Java features (like alpn or loom) you currently have to rely on the `${java.version.platform}` start property.
Which means you wind up having multiple *.mod files, one for each major version of java, just to enable/disable modules based on a feature in java.

Proposal is to add new "features" properties to start.

[2020-10-22 17:09] sbordet opened #5493 "StatisticsHandler broken for async applications"
**Jetty version**
10.0.x

**Description**
In Jetty 10, `StatisticsHandler.handle()` has a `finally` block where it flushes the response if `_shutdown != null`, which is always true (unless stopped).

This is bad because async applications get their response flushed (with all the headers) before they even get a chance to add headers.

[2020-10-23 06:20] james-z-repo opened #5495 "Why does Jetty.sh rely on start-stop-Daemon"
**Jetty version**
jetty-distribution-9.4.19.v20190610
**Java version**
1.8
**Question**

I use Jetty on an ARM64 server with a built-in start-stop-daemon 1.19.7. This version never stops Jetty until I replace it. Does Jetty have to rely on start-stop-daemon?

stop jetty log:
start-stop-daemon: matching only on non-root pidfile /usr/local/jetty/jetty.pid is insecure

[2020-10-23 06:40] shwetaCummins commented on #5197
Hello

I run the same example give at https://github.com/tipsy/spark-ssl on my system. still I get the same error of Certificate Unknown issue.

Please guide.

[2020-10-23 07:32] sbordet commented on #5197
@shwetaCummins the issue you are having is not a Jetty issue.

I have just tried the example you linked, and it works perfectly fine for me.

[2020-10-23 15:59] josephlbarnett opened #5496 "Jetty 9.4.33 breaks binary compatibility of Request.setAsyncSupported()"
**Jetty version**
 9.4.33
**Java version**
 11
**OS type/version**
 linux / ubuntu 20.10
**Description**
 We use jetty through dropwizard, and using the latest versions of both (jetty 9.4.33 / dw 2.0.14) are seeing this exception break all requests:
[code]

It looks like the signature changed to `void org.eclipse.jetty.server.Request.setAsyncSupported(boolean, Object)`, and looks like a recompile/

[2020-10-23 16:28] sbordet commented on #5496
@olamy can you add DropWizard to the list of "external" projects that we build?

[2020-10-23 17:45] joakime commented on #5496
What is the purpose of `io.dropwizard.jetty.NonblockingServletHolder`?

Asking as it feels like we have support for this concept already built-in.

Also, be aware of the [`ServletHolder.WrapFunction`](https://github.com/eclipse/jetty.project/blob/jetty-9.4.33.v20201020/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/ServletHolder.java#L1276-L1293) (and the same concept in `FilterHolder` and

[2020-10-25 08:10] gregw opened #5498 "Review ServletHolder.getServlet"
**Jetty version**
9.4.x

See discussion on https://github.com/eclipse/jetty.project/commit/c40b955e09f9cecc3c9048aecedda34a144def5e#commitcomment-43538925

It appears that dropwizard has wrapped the holder class to avoid the synchronisation in `ServletHolder.getServlet()`.  The class uses both a volatile `_servlet` field and synchronisation,  yet always grabs the lock in `getServlet()`.    We shou

[2020-10-25 09:22] leonchen83 opened #5499 "Improve temporary buffer usage for WebSocket PerMessageDeflate."
**Jetty version**
9.4.x
**Java version**
java-11
**OS type/version**
unix
**Description**

`CompressExtension.decompress` method
[code]
we use [async-profiler](https://github.com/jvm-profiling-tools/async-profiler) to profile memory allocate and found that
`byte[] output = new byte[DECOMPRESS_BUF_SIZE];` cosume too many memory as following
<img width="1194" alt="屏幕快照 2020-10-25 下午4 07 20" src="htt

[2020-10-25 09:38] gregw commented on #5498
That suggestion won't work as it will allows lazy init servlets to be seen before they are initialized.
It needs to be something like:
[code]

at which point I'm thinking we really need to see evidence of contention.

[2020-10-25 09:38] gregw commented on #5498
@lorban @sbordet  thoughts?

[2020-10-26 07:48] cy6erGn0m commented on #3852
I wonder why it gets closed because noone tried to investiage it?

[2020-10-26 08:28] gregw commented on #3852
@DarDoro Sorry we failed to investigate your latest stacks etc.
Is this still an issue for you?
What is the current version of jetty you are using?  If it is old, can you update?

[2020-10-26 08:39] gregw commented on #5496
The method `org.eclipse.jetty.server.Request.setAsyncSupported` is very much an internal implementation detail of jetty and it is not expected that third party code should need to call that method.

See comments on https://github.com/eclipse/jetty.project/commit/c40b955e09f9cecc3c9048aecedda34a144def5e#commitcomment-43538925   but in summary the DropWizard class that calls this API appears to be a

[2020-10-26 08:39] #5496 closed, assigned to nobody

[2020-10-26 08:42] gregw commented on #5499
@lachlan-roberts can you write a comment saying the status of your work to pool buffers used for gzip - that's mostly jetty-10 right??

What can be done in 9.4 and is this approach compatible... at least for 9?

[2020-10-26 08:48] gregw commented on #5493
The test should at least be: `if (shutdown != null && shutdown.isShutdown())`,  but I don't understand why we need the flush buffer at all... nor how this current code is not failing some test or other?

[2020-10-26 08:57] gregw commented on #5495
@zhengshundong01 it is difficult to make a jetty.sh that will work on all flavours of unix.  Even if we wrote it entirely ourselves with no dependencies, there is a wide variation of the ways that unix will start and stop jetty.

Starting/stopping jetty is fundamentally pretty simple: `cd $JETTY_BASE; java -jar $JETTY_HOME/start.jar` and then signal the PID when you want it to stop.    The jetty.s

[2020-10-26 08:58] DarDoro commented on #3852
Not a problem anymore. Newer version and client-side changes get rid of the problem.

[2020-10-26 09:02] gregw commented on #5490
I'm not in favour of this.
`DefaultHandler` is only hit if no other context/webapp handles the request.
It is an entirely different thing to make deployed webapps serve jetty branded image from their context.   I don't think that is acceptable.
Serving `jetty-dir.css` is acceptable as it only happens if the webapp has deferred listing a directories contents to the server, which they seldom do.

[2020-10-26 09:02] gregw commented on #3852
Thanks!

[2020-10-26 09:02] #3852 closed

[2020-10-26 09:04] #5485 closed, assigned to joakime

[2020-10-26 09:04] #5480 closed, assigned to joakime

[2020-10-26 09:06] gregw commented on #5435
@kissLife any more info?  Perhaps try the just released 9.4.33 (which includes an important security fix anyway)

[2020-10-26 09:13] sbordet commented on #5490
Okay then.

[2020-10-26 09:13] #5490 closed, assigned to nobody

[2020-10-26 09:41] joakime opened #5511 "SslEngineBehaviorTest.checkSslEngineBehaviour Failure"
**Jetty version**
9.4.x

**Description**
During a build/test on an overloaded machine, the `SslEngineBehaviorTest.checkSslEngineBehaviour` failed.

[code]

[2020-10-26 10:53] lorban commented on #5498
As you said, I would not touch this without some evidence of contention.

[2020-10-26 11:07] gregw commented on #5498
@janbartel has suggested to me that we could reduce lock contention by calling `getServlet` only once per execution in prepare and then use `getServletInstance` in handle.
I've also noticed that the `initServlet` method assignes the `_servlet` field and then initialises it.... which creates the potential for leaking an uninitialised servlet instance.   Some of the changes from @joakime recent wrap

[2020-10-26 11:31] joakime commented on #5495
Do you have systemd?

If so, skip the jetty.sh and just use a systemd service file to start/stop/restart Jetty  ...

Here's a minimal example (and it doesn't use start-stop-daemon)

### jetty-server.sh

[code]

### jetty-server.service

[code]

[2020-10-26 14:04] joakime commented on #5511
@sbordet I think we should just delete this `SslEngineBehaviorTest`.

The way it's written, it's not reliable.
And it only runs on JDK 8.

It's an old test, from an old test class `SocketChannelEndPointTest` that's been refactored a few times.

See commit  423d160f0d065d05fcbf29499a845b4230bdceb2

[2020-10-26 15:23] joakime commented on #5511
Deleted bad testcase in PR #5515

[2020-10-26 15:23] #5511 closed, assigned to nobody

[2020-10-26 16:12] oliviercailloux commented on #5326
Thanks for the replies. I suppose this bug can be closed, as it does not seem desirable to solve the illegal reflective access on the Jetty side rather than on the WELD side, if I understand correctly.

I have [voted](https://issues.redhat.com/browse/WELD-2581) for the related WELD bug.

[2020-10-26 16:14] gregw commented on #5326
thanks

[2020-10-26 16:14] #5326 closed, assigned to nobody

[2020-10-27 02:57] vanand123 opened #5516 "Use of "SSLEngine.getHandshakeSession()" in Jetty"
**Jetty version**
jetty-distribution-9.2.18.v20160721

**Java version**
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-b12)
OpenJDK Server VM (build 25.191-b12, mixed mode)

**Question**
From which exact jetty version calling of "SSLEngine.getHandshakeSession()" is introduced ?

[2020-10-27 06:24] lachlan-roberts commented on #5499
The 9.4 implementation is quite inefficient and I don't think the `ThreadLocal` would improve it much. We are reading into this temporary byte array, but then copy this into a `ByteAccumulator` with another byte array allocation, the data in the `ByteAccumulator` is eventually transfered to a `ByteBuffer` taken from the `ByteBufferPool`.

There was a big rework of the `CompressExtension` / `PerMes

[2020-10-27 07:28] gregw commented on #5499
Thanks @lachlan-roberts.   So it doesn't sound that we can back port the fixes.... but then it also sounds like 9.4 has some low hanging fruit that could offer some improvements.
The byte accumulator class looks like it could be rewritten.... so that either it is a chain of temporary byte arrays that are copied once into a pooled byte buffer... or perhaps it can accumulate directly into a ByteBuff

[2020-10-27 07:57] sbordet commented on #5516
Can you detail why do you ask? Do you have an issue with it?

[2020-10-27 09:24] joakime commented on #5516
Also your use of 9.2.18 is subject to several security advisories, be aware of them - https://www.eclipse.org/jetty/security-reports.html
Note that Jetty 9.2.x is EOL (End of Life) - https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html
Consider upgrading.

This is likely a duplicate of #4819 as the only reason to be concerned about `SSLEngine.getHandshakeSession()` is Androi

[2020-10-27 16:43] janbartel commented on #5486
In investigating this, I've realized the problem is worse than initially thought: the PropertyFileLoginModule keeps PropertyUserStores in a static map and never stops or removes them. I'm changing the title of the issue to reflect this.

[2020-10-27 17:25] shwetaCummins commented on #5197
Yes it does not look like a jetty issue. But something wrong with spark web server. Do you have any idea about it. I used the same code in my existing environment. As long as example code is  concern, I think we have to add the spark-web server dependency in pom file. I don't see anything else. n spite of having the same setting in my pom I am getting same error.
Can you guide me is there anything

[2020-10-27 17:33] joakime commented on #5197
@shwetaCummins check the date/time on the IoT system running Jetty/Spark.  It could be as simple as a bad date that is invalidating the certificates before you get a chance to use them. (they have a start/end date, and if your system is outside of that range, the certificate is automatically invalid)

[2020-10-27 21:53] joakime opened #5519 "HttpClienTLSTest.testMismatchBetweenTLSProtocolAndTLSCiphersOnClient fails on JDK 8u272"
**Jetty version**
9.4.x

**Java version**
8u272

**Description**
This test fails on 8u272

This serverLatch never triggers ...

https://github.com/eclipse/jetty.project/blob/be4e5ab3c975c5dfc0fdad78e08534bd3ecaef8c/jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientTLSTest.java#L193-L200

<details>
<summary>The javax.net.debug for that test case</summary>

[code]
</details>

[2020-10-27 21:58] joakime commented on #5519
Disabled in `jetty-9.4.x`.
If someone want to tackle it, create a branch and fix it.

[2020-10-28 03:47] vanand123 commented on #5516
We are using Custom security provider in our application which does not support implemenation of "getHandshakeSession()" function.
For now they have no plan to upgrade to supported version of "getHandshakeSession()" function.

So, we want to use jetty version which does not use this function and having fix of below vulnerabilities:
(1) CVE-2017-7656 (2) CVE-2017-7657 (3) CVE-2017-7658 (4) CVE-2018

[2020-10-28 04:47] leonchen83 commented on #5499
@gregw @lachlan-roberts
hi I made a [PR5520](https://github.com/eclipse/jetty.project/pull/5520) to improve this issue.
could you help me to review that code. If that [PR5520](https://github.com/eclipse/jetty.project/pull/5520) can't merge to branch for some reason, that is OK , hope some idea in that [PR5520](https://github.com/eclipse/jetty.project/pull/5520) that can help you to improve this is

[2020-10-28 05:02] shwetaCummins commented on #5197
I am using self signed certificate with end date expires in next year.

[2020-10-28 06:30] vanand123 commented on #5516
@joakime It is not Android related query. It is "CentOS Linux release 7.6.1810 (Core)" based product.

[2020-10-28 08:56] sbordet commented on #5516
@vanand123 do the 2 versions of this provider have different names? If so, you can force the use of the new version using `SslContextFactory.setProvider(String)`.

Alternatively, you can write a wrapper class for `SSLEngine` that wraps what you obtain from your old provider and delegate all methods to the wrapped instance, apart `getHandshakeSession()` which you delegate to `getSession()`.

[2020-10-28 08:57] sbordet commented on #5197
@shwetaCummins are you sure you are not getting "Certificate Unknown" because you're using a self-signed certificate?

[2020-10-28 09:14] joakime commented on #5516
This smells like issue #4961

[2020-10-28 09:23] joakime commented on #5499
Fixing memory is a good goal.

But using a ThreadLocal is not an option here.

The WebSocket implementation in Jetty is asynchronous, meaning that for any websocket message it's very probable that more than 1 thread is used to read from network, parse websocket frames, send frame through extension stack, etc ...

[2020-10-28 09:27] shwetaCummins commented on #5197
I am getting "SSLHandshakeException: Received fatal alert: certificate_unknown" this exception. continuously on Chrome. But for Firefox browser only first time I get after that it does not throw any exception on Firefox.

[2020-10-28 09:29] sbordet commented on #5197
Chrome the browser does not show you `SSLHandshakeException`, but a friendly page with a security warning where you can click on UI elements to bypass the security warning and proceed.

Unless you explain exactly what you're doing we cannot help you.

[2020-10-28 09:33] joakime commented on #5197
For Chrome ...

* _Do not use "localhost" or "127.0.0.1"_ in your URL, but the actual hostname to the server you are connecting to. (https://stackoverflow.com/questions/7580508/getting-chrome-to-accept-self-signed-localhost-certificate)
* Do not send `Connection: close` from the  server, you'll just trigger a new TLS request each time causing the error with every new connection. (https://bugs.chro

[2020-10-28 09:39] joakime commented on #5499
**Most Important:** Fix your ECA, that PR can never be merged unless you have a proper ECA.

[2020-10-28 10:26] vanand123 commented on #5516
@joakime  It is related to #4961. We can't upgrade newer version of security provider for the whole application as of now.
In order to that we are trying to load newer version specific to jetty only.

@sbordet  The 2 versions of this provider has same name.
Is there any way we can implement jetty to load newer version of this provider?

[2020-10-28 10:40] gregw opened #5521 "ResourceCollection NPE in list()"
**Jetty version**
9.4.x

**Description**
[code]

[2020-10-28 10:44] janbartel opened #5522 "Add integration test for jetty maven plugin using war overlays"
**Jetty 10.0.x**

Running a webapp (cometd) that has overlays in it with 9.4, the following list of resources representing the overlays is shown:

But running with jetty-10.0.x head, there is an extra resource:

The plugin should not be looking in the `src` directory for `classes`.

[2020-10-28 10:52] sbordet commented on #5516
[code]

[2020-10-28 13:11] joakime commented on #5521
Looks like the last commit broken jetty-maven-plugin's classloader.

It failed, consistently, across all JDKs.

[code]

[2020-10-28 13:17] jansupol opened #5525 "ClassCastException in Jetty"
Jetty version: 11.0.0.beta3 (jetty-maven-plugin)
Java version "11.0.7" 2020-04-14 LTS

The following stacktrace occurs:

    at org.eclipse.jetty.util.resource.ResourceCollection.list (ResourceCollection.java:426)
    at org.eclipse.jetty.util.resource.Resource.getListHTML (Resource.java:479)
    at org.eclipse.jetty.server.ResourceService.sendDirectory (ResourceService.java:626)
    at org.eclips

[2020-10-28 14:54] janbartel commented on #5525
Thanks, I think this is the same as https://github.com/eclipse/jetty.project/pull/5527 which co-incidentally we filed a couple of minutes ago ;)

[2020-10-28 15:57] oleg-astakhov opened #5528 "1 page refresh and I get: java.io.IOException: enhance_your_calm_error/invalid_priority_frame_rate"
Following advice given here: https://www.eclipse.org/lists/jetty-users/msg09622.html raising this issue.

**Jetty version**
`Embedded 9.4.31`

**Java version**
[code]

**Spring Boot version**
`2.3.4 `

**OS type/version**
`Windows 7, x86_64`

**Browser**
`Chrome `
`Version 86.0.4240.111 (Official Build) (64-bit)`

**Server specific dependencies in Gradle**
[code]

**Other configuration which might

[2020-10-28 16:15] joakime commented on #5528
This might be simpler ...

[code]

It will only work against `ServerConnector` instances (not the other Connector types that are irrelevant here).
And then, only ones with ServerConnectors that have an `AbstractHTTP2ServerConnectionFactory` instance.

I skipped iterating through the entire list of `ConnectionFactories` for two (or more) cases of `AbstractHTTP2ServerConnectionFactory`, which is rat

[2020-10-28 16:17] oleg-astakhov commented on #5528
Thank you @joakime, noted!
I also have some customization code in place, which I removed for brevity (there I added another Connector so that I could perform redirection from HTTP to HTTPS).

But regarding multiple instances of `AbstractHTTP2ServerConnectionFactory` , yes, I will change it.

[2020-10-28 16:54] sbordet commented on #5528
@gregw so the problem currently stems from the fact that the page indeed loads a lot of resources (but that's to be expected and we should not complain), and the fact that PRIORITY frames can be either standalone or embedded in a HEADERS frame - however we don't distinguish the case.

Standalone ones are possible source of attack, but embedded ones are typically not (they belong to a proper HEADER

[2020-10-28 17:02] #5498 closed, assigned to gregw, janbartel

[2020-10-28 17:06] sbordet commented on #5528
@gregw cancel the comment above, I was mistaken.
Embedded PRIORITY frames are not parsed by the `PriorityBodyParser`.

Looking better at the logs, it is indeed Chrome that sends a gazillion PRIORITY frames after the requests.

At this point I'm not sure what to do. The normal Chrome behavior is indistinguishable from an attack.
We can raise the default value, but it would be tripped by a page with

[2020-10-28 17:23] gregw commented on #5528
@sbordet do we need to make the acceptable rate of priority frames proportional to the number of streams.   It is easy to have 100s or 1000s of streams, so even a single priority message per stream will blow a fixed per connection rate easily.  There is a difference between 1 stream with 100 priority frames and 100 streams with 1 priority frame.

[2020-10-28 17:26] joakime commented on #5528
Doesn't the Rate only apply at the Parser level?

[2020-10-28 17:32] gregw commented on #5528
Rate does apply at the parser level, so it is a rate of events per connection as the parser is per connection.
I'm thinking that perhaps every time we open a new stream we allow several priority frames before we start counting them as events?

[2020-10-28 17:44] sbordet commented on #5528
That would be another configurable parameter, which I'm not keen adding as it seems ad-hoc.

I would prefer if we can make the current parameter "relative" as you propose.
With 100 streams, an attacker would be able to send 2000 PRIORITY frames per second though.

[2020-10-28 18:42] oliviercailloux opened #5530 "jetty-cdi + narayana-jta : CreationException"
**Jetty version**
9.4.33.v20201020

**Java version**
OpenJDK 12

**OS type/version**
Debian stable

**Description**
Adding `org.eclipse.jetty:jetty-cdi:9.4.33.v20201020` to the class path breaks the TransactionManager of narayana.

To reproduce:
1. clone the [jta-1_2-standalone](https://github.com/jbosstm/quickstart/tree/master/jta-1_2-standalone) quickstart project from Narayana (explained [here]

[2020-10-28 19:11] joakime commented on #5530
It's not finding the JNDI "TransactionManager"

Seeing as the [CDIBindingTestCase](https://github.com/jbosstm/quickstart/blob/master/jta-1_2-standalone/src/test/java/org/jboss/narayana/quickstarts/jta/CDIBindingTestCase.java) makes special provisions for this, and the [beans.xml](https://github.com/jbosstm/quickstart/blob/master/jta-1_2-standalone/src/main/resources/META-INF/beans.xml) has notes a

[2020-10-28 19:14] joakime commented on #5530
The JNDI "TransactionManager" needs to come from somewhere.
Jetty isn't adding it. (that's not the role of Jetty, or the CDI layer in Jetty)

Does weld? (then this is a weld issue)
Does narayana? (then this is a narayana issue)
Does jta? (then this is a jta issue)

[2020-10-28 19:17] joakime commented on #5530
Merely adding `jetty-cdi` to the pom simply changes your dependencies.
Nothing about adding `jetty-cdi` causes any change in execution on that project, as nothing in that project, nor that `CDITransactionServicesTestCase` is using the features that `jetty-cdi` provides.

I suspect you are just accidentally changing dependencies / dependency versions of WELD and that is causing you your headaches.

[2020-10-28 21:56] lachlan-roberts commented on #5493
Fixed with PR #5517.

[2020-10-28 21:56] #5493 closed, assigned to lachlan-roberts

[2020-10-28 22:21] joschi opened #5531 "Selected protocols in SslContextFactory#dump() and actual SSLContext inconsistent"
**Jetty version**

9.4.33.v20201020

**Java version**

[code]

**OS type/version**

macOS 10.15.7

**Description**

When a list of protocols used with or `SslContextFactory#excludeProtocols()` contains a regular expression, the respective protocols will be shown as excluded in the output of `SslContextFactory#dump()`, but they won't necessarily be excluded in the actual `SSLEngine` instance create

[2020-10-28 22:50] oliviercailloux commented on #5530
Thanks, these observations put me on the right track.

**The problem**
Turns out that it is actually `jetty-jndi` that creates the problem with Narayana. Replacing `jetty-jndi` with `jetty-util` restores the test success. I guess Narayana does something differently when it detects some JNDI implementation in the classpath (?).

**Versions comparison**
The version of weld, or anything else, does no

[2020-10-29 08:33] gregw commented on #5521
Still work needed in jetty-10

[2020-10-29 08:48] gregw commented on #5530
I think the issue is probably that `org.jboss.naming:jnpserver` is also a JNDI implementation and that it is not that jetty is adding JNDI, but rather that you have 2 JNDIs on the classpath that does not work.
Thanks for updating us.

[2020-10-29 08:48] #5530 closed, assigned to nobody

[2020-10-29 09:36] oliviercailloux commented on #5530
Just tried without `org.jboss.naming:jnpserver:5.0.3`: same behavior. That is, the `CDITransactionServicesTestCase` test passes without `org.eclipse.jetty:jetty-jndi:9.4.33.v20201020` and fails with `org.eclipse.jetty:jetty-jndi:9.4.33.v20201020`. (Also removing `org.jboss.spec.javax.transaction:jboss-transaction-api_1.2_spec` preserves the strange behavior.)

There really seems to be something od

[2020-10-29 10:22] particle-wei opened #5532 "When I run a JSF Application in jetty, the following error appears."
**Jetty version**
9.4.19.v20190610

**Java version**
1.8.0_241
**OS type/version**
windows
**Description**
When I run a JSF Application in jetty, the following error appears.

[code]

[2020-10-29 16:18] sbordet opened #5533 "Extract jetty-ssl-context.xml PKIX configuration into own module"
**Jetty version**
10.0.x

**Description**
`jetty-ssl-context.xml` contains a commented-out section about PKIX.
Would be better to have a dedicated module that configures PKIX, from the algorithm name to the revocation, etc.

[2020-10-29 19:00] joakime commented on #5531
That's an invalid test.

You cannot use the dump THEN `start` the `SslContextFactory` and expect sane results.
The dump isn't valid until the `SslContextFactory` is started.

I added a testcase based on your report, it works as designed, and correctly.
Both the new SSLEngine and the dump report the same values. (where TLSv1.1 is excluded)

https://github.com/eclipse/jetty.project/blob/cff4771375ee

[2020-10-29 19:01] joakime commented on #5531
Going to test this on a few different OS combinations now.

[2020-10-29 20:19] joakime commented on #5531
Results from OSX 10.15.7

Using AdoptOpenJDK 8u272 - PASS
Using AdoptOpenJDK 11.0.9 - PASS

Results from Windows 10

Using AdoptOpenJDK 8u272 - PASS
Using AdoptOpenJDK 11.0.9 - PASS

[2020-10-29 20:53] oliviercailloux opened #5534 "Consider documenting Jersey + CDI + Jetty"
**Jetty version**
9.4.33.v20201020

**Java version**
OpenJDK 12

**OS type/version**
Debian stable

**Description**
It is unclear to me how to enable both Jersey and CDI (using Weld) in a Jetty embedded configuration.

The documentation currently does not mention how to use Jersey inside a Jetty server (embedded). Of course, one could say that it is a duty of Jersey to document how to embed it int

[2020-10-29 21:10] joakime commented on #5534
If that is a raw ServletHandler, then you are doing things improperly.

That handler would never cooperate with anything other then itself.

This is correct, and it would be out of scope for the Jetty project.
We don't generally go around documenting how to use other projects.

As an example, let me comment to this in your question ...

That's not something that Jetty does.

Jetty doesn't know abo

[2020-10-29 21:14] joakime commented on #5532
This doesn't seem like a Jetty issue, but more of a question for the weld project.

[code]

Jetty just kicked off the `org.jboss.weld.environment.servlet.EnhancedListener` and it appears everything from there on out is happening entirely within weld.

[2020-10-29 21:46] joschi commented on #5531
@joakime Thanks for checking this bug report!

I didn't find anything in the Javadoc about that: [`SslContextFactory#dump(Appendable, String)`](https://www.eclipse.org/jetty/javadoc/9.4.33.v20201020/org/eclipse/jetty/util/ssl/SslContextFactory.html#dump(java.lang.Appendable,java.lang.String)).

Would it make sense to throw an `IllegalStateException` or emit an error message instead of an invalid d

[2020-10-29 23:49] oliviercailloux commented on #5534
Thanks a lot! I think such an example might benefit many users, as I suspect Jersey + Jetty is a common case.

`servletHander` is not a raw ServletHandler. The more complete sample is as follows. I have cut my code for clarity, but probably a bit too much, sorry.
[code]
Using this `servletHandler` (which is a `ServletContextHandler`), I am able to make Jetty cooperate with Weld to provide CDI func

[2020-10-30 01:27] joakime opened #5535 "Support regex in SslContextFactory include/exclude of protocols"
**Jetty version**
9.4.x

**Description**
In troubleshooting #5531 it was discovered that currently, only the SslContextFactory methods for include/exclude cipher suites support regex.
The include/exclude protocols does not.

We need to add this functionality.

[2020-10-30 01:29] joakime commented on #5531
Wait a sec.
There's multiple things not right at this point.

First, and most "duh" moment of my own, is that `.setExcludeProtocols()` doesn't support regex. (even says so in the javadoc)
I need to fix that, so I opened #5535.
The next is that the assertion I have is wrong.
I have to fix that too.

Commit c969fba71ad8d3938c5426b6e567b855cb8adbc1 addresses both the bad usage of .setExcludeProtocols

[2020-10-30 04:47] leonchen83 commented on #5499
@lachlan-roberts @gregw @joakime
after fix the memory allocation is following
![image](https://user-images.githubusercontent.com/5235764/97660972-08405e80-1aae-11eb-9077-5e3be5f73270.png)

[2020-10-30 07:08] joschi commented on #5531
@joakime Thanks for looking further into this!

That's what I tried to convey in my original post of this issue:

But great that this is going to be fixed. 😃

[2020-10-30 08:33] james-z-repo opened #5537 "Unknown BeanManager org.apache.webbeans.container.InjectableBeanManager"
**Jetty version**
9.4.19.v20190610
**Java version**
1.8
**Question**
first:
i used --module=cdi and jsf-api2.2.9.jar、jsf-impl-2.2.9.jar

then:
i add this to web.xml
<listener>
   <listener-class>org.jboss.weld.environment.servlet.BeanManagerResourceBindingListener</listener-class>
</listener>

but, i got a error:

java.lang.RuntimeException: java.lang.IllegalArgumentException: Unknown BeanManager

[2020-10-30 08:43] james-z-repo commented on #5537
...... i think i know why i got this error，

InjectableBeanManager implements BeanManager, Serializable, Externalizable

but in
![image](https://user-images.githubusercontent.com/33625419/97678600-118df300-1acf-11eb-9320-1237361292ed.png)

[2020-10-30 11:28] joakime commented on #5537
Actually, you have two CDI implementations present.

That's Apache OpenWebBeans (a CDI implementation)

That's Weld, another CDI implementation.

Remove one or the other from your dependencies.

[2020-10-30 11:34] james-z-repo commented on #5537
Thank you. You're quite right. Now That I've got a new error, Let me see

[2020-10-30 11:41] #5537 closed, assigned to nobody

[2020-10-30 15:32] joakime commented on #5531
Opened PR #5538

[2020-10-30 18:13] joakime commented on #5535
Merged into `jetty-9.4.x`.

[2020-10-30 18:13] #5535 closed, assigned to joakime

[2020-10-30 18:14] joakime commented on #5531
Merged PR #5538 into `jetty-9.4.x`

[2020-10-30 18:14] #5531 closed, assigned to joakime

[2020-10-30 19:57] joakime opened #5539 "StatisticsServlet output is not valid"
**Jetty version**
9.4.33.v20201020

**Description**
The XML produced by the StatisticsServlet is not sane.

https://github.com/eclipse/jetty.project/blob/ed1b165fa6218fb2ef1c33165796eb4f97bfc898/jetty-servlet/src/main/java/org/eclipse/jetty/servlet/StatisticsServlet.java#L205

Should probably also support output in json at least as well.

[2020-11-01 16:27] #4011 closed

[2020-11-02 02:52] james-z-repo opened #5540 "Jetty + CDI miss provider"
**Jetty version**
9.4.19.v20190610
**Java version**
1.8
**Question**
CDI：use --module=cdi

i got a error
`

java.lang.RuntimeException: java.lang.IllegalStateException: Unable to access CDI
	at org.eclipse.jetty.annotations.ServletContainerInitializersStarter.doStart(ServletContainerInitializersStarter.java:69)
	at org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:68)

[2020-11-02 06:22] james-z-repo opened #5541 "WELD-001456: Argument resolvedBean must not be null"
Jetty version
9.4.19.v20190610
Java version
1.8
Question
CDI：use --module=cdi

[code]

i debug this error, i found When the loginBean is loaded, it is found that its dependencies（PolicyHolderRegistration） are not caused in the beanManager。

[code]

[code]

It looks as if he does not support stateless beans for loading

[2020-11-02 08:22] gregw opened #5555 "NPE for servlet with no mapping"
**Jetty version**
9.4.33

**Description**

NPE if there exists a filter with a servlet name mapping, but a request is received for another servlet that has no filter with a servlet name match, then a NPE is generated when looking for servlet name matches for that servlet, because there are none.
[code]

[2020-11-02 09:06] janbartel commented on #5541
Hi @zhengshundong01.  I don't see any involvement from jetty in this, other than being the servlet container in which you are running faces and weld. I suggest you ask the weld project if they can help with this error.

[2020-11-02 09:06] #5541 closed, assigned to nobody

[2020-11-02 09:20] janbartel commented on #5540
@zhengshundong01 I don't think this is a jetty issue. As you say, you might be missing some dependencies, or have something else wrong with your environment.

Try comparing your setup with a fresh installation of the jetty distro, cd to the demo-base/ directory and add the cdi module (using java -jar ../start.jar --add-to-startd=cdi). Then start the demo (java -jar ../start.jar). You should see lo

[2020-11-02 09:46] gregw commented on #5539
I've pushed a quick fix with f21c606.
Reopen (or new issue) if you want better generation and/or json

[2020-11-02 09:47] #5488 closed, assigned to sbordet

[2020-11-02 11:34] joakime commented on #5539
Reopening, as your fix is incomplete.
There's more XML issues then the 1 line identified by this issue.
The testing for well formed XML is also not present. (which would have shown the other issues as well)

[2020-11-02 11:35] joakime commented on #5539
I have a more comprehensive fix in the works.
PR will be forthcoming.

[2020-11-02 11:39] joakime commented on #5555
wow, what release did this show up in?
I want to track down the commits that caused it, and see if there's any other things we missed.

[2020-11-02 11:40] annappa opened #5558 "MBean name for org.eclipse.jetty.util.thread.QueuedThreadPool"
**9.4.18**

**JDK 1.8**

We have configured multiple server connectors with different threadpool each with a different name. MBeans of QueuedThreadPool are getting created with the dynamic names. It has a dynamic param like context=.  Mbean name is like org.eclipse.jetty.util.thread:context=HTTP/1.1@3cbbc1e0,id=0,type=queuedthreadpool. We have requirement of mapping each MBean attribute to some me

[2020-11-02 11:45] joakime commented on #5540
I agree with @janbartel

Also, Upgrade your version of Jetty.
9.4.19 is over a year old. (and is subject to several security advisories - https://www.eclipse.org/jetty/security-reports.html)

Try 9.4.33.v20201020 (it has a few updates for jetty-cdi as well)

[2020-11-02 12:06] sbordet commented on #5558
@annappa if the tool you're using to map attributes supports querying MBeans, then you can easily exclude the context.

Rather than hitting the `ObjectName` precisely, you can use:

[code]

That will return the list of thread pools registered as MBeans.

[2020-11-02 12:18] annappa commented on #5558
@sbordet Thanks for the quick reply. We are using pcp parfait tool and we are configuring MBeans in an xml file. I don't think so we have an option to mention the query. I will check on that. But can't we give some custom name to threadpool mbeans? We have given a different name to each pool using **threadPool.setName(name);**. This name is being used for thread names. Similar way, can't we give s

[2020-11-02 12:31] #5555 closed, assigned to gregw

[2020-11-02 14:00] sbordet commented on #5558
Another solution would be to subclass, without changes, `QueuedThreadPool`, and then use your subclass instead of the out-of-the-box Jetty one:

[code]

Then you create this class:

[code]

Note how the class is in the `*.jmx` package and has the same name as your subclass plus `MBean` at the end.
Jetty will look for this class and use it instead of the standard one.

[2020-11-03 04:49] sagarikat-26 opened #5561 "port not getting released on jetty restart"
**Jetty version**
    9.4.31v
**Java version**
1.8
**OS type/version**
linux
**Description**

we have 2 ports running, jetty comes up on port 80 and we use port 8080 for http connections used by ioreactor , During restart of jetty the java process is getting killed but the port 8080 is not getting released immediately as a result jetty comes up but the ioreactor is giving a bind exception. Is ther

[2020-11-03 07:10] leonchen83 opened #5562 "ArrayTernaryTrie consumes too much memory"
**Jetty version**
9.4.x
**Java version**
java 11
**OS type/version**
centos 7
**Description**
ArrayTernaryTrie consume 17% memory.
![image](https://user-images.githubusercontent.com/5235764/97957520-51621c80-1de6-11eb-86f0-30560d675e7d.png)

more details please see following chart
[advance01-20201103-instanceorder.zip](https://github.com/eclipse/jetty.project/files/5479680/advance01-20201103-insta

[2020-11-03 08:35] gregw commented on #5562
Tries are currently being reviewed as part of #5291

[2020-11-03 11:12] sbordet commented on #5561
By your description, it's `ioreactor` that is not releasing the port, not Jetty.

[2020-11-03 11:14] annappa commented on #5558
@sbordet Thanks. Was able to give custom object name to  QueuedThreadPool MBeans after creating the subclasses as you suggested above.

[2020-11-03 11:31] gregw commented on #5562
Note also that there is a per connection header cache, so that if you have lots of short lived connections, then you may allocated a lot of caches for no reason.
You can configure the cache with `HttpConfiguration.setHeaderCacheSize(int)` method  or the `jetty.httpConfig.headerCacheSize` property.

I'll also have a look to see if we can be smarter about when we create this cache.

[2020-11-03 11:45] janbartel commented on #5532
Seems as joakime said that this is a weld issue.

[2020-11-03 11:45] #5532 closed, assigned to nobody

[2020-11-03 11:46] janbartel commented on #5525
Closing as a duplicate of #5527

[2020-11-03 11:46] #5525 closed, assigned to nobody

[2020-11-03 11:53] janbartel commented on #5522
This is actually caused by the changes to the ResourceCollection class, that is being looked at in #5521

I'm leaving this issue open, as we want to try and add an integration test for the jetty maven plugin that uses overlays (that tweaks the ResourceCollection changes), but are having difficulty due to the way in which the integration tests are run, and the way overlays work. Work is being done

[2020-11-03 12:21] james-z-repo opened #5564 "How does Hibernate support Jetty JPA"
**Jetty version**
9.4.19.v20190610
**Java version**
1.8
**Question**

How does Hibernate support Jetty JPA?

Could you please give us a demo?

[2020-11-03 12:45] joakime commented on #5564
There's no such thing as "Jetty JPA".

Jetty does not manage, make, or have a JPA provider.

Your choice of JPA provider jar, included with your webapp, determines the JPA behavior you have.

[2020-11-03 12:45] #5564 closed, assigned to nobody

[2020-11-03 12:45] joakime commented on #5564
Also, upgrade your version of Jetty.
You are subject to several security advisories.

https://www.eclipse.org/jetty/security-reports.html

[2020-11-03 13:29] vanand123 commented on #5516
@sbordet Is there any jetty config xml we can use to set CorrectVersionOfProvider ? If Yes , what is the property to set ?

[2020-11-03 13:31] gregw commented on #5562
See #5565 as an alternative to disabling the HttpField cache. This PR will change the parser to only create the cache on a second request.

[2020-11-03 13:32] #5558 closed, assigned to nobody

[2020-11-03 13:38] joakime commented on #5516
@vanand123 the `CorrectVersionOfProvider` is a class you instantiate.
One that implements `java.security.Provider`

For example, if you were using conscrypt exclusively, the `org.conscrypt.OpenSSLProvider` would be a choice there.
In your case, you'll instantiate the specific Provider that you want to use.

Your environment is well outside of the norm when it comes to jetty start properties, you a

[2020-11-03 15:51] lorban opened #5569 "ByteBufferPool implementations should be dumpable"
**Jetty version**
9.4.x

**Description**
Currently, the ByteBufferPool implementations do not report anything useful in a server dump.

It would be handy if they would dump their contents so we could check how many byte buffers are in, how large they are...

[2020-11-03 15:54] #5561 closed, assigned to nobody

[2020-11-04 02:02] zhengshundong01 commented on #5564
em...I didn't make my question clear. Our application is deployed in Jetty and USES JPA, but Jetty hasn't scanned @Persistencecontext or persistence.xml. There are no JPA packages in my application. How can I configure Jetty to support my application?

[2020-11-04 02:03] james-z-repo commented on #5564
em...I didn't make my question clear. Our application is deployed in Jetty and USES JPA, but Jetty hasn't scanned @Persistencecontext or persistence.xml. There are no JPA packages in my application. How can I configure Jetty to support my application?

[2020-11-04 04:06] joakime commented on #5564
There's nothing in Jetty that is involved in setting up, using, configuring, executing, referencing, etc ... for JPA.
That's solely the responsibility of the 3rd party jars that you add to your WebApp for either JPA or CDI.

* https://github.com/eclipse/jetty.project/search?q=PersistenceContext
* https://github.com/eclipse/jetty.project/search?q=%22persistence.xml%22

The scanning for annotations

[2020-11-04 07:56] #5521 closed, assigned to gregw

[2020-11-05 00:23] lachlan-roberts opened #5573 "New Docker Hub rate limiting restrictions."
**Description**

We should review our current image rate usage to see if we are approaching the 100 limit.
https://www.docker.com/blog/checking-your-current-docker-pull-rate-limits-and-status/

If we are approaching this limit we should consider applying for the program for Open Source projects to get continued free access and freedom from restrictions for their communities and their users.
https:

[2020-11-05 00:43] suzith commented on #5451
I recently upgraded to jetty-9.4.32.v20200930 and intermittently getting following exception while accessing jsp for the first time :
org.apache.jasper.JasperException: Unable to compile class for JSP
	at org.apache.jasper.JspCompilationContext.compile(JspCompilationContext.java:612) ~[org.mortbay.jasper.apache-jsp-8.5.54.jar:8.5.54]
	at org.apache.jasper.servlet.JspServletWrapper.service(JspServl

[2020-11-05 08:35] sbordet commented on #5573
@lachlan-roberts I would say apply for the open source program.

[2020-11-05 08:43] olamy commented on #5573
+1 to apply

[2020-11-05 08:55] gregw opened #5575 "Add SEARCH as a known HttpMethod"
Add the method SEARCH (https://tools.ietf.org/html/draft-snell-search-method-02) as a known and easily parsed HttpMethod.
Do a check for any other new or likely methods to be added

[2020-11-06 15:20] evgenysavostyanov opened #5577 "Jetty CORS filter in in JBOSS EAP 6.4 (Java 8)"
**Jetty version**
jetty-servlets-9.4.34.v20201102
**Java version**
8
**OS type/version**
Red Hat Linux Operating Server
**Description**

We are trying to implement the jetty CORS filter in in JBOSS EAP 6.4 (Java 8) described in this article: https://access.redhat.com/solutions/344163#comments
Does it require a module with dependencies for the jetty-servlets.jar? We tried to implement the module ap

[2020-11-06 15:33] joakime commented on #5577
Yes, it would require `jetty-servlets.jar`, and `jetty-util.jar` to use as-is.

That's because it depends on the following ...

https://github.com/eclipse/jetty.project/blob/e46af88704a893fc12cb0e3bf46e2c7b48a009e7/jetty-servlets/src/main/java/org/eclipse/jetty/servlets/CrossOriginFilter.java#L40-L42

You might be better off just copy/pasting it into your own project, and finding alternative techn

[2020-11-06 16:36] evgenysavostyanov commented on #5577
Thank you, @joakime . We will add the dependencies to these classes in our module configuration and try again. Will provide an update once done.

[2020-11-06 21:22] pkcs11newbie opened #5579 "Enable TCP Keep-Alive in jetty"
Jetty 9.4.26

OpenJDK11

Hello

We have http request that takes too long to be processed by the server. Because connection is idle, proxy server times out. I've been researching into TCP Keep-Alive functionality.
https://tldp.org/HOWTO/TCP-Keepalive-HOWTO/overview.html

Our application is an embedded jetty server. How would I enable **TCP Keep-Alive** in jetty.

Thanks.

[2020-11-06 21:27] sbordet commented on #5579
TCP Keep-Alive is a feature of the TCP stack, not of Jetty, and will not help with your problem.

You need to either fix your application to take less time to process requests, or configure the proxy with longer idle timeouts, or change the structure of your application so that you submit tasks that take a long time and then you notify the client of the result when it's ready.

[2020-11-06 21:48] pkcs11newbie commented on #5579
Thank you for confirming

[2020-11-06 22:02] #5579 closed, assigned to nobody

[2020-11-07 03:38] horizonzy commented on #2205
I find a quick way to reproduce it.
just uninstal httpdebugger when your nio program is running, nio bug occur immediately.
Now, oracle jdk team is tracing it. https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8255627

[2020-11-07 20:20] shaifulcse opened #5580 "Downloading all the jars"
I am building fan network for different open source projects: Jetty is one of them. For that, I need to collect all the jars first.
I have cloned the source code (checkedout to 4c5d0319b108afdf448b5585e0347227b702f08c) and trying to get all the dependency jars with the command:
`mvn dependency:copy-dependencies`

This command works for two other projects. But for Jetty it's not working. The follow

[2020-11-07 22:15] sbordet commented on #5580
You say you have checked out 4c5d031, which is an interim commit from August 2016.

Check out, instead, a valid release tag such as `jetty-10.0.0.beta3` and all will be good.

[2020-11-07 22:33] joakime commented on #5580
That's attempting to access a `<classifier>tests</classifier>` artifact.

But your command line has `-Dmaven.test.skip=true`, which skips the compilation and execution of tests.
Switch from `-Dmaven.test.skip=true` to `-DskipTests` instead, that will still allow the tests to compile and package, but doesn't execute the tests.

See https://maven.apache.org/surefire/maven-surefire-plugin/examples/sk

[2020-11-07 22:33] #5580 closed, assigned to nobody

[2020-11-07 23:20] shaifulcse commented on #5580
Even with that, it failed. And when I do

Failed to execute goal on project jetty-util: Could not resolve dependencies for project org.eclipse.jetty:jetty-util:jar:10.0.0-SNAPSHOT: Could not find artifact org.eclipse.jetty:jetty-slf4j-impl:jar:10.0.0-SNAPSHOT -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using the -X sw

[2020-11-08 02:17] #4139 closed

[2020-11-08 11:36] sbordet commented on #4281
Fixed in Jetty 10 as part of #4400 with commit 0f2ddc8c9f1ab0e677e3b6999992b2d88a0bc838.

[2020-11-08 11:36] #4281 closed

[2020-11-08 16:07] joakime commented on #5580
You switched from Jetty 9.x to 10.x

Did you mean to do that?
If you want to stick with Jetty 10.x, then use Java 11+, Maven 3.6.x, and `mvn clean install -DskipTests` from the root of the project.

[2020-11-09 05:14] lachlan-roberts commented on #5320
This is fixed in `9.4.34`.

[2020-11-09 10:26] gregw opened #5596 "Implement minimal support for Servlet upgrade method"
We currently do no support the servlet 4.0 upgrade method, so we cannot completely pass the TCK tests.
We should do a minimal implementation to pass these tests.

[2020-11-09 10:37] gregw commented on #5596
The reason we have not implemented update to date is that for all specific usages (eg websocket upgrade) it is far more efficient to upgrade to a specific Connection implementation that links through to a specific API for the new protocol.

However, the servlet upgrade mechanism requires that a `ServletInputStream` and `ServletOutputStream` are provided to the `HttpUpgradeHandler`, which implies t

[2020-11-09 20:00] jmcc0nn3ll opened #5603 "We need single page version of Jetty 9 documentation."
**Jetty version** Jetty 9

**Java version** n/a

**OS type/version** n/a

**Description**

Jetty 10 and Jetty 11 have single page documentation output and Jetty 9 still uses asciidoc -> docbook to spit out chunked html output.  We need a version of the Jetty 9 documentation that drops the docbook render chain and instead produces a single output page akin to how the newer versions do it.  We can e

[2020-11-09 20:46] tchgitav opened #5605 "Blocked IO Thread not woken"
**Jetty version** 9.4.33.v20201020

**Java version** 1.8

**OS type/version** Redhat 7.4

**Description**
I am seeing intermittent occurrences of connection loss from the server
It is not often but we haven't seen this issue when using the 9.2.x version before the upgrade

From the client we see
`KeepAliveFailure The underlying connection was closed: A connection that was expected to be kept alive

[2020-11-09 21:09] sbordet commented on #5605
You send a request with content, but the request is not authorized and it's responded with a 401.

If it's your application that sends the 401, then your application should read the request content before sending the 401.

If you have setup some Jetty Authenticator and it's Jetty that replies with the 401, there is not much that can be done aside making sure beforehand that your request can be acc

[2020-11-09 21:49] tchgitav commented on #5605
I believe this 401 is normal as I see the same response in other calls which do not error
I've provided some logs for when there is no error on the client side

[code]

[2020-11-09 22:10] joakime commented on #5605
On the first dump look at the `HttpConnection@eaa5362` you'll see that it was reading what looks like json, but didn't finish reading it.

The abort occurred at `HttpConnection@eaa5362[p=HttpParser{s=CLOSE,13140 of 14781}` which means there was still content on that connection, in an unread state, so it aborted/closed that connection.

[2020-11-09 22:17] tchgitav commented on #5605
The content is xml

Yes I agree, that is the same conclusion I arrived at
The connection was aborted because the connection thought the parsing was finished when in fact there was still some more

What I don't understand is why that happened and if there's something I can do/configure to avoid this issue

And to confirm, this is just jetty side http parsing correct?
It hasn't reach the web applica

[2020-11-09 23:16] sbordet commented on #5605
As I said, if your application is generating the 401, it must read the request content up to -1.

In the logs above no content is read, the response is generated and few lines after you can see `HttpParser{s=CONTENT,0 of 14781}`:

[code]

What happens next is that Jetty tries to consume the content that arrived so far, exactly to try to be as nice as possible.

It so happens that there are 13140 b

[2020-11-10 03:00] tchgitav commented on #5605
Isn't jetty reading the content?

The weird thing is it is happening intermittently, meaning for several hours maybe only show up once and all the other requests are processed fine
I'll look into the application/libraries to see if there's any play there; I didn't see exceptions on the server logs

We never came across this issue when running the same application with the 4.2.x jetty

Thanks for y

[2020-11-10 08:22] sbordet opened #5633 "Allow to configure HttpClient request authority"
**Jetty version**
9.4.x

**Description**
When `HttpClient` is used in a proxy, it may connect to backend servers using a destination that is different from the authority that the remote client used.

For example, the `HttpClient` in the proxy may choose to connect to the backend server at `1.2.3.4:5678` while the client sent the request to `foo.bar.com:80`.

Would be great to be able to specify th

[2020-11-10 08:24] sbordet commented on #5633
For HTTP/2 this has a direct translation to the `:authority` pseudo header.

For HTTP/1.1 should the authority be used as the `Host` header? @gregw thoughts?

[2020-11-10 08:29] sbordet commented on #5605
Jetty is reading the content on behalf of the application. It is the application that calls `httpServletRequest.getInputStream().read(...)`.

If the application does not call `read(...)` Jetty does not "read" the request content.

As I said, the fact that you get this intermittently may be due to the fact that the whole content is already arrived to the server when the 401 is produced. It may depe

[2020-11-10 08:39] gregw commented on #5605
The interesting thing to consider here is that it is jetty not the application that is sending the 401.  So perhaps we do have a responsibility to consume the input... or to at least make an attempt at it.

I'm wondering if internally we should be doing the following before committing the 401:

- try to consume the input in a non-blocking way
  + If content is consumed, then send 401 normally
  +

[2020-11-10 09:15] sbordet commented on #5310
@sukawanth are you able to build and test branch `jetty-9.4.x-5310-http2_goaway` to test whether the fixes work for you?

[2020-11-10 10:45] gregw commented on #5605
@sbordet I have verified that we don't normally add a `Connection: close` on a 401 response.

So in summary, I think we are doing the right thing, by not reading the content.  However we could be clearer by sending a `Connection: close` on the 401 when we know we are likely to abort: either because we have content which we wont try to read or we've tried to read it non-blocking, but would block.

[2020-11-10 12:52] joakime commented on #5633
+1 for having the `Host` header in HTTP/1.1 be the authority.

[2020-11-10 14:23] sbordet commented on #5605
@gregw +1 on adding `Connection: close` -- I thought we did already.

For HTTP/2, since it's multiplexed, if the client sends the whole content, the server will read it and discard it.

[2020-11-10 15:08] joakime commented on #5605
Please make the `Connection: close` on 401 response only if there is unconsumed content.
Having it force the close on other scenarios seems wasteful.

[2020-11-10 16:39] gregw commented on #5605
@joakime well I'd say that sending content that may need to be authenticated is wasteful :) But yes at the very least we will only add a Content: close if there is content, so most GETs will be OK.  If it is simple then we might try a consumeAll prior to sending the 401, so we can know if all content can be consumed or not.

@tchgitav In your usecase, where you are sending content that might be re

[2020-11-10 18:14] tchgitav commented on #5605
Thanks for the discussion

I am currently looking into the source code of the Apache cxf and woodstox utf8Reader to see what might have happened
Could be somewhere there it errored out or thought it finished the content when it hadn't

Regarding the 401, I will focus on that afterwards.
But I believe it might be part of the normal handshaking that is done by Spring security or the client did not p

[2020-11-10 22:44] tchgitav commented on #5605
I am testing the results if I upgrade the woodstox-core dependency to 6.2.1
Originally I wanted to enable finer logging for this dependency but there doesn't seem to be much logging in this library

For the 401 response above, I think this is normal basic Authenticate behavior
I see the same behavior using SOAPUI
If I enable Authenticate pre-emptively on the SOAP UI side, then I don't see the 401

[2020-11-11 06:18] japgolly opened #5639 "9.4.34 logging goes nuts"
**Jetty version**
9.3.34

**Java version**
OpenJDK 64-Bit Server VM GraalVM CE 20.2.0 (build 11.0.8+10-jvmci-20.2-b03, mixed mode, sharing)

**OS type/version**
Arch & Amazon Linux

**Description**

So I have the following settings that I bundle along with Jetty and my webapp:

`resources/jetty-logging.properties`:
[code]

`start.d/logging-logback.ini`:
[code]

Up until 9.4.34 it's been working fi

[2020-11-11 07:29] japgolly commented on #5639
My bad; this isn't a Jetty issue. Sorry about that.

It turns out something else went wrong which resulted in my `logback.xml` being copied to the container.

[2020-11-11 07:29] #5639 closed, assigned to nobody

[2020-11-11 08:36] gregw commented on #5605
@tchgitav The 401 is indeed a standard part of the auth conversation.
The issue is that if you send a POST with a large body that is not authenticated, so a 401 response is sent, then what should the server do with the body.   Jetty makes an effort to consume it, but if it doesn't succeed without blocking, then it aborts that connection... which a server is entitled to do.

So other than the warni

[2020-11-11 14:27] tchgitav commented on #5605
I believe my issue is during the authenticated request and not the initial un-authenticated request
Otherwise I'd see this issue more frequently

I think if you change the 401 response to a connection close, it might not play well with basicAuth
I can try the changes

Update: I tried running with the updated woodstox dependencies, still observe this exception
I'll keep looking

[2020-11-11 16:49] #5575 closed, assigned to gregw

[2020-11-11 17:05] gregw commented on #5605
@tchgitav The request can't be authenticated, else we would not be sending a 401.
Closing the connection will work fine with BASIC... it dates from HTTP/1.0 days and worked perfectly well before there was even a concept of persistent connections.

So can you answer if you are just seeing the exception or you are also seeing bad behaviour (eg missed request/response?)
If it is just the exception th

[2020-11-11 17:08] tchgitav commented on #5605
Yes, we are seeing the missed request on the application side
As well as the connection closed error on the client side

No exceptions on the server logs

[2020-11-11 17:10] gregw commented on #5605
@tchgitav So the missed request on the application side is the one that the 401 is sent for?
Does the client resend iit, or does it just get too upset about the closed connection and not retry it??
That could be because clients are not allowed to retry POSTs, so the problem could simply be that it was not authenticated for some reason???

Do you know why it is getting a 401?

[2020-11-11 17:21] janbartel commented on #5486
Merged.

[2020-11-11 17:21] #5486 closed, assigned to janbartel

[2020-11-11 17:26] tchgitav commented on #5605
The missed request is for the one with the credentials which was being parsed but for some reason the connection was aborted due to the IOException: unconsumed input.
I think only the authenticated requests reaches the application so long there are no issues

The client does not resend the request if there was a error in the connection

I thought we agreed that was the normal behavior with basic a

[2020-11-11 20:18] WalkerWatch opened #5642 "Security Reports link broken in Documentation"
Link to Security reports is broken in the documentation.

[2020-11-11 20:19] #5642 closed, assigned to WalkerWatch

[2020-11-12 01:01] lachlan-roberts commented on #5320
Fixed int `10.0.x` with PR #5563.

[2020-11-12 01:01] #5320 closed, assigned to lachlan-roberts

[2020-11-12 12:02] janbartel opened #5644 "Remove all profiles for session tests"
Now that all session tests can be run without needing any local installs of anything, we should remove profiles that turn off testing:  session testing should be executed whenever tests are executed.

[2020-11-12 12:12] gregw commented on #4711
@sbordet  See #5643... is that sufficient to close this issue?

[2020-11-12 16:16] sbordet opened #5645 "Backport graceful HTTP2Session shutdown"
**Jetty version**
9.4.x

**Description**
In light of the work for #5310, the work for #2788 should be backported from Jetty 10 to Jetty 9.4, so that both share the same code for session closing protocol.

[2020-11-12 16:18] #5562 closed, assigned to nobody

[2020-11-12 16:31] gregw commented on #5605
@tchgitav
The connection was aborted because otherwise the server is vulnerable to a DOS attack.

Consider any server that uses BASIC authentication. An attacker can send an unauthenticated POST request with a 4GB body.  Because it does not go to the applications, there is no change for the app to look at that and say - whoa that's too big I'm not going to consume that.   Instead jetty is sending

[2020-11-12 23:18] tchgitav commented on #5605
@gregw
Thank you for your feedback

Enabling pre-emptive authenticate did seem to help us
Ran requests for several hours and did not see the connection close issue on the client side

I understand your point regarding the possibility of the server closing the connection due to the 401
Are you saying if it was a GET call instead, I would see different behavior?

I can pass that to the dev team. The

[2020-11-13 08:49] gregw commented on #5605
Great!

GETs are safe and idempotent, so clients are allowed to retry them automatically.  So your client should be able to retry on a new connection when it sees the 401 and closed connection.
However some clients may still not retry... depends on your client.  It is allowed to retry with a GET, but it may not.

It depends on the speed of your network, the size of your OS buffers and dispatching

[2020-11-13 10:19] olamy commented on #5644
you want to run all remote-session-test per default? the build might be long
the only local install is `docker`

[2020-11-13 11:14] janbartel commented on #5644
I think that we should use profiles only very rarely, otherwise we risk forgetting to turn them on or off during ci or release builds. We need to be very sure about what is actually being built so we can have confidence in the builds.

So, I'm in favour of executing _all_ tests in the test phase: if that needs an install of docker, I'm fine with that. I assume @sbordet will disagree?

[2020-11-13 11:17] olamy commented on #5644
maybe we could have a profile not activated per default to skip those long tests (autobahn tests are very long as well)

[2020-11-13 12:03] vmassol opened #5649 "NullPointerException Bug/regression in Jetty 9.4.33"
**Jetty version**
9.4.33

**Java version**
Any

**Description**

In the XWiki project (https://xwiki.org), we run functional tests using the official jetty docker image. We use tag `9` and suddenly a day ago (or maybe a few days ago), our tests started to fail with:

[code]

After analysing we've found that when using version 9.4.32 it works fine and thus we assume that there's been a bug or regre

[2020-11-13 12:06] joakime commented on #5649
Duplicate of #5555

Fixed in release [9.4.34.v20201102](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.34.v20201102)

[2020-11-13 12:08] joakime commented on #5649
xwiki is on github, you might want to turn on dependabot on those projects, that would have told you about the updated dependencies (including the Jetty 9.4.34 release with it's changelog).

[2020-11-13 12:22] vmassol commented on #5649
@joakime thanks for the fast answer. So I guess the issue is that it's not been released under dockerhub yet since I only get 9.4.33 there: https://hub.docker.com/_/jetty?tab=tags

[2020-11-13 12:26] vmassol commented on #5649
Thanks for the suggestion. We do have dependabot turned on. Now I don't see how that could help since we use dockerhub tag `9` in our CI pipeline groovy script (see https://github.com/xwiki/xwiki-jenkins-pipeline/blob/2d391a96c5f5e32d046ceccc83016e9611e20782/vars/dockerConfigurations.groovy#L45). Are you sure that dependabot would be that smart?

[2020-11-13 12:31] vmassol commented on #5649
I have a doubt. Dependabot is only for security issues, right? This is what we see at https://github.com/xwiki/xwiki-platform/network/alerts I guess (and we get an email too).  How is this issue related to security? BTW the alert dashboard is empty for XWiki (no mention of Jetty 9.4.34 there).

[2020-11-13 12:37] joakime commented on #5649
Dependabot is for all dependencies, across a large variety of package eco systems (including docker).

https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/about-dependabot-version-updates

Your project, https://github.com/xwiki/xwiki-jenkins-pipeline/tree/master, does not have the normal dependabot configuration present (the `.github/dependabot.yml`) in it's default b

[2020-11-13 12:53] vmassol commented on #5649
Thanks @joakime I wasn't aware of that, we were just using the security part of dependabot. I still don't see how it would have warned us but I'm proposing to the xwiki project to start using it :)

[2020-11-13 14:11] joakime commented on #5649
Also, the Eclipse Jetty docker images are managed at https://github.com/eclipse/jetty.docker

I opened an issue about the missing 9.4.34 release at https://github.com/eclipse/jetty.docker/issues/32

[2020-11-13 14:25] tchgitav commented on #5605
Thanks for concluding the cause of why we are seeing this issue.

Besides pre-emptive authentication is the only other client recourse the retry logic?

[2020-11-14 23:57] jalberti opened #5650 "Issue when using WildFly OpenSSL 1.1.3.Final with Jetty Server 9.4.34"
**Jetty version**

WildFly OpenSSL: 1.1.3.Final
Jetty Server: 9.4.34.v20201102

**Java version**

Java 8

**Question**
Cross posting here, see also https://github.com/wildfly-security/wildfly-openssl/issues/89, I was wondering if the jetty community has seen this issue before somewhere, and maybe somebody has an idea what the root cause could be?

The server is configured to use OpenSSL.
In the cl

[2020-11-15 08:52] gregw commented on #5650
At the very least we should avoid the NPE.  But the question is, what should we do with a request on an SSL connection that does not have a full session?  Reject the request? Allow the request to continue, but not marked as secure?    Or do we just say this is some invalid behaviour in the SSL layer and failing with an NPE is as reasonable as anything else.

[2020-11-15 08:57] gregw commented on #5650
Also whilst fixing this, lets fix the repeated calls to `getSslSessionData()` [here](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/main/java/org/eclipse/jetty/server/SecureRequestCustomizer.java#L336-L340)

[2020-11-16 14:24] sbordet commented on #5650
I don't think we should be too defensive when passed non-valid `SSLSession` objects from a TLS implementation -- we trust the TLS implementation to do things right, otherwise we would need to write a million tons of defensive code.

[2020-11-16 15:09] janbartel opened #5675 "Update osgi test dependencies"
Update the following osgi test dependencies:

biz.aQute.bnd bndlib 5.2.0
org.ops4j.pax.tinybundles tinybundles 3.0.0
org.ops4j.pax.url pax-url-wrap  2.6.2
org.ops4j.pax.url pax-url-aether 2.6.2

[2020-11-16 15:40] #5633 closed, assigned to sbordet

[2020-11-17 14:02] janbartel opened #5679 "Distro argument --list-all-modules does not work"
**jetty-10.0.x**

[938] java -jar ../jetty-home/start.jar --list-all-modules

Modules [*]:
============
java.lang.UnsupportedOperationException
	at java.base/java.util.Collections$1.remove(Collections.java:4712)
	at java.base/java.util.AbstractCollection.remove(AbstractCollection.java:299)
	at org.eclipse.jetty.start.Modules.listModules(Modules.java:173)
	at org.eclipse.jetty.start.Main.listModule

[2020-11-17 14:06] janbartel opened #5680 "No way to see which modules are enabled for the distro"
**jetty-10.0.x**

Why is it no longer possible to list which modules have been enabled (and whether they are transitively or explicitly enabled) for the distro?

[2020-11-17 14:08] janbartel opened #5681 "Unrecognized jetty-home/start.jar command line option not reported clearly"
**jetty-10.0.x**

If I use an unknown command option to start the distro like so:
[941] java -jar ../jetty-home/start.jar --foople

Jetty simply starts. I would expect at least an "unknown option" type warning, maybe even not starting.

[2020-11-17 14:14] sbordet commented on #5680
@janbartel `java -jar start.jar --list-modules` from the `$JETTY_BASE` does not work for you?

[2020-11-17 14:14] joakime commented on #5681
In this case, `--foople` is seen as an unknown command requiring a forked JVM.

It's passed to the forked JVM as a JVM argument.

Seeing as we run on a large variety of JVMs, this is about as good as we can get.

[2020-11-17 14:15] joakime commented on #5680
the `--list-config` also shows it (at the top) in Jetty 10.

[2020-11-17 14:16] joakime commented on #5679
were you in a jetty.base when you ran that?
I cannot replicate with `jetty-10.0.x` head.

[2020-11-17 14:21] zzzi2p opened #5682 "IllegalArgumentException: Invalid Java version 11.0.9.1"
**Jetty version**
9.3.29

**Java version**
openjdk version "11.0.9.1" 2020-11-04

**OS type/version**
Ubuntu 18.04/20.04

**Description**
java.lang.ExceptionInInitializerError
	at org.eclipse.jetty.webapp.WebInfConfiguration.findAndFilterContainerPaths(WebInfConfiguration.java:185)
	at org.eclipse.jetty.webapp.WebInfConfiguration.preConfigure(WebInfConfiguration.java:155)
	at org.eclipse.jetty.web

[2020-11-17 14:33] janbartel commented on #5680
@sbordet --list-modules lists all modules, not those that are enabled.

@joakime not according to --help:

[code]

[2020-11-17 14:40] #5272 closed, assigned to janbartel

[2020-11-17 14:41] joakime commented on #5682
Fixed in Jetty 9.4.x as part of Issue #2284

[2020-11-17 14:42] joakime commented on #5682
Also, Jetty 9.3.29 is not compatible with other Java 11 things (like bytecode scanning of MultiRelease jar files)

[2020-11-17 14:42] #5682 closed, assigned to joakime

[2020-11-17 15:02] gregw commented on #5681
yeah, this is kind of a known problem.... without --exec, we don't start another JVM so you don't get an error from the JVM:
[code]

I guess we could change this WARN to a fatal error?    Shall we?  do it now for 10 or wait for 12???

[2020-11-17 15:06] janbartel commented on #5681
Well, could the output be at least a little more explicit? I had no idea that the WARN was related to the --foople.

[2020-11-17 15:20] janbartel opened #5684 "Review disabled tests in Jetty 9.4.x"
We should only have very few disabled tests, and they should be disabled preferably with a condition.

See Issue #6327 for tests disabled in Jetty 10.0.x

This is the list of `@Disabled` for jetty-9.4.x:

 - [ ] [jetty-client/src/test/java/org/eclipse/jetty/client/ExternalSiteTest.java:40](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-client/src/test/java/org/eclipse/jetty/client

[2020-11-17 15:23] joakime commented on #5684
The `@DisabledOn*` are JVM / OS specific, and likely are sane decisions.
Also, don't forget there's also `@EnabledOn*` as well (which skip tests too).

I see a few `@DisabledIf*` annotations in this list, those are interesting (to me)

And there's also Assumptions that disable tests based on runtime criteria as well. (a JVM that doesn't support ALPN for example)

[2020-11-17 15:25] joakime commented on #5684
You can use the "skipped" column (sort by it) on the latest test run to know which modules to focus first on.

Example: https://jenkins.webtide.net/job/jetty.project/job/jetty-9.4.x/1863/testReport/ (click the "Skip" column heading once)

[2020-11-17 15:37] joakime commented on #5684
@janbartel I edited your issue to make it a task list that any of us can check off when we've reviewed those @Disabled entries.

[2020-11-17 15:39] joakime commented on #5684
The ones labelled `@DisabledOnJre({JRE.JAVA_8, JRE.JAVA_9, JRE.JAVA_10})` are basically JRE 11+
Those look sane to me.

[2020-11-17 22:03] gregw commented on #5679
I replicated this in a fresh base with http and deploy enabled

[2020-11-17 22:03] #5679 closed, assigned to gregw

[2020-11-17 22:03] #5680 closed, assigned to gregw

[2020-11-18 05:30] arshadwkhan opened #5685 "AsyncProxyServlet calls onProxyResponseSuccess() when internally it throws "Response header too large" exception"
**Jetty version**
9.4.30

**Java version**
8

**OS type/version**
Mac

**Description**
I am using embedded jetty version 9.4.30 and use AsyncProxyServlet to reverse proxy request to the server. When the server returns a very large header, AsyncProxyServlet calls onProxyResponseSuccess() with proxyResponse.status=200 even though the servlet sends http status 500 to the client.  Is it possible to de

[2020-11-18 07:58] james-z-repo opened #5686 "jetty add context environment args"
**Jetty version**
9.4.19.v20190610.
**Java version**
1.8
**Question**
i hava 3 apps in webapps：A B C
i want A app active config file in path: spring.config.location=/usr/local/dev.yml

app B: spring.config.location=/usr/config/test.yml

app C: spring.config.location=/usr/prod/prod.yml

How should I configure to activate different files

[2020-11-18 08:23] gregw commented on #5686
@zhengshundong01 I don't think this is a Jetty question.  I think it is a spring question.   Also it is best to ask usage questions on the forums rather than open issues.

In jetty, you create different webapps by having different `ContextHandler`s created under a `ContextHandlerCollection`.   This can be done many ways: with the deployer of WebAppContexts (which extend `ContextHandler`; programma

[2020-11-18 08:23] #5686 closed, assigned to nobody

[2020-11-18 08:24] gregw commented on #5685
@arshadwkhan can you attach any stack traces that you have, as that will make it easier to replicate.

[2020-11-18 17:04] arshadwkhan commented on #5685
[jetty.log](https://github.com/eclipse/jetty.project/files/5561536/jetty.log)

Look for "org.eclipse.jetty.http.BadMessageException: 500: Response header too large"

[2020-11-18 17:07] arshadwkhan commented on #5685
@gregw Attaching logs
[jetty.log](https://github.com/eclipse/jetty.project/files/5561554/jetty.log)

[2020-11-18 21:00] joakime commented on #5649
@vmassol the hub.docker images for jetty have been updated.
Close this issue if it's working for you.

[2020-11-18 23:37] joakime opened #5687 "Failure in RoundRobinConnectionPoolTest.testRoundRobin([5] FCGI)"
**Jetty version**
jetty-10.0.x HEAD

**Description**
Stacktrace
[code]
Standard Error
[code]

[2020-11-19 10:21] sbordet commented on #5687
Fixed by 9caabea.

[2020-11-19 10:21] #5687 closed, assigned to sbordet

[2020-11-19 10:33] vmassol commented on #5649
Thanks a lot @joakime . I'll check that today

[2020-11-19 12:00] shimon-cherny opened #5689 "Jetty ssl keystorePath doesn't work with absolute path"
Hi,

After upgrading jetty from 9.4.24 to 9.4.34 i have noticed that my server failed to start if this property at jetty-ssl-context.xml  contained absolute path.
<Property name="jetty.sslContext.keyStorePath" deprecated="jetty.keystore" default="/opt/something/something/keystore.jks"/> and only works with relative path.

Jetty fails to start as it appends a prefix of base path to the configuratio

[2020-11-19 12:17] vmassol commented on #5649
Closing for now (will take some time for our CI to run all our func tests on Jetty 9.4.34 but I'm sure it'll work). Thanks again.

[2020-11-19 12:17] #5649 closed, assigned to joakime

[2020-11-19 17:16] sbordet commented on #5689
@shimon-cherny the `jetty.sslContext.keyStorePath` property is relative `$JETTY_BASE` and it has been so for all the Jetty 9.4.x series.

Perhaps there is something else that is making your test fail to start?

Can you detail the error, stack trace, etc.?

[2020-11-19 17:22] sbordet commented on #5689
@gregw what do you think of changing this for 10?

We can support maybe expansion of properties.

From:

[code]

to:

[code]

Thoughts?

[2020-11-19 18:12] arshadwkhan commented on #5685
@gregw @joakime Did you get a chance to look into this issue ? Will apprreciate your guidance on this ?

[2020-11-19 21:55] jmcc0nn3ll opened #5690 "Documentation: cache files in documentation artifacts"
**Jetty version** 10, 11

**Java version** n/a

**OS type/version** n/a

**Description**
Noticed some cache files in the documentation artifacts for 10 and 11.  I think they stem from the automatic generation based on those flow diagrams we added a while back. I suspect we can filter these out in the assembly descriptor.

	modified:   documentation/jetty-10/operations-guide/.asciidoctor/diagram/di

[2020-11-20 08:56] gregw commented on #5685
@arshadwkhan not yet.  Other priorities sorry.

But just to clarify the scenario:

1. request received client->proxy
2. request sent proxy->server
3. response received server-> proxy with large header
4. 200 response fails to be sent proxy->server because of header too large.  500 actually sent, but onProxyResponseSuccess is called with 200

I think this is because `onProxyResponseSuccess` is an e

[2020-11-20 09:01] gregw commented on #5689
I think we need to protect backwards compatibility so we'd need a new property... either for the directory or for the full path:
[code]

[2020-11-20 11:42] VasilVasilev93 commented on #5006
@sbordet
I have the same issue, using Conscrypt as provider(conscrypt-openjdk-uber, version 2.5.0) on jetty 9.4.30.v20200611, jdk 1.8.0_231 and trying a server push. Attaching the debug logs
[log.zip](https://github.com/eclipse/jetty.project/files/5573250/log.zip)

[2020-11-20 15:48] sbordet opened #5691 "HttpInput may skip setting fill interest"
**Jetty version**
10.0.x

**Description**
`HttpInput.run()` may try to get the next content, but if it is `null` it does not set fill interest.

This also happens in `AsyncContentProducer.isReady()`.

[2020-11-20 19:20] arshadwkhan commented on #5685
I think OnProxyResponseSuccess() is called after a response is committed to the client. It sends http status 500 to the client.
This problem started happening after we upgraded from 9.4.27 to 9.4.30. Before the upgrade to 9.4.30 it used to call onProxyResponseFailure().

Here is the call stack when header overflow is detected.

[code]

process:761, HttpConnection$SendCallback (org.eclipse.jetty.se

[2020-11-21 10:45] sbordet commented on #2423
See also #3766.

[2020-11-21 10:45] sbordet commented on #2423
Fixed with #5222.

[2020-11-21 10:45] #2423 closed

[2020-11-21 10:53] sbordet commented on #858
The behavior of using the KeyStore as the default TrustStore has been restored by fixing #901.

[2020-11-21 10:53] #858 closed

[2020-11-21 15:42] sbordet commented on #5690
Why do you want to filter them out? What is the problem with these files?

[2020-11-21 16:04] sbordet commented on #5006
@VasilVasilev93 from your logs, you are attempting to push a large number of images (some 300-400 of them) - which generates a large number of buffers whose encryption overflows the single output buffer.

While we may try to take this case into account, I would recommend to not push these many images at once.

[2020-11-21 16:14] VasilVasilev93 commented on #5006
@sbordet Thanks for the quick response. Btw, this issue cannot be reproduced when not using Conscrypt provider. 1000 images are being pushed with no issues.

[2020-11-21 21:30] sbordet commented on #5006
@VasilVasilev93 did you report a bug to Conscrypt? If so, can you link it here? This does not seem like a Jetty issue.

[2020-11-21 22:16] VasilVasilev93 commented on #5006
@sbordet No, but I just created, here's the [issue](https://github.com/google/conscrypt/issues/929)

[2020-11-21 22:54] olamy commented on #2852
more time

[2020-11-22 07:54] shimon-cherny commented on #5689
This is the log from the previous jetty version (see that it works just fine). There is some change here....

2020/11/19 13:55:52 | 2020-11-19 13:55:52.631:INFO:oejus.SslContextFactory:WrapperSimpleAppMain: x509=X509@67724b(almoctane.net,h=[swinfra.net],w=[swinfra.net]) for Server@670025db[provider=null,keyStore=file:///opt/octane/conf/keystore.jks,trustStore=file:///opt/octane/conf/keystore.jks]

[2020-11-22 10:32] joakime commented on #5689
Wait.  What?

What is this file?
That directory `.../server/conf/jetty-ssl-context.xml` is not a known location for finding XML files per the jetty start mechanism.

Also, why are you editing the XML files??  That's strongly discouraged.

Huh?  This isn't the jetty start.jar mechanism for sure.
Yeah, all bets are off for the XML files then.

This is essentially a custom Embedded Jetty with custom

[2020-11-22 12:02] shimon-cherny commented on #5689
Not sure i understood your point.
Yes, we are using embedded jetty and starting it with tanuki wrapper and these configurations is updated on our application startup.

I am pretty sure in both versions the same file has been loaded in jetty. While at 9.4.24 it worked as is and at 9.4.34 it doesn't

Any thing i can do besides roll back to previous version or writing an upgrader for this configurati

[2020-11-22 14:30] joakime commented on #5689
The directory `/conf/` is not a valid directory for Jetty `start.jar`.

Nothing in jetty's start.jar will look for content in a directory called `/conf/`.

The main class `oejs.Server` looks like the normal Jetty `org.eclipse.jetty.server.Server`, that's good.

The `WrapperSimpleAppMain` appears to be a thread name.
Is that what the tanuki wrapper does?

Now, why are you using `jetty-ssl-context.x

[2020-11-22 15:33] shimon-cherny commented on #5689
We are deploying jetty as separate directory called server which consists of 'conf' folder (where all jetty xml configurations files are being deployed) and 'lib' folder (where all jetty jars are being deployed).

Then we have a custom jetty launcher which configures jetty server to look into this conf directory and reads from there start.ini and configures jetty server to activate relevant  modul

[2020-11-22 18:15] riyazmohd opened #5693 "HttpSession lastaccessedtime not getting updated in jetty 9.4.18"
I see the lastaccessedtime  not getting updated when using jetty-9.4.18 . The method  'session.getLastAccessedTime()' still shows the login time , due to which the jetty server is logging out even if the end user is operating on the application . (sessionDestroy() is getting called after 15 mins)
As i see recurring  dirty=true  while storing in SessionDataStore , l assume sessiondatastore is unabl

[2020-11-23 06:51] olamy commented on #5644
#5703

[2020-11-23 08:52] gregw commented on #5689
@shimon-cherny
As a work around, since you have edited the XML anyway, then you can just edit it to be:
[code]
@joakime I don't think there is anything wrong with being able to configure absolute paths for such things which are outside of jetty-base and jetty-home.   I have no idea how this could have worked in 9.4.24 as the XML is the same.... but regardless we should make sure we provide an opti

[2020-11-23 09:06] janbartel commented on #5693
@riyazmohd can you please paste what your SessionDataStore and SessionCache configuration is.

Also, please post your log with DEBUG enabled - I want to see DEBUG output from the JDBCSessionDataStore.

Have you confirmed that the session cookie is present on the requests received from the client?

And finally, you're 16 versions behind the latest jetty-9.4.x release, which is 9.4.34. As always, it

[2020-11-23 10:33] riyazmohd commented on #5693
@janbartel
We are using the default in-memory datastore for storing of session info. Attached karaf.log
[karaf.zip](https://github.com/eclipse/jetty.project/files/5582226/karaf.zip)
 the logs

We are using pax.web.jetty version-7.2.10 for jetty 9.4.18.
Attached the jetty.xml and jetty-web.xml
[jetty-config.zip](https://github.com/eclipse/jetty.project/files/5582251/jetty-config.zip)

Have you conf

[2020-11-23 11:03] lorban opened #5704 "Re-assess the state transitions done in AsyncContentProducer.isReady()"
**Jetty version**
10.0

**Question**
Is the call to `HttpChannelState.onContentAdded()` in `AsyncContentProducer.isReady()` really necessary after the first `if (content != null)` check in case it resolves to true?

If it happens that this call is unneeded, the javadoc contract on `ContentProducer.isReady()` is then wrong as it explicitly says that the state **MUST** be `UNREADY` or `READY` after

[2020-11-23 11:42] joakime commented on #500
Looks like Eclipse OSGi Services is on a different maven coordinate now.

See: https://search.maven.org/artifact/org.eclipse.platform/org.eclipse.osgi.services  (for Eclipse OSGi Services 4.2.0)

[2020-11-23 11:45] joakime commented on #500
I cannot find a version of the eclipse osgi services for 4.3 on maven central.

If the dependency isn't on maven central, we cannot use it.

_Even if a P2 repository exists on eclipse.org._

[2020-11-23 11:45] joakime commented on #500
Probably something we should upgrade for Jetty 10 or Jetty 11.

[2020-11-23 12:24] #5691 closed, assigned to sbordet

[2020-11-23 12:26] shimon-cherny commented on #5689
Thank you for all the comments.

@gregw
So instead of setting properties

`<Set name="KeyStorePath"><Property name="jetty.base" default="." /><Property name="jetty.sslContext.keyStorePath" deprecated="jetty.keystore" default="/opt/octane/conf/keystore.jks"/></Set>`

Just put the configuration as a value like this?

`<Set name="KeyStorePath">/opt/octane/conf/keystore.jks"</Set>`

BTW This is what j

[2020-11-23 13:10] lachlan-roberts opened #5706 "The WebSocket ServerUpgradeResponse can produce NPE in jetty 10."
**Jetty version**
10.0.x

**Description**
The `ServerUpgradeResponse` class needs to be reviewed and cleaned up and tested more thoroughly. If certain websocket headers are set directly in the response we throw NPE.

[2020-11-23 14:28] jmcc0nn3ll commented on #5690
They are an artifact of construction aren't they? or are they actually used in the final rendering.  If they are not transitory and are part of the final product then we can just close this out. It just caught me off guard when I saw '.' directories in the zip file.

[2020-11-23 14:53] sbordet commented on #5690
They are used in the final rendering.

[2020-11-23 15:34] #5690 closed, assigned to nobody

[2020-11-23 15:43] janbartel commented on #5693
@riyazmohd thanks for the log file and config, very enlightening.

From what I can see in the log file, it looks like the following is happening:

1. a user makes a request to the root context, which creates a session
2. the user then visits several other contexts, all of which receive the session cookie created at step 1 because the session cookie path is "/". Some of these contexts create sessio

[2020-11-23 16:09] joakime opened #5711 "Update to infinispan 11.0.x"
**Jetty version**
Jetty 10.x

**Description**
As discovered by @dependabot https://github.com/eclipse/jetty.project/pull/5699

Infinispan that Jetty is using is 9.4.8.Final, but version 11.0.5.Final is available.

@janbartel [pointed out](https://github.com/eclipse/jetty.project/pull/5699#issuecomment-732248186) that this update would need code changes and updated `*.mod` files, and would need to

[2020-11-23 16:10] joakime opened #5712 "Remove derby dependency"
There's only 2 modules that reference derby, both in scope=test:  jetty-plus.xml and test-loginservice. The dependency on derby for jetty-plus.xml can be deleted because it's just cruft and not used. We should try and get rid of the dependency for the test-loginservice and just use mocks.

_Originally posted by @janbartel in https://github.com/eclipse/jetty.project/issues/5696#issuecomment-7322598

[2020-11-23 16:11] janbartel opened #5713 "Get rid of test dependencies on derby"
There are 2 modules with test dependencies on derby:

* jetty-plus
* test-loginservice

jetty-plus is not actually dependent on derby for testing, and the dependency can be deleted.
We should also try to remove the dependency for the test-loginservice and replace it with mocks where necessary.

[2020-11-23 16:16] joakime commented on #5713
Duplicate of #5712

[2020-11-23 17:10] joakime opened #5714 "Create HttpClientConfiguration for Jetty 10.x"
**Jetty version**
Jetty 10.0.x

**Description**
Create new HttpClientConfiguration class that exposes the server side Jetty HttpClient to webapps.

[2020-11-24 01:06] sirmspencer commented on #5689
You could also create a symlink to a location inside jetty.base

[2020-11-24 01:10] sirmspencer opened #5716 "ResourceHandler, ResourceService, and DefaultServlet list files that have no read access"
**Jetty version**
jetty-distribution-9.4.34.v20201102

**Java version**
openjdk 14.0.2 2020-07-14
OpenJDK Runtime Environment (build 14.0.2+12-Ubuntu-120.04)
OpenJDK 64-Bit Server VM (build 14.0.2+12-Ubuntu-120.04, mixed mode, sharing)

**OS type/version**
Ubuntu 20.04

**Description**
I have the Jetty server set up to run as user jetty.  This user does not have read access to certain directories

[2020-11-24 09:24] sbordet commented on #829
We have 128 max concurrent streams per connection by default.

[2020-11-24 09:31] #5704 closed, assigned to lorban

[2020-11-24 10:20] riyazmohd commented on #5693
@janbartel
Thank you for your inputs ,we will think on recommendations made by you .
As per our code flow The session's root context is getting created in subclass of JAASLoginInterceptor.

We are creating the HttpSession by overiding the JAASLoginInterceptor and as soon as we encounter the url '/cxf/fncsdn/main/ping', Attached the code chunk.  [codechunk.zip](https://github.com/eclipse/jetty.proj

[2020-11-24 10:26] gregw commented on #5716
Jetty will always list directories with it's own permissions.
It is possible that the server has permission to read the directory but not the individual files.

Can you give us a listing with `ls -lsa` of the directory?

[2020-11-24 10:32] janbartel commented on #5693
@riyazmohd

"we have seen two instances of HttpSession for each session id. Only one of them has last access time updated by WEB transactions. Another HttpSession instance is not updated and gets time-out."  this could very well be a race condition that was fixed in jetty sessions several releases ago. Again, I urge you to update your version of jetty ;)

[2020-11-24 11:13] jaroslawr opened #5717 "GzipHandler will return damaged request bodies if body of some requests is not read"
**Jetty version**

`9.4.31.v20200723`

**Java version**

`11`

**OS type/version**

`Linux 5.9.0-1-amd64 #1 SMP Debian 5.9.1-1 (2020-10-17) x86_64 GNU/Linux`

**Description**

When a servlet running in embedded jetty with GzipHandler occasionally does not read the request body, the request bodies returned by Jetty in some of the subsequent requests are damaged - they seem to be a combination of bo

[2020-11-24 11:56] joakime commented on #5717
Please try Jetty 9.4.35.v20201120 and tell us if it's still a problem for you?

[2020-11-24 12:55] gregw commented on #5717
Thanks for the report, but I believe this is a duplicate of #5605 fixed in Jetty 9.4.35.v20201120

[2020-11-24 12:55] #5717 closed, assigned to nobody

[2020-11-24 13:05] jaroslawr commented on #5717
@joakime @gregw Upgrading did help, thanks.

[2020-11-24 13:33] janbartel opened #5720 "Tracking CQ for update to Jasper 10.0.0-M10"
Opening this issue to track CQ 22842 for updating to jakarta jsp/el impl from apache v10.0.0-M10.

[2020-11-24 15:03] jmcc0nn3ll opened #5721 "Javadoc on release for Jetty 9"
**Jetty version**
9

**Java version**
n/a

**OS type/version**
n/a

**Description**
There should be a jetty-documentation-9.4.x-javadoc.jar classified artifact deployed in the same way Jetty 10 and Jetty 11 have.  This makes scripting deployments to the website much easier.

[2020-11-24 15:05] jmcc0nn3ll commented on #5721
@olamy If memory serves this was something you got in place for 10 and 11, is there anything preventing us from doing this for 9, maybe java or plugin related?

[2020-11-24 16:35] WalkerWatch opened #5722 "Broken Documentation links"
**Jetty version**
9.4

There are a number of broken documentation links as reported in: https://github.com/eclipse/jetty.website/issues/4

[2020-11-24 19:39] jalberti commented on #5650
Looks like the wildfly colleagues have now added a test case to assert their behavior for themselves, and their test case is passing, any chance somebody is able to help to point out why this is not working inside of Jetty ... https://github.com/wildfly-security/wildfly-openssl/pull/90/files?

See also https://issues.redhat.com/browse/WFSSL-60

[2020-11-24 21:29] sbordet commented on #1673
@lachlan-roberts @gregw nudge.

[2020-11-24 21:53] sbordet commented on #1468
Closing in favor of #5533.

[2020-11-24 21:53] #1468 closed

[2020-11-24 21:53] sbordet commented on #5533
See #1468 for further requirements.

[2020-11-24 22:42] #5722 closed, assigned to WalkerWatch

[2020-11-24 23:41] sbordet opened #5725 "Review Preventers"
**Jetty version**
10.0.x

**Description**
There are a number of "preventers" that are supposed to avoid classloader leaks.

Some of them are now invalid since either the issue has been solved in OpenJDK or the classes/fields they were doing heavy reflection on have been renamed/moved.

All of them need a review and possibly be moved to a different module to avoid polluting the `jetty-util` `module

[2020-11-24 23:42] sbordet commented on #5725
See also #1923.

[2020-11-24 23:42] #1923 closed

[2020-11-25 00:00] #4221 closed

[2020-11-25 01:05] sirmspencer commented on #5716
![image](https://user-images.githubusercontent.com/33734037/100168810-d33de680-2e76-11eb-8733-fbe825912cf0.png)
![image](https://user-images.githubusercontent.com/33734037/100168834-de911200-2e76-11eb-8457-a11929118ece.png)

Im running as user matt.
![image](https://user-images.githubusercontent.com/33734037/100168864-efda1e80-2e76-11eb-9e4b-c41a169aab23.png)

So clearly since im can list the dire

[2020-11-25 01:58] WalkerWatch commented on #2328
Un-stale

[2020-11-25 01:59] WalkerWatch commented on #2330
Bump. Perhaps @lachlan-roberts this is in your wheel-house

[2020-11-25 06:16] olamy commented on #5721
@jmcc0nn3ll do you mean a jar file containing the generated documentation or an aggregated javadoc jar?

[2020-11-25 07:23] gregw commented on #3002
Already done in #4816

[2020-11-25 07:23] #3002 closed

[2020-11-25 07:33] olamy commented on #5644
done

[2020-11-25 07:34] olamy commented on #5354
will not run now if docker not installed

[2020-11-25 07:34] #5354 closed, assigned to olamy

[2020-11-25 07:47] sbordet commented on #2014
I think we should wait for https://openjdk.java.net/jeps/380.

[2020-11-25 07:53] sbordet commented on #2163
The method is retained as a managed operation.

[2020-11-25 07:53] #2163 closed

[2020-11-25 08:00] gregw commented on #1673
We've moved the keystores into demo only modules... but scripting would still be better.
We probably need a feature for a module to be able to run a script... but then it needs to be portable...

[2020-11-25 08:36] olamy opened #5727 "Test MavenLocalRepoFileInitializerTest#testDownloadSnapshotRepoWithExtractDefault should not depends on external resources"
if  https://oss.sonatype.org is not available the test is broken...

[code]

[2020-11-25 10:15] #5644 closed, assigned to olamy

[2020-11-25 11:42] joakime commented on #5727
Add the `@Tag("External")` to that test.

[2020-11-25 12:54] gregw commented on #5716
@sirmspencer Ultimately jetty lists all the files in the directory for the same reason that `ls` lists all the files in the directory.  They exist and there are operations that can be done on them:

- their attributes such as modified time and size can be queried
- they can be deleted if the DELETE method is enabled
- they may be able to be accessed by some alternative authentication - eg there mi

[2020-11-25 13:41] #5712 closed, assigned to nobody

[2020-11-25 13:44] joakime commented on #5716
Also, that theoretical PR should work fine on the majority of JVM, Runtime, and FileSystem combinations out there.

Examples:

Obtain the user information of the running Jetty instance. (user / group / ACL / realm / etc ..)

* On Unix / Linux / OSX / WSL, with Posix permissions you need to know the user/group of the running Jetty instance, and apply the user/group/other logic against `java.nio.fil

[2020-11-25 13:55] joakime commented on #5716
Another option would be to allow applications to supply a `Predicate<Path>` to the Jetty `ResourceService` that filters paths based on application logic.

[2020-11-25 13:55] jmcc0nn3ll commented on #5721
https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-documentation/10.0.0.beta3/

Like the javadoc classified artifact in there, same location only for Jetty 9. This is pulled down and dumped to the eclipse jetty website that I have been updating and automating.

[2020-11-25 16:26] riyazmohd commented on #5693
Thank you for your suggestions @janbartel

[2020-11-25 16:26] #5693 closed, assigned to janbartel

[2020-11-25 21:44] sirmspencer commented on #5716
My main request is for the auto generated web ui.  It sounds like that it is just one small part of the whole resource management. In retrospect, a <filter> for the web UI is really the request I need.  In my case a regex filter would work well.  Should I close this issue and re-open a request?

[2020-11-25 22:01] joakime commented on #5716
Nah, just detail what your idea is, this issue can evolve to fit that.

[2020-11-25 22:28] joakime commented on #5168
A quick check with a shell script reveals that only jetty-runner needs an update/fix.

[code]

Here's the whole output ...

[code]

[2020-11-25 22:36] joakime commented on #5168
Opened PR #5730 to fix remaining issue.

[2020-11-26 04:34] lachlan-roberts opened #5731 "ArithmeticException "/ by zero" from jetty-util pool"
**Jetty version**
10.0.x

**Description**
Was working on some WebSocket test and got this error from the `ConnectionPool`
[code]

[2020-11-26 07:53] lorban commented on #5731
This can happen when the pool is in the middle of acquiring a connection while another thread removes the last one from the pool.

The fix is to simply add a `if (size == 0) return null;` check.

[2020-11-26 09:02] daizhijie395 opened #5733 "What's the use of the reserved thread?"
**Jetty version**
9.4.19

**Java version**
1.8

**Question**
What's the use of the reserved thread? Why don't you use normal threads to handle blocking tasks?

[2020-11-26 09:18] sbordet commented on #5733
Because we need to know if there is a thread that can run a blocking task. This is critical for our HTTP/2 implementation.
We cannot just queue a task and hope some thread will run it, because there may be no threads to run it.

[2020-11-26 09:24] #5733 closed, assigned to nobody

[2020-11-26 09:26] #5414 closed, assigned to nobody

[2020-11-26 10:22] #3080 closed

[2020-11-26 11:43] #5731 closed, assigned to lorban

[2020-11-26 15:58] syntonyze opened #5734 "NullPointerException when Host header is not defined in HTTP/1.0 requests"
**Jetty version**

jetty-9.4.32.v20200930

**Java version**

openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+11)
OpenJDK 64-Bit Server VM (build 11.0.8+11, mixed mode)

**OS type/version**

MacOS Catalina 10.15.7

**Description**

I believe change [1] might have introduced a regression.

HTTP/1.0 does not require a Host: header, however, when such an HTTP request is m

[2020-11-26 16:04] joakime commented on #5734
Duplicate of #5443
Fixed in Jetty 9.4.33.v20201020

[2020-11-26 16:04] #5734 closed, assigned to nobody

[2020-11-27 06:54] olamy commented on #5727
might be better to use the local repo to get the artifacts?

[2020-11-27 09:21] Marco85Li opened #5737 "Potential infinite loop when request is not fully read"
**Jetty version**
9.4.35.v20201120

**Java version**
jdk-14.0.1

**OS type/version**
Win7

**Description**

During the upload of a large request, if the server application (in an async handler) responds without fully reading the content (e.g. due to timeout), Jetty may enter an infinite loop.

[jetty infinite loop.log](https://github.com/eclipse/jetty.project/files/5606975/jetty.infinite.loop.log)

[2020-11-27 14:09] bustergene83 commented on #5675
//ensure file will always be unique by appending random digits
            tmpDir = File.createTempFile(temp, ".dir", parent);
            //delete the file that was created
            tmpDir.delete();
            //and make a directory of the same name
            tmpDir.mkdirs();
        }`

[2020-11-27 14:26] gregw commented on #5737
So if we understand the logs correctly.... you have:

- called startAsync on the request
- in another thread (not servlet container dispatched one) you do a blocking read... which blocks.
- in yet another thread (also not a servlet container dispatched one) you call AsyncContext.complete()
- chaos and mayhem result

So my first instinct is to say DON'T DO THAT!!!!  I'm not sure it is exactly legal

[2020-11-27 14:30] gregw commented on #5737
Also did this used to work in earlier releases and had just failed in 9.4.35?

[2020-11-27 14:52] gregw commented on #5737
I can reproduce the `ReadPendingException` from your log, but I then don't see any loop.
[code]

We should try to avoid this exception anyway,

[2020-11-27 16:03] gregw commented on #5737
The test case is
[code]

We can make this a little bit better by doing a `tryFillInterested` in HttpConnection,  but that still does not wake up the blocking thread.  So HttpInput needs to be told about the completion and fail any outstanding operations.

Of course then there will still be the race between any error handling on the read caller and potentially it might interfere with the next cycle

[2020-11-27 16:17] Marco85Li commented on #5737
We had this occur using the REST Easy framework when a method handling a slow upload asynchronously (`@Suspended` annotation) goes over the configured timeout and REST Easy forces an error to be sent while data is being read which may trigger a race condition.

We changed the handling of the timeout but this may still be an unexpected behavior.

[2020-11-29 15:20] jmcc0nn3ll commented on #5721
crossed wires issue, closing

[2020-11-29 15:20] #5721 closed, assigned to nobody

[2020-11-29 19:03] PavelTurk opened #5739 "jetty-distribution is not created when building 11.0.0.beta3"
**Jetty version** - 11.0.0.beta3
**Java version** - 11
**OS type/version** - Debian 9
**Description**  - jetty-distribution folder is not created

$git log
[code]
This is output:

[code]

[2020-11-29 20:06] sbordet commented on #5739
Artifact `jetty-distribution` has been removed, since it has been replaced by artifact `jetty-home`.

The usage of `jetty-home` is identical to `jetty-distribution`.

The only difference is that `jetty-home` does not have a `demo-base` directory so it's a clean standalone Jetty server that you can install anywhere on a server.

[2020-11-29 20:10] joakime commented on #5739
Closing as jetty-distribution was removed in Jetty 10.0.0.beta2 and 11.0.0.beta2

Release Notes:

* https://github.com/eclipse/jetty.project/releases/tag/jetty-10.0.0.beta2
* https://github.com/eclipse/jetty.project/releases/tag/jetty-11.0.0.beta2

Use the jetty-home artifact and archives instead.

[2020-11-29 20:27] PavelTurk commented on #5739
@joakime Then it is necessary to update readme https://github.com/eclipse/jetty.project/tree/jetty-11.0.0.beta3

[2020-11-30 13:23] #5713 closed, assigned to nobody

[2020-11-30 13:27] gregw commented on #5739
ooops I'll fix.

[2020-11-30 13:51] janbartel commented on #5540
I'm going to close this issue, as it looks like a setup problem with the environment, rather than a bug in jetty. If you feel differently, please reopen the issue and provide all config files, logs etc.

[2020-11-30 13:51] #5540 closed, assigned to nobody

[2020-11-30 13:59] janbartel commented on #5446
@michael-simons from the looks of the discussion, I think your question has been answered, so I'll close the issue. Feel free to reopen if you think it's not been adequately addressed.

[2020-11-30 13:59] #5446 closed, assigned to nobody

[2020-11-30 14:00] michael-simons commented on #5446
Thanks for asking, @janbartel. Yes, we added a good, old cache busting parameter ;)

[2020-11-30 14:01] janbartel commented on #5357
Looks like you merge the PR to fix this on 29 September, I'll close the issue.

[2020-11-30 14:01] #5357 closed, assigned to joakime

[2020-11-30 14:03] janbartel commented on #5299
@WalkerWatch can you evaluate this issue, and close if it has been addressed.

[2020-11-30 14:13] janbartel commented on #5290
@sbordet if it's just some params, then they can use an override-web.xml file to set ``<context-param>``s for them. You use `WebAppContext.setOverrideDescriptor(String) `or `WebAppContext.setOverrideDescriptors(List<String>) ` to give the location of the override-web.xml file, which is normally external to the war.

[2020-11-30 14:14] joakime commented on #5299
If you cloned your jetty project into a directory name with escaped characters it can also mess up the asciidoc and docbook plugins.

Example:

[code]

Many CI build tools (jenkins, travis, github CI, etc) will clone into the name of the branch, so branches like `joakime/jetty-9.4.x/issue-5299` would result in a clone to a directory `joakime%2fjetty-9.4.x%2fissue-5299` which can break a surprising

[2020-11-30 15:03] janbartel commented on #5277
Looks like async-rest is in demos and is upload to central, so I'm closing this issue.

[2020-11-30 15:03] #5277 closed, assigned to nobody

[2020-11-30 15:29] lorban opened #5741 "Dynamically changing Pool.maxUsageCount may not work if the usage count has overflowed"
**Jetty version**
9.4.x, 10.0.x, 11.0.x

**Description**
`org.eclipse.jetty.util.Pool` has a `maxUsageCount` property that can dynamically be changed. This is just an indicator of what the max usage count can be, it isn't the actual counter; the latter is in the `Entry` inner class.

But `Entry.tryAcquire` blindly increments its counter without checking for overflow, so if an entry's counter overf

[2020-11-30 15:54] janbartel commented on #5153
Closing this issue, as it seems it's been addressed.

[2020-11-30 15:54] #5153 closed, assigned to joakime

[2020-11-30 16:22] gregw commented on #5737
@Marco85Li   Note that the servlet spec allows request and response objects to be recycled and explicitly says that an application is responsible for not using a request/response object passed the end of the natural request/response cycle.

So in this case, it is an error for the REST Easy framework to complete the request when there may be other threads still interacting with it.   Specifically i

[2020-12-01 14:19] #5168 closed, assigned to olamy, joakime

[2020-12-01 14:33] #5741 closed, assigned to lorban

[2020-12-01 20:11] cen1 opened #5746 "Make http client read buffer max size configurable"
**Jetty version**
9.x
**Java version**
Any
**OS type/version**
Any
**Description**
Right now, max size of the read buffer for jetty http client is hardcoded to 2MB in BufferingResponseListener/FutureResponseListener. My feature request would be to not have this harcdoded but to be able to configure it via HttpClient setter method like any other (timeouts etc). This would make it much easier to app

[2020-12-01 20:38] sbordet commented on #5746
It's not hardcoded.

[code]

This is something that depends on each request, so having a setter in `HttpClient` is not ideal.

[2020-12-01 20:50] joakime commented on #5746
Out of curiosity, what is the problem you are encountering?
Seeing as jetty-client can read a response in a myriad of ways, from buffered, to streaming, to nio ByteBuffers, and even automatic routing to filesystem, etc..   What do you feel is missing?

[2020-12-01 23:17] cen1 commented on #5746
The config option would simply override the _default_ no-args constructor value so it is not really relavant to a single request. Basically, I would replace `2 * 1024 * 1024` with the client option which would still be `2 * 1024 * 1024` if not set by the user.

The way I came to this is a rather long path.

In JavaEE JAX-RS client instantiation, specifically Jersey implementation which we use in t

[2020-12-01 23:50] sbordet commented on #5746
I'm reluctant to add this property because when you use `HttpClient` asynchronously, it won't get used at all.

It's really a property of a particular way of receiving responses, which is not even the encouraged way.

Would not be better to ask Jersey to have an additional customization hook to customize requests, like you can do with the `HttpClient` instance?

Not sure I follow this? Seems a via

[2020-12-02 07:13] janbartel opened #5748 "Replace WebAppProvider use of deprecated Scanner method setFileFilter"
**Jetty 10**

o.e.j.deploy.providers.WebAppProvider uses a FileFilter to check for deployable webapps, but the Scanner's setFileFilter method is deprecated, and should be replaced by the use of the IncludeExcludeSet class.

[2020-12-02 08:20] cen1 commented on #5746
I have not yet looked at the async path to be honest, I need to do that. Exposing request customizer sounds like an interesting idea. I will experiment on Jersey side to see how that would look. I'll get back when I have some sample patches.

[2020-12-02 08:22] chietti commented on #4828
I think you can close this ticket. We switched to 9.4.30 a long time ago and never faced this problem anymore

[2020-12-02 08:36] gregw commented on #4828
thanks!

[2020-12-02 08:36] #4828 closed, assigned to gregw

[2020-12-02 09:30] chietti opened #5749 "Unusually high amount of ManagedSelector$$Lambda instances"
**Jetty version**
9.4.30 (embedded)

**Java version**
OpenJDK 64-Bit Server VM, Version: 11.0.8, Vendor: AdoptOpenJDK

**Question**
I formulate this as a question since I cannot rule out a problem with our own setup but would like to get some more insight into the Jetty code in this area.

After an internal system update we observed a big increase in active Jetty threads being shown by our threadp

[2020-12-02 09:51] sbordet commented on #5749
@chietti it's very strange and yes, it may be a class loader issue.

The selector threads are shown as `RUNNABLE` but in fact are blocked in the `select()` operation -- this is expected and normal.

[2020-12-02 13:33] chietti commented on #5749
Shouldn't all of these thread states disappear over time and switch to states where the thread is executing a ReservedThread?
Like this:
[code]

This btw has a lot of CPU time on it.

ReservedThreads  are handled specifically in the QueuedThreadPool when we ask it for the "busy" threads in our monitoring.

[2020-12-02 14:07] sbordet commented on #5749
No, why you think so?

The thread state depends on what the thread is doing, so if it's selecting it's selecting and the state would be that of the selecting operation.

Yes, see #2568.

[2020-12-02 14:52] chietti commented on #5749
As far as I understand the EatWhatYouKill strategy I think that at some point the initial lambda execution would end since it runs into an EPC scenario where it dispatches a new thread and handles the job itself. Then the new thread would do the select but it would not stem from the initial lambda execution but from the ReservedThreadExecutor as seen in the second thread dump snippet:

[code]
vs.

[2020-12-02 16:13] jmcc0nn3ll commented on #5749
@chietti Since we are going into final releases of Jetty 10 and 11 soon, let me know if you are interested in having a google hangout to discuss and make sure there isn't something we are missing here.  Ping me at jesse@webtide.com and I'll get it set up.

[2020-12-02 18:25] #5086 closed, assigned to janbartel

[2020-12-02 20:53] #5739 closed, assigned to gregw

[2020-12-03 07:45] chietti commented on #5749
Hi Jesse, thanks for the invitation but I don't think that there is something wrong with Jetty in this case. I wanted to get some more insight into the internal behavior to get a clue on what must have changed in our own environment for Jetty to behave that way. As I mentioned we did not change anything in the Jetty environment at all (Jetty version and configuration, Java version, etc.) so I am s

[2020-12-03 11:52] paulmillar commented on #3225
@joakime Could you provide your source for the statement "[Reason] was deprecated in the HTTP protocol" ?

RFC 7231 says:

   Section 4 of [RFC7232], Section 4 of [RFC7233], and Section 3 of
   [RFC7235].  The reason phrases listed here are only recommendations
   -- they can be replaced by local equivalents without affecting the
   protocol.

This suggests to me that customised reason phrases are

[2020-12-03 12:28] paulmillar commented on #4154
@joakime @gregw
I do wonder why this change was introduced to the stable 9.4 branch, and not left as part of the jetty-10 release.  It breaks applications that were expected (however incorrectly) that `sendError(int, String)` results in a custom status reason phrase.  It is also a shame that this breaking change doesn't seem to be described in the [v9.4.21 release notes](https://www.eclipse.org/li

[2020-12-03 12:28] joakime commented on #3225
@paulmillar the reason phrase existed for special class of user-agent called interactive http clients (also known as "interactive text client").

Which is a special kind of HTTP user-agent where the user is actually using the protocol directly.
(Think of it as a terminal / console tool similar to a SQL tool where the user is entering SQL commands and getting responses)

Examples of interactive tex

[2020-12-03 12:32] joakime commented on #4154
_(Adding this response here too)_

@paulmillar the reason phrase existed for special class of user-agent called interactive http clients (also known as "interactive text client").

Which is a special kind of HTTP user-agent where the user is actually using the protocol directly.
(Think of it as a terminal / console tool similar to a SQL tool where the user is entering SQL commands and getting resp

[2020-12-03 15:33] joakime opened #5750 "Past Session Cookies not deleted?"
**Jetty version**
10.0.x

**Description**
Using the standard jetty-home 10.0.x, with demo module added, I can see that past/invalid JSESSIONID cookies are not deleted.

Example output:

[code]

Shouldn't the old JSESSIONID cookies be deleted in a subsequent request?

[2020-12-03 15:34] joakime commented on #5750
I've noticed this behavior on Jenkins (which runs Jetty 9.4.x) as well.
Is this the responsibility of Jetty's Session handling? or is this the responsibility of the application?

[2020-12-03 16:07] janbartel commented on #5750
What are the cookies with JSESSIONID.4270d3da ?? That is not a session cookie, unless you've specifically configured jetty with that name.

Also, Jetty does not delete a session cookie, it's up to the browser what session cookies get sent.

[2020-12-03 16:10] max3163 opened #5751 "ErrorHandler : request.getRequestDispatcher return null"
**Jetty version**
9.4.35.v20201120
**Java version**
14.0.2+12-46
**OS type/version**
Linux
**Description**

I use jetty to route my SPA page on index.html when 404 error is detected. For this I implemented an ErrorHandler.
So far I used jetty version 9.4.20.v20190813 with this code and it work very well:

[code]

Now when I upgrade my jetty lib to 9.4.35.v20201120 ( but all version after 9.4.20.v2

[2020-12-03 16:21] joakime commented on #5750
Those are past cookies assigned against `http://localhost:8080` which is a destination only ever used against Jetty demo base.

[2020-12-03 16:27] gregw commented on #4154
@paulmillar we will make such breaking changes in a stable branch if it is a matter of spec compliance and best practises.    We can't say to many users for whom an upgrade to 10 is a very major step, that they must do so in order to obtain compliance with an RFC, spec or current best practises.    Often when we do so, if there are known usages that we will break, we put in a backwards compliance

[2020-12-03 16:31] gregw commented on #3225
@martinmeeser sorry for stupidly late response.... if you are writing a Jetty ErroHandler, then just use the `setStatusWithReason` method so the reason get's set.

[2020-12-03 16:36] janbartel commented on #5750
@joakime well, those aren't cookies that jetty is going to recognize as a session cookie, which _must_ be named JSESSIONID. When we set a session cookie, it is called JSESSIONID. When we change a session cookie because eg the user logged in, or the user invalidated the session or it expired and they created a new session, the cookie is still called JSESSIONID. The only time it is never _not_ calle

[2020-12-03 17:21] janbartel opened #5752 "Fix Servlet 5 Schema redirects"
Jetty-11

[2020-12-03 17:49] janbartel commented on #5750
https://issues.jenkins.io/browse/JENKINS-43927

Looks like this is a known and unresolved jenkins issue.

[2020-12-03 17:49] #5750 closed, assigned to nobody

[2020-12-03 17:52] janbartel commented on #5752
Also we need to update the value of the ContextHandler.StaticContext.effectiveMajorVersion from 4.0  to 5.0.

[2020-12-03 18:11] gregw commented on #5751
The issue is as you suggest - the ErrorHandler is outside of any context, so the request does not know which context to get it from.

Also, the whole dispatcher mechanism is not specified how it should work from a handler. It is after all a servlet mechanism and is specified as routing a request from a dispatch to one servlet to another.  So in this case, the request is not currently dispatched to

[2020-12-03 18:22] joakime commented on #5751
The RequestDispatcher pretty much requires a valid ServletContext as well, in both use cases.

For [`HttpServletRequest.getRequestDispatcher(String path)`](https://docs.oracle.com/javaee/7/api/javax/servlet/ServletRequest.html#getRequestDispatcher-java.lang.String-) you need a `ServletContext` to support the relative path behavior that it describes.

For `ServletContext.getRequestDispatcher(String

[2020-12-03 19:16] max3163 commented on #5751
@gregw

I change my code like this :
[code]
And it work ! thanks for your help !!!

[2020-12-03 19:16] #5751 closed, assigned to nobody

[2020-12-03 19:57] #5603 closed, assigned to WalkerWatch

[2020-12-03 21:18] nddipiazza opened #5753 "httpConnector in jetty-http.xml should have a default name instead of null"
**Jetty version**

9.4.x latest

**Java version**

all

**OS type/version**

all

**Description**

It would be very nice if the default `jetty-http.xml` where the `httpConnector` is configured if it would have:
`<Set name="name">http</Set>`

So that there is a default name on the httpConnector of `http`. This helps with IP Access so you can use the includeConnectors/excludeConnectors feature easie

[2020-12-03 21:32] joakime commented on #5753
That would complicate virtualhost setups on contexts that want all connectors.

Here's how to configure it for your Jetty base.

Add these 2 files to your `${jetty.base}` ...

## ${jetty.base}/etc/http-name.xml

[code]

## ${jetty.base}/start.d/http-name.ini

[code]

[2020-12-03 22:44] nddipiazza commented on #5753
yep that's what I'm doing now. that's fair enough

[2020-12-03 22:44] #5753 closed, assigned to nobody

[2020-12-04 13:47] joakime opened #5754 "Jetty 10 should use jakarta maven coordinates for specs"
**Jetty version**
10.0.x

**Description**
Currently the `jetty-10.0.x` branch has the following dependency references ...

[code]

We should strive to migrate our dependencies to the ones within the jakarta ee 8 maven coordinates. (which still use the `javax.` namespace internally)

Example:

* https://search.maven.org/artifact/jakarta.servlet/jakarta.servlet-api/4.0.4/jar
* https://search.maven.o

[2020-12-04 21:51] paulmillar commented on #4154
Thanks @joakime @gregw for you quick and detailed replies.

You are correct @joakime : I wasn't aware of RFC 7807.  As an initial impression, I like it, and will definitely look further to see how it could be incorporate in the future.  However, the major deployment environment for "my" software is shared with several other software implementations, so change can only be achieved through community

[2020-12-04 22:19] #3756 closed

[2020-12-05 09:58] sbordet opened #5755 "Cannot configure maxDynamicTableSize on HTTP2Client"
**Jetty version**
9.4.x

**Description**
There should be configuration methods to configure HPACK on `HTTP2Client`.

[2020-12-06 10:40] gregw opened #5757 "Review Inferred vs Assumed charsets"
**Jetty version**

**Description**

There is something a bit strange, at least in our language about inferred vs assumed character encodings.

In `MimeType` we say:
[code]

Note both of these are different to a charset explicitly set in a content type (eg "text/plain;charset=UTF16").
An assumed charset is for "text/json", ie there is a charset there, but we don't need to explicitly set it in the c

[2020-12-06 10:52] gregw commented on #5757
See also https://github.com/eclipse-ee4j/servlet-api/issues/377

[2020-12-06 15:56] johannes-altiscale commented on #5650
wildfly is unable to reproduce the issue, the issue is suspected to be inside Jetty's usage/configuration, the issue has been migrated to https://issues.redhat.com/browse/WFSSL-65.

_"With the reproducer with Jetty, OpenSSLSessionContext#sessionCreatedCallback is not being invoked when WildFly OpenSSL is used on the client side. Normally, this is invoked when a new session has been negotiated and

[2020-12-07 02:36] q37381 opened #5758 "How to config http timeout"
**Jetty version**
9.2.6
**Java version**
8
**Question**
some request take much time, i want to make it response within 15 seconds,and now it response within 90 seconds because nginx config.
it does not work:
(Set name="idleTimeout"   Property name="jetty.http.timeout" default="20000"    Set)

[2020-12-07 11:40] janbartel opened #5759 "Update jakarta transaction, mail and injection apis"
**jetty-11*

[2020-12-07 13:24] janbartel opened #5761 "Remove unneeded dependencies from apache-jsp module"
**jetty-11**

The following are either unnecessary or redundant:
[code]

[2020-12-07 17:15] janbartel opened #5763 "Fix TestJettyEmbedded jetty maven plugin test"
**jetty-10**

The TestJettyEmbedded  tests are passing, but yet producing a big stackstrace.

The problem appears to be that a base resource was not set for the webapp context under test. Furthermore, the test was wrong: it was testing whether the webapp context was _started_ instead of _available_.

[2020-12-07 21:14] joakime commented on #5228
Closing, as jetty-all is removed from the tree.

[2020-12-07 21:14] #5228 closed, assigned to olamy

[2020-12-07 21:15] joakime commented on #4568
This has been completed a long time ago.

[2020-12-07 21:15] #4568 closed, assigned to joakime

[2020-12-08 02:21] joakime opened #5766 "Homepage needs update for new Jetty 10 / 11 releases"
The Jetty homepage at https://www.eclipse.org/jetty/

has the following text that needs updating ...

[2020-12-08 09:20] oleg-nenashev commented on #5766
Thanks for the new release! It would be also great if the page sets expectation about Jetty 9.x EoL. IIUC there are no plans to do it anytime soon, but I was unable to find an official confirmation in the docs.

[2020-12-08 12:04] janbartel opened #5772 "Fix jndi mail problem in jetty-11"
**jetty-11**

The com.sun.mail jars contain the mail apis. This has been a problem for years, but has come to a head with jpms. This causes a huge problem for the jetty-jndi module, which wants to compile against a pure mail-api jar, but _also_ has unit tests that require an implementation jar: you wind up with duplicate classes on the classpath, whether jpms or not. IDEs rightly complain about th

[2020-12-08 14:59] janbartel commented on #5759
Closed via #5760

[2020-12-08 14:59] #5759 closed, assigned to janbartel

[2020-12-08 15:22] janbartel commented on #5772
Closed via #5773

[2020-12-08 15:22] #5772 closed, assigned to janbartel

[2020-12-08 15:25] janbartel commented on #5752
Fixed via #5765

[2020-12-08 15:25] #5752 closed, assigned to janbartel

[2020-12-08 15:28] WalkerWatch commented on #5766
@oleg-nenashev We have no plans to EoL Jetty 9 for the foreseeable future as it provides support for Java 8. We will communicate to the community when we have something in plans for it.

[2020-12-08 15:29] WalkerWatch commented on #5766
Updated in https://github.com/eclipse/jetty.website/commit/aa94a4f8cd750e4c8a0ec8e7772d17db829953c4

[2020-12-08 15:29] #5766 closed, assigned to WalkerWatch

[2020-12-08 15:34] WalkerWatch commented on #5359
@joakime I can't find any actual usages of this outside the pom. I think we would be safe to remove it altogether, at least in Jetty 9. @sbordet thoughts?

[2020-12-08 15:37] WalkerWatch commented on #5299
Docbook has been removed in 9.4.x in #5636

[2020-12-08 15:37] #5299 closed, assigned to WalkerWatch

[2020-12-08 16:16] janbartel opened #5774 "Websocket annotation on AnnotatedConfigEndpoint class"
jetty-11

In the code below, Eclipse flags the use of the private non-static fields (idleTimeout, maxMessageSize, maxMessageSize, inputBufferSize) of the enclosing class (ClientConfigTest)  as illegal because those fields are not static.

[code]

[2020-12-08 16:18] janbartel commented on #5774
@lachlan-roberts Eclipse seems to think this is a problem, can you investigate?

[2020-12-08 16:53] janbartel commented on #5774
BTW, it's the same error for jetty-10

[2020-12-08 17:22] joakime commented on #5774
To be clear, Eclipse is complaining about the `ClientConfigTest` final fields not being `static`.

https://github.com/eclipse/jetty.project/blob/aabe5ceee26971beb57d399a1424b8274ee6f4ef/jetty-websocket/websocket-jetty-tests/src/test/java/org/eclipse/jetty/websocket/tests/client/ClientConfigTest.java#L65-L67

As Eclipse expects that if you use an annotation, the values are actually constants. (requ

[2020-12-08 18:04] gregw opened #5775 "Potential data race in ByteBufferPool"
**Jetty version**
9.4.x

**Description**

A data race detector was run over jetty 9.4.34 and flagged a potential race at
ByteBufferPool.java:199 in org.eclipse.jetty.io.ByteBufferPool$Bucket.release(Ljava/nio/ByteBuffer;)V

[2020-12-08 18:33] joakime commented on #5775
Line 199 points to a System.nanoTime line in 9.4.34 ?

https://github.com/eclipse/jetty.project/blob/jetty-9.4.34.v20201102/jetty-io/src/main/java/org/eclipse/jetty/io/ByteBufferPool.java#L197-L201

https://github.com/eclipse/jetty.project/blob/e46af88704a893fc12cb0e3bf46e2c7b48a009e7/jetty-io/src/main/java/org/eclipse/jetty/io/ByteBufferPool.java#L197-L201

[2020-12-08 19:53] eamonnmcmanus commented on #5775
Right, there's no synchronization around the assignment to `_lastUpdate` or its access in `getLastUpdate()`, and `_lastUpdate` is not `volatile`, so this is technically not thread-safe. I think the worst that can happen is that the wrong buffer gets chosen for recycling, so this is more about performance than correctness.

[2020-12-08 22:55] lachlan-roberts commented on #5774
I don't think this is actually a problem as the `AnnotatedConfigEndpoint` class is not static either so it should work. Either way I will make a PR to clean it up and make all of the fields and classes used for this `static`.

[2020-12-09 05:11] lachlan-roberts commented on #5758
Jetty 9.2 is EOL, you should really be upgrading to at least Jetty 9.4.35.

You can set the `jetty.http.idleTimeout` property in the `http.ini` file or you can set it directly on the command line:
[code]

[2020-12-09 09:22] janbartel commented on #5754
Is there a big motivation for doing this? Presumably jakarta is never going to release another set of jars with the javax.* package, and neither is anyone else. AFAIK the jakarta release of the javax.* packages also was not supposed to change anything, so we're not even getting any bugfixes etc? Happy to do this if there's a good reason, I'm just struggling to see what it is?

[2020-12-09 09:35] lorban commented on #5775
Yeah, some JVM implementations might modify the `long` in two 32-bit steps, so a concurrent thread could read a corrupt timestamp. As pointed by @eamonnmcmanus that timestamp is only used to figure out which bucket to clean up so this could have some perf side-effects when that race condition occurs but that should be about it.

Nevertheless, that field should be marked `volatile`.

[2020-12-09 09:52] jmcc0nn3ll commented on #5754
Isn't artifact licensing the primary concern here?

[2020-12-09 11:02] joakime commented on #5754
There's also the maven coordinate conflict resolution aspect as well. (for those developers that consume our artifacts from maven central)

[2020-12-09 11:23] joakime commented on #5754
Here's the breakdown of Servlet 4.0 ...

[code]

So that means ...

* Jakarta Servlet 4.0
   - Source code + Classes are EPL 2.0 + GPL 2.0 w/Classpath Exception
   - Resource files (`*.html`, `*.properties`, and javadoc) are Apache 2.0
   - Properly SPDX registered
* Javax Servlet 4.0
  - Source code + Classes are CDDL + GPL 2.0 w/Classpath Exception
  - Resource files (`*.html`, `*.properties`, a

[2020-12-09 11:34] janbartel commented on #5754
OK, but my question remains:   don't we already have permission for these licences?

Also, if we change to dependencies on the (equally) dead-end `jakarta.*`  artifacts, how many people who use jetty will be changing to them? Won't it create more confusion for developers who will have jetty introducing dependencies on `jakarta.*` artifacts while their poms will have dependencies on `javax.*` artif

[2020-12-09 11:45] joakime commented on #5754
The `jakarta` artifacts are not a dead end.

There's a few specs talking about point releases for features on Jakarta EE 8 already.

Example: The Jakarta Servlet 4.x spec has a discussion on doing a 4.1 release because `Same-Site` cookie issue.

[2020-12-09 12:26] gregw commented on #5754
@jmcc0nn3ll I don't think licensing is an issue here.  These are all provided dependencies which we do not distribute.  The only servlet-api that we distribute is the one we build with schemas and JPMS extras.  That one already takes the schemas from Jakarta and I'm happy for it to also take the source from there.

This instead is about what API we some artefacts depend on that must be provided by

[2020-12-09 14:11] jmcc0nn3ll commented on #5754
@gregw I think it is a licensing issue though, if for no other reason then what Joakim referenced with potential updates to the specification.  Beyond that though, companies are having to deal with tracking licenses and we should strive to make ourselves as little an issue as possible and running with no longer relevant servlet licenses does not serve that goal. The old javax artifacts are dead, t

[2020-12-09 15:29] gregw commented on #5754
I agree that if jakarta can release a usable servlet-api, then we should use it directly.   But we will see if JPMS and schemas can actually be included.... remember what they can do with javax artifacts is very limited.

Until that point, why don't we just switch everything to point to our servlet-api?

[2020-12-09 15:37] jmcc0nn3ll commented on #5754
As long as ours embraces and extends from the jakartaee artifact I am fine with that.

[2020-12-09 15:47] lorban commented on #5775
I used `AtomicLong` to pay a slightly lower cost than the `volatile` field accesses by using `lazySet()` / `get()` on JDK 8 and `setOpaque()` / `getOpaque()` on JDK 11.

[2020-12-09 15:47] #5775 closed, assigned to lorban

[2020-12-09 16:21] janbartel commented on #5675
Fixed via #5676

[2020-12-09 16:21] #5675 closed, assigned to janbartel

[2020-12-09 16:28] janbartel commented on #4850
I'm closing this issue, as it hasn't been able to be reproduced and there's been no activity on it for a while. If you come up with a repro test case and debug logs then by all means reopen and we'll take another look.

[2020-12-09 16:28] #4850 closed, assigned to janbartel

[2020-12-09 16:39] janbartel commented on #1283
Closing this a duplicate of issue #4899

[2020-12-09 16:39] #1283 closed

[2020-12-09 18:09] gregw opened #5779 "Include can set pathInContext"
**Jetty version**
10.0.0

**Description**

This [TCK failure](https://jenkins.webtide.net/blue/organizations/jenkins/tck%2Fservlettck-run-jetty-10.0.x/detail/servlettck-run-jetty-10.0.x/710/tests) is due to the pathInContext being incorrectly set and then not reset for an include.

[2020-12-10 04:17] #5774 closed, assigned to lachlan-roberts

[2020-12-10 08:36] quaff opened #5782 "NullPointerException raised when server shutdown"
**Jetty version**
works fine with `jetty-all-9.4.20.v20190813-uber.jar` and previous version
broken since `jetty-all-9.4.21.v20190926-uber.jar`

**Description**
I'm using `jetty-all` to build a runnable WAR, It's a bit difficult for me to provide a minimized reproducible example, paste code instead, hope it will helps.
[code]
It will raise NPE when server shutdown, stack trace is base on latest `9

[2020-12-10 09:17] sbordet opened #5783 "Fix ConnectionStatistics.*Rate() methods"
**Jetty version**
9.4.x

**Description**
`ConnectionStatistics.*Rate()` methods do a `getAndSet()` on the timestamp that is obviously wrong (what was I thinking?!?).

These methods should just do a `get()` of the startup timestamp and use it to calculate the elapsed time, and then do the rate calculations.
Having a single startup timestamp will also get rid of the useless 4 timestamp fields we hav

[2020-12-10 09:21] ohecker opened #5784 "Apache 2.0 license incorrectly stated as "secondary license" to EPL 2.0"
With #3578 the project license was updated from dual licensed EPL-1.0 OR Apache-2.0 to EPL-2.0 OR Apache-2.0. This is correctly given in the NOTICE.txt file.
Nevertheless the LICENSE file and header information in the source file states EPL-2.0 with Apache-2.0 as secondary license.
This is incorrect.
- Using a secondary license with EPL-2.0 is close but not the same as dual licensing: https://www.

[2020-12-10 09:56] sbordet opened #5785 "Reduce log level for WebSocket connections closed by clients"
**Jetty version**
9.4.x

**Description**

This seems a client-side close that we don't need to report at WARN level - it just fills up the logs.

[code]

[2020-12-10 10:36] sbordet opened #5786 "Revisit Statistics classes"
**Jetty version**
9.4.x

**Description**
`MonitoredQueuedThreadPool` uses a number of statistics classes to record various properties.

`MonitoredQueuedThreadPool.getTasks()` is wrong, it should call `taskLatencyStats.getCount()` not `taskLatencyStats.getTotal()`.

Also, replace `Atomic*` with `LongAdder`.

Stop using deprecated `SampleStatistic.set()` method.

[2020-12-10 11:05] sbordet opened #5787 "Make ManagedSelector report better JMX data"
**Jetty version**
9.4.x

**Description**
`ManagedSelector` should be enhanced to report useful information via JMX.

For example:
1. Number of select() wakeups
2. How many keys were selected for each wakeup
3. How many keys each selector manages
4. How long it takes to process selected keys
5. How long select() operations lasts (i.e. how long it's "idle")
6. Etc.

[2020-12-10 11:15] sbordet opened #5788 "Expose ByteBufferPool.Bucket information via JMX"
**Jetty version**
9.4.x

**Description**
`ByteBufferPool` implementations expose little data via JMX, but would be great to expose individual `Bucket`s to understand better what buffers are most common and most used, etc.

[2020-12-10 11:20] lachlan-roberts commented on #5783
@sbordet do you really want `getRate()` methods which give you the rate since the start of the server, I think it needs to just be over a shorter period of time for it to be meaningful. If you had a very long period of time with no traffic, then you get a high burst of traffic, it will barely register on the rate statistic.

The current implementation is just broken because it is comparing the tot

[2020-12-10 12:03] sbordet commented on #5783
@lachlan-roberts there is a `reset()` method if you want to reset the stats and look at the numbers over shorter time, or perhaps past an initial transient state that can skew the stats.

So I think it's fine to have just one timestamp, and if you want, you can call `reset()`.

[2020-12-10 12:06] gregw commented on #5783
reset will reset everything, so perhaps just calc rate since the last call to rate.   If you want the rate every 5s, then poll rate() every 5s.
Or have a rate(boolean reset) method as an option?